<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/acpica-utils</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/acpibin</string>
			<key>mtime</key>
			<integer>1613338572</integer>
			<key>sha256</key>
			<string>fe1504309d6b6711c2177ca52bc01cc59ae4fc1e4f325fd479d8e06b80c2fe19</string>
			<key>size</key>
			<integer>43560</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/acpidump</string>
			<key>mtime</key>
			<integer>1613338572</integer>
			<key>sha256</key>
			<string>d6d0fda629535f6befa29c92bf62f78baabc9b2d0dca6e9c13ae27da06ba8619</string>
			<key>size</key>
			<integer>51656</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/acpiexamples</string>
			<key>mtime</key>
			<integer>1613338572</integer>
			<key>sha256</key>
			<string>bfd23af94145697604bd22d71e8221a52a1b8d856d99df3bf3f9579aa54bdf99</string>
			<key>size</key>
			<integer>237360</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/acpiexec</string>
			<key>mtime</key>
			<integer>1613338572</integer>
			<key>sha256</key>
			<string>e0ab77adabfce6df8461b08befe2a6ab218f8d8706abab7f43f65a1fe19a7ef3</string>
			<key>size</key>
			<integer>662824</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/acpihelp</string>
			<key>mtime</key>
			<integer>1613338572</integer>
			<key>sha256</key>
			<string>2be69bee452b9532e6413475ebd204416b588d9db0dc12d9bd13b5c4e87651de</string>
			<key>size</key>
			<integer>217352</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/acpisrc</string>
			<key>mtime</key>
			<integer>1613338572</integer>
			<key>sha256</key>
			<string>90658bf046b3e3543fef7072c3e37ad86e890c46342e92e1a2766f70da28f61a</string>
			<key>size</key>
			<integer>107176</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/acpixtract</string>
			<key>mtime</key>
			<integer>1613338572</integer>
			<key>sha256</key>
			<string>ff07d40d7323f5c60c4875a2bb965d9eda6fb3181b5de76f24736704b508bd81</string>
			<key>size</key>
			<integer>35272</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/iasl</string>
			<key>mtime</key>
			<integer>1613338572</integer>
			<key>sha256</key>
			<string>aa57bc7fe2efcaf30a213ecc40e5ed61d8c709b1893d7d933761e6baf4dca116</string>
			<key>size</key>
			<integer>1190280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/acpica-utils/LICENSE</string>
			<key>mtime</key>
			<integer>1613338572</integer>
			<key>sha256</key>
			<string>d78ee5d01002eb5a4885940bb60660d7fa196c8b0d3d332a66a9f710f082652f</string>
			<key>size</key>
			<integer>8121</integer>
		</dict>
	</array>
</dict>
</plist>
