<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aerc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aerc/filters</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aerc/stylesets</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aerc/templates</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/aerc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/aerc</string>
			<key>mtime</key>
			<integer>1605365362</integer>
			<key>sha256</key>
			<string>7b94594c37f3098e54813ae455d3bdff7284b99b35c5b7a7250e0d3fc73ab516</string>
			<key>size</key>
			<integer>15638216</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aerc/accounts.conf</string>
			<key>mtime</key>
			<integer>1605365362</integer>
			<key>sha256</key>
			<string>2986b503f4985679e608305dbf19ed428c11a07d3fef60cf5e0e607bf75376ef</string>
			<key>size</key>
			<integer>653</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aerc/aerc.conf</string>
			<key>mtime</key>
			<integer>1605365362</integer>
			<key>sha256</key>
			<string>8193e46475d8b0c03a5bb0fab9cac67a7c99aa768d3f5d1b4186836512f838a0</string>
			<key>size</key>
			<integer>5260</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aerc/binds.conf</string>
			<key>mtime</key>
			<integer>1605365362</integer>
			<key>sha256</key>
			<string>5ce0eca0770558a3c5240c0fd7f3b49bcb1b04e2efbab2069e81e08c3e0fc053</string>
			<key>size</key>
			<integer>2094</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aerc/filters/hldiff</string>
			<key>mtime</key>
			<integer>1605365362</integer>
			<key>sha256</key>
			<string>1f0e6da3ee1a5d875e807ff5d09b1cfba8f13d1c2e0f096272380d8619c6a9cb</string>
			<key>size</key>
			<integer>915</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aerc/filters/html</string>
			<key>mtime</key>
			<integer>1605365362</integer>
			<key>sha256</key>
			<string>a571d3f931a72cb41a66bbec333a7d94eea278e7360d70388eec754c7ff96fb0</string>
			<key>size</key>
			<integer>284</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aerc/filters/plaintext</string>
			<key>mtime</key>
			<integer>1605365362</integer>
			<key>sha256</key>
			<string>e6cc3d57f3b09c0f9adc2949c3cbe86ee3339ba4bd8b7658b9d5c74b4046a361</string>
			<key>size</key>
			<integer>243</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aerc/stylesets/default</string>
			<key>mtime</key>
			<integer>1605365362</integer>
			<key>sha256</key>
			<string>76a769d54c737ec53d54fbc736fd3f292522b18acf3bf9b02d7288cd2a8dc3f3</string>
			<key>size</key>
			<integer>687</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aerc/templates/forward_as_body</string>
			<key>mtime</key>
			<integer>1605365362</integer>
			<key>sha256</key>
			<string>7e0b5f8f79ae672130f2ed275d598d5b1c7d24ed6028de740de3e182fcb3ef2a</string>
			<key>size</key>
			<integer>149</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aerc/templates/quoted_reply</string>
			<key>mtime</key>
			<integer>1605365362</integer>
			<key>sha256</key>
			<string>e76e27021e3d50a12f6e34939db99c132d7cf67b4dfcf86a498343a744efe448</string>
			<key>size</key>
			<integer>158</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/aerc/LICENSE</string>
			<key>mtime</key>
			<integer>1605365362</integer>
			<key>sha256</key>
			<string>b49f41f1624f88feea1e04a866fa52f3d9300942f6c753a06ddcf280596c40b7</string>
			<key>size</key>
			<integer>1061</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/aerc-search.1</string>
			<key>mtime</key>
			<integer>1605365362</integer>
			<key>sha256</key>
			<string>d90eae070b021ebdc5d29a6b271c94356080a882156b680cdf3569438fceb045</string>
			<key>size</key>
			<integer>2507</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/aerc.1</string>
			<key>mtime</key>
			<integer>1605365362</integer>
			<key>sha256</key>
			<string>a967381f7ba0d4b9a3a30e4c20451a06f4b292bb45d1d3a64398012f85b2109b</string>
			<key>size</key>
			<integer>13899</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/aerc-config.5</string>
			<key>mtime</key>
			<integer>1605365362</integer>
			<key>sha256</key>
			<string>b59f3b4d6794c74936d005a265d20d0d7668a783465bc0e0297ab882be908bbf</string>
			<key>size</key>
			<integer>18172</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/aerc-imap.5</string>
			<key>mtime</key>
			<integer>1605365362</integer>
			<key>sha256</key>
			<string>7855c9c586f68b7a92b7daf9f8198c3cf584c639e57b3e08ceb1d5c177a90b7a</string>
			<key>size</key>
			<integer>2307</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/aerc-maildir.5</string>
			<key>mtime</key>
			<integer>1605365362</integer>
			<key>sha256</key>
			<string>7f32282dfe4ff8761a6012e9ae72260663e75a1802173efed69c79b66ce67d84</string>
			<key>size</key>
			<integer>1283</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/aerc-notmuch.5</string>
			<key>mtime</key>
			<integer>1605365362</integer>
			<key>sha256</key>
			<string>c379e7dfe219fb6db48c4d7724b02bfe0b9c4816fc3bd4eef581d4b38a4c92f1</string>
			<key>size</key>
			<integer>2519</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/aerc-sendmail.5</string>
			<key>mtime</key>
			<integer>1605365362</integer>
			<key>sha256</key>
			<string>d093a592a570fb9ccfa8290a975c41abb7cadcf2c5d6b88ffc712d5613bf6fdd</string>
			<key>size</key>
			<integer>1026</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/aerc-smtp.5</string>
			<key>mtime</key>
			<integer>1605365362</integer>
			<key>sha256</key>
			<string>0eeefe239e39ea92f32b9cc90eea45922e1c5d4b5b50eef8e0f55b8be1ee4ac1</string>
			<key>size</key>
			<integer>2253</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/aerc-stylesets.7</string>
			<key>mtime</key>
			<integer>1605365362</integer>
			<key>sha256</key>
			<string>5f2944d25be3baf4d896a20bf08ca31b1ac89cec8013666c08d963aa863366ad</string>
			<key>size</key>
			<integer>6570</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/aerc-templates.7</string>
			<key>mtime</key>
			<integer>1605365362</integer>
			<key>sha256</key>
			<string>922b9cc59d130fb5338a70d27f465508df1c08c63051bc68dd411a21e3862c36</string>
			<key>size</key>
			<integer>4652</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/aerc-tutorial.7</string>
			<key>mtime</key>
			<integer>1605365362</integer>
			<key>sha256</key>
			<string>301b6328663a9f61cc92967387314a345671e1717014fa49d19e90f40e36bbb8</string>
			<key>size</key>
			<integer>6017</integer>
		</dict>
	</array>
</dict>
</plist>
