<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/sound</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/sound/uapi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/sys</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/asoundef.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>91e404147fe06bdb002a543ebac52e0da70cb24018f72a780f98b8d99eb576aa</string>
			<key>size</key>
			<integer>20709</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/asoundlib.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>8d0ba13f07ec38681704d24caebb3f47ab9287c5e41c41e4e862e4ebdd7ec63b</string>
			<key>size</key>
			<integer>1853</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/conf.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>cfeae2f0819ecf5df75b3da8ecf37e4dd12121eccb72bb0d29d35b00d8f93469</string>
			<key>size</key>
			<integer>8611</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/control.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>4b83f684bfbcf6e2cebbb4ae59e1f30ecaf7cf0a0da668c48c9c886501ed3329</string>
			<key>size</key>
			<integer>33045</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/control_external.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>94af01a9903606372ba6b222ceca39673e27f13e26e0a1f25c7e9d6edb20ad5c</string>
			<key>size</key>
			<integer>8793</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/error.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>711c31f25f8222370e3be7c3bf1cdb24bbcf04206a3fb74158bb7d77ec1ac6fe</string>
			<key>size</key>
			<integer>3226</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/global.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>50356003dc15de9ec0e70ea8d928b969d94d71c7ea515d146756d1a81478b47b</string>
			<key>size</key>
			<integer>5249</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/hwdep.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>a07a8e1dc0c8fc0bbd85cd15253e9f5b6c68830a5ec95dd07deb0f93b62a5414</string>
			<key>size</key>
			<integer>7504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/input.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>c1d81c9ecb04b8120215fca4325cb3af2a64a2e3be48c26c4b3a3d3c381fd482</string>
			<key>size</key>
			<integer>2592</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/mixer.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>947a28c463f4d298c809d2bf7a2a58c3701c5b78c7977684ebb9f9258217cbec</string>
			<key>size</key>
			<integer>14476</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/mixer_abst.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>f5c045051f4a5793d92ced073c0f61f1be538b5d776a16bb38c1df1a3efe76db</string>
			<key>size</key>
			<integer>4220</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/output.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>1a429f19519cabc2fcd4d1c3b54087235e7a9f4a5394bab4a02b0c5556eaa464</string>
			<key>size</key>
			<integer>2760</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/pcm.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>94f96be444ce70c0a379f539c8a6042fa9aa205bc4d79c82224acc2a0a09e9fd</string>
			<key>size</key>
			<integer>60797</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/pcm_external.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>ccf61fa3c2cb10f8cd8e47516f38a9ee758bec4c182146450ab1a4ef25d27a65</string>
			<key>size</key>
			<integer>1899</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/pcm_extplug.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>87159b959d7456d2fdd7572f76235947df59b4387e5ae59be5e8167bd9b4f580</string>
			<key>size</key>
			<integer>6334</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/pcm_ioplug.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>28d1abf20ca1b2b6c4de580fba8710ade939ee795a4a9ca72d9d21cd6dc9c3b8</string>
			<key>size</key>
			<integer>8003</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/pcm_old.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>b3cb1f2bb55518dc2d72bf220fd92e33562197ceb51cc069639e625cf536ac92</string>
			<key>size</key>
			<integer>20071</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/pcm_plugin.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>a48e2476848a937bbacdf961966ed48525765050e3a4c8291d44950d20b621ba</string>
			<key>size</key>
			<integer>7062</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/pcm_rate.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>8fec3c9e28959c16302f25d6fd4405e94c9d084ee1f23a5b1fe7d182e7f7f8c0</string>
			<key>size</key>
			<integer>4748</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/rawmidi.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>d902dddddcc53c1812e389cea7040ca305b5e6dd6204914e214627d84b25f202</string>
			<key>size</key>
			<integer>7154</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/seq.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>a9822f8f0be9da7e700e9b49c1dac84a20a34e29d19dc3d19184719751a20b22</string>
			<key>size</key>
			<integer>32477</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/seq_event.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>893feea7c087216bdb3afad9b4dbd01fcb23ad9f99c1e702ea1e24091706aea7</string>
			<key>size</key>
			<integer>11795</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/seq_midi_event.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>5ced8e67e400f5dafcfb4d5d92c790b2181a9c64b33c1e0029c1dc7704959af0</string>
			<key>size</key>
			<integer>2390</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/seqmid.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>050159232aa3bfc7e9886de647bdf34a879fb400d318323ae452a39bda96a724</string>
			<key>size</key>
			<integer>14435</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/sound/asoc.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>9ef022d710add1ad71f734a260ddbceca42ba398339746b010a69e08c4611536</string>
			<key>size</key>
			<integer>34</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/sound/asound_fm.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>01f2d13ac23b001b49497ab9c8b0c21a03354203385600e1cfa3d50d5cb6082b</string>
			<key>size</key>
			<integer>39</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/sound/emu10k1.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>9050c100201fb687fe5cf76c52d95d7c333b6e54148ab2e172135413896a7c0d</string>
			<key>size</key>
			<integer>526</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/sound/hdsp.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>330512b43c88c03a1aabefae4aa7ce0deeb7a08b523d3b6eb479373f4931557f</string>
			<key>size</key>
			<integer>447</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/sound/hdspm.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>2e438eb4e304b6033b75e12f275046ebef5f00dbf3df899d42778eecbdb8eac6</string>
			<key>size</key>
			<integer>386</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/sound/sb16_csp.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>37a252053cece111c87dc93f8156b273a2d03e77fd2c953981f56a232028c120</string>
			<key>size</key>
			<integer>169</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/sound/sscape_ioctl.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>e3acc4c5a19601f01002631238ad6574dc62207b20462d9caa054de9a9ed83f4</string>
			<key>size</key>
			<integer>42</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/sound/tlv.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>6d8e48e2241af43dbd7ff999eacdf300e4fb0a4624069d7cbb292c4bb268f544</string>
			<key>size</key>
			<integer>33</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/sound/type_compat.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>d64b39e3f3966b613a47bd8b630f4e435a0dfa15b0904ad68da84212f2a4052f</string>
			<key>size</key>
			<integer>1158</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/sound/uapi/asoc.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>2bdc4ab7c69f302914716ff4363d2a50b1fb3ff1aee4ffd1f4c49254b849ea1d</string>
			<key>size</key>
			<integer>22196</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/sound/uapi/asound_fm.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>dd2cded7238c17ae02fb2979b41c6869426e4908131e106c2c8cd86b35137136</string>
			<key>size</key>
			<integer>4377</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/sound/uapi/emu10k1.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>c702ef6b307392c5eca43f51edcfa2fca1ed7b23326ce8db24a3356294d193eb</string>
			<key>size</key>
			<integer>17340</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/sound/uapi/hdsp.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>b877d369f30eb33ac39a5f07e13ec4eb3746e11a0ce49ed9b13a65c91b72d537</string>
			<key>size</key>
			<integer>2802</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/sound/uapi/hdspm.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>2c03f4b26b41847cdf06eb3fa313b12715519cc52e27acf170c0c01b509fcb93</string>
			<key>size</key>
			<integer>5211</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/sound/uapi/sb16_csp.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>54f17a953fb06f8e716bff74a4d2798ce0b3a84f9f42d55da41b2ece2c4a4035</string>
			<key>size</key>
			<integer>4304</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/sound/uapi/sscape_ioctl.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>8fd02d38cd2a9938b3433f8d51ffcd97721ab67a998bd885012975b3a2eec1a6</string>
			<key>size</key>
			<integer>368</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/sound/uapi/tlv.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>e82097410a5806f19be94884aaa6895006bc0f80ef03d133e80efd398a5d149d</string>
			<key>size</key>
			<integer>4601</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/timer.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>89e74470485445d6733a95a8b7e16da52853e20df639ed3dfcdca9ef7b72c24b</string>
			<key>size</key>
			<integer>11382</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/topology.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>e14ac23f62b6455a5aa26e4c7f4d8db825dbf337b3078dc3c20addf47ce976b2</string>
			<key>size</key>
			<integer>36810</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/use-case.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>9fff559de6539fb2d962d11dd98d025028591a5d6844d76cdea00571788f29ea</string>
			<key>size</key>
			<integer>21566</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/alsa/version.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>70825be0a3aa0b2f6e9cc856e8332f6f70c1bdc431cfb601f4041731643123ea</string>
			<key>size</key>
			<integer>497</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/asoundlib.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>2cb0b535355ac5c311b712d2136e963e349a27b1b7f75649622d077f500e7161</string>
			<key>size</key>
			<integer>96</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/sys/asoundlib.h</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>2cb0b535355ac5c311b712d2136e963e349a27b1b7f75649622d077f500e7161</string>
			<key>size</key>
			<integer>96</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/alsa-topology.pc</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>f7832fce2dab3b30ee73babe85a037cab08a56cb2096647c947f2ede4bb57aac</string>
			<key>size</key>
			<integer>150</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/alsa.pc</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>7dae5fbe16d3b265247f1b4bef5195b68030fd0ebca623f6ef8fcbdbaabe76b5</string>
			<key>size</key>
			<integer>267</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal/alsa.m4</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>d7aa31c14c24987f773a2adb8c64ec9a0a493ee25a354b84ad80da59d8f8561c</string>
			<key>size</key>
			<integer>6020</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libasound.so</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>target</key>
			<string>/usr/lib/libasound.so.2.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libatopology.so</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>target</key>
			<string>/usr/lib/libatopology.so.2.0.0</string>
		</dict>
	</array>
</dict>
</plist>
