<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/pcm</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/aserver</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>66ccdc5a77bb32963a998189baf25e49a70abcf83502de3fde140dea2b1b4bc2</string>
			<key>size</key>
			<integer>39136</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libasound.so.2.0.0</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>51d6ff25210a3832038204d06ac6b22aec11aba872edf4436701368ecae71c50</string>
			<key>size</key>
			<integer>1034600</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libatopology.so.2.0.0</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>c469b3f8651431b036838c8033d5fdfcae6e69a55d73fd8902626c3778ab3879</string>
			<key>size</key>
			<integer>118552</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/alsa.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>1b1e09c2f39ffe83f019f24b975d7819a72e7453066689760a5369dbe08e1b0a</string>
			<key>size</key>
			<integer>9876</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/AACI.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>c6e894381791831b01df3403c5493027bcc22b11b9c018c32df93a8f17794ffe</string>
			<key>size</key>
			<integer>669</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/ATIIXP-MODEM.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>8ec8c18a874dc42f6cf925dff57b9cd8b86f0cda3e8ae9de0c6b382811ee4286</string>
			<key>size</key>
			<integer>302</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/ATIIXP-SPDMA.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>753be05a4280bd8bbe50a04f5a54371886f9867798ee0968eb21156b770337f7</string>
			<key>size</key>
			<integer>2237</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/ATIIXP.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>626f6b628f29714ca8925b67a7a337ab12ec2cdd39c2fc5098ff8dd3865ad678</string>
			<key>size</key>
			<integer>2483</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/AU8810.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>ca5b2b36906ef6f4322df049e44148d2c5657768dcbc21c55e696eebe5eeb0fe</string>
			<key>size</key>
			<integer>437</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/AU8820.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>f396368a200d99288919481bc398996b52e278ebb65f64974bc741dccdf1723a</string>
			<key>size</key>
			<integer>159</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/AU8830.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>5824b33f63d8884f927688111f38b9b8943747a2ee203646f8bc23ec5a40eae4</string>
			<key>size</key>
			<integer>520</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/Audigy.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>e78233f0d6b831a3df306b1d0152ac1e48da18efc4013c26b85051d38bf8bcc2</string>
			<key>size</key>
			<integer>5899</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/Audigy2.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>205716b7e174b9b8bfab499d17be19610a1207ea0b49765aced98729c848c6c6</string>
			<key>size</key>
			<integer>7807</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/Aureon51.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>049002e88438628c145792a7059855d08c14c7f33b290a5547eb9203deffb7d2</string>
			<key>size</key>
			<integer>2369</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/Aureon71.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>b27ede016371d8b5202ad22092618da188e9509b889882e1f619e746321fe3c6</string>
			<key>size</key>
			<integer>2499</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/CA0106.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>0dff9acb89c5772ddd5bdf60bc11ce75d73e9097dd5214f2579ac2097834fc2a</string>
			<key>size</key>
			<integer>3848</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/CMI8338-SWIEC.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>7120140996a1a2037f0edb4a9d39c1f1074fd7d6072b6132014c0cb314c52301</string>
			<key>size</key>
			<integer>1784</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/CMI8338.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>db64d0d74de40d5c975dbceecf64feff164a4cc709ccbfa67958b457a2615218</string>
			<key>size</key>
			<integer>1911</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/CMI8738-MC6.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>aff8b0c75abbfe770cb2aab21612b5f404b5468a858d6bf333a535e40ee5611c</string>
			<key>size</key>
			<integer>2131</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/CMI8738-MC8.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>010df70a0dbf4fcfc3b19b43a9af30d58fa7e1121da8069573857336a62a889c</string>
			<key>size</key>
			<integer>2982</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/CMI8788.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>554b97e9bd91ca8debe8517e19f01dfb1bdf0e95e8bbffa431556457a1554557</string>
			<key>size</key>
			<integer>1641</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/CS46xx.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>79bd52df908894e3eca05c52db832a0996732556b038aba3b17a7738e7eda274</string>
			<key>size</key>
			<integer>2945</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/EMU10K1.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>5a5a1a8ef42aa35db0a0cc9a29bc570647ae11bcc3697aa56e26fac722624cd3</string>
			<key>size</key>
			<integer>5672</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/EMU10K1X.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>37fe34f7ddc7a7758863cfd8f32718b1434acee5b5a93548ff5605629468648d</string>
			<key>size</key>
			<integer>2754</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/ENS1370.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>7e4f5a1d3007a5938c67b7faf2269cbc6c7bf7487797e5c8111574525c75f8bb</string>
			<key>size</key>
			<integer>1367</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/ENS1371.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>72f5b63f7016d076fc59087ab28b60eba988e9bc41814759fc430b364f42997d</string>
			<key>size</key>
			<integer>1806</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/ES1968.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>fa3218152521ad798b5770aad93363fd57557c84dd32d630bf273041c21fa5dc</string>
			<key>size</key>
			<integer>152</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/Echo_Echo3G.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>b6df2b1986dbc8cc543130f6fe07c58e8c0f96f360891081096df1d3b4bd865f</string>
			<key>size</key>
			<integer>4399</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/FM801.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>022ca9b10d7cc8a32f60b0aff3960fdd9fb06a68a2cecb2a54da5426d64f1903</string>
			<key>size</key>
			<integer>1227</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/FWSpeakers.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>eab3789ba81a6800f11fb01a386e32ae397b0d225f4d7144f486e3ee393ad0bb</string>
			<key>size</key>
			<integer>333</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/FireWave.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>f4123f0f106c0baf213020ef8cb5aed19e79a2d896fb9e6603d43c001a704254</string>
			<key>size</key>
			<integer>702</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/GUS.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>97942d9546bca7fa50841e74168d7e1e8f62468ff8cb9fc3794dd7e3770d8ace</string>
			<key>size</key>
			<integer>217</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/HDA-Intel.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>24294c2f06c258693b67d606af997e665c4cd2138a5f922be310e22fd0192d3e</string>
			<key>size</key>
			<integer>6773</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/HdmiLpeAudio.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>58caca46430a262b1f5707275217e97418ae97839c714fecd1509a3c37dc8c10</string>
			<key>size</key>
			<integer>1509</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/ICE1712.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>31761fd7920b74f976eb545f356c835d82cdd4d266812aca8c49c1575c642c85</string>
			<key>size</key>
			<integer>2409</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/ICE1724.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>88fcf5d6019e425f849f9d2aa67a5620203235982fe80993f0d6c6c9bb65a18e</string>
			<key>size</key>
			<integer>2891</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/ICH-MODEM.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>3b455ac43aeaf36887eec1300c2580fe645499c8f6ef277f193635b0bd5b26c3</string>
			<key>size</key>
			<integer>192</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/ICH.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>f846aba377c4930fa524fda0ef149b51f519065c9980403e1698371ae7a418fa</string>
			<key>size</key>
			<integer>3054</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/ICH4.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>f5f2ddbc85bd703a0fea9c677e9043bb98cd95b8578064092b67ae4c2b557b3c</string>
			<key>size</key>
			<integer>2886</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/Loopback.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>48d733a429b58b0721895b5c28a9df4aba7f6804c5cfb9df484b801660aa672c</string>
			<key>size</key>
			<integer>1272</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/Maestro3.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>9291749b971d36f4f436127d105641031b44dde0da9ea0411937fb4e34897f24</string>
			<key>size</key>
			<integer>558</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/NFORCE.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>812eda76155dfa495eb1d743356a2471fe02add40bea1d669188ee3f083b5dc4</string>
			<key>size</key>
			<integer>4803</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/PC-Speaker.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>d6c8185b9a3bcfa829632ea2238ea1804f9eb7568d2047bdaf8e519e883146ee</string>
			<key>size</key>
			<integer>657</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/PMac.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>c79d68b2205708c68f073c4b3e86006c0b1fcbe2d93026f69f3b0671fcf97a29</string>
			<key>size</key>
			<integer>486</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/PMacToonie.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>778ac126c680298a4ca4f9e004098466bf51298433b91ca8ba850647e6b3e680</string>
			<key>size</key>
			<integer>705</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/PS3.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>cddd47a62dcb70aa209d2788f743c469a3d799a0e1093fea5d200837a5ea6f9a</string>
			<key>size</key>
			<integer>1152</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/RME9636.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>4c372e8777d554e4cf9b10ece78d967ef06daadaa0362d46468f927d9062ef5f</string>
			<key>size</key>
			<integer>780</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/RME9652.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>8a065a1bc0f7e9843e54fc098ccebb049dc85981d93f7e1a24db26f958f33339</string>
			<key>size</key>
			<integer>780</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/SB-XFi.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>14751edd67a1b842be0c44a8104ba132acc85e619a4ffdf3cfb094656b345daa</string>
			<key>size</key>
			<integer>1502</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/SI7018.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>0d351ba328e6d216857cd0f73632b1e5b929fd9aafc622d7089d44ba78f3b549</string>
			<key>size</key>
			<integer>2278</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/TRID4DWAVENX.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>1e62875ffadcc69a78cee0146314121aa51317af113ff9782071875d23b22249</string>
			<key>size</key>
			<integer>1792</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/USB-Audio.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>058951e822cc6c49dff464af34853e96f6298efc9d7e19588540d5b97cfff64d</string>
			<key>size</key>
			<integer>9559</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/VIA686A.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>13d828536619f7b9aa16d00b6d8231e5e26266aa417dec1c5f293c9d6263e5ce</string>
			<key>size</key>
			<integer>1199</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/VIA8233.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>2ee6d46c2bda0be75a42bf29f9bf242ebfd3502dbee57a5bd08c0cae4b48d097</string>
			<key>size</key>
			<integer>2756</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/VIA8233A.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>c405ae909d53f9dcb71546c46bde37e63d76c6fed2bbd1f0e272ea26c69e832e</string>
			<key>size</key>
			<integer>2812</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/VIA8237.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>8fe2eb01c92038c0b50f98f0386c435db852fe131323a585f529d89f81fb2ba7</string>
			<key>size</key>
			<integer>2586</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/VX222.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>39f4fedef3fdab641b954608f8f5f2c1d3ed4c1bb919929286b87a668f586529</string>
			<key>size</key>
			<integer>830</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/VXPocket.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>c5d14491b5de612c7bbc69b4b5989fd1002d93f6fd6a3a672249951f9367a515</string>
			<key>size</key>
			<integer>839</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/VXPocket440.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>600ac09279191aded92809840171fdf6184663c6bc8e0c188df255862536e8e7</string>
			<key>size</key>
			<integer>1480</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/YMF744.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>d024c523af4e2dbcf967e88b2101ce340bc8dd1c1fa5f5ef3746fffe4ec11d7f</string>
			<key>size</key>
			<integer>1357</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/aliases.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>6760429674a767e64206300e27dc909ebc45a1fd504020dcce3b8b447120d3df</string>
			<key>size</key>
			<integer>1460</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/pistachio-card.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>39ab71393579ea7ed4ad20b58cc61579462b4ac0db559e871840b218dc712fc5</string>
			<key>size</key>
			<integer>1889</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/cards/vc4-hdmi.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>c92bf0a58c76e44d5344178ce300e41e9f62b0cfa0474c590f0757148ac81093</string>
			<key>size</key>
			<integer>820</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/pcm/center_lfe.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>e0f1d7c2b3bdf6acf3736b008824bcd274c33998072b3a1a0c74426753e12cc1</string>
			<key>size</key>
			<integer>805</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/pcm/default.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>ec4e9a2f87b3f68002b98d52ba978f001d8d4ef4abd2af27a9b3ad16f4fc4f6d</string>
			<key>size</key>
			<integer>762</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/pcm/dmix.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>2649518e9715d16fdf3fe9d333b4240734b162cab5e3adcab796ccd0f132a0e7</string>
			<key>size</key>
			<integer>1720</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/pcm/dpl.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>ccec7c194270433c2dcdf3622b2ef25e3197020da800662c6111ff8b8638f30b</string>
			<key>size</key>
			<integer>645</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/pcm/dsnoop.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>a5b6f15db9474961f788539e0e9ffb26bb19f5261ef57588e12a8952549a4b31</string>
			<key>size</key>
			<integer>1602</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/pcm/front.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>9ae0ecf629d07aeae0135ba90d9c78a2f30c16b6dc241fd5edfee2a2f860aebb</string>
			<key>size</key>
			<integer>804</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/pcm/hdmi.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>dcda96095dc321c6b336bb9e1e9ff519c06a041707e155e29e432eff25f427f8</string>
			<key>size</key>
			<integer>1188</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/pcm/iec958.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>6bd114ac202fb1e414683e90f05d60be446674dce6e3fc523331d749a55ec94e</string>
			<key>size</key>
			<integer>1220</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/pcm/modem.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>c9ceedecf7a20b212c7ab641a3bf3f03a2b8a8720cb40c0547458e0f5f4024c5</string>
			<key>size</key>
			<integer>1314</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/pcm/rear.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>d4303cffe70f686507966660719f605049e2a8fbb38ed3773614da3fce026802</string>
			<key>size</key>
			<integer>744</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/pcm/side.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>caf5ac243333775f9a56df77d1e4c0b47f8ec09e75a1b2f81207809b322a3d61</string>
			<key>size</key>
			<integer>744</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/pcm/surround21.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>c271492b20a44697c51cb1ad9ac8de277f72e2f5df4d9c17fd5cbcb121be6e0b</string>
			<key>size</key>
			<integer>925</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/pcm/surround40.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>054cb4119283da3bf73ded1605cf6a5872aa0a2daf1158d563da42890eaed2c7</string>
			<key>size</key>
			<integer>903</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/pcm/surround41.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>e5c2c369e117db8a108241dc303e943bd051906ca392afd4e16ff6af0e5cbc92</string>
			<key>size</key>
			<integer>1006</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/pcm/surround50.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>1320ebccb1fd9a46c64191071f441431af8d94ff5fe9304bb9d65f68b128549d</string>
			<key>size</key>
			<integer>1005</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/pcm/surround51.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>1d65e731910de25a280c64d71771b8125d217395545fbf848e74677ab8f9ed4b</string>
			<key>size</key>
			<integer>956</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/alsa/pcm/surround71.conf</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>sha256</key>
			<string>6238831bbc5ceaae829f1b28c8043d16968c3dfe2cdce2f9c171bbb845443362</string>
			<key>size</key>
			<integer>1004</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libasound.so.2</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>target</key>
			<string>/usr/lib/libasound.so.2.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libatopology.so.2</string>
			<key>mtime</key>
			<integer>1609065923</integer>
			<key>target</key>
			<string>/usr/lib/libatopology.so.2.0.0</string>
		</dict>
	</array>
</dict>
</plist>
