<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/aria2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/aria2/bash_completion</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/aria2/xmlrpc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@boldquot</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@boldquot/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@quot</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@quot/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fil</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fil/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/aria2c</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>f0e752a46cfbd4acfb69775353cc0754e5dd998bcea874db40d5b5a6a0c65d3a</string>
			<key>size</key>
			<integer>14496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/aria2c</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>d4dc1910f68de88bde26e470bcb04f4dd246949a600c72596ca5a3a3190229ce</string>
			<key>size</key>
			<integer>8099</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/aria2/README</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>f3c22082da5ff8b5313d36e2b8a1a83d28ff1d379a9dfd3f18582ce933b9159c</string>
			<key>size</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/aria2/README.html</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>b8a15c1db9657abcc7dd26da49e1cece0390071b99f9aa482b016350ac5d4ca6</string>
			<key>size</key>
			<integer>38176</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/aria2/README.rst</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>93d77fd373d3ac4caf61808b17af9ff17dafc059c610c991cc63e870ef3b1add</string>
			<key>size</key>
			<integer>22275</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/aria2/bash_completion/README.txt</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>8bbce514d4689b74bc5950295509ea64f05158389bc371315aa3f17e110cc9eb</string>
			<key>size</key>
			<integer>251</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/aria2/xmlrpc/README.txt</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>933067a4ce962a56c5a319ab9cbea72a47a95d16648e2f047f023c4098069244</string>
			<key>size</key>
			<integer>166</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/aria2/xmlrpc/aria2mon</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>164f5e5fbe12bb36b45ee204fcabf3c80dfc09fd98fb22436bcdd00f248e085a</string>
			<key>size</key>
			<integer>4855</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/aria2/xmlrpc/aria2rpc</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>7b8d790861e72fcff4f4f407e1f408d677314aa1a6a486dc5b4f8a447c337c34</string>
			<key>size</key>
			<integer>18872</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>9ba00429640ce0b465149aaf61d55bc2f189ae88635896056611da75c0904d17</string>
			<key>size</key>
			<integer>2201</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>8ff98f6b64f00e485c040cdae0b06dabfc16e0f5c9c2711640c695964fb06850</string>
			<key>size</key>
			<integer>48691</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>df0bb07632d7d5da4f16bd220226e175c329a7fed489f71adeff6fc66e3af246</string>
			<key>size</key>
			<integer>950</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>c030f1452da45f63159860e1603e6902c073ef6a93ca96f1ef6270b0a6ad8ba9</string>
			<key>size</key>
			<integer>17442</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>563836f04b886ef590e5fbedcf7cae3bee8ecac5776c446af53fcba8f7f9686f</string>
			<key>size</key>
			<integer>10091</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>86141149b3cf6d8f4568ec47c4585e4cc7fa1ab213699f1108ecd1fe496cd804</string>
			<key>size</key>
			<integer>50434</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>b653df68c823425c4cfcb934171794a46f5c313023f475e55f5c19f829b20762</string>
			<key>size</key>
			<integer>112622</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@boldquot/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>31157b2c9506f1f538f9d40a7e2676a61db47d583e0c413b0ecb8ea2fc5da1d6</string>
			<key>size</key>
			<integer>154813</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@quot/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>62285a6277b1fa4e4c7bf01589c008c1b92cec15ae55c6c1ff4ac6dbebaa10c8</string>
			<key>size</key>
			<integer>154321</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>ef8868e6f1a01ca9c09e2a2dfbc5b708efa902b80abf99389793fde9d70b95f4</string>
			<key>size</key>
			<integer>21709</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>133b23f25ff2b7a90f570bdc69142fda8dc341ab78f6f0fd273815da6e375de9</string>
			<key>size</key>
			<integer>1488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>f5c6442ae19a1373cb929680cfda47d3b002b6a215f63fa1ea8df1494056dd31</string>
			<key>size</key>
			<integer>15613</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fil/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>9e20f43a83db12789a83be9aad8907bde959b9eca807a3b89a1a6048edfaebe2</string>
			<key>size</key>
			<integer>1698</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>8aed7b9864b7d273cf1dfc86ddcfa61deffd4296528be886fc98aac81574336e</string>
			<key>size</key>
			<integer>54244</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>4c18298a68a5e7677840845e691022052cb57adfac3e1a147e2dabf8964afd74</string>
			<key>size</key>
			<integer>9691</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>77d9648eef69e79ed74cb7ea7861515a9e055c7f8c55f43fe51b42de93bf72ef</string>
			<key>size</key>
			<integer>1326</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>6401d59c4e1b0fdbca19a8cce02b372ef2438b72d9871efec5f96f39f7d1689e</string>
			<key>size</key>
			<integer>892</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>d8f15cd7d5b81e6adcae8ea669ac69690f973af0179f38681d4a3c427370a600</string>
			<key>size</key>
			<integer>21326</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>63b9990e7f7a9f2c04ef35b68c4c4ceaf1b636ad12ac0d14f412f5e7afcc942d</string>
			<key>size</key>
			<integer>56514</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>a87ef150fa7a92e7edc623cb8ccc9632e88fcd8fc57220eb8762d1aafc67d707</string>
			<key>size</key>
			<integer>85360</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>a3a26101e9aa86c1dcdb896dcd44643125546301e3124a8c31970a8d8315b0e7</string>
			<key>size</key>
			<integer>1788</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>d9231f1b4d2dfd806d29b2ac7a3854ae50bd7fb518ea824f5c98c36bb8168e3f</string>
			<key>size</key>
			<integer>2006</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>d2f8ff24af0826733a536550dc684c76bed09a98a090b410eea2034dc63cdf09</string>
			<key>size</key>
			<integer>1460</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>ecedf3b7320391d69514e1574a93369ec05d9829e69396fbf96ec9befdb04514</string>
			<key>size</key>
			<integer>1003</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>445ce825f18f7718877de1e474a1799ca5030f8b0a938b6666acf16fd4869770</string>
			<key>size</key>
			<integer>5800</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>a265d13cc7f271e26a1dd0d222571f472c25599acb1ea9a5c00c33ae5eb8d7ce</string>
			<key>size</key>
			<integer>1550</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>0472918c4f68f69d97e2471433c7a452405fbe99d9abae9ed954442caad7d22c</string>
			<key>size</key>
			<integer>1000</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>c7c63e063b71a52875801bc3d5288126619073473b2e60fc73747e5bcf403cfe</string>
			<key>size</key>
			<integer>14081</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>2dab0619dd938f99fa01c03811a733bb6844ac182a675340d54bf00e2f1ff7be</string>
			<key>size</key>
			<integer>17642</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>c4974dfee40c14469145519b7a7488575fe89d88b80fe767df43a7f54ed7675f</string>
			<key>size</key>
			<integer>164516</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>2c2a22d14c09aa80900b9d8c152bb10870442f17f433b06d3fcbc2d395e3809e</string>
			<key>size</key>
			<integer>4624</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>95f136f50f555bcabccf6054a31f74dc3fa5020e8a36947228914fb86cf7332b</string>
			<key>size</key>
			<integer>197817</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>e33c6c5d12efa512c7207047207e04890f8284bc8169f119ea009c9726e698bd</string>
			<key>size</key>
			<integer>3219</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>e13af406f349bc46670aecdd658916d1b5ddef8145b14e8cb48b8c6ce8e2eeda</string>
			<key>size</key>
			<integer>3348</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>8a601a10798e623af524fe24f8367109435dae1a668a519d4687a95ac3435ce8</string>
			<key>size</key>
			<integer>10127</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>6bf448519b3fad760be3a7fc0bbf91ee20923aa3afba9d4397926490e97244c0</string>
			<key>size</key>
			<integer>1019</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>1c0a15fc269f446532b5264b553c1f3957593888ac4e74706f215e93631a34df</string>
			<key>size</key>
			<integer>24761</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>9a230e15115cf54732b50408c221314d52d43f34f05b6ccc267dbf4257ed9f40</string>
			<key>size</key>
			<integer>77662</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>bfac6f3820dcae37107516d0022fc6d94f859d554321bdd7269ed502843598da</string>
			<key>size</key>
			<integer>1638</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>e1a67175d9cee3d3ee0d42321c9c7cc9ae5476f511141387163a78f39df1c5ba</string>
			<key>size</key>
			<integer>109716</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>4fb109226f35292cc86c6da0d8188b96d70c6a271d9329536cdce268eb4526c2</string>
			<key>size</key>
			<integer>2973</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/aria2.mo</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>3e968687eb8630c4d0b4bfabc6c7dc3d7abc4d7dc2cad9986d173e0cd487acb6</string>
			<key>size</key>
			<integer>85640</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/aria2c.1</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>832eb6d9784616ce8861044fc2dc097c0cb630f647e463b0a9543a652569fc19</string>
			<key>size</key>
			<integer>170312</integer>
		</dict>
	</array>
</dict>
</plist>
