<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/rw</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/rw/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/aspell</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>733b3758eb2d8c93d70a1e060f37e78178e0174a4a97402523b877a230d74a48</string>
			<key>size</key>
			<integer>322352</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/aspell-import</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>98067cd6d3264638112772e79c49bf436684a7536a6ed27ab5dc08d3d589c1d3</string>
			<key>size</key>
			<integer>2044</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/precat</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>7ab05f928bfb57ee41a45db1aaab9024e74f3432099bf856b6460ea597ca7472</string>
			<key>size</key>
			<integer>5656</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/preunzip</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>7ab05f928bfb57ee41a45db1aaab9024e74f3432099bf856b6460ea597ca7472</string>
			<key>size</key>
			<integer>5656</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/prezip</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>7ab05f928bfb57ee41a45db1aaab9024e74f3432099bf856b6460ea597ca7472</string>
			<key>size</key>
			<integer>5656</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/prezip-bin</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>38b25729d9a50e894110eedcb58088fa7cbb5936f52f8099757ffbcaff1f898f</string>
			<key>size</key>
			<integer>14392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/run-with-aspell</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>0920d5b61e6afa8ae32429cc7528409a3df76c660a45a221713fd8f64c54c0b7</string>
			<key>size</key>
			<integer>62</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/word-list-compress</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>a8794e15c2d9e9f8725188c763766c7af7258c639556de4c5ffa4b5d8e31c22f</string>
			<key>size</key>
			<integer>14400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES/aspell.mo</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>8fc5b458575f0030c030653a2774bc28c0deb409408e3a7a761579e7bec16976</string>
			<key>size</key>
			<integer>30928</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES/aspell.mo</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>336a9dda16e67c06638651f00ad90c63befb9965c6dba3d1c7a86b47aec63e34</string>
			<key>size</key>
			<integer>9310</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/aspell.mo</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>317696cb3ec85d3a7e8f9f242407dfb084167a8731ede8d90f3ad036abe754a2</string>
			<key>size</key>
			<integer>30673</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/aspell.mo</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>0eaa0205b53a0ed65363377fa3339e1021aeac8e85fd89e967fb15b42ae077ba</string>
			<key>size</key>
			<integer>30659</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/aspell.mo</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>1208850b4b2a1dc03658ec408e441273c117b26cf19b634b9a60c8776a74c8ed</string>
			<key>size</key>
			<integer>29986</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/aspell.mo</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>14cbb1e54d336fa760c009b6cf867e2b91d7092db20658504abe5d326c213873</string>
			<key>size</key>
			<integer>32845</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/aspell.mo</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>7cbb757680aacc6caaa79eff05b49939c47dbf09dc0c400bc9846aa645690308</string>
			<key>size</key>
			<integer>26226</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/aspell.mo</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>e468b3c78b30224fa524a7da277becaa89279c8e931f81de3941a2bbc753070e</string>
			<key>size</key>
			<integer>29718</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/aspell.mo</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>9029b622a0de846196ee4d26b393ae7ba798961e0de16d4f7ba6c85f1354fd3d</string>
			<key>size</key>
			<integer>30467</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/aspell.mo</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>a16e3ab5c5b3699a647503611cfd4b2f7baf346ade58266cf3281623383afcfa</string>
			<key>size</key>
			<integer>30911</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/aspell.mo</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>850a0e405a118540a9ea3c6107684370717bfe57556430d32ecf9e52d72a7100</string>
			<key>size</key>
			<integer>32102</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur/LC_MESSAGES/aspell.mo</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>a19ae00c38fb6a1b21f420255770216579e5fc106bd908e9a6ca5f27fa0af9f2</string>
			<key>size</key>
			<integer>24198</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES/aspell.mo</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>897787f92fc2022c272439bea8bb21e1efee02a6ee2bf3cce896ffd58baf5858</string>
			<key>size</key>
			<integer>30781</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/aspell.mo</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>dd579af5906078ee239134670738d3bd0fefacc96f473c198314b3a6c613127e</string>
			<key>size</key>
			<integer>31867</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/aspell.mo</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>f7c482e7ed5d24d6f40284d4d325167c279af9d3ee175df10ae5ebfce5a23542</string>
			<key>size</key>
			<integer>30060</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/aspell.mo</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>38c8c4ca94197661983eaf14fd658219bb9d8d33f6a1a571250ae2238912649e</string>
			<key>size</key>
			<integer>30169</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/aspell.mo</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>7c2c60df84229488643fdbc0635099aa2bc8f363f0a41ae44eb82e4d56752c85</string>
			<key>size</key>
			<integer>34430</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mn/LC_MESSAGES/aspell.mo</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>98fc347f6d15bb3b9c1015129c382e278caf6d119b66d17880870e34e2d90453</string>
			<key>size</key>
			<integer>33276</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/aspell.mo</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>3f4f78c0b6fb196341c41b74453fd592fbbfc2722b896663054bcf6690d7072c</string>
			<key>size</key>
			<integer>2504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/aspell.mo</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>7e52988e64bd28ace088d948f868797277581524ad45c8c6359c8cb2a558f4eb</string>
			<key>size</key>
			<integer>32310</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/aspell.mo</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>ea87c635b30baf46b12b57a1c269566d1352b8022b61b8ec08b3e2f5c9d1a780</string>
			<key>size</key>
			<integer>31534</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/aspell.mo</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>a2470179e7162c32f50322e9993a5624b4650d3d90ff18abdac2dbe69dd386bc</string>
			<key>size</key>
			<integer>31977</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/aspell.mo</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>24e4db35457173323b5a41dc5e1869e464ff4d0a7d0a075c0932ed508aca0552</string>
			<key>size</key>
			<integer>32121</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/aspell.mo</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>bf3ece143a8d08fd36c1452c4d91f5ad5d6c6232f0b19cf7be3067943cf92dd4</string>
			<key>size</key>
			<integer>32793</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/aspell.mo</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>0c08e7d210b3f6c5501557bc1a3a0a0a6c167e2267a53bd1f510883f34eda6cd</string>
			<key>size</key>
			<integer>39683</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/rw/LC_MESSAGES/aspell.mo</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>8cf1e153dde30f2c4b1706d867e61d24bba2abe045ff2c03a953ac44f838e483</string>
			<key>size</key>
			<integer>1232</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/aspell.mo</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>a85d6abc23ae24abd8dfa9a66b14846ee1f5f613b941932c1655e0bd07643322</string>
			<key>size</key>
			<integer>30536</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/aspell.mo</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>ef75c863d63046f9b6dacc1e0a06b6aa0c66c8df1b645aa9c1b047a7196185bd</string>
			<key>size</key>
			<integer>31151</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/aspell.mo</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>18a459779bf63daed5dee9112fc0ba984cbe38563a38660693099f40c0e29001</string>
			<key>size</key>
			<integer>37265</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/aspell.mo</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>96d86037f5c505fc91ed32c51785289ee137815b9b882e667e12a93a28a5f652</string>
			<key>size</key>
			<integer>30105</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg/LC_MESSAGES/aspell.mo</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>4111290f0893e22ce91d72c1cb907b15fd8bde7b7e57643c5985c6876afc13dd</string>
			<key>size</key>
			<integer>13679</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/aspell.mo</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>a566e6d9d2cbe697d6dc4150f591fbc74677b25f956b42b5b7ca7ced2c5ee588</string>
			<key>size</key>
			<integer>39715</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/aspell.mo</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>4b86abdf6a2d6ff822805805e7b76e5e3da8e1f70332aeb7c1597973580f82f6</string>
			<key>size</key>
			<integer>33670</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wa/LC_MESSAGES/aspell.mo</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>2f1a410ea0b7474275c93fcd4df529fa34a601ce6a0d22d1e19d9ae9035bf0d9</string>
			<key>size</key>
			<integer>18099</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/aspell.mo</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>efc1c63752af952f0634a37ca818fe0a5df089647da04fbe7b29630fdb222026</string>
			<key>size</key>
			<integer>29305</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/aspell-import.1</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>f6c0876505a25260b98615ce6317b454a6e1a3e2450aad1919263b2cc36d7085</string>
			<key>size</key>
			<integer>800</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/aspell.1</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>96a4da6fa19bb0c576420e72febb2cd11aa1cf795c3483e873b059623dd47b0b</string>
			<key>size</key>
			<integer>12242</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/prezip-bin.1</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>90d207f963990ebb6f070353e86de8972cbc701e3ebed4a84074ac50912352c7</string>
			<key>size</key>
			<integer>3578</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/run-with-aspell.1</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>fd62842b4bd091d5a08fecd1168512535d8da17ab99fc127bfbb56712e81b686</string>
			<key>size</key>
			<integer>1063</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/word-list-compress.1</string>
			<key>mtime</key>
			<integer>1609119075</integer>
			<key>sha256</key>
			<string>2da038cf893b36be3ac8d31852e674513f573d20604df10363f50644482b51b6</string>
			<key>size</key>
			<integer>3422</integer>
		</dict>
	</array>
</dict>
</plist>
