<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gnome-settings-daemon-3.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gnome-settings-daemon-3.0/gtk-modules</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gtk-2.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gtk-2.0/modules</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/gnome-settings-daemon-3.0/gtk-modules/at-spi2-atk.desktop</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>7865c78ad2c6116b8ac43abe8df30738d87c3a1917e94af52c68afcb0ae23bcc</string>
			<key>size</key>
			<integer>213</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gtk-2.0/modules/libatk-bridge.so</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>fb0fb535065164f88c9890e77224c56d96533baf88ae983e3303e4966ba7a163</string>
			<key>size</key>
			<integer>14080</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libatk-bridge-2.0.so.0.0.0</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>26e94f098158aa7a50dec6854db12b0c92cbdbb56e4a418d876b7a6172c8d321</string>
			<key>size</key>
			<integer>215008</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libatk-bridge-2.0.so.0</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>target</key>
			<string>/usr/lib/libatk-bridge-2.0.so.0.0.0</string>
		</dict>
	</array>
</dict>
</plist>
