<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/at.deny</string>
			<key>mtime</key>
			<integer>1535328170</integer>
			<key>sha256</key>
			<string>8329aff2194fcdce5a1e797f088f45d954ef0fa0e4cffeb421123d54e9b72fa0</string>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/at</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/at</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/at/run</string>
			<key>mtime</key>
			<integer>1535328170</integer>
			<key>sha256</key>
			<string>6db3f1cedfe7d89d08514be052c45a4276b172263a368d3a25c11f97bc6777bb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/at</string>
			<key>mtime</key>
			<integer>1535328170</integer>
			<key>sha256</key>
			<string>62bc6d71330fe7c16a79e5caf3328d47676409ff53b63d0b701e29b6b9a348ce</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/atd</string>
			<key>mtime</key>
			<integer>1535328170</integer>
			<key>sha256</key>
			<string>71bd6cb48d7b28cd4e744c74f38d00293d6bf02e944dc26c80996f8a711eb290</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/atrun</string>
			<key>mtime</key>
			<integer>1535328170</integer>
			<key>sha256</key>
			<string>f9d62b834e9454143de1d3ef128b70cfc788c9d39e6070274094e1d50aa6b904</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/batch</string>
			<key>mtime</key>
			<integer>1535328170</integer>
			<key>sha256</key>
			<string>34d9f784d59c4b457445a69f5c8e41d7a823f2e170af93ff40214ebc2b523872</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/at/ChangeLog</string>
			<key>mtime</key>
			<integer>1535328170</integer>
			<key>sha256</key>
			<string>f646d0f6cfb98408fe7ec9e9b09777038eda501b5fe4760d9f4a778e9a6ef758</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/at/Copyright</string>
			<key>mtime</key>
			<integer>1535328170</integer>
			<key>sha256</key>
			<string>01dccc0975aa9ba1a9f83e7c5e04f16077353d3c72a0a759b8846ee7a5b2b616</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/at/Problems</string>
			<key>mtime</key>
			<integer>1535328170</integer>
			<key>sha256</key>
			<string>24bd89fe6ece18c6bb12d13754ba0de97e71a2e7461c72afb172c9ac3f3faf40</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/at/README</string>
			<key>mtime</key>
			<integer>1535328170</integer>
			<key>sha256</key>
			<string>fa4924b7f460d0c3c55c971d290e0c4155af1baf922c21eba91b33cce932f71b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/at/timespec</string>
			<key>mtime</key>
			<integer>1535328170</integer>
			<key>sha256</key>
			<string>b0f1b7641810adc36f416bd51b88d8f26ba1b89d6eb81810ea79c643a85164c4</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/at.1</string>
			<key>mtime</key>
			<integer>1535328170</integer>
			<key>sha256</key>
			<string>c013fbe1e4f8678c13eb0ffc91437855ed1a4b67aff9a29fb0140dbd351448ac</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/at.allow.5</string>
			<key>mtime</key>
			<integer>1535328170</integer>
			<key>sha256</key>
			<string>2e88a1e653753a0434f64c5c53164c5a396b834b2d53f609c87a35c14d372016</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/atd.8</string>
			<key>mtime</key>
			<integer>1535328170</integer>
			<key>sha256</key>
			<string>a750100f26d92425cac407a307f137b5a6f7e88fd47e19da97a0308b6e2b1e11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/atrun.8</string>
			<key>mtime</key>
			<integer>1535328170</integer>
			<key>sha256</key>
			<string>6f46703d522e7b8aff9aebead5fb4931a432b8d18a2a0a8413727a2aeca1a01c</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/at/supervise</string>
			<key>mtime</key>
			<integer>1535328170</integer>
			<key>target</key>
			<string>/run/runit/supervise.at</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/atq</string>
			<key>mtime</key>
			<integer>1535328170</integer>
			<key>target</key>
			<string>/usr/bin/at</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/atrm</string>
			<key>mtime</key>
			<integer>1535328170</integer>
			<key>target</key>
			<string>/usr/bin/at</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/atq.1</string>
			<key>mtime</key>
			<integer>1535328170</integer>
			<key>target</key>
			<string>/usr/share/man/man1/at.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/atrm.1</string>
			<key>mtime</key>
			<integer>1535328170</integer>
			<key>target</key>
			<string>/usr/share/man/man1/at.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/batch.1</string>
			<key>mtime</key>
			<integer>1535328170</integer>
			<key>target</key>
			<string>/usr/share/man/man1/at.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/at.deny.5</string>
			<key>mtime</key>
			<integer>1535328170</integer>
			<key>target</key>
			<string>/usr/share/man/man5/at.allow.5</string>
		</dict>
	</array>
</dict>
</plist>
