<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/am</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/am/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/an</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/an/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be@latin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be@latin/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ckb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ckb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cy</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cy/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/dz</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/dz/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@shaw</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@shaw/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_CA</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_CA/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gd/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/km</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/km/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ku</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ku/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/li</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/li/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mai</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mai/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ps/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/rw</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/rw/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@ije</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@ije/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/xh</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/xh/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/yi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/yi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zu/LC_MESSAGES</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/Atk-1.0.typelib</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>63c1b4eb17da5f7882c5063a6ffa54957901b4983fa9fdbff4c806a16d102fbb</string>
			<key>size</key>
			<integer>74264</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libatk-1.0.so.0.23609.1</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>6a0a0adf786ed1005f149c7f3f8fe2f83d818f3e9a3b3aae81787d1f047b79e4</string>
			<key>size</key>
			<integer>157688</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>780f42faa8f5edc843a9cca4c48d9d2e9b2fb3f09a71bfb5c628613a6c1735ed</string>
			<key>size</key>
			<integer>7050</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/am/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>fec661a19eda410355959c746af42090649d7efc9b5c7ab866b43cb136453426</string>
			<key>size</key>
			<integer>1385</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/an/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>10540031641b958f0927d16253cb9886921373df16171fb3854ced72afdf96fd</string>
			<key>size</key>
			<integer>10646</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>db25492f417601a35300f7713d8eeec3cb83534eb75ca5150276451fe45d0b70</string>
			<key>size</key>
			<integer>9337</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>1ecbc64c78792384cdac35164998fcff82db6c08c8137da52304fb38ad348760</string>
			<key>size</key>
			<integer>13902</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>1b474e31a5bdd3b86421d253b50f7987d977c9128023e0d2fa19fc29374216d7</string>
			<key>size</key>
			<integer>9289</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>fdb6ce08c1089c623149ab0aa462f8e9e30028c237f90468abf243ecd096de50</string>
			<key>size</key>
			<integer>8127</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>c949e8e5d2dbd92019a7e3930c6c85825b80a8efc79f21a9a1c0f6583812b304</string>
			<key>size</key>
			<integer>13174</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be@latin/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>869f78b947e6c4f320beb29dae7ac4d0b39712acfd4fef7e2275b4b1052a2689</string>
			<key>size</key>
			<integer>8615</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>0f0ea0d52f85b62069e221e8444a3bf97ac2a9293faaeef1582a3e281ebc42ef</string>
			<key>size</key>
			<integer>13117</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>9145fec52968aa4b34722a648e2861dbff8a0212830bfa7db409b62179ee4b5b</string>
			<key>size</key>
			<integer>12196</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>50e5c9b6444c468311757ea4a54b4ccc7a8ee25dd9c1fc5a0de2b501cc7bb370</string>
			<key>size</key>
			<integer>13565</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>97b6744133039be0fcd297e284d8def74ef5fb002979801767f784a7308d7165</string>
			<key>size</key>
			<integer>10093</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>08a92121e18ff16fbe9620749ef9e9fe4bdb57fb6877b6340c8e95c6b07ce2df</string>
			<key>size</key>
			<integer>10614</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>b4e1e133f52a68e8bf0022a0a802e8108b31b373c879fc991ed4b8ef8b60ff1c</string>
			<key>size</key>
			<integer>10619</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ckb/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>8ef7097d3c04a10c2029d5988d1c7f98d7ab93fe29d287b388f58410d0a5db45</string>
			<key>size</key>
			<integer>6854</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>8b5dbe5c7dc3feeed9dcedb3b6f144115bf95396172245e4d3c1f8fdcedd51d1</string>
			<key>size</key>
			<integer>10587</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cy/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>56152bf02b9cd3ea8f49fa6df5a0016e7d1ee2e4075dce4e97c40483c04f9769</string>
			<key>size</key>
			<integer>8104</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>1ae4eb8e512b1c8c549810b0797834b660df5ee3b959a09736640be7d0065ecd</string>
			<key>size</key>
			<integer>10094</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>c0b12d2f0c2a066686e05e416c6c8425cb9bbeb25d16e38f6d87776fb526cfb7</string>
			<key>size</key>
			<integer>10479</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/dz/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>2b26328e30d09c914ef3576dab74c30ab4650be612479b9107d597dd9e54c0d0</string>
			<key>size</key>
			<integer>15538</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>c1041c3dad824bf2c8f4f00c3a81b195847e0609e352ed40d3d0b75a6c3ccfd7</string>
			<key>size</key>
			<integer>13785</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@shaw/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>e4eba8476c093e58dcdb1c013f88e2a95354199b7a7e0c8535f83a615781eeef</string>
			<key>size</key>
			<integer>12629</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_CA/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>fd23fd85ccc6f36f391a78c648c3908e407dec65abdb852a476e97e2d6e848c5</string>
			<key>size</key>
			<integer>7738</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>4922c2dce3601f8706604784dbc991ebe86b9278769c350c13e443082abd3924</string>
			<key>size</key>
			<integer>9866</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>878e500d6e9deccc4f4ef8d45fbb469d7e3d0add30ed54969ad1af60aadc98e3</string>
			<key>size</key>
			<integer>9525</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>b83042a0cfa79acd5654125e3f46e7eec5870eaa03582adf3c07c1c4285c652e</string>
			<key>size</key>
			<integer>10692</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>d136407af0115d0ed7f1dc49c8bcfc5466b04cee995f6882e84996b2db63b80e</string>
			<key>size</key>
			<integer>8672</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>653749d5c7171be3ff87d5c955043dadd54efa16bc56de873b808af3a643f375</string>
			<key>size</key>
			<integer>10485</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>841186c0a96bb7844e3b733afc810e8121c2d01b48743fb9abd8ae97bcf200a2</string>
			<key>size</key>
			<integer>10445</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>54481ed6c57aa58793611405862c7aaf868e8a05d3881a5a4ed0d755d8aca1af</string>
			<key>size</key>
			<integer>9737</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>e7cd4877d0f9cb672bcc7e79bc292a9284b30f8440c6bd5e4326bb7ada93cc4e</string>
			<key>size</key>
			<integer>10706</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>a5f2504b7137f0e0dfb65ffb18e52b868518413c676692611ea406c94f87f8ea</string>
			<key>size</key>
			<integer>10404</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>62e98f2f3fc23f0cb13f3cac47ba88ba1bd8efcfb79d9af14f9aa65f944c0902</string>
			<key>size</key>
			<integer>1263</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gd/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>2dc353c1af50175e3b72d9f122d7162ae36d48e896b744e391839f8234dad5de</string>
			<key>size</key>
			<integer>10973</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>731bd6b1b7dd8958d4dcca4e5c1ccf805ee4047584f18b1bbfca0c667e886d13</string>
			<key>size</key>
			<integer>10511</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>6b96e1adfed78a500b55ab671df8e2014954a89f08fe296ce4d767fc621a41c2</string>
			<key>size</key>
			<integer>13643</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>3f0f6e0d1318d1d6f986881922f3ba5da6174e5fef6c5a306581cf436443f4f9</string>
			<key>size</key>
			<integer>9830</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>554afba9002e87543bbbc39fc68ed6c25c0f37181073042cf8346e7b6050eda8</string>
			<key>size</key>
			<integer>12861</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>0f77cba3d067b2d73f637ad67a538b4c2477e87ae6042ff3e994fcd2eba60e9a</string>
			<key>size</key>
			<integer>10223</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>2e07eba83d21075b456c06ba8922aac6dfe1bbdbb1867e5347f49c5929aadb43</string>
			<key>size</key>
			<integer>10530</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>e2f9c5f0615c97b0066fe560df285513cd498ea315245dd27e34124fdc511194</string>
			<key>size</key>
			<integer>10909</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>e401c665674d9b3b69f8ada23cbd5b3484d0f508b9653f5698ffc2895fb52117</string>
			<key>size</key>
			<integer>9981</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>f77f995ecce7cbeec9b02d769e347372b590b6820e85491d86ffd2ccf16e967c</string>
			<key>size</key>
			<integer>1512</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>2313b58b77343a69c29157663ac100a0fba4a596ed5829a68f46363809fa0218</string>
			<key>size</key>
			<integer>10784</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>192f2ead4c79c7f96373851879c9edae1122e019dbf76bcef4f73d88453e829e</string>
			<key>size</key>
			<integer>10284</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>597e20ed6c50e64fb75484ba48a31885bb368c52db8f40438da081edd10531b2</string>
			<key>size</key>
			<integer>12584</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>31c3ef0a80eb9dc39913b94ecdf50bc847dad26af61bb72987f29bbfa9c7ac18</string>
			<key>size</key>
			<integer>3072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/km/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>db5334d90fc1789b670375611a728c2763e9b49bef2be64b28879ec63afd94c0</string>
			<key>size</key>
			<integer>15160</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>cfd47ec94c672b38b8006871334f4ea74557e0e05b694dd252d36aca62a75bf8</string>
			<key>size</key>
			<integer>13745</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>fbb4ad2d08c6ab21a87b008bc984241b4ac5ea0f2d646ea2813127e131a673e0</string>
			<key>size</key>
			<integer>10194</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ku/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>f9ef6a8c618fa5a647b1a29dedd3c3bab6ef75359c82968fc7cc5e76f3e0111d</string>
			<key>size</key>
			<integer>7908</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/li/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>f74a4d6b74282ee1914d09da3ce6be8af3c3289d04bbc53e636119692da5f0c8</string>
			<key>size</key>
			<integer>1460</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>6c042b29ec8b470093233a5d36cf3e1571514bec295ea17d0780cae93a5a3cb5</string>
			<key>size</key>
			<integer>10719</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>e7f01c1f1c1a0e8c3bcaab063cdb71e23a45f54b987ba94790898c21952f829b</string>
			<key>size</key>
			<integer>10444</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mai/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>091198cdd9825cca2c418315cc570616f362387ef1623d53880a139bb04d9160</string>
			<key>size</key>
			<integer>11672</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mk/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>33b90db14c7aa1b1eefaf93f599ee08c397670ef0a512adc95dc0b7bea92d6eb</string>
			<key>size</key>
			<integer>10654</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>3a16dd191afda03b409389c5a25cadf47a7e162953371a2ff15a5ff358f32a3a</string>
			<key>size</key>
			<integer>13991</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mn/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>b0cd8397e69c88555888ad6afd74d1c73707f5cdf128e1b6fccb00ecb61e69f6</string>
			<key>size</key>
			<integer>10110</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>c3bf3611babb3edc5fbe3207e6b9e1611db110a0ab4a9e81c9b7f1195c33f608</string>
			<key>size</key>
			<integer>11787</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>4046ee548df47d6859a75611c52484334b5cd836ec8f9879ad075023bd23ad25</string>
			<key>size</key>
			<integer>10107</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>ef8e301caa4d944c2010d9f3f79e2c87824ed760f88d6646bf4a3a7568b2ceeb</string>
			<key>size</key>
			<integer>9921</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>c26a781c10f41bd2bb3f6a1c0dbae9a72a067dfe4e6d955e1080888f4fa5834f</string>
			<key>size</key>
			<integer>14671</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>487e911c5bb0bf09e2f1578108bc8dddf7a7c89e5553a5776701ccf93e7c7814</string>
			<key>size</key>
			<integer>10086</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>1d91796044430e6a38f9e4aed2d61bd82f30fde1626b61502faaae19f00c3da8</string>
			<key>size</key>
			<integer>8816</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>e972c344f4de945a2a2790e80163297f134c39f73965c9cf9876cfba3949a8e5</string>
			<key>size</key>
			<integer>10733</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>f9a0ee57329cb80f9775b855a8092f2e559a85ce52aab0f923b3d10845bbf668</string>
			<key>size</key>
			<integer>12486</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>42229a41022b4be911f6bc9b1287242f8cc28624749608e10cf70020832bfb5f</string>
			<key>size</key>
			<integer>13521</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>9c3deaa62d911933f93ea4dc7edf5819d8b0885c85b0001744cf7a662825b1eb</string>
			<key>size</key>
			<integer>10453</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ps/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>d934ea0b04874d197800ffb921aef482a212b76536af19c728f3b98d8b6c487b</string>
			<key>size</key>
			<integer>9322</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>51207cb2743cd606d42efb01582cce1585169bf38d5cb3e5be8474215ad2bde9</string>
			<key>size</key>
			<integer>10630</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>1cbbba0e3ce260ceb194b9a0c89bdd1f7b07a823fd0e420a352a04786d2e679f</string>
			<key>size</key>
			<integer>10494</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>6676cfc1b6ead7c529400ae27fb3deba84db7760f97b0ec88daa9073e9bae788</string>
			<key>size</key>
			<integer>10274</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>0e8605127a24148ea2814e0555423404d319b099d52509892b9e16a4a1325589</string>
			<key>size</key>
			<integer>13584</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/rw/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>d9a8446207d895fc3250e4afda4c11bae3c9006df64920b593900075eceb7e80</string>
			<key>size</key>
			<integer>561</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>1c52cd6c7be2b44eddb9daadc5eb87b215a12c6088727ef48c63b4b8ab8a7797</string>
			<key>size</key>
			<integer>2007</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>f4fbaa16754471584ee537c38633f5395e4510756d6e8359d6f6110dfc206003</string>
			<key>size</key>
			<integer>10361</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>4915443ba293251bb9678390252b919c6abf8f8d1b9ee4787dff9d5fd861b311</string>
			<key>size</key>
			<integer>10333</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>a7004ae3277929d83dff9a71310369eafe1a9359bb22bf8e669bdc1c00270aa8</string>
			<key>size</key>
			<integer>8726</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>7071326e3e71de8c8948292c5f30d1281d4d9852596f3be9c9f8902a577dc490</string>
			<key>size</key>
			<integer>12725</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@ije/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>8f8932c245f54ecc2e9af1ba95c51e45279b6a4d1c278af900838cd21aa007ee</string>
			<key>size</key>
			<integer>9580</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>dd8c475113d75b2e479669875eae77eafa68312d42cdb475decb6067ad2edf63</string>
			<key>size</key>
			<integer>10280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>d6b9443fae78389324768cf9fc73770b60f01b6657433fb9df35c55dbb400fab</string>
			<key>size</key>
			<integer>10020</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>63757881b3da901ed3d837c167da0e292e1a20dfce17cf41dfd232bb64aacb4c</string>
			<key>size</key>
			<integer>13639</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>c4e394ba61df47da8233eca437606c44786d11c8f4bf2a4b85b49ffb72750e93</string>
			<key>size</key>
			<integer>12930</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>3fa6d8d0dce2281fe5734971586c300c405ffac677cd9428496b45bc82063d8e</string>
			<key>size</key>
			<integer>2315</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>82fc2cb3f554c99559daeb713ad11fe74ded50813a5a035341a97b092ad68271</string>
			<key>size</key>
			<integer>13577</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tk/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>07ca7001b22446fc755debd80db533c2e61c4e0b0e15f5e646a5a3805cfd6783</string>
			<key>size</key>
			<integer>7474</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>0405bf87a67bb3310e72a622246b61e067854616072c76c1a634e0130cdd1a21</string>
			<key>size</key>
			<integer>10345</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tt/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>74d26c2fe263af8ded79764f5621c9aab269c68bb81854e91b05f12f22ecc306</string>
			<key>size</key>
			<integer>7904</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>355c0aa024f8bd6cf696b79605c96d4575cd1afa5ad66e0b6ce7c0aa6460659e</string>
			<key>size</key>
			<integer>11326</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>beff43a8e53a688658df26d5e1842c41609290439c9bd0ca81290ac877622961</string>
			<key>size</key>
			<integer>13243</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>7819a1dcfac915dc00f5450bf65b618b5ff13510912b0ad328ef71ee323919d7</string>
			<key>size</key>
			<integer>10947</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wa/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>2f6228b57bab0a199dca52be14424884d25f4e1d401bd15e229c2d3f45e33f7b</string>
			<key>size</key>
			<integer>3762</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/xh/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>5c9b02f8fcb702405d29e99d48bac883aae302d4866537130abef530e07f19bb</string>
			<key>size</key>
			<integer>8339</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/yi/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>44fd8579e71ade080cc52fbc66ed4d03bb8e59b47f9157d0fc1bf834423af645</string>
			<key>size</key>
			<integer>1712</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>a87b1655da12f81ab1190873ecf33915cce0e1933a89a1e5f48377b3cfc4a92c</string>
			<key>size</key>
			<integer>9492</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>6d402ec859a1ff437307956a3ea0b4a4e2bfd948ed5dd1ba58e7e35ea1d18716</string>
			<key>size</key>
			<integer>9615</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>c8e456e72d9bac062bd6791b51b6e31f4d4464c60add762049b678569a872fde</string>
			<key>size</key>
			<integer>9623</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zu/LC_MESSAGES/atk10.mo</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>ffe1231c35c211ee7e5bece18260dedbdd428912b18e7448412fcd70dc2d541f</string>
			<key>size</key>
			<integer>5998</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libatk-1.0.so.0</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>target</key>
			<string>/usr/lib/libatk-1.0.so.0.23609.1</string>
		</dict>
	</array>
</dict>
</plist>
