<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0/atk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gir-1.0</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0/atk/atk-enum-types.h</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>62a027b6db50fb72244f7e14d05d708b02d7e08a9035ed3161f63667d1f9ed1e</string>
			<key>size</key>
			<integer>2469</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0/atk/atk.h</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>0a53e47b962cf0ba9c4319a1ee1ad343ca94a2e9ce93d1d9e8d25438496317a4</string>
			<key>size</key>
			<integer>1908</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0/atk/atkaction.h</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>3cd195bdf073217e63217f4a3a867e3c3afd03b10d2a91ec9cbaca91db25c696</string>
			<key>size</key>
			<integer>4954</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0/atk/atkcomponent.h</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>904a167af0a81fcbe6e2b71b3a57e680cc7218336fa21688799b114e6e0d6dbe</string>
			<key>size</key>
			<integer>14031</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0/atk/atkdocument.h</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>bd9e3040eed56109b1d24b315f88bc530829a1c7d0e432e0fbfac3e763b0a29c</string>
			<key>size</key>
			<integer>4976</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0/atk/atkeditabletext.h</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>9f17f49db0bdf2464adae7f02fb34a7157c8aff7cbcf69a991ebf1ed3207dece</string>
			<key>size</key>
			<integer>4957</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0/atk/atkgobjectaccessible.h</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>16f31f16a36fbe5c2108a3e8c9e8b110192903fedd9de8acf8c24836a928ff40</string>
			<key>size</key>
			<integer>2610</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0/atk/atkhyperlink.h</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>2d8613516a18b8e317ffbe6b90077a9abcfaa2a8f4f21a7ae1900d7e32f8b99f</string>
			<key>size</key>
			<integer>4157</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0/atk/atkhyperlinkimpl.h</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>d41ef016991cb81327634780972464177198f868ebfd33dd46c579c535edec04</string>
			<key>size</key>
			<integer>2448</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0/atk/atkhypertext.h</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>312440e74a8b28afb460e3ee0a296aa7e1d7df65b1a630e014c5bf46d9624d3b</string>
			<key>size</key>
			<integer>2943</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0/atk/atkimage.h</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>637242cb065309f3601326abce0d5e4e39b801dfe159831a35b0284e48817e8c</string>
			<key>size</key>
			<integer>3630</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0/atk/atkmisc.h</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>7349f045c7f1905ed1a1a97384b4bf4178b46eb12d7d63d1cea198e987721c56</string>
			<key>size</key>
			<integer>3635</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0/atk/atknoopobject.h</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>5cd09688177b26d4f29d74d6ba39177889bd6c108c1e0117811900555197c851</string>
			<key>size</key>
			<integer>2174</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0/atk/atknoopobjectfactory.h</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>b4c62c219ad79186b814022d1ddb75514624d8bd1fbc4de1614fbe250bb3a138</string>
			<key>size</key>
			<integer>2376</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0/atk/atkobject.h</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>97ba71160a7b3f3dad0144d76cb71d6cbc33acada25e276ff52143d15b57f8ca</string>
			<key>size</key>
			<integer>40484</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0/atk/atkobjectfactory.h</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>2f5cbba23ecc1266f82b743b2311e08f431e1597f3b6c6ad10c98f6b11de43ca</string>
			<key>size</key>
			<integer>2720</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0/atk/atkplug.h</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>d818c8c3533b0ba823a1ea8f22923b363bab500eca60019fd7cfa6fe9f2a9155</string>
			<key>size</key>
			<integer>2215</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0/atk/atkrange.h</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>5072be5f888ec0bea6653c3fd2700f319b1866bafde33cb18cd7e42767b4c7d9</string>
			<key>size</key>
			<integer>1982</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0/atk/atkregistry.h</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>4569037b16de5bb3eef63319580f171d891b30f8e0e530d0b90a3aa3924f8b3a</string>
			<key>size</key>
			<integer>2699</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0/atk/atkrelation.h</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>5b0c3c5800131801501ed86bd6d4ec5918b676829717dc953c3da0e7c4ef4331</string>
			<key>size</key>
			<integer>3726</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0/atk/atkrelationset.h</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>0f5d2655eb78304cc7e00acf555c26c9f4a263e9ab3afe29004c9e445e90b08b</string>
			<key>size</key>
			<integer>3790</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0/atk/atkrelationtype.h</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>d50959f17e9c588a7165ecb6873ff55607b1d8420b405155d0168e4f4a5b481c</string>
			<key>size</key>
			<integer>6226</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0/atk/atkselection.h</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>1a9fba16e5d0764d569b994daaa249bb4ecded37cea1d6b2331c2b2527428efa</string>
			<key>size</key>
			<integer>3917</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0/atk/atksocket.h</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>d325fd74c6f9abb5aae5c78b65d5d55c40af725ed36c5094e5017ceb0203b773</string>
			<key>size</key>
			<integer>2348</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0/atk/atkstate.h</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>d0fa643cccc91356f279fe01804861961410df9504a959a44acc94700629a2e2</string>
			<key>size</key>
			<integer>14417</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0/atk/atkstateset.h</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>1f28171a2e8428bd1e5330b3ee75e22677f9469f36389c3d7c6ef01d7e831e18</string>
			<key>size</key>
			<integer>3749</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0/atk/atkstreamablecontent.h</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>9f76a6b0ddf72c5206ff15883f13aa8dfe4a4b287b701e905a5296b69aecaee4</string>
			<key>size</key>
			<integer>4856</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0/atk/atktable.h</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>f93f805170379e9c9862c3618b17240ff4377ddc227189b10645f3cec8fed0e3</string>
			<key>size</key>
			<integer>12805</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0/atk/atktablecell.h</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>f42ad06942ab8de981cce500ebef6beebfd4329748fafd6abb375e6185e3409f</string>
			<key>size</key>
			<integer>4671</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0/atk/atktext.h</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>bdf23f6e387b3fdf4846585bc9b7232109b96aeb0bad30e099ddfad89f244fae</string>
			<key>size</key>
			<integer>24342</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0/atk/atkutil.h</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>08a2713c8bc6501819d08c60767be0e14b5becd62734e388531605b5390eeb02</string>
			<key>size</key>
			<integer>14675</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0/atk/atkvalue.h</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>9bcfaa33bdb21f4765349f9a2139c912e103156cacb3f42c88321761e1734eb1</string>
			<key>size</key>
			<integer>6182</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0/atk/atkversion.h</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>840baeb80939bbb84e80bec9adbc3abc1f6c4daf717461b13b9ae056c54411fc</string>
			<key>size</key>
			<integer>13870</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/atk-1.0/atk/atkwindow.h</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>9265e1b7054af8fb8dd0566b52c734f67083cdbff98c2f2ffa4ed0359a349c0f</string>
			<key>size</key>
			<integer>1821</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/atk.pc</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>1dca3c68c868861778e68748c3b1406a194664871e41182955b70c9beaef6f92</string>
			<key>size</key>
			<integer>238</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gir-1.0/Atk-1.0.gir</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>e1be1d68a29b8afdef444c26e541c8b4fd97426685b4acd46f400193c6e4a570</string>
			<key>size</key>
			<integer>1080691</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libatk-1.0.so</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>target</key>
			<string>/usr/lib/libatk-1.0.so.0</string>
		</dict>
	</array>
</dict>
</plist>
