<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal-1.16</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal-1.16/internal</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/Automake</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/automake</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/aclocal</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>2b2e70083c12e60f1819a7937fc795685d727748e12027749af29ef1a057d7e1</string>
			<key>size</key>
			<integer>36377</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/aclocal-1.16</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>2b2e70083c12e60f1819a7937fc795685d727748e12027749af29ef1a057d7e1</string>
			<key>size</key>
			<integer>36377</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/automake</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>5cd44fd5ff09b991c8e63f613f3f331766d58281e0621eb81b05942ef4b9ec19</string>
			<key>size</key>
			<integer>257982</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/automake-1.16</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>5cd44fd5ff09b991c8e63f613f3f331766d58281e0621eb81b05942ef4b9ec19</string>
			<key>size</key>
			<integer>257982</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal/README</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>c66ef355b4ae47c43f59701cfd38bb9573ddd6a84d9033eac52ff422762562a7</string>
			<key>size</key>
			<integer>368</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal-1.16/amversion.m4</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>f0d6e0ce71af7be8ce60806b571f943d8c03ef3ccbf209e1e2b1c5fbd4a26c16</string>
			<key>size</key>
			<integer>1617</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal-1.16/ar-lib.m4</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>b397969915433b3d853bfc5ed922bf9b7ae742c6183dee6a8ad85a3a2cec5e0c</string>
			<key>size</key>
			<integer>2066</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal-1.16/as.m4</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>f3e0ad8d4c8ee86ea1a5e25d25fc3e5fb7c6ed0923b0ce6fa2812d0f2821a2b7</string>
			<key>size</key>
			<integer>767</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal-1.16/auxdir.m4</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>e35d42843bcc875f4a322224749fa2a4f83dcc2dfde062d672dc61e2c61d22c4</string>
			<key>size</key>
			<integer>2407</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal-1.16/cond-if.m4</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>1dbe8fe46663972b438237800e81fb9e99e3c4bc24b693e11698de517d456bc5</string>
			<key>size</key>
			<integer>1030</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal-1.16/cond.m4</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>b5b043b396e5646e1116fcb78194ee7b6ef38bf35b8c6b1fd9ef08bdc0bd51e7</string>
			<key>size</key>
			<integer>1036</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal-1.16/depend.m4</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>d34aaff9afc7e663bf09e9ab2f3d147f29f6114d811dcaa27a1ba681f0aec663</string>
			<key>size</key>
			<integer>7281</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal-1.16/depout.m4</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>e48c2089dfb2ffa800dcaf7bf249a9a1e914e195a5c016950ee7f34811e1743c</string>
			<key>size</key>
			<integer>2772</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal-1.16/dmalloc.m4</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>cfcc4670233ec2375ff337a9f975f65161c7f0fcca2c81319d8864831e7aa9db</string>
			<key>size</key>
			<integer>906</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal-1.16/extra-recurs.m4</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>09ac11564ab6a5e593fa1e22fbb646d11f73bceeb31f3e46faef2f7d3e83b2a1</string>
			<key>size</key>
			<integer>738</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal-1.16/gcj.m4</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>474be10d55497424aa905283ee8763826c8fe8655c5bb308a211c7791841a3da</string>
			<key>size</key>
			<integer>649</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal-1.16/init.m4</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>6fad9c25c8a9c749630e3f46cb33e3aa869eb10138b9bd48987ff251d84b4809</string>
			<key>size</key>
			<integer>8032</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal-1.16/install-sh.m4</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>9fbc3a8f0346dd3eb218e01277960c7a7a6546c038598b70b5f384f99849cacd</string>
			<key>size</key>
			<integer>681</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal-1.16/internal/ac-config-macro-dirs.m4</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>fef96229adf2ffef6ea42cc146683e596c52e5b563f559eb1484d8b54dcd511a</string>
			<key>size</key>
			<integer>667</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal-1.16/lead-dot.m4</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>932633e3978abfffcbacc7809a81aecfa7b17d0eef9184918b85cee926ae24a5</string>
			<key>size</key>
			<integer>641</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal-1.16/lex.m4</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>fc9cbc7f51630f1984848b6f57a6160d1e7fc26720c7ab5f8da3a3667b585732</string>
			<key>size</key>
			<integer>689</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal-1.16/lispdir.m4</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>71b1626ff5e4d259fd2a697314a12677a6979e2b7c10cdaa9eb60e94a4f54f7a</string>
			<key>size</key>
			<integer>2152</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal-1.16/maintainer.m4</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>0a30d5d8c3aa9b54c7abd256359080dbbf0263241568b23bb6671d81eef5856b</string>
			<key>size</key>
			<integer>1656</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal-1.16/make.m4</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>fcdb23719eb248bab0ecebcab8f1742c82124504043a501fcd9cab22f54b0a2c</string>
			<key>size</key>
			<integer>1434</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal-1.16/missing.m4</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>cfa817f2b94b560fe812feebcef199badeb213c0c017588e275e694936317408</string>
			<key>size</key>
			<integer>1155</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal-1.16/mkdirp.m4</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>e7de8f911e2cd7662c2f2a006c78dd7f7b61f5b7cef3c506c36c5d84e07a7fcc</string>
			<key>size</key>
			<integer>1349</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal-1.16/obsolete.m4</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>cc2d8f5757389e465c384f25510b496acafbece04d3b57732373e9a469c79bef</string>
			<key>size</key>
			<integer>1008</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal-1.16/options.m4</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>3265a5b7bac39a00e5c6d143ecd6937a66964f41cb04c7921fea17c74e612a58</string>
			<key>size</key>
			<integer>1090</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal-1.16/prog-cc-c-o.m4</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>794fad107a2de449338e339bdb8eece3aed3fcbfb1862e0e6e501248c2c645b7</string>
			<key>size</key>
			<integer>1691</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal-1.16/python.m4</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>7f6747b76583d4efb3b1227121d6e6a885ac28c3d3fe2a12ee2aa83f5cf8d8ce</string>
			<key>size</key>
			<integer>9157</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal-1.16/runlog.m4</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>c5e50005afb4f3dca82eae8fa884d9f49b5392caeb14e423a60484f39de77e2d</string>
			<key>size</key>
			<integer>718</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal-1.16/sanity.m4</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>02305cc0f35192a44d973aff0179fec1901c7a0d43c31a618024682e4a50863c</string>
			<key>size</key>
			<integer>2646</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal-1.16/silent.m4</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>b3d3f2d4f7aca00505c9115395c6b8a4f6b64b6c0c41675560e796406df76965</string>
			<key>size</key>
			<integer>1911</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal-1.16/strip.m4</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>ad1481b1632e33399e2874030737cfa7a5dee8115a3f4a1a72a768eff764f019</string>
			<key>size</key>
			<integer>1392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal-1.16/substnot.m4</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>2fa3be253f01cd90b2b465050227be1e731324590f3c612415a4b332ae22e5cd</string>
			<key>size</key>
			<integer>675</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal-1.16/tar.m4</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>a6a194975d1ef551822351579343c5e3fa320c8301a134544091c65c903aa477</string>
			<key>size</key>
			<integer>4471</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal-1.16/upc.m4</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>a36fe88b58adb99d4fc8beaf29539b1c95dbbd6cdca35902c0e132b1c801a4a2</string>
			<key>size</key>
			<integer>836</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal-1.16/vala.m4</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>e9032c5030dcc19e07bf313e7ec74cce4f13f41b449ae2d2a4685e55b9da6a52</string>
			<key>size</key>
			<integer>1655</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/Automake/ChannelDefs.pm</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>e7fe36d6e33f3a72326c9e3b77f19c10fca42959953fcca9d929b703c1e9810e</string>
			<key>size</key>
			<integer>10759</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/Automake/Channels.pm</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>dc216df007677b914dc42ab128d458f074f2b531bff134582f76636705f7fc62</string>
			<key>size</key>
			<integer>20473</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/Automake/Condition.pm</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>99f1131ba238df472b93981c314ac2602f4c35c69c9a850dcdf19cf51d3296d7</string>
			<key>size</key>
			<integer>15179</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/Automake/Config.pm</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>2efa8b7877df536c10a4e9edebb998c64c3e17152c08e3529bf958b098ae2447</string>
			<key>size</key>
			<integer>1496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/Automake/Configure_ac.pm</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>7a894de3732b6a8e1ad357de5f37384de389d0d5442b43222bd436f5296cc4bc</string>
			<key>size</key>
			<integer>2976</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/Automake/DisjConditions.pm</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>58f8b65196aefe9db3857ade3d7e3ab99003a67e45fa18120f1e9a7312250253</string>
			<key>size</key>
			<integer>14309</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/Automake/FileUtils.pm</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>203f3ecd668ed2386b54717189372f5dae574ec5ca965430b58b07d926a015c4</string>
			<key>size</key>
			<integer>9100</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/Automake/General.pm</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>3354d88c053bdf879cf3c268dcb1a3dbaa92e7aa0971b4d4348bf64154265b7a</string>
			<key>size</key>
			<integer>2029</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/Automake/Getopt.pm</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>2ec1bc4487ad974f39458706aef1b3a5799c6fa1e8c3244ee159306593afe580</string>
			<key>size</key>
			<integer>2297</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/Automake/Item.pm</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>cd867ab1e521cb25d2373e85d607987145561fad9d94134b7316ab8ff1d4c642</string>
			<key>size</key>
			<integer>4131</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/Automake/ItemDef.pm</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>fd8c3304c9e6d8181577fd2ecfc16052a01ba473516fe8537da319767da8c4b2</string>
			<key>size</key>
			<integer>1976</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/Automake/Language.pm</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>dbfdd4ea3f69f293a35eb2143978172c306fe170c60470585df316b10e9b8d8b</string>
			<key>size</key>
			<integer>2811</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/Automake/Location.pm</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>70611594858da766267267201bf02ba8be5f19f3a52905f3df53960129c8b820</string>
			<key>size</key>
			<integer>5501</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/Automake/Options.pm</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>d5c0ca000d05262c12e3ab3a2050a83dfbcf1649d979ab695e2a4005fb0c17e4</string>
			<key>size</key>
			<integer>11480</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/Automake/Rule.pm</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>f860c0e823353751a8405f788cd931c95ed7f734fce2a9bf738de148a7fb242c</string>
			<key>size</key>
			<integer>24175</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/Automake/RuleDef.pm</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>9991a192eb67e89a3af4170279589bc6003ca7da1c3667c68dd227dac3796970</string>
			<key>size</key>
			<integer>2280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/Automake/VarDef.pm</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>c9993b9029b495608d2a5d16cd864b1dac65aa88647aa0278c06377ace7cae5e</string>
			<key>size</key>
			<integer>8561</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/Automake/Variable.pm</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>15fe535d0879c4ae436c6bcdb816d63447b82e86983036f5b2b6fb4ae442c711</string>
			<key>size</key>
			<integer>45975</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/Automake/Version.pm</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>89266661054e5e5080903985ee8775652339a20d89f609715c1a917afe166ad5</string>
			<key>size</key>
			<integer>3871</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/Automake/Wrap.pm</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>db0e6939eab91a071e867a04b44500396291abd2075e09c4bae4b83489507fc5</string>
			<key>size</key>
			<integer>3733</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/Automake/XFile.pm</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>4438539e6958be42913bdde9c28c6ccb72974df03176fe9988b52076a0fa2bc7</string>
			<key>size</key>
			<integer>7463</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/COPYING</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>3972dc9744f6499f0f9b2dbf76696f2ae7ad8af9b23dde66d6af86c9dfb36986</string>
			<key>size</key>
			<integer>35149</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/INSTALL</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>54be5efe708bd5a7b433ab227130c5548221151698d17eb7eb142f640cf291ec</string>
			<key>size</key>
			<integer>15756</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/check.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>ca3437d47ed2464b58252dd05e990cebee730c0f5d2493aac4fc7f806703c24e</string>
			<key>size</key>
			<integer>22146</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/check2.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>7653bdf538e0fd579a4f7c62f37f3c8096f9df2adaa529f1ecc8f4d882a6464b</string>
			<key>size</key>
			<integer>2196</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/clean-hdr.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>ea454360c1af5a3966ddd8bbe32ead2cc56b9a02bbcf611129c15e5759ac869f</string>
			<key>size</key>
			<integer>819</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/clean.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>500276fa9e15296cd90aeacdb1705f72415b13b53db15f04ed9d788105d32c4c</string>
			<key>size</key>
			<integer>2332</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/compile.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>09dd88d14f6fcf540d7efcd91009176f2f97e7165f983c2e2d84b0f879ab2011</string>
			<key>size</key>
			<integer>1011</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/configure.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>51577e525e5d88152a0a3d1b91e25f36d4d3cc556e7e787dc2a805ba1e06b442</string>
			<key>size</key>
			<integer>6877</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/data.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>9deba22ffd3455a6d63981f75565b256cb3932d220db4e37c474e93fa1c019be</string>
			<key>size</key>
			<integer>3399</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/dejagnu.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>c2f46837f129541c6f9a6da177c1fc09d5f80e988840905cddc261615f83319e</string>
			<key>size</key>
			<integer>3668</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/depend.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>ea2fe80a4e51f47be13eb1cd8b06f9968a555f82f05c4b2f5dcd844ede4aee23</string>
			<key>size</key>
			<integer>1190</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/depend2.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>51310c8798c469e108ecb272aff9fb48a592dc455e02ab308e175e3c2b6c4cea</string>
			<key>size</key>
			<integer>6092</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/distdir.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>010e4806fa87d9daac003919d2f2cb537148fb2af3a9521600d67519fe3ce994</string>
			<key>size</key>
			<integer>22589</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/footer.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>62da3dee286d6b5665a500d8d06848d244de89c36f3bab02ddb099f91ae4afe6</string>
			<key>size</key>
			<integer>882</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/header-vars.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>8a3bffae7a9c5c2e285274723d6f8bec7cb818a66f96643308f0bc885cd7e27e</string>
			<key>size</key>
			<integer>6391</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/header.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>2f6d5b2517f9e67e0709e0ec7c8207c4e799daf6f442395d3e6c97979baad60e</string>
			<key>size</key>
			<integer>787</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/inst-vars.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>450d1cafac96971dabfad92853019e70ace96f0bb13fbe9bf664f4e4a5601256</string>
			<key>size</key>
			<integer>3473</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/install.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>63b5c51f4d79a39032d1f0da85e016bd1fa1212885674327eaa5143453470339</string>
			<key>size</key>
			<integer>3994</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/java.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>dbc77fe08597b98c3c95c3dc4c75def9650af1698c85eacc52e52847c114a18f</string>
			<key>size</key>
			<integer>2861</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/lang-compile.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>0ea300a3b898936532dbd639485a1faecfef1737968557308f903b0aaa718ced</string>
			<key>size</key>
			<integer>1198</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/lex.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>e38269c1441df82b7f8111a57d571671ba592fe4efbb5f5fd9cbf97f34957cdd</string>
			<key>size</key>
			<integer>1324</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/library.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>dc9f10074c2e0c0bb2e1ac7f1f3c0c8b9a6712bc046e71f945cefee84181daa0</string>
			<key>size</key>
			<integer>977</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/libs.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>e151f7162aeab667cbd2f495e01b864c84b8c0a545a858424206f03136238b72</string>
			<key>size</key>
			<integer>3890</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/libtool.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>6c3d5773995dee3afea9c34a150244a70ad6dc5e320e5c5792da7f213ca79bc3</string>
			<key>size</key>
			<integer>1031</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/lisp.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>5d81a09d80bf536aa7481b4ac6f9e4f210fb8e65000a068684739ad68717dd2d</string>
			<key>size</key>
			<integer>4981</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/ltlib.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>eacf70d90a3890dad1afa6405bdb3357436803ab255cef964d9fdc46ef8bbea9</string>
			<key>size</key>
			<integer>4994</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/ltlibrary.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>d9ee7e64891a0976a96b80c131efa57c5c306f948dde76cd78f3ec90a6091fc9</string>
			<key>size</key>
			<integer>934</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/mans-vars.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>4118b75d65b24a807f3fd7a018522c0a1d8300ada43c1b8ab02668eddaf3428c</string>
			<key>size</key>
			<integer>858</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/mans.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>064e250ace4f33b870685c985ab7a94049328b3b4548e7ec92d218f667d2808d</string>
			<key>size</key>
			<integer>6494</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/program.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>01efd7750c3a758c3d4dd891068137232a6d1cfae5cb096974ebe9065bd61b73</string>
			<key>size</key>
			<integer>1232</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/progs.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>dda32272b9e457428d424a9563381c8d479202e80c53189e606c1c91c40e69b8</string>
			<key>size</key>
			<integer>6391</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/python.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>5c0e487dc3feca18c631906c44cd26cc7fe81dbdbc1cc8effabcd36b54903281</string>
			<key>size</key>
			<integer>5064</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/remake-hdr.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>fc31f81c5ca6db3c9aaf5fd21f0fdf044efc620d6a9e29f7be20e1a89db013af</string>
			<key>size</key>
			<integer>3219</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/scripts.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>9c6ed2aad4a12f5b16a5bec7e463fa72c90b406d2db38280e8f496d6eade1318</string>
			<key>size</key>
			<integer>4714</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/subdirs.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>b17a662e18197161bf818a66ad679c9bb0655a30554ab2f621fb5e276aaa555a</string>
			<key>size</key>
			<integer>2868</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/tags.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>5f00f1ab4b2934e93f2f81be17242f52c61e6a1a5b8d0c79801b95c124657810</string>
			<key>size</key>
			<integer>5162</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/texi-vers.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>837730e1255747cac8c44d21d9feb5b05412a403f86ee0f86b53faface455dd1</string>
			<key>size</key>
			<integer>2473</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/texibuild.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>3be122c9dce76c571a8af01b4db303f82efc48f617a80b5c9a2626253f19d615</string>
			<key>size</key>
			<integer>6330</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/texinfos.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>8cddc42705eb49784c02abf483b13e2febf841800df0eb98aa90bdd6fbc61e9c</string>
			<key>size</key>
			<integer>13440</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/vala.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>aa2d7bbd05133ef28beac79c00373874cb42d781f9a20b7d426c74cf39f76677</string>
			<key>size</key>
			<integer>769</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/am/yacc.am</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>3de140d6248ba47bb91a052561953811d1938b5fa62c75b9047b250da27edc49</string>
			<key>size</key>
			<integer>2405</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/ar-lib</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>38578b4c99bffc24ced4a35b9f6d7e2dc6ebf7cddca2c7ceae120ed12d80830e</string>
			<key>size</key>
			<integer>5875</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/compile</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>1b643a22784ba0da62eb09bccb5f4da476f7e5aa2250b2fa488538564539b11e</string>
			<key>size</key>
			<integer>7400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/config.guess</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>3512ebcecded7cd11e6ce5594accf315ed1c582310fddd00cafcd4bb9c0218f2</string>
			<key>size</key>
			<integer>48875</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/config.sub</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>fda8e5ddb44c25e3b813d3c67e2744e9e3aedac8b3304934644d81c88a698b36</string>
			<key>size</key>
			<integer>34072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/depcomp</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>b31b449b11f40156b18d2e2a989d78ca3f89be0b96ca0a160455b3299b82d2e6</string>
			<key>size</key>
			<integer>23568</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/install-sh</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>c2fd71953b47c19c62db69cbf739504aca8b47a40dbdc8c83bbc4cc7664a1779</string>
			<key>size</key>
			<integer>15645</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/mdate-sh</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>4e8fa843d3195a6e14ff129e1b92cbd23b2476c4c6403d15a83e8783a0ef3c8f</string>
			<key>size</key>
			<integer>6106</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/missing</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>7b3b653a3b256dec2d25ffaa12ce557dcade2b8fe57c969b3e53f025a5a806a4</string>
			<key>size</key>
			<integer>6878</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/mkinstalldirs</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>9e1766ed7a2acebb516f51968a67090d40e61496e7e6d407c336b824d3f11c65</string>
			<key>size</key>
			<integer>3539</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/py-compile</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>b74e699344c4417065bce833d74d96fc8c874dc963e68d13f7577ab25253ef4b</string>
			<key>size</key>
			<integer>5236</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/tap-driver.sh</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>eb909eb13f797fcecfd959cdd39b1466b56e0f3278fc317f8b32de6099771b9e</string>
			<key>size</key>
			<integer>19467</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/test-driver</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>aae2bfc21c6037792574eb6ac8d0faa0bb3719ddb9b7f05dbe7650ef77c37ffc</string>
			<key>size</key>
			<integer>4642</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/texinfo.tex</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>838b43ddf0ac7972632636edc585ae96c92cd0e7c83b5f0ab0456986576f365c</string>
			<key>size</key>
			<integer>376807</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/automake-1.16/ylwrap</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>f8bd7901b53dbd3a3cb823ad2766639ca19341555b12c189d206b20b84695dba</string>
			<key>size</key>
			<integer>6860</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/automake/amhello-1.0.tar.gz</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>dacc0cb14dc043e58eb15bdeff0c1869668316c4ff464a98764db994d14d2a38</string>
			<key>size</key>
			<integer>82973</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/automake-history.info</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>3aefa09efecaa45777ceb3cef26105b5721e321f2dc6dfe6cba1a9e632903ce9</string>
			<key>size</key>
			<integer>78364</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/automake.info</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>209f15c8e0c7ff4d2fe9af4fc95e3b73fc8fc71e7c759b28297a7d2e680888f9</string>
			<key>size</key>
			<integer>7660</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/automake.info-1</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>5f6972d0f904d7f3002624a853453e8045f583c0d3012be5ed8a74d68cd9e2dd</string>
			<key>size</key>
			<integer>300760</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/automake.info-2</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>3321e1f56c182404c03f34108a0ee050c2f838cac693980affff42563a75ef5f</string>
			<key>size</key>
			<integer>327929</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/aclocal-1.16.1</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>d52e0e258f381c954d8011a4c233cff4432d9614211083124892ee8ca0197efd</string>
			<key>size</key>
			<integer>2426</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/aclocal.1</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>89a98e0f2884bf7e8ad3e125ae8c6d93abb077825037b0805a58994bfd4af616</string>
			<key>size</key>
			<integer>24</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/automake-1.16.1</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>4579e9f9b83924108cbe89aef6b80416ad7fd75efe4989ba11a7320095a32eef</string>
			<key>size</key>
			<integer>3606</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/automake.1</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>c9a27175629a8e84aab85a334823ecb429a94c602d028a9614fd44cbcccbef27</string>
			<key>size</key>
			<integer>25</integer>
		</dict>
	</array>
</dict>
</plist>
