<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/gnu-bc</string>
			<key>mtime</key>
			<integer>1582637073</integer>
			<key>sha256</key>
			<string>80b53588829bd8b9dbc749adc5a39f3f4da8ef1337f3373493be44b5e71ac1c4</string>
			<key>size</key>
			<integer>92944</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gnu-dc</string>
			<key>mtime</key>
			<integer>1582637073</integer>
			<key>sha256</key>
			<string>64bfb49a04e54fdf952e7b66ff3b8c92ec0a495e484a399d8533d50d5c13273b</string>
			<key>size</key>
			<integer>51360</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/bc.info.gz</string>
			<key>mtime</key>
			<integer>1582637073</integer>
			<key>sha256</key>
			<string>0f249cec77afee55f735d6c872037968cff4f6bed900fdf7683daca8240661d3</string>
			<key>size</key>
			<integer>12488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/dc.info.gz</string>
			<key>mtime</key>
			<integer>1582637073</integer>
			<key>sha256</key>
			<string>3fa7dbb1a83e4508080126aee09536a1b987c13e066dd4ce991cbb8066edf62b</string>
			<key>size</key>
			<integer>6278</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gnu-bc.1</string>
			<key>mtime</key>
			<integer>1582637073</integer>
			<key>sha256</key>
			<string>11465eeffd289227809769e49616f13d8e5405dfc23dcf5b932ff45f06f44db6</string>
			<key>size</key>
			<integer>35704</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gnu-dc.1</string>
			<key>mtime</key>
			<integer>1582637073</integer>
			<key>sha256</key>
			<string>8f96bed22b2c259c042a0cc3fbb3c560db96894e40e71600c0ac999125dceec6</string>
			<key>size</key>
			<integer>13747</integer>
		</dict>
	</array>
</dict>
</plist>
