<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/share/info/as.info.gz</string>
			<key>mtime</key>
			<integer>1613166650</integer>
			<key>sha256</key>
			<string>b61ebe0080de142fe131ebb0f2222cd84d41b203aad2398cc6c03dd820ef45d9</string>
			<key>size</key>
			<integer>294047</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/bfd.info.gz</string>
			<key>mtime</key>
			<integer>1613166650</integer>
			<key>sha256</key>
			<string>35ff7f8f1cd63dcfb7ce76c09ae1923e936d6bc20264993608004903eff482a9</string>
			<key>size</key>
			<integer>132202</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/binutils.info.gz</string>
			<key>mtime</key>
			<integer>1613166650</integer>
			<key>sha256</key>
			<string>a080863cffae3bd6a14387145ac852853bfd5db6e3ecbf8f293cfd4347923e13</string>
			<key>size</key>
			<integer>66611</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/gprof.info.gz</string>
			<key>mtime</key>
			<integer>1613166650</integer>
			<key>sha256</key>
			<string>0100809073f37b839699808e6620ea08bce7e2b7c04345deb30f15ec26740094</string>
			<key>size</key>
			<integer>34090</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/ld.info.gz</string>
			<key>mtime</key>
			<integer>1613166650</integer>
			<key>sha256</key>
			<string>c5b2d8f58e6d373bf7d764aad8f918d0de97d28e70d61b7001a3c3607f0b81cc</string>
			<key>size</key>
			<integer>116829</integer>
		</dict>
	</array>
</dict>
</plist>
