<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/config</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/core</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/magic</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/modules</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/plugins</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/binwalk</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/binwalk</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>ec39ef9d70b7cf89fd18f2011842268b4be4748866115dc8c42ec13b39a604f7</string>
			<key>size</key>
			<integer>2331</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/__init__.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>54b601dceebcc93be6acb8efb34e45a04b816cf8a93662865479b18622eff2bd</string>
			<key>size</key>
			<integer>455</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/config/extract.conf</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>27f7df2d64e26b04e6b8929be2ba656f367bbd45692d8afcf9d29e3c0bf1bf6f</string>
			<key>size</key>
			<integer>4266</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/core/__init__.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/core/common.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>397bde96cadb35f07825c914cc3740817bca2f0e8af34bcdb431d51f941ffb2c</string>
			<key>size</key>
			<integer>16822</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/core/compat.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>df67011051201070afa504a2d02d5e7c527ac77a13ad06410406e4495a555639</string>
			<key>size</key>
			<integer>1998</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/core/display.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>240d753b69657b2682eaf0b5d2c2222a4cf8499a1ad76cfc9e9e307390666294</string>
			<key>size</key>
			<integer>9081</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/core/exceptions.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>9a1ae8caef0d4213cdd5df016180f999f6377a39893f2338018987f2bf492f1f</string>
			<key>size</key>
			<integer>475</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/core/idb.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>252eaa16f5b3378f54c7f82027944d3c3097d02a32e202ff3f6994f9ea65382c</string>
			<key>size</key>
			<integer>4363</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/core/magic.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>7f257b8bf36b6c966076184d6123a1d180463a90ddd09a5aef198bd870c5ece9</string>
			<key>size</key>
			<integer>38861</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/core/module.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>b1e34fa5224d8b63ab1dcbc1971b493a34a5d144f21a0850b113daeb3dd27119</string>
			<key>size</key>
			<integer>34200</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/core/plugin.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>0aa1bf710a349d110acb858c904239bc45302bc230a2bd17277c6f80fef4f18a</string>
			<key>size</key>
			<integer>9715</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/core/settings.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>40b8a037ad1b4f33f47dcf2a7418dd956fcae6fa8c7863799398ea12f802bb76</string>
			<key>size</key>
			<integer>7389</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/core/statuserver.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>3943c754c18c8ce6ebc9c3159f1c57038594c6d23c0ba7050d1ba79838cb5de7</string>
			<key>size</key>
			<integer>2678</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/core/version.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>7cf76dd89f45d3f29b768a4f0aed8a18cbab9a24e485c145c82a1817d7e8c688</string>
			<key>size</key>
			<integer>70</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/magic/animation</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>9135ab920143b95695953a7046d818405ffb39e90aa46fee991d148730c6a5e2</string>
			<key>size</key>
			<integer>850</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/magic/archives</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>a7a6699551c1dff7085ddf28349e878bf93636eb3656580ef9e5ed9c8b61c4ae</string>
			<key>size</key>
			<integer>15651</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/magic/binarch</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>17f22a9f34a186b2728198934715eda41af937b11f815cb2734d505116c89e85</string>
			<key>size</key>
			<integer>3903</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/magic/bincast</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>779350c9ae205b762ecbd8110d6a0f22f5ff865c49c24c004372922d96170e07</string>
			<key>size</key>
			<integer>176</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/magic/binwalk</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>779350c9ae205b762ecbd8110d6a0f22f5ff865c49c24c004372922d96170e07</string>
			<key>size</key>
			<integer>176</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/magic/bootloaders</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>46e00790fa4335f309f05ae5a15ab838f190f5bca030a90117e74f0007ca2807</string>
			<key>size</key>
			<integer>386</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/magic/code</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>779350c9ae205b762ecbd8110d6a0f22f5ff865c49c24c004372922d96170e07</string>
			<key>size</key>
			<integer>176</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/magic/compressed</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>5444d57ce10d0c73cd0fe3f6647362f91a80bd72e3b605c85048e5b62e50cfb0</string>
			<key>size</key>
			<integer>9505</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/magic/console</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>53215db54c143b0976d541c23d701e0268852e0a21a91974ff91dbc32928ae47</string>
			<key>size</key>
			<integer>5368</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/magic/crypto</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>5e9f0b34ca1d35485ef55a1bc1a196471016ebd47c1e9c7aecb4bcaa37c840b5</string>
			<key>size</key>
			<integer>6214</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/magic/ebml</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>6213d22ff1cf7b2e4ccc73ec30828a02c0613750d4c5591593ebeba56162f98a</string>
			<key>size</key>
			<integer>395</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/magic/ecos</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>44ab0ee26682f832cd54763f357dd84c54ebdbbcfafafe674d0fa7b0482ec859</string>
			<key>size</key>
			<integer>2584</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/magic/efi</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>1b4bcce9eb1a2846427d30381e0f19aaac654363e8aef8a53b00b0037b74093e</string>
			<key>size</key>
			<integer>4488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/magic/encoding</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>35007c470e77cc66ed9b44d412cc44ca922f6bfef5261349b836a56e4587ec9e</string>
			<key>size</key>
			<integer>237</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/magic/executables</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>856949f03316ffaa704032851898d6e00a0faa51dcc6eeb0474b1e04f28e328a</string>
			<key>size</key>
			<integer>26969</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/magic/filesystems</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>d92f126dacf3837f297d2581a3c64a3f38b57c768d83393c21475487075d3b2e</string>
			<key>size</key>
			<integer>30132</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/magic/firmware</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>79a140e4b05e73fee6c9d294af4b2c1f66355011a211a9a25afa867b39eadd74</string>
			<key>size</key>
			<integer>42367</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/magic/hashing</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>47080ddd79383c0a8e76584a59618a5da09cef8138110394934f9bebe0374ae4</string>
			<key>size</key>
			<integer>512</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/magic/images</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>896c437cdeb26137d0e0f672eef08d85cc7c52ee1886e1948cb254bc20209cd6</string>
			<key>size</key>
			<integer>11544</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/magic/linux</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>eebc15f43be888ccc7b2a276d724cd7fd9e8a22fd8c17aa1c99090562565510a</string>
			<key>size</key>
			<integer>2206</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/magic/lzma</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>5652f82bec1e86502a53c27c3e190ab92c8f78007403f3b2086c355eae2eb174</string>
			<key>size</key>
			<integer>29715</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/magic/misc</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>7de3021f53a19619468074029ac3c277b98f51a94f2ade1871db12ad1c8181eb</string>
			<key>size</key>
			<integer>3813</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/magic/network</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>2edd8813cee1e8d7572df50ad16ddb60c1c2f1f5575ad8a1605662a413482bc5</string>
			<key>size</key>
			<integer>9015</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/magic/phones</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>96f731d742ff54d5a2ff984f20f3d2247fc5b5108a4c0583d42af39dd3c54d04</string>
			<key>size</key>
			<integer>1000</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/magic/sql</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>fd37acf0600feee9a5e3c4f5a3930c7e15cf6a6936643c5bbf4982d920717051</string>
			<key>size</key>
			<integer>2397</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/magic/vxworks</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>cd6720f0bc7475474eaac6d07ddb8f349aedd7fa37253b58f1e248f13ded4ed3</string>
			<key>size</key>
			<integer>10526</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/modules/__init__.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>8eca51ec8047c2cd84ef3bca642f7a04a4e81164e99f6f37829964369874027b</string>
			<key>size</key>
			<integer>542</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/modules/compression.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>b794a6ff3ec861809f5e2b2b8f2e686c7d4aa38529fe9ae1859031f2d1a934c3</string>
			<key>size</key>
			<integer>10003</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/modules/disasm.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>410a3b518b01be76d5330f8c87889bf5f3dd6cc27c39a5c4511e78dbb22cc9e8</string>
			<key>size</key>
			<integer>7684</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/modules/entropy.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>6e41f10c0d3f4ff94ce6bbffc0c17305dcc90b2ecd288672abcd4ba684048e54</string>
			<key>size</key>
			<integer>11215</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/modules/extractor.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>9cdd0f2200c4f454840373b8947562e7a2c418184dea544f81002b61f033637e</string>
			<key>size</key>
			<integer>37456</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/modules/general.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>030a9c58bbd0965fcee50ab675e0bd6f677783946edb9d8c570b8185e215c4bd</string>
			<key>size</key>
			<integer>8189</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/modules/hexdiff.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>202d19e979ec257593e2f016da7e3f5f8a621d873ac3b8826c2ebd452fc33828</string>
			<key>size</key>
			<integer>8217</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/modules/signature.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>c51a97d3fbced97fe52c58bf811eba5e4da0a2e046d77be5fcbc3d3f40b91969</string>
			<key>size</key>
			<integer>7450</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/plugins/arcadyan.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>b32b9752bc0cf883967750f2fb987fb6739338e4b9583ff5b8d34ae96d099286</string>
			<key>size</key>
			<integer>2541</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/plugins/cpio.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>fcd16fcbdea250dd11240f75413d9e069a437df8a34a926db49931686ebda417</string>
			<key>size</key>
			<integer>6035</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/plugins/dlromfsextract.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>87cc08d9512ebc76017083a61befb9e5c29c8f4db61fcd493b8f69cd0b1bf542</string>
			<key>size</key>
			<integer>6784</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/plugins/gzipextract.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>54be13c16192770e6d53c9613463bad6889101afb35cc930be46f7bd8eb5e832</string>
			<key>size</key>
			<integer>1470</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/plugins/gzipvalid.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>b3f019b29e65727481f51d9609b3812177e34d43f4584f5f6f2d9ef987648507</string>
			<key>size</key>
			<integer>1839</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/plugins/hilink.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>0ccc17ddcbca02b839faed92bb297c806ce1ecc2b37ae67bd16cf98753623425</string>
			<key>size</key>
			<integer>3563</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/plugins/jffs2valid.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>cda331c755d94826bca37997b537b793aaa15961269f55558959e621c6c82307</string>
			<key>size</key>
			<integer>1762</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/plugins/lzmaextract.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>ca28a9d90e65ff2c6b025bde5d39ad132c2f55653bd69329dc9b4dc763e5596a</string>
			<key>size</key>
			<integer>2300</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/plugins/lzmamod.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>8643d1fbe2ec48ae9132ab7a41c263b83b04ff66a794f769d896cafa085a3d6f</string>
			<key>size</key>
			<integer>2495</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/plugins/lzmavalid.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>3fcfc6f9f8d3923731c125292d351df7e6689ba19a6c7cf4dd889c898271d7ad</string>
			<key>size</key>
			<integer>2382</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/plugins/tar.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>8d1e6623c487e47e17b69a6f7955712e7d65b8b567105e5ede63aad2c29bdbaf</string>
			<key>size</key>
			<integer>2286</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/plugins/ubivalid.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>90ceedd04206af2a7221b4ded1ccca50a63425feb6c00edcd86f4e3fcd8d7623</string>
			<key>size</key>
			<integer>2151</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/plugins/unjffs2.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>1f44d93e84d1915d7d8ac44e60dcdc81e4d7c361dad8e7a1578bea817305755e</string>
			<key>size</key>
			<integer>268</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/plugins/unpfs.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>e5d731554fb4487f43d382368ac18778eb999869ec14b3183f790245cca93ab3</string>
			<key>size</key>
			<integer>4411</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/plugins/ziphelper.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>3b4371b62ea52634236f94bba6f4d4ea6b7fc4aca210da25eaea147c1d5ca7c1</string>
			<key>size</key>
			<integer>800</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/plugins/zlibextract.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>68feafec52b6878753145924c597a50b4987162cb7f74b6e23ba67b116a4b957</string>
			<key>size</key>
			<integer>1216</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk/plugins/zlibvalid.py</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>752faa571c4dfe6d27cd46e5bc4f10d52f721a873ca09b415f7e8fcb0493d281</string>
			<key>size</key>
			<integer>1526</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/binwalk-2.2.0-py3.9.egg-info</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>eb4251b886308728c59a4d0d93ce3ea3842fac435cabb681e7b39c19a9196bdb</string>
			<key>size</key>
			<integer>232</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/binwalk/LICENSE</string>
			<key>mtime</key>
			<integer>1602339771</integer>
			<key>sha256</key>
			<string>6b78992f9d9f79aa751de4dbed15069ff663b706c4a9f9505c962ace49c9ada0</string>
			<key>size</key>
			<integer>1085</integer>
		</dict>
	</array>
</dict>
</plist>
