<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/dig</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>7ee5f91fda6819dc8ba032d492e8ad58f613c4411c9a31f64c8ca750acc1ba1f</string>
			<key>size</key>
			<integer>133688</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/host</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>44e77df3c4a00d96e61bd4015bfed1cb382b880d9679ead40b722f88ee056ec1</string>
			<key>size</key>
			<integer>105152</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/nslookup</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>7d98be217b6dbc0181ef883b787f1d5fb0fcfae5fd4293437c0dac0c68330f6e</string>
			<key>size</key>
			<integer>109120</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/dig.1</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>dc27caf59366161b9da7224556f28237851b6cdaa39baa0ed2e5d38b1d06a779</string>
			<key>size</key>
			<integer>26964</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/host.1</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>45abb2d1061735537beeda2a848a7a93a09a57d710004d25f23e780f4e7304ad</string>
			<key>size</key>
			<integer>7347</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/nslookup.1</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>e47de0ef490482ef499f45528f62261676b407ca13fd7c54d79df09ac0ef4e6e</string>
			<key>size</key>
			<integer>7067</integer>
		</dict>
	</array>
</dict>
</plist>
