<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libbind9-9.16.12.so</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>4e2d4a1a63bb5244fe1054dda4c952bd2a0471dd8fef3133bd847b994c3d3c20</string>
			<key>size</key>
			<integer>83952</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdns-9.16.12.so</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>fe2b7e83aea52740cf76b402c0ad762ac132036f962ada641a766b04a9629dec</string>
			<key>size</key>
			<integer>2247344</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libirs-9.16.12.so</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>023e46b913acb536f21bd6043d3e6d5812e5525adfcd55047acd75aa43ece7a0</string>
			<key>size</key>
			<integer>47192</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libisc-9.16.12.so</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>766ce4c2809d00ca64fc46f3085792cb6057051145d17ed6027c8760d451f4fc</string>
			<key>size</key>
			<integer>581448</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libisccc-9.16.12.so</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>7b004d05b90b3842dc9f7c8c31664c8ca307fd9a021be622dc80fab39f6d909b</string>
			<key>size</key>
			<integer>39272</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libisccfg-9.16.12.so</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>b6e45fc047a91359ecb4e07ed05d8afd73c2eba93edf91aa61c01f453980600a</string>
			<key>size</key>
			<integer>206400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libns-9.16.12.so</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>cc9a796e0256a3942ccbe91a418ee1526def0cb2ffa03bc276d8adc18c90d971</string>
			<key>size</key>
			<integer>291408</integer>
		</dict>
	</array>
</dict>
</plist>
