<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/examples</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/examples/bmon</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/bmon</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/bmon</string>
			<key>mtime</key>
			<integer>1577284013</integer>
			<key>sha256</key>
			<string>0ffd8927f9a803598d0f5142d7850fb753fb41e8bff991e56beab0c5ef3d6819</string>
			<key>size</key>
			<integer>123856</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/examples/bmon/bmon.conf</string>
			<key>mtime</key>
			<integer>1577284013</integer>
			<key>sha256</key>
			<string>5961a0f52fce5f6b31b67f0d40991cc253e737a912dfc4c9da78aa1b147cb405</string>
			<key>size</key>
			<integer>2039</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/bmon/LICENSE.BSD</string>
			<key>mtime</key>
			<integer>1577284013</integer>
			<key>sha256</key>
			<string>59ae3d59c672bfb955917a8e32f5cacba7f8ce716c499a4c63dc8cd8cb5c4991</string>
			<key>size</key>
			<integer>1192</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/bmon/LICENSE.MIT</string>
			<key>mtime</key>
			<integer>1577284013</integer>
			<key>sha256</key>
			<string>a2a6760c2c6fa779a635e4a7ad00f668862ebcadb2a8a57d16662543e103e08c</string>
			<key>size</key>
			<integer>1023</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/bmon.8</string>
			<key>mtime</key>
			<integer>1577284013</integer>
			<key>sha256</key>
			<string>e17c1a332e36f4d1f9a91d44fda93554b954d0f1b1113e6259c8d28519fd3710</string>
			<key>size</key>
			<integer>5882</integer>
		</dict>
	</array>
</dict>
</plist>
