<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/btrfs</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>0fdf93adfb459d8376fd189b716b7c3d3b5d884f01c6e44183b4556919237381</string>
			<key>size</key>
			<integer>937760</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/btrfs-convert</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>44e451374a1d335135891688a85c0312d731b2440613e08bd7f9e6aa9bd2325f</string>
			<key>size</key>
			<integer>536136</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/btrfs-find-root</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>fe13a3e201f02ff1da667908080eaaec6f2cc4968f5d17cad618cdccfd5a5e1d</string>
			<key>size</key>
			<integer>499336</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/btrfs-image</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>87973ec90ff9587ed38b0a28b18027d120a958ab27610d0b73c4e00fcfc1e0ff</string>
			<key>size</key>
			<integer>523848</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/btrfs-map-logical</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>b60444523d5331900acb1c3b7a685ad51e2d560377134edaf8bf21898d76c368</string>
			<key>size</key>
			<integer>503376</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/btrfs-select-super</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>15dad57a00d7fc773c9b7a2d6e255a7019d5d3bdeaaa66fd62e011e717cf0d78</string>
			<key>size</key>
			<integer>499280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/btrfstune</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>9120722416da92351b31794fb49209825489427102e9ca926c508e0425f6c87e</string>
			<key>size</key>
			<integer>503368</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/fsck.btrfs</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>9a588fb5fe9e5ea8def2a189d61c0f949ab620200766048b1a1e19602900a353</string>
			<key>size</key>
			<integer>1185</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mkfs.btrfs</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>3595c2b3b4232f472b75d385b3f223678e8108fb98129510ab350c70d65c752f</string>
			<key>size</key>
			<integer>527944</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/libbtrfsutil.pc</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>a683a11494030f6a0ec844721d194ac5d043bdd56c33979e781c4246366b43f7</string>
			<key>size</key>
			<integer>244</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/btrfs</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>2b3bb1398df6bca36f0ec1fffd94f9291c7c1f47d7861e36e4cb9c806959fb44</string>
			<key>size</key>
			<integer>3456</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/btrfs.5</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>7a220c93599e559693fd229c497cdd40beb9f6d214bec9e4ee731e4cefa51bde</string>
			<key>size</key>
			<integer>46808</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-balance.8</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>ff43ff4e0320d25db7b66a674a111b3a8452df243b428c47f6379de2ee90e258</string>
			<key>size</key>
			<integer>19657</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-check.8</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>c9608c4ae9d68285e2230e5f311ba3463e7150e95abd7d608e179acbc2714b07</string>
			<key>size</key>
			<integer>7367</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-convert.8</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>f043b641a6884114f1aab6245091d54996f0d547a68ae3e03ed6d311b3aa2c37</string>
			<key>size</key>
			<integer>7109</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-device.8</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>be1f6eaf45c3c08ef256b4174e480119da84cc6b129d237d5eb43ebd88011de5</string>
			<key>size</key>
			<integer>13710</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-filesystem.8</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>0d11dc78c32918cb1089ac7fbc287520779ac5ee9fc7ddaed3d7e63c333ca4be</string>
			<key>size</key>
			<integer>21254</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-find-root.8</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>c59d459323277d96572bfa970b713a50c767539fcc6cc88a9c225fd4971b606b</string>
			<key>size</key>
			<integer>2150</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-image.8</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>307dc7fd27f913bad19538cc5c98c9599fe472cb06b7a61d02c903f0d243f78c</string>
			<key>size</key>
			<integer>3440</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-inspect-internal.8</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>5d289aebb437127465f7596c102bec85e59e6f13b7f1bf7dcf75848dd2deb4b0</string>
			<key>size</key>
			<integer>10028</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-map-logical.8</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>dfff8bded9e26e1477477ca27a56e94529ff4c52d1b59fa427bf9e1968027ce6</string>
			<key>size</key>
			<integer>2117</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-property.8</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>437b81c9927ea2de675da3a180c91a2a7d97c7bf6792ba9e5c47c3f5f020d34a</string>
			<key>size</key>
			<integer>3930</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-qgroup.8</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>de12996b4808f8d2c9cf80dcda8f4c82548ea846efd23f3ce799870a51af7498</string>
			<key>size</key>
			<integer>9375</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-quota.8</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>989776eb2b6520c4f61d046b4812bcac603f78582968b2d8fc995ea2286be004</string>
			<key>size</key>
			<integer>13310</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-receive.8</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>c400e26929d88505aceee71eaaf57c16c0451ccc632b73a0c3fc17bcc4b702c8</string>
			<key>size</key>
			<integer>5151</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-replace.8</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>ee79380c543e5822b035c9af477f452a63c9aa93b78d0ba3d21dcbb2f5b5e982</string>
			<key>size</key>
			<integer>4994</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-rescue.8</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>285d77faa6afa580b4a1b487047b849e6d9d31235ab4080cbde1635afe5e1c37</string>
			<key>size</key>
			<integer>5043</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-restore.8</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>7c2f612c2f23ddaed5dccbc49ecf93385c4960975e38bdf182791c7c75291895</string>
			<key>size</key>
			<integer>4889</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-scrub.8</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>7816382e2892d55374bfb0b4e6fb18753e96b67aa7698751f2cb24274a4405b3</string>
			<key>size</key>
			<integer>6267</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-select-super.8</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>457249677986201594e5f588266cc485897962af6e3bd9ce45e632d5619ef154</string>
			<key>size</key>
			<integer>2989</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-send.8</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>1cd8463926f4de8f070e084ea6547fe80278ffb5b88d79854dd58431fd1d90d2</string>
			<key>size</key>
			<integer>4196</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs-subvolume.8</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>b1ae5ee66fb0a7e32634618a666561827e1c7fcda9db261493f9f88a8f897327</string>
			<key>size</key>
			<integer>11579</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfs.8</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>1b5af74422330bf2c5853b203f7f3b3ed71fd3de45fb311c26ba1ae78bcee62c</string>
			<key>size</key>
			<integer>6785</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfsck.8</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>f4cbb686a1fc538eaa39ca852ccd909ecbfaa67a8db385d725e3116cad76aef7</string>
			<key>size</key>
			<integer>23</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/btrfstune.8</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>b252046649034496f88d2b1c216106acab4556c11e68c5e1471ab8bbd0878d9c</string>
			<key>size</key>
			<integer>5753</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/fsck.btrfs.8</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>50501a77d35b54415b7984018ad16aeb2473851c211ebf98bb5d8443935dd603</string>
			<key>size</key>
			<integer>2551</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/mkfs.btrfs.8</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>sha256</key>
			<string>f1897dc9d1ee321259d02801aea0677796d66b732d08011f29bd6226afeb4b01</string>
			<key>size</key>
			<integer>23101</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/btrfsck</string>
			<key>mtime</key>
			<integer>1604270593</integer>
			<key>target</key>
			<string>/usr/bin/btrfs</string>
		</dict>
	</array>
</dict>
</plist>
