<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/buildah</string>
			<key>mtime</key>
			<integer>1607647978</integer>
			<key>sha256</key>
			<string>a38049a0f474a8edbd9c7ddd3e113165035a5271f7eb7714723d9e8190cfed07</string>
			<key>size</key>
			<integer>30155936</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/buildah</string>
			<key>mtime</key>
			<integer>1607647978</integer>
			<key>sha256</key>
			<string>f433daf25b01c4ef10a3994a46554f1971a201482eb4f0010e2431d0e36b59b2</string>
			<key>size</key>
			<integer>24167</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/buildah-add.1</string>
			<key>mtime</key>
			<integer>1607647978</integer>
			<key>sha256</key>
			<string>77f090a3bcb0c86c0e6defd38149f21f58d7f7dd9f50baf3e19b902e7019a6a4</string>
			<key>size</key>
			<integer>3165</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/buildah-bud.1</string>
			<key>mtime</key>
			<integer>1607647978</integer>
			<key>sha256</key>
			<string>af9ae80d42d9b465b42dafc4c8ee934eb96f491a419d975dd6d4125ac90557eb</string>
			<key>size</key>
			<integer>38446</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/buildah-commit.1</string>
			<key>mtime</key>
			<integer>1607647978</integer>
			<key>sha256</key>
			<string>5dfcf0736cb69b62feece58a924e3e7b86447502964292e328d88ab41bbffc37</string>
			<key>size</key>
			<integer>7652</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/buildah-config.1</string>
			<key>mtime</key>
			<integer>1607647978</integer>
			<key>sha256</key>
			<string>04a68953341df89769ced8699cde35778996a1e1fea2eed2555b3ba1e014d98e</string>
			<key>size</key>
			<integer>9326</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/buildah-containers.1</string>
			<key>mtime</key>
			<integer>1607647978</integer>
			<key>sha256</key>
			<string>ab7249c13ec76aabd1660f3a014c7b3e78e89eb58065b054fe022010046a8f02</string>
			<key>size</key>
			<integer>3858</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/buildah-copy.1</string>
			<key>mtime</key>
			<integer>1607647978</integer>
			<key>sha256</key>
			<string>ce73f77e2e2ce0ca0afff15e90ab222a5a8eb015848b5f20156b87649e05b26b</string>
			<key>size</key>
			<integer>3040</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/buildah-from.1</string>
			<key>mtime</key>
			<integer>1607647978</integer>
			<key>sha256</key>
			<string>06e0f2894e3ddfbd100f1371f70ea38b6ab181a75ea6dcfd2f1e1cc6ecf3729f</string>
			<key>size</key>
			<integer>30018</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/buildah-images.1</string>
			<key>mtime</key>
			<integer>1607647978</integer>
			<key>sha256</key>
			<string>8518e54a7f253c29585ce6c83a89e45f87065432a909944363ad9a6dffc5a668</string>
			<key>size</key>
			<integer>4712</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/buildah-info.1</string>
			<key>mtime</key>
			<integer>1607647978</integer>
			<key>sha256</key>
			<string>a1a724d0f2786a8c9f29c68b2423ac819def3d6e5538be7bfc7dddecac91af9e</string>
			<key>size</key>
			<integer>2046</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/buildah-inspect.1</string>
			<key>mtime</key>
			<integer>1607647978</integer>
			<key>sha256</key>
			<string>85c4926fe4e0e03f86107d7a0cfb2d0ca1588162824d3e808d95c1bae33c1a08</string>
			<key>size</key>
			<integer>1275</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/buildah-login.1</string>
			<key>mtime</key>
			<integer>1607647978</integer>
			<key>sha256</key>
			<string>e8bdd298711606481cf2b5022e8878b4495ffb9b2e4e9f36bf2522cd0091840a</string>
			<key>size</key>
			<integer>2921</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/buildah-logout.1</string>
			<key>mtime</key>
			<integer>1607647978</integer>
			<key>sha256</key>
			<string>b60f9d0ed03cb28ebaa315bad38e046bbdcfe911cf03d5c9ca36552d0d190e52</string>
			<key>size</key>
			<integer>1557</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/buildah-manifest-add.1</string>
			<key>mtime</key>
			<integer>1607647978</integer>
			<key>sha256</key>
			<string>91c024a937a20c5ea0a7a55eb6a87428544a17ee08e03bd296981a74dd7c683d</string>
			<key>size</key>
			<integer>4168</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/buildah-manifest-annotate.1</string>
			<key>mtime</key>
			<integer>1607647978</integer>
			<key>sha256</key>
			<string>8b12d6730ea5c2d8fdf3fabb2ebeb0ca2050bd29babe2cb6d6e584842d6e724c</string>
			<key>size</key>
			<integer>2338</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/buildah-manifest-create.1</string>
			<key>mtime</key>
			<integer>1607647978</integer>
			<key>sha256</key>
			<string>ba18a89908c7db3ff3535b52e2fd55f5913dcfb7c5c93a4dec98b0121fdd088a</string>
			<key>size</key>
			<integer>1511</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/buildah-manifest-inspect.1</string>
			<key>mtime</key>
			<integer>1607647978</integer>
			<key>sha256</key>
			<string>4b01e9af12a788dd2c0b0e125713f1afe8dd49e553e015279618cb8e614c466f</string>
			<key>size</key>
			<integer>705</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/buildah-manifest-push.1</string>
			<key>mtime</key>
			<integer>1607647978</integer>
			<key>sha256</key>
			<string>ec14f066c939c34cad23e981faa57debf59982c743fb85f4e8de6748639639ad</string>
			<key>size</key>
			<integer>2556</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/buildah-manifest-remove.1</string>
			<key>mtime</key>
			<integer>1607647978</integer>
			<key>sha256</key>
			<string>09822f051c8d423f1b6fcd876b46ff419b63f4f00402cd5040114b6fe41f993b</string>
			<key>size</key>
			<integer>962</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/buildah-manifest.1</string>
			<key>mtime</key>
			<integer>1607647978</integer>
			<key>sha256</key>
			<string>a2117dea3a207bc3cbd879d5c74b8e06bb91d92293c334a8ed61f31ef3294960</string>
			<key>size</key>
			<integer>1777</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/buildah-mount.1</string>
			<key>mtime</key>
			<integer>1607647978</integer>
			<key>sha256</key>
			<string>e7ac605d7ec9238334d58c87c1321c5ab2ad03d71389892da0815862e3cefed3</string>
			<key>size</key>
			<integer>2593</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/buildah-pull.1</string>
			<key>mtime</key>
			<integer>1607647978</integer>
			<key>sha256</key>
			<string>e7a6041d20fa7c2666c70fe5e294b30db3e8cbea967c4ce42fcdc4b389f38676</string>
			<key>size</key>
			<integer>6546</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/buildah-push.1</string>
			<key>mtime</key>
			<integer>1607647978</integer>
			<key>sha256</key>
			<string>fae09de817e1b7aaad99f3a0679ae8169ad7b08da31607c7cdd0c5ec915a64a4</string>
			<key>size</key>
			<integer>8460</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/buildah-rename.1</string>
			<key>mtime</key>
			<integer>1607647978</integer>
			<key>sha256</key>
			<string>31f311dd23363ebaad819806e266a495f1c22300ff3e399e4fd4f55dc605b296</string>
			<key>size</key>
			<integer>349</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/buildah-rm.1</string>
			<key>mtime</key>
			<integer>1607647978</integer>
			<key>sha256</key>
			<string>ab45d4d0baefd381e42abaa41f2353555d6b2c8ccf25a230f09aba07c50f8ab2</string>
			<key>size</key>
			<integer>677</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/buildah-rmi.1</string>
			<key>mtime</key>
			<integer>1607647978</integer>
			<key>sha256</key>
			<string>9c32c9e431f32813b584ca1f448852acee8c53034251178e45abbb1972895ee4</string>
			<key>size</key>
			<integer>2376</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/buildah-run.1</string>
			<key>mtime</key>
			<integer>1607647978</integer>
			<key>sha256</key>
			<string>ebd79ee984ce24a5ca755cc89d10fd2bf4e3a7ae97d62a8f9d1e42473ac0f9df</string>
			<key>size</key>
			<integer>13644</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/buildah-tag.1</string>
			<key>mtime</key>
			<integer>1607647978</integer>
			<key>sha256</key>
			<string>dc94a8adb5041b6ae7494a44022980da45d0d1e6212a96d8b995bed335a27221</string>
			<key>size</key>
			<integer>385</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/buildah-umount.1</string>
			<key>mtime</key>
			<integer>1607647978</integer>
			<key>sha256</key>
			<string>56daf6e910c71bfffbfa78273fa75ca486f6768514c88a96a5e18f63071cd1a9</string>
			<key>size</key>
			<integer>601</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/buildah-unshare.1</string>
			<key>mtime</key>
			<integer>1607647978</integer>
			<key>sha256</key>
			<string>9273cd02a0a07b73407702294793a3e1616d7731f00013b7d47a7ba31afa7fed</string>
			<key>size</key>
			<integer>2401</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/buildah-version.1</string>
			<key>mtime</key>
			<integer>1607647978</integer>
			<key>sha256</key>
			<string>a18b594efc5a9aa43a30b8e8eb4fd68192a42a49d7af9721b4236206c1846156</string>
			<key>size</key>
			<integer>532</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/buildah.1</string>
			<key>mtime</key>
			<integer>1607647978</integer>
			<key>sha256</key>
			<string>63a39ae7bc4456b9e1f8606b42310e97771fa02d2b32502536126543dee025d7</string>
			<key>size</key>
			<integer>9598</integer>
		</dict>
	</array>
</dict>
</plist>
