<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/busybox-klogd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/busybox-ntpd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/busybox-ntpd/log</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/busybox-syslogd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/busybox-klogd/run</string>
			<key>mtime</key>
			<integer>1613068869</integer>
			<key>sha256</key>
			<string>3babaf64fe9c08cf0b1edca1a79d7d8e507c50405a43c8eff59239bc744553f2</string>
			<key>size</key>
			<integer>32</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/busybox-ntpd/log/run</string>
			<key>mtime</key>
			<integer>1613068869</integer>
			<key>sha256</key>
			<string>36d10089324cf4681440b900925b563225e45564e1c45098ec00e9f24702e6ea</string>
			<key>size</key>
			<integer>38</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/busybox-ntpd/run</string>
			<key>mtime</key>
			<integer>1613068869</integer>
			<key>sha256</key>
			<string>a0c356edc60fa47e2b27649fe5673d01ec52cf319314a17bad866a22ccdfd8d9</string>
			<key>size</key>
			<integer>48</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/busybox-syslogd/run</string>
			<key>mtime</key>
			<integer>1613068869</integer>
			<key>sha256</key>
			<string>13ca60b1d13e9c222c285a92856e234ce905752471c6dbc772535e774341a5b6</string>
			<key>size</key>
			<integer>34</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/busybox</string>
			<key>mtime</key>
			<integer>1613068869</integer>
			<key>sha256</key>
			<string>8d97c6d1932269354da9b9cc8fc46789c8d3467497c7e92002c7247e5fdb7d10</string>
			<key>size</key>
			<integer>797416</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/busybox.1</string>
			<key>mtime</key>
			<integer>1613068869</integer>
			<key>sha256</key>
			<string>6ca462aa53fce2823d3c7562b91a1300d8b77bbedcc66e05407dd99862ad1362</string>
			<key>size</key>
			<integer>41953</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/busybox-klogd/supervise</string>
			<key>mtime</key>
			<integer>1613068869</integer>
			<key>target</key>
			<string>/run/runit/supervise.busybox-klogd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/busybox-ntpd/log/supervise</string>
			<key>mtime</key>
			<integer>1613068869</integer>
			<key>target</key>
			<string>/run/runit/supervise.busybox-ntpd-log</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/busybox-ntpd/supervise</string>
			<key>mtime</key>
			<integer>1613068869</integer>
			<key>target</key>
			<string>/run/runit/supervise.busybox-ntpd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/busybox-syslogd/supervise</string>
			<key>mtime</key>
			<integer>1613068869</integer>
			<key>target</key>
			<string>/run/runit/supervise.busybox-syslogd</string>
		</dict>
	</array>
</dict>
</plist>
