<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/ccm</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ccsm</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ccsm/images</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/22x22</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/22x22/categories</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/22x22/devices</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/22x22/mimetypes</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/categories</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/22x22</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/22x22/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml_IN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml_IN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mnk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mnk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/metainfo</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/ccsm</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>c785e2381469f0c5e290100a713269c58e26d7281203747806e3c102e5602f10</string>
			<key>size</key>
			<integer>4849</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/ccm/Conflicts.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>45be5023b3c7cf9c0fba3bb2f0f3a8e5653921f736a933eb571123e23aff7921</string>
			<key>size</key>
			<integer>20779</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/ccm/Constants.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>8f7a9bd7228fe9e0f4b82f3bea7dfb4a88665c792e8f2b8d0d764e3a525da09e</string>
			<key>size</key>
			<integer>2855</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/ccm/Pages.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>27bfb82b8470fc2bbd6f9cd7423da367f9d1a495a4edc7d8206a76701bc1ad2d</string>
			<key>size</key>
			<integer>66961</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/ccm/Settings.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>f59b85529b85886d9ee552965fa898c2f43cdcbad466e06051c7b9fe7b889384</string>
			<key>size</key>
			<integer>62150</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/ccm/Utils.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>44e423f0b6eb8c126f80089cbe41365094d5259ec68cf59200ec4a93e390bf31</string>
			<key>size</key>
			<integer>16166</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/ccm/Widgets.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>f73fa7228851217c697d119eeef596a4c0a99edb36e02d6a75de5d595164cdb4</string>
			<key>size</key>
			<integer>77270</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/ccm/Window.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>b441e9619574e03333e5900e38743669ff2ff40713fa603c5e968301a6c8c803</string>
			<key>size</key>
			<integer>4988</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/ccm/__init__.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>e59c2f2dc32e19edd855eedd634a298599c99b5bedb5f620c040a3c8d047a122</string>
			<key>size</key>
			<integer>158</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/ccsm-0.8.18-py3.9.egg-info</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>771d90f9f2b2cdc2bef3da2690f853fa1e5a6087c67b35cdc5346ea6b39ab8e4</string>
			<key>size</key>
			<integer>254</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/ccsm.desktop</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>5ffa3bacbc00fe53d5db3544dddd3219c5e0a939fc0d1f3f4ae978ce62d0105b</string>
			<key>size</key>
			<integer>3620</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ccsm/images/ccsm-above.svg</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>c7b16b082fd467cf7ed1acecbaf34d7e5b9a42539b38b4a3452fbd4d4647c6bc</string>
			<key>size</key>
			<integer>3695</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ccsm/images/ccsm-below.svg</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>506b0d4b2b5ac7c913a0a8648567f594032a7b8b2342da26f436d1e96b566f9f</string>
			<key>size</key>
			<integer>3874</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ccsm/images/ccsm-demandsattention.svg</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>05b140e362f89b17c2305772ff862ac1d0f9e46a43d029632a8be17e94066dcf</string>
			<key>size</key>
			<integer>2799</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ccsm/images/ccsm-fullscreen.svg</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>ae462de5f5969e19dfa9a7011dee336bb070becb4fb37a78079cbffc5ceb2605</string>
			<key>size</key>
			<integer>3363</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ccsm/images/ccsm-hidden.svg</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>3498424a3ef5e31610fe5da50b726b00f3fe6d043929a57fc36cd89a9f0e809e</string>
			<key>size</key>
			<integer>3737</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ccsm/images/ccsm-maxhorz.svg</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>608cd0b7a5331455fb3422da5ca0b140a69bc2cee128fad54f548f300c1b36fd</string>
			<key>size</key>
			<integer>2883</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ccsm/images/ccsm-maxvert.svg</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>915cd4619136e8d5c511852ac6387d7b53c8d5c828c2f7a7a6cc0a9bef77c968</string>
			<key>size</key>
			<integer>2879</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ccsm/images/ccsm-modal.svg</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>9111a34139f8134cd88d057facf3a33a3f80f267c7e886d277cbde87e4ebd969</string>
			<key>size</key>
			<integer>5919</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ccsm/images/ccsm-shaded.svg</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>3d12534fa6d09abb725b1e949b33c6edc7ae08b1142b5053f462936c35c50b0a</string>
			<key>size</key>
			<integer>3143</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ccsm/images/ccsm-skippager.svg</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>72217b2eaa014c2441146254642344071a30156555a8674fbee259f2cce8049f</string>
			<key>size</key>
			<integer>3755</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ccsm/images/ccsm-skiptaskbar.svg</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>f26300ece8e188026ba4b092bef9ef9105f146d19dc4dbe8da69fb3ecffc7c0b</string>
			<key>size</key>
			<integer>3530</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ccsm/images/ccsm-sticky.svg</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>ac7a2d18395c60b69a7ec3203493e39ce031fcf2e6e71c140cba6d8b3e9ebda2</string>
			<key>size</key>
			<integer>6291</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ccsm/images/display.png</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>339070ca0175dbde119c10efd51f0925185194ace9d7a52342488cb682f8de98</string>
			<key>size</key>
			<integer>12410</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ccsm/images/modifier.png</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>cb346fdaa110be6f799d7371869d40edfa2d0cc74d130cf648c510a693c6f950</string>
			<key>size</key>
			<integer>2054</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/22x22/categories/plugins-accessibility.png</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>82460be09a56e604f162154601927c68437d1889d7842db0ee36e2b8b4bd290d</string>
			<key>size</key>
			<integer>1176</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/22x22/categories/plugins-desktop.png</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>2a9ec1adea0057cf6438aac85c15401f172416c04474934cddd65369ade3a877</string>
			<key>size</key>
			<integer>1146</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/22x22/categories/plugins-effects.png</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>91d6b3fd1cdc88b7419dced412bcf483136bf35533d815e1b8c5141806975151</string>
			<key>size</key>
			<integer>1676</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/22x22/categories/plugins-extras.png</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>6c3944c50bfc60a1a8a7554da64ca4c5e0470135a6864bb7eda8612d976ec2da</string>
			<key>size</key>
			<integer>1430</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/22x22/categories/plugins-general.png</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>7d2f08de8d3e2f37a7e2f06e6888f5664961f85df8b6d62e4ed01f035a8972e0</string>
			<key>size</key>
			<integer>1238</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/22x22/categories/plugins-image_loading.png</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>40a06339b486994c97ae6edc40717f845fba7ca8d6c1ed3ad30c266a1c4b3bd2</string>
			<key>size</key>
			<integer>1385</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/22x22/categories/plugins-uncategorized.png</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>bbb86f46499bbcfc53198f08574770693f4be36826769417284e95170360a065</string>
			<key>size</key>
			<integer>1004</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/22x22/categories/plugins-utility.png</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>e209148c23706f5f30c175ce06142ce8963bd5c9bf94933b035337aea985b74a</string>
			<key>size</key>
			<integer>1104</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/22x22/categories/plugins-window_management.png</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>942ba3b3dac2aefc268b6236dcbcc78cd293d1f5d177024f59996b1237cd95bd</string>
			<key>size</key>
			<integer>700</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/22x22/devices/input-keyboard.png</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>42767b6614cd008680d275ed6a7f47446c2b83827e46403e259cf4d5619903c8</string>
			<key>size</key>
			<integer>776</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/22x22/devices/input-mouse.png</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>6e6d24c698cf51e320e46a25214906c5c40b4f16bd41a9900a61202fc07d14be</string>
			<key>size</key>
			<integer>1157</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/22x22/devices/video-display.png</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>ab1f4ccf3023c2fb62ed938583fd7a23bbd000b5a58c566acf9028025da913d0</string>
			<key>size</key>
			<integer>758</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/22x22/mimetypes/audio-x-generic.png</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>d4695376e5cdc473af2440ee8a84981b10dd004cfc016e3a1337fd2070ec68f9</string>
			<key>size</key>
			<integer>625</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-debug.svg</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>b563e01286f2a74f8b5a4c729558fb65b8d854444566b8f9d9a4da9db0770a2f</string>
			<key>size</key>
			<integer>50005</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-schemep.svg</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>77ca42f558acbc93e04f7dc98be6b9747ba08e2f272245d9c55b9a51c6ca9b47</string>
			<key>size</key>
			<integer>39970</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-unknown.svg</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>b944e2e90d3b02d527d8281084b92ce0cde48ae444c66525eafb0954d4285b0f</string>
			<key>size</key>
			<integer>32899</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/categories/plugins-accessibility.svg</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>4dee11cd777ea3f00b286962822b459d9e24ff1fa847d952822d6d01ae6050a5</string>
			<key>size</key>
			<integer>15077</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/categories/plugins-all.svg</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>b7bcd827ef34104c72def81215a23e2c8cbe0470abdb6becd3098bdc5c70dff0</string>
			<key>size</key>
			<integer>42212</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/categories/plugins-desktop.svg</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>07c896f0c1315ffcd04a81236da79626ff09f83d4bdc75b88118741d915ade64</string>
			<key>size</key>
			<integer>34916</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/categories/plugins-effects.svg</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>f18d4aec5679d591b680dd5ebd42a271b4381ed675e48aebb27639b19df57328</string>
			<key>size</key>
			<integer>72356</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/categories/plugins-extras.svg</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>fcec66affe61e883e643c1d63861465ef9e866dfb904436c0ed6b7da2b0b0d65</string>
			<key>size</key>
			<integer>24926</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/categories/plugins-general.svg</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>ba3a8c950ef6d8650f66973a2805b4c0a3bd0f3e99b448c8e422833fb109dc8e</string>
			<key>size</key>
			<integer>18034</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/categories/plugins-image_loading.svg</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>a727c7593aab4d1e53c0a7a08b56516f00bc2912a4091b468da2b9d61e39e88d</string>
			<key>size</key>
			<integer>34268</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/categories/plugins-profiles.svg</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>e0823d18c362960a58378253597741ca463d9e1ee5b9e250c7b8c2283fc7434c</string>
			<key>size</key>
			<integer>28043</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/categories/plugins-search.svg</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>66f4f5f65b4eddd1fcd7365ac63083a50ad43222250efc573300d8ffa5cd2cc4</string>
			<key>size</key>
			<integer>61324</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/categories/plugins-uncategorized.svg</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>515b7fa2445b3da77ffc5303c65f120dd162551b0fd62a5bf8f2c41f5311b2cb</string>
			<key>size</key>
			<integer>13004</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/categories/plugins-utility.svg</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>2f14e7dc6bc0af895745b3c3bbb3f534efd4da93a2ca1dd2cb0f47d66999727b</string>
			<key>size</key>
			<integer>27426</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/categories/plugins-window_management.svg</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>4c7d4f697bfdd2be2332068141c4e6530652a2f0b162ec3e211939772b52150a</string>
			<key>size</key>
			<integer>33144</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/apps/ccsm.png</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>1333b138f2681a1a9762cae763d54cdac1100047a4e55a824d0930d49d3a6ba8</string>
			<key>size</key>
			<integer>692</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/22x22/apps/ccsm.png</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>7eb9ac832f1e336587813dd7c7216ae552df7cf8988d721525944cfdbea92eb8</string>
			<key>size</key>
			<integer>792</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/22x22/apps/ccsm.svg</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>48d287fd09f5a18b95ff97d39cab0038969d1f9a8ff86fdb37175330377d5807</string>
			<key>size</key>
			<integer>16527</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/apps/ccsm.png</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>3f0cb57ba630bc8d1d868cb915ebd0ebc65b93d2eff1a4436476068a06ccf20f</string>
			<key>size</key>
			<integer>836</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps/ccsm.png</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>b743c2634ca338e42fca659670d2d586db9ec038e7dcf184cabf77de1dae2b77</string>
			<key>size</key>
			<integer>1149</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps/ccsm.svg</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>b404a7b8bb7c35c4f24db303799ccfd3ad7883a2362fccde5e41b9c108af603d</string>
			<key>size</key>
			<integer>15496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/apps/ccsm.png</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>69abc4f77c01c0c5abf730210ed59877df698a1ddfdcd4f4f41d18dfe9023601</string>
			<key>size</key>
			<integer>1954</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/apps/ccsm.svg</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>84d53a751a2cd24e454a9d7e9b0dfdcb279e380fa47090e8e4fd95daeed6bc0d</string>
			<key>size</key>
			<integer>18859</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>7bd1a03207be871a2a8abd2c2066a0ec610cd4e0cd82fb2fd39236588e821f94</string>
			<key>size</key>
			<integer>13209</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>34d9287dabb42189fc63880053bd2c74a7f55cc8ab0b0d40a31daa9600997a91</string>
			<key>size</key>
			<integer>3331</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>6e816daf07ccec0f6528d8ff2e9b324aacc66ce893ac53e06b80eaa1072c547c</string>
			<key>size</key>
			<integer>9993</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>4d0ebe3087b165e5ea3d0c43562cb2a98c13527ff9886ee6537d162436e145cb</string>
			<key>size</key>
			<integer>15094</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>fecca08d15a8ade7ca896c85357ff75c2e9435d73e02a16fa5822a48524ff10c</string>
			<key>size</key>
			<integer>15395</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>adfcd77fa9741fa4216f0e9af0994c744a4db092399792dfe2cd58d233bfdd42</string>
			<key>size</key>
			<integer>13285</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>8195534bc3908a18b5ca1da39eec7d1eb66b6abbcb0ab615b1a327bd4d422e0a</string>
			<key>size</key>
			<integer>10908</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>86a281e6cf304eac461b5273eddeff28e3d0d8a2d18cc2cfca476f828df5b69e</string>
			<key>size</key>
			<integer>12322</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>f4c164bdbb184cb745125de6f7a004b13a86b5bf76d255a502ccc7c5c151d481</string>
			<key>size</key>
			<integer>16068</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>c05ce5572649a674bed03c1bab88a8f19abf320d4516f5ca547ab4c0dbd853d7</string>
			<key>size</key>
			<integer>12307</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>3ebeccf25401e7b3da9b941781e39b6ed241bf6f228cdfa95e8071f315ac82b6</string>
			<key>size</key>
			<integer>12468</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>eed7ac2aaaecf1ce2cf9eda02c17b56b05823a261bac75e453455e64da5e45a8</string>
			<key>size</key>
			<integer>11886</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>480c2e0ceea18c45c00bb88a5ae926c22f5a671231b1aaf1a8a44538f4877fc0</string>
			<key>size</key>
			<integer>5954</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>c91dd1f2f5d72dd0cb358981d6849256262ef2df07046cb473b703ba38dc6745</string>
			<key>size</key>
			<integer>12224</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>0ce8642c9a72bd9c2c629b6a7c9332a2419e41dbaf51ed798b1d97babdf1dc00</string>
			<key>size</key>
			<integer>12300</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>0f05c42adcf5d6727c425e7c809eeaf3d41e37710ebbaea36409ad2f80cd7f7f</string>
			<key>size</key>
			<integer>12553</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>608788772ddda793d0c942e96a6a578600d7c70dc43113ec8e0453cd760d4b59</string>
			<key>size</key>
			<integer>10137</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>26cd7e07e104aea787aa16fe322f6ba6b9bda28ff8cf41b05053042dbc8f357a</string>
			<key>size</key>
			<integer>13002</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>9ae177959b47c3061664b3e2cdefcd48afb6b6525f801f8fd070d3353e78d044</string>
			<key>size</key>
			<integer>15668</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>649a4cc79bac138207be65bfc890a1a2885126714f2b8f1aaafa19aecdecfe74</string>
			<key>size</key>
			<integer>12867</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>b66afa01885f536db20224c869fa2e4edc1a30242cc1acba91a08e51c31a3f12</string>
			<key>size</key>
			<integer>12805</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>19c0c070a8d99d2bf298ed4dbf0a89dc03d30bdf07e40974ffdcecc77bb178b7</string>
			<key>size</key>
			<integer>9149</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>ee94b7d0b27327bd12192787b634049786c09dde4ce74f1103ab25ff8290bcf9</string>
			<key>size</key>
			<integer>11978</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>456f132051fe3ba6aa4554d5ef79b4546fe49742b22a694c41e065276db59c9f</string>
			<key>size</key>
			<integer>13569</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>85e3dba65cfc9ecd3c013133dfcb0b9bdcd16bffb5d62cc3dfff58a9ef01395a</string>
			<key>size</key>
			<integer>12538</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml_IN/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>4e3337e11e0bace6225082e8a6da9f8441408428bce92b19ae70521edd02eeb1</string>
			<key>size</key>
			<integer>10828</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mnk/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>fad60e1215ca1b17a2407abf5e8df02f56fb62893d1fd76ac3899c38867747ea</string>
			<key>size</key>
			<integer>8852</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>fb1f4ed36cb8c42a96be32b9434b3b4ce19446cb4d152854a60c3a3a1d2337de</string>
			<key>size</key>
			<integer>11432</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>d42bedfb84a55a6fcd45224e88de04a750d0eb70c86fa179ef07def0ffaa123f</string>
			<key>size</key>
			<integer>12107</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>2ae331f0517411b3fa2dedd80e2a5168b658f69757e003bb3d9e15599ee79c6f</string>
			<key>size</key>
			<integer>12552</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>dc18ba86bf2955e55ea971a4cb5193abc3cd80753eaa2ab4cf52529483223811</string>
			<key>size</key>
			<integer>14841</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>a938542cf5c61dc2d3dfcb6bf2a9e621f9cf72923b85acfff072914f351fef95</string>
			<key>size</key>
			<integer>12636</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>7c3bbebf6e83d4dfe8e51aefbacc3958e75e8607a880db7d4c3629a361cebf1c</string>
			<key>size</key>
			<integer>12263</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>345ab9d2f90e6681c7fd3cc13860fe6cd604165df8a230d740f1eb5fc4387355</string>
			<key>size</key>
			<integer>12400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>b0ac4f13cdb249b891a58e1b2999204181445622efdf4d396c5f09e0a1ec307b</string>
			<key>size</key>
			<integer>15732</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>13d136dccc2f651cf1ab3f8778b4b9c6e663a12882919d5cd68b94b6bc8a6e53</string>
			<key>size</key>
			<integer>12335</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>79014f3fd7ac57e377e7964d510c400f528801f50d7b0cded8bea86124cdb617</string>
			<key>size</key>
			<integer>12204</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>3fbde6b95e6d5b1e9a4ab24733a614d4c884601dd915bf5db3c48ca60f3baaf4</string>
			<key>size</key>
			<integer>12614</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wo/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>08f7de83e63cb9441691579560082d9d9cb94d46e148a1948e8dc79eced7188d</string>
			<key>size</key>
			<integer>8567</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/ccsm.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>c75edf404d98f5e3b5d948a2ab7b2ae4254fe3845e0fefe533ce2c3608ec97eb</string>
			<key>size</key>
			<integer>11323</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/metainfo/ccsm.appdata.xml</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>499a3543eb10300bce836153621a54163525aaedb8d05bded00223b7ab5eac17</string>
			<key>size</key>
			<integer>430</integer>
		</dict>
	</array>
</dict>
</plist>
