<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/default/cdrecord</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>c492290c97450939a7e9b73727611d05bee2095571d64b239578ebb119de25c5</string>
			<key>size</key>
			<integer>2385</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/default/rscsi</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>e49f18937298b48fe354745b7ea7526c3eb4cef11c603e3d25123573c9c7fc8a</string>
			<key>size</key>
			<integer>2197</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/default</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/modules-load.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/cdda2wav</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/cdrecord</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libparanoia</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/mkisofs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/rscsi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/btcflash</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>297756039668c5d65788faf29b726f43962dc09c1f3535e67ef1bc364e7874b4</string>
			<key>size</key>
			<integer>221400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/cdda2mp3</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>b72c1ba2a9f6a50d83ade8df7b4e99ad6a40d4bf2e800e0f6bff7b9170fd1a94</string>
			<key>size</key>
			<integer>2793</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/cdda2ogg</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>0b4a4e5c46addea76b99463fd4058663966cdf62c2bedbe2c570b6c6609a1eb8</string>
			<key>size</key>
			<integer>2808</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/cdda2wav</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>b29d8302ef28db8b74d67c8a2b58b45190713c7539c6a9e9e0b2e9c750103603</string>
			<key>size</key>
			<integer>394296</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/cdrecord</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>4686427f57a82dde662844ffb8cf2affdddca4de636023b28cc476c3ec6957cc</string>
			<key>size</key>
			<integer>577784</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/devdump</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>0e889bb862cf3801838831c235a823879b45277bf65958f1602b2fb579bf6714</string>
			<key>size</key>
			<integer>176136</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/isodebug</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>c3456587b75c62db818de5a46211284acefc71c86a8a68e26a7bdafa653337cd</string>
			<key>size</key>
			<integer>172040</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/isodump</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>aad1468d8757ecced1dd70665aef2aee79f4586fa90f524a2a03c957415fd0be</string>
			<key>size</key>
			<integer>176136</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/isoinfo</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>a84997026494b36839be81f360df91c5f3a3ce9b3dad4a051428fac844562521</string>
			<key>size</key>
			<integer>246744</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/isovfy</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>e01cc0af442c3dfde2b64ede727b7065d601f4a11b7c21c2d1a98eec5980bb41</string>
			<key>size</key>
			<integer>180232</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mkisofs</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>64d811486bbb0a10079347bced22cf651a47b369232cd4dbeb8c2ac96a859c8d</string>
			<key>size</key>
			<integer>520792</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/readcd</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>b13116196c2e09d735fcabc9386d667e0e63ac83b2186d4cc773710bb1a965f6</string>
			<key>size</key>
			<integer>344536</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/rscsi</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>04ce84ebddcbe6434047256807b371a8af8a6f53b0a6837af5d721c52040cd2c</string>
			<key>size</key>
			<integer>142720</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/scgcheck</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>abda6e65d598cd5627a8254d9e91aa71c83d8a86214fcd8e2ea6396af79cf3af</string>
			<key>size</key>
			<integer>225136</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/scgskeleton</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>2afd218f1ffad2b72e938cec42db2de6c02ef844764820b17115201e907372bf</string>
			<key>size</key>
			<integer>217304</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/modules-load.d/cdrtools.conf</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>17f43ecbc43b8ae11a6d388b7d5b5cb356450e933596ae49f4db15d6a0816e39</string>
			<key>size</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/cp10000</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>39eb15b8b8e27a313bf190e6d69d9e5122043c0ab5c64d2833744ed506f5cf5f</string>
			<key>size</key>
			<integer>15283</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/cp10006</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>cd01bc7368ff348eff7a0fe61e90613079242a90b3124219c34c05c9e4bf46cd</string>
			<key>size</key>
			<integer>14940</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/cp10007</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>ad7f4bdf4866bf55b78e9fe36aa368f10a3d2f696b00db0a3af84d3eb57f4c6a</string>
			<key>size</key>
			<integer>14395</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/cp10029</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>a7f11ae727877c170c6a184126fa251e7376086533a0d59dfecd2952412a8151</string>
			<key>size</key>
			<integer>9916</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/cp10079</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>8bb96e3626b623cc915a1f6e7d3d357cf90200b999420bd92abba683e57ab190</string>
			<key>size</key>
			<integer>14919</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/cp10081</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>0671979d24f7dcf30b3efb739acad97a831cc44350408e16963de5d0a2f22b2c</string>
			<key>size</key>
			<integer>13706</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/cp1250</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>8b6c25cd85860679348c23971bf094cf0b247de3ebfe1a979239858b27d62318</string>
			<key>size</key>
			<integer>9525</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/cp1251</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>f3fee47e8f2ebe11254ba739f28a28f3da2b67477434ce6b29c6113b365c2541</string>
			<key>size</key>
			<integer>9200</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/cp1252</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>222dcc703bd43968953430a247af7c65f3bd17994f397209b25f9fc59f4c812f</string>
			<key>size</key>
			<integer>9350</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/cp1253</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>0b1a8554e4ddcecdbb28b4d13570b677ec0d6fb2d51f18f35536c2990082d582</string>
			<key>size</key>
			<integer>8933</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/cp1254</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>c52a01e60080c91f7f4efd0147ce51099b4705b5f8e949a941c0e1f3c16af3fe</string>
			<key>size</key>
			<integer>9341</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/cp1255</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>76d2ad106df8eba8ce278147f6df3b4f2d448ab98cdca2b4eb462097ed62c2d4</string>
			<key>size</key>
			<integer>8299</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/cp1256</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>10ec7a4976d36c4fa67012bb7066b9863097f21bb7cd38222bdac10cd686a510</string>
			<key>size</key>
			<integer>8652</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/cp1257</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>071ac4b2b2fd7b84137452de17d5e926f8ee60b86ddf868bc78b9b3523d49f87</string>
			<key>size</key>
			<integer>9213</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/cp1258</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>0e01f95268850ebe7840cb2e881138ee7a80bdf68e9a430caf0fff61c5270b5c</string>
			<key>size</key>
			<integer>9203</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/cp437</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>f57088661b6be1394d666ebab8d801b5f90f98e57d505521b9dbdd751a3288c1</string>
			<key>size</key>
			<integer>9848</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/cp737</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>61b9466555de97aff659fbeb62d3d28984bb9dd2c79f3566634ba5b5dd3e7964</string>
			<key>size</key>
			<integer>9881</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/cp775</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>01e7706752ebb0b16060140ee5a12f7160cf81ae5de065316298f69e8dced64f</string>
			<key>size</key>
			<integer>9820</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/cp850</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>d53a7168c27a9b794aa754187105b4c86442bd6a89c43685367fed331521ef90</string>
			<key>size</key>
			<integer>9694</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/cp852</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>485c52606c6838dd439eded02b9989b95abf25acbe52066dabc90ac07e8472a2</string>
			<key>size</key>
			<integer>9993</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/cp855</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>4de9bb811131c0ebe20fd08100ee446f97ed447e6930b04ce90315b77ecf3fd4</string>
			<key>size</key>
			<integer>9616</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/cp857</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>1932a00fed823086f2f3564663aaa9815c238c1e4010ecc4d33eed0fddb05434</string>
			<key>size</key>
			<integer>9671</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/cp860</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>46b005364aabda527cefb8c0e75baa43d9e24619972f69bf470bc0c5ff7d1505</string>
			<key>size</key>
			<integer>9899</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/cp861</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>33af1ad5fa6b59b090cba9983050a2904ebbd232b473fb06f50572cf73d71ab3</string>
			<key>size</key>
			<integer>9880</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/cp862</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>d7c931a3bbaf9a61378c30f5f0597f222128b9032867fae808588bc6ef06704a</string>
			<key>size</key>
			<integer>9450</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/cp863</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>b5c8f341331a6c741bed37dc3d225ea729d16c84d1764f3191f9278679a86748</string>
			<key>size</key>
			<integer>9747</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/cp864</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>2ff333dae6c2b41bbdcca50d0b561b27757c96e9f73e2b96697624f1bc53a5a6</string>
			<key>size</key>
			<integer>9614</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/cp865</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>2959ae36b21c1c34d59996e5f38315288cf67c1b915b884ad316136bd8f9c68e</string>
			<key>size</key>
			<integer>9866</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/cp866</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>e26fcfd1ca1ad13667bf1f98052fd01401f59aebef659bc5ce44f31f91054f02</string>
			<key>size</key>
			<integer>9819</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/cp869</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>942091b441445eb7d2d1a6df2fba9b414555730b168046c88b112702a2c958cd</string>
			<key>size</key>
			<integer>9372</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/cp874</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>852ddbb6a165ab69066dfe0b28551c66391a51bb047b0dd9a278cccc45d454c1</string>
			<key>size</key>
			<integer>8434</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/iso8859-1</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>884eb5ae5aa74867c7b2c93a40b9460920e26731dfafa58f783e9d568fc79055</string>
			<key>size</key>
			<integer>10592</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/iso8859-10</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>13339ad725052723ff6aac91ceef1a120a3231c4fac647e0b63d5565efdd2a53</string>
			<key>size</key>
			<integer>10989</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/iso8859-11</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>a742830aea98cbd27e5ecf811277d0c68e1e7be5a29cf7b98719474cc9cd458a</string>
			<key>size</key>
			<integer>9730</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/iso8859-13</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>6e07d8120d8225f0556c9c7f477c7d4392141290c3ae7f6a81c3926c34c0e52c</string>
			<key>size</key>
			<integer>10588</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/iso8859-14</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>3426e4b6b5b644920110ddd7d6404cd41b361eec966cfcb6cd135e1439f7719b</string>
			<key>size</key>
			<integer>11021</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/iso8859-15</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>0e94e2789e46c7a1e7e453735947e5e593fed2ded6eef659a5282dfc413ff59f</string>
			<key>size</key>
			<integer>10601</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/iso8859-16</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>f6abb360ffac4700d51bb84c753b088d0f7d49bdc6bc482c458b2c3ef2725a54</string>
			<key>size</key>
			<integer>10886</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/iso8859-2</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>5c81eca66455c5b36853c8a66495f58636643f6ddb261083d877a7f2a48287b7</string>
			<key>size</key>
			<integer>10816</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/iso8859-3</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>a7906a91ec3a4ac7f10ec7e25966d36d98fb720f401d595de5f9f06ab1f2b2a7</string>
			<key>size</key>
			<integer>10498</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/iso8859-4</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>5bb8f1fa3fdf6df88ee3d1a17f58bdf5e336f6b665d58ea04bf7bd7bdbf259dc</string>
			<key>size</key>
			<integer>10792</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/iso8859-5</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>c1244fabad6e9b7a8053da89448c42388bbe93681742e01e74f7a22b7f08e3ed</string>
			<key>size</key>
			<integer>10427</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/iso8859-6</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>a2917a1017ecb3c82fc44cd57365dbda0788f7cc1e8da94d8175f6600cf03548</string>
			<key>size</key>
			<integer>8308</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/iso8859-7</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>7b8d7ce8242993556958a5f95529d9d71181e6a08a070d037f157a22a77716a9</string>
			<key>size</key>
			<integer>10582</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/iso8859-8</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>4bea5cf4b048e3b7ccf704ea153edcf77d2a4c627dd8710f8f7e037afb62a171</string>
			<key>size</key>
			<integer>8553</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/iso8859-9</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>976d48dfff033c7bfedd08bc61d26f0a5fefb4c3f48f8735f454e100cf40294c</string>
			<key>size</key>
			<integer>10628</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/koi8-r</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>d635512126976aec2c4fab3aeeb346bb653e9211c44d2a018dd27fbe86c654ec</string>
			<key>size</key>
			<integer>11204</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/siconv/koi8-u</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>d36ca29a43ff9d397377f7a39f90991ef1d076ff831dfd4a03e3a55e068a9217</string>
			<key>size</key>
			<integer>11267</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/cdda2wav/README</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>37f28c71b700dd77d69a5e3bc4106eede24253647a8de2dbb90087a450d03ae5</string>
			<key>size</key>
			<integer>22328</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/cdrecord/README</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>ebfcabfb4ee58121b982a9f52060d503a729f40ecb7534766cd45e3dbbe4457b</string>
			<key>size</key>
			<integer>13522</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/cdrecord/README.ATAPI</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>66f4daf4a1c0d29637d9ecec60007673e9ef29d101efa35494fd0417ba85b5a6</string>
			<key>size</key>
			<integer>24126</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/cdrecord/README.DiskT@2</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>1b4291fa3ed2ea3c0ddef2980557e3e4291eb515f3ebe6538c12f63c439f80a3</string>
			<key>size</key>
			<integer>2046</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/cdrecord/README.WORM</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>fcaa21260889aefdb545f46a0801d245b65b1628be1ff53a16acd392c2be88df</string>
			<key>size</key>
			<integer>383</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/cdrecord/README.audio</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>ae586e3f5dc3b85488ba8d82fc8d6ed4f9d72f75da506d36f9ab9a8373efc7ce</string>
			<key>size</key>
			<integer>2193</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/cdrecord/README.cdplus</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>3be46c26989cace9683f92f349e807808e00e220104ab25cc577f3892b877438</string>
			<key>size</key>
			<integer>2300</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/cdrecord/README.cdrw</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>f931fd8493eb563e6af3c1b3680b5d406b34235c0e0c4ee3879e4be5587ccaae</string>
			<key>size</key>
			<integer>471</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/cdrecord/README.cdtext</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>09bd19cd652f8a8962452da9b2f2ae3007e4d3348fa2903479867a0317ae71a6</string>
			<key>size</key>
			<integer>2052</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/cdrecord/README.clone</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>8a7c98ab131ae89ead6f6c95a177565c7cda28c375bd4e072737b76c45183dc6</string>
			<key>size</key>
			<integer>585</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/cdrecord/README.copy</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>990a218049648a6757f19ffeaa3e55393551eb7b7e7f1aae53050eaffe988c0d</string>
			<key>size</key>
			<integer>1870</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/cdrecord/README.multi</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>70d6aad98e51864bec1e5e4642f1051592326bbab681a228199385a8e3066585</string>
			<key>size</key>
			<integer>6639</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/cdrecord/README.parallel</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>cc787ac984bfaf65837a42e559cd87816df74988fc2ae96b17ba533d89c1d4d9</string>
			<key>size</key>
			<integer>1522</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/cdrecord/README.raw</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>65c0bc9358f94f1a2ef1e8e8a6b2394bd1854fd209e6e9a939db6f7de9b0456e</string>
			<key>size</key>
			<integer>2327</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/cdrecord/README.rscsi</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>74ab76728e1a4d6b8c3c6d604fa1138256e26ba68f3c5e7cd32b1c5de4225183</string>
			<key>size</key>
			<integer>4444</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/cdrecord/README.solaris-x86-ATAPI-DMA</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>c54820413d00e3ace6601d3d1730a6d520826a22e12476d6665c0000ea954058</string>
			<key>size</key>
			<integer>2956</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/cdrecord/README.solaris-x86-ata-DMA</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>69a5b41209148f2e601c1949c60f3aedf1449b45de49af0cd3fff3fe3300b3b9</string>
			<key>size</key>
			<integer>4082</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/cdrecord/README.sony</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>6eca0fad1e677be73093dbe86be3d52f4db2402a7066e78ed6fb18147889e771</string>
			<key>size</key>
			<integer>1089</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/cdrecord/README.sun-lofi</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>4ffe0d70fefee39a2b8df6f9ed401ef681ca9168883b189caa733a723fbdd1b5</string>
			<key>size</key>
			<integer>604</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/cdrecord/README.verify</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>9e53b49ef6cf2643d1b1eac69763b723e6fafa064210bcc9849bc907426e4e90</string>
			<key>size</key>
			<integer>2557</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/cdrecord/README.volmgt</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>165892451efae03ecb2556e68684c86c44e4a7859896cb2ed96dacadc21b7175</string>
			<key>size</key>
			<integer>1885</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libparanoia/README.interface</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>e3a4bb9a820bc6510c27f0b242a43b638893c8f92bc3cc8bec6881565c83b56e</string>
			<key>size</key>
			<integer>1921</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libparanoia/README.paranoia</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>a4465325c1b6ff8e92082316264fb4900a68314869e958f2767b9f2cc303b4bb</string>
			<key>size</key>
			<integer>3902</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/mkisofs/README</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>f9cfec3cc1469afca49be3196da4f84c9ae120f67828db81cf4f29321350b8d4</string>
			<key>size</key>
			<integer>5464</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/mkisofs/README.compression</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>9b91bd4131ae65ed3bc1778c09103544bc4c0b1118f54afe62ece5763d28ba39</string>
			<key>size</key>
			<integer>704</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/mkisofs/README.eltorito</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>00bc902c11a67689eda87957e63d9856f39963b8b5ac4b3179996a6b0e768cbc</string>
			<key>size</key>
			<integer>4575</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/mkisofs/README.graft_dirs</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>0fc8427be89308726941d76a6b4c0f6ac9a7fbf1da2f78fdba8b0e47fdd7c52c</string>
			<key>size</key>
			<integer>4693</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/mkisofs/README.hfs_boot</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>5f46389a8d605429e59bcf9a3b7bd64469b412387f67ee27aa5661b2be3edb3d</string>
			<key>size</key>
			<integer>2891</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/mkisofs/README.hfs_magic</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>1eaf90011d8cb1c511313b7f6252e88ecec86afeba6bc279d25d1589366c4a5e</string>
			<key>size</key>
			<integer>2769</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/mkisofs/README.hide</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>94ebb6d7429dd1838e0994ecb4f2deb3c143a1d6d63b515cf81c88c9fcf796be</string>
			<key>size</key>
			<integer>8336</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/mkisofs/README.joliet</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>20877051f21a98ae94f3c60416b02c70c34ae31089e47cf534ff22849bb23fe9</string>
			<key>size</key>
			<integer>2180</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/mkisofs/README.macosx</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>f1f0a97aa013de39353ea2eb3bdad6a396d5f62229bff4261d6a9be0e80714f6</string>
			<key>size</key>
			<integer>1964</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/mkisofs/README.mkhybrid</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>1e8894ce0a0275bfc9b2290026ba9c6c6256332280ad72d0d7d5351540dbeb03</string>
			<key>size</key>
			<integer>4174</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/mkisofs/README.prep_boot</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>b99605c40beceb95fbbb8c1ee5627c5e4113a1f6479d179c1f7888ea408e8f34</string>
			<key>size</key>
			<integer>1780</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/mkisofs/README.rootinfo</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>000c974e0eb10ce8ff55beca0fd6f8e978396b1e27132145064e724d8a75f233</string>
			<key>size</key>
			<integer>2752</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/mkisofs/README.session</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>227d725da678d4e2e7b676a0ed9a43d17da42607e147fec8a446ce04409dfdbd</string>
			<key>size</key>
			<integer>2306</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/mkisofs/README.sort</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>1c2ef172d8c575d31d7128829b184746ecf6c84f03b1b528ebe62005ef3ad9fb</string>
			<key>size</key>
			<integer>3331</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/mkisofs/README.sparcboot</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>75805336b1a2bbd73cf9f3f44bb7edfa0f7748a7ac65c9e009948886650089e7</string>
			<key>size</key>
			<integer>3085</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/mkisofs/README.sunx86boot</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>8e51f06551ecfb2d81c451efd02e31c702e5419961b9eaf5835f24d5d34466e8</string>
			<key>size</key>
			<integer>2715</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/rscsi/default-rscsi.sample</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>e49f18937298b48fe354745b7ea7526c3eb4cef11c603e3d25123573c9c7fc8a</string>
			<key>size</key>
			<integer>2197</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/btcflash.1</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>a89636ad70ae3dc583b1cd7ae56c68d3252acb51216c94956e9dc70f1581d2c9</string>
			<key>size</key>
			<integer>12267</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/cdda2mp3.1</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>e31de13e15dabb7280d0a57a9fcec7a54eff6ef0b17a16b80846fa6b133806f7</string>
			<key>size</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/cdda2ogg.1</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>8b9b7a45f323f945b7e9212af218ce57ce307d70bf80fcfc351d33ea8f237ab1</string>
			<key>size</key>
			<integer>4042</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/cdda2wav.1</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>3830febdde160f4ffacc0b26ad1af6c1000261d96db7be0ee20e11bc0a9cc04f</string>
			<key>size</key>
			<integer>50767</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/cdrecord.1</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>cdfbbb0c0d65194bf40dace5e78c710bc0a924a6239f88e8e29a66914ef7754b</string>
			<key>size</key>
			<integer>103899</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/readcd.1</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>f2800e707f527125c8e227fe07720c68a9efd62050e8e636915c7f8b2dd491b7</string>
			<key>size</key>
			<integer>22960</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/rscsi.1</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>fc7ce4ed00a7fa18a2b74ba77767fa05d94ff04ab10cdbacccc1213e20581fb4</string>
			<key>size</key>
			<integer>13769</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/scgcheck.1</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>349631f189a1fc2cf837919b151a2461765b0b60010ce986f4c52c4a546e75e5</string>
			<key>size</key>
			<integer>11355</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/scgskeleton.1</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>052614bf972c1b255292ef1a92fb3095d321accd30ce2410052054c85c2c04fb</string>
			<key>size</key>
			<integer>12124</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/devdump.8</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>cc12a943e7d4b92bfd9c0bc44d5a476483e344ee1f27c99aefc4ab1c9a51104c</string>
			<key>size</key>
			<integer>44</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/isodebug.8</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>174dae5e50188cf84d12712b019d32495e9703890b9619c9df012d1f5b478a91</string>
			<key>size</key>
			<integer>2210</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/isodump.8</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>cc12a943e7d4b92bfd9c0bc44d5a476483e344ee1f27c99aefc4ab1c9a51104c</string>
			<key>size</key>
			<integer>44</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/isoinfo.8</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>d792032c5a0b1f2d59ee38daa3d1f81d400cb7e8dbc5bb5459349d3825831243</string>
			<key>size</key>
			<integer>10893</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/isovfy.8</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>285193d8631d21a5e9d7703c6c09f600e3c6e12e98f3de00bf1ade8ba591c402</string>
			<key>size</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/mkhybrid.8</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>8ee88d1721b9a458abbb7cab21e9f312c2f7843252768d321d3d84be395e41ff</string>
			<key>size</key>
			<integer>57</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/mkisofs.8</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>sha256</key>
			<string>fc2636fe14780934e74168ee79e69f0fe7656f1ac6a36b344e0858b5c944d5bd</string>
			<key>size</key>
			<integer>117800</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/mkhybrid</string>
			<key>mtime</key>
			<integer>1593943960</integer>
			<key>target</key>
			<string>/usr/bin/mkisofs</string>
		</dict>
	</array>
</dict>
</plist>
