<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/celt</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/celtdec</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>sha256</key>
			<string>a83f7532750d758c80cd2f435ae4fa6cc62035183f5ecb0ce8ffc2e33fe22421</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/celtenc</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>sha256</key>
			<string>5bcd7f5e2e6d3d3878f08d4ce987505fe01727d2889bb424cb42cc20940cf766</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libcelt0.so.2.0.0</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>sha256</key>
			<string>b3cb836a41174d0f2e6d4a241851ea67a0d5619bfb91bcc48ddea06aedcee3cd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/celt/COPYING</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>sha256</key>
			<string>c2e623a3f2f710803f0564f04b7e8916f2c83b3502186a75b241ae8cbc510b42</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libcelt0.so.2</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>target</key>
			<string>/usr/lib/libcelt0.so.2.0.0</string>
		</dict>
	</array>
</dict>
</plist>
