<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/chicken</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/chicken</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>490d29978d9e040d0355ef5327a7e36e7f5c613634021c89ffc64adc74114df4</string>
			<key>size</key>
			<integer>3360912</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/chicken-do</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>a768dc1be227311891bb7475681f61edd84887277c688914088fe9418fdd388f</string>
			<key>size</key>
			<integer>14624</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/chicken-install</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>66dc0000dd0d34320a8f4103184db840d4b72470d4c89ef82c0f4a9e9a39b633</string>
			<key>size</key>
			<integer>871624</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/chicken-profile</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>944c198bd29d77a4bbc739e7944b328699372b7d11a61602809552f62b04362e</string>
			<key>size</key>
			<integer>81976</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/chicken-status</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>4d654118b3051340e210abb8cbb1efec7b2fe238e4409e9e4e33041fa07f4580</string>
			<key>size</key>
			<integer>124312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/chicken-uninstall</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>5aa4bf0963d228db73abc43d2c3d7bb43a4cc97ed3534f970bc4ad90f2d558c7</string>
			<key>size</key>
			<integer>94800</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/csc</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>b1bb8a46e5e0da57342588b132e842f7774b50abc6fb0ef1b10eeca1df24a6ad</string>
			<key>size</key>
			<integer>275968</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/csi</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>a78c762cb7627a80483511b38445a6f2ba87772182e3c2c4b33e6638b29bf4a6</string>
			<key>size</key>
			<integer>255888</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/feathers</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>959337e51aab5fd57d66de635841c496014a2f38c77d7cef19398162c42a9c50</string>
			<key>size</key>
			<integer>1866</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.base.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>bfe6b53d21b3a5f2e7e8bea9ba49b015963c59741d98500492a85ca14b300deb</string>
			<key>size</key>
			<integer>18656</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.bitwise.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>1e95400bac021006e9bac80a82d5e90779c35d5779e6cd703d930c71936444cd</string>
			<key>size</key>
			<integer>14616</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.blob.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>29c9843834a80e39d7c0ae1d672afe0e8f05de74143b6e25812ee15114d20a12</string>
			<key>size</key>
			<integer>14608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.compiler.user-pass.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>66369347b5a4bf8147b59e5f5b1ab65791fdf7f658419a3dff430a8ddb2465a6</string>
			<key>size</key>
			<integer>14624</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.condition.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>48304229251f695acb66b114f45243b623f83f6245967728f5d2e144f4183267</string>
			<key>size</key>
			<integer>14568</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.continuation.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>d59a8534abff026475867d3b52a213b3f8a400200862e01f8275b07bcaa5d311</string>
			<key>size</key>
			<integer>14616</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.csi.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>b7c68c55d60370e7d9d24dd55c4eb9392d720b2bf1f4b0f2412449eff8d61afb</string>
			<key>size</key>
			<integer>14560</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.errno.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>e45843c6a20a3720a3da2954ddd41d7175a34839f8cc4f51e16c346b6fdf84ec</string>
			<key>size</key>
			<integer>14608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.eval.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>e415ac5af74884016a896ae1a3fd850e14e9bd94dbbcf2f6e7996df3df8d9896</string>
			<key>size</key>
			<integer>14608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.file.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>3fb51ef8a5b3956432eadfc50cc678f5e8190b93808dc19455653984ae421353</string>
			<key>size</key>
			<integer>14608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.file.posix.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>d3250e8a3d813086e2cd5ecc4bc82749911efaa397e23676d7021eeed04eee68</string>
			<key>size</key>
			<integer>18712</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.fixnum.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>b884d4bc8a7ff9e33d34f31577707c8433c68f7a5b7394bd4a30383c1103e067</string>
			<key>size</key>
			<integer>14616</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.flonum.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>182b94dca610d74a38c8766099a046c91fb8c848a13c8f6c76917394457c3463</string>
			<key>size</key>
			<integer>14616</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.foreign.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>19f0ae96e72c00cf80883ddb417f9f67d391a9af340dae1ad349ab7cde63a5f5</string>
			<key>size</key>
			<integer>14568</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.format.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>1284cc9c0e940509f431b587fd2e6a36db0540bed2a8c1552366e6fb07d261a7</string>
			<key>size</key>
			<integer>14616</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.gc.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>717478fc60c55d4f2ff99b8617054e1f5982d7ee023a2f962bd2164fcfac47f1</string>
			<key>size</key>
			<integer>14608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.internal.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>d9f6f68217785140d147fc9f6f3d6c4de8c0c63b93fb384a0431facac1b12e30</string>
			<key>size</key>
			<integer>14616</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.io.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>9922d3cfedd4f913e05bf434bfa5c10723f795ed119007effcb955a09aed3ee2</string>
			<key>size</key>
			<integer>14608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.irregex.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>6564784938272333d526e36566b4ec39110126383ab72fda892792636de1b0d5</string>
			<key>size</key>
			<integer>14616</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.keyword.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>14bb9fe0850af8095759a40ad50678402cbe91c8e20c956bcf97d2428fccfdc2</string>
			<key>size</key>
			<integer>14616</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.load.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>2e56f2599050e9caffb250c640c5a9158c23a143fef9b084d6ea7c4ef639e6ef</string>
			<key>size</key>
			<integer>14608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.locative.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>85fe31cdf36e368ce3515aca7867d5996842a84375293a4774e45c98b636b14d</string>
			<key>size</key>
			<integer>14616</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.memory.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>8b1efd1a544cece11d8cdbac0453afc7cde9c7f75bfa47a881e63219cbfeb07f</string>
			<key>size</key>
			<integer>18712</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.memory.representation.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>58854f7f92f0fdf88ee4f437ce7230130891ec0978a6b2a7c4bce3cbf6b81985</string>
			<key>size</key>
			<integer>14624</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.pathname.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>d73ee2fd79a95fc6f2c3dfbdc7f19dea36be77df97910687dfa91024c0922289</string>
			<key>size</key>
			<integer>14616</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.platform.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>bd6400f51a0a41339d9720f43d2991cae4047252f422cfaa8a9514a6d4ec5cf9</string>
			<key>size</key>
			<integer>14616</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.plist.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>8f7eb77509729dc3f34d47d915c3dbea26006fc0c7f7456bda65840306f95d37</string>
			<key>size</key>
			<integer>14608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.port.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>f71fd254eebeac4273a2b5cee268895b41921370a7f8000e1194a84070781086</string>
			<key>size</key>
			<integer>14608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.pretty-print.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>d74aa3bbbb8a9704f2111dfdac2d0f1e0d9b8b3b02dea30e74f3e36a160cf406</string>
			<key>size</key>
			<integer>14616</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.process-context.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>3cef57ac083f03561a71615449f3315502ca82cb2c47cd233008c5c1f63e3cb6</string>
			<key>size</key>
			<integer>14624</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.process-context.posix.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>e7ba95d3eefe5b49088ed496f6aaaf59a8e5834fed0941214fa6c9e8f0cdaac3</string>
			<key>size</key>
			<integer>14624</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.process.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>affd6172d73a03126e46de09cc96242042c0e2c17f93496b0ecf35a25c64be7e</string>
			<key>size</key>
			<integer>14616</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.process.signal.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>3d78aa8813c5a3c38cde374dfd6210104b51ba2145175f390de257107de0c728</string>
			<key>size</key>
			<integer>14624</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.random.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>8f0404ce591fc82a07ebe1bd36eb2c42d944428c257cb4b2bb90e65f58ec42fd</string>
			<key>size</key>
			<integer>14616</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.read-syntax.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>5452ed6f4d17d4c96176d6bc609b8784f703ee9eec95f28544a4921856c64ce4</string>
			<key>size</key>
			<integer>14616</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.repl.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>88806bac99fd785bb98829eaa7f212315bd02f634cbbe065f8e23fc7caf92ae3</string>
			<key>size</key>
			<integer>14608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.sort.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>8d1ec8fb1e5618302cf3f4746d2fe9d3dedaafd3bacbb5539ee37ebc8160b927</string>
			<key>size</key>
			<integer>14608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.string.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>5ec3d18ff7d6019bcf158badc590fb05d01047983e882ea6f41a0a58b11d9a07</string>
			<key>size</key>
			<integer>14616</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.syntax.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>438ebb053f21a7f2140f0b912a12101c60da6abb08831cdbd78afc2bd30b8834</string>
			<key>size</key>
			<integer>14568</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.tcp.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>6a0f7ff843ee18407112d88b0a80d37373f031e06f2ae78597090e8d53c23f4f</string>
			<key>size</key>
			<integer>14608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.time.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>7d79cac85feff9a18dc9ebefed2ed64c28aa2ada3bcf6c4a1f67d08e3af0f32b</string>
			<key>size</key>
			<integer>14576</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/chicken.time.posix.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>dd51c12056ec46259551fc8673d1a47b51e25b79aa3a62da62b84bd6850b0825</string>
			<key>size</key>
			<integer>14616</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/srfi-4.import.so</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>3b1ef5a809e35531c95794d80e1af85d530574a7dac555a2e80e0abe677a1c45</string>
			<key>size</key>
			<integer>22800</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chicken/11/types.db</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>676029598e71042b4a2433787b892f3235586411ad9b51f136da6dbacb1a3177</string>
			<key>size</key>
			<integer>151692</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/DEPRECATED</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>c22f13525e9d5cd2198fe40eab127b7f23e5c3de9540c45df742ecdc5231c9ae</string>
			<key>size</key>
			<integer>1074</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/LICENSE</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>0b89971a12149c1665f7031ad7953f47702c52e7ea73ff06ac304227fabb8ef4</string>
			<key>size</key>
			<integer>10217</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/README</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>bd5081b3311916f3bdd2dfdb191a313688d5a5b01e4548bad2555a513fe5eb72</string>
			<key>size</key>
			<integer>27195</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Accessing external objects.html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>ff5e45bbcff528c15ab254a7f4e3029c65ea191c78fa36d0ec683799b4473a84</string>
			<key>size</key>
			<integer>5991</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Acknowledgements.html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>113681d896b685ccac7f621f8225696a4273af33a49c17102348920aa507837e</string>
			<key>size</key>
			<integer>5421</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Bibliography.html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>06abbb5fa9619762ae2a41087874c41e9a98a6d59150031e2edececbe38ddba2</string>
			<key>size</key>
			<integer>1314</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Bugs and limitations.html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>44494e82c6c9f66ccf66e8bf8040253c62c41cd8438cb84ff6a275a59950376c</string>
			<key>size</key>
			<integer>1712</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/C interface.html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>3a9c1fc3de8b921057f78b12461eeae597572cd12c4ed0eb22792025c3a43fb4</string>
			<key>size</key>
			<integer>80675</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Cross development.html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>56d4fe15f9844dd955a029e66f7bfe9a36b4e900ff7adedc62956ff9af1e9b33</string>
			<key>size</key>
			<integer>10888</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Data representation.html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>37b9a7117123b41eb78500cccd809462f55c68e4ed7f0a1842f6b4d677052c0c</string>
			<key>size</key>
			<integer>9535</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Debugging.html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>eee5c208554fc029b284ed285beb903e9942938ce17c67e51ebafbb92f3f7c4f</string>
			<key>size</key>
			<integer>8632</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Declarations.html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>1176fdfe6cfa6b2e2b71b637d750bca7dc04836c1b0a0cb09287c6ee17682762</string>
			<key>size</key>
			<integer>17384</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Deployment.html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>6a43d1c6db919f919a99718506a95b1376699166f4bbe5c4bac6cf6147daea48</string>
			<key>size</key>
			<integer>9461</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Deviations from the standard.html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>24ed3ba01e7fe5270a20b273977cf694dbcd303632be21ebf08fdebb5861724c</string>
			<key>size</key>
			<integer>6165</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Egg specification format.html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>c0498e657571f6038450c807d6da2de2e999806cdec000e12bcd583c0f13c267</string>
			<key>size</key>
			<integer>19714</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Embedding.html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>3e87dc40869f78461ef7730bbe1e442357235856560b5cd1e15c18152baa0ce6</string>
			<key>size</key>
			<integer>13998</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Extension tools.html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>7b8aa3fc348ac12b2c2d6b535588bce3a7f8e9f9cb2e17c09ca0504ba0f1bc22</string>
			<key>size</key>
			<integer>16618</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Extensions to the standard.html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>b9fd77ce5b2e35edcb9b1d666df8402ced98f1bfbdd2bac4b4bc8445ee5f696a</string>
			<key>size</key>
			<integer>15781</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Extensions.html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>fb2c81d8ca63222fa8a5fc41a3c70d9dec64d16a2597ce69c3d6e676ded4d65a</string>
			<key>size</key>
			<integer>14691</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Foreign type specifiers.html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>071e89a484a756d97523976367fbe7e2a0517e635c1314dc1a2709c78477a11e</string>
			<key>size</key>
			<integer>27831</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Getting started.html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>ea32ca5f6df4f72395f2295b6c6c387450ef7753ea197b6a58b665f666bfa31e</string>
			<key>size</key>
			<integer>29049</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Included modules.html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>3d4eecaea36ad49bcb571e8f39f7a7ab2e3bade29916382e51f9ad1e16d4bee7</string>
			<key>size</key>
			<integer>6782</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Interface to external functions and variables.html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>75bb2f348c1b1d8507812e86541d8fe490b0ab26d3d89efd23f467360fc88e65</string>
			<key>size</key>
			<integer>1344</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken base).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>71e91d6cd16e7a228186475237780013f414ff22e36bf459c492398890e1a11a</string>
			<key>size</key>
			<integer>100832</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken bitwise).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>0b651c7537ae544042cdba1472625ea5d00ff3357ce95c4d1e33f3dbd12ec9a7</string>
			<key>size</key>
			<integer>3431</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken blob).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>ef7486b46116acd26319c7af55f8a9c504c4439efdaabb3ad6514e5e074c83de</string>
			<key>size</key>
			<integer>3688</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken condition).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>52c019c5b84aff3bbd0e1a9c508f5319a034320c2cc1507ffd1b48b473f329ed</string>
			<key>size</key>
			<integer>31409</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken continuation).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>790a6c0e99f156489ba65c0379a6ad93d427f07da1efdbb4dfcd135d890b7bd2</string>
			<key>size</key>
			<integer>4325</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken csi).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>a1229e58b55c521d354b83c84f2cb4e5cf1bcbfa444d21a3a4946fcb85a16635</string>
			<key>size</key>
			<integer>3372</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken errno).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>c016a4334b3f01980d22bf6a00ce543675fad85ee1bd1c207fb9e83b88711773</string>
			<key>size</key>
			<integer>5449</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken eval).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>b7b36227c34ce96d70eba8407d71672619dd849ec6e1b1ff2cad0b582a53f539</string>
			<key>size</key>
			<integer>3018</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken file posix).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>875dcede49d60de80979051184a01a49764b72127fafe4eee646922a07da1057</string>
			<key>size</key>
			<integer>45459</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken file).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>051e2157710b5f528cb5727771ca35295bc630d9ea1a28acb9136839b44255d2</string>
			<key>size</key>
			<integer>14865</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken fixnum).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>ba77f8a00504b298929e8f6096a259ba7c567a49f7cd7146ea172e8b6b1c4fcb</string>
			<key>size</key>
			<integer>8496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken flonum).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>89e8d25a58b3b164c44e656c7606e5a764752830c9906fac13805ae560ad5496</string>
			<key>size</key>
			<integer>10371</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken foreign).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>b617bf088a500aecda20461b9cbcc07d82aae55b81619c2e7002ad6e6de52000</string>
			<key>size</key>
			<integer>23788</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken format).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>caedc868f5abaf83120eaf3b249c311f78ef6d72200be1f012f3b7b147cee846</string>
			<key>size</key>
			<integer>4249</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken gc).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>49afd1c830b3aacdf3d29d19242493144e686b3916ded61d42990965e8c86fcb</string>
			<key>size</key>
			<integer>5130</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken io).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>cbb19249a968d2653ee65dd12014599b94be7824da2a8ecbb684d4beaa1509e5</string>
			<key>size</key>
			<integer>7980</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken irregex).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>0c3ed487459b0cf18121e265e404e458ac6b6e82d743ac6e1d13129cc9727c2f</string>
			<key>size</key>
			<integer>68368</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken keyword).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>08ba4d8db3f1488d44c9a34613e626a85214cabe464136d39d182a02354ca332</string>
			<key>size</key>
			<integer>4938</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken load).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>b36c5e6066ff2e9179aa3c426ef18d899bfc1ae0e25b5cb1375ff70c0da89e01</string>
			<key>size</key>
			<integer>9279</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken locative).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>ec868a90692297c49881daa58a41d8e0546f1aba7cd86f640088bdac82ba6cca</string>
			<key>size</key>
			<integer>5264</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken memory representation).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>4231bc289d61d12698409a5bcbd8538d3b56b105b9d942f5311645a156e42633</string>
			<key>size</key>
			<integer>19267</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken memory).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>c46aa4cfe1a105903f983e26519abc7e2c7e08d9d459a6a4d2ca2a3841411412</string>
			<key>size</key>
			<integer>28790</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken module).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>05a352dff62be11d3f5cd4c42baa0709d36ee7611c4760e4808fd1a72283557a</string>
			<key>size</key>
			<integer>954</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken pathname).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>71da7a3592d0b5c579fb537aba2bcf3d1e9e9a5c39042e86bf0a8e95d192eeb3</string>
			<key>size</key>
			<integer>10433</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken platform).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>9bdda719e7cb6ba98dd1bed7ed7258a83d13d040d8c8e313bf57241ee86194c0</string>
			<key>size</key>
			<integer>11796</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken plist).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>677701b690a4ea0b4324eeefc3d3f3687a61e728f8e529dfe457b2edb40cfa10</string>
			<key>size</key>
			<integer>4672</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken port).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>4023abbef5a3601ff887e2863f1834f209246751a35634ee5b1cd7ef4b502653</string>
			<key>size</key>
			<integer>20335</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken pretty-print).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>8a0cc52d3c16fccd382e0cd01e5d89380391864136b4bf44f65a17a09f5a6f64</string>
			<key>size</key>
			<integer>2115</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken process signal).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>839263569f155702bec4846cfc51a777c3284d12168b854c4ac4c9bad65fcf01</string>
			<key>size</key>
			<integer>11968</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken process).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>ea0091eb25bfbf5ec4a434bac209dbb82a712a846da64cf9d468f47b362bf8b5</string>
			<key>size</key>
			<integer>26949</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken process-context posix).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>1e447aaafb8cec74bac44e639ddaeedcf58e0aed797c3b4f97ec02481b2a63f2</string>
			<key>size</key>
			<integer>10040</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken process-context).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>f50c3cb658214f7c708bf97b6af4abc1663f41ed24a3554890f1e5a79c2265fd</string>
			<key>size</key>
			<integer>7911</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken random).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>a5de909d14e7c248b7119cf3d3ea59abbf5687486c079284c0bc15d3f2f46a9a</string>
			<key>size</key>
			<integer>4251</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken read-syntax).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>0d56e2b2b9530b72529728af9bb07805bab24355f5ed4d762a61e0358e31f59f</string>
			<key>size</key>
			<integer>7138</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken repl).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>32bed9b1c5b2d6fe21247f2573364cf6495c2fdf2032fee168863c8daac59550</string>
			<key>size</key>
			<integer>3727</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken sort).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>397578025acf978c048fd2db6a39ee7ebb4af224309cf892a9968d75b5e6747a</string>
			<key>size</key>
			<integer>4739</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken string).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>52fee1cdf8e04949f4477cb968f569855c40a87966f811b49d5847ec7d0cdb99</string>
			<key>size</key>
			<integer>14397</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken syntax).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>1815015f585cf93a1103e396dfa26d10e1618e5fc2e5570d0a0a4615e98e6b47</string>
			<key>size</key>
			<integer>23222</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken tcp).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>4578fc34f97c5e0cf699dc3cfae1b6345a8bd7516cfe841a1489304eb438e31a</string>
			<key>size</key>
			<integer>14724</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken time posix).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>66060ed47b74fbfcbe3e9fbde6d672ce83eab05ba7e8ec9023231ad3f98efa12</string>
			<key>size</key>
			<integer>7426</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken time).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>5059bf05af8e9435f5d927de460d94f337bfa64c7248b32e943a40ad50055712</string>
			<key>size</key>
			<integer>3457</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module (chicken type).html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>6284f6a747fd92085e7f0acfbb7b3bafb5b527510f4a77f1488bbd06d4675e86</string>
			<key>size</key>
			<integer>958</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module r4rs.html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>e13814937acbdd3f3e91cc551163c1519030596887598f19f7e704f8f4db064f</string>
			<key>size</key>
			<integer>963</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module r5rs.html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>d292b5f03946f021208fda6db421df38ae41a5915e83a4a41792e3ddc17299f1</string>
			<key>size</key>
			<integer>841</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module scheme.html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>0d0ba49cd94426aa60f25cd0ee70c9a4a87f6426f80af806edd6dfd3ab8558c7</string>
			<key>size</key>
			<integer>191545</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Module srfi-4.html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>fc07ee0789cbc4e62c5e833460891f150b96d0a00e785a8baeaf5c2516efde0e</string>
			<key>size</key>
			<integer>39741</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Modules.html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>5143e9ce9a4d23465ddb7c7f87de04b481baa19d2e83deb29253879c79868d2d</string>
			<key>size</key>
			<integer>24747</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/The User's Manual.html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>4d5b5e0cbb97e375a4240b5fd6d7f06f5adcbf0445e69cb88a8427c64b0b382d</string>
			<key>size</key>
			<integer>2779</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Types.html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>7545432e67ae22a19e5265a90e6d2de334879eb39269f686c0419eb4613f5e5d</string>
			<key>size</key>
			<integer>18735</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Units and linking model.html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>486763f8ba552ad73445ced60c162ee0cb0e407573d880247fcaf3cae50414ba</string>
			<key>size</key>
			<integer>4329</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Using the compiler.html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>24f5d5b151051e880d3472f9d589737dd07f09a03dcbaa376cd3b5a8b91ee931</string>
			<key>size</key>
			<integer>27227</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/Using the interpreter.html</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>82a5b0273eb865d6cb665729f92a0267d1d96ec8842da74572b3807577bc38ef</string>
			<key>size</key>
			<integer>16568</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/doc/manual/manual.css</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>0217dd28fe9eadcf495b2f7dd3a718d559ce9a0d105886f992fa2d6c93a31b7c</string>
			<key>size</key>
			<integer>993</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/feathers.tcl</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>ea73e840f578208e08b4d275d104162373e59ba28665772839c7e5037631ccf7</string>
			<key>size</key>
			<integer>49942</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/chicken/setup.defaults</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>46912359c95d02fe1a936ee9e84ef931347c217b95aaa1bad1f9bffaa620fca5</string>
			<key>size</key>
			<integer>1173</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/chicken/LICENSE</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>0b89971a12149c1665f7031ad7953f47702c52e7ea73ff06ac304227fabb8ef4</string>
			<key>size</key>
			<integer>10217</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/chicken-do.1</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>671d0ed0b6d0dba7c8926e287dd1eace2746955dd72d080a30731487f643e973</string>
			<key>size</key>
			<integer>2719</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/chicken-install.1</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>69f172f0281a4ec9968427ecb837fd0d95d6863eb71c0bd9a094ef105f6197c1</string>
			<key>size</key>
			<integer>5684</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/chicken-profile.1</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>d9d93e424bf5498b0874df65086d9dfc92d6843a66d7849d6d4de5b18bdca2ab</string>
			<key>size</key>
			<integer>2930</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/chicken-status.1</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>f36ef50fb023794c4c374e3596dc86bce515f68843d858f26d025c9438dc9b6a</string>
			<key>size</key>
			<integer>3536</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/chicken-uninstall.1</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>d3049fe64bd5e7341f25d7bfc0dd2f7f2f283a058d57feac48f1ffb07dfe9abd</string>
			<key>size</key>
			<integer>3205</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/chicken.1</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>b66853d57e813f8b91d1f8d0df536845b9b0e3b2277f190ef2e3fa076ada87ca</string>
			<key>size</key>
			<integer>8574</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/csc.1</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>211d2a114ccaf040be6587ea8c831d1773017d2335b5d7790ec76977b03a6d19</string>
			<key>size</key>
			<integer>11039</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/csi.1</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>f350a0204fde37d2a02ae36c462b09eb90bb64eba9a5e523b400c338314e4f57</string>
			<key>size</key>
			<integer>4736</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/feathers.1</string>
			<key>mtime</key>
			<integer>1583149909</integer>
			<key>sha256</key>
			<string>e24b7185c5bb43f9d18d394810728ad157a5bef5fdfe9ee842437dde585517c0</string>
			<key>size</key>
			<integer>3347</integer>
		</dict>
	</array>
</dict>
</plist>
