<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/swiftshader</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/256x256</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/256x256/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/64x64</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/64x64/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/chromium</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/chromium</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>54c94b5323b903299fe1f99d488c8c1cdd2a286337c6821204d84017c50bc0d2</string>
			<key>size</key>
			<integer>205</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/chrome_100_percent.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>16001ec80dba7daaac1d3f3a821c45727537e50305ed3d9a364edd6c77114890</string>
			<key>size</key>
			<integer>766466</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/chrome_200_percent.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>6cb154232a98f9480167f1de420442d54575412ec789ed58493a62b4e19b941d</string>
			<key>size</key>
			<integer>1345620</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/chromedriver</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>3668dc508cebd3c7ea9a91703aa5aacfa625f0f5c8d42cb96d84bbe24717f499</string>
			<key>size</key>
			<integer>13753008</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/chromium</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>e05a8a055acc45bff21d17aed6624dde0734af034e6735b14da5ae9deac91bcc</string>
			<key>size</key>
			<integer>203477536</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/headless_lib.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>8ec516845f524e1e6434dc89011f76e52914f86c0d463344842991792d0d8fe9</string>
			<key>size</key>
			<integer>4757717</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/icudtl.dat</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>c5f9a62ecc982a52777c96d96aee791373f0a132c4ec291891d76ddcf2ec2fa9</string>
			<key>size</key>
			<integer>10413552</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/libEGL.so</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>059630b74e28108fc66d87619233e0b1341dd23ad9ef1282688b2830261eb5a1</string>
			<key>size</key>
			<integer>42888</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/libGLESv2.so</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>cacd45acb2cdc94ca47709f801d5f62aeec951d2ae7608d2307d5e5e3562c3cc</string>
			<key>size</key>
			<integer>8157880</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/am.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>6f82c419591fde2de85116c7f70e19a2956f0f02997a026e1ffffd88dce79569</string>
			<key>size</key>
			<integer>433619</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/ar.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>6dbc022eab3ae14213ac5358a5219cf4e7beab244442e507e5f656d28e50d57d</string>
			<key>size</key>
			<integer>455248</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/bg.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>5f87d61944f1b517d889b1710118c571a5860dab0dc803b2ab8fad1728280f6d</string>
			<key>size</key>
			<integer>493297</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/bn.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>a8a6fcd9f40226dd47dbc29fb8885154fc5a5e05862861ea76e522f4b9dbe16d</string>
			<key>size</key>
			<integer>643079</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/ca.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>b25f7016930f0620bde22aef226ca6cfefba5e6c373985f0c00eedf0605b6a40</string>
			<key>size</key>
			<integer>304464</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/cs.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>c41bb1fef60a7dc1a84ac5c73f3ab8573f6ad066c294260ad14a6ccaf60c5dc5</string>
			<key>size</key>
			<integer>310849</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/da.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>e023d94590fab02ad022ebd420138ba3f06e1b5866041549afb03354e8baf70e</string>
			<key>size</key>
			<integer>280085</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/de.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>66ec7fadd6b490831f18363cc6fa5d6f5e611941558559914dc91618f2a73328</string>
			<key>size</key>
			<integer>302016</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/el.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>ad1c7fde55b62a0dff7a4c2e109903aac80f65f179904c7d84e427ee2c45d629</string>
			<key>size</key>
			<integer>539639</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/en-GB.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>543739791ff92630f27d6818f46dfc38d850aaf62af431e590fe39aa76a281c0</string>
			<key>size</key>
			<integer>247162</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/en-US.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>010509395cdd68a8531807572d3ce857534e4743a2a93bb07fc623d04c8556fe</string>
			<key>size</key>
			<integer>250371</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/es-419.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>7a2b612109b1fd8de22eebc6458dc22330c035baa04bbaeba9d69d6e9ab992ff</string>
			<key>size</key>
			<integer>298360</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/es.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>8aa6c5d0bc5d899ae9cf775b12685c3e3010bc064bf037051274f034db4b9213</string>
			<key>size</key>
			<integer>302259</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/et.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>cae6939957f8877e00a12643afd0ae4624ecbb3f8703c2dff00bb620025fc8fa</string>
			<key>size</key>
			<integer>269823</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/fa.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>cca646f21a27f9b02df97334e3469ca15a8682668e07a1a10d69261e90d32217</string>
			<key>size</key>
			<integer>434778</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/fi.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>bbceeaa396c23bdde5002b2861bbcdd70af0e2ba2a5efe3ad4fbe8758c42bdf3</string>
			<key>size</key>
			<integer>277633</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/fil.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>6945cb51bc6f0396f09f4cb27548086e740016d530717ee4240f3c37aa80f2ab</string>
			<key>size</key>
			<integer>310136</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/fr.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>1ac07060c5a7ab55cb988e02e61c704dd566973b4ea45bb08fe35ef4ee165fe6</string>
			<key>size</key>
			<integer>328400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/gu.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>fde9ea56c3f65c03e6266a213e1b49c0a18ab296793ff6d3aaedadc8d335fafe</string>
			<key>size</key>
			<integer>614331</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/he.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>fd82761e38b09b4954cf73fe707b66bef25d9669f1e8d11a819b0df6d33c659e</string>
			<key>size</key>
			<integer>379939</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/hi.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>3099de398093851bb450746ecd69f71b19b29118cba002130bc4ed8f7ced9332</string>
			<key>size</key>
			<integer>638311</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/hr.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>365d5a94545aa9bd9e7d82b4d495c30fe24c6ee355d43056dc32dc346912ab4e</string>
			<key>size</key>
			<integer>298793</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/hu.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>50f05aa2d77e284f2aa02a9016c206192d42eb382f06897fffa92fafcb1f178d</string>
			<key>size</key>
			<integer>321282</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/id.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>99133703bf6dca82bf9e0d185dd32aa5dc94a94b7c5128a1edb1934bbde95d9d</string>
			<key>size</key>
			<integer>267570</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/it.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>9118c34d813d75ae11674ce1c485ce954fe74d281e8cad3574091dbd594884e5</string>
			<key>size</key>
			<integer>293671</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/ja.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>5bdea20a52d0a7149723126908a34eb4053eeadebae2e96d89897bea55cef6b1</string>
			<key>size</key>
			<integer>363162</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/kn.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>84e0182e88081fab09c3e62e31dedf0bcfb302c8e650f6eddfb144cc6b2e68bf</string>
			<key>size</key>
			<integer>715951</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/ko.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>ae794c3756f2713182856806c657ff3c4bf7468a0707df788fbcd9f5bea30df0</string>
			<key>size</key>
			<integer>305008</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/lt.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>99e802918db6b5f525fb9eea46d0b385ef2d8a140bb1d62333fb4d79879b48e5</string>
			<key>size</key>
			<integer>320813</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/lv.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>ecb5f6ab5b09f889b99ea5af17bcc611e3b8f5c32da501ab75edaa1dc842b4ae</string>
			<key>size</key>
			<integer>318761</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/ml.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>9807d013dbec41e13ac278c3dcf263610c282d50d62b5b44d22c3ca0ad61fbb9</string>
			<key>size</key>
			<integer>752091</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/mr.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>b182f73fd487d9a0d455c9e59e659a61abebd2ae36db3ec46aabb1b226403c92</string>
			<key>size</key>
			<integer>602014</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/ms.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>509bab8b2dc0870c8003e0bd5d7df8ad3c05882d04af0ead0b1392cd89475453</string>
			<key>size</key>
			<integer>278404</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/nb.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>2035dd0f1348abfde1e787b7e2cb9e35c6dc686a707708a2b69b4ae70ea01d73</string>
			<key>size</key>
			<integer>273209</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/nl.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>9638d4023126ca0dc8561676817a93a920cb7da284e3ee7660a56fdde7307ba2</string>
			<key>size</key>
			<integer>284284</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/pl.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>4aa02a6d75fab67c94752784207ccfcd3b2b2daf7158b654590a138da02a6d13</string>
			<key>size</key>
			<integer>310725</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/pt-BR.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>9824a12823570553748718adbb0866fbe87548e45e4906000134bbe0ac662289</string>
			<key>size</key>
			<integer>294225</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/pt-PT.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>5cf8fc76545408cd1f83b7b2cc6131dca0363043da5bb22e34a842e4eb996255</string>
			<key>size</key>
			<integer>298331</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/ro.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>7c6c8eea30e897123945fa88d84006513e1feac9afe9c2b8f5cdafea36979283</string>
			<key>size</key>
			<integer>305925</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/ru.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>5f6df996f25d13007c7519620ff7fdef933e0732e7fea9c3b6ca67a0cf3f77ba</string>
			<key>size</key>
			<integer>491643</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/sk.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>dbe79956313727c9aeaea2de5aa28d511f3a2f91547b8bde2ec26955d21fd711</string>
			<key>size</key>
			<integer>316493</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/sl.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>7489f805583184989a03faf9a74bb113866f6beee1c0a63d01eeff3b29df2756</string>
			<key>size</key>
			<integer>302403</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/sr.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>d97d0e78152bc0b22b306b7a28982e44964b5c75a6e6c2521969afb2c28a660c</string>
			<key>size</key>
			<integer>466207</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/sv.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>a826c1604d8969a6f50ae74b019ecd0659132c3a96c3c6d1a80f2a9e916c002e</string>
			<key>size</key>
			<integer>274968</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/sw.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>d14b885ab2b974187f1fca36e7768c96fcc17724666d460e5562899568601197</string>
			<key>size</key>
			<integer>282276</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/ta.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>a90cac82fad76c68d70ea29a591cef44f608f12f3f4fc6ea89180bd574891cca</string>
			<key>size</key>
			<integer>726048</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/te.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>beb9cdb18fca45e982aab8495310cd8c25e330b2e9dca5233b0e427d5a967159</string>
			<key>size</key>
			<integer>678403</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/th.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>b04536061f98ec304e9ad11cf94d4844f7e1e6b94a5d474ee679bf71f5744095</string>
			<key>size</key>
			<integer>572872</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/tr.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>a68d2262558de37b9c242d241c737cc232012ff36b9975d02da054b0ec101179</string>
			<key>size</key>
			<integer>292325</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/uk.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>07aa2b424c4119356cbe8a2882849404deeb9474a4316f06ef3ac004e692cd3e</string>
			<key>size</key>
			<integer>490014</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/vi.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>8fefb7be1f027c745e8061d1dadaa3306a071a4fa0af61569ac38e7c43328b02</string>
			<key>size</key>
			<integer>342960</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/zh-CN.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>e1f1de90f8b05cb0d2071ec8ffb2c07a124dfffe33ec265b8d424ab501a53cb1</string>
			<key>size</key>
			<integer>253756</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/locales/zh-TW.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>4d860ae31ca7458ab1e49b76c85845c6a4e7e2a6fe626a1f1ee383e8be3a2c2a</string>
			<key>size</key>
			<integer>252697</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/resources.pak</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>764b68e9d3ea1e429e19ecfdc11167ab68d2c2cd615fd8952a25a87263224373</string>
			<key>size</key>
			<integer>6780063</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/snapshot_blob.bin</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>f779222c4ea235f6092477f245b305f6712eb907a96d85f9c6a10bef304bcfaf</string>
			<key>size</key>
			<integer>47441</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/swiftshader/libEGL.so</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>c636de1ca99a23c929b01c16014dce0ddbffb8dc7fced06eb6ca00ee6f8e55cf</string>
			<key>size</key>
			<integer>67536</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/swiftshader/libGLESv2.so</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>7df8f5274d03bcf826bea883534a992231177b3f10b311a8a580fa5265dc7736</string>
			<key>size</key>
			<integer>2758784</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/chromium/v8_context_snapshot.bin</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>aa5f3956be5af15d5ee6923bc2a05836134e84eb6be21939fde45420c571ad2f</string>
			<key>size</key>
			<integer>163785</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/chromium.desktop</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>028a748a5c275de9b8f776f97909f999a8583a4b77fd1cd600b4fc5c0c3e91e9</string>
			<key>size</key>
			<integer>4570</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps/chromium.png</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>0801ddc2208ceacc4ba3af06d4780fc34f00f1ddf5494dde8937db79593f936e</string>
			<key>size</key>
			<integer>8366</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/apps/chromium.png</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>32ea0cf8a4f67b8fde3225391201f72bb4ef117295b104961c68d0502a7142d8</string>
			<key>size</key>
			<integer>662</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/apps/chromium.png</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>bf7ed501479eff0ad5f46b1d5bc8afc6b55290b33f8bc5bb493a743ae1ce88e6</string>
			<key>size</key>
			<integer>1022</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/256x256/apps/chromium.png</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>9528ab9ca5a18e2cb56f5efbf7489274a7d4b595b846a431ebeb7682cf82f042</string>
			<key>size</key>
			<integer>19595</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps/chromium.png</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>9fef85f58e6e4a2cdcbe8b0d3d8fe833547362ab1501ab700d745876fd830f4e</string>
			<key>size</key>
			<integer>1524</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/apps/chromium.png</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>21b2927bb47d305bbda718b9c08c6b51fbc0597454587978ea0046bc595393fb</string>
			<key>size</key>
			<integer>2531</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/64x64/apps/chromium.png</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>35256bbbf925fc28147c6b95a37ee49851dba23aa8fe4c0d2c4cfc0669754c82</string>
			<key>size</key>
			<integer>3630</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/chromium/LICENSE</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>sha256</key>
			<string>845022e0c1db1abb41a6ba4cd3c4b674ec290f3359d9d3c78ae558d4c0ed9308</string>
			<key>size</key>
			<integer>1559</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/chromedriver</string>
			<key>mtime</key>
			<integer>1612587659</integer>
			<key>target</key>
			<string>/usr/lib/chromium/chromedriver</string>
		</dict>
	</array>
</dict>
</plist>
