<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/chrony.conf</string>
			<key>mtime</key>
			<integer>1603974657</integer>
			<key>sha256</key>
			<string>d837d18c293b538ce86735aee7eb0bdcbfe4231f827b8aa78ee39b6f461bfe1c</string>
			<key>size</key>
			<integer>371</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/chronyd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/examples</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/examples/chrony</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/chronyd/run</string>
			<key>mtime</key>
			<integer>1603974657</integer>
			<key>sha256</key>
			<string>c0a138f1b62a8b000cc8ec19deb4f8a0c45d6f87c869ececd2783c7501312fff</string>
			<key>size</key>
			<integer>89</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/chronyc</string>
			<key>mtime</key>
			<integer>1603974657</integer>
			<key>sha256</key>
			<string>dc6d91a19b683f6410e68f8e5d0512bb1dca71207c7ac4d0158dabae070fefda</string>
			<key>size</key>
			<integer>109504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/chronyd</string>
			<key>mtime</key>
			<integer>1603974657</integer>
			<key>sha256</key>
			<string>15087d21b78b5adfd6738611a52a2a31293f5d36e31ed9ba30c30e356c00deaa</string>
			<key>size</key>
			<integer>281376</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/examples/chrony/chrony.conf.example2</string>
			<key>mtime</key>
			<integer>1603974657</integer>
			<key>sha256</key>
			<string>f18b31e1b333529de95f13e9a3d30fa880b63edb9e58b595d097b230c7301dba</string>
			<key>size</key>
			<integer>1307</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/examples/chrony/chrony.conf.example3</string>
			<key>mtime</key>
			<integer>1603974657</integer>
			<key>sha256</key>
			<string>6625c634d4ded1a58b81166a24a261ea540fbe4668c322372b3c4c51f1b894c7</string>
			<key>size</key>
			<integer>13770</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/chronyc.1</string>
			<key>mtime</key>
			<integer>1603974657</integer>
			<key>sha256</key>
			<string>7cadc94d206a1b2fe25c7bc9ce5ef8550b14c0ea0dd4dc310ab3a3a69b7de031</string>
			<key>size</key>
			<integer>67792</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/chrony.conf.5</string>
			<key>mtime</key>
			<integer>1603974657</integer>
			<key>sha256</key>
			<string>077675a879662b58088015a6a759cd66e46bff091b93e29ef0beac1b70573e03</string>
			<key>size</key>
			<integer>139728</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/chronyd.8</string>
			<key>mtime</key>
			<integer>1603974657</integer>
			<key>sha256</key>
			<string>e53595ac0cfeea2574a4518160e4a46c654f478d94731f5f8857b8c15615131c</string>
			<key>size</key>
			<integer>9015</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/chronyd/supervise</string>
			<key>mtime</key>
			<integer>1603974657</integer>
			<key>target</key>
			<string>/run/runit/supervise.chronyd</string>
		</dict>
	</array>
</dict>
</plist>
