<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/GtkClutter-1.0.typelib</string>
			<key>mtime</key>
			<integer>1556408752</integer>
			<key>sha256</key>
			<string>850e66dfebebc67833d299ca53e25bcc714e6016a8c54623ca622c7f128b33d0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libclutter-gtk-1.0.so.0.800.4</string>
			<key>mtime</key>
			<integer>1556408752</integer>
			<key>sha256</key>
			<string>1f393bc0595fba3edf68b8b59df8ab5728a59c91fcc8c6f4757a443a78d79dbe</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/cluttergtk-1.0.mo</string>
			<key>mtime</key>
			<integer>1556408752</integer>
			<key>sha256</key>
			<string>6aa053394a4b361ac5277d83da598a36f7a8bdec188ada4239a7fc6e29c36f0f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/cluttergtk-1.0.mo</string>
			<key>mtime</key>
			<integer>1556408752</integer>
			<key>sha256</key>
			<string>29fbc4db83314c150fe950807dca8d2d349b2c2296b7625cfb5952c0799b47c2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/cluttergtk-1.0.mo</string>
			<key>mtime</key>
			<integer>1556408752</integer>
			<key>sha256</key>
			<string>48bd4886a4795e8f8f966a58c00e289b307992a2176835bfe9f961d446810695</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libclutter-gtk-1.0.so.0</string>
			<key>mtime</key>
			<integer>1556408752</integer>
			<key>target</key>
			<string>/usr/lib/libclutter-gtk-1.0.so.0.800.4</string>
		</dict>
	</array>
</dict>
</plist>
