<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/clutter-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/clutter-1.0/valgrind</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/an</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/an/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az_IR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az_IR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/km</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/km/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ps/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/yi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/yi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/Cally-1.0.typelib</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>ec16b93ce907bf87c1370c6e5eb49b76cc22890a362dcd32268c05a985bfd99d</string>
			<key>size</key>
			<integer>5180</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/Clutter-1.0.typelib</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>a509bf06065c0d726f8d92617788def05a4d36450b0baa654ce113ca9b6c629b</string>
			<key>size</key>
			<integer>497420</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/ClutterGdk-1.0.typelib</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>0eca8820168e822b45ef7d1e5089a3eac1cc5efd790df36a117844148bc2456a</string>
			<key>size</key>
			<integer>1296</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/ClutterX11-1.0.typelib</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>7d6b18a50fc091765785124f1bf5996ff89c910b0c441c0532b72ec521a4b94d</string>
			<key>size</key>
			<integer>5300</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libclutter-1.0.so.0.2600.4</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>1736a3ea96be8dc50a9384ca0908a7f710e9c369ec3512f4a4daace88a9368e6</string>
			<key>size</key>
			<integer>1461280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/clutter-1.0/valgrind/clutter.supp</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>6b30fefb61ef2c7f949bd3ca3485a101e3b433c92ba9def5d0a82a20296a2377</string>
			<key>size</key>
			<integer>2058</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/an/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>238929e7b77a8dd31375005e3a35518f4f8f94f37fbf6bcfa55e6dd715b66e0b</string>
			<key>size</key>
			<integer>52399</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>7e6e91514377d3300d376a504ee3c9bc6f62e9183aad750582e23f1583cebea1</string>
			<key>size</key>
			<integer>562</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>010c110c64aea862b5b4e7983d4c39cd0798a66908dc3ce35b7b6e0c4d14734d</string>
			<key>size</key>
			<integer>73124</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>ec583390c0a3989f176a4e3a395a7c9515a96747cc8aa6f170286f8d65217780</string>
			<key>size</key>
			<integer>40354</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az_IR/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>2c8f351f86a7b923734928844e953ee55c9fb0c1b2a4e1d3567b77f2fea7e41f</string>
			<key>size</key>
			<integer>508</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>c69367325a2d441ce4612fe07549582829ff5557ec94fde6d8422d7d26ad1d70</string>
			<key>size</key>
			<integer>67737</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>0e9d98657abda62acaf4b9c65e7d2e580293146dcb5dcf5e29b096e5180e6d8e</string>
			<key>size</key>
			<integer>69700</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>0f7314ab918c3997b5e7e1a8896c31c07f040cd7000cc404181ff3380ef3ed7b</string>
			<key>size</key>
			<integer>50427</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>887c59600e68a95ae323c2b013ae9187de68c4d5dab3f890424f41d3afff2ca6</string>
			<key>size</key>
			<integer>55052</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>76485808a2159903ec22e5a94e03cc7712ed404a290bf9b085ebacd7ecfe03a7</string>
			<key>size</key>
			<integer>53470</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>3c449b5661ff8f9373456af11012edc5b249c5bf593dc99965274486f56717c1</string>
			<key>size</key>
			<integer>54270</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>b61eae037a5d3d3a8cd9ff35dc7a2abcad0b7258b4ff299bf4adb35f74700dd6</string>
			<key>size</key>
			<integer>52495</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>19f7a82c6968aec33266ae16ce31ecf60968ef5ee129143442a495f8dd4c07d0</string>
			<key>size</key>
			<integer>55117</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>781304fbc3189d76997d9f66952b34ae3ecf5529b718aef53caad6d15e002c32</string>
			<key>size</key>
			<integer>72417</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>c49436153e3b89a7ac9cf55c36de9729795e91a01f6f0c481b0a41a282a8a8c7</string>
			<key>size</key>
			<integer>51401</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>a065072f508f47c8d8673430ce1921bbd5cf1d10e8dbda1b61ba3b9bac824534</string>
			<key>size</key>
			<integer>18537</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>26a2efd31b4069e055868869c9cf7cf9a39462c42ae5eaa00b9a064d24fcd92c</string>
			<key>size</key>
			<integer>55190</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>aa6cd84f10e73e2992ff61d7cdfbea062565b9c374bb7f1af4ed4ec5ee01f3df</string>
			<key>size</key>
			<integer>53507</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>b9bbe73104a1ab0ebc5fa3a8a15677ab895c49c4a45414a65c95443ec8d0d19d</string>
			<key>size</key>
			<integer>489</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>72c2116f6944b98d6e2b344bc279ca9134a370b705d3d7407b4b6adc76809ac2</string>
			<key>size</key>
			<integer>51517</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>09c36b2091f33339a8eeb168df733b5497aab571ba592d17a40f092685ee7243</string>
			<key>size</key>
			<integer>56801</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>ec8da1a36e188e63a2a40c13722578d946ef4a8b2f384f1f16679e62e89df70c</string>
			<key>size</key>
			<integer>32739</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>4c79e1eed10aed5ffd5d322718a05e3b3167051b11ba4e8111ab13a9ab4e2a43</string>
			<key>size</key>
			<integer>53993</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>f6f79cfeafc283ad69bb79234e1b414fe82e55b7bff8caf8d8ad2d1b8705ee44</string>
			<key>size</key>
			<integer>49850</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>074465f9d41ba39f095c8c6f7bd1cda7546628caa66b0f5c3ce6843afb8518f4</string>
			<key>size</key>
			<integer>71663</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>10e8c72e45d55ca8bfc9ed10d8103c6ccf4a53047ef72a140d899df5760a45e5</string>
			<key>size</key>
			<integer>1587</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>fa008fbd5e3f90512421148e08235d30b378f04a5b9252c144107ca2396e5e85</string>
			<key>size</key>
			<integer>54860</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>40077b7aa9cb822e55720e76c8769f6d46f6f4c6433e7c88571da21291bddf83</string>
			<key>size</key>
			<integer>50899</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>d40b2bee5fba5b3062b0e8b17b1bba587a75b5473c79a7589458aa6fc6dfbe58</string>
			<key>size</key>
			<integer>54419</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>95433070d5d50fd414cde0a60f66df80f211216f9ce28ad7075ad8cc626a6a20</string>
			<key>size</key>
			<integer>54699</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>7b0e29234e99c772e721d1441c16d045043d1e2aebda83e2bcb0f107b2faa3bc</string>
			<key>size</key>
			<integer>4221</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/km/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>65a080c0b39b3f70e9f48fef2864117a13c25aa0ebe6628e9c310cb2a2eb99f0</string>
			<key>size</key>
			<integer>70076</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>5f815a6c7e2002ba6cb6cc6e7c5c5a7e28e9814df9d684a419d5fa72690be71c</string>
			<key>size</key>
			<integer>26709</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>2601fa1606bccae6d165789936902c83d7ddb228ec9f28128fc927e44c7348ba</string>
			<key>size</key>
			<integer>1343</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>80b2ed0c9341a86eae578e9202ce91a221544b9e3237bfbba45e51738bf58cd2</string>
			<key>size</key>
			<integer>52257</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>6286fbd5a4b49bf5deff0a8da4fc3fb154dc3ae8ecc87d7e8bf8cb67a2b3cd40</string>
			<key>size</key>
			<integer>52785</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mk/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>d5e46d0563d27dacbb2493c3fa5d6b0799e6ad7f4fc5adf381b48a7a76316869</string>
			<key>size</key>
			<integer>52927</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>706107489f951cbf7fee5665e4231043b2020e71fe3803129c76c754c4f2fd15</string>
			<key>size</key>
			<integer>27890</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>39df501d2d87ccb54b1ffeb294dd02425c905512f6a0c5d569aebe16ee76c114</string>
			<key>size</key>
			<integer>20450</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>dbf193d616ae570f5b9e337243884effb53e64e777ffbfcb832b28f853d77b94</string>
			<key>size</key>
			<integer>22070</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>fa080f664746c77420778389069898dca2f4f2c52e79cf7aef192010eec01509</string>
			<key>size</key>
			<integer>49572</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>79c6083d565b6b5905cde42cf5009a11dcf68f2bb4bbfd3e1192857d8e17e46d</string>
			<key>size</key>
			<integer>54025</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>b552e20c9ad0d18f8b07e99d255ccaff7a07565a9a4e73db4096ad280a303779</string>
			<key>size</key>
			<integer>26693</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>029f0037cb1522062b8cb05e990303f358f2b7331f7301e6dfb9fa969d09553c</string>
			<key>size</key>
			<integer>4541</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>cf9f61c20133e6fc58af512c8e88d40b77745c73ddcc1f6962f32a70c173214a</string>
			<key>size</key>
			<integer>54963</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ps/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>2220eb1a3b59c41a34f930192a2675b274389009fe8d9087bda3d13266fdf89f</string>
			<key>size</key>
			<integer>463</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>79e8502752414c9e7424ac8d96e9b7118f86cd01db7d08c54f7708e3710b56bd</string>
			<key>size</key>
			<integer>52248</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>0fabd1081f92ff78e1a870e3a45264a933c9c3ccbce36fa01a948659c213ad54</string>
			<key>size</key>
			<integer>53372</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>2ab2f832ff753070a4bd30a1d9e1ea3cf942f24a648572b34e886f949568c6db</string>
			<key>size</key>
			<integer>55352</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>e11fc7063cd551208e31a64f52ae0223aa03d2b212e284396f8868b534f772af</string>
			<key>size</key>
			<integer>67621</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>c45daca0e80546f8ac576e66e90f8beca64fd21a24b800f49aa0bcd0f181ce0b</string>
			<key>size</key>
			<integer>53949</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>46266b0f0f5a933b178005c9edbd48d4c0ea6f5e83f10ca83f9b006981556935</string>
			<key>size</key>
			<integer>52082</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>f9ca6f8fede75441dbb449b60e631b127c3f425fea745417dc593ba937240fc9</string>
			<key>size</key>
			<integer>67217</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>0c0dca9cfdf35468232f0ba398f090c145ec767eaeb6bca7bccf94d5f62135f7</string>
			<key>size</key>
			<integer>51211</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>d1d06d19041fcac7b465a54fba72a863705bf73a04e3def9a97e599dde480dc4</string>
			<key>size</key>
			<integer>52556</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>a754e080a8708782bfa70707e12fd508cefc6bdb5353638954f9b461add19f65</string>
			<key>size</key>
			<integer>64384</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>240675197c8f5547bf3e9c9b755a0aeea23c80271adf7f1fb855c85a7b39cb52</string>
			<key>size</key>
			<integer>76738</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>57a962437e803cf184ac4135545648ef14c47871c3a3a05477a645a8df437c53</string>
			<key>size</key>
			<integer>53963</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>34cfb83d1b877c3aeca6c8df6e8fface8ba70e8439bb8a90611fe88255b17287</string>
			<key>size</key>
			<integer>10582</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>e288ed860663675b9a1204ec5bcf650f2922f89c8e3ce014ff78bdec72aed4fa</string>
			<key>size</key>
			<integer>69115</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>98fa9a990022fbde80a7981a896d7e769556830f55abc389fc0e156323a0c879</string>
			<key>size</key>
			<integer>468</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/yi/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>7f4f5ce3140a2a17529ac216b3c544a4f58ee1c643ba6e4e16f52cf8460abfaa</string>
			<key>size</key>
			<integer>431</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>471b7aff5f24b089404c050aef47f27d431004307e6281ae848957d9caeccc55</string>
			<key>size</key>
			<integer>46836</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>7fa8ead65bd05ee39bdba87f3455d1db67f7d8a87dc0b1e6adde02be9e3e6932</string>
			<key>size</key>
			<integer>46751</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/clutter-1.0.mo</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>sha256</key>
			<string>9d04facd0a4f33f30246990ab8cffa092dcd95848ad2d86ee67f9b25c73e128a</string>
			<key>size</key>
			<integer>48733</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libclutter-1.0.so.0</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>target</key>
			<string>/usr/lib/libclutter-1.0.so.0.2600.4</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libclutter-glx-1.0.so.0</string>
			<key>mtime</key>
			<integer>1584590851</integer>
			<key>target</key>
			<string>/usr/lib/libclutter-1.0.so.0.2600.4</string>
		</dict>
	</array>
</dict>
</plist>
