<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/cogl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/cogl/examples-data</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/an</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/an/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_CA</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_CA/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/km</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/km/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/Cogl-1.0.typelib</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>2e7fca775c561aba9a9c36aa74c34cb7b7e12e6ef9345114bc3ea4e5728c8b0f</string>
			<key>size</key>
			<integer>44096</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/Cogl-2.0.typelib</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>64572c5ee4d11d6961a2430ac43a1796980a6aed06a8853f9d6cee85ddcb3663</string>
			<key>size</key>
			<integer>104404</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/CoglGst-2.0.typelib</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>36b35244d2e19b2ef7753b9309079b63c7025da7f326264f34d6a306b535bc57</string>
			<key>size</key>
			<integer>2916</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/CoglPango-1.0.typelib</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>cf0c14acdd4643b779a2e3dc102ea42a7578f1733f4af8cf71567e0f27a7a03a</string>
			<key>size</key>
			<integer>2300</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/CoglPango-2.0.typelib</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>b13e67bf46b34897ee080ff706f448a8fd56d7d6d65749cc672c1bb019c2a810</string>
			<key>size</key>
			<integer>2668</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstcogl.so</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>41b6eb603534dd883a7dc4ff27f3261f906396b0885a8091d0033f0036edf1aa</string>
			<key>size</key>
			<integer>14152</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libcogl-gst.so.20.4.3</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>f0e28fe9379280861d88d9ebf79703ecebfd9439234c6a1e64679475d30e69a4</string>
			<key>size</key>
			<integer>39816</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libcogl-pango.so.20.4.3</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>9b5f6329532cbd2a205de50c068f791c1ce1b8eb2f9ec47780717670f1b831a7</string>
			<key>size</key>
			<integer>42912</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libcogl-path.so.20.4.3</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>378a6852b3a34a9ac1cea076ce16696912bf40d7e4077e4a7e0cbad4d8cdd1e9</string>
			<key>size</key>
			<integer>75760</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libcogl.so.20.4.3</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>62b0120823d5a9cad64b9ccaef9d36e48629a5e8e20375e0286cd36771ff2464</string>
			<key>size</key>
			<integer>769648</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/cogl/examples-data/crate.jpg</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>fe6e12566167f5219604b826dbee59bb0ed5c8ff02e2a2de864e2776b9feba26</string>
			<key>size</key>
			<integer>171588</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/an/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>aa317251af164a58866bcace733d2a7c4d20ae42a7c4dd198e3afc2463d6dd51</string>
			<key>size</key>
			<integer>8241</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>b56b708c1757d25e18cb79531e4b47e13ecb6ba04ee2d624025571b78750d797</string>
			<key>size</key>
			<integer>940</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>1d975b0d939f5f30d7872ae8b7383f0f6f1a4517fa713a818d729f49447a2743</string>
			<key>size</key>
			<integer>12134</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>95e71e1355ea425441713dcd24da41319b472de4599846e4df377557c865794d</string>
			<key>size</key>
			<integer>895</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>66a99b4d7f5272d2475bb37312a6a24b19d4bd202d94c5a9886e3c6f33596bf8</string>
			<key>size</key>
			<integer>10777</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>97e2907dc3d0c44fc3bcfc2e99dd8fa3d4bd0f1f8dd5ad173ab1de75651e0960</string>
			<key>size</key>
			<integer>12258</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>5cf6ceb191f78f98a1d64855a29d25e4221d49af32aa5ba7c67e5f19578b2c7c</string>
			<key>size</key>
			<integer>7802</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>70b95e35961616258c843855c4e533352f258f3d692417f898d9ecd75aa88146</string>
			<key>size</key>
			<integer>8441</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>1e9d3f139938486782cbb7c64ce629f124988f2ee4682f214a3d3d8d07f2a786</string>
			<key>size</key>
			<integer>8491</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>bd39c5e94565407d9db09e7251bda1803ddf6a144de9a9e0c9c508fffdc174cf</string>
			<key>size</key>
			<integer>8388</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>603c39e0fa97c3d8538195057db42c1bba29782f544862e0fc5361c524b426b9</string>
			<key>size</key>
			<integer>7620</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>6bc2f6846b0f4d729797c70aa28f3bb1fa37f3a248f686946aa273b761f63ab3</string>
			<key>size</key>
			<integer>8242</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>bc342185cb742e88b672af0350ec03ccf78149864b2ad5fb178b590cfb459799</string>
			<key>size</key>
			<integer>10925</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_CA/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>9d1ed1f52c5d7567e7578c6d7cffaef55688876107ff0d3efc11e09a6f612401</string>
			<key>size</key>
			<integer>755</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>b77aabe4d50edb9cb5a0902d9042a7b4761a379f891cef4b1594002a896f6cd9</string>
			<key>size</key>
			<integer>7288</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>8581579ef2a93683d2be856680dd3a4e9cbd1a1433172c7f81ef0e0b74098a9e</string>
			<key>size</key>
			<integer>1037</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>4a5432e7031a1d6e6f1e741518d219e6d9df0cd8abb7b401db2b8551c9725d9f</string>
			<key>size</key>
			<integer>8391</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>d114c2a58503a4205819b85eed5d42521a670f9bb4a6f3f6752b88d215c49259</string>
			<key>size</key>
			<integer>8215</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>5bd2d86544322f36758ea83aa416e3c70aa38c425a5be3428c3e3508496227a2</string>
			<key>size</key>
			<integer>932</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>e776fdaa90924e4bc6ba5a75b7c2bdbc29e20af0cf4956846aac18bd4fede230</string>
			<key>size</key>
			<integer>7552</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>4d2fd17a8376a96176727fb5c4bb52997c87da82b2d4523c4c176d6c36706ee1</string>
			<key>size</key>
			<integer>8678</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>bd073f6fbfec783aa45d2a6a2b588a30a3bd3ee71057228fcf56ef954025b913</string>
			<key>size</key>
			<integer>8308</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>da29f5c9de576ce8be4ad639a60ede4ea27e4c0f51a8739e33a4f1bc58918662</string>
			<key>size</key>
			<integer>7965</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>bd32d7607bdfd643de0addf1c4466dad53be8fef8053b2e8d78604b865b16a05</string>
			<key>size</key>
			<integer>7399</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>299bcb32af280bd74b0431a3252487ffec51d9371065627949d3781fc6ef3ed2</string>
			<key>size</key>
			<integer>11841</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>55535219cbea4c3bf5964188f64ace5692e3780b2eb3d5e87306b31e7a520077</string>
			<key>size</key>
			<integer>8200</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>5a43b8d634fc5b40c572f4a311b34d24cf10cc340335b91fb567dd369a81601a</string>
			<key>size</key>
			<integer>8519</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>5e6fd3742b4d25d87c14e2e1285d5aadfb97ad6c927f4b6f48cff84c102b59dc</string>
			<key>size</key>
			<integer>8097</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>88cabf9e127a4e9ade9cd54281fb72c11869da96b4865fe6dbbf94264a42808d</string>
			<key>size</key>
			<integer>8067</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>b0d07111575d103987478b781e943ad408f8150d86bc64e6d2109518bfb212d1</string>
			<key>size</key>
			<integer>9368</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/km/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>2def48c87b4e22c32fbc75fdfea7e362e291f49daf2033f2305dbe06728c1cbc</string>
			<key>size</key>
			<integer>11830</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>a5763b0df3b85c1c438936a195fc721bab240a0df4fa344d1304e16714e51335</string>
			<key>size</key>
			<integer>975</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>82a672175427c367cc74743ad3912508956c127a6cc802cb27de060dd6c658a6</string>
			<key>size</key>
			<integer>8187</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>851b6517f316d0787509e5fa15cc98cf6c1aaa2a34891cf61be2bf1207f9273d</string>
			<key>size</key>
			<integer>8011</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>c8570ef500f9681de5f39974b1f20027d6d02b0e8f9df3b358c34df7c13177ab</string>
			<key>size</key>
			<integer>8212</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>4b81a69d4956925c8ddb180346e76f587f920c382d0be90cbc8d7fc2a63cf09c</string>
			<key>size</key>
			<integer>1984</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>0aea7a2bc10560f8f46b652bee548afffd4cd0f2e2b9a1cf5ff2ff19eecfbc6c</string>
			<key>size</key>
			<integer>7767</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>4a6cf54ec87eb398869065daa41f81adc16facc51faa6e782b263c4f53962606</string>
			<key>size</key>
			<integer>2296</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>2ad1111b0df22178467d9788dd546fb166825e5eab94e21fa7063963383f0f98</string>
			<key>size</key>
			<integer>5956</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>9e4eaf51875796ed62825c35ef474e5a788908ea1cb3c169d409ee91c99fe017</string>
			<key>size</key>
			<integer>8028</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>65685f56e35fbfca81743ca7b81b0b1d82138d3273b8bc0be16ad9cd08eeda3b</string>
			<key>size</key>
			<integer>8596</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>6269206b875cc0ec6143b340406923b95dc064bf47bdb2955ee7974154df397f</string>
			<key>size</key>
			<integer>1015</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>07232964c9098ce0ac2e77f2d20aa1da845c12fd016598a2a7a869ee2c672954</string>
			<key>size</key>
			<integer>2592</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>1b872b03a6be2767f642e95929eb2e9515d52ed563ff90f4d38f9e1d7e7d1943</string>
			<key>size</key>
			<integer>8393</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>c963254a1b7316e4bcdfcc4c7b93ab15bc045c1aafb209c24db89f80407ce27d</string>
			<key>size</key>
			<integer>8184</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>87033d35ab603010892860b496e296e39c2d3701c77a580f103e17124742ac9c</string>
			<key>size</key>
			<integer>8540</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>540c787341ba596f7b891c94b0b9ddee066c04ce4ec27aaceaa9e5c5fb817749</string>
			<key>size</key>
			<integer>8636</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>bf8269222077dcd3f41394620ff01dafece47dbd8a01f1cdb1df8048c8a2b359</string>
			<key>size</key>
			<integer>10641</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>0be2939e9a7c7987e6260bc5cc92d1d98fff712d538d723686e40b50c67fa187</string>
			<key>size</key>
			<integer>8659</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>9163ccb150895788abd95b87317f7690a4b528e5df5067c91d5042fe1dbbc3ad</string>
			<key>size</key>
			<integer>7915</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>33b34df2c6f542a762db7bdce50492e838ca9c527c921383a8fd1da34082e561</string>
			<key>size</key>
			<integer>10486</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>e1855223f884a8f20174f47eee92ac2edb1fdd49e454e57e9dde3df14389101b</string>
			<key>size</key>
			<integer>8144</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>82d4dc7ed3dc23c4e6dd2f8b089f58d7e1a19698fb131d8300ff132d8e8afd98</string>
			<key>size</key>
			<integer>7899</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>c468943deb24e9f0c11b65b4772c08c212504499f55dc5836cdb5df85a0052e6</string>
			<key>size</key>
			<integer>13321</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>fa6b1fc93725ec07b6f7bb1cf90565226e9f83a9eb1af0fe975eb6ef4d4dc1be</string>
			<key>size</key>
			<integer>12521</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>e9aed3b574ac340a7b8dca144b32dc2d4bbc4fbc4e3bca436ddfc7f157370d5f</string>
			<key>size</key>
			<integer>12202</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>9cea5986bd2b3792ad41a234c8ec6ccc2e2dc626c3deb9495ad730056ee55d35</string>
			<key>size</key>
			<integer>8212</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>355cf4a4b2c5f935e4b3bb318715a44c9ebd30bf9513bbc5dc05ab2cd65217f7</string>
			<key>size</key>
			<integer>8647</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>76e5c736ca7a750534b3455f3f47ba30aea01a125e72ad33353f2df7fc78f12a</string>
			<key>size</key>
			<integer>10389</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>3025784dab6695cd06b02ec717b95d4318a4ec5300e27b96ad6b0bebe1ad3d34</string>
			<key>size</key>
			<integer>780</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>7e50d1a7ac6414a47428d15719b6f6eecdee0aa2dfb3ea773b7822531bdc2870</string>
			<key>size</key>
			<integer>7284</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>2114507220e55383dd6d75680cbb522023c87096d9148d8e5d84e0fd0f6291a5</string>
			<key>size</key>
			<integer>6942</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/cogl.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>18b0d916ae1e64ea0cfef9edc06853566239b8197b4c38e6d957cc1879f8dd26</string>
			<key>size</key>
			<integer>6976</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libcogl-gst.so.20</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>target</key>
			<string>/usr/lib/libcogl-gst.so.20.4.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libcogl-pango.so.20</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>target</key>
			<string>/usr/lib/libcogl-pango.so.20.4.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libcogl-path.so.20</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>target</key>
			<string>/usr/lib/libcogl-path.so.20.4.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libcogl.so.20</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>target</key>
			<string>/usr/lib/libcogl.so.20.4.3</string>
		</dict>
	</array>
</dict>
</plist>
