<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/lib3d.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>9ac0320e46e9f8b5a18700279b718e3aaeac84b61b59e04f2b74da06b6167391</string>
			<key>size</key>
			<integer>38968</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libaddhelper.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>765698d0b48be099b100a79c1a3d624e0819760b8629a17c6ad8c5e194ba3b3f</string>
			<key>size</key>
			<integer>26688</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libanimationaddon.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>a4afed4973dce41754456ff85f5e27a8482733720b67894696b47f9df9f89df5</string>
			<key>size</key>
			<integer>96688</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libbench.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>811b2bc6ebfc3f0fddea2c69378d308077e9b4f19f1494ffbf8f34920fa6b8ab</string>
			<key>size</key>
			<integer>575608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libbicubic.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>4bddf4a171c9aa8c52ebb76ce1cae5f14593103329ed4b37d3f4c13ae15031fe</string>
			<key>size</key>
			<integer>14400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libcrashhandler.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>57f565dd359a1f0d7f37440898b6f900b702035837c68578286d281e11f11d5c</string>
			<key>size</key>
			<integer>18496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libcubeaddon.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>93e4e5471dc52235eb30243b83cf9475b753745b4785a3bf14452600f26ef290</string>
			<key>size</key>
			<integer>67648</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libextrawm.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>7e4d721fe2d62d43393596afce76fa515158ae9c2c60018fb051b231e1da2b7f</string>
			<key>size</key>
			<integer>26688</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libfadedesktop.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>40921a63b1841a85f3baaa0b3ef0fdb966b3169f8e6342ebee71a8ea7ec62f7e</string>
			<key>size</key>
			<integer>22592</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libfirepaint.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>95e7ff3c3012571b08c6a22091ac4aab52df3b66c0e4aa425e1dcb91821231a3</string>
			<key>size</key>
			<integer>38976</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libgears.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>6787f7c6d30781daed8fab440a65ea36fa4777d5f6757e4fe1fd047178a6106d</string>
			<key>size</key>
			<integer>22680</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libgrid.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>e7234715b90cfb433489ff59fd8798da707987ebfca26e171d28c99512ca2a1b</string>
			<key>size</key>
			<integer>47160</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libgroup.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>5a8629305430434478d91cd2b51fcb753180500f8413e642bfd9f2c6c15ac579</string>
			<key>size</key>
			<integer>157752</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libhighlightcontent.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>4b3e4b074b468b44b2c47bce9fdda76982b26e3ee5f3944480115f3fac954214</string>
			<key>size</key>
			<integer>34888</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libloginout.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>1a08ffc0fff56e07aa6cebfc1cab43ad9fbce540304452b3ccea5ddd841c23b4</string>
			<key>size</key>
			<integer>26688</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libmaximumize.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>9249650dbb3d7356be5e4b50b3a88725440c8656138f4caa9063d0ab01b582a6</string>
			<key>size</key>
			<integer>47168</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libmblur.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>cb8dd2eec27a8d67586a2a05a52e79c15ac0d96da03d2ce504dd2e2c8861ae96</string>
			<key>size</key>
			<integer>22584</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libnotification.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>83da35cb0e54ee59abcbc123dd98995464181d5dbed72aa9072e8f7fb01f8bd1</string>
			<key>size</key>
			<integer>18496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libreflex.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>b21d1861e498f5f2567e6a506b4c273eb96170bbbf5e3c5eb5a3709a20231cbf</string>
			<key>size</key>
			<integer>26688</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libscalefilter.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>363523e3f237827475944238169d38fc6114af3e2abf53856a541cf0e7170e00</string>
			<key>size</key>
			<integer>34880</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libshelf.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>fcfde5a1e1ebc193e52143ef3003daf194e0b74fa109b389ace7904ba1401325</string>
			<key>size</key>
			<integer>30776</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libshowdesktop.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>52f43d55d445a80ae52097ddf3dbf1b822652fa102eb1d594258a1c5c41a2820</string>
			<key>size</key>
			<integer>30784</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libshowmouse.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>82e286507d12649a79aa1abd461d5757aa33d9fa9fab30322af8192c01b26330</string>
			<key>size</key>
			<integer>51264</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libsplash.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>70a54e9d521a91826c692ebc6b21d72b48a0287aa4927b019fea1fd39062bc7e</string>
			<key>size</key>
			<integer>30784</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libtrailfocus.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>44ab96f4f605190c0fa8e98ff03580cb4578170cba53d1bb04e58f5779cfa5bf</string>
			<key>size</key>
			<integer>30784</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libvidcap.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>7c4727a3d32739e3f98b11c8fdfb00645eb43399d68f6631f0ac77d8ac03f0d6</string>
			<key>size</key>
			<integer>30784</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libwallpaper.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>976b69a16134d2ae86c116c60e96c62d306a11a26699ff2b3868f4bea54c1bd6</string>
			<key>size</key>
			<integer>43072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libwidget.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>b6b561b3d885fddf77e3dea015e26f5f2ddd7eba5970a45437cdc69ab8ce30cd</string>
			<key>size</key>
			<integer>30784</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libworkspacenames.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>888d096b6234853c038dc7b4ba2db16ecce99878df6ab2f14221e54eafb0ae0f</string>
			<key>size</key>
			<integer>26696</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/3d.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>2f4e4b7508c90b1c4ea17b947a38d08fc8c9e31616c0e9603ad5e70e7b369ea1</string>
			<key>size</key>
			<integer>58916</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/addhelper.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>f1064accb7038aade1fec36fd17370f161f7af270b8f996b7f87af83a16f556c</string>
			<key>size</key>
			<integer>26377</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/animationaddon.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>377552fb35ec3243b9a20906a136d5c7ecf916db5224741cce40837ce1c425aa</string>
			<key>size</key>
			<integer>234338</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/bench.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>9a811c667288a70d7eb7dab612cd626ec4d189e3d2b1b30666d598d9d29b290f</string>
			<key>size</key>
			<integer>34316</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/bicubic.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>f89ac29b8aeb1c78a2f92bea67198973ae323d882e117a0c7e64ea6df2a941f8</string>
			<key>size</key>
			<integer>2513</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/compiz_icon.png</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>fa598fdef258824f0cbf42fd7c1f796a1466356366109f65624413e730bd13f5</string>
			<key>size</key>
			<integer>49096</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/compizcap.png</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>2ff8186fa55754458e1a9aa4398a976ad09c9a3e119c415e7023898f0e1fb844</string>
			<key>size</key>
			<integer>75216</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/crashhandler.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>7a2cfef3b19b481fa4cbf123514da295e6a9ef1ac3d9d0d6207e2d1dd7efe120</string>
			<key>size</key>
			<integer>21087</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/cubeaddon.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>e1710e12ec811178c68985dcccf64c5eb0ca2d9753e9a3d0df970fb005d50da5</string>
			<key>size</key>
			<integer>151704</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/extrawm.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>de4395db1317c32fbb544f6bf46430e52df0b743d9dad816168913e9a8d22b18</string>
			<key>size</key>
			<integer>25037</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/fadedesktop.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>79f363800e0df365bad71b79245016001ff4ff78fc9ffc622d8f2cecb2213cf6</string>
			<key>size</key>
			<integer>11081</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/firepaint.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>24613b787d12a0d688145f73f118b5b44d27b021bfc5ade2af1788f9439a9347</string>
			<key>size</key>
			<integer>43132</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/fusioncap.png</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>286865ca014e875b125c1989feeb38c033ba4353d6581b3b4d5c12e93eda5011</string>
			<key>size</key>
			<integer>143956</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/gears.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>4c0b0b3e29a9670c3d2d24025f731f0e0397a20bf1600161dfbe707e81ba479f</string>
			<key>size</key>
			<integer>3418</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/grid.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>c19bb6913065b0a877fdf1810cf51f6db34695f6912caa723a8bf430d28c1956</string>
			<key>size</key>
			<integer>65276</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/group.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>54bbc33e551ab61f0262fdc9ce79b3eebb2631c58fdbd46bae9c06815ed18cf2</string>
			<key>size</key>
			<integer>293057</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/highlightcontent.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>11a2bd5ff0dba677ae18fbda64c01603c08ad22747698856123069917c823149</string>
			<key>size</key>
			<integer>9187</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-3d.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>1e599d0ad6d8feb784298ea4787dd3f573e41b3c71d60378f358126de61c30a6</string>
			<key>size</key>
			<integer>24555</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-addhelper.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>efee76f5072cc932f24ca19baed5d1b3141e22783d3f81d862b8c13a28771540</string>
			<key>size</key>
			<integer>14266</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-animationaddon.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>d5075fd26c4437aef2b931fe75ace60571cb89d997c1a0500d4923eecef026b9</string>
			<key>size</key>
			<integer>9346</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-bell.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>4910a0efe804479d888f68228dab50a4f6b5150570353dbabb7ff9853aa6bd60</string>
			<key>size</key>
			<integer>14215</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-bench.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>f0cdd8b393398ea7f588f866c5ad3a5869c5716716431e1b2fe0b0e9f57edbb3</string>
			<key>size</key>
			<integer>8852</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-bicubic.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>431862e8094521a7b35446abfba9c7bbf1a0b6939a495804c8e7567e0a7dbec1</string>
			<key>size</key>
			<integer>12836</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-crashhandler.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>add306e025db8c2f744cfd41a5dc48f610cf23a84c01fbeb8704eab974083726</string>
			<key>size</key>
			<integer>6738</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-cubeaddon.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>7c322a5d37288e5dd4327b9dd94866ccd26e924d08074f843b8b37d77eb7a1d7</string>
			<key>size</key>
			<integer>18978</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-extrawm.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>91a966daa824552175df050e0839dcfa8fd544cbbac9e90e5bff43c918c38d07</string>
			<key>size</key>
			<integer>32282</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-fadedesktop.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>32c157e45f54f7a3163607fae0783945bd314e4a057104a7ec304b6f669cc5a5</string>
			<key>size</key>
			<integer>44913</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-firepaint.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>49e4dad27eb68cf512b68a8505652c42582af271feb4cf0f4a3f9b6a57f550e9</string>
			<key>size</key>
			<integer>11847</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-gears.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>009c08f385da9d171dc6c49eaf2e4017ded90278fdd2c97d06c31e2d0aeeeba5</string>
			<key>size</key>
			<integer>19948</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-grid.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>14f4c76ec0c836faffa83bf9cdd821c3e874e52f221cc206874387e9a2f6878d</string>
			<key>size</key>
			<integer>25748</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-group.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>4534cfe9d7126b0dfc44882bfa0a1abc06a78e7c19d42290613d87145b7eac5f</string>
			<key>size</key>
			<integer>19580</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-highlightcontent.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>05cf492f6d8354121535b721d02ceabaf378c0b4ef53b3a7a92b2fb292ef19fd</string>
			<key>size</key>
			<integer>9200</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-loginout.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>993c44c9ecf0bdaa4fbca6ab17ecf0f177e88eacde0fab0de6af1767d8d4c852</string>
			<key>size</key>
			<integer>17513</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-maximumize.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>83eb87ca09afbc41eb1a07ea5a3fcbe15b8ff9e885bb53b70d68d579ed47b989</string>
			<key>size</key>
			<integer>18706</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-mblur.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>079aab4d7a5d5e470a25ad1ea2e5390fb375e8609f7ff422fb74bdb4a6949ca8</string>
			<key>size</key>
			<integer>14039</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-notification.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>fc7b1ecff838c42e1a3fc8553f251e799a29c2f29d52eaca6676c9ab2d106677</string>
			<key>size</key>
			<integer>10402</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-reflex.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>9dd58b6ea043348bebdbd7a3b9a7640cfde8990862b1c3f98820c7371e70dfd1</string>
			<key>size</key>
			<integer>9392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-scalefilter.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>72ca1f9b047c7008cf39843e8ef8ff60b78a85b90115b1c240386587e1bfff24</string>
			<key>size</key>
			<integer>27370</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-shelf.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>75eec0eeca4b496f3d3f410006996a5a5881e0802c47847a7e20f5920b586456</string>
			<key>size</key>
			<integer>16067</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-showdesktop.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>71d0f8ac41d25c646e0c4f017b40d558dd06f40468b3b8a28073cbc41dbefa80</string>
			<key>size</key>
			<integer>30362</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-showmouse.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>1b37e3e9e4e3898580115da1385447a51278086d1725d6b31a5f315557ab1f21</string>
			<key>size</key>
			<integer>22028</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-splash.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>ae3c980d2c9a5eb442e556293c295b22cc6a8000a240b7de96b6b70dd947c034</string>
			<key>size</key>
			<integer>9678</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-trailfocus.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>5af6371ac8eaf9e5a7d03631f867cd0462b4b76c7da2203e505aa14ec6519fae</string>
			<key>size</key>
			<integer>23562</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-vidcap.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>f2309f7b0a1aa6515bee6a1b8e409b34ce0f0d573d8a1e5194a11728040851a1</string>
			<key>size</key>
			<integer>15366</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-wallpaper.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>a9b04c0cf83e8b7f9a958abb61276e5fd3e940d0efddb96ed4311e1719ac9ffb</string>
			<key>size</key>
			<integer>50499</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-widget.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>0a4f1a73f05a7485528e98222fa66a275470875a2a1f75423446ad50ad6da4d0</string>
			<key>size</key>
			<integer>32631</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-workspacenames.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>5504bf914c49249c5a057a6b8436c0e13754c35056468bfc59926c9b6ad0982c</string>
			<key>size</key>
			<integer>8284</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/loginout.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>10590e6499135af6d15f2b4bc505bd0e6125393f05b5542328d19017d1cedadc</string>
			<key>size</key>
			<integer>30493</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/maximumize.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>a389c6c78cab56de571d584f8b5c65eb13a5ebb948e251ea2013e23c32329731</string>
			<key>size</key>
			<integer>65351</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/mblur.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>4ce88755b408dedd98b199605bd0cecb2de01a2c70560f16a129b2b115e212f7</string>
			<key>size</key>
			<integer>29255</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/notification.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>8741c65ac33d7344aac49e6881b42d9efd337f6faacd770e60ed2e8006860b9b</string>
			<key>size</key>
			<integer>14642</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/reflection.png</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>32172276a3e992294b2d40c7db875514669b66dc194d1f94a39cbc1cab6d7972</string>
			<key>size</key>
			<integer>1132526</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/reflex.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>7822565050fbd35ec1a2d3a554426919ec584e896a87425a999201d1aca47f86</string>
			<key>size</key>
			<integer>23312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/scalefilter.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>9765da1879f963f5153dfd63b3bc4487a3520da984aee08e85deaea8513ad9e3</string>
			<key>size</key>
			<integer>35018</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/shelf.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>ae87984da077f750db8b05528721762aedc00caf945f966723a93541c2b95f68</string>
			<key>size</key>
			<integer>29452</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/showdesktop.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>3e2b42e3cf7492ce2619ac2b7cfe029027b1fa09222ac2cc8b5caf19acad0e71</string>
			<key>size</key>
			<integer>36938</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/showmouse.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>d7dc4f51933f5b422109bd5d283032cb23227fe5bac3aa49cf654e305d0d7ae7</string>
			<key>size</key>
			<integer>41406</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/splash.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>ca3eaaac47186a29fe52692dc47af0255b2a9837df45ad7504ac51099eb95815</string>
			<key>size</key>
			<integer>33345</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/splash_background.png</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>c273b691a4ef9f33159289d1f6d7cf8420973fb8cdf9512106cd030fb385332c</string>
			<key>size</key>
			<integer>288689</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/splash_logo.png</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>c3d30bf905b74118f1510b859eb000edbe5cdc3a435f4f3bf48d09b7d9c4e323</string>
			<key>size</key>
			<integer>38005</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/trailfocus.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>6a4c9c94a350596e5f352b4e73f0a40e5c74c8f7097a3d8c22630c94d5dfc46e</string>
			<key>size</key>
			<integer>70747</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/vidcap.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>dc12beb825dce07f148eee5f48a855ca80d6db685e660bab1215fa9ae68a0194</string>
			<key>size</key>
			<integer>2188</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/wallpaper.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>c4ea1ddb569bb3d5b3b71f12dc663cd63bdd564fa5b78301dabc0a4286dc74da</string>
			<key>size</key>
			<integer>23809</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/widget.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>5d1e192d7eb7fa3a7e12b9dbe2a0cccc542476b0f0400aa2876ffb8376817b56</string>
			<key>size</key>
			<integer>30506</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/workspacenames.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>f6c8b7d60528aa76070b634c2024930ed124828bf1d9ce68c1dadf72755c0fc2</string>
			<key>size</key>
			<integer>18196</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/compiz-plugins-extra.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>36cad7301dbe255c35493043beb7ecf00c8dd83a00c3bf4006a41262c35b5aec</string>
			<key>size</key>
			<integer>12349</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn/LC_MESSAGES/compiz-plugins-extra.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>7b8862c284dd888122775d644b3cd2e0e3154c04f5b4f336c3cff46c240f9399</string>
			<key>size</key>
			<integer>9330</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/compiz-plugins-extra.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>c18578b0e22f6049c88948d6cda0ba0004c7bd6eda09b0d224c3f23c6308e356</string>
			<key>size</key>
			<integer>32835</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/compiz-plugins-extra.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>46b6434eb458c34fdb4df666db509de4447e98d3f7d4db365e91107160d95231</string>
			<key>size</key>
			<integer>23533</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/compiz-plugins-extra.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>4f445b06516a6f1888d9d73f314a6f400c3e13fbc0afa16845ae9e0df5687e85</string>
			<key>size</key>
			<integer>39100</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/compiz-plugins-extra.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>3a405f87dba518f14a548e3281a8e06ca7e048a4a39c9b02a646a6ee2461f9b8</string>
			<key>size</key>
			<integer>86817</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/compiz-plugins-extra.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>00ea24fb210c89ab6049e5ccf9a560b9f7bbc15e08bbfa0a4aadf2edb9a957c8</string>
			<key>size</key>
			<integer>63001</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/compiz-plugins-extra.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>e6fe3126ecf26405560ec2e4ef594ddf0dca587a854174e13f0e2cc7dc469b23</string>
			<key>size</key>
			<integer>56828</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/compiz-plugins-extra.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>5b1cdad34d42c27ce6cec80415db9c7a5d304bd10418fc81717406d081db618b</string>
			<key>size</key>
			<integer>38798</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/compiz-plugins-extra.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>931ea52e104eda88999a1c558b52ebe690e9957d9fb4d3b096112beca4cbe589</string>
			<key>size</key>
			<integer>50314</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/compiz-plugins-extra.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>c2d654eb0569b77811e8737f46bf99bb6e7ca6edc7d47a8687ba4099e5a93efa</string>
			<key>size</key>
			<integer>61231</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/compiz-plugins-extra.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>d9965bf90589346c1e5f688d11221bb04bb218e07393365abedb3e975047f51d</string>
			<key>size</key>
			<integer>62509</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu/LC_MESSAGES/compiz-plugins-extra.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>d42903184eb8d89e2c2eaebea82c5aa826980f627301e733fbd7777f18e87835</string>
			<key>size</key>
			<integer>63418</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/compiz-plugins-extra.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>2588462d05101d65290bc93a4874a9979952347b9c617f0c43d8123f0a2d4ea9</string>
			<key>size</key>
			<integer>66761</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES/compiz-plugins-extra.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>7546337688cc7decd73f0701f68850269b568c0e2a536cd2fa5f2d0fb06e55f2</string>
			<key>size</key>
			<integer>62205</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/compiz-plugins-extra.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>6c6c6450ec9adf9f8bd9729ae98522a5ea2c1ba0e3160a152cfa708b2cd7c3f7</string>
			<key>size</key>
			<integer>62849</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/compiz-plugins-extra.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>71ac9e1ce36c97e2e1dbd1a96910731bdd2f0f1fe93fc5cd6fbff6c94e2b0df3</string>
			<key>size</key>
			<integer>63071</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/compiz-plugins-extra.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>2390cfc3601b6cc3bf2c4d8d6a42cf5795a1634d918daed4c7176602c125dc2a</string>
			<key>size</key>
			<integer>64795</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/compiz-plugins-extra.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>01574d31791f24141b588d6cf2bf4e5207028b7c266d23dfd79dec04817f69b4</string>
			<key>size</key>
			<integer>59991</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/compiz-plugins-extra.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>63fa9afba1336982aa59ee26b2b8c009bcf04038da04daf6580c60607ea3611d</string>
			<key>size</key>
			<integer>48976</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/compiz-plugins-extra.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>147dd5edf5b2e722e1d0edeb61c8cb100d00856a30097553b7d356a124ea6426</string>
			<key>size</key>
			<integer>46408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/compiz-plugins-extra.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>d8dee34f9de96c4a7165e9273267dedc7574bbed28e6c020d9aabaa3519c8689</string>
			<key>size</key>
			<integer>54684</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/compiz-plugins-extra.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>40d55ff428637eb5b48dd34151660c51fe133eced86e902ea39e68ba1368c2fd</string>
			<key>size</key>
			<integer>62439</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/compiz-plugins-extra.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>bed4fe9ed9e2b4c75f0ab8bb5b0a8160b421699f8b3da942ecae05c92d18897e</string>
			<key>size</key>
			<integer>44749</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/compiz-plugins-extra.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>0b013c4e2fabef91cac33227d557b4db0244c79244bc2047e745011de1fec71b</string>
			<key>size</key>
			<integer>27454</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/compiz-plugins-extra.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>0f263c317916254911fa3b5f4beb91cd2d1b9901c0f131cf884c0d3646ecd58e</string>
			<key>size</key>
			<integer>51930</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/compiz-plugins-extra.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>69968f5af4d12810075242f44a3f36c0ca140945222e63fae11ae721014f0f4f</string>
			<key>size</key>
			<integer>21790</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/compiz-plugins-extra.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>14593a8a66d859fd934747e8f843b7cf3ac99c9301b3c9f94256e9b8569c2ad8</string>
			<key>size</key>
			<integer>48041</integer>
		</dict>
	</array>
</dict>
</plist>
