<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/earth</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/elements</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/fireflies</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/snow</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/stars</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libanaglyph.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>7bb48371c72fc520f779c3801bbc298a2d3363f72a1d36631d02eec5c8f26c84</string>
			<key>size</key>
			<integer>30784</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libanimationplus.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>1540f0000ed013f645bf59f8c8c19e0c30c6998bca69a57883c1b9dbc3bebd0e</string>
			<key>size</key>
			<integer>34952</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libanimationsim.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>0cbf163f385161ad6fe2dcf439b927b9c4d30f872011a4aa61ca851eb4db4856</string>
			<key>size</key>
			<integer>34984</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libatlantis.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>0a092d569aad0b20dc8c027399009f2cdbd89ba097c24e7b95180be7895a29ce</string>
			<key>size</key>
			<integer>344912</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libcubemodel.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>97b8ccdbe97a2899faf0818a23ed241e0062598c525da43d07ec0308247b909d</string>
			<key>size</key>
			<integer>63584</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libdialog.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>ba7768ad838911110f6cffe633cb1055e87bdf65fd4860ef232ec59385f6b9fc</string>
			<key>size</key>
			<integer>22592</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libelements.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>d771a86288958cd44188d025c44755791bfba3dda25f1697ff8c286204273329</string>
			<key>size</key>
			<integer>67744</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libfakeargb.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>000d5a63aa7416d62a35dc7b252d97acfe056c40fc914677b923fc9dad5dc047</string>
			<key>size</key>
			<integer>22592</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libfireflies.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>c33cc900acacf971dc4f42db2590330605b79afd15b214a0bce74808c80d47d5</string>
			<key>size</key>
			<integer>34976</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libfreewins.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>901c0127f4929a99a08b90764526550aaa31095e44d4b30864d0b3758b1a3767</string>
			<key>size</key>
			<integer>96320</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libghost.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>cbb042ad198ae06382ea82bd31382365df4c6d2daf1040da8a6bb6ef615863a1</string>
			<key>size</key>
			<integer>30776</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libmswitch.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>0f57ab380931dbf58251c3938d8edca2433688c169c0011eec55a2eb0232e830</string>
			<key>size</key>
			<integer>18496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libphoto.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>e32e990951c40384917584ff8bd960945b9715c2a8bf6e533f40b0911d8c08b1</string>
			<key>size</key>
			<integer>34872</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libputplus.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>e424a517612c0216ad42264cbb7d5dc242320e8096e00b0f18955b61cabd6154</string>
			<key>size</key>
			<integer>88128</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libscreensaver.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>66db17d0c1ea871bce47c0c93ad7815f558127c6625f8588c02a9bdd93b178eb</string>
			<key>size</key>
			<integer>63648</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libsmartput.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>8126233f57dbec12722bbdafb33e3a139bfba6455d7b9fc6ca8af11c99df430e</string>
			<key>size</key>
			<integer>38976</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libsnow.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>5e1ec0f5b20c28d473b977b4eeee3d97f2fd4f28b1e996960a4cb99339c379f9</string>
			<key>size</key>
			<integer>34872</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libsnowglobe.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>9e0cc5f10f6f352e682412c36698f4fcfc5f84441d3f6eac55bd453122dbb5d9</string>
			<key>size</key>
			<integer>219200</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libstackswitch.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>748f87fb313d77f99e5e731a94669d02caba2b7afa529308f8edcbc3aebe68f2</string>
			<key>size</key>
			<integer>63552</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libstar.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>6fe6e7ecfe091dbad613af7413d13f7df34f010c83c2f62bde59b65b0de3216f</string>
			<key>size</key>
			<integer>34872</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libstatic.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>6ef860e20e4947e462f37e9e0338658890bea9b0a1a40ff59d03c3015776f096</string>
			<key>size</key>
			<integer>18496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libswap.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>117eeb0365eca1a270b11cf181bb09325a0059e94888b31ccb74249b07882771</string>
			<key>size</key>
			<integer>71736</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libthrow.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>50c5042a0e3d2283ff2f95bac0b2359b7c5b366d50bdb958beff90a29897a86a</string>
			<key>size</key>
			<integer>22584</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libtile.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>7c8d385cb7f366e11225570c2762963ea554aec2dab6af6b673da3512614a92c</string>
			<key>size</key>
			<integer>38968</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libtoggledeco.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>79ed5ee4d48c98dc1bdb9571d872858ae15eddb99f28c0fa5bc724b3b1e220ef</string>
			<key>size</key>
			<integer>18496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libwizard.so</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>766cee6508d9cc45a7050516c33149494cc312453f9b1135557af5f5a33b2ab1</string>
			<key>size</key>
			<integer>129088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/anaglyph.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>3712eee77af39e5886dbb15148cd9d9f60c825ed633b09b8003879980da884ac</string>
			<key>size</key>
			<integer>7648</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/animationplus.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>8feaea92bfb15c21d061aa5d0439c17b31493f4306140133b0d7e9afc4194c0d</string>
			<key>size</key>
			<integer>29932</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/animationsim.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>197fa6229140f5795f16a18cc315a2a9e3bee302015b923a5fb4010b5f4e44f2</string>
			<key>size</key>
			<integer>16686</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/atlantis.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>23f6943ddb634bf45c6c920476754caf8d5b9bcf07bb3f7400e76ced8bae2fa2</string>
			<key>size</key>
			<integer>64310</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/cubemodel.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>6055cf1729056658af10a4284dc22b0ef75df549b376dabebdfd8c5d87b2c3f2</string>
			<key>size</key>
			<integer>43466</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/dialog.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>ba1ce4c8a8df0341c4fc8d86b5d96f600037d59f16111bf3c27afe80a44a6ef4</string>
			<key>size</key>
			<integer>6942</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/earth/clouds.png</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>78c175f24c2026d8b975cd9a2c9e765f85e35cf8ccff471bcb80b37562c90bda</string>
			<key>size</key>
			<integer>2543799</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/earth/day.png</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>deb1e0687172db48a3b864067c3259089934f46ae02abf5434afe7c6d15d73e0</string>
			<key>size</key>
			<integer>2682133</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/earth/earth.frag</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>bb18062dd932944f6abcc5e8588ffdbf3e56bf53a49402f6ea842845b83c9863</string>
			<key>size</key>
			<integer>1437</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/earth/earth.vert</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>58a162a6b3dcb149e5c24be09624407bbaf75f86702e6564dae48ada390aaa4e</string>
			<key>size</key>
			<integer>598</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/earth/night.png</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>f9f826afe6295c0b768bc129611f4fa08ac9ff1cbaa20e826b5b7ffb4d806c26</string>
			<key>size</key>
			<integer>289821</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/earth/skydome.png</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>0cbf3b7a82724c56da0e21e127ad241d47c5d10f375c703ec2e952f772869877</string>
			<key>size</key>
			<integer>11114070</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/elements/autumn1.png</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>b30678c92e20ec69846ad76118b86bb6976cf6b618bc5081e6a9d2e110da0131</string>
			<key>size</key>
			<integer>13061</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/elements/autumn2.png</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>5490872142e7fee011a64de9eca01954c6d0ba242d3f694cc83207ad4e804dbc</string>
			<key>size</key>
			<integer>7976</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/elements/bubbles1.png</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>e124c433be27edec52ae56b230cb8bb8ece9d05935ad2f180d94b5b9e007825b</string>
			<key>size</key>
			<integer>6332</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/elements/bubbles2.png</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>8044e4647fad51804bc9e8cb4dfeef38f5b9fc42f67946d3b5fd32b7b6e70fac</string>
			<key>size</key>
			<integer>2931</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/elements/fireflies1.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>833c2df78ce27e22ae41aff8b1011d2702b2f8ba70c8b8e70f3f150795c85c2c</string>
			<key>size</key>
			<integer>4626</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/elements/fireflies2.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>1f1df059aa80cafc70c60c23e81a5ca2af58209f5ed118b836add443ca654dbb</string>
			<key>size</key>
			<integer>4637</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/elements/snow1.png</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>24d2f61bbffd3a5d13cd4623ba824db5d47ceef2b3f5514fad93e1fc3f54973f</string>
			<key>size</key>
			<integer>6670</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/elements/snow2.png</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>5c660f179efc7ad7c2619823569c74f408304ceb0da78e75193c06436acb7158</string>
			<key>size</key>
			<integer>6610</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/elements/stars1.png</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>55615869f4828393321341e05123cfbbbe7a479d4527a067fe331e44541427f2</string>
			<key>size</key>
			<integer>10392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/elements.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>90bb6e3c281e25cbbe25e2a3fbee445f680a329007d0b3ec4dfbeef8c41b6da0</string>
			<key>size</key>
			<integer>56900</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/fakeargb.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>e6e4fabdd6c1145a2bb1ba94863c3e45925c2462ee5c5f3ea3cfa2f254076ccd</string>
			<key>size</key>
			<integer>9769</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/fireflies/firefly1.png</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>91b8a826d9e3a37be93c12a996b56fd115d52e65e8080bb44ffa6ef4f4209fad</string>
			<key>size</key>
			<integer>3570</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/fireflies/firefly2.png</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>ae603641e4bb4d4bdf072309518f5ead923afa89a631fd1b8df37677106964ea</string>
			<key>size</key>
			<integer>3568</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/fireflies/firefly3.png</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>f5d6a6fe34be389093fa745188e44fbe3efcc827ac3c2aba3602574e9f40122b</string>
			<key>size</key>
			<integer>3567</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/fireflies/firefly4.png</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>57fb8c0621e4b3069e5760683564b2ce8f008e06938dfa7f3f579b236f10f790</string>
			<key>size</key>
			<integer>3571</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/fireflies.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>b6acb00884d1c75e69c2c25c0921fd89348c16d02b47733a54289052304f9d1e</string>
			<key>size</key>
			<integer>30728</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/freewins.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>4cb6e0b761326a5984573519a76cae3b19e7c0008d3ad802a38961f2eebb1bca</string>
			<key>size</key>
			<integer>33498</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/ghost.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>ddc5ddb71ab24d4ff528cfde96caa26be6dea5dc1ae36c3f84a214ab8bc8444b</string>
			<key>size</key>
			<integer>10699</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-anaglyph.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>8e997144c0a1134f83b637d596c07b0faa0d4802878e586510316a5feb73fb22</string>
			<key>size</key>
			<integer>23685</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-animationplus.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>a2490d624d7fdab59af60946f5d05c06e81dd6ea8192384d1132e82e127d7f4f</string>
			<key>size</key>
			<integer>34816</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-animationsim.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>ba0c01ee27ed696ebd18394b59011e3242bec6f90987e1a67208e55197aa9867</string>
			<key>size</key>
			<integer>11285</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-atlantis.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>75ef33d8bf31b993ad3a4a8c10dd9a43b573d01360af95178c65f8d296407940</string>
			<key>size</key>
			<integer>25764</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-cubemodel.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>649a8aeee27bd84c179241790a65fe18ca1c5c4bb1db225374fdfe6a3ec231d1</string>
			<key>size</key>
			<integer>13474</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-dialog.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>cc973993e4a6ad6b36f27e2cd8b7460334c8a36ea5d03e5202bc71be5160a8ef</string>
			<key>size</key>
			<integer>19497</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-earth.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>ecaa9c13f030e0abe10a93e8ed01664d3fcea53f59a9b14a3ffc0584e430f3d8</string>
			<key>size</key>
			<integer>17508</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-elements.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>ab1f2bbc02b2dd5ea1b955c4e3843535d49ddaec7b151572ff5e26c27564f070</string>
			<key>size</key>
			<integer>27210</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-fakeargb.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>287dd7e2aaee0ccc597705e68cf8d9ede388b803ef4703730116e1a8023baa6a</string>
			<key>size</key>
			<integer>18685</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-fireflies.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>902bc4c55c05df8866bdfbfd4c2dafad272adae2a142314b96936c733b53cd94</string>
			<key>size</key>
			<integer>11427</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-freewins.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>ce5735b59d78c072eca519e89f77b6e33520abf305924fa04cb092fdcb7d2c72</string>
			<key>size</key>
			<integer>17572</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-ghost.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>80bb0446bc496ae7c00cee74532c5e84224b998a1254aecedf8215f4e1e7b113</string>
			<key>size</key>
			<integer>21116</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-mswitch.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>ae7ab06e180dfda5ee11c568fc2250411688be0a1568bbb6a29fbe3f9c481334</string>
			<key>size</key>
			<integer>31686</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-photo.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>6f002b4c77ceaf1125afb83ea324db3c5ce1c721f832205e000d25b38905b66c</string>
			<key>size</key>
			<integer>100439</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-putplus.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>4461c8a6da4104b7bba986e69d8a7623832ccf0d70064c8c35c70a9c845c1617</string>
			<key>size</key>
			<integer>21334</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-screensaver.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>4ad3aa3f41f65b40db14032dfff1e09c848ac1d1ff0a6e242e0b94eac82bb8cf</string>
			<key>size</key>
			<integer>15482</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-smartput.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>b8168d5d22ac03e7263149d37b8d2d8ae36d85c5db4b187f553e750b37934d26</string>
			<key>size</key>
			<integer>58078</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-snow.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>40a8b9721e631bc2646d83dca97955dd41399346d8140fb649295e1e6ad05c92</string>
			<key>size</key>
			<integer>8675</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-snowglobe.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>81cc618051521e6fff36a07d69b6088a2c6c792da467934d9ac600167e85475f</string>
			<key>size</key>
			<integer>74955</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-stackswitch.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>0a53d99bd6c39225dbaaa6876c3f3f2e7ccd92f1ebfed34743257ec633b78472</string>
			<key>size</key>
			<integer>41315</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-star.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>b96531186660dd09cf8a7246f0dc40dda01f404e568a1b788f649658d0130027</string>
			<key>size</key>
			<integer>14814</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-static.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>f92d63417e85218b576b831db2683e95412230530f65adda038164809873c84d</string>
			<key>size</key>
			<integer>28396</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-swap.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>a83fd4a5a385a43b769fb2c640ea5dbf48b60d1270a911926474d4551d3b3d46</string>
			<key>size</key>
			<integer>284479</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-throw.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>8a769e8e51986c555fc979b23a15a318cc0f363cb2cc95faaa8b949b02df4885</string>
			<key>size</key>
			<integer>171352</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-tile.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>41185968d9ca62cbcb1eca757f95dadbfa0c03c5d743b489131a78c1c938fd9b</string>
			<key>size</key>
			<integer>18452</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-toggledeco.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>d2b35c21a1cf14ebe61a2145acfdbb08edefbbe786a7cd4cac3fed2a37a40406</string>
			<key>size</key>
			<integer>15160</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/icons/hicolor/scalable/apps/plugin-wizard.svg</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>f5231da294f76914376ba98e730b6087a3f6d9cb0b47e6b6fb0b7ec8e3a3998b</string>
			<key>size</key>
			<integer>16754</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/mswitch.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>4c5a51fde359fe5278d666cc53cb105e8fec8f100d00b67c62588ffd8346ad4e</string>
			<key>size</key>
			<integer>8502</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/photo.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>9c93543ddcf774312bca10cca66e4fafee68d4a1798ef3a325a6b5b345f8bf21</string>
			<key>size</key>
			<integer>11294</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/putplus.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>86c13bc1130450260e32062fe73cd1e91da14e811c39349b4e861c8c9e71cb3a</string>
			<key>size</key>
			<integer>249681</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/screensaver.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>b07e934ef0f3b05431fd7d1c9da55bb8506868f49691538edc2adfd9f69f6737</string>
			<key>size</key>
			<integer>16066</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/smartput.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>7824eb1c7daf9e4988a76b89822f930649775f0881fa3ad00b4794a6c5e6b1eb</string>
			<key>size</key>
			<integer>9195</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/snow/snowflake.png</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>712b17f880f8cf36159508defc3861bd4ff6c98ecdc59429e0007c1788f74c71</string>
			<key>size</key>
			<integer>3685</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/snow.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>f8ab36eb10184039e3d27f18be8b3b0d910930971fd832fc29e599f1fa17418d</string>
			<key>size</key>
			<integer>60721</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/snowglobe.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>634fc03bbc62f7359113618b3a77048cb4d5df07b70fb8a38adbb853c0e3e1dd</string>
			<key>size</key>
			<integer>6028</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/stackswitch.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>a5b07ce9b9c658d26a56919c640c038dcc6ccff5d390cc0a0dd1beb6ac12276d</string>
			<key>size</key>
			<integer>112671</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/star.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>ae572ccc5defd79d607265aa3dc8def8c05f1f2274ea67f42c619ff0ee84b187</string>
			<key>size</key>
			<integer>37499</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/stars/star.png</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>55615869f4828393321341e05123cfbbbe7a479d4527a067fe331e44541427f2</string>
			<key>size</key>
			<integer>10392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/static.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>d183b13fa168a9237dbd5c8a4725dec3e1fa7df92826ae78c0e407ce1f2b14ad</string>
			<key>size</key>
			<integer>4244</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/swap.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>aa611ff38c21e184e0eceee2e5cad1414445ac4d689c7a5cbaaf473bdcac9751</string>
			<key>size</key>
			<integer>113300</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/throw.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>c578dbb547350ba915f2eceac92d9fd0fa9175898e85d795b1de3f8aef7ee5e7</string>
			<key>size</key>
			<integer>2921</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/tile.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>feb5eedc19dc41804de23653cee22b4fcdb0001956739099b4370a0810931182</string>
			<key>size</key>
			<integer>82581</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/toggledeco.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>3fc48f2fc86ae866210953e62b72e06aa6200b359b3a857aab717877fcda5c6d</string>
			<key>size</key>
			<integer>2936</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/wizard.xml</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>19f94ed34641e5d6c8ed0fa23f210b53d5c1dfb0328c22c91bf9e85c8884c494</string>
			<key>size</key>
			<integer>50652</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/compiz-plugins-experimental.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>67f2eafc2f95a3bea56b3e9b48fe1315650af913b4109531d98fb1b9ecfd80e3</string>
			<key>size</key>
			<integer>2005</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn/LC_MESSAGES/compiz-plugins-experimental.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>7371aa52e244a17b5e6b2e5588cd8cc8a4f2e3987f562006294f3e4aee6cb1a1</string>
			<key>size</key>
			<integer>1708</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/compiz-plugins-experimental.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>2d4147974d79fecb1ee626862009cb82d8ba46db9993ab22d3cf9d835dd144e3</string>
			<key>size</key>
			<integer>61346</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/compiz-plugins-experimental.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>46aaa24fcf2be1de88b0964046d60f8f6d0b681b23f3ee71e494e56522ae0b96</string>
			<key>size</key>
			<integer>13866</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/compiz-plugins-experimental.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>3f6628876e2112dcb3a2f7ab894e4a847c4dd39d1d0ed1e93c5e8c13a8766e3b</string>
			<key>size</key>
			<integer>16004</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/compiz-plugins-experimental.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>8e18b2e07048113e3f4cca5c851ab907289f67c3ae388632dc6a0b151d2ce231</string>
			<key>size</key>
			<integer>49411</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/compiz-plugins-experimental.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>9e04bb1356d7bf4859ba119cde5226448cd6f7b80f360127c8f40e1744fe4ab5</string>
			<key>size</key>
			<integer>73083</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/compiz-plugins-experimental.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>98768068fb1e3c89f081c6945195ea607497712c1558abd1bec0c15317fb9ade</string>
			<key>size</key>
			<integer>34643</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/compiz-plugins-experimental.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>dceada6746a66bf53fc12889ebe3746ea48b6d125df221ad47da6c9bbdfe041a</string>
			<key>size</key>
			<integer>10466</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/compiz-plugins-experimental.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>358eed0101c4c0bbc52baf84361b8066005f4c1449e122082276df501452553f</string>
			<key>size</key>
			<integer>23437</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/compiz-plugins-experimental.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>c28ca6b1dba121c130bb1c3266c748c6d72b2b24616edc55a9c439cfd6a83965</string>
			<key>size</key>
			<integer>28957</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/compiz-plugins-experimental.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>4ebf93b3631df24a7dd82080a3695e62bb65ef74e91b4ce837b819e5768fdde8</string>
			<key>size</key>
			<integer>35386</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu/LC_MESSAGES/compiz-plugins-experimental.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>259c0ed785ab3fe4a6c58224bd0cc1828471cdba0bbc0dce84823a45ebd49380</string>
			<key>size</key>
			<integer>27351</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/compiz-plugins-experimental.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>5d5e841b35c1b2ba6f7c483c5f10c3d4bba2733ae5e8ae7d317e8f0eeb924061</string>
			<key>size</key>
			<integer>34301</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES/compiz-plugins-experimental.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>9c4ed83e877a43134275a435ce985c90c823a6ab06d0a12298f96b3e5f4b9817</string>
			<key>size</key>
			<integer>27196</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/compiz-plugins-experimental.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>99c838baede0041b3f9f5f02ecbbe2e838d6aefa95bf30f29aefc441e1c01b1c</string>
			<key>size</key>
			<integer>36142</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/compiz-plugins-experimental.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>ced493af72ed8bf5564b20c22578dfd6c7e022c8d1bd677488830f2df8009fae</string>
			<key>size</key>
			<integer>35699</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/compiz-plugins-experimental.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>7c9ccd2e6403bc5efb0655ed7150d52d92749df58d3f2e1feee77044547899b2</string>
			<key>size</key>
			<integer>36696</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/compiz-plugins-experimental.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>cb00d323006a486ae53d61e682656e0ceb700e99e71b374f2c5217ee5ef2320a</string>
			<key>size</key>
			<integer>34818</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/compiz-plugins-experimental.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>65c59bcd270a5063621de641536b17932f8822fd109795c00a1923ada899aafd</string>
			<key>size</key>
			<integer>19115</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/compiz-plugins-experimental.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>c6bfc46a3b1823b4b789b80b1b7c9e5acaed534d01a9fc0f6ec51f354af28c9c</string>
			<key>size</key>
			<integer>18770</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/compiz-plugins-experimental.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>6360a87ecc52434195041d9a4fba2cdf218c8a28bd1ff0e6549ba2f0c937b509</string>
			<key>size</key>
			<integer>29010</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/compiz-plugins-experimental.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>01aac75cd77ac61c4cf43b88b395fdd0d7436b4485f67a48eba5155dae63d5ec</string>
			<key>size</key>
			<integer>26694</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/compiz-plugins-experimental.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>dc43ad17c93f9871bfd110d1cb066200a220f28c289a52217990778188bedc02</string>
			<key>size</key>
			<integer>19716</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/compiz-plugins-experimental.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>392172cd147eb40a93a5e9dd7cea58f7dcd517f0b095aedfe721a575f614f8fb</string>
			<key>size</key>
			<integer>12429</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/compiz-plugins-experimental.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>9596bd25c7b5315c21e9b3a06e8307a199d343c7f75250e817dc854e00d4b04e</string>
			<key>size</key>
			<integer>21623</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/compiz-plugins-experimental.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>b08367d7efcdca1a04c27d8180e262324ba812cf2f47156ca7020fdc71b716d7</string>
			<key>size</key>
			<integer>11158</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/compiz-plugins-experimental.mo</string>
			<key>mtime</key>
			<integer>1587491801</integer>
			<key>sha256</key>
			<string>aa75bdeeef20e5888bc8e44f6df027c091bc0d0d2c9e58ba1ca462ddeac2c2f9</string>
			<key>size</key>
			<integer>23352</integer>
		</dict>
	</array>
</dict>
</plist>
