<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/confuse</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/confuse</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libconfuse.so.2.1.0</string>
			<key>mtime</key>
			<integer>1594402242</integer>
			<key>sha256</key>
			<string>af2f22cb90842da1f2ed6cb07294be59cfead78afa4513b07ff932d2f9be7229</string>
			<key>size</key>
			<integer>59296</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/confuse/AUTHORS</string>
			<key>mtime</key>
			<integer>1594402242</integer>
			<key>sha256</key>
			<string>a4080266f57b5b2ef874f14c87bcfcdcb7a07fa3a289e48a027e9bcb663e9308</string>
			<key>size</key>
			<integer>317</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/confuse/ChangeLog.md</string>
			<key>mtime</key>
			<integer>1594402242</integer>
			<key>sha256</key>
			<string>482280d3ab8e8faf70c8cd325ba115e54411ab1c9702f8ddff07f2d7196fa909</string>
			<key>size</key>
			<integer>15798</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/confuse/LICENSE</string>
			<key>mtime</key>
			<integer>1594402242</integer>
			<key>sha256</key>
			<string>dc3ff4b62f851dd2e94a151061ffeb7d28ddfc880a442068dc5283dbaa927306</string>
			<key>size</key>
			<integer>817</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/confuse/README.md</string>
			<key>mtime</key>
			<integer>1594402242</integer>
			<key>sha256</key>
			<string>ce7128613a3af5d8d60a85d06074d30ecd2b830a24588eb23899543cce62f392</string>
			<key>size</key>
			<integer>2998</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/confuse/LICENSE</string>
			<key>mtime</key>
			<integer>1594402242</integer>
			<key>sha256</key>
			<string>dc3ff4b62f851dd2e94a151061ffeb7d28ddfc880a442068dc5283dbaa927306</string>
			<key>size</key>
			<integer>817</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/confuse.mo</string>
			<key>mtime</key>
			<integer>1594402242</integer>
			<key>sha256</key>
			<string>366fdba2ad968a14b557bf077c32d0a84217bafe1bf26b4663ad40c3b1b7b109</string>
			<key>size</key>
			<integer>3295</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/confuse.mo</string>
			<key>mtime</key>
			<integer>1594402242</integer>
			<key>sha256</key>
			<string>ef390d689616b6d38df35bbebaabeea70a5c1f5451c7fba5c97ec9617c19710e</string>
			<key>size</key>
			<integer>2588</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/confuse.mo</string>
			<key>mtime</key>
			<integer>1594402242</integer>
			<key>sha256</key>
			<string>6c39ff464aaa730ac28c1a94a99da41fb8e85c8c6aa9460c08f7aa301a634456</string>
			<key>size</key>
			<integer>3086</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libconfuse.so.2</string>
			<key>mtime</key>
			<integer>1594402242</integer>
			<key>target</key>
			<string>/usr/lib/libconfuse.so.2.1.0</string>
		</dict>
	</array>
</dict>
</plist>
