<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/cpio</string>
			<key>mtime</key>
			<integer>1573327294</integer>
			<key>sha256</key>
			<string>99325fec9326db4376ec61b7fbf86a8a1961ce3c5e1dc9d552669ea9fbd17271</string>
			<key>size</key>
			<integer>161456</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/cpio.info.gz</string>
			<key>mtime</key>
			<integer>1573327294</integer>
			<key>sha256</key>
			<string>7fa36eec0d7db9d500fa97ba09eb8c8aff7a87fe77c334a152527b59a62a867c</string>
			<key>size</key>
			<integer>8671</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/cpio.mo</string>
			<key>mtime</key>
			<integer>1573327294</integer>
			<key>sha256</key>
			<string>3f0dcdf7bb44f6e3f7dcf7f7493a4b234c2ee3539db6906bbd93dc623cbed214</string>
			<key>size</key>
			<integer>30831</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/cpio.mo</string>
			<key>mtime</key>
			<integer>1573327294</integer>
			<key>sha256</key>
			<string>446521d62320ca1bbadd7addc1e7d492a5bae8f7e1466155a7fdd5c6598517fb</string>
			<key>size</key>
			<integer>32981</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/cpio.mo</string>
			<key>mtime</key>
			<integer>1573327294</integer>
			<key>sha256</key>
			<string>5f443f54a85c8435ec3121bd61fde62fa574da60ef82791e509fce8839ed3e1d</string>
			<key>size</key>
			<integer>27676</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/cpio.mo</string>
			<key>mtime</key>
			<integer>1573327294</integer>
			<key>sha256</key>
			<string>1104e9ff3d76ff56d57a122c93828c4fd03028bf35741672b196e7dc4fde0803</string>
			<key>size</key>
			<integer>33056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/cpio.mo</string>
			<key>mtime</key>
			<integer>1573327294</integer>
			<key>sha256</key>
			<string>e57e26d45dc5512caa37665f523a177d41ad971b2acf06a8449060201b2f26cb</string>
			<key>size</key>
			<integer>33670</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES/cpio.mo</string>
			<key>mtime</key>
			<integer>1573327294</integer>
			<key>sha256</key>
			<string>647b294bfb8a5c2ce4742e9d5e8ca69360225a4a708c30c48bd12f23eb14c8ad</string>
			<key>size</key>
			<integer>19363</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/cpio.mo</string>
			<key>mtime</key>
			<integer>1573327294</integer>
			<key>sha256</key>
			<string>4418a1ed4bddd42f0805724640e754ec9b2786a39a7117acabf615012c682da2</string>
			<key>size</key>
			<integer>15803</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/cpio.mo</string>
			<key>mtime</key>
			<integer>1573327294</integer>
			<key>sha256</key>
			<string>621e8a7b6a6547447b9c3975ca9a18dbe154108a607f333b4b7ba8ea3edc7aeb</string>
			<key>size</key>
			<integer>30019</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/cpio.mo</string>
			<key>mtime</key>
			<integer>1573327294</integer>
			<key>sha256</key>
			<string>7dc3aff0b69243c42f24d84749160498d154d6bee1cea6a6857d4794803f742e</string>
			<key>size</key>
			<integer>33882</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/cpio.mo</string>
			<key>mtime</key>
			<integer>1573327294</integer>
			<key>sha256</key>
			<string>d197a3a5e3b8673b22f01d96f6542e960927f3da3f1f59c607ca99a29ffe6d51</string>
			<key>size</key>
			<integer>29844</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/cpio.mo</string>
			<key>mtime</key>
			<integer>1573327294</integer>
			<key>sha256</key>
			<string>106ab0c237a8b6ca775ea7094d28429496d6495c91e39dbc667d6050b848877c</string>
			<key>size</key>
			<integer>30437</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/cpio.mo</string>
			<key>mtime</key>
			<integer>1573327294</integer>
			<key>sha256</key>
			<string>86679486a387103d7cf26e3ad7c72d8c2324eff1c44f0d3932bbb8aba363501b</string>
			<key>size</key>
			<integer>35904</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/cpio.mo</string>
			<key>mtime</key>
			<integer>1573327294</integer>
			<key>sha256</key>
			<string>d0e9ae0cf4ad6253aa0a66111526e27eb278d39b5a0b16f62a40bce281c4ebb5</string>
			<key>size</key>
			<integer>33807</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/cpio.mo</string>
			<key>mtime</key>
			<integer>1573327294</integer>
			<key>sha256</key>
			<string>450682d40041ca23be8d0790eff3f7014ef1cff00a56aaf48053739725ec6a81</string>
			<key>size</key>
			<integer>32062</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/cpio.mo</string>
			<key>mtime</key>
			<integer>1573327294</integer>
			<key>sha256</key>
			<string>fa938ed103e77e59f51df04a3c2193e270106db38a1ec34b4bf5703eda69985b</string>
			<key>size</key>
			<integer>32854</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/cpio.mo</string>
			<key>mtime</key>
			<integer>1573327294</integer>
			<key>sha256</key>
			<string>f55469b2de63cd12a1ac4f927d0eecf7af4cd9b2ccfc4c03b86b947ac48a3a88</string>
			<key>size</key>
			<integer>31880</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/cpio.mo</string>
			<key>mtime</key>
			<integer>1573327294</integer>
			<key>sha256</key>
			<string>8673cc1be0a2dc8729729c6f5c4a2fe6e35f17e045ccd4d294db49576fd33357</string>
			<key>size</key>
			<integer>32710</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/cpio.mo</string>
			<key>mtime</key>
			<integer>1573327294</integer>
			<key>sha256</key>
			<string>8b2c2a7f40a19644e515c31b0d9258ae1d95d0bec9c46779bf1b3020b474452a</string>
			<key>size</key>
			<integer>3988</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/cpio.mo</string>
			<key>mtime</key>
			<integer>1573327294</integer>
			<key>sha256</key>
			<string>da48c68f3400bd5d48dd17708d58807451335d7522797dc13ae57f8c75597a95</string>
			<key>size</key>
			<integer>39851</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/cpio.mo</string>
			<key>mtime</key>
			<integer>1573327294</integer>
			<key>sha256</key>
			<string>17c2747660ba6c696463085a48a890b53fa332da50a2ee4611258651c438a5af</string>
			<key>size</key>
			<integer>41740</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/cpio.mo</string>
			<key>mtime</key>
			<integer>1573327294</integer>
			<key>sha256</key>
			<string>7e36885359f3734991ce4dae181be7bd0126cdfdbaa0e93b29baf8db87ceab0a</string>
			<key>size</key>
			<integer>31607</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/cpio.mo</string>
			<key>mtime</key>
			<integer>1573327294</integer>
			<key>sha256</key>
			<string>5dc883d0dc3d51150756e97727a8f79dc590236d19f1b5809221ed9ae79c42d0</string>
			<key>size</key>
			<integer>30404</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/cpio.mo</string>
			<key>mtime</key>
			<integer>1573327294</integer>
			<key>sha256</key>
			<string>8e3a353699a5515b01d1c8db9d21294b248965c9009d785cd6391c69255771a5</string>
			<key>size</key>
			<integer>42512</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/cpio.mo</string>
			<key>mtime</key>
			<integer>1573327294</integer>
			<key>sha256</key>
			<string>9f5db43ce4e53f714a90d96843aee02b1b88af6cf1974cd3c8a13976909b7a55</string>
			<key>size</key>
			<integer>35395</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/cpio.mo</string>
			<key>mtime</key>
			<integer>1573327294</integer>
			<key>sha256</key>
			<string>925ba09c03ee4f24391632811ad050dc2763f88d5dae44863048180612911661</string>
			<key>size</key>
			<integer>29722</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/cpio.mo</string>
			<key>mtime</key>
			<integer>1573327294</integer>
			<key>sha256</key>
			<string>2228df39ab42dcc3b9c75bee156567369754e60d52055321e076e081e2f5b5d2</string>
			<key>size</key>
			<integer>14698</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/cpio.1</string>
			<key>mtime</key>
			<integer>1573327294</integer>
			<key>sha256</key>
			<string>5c4714cb0c537be1a90dd93fb1b49a6ebca7936306b2f4f4f34eee921a7eb558</string>
			<key>size</key>
			<integer>12421</integer>
		</dict>
	</array>
</dict>
</plist>
