<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/cpuid</string>
			<key>mtime</key>
			<integer>1602851131</integer>
			<key>sha256</key>
			<string>1aafcc5719f72171b578aeef51aaac5e8e311355a372d7004083e7bc58c0b1c1</string>
			<key>size</key>
			<integer>347728</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/cpuinfo2cpuid</string>
			<key>mtime</key>
			<integer>1602851131</integer>
			<key>sha256</key>
			<string>c1b9f6c6f17c653262d2bea41f0e38dd77eeaf13d9942be0c5a13da639403a69</string>
			<key>size</key>
			<integer>3272</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/cpuid.1</string>
			<key>mtime</key>
			<integer>1602851131</integer>
			<key>sha256</key>
			<string>53951f49e7bed99e30c6bb72448de1b23d6095850292060f5c72d642931916c5</string>
			<key>size</key>
			<integer>23507</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/cpuinfo2cpuid.1</string>
			<key>mtime</key>
			<integer>1602851131</integer>
			<key>sha256</key>
			<string>9b79a03422390dae0cbb33afed937c72af579aae13135b0263622c5a66ab4188</string>
			<key>size</key>
			<integer>5489</integer>
		</dict>
	</array>
</dict>
</plist>
