<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/cpu-x</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fish</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fish/vendor_completions.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/glib-2.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/glib-2.0/schemas</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/192x192</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/192x192/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/22x22</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/22x22/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/256x256</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/256x256/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/36x36</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/36x36/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/384x384</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/384x384/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/512x512</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/512x512/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/64x64</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/64x64/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/72x72</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/72x72/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/96x96</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/96x96/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs_CZ</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs_CZ/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb_NO</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb_NO/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_Hant</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_Hant/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/metainfo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/polkit-1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/polkit-1/actions</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/zsh</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/zsh/site-functions</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/cpu-x</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>56890e2bd654800b02d2171452f1a7a8781a228506fad24d89fb9cc6e8f174c5</string>
			<key>size</key>
			<integer>418048</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/cpu-x-daemon</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>64671dd4922c1e0c4fe764501492b7bfc2dd8dd0f4b84ef9d852c6736c6dc11b</string>
			<key>size</key>
			<integer>145632</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/cpu-x.desktop</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>d51ca2fd1934fff0de916e24025b971627b7d243b34386b338a2cf2ffdf86ad8</string>
			<key>size</key>
			<integer>610</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/cpu-x</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>29fac6b5283406b519f8ecff77c94117c56958080ecfc4e1d392befe45cfe985</string>
			<key>size</key>
			<integer>768</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/cpu-x/AMD.png</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>8973f324971f6c5a2de445cf517ec496024c7884e0c36c1a90965d65575109d6</string>
			<key>size</key>
			<integer>30738</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/cpu-x/CPU-X.png</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>4da4067472600ba405acffea460836a04ddfcc73e28d189bf254e8f8489f1162</string>
			<key>size</key>
			<integer>648279</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/cpu-x/Centaur.png</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>9abb734a0a5457667af042b9032e00b6fec9f0555186289c427f760ea11d4e04</string>
			<key>size</key>
			<integer>28847</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/cpu-x/Cyrix.png</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>19e91768163d388482e211075bf0bf4147d07d22fb4a40b09f8782694ef20fc5</string>
			<key>size</key>
			<integer>8038</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/cpu-x/Intel.png</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>ffb77745d84a1dc579b75ce76919b1fddb2fd8335dd77129b890358988814b0b</string>
			<key>size</key>
			<integer>16820</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/cpu-x/NSC.png</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>84da4457fd382511534de0aa7da59984481a9039d64e0d9e370e1d1a9dcd448b</string>
			<key>size</key>
			<integer>27545</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/cpu-x/NexGen.png</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>74709a4f760a8ae625eb6754dc9c2edfb5cfd0db1d7fd7a724752664e0975229</string>
			<key>size</key>
			<integer>987</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/cpu-x/Rise.png</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>ae1ec5352957df3cf0378914bf42f4284c3efe9732f694d0b18d5dd0f3c03df5</string>
			<key>size</key>
			<integer>723</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/cpu-x/SiS.png</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>0af029af1d445c40a48aea7c01b3d308608f79e3bb5cccc103f233ac7ef8e2f2</string>
			<key>size</key>
			<integer>16904</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/cpu-x/Transmeta.png</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>5583fa5d564e8ef20ece77d844dda58ed1cbcedd5c0f7cfc27d3b53ef261f456</string>
			<key>size</key>
			<integer>9323</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/cpu-x/UMC.png</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>629b5456dc119babc5a99a6995f62050864bc87301e8c4d9456f46c31cee56bc</string>
			<key>size</key>
			<integer>8121</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/cpu-x/Unknown.png</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>caa3cdcb40742b2fd2f3bc951cb61e4ab059514a5e4a621f73fd8eaecc58a5fe</string>
			<key>size</key>
			<integer>18636</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/cpu-x/cpu-x-gtk-3.12-dark.css</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>3d40eb69546db1103775cf4a1b0de20d5ba73530ad93a1d0391c0857e1506f25</string>
			<key>size</key>
			<integer>150</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/cpu-x/cpu-x-gtk-3.12.css</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>b4a4716e1e066bfe157b843695de9bf515844c9f1657b3609bc36ed2dbd814e4</string>
			<key>size</key>
			<integer>148</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/cpu-x/cpu-x-gtk-3.12.ui</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>7aae6e5906fa7714ca1deaf66d95f399d35c979879d7d37578815b8436b311f3</string>
			<key>size</key>
			<integer>418902</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/cpu-x/cpu-x-gtk-3.20-dark.css</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>efa9f2d22f4b00aa3eb5420cacee08de6f258596fc0a8195cf844f167eaf1254</string>
			<key>size</key>
			<integer>141</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/cpu-x/cpu-x-gtk-3.20.css</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>dc436eccbfab769465ae87f87d2f873f30cb6705851ea4fc986f618230cc4404</string>
			<key>size</key>
			<integer>139</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fish/vendor_completions.d/cpu-x.fish</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>ccf79aa34295aea88f4a69de6577787c63335228e62ba172b4079c6d7f7faa56</string>
			<key>size</key>
			<integer>1386</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/glib-2.0/schemas/org.cpu-x.gschema.xml</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>33653cd74589f4474b13d98c6ad47bba8ef5691446daa82655da51988044266b</string>
			<key>size</key>
			<integer>1756</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps/cpu-x.png</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>466966a5c463d78d92a29aa4c50d4f5e313f43fac0fc31acd1b3f71880642896</string>
			<key>size</key>
			<integer>22531</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/apps/cpu-x.png</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>0e86c47c8b6c115baa956274e238af0d18df9733a6493082981940b4b59a3624</string>
			<key>size</key>
			<integer>1318</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/192x192/apps/cpu-x.png</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>c17f02bf83b7a050c33dd23f7d19cf0d44cc7fc0517d89db144760479466e37f</string>
			<key>size</key>
			<integer>46369</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/22x22/apps/cpu-x.png</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>a3f3200423e790e74ecf8cd6a29570dfab783c599283c831d9039277ea50973e</string>
			<key>size</key>
			<integer>1328</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/apps/cpu-x.png</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>cb4e96380e8a7f3a53c27166980d01e81ae4f049459934a3f6f654c614e505c0</string>
			<key>size</key>
			<integer>1730</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/256x256/apps/cpu-x.png</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>462b06700a94f75b8df4747540a4d96c7d541aea626c322baa54a96eeecbff67</string>
			<key>size</key>
			<integer>74456</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps/cpu-x.png</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>142b87402e679d70b907e43e93bbaac7f71a8a9491791399916ab26344bcf843</string>
			<key>size</key>
			<integer>2612</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/36x36/apps/cpu-x.png</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>c838f0dc3926cb09c7d11d7de6ea29aa971f6f077786ff6d2eddaf16167b99ad</string>
			<key>size</key>
			<integer>3097</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/384x384/apps/cpu-x.png</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>94c5316273de019aaf0c0e571bebf0071a03d370e0ae4862361c2f76de34792b</string>
			<key>size</key>
			<integer>164613</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/apps/cpu-x.png</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>691bf7f66c4e7dff1bce8a3e1c81d6f100c459c874d8f2424e834308a06b051d</string>
			<key>size</key>
			<integer>4749</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/512x512/apps/cpu-x.png</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>74291321d4095f9e05f6c7ab64535b6b204d9ff6d9526c9a4ee4d044273d7dd0</string>
			<key>size</key>
			<integer>270531</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/64x64/apps/cpu-x.png</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>1b7a59dddae224f631ea581e3c08b04660e63c9f92f5f16b452bdceded7ed6fb</string>
			<key>size</key>
			<integer>7507</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/72x72/apps/cpu-x.png</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>9e99a78cf92108c4badb314abfe5d05479e8435820ab7865c3770247e1e5962d</string>
			<key>size</key>
			<integer>9005</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/96x96/apps/cpu-x.png</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>80660c1ce8f7c20894fdc3c5cba5e35f78ed921e852f0dba9022da7213641578</string>
			<key>size</key>
			<integer>14128</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/cpu-x.mo</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>5ec93e5931c181843753e75711d583f7c9f289797eccc68d1f7c9af4ab1a3d61</string>
			<key>size</key>
			<integer>6860</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs_CZ/LC_MESSAGES/cpu-x.mo</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>63198a8d6981188c60e9b6befe95f205c2c44eb46272efbfc921c625aae963ef</string>
			<key>size</key>
			<integer>15559</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/cpu-x.mo</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>2585c709b3be01d64d311323e2989aef30ee28603f2c0da1194207f2c60530c1</string>
			<key>size</key>
			<integer>15557</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/cpu-x.mo</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>5a9feb026cf9b08d8396bc7799cd3d901540c9fa54484ad467366b96846f3bbc</string>
			<key>size</key>
			<integer>585</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/cpu-x.mo</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>e86e8096b1a731b09d1dad254d9129e50fe01ca945355bad174a0c7bbef7635b</string>
			<key>size</key>
			<integer>11868</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/cpu-x.mo</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>ca80f6099396cbce363b348274a4441386304d0ae286cc7dd343e7a1d1520785</string>
			<key>size</key>
			<integer>18182</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/cpu-x.mo</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>9c5ecd39af6181e424ac17da2a08b7107387acc84c042c9a758ec8957e54e1b4</string>
			<key>size</key>
			<integer>1204</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/cpu-x.mo</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>eebf05fcf520d46ef1462b90364d986f0f3fa271ea2fbec9affd4931f98d288a</string>
			<key>size</key>
			<integer>14422</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/cpu-x.mo</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>6ee9c1bfc9750ef969fd0987007c51b8c4c402886122f91e5cfb6e3cfc310e10</string>
			<key>size</key>
			<integer>1022</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/cpu-x.mo</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>563d56e9e01013e5ac6f404f0284bee447b374c29ac767d7b12f0fd35f8dbdef</string>
			<key>size</key>
			<integer>485</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES/cpu-x.mo</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>30728a8f2f6f5340d704edf86af1d501aaf1415c40e370596374d856bf10118d</string>
			<key>size</key>
			<integer>3349</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr/LC_MESSAGES/cpu-x.mo</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>cdc7d5149ff53c51be85bdcd980092cbf074909d902bba561b3d92fa03e4e7c2</string>
			<key>size</key>
			<integer>18546</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/cpu-x.mo</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>3cfa17c1083a73faec5fb3e7b5e47517fdbcb214f81fcf8656742982ea6e5de1</string>
			<key>size</key>
			<integer>5731</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb_NO/LC_MESSAGES/cpu-x.mo</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>88ef553e0f68b546f34d65e076b475e73e85cac494760003dfecfb1362ee385c</string>
			<key>size</key>
			<integer>13332</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/cpu-x.mo</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>182d734b12400d12a57ec8209d051c6845214092cda009d5ad6342de3ea84266</string>
			<key>size</key>
			<integer>17704</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/cpu-x.mo</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>079f271ec197f0128d31d5e17ff463af12de57052f6902561c9fac78f42e4329</string>
			<key>size</key>
			<integer>14412</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/cpu-x.mo</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>bd4e4e2ec1ef6f7d063956a62589e06d9d0d950129d7fdfdb238357a5b24fdb5</string>
			<key>size</key>
			<integer>17109</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/cpu-x.mo</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>4ef3f3f59bd07048917a46701c3021ad334c6676f597841f36712f6199357996</string>
			<key>size</key>
			<integer>21688</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/cpu-x.mo</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>fae9b61991bab1135d0b7184cd763cd76ddf93dc9f0cebb490b6562eb0cdda3b</string>
			<key>size</key>
			<integer>17025</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/cpu-x.mo</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>3b13f293b3c184f52004a3411342cebe14593d101bd5e74edd6b51f468930d92</string>
			<key>size</key>
			<integer>4457</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh/LC_MESSAGES/cpu-x.mo</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>21524ff6226a5e91dfc04af5f156c65cfab861df0a66c168c94230822e7d3f9a</string>
			<key>size</key>
			<integer>15762</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_Hant/LC_MESSAGES/cpu-x.mo</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>425478c03cb550458513ae549d319748292ac21a635a8e714ddf9a25df2d9312</string>
			<key>size</key>
			<integer>1563</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/metainfo/org.cpu-x.appdata.xml</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>421d836d3ec87d98eefd422da7534928f480b65c21ba2da28cca9b9747c0cd8d</string>
			<key>size</key>
			<integer>1221</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/polkit-1/actions/org.cpu-x-daemon.policy</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>231c148fb70afc1bef47239631a897a1c5f68392afbf4709c45de2d972938d29</string>
			<key>size</key>
			<integer>761</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/zsh/site-functions/_cpu-x</string>
			<key>mtime</key>
			<integer>1598882106</integer>
			<key>sha256</key>
			<string>828d17a53c270609f1116bde1bbbdf4b10a7d9aed46451743425d436aa5998cf</string>
			<key>size</key>
			<integer>892</integer>
		</dict>
	</array>
</dict>
</plist>
