<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/curl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/curl</string>
			<key>mtime</key>
			<integer>1612460201</integer>
			<key>sha256</key>
			<string>772c4fe3df9889c3c9fa453036089e079a2eb340d17ebe92926c0ef033f09b45</string>
			<key>size</key>
			<integer>256136</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/curl/COPYING</string>
			<key>mtime</key>
			<integer>1612460201</integer>
			<key>sha256</key>
			<string>6fd1a1c008b5ef4c4741dd188c3f8af6944c14c25afa881eb064f98fb98358e7</string>
			<key>size</key>
			<integer>1088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/curl.1</string>
			<key>mtime</key>
			<integer>1612460201</integer>
			<key>sha256</key>
			<string>d854c5c9e23f10dc1ce974c182c07c87b0dfecdabbade07b8dd7ec7812630a1c</string>
			<key>size</key>
			<integer>149083</integer>
		</dict>
	</array>
</dict>
</plist>
