<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sasl2</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/sasl2/libanonymous.so.3.0.0</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>sha256</key>
			<string>8b3a5413c1b05aca7de35b2c4ee8db986dec1b65ffeb588cc7b59c0467c288db</string>
			<key>size</key>
			<integer>18568</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sasl2/libcrammd5.so.3.0.0</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>sha256</key>
			<string>28ab1d1365dda96fb9f9e2d0c97fa36f56179d83b100f868464702a1ae7aef8c</string>
			<key>size</key>
			<integer>22664</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sasl2/libdigestmd5.so.3.0.0</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>sha256</key>
			<string>ad37e835283be09c7b956e8358e9c7441d500c720587336b291148f83bf1d2e8</string>
			<key>size</key>
			<integer>59920</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sasl2/libgs2.so.3.0.0</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>sha256</key>
			<string>d05b131db9cb3151595e857f617a4feb86d28ba2f17e97deef0274ec5ea60336</string>
			<key>size</key>
			<integer>38816</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sasl2/liblogin.so.3.0.0</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>sha256</key>
			<string>59679b7383d2a30fd9fa4181cf57fb55c84ed7cfe70cea9dfba3e849e3400dfb</string>
			<key>size</key>
			<integer>18568</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sasl2/libntlm.so.3.0.0</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>sha256</key>
			<string>c399ebec1625338795fe3e1cc654c8428844f8747d22aee4a9d3b49fd5a9e59b</string>
			<key>size</key>
			<integer>39048</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sasl2/libplain.so.3.0.0</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>sha256</key>
			<string>3bf81a477cb12dfcfcfd492bcd22fcc3e8bb1c360ece53e9240ef4da322b9536</string>
			<key>size</key>
			<integer>18568</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sasl2/libsasldb.so.3.0.0</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>sha256</key>
			<string>3fc9064e98a976a46c4b4ca217255405c2f7133f4e9cedbd8c9d3c95a14e3a08</string>
			<key>size</key>
			<integer>30704</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sasl2/libscram.so.3.0.0</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>sha256</key>
			<string>c8dc051fe4c2cc8af0ab16f273ee00540276d4585e78e444f7e064dd32e9244b</string>
			<key>size</key>
			<integer>43344</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/sasl2/libanonymous.so</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>target</key>
			<string>/usr/lib/sasl2/libanonymous.so.3.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sasl2/libanonymous.so.3</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>target</key>
			<string>/usr/lib/sasl2/libanonymous.so.3.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sasl2/libcrammd5.so</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>target</key>
			<string>/usr/lib/sasl2/libcrammd5.so.3.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sasl2/libcrammd5.so.3</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>target</key>
			<string>/usr/lib/sasl2/libcrammd5.so.3.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sasl2/libdigestmd5.so</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>target</key>
			<string>/usr/lib/sasl2/libdigestmd5.so.3.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sasl2/libdigestmd5.so.3</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>target</key>
			<string>/usr/lib/sasl2/libdigestmd5.so.3.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sasl2/libgs2.so</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>target</key>
			<string>/usr/lib/sasl2/libgs2.so.3.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sasl2/libgs2.so.3</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>target</key>
			<string>/usr/lib/sasl2/libgs2.so.3.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sasl2/liblogin.so</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>target</key>
			<string>/usr/lib/sasl2/liblogin.so.3.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sasl2/liblogin.so.3</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>target</key>
			<string>/usr/lib/sasl2/liblogin.so.3.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sasl2/libntlm.so</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>target</key>
			<string>/usr/lib/sasl2/libntlm.so.3.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sasl2/libntlm.so.3</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>target</key>
			<string>/usr/lib/sasl2/libntlm.so.3.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sasl2/libplain.so</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>target</key>
			<string>/usr/lib/sasl2/libplain.so.3.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sasl2/libplain.so.3</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>target</key>
			<string>/usr/lib/sasl2/libplain.so.3.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sasl2/libsasldb.so</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>target</key>
			<string>/usr/lib/sasl2/libsasldb.so.3.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sasl2/libsasldb.so.3</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>target</key>
			<string>/usr/lib/sasl2/libsasldb.so.3.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sasl2/libscram.so</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>target</key>
			<string>/usr/lib/sasl2/libscram.so.3.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sasl2/libscram.so.3</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>target</key>
			<string>/usr/lib/sasl2/libscram.so.3.0.0</string>
		</dict>
	</array>
</dict>
</plist>
