<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/db</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/db_archive</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>6ed183d72b92ecc33094e1dd6506e27ea0d76495fa19b9def1f44f8e0f1a7042</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/db_checkpoint</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>ebb46ffdc1115d27cbf6f5570e61728442563fce52685ea997402e67241298de</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/db_deadlock</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>6de9bcea859e8edc578618c9d699e401948efe59f35fd68d86f65498c42c7114</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/db_dump</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>6d2eef0d0c355be4ee5524ef14866a809fc755169f99440399b82a29a06196d6</string>
			<key>size</key>
			<integer>18496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/db_hotbackup</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>9488e3970353d262e5e45e6888cf75cf6f5a3fb56a48fe6acca9a15b65a7395f</string>
			<key>size</key>
			<integer>18504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/db_load</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>c587687ce9d33af70e818ab61ae5b46f93699cc83fec4d5f85b35d12c3e41180</string>
			<key>size</key>
			<integer>30784</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/db_log_verify</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>ddb7d7d36f17ee40d87d2196b43a5718cac48b04ca43c3b61a6b1922327057bf</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/db_printlog</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>42d3118ae6cf7b11a239ed7cc6e8000d380f98fc24c83cad2a388ba01bafe6f1</string>
			<key>size</key>
			<integer>34888</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/db_recover</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>5ee685e0292aa5f498b3204bd64dd909df2835df07115add7f6d6657a3a69248</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/db_replicate</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>51ad2dd36e631977ae53b3dcdb42eee3da7d1309dd2c1474de478b14fd3b9327</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/db_stat</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>78745635cdf4ed74262530b3d2ba15b3100ba2bd0cd4a97f467a7c58781f8f2b</string>
			<key>size</key>
			<integer>18496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/db_tuner</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>c64eb927462c7cd2b4f10a6813b365e98747a7aa0251d92d0dd5f22f99ca2d31</string>
			<key>size</key>
			<integer>22608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/db_upgrade</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>cc58fe52a6652339cbeb4b79daf4e7dbe4797a5544e56d8baee332c6d36dd677</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/db_verify</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>826fa6585b4871932c96caaf43e10d58679709b6514df6cd2681e001f5a219b8</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/db/LICENSE</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>b78815181a53241f9347c6b47d1031fd669946f863e1edc807a291354cec024b</string>
			<key>size</key>
			<integer>7310</integer>
		</dict>
	</array>
</dict>
</plist>
