<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/dbus-1/session.conf</string>
			<key>mtime</key>
			<integer>1595220871</integer>
			<key>sha256</key>
			<string>2218b9313dc6d2e07d85751f318124cc5138787358ae1039703321cf6b35602a</string>
			<key>size</key>
			<integer>838</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/dbus-1/system.conf</string>
			<key>mtime</key>
			<integer>1595220871</integer>
			<key>sha256</key>
			<string>a6f50dc70ef082a110dcdb164579cd2af221b90226c5e0aca237edcad98a1c26</string>
			<key>size</key>
			<integer>833</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/dbus-1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/dbus</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xml</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xml/dbus-1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/dbus/check</string>
			<key>mtime</key>
			<integer>1595220871</integer>
			<key>sha256</key>
			<string>e81ca5cc47200a2f4df2463a46316c7a8f9f462a1f7c9579cfeca0d970921863</string>
			<key>size</key>
			<integer>92</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/dbus/run</string>
			<key>mtime</key>
			<integer>1595220871</integer>
			<key>sha256</key>
			<string>b7012df029f0fd44fc77f42347a8fcf144d168be42aa6dcd1ac7973300b9c5d0</string>
			<key>size</key>
			<integer>118</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/dbus-cleanup-sockets</string>
			<key>mtime</key>
			<integer>1595220871</integer>
			<key>sha256</key>
			<string>54b77cb3b6411f0b58e593e8d77d399b1c5c713bd4a4bfdcbcf03dac47c2943e</string>
			<key>size</key>
			<integer>14416</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/dbus-daemon</string>
			<key>mtime</key>
			<integer>1595220871</integer>
			<key>sha256</key>
			<string>9bae9121ec528a9ef9239862de6c15351d3c954252e345cba6f0064cbf356eab</string>
			<key>size</key>
			<integer>223792</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/dbus-monitor</string>
			<key>mtime</key>
			<integer>1595220871</integer>
			<key>sha256</key>
			<string>ab121ffc0daa7f410a016a0566d93e2412f7a4a3323a4c87eca1e8b0ab0117da</string>
			<key>size</key>
			<integer>30800</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/dbus-run-session</string>
			<key>mtime</key>
			<integer>1595220871</integer>
			<key>sha256</key>
			<string>8054a5d88a448a7bb790398d16183e51f5fa5b564229210bcbf23454f7351b4e</string>
			<key>size</key>
			<integer>14416</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/dbus-send</string>
			<key>mtime</key>
			<integer>1595220871</integer>
			<key>sha256</key>
			<string>03386cea86a479bd45682187058c0a3a1769d401b3a70b6a1b85d104e7fcc5e3</string>
			<key>size</key>
			<integer>30792</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/dbus-test-tool</string>
			<key>mtime</key>
			<integer>1595220871</integer>
			<key>sha256</key>
			<string>9e4037da2e8eb140765e9299890f6fa57f02c29f33b011b779d77e92934eaedd</string>
			<key>size</key>
			<integer>26776</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/dbus-update-activation-environment</string>
			<key>mtime</key>
			<integer>1595220871</integer>
			<key>sha256</key>
			<string>a23197307453a75d0c459c125d7ed68bef88a7d4d1587ab2e36fe780c5641469</string>
			<key>size</key>
			<integer>14432</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/dbus-uuidgen</string>
			<key>mtime</key>
			<integer>1595220871</integer>
			<key>sha256</key>
			<string>18d29718d3fb06ea24e642f6a526373ca08ab943a33b4d37aca858b486b177f2</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/dbus-daemon-launch-helper</string>
			<key>mtime</key>
			<integer>1595220871</integer>
			<key>sha256</key>
			<string>501bdba9db789d559a745c483f2bd9a518162dd46ac302989aa621db6b831b0e</string>
			<key>size</key>
			<integer>63704</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1/session.conf</string>
			<key>mtime</key>
			<integer>1595220871</integer>
			<key>sha256</key>
			<string>206f009ddcf909422f3651c687b4623a5780fb7486c6d650e5332f57c00d6be1</string>
			<key>size</key>
			<integer>3561</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1/system.conf</string>
			<key>mtime</key>
			<integer>1595220871</integer>
			<key>sha256</key>
			<string>6b685cf213dcc98ee13c5dae9264b735791bad66f8b5d72a29c3693a4bd776b6</string>
			<key>size</key>
			<integer>5682</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/dbus-cleanup-sockets.1</string>
			<key>mtime</key>
			<integer>1595220871</integer>
			<key>sha256</key>
			<string>c00c524afebf2ceb7858b2ac0e0313fed49edd52252b9c6d95de4089dd2f4161</string>
			<key>size</key>
			<integer>2769</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/dbus-daemon.1</string>
			<key>mtime</key>
			<integer>1595220871</integer>
			<key>sha256</key>
			<string>a5565eb3819d4797ff17ded4a7466fbcaa609a5eaa74243039dc5d927897d538</string>
			<key>size</key>
			<integer>48309</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/dbus-monitor.1</string>
			<key>mtime</key>
			<integer>1595220871</integer>
			<key>sha256</key>
			<string>adbf7ba77845575a5df7f91fe75e7c4af3a5072f2d421562e326685b3a37f469</string>
			<key>size</key>
			<integer>4344</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/dbus-run-session.1</string>
			<key>mtime</key>
			<integer>1595220871</integer>
			<key>sha256</key>
			<string>a44e2ddce0a695e29b56cfb13c3e236e4e05e60d11637645b4f62b6fc6357b5b</string>
			<key>size</key>
			<integer>4401</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/dbus-send.1</string>
			<key>mtime</key>
			<integer>1595220871</integer>
			<key>sha256</key>
			<string>1731874f19505ad3754f61adbc0934c20be13fdfbf6559765eaa87b093829246</string>
			<key>size</key>
			<integer>5725</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/dbus-test-tool.1</string>
			<key>mtime</key>
			<integer>1595220871</integer>
			<key>sha256</key>
			<string>99e74aa5e5382f50fc224baba757cb10d8bade2a3ed47980be23672cf468875c</string>
			<key>size</key>
			<integer>6446</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/dbus-update-activation-environment.1</string>
			<key>mtime</key>
			<integer>1595220871</integer>
			<key>sha256</key>
			<string>90db851459381ea7cd78dc66661c4edb294762671974d44cd47f9cf12e044df1</string>
			<key>size</key>
			<integer>6164</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/dbus-uuidgen.1</string>
			<key>mtime</key>
			<integer>1595220871</integer>
			<key>sha256</key>
			<string>49ea7a9f29d2621efa823a1bf0fe55cf5fd9b0050761be7ad89e4fbcb95f5fd1</string>
			<key>size</key>
			<integer>4257</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xml/dbus-1/busconfig.dtd</string>
			<key>mtime</key>
			<integer>1595220871</integer>
			<key>sha256</key>
			<string>9403dd9564b4568d62ca9004d40e2d0c1141ad2a1274d50e97bac66f98cc739d</string>
			<key>size</key>
			<integer>1907</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xml/dbus-1/introspect.dtd</string>
			<key>mtime</key>
			<integer>1595220871</integer>
			<key>sha256</key>
			<string>be73d84e8f764478f78be388385eaa7a3e4c86d314f9d68934f2c7be8b0d25bf</string>
			<key>size</key>
			<integer>1226</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/dbus/supervise</string>
			<key>mtime</key>
			<integer>1595220871</integer>
			<key>target</key>
			<string>/run/runit/supervise.dbus</string>
		</dict>
	</array>
</dict>
</plist>
