<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gio</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gio/modules</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1/services</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/dconf</string>
			<key>mtime</key>
			<integer>1603225276</integer>
			<key>sha256</key>
			<string>56f7e898435edd7f7a32b8f994ee5ee750db73d1b3f3cdef85828761cb2db018</string>
			<key>size</key>
			<integer>51344</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gio/modules/libdconfsettings.so</string>
			<key>mtime</key>
			<integer>1603225276</integer>
			<key>sha256</key>
			<string>a9ff38418c792ca13a86c4bb5394b9c541cfceed4113d7aea21b74138c44d952</string>
			<key>size</key>
			<integer>51176</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdconf.so.1.0.0</string>
			<key>mtime</key>
			<integer>1603225276</integer>
			<key>sha256</key>
			<string>018128df5044217eb525e9cb06a8b7cb0320a526735a5871b5e2316dc94d8d2f</string>
			<key>size</key>
			<integer>63464</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/dconf-service</string>
			<key>mtime</key>
			<integer>1603225276</integer>
			<key>sha256</key>
			<string>b78cf4b453517511be02831af7f8af03569e2c3aae2e7aee7c0521ce343d6d69</string>
			<key>size</key>
			<integer>71832</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/dconf</string>
			<key>mtime</key>
			<integer>1603225276</integer>
			<key>sha256</key>
			<string>20ef16877b24ceffaa72c61ae4c591e52e388936196fb0bf7f56b7466afde16f</string>
			<key>size</key>
			<integer>1159</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1/services/ca.desrt.dconf.service</string>
			<key>mtime</key>
			<integer>1603225276</integer>
			<key>sha256</key>
			<string>f3cbee32bbed4e629fdd63d68e26b143aec8e2be6966b5f3ee5a74de7482be9a</string>
			<key>size</key>
			<integer>68</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/dconf-service.1</string>
			<key>mtime</key>
			<integer>1603225276</integer>
			<key>sha256</key>
			<string>e9b42997dcc7a971058303bb775d851dfe80f58ed430d141e945e23739f221ef</string>
			<key>size</key>
			<integer>1931</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/dconf.1</string>
			<key>mtime</key>
			<integer>1603225276</integer>
			<key>sha256</key>
			<string>4065d28c1419907a4d856bf9607ada91411066bedffbe5cf9538dd31e1496b35</string>
			<key>size</key>
			<integer>4367</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/dconf.7</string>
			<key>mtime</key>
			<integer>1603225276</integer>
			<key>sha256</key>
			<string>529debd1b519462200df3fc7d625276648cafd4fdf450cda325ce4130378b532</string>
			<key>size</key>
			<integer>8962</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdconf.so.1</string>
			<key>mtime</key>
			<integer>1603225276</integer>
			<key>target</key>
			<string>/usr/lib/libdconf.so.1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
