<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/var/spool/cron/root</string>
			<key>mtime</key>
			<integer>1546364984</integer>
			<key>sha256</key>
			<string>9a979dfdfcc2ec9b6350754309323bb3ff49e1e47276c65778495bfe428ad079</string>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/dcron</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/dcron/log</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/var</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/spool</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/spool/cron</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/dcron/log/run</string>
			<key>mtime</key>
			<integer>1546364984</integer>
			<key>sha256</key>
			<string>01f03f1e6f841a668c2050ab766460c8b5d79a02ec72084a84525f208e983ac3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/dcron/run</string>
			<key>mtime</key>
			<integer>1546364984</integer>
			<key>sha256</key>
			<string>b9025794e13a9e7694325d912782d28942bc369c557779271e0eebb262ce3aca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/dcrond</string>
			<key>mtime</key>
			<integer>1546364984</integer>
			<key>sha256</key>
			<string>ff5fc350e6154b67ca6417ffbb26d19a2681f44e7223352c93a037953de5cdc0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/dcrontab</string>
			<key>mtime</key>
			<integer>1546364984</integer>
			<key>sha256</key>
			<string>d5c10f905b8d3d22c1d824f31087a85cf44935eae333323533d82ce33e0c1248</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/run-cron</string>
			<key>mtime</key>
			<integer>1546364984</integer>
			<key>sha256</key>
			<string>65405f14aba849743fb14311cef22e5fd2fbfb12b9a73baa699fd07a3624a8ef</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/dcrontab.1</string>
			<key>mtime</key>
			<integer>1546364984</integer>
			<key>sha256</key>
			<string>ee9b40a0e5747ffb52b7b457bb08ae3b1c1f275af7e0e5f710ecedbb2d1e7f7c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/dcrond.8</string>
			<key>mtime</key>
			<integer>1546364984</integer>
			<key>sha256</key>
			<string>533ac28a352ff5eda0313c836fafde62d5b81c9c0ed976a2ef058cd642bf078d</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/dcron/log/supervise</string>
			<key>mtime</key>
			<integer>1546364984</integer>
			<key>target</key>
			<string>/run/runit/supervise.dcron-log</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/dcron/supervise</string>
			<key>mtime</key>
			<integer>1546364984</integer>
			<key>target</key>
			<string>/run/runit/supervise.dcron</string>
		</dict>
	</array>
</dict>
</plist>
