<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/dmeventd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/device-mapper</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/rules.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/dmeventd/run</string>
			<key>mtime</key>
			<integer>1599848644</integer>
			<key>sha256</key>
			<string>3c52d251f78e21a3013a856d2b3beda880ff3c7676a2149768a45d421057bbe8</string>
			<key>size</key>
			<integer>27</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/dmeventd</string>
			<key>mtime</key>
			<integer>1599848644</integer>
			<key>sha256</key>
			<string>5758a0f941374b8638f5eed5dda0602870e4062ecc8a730632fbad4b30f46c20</string>
			<key>size</key>
			<integer>43160</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/dmsetup</string>
			<key>mtime</key>
			<integer>1599848644</integer>
			<key>sha256</key>
			<string>5d92cad778b9cf30e3cfd05cf7d147b656df5c20e339d7241f8f0f4a9aad13e4</string>
			<key>size</key>
			<integer>158448</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/device-mapper/libdevmapper-event-lvm2mirror.so</string>
			<key>mtime</key>
			<integer>1599848644</integer>
			<key>sha256</key>
			<string>4c5e4ef525f82c3f8492e2ad9716b4122772667c6f83a3939f623e1555b0ac22</string>
			<key>size</key>
			<integer>14552</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/device-mapper/libdevmapper-event-lvm2raid.so</string>
			<key>mtime</key>
			<integer>1599848644</integer>
			<key>sha256</key>
			<string>af517621cc74948b825bcad770a7e0007078989da30ae5ad21d7ed1c4c407c6c</string>
			<key>size</key>
			<integer>14552</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/device-mapper/libdevmapper-event-lvm2snapshot.so</string>
			<key>mtime</key>
			<integer>1599848644</integer>
			<key>sha256</key>
			<string>31ac01ad26c9f7cfa87864b063e6a52f00a508c3c2743b893020b346b3e7018d</string>
			<key>size</key>
			<integer>14688</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/device-mapper/libdevmapper-event-lvm2thin.so</string>
			<key>mtime</key>
			<integer>1599848644</integer>
			<key>sha256</key>
			<string>39fcaf407304fccaa0e38b614033862de58bc2c44749eb2c87da1717f19760c0</string>
			<key>size</key>
			<integer>22936</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/device-mapper/libdevmapper-event-lvm2vdo.so</string>
			<key>mtime</key>
			<integer>1599848644</integer>
			<key>sha256</key>
			<string>80eff5be9098cbe938ee2571d2eb96092db31e1eeb740513ff242d687dd3758c</string>
			<key>size</key>
			<integer>18832</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdevmapper-event-lvm2.so.2.02</string>
			<key>mtime</key>
			<integer>1599848644</integer>
			<key>sha256</key>
			<string>c5c16111f0f9a068ecd0d9f952ad6712f20c529713f490af50d1b70705826113</string>
			<key>size</key>
			<integer>14664</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdevmapper-event.so.1.02</string>
			<key>mtime</key>
			<integer>1599848644</integer>
			<key>sha256</key>
			<string>aa002c2d31312a544b1d7d25ff0b4d78d5837135e8c9338ffc0102fff194452f</string>
			<key>size</key>
			<integer>31248</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdevmapper.so.1.02</string>
			<key>mtime</key>
			<integer>1599848644</integer>
			<key>sha256</key>
			<string>6ae6e36324ac77a0ff548bb534e528d7867f6ae7651c5afd3a8ff0ac9fb82841</string>
			<key>size</key>
			<integer>362232</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/liblvm2cmd.so.2.02</string>
			<key>mtime</key>
			<integer>1599848644</integer>
			<key>sha256</key>
			<string>afab9a26fc26bed6ade8797fcd2b11580a8cc1b321ef7277a9bc40ff42a70904</string>
			<key>size</key>
			<integer>2123672</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/rules.d/10-dm.rules</string>
			<key>mtime</key>
			<integer>1599848644</integer>
			<key>sha256</key>
			<string>0e7d270883a378d1fa6bc9f4be53f0f55086c178f8fbf0ac8eb5d9d3cb8487d3</string>
			<key>size</key>
			<integer>7263</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/rules.d/13-dm-disk.rules</string>
			<key>mtime</key>
			<integer>1599848644</integer>
			<key>sha256</key>
			<string>4f29624db81570ade0ab633c68eadf84eccd7136421b1effa70ed0484f16825e</string>
			<key>size</key>
			<integer>1794</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/rules.d/95-dm-notify.rules</string>
			<key>mtime</key>
			<integer>1599848644</integer>
			<key>sha256</key>
			<string>178166828c9ef2a88d9dde7fcaf12b1944df2fbda2188fe0e062d84fd060117e</string>
			<key>size</key>
			<integer>482</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/dmeventd.8</string>
			<key>mtime</key>
			<integer>1599848644</integer>
			<key>sha256</key>
			<string>2b551914fa8f6a67a1d2f75656c48bff0d43fc4cac6e02f3d9cd8afb389f93f8</string>
			<key>size</key>
			<integer>3769</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/dmsetup.8</string>
			<key>mtime</key>
			<integer>1599848644</integer>
			<key>sha256</key>
			<string>a26534f2592417abf96a409efcb600a4a2bf4edb6604a7341c120ddf8400b2fc</string>
			<key>size</key>
			<integer>25971</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/dmstats.8</string>
			<key>mtime</key>
			<integer>1599848644</integer>
			<key>sha256</key>
			<string>d6944523f38436b6db1b548c917a7db92c1e271338b73a7c9de131acb0178ce4</string>
			<key>size</key>
			<integer>37273</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/dmeventd/supervise</string>
			<key>mtime</key>
			<integer>1599848644</integer>
			<key>target</key>
			<string>/run/runit/supervise.dmeventd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/dmstats</string>
			<key>mtime</key>
			<integer>1599848644</integer>
			<key>target</key>
			<string>/usr/bin/dmsetup</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdevmapper-event-lvm2mirror.so</string>
			<key>mtime</key>
			<integer>1599848644</integer>
			<key>target</key>
			<string>/usr/lib/device-mapper/libdevmapper-event-lvm2mirror.so</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdevmapper-event-lvm2raid.so</string>
			<key>mtime</key>
			<integer>1599848644</integer>
			<key>target</key>
			<string>/usr/lib/device-mapper/libdevmapper-event-lvm2raid.so</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdevmapper-event-lvm2snapshot.so</string>
			<key>mtime</key>
			<integer>1599848644</integer>
			<key>target</key>
			<string>/usr/lib/device-mapper/libdevmapper-event-lvm2snapshot.so</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdevmapper-event-lvm2thin.so</string>
			<key>mtime</key>
			<integer>1599848644</integer>
			<key>target</key>
			<string>/usr/lib/device-mapper/libdevmapper-event-lvm2thin.so</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdevmapper-event-lvm2vdo.so</string>
			<key>mtime</key>
			<integer>1599848644</integer>
			<key>target</key>
			<string>/usr/lib/device-mapper/libdevmapper-event-lvm2vdo.so</string>
		</dict>
	</array>
</dict>
</plist>
