<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/dex</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/dex</string>
			<key>mtime</key>
			<integer>1611812465</integer>
			<key>sha256</key>
			<string>3b5d9694c3b84dc85b1d3e635af56861f02279c039b079bce24554c80cc01b2e</string>
			<key>size</key>
			<integer>23732</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/dex/README.rst</string>
			<key>mtime</key>
			<integer>1611812465</integer>
			<key>sha256</key>
			<string>6c35297c3ee58e8f0a644208b0f81cb759ab10919b8f331cb56b1a8c340acd7a</string>
			<key>size</key>
			<integer>7264</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/dex.1</string>
			<key>mtime</key>
			<integer>1611812465</integer>
			<key>sha256</key>
			<string>06c2fba6420bd6fe256b758b1f04e134ef9f866094ff84a789b3cc1bbe3f3a28</string>
			<key>size</key>
			<integer>3777</integer>
		</dict>
	</array>
</dict>
</plist>
