<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/dhcpcd.conf</string>
			<key>mtime</key>
			<integer>1608473954</integer>
			<key>sha256</key>
			<string>6ff59760eba0466cc43217381508a9562fcba91c24fb56b19ad44b32f62208f7</string>
			<key>size</key>
			<integer>1428</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/dhcpcd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/dhcpcd-eth0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/dhcpcd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/dhcpcd/dev</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/dhcpcd-hooks</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dhcpcd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dhcpcd/hooks</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/dhcpcd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/dhcpcd/run</string>
			<key>mtime</key>
			<integer>1608473954</integer>
			<key>sha256</key>
			<string>49328dc461852111f343f95aeb132f26d116f1cd698c7600f7b0cd6ca21700ec</string>
			<key>size</key>
			<integer>66</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/dhcpcd-eth0/run</string>
			<key>mtime</key>
			<integer>1608473954</integer>
			<key>sha256</key>
			<string>e97545640fbb9cc6f42b9423e2f200b3b4648c0e3603d9bc2cf23be4ae94f520</string>
			<key>size</key>
			<integer>65</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/dhcpcd</string>
			<key>mtime</key>
			<integer>1608473954</integer>
			<key>sha256</key>
			<string>9f0b4f76b74d6dc6b185496756fb699b0827fd79a418880b6b103526be4adf41</string>
			<key>size</key>
			<integer>338520</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/dhcpcd/dev/udev.so</string>
			<key>mtime</key>
			<integer>1608473954</integer>
			<key>sha256</key>
			<string>95fc064886120260b27b4d46d7d6c978dfda581e0a3dc16f63b538d018154ece</string>
			<key>size</key>
			<integer>14224</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/dhcpcd-hooks/01-test</string>
			<key>mtime</key>
			<integer>1608473954</integer>
			<key>sha256</key>
			<string>0a4a1efe4e105e68e564a49cc8de40de2263166a65478ceafd94236661f1a75d</string>
			<key>size</key>
			<integer>734</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/dhcpcd-hooks/20-resolv.conf</string>
			<key>mtime</key>
			<integer>1608473954</integer>
			<key>sha256</key>
			<string>1229a8a315f573d2f6cf0a17bf77bda2ba220a7767be8e135e3ce2c57a7c2019</string>
			<key>size</key>
			<integer>5567</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/dhcpcd-hooks/30-hostname</string>
			<key>mtime</key>
			<integer>1608473954</integer>
			<key>sha256</key>
			<string>9cdd60e6360ff53b2f95adb6990ad062f15705e5ea7cb7e7233459b113fb2cbb</string>
			<key>size</key>
			<integer>3750</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/dhcpcd-hooks/50-ntp.conf</string>
			<key>mtime</key>
			<integer>1608473954</integer>
			<key>sha256</key>
			<string>154a7f57fa53fd2d2776a02e8da465b415a3b5cd9447558808e60e6c7d4388d6</string>
			<key>size</key>
			<integer>3477</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/dhcpcd-run-hooks</string>
			<key>mtime</key>
			<integer>1608473954</integer>
			<key>sha256</key>
			<string>c2d7da2b690377555e140956503bffd7eeec4987b0a04386dcb047e001f21961</string>
			<key>size</key>
			<integer>8133</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dhcpcd/hooks/10-wpa_supplicant</string>
			<key>mtime</key>
			<integer>1608473954</integer>
			<key>sha256</key>
			<string>82ab71ce133eabe7450f50774035ce7539eca72b0f1ca75f9587b352436342c8</string>
			<key>size</key>
			<integer>2828</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dhcpcd/hooks/15-timezone</string>
			<key>mtime</key>
			<integer>1608473954</integer>
			<key>sha256</key>
			<string>ba1412ce405aaa73d10f59ccfffea470d0dcdb32b3192aea2e8c8f79bda6b5d7</string>
			<key>size</key>
			<integer>885</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dhcpcd/hooks/29-lookup-hostname</string>
			<key>mtime</key>
			<integer>1608473954</integer>
			<key>sha256</key>
			<string>8219e359ac78da8c84e3563c1d3461f32c3ad78173db95b860b4c2583ee19f3d</string>
			<key>size</key>
			<integer>796</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/dhcpcd/LICENSE</string>
			<key>mtime</key>
			<integer>1608473954</integer>
			<key>sha256</key>
			<string>9cce1077bad23544349788ec750ec6e5aee106fc437fd6b5d73c0d8510426578</string>
			<key>size</key>
			<integer>1302</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/dhcpcd.conf.5</string>
			<key>mtime</key>
			<integer>1608473954</integer>
			<key>sha256</key>
			<string>614a0a5f4b170f0269e455cccb0ce78bf618ca90fb26d542c754eec613ce6d89</string>
			<key>size</key>
			<integer>29930</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/dhcpcd-run-hooks.8</string>
			<key>mtime</key>
			<integer>1608473954</integer>
			<key>sha256</key>
			<string>2476ec6cd97466e748a87b5fc0e77d48522e5b29edc112d5ddbdf2b93eb0a7f2</string>
			<key>size</key>
			<integer>6879</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/dhcpcd.8</string>
			<key>mtime</key>
			<integer>1608473954</integer>
			<key>sha256</key>
			<string>41f8a04d30d264ae23f1322c3f118b542d68a896645def1700d1ebfb45996417</string>
			<key>size</key>
			<integer>26327</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/dhcpcd/supervise</string>
			<key>mtime</key>
			<integer>1608473954</integer>
			<key>target</key>
			<string>/run/runit/supervise.dhcpcd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/dhcpcd-eth0/supervise</string>
			<key>mtime</key>
			<integer>1608473954</integer>
			<key>target</key>
			<string>/run/runit/supervise.dhcpcd-eth0</string>
		</dict>
	</array>
</dict>
</plist>
