<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/dhclient.conf</string>
			<key>mtime</key>
			<integer>1599980596</integer>
			<key>sha256</key>
			<string>96cc624110bdda51918b4d19bad4835423dbc4ed2ef71e03dcc5e21d65f0cd76</string>
			<key>size</key>
			<integer>1054</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/dhclient</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/dhclient/run</string>
			<key>mtime</key>
			<integer>1599980596</integer>
			<key>sha256</key>
			<string>f351d7a77ec4ae3e4eeb9e11fc354bd76999041a0dc4b010c28db79bb180b85e</string>
			<key>size</key>
			<integer>61</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/dhclient</string>
			<key>mtime</key>
			<integer>1599980596</integer>
			<key>sha256</key>
			<string>ddb9da352145bcff49e59857518d613c1050a44ae6bfe7ce9f076191749d7366</string>
			<key>size</key>
			<integer>2926264</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/dhclient-script</string>
			<key>mtime</key>
			<integer>1599980596</integer>
			<key>sha256</key>
			<string>ba3e0dca5f0275f58a23ca3d1d740522e16d8b2ee5530becaab1516afb41c766</string>
			<key>size</key>
			<integer>16366</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/dhclient.conf.5</string>
			<key>mtime</key>
			<integer>1599980596</integer>
			<key>sha256</key>
			<string>c5d787cd4fb897c1a2427cc54c4d78b4102203fa26e1a4e8bece22c31c31162f</string>
			<key>size</key>
			<integer>31572</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/dhclient.leases.5</string>
			<key>mtime</key>
			<integer>1599980596</integer>
			<key>sha256</key>
			<string>38987b3b51e73cdffd1cdc567a1b62fe48de065d7e4d3f35371bb7f386a7b465</string>
			<key>size</key>
			<integer>2069</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/dhclient-script.8</string>
			<key>mtime</key>
			<integer>1599980596</integer>
			<key>sha256</key>
			<string>728e4fba8430693a841053da1f9d910667344e4f415205a3e68b8e3a3771c9f5</string>
			<key>size</key>
			<integer>11451</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/dhclient.8</string>
			<key>mtime</key>
			<integer>1599980596</integer>
			<key>sha256</key>
			<string>87d04882a5f4028b7fa381ab23e3eb424489a72d6f78b9f547daf355b70aaaad</string>
			<key>size</key>
			<integer>20668</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/dhclient/supervise</string>
			<key>mtime</key>
			<integer>1599980596</integer>
			<key>target</key>
			<string>/run/runit/supervise.dhclient</string>
		</dict>
	</array>
</dict>
</plist>
