<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/dkms/framework.conf</string>
			<key>mtime</key>
			<integer>1607755575</integer>
			<key>sha256</key>
			<string>7222fa6b7978f0c3b29a82e58a053f89b5731512b9159ae2935b904f2ec7915e</string>
			<key>size</key>
			<integer>1042</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/dkms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/kernel.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/kernel.d/post-install</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/kernel.d/pre-remove</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/var</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/lib/dkms</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/kernel.d/post-install/10-dkms</string>
			<key>mtime</key>
			<integer>1607755575</integer>
			<key>sha256</key>
			<string>003ddac97f0e7fe9a9ca14a14d1e276ed08056d76c6791a68bea62bf47876a44</string>
			<key>size</key>
			<integer>3125</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/kernel.d/pre-remove/10-dkms</string>
			<key>mtime</key>
			<integer>1607755575</integer>
			<key>sha256</key>
			<string>b60d8236c3ce61f509d4f2a6fc9cadc4d2e312431b8f8f70e6ad0922b222c158</string>
			<key>size</key>
			<integer>647</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/dkms</string>
			<key>mtime</key>
			<integer>1607755575</integer>
			<key>sha256</key>
			<string>7240edd07dd4c5d502ac3fb809b73b3c06ea5e8dca6fdbef43745bda9c8dcdac</string>
			<key>size</key>
			<integer>144902</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/dkms</string>
			<key>mtime</key>
			<integer>1607755575</integer>
			<key>sha256</key>
			<string>63d46abd92b50e5cf4fe046bd9dbe20a7615ae30c702304a8763e7d059d7590f</string>
			<key>size</key>
			<integer>2392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/dkms.8</string>
			<key>mtime</key>
			<integer>1607755575</integer>
			<key>sha256</key>
			<string>97cc8458468125df35ea111fe7369541a0db4eff2b08b64a545239a4a8455d27</string>
			<key>size</key>
			<integer>43958</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/lib/dkms/dkms_dbversion</string>
			<key>mtime</key>
			<integer>1607755575</integer>
			<key>sha256</key>
			<string>c28fcca53637bc88e124af1725df13cb98c69dedefd62fb3cdbe1cdb6b760624</string>
			<key>size</key>
			<integer>6</integer>
		</dict>
	</array>
</dict>
</plist>
