<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/dma/auth.conf</string>
			<key>mtime</key>
			<integer>1593770023</integer>
			<key>sha256</key>
			<string>7daef888f8fbc30f2f5b48c83c44bf2bace4a1ac66f235d6a5036faf7f66fb0c</string>
			<key>size</key>
			<integer>186</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/dma/dma.conf</string>
			<key>mtime</key>
			<integer>1593770023</integer>
			<key>sha256</key>
			<string>7e7c02c7c15dc9a94561e5a85ce0edd6c8cdcc5bb11de19333ab2e1b66a63f7e</string>
			<key>size</key>
			<integer>2526</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/dma</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/dma</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/dma</string>
			<key>mtime</key>
			<integer>1593770023</integer>
			<key>sha256</key>
			<string>12e329d96edd15891d4bf1a6fa8a070a3252b8b87bfd7576baedb9ce924502d3</string>
			<key>size</key>
			<integer>67856</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/dma-mbox-create</string>
			<key>mtime</key>
			<integer>1593770023</integer>
			<key>sha256</key>
			<string>9de552de008195a55e50f7de39bc2741175a459e37173fc13933fe7d0b4a24ee</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/dma/LICENSE</string>
			<key>mtime</key>
			<integer>1593770023</integer>
			<key>sha256</key>
			<string>cc3d14b254aebda5e2432d128bdb0501c98c348d0447957bb5f1b8ccca77330c</string>
			<key>size</key>
			<integer>5440</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/dma.8</string>
			<key>mtime</key>
			<integer>1593770023</integer>
			<key>sha256</key>
			<string>239819722f48a6f7a91d0173804e35b1256d2948e9939d9f634733eeb65b1eac</string>
			<key>size</key>
			<integer>9135</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/mailq</string>
			<key>mtime</key>
			<integer>1593770023</integer>
			<key>target</key>
			<string>/usr/bin/dma</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/sendmail</string>
			<key>mtime</key>
			<integer>1593770023</integer>
			<key>target</key>
			<string>/usr/bin/dma</string>
		</dict>
	</array>
</dict>
</plist>
