<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/dvd+rw-booktype</string>
			<key>mtime</key>
			<integer>1532029904</integer>
			<key>sha256</key>
			<string>1e6fca1d7cb7e100f835da12b099bbb96e43e3c1698420129293eb03a6188eaf</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/dvd+rw-format</string>
			<key>mtime</key>
			<integer>1532029904</integer>
			<key>sha256</key>
			<string>1382fbe06c81251f913241b3d832aa27463e5e2c4e4798101144ca8b42dce80b</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/dvd+rw-mediainfo</string>
			<key>mtime</key>
			<integer>1532029904</integer>
			<key>sha256</key>
			<string>2a40fdecccce1bb92084d5fc342d052cdc5c4d4f8301cffe169186e32d94c449</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/dvd-ram-control</string>
			<key>mtime</key>
			<integer>1532029904</integer>
			<key>sha256</key>
			<string>a5771e17ee2a311f43277dde064d6f23bf17dac37dd03c2a93248f74765f01ea</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/growisofs</string>
			<key>mtime</key>
			<integer>1532029904</integer>
			<key>sha256</key>
			<string>d6bc056f5865113dd36a5df078e10923b264aa0beaa795df1e02a3a4bcced530</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/growisofs.1</string>
			<key>mtime</key>
			<integer>1532029904</integer>
			<key>sha256</key>
			<string>41b7c85c37b46f0d393a239eddb2297f02c5df1162093208c16b6f6b3b493461</string>
			<key>type</key>
			<string>files</string>
		</dict>
	</array>
</dict>
</plist>
