<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/electron9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/resources</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/swiftshader</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/electron9</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/include/electron9/node_headers.tar.gz</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>a587f9140e3c0e53aba7ef56adeb9753a087f023b6a9a5bf14bfdf60620a134d</string>
			<key>size</key>
			<integer>207342</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/LICENSE</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>c44607a865e7a6db05552baa0ef71f9887d96acd00d123854b44996bc27c0e33</string>
			<key>size</key>
			<integer>1060</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/LICENSES.chromium.html</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>47f9153dc41e2747a070177ae5227dd56b591aaebfa9ab50d7d3c7863ee300e8</string>
			<key>size</key>
			<integer>4710886</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/chrome-sandbox</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>2841debd71ea5d2a008ee615d0059855e257c67070ccb19391f86475fe4bc193</string>
			<key>size</key>
			<integer>22408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/chrome_100_percent.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>4e080fad45bc2ccf702e553c46940cfaec483147346b992c7f80c7aa0bed7329</string>
			<key>size</key>
			<integer>180084</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/chrome_200_percent.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>3545df0dcc2ae260f9829345d98eaa12316b195a60a22834d24dbfa4ae895b64</string>
			<key>size</key>
			<integer>321254</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/electron</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>b558bee4dd92556258cf349aa79f068684c36dea2f1964b77ae2a95ddbf1318c</string>
			<key>size</key>
			<integer>144687448</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/icudtl.dat</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>594637e10b8f5c97157413528f0cbf5bc65b4ab9e79f5fa34fe268092655ec57</string>
			<key>size</key>
			<integer>10505952</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/libEGL.so</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>b4355dc0be1a21d462cb3f86ab82d463576887ddba689ee995ebba49643b3123</string>
			<key>size</key>
			<integer>38712</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/libGLESv2.so</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>97ee1b8c6d27ae252a4342771e6d9fefcd69305e7f978a2dc4234e9ef920d6d1</string>
			<key>size</key>
			<integer>10088472</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/libvk_swiftshader.so</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>aa41c941e543f0b64a679247c9fc8570f1a2d173087e69ac345bfdfe2f9d8040</string>
			<key>size</key>
			<integer>5380576</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/libvulkan.so</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>a32cf2789f2e815c56aa8e62ab07ef5c705aa80c0410f8edde0c20109b7efb63</string>
			<key>size</key>
			<integer>321424</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/am.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>9c066ca77a6a79c506a1389a034aa6782b477d1b9cf5177ce1c066eb32645bbc</string>
			<key>size</key>
			<integer>134729</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/ar.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>ecdadc34123eb829d0748e2f6b65c3e5be62ca750c29f85a026a1791d6b5cd20</string>
			<key>size</key>
			<integer>137155</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/bg.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>0cb148c3fec20df24a0b94fe2f46adcaba81f1654dc0c0e867ce3561394adb66</string>
			<key>size</key>
			<integer>146870</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/bn.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>e9aadcd1a1a1d90f3c7863f22a0a9de3662f83d0d0cecf4cf9e8f6bf17ec9511</string>
			<key>size</key>
			<integer>193090</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/ca.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>4a32c8ed44fe8e8af4460fd8357f203a5b44a0044697d308c1453f74bd24bc16</string>
			<key>size</key>
			<integer>94807</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/cs.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>47433f177723ceaf4bca487b97a0d2cd55c5faccc9a17952f32c04f7b3f29351</string>
			<key>size</key>
			<integer>96747</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/da.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>fa48ff695941bffa8eb3bc828ff7a4bae86a126b2153e9410c2a6482e5322fab</string>
			<key>size</key>
			<integer>88246</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/de.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>e02c3af73722c05fee758cb873825098733c51f2886d207e139d5b981b8f2f71</string>
			<key>size</key>
			<integer>94383</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/el.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>eb8c73382c7bebc96eb5a721d8878237b68feb44a60bfcfcf595140be25fd032</string>
			<key>size</key>
			<integer>164219</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/en-GB.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>cdd8797d64a05b316d221f16af9512f7ef746af8b88d30aa4712a3d0c0455c3a</string>
			<key>size</key>
			<integer>78682</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/en-US.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>f7e15556a41eaede09209ca63b79a38427e5c323e60adcb1ea838cff44455950</string>
			<key>size</key>
			<integer>79470</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/es-419.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>07e618f5520e675c442ffad187b332dd1ddf1bd6f53bb05b7b634e8882b141af</string>
			<key>size</key>
			<integer>92455</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/es.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>f5a0721f618bc4ddd74289546f540c1eb295cca97a6e13308f5a87694212888c</string>
			<key>size</key>
			<integer>95011</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/et.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>7d225c1a96115a50a8be70b1c12df4446dff9ea1f62a9466c620dc380707a627</string>
			<key>size</key>
			<integer>84424</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/fa.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>62d9590343367d918c6e83cf8df6ac90117bcbe2179d91391c2caadefb8b44d8</string>
			<key>size</key>
			<integer>131715</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/fi.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>e3c475cb1db55e2861d4e84acec7b30aa46fa16eeff429fbb463f28e2b98b8f5</string>
			<key>size</key>
			<integer>87234</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/fil.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>be1ad9f2f636044d41d242145d21bbfd33e2f84c5dc6f0557defab0594d6ae70</string>
			<key>size</key>
			<integer>96231</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/fr.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>96128a050456f090126b31bb42e6bbbe1ec6d5ae902469164dda4bd97cf05ad5</string>
			<key>size</key>
			<integer>102498</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/gu.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>94db29c7305a2e05c243885192f2d75b6a185ac9d22ff5e6be4ebbee49e8d97b</string>
			<key>size</key>
			<integer>184490</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/he.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>6bd634969671488fafbd33348f37e156e06e8663c43d47b85d61ec8be734c0ad</string>
			<key>size</key>
			<integer>114919</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/hi.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>b468ab03405628741be9eca06379927e8dec9549c0e6991a093cf24213023a8f</string>
			<key>size</key>
			<integer>189504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/hr.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>289b554d9f63d626ae3d1b8050d32f411c9b7c212ceaa936f71fdd7f848c3596</string>
			<key>size</key>
			<integer>92177</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/hu.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>c994a7a12fde416f9b0bc213e78c7854bdc26a4323b1067847362abface75650</string>
			<key>size</key>
			<integer>97965</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/id.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>3a6299fbb571087b2b4dd02a4db154cd527b462cec2e3a716b2ccd737413d941</string>
			<key>size</key>
			<integer>85003</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/it.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>be37ee7b59b6819cacc16e91e5f5a7a8b4b461d8e87a51509919fbe8054c6c34</string>
			<key>size</key>
			<integer>92201</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/ja.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>3530ec81f916116ce41c92f36f00fc5c8177e8776e2e8a72e682b2b500016f74</string>
			<key>size</key>
			<integer>111506</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/kn.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>6dc43f1d7a8469b5182494d8d82fae1316b3a72adf934b6ef7ac0f2d7e722d9a</string>
			<key>size</key>
			<integer>212157</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/ko.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>f115e014812d01211c28e4cbc462c6a41c59fe033c0d91f49df2e6982951b63b</string>
			<key>size</key>
			<integer>94037</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/lt.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>621d4fce9a01cead3d229b37f6f29124a668eb9ae8aafc13c88210b377575e60</string>
			<key>size</key>
			<integer>100170</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/lv.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>353bcdd4ed29f2b350286926fd2b9bffa7069348a85e4d41df2f809988103c1f</string>
			<key>size</key>
			<integer>98863</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/ml.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>3bb1514e1420330e7e7ff9c358379f8a877eac9ff71f01f3d88daa1647d5c08b</string>
			<key>size</key>
			<integer>223391</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/mr.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>d018a2111d91d7e3d2747728ed921cbf360f31bb99b49584cb36cc95a66d20fe</string>
			<key>size</key>
			<integer>181553</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/ms.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>a647a2a187915909b90bb1d592811f24aaaa69839bd1b8d3ef145a597100a4f3</string>
			<key>size</key>
			<integer>86943</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/nb.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>b12ebcb916e102a7333ca13b2f72e0191cba2ff67e9f66800d7391bb143e000e</string>
			<key>size</key>
			<integer>85671</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/nl.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>c593b4c8f0de5ee3b8552d15645d451c63be0fa7c3976703a54000083f3e3e0d</string>
			<key>size</key>
			<integer>89666</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/pl.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>9277222ac38f684776d0a696c0bc4f86baed3ac10abb2982c331f4ef1bce80b8</string>
			<key>size</key>
			<integer>96950</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/pt-BR.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>c484519863f0982cb23d0c90f09bc4c1262ee3f4958fb77a1f0b00e9042d1a8b</string>
			<key>size</key>
			<integer>91891</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/pt-PT.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>4efebc63f6253f19da00511ced58cf0019cf557829435624e848301d1ec83f96</string>
			<key>size</key>
			<integer>92558</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/ro.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>b5b7f915b1b41d82ef57b4de59d52b3fbaf7f00c26b2d9cb791b6fa21676d885</string>
			<key>size</key>
			<integer>94917</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/ru.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>4ef21050e96ff7cfc4ac9c0fbe310238904b4578a81a255b5c2ac3d411bb6e48</string>
			<key>size</key>
			<integer>150311</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/sk.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>ca7feae07da497b5e067169f4206ea332917da0dcba361de3a0dd6a657aa1fb6</string>
			<key>size</key>
			<integer>98131</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/sl.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>de661ee5ff20e7de20ef781fbda7b1993183b603e3ca30b7e508a507f767bad6</string>
			<key>size</key>
			<integer>93730</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/sr.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>d6ec06324bef8db28f043c9040d1399d88eaaa40be1ee31a26374c3ffd4c464e</string>
			<key>size</key>
			<integer>141133</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/sv.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>e83461d1ff4a491f955f6b1a09b442668bb67333ca4d3f152edcf6534c40fc24</string>
			<key>size</key>
			<integer>85725</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/sw.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>0794401729ff6baa828f91d32a31e5b142325971138cc6ffec109edf8a68177e</string>
			<key>size</key>
			<integer>87008</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/ta.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>21ebf0ae510b82d62109a27be11a1754830f46779e9315f0cf0e7ff1e5b360f3</string>
			<key>size</key>
			<integer>217763</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/te.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>227d9043949f79c4a340972f7ab62e0939e61efeaf13f5d8c20a957c58cd7fe4</string>
			<key>size</key>
			<integer>202406</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/th.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>436dbdee38fa0232e39a0ca9178a647e2693a5c03adba4adf5bc03318154fb83</string>
			<key>size</key>
			<integer>175348</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/tr.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>4060ae9fd4f6ba40ddb2a46bb3e99c39222ccead7c44a83efa1aaed6fb48fc4e</string>
			<key>size</key>
			<integer>90094</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/uk.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>eee5da19877aaea8ef4f20702144eb747e0ea99773abac0151b3a8458912a33b</string>
			<key>size</key>
			<integer>150717</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/vi.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>39b3e8f47809218629583c99242ad578140f8551347354b3edb92645f116692e</string>
			<key>size</key>
			<integer>106242</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/zh-CN.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>10448b7f56b74ec8d2431472e5c72f309d51496a1974b6e4fa482ed39e5eb5fd</string>
			<key>size</key>
			<integer>79290</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/locales/zh-TW.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>63e1aea10e14f8b9a7e44b5aecb7c0d10733bb183d7bded678e65bbb99e657fc</string>
			<key>size</key>
			<integer>79371</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/resources/default_app.asar</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>9d61031e3ee4974d02a74cf6a948f0225656d1f1e381d431d72214cbc149f6b5</string>
			<key>size</key>
			<integer>101867</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/resources.pak</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>c773af6027723f3b6097730b3e5d73c611700d090c5f3398d4c42c14e3fe6f7b</string>
			<key>size</key>
			<integer>4865991</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/snapshot_blob.bin</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>d9cbc8b116ad30fa87eaf74e756ee9bdcf38d56e7e9dd3ec08d4c20849afbd64</string>
			<key>size</key>
			<integer>50591</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/swiftshader/libEGL.so</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>25619e9d5650bd20492bbaa692514dec8990d73c98a15e5edeac91ed4f8ce9cd</string>
			<key>size</key>
			<integer>75648</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/swiftshader/libGLESv2.so</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>b55047c91d28abd1c2fccf7d7ea88505e22980e78bd3c64ed8a8bf5ce040ff2a</string>
			<key>size</key>
			<integer>4294696</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/v8_context_snapshot.bin</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>c75fff6af51e5d611675f8933d19bd661948c546d5e232664b8d03ebc6862712</string>
			<key>size</key>
			<integer>170904</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/version</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>122b78057872a0bf617096c4d08dfccb60d6207f9ec93ccb02b0fc2c5284b566</string>
			<key>size</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/electron9/vk_swiftshader_icd.json</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>c9eef28b6b984fec220ef0abfecc40b502d46946706e47bfe97707027cb818bd</string>
			<key>size</key>
			<integer>107</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/electron9/chromium.LICENSE</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>845022e0c1db1abb41a6ba4cd3c4b674ec290f3359d9d3c78ae558d4c0ed9308</string>
			<key>size</key>
			<integer>1559</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/electron9/electron.LICENSE</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>c44607a865e7a6db05552baa0ef71f9887d96acd00d123854b44996bc27c0e33</string>
			<key>size</key>
			<integer>1060</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/electron9/node.LICENSE</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>950bbc741dc021489c47683e34e7637e9b96fb4a1f430b2f77a744130516e293</string>
			<key>size</key>
			<integer>77127</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/electron9</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>target</key>
			<string>/usr/lib/electron9/electron</string>
		</dict>
	</array>
</dict>
</plist>
