<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/elfutils</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/include/dwarf.h</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>sha256</key>
			<string>c79e8c5abb65b7c5f9fc36f9ae92ecc07fcb91e9c47cf2f58d479af1c3df1985</string>
			<key>size</key>
			<integer>31058</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/elfutils/debuginfod.h</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>sha256</key>
			<string>d3398ace6da8557b34c46718d2838161b8c1266586ddefc45598f206ca4d4457</string>
			<key>size</key>
			<integer>3747</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/elfutils/elf-knowledge.h</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>sha256</key>
			<string>65bbae885e70c5cfae95a20ae48370f873206951a9678660dab8e72a438ca80b</string>
			<key>size</key>
			<integer>3927</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/elfutils/known-dwarf.h</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>sha256</key>
			<string>9fd611a6e5f5bc5fbb7852c3b189248b456d93d0f4ba0153d498b3ff05585c3e</string>
			<key>size</key>
			<integer>41945</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/elfutils/libasm.h</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>sha256</key>
			<string>b94db464373bc7b872383934e06238d41f3a5ecf8cfd007e12d0766fea7e1a49</string>
			<key>size</key>
			<integer>7116</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/elfutils/libdw.h</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>sha256</key>
			<string>ae0517cf346d8cb61fe1ab4ed1e2949b46684376a320fbe19639f16c8483cd33</string>
			<key>size</key>
			<integer>45371</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/elfutils/libdwelf.h</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>sha256</key>
			<string>3128e0c08481e45f6e6eeae79e6ac4df4a29bd94d1c96a90bc87270932d6e541</string>
			<key>size</key>
			<integer>6454</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/elfutils/libdwfl.h</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>sha256</key>
			<string>50527afa7415ef62348a7d456711f75875603f35638006105fb6de4a0c5a530a</string>
			<key>size</key>
			<integer>37561</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/elfutils/version.h</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>sha256</key>
			<string>6551bab4b30f5a9f3492c2982c15165084c4bd21584a574bd82cdff370a9968e</string>
			<key>size</key>
			<integer>1274</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gelf.h</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>sha256</key>
			<string>0991a992f75396056c7d7f698fa7e87be24349ae85a195060d46e6a61881d97b</string>
			<key>size</key>
			<integer>11311</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libelf.h</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>sha256</key>
			<string>1a05e36fc9997d847e4df815ff6bf3f1484089970c2b44e93e90c2713f7c8b2b</string>
			<key>size</key>
			<integer>19574</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/nlist.h</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>sha256</key>
			<string>98a8ddd1004034aeff4cc6d18e5df23f55d2869d879735c3b571594a44ba1212</string>
			<key>size</key>
			<integer>1601</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libasm.a</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>sha256</key>
			<string>c3ba0370317bd752c67d720895e2facf11eb615f1a5d0695093a466fef1d5e3c</string>
			<key>size</key>
			<integer>82134</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdw.a</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>sha256</key>
			<string>844a08e4769de597e14cf8716dcdd3823f3aa4c9dad3022ae50217b965c79d79</string>
			<key>size</key>
			<integer>1526938</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libelf.a</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>sha256</key>
			<string>0c2ef8dc0ff690ea0c334edad233015a84c0f60bbbd35925447e4e61bbdbf660</string>
			<key>size</key>
			<integer>298350</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/libdebuginfod.pc</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>sha256</key>
			<string>b5bc0af6e6c7bea045739c1ff9a1c5e942531c119d27c9f655c78fc0ef617a46</string>
			<key>size</key>
			<integer>275</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/libdw.pc</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>sha256</key>
			<string>12daec27e096a92f8819b4a41be310b7ba64d19285dc1ceccaa14b77fd1bd1fe</string>
			<key>size</key>
			<integer>673</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/libelf.pc</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>sha256</key>
			<string>0127e22fd0374127aec1561826cb2334799e0dc59a523a6e0e3ba55f5e8a5b4b</string>
			<key>size</key>
			<integer>274</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/debuginfod_add_http_header.3</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>sha256</key>
			<string>7cba3ead70fb84ff2e1895923744bef71209035c96aa92144735c8657827f7c9</string>
			<key>size</key>
			<integer>37</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/debuginfod_begin.3</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>sha256</key>
			<string>7cba3ead70fb84ff2e1895923744bef71209035c96aa92144735c8657827f7c9</string>
			<key>size</key>
			<integer>37</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/debuginfod_end.3</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>sha256</key>
			<string>7cba3ead70fb84ff2e1895923744bef71209035c96aa92144735c8657827f7c9</string>
			<key>size</key>
			<integer>37</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/debuginfod_find_debuginfo.3</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>sha256</key>
			<string>5715d36c3922735fc0a8b0211deac504d77613781e7da4b6f4736f03a4e3639f</string>
			<key>size</key>
			<integer>12304</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/debuginfod_find_executable.3</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>sha256</key>
			<string>7cba3ead70fb84ff2e1895923744bef71209035c96aa92144735c8657827f7c9</string>
			<key>size</key>
			<integer>37</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/debuginfod_find_source.3</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>sha256</key>
			<string>7cba3ead70fb84ff2e1895923744bef71209035c96aa92144735c8657827f7c9</string>
			<key>size</key>
			<integer>37</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/debuginfod_get_url.3</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>sha256</key>
			<string>7cba3ead70fb84ff2e1895923744bef71209035c96aa92144735c8657827f7c9</string>
			<key>size</key>
			<integer>37</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/debuginfod_get_user_data.3</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>sha256</key>
			<string>7cba3ead70fb84ff2e1895923744bef71209035c96aa92144735c8657827f7c9</string>
			<key>size</key>
			<integer>37</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/debuginfod_set_progressfn.3</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>sha256</key>
			<string>7cba3ead70fb84ff2e1895923744bef71209035c96aa92144735c8657827f7c9</string>
			<key>size</key>
			<integer>37</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/debuginfod_set_user_data.3</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>sha256</key>
			<string>7cba3ead70fb84ff2e1895923744bef71209035c96aa92144735c8657827f7c9</string>
			<key>size</key>
			<integer>37</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/elf_begin.3</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>sha256</key>
			<string>fa41af290bb1a8f16b4d88e8cfc08f7ec7b13d70e7b34ec358304daa4b3a0cc4</string>
			<key>size</key>
			<integer>834</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/elf_clone.3</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>sha256</key>
			<string>6262bef4dbeef6b2bff04d4ac857c58f2a230a44bf184e9bf685d2a38c8409c9</string>
			<key>size</key>
			<integer>343</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/elf_getdata.3</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>sha256</key>
			<string>21d9fef582318c0d10721aa9a4194f5684323b5fc8fdecf84355b7d310c84326</string>
			<key>size</key>
			<integer>1104</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/elf_update.3</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>sha256</key>
			<string>c96dfc270c9dfa35a676aa1f38c15bcd4a556851fed9a4ddc074d62f856d3a4a</string>
			<key>size</key>
			<integer>324</integer>
		</dict>
	</array>
</dict>
</plist>
