<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/emacs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/emacs/27.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/emacs/27.1/x86_64-unknown-linux-gnu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/mimetypes</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/metainfo</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/ebrowse</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>1994938b6c8e27a7d29364d9165718e2495634e2b06372504911d78f3e4527ff</string>
			<key>size</key>
			<integer>47448</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/emacs-27.1</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>06639f1bcb80ef865d2d236c991565dab9a05684f4d24174d144399a6d4e2914</string>
			<key>size</key>
			<integer>6010624</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/emacsclient</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>05ff4d99104fdbc19a79f5e2983e61210ce841ca7b81e0f1ecb13d7aa8da5b52</string>
			<key>size</key>
			<integer>31280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/etags</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>81aa2999ab3a1eb1a9f41dd50e314341bc778b5ddda4d45f5ee68d2a76a413b6</string>
			<key>size</key>
			<integer>146744</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/emacs-module.h</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>3ba7da7857c10de2163ecbaa977fe7152688a3fdda0634a1cf118a6d605781d7</string>
			<key>size</key>
			<integer>17597</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/emacs/27.1/x86_64-unknown-linux-gnu/emacs.pdmp</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>dc4a98ca2e86aba42ba98263b9625e2a27c50808966fe5a2ead1d04835478323</string>
			<key>size</key>
			<integer>10667264</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/emacs/27.1/x86_64-unknown-linux-gnu/hexl</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>2e74a233de33381b5df64beea07664533d3a0b0c3336ed3dc9b0c60a9475d6b1</string>
			<key>size</key>
			<integer>14536</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/emacs/27.1/x86_64-unknown-linux-gnu/movemail</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>36cb212d6d215bfa15b3f329d2765f291a68ca055942e350b8d6ae8774f94592</string>
			<key>size</key>
			<integer>14648</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/emacs/27.1/x86_64-unknown-linux-gnu/rcs2log</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>4005733e535ba4fe3dab37abeed85221d48a544d7e6c064636ad0eb6f91b5da7</string>
			<key>size</key>
			<integer>21156</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/emacs.desktop</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>869ee07f202993347cb710b2aa9c2ace037230898f162b2fad0e17d56e5993d6</string>
			<key>size</key>
			<integer>411</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps/emacs.png</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>f6cedac6246b93ff336771efbcc97172bd1284e448039b7d2ddf38feca7a4091</string>
			<key>size</key>
			<integer>13462</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/apps/emacs.png</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>e4b8d0bc7b5eee5e697193db0f7c2542e5675237bdeeee78a75ea043d7d98a3d</string>
			<key>size</key>
			<integer>954</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/apps/emacs.png</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>391496147071ce15e277a2049a1fa58727a105d1857bbba716410e9991d92363</string>
			<key>size</key>
			<integer>1568</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps/emacs.png</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>6f2ef7b3681b2efa271a7a265bf11311fb6e574adc247ce1962c5cfb23c35f73</string>
			<key>size</key>
			<integer>2236</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/apps/emacs.png</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>c90d5c1868857670d9f3d617ddcc07d2ebefa11af5361530e1ec86dc2dde46f7</string>
			<key>size</key>
			<integer>3636</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/apps/emacs.ico</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>6b4700b6925572313bbb1756a5dfc20ec94dd7e2ef8a01add4cadbb56e1af044</string>
			<key>size</key>
			<integer>85182</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/apps/emacs.svg</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>dc44ad35b2612423c26b2d97a0c29c24cfea240507fa0eff3a4273371560952d</string>
			<key>size</key>
			<integer>13359</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/mimetypes/emacs-document.svg</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>b4a48cb3fca7ee4accad331cc50046dbd399385b6dbec189b9033d363914ad1f</string>
			<key>size</key>
			<integer>13683</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/mimetypes/emacs-document23.svg</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>e481ba7d3cecd1553e3f60e7a6766c8159958b6b33351a3ecc7c339f02bccbe1</string>
			<key>size</key>
			<integer>11651</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/metainfo/emacs.appdata.xml</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>c42bdd81c749806d2cf46dc16de080ef57be8e9ee3485fef17e8d289ed817017</string>
			<key>size</key>
			<integer>1510</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/emacs</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>target</key>
			<string>/usr/bin/emacs-27.1</string>
		</dict>
	</array>
</dict>
</plist>
