<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/large</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/encodings</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/adobe-dingbats.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>70a3037b3bf7d79d224ba2062c1fe34af80fdec7709ae08bcb6e755d8300e01d</string>
			<key>size</key>
			<integer>3253</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/adobe-standard.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>536b1d97bdae6c17e0fc2c6070cd21bf9bf9af2ef8462ad32f9b0516ccc378de</string>
			<key>size</key>
			<integer>1655</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/adobe-symbol.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>e52d29d9ad134b514905233388ab9cb68f5a00fbd5e47021e701108e120da9a5</string>
			<key>size</key>
			<integer>3165</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/armscii-8.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>12f8eac27c4201615e837e292ab90ca81c36ab89f7d797affe7829e4cce2b400</string>
			<key>size</key>
			<integer>1026</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/ascii-0.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>3803acf7182b4688f8189b316fd756f793e4bef122f4e796474a23eaa9c47c6e</string>
			<key>size</key>
			<integer>101</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/dec-special.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>f0849d1b7ae29a64c5f2d86543a2ed8ed8311bb359fc9d95545e3610c972efc5</string>
			<key>size</key>
			<integer>582</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/ibm-cp437.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>b981ecabc053522960fa7b0514e6a0d5d0539e474e5697fe4f54f5747e8d73c3</string>
			<key>size</key>
			<integer>1576</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/ibm-cp850.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>1057ce453e5e05a207d4c1d5d749b3d30883b31f2ae19249d9e04106c08dcb0c</string>
			<key>size</key>
			<integer>1519</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/ibm-cp852.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>e722e99e37105ea3172f1e876a142dc687d4d864105dfe8a2da9125fbfd4f54b</string>
			<key>size</key>
			<integer>1412</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/ibm-cp866.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>2c21ad5c61acb27ada936040f94da1a71eb920d94242c8cc43ff676243793e56</string>
			<key>size</key>
			<integer>1373</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/iso8859-11.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>6be42674e60c0058c5397d1b54459d49488a12f2b8a85e7bcd687d851174bfd1</string>
			<key>size</key>
			<integer>1012</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/iso8859-13.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>4a70cac4620c812aaa7c5af765c830c6f527a923ea484dcc4d16c0bd6ebc03ea</string>
			<key>size</key>
			<integer>639</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/iso8859-16.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>60204bc1b32608e374e74e4a18d177d87cdbec34d57aebd6535b66085c24e3b5</string>
			<key>size</key>
			<integer>626</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/iso8859-6.16.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>8c8c7e8a5b9e5191e340c2857e55af743e273637d0dc4b0624ba865232057eee</string>
			<key>size</key>
			<integer>995</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/iso8859-6.8x.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>425347ded8c3be93ec6b018fc8917f12fa2d44f0ab547b620ce6d7a1601f6a52</string>
			<key>size</key>
			<integer>772</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/large/big5.eten-0.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>edd529319b747a4aa03ec8afd8ca0b4df7e54e77a89fb580b347df433b9e8452</string>
			<key>size</key>
			<integer>64280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/large/big5hkscs-0.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>9806161e4a50de37287b7d067fc54f5d6a0a1b63a31cc9cda77c0ed1ccad7fcc</string>
			<key>size</key>
			<integer>85154</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/large/cns11643-1.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>aef713fe5450095035ed17c05ad64327076a2cf5147975ef2cf98b60cdf44269</string>
			<key>size</key>
			<integer>29716</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/large/cns11643-2.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>8f67718f2676ffb522f0179e4611e2743624be1496d634f300104727eef13ffe</string>
			<key>size</key>
			<integer>36741</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/large/cns11643-3.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>60e6bfdd78cabc58079d7d68570e53827c8c21aec86f1aed4d537592f11b37f4</string>
			<key>size</key>
			<integer>26134</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/large/gb18030-0.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>80b5899cfdafb09c6e68d43e3a3d26393b42b78f446bd5a57dcda2ee6c1dc2ed</string>
			<key>size</key>
			<integer>140</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/large/gb18030.2000-0.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>45ee63417c4f5a710ea9001a504ed6f36b87e8c762cfebf7e3d6d5f90e52ea05</string>
			<key>size</key>
			<integer>65442</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/large/gb18030.2000-1.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>8aa88969482da81ce0a982c91dcddfd616eb5e0295c85b242921f89bbc7d0416</string>
			<key>size</key>
			<integer>1664</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/large/gb2312.1980-0.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>ef8e2524461e86a098578badb4e19281162c83209ff99cec24d90c169ba32c9e</string>
			<key>size</key>
			<integer>70451</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/large/gbk-0.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>bcf370950db80cc2f22b6b011df0876b5b48449ddcc2ea2587df93f8e8f3e65c</string>
			<key>size</key>
			<integer>59047</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/large/jisx0201.1976-0.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>2beb0cdcaea94e833ad3cb9bb576ec5c86747ef38400b564d09051e0ce4eb7cc</string>
			<key>size</key>
			<integer>453</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/large/jisx0208.1990-0.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>548185fdb2ed337baf90bcc03b60cec624d151cf1cce059174f4ad246c3e72ec</string>
			<key>size</key>
			<integer>72667</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/large/jisx0212.1990-0.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>5aab2121815322ae9d1e3f1d362a236918f1e9d50b9c0e57c76ac94ce219ad39</string>
			<key>size</key>
			<integer>23831</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/large/ksc5601.1987-0.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>17ff7bd75521eaf2dc6d737adf3809c27e4274fc0d1d58549e1c45d47674287e</string>
			<key>size</key>
			<integer>34655</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/large/ksc5601.1992-3.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>1f57c5dd4016f21bf660c9fff30382c7a4532696951768e4bb4c16f1740ac8b6</string>
			<key>size</key>
			<integer>32398</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/large/sun.unicode.india-0.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>26ee502ac292e78b02c9e7f6ae9dada16720018857aba7c049809cf63c8f2bfb</string>
			<key>size</key>
			<integer>855</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/microsoft-cp1250.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>fc8c4ef037ba9c36cef9190aefcb012248aebd37cba836f064488b23449f0791</string>
			<key>size</key>
			<integer>616</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/microsoft-cp1251.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>3376ae7fc2e8cda1f3f5b5fbc385591b6b2eefcadde50379b716d0e86b67d885</string>
			<key>size</key>
			<integer>1181</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/microsoft-cp1252.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>00d71df95fb367f636694228fd79fc8b3d101b4add3cbafd8722bb0872824005</string>
			<key>size</key>
			<integer>529</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/microsoft-cp1253.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>cc89a4ebcb18ec43007d2fbd3123d0d5a4c6155cf50644b3f037f364e61bc6ca</string>
			<key>size</key>
			<integer>1219</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/microsoft-cp1254.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>d1dfcaf0cd9d1269a913accc074f27cff35492eaf101209b88ab24d7b5b0f1b7</string>
			<key>size</key>
			<integer>572</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/microsoft-cp1255.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>502177f6bec761f4774417ffd6e8ff0d6b058745c5c063a8f6face94e1fed3f3</string>
			<key>size</key>
			<integer>1004</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/microsoft-cp1256.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>a65e3a3b6edb49776952e50428a6d6feb371202514bcb69e3932acbd5116ed58</string>
			<key>size</key>
			<integer>1025</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/microsoft-cp1257.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>0ef3bb34fe806eda70bde7449c4bdf340770ae229cda12f31d9e4999c1ca2c87</string>
			<key>size</key>
			<integer>883</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/microsoft-cp1258.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>060d780fb22044ba9f8432e319be1dbd8b15f996f193470f08c6e34c2e2fccd0</string>
			<key>size</key>
			<integer>633</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/microsoft-win3.1.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>51ce57b63817ee0ad992d22af420553b617e32ed7a4174974c7e416decb10daa</string>
			<key>size</key>
			<integer>435</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/mulearabic-0.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>a1d015c9500815cc90fc33e2e89d41ce76041975fea752d271431fa1aa096638</string>
			<key>size</key>
			<integer>185</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/mulearabic-1.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>c5cbec20de16f037c6ec6efdaea4da310e0ded8d6cd92457b6986cef231ad749</string>
			<key>size</key>
			<integer>455</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/mulearabic-2.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>f84db3cad2de1ff291fef5a6ac43fe887f6246050f0a69cbf32bf869bad94268</string>
			<key>size</key>
			<integer>467</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/mulelao-1.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>1e4495ac9fc75f6cbde4229abca4a5dbcab2d377492e647cc5ee034e95f50655</string>
			<key>size</key>
			<integer>676</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/suneu-greek.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>957bf51f15ba0c3aa1b461b1ac115aeb17affd98a8b665a336bd2805bd04540d</string>
			<key>size</key>
			<integer>466</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/tcvn-0.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>f9aa1033999bc479454ec38773d6e05cbef5433afc46bfe382a5087d71567f90</string>
			<key>size</key>
			<integer>760</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/tis620-2.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>f467ff158bc38799ca239c5842f5bb63a75ffa7f818ff8da45b19f87d4207d04</string>
			<key>size</key>
			<integer>1152</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/encodings/viscii1.1-1.enc.gz</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>38bf795148ea516aecf6b61a2ba3909afe26ba4ddc06e2b153137bba75647d1d</string>
			<key>size</key>
			<integer>1242</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/encodings/COPYING</string>
			<key>mtime</key>
			<integer>1606649547</integer>
			<key>sha256</key>
			<string>13b4a0f9431f0fdd6ee36ed386e0b7d1eb429c5cb88df73353896078cbb5a137</string>
			<key>size</key>
			<integer>525</integer>
		</dict>
	</array>
</dict>
</plist>
