<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/enchant</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/enchant</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/enchant</string>
			<key>mtime</key>
			<integer>1542248809</integer>
			<key>sha256</key>
			<string>db00aea401e01f70fe30f2428f2e2dddc0eecb69fe331ff190467948a2b6a31c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/enchant-lsmod</string>
			<key>mtime</key>
			<integer>1542248809</integer>
			<key>sha256</key>
			<string>679fbc2e7f1c28cb908a4752749da67ecb52e2bfabbf1dc6340a0ea59b0b2fca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/enchant/libenchant_myspell.so</string>
			<key>mtime</key>
			<integer>1542248809</integer>
			<key>sha256</key>
			<string>113b9238d154fbf48d6308dafae9f8a50c06349845a46472896dd8892077f341</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libenchant.so.1.6.0</string>
			<key>mtime</key>
			<integer>1542248809</integer>
			<key>sha256</key>
			<string>a96f7a69270657b051c53a5f70f88347cdef01ba8b2b45c5f8285eafe02bb549</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/enchant/enchant.ordering</string>
			<key>mtime</key>
			<integer>1542248809</integer>
			<key>sha256</key>
			<string>6824633f523baf6da5a8848f6edb7a7df16dfb3144c12c03be8985319ffad407</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/enchant.1</string>
			<key>mtime</key>
			<integer>1542248809</integer>
			<key>sha256</key>
			<string>0dce4b43568f06ed2193cb255be1beaeb6ca6a2f897008d0d48eaf5089607c90</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libenchant.so.1</string>
			<key>mtime</key>
			<integer>1542248809</integer>
			<key>target</key>
			<string>/usr/lib/libenchant.so.1.6.0</string>
		</dict>
	</array>
</dict>
</plist>
