<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/ethtool</string>
			<key>mtime</key>
			<integer>1609548589</integer>
			<key>sha256</key>
			<string>accf36d10f4c2c59f0b195d63602bee3a240405307933dae2072017de3203350</string>
			<key>size</key>
			<integer>540016</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/ethtool</string>
			<key>mtime</key>
			<integer>1609548589</integer>
			<key>sha256</key>
			<string>3632d730e38645b2b82a4c004c062bd254a254582430c3432dbde6245aded651</string>
			<key>size</key>
			<integer>24023</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/ethtool.8</string>
			<key>mtime</key>
			<integer>1609548589</integer>
			<key>sha256</key>
			<string>506cb75cbfbb1011eefd6ece2e1a014a53aa64751a5ba8cfc2ae1ed06b6ace08</string>
			<key>size</key>
			<integer>37518</integer>
		</dict>
	</array>
</dict>
</plist>
