<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pkgconfig</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/include/libudev.h</string>
			<key>mtime</key>
			<integer>1572262745</integer>
			<key>sha256</key>
			<string>46f12cba8f96574d9c20246fbd71f4d3925b81c4fcbc2463c810525b76703c18</string>
			<key>size</key>
			<integer>10327</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/udev.h</string>
			<key>mtime</key>
			<integer>1572262745</integer>
			<key>sha256</key>
			<string>dc17dbf3933d3e1e22cbcdaf80f253a8f1d8cec6b7d4fd0e130f6eedd2f7a1cc</string>
			<key>size</key>
			<integer>8855</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libudev.a</string>
			<key>mtime</key>
			<integer>1572262745</integer>
			<key>sha256</key>
			<string>f643f2387320dc097815413187030dbc74217671d17ea329f82eeb5f803205da</string>
			<key>size</key>
			<integer>322184</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/libudev.pc</string>
			<key>mtime</key>
			<integer>1572262745</integer>
			<key>sha256</key>
			<string>50538c6a2696ac4be74c17793ec18588ed9d71da303d7eceba801ca7582e8376</string>
			<key>size</key>
			<integer>513</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pkgconfig/udev.pc</string>
			<key>mtime</key>
			<integer>1572262745</integer>
			<key>sha256</key>
			<string>9eeae7c7a0975c1ea4565a32c29dd813f1861a805395e5ed44ab84c444bf46ba</string>
			<key>size</key>
			<integer>109</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libudev.so</string>
			<key>mtime</key>
			<integer>1572262745</integer>
			<key>target</key>
			<string>/usr/lib/libudev.so.1.6.3</string>
		</dict>
	</array>
</dict>
</plist>
