<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/include/expat.h</string>
			<key>mtime</key>
			<integer>1601821363</integer>
			<key>sha256</key>
			<string>a64de342ea7cd67654112d28ca318d103ef7dd0326ceccb6e153706e0be712ed</string>
			<key>size</key>
			<integer>41473</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/expat_config.h</string>
			<key>mtime</key>
			<integer>1601821363</integer>
			<key>sha256</key>
			<string>c2303ff99cb278f506175bc1a68ca9f3efa363c8b387ec6b31235726535d14b5</string>
			<key>size</key>
			<integer>3833</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/expat_external.h</string>
			<key>mtime</key>
			<integer>1601821363</integer>
			<key>sha256</key>
			<string>0215a7cd90a6643a751ded053beb0fc6721d78ff3be65ae4653d262b8e7403fe</string>
			<key>size</key>
			<integer>5528</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libexpat.a</string>
			<key>mtime</key>
			<integer>1601821363</integer>
			<key>sha256</key>
			<string>309d8be7d0ffb344f1b8e6641a8b84d6779afd84b496b5d177d553f2a6da0c2a</string>
			<key>size</key>
			<integer>322974</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/expat.pc</string>
			<key>mtime</key>
			<integer>1601821363</integer>
			<key>sha256</key>
			<string>4074e673ccdc800510b32c771a468d7d7477400d56a6789b4ac1906e1cdfacd3</string>
			<key>size</key>
			<integer>227</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libexpat.so</string>
			<key>mtime</key>
			<integer>1601821363</integer>
			<key>target</key>
			<string>/usr/lib/libexpat.so.1.6.12</string>
		</dict>
	</array>
</dict>
</plist>
