<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/expect5.45.4</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/autoexpect</string>
			<key>mtime</key>
			<integer>1606856151</integer>
			<key>sha256</key>
			<string>d763248e54bc75b34dcc23fc8d6ee26f13e9a93e302fe1769c8efbbd05d31157</string>
			<key>size</key>
			<integer>7706</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/autopasswd</string>
			<key>mtime</key>
			<integer>1606856151</integer>
			<key>sha256</key>
			<string>cecc26e4007c8274650993f2e0a9a91b25849f805d214038d3a532c089de3b2a</string>
			<key>size</key>
			<integer>375</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/cryptdir</string>
			<key>mtime</key>
			<integer>1606856151</integer>
			<key>sha256</key>
			<string>f293b53accf01e6cce98f41374b8dfce9e8d9f1aa75439a53b62a89830c44a49</string>
			<key>size</key>
			<integer>1365</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/decryptdir</string>
			<key>mtime</key>
			<integer>1606856151</integer>
			<key>sha256</key>
			<string>f293b53accf01e6cce98f41374b8dfce9e8d9f1aa75439a53b62a89830c44a49</string>
			<key>size</key>
			<integer>1365</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/dislocate</string>
			<key>mtime</key>
			<integer>1606856151</integer>
			<key>sha256</key>
			<string>75d0b0ec01dc63e5681277586cb28a3fc4484fd2365bbb2f990dadf2c7eeb5e5</string>
			<key>size</key>
			<integer>7938</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/expect</string>
			<key>mtime</key>
			<integer>1606856151</integer>
			<key>sha256</key>
			<string>0d58e24a9bc14ecd7b4b6a411b025443d61815236158d239fe893185818b7c2d</string>
			<key>size</key>
			<integer>14400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/expect-mkpasswd</string>
			<key>mtime</key>
			<integer>1606856151</integer>
			<key>sha256</key>
			<string>581cb50379e74418bd4dde3254c2338628f14874d559e4d22bfcbad42534dade</string>
			<key>size</key>
			<integer>5388</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ftp-rfc</string>
			<key>mtime</key>
			<integer>1606856151</integer>
			<key>sha256</key>
			<string>9185b44db9f6199d38fc807ed19420f7f160db6a736ef09cfc9ce1385f5831bf</string>
			<key>size</key>
			<integer>683</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/kibitz</string>
			<key>mtime</key>
			<integer>1606856151</integer>
			<key>sha256</key>
			<string>4e0daf2c692b16c0728c861e4d2c638b8bd26733c3df4370e98cce8c81c4970b</string>
			<key>size</key>
			<integer>10886</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/lpunlock</string>
			<key>mtime</key>
			<integer>1606856151</integer>
			<key>sha256</key>
			<string>8bf75443139bffdda415a562e52b1caf2b51ead2ce63f1c595c048639e542424</string>
			<key>size</key>
			<integer>2619</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/multixterm</string>
			<key>mtime</key>
			<integer>1606856151</integer>
			<key>sha256</key>
			<string>2662e6809009f9d314ae8a54f5f4b4afa16c167e36e5eb5f52b9e9d828bb9c3c</string>
			<key>size</key>
			<integer>30487</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/passmass</string>
			<key>mtime</key>
			<integer>1606856151</integer>
			<key>sha256</key>
			<string>052ba2050da3a8022d6b34a9b5719d192f483e4ca56ea4db083875efa01fc37b</string>
			<key>size</key>
			<integer>4551</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/rftp</string>
			<key>mtime</key>
			<integer>1606856151</integer>
			<key>sha256</key>
			<string>052c11441ec10bc9919a5a3c27bc97771e06f24c2cef95c8847dfdab6b764e2c</string>
			<key>size</key>
			<integer>8888</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/rlogin-cwd</string>
			<key>mtime</key>
			<integer>1606856151</integer>
			<key>sha256</key>
			<string>9efa3bda469c97b754b48eb95d8a9c440b4448e886abc3d5b8c170787ffaaa40</string>
			<key>size</key>
			<integer>501</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/timed-read</string>
			<key>mtime</key>
			<integer>1606856151</integer>
			<key>sha256</key>
			<string>0ef1136c7a6b1fd0a1bc89ee43f9178e0a1bf80178d70a36e8726f9a42e602de</string>
			<key>size</key>
			<integer>303</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/timed-run</string>
			<key>mtime</key>
			<integer>1606856151</integer>
			<key>sha256</key>
			<string>f2f740db9fccbe280370d02cad173055b93b09238aa2d99e8e94355f2fa6dfc4</string>
			<key>size</key>
			<integer>277</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/tknewsbiff</string>
			<key>mtime</key>
			<integer>1606856151</integer>
			<key>sha256</key>
			<string>0e8a5c4784906dcb2c4b8cf5b2ce526f5a95b301ecc8600fdf26555e2c3065b3</string>
			<key>size</key>
			<integer>11381</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/tkpasswd</string>
			<key>mtime</key>
			<integer>1606856151</integer>
			<key>sha256</key>
			<string>266ed1e8d74bb376cf7c2645e2a63823003ff3ba3dd625e822b6f6b61a6a77e6</string>
			<key>size</key>
			<integer>16570</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/unbuffer</string>
			<key>mtime</key>
			<integer>1606856151</integer>
			<key>sha256</key>
			<string>a5b27490ad1af65f07c25b16e7a246ed15744e0018f97c1a1bbfc691b166fb24</string>
			<key>size</key>
			<integer>640</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xkibitz</string>
			<key>mtime</key>
			<integer>1606856151</integer>
			<key>sha256</key>
			<string>191fcc20ccec408af310ef0365fbc2ae56228f8d3e4ec1db0d0c0e0a3da9da8f</string>
			<key>size</key>
			<integer>4862</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xpstat</string>
			<key>mtime</key>
			<integer>1606856151</integer>
			<key>sha256</key>
			<string>5ae9f47c66d87e275c94266721813657339d7314f4c3456febe4ccf02290888d</string>
			<key>size</key>
			<integer>6606</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/expect5.45.4/libexpect5.45.4.so</string>
			<key>mtime</key>
			<integer>1606856151</integer>
			<key>sha256</key>
			<string>630989f2b10083145c8cf524273c6af46802050bd1ecba37d5bf2154948fe77a</string>
			<key>size</key>
			<integer>198824</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/expect5.45.4/pkgIndex.tcl</string>
			<key>mtime</key>
			<integer>1606856151</integer>
			<key>sha256</key>
			<string>49f25fb8d07fff0b210af30f98869bd83d5335f86d0ed80873d1559680d62ed2</string>
			<key>size</key>
			<integer>147</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/autoexpect.1</string>
			<key>mtime</key>
			<integer>1606856151</integer>
			<key>sha256</key>
			<string>f1bdc68c022f9fbd764505dcaf1c984e8f7590409bbabbefa11cd3161174224d</string>
			<key>size</key>
			<integer>6685</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/cryptdir.1</string>
			<key>mtime</key>
			<integer>1606856151</integer>
			<key>sha256</key>
			<string>5276541c36e4730245a7b891df4b53cedfdfd5c8f144f7ccb0835efac6330f4b</string>
			<key>size</key>
			<integer>1208</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/decryptdir.1</string>
			<key>mtime</key>
			<integer>1606856151</integer>
			<key>sha256</key>
			<string>2f53847ce737345dc059e873fee125eb15f984f19f73d11b053804262e0daa9a</string>
			<key>size</key>
			<integer>1203</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/dislocate.1</string>
			<key>mtime</key>
			<integer>1606856151</integer>
			<key>sha256</key>
			<string>974c59c0605068d52570bb4147686f29aa3e57acb3fec0482249855abf75cd95</string>
			<key>size</key>
			<integer>2691</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/expect-mkpasswd.1</string>
			<key>mtime</key>
			<integer>1606856151</integer>
			<key>sha256</key>
			<string>217eeb64389e51807e0bd18c60e92064b921a4f9f9cd6f6f270d94a544399e61</string>
			<key>size</key>
			<integer>2233</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/expect.1</string>
			<key>mtime</key>
			<integer>1606856151</integer>
			<key>sha256</key>
			<string>88a87689d78839ab6165aac040904e60c1f0825918063d76d24da3d42726b424</string>
			<key>size</key>
			<integer>79211</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/kibitz.1</string>
			<key>mtime</key>
			<integer>1606856151</integer>
			<key>sha256</key>
			<string>434895a51367e259f4eb45e71a8c2e713576579ea8be6875c3c54474746ea278</string>
			<key>size</key>
			<integer>6735</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/multixterm.1</string>
			<key>mtime</key>
			<integer>1606856151</integer>
			<key>sha256</key>
			<string>17ed23ef0f630a9571e68cf0c848f05d6e5daf34c1ede85adca7d906ef9f6a3d</string>
			<key>size</key>
			<integer>9503</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/passmass.1</string>
			<key>mtime</key>
			<integer>1606856151</integer>
			<key>sha256</key>
			<string>8f95672a2e86adc0d73eafc902212386acafb5e3fc3ae5dd42bc03added569a4</string>
			<key>size</key>
			<integer>3325</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/tknewsbiff.1</string>
			<key>mtime</key>
			<integer>1606856151</integer>
			<key>sha256</key>
			<string>4da47c43bb6ca83294328ab355a9f81c2db362e3dcc5b07ecc3f3a05e32b99f2</string>
			<key>size</key>
			<integer>14717</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/unbuffer.1</string>
			<key>mtime</key>
			<integer>1606856151</integer>
			<key>sha256</key>
			<string>8a937d80603c4d5f319f44e4bf18ab327a51718de59c9408d6b3fe0bdf523626</string>
			<key>size</key>
			<integer>2272</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xkibitz.1</string>
			<key>mtime</key>
			<integer>1606856151</integer>
			<key>sha256</key>
			<string>fb6deebe0e4ae45cf3aa082b20940743c2460472ffea2e470f6c9f07fc493b57</string>
			<key>size</key>
			<integer>5094</integer>
		</dict>
	</array>
</dict>
</plist>
