<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/faac</string>
			<key>mtime</key>
			<integer>1589446889</integer>
			<key>sha256</key>
			<string>c8459307204b920dec06d9e23b772b75398805036a50524039899f97d9ee0ca2</string>
			<key>size</key>
			<integer>50224</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfaac.so.0.0.0</string>
			<key>mtime</key>
			<integer>1589446889</integer>
			<key>sha256</key>
			<string>3b7d45bb7b172e4643cb961d254fe0c8ad99e9ccf4d5b08be8a61da079198cde</string>
			<key>size</key>
			<integer>61096</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/faac.1</string>
			<key>mtime</key>
			<integer>1589446889</integer>
			<key>sha256</key>
			<string>cda9e72c56a054b84d9d963512ee810c98d5995e55fbdca2b36087a124dc089f</string>
			<key>size</key>
			<integer>4914</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfaac.so.0</string>
			<key>mtime</key>
			<integer>1589446889</integer>
			<key>target</key>
			<string>/usr/lib/libfaac.so.0.0.0</string>
		</dict>
	</array>
</dict>
</plist>
