<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/faad</string>
			<key>mtime</key>
			<integer>1604629941</integer>
			<key>sha256</key>
			<string>79a86a2175c2acde2172d18d0a312df23d9662c40689337a92c9fc6f30625b30</string>
			<key>size</key>
			<integer>52864</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfaad.so.2.0.0</string>
			<key>mtime</key>
			<integer>1604629941</integer>
			<key>sha256</key>
			<string>6f910e998598acee1e54fed69bac046ec060876728cf7027f3f9fb28f09ed9d4</string>
			<key>size</key>
			<integer>264456</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfaad_drm.so.2.0.0</string>
			<key>mtime</key>
			<integer>1604629941</integer>
			<key>sha256</key>
			<string>08330f42826bfffa8198a78f22d66f7e4e5f7fed4f31f2cf0e3d0b4a0744cb73</string>
			<key>size</key>
			<integer>256272</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/faad.1</string>
			<key>mtime</key>
			<integer>1604629941</integer>
			<key>sha256</key>
			<string>277eb25ee7214d3375b4bb99e574a9151c1003c4b69896cb066a1bf0d05eda20</string>
			<key>size</key>
			<integer>2247</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfaad.so.2</string>
			<key>mtime</key>
			<integer>1604629941</integer>
			<key>target</key>
			<string>/usr/lib/libfaad.so.2.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfaad_drm.so.2</string>
			<key>mtime</key>
			<integer>1604629941</integer>
			<key>target</key>
			<string>/usr/lib/libfaad_drm.so.2.0.0</string>
		</dict>
	</array>
</dict>
</plist>
