<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/farstream-0.2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/farstream</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/farstream/0.2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/farstream/0.2/fsrawconference</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/farstream/0.2/fsrtpconference</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/farstream-0.2/libmulticast-transmitter.so</string>
			<key>mtime</key>
			<integer>1584614445</integer>
			<key>sha256</key>
			<string>f503c2090780f6f4f32228283620eec85b3eacb8a5c2a5ddc42d597ae26a80a1</string>
			<key>size</key>
			<integer>34800</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/farstream-0.2/libnice-transmitter.so</string>
			<key>mtime</key>
			<integer>1584614445</integer>
			<key>sha256</key>
			<string>a3573c22f4c4e0b329ffe3544600af2e2d78526f2c1b3b30c425b550246261dd</string>
			<key>size</key>
			<integer>55280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/farstream-0.2/librawudp-transmitter.so</string>
			<key>mtime</key>
			<integer>1584614445</integer>
			<key>sha256</key>
			<string>561b4b213baf7f6df8ad32f1c929def6303d00c4eaa2ca7e8bcbeb1faf30009d</string>
			<key>size</key>
			<integer>63472</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/farstream-0.2/libshm-transmitter.so</string>
			<key>mtime</key>
			<integer>1584614445</integer>
			<key>sha256</key>
			<string>9d5ad3a12181fb644265f83fd325967047d8265bf05ae4ac2bdfaa7adf3490f9</string>
			<key>size</key>
			<integer>30704</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/Farstream-0.2.typelib</string>
			<key>mtime</key>
			<integer>1584614445</integer>
			<key>sha256</key>
			<string>c9c5c45d6d3fb6baa8166c7dd04681b30ea4d4475cafc9e65e557f240f647a02</string>
			<key>size</key>
			<integer>23808</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libfsrawconference.so</string>
			<key>mtime</key>
			<integer>1584614445</integer>
			<key>sha256</key>
			<string>e41ea083a37a83d556de31692a182d8f1f6ca4e9f5addefa99f1a063581850e8</string>
			<key>size</key>
			<integer>51336</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libfsrtpconference.so</string>
			<key>mtime</key>
			<integer>1584614445</integer>
			<key>sha256</key>
			<string>46b36f148fcba7caf829cb45204cbc7c76965f1e8f77c927440dc6e91af6dd71</string>
			<key>size</key>
			<integer>272776</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libfsrtpxdata.so</string>
			<key>mtime</key>
			<integer>1584614445</integer>
			<key>sha256</key>
			<string>818f159a45cea2d156ddd85fe0b9825e73d6f051001ba9dc5776b1c7ad578655</string>
			<key>size</key>
			<integer>14592</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libfsvideoanyrate.so</string>
			<key>mtime</key>
			<integer>1584614445</integer>
			<key>sha256</key>
			<string>5a54e56b4944068af7fe4c37863699f525633babc17a7a8ffd1cd5eb0665ef4f</string>
			<key>size</key>
			<integer>14312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfarstream-0.2.so.5.1.1</string>
			<key>mtime</key>
			<integer>1584614445</integer>
			<key>sha256</key>
			<string>566f725cf6bd614624d514bbe360ae367edf014f31c4e13d7ffcb7c53ae55a18</string>
			<key>size</key>
			<integer>92144</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/farstream/0.2/fsrawconference/default-element-properties</string>
			<key>mtime</key>
			<integer>1584614445</integer>
			<key>sha256</key>
			<string>9c2f2f0318afcbe87c34426e482a0971dba85c0fd544e2cbc3e7b1406849868f</string>
			<key>size</key>
			<integer>471</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/farstream/0.2/fsrtpconference/default-codec-preferences</string>
			<key>mtime</key>
			<integer>1584614445</integer>
			<key>sha256</key>
			<string>50a49129520c654754d66ab614f5a6c088e0fb4fca05d8fbaee09e45c4e36a6c</string>
			<key>size</key>
			<integer>1156</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/farstream/0.2/fsrtpconference/default-element-properties</string>
			<key>mtime</key>
			<integer>1584614445</integer>
			<key>sha256</key>
			<string>35d422e54138b96a281f4ba88e971e02977842c06aed8c00960a51d99043e55e</string>
			<key>size</key>
			<integer>1300</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfarstream-0.2.so.5</string>
			<key>mtime</key>
			<integer>1584614445</integer>
			<key>target</key>
			<string>/usr/lib/libfarstream-0.2.so.5.1.1</string>
		</dict>
	</array>
</dict>
</plist>
