<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fish</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fish/vendor_completions.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/fd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/zsh</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/zsh/site-functions</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/fd</string>
			<key>mtime</key>
			<integer>1607528168</integer>
			<key>sha256</key>
			<string>6b483445cb357db1ce04b154c64855d662fe799d7881198e7d2321c96c3f685f</string>
			<key>size</key>
			<integer>2902952</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/fd</string>
			<key>mtime</key>
			<integer>1607528168</integer>
			<key>sha256</key>
			<string>cc936cbec1b7e435363d6f313703b2a7f85807027af036e1994e54c6305fec4e</string>
			<key>size</key>
			<integer>5845</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fish/vendor_completions.d/fd.fish</string>
			<key>mtime</key>
			<integer>1607528168</integer>
			<key>sha256</key>
			<string>e99423c577b9b1f2ed6db771bf9dd5dcd54da1f08e3f165598c2a1ba046030f1</string>
			<key>size</key>
			<integer>3641</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/fd/LICENSE-MIT</string>
			<key>mtime</key>
			<integer>1607528168</integer>
			<key>sha256</key>
			<string>27625c7ffb90c7c66e0b5ed73a1a6dc6a3f1fb609055d4cd75f7418100772102</string>
			<key>size</key>
			<integer>1079</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/fd.1</string>
			<key>mtime</key>
			<integer>1607528168</integer>
			<key>sha256</key>
			<string>76dfee0d6a0d715583ae86b1d7af9d80a37bcb0b5e8ac684b18ac9c92770d2ee</string>
			<key>size</key>
			<integer>9098</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/zsh/site-functions/_fd</string>
			<key>mtime</key>
			<integer>1607528168</integer>
			<key>sha256</key>
			<string>dcd46b6aa0f1eed1d685135ef9948dbe42869d98924504b50fc76ef7c9154c17</string>
			<key>size</key>
			<integer>11002</integer>
		</dict>
	</array>
</dict>
</plist>
