<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ffmpeg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/ffmpeg</string>
			<key>mtime</key>
			<integer>1613710681</integer>
			<key>sha256</key>
			<string>b01cd7ec5922c99b1a2c00c4ce0c7a4915ff5a0552329c7ac6db5f77ac08f2c5</string>
			<key>size</key>
			<integer>284880</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ffplay</string>
			<key>mtime</key>
			<integer>1613710681</integer>
			<key>sha256</key>
			<string>2ad0b3809b24cafe6d85c84060939d551b61e2696c396ea12ae30db40a5c8b92</string>
			<key>size</key>
			<integer>137448</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ffprobe</string>
			<key>mtime</key>
			<integer>1613710681</integer>
			<key>sha256</key>
			<string>11abf1eb3f684b49e6ad345f069c473f84bb219218caa839b0513da47c2e3630</string>
			<key>size</key>
			<integer>174488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ffmpeg/ffprobe.xsd</string>
			<key>mtime</key>
			<integer>1613710681</integer>
			<key>sha256</key>
			<string>c0af202773cb3380dcf5b0b27f07cdfe5efd2f12570fb32504f03dead884bbe1</string>
			<key>size</key>
			<integer>21233</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ffmpeg/libvpx-1080p.ffpreset</string>
			<key>mtime</key>
			<integer>1613710681</integer>
			<key>sha256</key>
			<string>cf0dca9d029e0aa29c242e5a7ecfb202a55ae41c1acdf5e2e59bf281a0136251</string>
			<key>size</key>
			<integer>227</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ffmpeg/libvpx-1080p50_60.ffpreset</string>
			<key>mtime</key>
			<integer>1613710681</integer>
			<key>sha256</key>
			<string>4d32bed9032caf8bf4ef8e4bcac427f482c6191396ef6b11f075a264da3a8def</string>
			<key>size</key>
			<integer>227</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ffmpeg/libvpx-360p.ffpreset</string>
			<key>mtime</key>
			<integer>1613710681</integer>
			<key>sha256</key>
			<string>c2ccd70a941c9b7003e364d7cc0296e8f3dea78cc3a87ccdcaae7c39a1a05b79</string>
			<key>size</key>
			<integer>219</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ffmpeg/libvpx-720p.ffpreset</string>
			<key>mtime</key>
			<integer>1613710681</integer>
			<key>sha256</key>
			<string>5bcac409c81ec0e11091801d5d1322b5ec6a9bb8617d7dda022acfea0d498d52</string>
			<key>size</key>
			<integer>227</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ffmpeg/libvpx-720p50_60.ffpreset</string>
			<key>mtime</key>
			<integer>1613710681</integer>
			<key>sha256</key>
			<string>b08a5ae448cb3cccd23faa6f42c8dbf61ead1a8381fce65636aa01a4a142cb8e</string>
			<key>size</key>
			<integer>227</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ffmpeg-all.1</string>
			<key>mtime</key>
			<integer>1613710681</integer>
			<key>sha256</key>
			<string>5e98d66b60ddf241243c97db7694a81e54a9fd588a97c87619d235594a207a00</string>
			<key>size</key>
			<integer>1510438</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ffmpeg-bitstream-filters.1</string>
			<key>mtime</key>
			<integer>1613710681</integer>
			<key>sha256</key>
			<string>103f37e3de62531aa1830c5ce2159d0834d2cbc566fd601fea4dd11d36d7b054</string>
			<key>size</key>
			<integer>31758</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ffmpeg-codecs.1</string>
			<key>mtime</key>
			<integer>1613710681</integer>
			<key>sha256</key>
			<string>7999215333f8288f005a3fab496ed84cf202cf850f56d234e92b9ce48fb915c8</string>
			<key>size</key>
			<integer>185481</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ffmpeg-devices.1</string>
			<key>mtime</key>
			<integer>1613710681</integer>
			<key>sha256</key>
			<string>d6e38b4a616929f0ad5f4c2556561fb54fbcd9da0e378827e1d9e8f9f257b9c7</string>
			<key>size</key>
			<integer>75235</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ffmpeg-filters.1</string>
			<key>mtime</key>
			<integer>1613710681</integer>
			<key>sha256</key>
			<string>5adf351f2139b1cc4e62cc4b7df652ae1afb8ec8d77f3e618eb721e1ed4294f0</string>
			<key>size</key>
			<integer>843508</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ffmpeg-formats.1</string>
			<key>mtime</key>
			<integer>1613710681</integer>
			<key>sha256</key>
			<string>ba8363506ff7e935a1de141f21e848ee2704726e60672c1d850f24280d5f928f</string>
			<key>size</key>
			<integer>167920</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ffmpeg-protocols.1</string>
			<key>mtime</key>
			<integer>1613710681</integer>
			<key>sha256</key>
			<string>dfa00e5ddad8afaac47fc651d5427ed97ec1f9ef0bab0f0ec8e64b6868876ec3</string>
			<key>size</key>
			<integer>72005</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ffmpeg-resampler.1</string>
			<key>mtime</key>
			<integer>1613710681</integer>
			<key>sha256</key>
			<string>0a95654fd8366c29f8f951d8ef86c08e9b5456ee22234fac11dfe123ee20a976</string>
			<key>size</key>
			<integer>14539</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ffmpeg-scaler.1</string>
			<key>mtime</key>
			<integer>1613710681</integer>
			<key>sha256</key>
			<string>a2d3bc96bad130b89651b87a8a6ad7d61694fec825d4d1f7c42b2da2e12a7abd</string>
			<key>size</key>
			<integer>9113</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ffmpeg-utils.1</string>
			<key>mtime</key>
			<integer>1613710681</integer>
			<key>sha256</key>
			<string>855e34d257a54636b4d910dcf78fdc59f41d561389c3b2eaaa46caa98c17f4cc</string>
			<key>size</key>
			<integer>36520</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ffmpeg.1</string>
			<key>mtime</key>
			<integer>1613710681</integer>
			<key>sha256</key>
			<string>39660ade464c1c0d2592006c2a97b1f0f3ce4f5ea1eab3fa4976d319341d1bcd</string>
			<key>size</key>
			<integer>117003</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ffplay-all.1</string>
			<key>mtime</key>
			<integer>1613710681</integer>
			<key>sha256</key>
			<string>56ca38a2518074850db525da75d1804bbf37c1453c0e19708f5eec8870a26f6d</string>
			<key>size</key>
			<integer>1175833</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ffplay.1</string>
			<key>mtime</key>
			<integer>1613710681</integer>
			<key>sha256</key>
			<string>0d56964deef96cf315c88c002a46faff535b4915cce975f5fee876d4cda57054</string>
			<key>size</key>
			<integer>31349</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ffprobe-all.1</string>
			<key>mtime</key>
			<integer>1613710681</integer>
			<key>sha256</key>
			<string>81b168b84e57d6775b2eaa8e02b1def2654fb654688b450c227c6816043f36ea</string>
			<key>size</key>
			<integer>1186798</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ffprobe.1</string>
			<key>mtime</key>
			<integer>1613710681</integer>
			<key>sha256</key>
			<string>95bcee17d133c15eb5ca20a9ee4f2f0af2769c5759ce4003ebe8ae10f7feef83</string>
			<key>size</key>
			<integer>42314</integer>
		</dict>
	</array>
</dict>
</plist>
