<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/gfind</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>8964d487087ef76147a965239c99da67bc391e21b6802904737dc2c633e581fc</string>
			<key>size</key>
			<integer>306816</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gxargs</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>5e85284b1a5bc09353cf28cba5c74fb7919d0be507153934a0a8220678c10e72</string>
			<key>size</key>
			<integer>76056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/find-maint.info</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>89a6de3448fbf54ae323359e7def7aee94c71918a91c3fb829fea2806b11defe</string>
			<key>size</key>
			<integer>71971</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/find.info</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>8fe8520e9cd108b62ff44799ff113d34ab180114ba33d1475e4f431104d63dfd</string>
			<key>size</key>
			<integer>6318</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/find.info-1</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>74444972329ba8bdac3476a55017dfa3989d748b3913deec035fb31bb75d9d3a</string>
			<key>size</key>
			<integer>305761</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/find.info-2</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>3a808ef83119f58fb812993d176274bdd60791fc6ecc7b46a6f01cd0b25d4940</string>
			<key>size</key>
			<integer>11634</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>8ee74c37f5f70b3e2099d46a92b14603073d0a78a243005e40a1f68a00f2e5d7</string>
			<key>size</key>
			<integer>2343</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>270c01a54541f247f36de3a318d2637c29dcce227d7e1fecc346def2bf55517a</string>
			<key>size</key>
			<integer>48026</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>c92e99cf8f4725d3aae86efdb48c2efc3210c4809311ee5638cdab6e080d93a5</string>
			<key>size</key>
			<integer>7982</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>ca202416cf2dbe8bda2d4f23654c4fcba9506114b41dfdff88c23d354bafd893</string>
			<key>size</key>
			<integer>35759</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>798560147e07ad4e1956b7e6b1487bfca26811db3f10718e574af658ec57e4f5</string>
			<key>size</key>
			<integer>34205</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>70d48c1254ea8f061dac05361b644b111b03a103fd23b4a7e399adc04a1d9b68</string>
			<key>size</key>
			<integer>36468</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>2a39038788c753cc920f02b101e5b2da904d99ed0dda9908c8676b06d2a816b5</string>
			<key>size</key>
			<integer>43946</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>e7788bf68cf1bbbc619d2f72caf31236ba6111d3ddab7248100fa67ae3fe4198</string>
			<key>size</key>
			<integer>34036</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>2df58c51d9d20ba3b87905d60378bfdc74a401bd2a81b411fb5606f92d0ee925</string>
			<key>size</key>
			<integer>24941</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>b9bb315e17198c5ddb7c7e34ce151a69a949a4d453c159b1e239ef8dfe87bba7</string>
			<key>size</key>
			<integer>33305</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>74caf82d4df44b54c71abc4f820c1f9c95e73d6b8e2f19e261d047a665e61a40</string>
			<key>size</key>
			<integer>35422</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>119c65799594d885afd99b43dc92c98e6a40833e087fdff7473b9e787e15e915</string>
			<key>size</key>
			<integer>36630</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>920161dcdcf0ef75e0af5a6f64f79a49d4eb5ec237cf293bffa7d8a7b55bc215</string>
			<key>size</key>
			<integer>20984</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>d3449160e3a3b76d4ee84a2687bc0cb252fb1bdf98198e75ed92360c778ea449</string>
			<key>size</key>
			<integer>24078</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>a1b661aca7de998341bae489f4ea080ab9d8ec9b7a679a784b55ac389f593b36</string>
			<key>size</key>
			<integer>35087</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>c611890bf8feacc0c74c82fac413f0f710c108e1c291c5afbfabef845dd6f156</string>
			<key>size</key>
			<integer>36694</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>d4e46cd10cbb07bb7fff99c72030ec2eb774307071663147cfb0870a04946803</string>
			<key>size</key>
			<integer>20287</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>b5bc4e321a44b84233c06251f2eadd63311905d22aaed8d29538376cee939059</string>
			<key>size</key>
			<integer>33226</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>35d98f37ebf1dad506e19e3a970e58e261e5020ade874630a714f323191997f2</string>
			<key>size</key>
			<integer>28336</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>56d162fa463d76226fd65763a36886982a6cfa02414353a683a607e29531841f</string>
			<key>size</key>
			<integer>1916</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lg/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>01e31123f786a2fd71aed9c9933a59765318acc6211fb673fd038ffec1eea7be</string>
			<key>size</key>
			<integer>2663</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>de8866a76da7588c058516845210f66d5fbf750a6b7bf2c7870e0a3364cf1c18</string>
			<key>size</key>
			<integer>6271</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>2894fcd0506f9b302f33626f1996f10911ea78add89fc828d9b68a619879d092</string>
			<key>size</key>
			<integer>1514</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>8093dcad329fc31fb346d64623e23a4cfe6402bd95d1c4720427cc1553c2435c</string>
			<key>size</key>
			<integer>34419</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>f2025b4811ef31ff7f48780c8b07bb7d3ce2ee13cab65adf2b3a5f3d09dc396f</string>
			<key>size</key>
			<integer>35068</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>a36774beece3b0437bb3f8fbfcfe1a7f8d7623dab75f332eaeb117e6e20751d4</string>
			<key>size</key>
			<integer>35529</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>b0d6da4cc0a4a34f1e6bc590b3868328662787f824d45551f61eeb842c97835e</string>
			<key>size</key>
			<integer>34844</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>95c3053724eb81f5de635a1deb1b1e16ae455c2bbc1bd135690a2d3721cdb1c0</string>
			<key>size</key>
			<integer>35802</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>cb5ffd1bee2b6e1e353297bb42e381fe0055ce02b67489a724eb3fc9a27a88b5</string>
			<key>size</key>
			<integer>6589</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>97f7457e54afad3625415b37cf5a370204ebc5fa697b0919a29437d88e364df7</string>
			<key>size</key>
			<integer>45725</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>d292f542d55e95f4854134ab85214f229665641705b6a32d07e723f9f6d070da</string>
			<key>size</key>
			<integer>24148</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>21ed93221f5391ad322a91b5d5743448eba64c03a538b471f513bfbfa12590ca</string>
			<key>size</key>
			<integer>34763</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>82c5847d779d90b6b5f2a5bdf71cf0bd7fbef0acf5283b5453a328c9f9020abb</string>
			<key>size</key>
			<integer>45946</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>f424a7a8bb8b60198ef59460d3adc8f0c926a26c0b88b6f07abb5e73303f0c34</string>
			<key>size</key>
			<integer>34489</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>8e778655efac5b6eb9013fc3538615483e938f76a5d673ed20a4e7a0b9f866e5</string>
			<key>size</key>
			<integer>32864</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>158393f982ddba2693efe947510183728f19260687d54f500fbf7e4cbef18e22</string>
			<key>size</key>
			<integer>45762</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>015ceaf449e32254bf1037fe15ce0ec389ee8c473f640dfa52259494bf77df81</string>
			<key>size</key>
			<integer>37613</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>887ff5aebcdb2fe57fb90535414fb0f3808d87329d30c719b93136871cbde442</string>
			<key>size</key>
			<integer>32493</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/findutils.mo</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>1a1aa04fd736a65b58c460e1fb7128043d28551c7d6def2cdb4fb56dce22f9aa</string>
			<key>size</key>
			<integer>19368</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gfind.1</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>2f487079592bf372414ea9acca9e4859175cccbea84cdfca688177e896300610</string>
			<key>size</key>
			<integer>72808</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gxargs.1</string>
			<key>mtime</key>
			<integer>1611601251</integer>
			<key>sha256</key>
			<string>e9cd87ba611d7281e571f3b1507ed5161e590a464f6caedeece05534206e5696</string>
			<key>size</key>
			<integer>14180</integer>
		</dict>
	</array>
</dict>
</plist>
