<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/font-bitstream-type1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/c0419bt_.afm</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>c89c57fcfb7e048b2602ed22cca9103681689cf1416ea50bcbd5a4b55a797d76</string>
			<key>size</key>
			<integer>15395</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/c0419bt_.pfb</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>0e15626ca60d95e49ac15352f5c7f1837eb6dc9b6a353357012ce54a5b37015c</string>
			<key>size</key>
			<integer>40766</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/c0582bt_.afm</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>99d7dcd6d6790468cb7795a2dd6eabd4f9fdb4ce8276d05e57aefd82936ce6e9</string>
			<key>size</key>
			<integer>15407</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/c0582bt_.pfb</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>9ecc1d370c5ee96c8b58d144d92a9fbeb416e2a33746f4ef86ed4e7490389dc6</string>
			<key>size</key>
			<integer>39511</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/c0583bt_.afm</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>508589a8aa0935af70ed0d847d0a481822ceb034cf5e60595006ad224b961340</string>
			<key>size</key>
			<integer>15397</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/c0583bt_.pfb</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>708bbc1a259fbdf4f8c0fde683dd604f1e0677a72078567d70328f9a428248b7</string>
			<key>size</key>
			<integer>40008</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/c0611bt_.afm</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>3653b31e560657cd902edcf3d70b1a6337c5d71c2bee54dd3f2409ff8810c6af</string>
			<key>size</key>
			<integer>15414</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/c0611bt_.pfb</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>69dd50c4078f8b7c3d50dedc85dec8e4316c0b4f86df1737c3af9b9b8aa51eef</string>
			<key>size</key>
			<integer>39871</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/c0632bt_.afm</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>158df973b139872077e8a130390c8cd265cae1828665268d95534e6ab2c8478a</string>
			<key>size</key>
			<integer>21626</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/c0632bt_.pfb</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>c50fd6e717599f306b8b3261d309c56849f4366771c1983c875eabf46bc2b956</string>
			<key>size</key>
			<integer>33799</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/c0633bt_.afm</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>1eb0b234a07ad5d4780900088019b09a0b07a0894ed25a611d5fce378d370274</string>
			<key>size</key>
			<integer>22099</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/c0633bt_.pfb</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>3e0c9ed37732c1ebcbed4e582fd70f5673ca415161396276097eca1cda87104b</string>
			<key>size</key>
			<integer>35229</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/c0648bt_.afm</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>cba23e7d634e0c519dad78767910c792455b42760275522421c784fe1463b19c</string>
			<key>size</key>
			<integer>19764</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/c0648bt_.pfb</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>8ac5bad34cad9b59b087eebfaf9087c16901b0761f7f9cc538f2f65567fc3959</string>
			<key>size</key>
			<integer>34869</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/c0649bt_.afm</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>f4233e9516bcb2c077d3c55121c593d47f5349908059bce0b1f1d842a6a70a81</string>
			<key>size</key>
			<integer>19927</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/c0649bt_.pfb</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>0c3e189c6a52401c62c9fcde32f453a4dc95836d8c6e03fe8908100d854f3a83</string>
			<key>size</key>
			<integer>35118</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/font-bitstream-type1/COPYING</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>ecad5afdbd1308634896744a4c962361e9eca73e7d9969bb3aad94533c66d046</string>
			<key>size</key>
			<integer>565</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/font-bitstream-type1/Copyright</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>ecad5afdbd1308634896744a4c962361e9eca73e7d9969bb3aad94533c66d046</string>
			<key>size</key>
			<integer>565</integer>
		</dict>
	</array>
</dict>
</plist>
