<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/fonts/fonts.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>ff017149092d8b6a190b5e5841f75ffef4f7a6b050584843e0d2cc5cf62e04a1</string>
			<key>size</key>
			<integer>2532</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/fonts</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/fonts/conf.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig/conf.avail</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/fontconfig</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xml</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xml/fontconfig</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/fonts/conf.d/README</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>f15acc29263815e7e04144a4b125e826a50557cdfb44dfc20cea5dcd869c6ea1</string>
			<key>size</key>
			<integer>978</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/fc-cache</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>9b1470f9605475a3ec463a6a1151ceac978ae109faac4f234da5d7989fdbf729</string>
			<key>size</key>
			<integer>18576</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/fc-cat</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>7883f578f7925ad13742cc3113a9f0d8e5ef2032ce45eaf551dd26887cb54438</string>
			<key>size</key>
			<integer>14480</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/fc-conflist</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>57d72b16037115e81fd9101cb6fc586687eddd0e82bf4126b32ec0894778f0dc</string>
			<key>size</key>
			<integer>14480</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/fc-list</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>00ce8ada0dd90b69232b5ba2edecb9b44be1103775e63a2544a5d0f6407de88b</string>
			<key>size</key>
			<integer>14480</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/fc-match</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>8144e66d61d469b2118bae1ce3cd0b8c3d626730fa23d06f10e4d9b6848aec54</string>
			<key>size</key>
			<integer>14480</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/fc-pattern</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>9f4c7832dd2ddd786c8cc4955b9ee8f3608de71560fee0b0429aa4d3811c9c24</string>
			<key>size</key>
			<integer>14480</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/fc-query</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>b5f15e3bbe675f66fec833672d9f353234dc750fde6945e38c0cead5336fa9c4</string>
			<key>size</key>
			<integer>14480</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/fc-scan</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>0151a0ab73c05aca4b0b7f4d1929f17430c6afc19cf910a24d4f84f07d69054c</string>
			<key>size</key>
			<integer>14480</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/fc-validate</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>6130e0e20baf5d2daac25d1d2f3d4225bdc9fe182d5d193a07c20c6c360c9bc1</string>
			<key>size</key>
			<integer>14480</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfontconfig.so.1.12.0</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>79644520411c845b2b0feeedc3a73246b82b5db139fb75470df10bd5208bc113</string>
			<key>size</key>
			<integer>280568</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig/conf.avail/10-autohint.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>b60c416c62c59949ce53a0b7bd0c77e76f309c500c767ec59e02587c3726e5bc</string>
			<key>size</key>
			<integer>706</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig/conf.avail/10-hinting-full.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>0ddfabd0287f73028ad872006389fbe63fab7d7ba2a0f1f85d35c282a0dde6ca</string>
			<key>size</key>
			<integer>692</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig/conf.avail/10-hinting-medium.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>bf2274bd1e7ee08b16ea6f0e67d073b42076d43c4bc61ed0d1159da905288ad9</string>
			<key>size</key>
			<integer>696</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig/conf.avail/10-hinting-none.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>938da6a7f533af329510bb3b7bba103639bbd7ff0761d1d6556ee5079d603d36</string>
			<key>size</key>
			<integer>692</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig/conf.avail/10-hinting-slight.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>1fac58aa3c865e9b05088f94f7a4684d8a60d134421690cfd04842eb00fe1332</string>
			<key>size</key>
			<integer>696</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig/conf.avail/10-no-sub-pixel.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>db6cc09b48abbec33a6074b04cfc1dc5161b86cf73fd9321e7c7e6853bda875e</string>
			<key>size</key>
			<integer>723</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig/conf.avail/10-scale-bitmap-fonts.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>31bc5919577b3c897a850948e2a3ede8bd612e6736afe84e532ec8a6c12a36ca</string>
			<key>size</key>
			<integer>2228</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig/conf.avail/10-sub-pixel-bgr.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>133e75ed6eab24cd4b352603b1f3d54d131211e0d95c3a32274b389dacfccd1e</string>
			<key>size</key>
			<integer>748</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig/conf.avail/10-sub-pixel-rgb.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>12eea6c29a800f58efc25dec0d928779ec344006698902c3a037e0522c4ae126</string>
			<key>size</key>
			<integer>748</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig/conf.avail/10-sub-pixel-vbgr.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>c8e81739ef7fb736eebf9251d7caf67fcc931ce894de0b3f5dd46a10f4e146b5</string>
			<key>size</key>
			<integer>758</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig/conf.avail/10-sub-pixel-vrgb.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>8591239ca7d60fdec74b0701c2b043ec1af6a48bf5089fb050559e599e122c95</string>
			<key>size</key>
			<integer>758</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig/conf.avail/10-unhinted.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>177de69285f723ecc71108bc8fcac7d125fcea7945770e5d97d74f0bf5ec989d</string>
			<key>size</key>
			<integer>701</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig/conf.avail/11-lcdfilter-default.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>7b72aa9bbe1559da3931bb4dbb64666aca90fa5b81886cc60ab5c74383ed2756</string>
			<key>size</key>
			<integer>771</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig/conf.avail/11-lcdfilter-legacy.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>5f4e884146127d72f2357b22e175a9f8aeeb2f494355910c1b33bbaadc4e098e</string>
			<key>size</key>
			<integer>768</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig/conf.avail/11-lcdfilter-light.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>e5d07262e90c1ae756261e26b0a95e937c4e5e81743f6b21eb68e165e232d883</string>
			<key>size</key>
			<integer>765</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig/conf.avail/20-unhint-small-vera.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>e4bc8e2f51fe4becf778c9bf3f977935d4396f42193ee02e9d582c71a212e2b9</string>
			<key>size</key>
			<integer>1537</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig/conf.avail/25-unhint-nonlatin.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>13c34be22daec29f99930aa9e5cdc4b6d4b837d3d0a7ad21b398502a1087d810</string>
			<key>size</key>
			<integer>3489</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig/conf.avail/30-metric-aliases.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>e424cacbd9d7a5c9646d5bfd11127c66182cb740c644fad0f7990ab742b356ae</string>
			<key>size</key>
			<integer>13274</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig/conf.avail/40-nonlatin.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>2ded74eda7467f51204dcc4070207dcdff06120c725b4f1c363585c51b253fcb</string>
			<key>size</key>
			<integer>5424</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig/conf.avail/45-generic.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>48e9b9efb969f77f04d055ad512dd732a8319a655bd93011921c912321b18ac6</string>
			<key>size</key>
			<integer>3543</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig/conf.avail/45-latin.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>1a17eaeb44bdc367f16939dfb2ca1a00a57a9b788b9057a80c656667fa41721e</string>
			<key>size</key>
			<integer>6600</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig/conf.avail/49-sansserif.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>8763cdac2dc15bc9ca4722bfc42915caacc585e1b73b1687027999eba1a4859e</string>
			<key>size</key>
			<integer>799</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig/conf.avail/50-user.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>f8ba8a95fb232a9baf2766e54be0c10b3cde40a276faa6d988e67255992f619f</string>
			<key>size</key>
			<integer>911</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig/conf.avail/51-local.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>f28ac67ab31540c5b5df3faee9d1d6c6d31ba83ea87e851850f5f9e32341126c</string>
			<key>size</key>
			<integer>423</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig/conf.avail/60-generic.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>65acf3c836c88d4d4b455d791cb32d5f7f8850e47951de8439cf3c177beea075</string>
			<key>size</key>
			<integer>2041</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig/conf.avail/60-latin.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>c0e9c3cdf4b785dbd7bb4feeea9e92c164ec452c99385452aca1efbd36817484</string>
			<key>size</key>
			<integer>2068</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig/conf.avail/65-fonts-persian.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>4d53dc8cc9604e0fec716a5947b5235314b1594d1c09f62a34778e6321dc8f20</string>
			<key>size</key>
			<integer>10293</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig/conf.avail/65-khmer.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>ab056a77ca1f8bc94117ce99f53fbbdd4516656086b0bb7104de3b58948c3848</string>
			<key>size</key>
			<integer>464</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig/conf.avail/65-nonlatin.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>d11a074fe649fba583e5068c0b6bd8eeb2b7ac67024962237260d30bea6011ea</string>
			<key>size</key>
			<integer>8170</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig/conf.avail/69-unifont.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>eb4f4ce7f09017cc9764ea9979dc01ff21902f5566bc73e7d721a872fcc80cbb</string>
			<key>size</key>
			<integer>847</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig/conf.avail/70-no-bitmaps.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>a68f782f773c0a0061b7780b227f221c8b3fc06d66bd8fe654b261617b3dbbe0</string>
			<key>size</key>
			<integer>487</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig/conf.avail/70-yes-bitmaps.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>0b795a6a0a08f815cab64bbc7ab0a4cedd40ba7b272e005faebb1a2ab25bf4f6</string>
			<key>size</key>
			<integer>487</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig/conf.avail/80-delicious.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>d3cb327de779ad929b12a501b447e1f9c541f51437e389b3d17edb3ecff83496</string>
			<key>size</key>
			<integer>597</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fontconfig/conf.avail/90-synthetic.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>54a5935ea79c66e07faf743b81f2647eca849800b2b0422e84cd66527a75066a</string>
			<key>size</key>
			<integer>1917</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/fontconfig/COPYING</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>fa4cd9ab005185e10cd8f7504518856c7dd36c01e766c2bac87f4fc638e9f886</string>
			<key>size</key>
			<integer>1313</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/fontconfig-conf.mo</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>670960c6f1cf6b6a0c36c8cbe6d1453b3640fb1ece5addb09c8d67747b0104bb</string>
			<key>size</key>
			<integer>3311</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/fontconfig.mo</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>f29749120115bfcd87e6b39c523c8675b977f885433a1874c4ad8371948c11d8</string>
			<key>size</key>
			<integer>14705</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/fc-cache.1</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>6ff47883a8482a9ba10bb4a62e355ded00a3df209c9ee889aecf9e8ba12a6106</string>
			<key>size</key>
			<integer>2640</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/fc-cat.1</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>aecf7433bbc91552a3412e20565a6427d21e68bdd95f5e9bf0ea89f7cc3b3fb6</string>
			<key>size</key>
			<integer>1132</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/fc-conflist.1</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>14ef6e48a6fd9399588801136b5455162c94a8f7595568b792a47d5dc4f99218</string>
			<key>size</key>
			<integer>879</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/fc-list.1</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>3c9ed236510ceb96513d1d28bfdf0fdd29cc23ffc5e7ebb490a7a0328c8c8a91</string>
			<key>size</key>
			<integer>2047</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/fc-match.1</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>cd41a2f349c9b044a9c8e17944b555c6dd9db79488e7640e828de62260d13dc3</string>
			<key>size</key>
			<integer>2072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/fc-pattern.1</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>09426233df8b4383c10a0b820d88a27cd0875f1fb3903f4798872b25a4aeec2c</string>
			<key>size</key>
			<integer>1842</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/fc-query.1</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>acb3a949ab6837f3ea4b0ec9972fcb7ce3c80fb85d729884997e3858986f9e88</string>
			<key>size</key>
			<integer>1700</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/fc-scan.1</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>6f68a063098353d6f94079f256e87e3b701a21a15c48ae1aa707316aa6aebfc0</string>
			<key>size</key>
			<integer>1329</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/fc-validate.1</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>3e24ab15876645b2da8e43117aaba853164bffdf865ad0926d45c5810175f737</string>
			<key>size</key>
			<integer>1444</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/fonts-conf.5</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>2ba69f802f67331e814da04110f91b8d92d46fe7893cb5b0daef62cb87d67cae</string>
			<key>size</key>
			<integer>33432</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xml/fontconfig/fonts.dtd</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>26cac5f99498345c19e7d53aa3b9ab531a57bd0cef0b8e6b9dc0e4e2116ffb3b</string>
			<key>size</key>
			<integer>7250</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/fonts/conf.d/10-hinting-slight.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>target</key>
			<string>/usr/share/fontconfig/conf.avail/10-hinting-slight.conf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/fonts/conf.d/10-scale-bitmap-fonts.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>target</key>
			<string>/usr/share/fontconfig/conf.avail/10-scale-bitmap-fonts.conf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/fonts/conf.d/20-unhint-small-vera.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>target</key>
			<string>/usr/share/fontconfig/conf.avail/20-unhint-small-vera.conf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/fonts/conf.d/30-metric-aliases.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>target</key>
			<string>/usr/share/fontconfig/conf.avail/30-metric-aliases.conf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/fonts/conf.d/40-nonlatin.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>target</key>
			<string>/usr/share/fontconfig/conf.avail/40-nonlatin.conf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/fonts/conf.d/45-generic.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>target</key>
			<string>/usr/share/fontconfig/conf.avail/45-generic.conf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/fonts/conf.d/45-latin.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>target</key>
			<string>/usr/share/fontconfig/conf.avail/45-latin.conf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/fonts/conf.d/49-sansserif.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>target</key>
			<string>/usr/share/fontconfig/conf.avail/49-sansserif.conf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/fonts/conf.d/50-user.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>target</key>
			<string>/usr/share/fontconfig/conf.avail/50-user.conf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/fonts/conf.d/51-local.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>target</key>
			<string>/usr/share/fontconfig/conf.avail/51-local.conf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/fonts/conf.d/60-generic.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>target</key>
			<string>/usr/share/fontconfig/conf.avail/60-generic.conf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/fonts/conf.d/60-latin.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>target</key>
			<string>/usr/share/fontconfig/conf.avail/60-latin.conf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/fonts/conf.d/65-fonts-persian.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>target</key>
			<string>/usr/share/fontconfig/conf.avail/65-fonts-persian.conf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/fonts/conf.d/65-nonlatin.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>target</key>
			<string>/usr/share/fontconfig/conf.avail/65-nonlatin.conf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/fonts/conf.d/69-unifont.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>target</key>
			<string>/usr/share/fontconfig/conf.avail/69-unifont.conf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/fonts/conf.d/80-delicious.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>target</key>
			<string>/usr/share/fontconfig/conf.avail/80-delicious.conf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/fonts/conf.d/90-synthetic.conf</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>target</key>
			<string>/usr/share/fontconfig/conf.avail/90-synthetic.conf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfontconfig.so.1</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>target</key>
			<string>/usr/lib/libfontconfig.so.1.12.0</string>
		</dict>
	</array>
</dict>
</plist>
