<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/misc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/font-jis-misc</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/misc/jiskan16.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>8f32742fe7baf9323328fbd88f5b3d735033d40bce02662636ed881d8ef28805</string>
			<key>size</key>
			<integer>242042</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/misc/jiskan24.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>98a6671a00a6cca3fca6a8ecbdab38124fde7c009c9fd98b560834982bb18aa3</string>
			<key>size</key>
			<integer>376799</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/font-jis-misc/COPYING</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>7a94eaf8f051c95232d64b24b082eb02f827e1361c03b82e9bc7252263ea66c1</string>
			<key>size</key>
			<integer>158</integer>
		</dict>
	</array>
</dict>
</plist>
