<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/misc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/font-mutt-misc</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/misc/cu-alt12.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>a1bc500ffddb5994204cd2676348f4087e34334592bc57cf789e4cd5f81a01b3</string>
			<key>size</key>
			<integer>13129</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/misc/cu-arabic12.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>a30a2340b7a6267d646d49885bf660e7c125fe1170650e94622a10be10750181</string>
			<key>size</key>
			<integer>4742</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/misc/cu-devnag12.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>7ffd6adf8fa9e97cad1ee645098f36d95df713f3f81426f51abef91215407100</string>
			<key>size</key>
			<integer>3514</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/misc/cu-lig12.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>3c070b62d71d594187d7092f0a2d79d3a5ba447547c7ca4df9dbb2ec75dc4745</string>
			<key>size</key>
			<integer>2419</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/misc/cu-pua12.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>a3751dec77de2da30e61386f6c357a2b1b7624baea94083d05814ee119f61469</string>
			<key>size</key>
			<integer>2409</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/misc/cu12.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>e8446b473774732bfcbd42b3d461d77872103eb66f284e83779222821eac075e</string>
			<key>size</key>
			<integer>194338</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/misc/cuarabic12.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>d21caedac5a653f10888d2d2234858c3c6c29f64fd966a9a3e890e069cbc74e2</string>
			<key>size</key>
			<integer>13737</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/misc/cudevnag12.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>18b85d191cdc25b57e0b5d81a50c7e0583d76e10733f2d10e8b574e69cb751fa</string>
			<key>size</key>
			<integer>6001</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/font-mutt-misc/COPYING</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>81d42a6eeaf3ac2fcc1e1408fb6e2039d1162ca85d4abaf75e3daddcb250e4ff</string>
			<key>size</key>
			<integer>1118</integer>
		</dict>
	</array>
</dict>
</plist>
