<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/misc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/font-isas-misc</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/misc/gb16fs.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>5155eb29be6e0d93c226f9f5204536d5ccecca120b1049b4da6ce35c285455fa</string>
			<key>size</key>
			<integer>256225</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/misc/gb16st.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>09d122c1c067c804540f18f05708792a05e910cbf492212a02e72455ca31b8fc</string>
			<key>size</key>
			<integer>276033</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/misc/gb24st.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>97ef730dc0d8f630bb0174157349b1eb0a1f5c9227c8410bee089635fe7a9a5e</string>
			<key>size</key>
			<integer>412865</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/font-isas-misc/COPYING</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>32d5d082b8186051bbe75ea9cbedc646830217ca931b1b7a1e534a828c94e839</string>
			<key>size</key>
			<integer>1315</integer>
		</dict>
	</array>
</dict>
</plist>
