<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/100dpi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/font-bitstream-100dpi</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/100dpi/charB08.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>3ddbf342d6f3ad218bd0357cec5175b6bc5a8a55052e268cf2ad27757acc3c1f</string>
			<key>size</key>
			<integer>4448</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/100dpi/charB10.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>8383aec62fb23fb925b88a8122e527ca953b3e3cebefd9c89ee098e90e07ce1d</string>
			<key>size</key>
			<integer>4884</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/100dpi/charB12.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>1dda2b3221a53578babfecbe7e67ca9909ec42a1bd9743b4413455f4500d4b40</string>
			<key>size</key>
			<integer>5327</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/100dpi/charB14.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>e6efc555d849c81b840c753bc8a57e6f187cfce99391b727aa6313c3d761f854</string>
			<key>size</key>
			<integer>5657</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/100dpi/charB18.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>375cfb4a43f5dcf3287cf732ecc0e50724a7a9d5f3e133e21bfaabff56ee27f5</string>
			<key>size</key>
			<integer>6407</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/100dpi/charB24.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>5bb1014f278e1e2616d9ad049dfe1916558087fc1b6e13720e135cd1eb8938fd</string>
			<key>size</key>
			<integer>7481</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/100dpi/charBI08.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>e2ead445b5aeddc345ddc2bac14933473c66c7799c10006b6e328dff02bc2384</string>
			<key>size</key>
			<integer>4596</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/100dpi/charBI10.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>aff3ba12b8ea095c57cc7cc81bed26fa676bba89bbfe494e597b6b3200bfa061</string>
			<key>size</key>
			<integer>5066</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/100dpi/charBI12.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>9dfa42c4d5f95b325885e310650d8d76dca2569afffd5968a7dbee624f646872</string>
			<key>size</key>
			<integer>5608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/100dpi/charBI14.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>b2d72cdef82d045b79cb3ff6479db307f349876f0e43e98c18db1fec0f111f67</string>
			<key>size</key>
			<integer>6000</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/100dpi/charBI18.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>aa1a87c5ad35d5341a0995d81e3a8dc1f13c2a574000ed4ba115856e0e0e0022</string>
			<key>size</key>
			<integer>6857</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/100dpi/charBI24.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>9b844a304878e4bf43460b5f1593d86a5b590f7c76cd4535465150491eafad18</string>
			<key>size</key>
			<integer>8169</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/100dpi/charI08.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>56ede3309f49e8b4f3f2d8961eadc8237813d6ab43f6006807a63576e1157ee6</string>
			<key>size</key>
			<integer>4517</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/100dpi/charI10.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>c48360cc92f39f407c9c31ba68c58af713f7b10b60cabdff459ba9642c4bd6de</string>
			<key>size</key>
			<integer>4960</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/100dpi/charI12.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>af787fb97b80cffbb5fe501143f6a29184f6885b263b12b8b82ba114eb111887</string>
			<key>size</key>
			<integer>5473</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/100dpi/charI14.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>16a852eba70149189b9d87408551ce2c89b9e871d7b7fa46a7b467b4397497bb</string>
			<key>size</key>
			<integer>5849</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/100dpi/charI18.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>3bdcfe387afd8f76ea10dd4ae0ae968b2d9c7d72e9d7eb77c6c2d7a39ecbffa0</string>
			<key>size</key>
			<integer>6566</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/100dpi/charI24.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>e982983ea969130b77af1f7fec725ae462656b2499d068ed305943a021a929ce</string>
			<key>size</key>
			<integer>7796</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/100dpi/charR08.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>ec7b81ffad76259dcf53f447386ea35e767096f8aa7633c4f460075ae4753db6</string>
			<key>size</key>
			<integer>4431</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/100dpi/charR10.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>58fcaba4da0474a146cf9299bf67e5df06d454fc516529f0ff397a9edbde2bc8</string>
			<key>size</key>
			<integer>4847</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/100dpi/charR12.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>a62b4b568ae444c2226c196d8b7a43011c7d296ad44dc4e8091356bcaa2de339</string>
			<key>size</key>
			<integer>5212</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/100dpi/charR14.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>52a65659ae7a5271e021ab4c655c30c13547e54c5671061ad2e161cc3acb9f2a</string>
			<key>size</key>
			<integer>5494</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/100dpi/charR18.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>60781f3bc16d2fb4f0c288f818765c6dbd1d545ec3ebdd97efc0d7cb44d72e81</string>
			<key>size</key>
			<integer>6258</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/100dpi/charR24.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>fa051cc1c727c26b4de2120917b0dc94d5b24bb7a1ffbe1bc7cefefe13fbe0bf</string>
			<key>size</key>
			<integer>7126</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/100dpi/tech14.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>847e9dd9dae307372854415442cc1b3f32dfe5bc4b987507227da1d5151051c1</string>
			<key>size</key>
			<integer>5082</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/100dpi/techB14.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>c98c46314be3713f6ae667b5eea18deae8328544aea9b11bdefa3b9a6b314cdc</string>
			<key>size</key>
			<integer>5137</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/100dpi/term14.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>85ba23c48a75f2f9c3807abb9351be1de16756678c4a9717f2357c1459c54f32</string>
			<key>size</key>
			<integer>5068</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/100dpi/termB14.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>a107cfe1270c77410d29592a5371fdecabfae13ce9a683c6b2aa262cc156ea78</string>
			<key>size</key>
			<integer>5052</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/font-bitstream-100dpi/COPYING</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>6faf32f092c2b92f3f99e0d63db9d802b11b4dd5aa0ce991f107a398d7f1ae80</string>
			<key>size</key>
			<integer>2277</integer>
		</dict>
	</array>
</dict>
</plist>
