<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/util</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/font-util</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/bdftruncate</string>
			<key>mtime</key>
			<integer>1567345243</integer>
			<key>sha256</key>
			<string>7d762f279d834fac88ddaead65c598ec8abc372934a64af55e89e6c5f897d80a</string>
			<key>size</key>
			<integer>14392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ucs2any</string>
			<key>mtime</key>
			<integer>1567345243</integer>
			<key>sha256</key>
			<string>c771b58d1989ffcad1d2f02c366ee0163efbe3acfdf7d2c3cea4d00c7f4aac77</string>
			<key>size</key>
			<integer>26672</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/fontutil.pc</string>
			<key>mtime</key>
			<integer>1567345243</integer>
			<key>sha256</key>
			<string>7cddc8559f7a5c035302ef53dac97a52e936f65818ceb96b17dbd8a193d93883</string>
			<key>size</key>
			<integer>236</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal/fontutil.m4</string>
			<key>mtime</key>
			<integer>1567345243</integer>
			<key>sha256</key>
			<string>760cc81ddd6a4ec51c076bfdb953679717cb51f2a1e3aa5a21b50fb3cb2e0621</string>
			<key>size</key>
			<integer>14160</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/util/map-ISO8859-1</string>
			<key>mtime</key>
			<integer>1567345243</integer>
			<key>sha256</key>
			<string>884eb5ae5aa74867c7b2c93a40b9460920e26731dfafa58f783e9d568fc79055</string>
			<key>size</key>
			<integer>10592</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/util/map-ISO8859-10</string>
			<key>mtime</key>
			<integer>1567345243</integer>
			<key>sha256</key>
			<string>13339ad725052723ff6aac91ceef1a120a3231c4fac647e0b63d5565efdd2a53</string>
			<key>size</key>
			<integer>10989</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/util/map-ISO8859-11</string>
			<key>mtime</key>
			<integer>1567345243</integer>
			<key>sha256</key>
			<string>a742830aea98cbd27e5ecf811277d0c68e1e7be5a29cf7b98719474cc9cd458a</string>
			<key>size</key>
			<integer>9730</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/util/map-ISO8859-13</string>
			<key>mtime</key>
			<integer>1567345243</integer>
			<key>sha256</key>
			<string>6e07d8120d8225f0556c9c7f477c7d4392141290c3ae7f6a81c3926c34c0e52c</string>
			<key>size</key>
			<integer>10588</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/util/map-ISO8859-14</string>
			<key>mtime</key>
			<integer>1567345243</integer>
			<key>sha256</key>
			<string>3426e4b6b5b644920110ddd7d6404cd41b361eec966cfcb6cd135e1439f7719b</string>
			<key>size</key>
			<integer>11021</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/util/map-ISO8859-15</string>
			<key>mtime</key>
			<integer>1567345243</integer>
			<key>sha256</key>
			<string>0e94e2789e46c7a1e7e453735947e5e593fed2ded6eef659a5282dfc413ff59f</string>
			<key>size</key>
			<integer>10601</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/util/map-ISO8859-16</string>
			<key>mtime</key>
			<integer>1567345243</integer>
			<key>sha256</key>
			<string>f6abb360ffac4700d51bb84c753b088d0f7d49bdc6bc482c458b2c3ef2725a54</string>
			<key>size</key>
			<integer>10886</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/util/map-ISO8859-2</string>
			<key>mtime</key>
			<integer>1567345243</integer>
			<key>sha256</key>
			<string>5c81eca66455c5b36853c8a66495f58636643f6ddb261083d877a7f2a48287b7</string>
			<key>size</key>
			<integer>10816</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/util/map-ISO8859-3</string>
			<key>mtime</key>
			<integer>1567345243</integer>
			<key>sha256</key>
			<string>a7906a91ec3a4ac7f10ec7e25966d36d98fb720f401d595de5f9f06ab1f2b2a7</string>
			<key>size</key>
			<integer>10498</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/util/map-ISO8859-4</string>
			<key>mtime</key>
			<integer>1567345243</integer>
			<key>sha256</key>
			<string>5bb8f1fa3fdf6df88ee3d1a17f58bdf5e336f6b665d58ea04bf7bd7bdbf259dc</string>
			<key>size</key>
			<integer>10792</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/util/map-ISO8859-5</string>
			<key>mtime</key>
			<integer>1567345243</integer>
			<key>sha256</key>
			<string>c1244fabad6e9b7a8053da89448c42388bbe93681742e01e74f7a22b7f08e3ed</string>
			<key>size</key>
			<integer>10427</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/util/map-ISO8859-6</string>
			<key>mtime</key>
			<integer>1567345243</integer>
			<key>sha256</key>
			<string>a2917a1017ecb3c82fc44cd57365dbda0788f7cc1e8da94d8175f6600cf03548</string>
			<key>size</key>
			<integer>8308</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/util/map-ISO8859-7</string>
			<key>mtime</key>
			<integer>1567345243</integer>
			<key>sha256</key>
			<string>7b8d7ce8242993556958a5f95529d9d71181e6a08a070d037f157a22a77716a9</string>
			<key>size</key>
			<integer>10582</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/util/map-ISO8859-8</string>
			<key>mtime</key>
			<integer>1567345243</integer>
			<key>sha256</key>
			<string>4bea5cf4b048e3b7ccf704ea153edcf77d2a4c627dd8710f8f7e037afb62a171</string>
			<key>size</key>
			<integer>8553</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/util/map-ISO8859-9</string>
			<key>mtime</key>
			<integer>1567345243</integer>
			<key>sha256</key>
			<string>976d48dfff033c7bfedd08bc61d26f0a5fefb4c3f48f8735f454e100cf40294c</string>
			<key>size</key>
			<integer>10628</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/util/map-JISX0201.1976-0</string>
			<key>mtime</key>
			<integer>1567345243</integer>
			<key>sha256</key>
			<string>d4b33c404b5fc11d7a6b9935656c92cbd1219e682aa7b730b9ddc940d4f73dfc</string>
			<key>size</key>
			<integer>7797</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/util/map-KOI8-R</string>
			<key>mtime</key>
			<integer>1567345243</integer>
			<key>sha256</key>
			<string>d635512126976aec2c4fab3aeeb346bb653e9211c44d2a018dd27fbe86c654ec</string>
			<key>size</key>
			<integer>11204</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/font-util/COPYING</string>
			<key>mtime</key>
			<integer>1567345243</integer>
			<key>sha256</key>
			<string>ce16c3ee6f2a38db6870b66bdb54fce9dcf24acd1161840789e321f6faa1251c</string>
			<key>size</key>
			<integer>6035</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/bdftruncate.1</string>
			<key>mtime</key>
			<integer>1567345243</integer>
			<key>sha256</key>
			<string>98a3b25a4809b1d221d9790db6528e81c0f04e1f25beb46b8f9d0476997c5e7f</string>
			<key>size</key>
			<integer>989</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ucs2any.1</string>
			<key>mtime</key>
			<integer>1567345243</integer>
			<key>sha256</key>
			<string>50e70fe61ae25e4153663b017adebea8bd8daa75839d77ddf5e35a657628cf41</string>
			<key>size</key>
			<integer>1874</integer>
		</dict>
	</array>
</dict>
</plist>
