<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/misc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/font-daewoo-misc</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/misc/hanglg16.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>f45066327afaf83f6bccaed6412368926b297ea5103bcb2843ca74e344571195</string>
			<key>size</key>
			<integer>237492</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/misc/hanglm16.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>64b9cbbd183ed69a2efe77a50198f20e83801fc72b8a30510c16768e8d80bdfb</string>
			<key>size</key>
			<integer>239529</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/misc/hanglm24.pcf.gz</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>663ce1e6dcb789eb36c3434026cb215cff32de51f029f448d6a02e2d10524841</string>
			<key>size</key>
			<integer>353568</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/font-daewoo-misc/COPYING</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>294f786aa8f0ad8f92979d153e18f5cf7cc95d872cace25338f9c95e7b348ed9</string>
			<key>size</key>
			<integer>55</integer>
		</dict>
	</array>
</dict>
</plist>
