<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/fonts</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/fonts/conf.avail</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/fonts/conf.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/TTF</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/font-bh-ttf</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/fonts/conf.avail/42-luxi-mono.conf</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>8ad1744c314d3ec5369cd2f76f39eb2d5ad0bef7683ffaedf45bc7e34465e73a</string>
			<key>size</key>
			<integer>389</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/TTF/luximb.ttf</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>aadb5b1810dad31243e774e0c5a461d1fad9c31a347179dbcf8d5a78ab69816c</string>
			<key>size</key>
			<integer>74076</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/TTF/luximbi.ttf</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>d387aecb781f31d63a5a1f49978479d8c717c709015ccf622367191cf80db793</string>
			<key>size</key>
			<integer>69872</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/TTF/luximr.ttf</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>c01beb574c20a697cff608597083b3c7770d70a08714dee913f2c294aba70d80</string>
			<key>size</key>
			<integer>71784</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/TTF/luximri.ttf</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>1d2695df98700781cba3e5f548855772f6b348364bd4093b1064997cbae39196</string>
			<key>size</key>
			<integer>69496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/TTF/luxirb.ttf</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>5afe61a3be695d8c82070ca8cc1bf3d28d7246636d81b773278e7ef6144d1b98</string>
			<key>size</key>
			<integer>87160</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/TTF/luxirbi.ttf</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>329a56e0282752a9ebde62774fea1622b9b4e8ab86c4aa880dd12bbe8caa3879</string>
			<key>size</key>
			<integer>85756</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/TTF/luxirr.ttf</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>d574b4a5e60d6a4f2f7a4c7bf72ed7b8c8a2e0b9c7479a5423d8908a0dda2dc9</string>
			<key>size</key>
			<integer>88732</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/TTF/luxirri.ttf</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>3fbbcb7685aee5e69310edb9dfbc4d33cf4b26ffaddc1f968d13980a3c1d3204</string>
			<key>size</key>
			<integer>86396</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/TTF/luxisb.ttf</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>bd4d2920512c61d4b8b9333b38baeee42bf4b4676d8ce4f139236413c2c5f043</string>
			<key>size</key>
			<integer>69972</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/TTF/luxisbi.ttf</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>11a0092305fb3468cb9ef5cdb292d7262fd58f3d58eff279a8b1a88efc007120</string>
			<key>size</key>
			<integer>65568</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/TTF/luxisr.ttf</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>19f7bd6b9f7a400f4c7c1f1e8a817533df16f352d42050a0dbb4553f435df707</string>
			<key>size</key>
			<integer>67548</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/TTF/luxisri.ttf</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>459152bfb3bb3ceb6d9f4ee7c49ddf9c44b628648115489c330a8cd1aa93237e</string>
			<key>size</key>
			<integer>66372</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/font-bh-ttf/COPYING</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>27d47d50006773f1c0bd97661252ae27bb8cfd6951f253bd9d3ef81ed1243934</string>
			<key>size</key>
			<integer>2049</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/font-bh-ttf/COPYRIGHT.BH</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>27d47d50006773f1c0bd97661252ae27bb8cfd6951f253bd9d3ef81ed1243934</string>
			<key>size</key>
			<integer>2049</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/fonts/conf.d/42-luxi-mono.conf</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>target</key>
			<string>/etc/fonts/conf.avail/42-luxi-mono.conf</string>
		</dict>
	</array>
</dict>
</plist>
