<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/font-bh-type1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/l047013t.afm</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>a6aaca30f4508cbe3722b4d0fabcfb953ea080c55b8772a3262e7faaca91b73d</string>
			<key>size</key>
			<integer>14987</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/l047013t.pfa</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>47733dfe49f496c8d5c69adc1c6a19d2822e3c259c86b50e033bb1cb02e4e8ff</string>
			<key>size</key>
			<integer>77488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/l047016t.afm</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>d3cb66eb74818d17073294e8dcaf7093b2415f0b2f520ffa989c1062acab6e3f</string>
			<key>size</key>
			<integer>14971</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/l047016t.pfa</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>04dc9b7a4cee9444b086ae432b1ddba8befed1c9beae7d1876442d31468e6fee</string>
			<key>size</key>
			<integer>78101</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/l047033t.afm</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>08527a240268acc0c3032260be00d8b6dbafdb31556a0c1e5637c5b8b41dbaa1</string>
			<key>size</key>
			<integer>15096</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/l047033t.pfa</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>360417b1477923797b3bda9940e892b3694e7c75a43c92d926d948bf5b199293</string>
			<key>size</key>
			<integer>77941</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/l047036t.afm</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>d56ec03564b5b7ba7d4c1043dcca6a3551395f6810d600e385d7e583c82cb4c8</string>
			<key>size</key>
			<integer>15047</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/l047036t.pfa</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>d8de7fe6dbfaaaae89d85fd816c2534f94ff125cb684651d0fb0c4743a7279ce</string>
			<key>size</key>
			<integer>78500</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/l048013t.afm</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>5241400ae9dc8aa6a282ea8bbf863d2e267a048c641d1f1368aa1ada07b52f01</string>
			<key>size</key>
			<integer>31048</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/l048013t.pfa</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>6563eaf4112b444c701b030503f901ae283e640848eee3de00993432eee84e89</string>
			<key>size</key>
			<integer>70121</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/l048016t.afm</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>44748c8103f83a427f947498ab9f48c730f0ba15eb941f1a2e1c2c3904d57a04</string>
			<key>size</key>
			<integer>31403</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/l048016t.pfa</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>07de61f3d107a70e61f11dab9474c5e37e22a7541b15797bf0a8f91c5a7b62ba</string>
			<key>size</key>
			<integer>72496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/l048033t.afm</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>521471f667f49c9fdbc9f330ade36d02c2a904db136c9cec5c79166d8a5b6c04</string>
			<key>size</key>
			<integer>31418</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/l048033t.pfa</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>e975a6d0670e553b7784c768af6482a9331e593cdd0e84ca1f0a6d198581e433</string>
			<key>size</key>
			<integer>72332</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/l048036t.afm</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>1dcee2668a1eff3d12b3c543cd72ded1b0c5a8c9cb444449857fe6cdb9bb091a</string>
			<key>size</key>
			<integer>31443</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/l048036t.pfa</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>cf9446081a4d3a2b5cd577a998c3f34c01fca1f6e7b4ee8742ee6863f12b5be4</string>
			<key>size</key>
			<integer>71902</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/l049013t.afm</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>c3c78b74b3c02754454b901744a93ccfae8643f3fa841cb084487973e3955ed7</string>
			<key>size</key>
			<integer>31441</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/l049013t.pfa</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>42a10fc604e8358fe956be7e761ce59529c152962118d4da835aac16b96902f8</string>
			<key>size</key>
			<integer>93860</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/l049016t.afm</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>b9e3c32a5eb9b9a04ec476a72f95ad110c25d2d6624f6f48e9d35298959cee83</string>
			<key>size</key>
			<integer>31422</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/l049016t.pfa</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>ca5a28ea1ef7c8e67a60e8bf9dbf306a823c623aa78c8a9e52ad1f0831b27860</string>
			<key>size</key>
			<integer>92799</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/l049033t.afm</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>d1b51e547a6f3434743cf24e944aa6dd0c7d64c43e07d319f8b78119802c0c18</string>
			<key>size</key>
			<integer>31696</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/l049033t.pfa</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>f5596b83456853636ee7c5b2486eac1f022af3aff18bf3e79aabc892b0bc01b2</string>
			<key>size</key>
			<integer>102798</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/l049036t.afm</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>6c14fa9074d69ee380cf9e93ee61a90621c1fc83344ca25d6e659f78d1c239b1</string>
			<key>size</key>
			<integer>31672</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/X11/Type1/l049036t.pfa</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>8e502a168c0ea7943f394c7f55e3dd175339522e549d8b3dbb41c91353b30f0a</string>
			<key>size</key>
			<integer>94877</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/font-bh-type1/COPYING</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>27d47d50006773f1c0bd97661252ae27bb8cfd6951f253bd9d3ef81ed1243934</string>
			<key>size</key>
			<integer>2049</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/font-bh-type1/COPYRIGHT.BH</string>
			<key>mtime</key>
			<integer>1601410222</integer>
			<key>sha256</key>
			<string>27d47d50006773f1c0bd97661252ae27bb8cfd6951f253bd9d3ef81ed1243934</string>
			<key>size</key>
			<integer>2049</integer>
		</dict>
	</array>
</dict>
</plist>
