<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/fossil</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/fossil</string>
			<key>mtime</key>
			<integer>1611275199</integer>
			<key>sha256</key>
			<string>b99943fd3c303c5934ebffee682ae5fe6138aa78ac45315ae928bf967e2a60ab</string>
			<key>size</key>
			<integer>3428496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/fossil/LICENSE</string>
			<key>mtime</key>
			<integer>1611275199</integer>
			<key>sha256</key>
			<string>f65c4693891811303213aad3cc737d85114fc0ede82ec65bc0b923069b646c55</string>
			<key>size</key>
			<integer>1516</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/fossil.1</string>
			<key>mtime</key>
			<integer>1611275199</integer>
			<key>sha256</key>
			<string>49a6f43d08c46ee046980533931ec6a960e64479104d6e016a8e9234943d518f</string>
			<key>size</key>
			<integer>2909</integer>
		</dict>
	</array>
</dict>
</plist>
