<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfreetype.so.6.17.4</string>
			<key>mtime</key>
			<integer>1609803696</integer>
			<key>sha256</key>
			<string>87b791dd4f315b5f6a802e11a22b8bb4e9e183d2e8a6b75703eebb4dd2b47a99</string>
			<key>size</key>
			<integer>722928</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfreetype.so.6</string>
			<key>mtime</key>
			<integer>1609803696</integer>
			<key>target</key>
			<string>/usr/lib/libfreetype.so.6.17.4</string>
		</dict>
	</array>
</dict>
</plist>
