<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/fonts</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/fonts/conf.avail</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/TTF</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/fonts/conf.avail/69-freefont.conf</string>
			<key>mtime</key>
			<integer>1604337736</integer>
			<key>sha256</key>
			<string>036c3aeac436ed1edb4c030593ea531ae81801121363f7f64fe08496393b4ec5</string>
			<key>size</key>
			<integer>388</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/TTF/FreeMono.ttf</string>
			<key>mtime</key>
			<integer>1604337736</integer>
			<key>sha256</key>
			<string>0517b67f1e50bbcde4e54834a5fa597be2526cf3cbb69487a9fbdb0de1a83b4c</string>
			<key>size</key>
			<integer>584424</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/TTF/FreeMonoBold.ttf</string>
			<key>mtime</key>
			<integer>1604337736</integer>
			<key>sha256</key>
			<string>acd5fbb1985f9c2266c96a995b6cfba981609d598c9ce815388c1d5a8a23962a</string>
			<key>size</key>
			<integer>296284</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/TTF/FreeMonoBoldOblique.ttf</string>
			<key>mtime</key>
			<integer>1604337736</integer>
			<key>sha256</key>
			<string>f51bd5acb07ba63498bb4434f63198f45163bf97822f361b67605619b0f78ce8</string>
			<key>size</key>
			<integer>295360</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/TTF/FreeMonoOblique.ttf</string>
			<key>mtime</key>
			<integer>1604337736</integer>
			<key>sha256</key>
			<string>196b630f5572a331e9619d6791f305bc47d32159720486a38b4306da5775fc0e</string>
			<key>size</key>
			<integer>390692</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/TTF/FreeSans.ttf</string>
			<key>mtime</key>
			<integer>1604337736</integer>
			<key>sha256</key>
			<string>c80858440d8fb618e0ac5ff6f16251dbfa6b3316f00f3cdd17d477297dd87b04</string>
			<key>size</key>
			<integer>1563256</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/TTF/FreeSansBold.ttf</string>
			<key>mtime</key>
			<integer>1604337736</integer>
			<key>sha256</key>
			<string>982534a3731416a15e2756601721f26053f68bf4239011550f3dd23ce6308215</string>
			<key>size</key>
			<integer>416128</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/TTF/FreeSansBoldOblique.ttf</string>
			<key>mtime</key>
			<integer>1604337736</integer>
			<key>sha256</key>
			<string>deb48d677df0b521793df8da28729316bfcc255309aeb6dacfbd38241ac9b7ba</string>
			<key>size</key>
			<integer>342488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/TTF/FreeSansOblique.ttf</string>
			<key>mtime</key>
			<integer>1604337736</integer>
			<key>sha256</key>
			<string>43ef481308dfb3aa1103a75699cb4976139b6339eda0901df69a25533f07cf6b</string>
			<key>size</key>
			<integer>763696</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/TTF/FreeSerif.ttf</string>
			<key>mtime</key>
			<integer>1604337736</integer>
			<key>sha256</key>
			<string>658563c732eafdc851de2b3f38b27d0afcde5674b2f93440971b9693438c6494</string>
			<key>size</key>
			<integer>3303588</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/TTF/FreeSerifBold.ttf</string>
			<key>mtime</key>
			<integer>1604337736</integer>
			<key>sha256</key>
			<string>973791e2bb5ef4ba7ac9e7423f8a8d8441468da3a37c7e38ab38256011f5f261</string>
			<key>size</key>
			<integer>1310828</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/TTF/FreeSerifBoldItalic.ttf</string>
			<key>mtime</key>
			<integer>1604337736</integer>
			<key>sha256</key>
			<string>38e39596c9daec677633761324216ffda969c65b9515cf273b001521f22cb2b3</string>
			<key>size</key>
			<integer>608708</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/TTF/FreeSerifItalic.ttf</string>
			<key>mtime</key>
			<integer>1604337736</integer>
			<key>sha256</key>
			<string>1cef05c1ea5d88f0e06b212bdb0510edf65c5456523dd81ddccfe9847a77284f</string>
			<key>size</key>
			<integer>922088</integer>
		</dict>
	</array>
</dict>
</plist>
