<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/freetds/freetds.conf</string>
			<key>mtime</key>
			<integer>1606625769</integer>
			<key>sha256</key>
			<string>5a5b03be2b93b3b64b71f45f22a5a583cd69f12003be2f6b1224f9d8b4e05db6</string>
			<key>size</key>
			<integer>1154</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/freetds/locales.conf</string>
			<key>mtime</key>
			<integer>1606625769</integer>
			<key>sha256</key>
			<string>8dbd92b574b4c409c28b50a6669330ad982b8311cfc27588d57738800671902e</string>
			<key>size</key>
			<integer>370</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/freetds/pool.conf</string>
			<key>mtime</key>
			<integer>1606625769</integer>
			<key>sha256</key>
			<string>4aefc3b6cbe66bcfbbdcf493ee47f3e70a6170c3d5d1baa8741bd46350d0f345</string>
			<key>size</key>
			<integer>219</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/freetds</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/bsqldb</string>
			<key>mtime</key>
			<integer>1606625769</integer>
			<key>sha256</key>
			<string>da7a1af00110062c97ff7512ec17a0cbf33a37423a9da33c71b0650ca5cb2e06</string>
			<key>size</key>
			<integer>34880</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/bsqlodbc</string>
			<key>mtime</key>
			<integer>1606625769</integer>
			<key>sha256</key>
			<string>8e877d73af248333c956880ff2d238e2dbc726291afa254753e5d0dd11b2cd62</string>
			<key>size</key>
			<integer>26696</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/datacopy</string>
			<key>mtime</key>
			<integer>1606625769</integer>
			<key>sha256</key>
			<string>bddb59d69ecf789b1d1579e3f8f38bac896190caf1471b5ee8e11dafda98e555</string>
			<key>size</key>
			<integer>26696</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/defncopy</string>
			<key>mtime</key>
			<integer>1606625769</integer>
			<key>sha256</key>
			<string>46c04d1b261c5e688af76d52d87583ce73aa705c72c2d187d1dc472623833285</string>
			<key>size</key>
			<integer>22776</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/fisql</string>
			<key>mtime</key>
			<integer>1606625769</integer>
			<key>sha256</key>
			<string>eabeec613027a5780a02f28c916316b519a51cf38e6ae59f2128e6f5523e9462</string>
			<key>size</key>
			<integer>34896</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/freebcp</string>
			<key>mtime</key>
			<integer>1606625769</integer>
			<key>sha256</key>
			<string>1f7157a129892dcb434a0b3890293dbdf7b4f95649191ed13666b53d2142c661</string>
			<key>size</key>
			<integer>26688</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/osql</string>
			<key>mtime</key>
			<integer>1606625769</integer>
			<key>sha256</key>
			<string>15638ce39c7e33241d3970a66465d067192c0eb653ac18ec370bc20e4987efc9</string>
			<key>size</key>
			<integer>9368</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/tdspool</string>
			<key>mtime</key>
			<integer>1606625769</integer>
			<key>sha256</key>
			<string>ae1852fbca0031d9daa76d2c97626e10f874fbd43d76dc0300ce0bc6747f17e7</string>
			<key>size</key>
			<integer>305304</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/tsql</string>
			<key>mtime</key>
			<integer>1606625769</integer>
			<key>sha256</key>
			<string>6a40ee098ecd8e89a08f7958417d0c850bf96401ba73b57a9db056c35abdb674</string>
			<key>size</key>
			<integer>293032</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libct.so.4.0.0</string>
			<key>mtime</key>
			<integer>1606625769</integer>
			<key>sha256</key>
			<string>d8122cd2ad924f3aafb4f0001ba5bfcadc46ed7e05417c95db6dfe06607ef959</string>
			<key>size</key>
			<integer>374768</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libsybdb.so.5.1.0</string>
			<key>mtime</key>
			<integer>1606625769</integer>
			<key>sha256</key>
			<string>c76cf05c5daa63c30df657885fb4e5260b213fd99650f876670692664ad41856</string>
			<key>size</key>
			<integer>453136</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libtdsodbc.so.0.0.0</string>
			<key>mtime</key>
			<integer>1606625769</integer>
			<key>sha256</key>
			<string>0dcf4d944506bf07e2e69cd8686da183a2bc61a01fa4b57759c4dddbc75295e9</string>
			<key>size</key>
			<integer>456688</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/bsqldb.1</string>
			<key>mtime</key>
			<integer>1606625769</integer>
			<key>sha256</key>
			<string>807b54a624d856135d2eea1c2219138d790d1d8197e70d32ac589af67bbf2cf0</string>
			<key>size</key>
			<integer>3511</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/bsqlodbc.1</string>
			<key>mtime</key>
			<integer>1606625769</integer>
			<key>sha256</key>
			<string>522d42ce51248feb135d76e717440e7a7061677cf25a2348239ab5575d19dd48</string>
			<key>size</key>
			<integer>2384</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/datacopy.1</string>
			<key>mtime</key>
			<integer>1606625769</integer>
			<key>sha256</key>
			<string>964270a0dd0da823bb41eb9bea56ed1e769bff27150c92091916dbecc7c25639</string>
			<key>size</key>
			<integer>2416</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/defncopy.1</string>
			<key>mtime</key>
			<integer>1606625769</integer>
			<key>sha256</key>
			<string>7a7614c813cd9b6da6bf3d525c29610278213e381f126bdcfb1a01836cbdf7f4</string>
			<key>size</key>
			<integer>2620</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/fisql.1</string>
			<key>mtime</key>
			<integer>1606625769</integer>
			<key>sha256</key>
			<string>620738bbbec8acc94ed103dc4f851ee13052a405dfaae9cdeb1eb03444b2457b</string>
			<key>size</key>
			<integer>4153</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/freebcp.1</string>
			<key>mtime</key>
			<integer>1606625769</integer>
			<key>sha256</key>
			<string>21949b1c6442d7a267f5f81cca13c305f1478686ac7b03606ceb7353556f73d8</string>
			<key>size</key>
			<integer>6352</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/osql.1</string>
			<key>mtime</key>
			<integer>1606625769</integer>
			<key>sha256</key>
			<string>cc0847e226c0778cd380cc812390b91d620f0bf1334c2f78571ca5f88426d804</string>
			<key>size</key>
			<integer>2016</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/tsql.1</string>
			<key>mtime</key>
			<integer>1606625769</integer>
			<key>sha256</key>
			<string>db62423e7b11da76c1787973d427f0c9febd1957ac60484293aeaae9e4c007b8</string>
			<key>size</key>
			<integer>3484</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/freetds.conf.5</string>
			<key>mtime</key>
			<integer>1606625769</integer>
			<key>sha256</key>
			<string>bf8a2a21dacc0d8fcde7d3b9d739af4ebd89bd6ba5e6423785c3dc9c09703713</string>
			<key>size</key>
			<integer>6443</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libct.so.4</string>
			<key>mtime</key>
			<integer>1606625769</integer>
			<key>target</key>
			<string>/usr/lib/libct.so.4.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libsybdb.so.5</string>
			<key>mtime</key>
			<integer>1606625769</integer>
			<key>target</key>
			<string>/usr/lib/libsybdb.so.5.1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libtdsodbc.so.0</string>
			<key>mtime</key>
			<integer>1606625769</integer>
			<key>target</key>
			<string>/usr/lib/libtdsodbc.so.0.0.0</string>
		</dict>
	</array>
</dict>
</plist>
