<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/fuse.conf</string>
			<key>mtime</key>
			<integer>1608230231</integer>
			<key>sha256</key>
			<string>024aa16852bdbecfe3b828c7c5f7baf2db51fae72ddcd488445b99331aafebed</string>
			<key>size</key>
			<integer>694</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/rules.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/fusermount3</string>
			<key>mtime</key>
			<integer>1608230231</integer>
			<key>sha256</key>
			<string>b76fe31e660ace13e173cddf569ae06880a5413042b632a0a98e6bc5aa9e01f6</string>
			<key>size</key>
			<integer>34968</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mount.fuse3</string>
			<key>mtime</key>
			<integer>1608230231</integer>
			<key>sha256</key>
			<string>35f27a9e206a336509eda33e4ea7afd9a0fb8db3d3c28544ad140425de22f81d</string>
			<key>size</key>
			<integer>18504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfuse3.so.3.10.1</string>
			<key>mtime</key>
			<integer>1608230231</integer>
			<key>sha256</key>
			<string>642acb872a1945e353845bf4b9a67f2dee64b0087c26489c09955c500d162815</string>
			<key>size</key>
			<integer>243800</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/rules.d/99-fuse3.rules</string>
			<key>mtime</key>
			<integer>1608230231</integer>
			<key>sha256</key>
			<string>147fe82be2038bab8ecc8c5c4849bb438f6bb9fef723f5ad760897256b10b121</string>
			<key>size</key>
			<integer>28</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/fusermount3.1</string>
			<key>mtime</key>
			<integer>1608230231</integer>
			<key>sha256</key>
			<string>8f0dd53881b892b690963383ae7d579a5af3f5b1dd08a3e0c6716908d6822a08</string>
			<key>size</key>
			<integer>1352</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/mount.fuse3.8</string>
			<key>mtime</key>
			<integer>1608230231</integer>
			<key>sha256</key>
			<string>82de533e35183215d7df3fd390afa91d5dd9caf49c65766a39adf5b3f3713108</string>
			<key>size</key>
			<integer>12049</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfuse3.so.3</string>
			<key>mtime</key>
			<integer>1608230231</integer>
			<key>target</key>
			<string>/usr/lib/libfuse3.so.3.10.1</string>
		</dict>
	</array>
</dict>
</plist>
