<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/fzf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/fzf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/nvim</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/nvim/runtime</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/nvim/runtime/plugin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/vim</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/vim/vimfiles</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/vim/vimfiles/plugin</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/fzf</string>
			<key>mtime</key>
			<integer>1612389938</integer>
			<key>sha256</key>
			<string>4637b6dd2e46ce9ba25b508a78db97f0a81b6dce3e4bc0f958f08aa25cd80cd0</string>
			<key>size</key>
			<integer>3793425</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/fzf-tmux</string>
			<key>mtime</key>
			<integer>1612389938</integer>
			<key>sha256</key>
			<string>35c8e98c957f8e3f6c75cb563edf1a9f7fbf44931e6bb1e879eb49cf8b3a1531</string>
			<key>size</key>
			<integer>6211</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/fzf/completion.bash</string>
			<key>mtime</key>
			<integer>1612389938</integer>
			<key>sha256</key>
			<string>b29407c3d6ee41ebb0dbd24f4027b0217b5ed097cb76c78fc805456a8d289428</string>
			<key>size</key>
			<integer>10011</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/fzf/completion.zsh</string>
			<key>mtime</key>
			<integer>1612389938</integer>
			<key>sha256</key>
			<string>6db945dd401992b4a9ee0240c874e056a4f2bc3eb87e183d0ccf1782b641994f</string>
			<key>size</key>
			<integer>10770</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/fzf/key-bindings.bash</string>
			<key>mtime</key>
			<integer>1612389938</integer>
			<key>sha256</key>
			<string>4c7d6306f6cbd7b9933e82a6695581c28e355c2c362bec3a887cc3519577e66c</string>
			<key>size</key>
			<integer>3761</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/fzf/key-bindings.fish</string>
			<key>mtime</key>
			<integer>1612389938</integer>
			<key>sha256</key>
			<string>2ef44a4ac9e71f9228c0b9b7b3f60cd5dbadd4ede7cf8b22604d43d100dc23d9</string>
			<key>size</key>
			<integer>5355</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/fzf/key-bindings.zsh</string>
			<key>mtime</key>
			<integer>1612389938</integer>
			<key>sha256</key>
			<string>70cd188657e04248369c7e1f8c63a4a90ceb49f30152c0a101cba2e0e39a9a58</string>
			<key>size</key>
			<integer>3587</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/fzf/LICENSE</string>
			<key>mtime</key>
			<integer>1612389938</integer>
			<key>sha256</key>
			<string>2ed748c9f353b60c72ed71cb331f5af47c2dfc807f3884e06231d4a26818d559</string>
			<key>size</key>
			<integer>1085</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/fzf.1</string>
			<key>mtime</key>
			<integer>1612389938</integer>
			<key>sha256</key>
			<string>bd838835af8c69e4360b9defe01e9121e01991f81cd7998b169332e874427a91</string>
			<key>size</key>
			<integer>29456</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/nvim/runtime/plugin/fzf.vim</string>
			<key>mtime</key>
			<integer>1612389938</integer>
			<key>sha256</key>
			<string>c0137a1952c1fd62a557b7ded82ce6dd937b0ef70b615a46fc9d30aabc6e937c</string>
			<key>size</key>
			<integer>29132</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/vim/vimfiles/plugin/fzf.vim</string>
			<key>mtime</key>
			<integer>1612389938</integer>
			<key>sha256</key>
			<string>c0137a1952c1fd62a557b7ded82ce6dd937b0ef70b615a46fc9d30aabc6e937c</string>
			<key>size</key>
			<integer>29132</integer>
		</dict>
	</array>
</dict>
</plist>
