<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/profile.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/awk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/profile.d/gawk.csh</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>9ba2af9853121df6dd5edff9254a2946e39eab8dc6513348fea28f739ee96648</string>
			<key>size</key>
			<integer>1107</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/profile.d/gawk.sh</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>70621a3b586d3d523b020e76977633b444a70013ba50e1ea901a3a07a676f15f</string>
			<key>size</key>
			<integer>757</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gawk</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>ff4fd9dd6f5dad2b19abf3f08d5575ff2692c4f1a83db50d677ca87b00c2e2c4</string>
			<key>size</key>
			<integer>649608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gawk-5.1.0</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>ff4fd9dd6f5dad2b19abf3f08d5575ff2692c4f1a83db50d677ca87b00c2e2c4</string>
			<key>size</key>
			<integer>649608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gawkapi.h</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>be7ae21b2e4e1e2c8cbc264a0a1efc07f0cb855d9f43a06dd8f618638baba64a</string>
			<key>size</key>
			<integer>40645</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/filefuncs.so</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>be134d5067366682234aaf3e996beda97940b62b6a2583af669937e00432429f</string>
			<key>size</key>
			<integer>39120</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/fnmatch.so</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>8056ae7f8a0223cc1d32c88806b1fbb62f527e9a0243c4983f52bc631722caa8</string>
			<key>size</key>
			<integer>14376</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/fork.so</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>21d8fd9e3a44c728f4245f5aea81b5476b60200e81971cee2c62661b2b62d952</string>
			<key>size</key>
			<integer>14392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/inplace.so</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>3185f6523084b211578996aaccc36cc4d06982e5ac6ef2cec230e1f8110a45f1</string>
			<key>size</key>
			<integer>14384</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/intdiv.so</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>a6bc2d82ab5ac2aa5feb020e5561a808d1eb176cae8ccf70303281b64c895c3a</string>
			<key>size</key>
			<integer>14304</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/ordchr.so</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>09e0fb75d7c65d02f9ecb3c6f83cb4afbcd8e7834958e68f55d10545e26a0544</string>
			<key>size</key>
			<integer>14352</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/readdir.so</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>c9564b3664cc0d7cc4e7d5b079e6dba55739477f42ed44184fd62e2fdddb0913</string>
			<key>size</key>
			<integer>14288</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/readfile.so</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>18bcc2fcd504ff712a7251debdb28da6d9b01d28dc4b01f99b0a060442a6df23</string>
			<key>size</key>
			<integer>14352</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/revoutput.so</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>6cddab7a2475dfe256d539185df8b89657d3f11ca3ba6fb531980a8204a5fc9e</string>
			<key>size</key>
			<integer>14288</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/revtwoway.so</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>a5620c008bfcd1188cf1d20761e4a9bd377edd915186be68952356432201b97b</string>
			<key>size</key>
			<integer>14288</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/rwarray.so</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>873a06c92c2671924d2d3531ec4e252edc608183c76bdd2165ee609bc2919aaa</string>
			<key>size</key>
			<integer>18448</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/time.so</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>e80589843ea8e979d23b29fdb9c4e0a4b57bbe8bf46bc5f90efa96b0b2883326</string>
			<key>size</key>
			<integer>14344</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/awk/grcat</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>9c6a2a89cb2d0215649c411276f1df1c03d879946c639ae0f23b22d5930f0f91</string>
			<key>size</key>
			<integer>14400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/awk/pwcat</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>6592ac5ea732dd521698708ff687ba3a3279d4656f2a64a73eb0922fb37cac84</string>
			<key>size</key>
			<integer>14400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/assert.awk</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>07f9e0362956d40ea6a92bedd4f292666185d038885387cb00adb5ade1582d93</string>
			<key>size</key>
			<integer>383</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/bits2str.awk</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>d7529387edb12e4054b384e96bc4911cb3b0e544602fb1e9de8a983f5fd46c5a</string>
			<key>size</key>
			<integer>334</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/cliff_rand.awk</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>41b20eba1d788cdc7d64c3860315b3bb8613f80b5f7d8f04774c31caef64dd42</string>
			<key>size</key>
			<integer>307</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/ctime.awk</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>cf1b816f600516ec0a4f84901e12c48f44c5309bd6bd7b32f9a17abd026f2b86</string>
			<key>size</key>
			<integer>234</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/ftrans.awk</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>9957afaddfec5f2c6bc4f9cb12c576e6c367c1b681a472e91ced9caff5292722</string>
			<key>size</key>
			<integer>315</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/getopt.awk</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>0144e3be4c5abc67bdace3b41a03cfea94a778268ca4df7efe5931737306e888</string>
			<key>size</key>
			<integer>3278</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/gettime.awk</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>7baacb670919547d1fc2ec186d6ad937c6f7cc2d03e0b2e8f6802742dc7c6023</string>
			<key>size</key>
			<integer>2491</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/group.awk</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>dcabe4d2e2f93972471e7eade26a7779e0c160c23570d3b32509433756083073</string>
			<key>size</key>
			<integer>1765</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/have_mpfr.awk</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>40d45f7e243e4f7faa1335852c5839fa80c60d70eccd94918cee7edbc58fd9a4</string>
			<key>size</key>
			<integer>221</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/inplace.awk</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>c9420b8b4cef25e7f7982800a24d7ecdf2708e9514e8d0f48f471b6bdfec7f1e</string>
			<key>size</key>
			<integer>2340</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/intdiv0.awk</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>c184f8a175c7226e9c567a8bb91e5e67ed8e239769012ad16f93c48f8e328bfd</string>
			<key>size</key>
			<integer>462</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/join.awk</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>9af26157a40c1e1c09dfa73152e07cbff4c4f4b31b7bf8132572270da6dfc052</string>
			<key>size</key>
			<integer>378</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/libintl.awk</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>2b3a65b9053d2f4f08733870ef2cf1b5ee8aeba74dc6b9b1d1610fc0d9ac0eee</string>
			<key>size</key>
			<integer>238</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/noassign.awk</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>7ffc84e6d111aaf56cb0d3756bbcbd73e2510069ee6fc05bc1ea0e412884663e</string>
			<key>size</key>
			<integer>422</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/ns_passwd.awk</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>65670dbe643091de33dd490b71609677c875166d0aa59378a6576f979ba9886a</string>
			<key>size</key>
			<integer>1282</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/ord.awk</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>e7d37acc67a101dd2e23c19ed3f9dfd5d01ea93af63b2ebc8679976e1ef051ce</string>
			<key>size</key>
			<integer>937</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/passwd.awk</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>bdaf71595b473e0cfffaa426f451e1cbeae6d8a9047c5e78cf254b33586ac5eb</string>
			<key>size</key>
			<integer>1199</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/processarray.awk</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>ac1e8e8dee8105c5c1ab2a1b87fcb668885473b7e90b7b0c137275742c704166</string>
			<key>size</key>
			<integer>355</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/quicksort.awk</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>b769b7a892acedcdb98d18c3cf05544d4d85488a0378aaacba0c6e2ddb71bf35</string>
			<key>size</key>
			<integer>1031</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/readable.awk</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>06e27abeb78eff929cb1f44256f195fe2d86ebb62814f731f420df286c8f1094</string>
			<key>size</key>
			<integer>489</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/readfile.awk</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>751d619465eb57c9d6314eb2a97e783ff84ff108cd1c4efeff8f62400dd77609</string>
			<key>size</key>
			<integer>267</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/rewind.awk</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>878279434b70956b26eca128a0939c1a14da97b1626fe402eb76d44485fbc268</string>
			<key>size</key>
			<integer>404</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/round.awk</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>28b705d2e2b01cc3ed450cc42e2ff99b058b55ef5a49cbc483aded7bdfa58aff</string>
			<key>size</key>
			<integer>661</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/shellquote.awk</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>78e7df6e31f55536a4c3853f6d54644877aa892ed7fc6e1d4dc9080284d78565</string>
			<key>size</key>
			<integer>472</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/strtonum.awk</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>abd27d285278e83655617efbd8e09b5f5271dd6ede37847b0ebd6632be2dde74</string>
			<key>size</key>
			<integer>1454</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/walkarray.awk</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>3a7f02f135e91bbf1c1cd498ea0e1489802d58c83bb4d112c0a407593db31dd8</string>
			<key>size</key>
			<integer>214</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/zerofile.awk</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>c20a5e00b43fbfb9ea420da93f64422ce13d4aebb3b725e2ac3ba0102f169bee</string>
			<key>size</key>
			<integer>424</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/gawk.info</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>7a9f17aadef166645a501cf2ff9719201c0b363a292f8eb656b8e605c6dd5a86</string>
			<key>size</key>
			<integer>1652538</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/gawkinet.info</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>ddca64fa900fe60539aa4a8e62951712ae91a131474e8bde5cf3de338c583a7a</string>
			<key>size</key>
			<integer>209502</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/gawkworkflow.info</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>147dfed76ace3fc75bed59b4d58864cc09b22ace1a3e7e103538c69c5f9451d5</string>
			<key>size</key>
			<integer>86289</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/gawk.mo</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>726ca1e1b7d5fef4d4583895a820a13333914e464ac5402167993ec057ac179b</string>
			<key>size</key>
			<integer>61041</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/gawk.mo</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>9ca87e31066876b1d134a67362b04c3cbbf0a061799813f3334cf6ec2d0018e2</string>
			<key>size</key>
			<integer>37424</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/gawk.mo</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>892a353ea91a863106959bed6041ccd902489b042eae797669abdc3e0ca94c22</string>
			<key>size</key>
			<integer>90234</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/gawk.mo</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>d3cd850cc4ab301070c6d2fbbbb6499c65af661dcc0e9bf7373beea175b5a993</string>
			<key>size</key>
			<integer>67438</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/gawk.mo</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>78626832b479eb74788b1a879444713938b25a2bb3be6aaac5f9c405bafc7045</string>
			<key>size</key>
			<integer>66376</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/gawk.mo</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>da09430f5f232916cc2b440df04cd3609cdf7f49163e5cb844e782f088c8fc2a</string>
			<key>size</key>
			<integer>90796</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/gawk.mo</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>bafb1681cba9d82df2374148ca3e0cd3293d1f59d39739863c5c2eb9effba40d</string>
			<key>size</key>
			<integer>55664</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/gawk.mo</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>618cc145eadecbcc549dd0ad9ec28d09a51de1438ab621131c7a3cf162d1bd14</string>
			<key>size</key>
			<integer>86434</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/gawk.mo</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>632c178512d723d75605997a7cd77f33ed50c4b8645a71cc52535eb746220b53</string>
			<key>size</key>
			<integer>37706</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/gawk.mo</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>35b2fa8d8778d118eb501b237bd217a6c9a28c4aecd8bdafce1c12fb5bc215f5</string>
			<key>size</key>
			<integer>79960</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/gawk.mo</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>40dd52656bd631fbb771de145c080507053c4e4042eac2f5febbadd9d02119bf</string>
			<key>size</key>
			<integer>1041</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/gawk.mo</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>5f0c37237a3d5d84ea51693fa160cbad5d6aa8501db8242a3159da56f2ed3942</string>
			<key>size</key>
			<integer>80374</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/gawk.mo</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>5f5a2c2864e6208686f3f1d14ebf3dbdcf1b727bf20070b54745902ea873c486</string>
			<key>size</key>
			<integer>46988</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/gawk.mo</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>633d0f041d73c328f5b3d273bf2fd5901888f0b1017d97eb3e055647d7c63436</string>
			<key>size</key>
			<integer>85549</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/gawk.mo</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>b28a691915731f45da7f2b75e075be1dc4878cf2264c063a12c8670909183694</string>
			<key>size</key>
			<integer>86915</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/gawk.mo</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>4ed2711d705d7fdba09a5f50e8e11f409ae5c3d12d45cfdd89e5529efa241841</string>
			<key>size</key>
			<integer>86507</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/gawk.mo</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>dce3e1cfd1aa4d29632d29da6b2353cbd65feea83d297a2c04391545a348e864</string>
			<key>size</key>
			<integer>75557</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/gawk.mo</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>8125d4de16ca60241922f1cee79265018f32fb326c4dac24e21151d62ee41407</string>
			<key>size</key>
			<integer>69145</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gawk.1</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>ad8ecd070541dbaee4b7cb0969695637c1fe29917c5a2e350b4127d67c4877c5</string>
			<key>size</key>
			<integer>95016</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/filefuncs.3am</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>c1a0484c97e0287509435bf45eb7a8e9683ba83d5506b7966ff13b42199dd926</string>
			<key>size</key>
			<integer>10590</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/fnmatch.3am</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>dbce8fbf9f2f135a7046e22b7d262a65c1337fbb4888824b5bd2ec8658e12eb0</string>
			<key>size</key>
			<integer>3109</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/fork.3am</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>d3e6be8b2619cd9cec3775f72515159a67b8f03e37bfe6113044fb4f7b355ab3</string>
			<key>size</key>
			<integer>2649</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/inplace.3am</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>01a66789d59886ea05f6b9e70b9060d872dd14e51f200a61f3a99b3d5cdf7ea0</string>
			<key>size</key>
			<integer>3020</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/ordchr.3am</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>fe8f8c792480b0301091ccb9e3db12e11c1433a97ddcd64551494187c8ccafa5</string>
			<key>size</key>
			<integer>2204</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/readdir.3am</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>fa442316184998b9c3483a0569c2beaf7d145cee408a7a528b84517d8270ea27</string>
			<key>size</key>
			<integer>2826</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/readfile.3am</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>3e9cec15d472b87abe0a28e6f0ed6fcb01bc9c76372205078abde18323c7908a</string>
			<key>size</key>
			<integer>2439</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/revoutput.3am</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>0db3e1fad27c88568075b62fab7b088f63b8ff9c9e9206d8193cd449bd276087</string>
			<key>size</key>
			<integer>2102</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/revtwoway.3am</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>1904e389aae34f41d565b34e357d203943e1f3270535716dc30a03e42cb3a2e0</string>
			<key>size</key>
			<integer>1988</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/rwarray.3am</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>35be73352027d89d497f0e9addfae4f481ae56df7595b23644bae2aec9b22401</string>
			<key>size</key>
			<integer>3180</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/time.3am</string>
			<key>mtime</key>
			<integer>1586956595</integer>
			<key>sha256</key>
			<string>71532cd626dfe0fc02246a9a1481762296fdfe7301e73c6c4bbbbb12ae7836fb</string>
			<key>size</key>
			<integer>2740</integer>
		</dict>
	</array>
</dict>
</plist>
