<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/gdbm_dump</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>sha256</key>
			<string>18e21d2f7cd03b2d90774d83e993a784886c285540e1e99ccfbf13f4d27fecbf</string>
			<key>size</key>
			<integer>23008</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gdbm_load</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>sha256</key>
			<string>c80710fed87406e48a7dc372742d1108f1920219e18b8f72d7ebb4c728b6be34</string>
			<key>size</key>
			<integer>31456</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gdbmtool</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>sha256</key>
			<string>e8ab03d80957e047555a92a7b85b0bb21f7da2517e770c2ad9873239d102895e</string>
			<key>size</key>
			<integer>113344</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgdbm.so.6.0.0</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>sha256</key>
			<string>f9988a1dd0872f558b5a743324d11e6164639c340fb2f8506c6284e0bc78817a</string>
			<key>size</key>
			<integer>59488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgdbm_compat.so.4.0.0</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>sha256</key>
			<string>2c64236fce899e28e8ce4e8ac696ca1fd7209f3173afe4002203aa0990859882</string>
			<key>size</key>
			<integer>14176</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/gdbm.mo</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>sha256</key>
			<string>eafcdc713d89e20ec4da8e1ccecb931f09cb436988f5a5bd5113ad80d5d6ca5e</string>
			<key>size</key>
			<integer>14387</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/gdbm.mo</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>sha256</key>
			<string>34ff88212bc3140dd10578206b91266c5f6d6a5a573a50f8d8fef6abc98ca945</string>
			<key>size</key>
			<integer>16763</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/gdbm.mo</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>sha256</key>
			<string>1d58fabd9c78ed2d3b5d3d6b0a535ec10d1d1f4cfc8ebd7f7639eca93162d06a</string>
			<key>size</key>
			<integer>16039</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/gdbm.mo</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>sha256</key>
			<string>10bed6eb1f5cc2214723a66eb49c87f5f9d180b5587f127c37c491ab378d43b0</string>
			<key>size</key>
			<integer>14847</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/gdbm.mo</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>sha256</key>
			<string>a6b6a607025402e2c756d449e2854dcadffce37d27dae9c960430f3003f8a6e2</string>
			<key>size</key>
			<integer>12299</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/gdbm.mo</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>sha256</key>
			<string>3a993f0a1e9d4a55cbfcb8871eeeea36d92c2100fac4e758ddd0e7385c31f4f7</string>
			<key>size</key>
			<integer>17153</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/gdbm.mo</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>sha256</key>
			<string>dabe6451b480a182ea0f17fabe2801b773a79621da063bd8eb7ec269f518832a</string>
			<key>size</key>
			<integer>6164</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/gdbm.mo</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>sha256</key>
			<string>403f0239e1c947659681469312883f87401b94cd9dcaba758a0c0a87df5f07c3</string>
			<key>size</key>
			<integer>16737</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/gdbm.mo</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>sha256</key>
			<string>3c058edd9df1406c34b7c00f6c8272d739e33450218a66c72317aa70ac299dac</string>
			<key>size</key>
			<integer>16594</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/gdbm.mo</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>sha256</key>
			<string>003114b13ec1b85412f8cd2768d76f28df7bed5681d7275730ca9c28fd59f7af</string>
			<key>size</key>
			<integer>21254</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/gdbm.mo</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>sha256</key>
			<string>0d679737ef4b3cc9fab697343d558c1257389de7e102fb2d6741bf476501cc4a</string>
			<key>size</key>
			<integer>21057</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/gdbm.mo</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>sha256</key>
			<string>fbe9018abee4762b89e5a916a5ddea242cb8865e314242c8535ec3d064b286ea</string>
			<key>size</key>
			<integer>16096</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/gdbm.mo</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>sha256</key>
			<string>0e4f7ad22e175ddb3ed5cae27bea2823dfea7042f718b2efe1f1fcc240f2e6da</string>
			<key>size</key>
			<integer>21800</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/gdbm.mo</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>sha256</key>
			<string>42260750f0b5ce48574d501ec3197430ac17028809097502dac363eee337fa9c</string>
			<key>size</key>
			<integer>18101</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gdbm_dump.1</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>sha256</key>
			<string>5856f24cf48a76987c7d5688c4346e8c1de71a46253cc4ba105eb0df3a5a2c61</string>
			<key>size</key>
			<integer>2860</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gdbm_load.1</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>sha256</key>
			<string>daa9caddc46b84c51be33ffe0332f7f8c51d1b4b8c713969b325dd44cd184c75</string>
			<key>size</key>
			<integer>3334</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gdbmtool.1</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>sha256</key>
			<string>69b69c16c36222ab0a4ed4e157874371101ddba1d16daa07e2079998da295f21</string>
			<key>size</key>
			<integer>13999</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgdbm.so.6</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>target</key>
			<string>/usr/lib/libgdbm.so.6.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgdbm_compat.so.4</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>target</key>
			<string>/usr/lib/libgdbm_compat.so.4.0.0</string>
		</dict>
	</array>
</dict>
</plist>
