<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/python</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/python/gdb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/python/gdb/command</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/python/gdb/function</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/python/gdb/printer</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/syscalls</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/system-gdbinit</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/gcore</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>d5fd2bd4c772eaa263df640ce37232e9f5503b5639aa59529f0d614610e3d1ca</string>
			<key>size</key>
			<integer>3477</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gdb</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>30bad10415e93861cc4aa27c4236e8835cae675c55cffdefdbe4d5b428e7ee70</string>
			<key>size</key>
			<integer>8158832</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gdb-add-index</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>9194d4edbb8b10e1168ce2de9b55a1bd1fd644b36475e7abd4fbbd3856478e26</string>
			<key>size</key>
			<integer>4045</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gdbserver</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>223452554e9b2fd1c6986cbd128f02688b65ba06b4e6ac23407189de8f65c94d</string>
			<key>size</key>
			<integer>524824</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/python/gdb/FrameDecorator.py</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>8f4a7b72a467fba58efc6f7a73fb2a3720a29fb8b2b284a207b47f84fc2df273</string>
			<key>size</key>
			<integer>10392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/python/gdb/FrameIterator.py</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>244b4dbffe69d57c4b6811a4593e933e484f4c820572da831601eea09ad8f952</string>
			<key>size</key>
			<integer>1577</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/python/gdb/__init__.py</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>237fc7264f9efc6307247d567ac46ffd101f638274f46274c1eed0ac96bff548</string>
			<key>size</key>
			<integer>6758</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/python/gdb/command/__init__.py</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>656714d342b4dc1f1b06a35b4680f4c5e6c33fc595d12da302d9b5d8adf69cb8</string>
			<key>size</key>
			<integer>694</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/python/gdb/command/explore.py</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>a4b76118992055a5054934408f58ae1065724a5bccf7342486a5a6f9e3697195</string>
			<key>size</key>
			<integer>26692</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/python/gdb/command/frame_filters.py</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>ecc8518322cc34c0dfb2628bee5912f1e64cb1256c0e60d2ecca8f41a5af296d</string>
			<key>size</key>
			<integer>16256</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/python/gdb/command/pretty_printers.py</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>96ce03d13f4527dc7f65d8592632e7c4a59907b567e7bafc844afd6801081571</string>
			<key>size</key>
			<integer>14373</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/python/gdb/command/prompt.py</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>8b14cb20000486a649b2ab30cc7a8b4e9f80aaa0bdeef9e13c970eb9eb08611d</string>
			<key>size</key>
			<integer>2059</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/python/gdb/command/type_printers.py</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>234a8d3094edf2519557468c9eaa51f20d616aa80d8fb24b2d210e68bf9b4c67</string>
			<key>size</key>
			<integer>4393</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/python/gdb/command/unwinders.py</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>4b447c298be00e8d5652c3aed97adae0f87301542df6d5a5907fc18d391c3de1</string>
			<key>size</key>
			<integer>6521</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/python/gdb/command/xmethods.py</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>c83c885e87c90a61471b0bbb7b0205d71c7f66e7c223b66662291ea95feb70c1</string>
			<key>size</key>
			<integer>10032</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/python/gdb/frames.py</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>6f6b22e35c7d8acaeee32fe80f5cafa7a629e4937c6d346624732bbf3b255027</string>
			<key>size</key>
			<integer>8031</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/python/gdb/function/__init__.py</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>800d73a0262cb2c890a657bb364ca9a5fd938d987d9663c9af54e2e879926b43</string>
			<key>size</key>
			<integer>692</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/python/gdb/function/as_string.py</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>a73ac42a5e7081e7e2238e38abb634ff376e05c9a9de7ba3deaf3affb2e10676</string>
			<key>size</key>
			<integer>1048</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/python/gdb/function/caller_is.py</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>eb2079dd4ab268b42872cf77eb31959c0ae179ac46cd8de4201be92a41af9f18</string>
			<key>size</key>
			<integer>4809</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/python/gdb/function/strfns.py</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>850f98335455026e9e128959d5217d1fcfa1f641a398f106b9e8c119fa6e1f60</string>
			<key>size</key>
			<integer>2683</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/python/gdb/printer/__init__.py</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>bac5cac9d38f565cf3d4a973cdff2e52c3fdead8d7bfe75d79213117e040b4b2</string>
			<key>size</key>
			<integer>692</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/python/gdb/printer/bound_registers.py</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>1bf7acf2fb665ac8fe13c2028e403777df74fcdfd45997b9c4dfb15f081f1c8a</string>
			<key>size</key>
			<integer>1500</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/python/gdb/printing.py</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>b9e62eb4988e19996849d88e3aa21cae9e92a22df5a5bc9c2deb8a9564a8f843</string>
			<key>size</key>
			<integer>10913</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/python/gdb/prompt.py</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>439165a7b2503bd2fe8fc8d19ed09b3565f0ae0cabbf869f76ed7cb27d2cd6ce</string>
			<key>size</key>
			<integer>4209</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/python/gdb/types.py</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>a1ce1868ded1d7b45bb97bf2785180f3efa6a36bd05ebbf83ddc8e0ef1f8d8ac</string>
			<key>size</key>
			<integer>5530</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/python/gdb/unwinder.py</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>1ff1146a269a537aa4bdac9f78f3b361f056dad4596700aceef4e05bfb7e7b56</string>
			<key>size</key>
			<integer>3137</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/python/gdb/xmethod.py</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>281afcff3bc4ec242e70e5d75356c597703c4f90bc472c4b86683e4828976b29</string>
			<key>size</key>
			<integer>11077</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/syscalls/aarch64-linux.xml</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>5dcbc2f068f1b75dfd0cc125b447f4715b642c18736ea6d4daa50129a495bad0</string>
			<key>size</key>
			<integer>14320</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/syscalls/amd64-linux.xml</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>8c786096683d498ddefe212c7aaa83bd92652c7158632d6e6f475d4040251922</string>
			<key>size</key>
			<integer>16310</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/syscalls/arm-linux.xml</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>6ee59cc38b6c5b5c1a20e62c142edbb422c91e53cc7ba920363c807b03932ec5</string>
			<key>size</key>
			<integer>21107</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/syscalls/freebsd.xml</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>84538ed0d8fc34ea5bf47c404adc5950c6a379c46603c94b535497401de2dd2f</string>
			<key>size</key>
			<integer>21887</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/syscalls/gdb-syscalls.dtd</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>454ecb1be055f2feca529b5cbf6f906ebb813cf480062062751b83cd0fa8b952</string>
			<key>size</key>
			<integer>504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/syscalls/i386-linux.xml</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>d3101bae1c7ce204e21f47c3692520a294021d8360f3360e4e3faefc7792a0f6</string>
			<key>size</key>
			<integer>17323</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/syscalls/mips-n32-linux.xml</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>313dd57d5e8108245780cb560d0d9269bbabfedbe109cbab4ed6bbec465df30d</string>
			<key>size</key>
			<integer>17121</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/syscalls/mips-n64-linux.xml</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>50481c8bceb8bfa8b6515b86347bc5ab6803f3afb4211e112cec979abe3d3774</string>
			<key>size</key>
			<integer>16708</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/syscalls/mips-o32-linux.xml</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>1facc63495fc4885b5cf7764a585e5d93ebf9196bb6fa38637933f67e3510cca</string>
			<key>size</key>
			<integer>18507</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/syscalls/netbsd.xml</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>32062ab46c5ab76c67008d702363ed8258653c7aaa673483bf5a7b6b33423355</string>
			<key>size</key>
			<integer>20846</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/syscalls/ppc-linux.xml</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>0c7bece2a1464277e36c56822acb913ac534ff0187c82c0872f34444039399b5</string>
			<key>size</key>
			<integer>15712</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/syscalls/ppc64-linux.xml</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>604b992e3a3fe8d9ffb9f03adef59bfe74c70dbab53a6f9e43fd92cb9729b919</string>
			<key>size</key>
			<integer>14754</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/syscalls/s390-linux.xml</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>88bbdb4f171c31d4811bf2d089fd5dfe88511e2baae04d7a614125656aadf668</string>
			<key>size</key>
			<integer>19105</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/syscalls/s390x-linux.xml</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>cb5b738f92bfb832ba967583905418108e9d1a8d8863ccc4f2d4de705df33c5d</string>
			<key>size</key>
			<integer>17464</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/syscalls/sparc-linux.xml</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>31d7a958de5bbe7ff48bd0ca30d9a2c89bdaae3453c797dfeeb2da473d9f6110</string>
			<key>size</key>
			<integer>18017</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/syscalls/sparc64-linux.xml</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>826460321b000122a22c90cfbe925f92bf385dbd593392fc14217032d8763e8b</string>
			<key>size</key>
			<integer>17139</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/system-gdbinit/elinos.py</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>604eaec2fb7fa49e8daa0088dba98b53404d33105dd8e6f5fd82685c51f2ec1c</string>
			<key>size</key>
			<integer>3080</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdb/system-gdbinit/wrs-linux.py</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>235af1d6ebf7559530b6cc5275d60f4bdc47e3ef3edb354daff8bd44edeece48</string>
			<key>size</key>
			<integer>1005</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/annotate.info.gz</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>d0449e1b04af573b4b493e4b41347211b262acb9c59c3201833b05501dcacf9f</string>
			<key>size</key>
			<integer>15346</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/gdb.info.gz</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>7ea0e65da749c62ce444fad03d44debc5b2bb7689c0c74e1f77d81f645638197</string>
			<key>size</key>
			<integer>619093</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/stabs.info.gz</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>48bb37e169d99e1fc10316dd39719f71a2732babb77f611352363503b393c894</string>
			<key>size</key>
			<integer>54306</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gcore.1</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>ae3b5597ab7618b6e56376737efa2f914e29507da1457d14e4b256bf1075d4e8</string>
			<key>size</key>
			<integer>6501</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gdb-add-index.1</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>964908e9f76db2cd1858c378bb650183bbcd4fd6ba1dfa4bb0519446354147dd</string>
			<key>size</key>
			<integer>6536</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gdb.1</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>1686ce6dd04b5f6ca6c73d7122f42b28ffc6d5b1fe6d6f95878e3e8d28de94cc</string>
			<key>size</key>
			<integer>13420</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gdbserver.1</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>1c7e000ce09901183d10f4763847b95ee5649e30d08578235877234b4fb09b86</string>
			<key>size</key>
			<integer>14121</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/gdbinit.5</string>
			<key>mtime</key>
			<integer>1605668407</integer>
			<key>sha256</key>
			<string>f44ede0cfe2e0ddaff6644b496535933e43e5fa008e88197b0af9d0eb417ca28</string>
			<key>size</key>
			<integer>7600</integer>
		</dict>
	</array>
</dict>
</plist>
