<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gdbm</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/include/dbm.h</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>sha256</key>
			<string>d6cc98ccf0aaa3c80422c11d7878fbfabffe8551c89c89fc1f8579921c7277cb</string>
			<key>size</key>
			<integer>1414</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gdbm.h</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>sha256</key>
			<string>93d3b3a49e393022ea784593c3f9532b06c5c50754c9dbc72e0b5dd70bbaf43a</string>
			<key>size</key>
			<integer>10345</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ndbm.h</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>sha256</key>
			<string>4058c79b858bcff681c47a1162e6a1992e553f075abfd65868e2ad837d484440</string>
			<key>size</key>
			<integer>2454</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgdbm.a</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>sha256</key>
			<string>abd28a8145bed22227714249509e8f68040eca45e6f87b9d201a8fc293c333e0</string>
			<key>size</key>
			<integer>116690</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgdbm_compat.a</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>sha256</key>
			<string>05e155a31fd9a58befab5eb3564f4c8294050b807166c3088d430dc88ec393f4</string>
			<key>size</key>
			<integer>27772</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/gdbm.info</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>sha256</key>
			<string>0e3cffdd7fb985912295b45fe34cf0d9b380167fdcd366cd7cb8991c3314ef59</string>
			<key>size</key>
			<integer>142786</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/gdbm.3</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>sha256</key>
			<string>ba87ce4607fab620ed473024a6afec2e17103d58ad37c0b5cab822f5f315145a</string>
			<key>size</key>
			<integer>16597</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/include/gdbm/dbm.h</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>target</key>
			<string>/usr/include/dbm.h</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gdbm/gdbm.h</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>target</key>
			<string>/usr/include/gdbm.h</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gdbm/ndbm.h</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>target</key>
			<string>/usr/include/ndbm.h</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgdbm.so</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>target</key>
			<string>/usr/lib/libgdbm.so.6.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgdbm_compat.so</string>
			<key>mtime</key>
			<integer>1613496866</integer>
			<key>target</key>
			<string>/usr/lib/libgdbm_compat.so.4.0.0</string>
		</dict>
	</array>
</dict>
</plist>
