<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gdk-pixbuf-2.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gdk-pixbuf-2.0/gdk-pixbuf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gdk-pixbuf-2.0/gdk-pixbuf-xlib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gir-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/gdk-pixbuf-csource</string>
			<key>mtime</key>
			<integer>1578409217</integer>
			<key>sha256</key>
			<string>acf6ece6b94f915f0b7f62bbdba7df3e5e1d77a66568b3e558451d7041a2caa7</string>
			<key>size</key>
			<integer>14432</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gdk-pixbuf-2.0/gdk-pixbuf/gdk-pixbuf-animation.h</string>
			<key>mtime</key>
			<integer>1578409217</integer>
			<key>sha256</key>
			<string>736f23f89a160a2865006b43b13cc7b1fabec189864f02e7278560a51d37b1fe</string>
			<key>size</key>
			<integer>9902</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gdk-pixbuf-2.0/gdk-pixbuf/gdk-pixbuf-autocleanups.h</string>
			<key>mtime</key>
			<integer>1578409217</integer>
			<key>sha256</key>
			<string>149c5d60ea9468c559ee22958f14dae03f6b98944a866414fe31672bc3f6c50e</string>
			<key>size</key>
			<integer>1521</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gdk-pixbuf-2.0/gdk-pixbuf/gdk-pixbuf-core.h</string>
			<key>mtime</key>
			<integer>1578409217</integer>
			<key>sha256</key>
			<string>daf111b34ca74a6c4626b1bcef30ab1445fbd80d757e0bec2277af598b2c6be1</string>
			<key>size</key>
			<integer>21908</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gdk-pixbuf-2.0/gdk-pixbuf/gdk-pixbuf-enum-types.h</string>
			<key>mtime</key>
			<integer>1578409217</integer>
			<key>sha256</key>
			<string>7fcd3497d67ba6484ef675e883872b5fc4ac80b90e56a74e17999a0d3bf890f5</string>
			<key>size</key>
			<integer>1468</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gdk-pixbuf-2.0/gdk-pixbuf/gdk-pixbuf-features.h</string>
			<key>mtime</key>
			<integer>1578409217</integer>
			<key>sha256</key>
			<string>25e328f6e157dfff9b0028786e8d6d7af6520cea3ddbde55ee1af4b4aa5c49a2</string>
			<key>size</key>
			<integer>3553</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gdk-pixbuf-2.0/gdk-pixbuf/gdk-pixbuf-io.h</string>
			<key>mtime</key>
			<integer>1578409217</integer>
			<key>sha256</key>
			<string>18dcd8f3233dfced879a1ec8650c1cfe95e5f6e3e7eb6f342a4d3090c8cb2222</string>
			<key>size</key>
			<integer>13382</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gdk-pixbuf-2.0/gdk-pixbuf/gdk-pixbuf-loader.h</string>
			<key>mtime</key>
			<integer>1578409217</integer>
			<key>sha256</key>
			<string>86fd458c708d0c2f953790f85fa089169e02ba125c59bc65b1b5971d32662e43</string>
			<key>size</key>
			<integer>4704</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gdk-pixbuf-2.0/gdk-pixbuf/gdk-pixbuf-macros.h</string>
			<key>mtime</key>
			<integer>1578409217</integer>
			<key>sha256</key>
			<string>6d31f1337d3fae7f1446b837e55b447f2729b086ee780fb0f0aed23e2ac8303c</string>
			<key>size</key>
			<integer>23603</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gdk-pixbuf-2.0/gdk-pixbuf/gdk-pixbuf-marshal.h</string>
			<key>mtime</key>
			<integer>1578409217</integer>
			<key>sha256</key>
			<string>ce38cdd628912e9a9d9577e6a190397747eec3d3583d7b1fa4cccbc22c63ea7e</string>
			<key>size</key>
			<integer>1562</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gdk-pixbuf-2.0/gdk-pixbuf/gdk-pixbuf-simple-anim.h</string>
			<key>mtime</key>
			<integer>1578409217</integer>
			<key>sha256</key>
			<string>404658ea450eb8b9864a7bf69ae1f185c5697782b759e35a6d2faec59c99746f</string>
			<key>size</key>
			<integer>3186</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gdk-pixbuf-2.0/gdk-pixbuf/gdk-pixbuf-transform.h</string>
			<key>mtime</key>
			<integer>1578409217</integer>
			<key>sha256</key>
			<string>8705bd0d4e923d7bdcff8af8be9b2e82c95b285808b3af24cbdb8315a42b131e</string>
			<key>size</key>
			<integer>6248</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gdk-pixbuf-2.0/gdk-pixbuf/gdk-pixbuf.h</string>
			<key>mtime</key>
			<integer>1578409217</integer>
			<key>sha256</key>
			<string>e543bd450e6377a72adf378830d2849d450cc483ec5923db72d9b18ceaf3ffa8</string>
			<key>size</key>
			<integer>1572</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gdk-pixbuf-2.0/gdk-pixbuf/gdk-pixdata.h</string>
			<key>mtime</key>
			<integer>1578409217</integer>
			<key>sha256</key>
			<string>6e66cb2f684d83a8cd1e5fe38077aae140dd0edbdd7b72c79738129d9d97359b</string>
			<key>size</key>
			<integer>6765</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gdk-pixbuf-2.0/gdk-pixbuf-xlib/gdk-pixbuf-xlib.h</string>
			<key>mtime</key>
			<integer>1578409217</integer>
			<key>sha256</key>
			<string>9c54ad45ae2a237bd270f794f09ce95f8cd103b2ada070d27ad933a8f7ae3a9d</string>
			<key>size</key>
			<integer>2538</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gdk-pixbuf-2.0/gdk-pixbuf-xlib/gdk-pixbuf-xlibrgb.h</string>
			<key>mtime</key>
			<integer>1578409217</integer>
			<key>sha256</key>
			<string>01d0bf974dad30a5661f82e4ac84444501edc442682cac32c3e0f32ce18867df</string>
			<key>size</key>
			<integer>5996</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/gdk-pixbuf-2.0.pc</string>
			<key>mtime</key>
			<integer>1578409217</integer>
			<key>sha256</key>
			<string>fef2da8a2eb0467544a616dde5994b6069123b4ab306c5774091c86e6e8eb5c2</string>
			<key>size</key>
			<integer>746</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/gdk-pixbuf-xlib-2.0.pc</string>
			<key>mtime</key>
			<integer>1578409217</integer>
			<key>sha256</key>
			<string>2e0924b45838734b17bc5c1c03ad2b124d836ac584446b93dfbb61e2553b87c5</string>
			<key>size</key>
			<integer>403</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gir-1.0/GdkPixbuf-2.0.gir</string>
			<key>mtime</key>
			<integer>1578409217</integer>
			<key>sha256</key>
			<string>e6e636658a54ff07894a46c37727bfb811306532617c9c9ce68a7090200e32e8</string>
			<key>size</key>
			<integer>243464</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gir-1.0/GdkPixdata-2.0.gir</string>
			<key>mtime</key>
			<integer>1578409217</integer>
			<key>sha256</key>
			<string>ea9b16bd8cc50ac277af11f307b80af858e267bc79e1ce25b23693c7dcb8b5fe</string>
			<key>size</key>
			<integer>20201</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gdk-pixbuf-csource.1</string>
			<key>mtime</key>
			<integer>1578409217</integer>
			<key>sha256</key>
			<string>d01c9ff5b658967833ee6342541a3857084166cd88060fc76234298fcdd24982</string>
			<key>size</key>
			<integer>3769</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgdk_pixbuf-2.0.so</string>
			<key>mtime</key>
			<integer>1578409217</integer>
			<key>target</key>
			<string>/usr/lib/libgdk_pixbuf-2.0.so.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgdk_pixbuf_xlib-2.0.so</string>
			<key>mtime</key>
			<integer>1578409217</integer>
			<key>target</key>
			<string>/usr/lib/libgdk_pixbuf_xlib-2.0.so.0</string>
		</dict>
	</array>
</dict>
</plist>
