<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gitk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gitk/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gitk/lib/msgs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/gitk</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>1103d3c4011e3dd3e2c23db5bdf908c8524f781d207f91f465d6e84f4dbd45aa</string>
			<key>size</key>
			<integer>401052</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gitk/lib/msgs/bg.msg</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>0fe125a94255bf0b11820aa3373013f885948be116272238116c7f9c9851cbc7</string>
			<key>size</key>
			<integer>59232</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gitk/lib/msgs/ca.msg</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>1f9c428c8e8e27abd80ddb141f4ec0333de968236ce2f27d433b31e84268c6bb</string>
			<key>size</key>
			<integer>25858</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gitk/lib/msgs/de.msg</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>f5c9e6c42eb48ae90d19433ec9a6da5e73e6a3b63d5343f14734772d037d2b57</string>
			<key>size</key>
			<integer>25681</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gitk/lib/msgs/es.msg</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>ec550839963002f3720239ec3e01e17a60466657ed906d936a6b4c0e8542e6e9</string>
			<key>size</key>
			<integer>14599</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gitk/lib/msgs/fr.msg</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>6bfe24a7dba93cda46f383d20f95b648d966e3569d69a3430ee229951f48e6bb</string>
			<key>size</key>
			<integer>26385</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gitk/lib/msgs/hu.msg</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>46b5ef182a0c6a29645bfcd048e7f5028106c90bb152fb5f05efb2990b24c8a7</string>
			<key>size</key>
			<integer>24130</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gitk/lib/msgs/it.msg</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>4ac66883ef6486a71940552d66e7bc66e5250d4d7d18ad84e463aaefc2cd3dc4</string>
			<key>size</key>
			<integer>21500</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gitk/lib/msgs/ja.msg</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>a85f59c05f509ddda1f46e3c54b81c9e29205e791618f3f844b9d1c499febb53</string>
			<key>size</key>
			<integer>35268</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gitk/lib/msgs/pt_br.msg</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>6810574744244b8f83e5e622f24bbaa187ed840dd0de19d838f6157dd1a0e5ee</string>
			<key>size</key>
			<integer>22956</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gitk/lib/msgs/pt_pt.msg</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>80d0be8e5c743852b5bd8f14360a28524062ce2e786729fe47bc47524fdc959b</string>
			<key>size</key>
			<integer>26087</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gitk/lib/msgs/ru.msg</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>218e541ef31357c32ee64e840d2341800da2ada831dcd9f5c4fa12dd9c17d8a6</string>
			<key>size</key>
			<integer>59351</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gitk/lib/msgs/sv.msg</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>e3e852abf54b024348cad75c83325f76d89f223527a4ef51ea9cb4c9d2546d04</string>
			<key>size</key>
			<integer>25088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gitk/lib/msgs/vi.msg</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>6718ecfa00538c25fc497ad702ecfd39cc87574bf9cd47f4ba20818ef2142f97</string>
			<key>size</key>
			<integer>32220</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gitk/lib/msgs/zh_cn.msg</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>dc0a1a9c0656f45254cd45b4f657939bafa2acf32df20526b61cc092271c04db</string>
			<key>size</key>
			<integer>30501</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gitk.1</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>d81eca7857c30d388dfb466b88bcf7110b712c9c624d89e288890c3020961910</string>
			<key>size</key>
			<integer>9560</integer>
		</dict>
	</array>
</dict>
</plist>
