<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/git-core</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/msgs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/libexec/git-core/git-citool</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>27c1971f7ec6e0d25907c857901eecea382b2da9c184080dad92509d28bbc830</string>
			<key>size</key>
			<integer>106251</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/git-core/git-gui</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>27c1971f7ec6e0d25907c857901eecea382b2da9c184080dad92509d28bbc830</string>
			<key>size</key>
			<integer>106251</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/git-core/git-gui--askpass</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>82b8e579d931d9eced6af3d07080fdc8b11887dfc5d11298d395465c543b5088</string>
			<key>size</key>
			<integer>1840</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/about.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>0b40fa5da979cc3683c39650e29e8505d9139dc5a3813ca320333c90643db3f3</string>
			<key>size</key>
			<integer>1929</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/blame.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>0290e23ce17c87623d29bb9f96342d2d0bc46bc20fab0883cfc6ea39d8a26e50</string>
			<key>size</key>
			<integer>35745</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/branch.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>00337cd4e1339ab1fe1bf6cc192f599266394273fb312b16492c14c269b1c700</string>
			<key>size</key>
			<integer>943</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/branch_checkout.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>0753e4c6c291ec663848ae0657192770e3076a33e126ccbc619c45f4cbde0bdb</string>
			<key>size</key>
			<integer>2248</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/branch_create.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>b632268b4677a158814afbe09ec39658d3645e9a91529fe094149e595fee999f</string>
			<key>size</key>
			<integer>5432</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/branch_delete.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>80b003c45bee01d3b639fd543b1035022e6909c5ab69ff36829b267058514f1d</string>
			<key>size</key>
			<integer>3355</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/branch_rename.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>e08ccee3b4e5d7afb651c09d8b4e59ce7c68beae817d4ed3b821b1ea844595e1</string>
			<key>size</key>
			<integer>3211</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/browser.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>4e59a04df93085a0d019d2c70fba3535684fd4d1f0e374c99a284c1d7387717b</string>
			<key>size</key>
			<integer>12387</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/checkout_op.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>a78cdce4398c5923aaecd04fc5c2aed001f8685bcea51ca536450df822b3b320</string>
			<key>size</key>
			<integer>14900</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/choose_font.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>6ca8843fa4dfe245065ec9156bdec29e9f6ac23b00f1063de422bec4e6e6bff6</string>
			<key>size</key>
			<integer>4203</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/choose_repository.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>4a0f30920254f8499c3a2befaecb15b46575f86eca4d06608b2ced31cfd9991f</string>
			<key>size</key>
			<integer>26854</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/choose_rev.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>dea67cdaa836c3d24689bad71c9db9926d5a48e5e7840c400b0c049730e99cf0</string>
			<key>size</key>
			<integer>15303</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/chord.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>0759ccbaf3e0651136e04e14ee8c0ac7389d9523d00a1458904c300f1c4e74e2</string>
			<key>size</key>
			<integer>5390</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/class.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>384112e8b4fde8c46bd3f5dc7918cf045f40daa8ebdfd98ee26f15a1ccbc87b2</string>
			<key>size</key>
			<integer>4552</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/commit.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>e63fe7c7731233f509d9d112ceafd64c9cb77e960d54ad85136d40137829a8c8</string>
			<key>size</key>
			<integer>13117</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/console.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>5af4c29993dc99833a173c9d0ac8aac40d342fe2c8813988aec97e8795775d40</string>
			<key>size</key>
			<integer>4840</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/database.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>896b5a38b02026adc86ae5d1ab0139d47e0c21808eba0a5468cc174152461729</string>
			<key>size</key>
			<integer>3072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/date.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>5e020989e3e52d2939287be1c0707099266a93c99500c3d0b7217e41d79cdb28</string>
			<key>size</key>
			<integer>1057</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/diff.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>e1e23890640656dbcb9fd10d40e6dab7409ceec9156a9c22a3a5d76a451cfba0</string>
			<key>size</key>
			<integer>23966</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/encoding.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>d98572168acb84d4b3a9721624cdb3924a2fc3ebd8fccef2716e032d77797ce0</string>
			<key>size</key>
			<integer>16762</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/error.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>48daab6c3869382e1d3e6c24a0323d586833a8e16041156dcf2fa33bd9362b0f</string>
			<key>size</key>
			<integer>2525</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/git-gui.ico</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>56b4034e739254648f5388d0d1feab5c0a9d91677341ccff727c97eb9e3eec0e</string>
			<key>size</key>
			<integer>3638</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/index.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>c359f25494edb4791034dd62bd6c26c6207ac1ab6b424cb12b470a76072102a4</string>
			<key>size</key>
			<integer>18193</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/line.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>6c92d9c7a603e68480ae2170f870dc26d498684577be40f51bcd56acd8141a12</string>
			<key>size</key>
			<integer>1347</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/logo.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>ad77f676cc5ee8e13b9bcb639235cc6f332f7659e0b4cf15daec53b7c0201d4e</string>
			<key>size</key>
			<integer>2290</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/merge.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>ae72745b4b84ecd6706052e6f2d3b8ef407da39d8bf38d2e323aad31334bd229</string>
			<key>size</key>
			<integer>6521</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/mergetool.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>a8ffd5e1bede4a38aed318192c3ae8cab1e169c2a10faf90511c7973dfe9aa94</string>
			<key>size</key>
			<integer>10601</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/msgs/bg.msg</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>c13a7759714f6abf5de42164b9d7fda1fffd11170b203895d2284464b2d64c5c</string>
			<key>size</key>
			<integer>135750</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/msgs/de.msg</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>f8c049a3d0def460cda509aaf247c80bc111c1bd510300c2b0681dd6139f25e1</string>
			<key>size</key>
			<integer>56981</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/msgs/el.msg</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>85ca9e3061efa15bfc79aa913edba2b118c232eef7a33facc31b5f1f7c997380</string>
			<key>size</key>
			<integer>96345</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/msgs/fr.msg</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>ddb9248dcfee7f2662cd6a3a7fbee058a4be8cd16273463a6ed642e8471f6f54</string>
			<key>size</key>
			<integer>50655</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/msgs/hu.msg</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>7b3d83f201a677c815e1271185aa6131c50c8a1326cc80def6e12ece1778094d</string>
			<key>size</key>
			<integer>53719</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/msgs/it.msg</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>80cb20e0535d48104942eaa4f363b0d0f72e260612c76a7fc3b632e3cd67ea97</string>
			<key>size</key>
			<integer>48155</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/msgs/ja.msg</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>2bf41a84e04818dd09ce9acaa5bd8cc0fa6adacbe1d574091f9daffc2d421717</string>
			<key>size</key>
			<integer>76770</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/msgs/nb.msg</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>7cb37432dea36b3ca15ab1d7b3e70f3c9a065694a7e8ae78f5e4342a495ea252</string>
			<key>size</key>
			<integer>38746</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/msgs/pt_br.msg</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>16ccaedf2eee23dd56f1375270dc17dbfccbf7150627b71c159358775b88d2af</string>
			<key>size</key>
			<integer>50672</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/msgs/pt_pt.msg</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>ed6929ec6e6974ed059de4b06fec461549ee822e9d065d821c24d6fe174cd8b6</string>
			<key>size</key>
			<integer>54266</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/msgs/ru.msg</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>2d6d14e6e2eeced75da380dd5d963fe6fd9a1d5dac0543c12eab4e3483f80d25</string>
			<key>size</key>
			<integer>131174</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/msgs/sv.msg</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>33fcd6682d7fb513fe335aacf85319f7333724a87a9dcd89cd99d8eccda53e31</string>
			<key>size</key>
			<integer>51689</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/msgs/vi.msg</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>5947da2785c4b6be50795887118d4a69797b6eee85a32af1532c7f98dc5918e7</string>
			<key>size</key>
			<integer>66235</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/msgs/zh_cn.msg</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>7aec16602a2bd114d8dde5482acb345efb8a69e7a170c86de7b1e08da5e8e74c</string>
			<key>size</key>
			<integer>40753</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/option.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>d82708b0052435e5165ca44da2933489f9590710bc8c2281cb72d6af1140864c</string>
			<key>size</key>
			<integer>10702</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/remote.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>36d482d2967bd40c4e51a4777e7d6f111964433de17360b01851edcfeb1567c5</string>
			<key>size</key>
			<integer>7311</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/remote_add.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>7ba9210402ce31ed65bb716863ef549d179ef8a0e546536aa6fafd8bebc363f1</string>
			<key>size</key>
			<integer>4591</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/remote_branch_delete.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>e22c547ddfc934064603c0b300d4ced9bd1d214ab8571f48bcd1662dc6b28dba</string>
			<key>size</key>
			<integer>8508</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/search.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>762afd6c3c7044dba66e34d914e2a321e72fd1daa68651112d15db8ac0fd9b0b</string>
			<key>size</key>
			<integer>6719</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/shortcut.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>dec52582a5f7523516f0acdf97c641519159dbf8b5bd7eb1ea6b31a63b9614e5</string>
			<key>size</key>
			<integer>3584</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/spellcheck.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>5835c951c1fa85d5927b0d74c71625f3be7335f5880ff13f778784b5a04cd493</string>
			<key>size</key>
			<integer>9628</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/sshkey.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>5bd117879d5f2fc261f9375afe64ea76561031c462439c85985a8a16e946faaa</string>
			<key>size</key>
			<integer>3465</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/status_bar.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>80b53eab7434cc71d28588e5ba3d0a16e6967c69c04974cea166af070d658358</string>
			<key>size</key>
			<integer>7017</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/tclIndex</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>0f677625c8cbe583c49276c5a2d9507642a05b46d283f964100f079dbf1fb8ae</string>
			<key>size</key>
			<integer>15616</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/themed.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>18b315ec021541443712993f518a40e7668c469541d3d17bd9a8e25003efde45</string>
			<key>size</key>
			<integer>12158</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/tools.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>12cac5b41595f5064405582560ed38722062d12779dd9b4a8266c4c10323eec1</string>
			<key>size</key>
			<integer>3983</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/tools_dlg.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>44077d61ef48478f6649d079360fa18a962c941b7aeb261edcd3f88b677d0d0e</string>
			<key>size</key>
			<integer>10042</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/transport.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>fbf05cbc611feb41c12de430e9b4d331ff353f1d9fdbd1b2eb874eb17b9f74a1</string>
			<key>size</key>
			<integer>5844</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/win32.tcl</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>9f92b6f4284a3973c64f5be11322c613939bf3213e39a4dbfdb9b2f2d7c9bb8c</string>
			<key>size</key>
			<integer>596</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/git-gui/lib/win32_shortcut.js</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>05d41a2b7ca9d6db5913cc6bb8daedef3f36831f216c0d5fc36126898439c92c</string>
			<key>size</key>
			<integer>888</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/git-citool.1</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>00a429eb1a73b86fd63714286769c994e6a1c00425432babb9e5e87c4375d39a</string>
			<key>size</key>
			<integer>1794</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/git-gui.1</string>
			<key>mtime</key>
			<integer>1612963323</integer>
			<key>sha256</key>
			<string>f5c665b908b1494b9e4210ccbae8b507a8ef2e71a78db8eb5ec92121602b5931</string>
			<key>size</key>
			<integer>5028</integer>
		</dict>
	</array>
</dict>
</plist>
