<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/gitea.conf</string>
			<key>mtime</key>
			<integer>1609813553</integer>
			<key>sha256</key>
			<string>b91bc3cfa307177cd871f7f108527516f83a50ed023805567ca71dd75abec2ba</string>
			<key>size</key>
			<integer>52197</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/gitea</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/gitea</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/gitea/run</string>
			<key>mtime</key>
			<integer>1609813553</integer>
			<key>sha256</key>
			<string>6f516d4651bf7dc3b72630a26b0279d991861e30739005b5af31b0c5be2254ae</string>
			<key>size</key>
			<integer>394</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gitea</string>
			<key>mtime</key>
			<integer>1609813553</integer>
			<key>sha256</key>
			<string>155c5e1379035a5fb816fda58666d41316dadfeb859d764b774af11516f864ab</string>
			<key>size</key>
			<integer>111944224</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/gitea/LICENSE</string>
			<key>mtime</key>
			<integer>1609813553</integer>
			<key>sha256</key>
			<string>ed2f10a9d78b8c6c9ef33f1420d0eb266981891caf2f15d630553f02dc60d3ae</string>
			<key>size</key>
			<integer>1097</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/gitea/supervise</string>
			<key>mtime</key>
			<integer>1609813553</integer>
			<key>target</key>
			<string>/run/runit/supervise.gitea</string>
		</dict>
	</array>
</dict>
</plist>
