<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fish</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fish/vendor_completions.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/github-cli</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/zsh</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/zsh/site-functions</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/gh</string>
			<key>mtime</key>
			<integer>1611367492</integer>
			<key>sha256</key>
			<string>134d2668cc621d2a9672ee33fc385ea3ce1d3875777b1bdfc81b483cd0a2567f</string>
			<key>size</key>
			<integer>21210654</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/gh</string>
			<key>mtime</key>
			<integer>1611367492</integer>
			<key>sha256</key>
			<string>484bc4be177ff5dee17db87bd1a6c0c352b1a9e4947a583f9a2cf84639a9fe03</string>
			<key>size</key>
			<integer>56024</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fish/vendor_completions.d/gh.fish</string>
			<key>mtime</key>
			<integer>1611367492</integer>
			<key>sha256</key>
			<string>c32b3f3ada746946f3e8e5104afae4fd2f43dd02a432eae5afb3e038b2021458</string>
			<key>size</key>
			<integer>6136</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/github-cli/LICENSE</string>
			<key>mtime</key>
			<integer>1611367492</integer>
			<key>sha256</key>
			<string>6da4adc42392c8485e40b4251c7e332fc3352df1947c9ffade71dd60b14a7a4f</string>
			<key>size</key>
			<integer>1068</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/zsh/site-functions/_gh</string>
			<key>mtime</key>
			<integer>1611367492</integer>
			<key>sha256</key>
			<string>6e0acf8365155472e552be3d3b606fba72d11a999cf46ba348660e3e8d6c0648</string>
			<key>size</key>
			<integer>5553</integer>
		</dict>
	</array>
</dict>
</plist>
