<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/glew</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/glewinfo</string>
			<key>mtime</key>
			<integer>1601261805</integer>
			<key>sha256</key>
			<string>c825871d3d0386eb33803dfc339ad01501666c50e4af4256aaa2c5ad784b0ce3</string>
			<key>size</key>
			<integer>620616</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/visualinfo</string>
			<key>mtime</key>
			<integer>1601261805</integer>
			<key>sha256</key>
			<string>1ccb5030e7709c477b3eaf91d7f5c7c8189b5947838a4fd3f15cbcbd2bfdf7e0</string>
			<key>size</key>
			<integer>18504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libGLEW.so.2.2.0</string>
			<key>mtime</key>
			<integer>1601261805</integer>
			<key>sha256</key>
			<string>3247d477fbd75735fcc4289b577226d4b93cfd61de3f3290bb4edc4e35b70007</string>
			<key>size</key>
			<integer>690152</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/glew/LICENSE.txt</string>
			<key>mtime</key>
			<integer>1601261805</integer>
			<key>sha256</key>
			<string>8991cd11befec7c6a63662700f03c0cc42e864b6e77c7e70b80297c951a7f0ff</string>
			<key>size</key>
			<integer>3797</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libGLEW.so.2.2</string>
			<key>mtime</key>
			<integer>1601261805</integer>
			<key>target</key>
			<string>/usr/lib/libGLEW.so.2.2.0</string>
		</dict>
	</array>
</dict>
</plist>
