<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gtags</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/icons</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/jquery</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/jquery/images</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/script</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/global</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>42668db501f183d2f506e0fa908fda89a74713f68076b138008c9c45826ad9d6</string>
			<key>size</key>
			<integer>335488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/globash</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>e3f120fae3acf34051bcb6da04e8e91f4f9f2dfa65b36d7152c3fffc91f7d054</string>
			<key>size</key>
			<integer>2756</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gozilla</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>7e4abac9fea86864557bc6d4c2a38ff419d1f7231b86f78fefc41e5018372710</string>
			<key>size</key>
			<integer>141536</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gtags</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>65b8da6609f241292c6b980bdd46d0f691b258875e9080682129d25eb0747b9e</string>
			<key>size</key>
			<integer>327296</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gtags-cscope</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>aadf4013485cb45dd67fb9f193543838b61beaf551eb4f3f158e5408285b9a36</string>
			<key>size</key>
			<integer>105240</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/htags</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>eae85f876db8bb7d129f667c84707060fba17e07950b89a1d08e72c54e6bdc4f</string>
			<key>size</key>
			<integer>373824</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/htags-server</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>f41f29d464bcd4564b2e6617c169547f9d5858ea95b2f7170cd6e01b672aec76</string>
			<key>size</key>
			<integer>5231</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gtags/exuberant-ctags.so</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>0afbbe3a35da309a5b56d9aae75b8de6a0b622cea4c857b07bfc5ba172ba3980</string>
			<key>size</key>
			<integer>14328</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gtags/pygments-parser.so</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>4c1102fdca8f35bf2148dd44c0d23d9ee4ed082af3b847880340c6490c892984</string>
			<key>size</key>
			<integer>14272</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gtags/universal-ctags.so</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>39c8835bf092d6d526e48e36eb6ff7298bdda251845ec4991578519b281a2d4b</string>
			<key>size</key>
			<integer>14344</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gtags/user-custom.so</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>010015a9344ed2b14a4f1ac81d17a22df6302e813c2305c1b9e6e4d2f4c0a01f</string>
			<key>size</key>
			<integer>14008</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/AUTHORS</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>720a5e3f0590d1da1c66e33a677cd12118264cf0de6cabda68d8a4d844d13ea4</string>
			<key>size</key>
			<integer>6446</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/BUILD_TOOLS</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>d70fa0aa80390f7cb88cfcfc2172c5def0d964300e707034c4cd17de1725f1de</string>
			<key>size</key>
			<integer>179</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/COPYING</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>8ceb4b9ee5adedde47b31e975c1d90c73ad27b6b165a1dcd80c7c545eb65b903</string>
			<key>size</key>
			<integer>35147</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/COPYING.LIB</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>a853c2ffec17057872340eee242ae4d96cbf2b520ae27d903e1b2fef1a5f9d1c</string>
			<key>size</key>
			<integer>7639</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/ChangeLog</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>183fae2c8a77027598e1910014026419b01f660601b8c6cb331a7740803e9812</string>
			<key>size</key>
			<integer>44065</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/DONORS</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>eb67ff4401dad7918792f066f245086ff95f5fd2c1d959275ad59120cd9b1ddb</string>
			<key>size</key>
			<integer>1209</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/FAQ</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>0912f02e6b61cb296b4279b5f82510e99db328bba739b4e06d2385340a7dbdf8</string>
			<key>size</key>
			<integer>6222</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/INSTALL</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>54be5efe708bd5a7b433ab227130c5548221151698d17eb7eb142f640cf291ec</string>
			<key>size</key>
			<integer>15756</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/LICENSE</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>7ac7c82ce2673395c26d956d018fed912e28e236e500cc1de5a1e2ba19380bee</string>
			<key>size</key>
			<integer>13742</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/NEWS</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>2f833b5afd7abaea8d9c10ebff2d2e349ff4ec46580cdf41f0780b8970dd2080</string>
			<key>size</key>
			<integer>86856</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/PLUGIN_HOWTO</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>3ff062c777a76888d98e1116ac08c34e80d67f7f2630f97f9bb0da997a9d31e1</string>
			<key>size</key>
			<integer>3096</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/PLUGIN_HOWTO.pygments</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>6c1d3b854a902eeb77215d8f26b578bfc29d88f7098b36f8b4748c14843e9f3b</string>
			<key>size</key>
			<integer>2359</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/README</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>800fa8291e1cc5a509dd321c2c7d6d51a48764f8b86032f2d51d4afc25c10be6</string>
			<key>size</key>
			<integer>2312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/README.PATCHES</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>02e06f6d79f655a09e3a5a54eeb363207503a7abbaaafbcf910820d913187717</string>
			<key>size</key>
			<integer>1581</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/SERVERSIDE_HOWTO</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>03bdf18fb1f84095471ea330a7309cb9f4cd6977cfbc6e6f0c748fcc7728adbc</string>
			<key>size</key>
			<integer>2090</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/THANKS</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>da1d06544c3ac6eae90308ea240ed8fb534eddb449acc379245c3cb53df218b0</string>
			<key>size</key>
			<integer>11837</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/completion.cgi</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>becbbf058635bfc8f3a6222a1d097485e0c7fb9cc6027246a53243829ad06b72</string>
			<key>size</key>
			<integer>2855</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/dot_htaccess</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>29ae902a6f927b468936718281c4ad7c82b9c31c9400381a3ca03b4257d5150d</string>
			<key>size</key>
			<integer>1263</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/elvis-2.2_0.patch</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>c3916f9e89cbb7aaaea07bb43245f0075e346dd0d459a82ddff63e0955668b90</string>
			<key>size</key>
			<integer>1902</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/elvis.rc</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>93541015a5b18bdf8da50534eb9047d70346c3c5182fc25ce33d2a1ea9d86426</string>
			<key>size</key>
			<integer>1018</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/geco.rc</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>0137a6ab187fc33dc8f312802138789606b2c8676feff58531057afe373e08b9</string>
			<key>size</key>
			<integer>4102</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/global.cgi</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>244fe53a5952062d714adc70c491097dd2b046161ff215dce883356d55521f0c</string>
			<key>size</key>
			<integer>6228</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/globash.rc</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>0b13f5a54d7c58f3baa3da894d14722e0c8ade2e46cfbb9e8e4b6d8c7c806c42</string>
			<key>size</key>
			<integer>23700</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/gtags-cscope.vim</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>51cda026f4f517ad23801cf23caf84394355bd8e02db011081a2ef334a3fc561</string>
			<key>size</key>
			<integer>10052</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/gtags.conf</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>8a025b2edc3f1021cf7066d86e9c94891f2a938190c6038770da862b61b6f5fb</string>
			<key>size</key>
			<integer>22936</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/gtags.el</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>4a622c03a9305be0cffe988992d30bd63409a9c8c08d3f0e9753d1f0fa6f0fc4</string>
			<key>size</key>
			<integer>36913</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/gtags.pl</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>84c4351f405ac288d24b39e1815d6e0985f2ac3c1bc85a6244e9a475c9c10e50</string>
			<key>size</key>
			<integer>6728</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/gtags.vim</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>5a5e57cae4061de42a8eff7fde01bbccbfb95e9f5a71c75307522d8477fd9754</string>
			<key>size</key>
			<integer>17593</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/icons/back.png</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>3d199b2295e9297c164b8ada1109d49cb3bcc96fcdaf5fe097d2b9d3e57c7fc8</string>
			<key>size</key>
			<integer>179</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/icons/bottom.png</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>95f3586ba6df61d5463b87dc4c0430526521d0071be38c41b78da674cf0cbecd</string>
			<key>size</key>
			<integer>767</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/icons/c.png</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>cabddb54bc24cece8f3101ea3675b111be34a3faf89d37d231fdae1c937b982b</string>
			<key>size</key>
			<integer>308</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/icons/dir.png</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>d4aff76209498516ce9b93e10bc2e3862bf91b2365c1188116847885e595715b</string>
			<key>size</key>
			<integer>202</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/icons/first.png</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>5bcb21798918c849c6170f286226974a77554e01c10ae2bce58dca3fd10b2870</string>
			<key>size</key>
			<integer>466</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/icons/help.png</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>74a8ffa2c68ecbde1cd65ca39e6abe25c6dab0c74ed95ff4f85fc63d5d3010a8</string>
			<key>size</key>
			<integer>422</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/icons/index.png</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>1b81101c16b2b408a2b4792a4ee6b4c2175318e4b9dc94aee21653b60db9d178</string>
			<key>size</key>
			<integer>356</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/icons/last.png</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>206f9b88e6d4a88c985ae560b4f0a8461544a8ced2d67e92e157b8c4fe2882db</string>
			<key>size</key>
			<integer>479</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/icons/left.png</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>ceb2622a51293762c962e545748e82108aa1d6b01f3c47a7eddbe0a9bb2b57d0</string>
			<key>size</key>
			<integer>455</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/icons/n_bottom.png</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>a24483b73b83c6b11cec9f218de44fe2ac4b1975c9347f158cf04529d602dc51</string>
			<key>size</key>
			<integer>153</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/icons/n_first.png</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>ebc43342a1b97d75a060ee18c0838852a153e168a9a0452a53da95b67a3649fb</string>
			<key>size</key>
			<integer>155</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/icons/n_last.png</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>921e8b3cda39e5ec7aed587286724d0efaffa56fbc3cd0ed29080bf7e54b50a8</string>
			<key>size</key>
			<integer>154</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/icons/n_left.png</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>d564c7cc9fa0d51b7d046c5d96f4f59637672398f8db4be14df698e10003edb9</string>
			<key>size</key>
			<integer>151</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/icons/n_right.png</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>02c66bd8e3c47735fc6dc1647ff272ec43d44fc7fd363999c74a6ebabc5f83ca</string>
			<key>size</key>
			<integer>148</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/icons/n_top.png</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>7b162e9a9ab71b980dcf3323d51598486cfad393d0fb3cc983f4ce4f8075a6d1</string>
			<key>size</key>
			<integer>149</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/icons/pglobe.png</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>e404a5c482b14137a1598f71fdb8f7e19f43b2af6f192667959856573e11500d</string>
			<key>size</key>
			<integer>7803</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/icons/right.png</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>a27b2f9765c4b33f44b9e51a2fd4b03cf24772c62a60e2260f049da2cbabe145</string>
			<key>size</key>
			<integer>468</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/icons/text.png</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>709a3aa69fddee028dcffc5abd936940b0c40e73ec03ec712b4acc1da48f1121</string>
			<key>size</key>
			<integer>298</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/icons/top.png</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>6cf4149be34a8af639fa48cf92cdd352987d150f051dad54e3e8ede0f3b8e74a</string>
			<key>size</key>
			<integer>737</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/jquery/images/file.png</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>4d36bbea9e2a1701022ce0b87b26a1abc423df524f80983d5f1e11b0d1b1e63f</string>
			<key>size</key>
			<integer>981</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/jquery/images/folder-closed.png</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>907f810c6d6cd6e7419b0068eeb53b1d5177980d437782aad4f95f9ff15a9065</string>
			<key>size</key>
			<integer>979</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/jquery/images/folder.png</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>ee18f5cfa895f7b201ffea73b00c567be99e219c7c9b82f89fac399cce039d3e</string>
			<key>size</key>
			<integer>988</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/jquery/images/minus.png</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>b928b73b022a5273b83b34441396750a67ae0f65505a35d20511e5b8aba929cc</string>
			<key>size</key>
			<integer>156</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/jquery/images/plus.png</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>bc335c344bc02fd706c3e8a9961836a64594cc9305f8ac888ae66e9ff8789bd8</string>
			<key>size</key>
			<integer>164</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/jquery/images/treeview-black-line.png</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>150645af19b3953f36200567fbc729475849d322f8603fe027212faad8e7752a</string>
			<key>size</key>
			<integer>334</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/jquery/images/treeview-black.png</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>7ad2ba3e7124cb4982f7cbb4939482cdacc06b03f3fe4c20bf570f291d5ce7ac</string>
			<key>size</key>
			<integer>515</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/jquery/images/treeview-default-line.png</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>dd354d4351d91a781c70c496171c73d11dbd490d00d8d8e29a62e84a9c40f983</string>
			<key>size</key>
			<integer>356</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/jquery/images/treeview-default.png</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>36e4655a7f38c364adb7693349be686075cc18ea0ce5410e4ba89ec8a3f850ce</string>
			<key>size</key>
			<integer>519</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/jquery/images/treeview-famfamfam-line.png</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>827a9101a6d6944bcce80a61ba451054e070e6480442b72ad6309cd92fd69d5a</string>
			<key>size</key>
			<integer>124</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/jquery/images/treeview-famfamfam.png</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>40954998e4e920e4cede376f58306d279216c35278cecfafa19ddb329720f867</string>
			<key>size</key>
			<integer>1547</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/jquery/images/treeview-gray-line.png</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>fde5811e60b1cd2abe64ce8912ed86f3a9f5951c8eac6ff37de146cc913435dd</string>
			<key>size</key>
			<integer>338</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/jquery/images/treeview-gray.png</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>24c1fcfcc54670e03308e92195985ab92d017be8d2be37c341718d14369dde5d</string>
			<key>size</key>
			<integer>560</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/jquery/images/treeview-red-line.png</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>eeb849a87be61e14e7cdf31be844cfeaa0d23656404c2864e4fa014bf831bd69</string>
			<key>size</key>
			<integer>1278</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/jquery/images/treeview-red.png</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>05eeacd63778aef499dce0a34a57d0ddd3d078a5597275cf1b38fc46ea731537</string>
			<key>size</key>
			<integer>1458</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/jquery/jquery.js</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>95c023c80dfe0d30304c58244878995061f87801a66daa5d6bf4f2512be0e6f9</string>
			<key>size</key>
			<integer>163855</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/jquery/jquery.suggest.css</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>8642f0981ad4a6737ff642fbb49821abd21f588651cc9179e6571efc279811b3</string>
			<key>size</key>
			<integer>381</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/jquery/jquery.suggest.js</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>19cd4d574bdb444b1b5c90567b1b7db31d188c77c02cad6f08246470574badc5</string>
			<key>size</key>
			<integer>6862</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/jquery/jquery.treeview.css</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>b9cb37198ccfe6fd6fc1bfe7d217cf397d2d961e72ca32474432815885f4d2a6</string>
			<key>size</key>
			<integer>2533</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/jquery/jquery.treeview.js</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>bb7b2e5b53c33fdc031c6dc729aa76ab2eaacc7cd5bd26902aaf2d1cb173e677</string>
			<key>size</key>
			<integer>7921</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/jscode_suggest</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>b967aae33c04751498ef5f222d725bd00e72cd80e69b9ab6a8ecac155cf6fcb5</string>
			<key>size</key>
			<integer>634</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/jscode_treeview</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>b7c15b18f2f8ad98367b4fdee821608373e0c127cc651048ad2be898441a4f9f</string>
			<key>size</key>
			<integer>311</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/script/elvis-global</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>01946b0a98e971cbf24b2adec21c3097eb2ffe0229c227341151579de26e20c3</string>
			<key>size</key>
			<integer>83</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/script/global-client</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>8968c3ad5f381f9f314d50467679e955b1ee09758e327f3563de3f0c4b400874</string>
			<key>size</key>
			<integer>565</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/script/gtags-client</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>8968c3ad5f381f9f314d50467679e955b1ee09758e327f3563de3f0c4b400874</string>
			<key>size</key>
			<integer>565</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/script/htags-client</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>8968c3ad5f381f9f314d50467679e955b1ee09758e327f3563de3f0c4b400874</string>
			<key>size</key>
			<integer>565</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/script/less-global</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>e55eff664138b6bc071d938ed14196449de7156aba7e235af05f566e6953ac38</string>
			<key>size</key>
			<integer>70</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/script/maps2conf.pl</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>cefd16010ac550cd00dbbba63e227b9e16d3aa3b0279cf9f741b7328daf737ba</string>
			<key>size</key>
			<integer>1914</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/script/pygments_parser.py</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>8ed299f3d302669355ccb7a53acacfa6ada7acb27066fb492b8ac901432f080d</string>
			<key>size</key>
			<integer>9050</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/style.css</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>8667eed487f2f76922d4b734c4ab8869b55c55dda7d1a84fa37545c300a0fc79</string>
			<key>size</key>
			<integer>2000</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtags/vim74-gtags-cscope.patch</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>c85d0547e7b284330df1e38253e73dab8ca68973b593d5e508a2b54cf7a98456</string>
			<key>size</key>
			<integer>1568</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/global.info</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>e6c65901853d0bb79073fc99be796c86c53f16008e31e74017e64965b95a5efc</string>
			<key>size</key>
			<integer>135146</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/global.1</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>a33831bc2a6358dfed8e7b4080a748496ed0de1acba5ba861232649c6b6cd0a8</string>
			<key>size</key>
			<integer>13939</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/globash.1</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>ff9991f15b509977bdf58d7780bce6767a6e7d8840d614694a88310ff20229d3</string>
			<key>size</key>
			<integer>1141</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gozilla.1</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>52d77a7c029d26f3d6ba4bdb9d3cc4802b98c06b742883f7606ae897bd7b43fd</string>
			<key>size</key>
			<integer>2736</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gtags-cscope.1</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>ae474936ca6fabd3009e3fc65f150eb072e245171ae272491621a8818fb6b8ac</string>
			<key>size</key>
			<integer>11783</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gtags.1</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>53a43f4a7c8ec430974a8ef5971e6fdb3900ad893cd470df1423403e9c4ab042</string>
			<key>size</key>
			<integer>10352</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/htags-server.1</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>85a4056eb11f43c2ad872af7a88de7b553c2a38154ea6711dd7d91ebf1ecd5c5</string>
			<key>size</key>
			<integer>2195</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/htags.1</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>b25f31c36591b7e06165fb1331480f789d34a151d9818345ab013dbb73f215a7</string>
			<key>size</key>
			<integer>10409</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/gtags.conf.5</string>
			<key>mtime</key>
			<integer>1605993016</integer>
			<key>sha256</key>
			<string>b592612c00a86c03c7226268b01fa4d92b332c0beb52a4c5e022530cb4e9cefc</string>
			<key>size</key>
			<integer>4242</integer>
		</dict>
	</array>
</dict>
</plist>
