<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/include/gmp.h</string>
			<key>mtime</key>
			<integer>1608187495</integer>
			<key>sha256</key>
			<string>24ca1b4d83256db1f8515335bc7736719e6cfb05c9eafb41885442594551893f</string>
			<key>size</key>
			<integer>83977</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgmp.a</string>
			<key>mtime</key>
			<integer>1608187495</integer>
			<key>sha256</key>
			<string>3cc6ad447c716e8b1a914c14def835fd3f332ffefad79220ac2eade089119357</string>
			<key>size</key>
			<integer>1337896</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/gmp.pc</string>
			<key>mtime</key>
			<integer>1608187495</integer>
			<key>sha256</key>
			<string>4e9de547a48c4e443781e9fa702a1ec5a23ee28b4bc520306cff2541a855be37</string>
			<key>size</key>
			<integer>245</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/gmp.info</string>
			<key>mtime</key>
			<integer>1608187495</integer>
			<key>sha256</key>
			<string>b5e40cce79506dd1478d0cffd4a7d541df492783094c8d1c01893e6315ea22fb</string>
			<key>size</key>
			<integer>5931</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/gmp.info-1</string>
			<key>mtime</key>
			<integer>1608187495</integer>
			<key>sha256</key>
			<string>efa500fb0ae8b4ae2632a238a4d7def02777ae1963646a716b7dda427cfd85a1</string>
			<key>size</key>
			<integer>302874</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/gmp.info-2</string>
			<key>mtime</key>
			<integer>1608187495</integer>
			<key>sha256</key>
			<string>5e7c2f97937488b57b47e896feb2a60a2f9d6654257f5856f4d2ce83700b7f7f</string>
			<key>size</key>
			<integer>216314</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgmp.so</string>
			<key>mtime</key>
			<integer>1608187495</integer>
			<key>target</key>
			<string>/usr/lib/libgmp.so.10.4.1</string>
		</dict>
	</array>
</dict>
</plist>
