<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/include/gmpxx.h</string>
			<key>mtime</key>
			<integer>1608187495</integer>
			<key>sha256</key>
			<string>0011ae411a0bc1030e07d968b32fdc1343f5ac2a17b7d28f493e7976dde2ac82</string>
			<key>size</key>
			<integer>129113</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgmpxx.a</string>
			<key>mtime</key>
			<integer>1608187495</integer>
			<key>sha256</key>
			<string>528e09fb3090a9d7a167779c9a65ece696e767d25d944b51df2258a8f66baaac</string>
			<key>size</key>
			<integer>54778</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/gmpxx.pc</string>
			<key>mtime</key>
			<integer>1608187495</integer>
			<key>sha256</key>
			<string>fc5dbfbe75977057ba50953d94b9daecf696c9fdfe5b94692b832b44ecca871b</string>
			<key>size</key>
			<integer>280</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgmpxx.so</string>
			<key>mtime</key>
			<integer>1608187495</integer>
			<key>target</key>
			<string>/usr/lib/libgmpxx.so.4.6.1</string>
		</dict>
	</array>
</dict>
</plist>
