<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-video-effects</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pkgconfig</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-video-effects/bulge.effect</string>
			<key>mtime</key>
			<integer>1606649582</integer>
			<key>sha256</key>
			<string>6b125fe80220783c183b203949feff4ca77bbfb2b2e7e26089ca4a5302c18aa0</string>
			<key>size</key>
			<integer>4500</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-video-effects/cartoon.effect</string>
			<key>mtime</key>
			<integer>1606649582</integer>
			<key>sha256</key>
			<string>6332b2e4e0ed0e6bd4db0a958506849608652082382a3e1d3e684fa31ad3e77a</string>
			<key>size</key>
			<integer>5294</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-video-effects/cheguevara.effect</string>
			<key>mtime</key>
			<integer>1606649582</integer>
			<key>sha256</key>
			<string>93252e0425efe0dc8d4f52b54fe1f4c259cd619da105df09b42b90a5adcfb005</string>
			<key>size</key>
			<integer>6640</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-video-effects/chrome.effect</string>
			<key>mtime</key>
			<integer>1606649582</integer>
			<key>sha256</key>
			<string>6823e2ab3ff4143f041182e2ad472113dd8b8f02af89ed9c852f7e2a0855e620</string>
			<key>size</key>
			<integer>5311</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-video-effects/dicetv.effect</string>
			<key>mtime</key>
			<integer>1606649582</integer>
			<key>sha256</key>
			<string>68e94a1db9d1b6523bbfd9de9225fa7c303906e22cad047fc87e9eaa40eb3355</string>
			<key>size</key>
			<integer>6306</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-video-effects/distortion.effect</string>
			<key>mtime</key>
			<integer>1606649582</integer>
			<key>sha256</key>
			<string>404c3d6518aaa5112a9802a690a9c3544eba98b3ad1a02366727c3f41fc370d3</string>
			<key>size</key>
			<integer>4392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-video-effects/edgetv.effect</string>
			<key>mtime</key>
			<integer>1606649582</integer>
			<key>sha256</key>
			<string>1d7afa006195168b0340e3f948dbeffb0f39f6b458830cf8a01b68a741ea9de6</string>
			<key>size</key>
			<integer>8068</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-video-effects/flip.effect</string>
			<key>mtime</key>
			<integer>1606649582</integer>
			<key>sha256</key>
			<string>b961a756768fea636aad0adce4a59f98aad434290e61417d8eb865dad95b8f1f</string>
			<key>size</key>
			<integer>5574</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-video-effects/heat.effect</string>
			<key>mtime</key>
			<integer>1606649582</integer>
			<key>sha256</key>
			<string>c1b9ac07c3da1c34789bec038e63ff7937158795e667f9429c493a399a67956a</string>
			<key>size</key>
			<integer>4579</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-video-effects/historical.effect</string>
			<key>mtime</key>
			<integer>1606649582</integer>
			<key>sha256</key>
			<string>16411b5330ebfae1f3f8a050cf58871a587a12e99478cc53645c00429d44e490</string>
			<key>size</key>
			<integer>6944</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-video-effects/hulk.effect</string>
			<key>mtime</key>
			<integer>1606649582</integer>
			<key>sha256</key>
			<string>c1bcc299b52f25f79396da3b7ffe5526ec90b13c9fbb5495b3d7fe7af137bd4d</string>
			<key>size</key>
			<integer>5450</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-video-effects/inversion.effect</string>
			<key>mtime</key>
			<integer>1606649582</integer>
			<key>sha256</key>
			<string>bdc0a490db4e9db40ae93e848291afd30f8e5fad14f25e7e9cebd44a5af759e5</string>
			<key>size</key>
			<integer>4745</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-video-effects/kaleidoscope.effect</string>
			<key>mtime</key>
			<integer>1606649582</integer>
			<key>sha256</key>
			<string>239026e189ae5fc0e06ec2ec3f266c35082df1439d7c719bb666649c36ea2ec2</string>
			<key>size</key>
			<integer>4453</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-video-effects/mauve.effect</string>
			<key>mtime</key>
			<integer>1606649582</integer>
			<key>sha256</key>
			<string>c48907053202d564800691d4596af84595ad8b8c8fd88912124a0612a43f80c8</string>
			<key>size</key>
			<integer>5838</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-video-effects/mirror.effect</string>
			<key>mtime</key>
			<integer>1606649582</integer>
			<key>sha256</key>
			<string>0738db4c5f9cf1892da34bd8d7a5c5d10092b80d2d2d1128ac738a9f75dd8ff1</string>
			<key>size</key>
			<integer>4069</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-video-effects/noir.effect</string>
			<key>mtime</key>
			<integer>1606649582</integer>
			<key>sha256</key>
			<string>fdae9f47366bfeea16d84f460fb07e2a8202e3cae2579dc71283e720864fd594</string>
			<key>size</key>
			<integer>6009</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-video-effects/optv.effect</string>
			<key>mtime</key>
			<integer>1606649582</integer>
			<key>sha256</key>
			<string>755786c8e8376df0cbc50e49c19cba74419947b994543d2bcc203c8e17078025</string>
			<key>size</key>
			<integer>5900</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-video-effects/pinch.effect</string>
			<key>mtime</key>
			<integer>1606649582</integer>
			<key>sha256</key>
			<string>bcea1514720bdff02f8423335f23c560b3de5c5fcc75d1ce0a3818548e7c6e07</string>
			<key>size</key>
			<integer>4357</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-video-effects/quarktv.effect</string>
			<key>mtime</key>
			<integer>1606649582</integer>
			<key>sha256</key>
			<string>9eeeca580212b0959d73ff1334169381fe40f980902586420ec068f439506a62</string>
			<key>size</key>
			<integer>5569</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-video-effects/radioactv.effect</string>
			<key>mtime</key>
			<integer>1606649582</integer>
			<key>sha256</key>
			<string>984cc5c424672629346bc058b59214b207690cf1af8878a898c87adfbac1415a</string>
			<key>size</key>
			<integer>5514</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-video-effects/revtv.effect</string>
			<key>mtime</key>
			<integer>1606649582</integer>
			<key>sha256</key>
			<string>fb8a6d5790ed9a90aef4129381f84484c759d2d027c62d1541863d3d397be7c4</string>
			<key>size</key>
			<integer>6090</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-video-effects/ripple.effect</string>
			<key>mtime</key>
			<integer>1606649582</integer>
			<key>sha256</key>
			<string>53dcce717bb58de37f9c9a2d95dda418b577809bd8922364519b209efabb6a7a</string>
			<key>size</key>
			<integer>5502</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-video-effects/saturation.effect</string>
			<key>mtime</key>
			<integer>1606649582</integer>
			<key>sha256</key>
			<string>930827ece3c64f52190cb2740ac28638fd81be51f44fcb0fee1e70506ebb805e</string>
			<key>size</key>
			<integer>6137</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-video-effects/sepia.effect</string>
			<key>mtime</key>
			<integer>1606649582</integer>
			<key>sha256</key>
			<string>3cceb7e7728d15e5d8412550dbef88386862185ef50c46effc4605b61deb99ef</string>
			<key>size</key>
			<integer>3395</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-video-effects/shagadelictv.effect</string>
			<key>mtime</key>
			<integer>1606649582</integer>
			<key>sha256</key>
			<string>c4661b3e4ba250f2dff1ad31688d2795cd74c8688c792df14c89e70e718e4797</string>
			<key>size</key>
			<integer>6055</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-video-effects/sobel.effect</string>
			<key>mtime</key>
			<integer>1606649582</integer>
			<key>sha256</key>
			<string>f1c59f1ed65d60c7504d474ac48b9e0fd7bfd2b820e0007727002eadd5906004</string>
			<key>size</key>
			<integer>6681</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-video-effects/square.effect</string>
			<key>mtime</key>
			<integer>1606649582</integer>
			<key>sha256</key>
			<string>b50fb28263e07f4ba392f446e07b6a4b332a6c135c76069b599101ac05a8cdc5</string>
			<key>size</key>
			<integer>5344</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-video-effects/streaktv.effect</string>
			<key>mtime</key>
			<integer>1606649582</integer>
			<key>sha256</key>
			<string>da8bdd94cdd040d8d678d8074d9cbdfd60576b26b1940841b4a80b8c3b3effca</string>
			<key>size</key>
			<integer>5059</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-video-effects/stretch.effect</string>
			<key>mtime</key>
			<integer>1606649582</integer>
			<key>sha256</key>
			<string>4a32e6a1700ad2003e9386765cd9af9fc1a743a2b1cff42160616fb0702dcfca</string>
			<key>size</key>
			<integer>4630</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-video-effects/timedelay.effect</string>
			<key>mtime</key>
			<integer>1606649582</integer>
			<key>sha256</key>
			<string>f1be052f94bedbf626c499d2f99a364f325a8d1ede3f563cb02ba2dd4cf7eae1</string>
			<key>size</key>
			<integer>5489</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-video-effects/twirl.effect</string>
			<key>mtime</key>
			<integer>1606649582</integer>
			<key>sha256</key>
			<string>0bf4be86adfc9e0083d1e17d369313f9557c1b15b5ca88e1c506163481a9945c</string>
			<key>size</key>
			<integer>4455</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-video-effects/vertigotv.effect</string>
			<key>mtime</key>
			<integer>1606649582</integer>
			<key>sha256</key>
			<string>161f05a20f0045e107e457458f20bf494815d353bf4df7e1c51921cb5c39be54</string>
			<key>size</key>
			<integer>7991</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-video-effects/warptv.effect</string>
			<key>mtime</key>
			<integer>1606649582</integer>
			<key>sha256</key>
			<string>6ca2d4d32fafb28be6795c9bb61a5129cde654eb9713111cd46ad306a39bba9c</string>
			<key>size</key>
			<integer>6397</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-video-effects/xray.effect</string>
			<key>mtime</key>
			<integer>1606649582</integer>
			<key>sha256</key>
			<string>a5ab408dca575f8a506f677b74d2ee456bfbbf1c8b00e756847a25b4597d5b38</string>
			<key>size</key>
			<integer>5188</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pkgconfig/gnome-video-effects.pc</string>
			<key>mtime</key>
			<integer>1606649582</integer>
			<key>sha256</key>
			<string>a859a01b2c985270dfb6489c03732d9ded3ee272f68cc32cfbf04c85e5338402</string>
			<key>size</key>
			<integer>234</integer>
		</dict>
	</array>
</dict>
</plist>
