<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/gnutls</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgnutls-dane.so.0.4.1</string>
			<key>mtime</key>
			<integer>1599583219</integer>
			<key>sha256</key>
			<string>71002043e2f467882de6bb1c0f62d6b56c6bc583f4fe0b5f512f2c3d09edadb6</string>
			<key>size</key>
			<integer>47168</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgnutls.so.30.28.1</string>
			<key>mtime</key>
			<integer>1599583219</integer>
			<key>sha256</key>
			<string>aa5b562410593f14a72e9e2aead219d6d8655fdb146fb0aac7c75da332c7d33f</string>
			<key>size</key>
			<integer>1873448</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgnutlsxx.so.28.1.0</string>
			<key>mtime</key>
			<integer>1599583219</integer>
			<key>sha256</key>
			<string>d6a02a6201e8831aed8702761eee8f7d2203f073fcd12bf727c0fb1ba38a3fbf</string>
			<key>size</key>
			<integer>71752</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/gnutls/gnutls-client-server-use-case.png</string>
			<key>mtime</key>
			<integer>1599583219</integer>
			<key>sha256</key>
			<string>94c73005b0236290be33578b10fc6b502a2a3ad25253c6b4e53ac6601a3f2c4a</string>
			<key>size</key>
			<integer>19456</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/gnutls/gnutls-handshake-sequence.png</string>
			<key>mtime</key>
			<integer>1599583219</integer>
			<key>sha256</key>
			<string>6f963810fc53eceebeab20ad94590d6362a3a62d3c088f9d5c891fa4c3761548</string>
			<key>size</key>
			<integer>10066</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/gnutls/gnutls-handshake-state.png</string>
			<key>mtime</key>
			<integer>1599583219</integer>
			<key>sha256</key>
			<string>69cbebf1c38b804d8cde9ad208ae2f131b6410fbbb358c2d2c312b38547c0ce9</string>
			<key>size</key>
			<integer>7584</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/gnutls/gnutls-internals.png</string>
			<key>mtime</key>
			<integer>1599583219</integer>
			<key>sha256</key>
			<string>bbbd042830003346600d3fcae05a68049e925d2c27473fc26536d925433022e7</string>
			<key>size</key>
			<integer>30556</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/gnutls/gnutls-layers.png</string>
			<key>mtime</key>
			<integer>1599583219</integer>
			<key>sha256</key>
			<string>bf0823ff9204aca11004451808c8d2f4515913a53f327f439fc5dfcf6d5f0237</string>
			<key>size</key>
			<integer>15985</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/gnutls/gnutls-logo.png</string>
			<key>mtime</key>
			<integer>1599583219</integer>
			<key>sha256</key>
			<string>92cc3ca28c334605ba1553cd4f4a2613e18d0d29faec064aeb793e05ba12db20</string>
			<key>size</key>
			<integer>1183</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/gnutls/gnutls-modauth.png</string>
			<key>mtime</key>
			<integer>1599583219</integer>
			<key>sha256</key>
			<string>812ba50c7d9e00a9186ecda8f2eb944a0c79c985eb8c7da5b90839a462a42df5</string>
			<key>size</key>
			<integer>28537</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/gnutls/gnutls-x509.png</string>
			<key>mtime</key>
			<integer>1599583219</integer>
			<key>sha256</key>
			<string>0ed4747b681fc63ed7d78d0a6ede3c6147f6a42e7026fd2bab0e1c3773e9c35b</string>
			<key>size</key>
			<integer>18942</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/gnutls/pkcs11-vision.png</string>
			<key>mtime</key>
			<integer>1599583219</integer>
			<key>sha256</key>
			<string>b75efab869b15d8cac0b8eb2040ddd675a2bcda6cf1f2d3a1cfc9a4401cf47b1</string>
			<key>size</key>
			<integer>34781</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/gnutls.mo</string>
			<key>mtime</key>
			<integer>1599583219</integer>
			<key>sha256</key>
			<string>37c15a824305507e996034e34d2635f2f3954d4943a435409f2ef03f4cf75100</string>
			<key>size</key>
			<integer>34151</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/gnutls.mo</string>
			<key>mtime</key>
			<integer>1599583219</integer>
			<key>sha256</key>
			<string>89c3e29c52d2fba93bfac0c236f49bdd45af047600e02396a61f67013f3ffb1f</string>
			<key>size</key>
			<integer>24988</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/gnutls.mo</string>
			<key>mtime</key>
			<integer>1599583219</integer>
			<key>sha256</key>
			<string>a79cd9989ef0894fb7d199a139b2a57d2aa15f87c680576b272c15d35d23c454</string>
			<key>size</key>
			<integer>33110</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/gnutls.mo</string>
			<key>mtime</key>
			<integer>1599583219</integer>
			<key>sha256</key>
			<string>eba65543228293f8786bef039d9127f1783238ff76c2b8a8ba3a6f1e25f1372e</string>
			<key>size</key>
			<integer>24527</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/gnutls.mo</string>
			<key>mtime</key>
			<integer>1599583219</integer>
			<key>sha256</key>
			<string>86f679ccf3daeabacbd95937adf81d1dbc15de35b38cbb2e618b599780777284</string>
			<key>size</key>
			<integer>24153</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/gnutls.mo</string>
			<key>mtime</key>
			<integer>1599583219</integer>
			<key>sha256</key>
			<string>061005aff55b0baf38aa5ae80d60a09d22eb66f6e902f261c8a2f39b9694ed8e</string>
			<key>size</key>
			<integer>35159</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/gnutls.mo</string>
			<key>mtime</key>
			<integer>1599583219</integer>
			<key>sha256</key>
			<string>29773feccfee4e3a156a0bdad708f9ea4c2c4fae2f36cf4ccfdd6807bdebbed3</string>
			<key>size</key>
			<integer>34940</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/gnutls.mo</string>
			<key>mtime</key>
			<integer>1599583219</integer>
			<key>sha256</key>
			<string>e8a3ee0bf82f289d7a25789e368dd1699120ccf32385f41ecb66bd92d52ca324</string>
			<key>size</key>
			<integer>16866</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/gnutls.mo</string>
			<key>mtime</key>
			<integer>1599583219</integer>
			<key>sha256</key>
			<string>dee62b664e287a1424d2dc1a68962c8b9bd7c21eccb5b298cee4fb084f01f776</string>
			<key>size</key>
			<integer>24388</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/gnutls.mo</string>
			<key>mtime</key>
			<integer>1599583219</integer>
			<key>sha256</key>
			<string>a33a828ccdd60d01abe07e4c4004e4ba8a4924c23cd1fe68a55f050ea6c69dfc</string>
			<key>size</key>
			<integer>34025</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/gnutls.mo</string>
			<key>mtime</key>
			<integer>1599583219</integer>
			<key>sha256</key>
			<string>a5caaa4e080d6917e1c7e3efa63d73289af6eb49dbfcc4a91742a787ca9aa4fc</string>
			<key>size</key>
			<integer>34575</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/gnutls.mo</string>
			<key>mtime</key>
			<integer>1599583219</integer>
			<key>sha256</key>
			<string>cb3a3f572ef893b549e5d5cdc9e2fdaa40904cc1c266ebdf253b83beeaa0d074</string>
			<key>size</key>
			<integer>41709</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/gnutls.mo</string>
			<key>mtime</key>
			<integer>1599583219</integer>
			<key>sha256</key>
			<string>3a0d2a30eaf5792d84412a1d1726034b540220f89aaf693eb950827cb1f3f5f9</string>
			<key>size</key>
			<integer>23808</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/gnutls.mo</string>
			<key>mtime</key>
			<integer>1599583219</integer>
			<key>sha256</key>
			<string>c54cd58f5f1de7610e5897dcd8999f5c74e3cdf1d2595ad96df4541a7ad52521</string>
			<key>size</key>
			<integer>43946</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/gnutls.mo</string>
			<key>mtime</key>
			<integer>1599583219</integer>
			<key>sha256</key>
			<string>702177015ff3bef3abe54d8c8fac9ac559d61ee8f92cb1fd7dc191c41dc57e90</string>
			<key>size</key>
			<integer>26073</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/gnutls.mo</string>
			<key>mtime</key>
			<integer>1599583219</integer>
			<key>sha256</key>
			<string>b19488ca0e3469cab1f6d7dce52a84f149e60f7ba41cb80cb1b2dc93ba4a12c5</string>
			<key>size</key>
			<integer>22411</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgnutls-dane.so.0</string>
			<key>mtime</key>
			<integer>1599583219</integer>
			<key>target</key>
			<string>/usr/lib/libgnutls-dane.so.0.4.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgnutls.so.30</string>
			<key>mtime</key>
			<integer>1599583219</integer>
			<key>target</key>
			<string>/usr/lib/libgnutls.so.30.28.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgnutlsxx.so.28</string>
			<key>mtime</key>
			<integer>1599583219</integer>
			<key>target</key>
			<string>/usr/lib/libgnutlsxx.so.28.1.0</string>
		</dict>
	</array>
</dict>
</plist>
