<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/protocol</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/x86_64</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/efi.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>307798e5b60aa9eaa306cd4626ebc4fdc17ab52140bde4d8454eb3950ab0b800</string>
			<key>size</key>
			<integer>1058</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/efi_nii.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>eabd98927854fb01f7de53b8c0dbc29d7e875e94324507564b4cbb9c3da28737</string>
			<key>size</key>
			<integer>2635</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/efi_pxe.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>cb68870150f0dd90bf226eb2f7128120b0ed1d321b9e341a54d450796c522e76</string>
			<key>size</key>
			<integer>47623</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/efiapi.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>80890e8e554f5d1f4b052c901657431f69d3ac26799491ccfd171ef6189952df</string>
			<key>size</key>
			<integer>24923</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/eficompiler.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>1965e9c802116f757937e5ea482fe3b9a1cdab625861966a9c6b0ace1be2f4d7</string>
			<key>size</key>
			<integer>483</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/eficon.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>a080806db398c26ca8bea742465daa9152258db591d516195e45f6dd01b429d2</string>
			<key>size</key>
			<integer>9382</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/efidebug.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>1a6a52e8e5b2bc212404dc37f44c6eaa4d21e664241265e216e75f3b8608ef36</string>
			<key>size</key>
			<integer>16716</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/efidef.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>d49520e3a75d922adadcc266b21e2b542fbf8edf0545ed33b5162c68496083ab</string>
			<key>size</key>
			<integer>5231</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/efidevp.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>9b5f429081ee35ba5187051f17ad578b85231328edf8cc69db4d7921864d04c8</string>
			<key>size</key>
			<integer>19893</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/efierr.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>9d2cdbdaef7787590422e716550ed73e8ccb65efb17ff3fccd5ee5b5be0966fb</string>
			<key>size</key>
			<integer>2162</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/efifs.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>8b415e2f6c445ec5e667012de50a3e6fe5f9f060c81e7171fd14f4887e2c90a9</string>
			<key>size</key>
			<integer>2540</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/efigpt.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>2592a7533e3978ad6a64bc378bae74996f9e7e234b39eb2bb053ad2c4e9fb0f5</string>
			<key>size</key>
			<integer>1866</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/efiip.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>a5a3e8a81d26a1d156f54c7a615ae18f7b55b4d833297ebc8054b243709c7dee</string>
			<key>size</key>
			<integer>12939</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/efilib.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>0aeb359a76f936293674481137cf0978dfc0d78202c0292da0e698cfeb671a63</string>
			<key>size</key>
			<integer>22085</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/efilink.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>a734d5461b5b223fcdb851a6a0687168d841041da4dc33ddd43a3fd716f39dd8</string>
			<key>size</key>
			<integer>3920</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/efinet.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>1ba9858446f3b89060b774cda5280fe69f3e2e581338024039eedae7567526e2</string>
			<key>size</key>
			<integer>10574</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/efipart.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>36638118312ca53c7756d5f8bdd63282fc25c4e64a3cbd4f05b2e1607daeb8d8</string>
			<key>size</key>
			<integer>1175</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/efipciio.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>afd6aafc4f792feb3c2a8a8bd346e5fd2b9dfcc822bc524267787147cdf9c427</string>
			<key>size</key>
			<integer>14401</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/efipoint.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>e94ec1673a10f06d5d8895c710b3911143732250662b21b442a5392acc817577</string>
			<key>size</key>
			<integer>3426</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/efiprot.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>2e11ee11775d857739cbb393ed85e9c9534e0ea1b4c6cc93425b7039e8288b73</string>
			<key>size</key>
			<integer>44030</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/efipxebc.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>94196dfc1f962b536574bf2701b000f78cafee567a3e76114e83cdce72a7bc08</string>
			<key>size</key>
			<integer>16602</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/efirtlib.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>33d666501875f2880ecbda5c2179a9e337a7729f40b2022b1abaa164275dd728</string>
			<key>size</key>
			<integer>2329</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/efiser.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>67bf22ebff0c462e62c5fa3e468ce291e97539883f8e64f5c79a278a1f0726a7</string>
			<key>size</key>
			<integer>3595</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/efisetjmp.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>a32843768bd7920314b97c6c8f0d6bc1dde0d27a83e6cbb44afbf3e018ae8d8b</string>
			<key>size</key>
			<integer>274</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/efishellintf.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>b666f12998bb548937cb0cb22e1d70ad45dae64aad6c1b37822f82f5dfc6313e</string>
			<key>size</key>
			<integer>2556</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/efishellparm.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>d474ea7a03807d9a27fa00589a434ca24611ec96d34d751bf1252bfc9f697ed3</string>
			<key>size</key>
			<integer>2038</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/efistdarg.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>849b6eda263acaa2789e6fd6f9972ce6f84587408744b655f6ed66d45a7ab164</string>
			<key>size</key>
			<integer>500</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/efitcp.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>caa16b15eb20e23bd75ab25cd2d8d38118de82207e91530cb4dd0ce30bebcee6</string>
			<key>size</key>
			<integer>10133</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/efiudp.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>b935875e1a35f7898d35a6578b12fb020c1ad1c290bd8a931fdcda1da0353a00</string>
			<key>size</key>
			<integer>7235</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/efiui.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>494877431abd4e0206b9cfff0199966e3f4e2f643baf8f198a96b20f5b39ccd0</string>
			<key>size</key>
			<integer>1477</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/libsmbios.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>85bb30fe337ce57c223f009a43e88b5f514e08249e09687b45a2edc7f7855a57</string>
			<key>size</key>
			<integer>3395</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/pci22.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>8407725fcfc71641cd36d5ad767b482b70115722f42ebc58743d4198e1ff30ea</string>
			<key>size</key>
			<integer>4618</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/protocol/adapterdebug.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>95a1a79b7ecae05662fa049c41bb3a528252418ad57b25a910161a2d4ae8268d</string>
			<key>size</key>
			<integer>503</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/protocol/eficonsplit.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>8b24210ab7e51075f5925a036466624dab80abe7437f9fc5b7f3d46d7d722c01</string>
			<key>size</key>
			<integer>556</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/protocol/efidbg.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>afe8f5cb8199fc93659bf3de1c23fce6b4dd35d87b7c259ebeec9e40e5d57521</string>
			<key>size</key>
			<integer>6634</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/protocol/efivar.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>79b8e829e4f1838ff496eeeea6b349a541543c92cfa8373c25b34b1f5bfc914a</string>
			<key>size</key>
			<integer>3859</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/protocol/intload.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>65a873eb73cf9d0fb5e25c36020ecf2a7fa9f615480a1ca18cf0398506f765da</string>
			<key>size</key>
			<integer>394</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/protocol/legacyboot.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>260c77945485054da7596e9dc7f70d89997261870911e2d6d97cf068a682b10e</string>
			<key>size</key>
			<integer>2494</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/protocol/piflash64.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>8c510331a361f3667837ad7fdadb49cde31ec6d19f64171f4a8b9d7ae7a17d88</string>
			<key>size</key>
			<integer>3870</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/protocol/vgaclass.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>2e138e384ebbc405107d61d5ec63e9329b5e34c92948679260df029a17ff9d4d</string>
			<key>size</key>
			<integer>1914</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/romload.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>d8b397e970bce3bd60cef99c5aea8caeebbfc304c3d8d603da3816fa80b4ad7a</string>
			<key>size</key>
			<integer>724</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/x86_64/efibind.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>eca9d3cdc190802f396ba901e283e14952272d21e11118f014a9eab87aea5398</string>
			<key>size</key>
			<integer>13526</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/x86_64/efilibplat.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>a9a212a209d3d27321cb20ebdab19b3971169d62d88b81872f0536f53ae4b43a</string>
			<key>size</key>
			<integer>267</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/x86_64/efisetjmp_arch.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>4839a1fa6ab289c4b316149e64218d2d111212a73f8118f4759099cc01122ed3</string>
			<key>size</key>
			<integer>363</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/efi/x86_64/pe.h</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>c4c8f37df5afd3fd04dafe0b4c4d66d651f46fc23ba9f59c29017bfa6714e46f</string>
			<key>size</key>
			<integer>24358</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/crt0-efi-x86_64.o</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>0f2bc81ab67a95b9f021a600a5945ba3409525c8e863e64273c0163fe14897b1</string>
			<key>size</key>
			<integer>2608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/elf_x86_64_efi.lds</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>c3c244959c54279023a30de125aeac3285e8de69e36e70ee3aa40b66f1fbb660</string>
			<key>size</key>
			<integer>1358</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libefi.a</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>2ed8acc86417bec2e41201b5ad3a44f31717dc93e3850861bfed32a06e7d1ba0</string>
			<key>size</key>
			<integer>761796</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgnuefi.a</string>
			<key>mtime</key>
			<integer>1592059869</integer>
			<key>sha256</key>
			<string>aabaa5b9946596f2576d48c72eee7ded5bc91844a0ea69119d4bf76395bb8eec</string>
			<key>size</key>
			<integer>19946</integer>
		</dict>
	</array>
</dict>
</plist>
