<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gpa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pixmaps</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/gpa</string>
			<key>mtime</key>
			<integer>1539917001</integer>
			<key>sha256</key>
			<string>9e0165d6d76e078b21d6fcbce4094f6fb88dffe756c4953d9d0019bafdb1963c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/gpa.desktop</string>
			<key>mtime</key>
			<integer>1539917001</integer>
			<key>sha256</key>
			<string>66fcf3d4c8b92b676ff585f243a277cf3071dc78e145b404581510c577f35e26</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gpa/gpa-logo.ppm</string>
			<key>mtime</key>
			<integer>1539917001</integer>
			<key>sha256</key>
			<string>5cbd382023648018dff5a0d3c0b2d32780d68f3337a6699fe10c197a984e30ba</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gpa/gpa.png</string>
			<key>mtime</key>
			<integer>1539917001</integer>
			<key>sha256</key>
			<string>07e441cfd68a6e2dd7af323db48d1d0feb6adaa9bbdabbb7c57614550ce07f36</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/gpa.mo</string>
			<key>mtime</key>
			<integer>1539917001</integer>
			<key>sha256</key>
			<string>b5bd5efba45172bd4bb4e0406fd3801a5ad956b5fdc61384dea296082fcc3d3a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/gpa.mo</string>
			<key>mtime</key>
			<integer>1539917001</integer>
			<key>sha256</key>
			<string>84193f55bcb5cc2b6e9abde6cb9b845124db32fddb42f61676294a5c74e6d597</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/gpa.mo</string>
			<key>mtime</key>
			<integer>1539917001</integer>
			<key>sha256</key>
			<string>5dccc8c59734320685ff306d30cecfe86938382c3a802346b49c5c84aacc9183</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/gpa.mo</string>
			<key>mtime</key>
			<integer>1539917001</integer>
			<key>sha256</key>
			<string>2f862f8d90292d0b7a2106b9b961eab736127ed7075a8d78e1fc3473f00a8a6d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/gpa.mo</string>
			<key>mtime</key>
			<integer>1539917001</integer>
			<key>sha256</key>
			<string>fa56770b3f36f3ce4e5279aee4f6ba5ee2bf25d8d85956e94c985f082fcc6b99</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/gpa.mo</string>
			<key>mtime</key>
			<integer>1539917001</integer>
			<key>sha256</key>
			<string>85eee7ff08f00be5985ddce2fc99d29c387712b764d8004937e0115fabaab01a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/gpa.mo</string>
			<key>mtime</key>
			<integer>1539917001</integer>
			<key>sha256</key>
			<string>bd18e4fa7ec1933fa58459aa05f0e052c496d939f6852b12759c3e4d2fa71632</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/gpa.mo</string>
			<key>mtime</key>
			<integer>1539917001</integer>
			<key>sha256</key>
			<string>e33c26d830a76d12bbe24024d597c7b108f44a372ae5bd6af95634d87f5a94f8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/gpa.mo</string>
			<key>mtime</key>
			<integer>1539917001</integer>
			<key>sha256</key>
			<string>0f8d697ad53bba4695e8396e86a5b43bfd4e0ceae7944b9bfc8aca8b31e5fe21</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/gpa.mo</string>
			<key>mtime</key>
			<integer>1539917001</integer>
			<key>sha256</key>
			<string>e1518b8927e80f7fbf3f59ba1f8908852351232422e9f322de72d73bd1a30e74</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/gpa.mo</string>
			<key>mtime</key>
			<integer>1539917001</integer>
			<key>sha256</key>
			<string>fcfe67bd42ca1f669f09f8ac61dceb15047f0567002b0d214b7731f3ae20dcef</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/gpa.mo</string>
			<key>mtime</key>
			<integer>1539917001</integer>
			<key>sha256</key>
			<string>8f292ec25cb6be6883cab9ab5270f3da8cbaa0a10d9920fe5f10c5c9b3ed4bfb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/gpa.mo</string>
			<key>mtime</key>
			<integer>1539917001</integer>
			<key>sha256</key>
			<string>7e894d957435ad53adda99465becffbb4f9f83426ec1ad19aa7918dc72fffdae</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/gpa.mo</string>
			<key>mtime</key>
			<integer>1539917001</integer>
			<key>sha256</key>
			<string>519710e49c60435880168505a581b476610272162d0cb8f1d27de180b3194140</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gpa.1</string>
			<key>mtime</key>
			<integer>1539917001</integer>
			<key>sha256</key>
			<string>89e4c95b33a3ff15af3d716397ce66221bb605d9a2eafe150f31e4778d433293</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pixmaps/gpa.png</string>
			<key>mtime</key>
			<integer>1539917001</integer>
			<key>sha256</key>
			<string>07e441cfd68a6e2dd7af323db48d1d0feb6adaa9bbdabbb7c57614550ce07f36</string>
		</dict>
	</array>
</dict>
</plist>
