<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/graphene</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/Graphene-1.0.typelib</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>c1928fe1c65f71715a3e2f50afef3ea764f61e60770cc70c50fd98ee125ff156</string>
			<key>size</key>
			<integer>39116</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgraphene-1.0.so.0.1000.2</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>36d24d9bb331bf0d19217083f56f93424f345c3628527bbacd57ad374c0e794f</string>
			<key>size</key>
			<integer>116648</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/graphene/LICENSE</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>cfd9fd7b2be592d2c0910d32dc1d8910c08dc0670b1d9ce417a82fa9eb788df9</string>
			<key>size</key>
			<integer>1077</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgraphene-1.0.so.0</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>target</key>
			<string>/usr/lib/libgraphene-1.0.so.0.1000.2</string>
		</dict>
	</array>
</dict>
</plist>
