<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ky</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ky/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/egrep</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>f7c621ae0ceb26a76802743830bc469288996f64342901ae5292950ff713e981</string>
			<key>size</key>
			<integer>28</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/fgrep</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>5c8b1486de899cdd010d3cacde94579999cb82d0be9ec8c131b1b56886cfd36b</string>
			<key>size</key>
			<integer>28</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/grep</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>a0fd3c6937e6fa6a1a3d231f89195a313184477fdf6e4bb2eac02fc62c903446</string>
			<key>size</key>
			<integer>219528</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/grep.info</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>5af85aa0086d573b61e6bfb6e4016b305def1dcc4e1a55409cf6f002711568b7</string>
			<key>size</key>
			<integer>126775</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>9b8a180a4c00b9a575fb2a61f89b700b0052623bf15b485b0f8ee0bc4345bdaa</string>
			<key>size</key>
			<integer>1171</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>f838ebc849c25cc377930e83c51eb07e08a4098f48ccc8f5023cbf1e9e446e3c</string>
			<key>size</key>
			<integer>1439</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>c01b7fa0e8ccbdd3e679f2274452e0b708aa0a0e3e780066a1646d32a1539649</string>
			<key>size</key>
			<integer>21962</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>8d3b6d804768ba87fad0555fa05ede2af1cd07cf3e012286ce91e29aa3a3c0a5</string>
			<key>size</key>
			<integer>13160</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>06cbde97b9b7cd5a8576b1f1514d5c27b9bbc881b38230a81d6542c8e25e02c1</string>
			<key>size</key>
			<integer>17326</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>6087384994a0d9b61e1beee7b45afa26897b325b713a87ff75798431a2581821</string>
			<key>size</key>
			<integer>14102</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>95b31dbf675162c75d5be2e1d0fdb0e32643ff0185b89b5fd4bf93a3ca9d06c8</string>
			<key>size</key>
			<integer>17307</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>43d79f43c9fbb5e67f4ecf9ed570c196d5198cb318dc7213272a77a8fdef72da</string>
			<key>size</key>
			<integer>3746</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>1397443056b8114038294a88b4a79cb882c4c2e749317aeae3c10da13531a588</string>
			<key>size</key>
			<integer>15965</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>6d1fb21b2cc3468e4013ea2c1b5281184b9f203510103d3a302488d625ef66de</string>
			<key>size</key>
			<integer>7632</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>8cfb7cbe54ab564ce5c51e52074aa42c46adafb5c12ac198fd3047ef571eee08</string>
			<key>size</key>
			<integer>15667</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>b049f94194566e609ee9f5739bfa6fde1e42dbac22f191e09030adcd455c4f72</string>
			<key>size</key>
			<integer>1278</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>c07d107a6f4406786457ac8830f2bac50cd1d0d5742a2375b75e870dd21667fc</string>
			<key>size</key>
			<integer>16299</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>e0275408dfcd46a36d804728db2836874b3feaac89ae6c46605c13702d23edff</string>
			<key>size</key>
			<integer>15020</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>1535b2add0955367a778630b30ddfec9be36239d15e193f9b39b2e668c608f0f</string>
			<key>size</key>
			<integer>11119</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>c7012d7f917bf8cbf10ac66a85178ffb52fbced685fb90e3e2792e48dbc69505</string>
			<key>size</key>
			<integer>16427</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>d2acfd9c0b1245a987ff70d1bc84573c86ae6d3f0601565d2f4b74329b5ca261</string>
			<key>size</key>
			<integer>1138</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>d84a03ce9c449b456de1b1b65523f5113b4f90909727d903d6aefd11203d0388</string>
			<key>size</key>
			<integer>14704</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>964c7433073b7b6aa70ee48dab4e753171dcdb7a0239e86c1bdc63eecac76560</string>
			<key>size</key>
			<integer>13340</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>31a5bc3526a60066b272d643260df1114837a476cf5b15a07bcfcf60204c9039</string>
			<key>size</key>
			<integer>14407</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>d33470354dc968b4d27bf7ae4d3c76421940eb501281cd68b468cc3a7aa23afb</string>
			<key>size</key>
			<integer>16247</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>c94cfcefa3efe851f77cffd96b4739adc758f5b2372245c02707a9b05f8e0af6</string>
			<key>size</key>
			<integer>12063</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>f21817caa6ac724d47bb65c11f832632fbd923064ca87b09a035b7d89807b7ff</string>
			<key>size</key>
			<integer>15609</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ky/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>5abae431f7cffeed7837b2ebe3b94cee9e2e1cca8e53fc7d46bea2fc2a181bb3</string>
			<key>size</key>
			<integer>1518</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>3585cdcfc28b90e4c281db42dc2d68be2b82edb748743df610819966e4af9190</string>
			<key>size</key>
			<integer>1384</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>8024d9a138bae5cbf9353ff70bb72166b9c30ce72404f8bfdd22c8261aac3a84</string>
			<key>size</key>
			<integer>15906</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>e97545e20d28b5a439871fd3c32000ea287def4b6c16a184a516a32b3d731b57</string>
			<key>size</key>
			<integer>16783</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>ca8f364ea56123d866a726f87414b44a5cb6890b5850404abc67959c0e4cda6c</string>
			<key>size</key>
			<integer>5084</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>c48bfe4ff8abb838b67fd93bee6b9bbc8677fcf4118c8410bb53f440cd1d5dcf</string>
			<key>size</key>
			<integer>16369</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>578956ca8763f0b88fbe1fdcca64a511f2efd8af2ef80a2ea1b3c6cfcc3f9711</string>
			<key>size</key>
			<integer>16235</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>62119fd3420e15886c297670bfcd8b20bb5d784438b588a89e58a50a90c0f18d</string>
			<key>size</key>
			<integer>17204</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>0a103ff7c1f2f4da3b823e700a3552b0dfbe954b3cb274b211c54c3d0790ef1d</string>
			<key>size</key>
			<integer>14904</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>8787337800ba501e1fa5485b310933c7212944dacb07e85a5b710c57b6d6c82d</string>
			<key>size</key>
			<integer>21067</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>42ff5da62b6cb44c86be4725dc196f9673718d82521ca4ed8475bc7394b894cf</string>
			<key>size</key>
			<integer>6725</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>40a17fe3216c235cb0ec54ccf43590a622fc8ccf016eea0d5833bf9f42df4a40</string>
			<key>size</key>
			<integer>10821</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>93acdd94ead226e956a0e1553a8fbeda1745b0dd4295cdb7e22578c0e6205b98</string>
			<key>size</key>
			<integer>20688</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>a06986972cd99aaf924a50ca71a347c91b8e2e0b12ce465ea2c92cc39a395a40</string>
			<key>size</key>
			<integer>16199</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>14c57cfee2073327d0cb7bc858c6b9f34796b0b855c36ed965fa3800b661c381</string>
			<key>size</key>
			<integer>17694</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>a1856268837a10864d410e4992a5bea8f23e8e91d577a2031ee66edd28db0593</string>
			<key>size</key>
			<integer>1249</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>59b955cab35696535640bd2a410d9e842c091b11178b573ef92452dee2ddf630</string>
			<key>size</key>
			<integer>22125</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>fc3090a6ad1490121b18aa2de99af03cc9da52e37986107c3b98e35ce7c7e0f8</string>
			<key>size</key>
			<integer>16508</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>101bc48f5831060de5805f3e991f1bfbd2a8fceb8d588c49b3ff381928030810</string>
			<key>size</key>
			<integer>15844</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/grep.mo</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>52d9f8aaac767d422a750a54e820b7876c9080acd3e824ef3c975050bf9293a9</string>
			<key>size</key>
			<integer>15694</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/egrep.1</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>63c67a6e12e52a18c217adca1e7a88ebf1590df82e1234ad9061b4d6db34eefc</string>
			<key>size</key>
			<integer>16</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/fgrep.1</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>63c67a6e12e52a18c217adca1e7a88ebf1590df82e1234ad9061b4d6db34eefc</string>
			<key>size</key>
			<integer>16</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/grep.1</string>
			<key>mtime</key>
			<integer>1605021948</integer>
			<key>sha256</key>
			<string>e74b59f5f59e00de00784342018413ceb6bfef05092c2ac107fa342832209480</string>
			<key>size</key>
			<integer>33937</integer>
		</dict>
	</array>
</dict>
</plist>
