<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/gsl-histogram</string>
			<key>mtime</key>
			<integer>1584924394</integer>
			<key>sha256</key>
			<string>da659901480860e45a5622ca810898878985cd422a06e782cef34494fc051ae3</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gsl-randist</string>
			<key>mtime</key>
			<integer>1584924394</integer>
			<key>sha256</key>
			<string>3306fbf6603bec21c289a1a0afa7746b80d727c2261356c08aba92fb397bd139</string>
			<key>size</key>
			<integer>22600</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgsl.so.25.0.0</string>
			<key>mtime</key>
			<integer>1584924394</integer>
			<key>sha256</key>
			<string>bf47dd1079c1209cce8939bdd06dea303e327d4e659e5a41ef8e366090310803</string>
			<key>size</key>
			<integer>2949872</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgslcblas.so.0.0.0</string>
			<key>mtime</key>
			<integer>1584924394</integer>
			<key>sha256</key>
			<string>cbcecd0650506ec6e2229f953a7fe921af7bfa2144944ae6e7d1d6256ec858fd</string>
			<key>size</key>
			<integer>260000</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gsl-histogram.1</string>
			<key>mtime</key>
			<integer>1584924394</integer>
			<key>sha256</key>
			<string>b76c5a9afda2a2c6be9cdb6cb48b46efb17c6d28a9c15876678f0802c6d128ce</string>
			<key>size</key>
			<integer>1472</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gsl-randist.1</string>
			<key>mtime</key>
			<integer>1584924394</integer>
			<key>sha256</key>
			<string>4d3d63db3ec9ae57ac2cd1c0bcd771853ef8fff83f3f526a69e2008316a64002</string>
			<key>size</key>
			<integer>1269</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgsl.so.25</string>
			<key>mtime</key>
			<integer>1584924394</integer>
			<key>target</key>
			<string>/usr/lib/libgsl.so.25.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgslcblas.so.0</string>
			<key>mtime</key>
			<integer>1584924394</integer>
			<key>target</key>
			<string>/usr/lib/libgslcblas.so.0.0.0</string>
		</dict>
	</array>
</dict>
</plist>
