<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/gsmartcontrol</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/gsmartcontrol/contrib</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/gsmartcontrol/contrib/cron-based_noadmin</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gsmartcontrol</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/apps</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/22x22</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/22x22/apps</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/apps</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/256x256</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/256x256/apps</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/apps</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/64x64</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/64x64/apps</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/metainfo</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pixmaps</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/polkit-1</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/polkit-1/actions</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/gsmartcontrol</string>
			<key>mtime</key>
			<integer>1532507546</integer>
			<key>sha256</key>
			<string>116976933ac023faa90711545685c68dbc7ebaccff2e2b3bbfc521f8d5829199</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gsmartcontrol-root</string>
			<key>mtime</key>
			<integer>1532507546</integer>
			<key>sha256</key>
			<string>24db9f25d47a062f580169b06aefae78b1f5b7e483c3fdb50530b58c00850313</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/gsmartcontrol.desktop</string>
			<key>mtime</key>
			<integer>1532507546</integer>
			<key>sha256</key>
			<string>5ef712ee8990c2cc554bdb0dd4d67016340279fa6dc44092097a3dc228e3e908</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/gsmartcontrol/AUTHORS.txt</string>
			<key>mtime</key>
			<integer>1532507546</integer>
			<key>sha256</key>
			<string>f8b38326db2d585721ab9acc95e449a2b376cc79a063a0a2e3bbfbdefeba6086</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/gsmartcontrol/ChangeLog</string>
			<key>mtime</key>
			<integer>1532507546</integer>
			<key>sha256</key>
			<string>8e3f9d82e443629e6915d908cd4e5ee8b6b2ea5a608dcf9007af934336ce7bc6</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/gsmartcontrol/NEWS</string>
			<key>mtime</key>
			<integer>1532507546</integer>
			<key>sha256</key>
			<string>24942b069522461bc9c72eceabd1b01ca5d2ec05458a06fda56404b96714732c</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/gsmartcontrol/README.txt</string>
			<key>mtime</key>
			<integer>1532507546</integer>
			<key>sha256</key>
			<string>5909dbbd1e57be4356a9a27a8fe1c563525acbdf703f2a01ff50dcfe1645fdf0</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/gsmartcontrol/contrib/cron-based_noadmin/README</string>
			<key>mtime</key>
			<integer>1532507546</integer>
			<key>sha256</key>
			<string>31f0f229d15b2e7b48e2566a3e82d04dc6c91749b8418300ab1eba0805c50b42</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/gsmartcontrol/contrib/cron-based_noadmin/cron_gather_smart.sh</string>
			<key>mtime</key>
			<integer>1532507546</integer>
			<key>sha256</key>
			<string>38f04ac746e83f7b0d771114cb540c307f746222bd6e11d69ba58e464cecfeb9</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/gsmartcontrol/contrib/cron-based_noadmin/crontab.example</string>
			<key>mtime</key>
			<integer>1532507546</integer>
			<key>sha256</key>
			<string>5fa190d33bfb721b93c26bd475d6f2886a5ac2810aef234f69af4e853828f5cb</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/gsmartcontrol/contrib/cron-based_noadmin/smartctl_subst.sh</string>
			<key>mtime</key>
			<integer>1532507546</integer>
			<key>sha256</key>
			<string>db040153766c0d9201d6d2aecd979d8ff1120575e383c63ed32f8396487b59a4</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gsmartcontrol/icon_cddvd.png</string>
			<key>mtime</key>
			<integer>1532507546</integer>
			<key>sha256</key>
			<string>d4711405ec848e078a5dd436305128be46e05091c50dbb0a5df8ab4b6abba625</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gsmartcontrol/icon_hdd.png</string>
			<key>mtime</key>
			<integer>1532507546</integer>
			<key>sha256</key>
			<string>37f7eab535bbfa138efc2ed7cdf41fff89f270d1bb2fad21c5b3e4c27fed023a</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps/gsmartcontrol.png</string>
			<key>mtime</key>
			<integer>1532507546</integer>
			<key>sha256</key>
			<string>0f6b6469a587cba600c8fd72946a19e68917b90b7145ef438ab64db5c46d5d5c</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/apps/gsmartcontrol.png</string>
			<key>mtime</key>
			<integer>1532507546</integer>
			<key>sha256</key>
			<string>e3309b5bc2169d9559fb341ba0682bb2cdf284505bf0d278de8c0c6683449841</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/22x22/apps/gsmartcontrol.png</string>
			<key>mtime</key>
			<integer>1532507546</integer>
			<key>sha256</key>
			<string>eb267b438386815213e8948dff9455a3424ce0f87c2c93eb07fd7c5d26ec4557</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/apps/gsmartcontrol.png</string>
			<key>mtime</key>
			<integer>1532507546</integer>
			<key>sha256</key>
			<string>4fe790a0253fc3d48b2af60eb6eb5d7d1d294c65d8a5645d0cfb8b5890f6520a</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/256x256/apps/gsmartcontrol.png</string>
			<key>mtime</key>
			<integer>1532507546</integer>
			<key>sha256</key>
			<string>04bfc998d49c22fc1d28d6018c8860387666d6e93dbb28f92b7d7403f89b584f</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps/gsmartcontrol.png</string>
			<key>mtime</key>
			<integer>1532507546</integer>
			<key>sha256</key>
			<string>5a8d7051fd2e9956b68ac9a3aae4a27de25cd1d76679fc0384f7c2d64573073b</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/apps/gsmartcontrol.png</string>
			<key>mtime</key>
			<integer>1532507546</integer>
			<key>sha256</key>
			<string>4754eb63d38e89f212a319a154d157c8f7b0064e881323e9c0282acb6bfa09d6</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/64x64/apps/gsmartcontrol.png</string>
			<key>mtime</key>
			<integer>1532507546</integer>
			<key>sha256</key>
			<string>ef8a5fa334bc46dc481f55a67854a560c7ad4e6d434fd045732bc08ed0e98238</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gsmartcontrol.1</string>
			<key>mtime</key>
			<integer>1532507546</integer>
			<key>sha256</key>
			<string>696e2871e3a5a7a5a5fa881329c1667d3cb002b6e175f2c3e73c4cd25aa2f5c9</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/metainfo/gsmartcontrol.appdata.xml</string>
			<key>mtime</key>
			<integer>1532507546</integer>
			<key>sha256</key>
			<string>547f8df7729f2006d24072edf049e7c7c3efb73222c26678428b765488ba13b2</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pixmaps/gsmartcontrol.png</string>
			<key>mtime</key>
			<integer>1532507546</integer>
			<key>sha256</key>
			<string>4754eb63d38e89f212a319a154d157c8f7b0064e881323e9c0282acb6bfa09d6</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pixmaps/gsmartcontrol.xpm</string>
			<key>mtime</key>
			<integer>1532507546</integer>
			<key>sha256</key>
			<string>ec0066be47257c91b266178324adb3054289f463edf8e7a1e15ce2f13e91e6d0</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/polkit-1/actions/org.gsmartcontrol.policy</string>
			<key>mtime</key>
			<integer>1532507546</integer>
			<key>sha256</key>
			<string>ba880e33d0281f7c5b121f6ce06d8a9d75887ee2e41ed8e02ba008898b0c2541</string>
			<key>type</key>
			<string>files</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gsmartcontrol-root.1</string>
			<key>mtime</key>
			<integer>1532507546</integer>
			<key>target</key>
			<string>/usr/share/man/man1/gsmartcontrol.1</string>
			<key>type</key>
			<string>links</string>
		</dict>
	</array>
</dict>
</plist>
