<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gstreamer-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gstreamer-1.0/presets</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ky</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ky/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstaasink.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>ad9981981eda02890f3059e83dde038f56b9818f499f5fc144099333004c1e1d</string>
			<key>size</key>
			<integer>35016</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstalaw.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>22fa885cf7b1cde7608e3cf130745bce72cb2985e43ca345e890b155e71bd61e</string>
			<key>size</key>
			<integer>22792</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstalpha.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>66fdf914bb25e4955ffe8ccbb6fba2ba8b1e3e54bc5fe62a264b91b516042b05</string>
			<key>size</key>
			<integer>55496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstalphacolor.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>8edb54c82b5c81ff6066b3cf06ce9bb4dc2e78e9610255df04b5f81b2bf92927</string>
			<key>size</key>
			<integer>18416</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstapetag.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>5a20ee3a4aca9d1f9a9114b39b19d84b13cfded3be9ed68556f4ef9133fb20b8</string>
			<key>size</key>
			<integer>22600</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstaudiofx.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>4e7f3bc0bc3d4a60c5eb1f3998d6f8d4849a0ce434a8acf32f12fe34cfa30696</string>
			<key>size</key>
			<integer>149768</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstaudioparsers.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>2cc4c8e774eb44100150de89788a4009bc3fca3c195030cc320fc090cb706cec</string>
			<key>size</key>
			<integer>138256</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstauparse.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>4bd055c128894955a25ee2a165133513aee74b2bfa08f9611790c295d99e6eb7</string>
			<key>size</key>
			<integer>30856</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstautodetect.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>151185c51203b0cdd68319b283c386ea020d33609280c3fcf7a309516934abb1</string>
			<key>size</key>
			<integer>31112</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstavi.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>5432122bf1b47f5acd7f73736b166b9d69e41e820acf3d09c73683aec76d0729</string>
			<key>size</key>
			<integer>182696</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstcacasink.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>84f7590023ca8ceb5dff604b4d837699198284c914d78f8df2dbf0cb99985d01</string>
			<key>size</key>
			<integer>26824</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstcairo.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>1c1357b57d55faeabe883b7e3923a04cd0632251eda83f1d3f7b3a0e2acad9ed</string>
			<key>size</key>
			<integer>22664</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstcutter.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>79ea25c361218b5d093c9f6bcd088ad22a74a0086d919e756d8512bf46f54f4e</string>
			<key>size</key>
			<integer>22664</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstdebug.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>c21c9f56fbadc1a72db565b66a247f90c826953549499a92117c7628e55dcd75</string>
			<key>size</key>
			<integer>72744</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstdeinterlace.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>e5e1064ebd15eb6b661e98df1d86cdd1ec5c5f85f273de475ffe5cf384458bca</string>
			<key>size</key>
			<integer>141584</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstdtmf.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>e98079895043b9a15c19a713c463205a4f71b8996be1284d55d6c8203e374e0c</string>
			<key>size</key>
			<integer>55688</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgsteffectv.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>eeae1a599745fd4d0b1f93e19fc7fd5cd301dc685af012ec2d30ba1417269bf5</string>
			<key>size</key>
			<integer>60936</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstequalizer.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>acbd85448962d224ccc122f76adfdbc3fbdd5a6491eca57583e1e68e0a01f174</string>
			<key>size</key>
			<integer>34800</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstflac.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>924b1708a65cfec591ea6a7b5f73593baaddf1b7b18f5d4fbb19d8ad7863bd3c</string>
			<key>size</key>
			<integer>80200</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstflv.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>7df962faf3a7cb9cbfa98458dc031cf181ec6bf8ed5e10defb44824e740eb8aa</string>
			<key>size</key>
			<integer>141704</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstflxdec.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>010f2e680b9ac7fe24efcf9bdc996ce31223ce3c859d91f520ba7928ed58fa60</string>
			<key>size</key>
			<integer>34952</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstgdkpixbuf.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>4e683d67f28b93e839cc4aa19ea6194474da6af75386efaf4e536855f5330dbe</string>
			<key>size</key>
			<integer>51528</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstgoom.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>1a32013d52729eb666c619622156eb98e4c885bbe368b3f61d94bf1192554bfb</string>
			<key>size</key>
			<integer>92360</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstgoom2k1.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>2dee59b1a6287318b17d1159982b66a734634cba2dd1c151bbc927363b56a166</string>
			<key>size</key>
			<integer>22664</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstgtk.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>7d1a0a9a144141cf6b0b53eb5702f53ae92ce61aa928058cb0f048c751fe7496</string>
			<key>size</key>
			<integer>51336</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgsticydemux.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>a4129aa5cf2c1a00ffab6f980442b6041c3fddebee07abf129ad4a8176ec43a8</string>
			<key>size</key>
			<integer>22664</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstid3demux.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>c298a80ff559e5b736f4ca65cfc2d66a5c58fa3afbdb5cdf95d8e715898d0ff5</string>
			<key>size</key>
			<integer>18504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstimagefreeze.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>9451b203e7c8caa8cd11331feafa78124c341330eb259f116417889824c4edd4</string>
			<key>size</key>
			<integer>39056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstinterleave.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>bd21f2cb06ce8380ce6964214a818b74d3737efc93baf8698ac4980ec919ed5c</string>
			<key>size</key>
			<integer>55560</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstisomp4.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>9809340b4aa96271581df00dca6534d08086a6ad12ae9beda0528b9266f16440</string>
			<key>size</key>
			<integer>552936</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstjack.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>1e3d747735e27a699c9ca784dd3bbb0bf7de59c4c528955228c2cda81a1965f7</string>
			<key>size</key>
			<integer>59528</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstjpeg.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>c0c5b00f28467fbb9dde4f0fe02b9d5996bad18426bdfda2080629cf2a7541c5</string>
			<key>size</key>
			<integer>55688</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstlame.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>3d4d78abf754999a111a1428d629a4c446ac1d35e793f6608370f5d86bb19cc9</string>
			<key>size</key>
			<integer>30856</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstlevel.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>972e436585132146817dcf437d63a6d3d2b9b42032c4f025858014816258c755</string>
			<key>size</key>
			<integer>30856</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstmatroska.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>bd5ffc556e3c4a9875cf63bff08ff75bb0cc042cbdeb7bca8c8166460047ce9f</string>
			<key>size</key>
			<integer>347016</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstmonoscope.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>98be237d721ad5fedfa94466bb659854409aa272e1ea07d3cf9ca676720e8468</string>
			<key>size</key>
			<integer>22664</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstmpg123.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>dd6625d2267105ceba05f7a5e417288a15febfa3511660704d0d946745733997</string>
			<key>size</key>
			<integer>26696</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstmulaw.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>b25ce68b0b4f3601556653c47674d1240bb4028732b85c137b3e75ba0990d43b</string>
			<key>size</key>
			<integer>18696</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstmultifile.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>aca93888c8c8f434830067734c321ea977795b67b379d4d708c603a743365a22</string>
			<key>size</key>
			<integer>195496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstmultipart.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>5f0a88e5086a2eb70ef32df1d9eda207b2bf44f1d9e75af8463e33fa5b3bb56c</string>
			<key>size</key>
			<integer>39176</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstnavigationtest.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>9bf47f25edfeea025722faa8eeb57eec30c1c50cc1db57bde51f893270b49e01</string>
			<key>size</key>
			<integer>14480</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstoss4.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>7a4fc97f5d8389089876ff9c47004eada748ee49b66635c0abac62e8a4d5eadf</string>
			<key>size</key>
			<integer>59376</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstossaudio.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>c58fabc91c87d7b9572eb097ae73a2b46a3acec6c30f512835eb90b72fd04aa2</string>
			<key>size</key>
			<integer>43144</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstpng.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>7b5414f9187453147d5a54a5986e26db1dd8480cfbc62b64eb9aee46e5168180</string>
			<key>size</key>
			<integer>35080</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstpulseaudio.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>56fa5a4746ef67cf666a1c8c28155cb8ce51764b746f340b7e4a60d152529f8a</string>
			<key>size</key>
			<integer>124912</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstreplaygain.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>44c0e64805ea857185da408ca8955d08d03122028573c6ba589df6d66b0f14bc</string>
			<key>size</key>
			<integer>43400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstrtp.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>94c8d7eb91c3e0527ccfee543502211d6e049139963ecc44073120a683151642</string>
			<key>size</key>
			<integer>611976</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstrtpmanager.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>06037bc75c3fd4aee0b7d2809d42e386a6bf4f794c33312544f2d4bfbbc530fb</string>
			<key>size</key>
			<integer>422088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstrtsp.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>d6b7fb676edd93a720a0cb3197471e4849d8d35f6b3aaafc32a2d8d4f3639491</string>
			<key>size</key>
			<integer>203288</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstshapewipe.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>0be5aaaaab3a886f40edf7c8c82475d3a14578ecca19e8ab5ecab4168820cd48</string>
			<key>size</key>
			<integer>35016</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstsmpte.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>671be4da323702a66266a8ed59b2967a15e6f97d6d23744f60aaafb05bc842c7</string>
			<key>size</key>
			<integer>80200</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstsoup.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>7ea93cb267377fbd643c42a87c5802a2e433779fafeff1a47f3af059d27a6832</string>
			<key>size</key>
			<integer>80072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstspectrum.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>345aeeabf33d1ad2c6921016960cc587557f25b37ae6df37e644adef95c40e74</string>
			<key>size</key>
			<integer>30704</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstspeex.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>04639d4716ec0fb5c09f530b62bc085da459f4f2b2ebd51d03c38d2ce0065991</string>
			<key>size</key>
			<integer>47368</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgsttaglib.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>f52e13d0d89b003efa4977c011aa12e5e4130b6fd23e9de4b1b582e73422d08e</string>
			<key>size</key>
			<integer>51552</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgsttwolame.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>c24a750c651e3f76a65b1210fa3b0b6797e604712590c0640f76f0de1daabd46</string>
			<key>size</key>
			<integer>39048</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstudp.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>9c5f0e66cdf6a74f9a2f293ce3d55503b5e276e840d6acb8be150256fe96beb8</string>
			<key>size</key>
			<integer>84200</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstvideo4linux2.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>37f69abeec0a35c07496bee162792230ff6b514f1cf2a31889c84b0150bfb8fb</string>
			<key>size</key>
			<integer>326224</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstvideobox.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>08d2eada48516c7d44d610b7f78664b2a37f9cc95ac9a23006b980753c2792a6</string>
			<key>size</key>
			<integer>59528</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstvideocrop.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>66755c6595d73c206e1515b8ce4b31f5c9813b7d5443f979d909c8256624cfaf</string>
			<key>size</key>
			<integer>39176</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstvideofilter.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>27bb871f3a3688f19e24a37b95fbe0e8d9bcfd14a2f562abbe404afb1575e1dd</string>
			<key>size</key>
			<integer>64080</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstvideomixer.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>532e43b768f7e9839bc59060c0bc6e436373ca228c1a45ffb58fd2f81651ca7e</string>
			<key>size</key>
			<integer>96456</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstvpx.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>dc005f56b05c3d11dabbbb65accdabd08bd1e4cc3562268c652257773e8e6952</string>
			<key>size</key>
			<integer>80392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstwavenc.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>92cc9b70aae8150d3bb24c93e9a0479e24ca20111eb1624fd52e872e202ec3b4</string>
			<key>size</key>
			<integer>39048</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstwavpack.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>cde6feda8eb01c4917b2164401c793a651e5949163057d221bd61406d13e554d</string>
			<key>size</key>
			<integer>47432</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstwavparse.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>32ee076fe59de2748d5db233a4834cd2c3432516b2b3ddda738e825d87b9d4cd</string>
			<key>size</key>
			<integer>71752</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstximagesrc.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>431dac5d5f84c8bf89cbcc12748291161c001368b753034471b03dc77e0a6584</string>
			<key>size</key>
			<integer>47208</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgsty4menc.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>13add1f11e73150f3603ec418e9d34663d60e2b88618b566e49b1234021f8df3</string>
			<key>size</key>
			<integer>14472</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gstreamer-1.0/presets/GstIirEqualizer10Bands.prs</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>31bcc0a217dfa884b2bc9e51e43f0fec51f093748f88064ed595e4be0f71110c</string>
			<key>size</key>
			<integer>1457</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gstreamer-1.0/presets/GstIirEqualizer3Bands.prs</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>7c2ade94d1cacff212935fcc7c553560b3afc02f9687686bc135cd6ad43d8d0e</string>
			<key>size</key>
			<integer>143</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gstreamer-1.0/presets/GstQTMux.prs</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>e397930758b1ba26520705c9f199670ba30460beeaf7d2cbd3fd9e539883915f</string>
			<key>size</key>
			<integer>82</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gstreamer-1.0/presets/GstVP8Enc.prs</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>1dd5abbc1873fa2795be80bd1bbdececfc90af76c6998b9d65635257e10c18e1</string>
			<key>size</key>
			<integer>106</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>d1f979483b4e498d5ac046c72fa30449522361e7927d49f50088c25897ed3768</string>
			<key>size</key>
			<integer>518</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>7f350c0376a5d4e5a956a7674f06c8d8ab60eb0886659160749e9197e241e320</string>
			<key>size</key>
			<integer>578</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>481fae0819eabd070b4a042d6cd5766236a9551dd734d1188b9b67977c24fb37</string>
			<key>size</key>
			<integer>15327</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>123d95de92dbe12b5508c4b5f552f232eeffca0919736a1c52b9714f08138ecb</string>
			<key>size</key>
			<integer>7836</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>1a603f665ec9541a904e56579abc27129243d54000fe8d997ace7ccc5ed3ef55</string>
			<key>size</key>
			<integer>12133</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>15341e744032dcb8b6b22af265b98a791707ac2c42f37c22ad1b8db5df75f27e</string>
			<key>size</key>
			<integer>12588</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>46c7f5e30bf5234bbf9b6a43cb79e5c610f67f3cd68cdd3f8ead59a35c9dd7a3</string>
			<key>size</key>
			<integer>13771</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>4cf1654c820fca1ad0a0c4dbbc9a17a81a29b00ef69487a3c79519f00d5af510</string>
			<key>size</key>
			<integer>20199</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>35f0138274606306719820d2c72c8207f21a39c55c9e524def0b2790272214c6</string>
			<key>size</key>
			<integer>522</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>9c539efe6340f7af28f01083760055f310fde0e88473acea214a1a1d754176d6</string>
			<key>size</key>
			<integer>1095</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>bff0a7fd7a64269f5e6f87fb1f5c872b7b0eb8c3c08e4c7efa3c3ac23bbfb4c7</string>
			<key>size</key>
			<integer>8122</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>171119cca6dcd6bc799b08cd911734776681d590d1ccd7d318aa0365c7de7d27</string>
			<key>size</key>
			<integer>6501</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>7d2091e1af314db12f09db2fc20e6df94ed4dbed38228455d783e29577c91332</string>
			<key>size</key>
			<integer>6829</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>38b14a8a07249c0ae05454162a83514c2448ed4ef26deb48460c541cb35aff11</string>
			<key>size</key>
			<integer>12864</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>a71d8fcab4d41d1ac293256800500aad3211c0ca3c6b8b96457eb65b55ac9758</string>
			<key>size</key>
			<integer>11174</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>6474017ac57c5eed16d88f0b211e29e3c6c252f33c01b0d3d4252e41d8fa2225</string>
			<key>size</key>
			<integer>9512</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>03ec0a66d0ef4564c1637800bba0fd9e9498794e68feaaf9e4a2646ecb24b46e</string>
			<key>size</key>
			<integer>13096</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>d1c806074d4df5ca35f3b9ec59e472bceafe364b3f721d5e59cec7c7cb0ced33</string>
			<key>size</key>
			<integer>12281</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>c97dd0d33490f300d606eb8c587ae738ade0a699bf96b4095f07844c0a7ec15f</string>
			<key>size</key>
			<integer>10923</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>6b024ec88ce98bff64d962dede6d49a61c1e5c6335eb13abf88c7518f6df65d6</string>
			<key>size</key>
			<integer>13848</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>80f304f5ae79c9fef6973ec5505e6e40022a1bb9c17fedeef65c115e883a41d4</string>
			<key>size</key>
			<integer>10528</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ky/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>b43c0dfb15174df688dc82b5dfd0426d8f53910d049f5ddfb1eb6bf5897b80f2</string>
			<key>size</key>
			<integer>458</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>a70c6497794f42408fcc0d293ce10bb723abbcad446d80688145b71f07c05f9d</string>
			<key>size</key>
			<integer>6378</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>436524fc8e13c2061e012674e02c544ae6d5cedc2d04736b2a5ed9c9c31bdf71</string>
			<key>size</key>
			<integer>9059</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mt/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>48cac14b66c45a9b98560fb34155ef1ffaa67a99f80cafdd78cf186011244187</string>
			<key>size</key>
			<integer>5456</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>4e08f88de8fa774dcc5fe570b0536b6e31c079270d1364f9dabdea59353f7bfc</string>
			<key>size</key>
			<integer>11106</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>6737d9d26ae2a09eb89b7b8fa46a24f934e2ccaea5d220ac2f88106c7717b049</string>
			<key>size</key>
			<integer>11579</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>c2e5bb697a783353d4f4640441254f0298873e2a73fac1fd7ef3dc41bd1c5a98</string>
			<key>size</key>
			<integer>622</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>f3805cccc3c9251591d7417ace75f3e5d76a27d4e1be24dec08f3cceff809779</string>
			<key>size</key>
			<integer>13439</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>d89d28f7590fb92b9a8bc02056e16f99515a473a8e16f4e84337f81fa65bb406</string>
			<key>size</key>
			<integer>12140</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>8c05ebf12aaa42f583b684a357bfca4d237888f8b800b8b5c5c17219c06c5dab</string>
			<key>size</key>
			<integer>6936</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>fb74487e719f42d1197c8146ed11e005031a5be551a0237eb49e2527ad166acb</string>
			<key>size</key>
			<integer>17437</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>383fbc1a0977f09f37efb4a53f50f1c9ff3690f72004cb14865990d084e5f507</string>
			<key>size</key>
			<integer>11183</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>7862c69401200c403c584cc679359cbfa58c17bd3f32345844b9fbad8bfb6d43</string>
			<key>size</key>
			<integer>8986</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>25bd50d4e5a057113af8486d566aec8ec4fefdadc03505b5fce3c4c426c37077</string>
			<key>size</key>
			<integer>538</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>c9bb5c47751482e018eb417904bafc2f163ad1e1ccaeebcbb925550770147776</string>
			<key>size</key>
			<integer>15110</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>c797a4a2230f449744ae94627ba27852b89e769aae665751a25c083b710002f5</string>
			<key>size</key>
			<integer>13058</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>ccf8eed1ddab75d58a1841c804c1c21c95cdf17bc5f4c33739b035310fff048b</string>
			<key>size</key>
			<integer>12492</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>13937d55bcabc5f654b4802d4bb0b012f0c36e51df4c4771edc4f3fe99a07b1c</string>
			<key>size</key>
			<integer>17783</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>113f2187b29c9805a2de6c866da9983d70ce5b52cae43ae934db2c0b835ebbbd</string>
			<key>size</key>
			<integer>13518</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>1653f812968ce9e90a1c55b035ae2959b119d96d29dfd8b2ddd7db42e2c28340</string>
			<key>size</key>
			<integer>11901</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>891da6f6a3c4c8ad3596abab794b580d6ed239df744e8ac8d3e5572559602c05</string>
			<key>size</key>
			<integer>1181</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/gst-plugins-good-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>0b1cf0268716d8e583c2c08271e7f870018bbda685134eb82fb3d28a4893c484</string>
			<key>size</key>
			<integer>1180</integer>
		</dict>
	</array>
</dict>
</plist>
