<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/include/gst</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/include/gst/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gst-plugins-base</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gst-plugins-base/1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/gst-device-monitor-1.0</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>7bc2c95178ea269ebb67282de939eeef5013548a2bc68ec16690d02b1780ebed</string>
			<key>size</key>
			<integer>22680</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gst-discoverer-1.0</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>a51e45ccd92161b543a30890d610ca81151f6d9e8aee680495e6de235324bba5</string>
			<key>size</key>
			<integer>34888</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gst-play-1.0</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>d131765beb6ff124d04836c1cedfdc67c7bfbf22ddf79ece51eb670bf0e1216e</string>
			<key>size</key>
			<integer>51344</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/GstAllocators-1.0.typelib</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>21cad3a23d0f71fd430dd04e1efb9769b4bc0d4894d3168470eae155d625537f</string>
			<key>size</key>
			<integer>3040</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/GstApp-1.0.typelib</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>62ce813739d977fab6d20d05b001d315e91cddcdb1e1c1f146e3f3dc30c0afc0</string>
			<key>size</key>
			<integer>7256</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/GstAudio-1.0.typelib</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>93ce322f6061327fd4fc1b376dfbf837c552a2602988bdca452796fd73477326</string>
			<key>size</key>
			<integer>59176</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/GstGL-1.0.typelib</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>da03c742842d2f6cce2a0ef827314a2cf77f78e0dc240f496d1def943787b8ae</string>
			<key>size</key>
			<integer>63088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/GstGLEGL-1.0.typelib</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>387bc0982609a991d8aa5a67cab3593dcddd53281cf263125bc977b1484a65e2</string>
			<key>size</key>
			<integer>5004</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/GstGLWayland-1.0.typelib</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>84ae1dbdf0bf1314354b8a45736f9234e736f54c94798734be2e31528fd42b0b</string>
			<key>size</key>
			<integer>1052</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/GstGLX11-1.0.typelib</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>5845a1a40330b79fb20d93f8c53010457beca1a1c5f73d551f811df5fed9b433</string>
			<key>size</key>
			<integer>856</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/GstPbutils-1.0.typelib</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>4b958d2498fce77b97a0b3be6df5ddf6d138e20fac35b570583855bdaa7792bc</string>
			<key>size</key>
			<integer>26824</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/GstRtp-1.0.typelib</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>f205212d4a8ab4bf60df5b57b3d10c2294bc9b75deefc87f715a2556ca9f17d6</string>
			<key>size</key>
			<integer>35380</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/GstRtsp-1.0.typelib</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>24ddc1f54065ffa4d998e3bc30d9cac51c53db9036db7ea0262c19312492a371</string>
			<key>size</key>
			<integer>36920</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/GstSdp-1.0.typelib</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>6e29f18c3b61164724e1cfa08d49f0f2c82f2a5b7b4b75a984745722f81cff11</string>
			<key>size</key>
			<integer>24772</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/GstTag-1.0.typelib</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>6ca30d5b024e7302c90d368523ac6d153c02d458b56aeed3a3f046f47d6a82a8</string>
			<key>size</key>
			<integer>14964</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/GstVideo-1.0.typelib</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>99f5758c41b23e6688336a68505d81f7663e3f903d0ed88672b07857bdfcbe20</string>
			<key>size</key>
			<integer>103096</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/include/gst/gl/gstglconfig.h</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>06dd521526890ffe329dea08c71f8e1358246e5e849cfe40604a29aa8657f54d</string>
			<key>size</key>
			<integer>1168</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstadder.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>8be8c2ea09d7c4336eb9edd59a994a98f767dc046c833d0934f66ba7f4496c85</string>
			<key>size</key>
			<integer>59528</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstalsa.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>2fa48ef17481b9810aac8f5c185ecd56df2047ce14ee0da01e87967b3f177782</string>
			<key>size</key>
			<integer>100600</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstapp.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>008e86e6ef8044b8711d46ac434273d53a77666ba76a64c6b3041581ecc2aa09</string>
			<key>size</key>
			<integer>14160</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstaudioconvert.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>e5a7e6b5d70b4d20f38a4b9f42382ff27b27a1d32f61c135cfb495c027d45d8f</string>
			<key>size</key>
			<integer>34960</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstaudiomixer.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>4e1d09f762d265a1e71ae6ea291f3e0447cd5afa6c08a97974901188330904df</string>
			<key>size</key>
			<integer>47368</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstaudiorate.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>2ff6461fa7227ff7587ed7f628dcf49ccc1416d1eb892836a47c38bb7c88eaff</string>
			<key>size</key>
			<integer>30856</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstaudioresample.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>28c1b275c6c7164927ae3eba34f406c6a5643b55d3f3e6194b9f313e57d9b986</string>
			<key>size</key>
			<integer>39056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstaudiotestsrc.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>0c36b6a171a1bb899e10e6a823f7df30dc0b6f86104bdee1577078eb5824f282</string>
			<key>size</key>
			<integer>55440</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstcdparanoia.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>89357aaa512eedf119f383df24d3ceb67238fab3fa2661ed5d82912b05dcc3cd</string>
			<key>size</key>
			<integer>26608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstcompositor.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>514e2c38645f1b78c5336ebad2e1e99d400299f80f1788c3644a344a3ebd6505</string>
			<key>size</key>
			<integer>71816</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstencoding.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>b89f310cb25abcb2783da7c7da81c9db261d184dce302752e34a865002bd5878</string>
			<key>size</key>
			<integer>88776</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstgio.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>a853979c6235e18bbcf8d36d21211642fd9b0155abf5f11ded779c053c38f7bd</string>
			<key>size</key>
			<integer>51336</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstlibvisual.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>176d44fa2430bd9d861fd417a17f36d6082770a849ec76a5a40c0b818a353b90</string>
			<key>size</key>
			<integer>22664</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstogg.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>696290933ac3b74f4e5361c5444001d53b29f65801985551c110aa72f1f16324</string>
			<key>size</key>
			<integer>240456</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstopengl.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>0d2f0b1c1b658c9c3c75feced963e37a8f9177842f57e185b7c48cff71fd885e</string>
			<key>size</key>
			<integer>335432</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstopus.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>62627d3872edc78c773b3810e9805fa4da4940cddaf6137e97d66b0d3e8dbcf5</string>
			<key>size</key>
			<integer>67848</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstoverlaycomposition.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>3caa667492b42689c8cd83eae4bd11ba930040c5fc567e8b59fcc722f146cd51</string>
			<key>size</key>
			<integer>30928</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstpango.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>bbbff638a190de93ae1b90ec4197616426409716ab71add3df668dd0da85791e</string>
			<key>size</key>
			<integer>96648</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstpbtypes.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>f9c44d3f97e136e9a744eb94c00ea17e323af30708afece3cf8eb2fe89ad5898</string>
			<key>size</key>
			<integer>14168</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstplayback.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>a9a0b475a1a016e2768f9eb0ee427e78a45ceb943353cca3daf14ca80dadf11d</string>
			<key>size</key>
			<integer>606920</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstrawparse.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>4f988c5595af716fbd3530d092a946429ae73989167c04755f27d9af514a919a</string>
			<key>size</key>
			<integer>64008</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstsubparse.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>c6220d12ae12a073ecab012a362411dcac82317df79c4b63b61de6f1d31e8a12</string>
			<key>size</key>
			<integer>93064</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgsttcp.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>de7d2bc8a310d42a36e37d0fce302847936bc62dfff983b100e17951ebcdc9ab</string>
			<key>size</key>
			<integer>121160</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgsttheora.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>7db4c883876049686ed6b75bf4c13f37ae7244ebee81565701cf7f8e0fa82f0e</string>
			<key>size</key>
			<integer>67976</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgsttypefindfunctions.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>538e40be7be2ee4ac522eeaafd4d263b74c3c4ef4b0a8c26ea7a72fc4821b538</string>
			<key>size</key>
			<integer>106368</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstvideoconvert.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>36eefe1d7c09eb2123dac169522a50914c11118e5f7e6b7d8bb0aa70fd50c8c2</string>
			<key>size</key>
			<integer>26768</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstvideorate.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>a48fd25bcb72be3a3c8cb499dc281c23030c372d1c4673a4e28436590adddc23</string>
			<key>size</key>
			<integer>55432</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstvideoscale.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>91a237cb01fee02f01633fbc264eb49da97202a102548bdaa968f6c994f036a6</string>
			<key>size</key>
			<integer>43064</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstvideotestsrc.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>cfb583f4e72a040b8d55cfef6a12324008d3a02a9256f80fdb5bb3e6ba14dee9</string>
			<key>size</key>
			<integer>59472</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstvolume.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>a3d676ca5d0873575270d241ca1dbfc6ab87b67e3e1c25c7d618033c0a1ce611</string>
			<key>size</key>
			<integer>34800</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstvorbis.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>344939beef041de53f5c3eddb459a6f58bea10ad52ce75bf012174953e84bc71</string>
			<key>size</key>
			<integer>63816</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstximagesink.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>e953463fc731d406b4a202805a57600cea28db06ebc41ab09cf3aaa25a1400b9</string>
			<key>size</key>
			<integer>63656</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstxvimagesink.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>05b4aad6532c11dcaf0dd3035ca19ed475944ceb04df768de83d4b34e9f15f23</string>
			<key>size</key>
			<integer>79976</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgstallocators-1.0.so.0.1803.0</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>a027173247b4c1297ce9a495881d6326e34256846a04a3e30bce27f901b4b557</string>
			<key>size</key>
			<integer>22456</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgstapp-1.0.so.0.1803.0</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>0e20b9fac061ad776b79038413a4c152b721863081ab687ad80c0cb374c9cb79</string>
			<key>size</key>
			<integer>71888</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgstaudio-1.0.so.0.1803.0</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>b282aaf1510ecd98b8549b8571cdf629ec01eb6e28467cd07cb0c329fac4279d</string>
			<key>size</key>
			<integer>502152</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgstfft-1.0.so.0.1803.0</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>c09c916f46f533fa76532dbf061f4d7fd8afa886a097e36bf0b03f6a303dbb15</string>
			<key>size</key>
			<integer>42928</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgstgl-1.0.so.0.1803.0</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>e5fc9dab15d9b7b9845861468f45d1f78ef7ad139052dc4cf4ddfe6175927196</string>
			<key>size</key>
			<integer>502976</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgstpbutils-1.0.so.0.1803.0</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>4795faf7b91cb160da61968929996ddca4b98273c3d21f04848d4db654729dcd</string>
			<key>size</key>
			<integer>256168</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgstriff-1.0.so.0.1803.0</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>a459678758aa5ce08100f021fc8892c1e9e18367a342c7e19d8fa3eb289cf7f1</string>
			<key>size</key>
			<integer>63464</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgstrtp-1.0.so.0.1803.0</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>bb45c79091ba1d888f71202cb7859316d3ed08bda64cc4bf3fcd0f0dadfb81bc</string>
			<key>size</key>
			<integer>153592</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgstrtsp-1.0.so.0.1803.0</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>0bf1689ebe63f3cc2e62e7041ecd0e647c3575b17a48254f485ed261f1605931</string>
			<key>size</key>
			<integer>153664</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgstsdp-1.0.so.0.1803.0</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>ea6153d0e8280a825d9610518c0b77fb2d43bf1e798ecb7d8c80592a4983fbe0</string>
			<key>size</key>
			<integer>96176</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgsttag-1.0.so.0.1803.0</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>678419004c47a3e0daa88a2350e108bc4f47c0433c4bc98124d2de58c5386365</string>
			<key>size</key>
			<integer>260240</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgstvideo-1.0.so.0.1803.0</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>e39b9c0aa1f8db1506cbc7b95c0675c7893c095d96f03cc7bc9971c2f7b49742</string>
			<key>size</key>
			<integer>747952</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gst-plugins-base/1.0/license-translations.dict</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>25ebb771dd2bc53bedf66e1b4bee7e6169bd5c0eee84621e7c4ac2d91f9826c2</string>
			<key>size</key>
			<integer>44604</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>b7ba4fe373a507f23c9688b20c00aa466a2f8862cc264ebe1e752eeffcbdafac</string>
			<key>size</key>
			<integer>514</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>be2ff031388675013610af0fcf78ebd217409d57c4cebdc8f769cc39f4d76ffd</string>
			<key>size</key>
			<integer>575</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>685cf5cb04b5ac69aac05307e8a848bcdd4fc5ef9336b4a1fab43cb2eda0326f</string>
			<key>size</key>
			<integer>22566</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>e66907539e162ecf5a60a3186fcc35c24d1db1e65199feeefd7a4f8f7c500431</string>
			<key>size</key>
			<integer>12237</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>1e9f73bf4df70a0802457a63f2ccad93f8fe4ce5878da0cc77ed5249f1f87d28</string>
			<key>size</key>
			<integer>18470</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>2bbd776d430bb3923168897c04f6a3b3e054ca090f01547d52db641164228499</string>
			<key>size</key>
			<integer>17879</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>fdf00ba7894f2f9d31a9a5b78fc5dd77202f349120f75b3f37a81c2894e8dc23</string>
			<key>size</key>
			<integer>18776</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>b02d67d9d76142b99ca9c3d06e527caf9fbadaeb5122a4c9aaae7d60c895168e</string>
			<key>size</key>
			<integer>15696</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>d25f47db3bc5b7ec496d505661c44bd199463e87fe88f0b30aa43cfbdec06d7f</string>
			<key>size</key>
			<integer>518</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>e4e66141a4ad339f376ff315e8c0380e09b089d0c59aff2c1968b4cda102ec8b</string>
			<key>size</key>
			<integer>3165</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>be272949348797fe7fb406427be5fd2579143b867ddb606e29fc643d46f5b117</string>
			<key>size</key>
			<integer>12252</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>5b1e2f53125ecf0197b7b5119e11ce10e3d511c735dd5681a4e00ca4236dfc89</string>
			<key>size</key>
			<integer>7920</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>29bd2871b78eda1c2973b35d8ad6887f1e7c073a0998f51116c8cce2440cab4d</string>
			<key>size</key>
			<integer>11259</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>b60c89b4e38ad9687b22cdb0da64963d26a3162fc8b683102e9caf1127312427</string>
			<key>size</key>
			<integer>18741</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>9d39f7e5abd7f76191ab2b04569b5255cb482a1728d9191d839583d682c7639a</string>
			<key>size</key>
			<integer>11661</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>80eb916f012802b4d52ef0655681f1d51b6ea82b1c74de1a8140ec6a2b1b7425</string>
			<key>size</key>
			<integer>12944</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>1a2caefad184442aaec1372cd7f7dc806eadc7038816bba37710824302c4dd60</string>
			<key>size</key>
			<integer>18390</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>e242504f4a284f0dc126c7f74eb9ec59c40d22b806a8bfdf1b2069424f8444ff</string>
			<key>size</key>
			<integer>18173</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>a3ceaedaa6b81a7ecbea0ba3cb1a5ca8115f3d74872e62875778e06b9c12b222</string>
			<key>size</key>
			<integer>17254</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>e8a18a340834052a941db5f0039a187c1cb112f5c8e44f1a3873a4a6a17414ce</string>
			<key>size</key>
			<integer>19047</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>189bed67556fc67e5fdafa4547886ec740c612256394646e1139120ae082fb46</string>
			<key>size</key>
			<integer>9915</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>78a7b28e348b11ea91cf579c6ef6088342d3e362af37b482a18fb19c3c770960</string>
			<key>size</key>
			<integer>6088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>665d2777e822081e8cd463d7cf6d33d485ebe939f303721d43b5b10879a75980</string>
			<key>size</key>
			<integer>14346</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>2fd42f5fd6804272babd3a15e98c33db5e4d26e15deda45483907d345753e464</string>
			<key>size</key>
			<integer>16968</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>9b29450437eccb97370b5e38f958395d6363d903e4f40b36f6814f776d330aca</string>
			<key>size</key>
			<integer>17221</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>3c44a15abdde1438ed52d05e16012d71ec29f20c1004e0e2dc1c97eba8fa4645</string>
			<key>size</key>
			<integer>608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>1a6f33312f3d9ac07a3aa925d36ce49a7d74687c410d5d52414826ae562ca496</string>
			<key>size</key>
			<integer>18682</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>b87bc47189c4c28fe4eb1328ee7ac62bac9ba00cc61f5f700e4a1bfb66765c67</string>
			<key>size</key>
			<integer>18512</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>8505e48e656ad7497187b67d91ac945b749cb1480687a0a5fe03351424cbde7e</string>
			<key>size</key>
			<integer>7603</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>79d7a910a6b16bb85bba9cd7f78e2bca77e1f375fefa478b2951068e48779505</string>
			<key>size</key>
			<integer>23576</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>adcd2fd04fc81d4d4c5bb08b0a2783cc40f57c99d8b3deb25b5968cc21098929</string>
			<key>size</key>
			<integer>16765</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>26d7638d33a6c6cafb7a1d19c2df1ddea17f16c4c2d7c357dea0ec6cf6e29bdd</string>
			<key>size</key>
			<integer>12447</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>071d34bf864eb01f72e3e3530ba69fb4324ef545236bbf6752ace36b656b419a</string>
			<key>size</key>
			<integer>527</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>b120d4098579530637149e7695614eaad1d8d2425e2244f1878a9ad89eb33283</string>
			<key>size</key>
			<integer>22575</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>d464321a9a8da5a2418378fe70f637761f049e44be56665218589f2460182b6c</string>
			<key>size</key>
			<integer>17860</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>3ffe6ecd32e155024824223c2cc31600a721df7fdf958dbd64eb53e13771f405</string>
			<key>size</key>
			<integer>18421</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>dcc6d4b9fd6a9523a2daef47a9ff009f48de7001710a35f47d18c9d53d9adac0</string>
			<key>size</key>
			<integer>24530</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>b0b4a2a8426a80b0bbb762c41d3c973755b485e77751e3db9482456dc081ec57</string>
			<key>size</key>
			<integer>19803</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/gst-plugins-base-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>6fba2dbac2d0d01c1132a1a3d44a23bd3c14a0ff6a9d44c6c556702ec7c69f8f</string>
			<key>size</key>
			<integer>16837</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gst-device-monitor-1.0.1</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>acb9627f87d715f0ba9528f9fe2afe81bee323748d42f451143f07139f7704f7</string>
			<key>size</key>
			<integer>1378</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gst-discoverer-1.0.1</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>adf2ee95024c1a68bc2ed5be66fd688c88be88c54d2efb7beb50a66e09e313b8</string>
			<key>size</key>
			<integer>1001</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gst-play-1.0.1</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>75c1c6fea2b6d11535dcce9e4dc810acafbf66277def1eaf110d747329519c82</string>
			<key>size</key>
			<integer>2333</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgstallocators-1.0.so.0</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>target</key>
			<string>/usr/lib/libgstallocators-1.0.so.0.1803.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgstapp-1.0.so.0</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>target</key>
			<string>/usr/lib/libgstapp-1.0.so.0.1803.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgstaudio-1.0.so.0</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>target</key>
			<string>/usr/lib/libgstaudio-1.0.so.0.1803.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgstfft-1.0.so.0</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>target</key>
			<string>/usr/lib/libgstfft-1.0.so.0.1803.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgstgl-1.0.so.0</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>target</key>
			<string>/usr/lib/libgstgl-1.0.so.0.1803.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgstpbutils-1.0.so.0</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>target</key>
			<string>/usr/lib/libgstpbutils-1.0.so.0.1803.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgstriff-1.0.so.0</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>target</key>
			<string>/usr/lib/libgstriff-1.0.so.0.1803.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgstrtp-1.0.so.0</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>target</key>
			<string>/usr/lib/libgstrtp-1.0.so.0.1803.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgstrtsp-1.0.so.0</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>target</key>
			<string>/usr/lib/libgstrtsp-1.0.so.0.1803.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgstsdp-1.0.so.0</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>target</key>
			<string>/usr/lib/libgstsdp-1.0.so.0.1803.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgsttag-1.0.so.0</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>target</key>
			<string>/usr/lib/libgsttag-1.0.so.0.1803.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgstvideo-1.0.so.0</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>target</key>
			<string>/usr/lib/libgstvideo-1.0.so.0.1803.0</string>
		</dict>
	</array>
</dict>
</plist>
