<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gstreamer-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gstreamer-1.0/presets</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgsta52dec.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>15789b64a3e21a34c4f83ab603a26cb4df21e714479ba51341268e28ac37ce25</string>
			<key>size</key>
			<integer>30856</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstasf.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>a6b5137e6d0b4793be1cb8bacba66524dea35b4b22249a82dcabfaf7f599ed39</string>
			<key>size</key>
			<integer>141640</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstcdio.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>bc2c7f87b0ed0f5c12a105a12f65079bb62b5b9d1ed84ded3b17cf7579320a87</string>
			<key>size</key>
			<integer>26608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstdvdlpcmdec.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>40df4f73db4a40db5b1eb44ab52c3744b427e6f80bcad64a20616a74fc3255cb</string>
			<key>size</key>
			<integer>30856</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstdvdread.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>46f552e67b44b90ca38dac0e1541da5318982dcbb7ea3077f66d896debd64df9</string>
			<key>size</key>
			<integer>47208</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstdvdsub.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>ddc88154fdabdb6d5ad045f7f47c5a18d923e483e8fdf160b8fbc6631f858519</string>
			<key>size</key>
			<integer>39240</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstmpeg2dec.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>46f651d5eef5d12626f4e88a38a08dbad5251052aa82cb268e62630a856ebed9</string>
			<key>size</key>
			<integer>39048</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstrealmedia.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>0ca67b74cf108789fd3e09225bc4c2ddd87df86229078425e8baa49006eaf789</string>
			<key>size</key>
			<integer>133928</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstx264.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>845ae1c73bcd91afc9b2f1a8a57daa654033c9fab99ec588f948f377f6a7d90e</string>
			<key>size</key>
			<integer>67656</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gstreamer-1.0/libgstxingmux.so</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>17e0774fbfe79b7c0098f93222d9f868eeff0667e1ec73d29c2039d5bf9a984f</string>
			<key>size</key>
			<integer>22664</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gstreamer-1.0/presets/GstX264Enc.prs</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>f383eb52736f161240d71dd2d114b145eea18a5f0faef6645a74fc5ca2ae8112</string>
			<key>size</key>
			<integer>738</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>0713d2476047b524a67d7a1b443e92b55cdc223dbc12b7c53c7743e4eefa8505</string>
			<key>size</key>
			<integer>489</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>846a1ede337f390239d3bf94362f57f858c9f01f6cdc1e4770144c2a0deb0ae2</string>
			<key>size</key>
			<integer>2254</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>76627f18265674528db3d93de3b9bbda8ad9ee2a497e9c716de6bfa509fdcd1c</string>
			<key>size</key>
			<integer>547</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>287162ed3d8b0d096bb7ed982e7bee01cd11f248503badbb068fcd4b18a8bbc0</string>
			<key>size</key>
			<integer>1999</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>4cc402e4caf62b8d45dec086f87630edd11dc1c7e78ba8e0a9b47ff304fb222b</string>
			<key>size</key>
			<integer>1596</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>d6188dbc0b092c0ac5f0dd4ad3d929b5d51867779a2c88b6273dba66d8249266</string>
			<key>size</key>
			<integer>1661</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>0be3dd78e57b1965e589b216607fdf6c9b15ed08769e95d5345cb84af37fe7f7</string>
			<key>size</key>
			<integer>1455</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>9894a76044cb04c872c0bcbaa210a3f0a944f515d01e7a3afd17c1e645b58f80</string>
			<key>size</key>
			<integer>1754</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>177719098a5c848b513303fc3d25044e5e1a91e6f44f5a0a7262f547c5eb1bd1</string>
			<key>size</key>
			<integer>2161</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>349bd4a6f60b700f88447792c171564e87a66b16fdf2d43cf3af83bf831609fc</string>
			<key>size</key>
			<integer>488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>acea6698ee037323994bbc4f96b745b451c144b86d82a0ef182709b200823e12</string>
			<key>size</key>
			<integer>1576</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>6d23a92b9408843b531c6ea735cd8b28bebb21eac2543d49b69791517253002f</string>
			<key>size</key>
			<integer>1608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>e34bc3998819cbffdbe75f90d83e5cd4b14238576cadbac6268aa398349aed9f</string>
			<key>size</key>
			<integer>1296</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>4345af4acf0340e00a6d14e0effedde52679dad56e3ec3aee3be7a6353acbace</string>
			<key>size</key>
			<integer>1269</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>0acb634bdd45bf609cd20896d3c7c43b49c5d2692847d0eb0931a5b4637d7f87</string>
			<key>size</key>
			<integer>1561</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>7b04b3e556fa9ea41d3a123d58c48a9276961c781cf05d072a8158ed10019256</string>
			<key>size</key>
			<integer>1632</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>0c5532b09bc36699f028e6917026851be054547f9fbebdcac85291535415c8a8</string>
			<key>size</key>
			<integer>1667</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>f807065d6ddacb6f9dd579cd3c086ce08e2e59640f39800d5a71092ac3521025</string>
			<key>size</key>
			<integer>1683</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>1ace2c7c69bc0e6a83acd2ae2695b3ff909dec19d71e1720196b09e03d1e9e1e</string>
			<key>size</key>
			<integer>1593</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>2561e959d9c4356f1d0b4316d3c9cbf89e894cca70410a4c544dbd574ffd23f8</string>
			<key>size</key>
			<integer>2157</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>e056b7521ce654fe9127043677be8d3220e38a8660e71fc042ecd03721a6476a</string>
			<key>size</key>
			<integer>1686</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>3424dd4daf85ee9603896866578c015284c2211f8a6732e20e13b93b5ecc837c</string>
			<key>size</key>
			<integer>1841</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>adf3e4b2a04ed95fcd3d9ccbab8a132d1e5e41d528c11338ab2248fc39597a1e</string>
			<key>size</key>
			<integer>1065</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>ca84a1dd9550449e08e6ad5869576d15b5bee84925f5334d0f09accd731c3838</string>
			<key>size</key>
			<integer>1599</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>e78b0140be8e22235551bb8aa19964c0fb0d7d9294cbb461da988c489ec5aac9</string>
			<key>size</key>
			<integer>1196</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mt/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>10b55ca1a80d547d525f7161134a6369dcbcaaf6c85ced8570c0d4c9b31e60fc</string>
			<key>size</key>
			<integer>1328</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>0555ef0226bd936b3371db7282870ba3fad5485b115efbf188300c79c9c3fe90</string>
			<key>size</key>
			<integer>1523</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>3ee2eccd2c39c953ab9ef5a78e95645a318709e2c3ab16dbb6c110113280bd1a</string>
			<key>size</key>
			<integer>1651</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>66ca252d484f177704f44c3e2baf4585428745eaa702552ed5c2b363623a1d34</string>
			<key>size</key>
			<integer>563</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>e7310b178d80614c84799a55d2f9e12b94653cd2fa8b6259f4d2b8919551ab79</string>
			<key>size</key>
			<integer>1605</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>944c281e96bd5d9d165c24c8e8ecaf5dbf6fde177efa14fa36213552ae1fc311</string>
			<key>size</key>
			<integer>1685</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>1ba63080638d24951e87034e263d820ba7d26fc4bddcb3216920f77ee76ac886</string>
			<key>size</key>
			<integer>1360</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>9f8d4522487209729ce566cee7d528a9f70f9d89d23deafa46927a46cd14f1f4</string>
			<key>size</key>
			<integer>1955</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>a38b6b370a2e7310d0e81bcb5e53f649f12c87e741b955aca757febb6a29def4</string>
			<key>size</key>
			<integer>1691</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>12b00cd43140be5a4033a3aa48c468c17d54506a74f0ffd61cf9dae507cd0d92</string>
			<key>size</key>
			<integer>1574</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>4a5058aca5dbee93b623f6c046801ac600045a21ab4310750cbca439308c3d63</string>
			<key>size</key>
			<integer>497</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>8ee1d6ee67c4fe634ed3ba75867c8611600c93afcbe0bb49c83d29c9ddcbdcf3</string>
			<key>size</key>
			<integer>1968</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>9c3fadb03292861911634c685e78d8f90af648131536fa954173d515d264c83b</string>
			<key>size</key>
			<integer>1602</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>cf179e14bc7eb1604380158162130025d0efca2ca0926d8adc72ae41ddb45add</string>
			<key>size</key>
			<integer>2553</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>0a0e5c6ad39448a412c78c5a0dbb550895f10e858a50ef3200a140f6da4839ec</string>
			<key>size</key>
			<integer>1524</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>5cdc613bcd7b48b1e2b00796f550327e07a6b8a0b696f430ea4d132d330d6de3</string>
			<key>size</key>
			<integer>2032</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>4187aeebe7f6213fb573c070087794622e575fa498aa43b0d725c6ac202d3ecf</string>
			<key>size</key>
			<integer>1806</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/gst-plugins-ugly-1.0.mo</string>
			<key>mtime</key>
			<integer>1612326211</integer>
			<key>sha256</key>
			<string>7f683c8a3036cb0c99630c7015fb031b258c53dadcc7df037a0506d764d8abac</string>
			<key>size</key>
			<integer>1446</integer>
		</dict>
	</array>
</dict>
</plist>
