<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtkspell3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ak</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ak/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ff</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ff/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ky</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ky/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nso</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nso/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/rm</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/rm/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/rw</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/rw/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/son</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/son/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/st</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/st/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zu/LC_MESSAGES</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/GtkSpell-3.0.typelib</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>a23646ac9b9e1211076f47c4d6f3d47eff96dfd93b3a23d566b561dcad4b0aec</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgtkspell3-3.so.0.2.0</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>fa19b893c34473f3aac54767164daac2200cb2190f0fd0705d466b8bad126592</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtkspell3/annotation-glossary.html</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>f5c77419cb40fb3c7fbe7e9474a49817e6fe7b44015bfdb13d393f6fb4138f63</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtkspell3/api-index-full.html</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>f0321227b7cadbcf84421d3790973a2c0ae28a995a76beab449fda73c836be6c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtkspell3/ch02.html</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>305288e7eaf4c642cfa5dce80912ea08b37c2ada3e65b70c19f0bfeae94a3625</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtkspell3/chapter-tutorial.html</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>d065e77de854ea048afba2d6f57e411599818f8d2bb94b543852b9106e06f990</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtkspell3/gtkspell3-gtkspell.html</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>12e078d365a805b9edc3210940801b442cfb46d238e6559cde34f0ded2573739</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtkspell3/gtkspell3.devhelp2</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>7483a44c6e6c134d83d0d6ffe54da849859451c0fe7edacce82b55a44a29498e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtkspell3/home.png</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>7a8d24b00f5fb6bbb0446249b605efdd36598e8a0f65ac3fab2e18438c73b91e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtkspell3/index.html</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>049653ede769d46bde718fb24049ba9778680522aa1dfe2e71d39c79856a85a4</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtkspell3/left-insensitive.png</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>303355d93cac53410997dc7a3f9bd60f3ce0d8ebae7908978c8731fe9bb139ff</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtkspell3/left.png</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>0eb96fe775524c2d4d4f167d79041b17c5cc8ae9112478665132c31a1417fb4a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtkspell3/object-tree.html</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>94adc337bf5997f1b8896c0d4138ab79f3fc7fb8ff175f350b11496bfa080a8e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtkspell3/right-insensitive.png</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>794050c64c498420599162f2b3b6928232dd0be7991d942b1dc0b1670eb8695e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtkspell3/right.png</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>0629ad38280184be1b94602f2015707a28170151058f7171aeda501fcf0979d3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtkspell3/style.css</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>7ced923a96043e6d615d8a107f5289d646318585aa6b1d4432ff0c57e15c41a7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtkspell3/tutorial-advanced.html</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>ada1800fdd04b6592ca362d5b571a436e07ce5a145f5ca61eece73a5ada698c2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtkspell3/tutorial-bindings.html</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>692a15dd958126dd92f9b183344c50840b545069c3f2ef08cc6ed6223397755b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtkspell3/tutorial-building.html</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>3e9332526a82e00a21bf27a09755d2747effdc968856840efd2fe80279bafcde</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtkspell3/tutorial-lang.html</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>5650fd8ccc379a2ab38b41c50675aef890457f64ca43cf80a9ec16136786b988</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtkspell3/up-insensitive.png</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>0420f2040eebf418098a86a3fb2ef5a9659c87d37b81ee85b69316b045a9453a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtkspell3/up.png</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>c54b75948f4d26357dd018159078f36f90deeaf29ce3b9d2bd0ea6655ef1bda8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>01b5250d77faa29eba876ac915aab9cade83451d023041b1967c6f02cd5a126d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ak/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>d50467f694d20eab9d2d3f6887fa35e6b00d8919623241864253b10c73f3bac2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>a11f18e1001e4d7b3777e310186e53c33b12300439871419f6ba5cc552565834</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>58b41022926a69ef3aba81d6a635ed774961e695f0d09fde216a6f225c54535d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>0073c1458e72dd345c4593d7a44cd4f710cb0464d5612c6dbb303b89172946fc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>f8afb3471a40bf921ed8ee9e90c7cdf8d78b12ff04da734d4c13ef9f29105665</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>6c70a7ddd22fe0f795410b63c1eaf047a022c5da44f61b16a94c74d6bc439127</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>97ba8dd396448386b023f8fc33b8b09149c7159945bf518d723cf2864a432138</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>d1eadb30f19c5e5cf291f27fb5fde203e55caaa1abf490730ce0338a94dad98d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>df43b1f1e6e6e43c7acc4338632c2e9f8ba3aae0b9642c506ab91ebb43fa3c83</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>65fa3c5a04e1b8c938adb340ff49e1db5f27913d6b3652ed5e59b5d224b9c168</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>ebc9d5bcce76dd8b1c94f045e97629a2e515b72ccc92bf99744fd1fd1299687d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ff/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>425bfc38141c2077bf3fb9ce657b3a8dd3e3b435c115a7164db39715ea152bbd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>b4211e185b32a87fc41fdabd54b0cd32b095ac23ace8d862837f4aaa681eca36</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fo/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>29e237ed12eb21e54bfa58557bba112b21cd3a780fcc1184358b1105635252db</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>7d6959ea281d41d4b3fc7ca50724dbdf1800249654867aded27d2cd88e045ce5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>512463840b0e27ae07841279def68f3446c3a1ebb9496770a8f6baa9292827b9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>5d7ba3e7ab0ad6af5e548bcf7bc36e7f93018ec5a1cb69276873aabb0cea32b0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>46590c8cfe64f7952c4d1d012f6f651e25e8be8968217f111d33e1c1848216ae</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>994810896570c790a812ac566baedc4ed1ff2fc3d5984bad2cb5bbaff7b4364c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>4e0a2dafd56c1c817ebdd14a2f6c6b921df10cb57d327e8a423d423cfcb29fbf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>8130b7a1cf28a92669aa2c55822ff26e0d4f7adbac1e0918480ee27120099019</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>75e91ba41fe22c47462405ef46074b7682a206d5270c210ffc11c844d82643ee</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>1b7219b8c634a24f81fa35f3f1d775ceb78ed655106f69a59c181c688226fa98</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>0956edf2b8c2b2daa4a8bc425c70ceabde40ab2a2d63e6669dec29093ab1f2c4</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>a49c23cb22cdf0b287300da0402746e04612796a9c937404e34d580b0e389aa7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ky/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>fc030dafa8e30e0f641860a899ba15792697a469bef31aa20288425ad2020ea6</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lg/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>388d6573093c53d3cb0c2ad73805e767571adfcc170efcde4eac1938677bdc23</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>43c8a0494023b46145de73d426b7aabe5c9501f4c0a862d98dae2c8a7b1d192e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>91735ac2584bf109635382a6c942857e6f167bdab3c294f3b9c66983da4617d4</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mn/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>c71fa6d10e6271eec51cfbfc6c53facd6c1cd39cc20e0bff4dc3426b9902c94b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>0c9451ef0cb24982e0adbe1fba70c02ad6c3c7df6071ebadd6f75f9f7880dde6</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>d1934f7dc480e89afa5e279dd519c8291f11684772ce6204d96249f8f081bffe</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>becefe37b4e9616e500c57944c5d06e859fddc904f37051f2c6ee8d826ec5583</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nso/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>7d4ec8cec3ef67a4c41ef265aa45969c2c4e5e3bb0abbed2e77672cc4ea99759</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>60328f3868bbe7b21c67e73e31080148e079e46fead81552c20b49f6dfc082a1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>f7007aed0e6b48c3c6cf434c0b0185931e4d2f8ef7eee3d4665560d1d4b4b08c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>c6bc69293c3d56689b63648799745ecdffae5e8b0943c46ef69461df1582a930</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/rm/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>3e75cf4a5073db00ae69099f611c0d86e4584ff855c177cf6a24b988e3e3ea66</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>8b5f77abe6becc483b2d72cb62087813da018d3095638f7f285882896f13d01b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>578ef903866ee3b1eff7360d1e6e934d60eaa765b983816e4359662b9c10e436</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/rw/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>5a05ce47aecd31b404fe0ab8744dfece84d950be9c16bf797604e3fd230fa802</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>a793457085c4cce525a5fe0728a4fa13e674723ae5494e4685ff4e5a829a240e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>1e7d8114284c619f0c83971c2b711c8a8a1f495b4b690726b600c52b5c6fbae3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/son/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>583cf04c5c9a9957e13076dca8da4f89fe8dc88eed62c5571710e17eb7f6de52</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>785135055d7b69d0b87693e3b11f785f7facd79c8717530c973e7274a54711ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>ac998436a032f31621ddfcefcbbe6b3f3ce14debfbd18aa7f92c4969e6b8a00f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/st/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>5ab16a6fa620f81da726a3f52282e1100c5d6e04e83942e31d0034f384479697</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>09dbac028d6df9575dfa0322be1af530f36e57ca5e32e765cbb9dd278f3b7d79</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>aec56a0b86cf8221cb5d60c6c062b09d6367c77823df2500b498317501bfe3a3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>b748d9665830fa06a67a398a84d5e32acaadb998cf86913398ace8c2906ba79b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>1370892883ae833d707cc51768fc281fdc44f5f5351240981733437df38bb0de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>7a047b6db0c8c0b0fb92afad65e282c9ed0e09112006784802fc5b136126c50a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wa/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>ccc3f14f7343e30b4a84012c579398353b43f54cb63efbb477b4b65e256b020b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>65ec07f22918c1c0d1950a3921a37797d08f7337ca591e6c6b7623a61f071db2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>b8569a2cdec09e13f188a45b6508dc56eabdd5a1b3b8653137f3b995776ec728</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>18b32f486bf38457a4fd650ec0f22a57c57140f1bce58f03ad8e6fef6a002fe8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zu/LC_MESSAGES/gtkspell3.mo</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>sha256</key>
			<string>efe34599f9d6b3b2b9202457972f1a5883c6509435f9b7bd493b3bf0b1f9291a</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgtkspell3-3.so.0</string>
			<key>mtime</key>
			<integer>1556424116</integer>
			<key>target</key>
			<string>/usr/lib/libgtkspell3-3.so.0.2.0</string>
		</dict>
	</array>
</dict>
</plist>
