<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gtksourceview-2.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gtksourceview-2.0/gtksourceview</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gtksourceview-2.0/gtksourceview/completion-providers</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gtksourceview-2.0/gtksourceview/completion-providers/words</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtksourceview-2.0</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/include/gtksourceview-2.0/gtksourceview/completion-providers/words/gtksourcecompletionwords.h</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>08944268d1b841ce306b0c8306b9c250c3005c25890971ae71ee8397f53f519e</string>
			<key>size</key>
			<integer>3080</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gtksourceview-2.0/gtksourceview/gtksourcebuffer.h</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>6380e724259f2bc961cde87d945d88032710c96a658ea3e4ae8443e42c91bb4a</string>
			<key>size</key>
			<integer>7357</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gtksourceview-2.0/gtksourceview/gtksourcecompletion.h</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>26cf97200e1b49df8f36b8dfdb87371424d1efee32c58064613b167c0d93b246</string>
			<key>size</key>
			<integer>5457</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gtksourceview-2.0/gtksourceview/gtksourcecompletioncontext.h</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>7326b20a71332e4cf37301064da6553a134ca064538e844db821dd400c199caf</string>
			<key>size</key>
			<integer>4277</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gtksourceview-2.0/gtksourceview/gtksourcecompletioninfo.h</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>26b941f5708094eea2051ddadf44160d3609eeabe9f315664da54366b5fc9ecd</string>
			<key>size</key>
			<integer>3346</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gtksourceview-2.0/gtksourceview/gtksourcecompletionitem.h</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>3eee10d504663f316fa4a5df89593ae607ba488b1c7410a2df4d8b3275c85315</string>
			<key>size</key>
			<integer>3102</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gtksourceview-2.0/gtksourceview/gtksourcecompletionproposal.h</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>133e0d06c7ec55da5a9496602840603a63d0ae156d01d51c9b869d90441307a0</string>
			<key>size</key>
			<integer>3497</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gtksourceview-2.0/gtksourceview/gtksourcecompletionprovider.h</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>0cc799932e927c2563e3f5fedb385ad9964ace0b0fddd01c6a7e14362141555c</string>
			<key>size</key>
			<integer>5314</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gtksourceview-2.0/gtksourceview/gtksourcegutter.h</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>db0163ee75f3abe9732ac52f15b5ed7a62ddd69bf7573e183c42c7b222e0cac4</string>
			<key>size</key>
			<integer>4058</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gtksourceview-2.0/gtksourceview/gtksourceiter.h</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>ae3570ef2e91a61bfa03bb92aa8f00f8a07992707f37b2722dd7c1286752f6f4</string>
			<key>size</key>
			<integer>1813</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gtksourceview-2.0/gtksourceview/gtksourcelanguage.h</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>2ccedf5d0ed769b963d1b414c67b436057939b383d65bebf05b37b4b301081f9</string>
			<key>size</key>
			<integer>3085</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gtksourceview-2.0/gtksourceview/gtksourcelanguagemanager.h</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>ecdef8c63662ad8db42d1ecc3fc5f4f3dfe5ff4e093e7a6e8f3a637c079efd17</string>
			<key>size</key>
			<integer>3410</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gtksourceview-2.0/gtksourceview/gtksourcemark.h</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>0ba2906e9824617e0ca28da1c2e744113af8b1c59cf515f9eec2f45d2abbb35f</string>
			<key>size</key>
			<integer>2519</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gtksourceview-2.0/gtksourceview/gtksourceprintcompositor.h</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>e3fcb8b7edfa14618dd91fe9548e54a294507b6aed6e039ff0bf407606a9604b</string>
			<key>size</key>
			<integer>7895</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gtksourceview-2.0/gtksourceview/gtksourcestyle.h</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>986d8342a0d5047dacb35503d9202cea13d7cb5533d41f3b346839a008df6e1d</string>
			<key>size</key>
			<integer>1523</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gtksourceview-2.0/gtksourceview/gtksourcestylescheme.h</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>000025865fc14443a1cc9691ac0d4ea4de8d011c312490a8781e260ebe624f04</string>
			<key>size</key>
			<integer>4145</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gtksourceview-2.0/gtksourceview/gtksourcestyleschememanager.h</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>db3a23a066e5e510e03db6b4cb69c6d0745cba065967e360a415dd1419551af3</string>
			<key>size</key>
			<integer>3765</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gtksourceview-2.0/gtksourceview/gtksourceundomanager.h</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>d438de521b551dfea1dfedfcf619b27b0eb6459c1968fc6fa81277d923c8e719</string>
			<key>size</key>
			<integer>3375</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gtksourceview-2.0/gtksourceview/gtksourceview-typebuiltins.h</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>065b7c89cbdb0b56ae24f43fb584cf80ba010b5edfc1746ed90496de7a2200e4</string>
			<key>size</key>
			<integer>1527</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gtksourceview-2.0/gtksourceview/gtksourceview.h</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>eb099fd60cdd7600468b5737a6281e03c8b91edfa33d0d5810194e2c73fd5501</string>
			<key>size</key>
			<integer>10869</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/gtksourceview-2.0.pc</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>a60781c6b86615d860391d86bdb98272384360fa4e23ae62347356b448e5fde4</string>
			<key>size</key>
			<integer>309</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtksourceview-2.0/GtkSourceBuffer.html</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>24173bcf05d4b763289f65f694ee7e732b8c72355f284623733b4257c2554ad9</string>
			<key>size</key>
			<integer>80487</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtksourceview-2.0/GtkSourceCompletion.html</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>77cccf47ece0f18dbcd9e22963965697dfd41fc6bb2aca65b105985b3db1f0b6</string>
			<key>size</key>
			<integer>51317</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtksourceview-2.0/GtkSourceCompletionInfo.html</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>77a96c6eaec9145d1c4d534d2d5bdf5f9d1e9a89c195c95012210d967ee643c9</string>
			<key>size</key>
			<integer>24353</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtksourceview-2.0/GtkSourceCompletionItem.html</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>f4ce0c05bc8545e681a3af97b68aa41054ea851cd71f7b78a3b9cc1217fd991c</string>
			<key>size</key>
			<integer>20270</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtksourceview-2.0/GtkSourceCompletionProposal.html</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>c9a33488654353c1af8e02a83b974b8774add5d57ba6a9de1a1a53cce56c2c5b</string>
			<key>size</key>
			<integer>25209</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtksourceview-2.0/GtkSourceCompletionProvider.html</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>ae3de66e0dad8255b5e287b8e99b1e6523bd53ceaa36ee0e8f961b249f37a1f2</string>
			<key>size</key>
			<integer>36110</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtksourceview-2.0/GtkSourceGutter.html</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>441216ee61a476be04aaeef0ab29c938b2dce34ee3938e024f9c0edb91dda5ab</string>
			<key>size</key>
			<integer>38629</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtksourceview-2.0/GtkSourceLanguage.html</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>a6560bf7c13d425ac81ab6146d8f7c6deec89bb7f0ee3dad5d756d0fa0cc3711</string>
			<key>size</key>
			<integer>26718</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtksourceview-2.0/GtkSourceLanguageManager.html</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>396fc34b56ca636d7f65c5de06238ed8403e96d1aaa755d894987b2fb7a8a5b4</string>
			<key>size</key>
			<integer>30473</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtksourceview-2.0/GtkSourceMark.html</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>8e01dc2a9b0e7b16ed607fb9a0834da2f20a4dd86a79778509a28b4887b67cf0</string>
			<key>size</key>
			<integer>17292</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtksourceview-2.0/GtkSourcePrintCompositor.html</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>d54a0c414d455c73dcdd6ce8e153002a3f8de95d39e215623b6b5681a8b8004e</string>
			<key>size</key>
			<integer>132244</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtksourceview-2.0/GtkSourceStyle.html</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>0950dacb08ddd7479fa25e790d8634e4efb9c588d86aa80d6eb71d71d5866dee</string>
			<key>size</key>
			<integer>17088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtksourceview-2.0/GtkSourceStyleScheme.html</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>2d5ce9126d94735c5ff6ea697db73b57626e62d138e619a5260365af2714bc21</string>
			<key>size</key>
			<integer>19633</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtksourceview-2.0/GtkSourceStyleSchemeManager.html</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>fc80078ee835fcdf1470def553fd3e8710cfb1b33410f9db0de5aa4dc898e9e3</string>
			<key>size</key>
			<integer>26221</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtksourceview-2.0/GtkSourceUndoManager.html</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>a69441d53445a44a97b7207a5c0d67f09a62739a207a0cb12425da27e622572c</string>
			<key>size</key>
			<integer>23203</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtksourceview-2.0/GtkSourceView.html</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>ed7da704e237648d8479f31e551684a105f93e7c6fdea800586fb148bac0b48e</string>
			<key>size</key>
			<integer>128478</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtksourceview-2.0/gtksourceview-2.0-Searching-in-a-GtkSourceBuffer.html</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>ca269669d3840a00263100a0c7e493ba52c1bce236addb5b613b93a106817428</string>
			<key>size</key>
			<integer>15836</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtksourceview-2.0/gtksourceview-2.0-completioncontext.html</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>b4fccaca79c2f954c962cbdc85fa71b233279913d8bd250b874b4bae1a751cc9</string>
			<key>size</key>
			<integer>18205</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtksourceview-2.0/gtksourceview-2.0.devhelp</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>fc599ea114e73c3d1a16e9a5266f34fa0aadfa22a06c992720ee1d8fa6c4c5e8</string>
			<key>size</key>
			<integer>45338</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtksourceview-2.0/gtksourceview-2.0.devhelp2</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>4604cf8370143c892b5f6dac797474a454140058f0b3bb88acf14b150e83db4c</string>
			<key>size</key>
			<integer>53733</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtksourceview-2.0/home.png</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>034c231513fea72bbc788109596f9b35db7b87e270c19c8b3dd22940fb35e6be</string>
			<key>size</key>
			<integer>654</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtksourceview-2.0/index.html</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>ae7a492bb6cb251938771df4f28f64740662aca848dd1550e2a40620d7a846a7</string>
			<key>size</key>
			<integer>6003</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtksourceview-2.0/index.sgml</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>3cd60c3f40bbf1a4b28828dabdee89518a305fd9e73fc036cdf025e21b367e06</string>
			<key>size</key>
			<integer>67315</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtksourceview-2.0/lang-reference.html</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>029387c34ee8ee8bebc4038a8b962d5db949fb48e0a1d078d18c8a1f6de4dc4d</string>
			<key>size</key>
			<integer>28568</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtksourceview-2.0/lang-tutorial.html</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>90f955d7b9d7038c6f5ada8e99fe726da9a44d581cc726728f60b6bde3b1730b</string>
			<key>size</key>
			<integer>26678</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtksourceview-2.0/left.png</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>9ae091e52c667a72d77eb6c41cd9afc7af60bc89bfc3023248b1dc3bb7dbf461</string>
			<key>size</key>
			<integer>459</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtksourceview-2.0/right.png</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>17dcc0b175babc51d07f71382cf2083bcd4e9abfed091a45963f5ee982aa7b48</string>
			<key>size</key>
			<integer>472</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtksourceview-2.0/rn01.html</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>7d22596b7f3595d32adfc98c83cfc837277d6a8c8c9ac785f9c941fd6fd03a94</string>
			<key>size</key>
			<integer>5701</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtksourceview-2.0/rn02.html</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>553bc3cfb26ddadd810100e972e614e94ab43c2f4275ad986dd1d75db35464ee</string>
			<key>size</key>
			<integer>2375</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtksourceview-2.0/style-reference.html</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>3b0fa44ede736a0079a54ab148d44a124f31e7e512fbb818a5deafff21336577</string>
			<key>size</key>
			<integer>8783</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtksourceview-2.0/style.css</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>0d866cf446699cffd308432a62c0139ccf725203d245dbe6c56e2507e39676ed</string>
			<key>size</key>
			<integer>5166</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/gtksourceview-2.0/up.png</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>2af945c4c6ce288adfad716ae1747f37056f7bf67b8536d2e5e6b8e0ce84c872</string>
			<key>size</key>
			<integer>406</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgtksourceview-2.0.so</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>target</key>
			<string>/usr/lib/libgtksourceview-2.0.so.0.0.0</string>
		</dict>
	</array>
</dict>
</plist>
