<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/delaunay</string>
			<key>mtime</key>
			<integer>1543274684</integer>
			<key>sha256</key>
			<string>3d4ac1f943a68e4c019406607e80219d42ee07e9d5d35dbd4d75aac9ae886725</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gts-config</string>
			<key>mtime</key>
			<integer>1543274684</integer>
			<key>sha256</key>
			<string>c0f33fc6eb423816692b58252fe42cf5452f091508ef00457ccdffdb09391757</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gts2dxf</string>
			<key>mtime</key>
			<integer>1543274684</integer>
			<key>sha256</key>
			<string>bcaca04e0ba8b243065a28660eee0480d549a536c82a997ef357c958c5f2de0c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gts2oogl</string>
			<key>mtime</key>
			<integer>1543274684</integer>
			<key>sha256</key>
			<string>2935eefde4ad25abf987fb65f531f4ecbf03403a9a3dc371c48251277d6a788e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gts2stl</string>
			<key>mtime</key>
			<integer>1543274684</integer>
			<key>sha256</key>
			<string>e4296b04491815ef11d0c9b52d720f4a98e5938c3d754b3efe278554e4bd4c62</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gtscheck</string>
			<key>mtime</key>
			<integer>1543274684</integer>
			<key>sha256</key>
			<string>2b3418e5b3d854e2b089fa4a76b3879c3a105945d05601afe92597bc0e10d5c0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gtscompare</string>
			<key>mtime</key>
			<integer>1543274684</integer>
			<key>sha256</key>
			<string>a65697f9b8e882b283194c0acc49412c278bc99aa7dca737522f0b53c3a42c7f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gtstemplate</string>
			<key>mtime</key>
			<integer>1543274684</integer>
			<key>sha256</key>
			<string>26dd43a18a72792030e024ad38f31278a91871820e1b041a096ac3eeceea60e2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/stl2gts</string>
			<key>mtime</key>
			<integer>1543274684</integer>
			<key>sha256</key>
			<string>963e556614029a9064fcb6a3ed7d6fea0d8b272c3f5f03aea3bccbcbaed214ea</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/transform</string>
			<key>mtime</key>
			<integer>1543274684</integer>
			<key>sha256</key>
			<string>e8283250fb849c2a7e9903e0293ed8504d246f0906af99a1216b62c54b41f871</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgts-0.7.so.5.0.1</string>
			<key>mtime</key>
			<integer>1543274684</integer>
			<key>sha256</key>
			<string>aa7ea3d9c61fe48ae9053cfc11ae23544d52462736d274f923958ea55e0f17b5</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgts-0.7.so.5</string>
			<key>mtime</key>
			<integer>1543274684</integer>
			<key>target</key>
			<string>/usr/lib/libgts-0.7.so.5.0.1</string>
		</dict>
	</array>
</dict>
</plist>
