<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/hidapi</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libhidapi-hidraw.so.0.0.0</string>
			<key>mtime</key>
			<integer>1611812465</integer>
			<key>sha256</key>
			<string>3a8d1c1f58d1bd1c5386c0ad6e3dbabc3cd5067c6e5339cc12c892b0a1408fd1</string>
			<key>size</key>
			<integer>22568</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libhidapi-libusb.so.0.0.0</string>
			<key>mtime</key>
			<integer>1611812465</integer>
			<key>sha256</key>
			<string>e3721382d0b5ecc06ff95c68f524b549dcb27807acd66b09ca73fbcd7e444d2f</string>
			<key>size</key>
			<integer>37976</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/hidapi/LICENSE</string>
			<key>mtime</key>
			<integer>1611812465</integer>
			<key>sha256</key>
			<string>30eb1bef29b46f8ba7ab8b416035dbd93cb034a45481dd97815b944284582cd2</string>
			<key>size</key>
			<integer>1534</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libhidapi-hidraw.so.0</string>
			<key>mtime</key>
			<integer>1611812465</integer>
			<key>target</key>
			<string>/usr/lib/libhidapi-hidraw.so.0.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libhidapi-libusb.so.0</string>
			<key>mtime</key>
			<integer>1611812465</integer>
			<key>target</key>
			<string>/usr/lib/libhidapi-libusb.so.0.0.0</string>
		</dict>
	</array>
</dict>
</plist>
