<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pixmaps</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/htop</string>
			<key>mtime</key>
			<integer>1610559244</integer>
			<key>sha256</key>
			<string>9893129326d5d9e0a6751aff2528df239cc16f6492d226b461babadcd1e2e4df</string>
			<key>size</key>
			<integer>250984</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/htop.desktop</string>
			<key>mtime</key>
			<integer>1610559244</integer>
			<key>sha256</key>
			<string>95beea55504ac7a0bbd1dbb1f675f63a2441f5acf41765b29a44784c469b8043</string>
			<key>size</key>
			<integer>2546</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/apps/htop.svg</string>
			<key>mtime</key>
			<integer>1610559244</integer>
			<key>sha256</key>
			<string>91bd25b2d2717993f6989e49bbedcadd0c9583f9b5b58a28f6d2d5e5c5e28703</string>
			<key>size</key>
			<integer>11202</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/htop.1</string>
			<key>mtime</key>
			<integer>1610559244</integer>
			<key>sha256</key>
			<string>b0784bf4feba3244f4a5050c9174371a619b68a3743add7cf2445dfbe6d9e363</string>
			<key>size</key>
			<integer>16394</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pixmaps/htop.png</string>
			<key>mtime</key>
			<integer>1610559244</integer>
			<key>sha256</key>
			<string>479848f134773f732e200155fa5bcca4bd0decc84c01132e6a4ddcb5ce9a2d82</string>
			<key>size</key>
			<integer>3537</integer>
		</dict>
	</array>
</dict>
</plist>
