<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/hub</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fish</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fish/vendor_completions.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/hub</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/nvim</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/nvim/vimfiles</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/nvim/vimfiles/ftdetect</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/nvim/vimfiles/syntax</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/vim</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/vim/vimfiles</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/vim/vimfiles/ftdetect</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/vim/vimfiles/syntax</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/zsh</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/zsh/site-functions</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/hub</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>3f1eede05e33cfcee5bb304781462057b0d0e5c3023902c86e81fcbd54525541</string>
			<key>size</key>
			<integer>9202768</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/hub</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>6528b3602297da6d2c1088b30140619d831752309d495892bfb0f36401275c8f</string>
			<key>size</key>
			<integer>10076</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/hub/hub-alias.1.html</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>4ba435c0735f2d6b596c0642d1f0f02d086b60879bfe864bf10bb76e5c580c37</string>
			<key>size</key>
			<integer>2081</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/hub/hub-am.1.html</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>5f65c17cd08b9c032994378bcaa74c5cc02ab8ed9811abfef7e9b9b2773cf5be</string>
			<key>size</key>
			<integer>2373</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/hub/hub-api.1.html</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>62ff971eaacecb6c731f319f8004454b57ce413594e052b0883927c747402cfd</string>
			<key>size</key>
			<integer>7183</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/hub/hub-apply.1.html</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>6670fe0e90f333cab2ad353dbfa3ce80b3d459c7dcaca0f2c9d80d3c9ebf6349</string>
			<key>size</key>
			<integer>2262</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/hub/hub-browse.1.html</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>713391af0f473aa9371b21db41586fe4a8d60125f9e7c768c6ed79e712754ffe</string>
			<key>size</key>
			<integer>2700</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/hub/hub-checkout.1.html</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>38ad1ea638e42098043cff7cf956ffd3182e079200411576116cac003010163c</string>
			<key>size</key>
			<integer>2216</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/hub/hub-cherry-pick.1.html</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>447b5c2b5e1238dd0a52c19027ba00b9c1ffcb92373cf359550963f3d88df56f</string>
			<key>size</key>
			<integer>2003</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/hub/hub-ci-status.1.html</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>bdce5a5c4dbd4cdb87197d14d812dbecb6c0021b0d0f005026825bf49ad49134</string>
			<key>size</key>
			<integer>3123</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/hub/hub-clone.1.html</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>2436f99189bcead3fad1121aeb6ef454c412b0e6b4824121d5200940fd45d525</string>
			<key>size</key>
			<integer>2864</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/hub/hub-compare.1.html</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>fdc55b940e4d5f2807c9b6ce344f4b8cb171f6fc749dd2ed655d1dba7b675010</string>
			<key>size</key>
			<integer>3296</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/hub/hub-create.1.html</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>1e17afe18eaa0d410f6f0e16f0537c5f604c30efd527ff82daf24a7306d7f3f7</string>
			<key>size</key>
			<integer>3253</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/hub/hub-delete.1.html</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>70fa1c6ddba2ced8b8c8b578c66039ccd53c17ecfb1433d01dbeef5b0ac95261</string>
			<key>size</key>
			<integer>2346</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/hub/hub-fetch.1.html</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>65977c248f6b70cef58ef095ab4dc1765f9822b8a351e9c320af2c19651e3a3f</string>
			<key>size</key>
			<integer>2215</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/hub/hub-fork.1.html</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>3e4cc65016fa7d61b47bae417a44607d4d4f6762e1a760d750d30aba278af0c7</string>
			<key>size</key>
			<integer>2611</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/hub/hub-gist.1.html</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>3299f96772a895a26ce7ebae4d3dab054c7dbfa2141b829d00e20c07f23aff95</string>
			<key>size</key>
			<integer>2787</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/hub/hub-help.1.html</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>19bd6721926dddd807e98439fabe68a82a9fec527e231867ba51d8df601af633</string>
			<key>size</key>
			<integer>2183</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/hub/hub-init.1.html</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>8f0b48a3b2792a25a28aef3afa1d6009d9a48837580570eb5f13179f830434b1</string>
			<key>size</key>
			<integer>2421</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/hub/hub-issue.1.html</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>243d5b3f80f4eefd5c267c4fb3ffdb7170c35bf9c9dd880e1c00d3465c39330e</string>
			<key>size</key>
			<integer>7670</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/hub/hub-merge.1.html</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>0edfcb4c2178801ee930164dbf18c70490913d4d607c434699c9ee615554a477</string>
			<key>size</key>
			<integer>2534</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/hub/hub-pr.1.html</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>d625f6e28c97c076e89c0fcadc9edb8d267734fa5f7ecd99beb973163361f72b</string>
			<key>size</key>
			<integer>6081</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/hub/hub-pull-request.1.html</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>1ca8cba2f7991e1a62671a65b126d8978762c2aa1592c81544311e32e2e7c555</string>
			<key>size</key>
			<integer>6409</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/hub/hub-push.1.html</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>0eecff2573b2efcb5e24ac9fbc1e38fd7d0bb6806fce934b05254ceaecd79738</string>
			<key>size</key>
			<integer>2155</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/hub/hub-release.1.html</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>9697540f6d41be2720120aff6275c03e5941b9468a5cadd567b239fd7fe8361c</string>
			<key>size</key>
			<integer>7095</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/hub/hub-remote.1.html</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>64e46d5b5a515403c1e4ef28c41470bc31deedae4b7f418dedfd85421d13ec12</string>
			<key>size</key>
			<integer>2848</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/hub/hub-submodule.1.html</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>65c848ca4ba7a7caebf526a45490c1826fec9435f41f8c2d05730b26967b71b5</string>
			<key>size</key>
			<integer>2177</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/hub/hub-sync.1.html</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>e1ff215799c96d75013e1c4344245338f9a26a372dd124e9cf1d0b411b73961b</string>
			<key>size</key>
			<integer>2529</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/hub/hub.1.html</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>b4f7217d5bd905c012cf8c851eb6ad206b04a88468f53c4fcf79d1c2d7fcbc01</string>
			<key>size</key>
			<integer>10614</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fish/vendor_completions.d/hub.fish</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>7a3909594299029312556a3a0c67f8a6349d9f5954f7cb9bfdaa2977cfc0d9f4</string>
			<key>size</key>
			<integer>7370</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/hub/LICENSE</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>95cc7738561546e511631983f4d4d8e6fccad9350e0bbc6cf48859d025f23b89</string>
			<key>size</key>
			<integer>1059</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/hub-alias.1</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>0c322aceefae3f748ea69fd170bcf5504d629d8bbf507b906e2118ed2f3f89b1</string>
			<key>size</key>
			<integer>406</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/hub-am.1</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>613b80250cbe0a24fdfff12c1d5749635e1f37a9c3b0ebd2e6c98471b57568b0</string>
			<key>size</key>
			<integer>613</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/hub-api.1</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>23c783813bed0c286a6e199fdedf2f3acaf7aaab35adc484cf92fee7d9712b88</string>
			<key>size</key>
			<integer>4891</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/hub-apply.1</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>f405823b5bc01f7c62da00558371750ef1e1c138a560a44d16a4a3349711324c</string>
			<key>size</key>
			<integer>541</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/hub-browse.1</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>202e071c099fc583dd2af2cea22844feadf6d7f58d1da200f4624501a88e2f16</string>
			<key>size</key>
			<integer>910</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/hub-checkout.1</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>0e78b77e2d09a1c684102703875d26bf02f8aea454bbbdb0f976b5677c504ad1</string>
			<key>size</key>
			<integer>484</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/hub-cherry-pick.1</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>cd7fe93c1a2de47bf4821af83441801363eee1d941ca0327f0c2daa717058be9</string>
			<key>size</key>
			<integer>334</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/hub-ci-status.1</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>37bc244b5390d13d90292a2fe16ba011f06501b7bf5553dd0b395e852fc7b4e3</string>
			<key>size</key>
			<integer>1295</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/hub-clone.1</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>7a7ff3a38bafbfd3ba9e13184bc7cfda82c54f4f9474c541f524ffd5c267f156</string>
			<key>size</key>
			<integer>1029</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/hub-compare.1</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>1b414ea667d94ecd22027e9bd7ab2f27fd6d5d59561280c86c4766198a0b867a</string>
			<key>size</key>
			<integer>1474</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/hub-create.1</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>9c3d01877e9c47fb188d7d32d1dfd59c2c9b65026f355d9bbb4f1c8126a4d9ef</string>
			<key>size</key>
			<integer>1409</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/hub-delete.1</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>7db0810d72f25954c7dbcacb01653af7078b10b6a8bef3f6d77f0fcb32a43e5a</string>
			<key>size</key>
			<integer>624</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/hub-fetch.1</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>7698466668a1cfca987da23c07518c2f46b85abcdfebb8affef103d4a5cc2582</string>
			<key>size</key>
			<integer>512</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/hub-fork.1</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>a46d87dc3eddbdb6d7191a2b039cb0f858fd9b283bd3e8aa6e930a39b407659c</string>
			<key>size</key>
			<integer>870</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/hub-gist.1</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>2832a04d0aac9d3736ca044cbe8750fefc14391f8f4843ec19121eacc9a802a2</string>
			<key>size</key>
			<integer>1035</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/hub-help.1</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>a6abd44d563908d85fde83a828fb682a080adeac55982e0d7e3cacade1e71115</string>
			<key>size</key>
			<integer>525</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/hub-init.1</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>082361865ccf0f785a55acdad1161e3b9764ee7e9dc61a1d380d209fc1c4babd</string>
			<key>size</key>
			<integer>642</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/hub-issue.1</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>439bb97bbfe6b49f00ae6084d3523db3894622427bea4e10eea755f0f64bc817</string>
			<key>size</key>
			<integer>5239</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/hub-merge.1</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>8d88fc3652de81800afe5e765f26bda1a7557ad809379f11d4a5397acba65b00</string>
			<key>size</key>
			<integer>797</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/hub-pr.1</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>10fdc1c205e3e76a816ec49d965b043547cd7e02b6ed91cc03c89cc4f700f19c</string>
			<key>size</key>
			<integer>3715</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/hub-pull-request.1</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>e79bea65b1e245919c1f5dca8522a3402611dee65d010d5168b19dd24c588fe7</string>
			<key>size</key>
			<integer>4287</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/hub-push.1</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>30cb01c0b531ff935fd440d12f220347c7e7d0a8f8cd5c2c47ee3a2b674165ba</string>
			<key>size</key>
			<integer>485</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/hub-release.1</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>a9474faf3e19206372505ad41c8dba45b30c2940defc9fa35663a09e0af6d207</string>
			<key>size</key>
			<integer>4751</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/hub-remote.1</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>d6d035e6095e4161f9aa9b093f6cc9a898af7ab2230e24bf7fc1650874718b22</string>
			<key>size</key>
			<integer>1059</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/hub-submodule.1</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>73865c56621f308b2c8888fba6afc1db0416c5714a5bb0495473817ab4cdd459</string>
			<key>size</key>
			<integer>474</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/hub-sync.1</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>f731a8f15d0a04da635fc86c78d440177cd4c513db697d43e1b13e569ed548c0</string>
			<key>size</key>
			<integer>842</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/hub.1</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>6b8475b5aea409e97e61f8c07f2336fe831df8a0aa32835c44b001fad0cb802f</string>
			<key>size</key>
			<integer>7173</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/vim/vimfiles/ftdetect/pullrequest.vim</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>28888a1f01a365cd71bb4d233b446ca526b864caa226b60a3f74b612b99088ef</string>
			<key>size</key>
			<integer>68</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/vim/vimfiles/syntax/pullrequest.vim</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>198d0c8062e7088ea8e1653dca5b0ecfed864ebe80c530163486295d30683d6c</string>
			<key>size</key>
			<integer>1992</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/zsh/site-functions/_hub</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>sha256</key>
			<string>bb9b297dd1a70a090404d55c62ccea147b1b9f2f23673dad4b6922faa1da164d</string>
			<key>size</key>
			<integer>5603</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/share/nvim/vimfiles/ftdetect/pullrequest.vim</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>target</key>
			<string>/usr/share/vim/vimfiles/ftdetect/pullrequest.vim</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/nvim/vimfiles/syntax/pullrequest.vim</string>
			<key>mtime</key>
			<integer>1613329094</integer>
			<key>target</key>
			<string>/usr/share/vim/vimfiles/syntax/pullrequest.vim</string>
		</dict>
	</array>
</dict>
</plist>
