<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/i3/config</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>56d14e45fa4c2090987d5ce5c525a19e3b829ee11ebcd49c4d29e909c032a1b2</string>
			<key>size</key>
			<integer>7517</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/i3/config.keycodes</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>ea35c40d3e1e4c6abf4eb313175fa9faec112f28bda740391b17ff3e54a3a7cc</string>
			<key>size</key>
			<integer>6601</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/i3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/i3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/i3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xsessions</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/i3</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>e8a942e11b629057061d8583af48df474e1a5e62115cce98e9a552a3be59c2a7</string>
			<key>size</key>
			<integer>523568</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/i3-config-wizard</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>3133247070216f57b9387b60c274b77db01905c690f663b7b90cbac063297da3</string>
			<key>size</key>
			<integer>81568</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/i3-dmenu-desktop</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>a2ccdfe4ab32c74f4e90c59a24366929a1b2050a0026f83d01753d8a9fd46da8</string>
			<key>size</key>
			<integer>20453</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/i3-dump-log</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>ea698479a704c7616b6f6ce62fc2dc23f6980942612a451819572bdd2d548faf</string>
			<key>size</key>
			<integer>22768</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/i3-input</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>904ec36c2aa0bb8c2a423b44ef5dfdca76da151c6efb3f885cb913d3b5822996</string>
			<key>size</key>
			<integer>43408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/i3-migrate-config-to-v4</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>6e0bf1be6cf7e1ff9bc6871f96618c0609036aa31667de3db707471bb7b928c4</string>
			<key>size</key>
			<integer>10860</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/i3-msg</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>2fcb04908c95b87a16b8efbd1b478ecef6caf8de8910695bdd06e0759fe8aff1</string>
			<key>size</key>
			<integer>23016</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/i3-nagbar</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>473fd8de1396f6d3df2d7b414aa12b879c646e2bea1d0ebaf08f174a66369762</string>
			<key>size</key>
			<integer>43376</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/i3-save-tree</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>c80c02018da15b512002033fa26df68cd8b19f77fedbf4e6e9dcdf2a23a57920</string>
			<key>size</key>
			<integer>7812</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/i3-sensible-editor</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>dd08f1a35cdb9682f42c14a02d98eea95b1242c5e74b3f53964631c97b3a0716</string>
			<key>size</key>
			<integer>570</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/i3-sensible-pager</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>e22532185d7ba982ef91c52a61fb06f4788c15e806eeb97b9c6af0db27fcc3b2</string>
			<key>size</key>
			<integer>658</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/i3-sensible-terminal</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>740a13288c7cd82e488ac932aed7182074f12f9c60490c132410f2896a07851b</string>
			<key>size</key>
			<integer>813</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/i3bar</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>2f04a5f5aec48ce9f2f198ca66d9921529f4f97183962e741cd1a714cfcb6266</string>
			<key>size</key>
			<integer>109560</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/i3.desktop</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>8c81a0d3b148a643474776beaa66c632e280c76e0abeeb7189cb2832662bceeb</string>
			<key>size</key>
			<integer>273</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/i3/bigpicture.png</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>5beba35919e5d404e675553493d9980bf4273b81332195c214a31315365d0267</string>
			<key>size</key>
			<integer>338214</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/i3/debugging.html</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>7924aab8774a460238f2ed7c3a6c737e588855c452786e29a05b4243e3633ef6</string>
			<key>size</key>
			<integer>26463</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/i3/hacking-howto.html</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>3acf90c8998fc19a46403d0f6ffde3a9869f3d2ed2d31d0d5aec5ca5739fb58b</string>
			<key>size</key>
			<integer>82231</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/i3/i3-sync-working.png</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>dcaf48b2d07a868f3d1e2782e1d5a22109b12af114b6d2ffc4f303bc228d928b</string>
			<key>size</key>
			<integer>25072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/i3/i3-sync.png</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>e04873b5ba8371d5b22112d69020e75d3c0d425aed8d941db4abcd7e49f176ac</string>
			<key>size</key>
			<integer>17308</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/i3/i3bar-protocol.html</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>1964c35a3072155da6e338d86c4657f488c7fe9adc7bfcb49c1f146407e5f309</string>
			<key>size</key>
			<integer>31617</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/i3/ipc.html</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>963795e23a760709571db32e1cbdfcb1f260c4400d7d89d1c128b6b5f36e873a</string>
			<key>size</key>
			<integer>74975</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/i3/keyboard-layer1.png</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>32dd3f659b35cfe2ce3ad8ce20264babfc5ff721bb4dd69d1b25f24800575a9f</string>
			<key>size</key>
			<integer>55821</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/i3/keyboard-layer2.png</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>f1a2163ddb364034cfd83b472b3c54bb386115cf6bf4b81bafd5ea5e7e9ad21a</string>
			<key>size</key>
			<integer>49858</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/i3/layout-saving-1.png</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>cb0fea671581b422d5824f239d80564b7ec0de872cb5395de21b6d9631baec27</string>
			<key>size</key>
			<integer>14799</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/i3/layout-saving.html</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>1943e432d53617e9c2e92a6ee34134d4f188c62249a75ebf8b86cf0b77c8ffde</string>
			<key>size</key>
			<integer>29086</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/i3/logo-30.png</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>15b9aed9c3f993a9891fe6b17681117c5e084f92ae34c03042a5765e36fb42d0</string>
			<key>size</key>
			<integer>2751</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/i3/modes.png</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>d6cbf6fc88cba6d551666b92ea8f381f927a3057e9934129501c14f30379c36b</string>
			<key>size</key>
			<integer>5826</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/i3/multi-monitor.html</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>1700ff4caedb55e2ec7792d4ce417a466e3ab45312cf18e860fd04e692096eb0</string>
			<key>size</key>
			<integer>21066</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/i3/refcard.html</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>c70d8e39a52fd3e3a0c50c63e672ff04657f5e9b256a3376106aba7ac6f0f019</string>
			<key>size</key>
			<integer>6166</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/i3/refcard_style.css</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>5659466066056df46f1ba2aed07ea557604dcb6b1fcf7f2ed79f7aafcd9602c1</string>
			<key>size</key>
			<integer>279528</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/i3/single_terminal.png</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>55effd951cc8c82f05019773e45dbbac5ba0f3e531206fbb0c02b9ef86dacf66</string>
			<key>size</key>
			<integer>3382</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/i3/snapping.png</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>b02a3f227adbf183e94f103e2f423f057a5ddd5fc48f20890aed6a1d03b29613</string>
			<key>size</key>
			<integer>4880</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/i3/testsuite.html</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>749f27a962e9352e919b6ab23cc8649c11c4fe70f50ad9ee4a81196856e8fb36</string>
			<key>size</key>
			<integer>50143</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/i3/tree-layout1.png</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>d94c97d8fd43cd2bbba6c160dbb0689045f3f2192a9eadfbd652d911aa6c014d</string>
			<key>size</key>
			<integer>27856</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/i3/tree-layout2.png</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>bef138d1de9f4019f7d7208efa10a8beb1bc2aad7035118b2635464f58a01858</string>
			<key>size</key>
			<integer>20101</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/i3/tree-shot1.png</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>b73c3901da259b39c23dbed699c6e2fbca7a39ab4251b15e66ec13f1030353cf</string>
			<key>size</key>
			<integer>3665</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/i3/tree-shot2.png</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>92fb60436628377c8c5ed10b9d9b79dbc88875570c1d3b91ec6fd5841d00fb76</string>
			<key>size</key>
			<integer>3383</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/i3/tree-shot3.png</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>fbf83a10be6b1ceb450f61bbf38aaed54e652a226898f9bc6d1f3eca17c0e6a4</string>
			<key>size</key>
			<integer>4001</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/i3/tree-shot4.png</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>ded4cf4f04c8f442b1070c364a56681c57fb38f1036f54d3da24952765e6b16d</string>
			<key>size</key>
			<integer>3050</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/i3/two_columns.png</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>9fe3c737fd5c911771ae046cdda8f2920ee4e741d7a8877f88c4af4cda11a629</string>
			<key>size</key>
			<integer>4624</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/i3/two_terminals.png</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>e964019cb4474e757c781c4d6d31fd0e35e552856eee6a465747f03a606d4400</string>
			<key>size</key>
			<integer>4901</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/i3/userguide.html</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>ae14bb4c1171e333c24a23034f64100e5feecf2340ee8b0f949a90e070390d5d</string>
			<key>size</key>
			<integer>167457</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/i3/wsbar.html</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>9c776555eaf7f9ea782a6679dadc329cab305d522dfd523db4e3f42dd29e9b80</string>
			<key>size</key>
			<integer>22175</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/i3/wsbar.png</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>339d15c029887230607a38b9106e3a34421147ad18cc2d1f54225f03b4fbc2b4</string>
			<key>size</key>
			<integer>14339</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/i3/LICENSE</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>cefa5e57afbfcdc39cdf3434d6d9381216ba015d4a0768ad87e358f78ea3733e</string>
			<key>size</key>
			<integer>1497</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/i3-config-wizard.1</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>04fc944400082aca9a4af9d9761e88320c3c253da885a8525337900084b2a5fd</string>
			<key>size</key>
			<integer>2729</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/i3-dmenu-desktop.1</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>c6453ce369c0e282c86baa880fc87bf5977b2c7c98db471fb12ca805db43a073</string>
			<key>size</key>
			<integer>5481</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/i3-dump-log.1</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>2e2e3e1e3f4d9a573dd77a08fbbbf914a0378f1922d195b5978ae4a59e260443</string>
			<key>size</key>
			<integer>1902</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/i3-input.1</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>ccf2236f104403709ec8f392be834b4a2e293d0f6baccdcfb9196325d6da1599</string>
			<key>size</key>
			<integer>3681</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/i3-migrate-config-to-v4.1</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>0b0ae8e703c4828d57897844f5e457a880b262569b4cfc4bf6530c7ae3936dcd</string>
			<key>size</key>
			<integer>2010</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/i3-msg.1</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>2366eda44ca742a6638cc9d17ba474db6d3fe6336a64767738cf43f37391bc7e</string>
			<key>size</key>
			<integer>4808</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/i3-nagbar.1</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>9e7a8c0e3ba418d9d105b75d630d0bddcfe3b6f26f95d63d6310bf07e85d656a</string>
			<key>size</key>
			<integer>3006</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/i3-save-tree.1</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>f3d1d3a26c26f2efeaa6d1be278d40d28d0010ea8e12a26945b12ca839e9cdff</string>
			<key>size</key>
			<integer>3695</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/i3-sensible-editor.1</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>91ccd83bcc40310dd241dd64316b0c885d45455ac6f27c85284cff357cdf7c56</string>
			<key>size</key>
			<integer>2909</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/i3-sensible-pager.1</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>a7223ea3c56ae92c3e8a01f779179159c9437e6a41c1058181923a14c35334a9</string>
			<key>size</key>
			<integer>2135</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/i3-sensible-terminal.1</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>c97e657bc3332fc6178c427c80a9901bfaedd6ec64cf6d7939a68d51f5faadda</string>
			<key>size</key>
			<integer>4603</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/i3.1</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>aed5da132becd5366a9119f7b6744d95de55e6b4fae1ae5969ff82e35f7b1756</string>
			<key>size</key>
			<integer>11974</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/i3bar.1</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>80488da5ead132148d13c70a3e0de18c1fe0330691beeb7b783527dd6c7fe16f</string>
			<key>size</key>
			<integer>2886</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xsessions/i3-with-shmlog.desktop</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>26ba817d60e31e45b6d27832418faf66d4190e96f573ff6676df42003fcc093c</string>
			<key>size</key>
			<integer>174</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xsessions/i3.desktop</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>sha256</key>
			<string>54f9f038a9a90a30961d8598d95e6601bad20e20ccf5858b1a7e2beedc47d120</string>
			<key>size</key>
			<integer>197</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/i3-with-shmlog</string>
			<key>mtime</key>
			<integer>1612714806</integer>
			<key>target</key>
			<string>/usr/bin/i3</string>
		</dict>
	</array>
</dict>
</plist>
