<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/pam.d/i3lock</string>
			<key>mtime</key>
			<integer>1605312092</integer>
			<key>sha256</key>
			<string>a4c849045e2483dfa7e1b63cbe6afb05148ec6074c987791b120c05af6d31b85</string>
			<key>size</key>
			<integer>171</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/pam.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/i3lock</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/i3lock</string>
			<key>mtime</key>
			<integer>1605312092</integer>
			<key>sha256</key>
			<string>8d4c301fcac3bedf5801b4f82b6728ec75545beaa285c79daaec866d6a72a276</string>
			<key>size</key>
			<integer>56024</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/i3lock/LICENSE</string>
			<key>mtime</key>
			<integer>1605312092</integer>
			<key>sha256</key>
			<string>cc0bcb3c3a47f89b854c57c3122c7b7508950a27b80b799541ca8a11c9b5971f</string>
			<key>size</key>
			<integer>1490</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/i3lock.1</string>
			<key>mtime</key>
			<integer>1605312092</integer>
			<key>sha256</key>
			<string>2b0ba170db0e1298ac96feddea65388d1645c959ac5ca3f76a0c60325eb1d3da</string>
			<key>size</key>
			<integer>4736</integer>
		</dict>
	</array>
</dict>
</plist>
