<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/icu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/derb</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>2f00e5e5759f15a37f0673aff786a575268b80a155920ad2fd930403cda18932</string>
			<key>size</key>
			<integer>27272</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/escapesrc</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>0799fdb7404d44fabb2794eeaac1edc3f274c84e0286a6b8215a6c19610a9720</string>
			<key>size</key>
			<integer>22760</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/genbrk</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>87f7ca3606a06ea0700493fdc965f95c4f983ffcffa8c6a183fe1828e9524007</string>
			<key>size</key>
			<integer>14896</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/genccode</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>47cb4bfa7dc043dc3d1bc0ffcd73170b428d7538a49401b4b761cec5bca5216f</string>
			<key>size</key>
			<integer>14864</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gencfu</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>66ba49a47e5223878eac30a88ae0e1a12dbc4c3ffc89153a39cbb933c14aaaf2</string>
			<key>size</key>
			<integer>14848</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gencmn</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>8eabe15d49c7a9edada2dbe27d8139e385739d5807eb0e696a0513e367d52f07</string>
			<key>size</key>
			<integer>14856</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gencnval</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>dc1135d6a513ddc717798e9c1c87a97979b3ef801903c80976425a020a01c80b</string>
			<key>size</key>
			<integer>27032</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gendict</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>092d86fd5f313e1e81ca4af5d4b3b985049003ff5b27e9f82a376657c5f2680d</string>
			<key>size</key>
			<integer>27264</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gennorm2</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>446606c9b23fd7df507737b7cb5c9f32b86b29e02a68b5eea1dbcb7d3d04d69f</string>
			<key>size</key>
			<integer>64168</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/genrb</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>076b0856a5904ae1dd075e832f9dcc44f6eac8d9f1cc4783eed7a7601e3500ef</string>
			<key>size</key>
			<integer>159448</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gensprep</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>669d7bace94422dfae16aa759d7c41f26f99ef4431b42499f603aadbd25b9fc6</string>
			<key>size</key>
			<integer>27208</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/icuinfo</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>30795d254385de482011565ce322c2ef71c73dddb0281be36e6aa0c3a82c49c4</string>
			<key>size</key>
			<integer>14736</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/icupkg</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>26b5969b11620b73fee263ec30de4e264263e8d9350fbae9329eab2fc1b65a26</string>
			<key>size</key>
			<integer>23376</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/makeconv</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>64366aed5539bc9de46793a48ef091e70a759fd3535f7c4109dab8389445fdc5</string>
			<key>size</key>
			<integer>52088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/pkgdata</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>2817c1a5da665d57e5a81ba9ba3d7eaa5487d67d3a7686452a79ccbe31c880c2</string>
			<key>size</key>
			<integer>52560</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/uconv</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>463e1ab6db5e4221bd316785cf3fdbf632a1fe4ea76818c02598e9a33d811b4d</string>
			<key>size</key>
			<integer>55984</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/icu/LICENSE</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>25e21013a7bc2fad735e28c5278a120e4c7f1c327c8c8b9b4df1751748cddbb2</string>
			<key>size</key>
			<integer>21001</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/derb.1</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>eba382e16b1be124566f26f543a01edf355bffdd6bee5163e68a566ff6c15467</string>
			<key>size</key>
			<integer>4913</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/genbrk.1</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>fae2fa3b1fc5e06b6b067bfe1a59146216c5dad73c5d534051f6d8d7b3785510</string>
			<key>size</key>
			<integer>2957</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gencfu.1</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>c0cc364fe38fb483c84786936b4fb522e655948afe68161856b697c5252c3ad5</string>
			<key>size</key>
			<integer>2460</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gencnval.1</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>2cc83ef7e1f9330f284ebe425a4fcdc3eb00e2c54d996995d65780f0d521d279</string>
			<key>size</key>
			<integer>2395</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gendict.1</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>eb193cf41ca1626b379d6d35beff9f38934fbc4665e7aaf38123955308d4f1d1</string>
			<key>size</key>
			<integer>3399</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/genrb.1</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>acc942c245b43f005426bb34f24357c57c2293dec695b856e41102d3e068dae2</string>
			<key>size</key>
			<integer>3916</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/makeconv.1</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>758c9f82db1a44a812e6af3053db76777e8913832a9de56ef008b59524cd411f</string>
			<key>size</key>
			<integer>3362</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/pkgdata.1</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>707ac428f481dbec0bcc87a0057661d07a8425caa66444ba139063f2eecf2854</string>
			<key>size</key>
			<integer>7089</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/uconv.1</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>28c82f7a1f6e162b6438ae2e5280fe8f6c0bebfecf87ed44eaa0352fddad51a3</string>
			<key>size</key>
			<integer>10527</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/genccode.8</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>91584de79b1802a5eb66b873368ad0ac2636416ae7a6d7d71ff579e7ceaf8e16</string>
			<key>size</key>
			<integer>2934</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/gencmn.8</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>a15ba6a0b638f59c592c23e0a3c9f2979b03c8dc24ed2301538ee29e43016573</string>
			<key>size</key>
			<integer>3332</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/gensprep.8</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>0714003472b18beba740af62d00cbcbe5f279c10aea89f9570e50fa1e6d6c717</string>
			<key>size</key>
			<integer>2719</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/icupkg.8</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>a0514ff6110a4c7be3a423888730c9c954f687f2f11fab1bad1d1aa406a4f84c</string>
			<key>size</key>
			<integer>5109</integer>
		</dict>
	</array>
</dict>
</plist>
