<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/Icons</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pixmaps</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/idle3.9</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>72feb50eb0ce323657288ea86bdf03a0017d6bdc383e1ba66597439cf370fc02</string>
			<key>size</key>
			<integer>91</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/CREDITS.txt</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>c7a0cc61079c6e2df53457e63b413e0389f2c0061eb55e80229da932c8f8dbd6</string>
			<key>size</key>
			<integer>1866</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/ChangeLog</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>1abddb32c2275993c297df1b56ce5d8b34eda35f823dfc27577c2b18c26efcf8</string>
			<key>size</key>
			<integer>56360</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/HISTORY.txt</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>531067a78ad392f25631aba1d885f40786cf5f47854577162c9f90ff1f33164c</string>
			<key>size</key>
			<integer>10312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/Icons/README.txt</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>60399d6129e3e486ce6b437bbf614ff4838bd4e7f42d461c3e5467cf3b4fa272</string>
			<key>size</key>
			<integer>443</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/Icons/folder.gif</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>7c98d566a13fd599d1c11a375f387fef69b6c595c4f18c5d88c188a860be0e55</string>
			<key>size</key>
			<integer>120</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/Icons/idle.ico</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>7f13eeb5dca39d05e24b9eb069c6dcb2748633822d67288a8bf8b7e21cdddf55</string>
			<key>size</key>
			<integer>57746</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/Icons/idle_16.gif</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>4ad97f34e64abd93e1e32aff017ff8914e3204a76044f1486bc9fbefa07bfdbb</string>
			<key>size</key>
			<integer>1034</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/Icons/idle_16.png</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>26999728e6eefa83b486188a3af6900a464741307e7e4fbe4c6bb030eb765042</string>
			<key>size</key>
			<integer>1264</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/Icons/idle_256.png</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>8007b797e6251b310f5870b7207209a848e1c9acacdd2b221d0ec877f7e80340</string>
			<key>size</key>
			<integer>42839</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/Icons/idle_32.gif</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>963d5f8d5d1259e9874a263a6621ca6dd1d57608faa5f28f7d61f349583e0781</string>
			<key>size</key>
			<integer>1435</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/Icons/idle_32.png</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>4a404d5bcb1109a33329f0e099fa8c07a8b02401da4e531bbc6de733a90e45aa</string>
			<key>size</key>
			<integer>2542</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/Icons/idle_48.gif</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>37484901eb40eefa846308e1da3ff6f240ea98f769a2afc3cf4fdba00327ecbe</string>
			<key>size</key>
			<integer>1388</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/Icons/idle_48.png</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>f9b54f0a6c4a21daea6f41263e8df267367f5b491094bea56179a9c3b4ebd65a</string>
			<key>size</key>
			<integer>4710</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/Icons/minusnode.gif</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>fc11c3d934f8de7d3285f616d0a9129f8113b158157501829c2e452101d067a4</string>
			<key>size</key>
			<integer>96</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/Icons/openfolder.gif</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>9a59e2abf1840156e9db8f85a38822fd56ab79a139eb95ec86f1fba1bb87326b</string>
			<key>size</key>
			<integer>125</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/Icons/plusnode.gif</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>fcea17dee8413652327d3d1f7565ac6b32b392a5e424947ede2088e276003469</string>
			<key>size</key>
			<integer>79</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/Icons/python.gif</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>09878665b07bcb76fb3222ea1b4947a553ad0af76fc12b31651d1707980791dc</string>
			<key>size</key>
			<integer>585</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/Icons/tk.gif</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>a932fd307c4bdc223ae39165f413b2a530b2dbf6323e8a272865da6627535ea3</string>
			<key>size</key>
			<integer>85</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/NEWS.txt</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>85adf0259c73c17d11bb0f2242a53a26382b72e6fd653bbf28440da96d761d0f</string>
			<key>size</key>
			<integer>49600</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/NEWS2x.txt</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>c89a3b513501ebace8e428aea68dce39d0af9f29196e08fc9ea49c99605e79e7</string>
			<key>size</key>
			<integer>27172</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/README.txt</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>332ac94e20de407bd8e6c46eaed3c5599a1414928faeb70c8db16e024e8a6334</string>
			<key>size</key>
			<integer>9599</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/TODO.txt</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>f88e0fb30fa0ab5d0dc3030442ed92713f34170336c4dd2623723dc34829df89</string>
			<key>size</key>
			<integer>8478</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/__init__.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>3f8058df4fec56eb20ff67ff84c86fd3d9697e2384c5a290ed696f6d3187aa45</string>
			<key>size</key>
			<integer>396</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/__main__.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>f8f55514d26791588de02fe685af0ab129174b32ab93efa39faf6140b6795d9d</string>
			<key>size</key>
			<integer>159</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/autocomplete.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>aea7f05434b2d007abf89b4316a7961e3663747d25812f2df57da986677451e3</string>
			<key>size</key>
			<integer>9150</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/autocomplete_w.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>661bc1decf9777928fb2ab29172a812a4f275844ee14cd10d6babac722d2a71b</string>
			<key>size</key>
			<integer>20109</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/autoexpand.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>c8eb28ef7addf5a664a7e3addfbfebe29040a8695e1db515828305aacba2ee4e</string>
			<key>size</key>
			<integer>3216</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/browser.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>1ed86d69babfddef46e725ca8ed3521ee711867cf312868b465bcc383ce7f8e6</string>
			<key>size</key>
			<integer>8314</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/calltip.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>3a723fdf88c0018dfadd19757142a643b01b785c6df17a50bbe21463663ab590</string>
			<key>size</key>
			<integer>7267</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/calltip_w.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>f60fde563751ad8d77dfcd892558d6c4306764d9affade5018147e84c7246900</string>
			<key>size</key>
			<integer>7158</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/codecontext.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>b1447ea6b1053a519586dfc3e5d336529abe21a6ea3873b90925b3f584a6b1dc</string>
			<key>size</key>
			<integer>11326</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/colorizer.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>fc639e0b985e1df6bc9e02d310fd9ce11893097cd252e187051daa3c5ed68695</string>
			<key>size</key>
			<integer>12992</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/config-extensions.def</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>e75df0b77ff61253be457af636d5eb7c55a3ff2b6a733beea844d2b294972ebf</string>
			<key>size</key>
			<integer>2266</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/config-highlight.def</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>609eada44ff4aa9d5cd10ad8b4c29bb76db8ebc74912a0ae86f5ea3cd19b7547</string>
			<key>size</key>
			<integer>2864</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/config-keys.def</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>bee81ba5c5abec1e35e313268f8d8fe72d305d0ad73abfba3d2ea1e2b2308710</string>
			<key>size</key>
			<integer>10910</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/config-main.def</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>e783704ad5cd9b3f44c026f55c98be2c52190bf9b7832251283f3e953ba80f87</string>
			<key>size</key>
			<integer>3168</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/config.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>593a992db63dcaa31afcd8477dad4c1b74e4f1e636c01bb845ad6b74f722ce74</string>
			<key>size</key>
			<integer>38173</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/config_key.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>7a4911dad2614ee0522ac8e84c8a194ebb012c8604fb8d705c3c971e5275b881</string>
			<key>size</key>
			<integer>14465</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/configdialog.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>a8c698c06f45fc8827f0a03546164a6b4abaea8cbe14a952f7e409a60b4bb14e</string>
			<key>size</key>
			<integer>104654</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/debugger.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>126415c89631586d2f51931274a2d8c3dde2c9a4132e8a1f6954c97de78aa417</string>
			<key>size</key>
			<integer>19104</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/debugger_r.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>012dbf543fbdef23155b562d5b99cd028b45c752331415d3c800c359d7b60656</string>
			<key>size</key>
			<integer>12143</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/debugobj.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>db8add0abc885fc629c6746aca77cd40026b2dac8d7edb93f1fcf6ea9d28334f</string>
			<key>size</key>
			<integer>4055</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/debugobj_r.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>4e583b43fdf9bd4a731d70e074ee597aba03f3c8c36302bdc7e74650fb1fcc11</string>
			<key>size</key>
			<integer>1082</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/delegator.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>3b79bbd9ef3bc789559f5af7b0c844d5292ae02368d167dd5751ead2343109d5</string>
			<key>size</key>
			<integer>1043</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/dynoption.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>1595e2034eaa93c2ca61854038e64197541906b3402c448b176e34a5af9b6b09</string>
			<key>size</key>
			<integer>2017</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/editor.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>b922c5edb5cb7b0781fb79fdfab0b355f216524eea04d03ea8ac42c57dc85b0f</string>
			<key>size</key>
			<integer>65614</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/extend.txt</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>ffecdbd3f9ba0d71c6e59984f8384817f0fe5b0ac69ba62e1e40a31faf596a6c</string>
			<key>size</key>
			<integer>3642</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/filelist.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>26f690842feab34887e9863ee013180f93949b36cf3ac9643940968ddc1acb44</string>
			<key>size</key>
			<integer>3896</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/format.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>dc2b00fb239f38543bf973d94daef2c52457b905d4d89c640993823127b7923c</string>
			<key>size</key>
			<integer>15777</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/grep.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>fb50ba574b03745100cdaed82ae64105baac6a43cfb52ed4af5e7c2a9579ee9f</string>
			<key>size</key>
			<integer>7479</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/help.html</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>bb6bbe33d8c97777cb657fed42953b861314542373999be055b02b1a6c555479</string>
			<key>size</key>
			<integer>66039</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/help.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>f7b1d6913c9f1c3c9b50e281070d3a74107ff73c34e679a562acc0d8437361df</string>
			<key>size</key>
			<integer>11851</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/help_about.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>a37b21cc6acb2a24ace550fc1a55852ed068fb2ecd13011ffa3ba5291b7346d0</string>
			<key>size</key>
			<integer>8981</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/history.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>8d5bfe68f86077f533d16672ca4012c39f3da3e73579832489dbfacf9c4dafab</string>
			<key>size</key>
			<integer>4043</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/hyperparser.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>dd5ab81a21fb930667df540b076fb1bc29680a22053ec8d24a6265a51a0345c4</string>
			<key>size</key>
			<integer>12883</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle.bat</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>15a3977f0d2c6a8e87db2ef7050ea10afb3a88b064bf5ef95439924e42464114</string>
			<key>size</key>
			<integer>177</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>33ffa2f718e123fd1c4e536bb4a471978515787ee9fbf7806a92073a787a733a</string>
			<key>size</key>
			<integer>454</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle.pyw</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>26101d297127132c5e9634499f41ad00e125ea308343a20b278bee9e9225eb5c</string>
			<key>size</key>
			<integer>570</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/README.txt</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>bfe6188362a0bc7db8b94c3dd313b97c83ad6d10b79451fd2a8a4bd773cd392b</string>
			<key>size</key>
			<integer>8729</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/__init__.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>228f8efbf4c316bd701b09a72b084a08248e26a346c6a7636a142391a8b3e674</string>
			<key>size</key>
			<integer>712</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/htest.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>614c5148be22a80fc90c07c402926a6e66b4bf38d5fa42b5fe769a2471599b8a</string>
			<key>size</key>
			<integer>15190</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/mock_idle.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>637d74d26089c582fb784c2920f5bcb41e5b1fc8b9e0931ddc1cc8d92becbff4</string>
			<key>size</key>
			<integer>1943</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/mock_tk.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>61f5f26db615d8d319968166afef33170d5e775da3fa0ec75b3cc0e249a3becc</string>
			<key>size</key>
			<integer>11774</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/template.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>43421286ad234a4240f8d4bc09f67bb58da0bf9d9b07bf93010989ef2c17f2f8</string>
			<key>size</key>
			<integer>642</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_autocomplete.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>d3038c72ab646c12221e270ebcd60a3c3393b4e2d8afa21e91d1b9e74acd8615</string>
			<key>size</key>
			<integer>10906</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_autocomplete_w.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>30ab335b5312af5ca57b26945c7297bec89f31e90d70e7c8cb0a2283599ab40f</string>
			<key>size</key>
			<integer>709</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_autoexpand.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>85f913f8cbd5dfd5d52d3b7d00eedec231ec3e4ee7d117db4a2bb714eb1a7243</string>
			<key>size</key>
			<integer>4638</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_browser.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>b23c6e6874f1d4d6acead3a3600dd64773e741f06d3641c5f29af92bfaa7b90f</string>
			<key>size</key>
			<integer>7963</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_calltip.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>078be299d643b38ad30161b35872136c24b46f771500b9a6b7ee1c01382054ef</string>
			<key>size</key>
			<integer>13197</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_calltip_w.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>7462c048c689f82c3ae6b5782a18776762f88055b80ae77a92243b6c0606e004</string>
			<key>size</key>
			<integer>686</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_codecontext.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>75c51b1949bc8ccb261c4d84f6f61d7dba832be4ac58a9ee7967c6af6c76327c</string>
			<key>size</key>
			<integer>16120</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_colorizer.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>aa4bb34f3f98e039f730033cf89d343281d41410af1c31d73ac5b291a59be1f3</string>
			<key>size</key>
			<integer>15017</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_config.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>98f856694b51330c729d4a87f5efd4c6c805db01edcea77d80b17f89d71bc054</string>
			<key>size</key>
			<integer>32046</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_config_key.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>8c0e9e1100a431f37462c5f9c45d34718b9285e85863f5d1051c0a441be6db51</string>
			<key>size</key>
			<integer>9709</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_configdialog.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>5e0b247b1d9d54b7bbfb3d308ddd622d7d0fce9bfbeb7968091ea2fc3b1cfec1</string>
			<key>size</key>
			<integer>54350</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_debugger.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>1881dcf94b0a44fe355f2acabfe25d8d67871402bbc19aaab37c6ff955575f1d</string>
			<key>size</key>
			<integer>571</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_debugger_r.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>ef57a0f52368c104b2a3b3551b3979751168b1ac42b7eafa1c8d5319bc95dc30</string>
			<key>size</key>
			<integer>631</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_debugobj.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>e35a9f45b223d5c7e7f3bbfd8bc6495b1156c40b0ce3747ade0aed7b41aa23ac</string>
			<key>size</key>
			<integer>1561</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_debugobj_r.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>22d74368ba175175b9c14315f9d82fd7ddde60ae93d2e5572e9a647de7e869eb</string>
			<key>size</key>
			<integer>545</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_delegator.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>559d39df8c1ff38d177943f245b87f5379ee5ea93399fd6b5f7bfa882e6ed8ca</string>
			<key>size</key>
			<integer>1567</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_editmenu.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>ed3800137d48ffcf86ecb71afe5a24cd9ed381571f23036438ba8a97f502326a</string>
			<key>size</key>
			<integer>2564</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_editor.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>281f8597aef644910a5aad17cba6303e296378113f0ce24e5ea7346015e395ce</string>
			<key>size</key>
			<integer>7523</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_filelist.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>d4cea5fdba68fb9e361541820d44eed003c317f4ef14bb9df3406b8d2c53ef7c</string>
			<key>size</key>
			<integer>795</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_format.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>4823d6208f39e213e6a6e79a13d641b9f60f3e03cb601ae774f418c179ec0f12</string>
			<key>size</key>
			<integer>23612</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_grep.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>ca64de882b5608e016b7df8f739089c9f262643bce09979b76399cc4be1ea12c</string>
			<key>size</key>
			<integer>5072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_help.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>e39288f4326136cadb4fab81fe31223187136bc3d9bdf65a9d67fd152e50a6e9</string>
			<key>size</key>
			<integer>849</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_help_about.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>240135ac25c0cf3171d87640baa2f0f075738d06bcc740db1a17a20586c2ea8e</string>
			<key>size</key>
			<integer>5921</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_history.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>6319fe7810ed91786b503de80701a291a4f9abe54c9e101c19c0917b709e62f3</string>
			<key>size</key>
			<integer>5517</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_hyperparser.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>cd2fbc788d4d75b514e53951dc90d00d41a8a87baad31bc1e380b7449bfcf183</string>
			<key>size</key>
			<integer>9082</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_iomenu.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>0276f41ee2b8fe724473a7a50490727b374e006281282a67c824072797926b17</string>
			<key>size</key>
			<integer>1278</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_macosx.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>2ae5fde71364b4d201b1b691bfe21a91fe6c0257d6c1ca334b0f7898e8c69238</string>
			<key>size</key>
			<integer>3309</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_mainmenu.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>c6a3d836f26771782f53685da5987a1bf57f41159e8a38352131656d07ae3dad</string>
			<key>size</key>
			<integer>594</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_multicall.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>7864669fa1fa3d56dbf439c56fdb3e2d88812dcfd9ab172240a65280696022e5</string>
			<key>size</key>
			<integer>1316</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_outwin.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>255ae7e3271491d7bacb0cc32d0cc9b88c689c58d8543dad1bafec569109c7c6</string>
			<key>size</key>
			<integer>5422</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_parenmatch.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>64f4c6e0f47de1e833d5228fb36c72292280094b6c774cac52f3707c41bb6f16</string>
			<key>size</key>
			<integer>3550</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_pathbrowser.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>a7d9c5085ff5c64232897f6ee0a09258a41a35f153f47ff0f3b8fa97ec67be9e</string>
			<key>size</key>
			<integer>2422</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_percolator.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>133b134a46b23cf2c635be3116415fd388e3a1c1581bf1a77d7f7f0aff3a725b</string>
			<key>size</key>
			<integer>4065</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_pyparse.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>51dba1f953732563421b31ec0f4f0e2ed5f491173dea081d2c7771b01c7da4f6</string>
			<key>size</key>
			<integer>19227</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_pyshell.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>ebdd6bb219641820ade89944b438bff446bbb89423e36139dc41e016d94c933b</string>
			<key>size</key>
			<integer>2171</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_query.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>bb55e60fd729cd3cc06bf713e49dbf8ee1da5f5ffba93f6e9303e48444a35c99</string>
			<key>size</key>
			<integer>15450</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_redirector.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>517c1fe16da359e01f3cdfdf3f7aead4283e8b8e1107522b72f59d4c4f3ade4c</string>
			<key>size</key>
			<integer>4176</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_replace.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>5a90f03398bba5f1d3ebb705df137a81f0cc627dcea2cec72ee6d5610e734a23</string>
			<key>size</key>
			<integer>8305</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_rpc.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>1e2d997f442002389b3dadb47ed8134947c664a32ef637f43afdcbd1b5c13823</string>
			<key>size</key>
			<integer>805</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_run.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>e5af9eb3129b6cf12c1ad17028cc8b860c3c213bcb9709a77dd2a4d0fcdad7fa</string>
			<key>size</key>
			<integer>12854</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_runscript.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>4264a834dc230d397725f398d905d0746321d543c56644e5c89af59fe3fedb61</string>
			<key>size</key>
			<integer>777</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_scrolledlist.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>a84ec601c8786daf0564e978c97c0e14095c23f9a08bb64950f9cb541b074b3a</string>
			<key>size</key>
			<integer>496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_search.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>c0550b241c99a566f61929515ca97aedf99f73568df3dfe93078ed22cb54892b</string>
			<key>size</key>
			<integer>2459</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_searchbase.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>2b8550dd411b75c6152c4da90843e1221094400080f9a1752e383d0b776f775b</string>
			<key>size</key>
			<integer>5691</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_searchengine.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>5a510d46c27909e2c579dc83903667542b2bdcd771f7378d93e31332ba69d4f9</string>
			<key>size</key>
			<integer>11605</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_sidebar.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>e16f5f55d909fef8e3b59f84f0add8ca6c54d884343e983a482f1e9c46b4b596</string>
			<key>size</key>
			<integer>13231</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_squeezer.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>d2450a8a3edb5b117d69c8d8909e8396be6b1a07134103a4fbc3dae5f9777234</string>
			<key>size</key>
			<integer>20088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_stackviewer.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>483502cfbfce0ac87198cfd6d0ec7e5eec68834042ed949875730a35764c83ca</string>
			<key>size</key>
			<integer>1206</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_statusbar.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>0e9b262b9ad0046cbb0af1101a651fcb88cd1cba38e474b863abbb074b260a02</string>
			<key>size</key>
			<integer>1133</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_text.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>96437194c674ad031297b060e590387062fa29455c2c7131ed9c7eaeb644db7b</string>
			<key>size</key>
			<integer>6978</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_textview.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>e45b199106608c7c981c149d3b4ccf092e7a2e7e9430cc76887cd769b9aaf533</string>
			<key>size</key>
			<integer>7364</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_tooltip.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>b9a82e57761bbca3d4e07193652e8294895765092ef8a651f4dcf63acec7f153</string>
			<key>size</key>
			<integer>5385</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_tree.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>62ae68d64105485107e8173f94ce09739f276004bc8fa65efa5add2c6188e166</string>
			<key>size</key>
			<integer>1752</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_undo.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>c5178b2dd77d794938fa52adce719d4948a92ba1a689068cec1fb6888d033e0e</string>
			<key>size</key>
			<integer>4228</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_warning.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>d1efc442b3fb93de89fb0988c73f8536fc5099afb761d2b69ec101c239c8c193</string>
			<key>size</key>
			<integer>2740</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_window.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>336f2b6994f5aacca9689f32249db20a8dac36934314b7d5ba391d94169d63c6</string>
			<key>size</key>
			<integer>1075</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/idle_test/test_zoomheight.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>6300aa47014a5c2dfc9bc0d6c3fb234dff4e4b60a6527d4cdfbb8c416f99df44</string>
			<key>size</key>
			<integer>999</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/iomenu.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>42ec971abc9ae863c51bb07d0358bfa961569adafbb3205a91dfb28415cdefc9</string>
			<key>size</key>
			<integer>15780</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/macosx.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>95ce60f3dd530949fb09ddca6b18057bf6bd705b4898411c6147adbe745a23bb</string>
			<key>size</key>
			<integer>9662</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/mainmenu.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>7e42c8f9285db6e9a76d21be0a770cb498582a17231a621f1e19dbe2be138cb9</string>
			<key>size</key>
			<integer>3918</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/multicall.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>277f16699b17c3fd176c1b259959ed235bb9bb59d54731203c9c33c2e0e43172</string>
			<key>size</key>
			<integer>18648</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/outwin.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>39a6018927b4543c3fcbd857f3bd1de7097c8f185bdee8f3373c7c3c4da70e84</string>
			<key>size</key>
			<integer>5709</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/parenmatch.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>f122e13c385a135cbbbe8b1d87efeed43ddd3e0be9ddd8aa24b267b61fac4287</string>
			<key>size</key>
			<integer>7204</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/pathbrowser.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>0d0bf5c92b0f2a5fe25ddf95729f6cba8a9ac48c7c0d1c2fdd7a7532586f2ea4</string>
			<key>size</key>
			<integer>3193</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/percolator.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>6be7d55a95c96f5bdffc7869acfea19c33c62a23ef9515d4f2f9e5b93b38b905</string>
			<key>size</key>
			<integer>3130</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/pyparse.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>0f1733f38fa6197a50d78ca69391229509f676c7895570a63c2edcad2b0c1cb7</string>
			<key>size</key>
			<integer>19947</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/pyshell.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>a6aef5f684da10ffb9b611594522ebb517392a4cc0afcf803f076df1ec38b5d1</string>
			<key>size</key>
			<integer>57217</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/query.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>e4b26986800e77966c002e690075b2d92461d513a6d76471966f2a8aa0f4411b</string>
			<key>size</key>
			<integer>15246</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/redirector.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>f9bd3a01148a0d6627692f4ef22f93361cd19e4e279510c45a522ef10ff6650d</string>
			<key>size</key>
			<integer>6875</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/replace.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>d1a2c426cb1cbc17a7a635fcf034a7093ca4b0df1f6b784aba40be541efbe6ce</string>
			<key>size</key>
			<integer>9889</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/rpc.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>df6bfb7497e0b018152b99041a285a23e5977a414a16a2c4da6c07b3070ba2de</string>
			<key>size</key>
			<integer>21116</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/run.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>de5c7d850b71261301233ff302bede80ff97342828fa6307b35ca9472720da92</string>
			<key>size</key>
			<integer>20511</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/runscript.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>48d9308382797a6fad50832f6e629b27a42fc9b973dcc84ac61671ffb27bec34</string>
			<key>size</key>
			<integer>8290</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/scrolledlist.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>fd08b385ac576e43fa8dc10efb644425b9847d6b70b19f0b2ef484d7c0776f82</string>
			<key>size</key>
			<integer>4465</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/search.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>85db5685f1d80d59ff013e045a963057e03af2588994b9805806385309847fe6</string>
			<key>size</key>
			<integer>5566</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/searchbase.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>e0c77d2e6f3e8ee4307b77f6f9550da6f6aca851707d61f449549a6707e4f49e</string>
			<key>size</key>
			<integer>7782</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/searchengine.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>c7ff4a3c9e6f59bd7778388373fe08710c378c2da6203b407284ad0571b76f81</string>
			<key>size</key>
			<integer>7375</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/sidebar.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>b09cc00aa56e0ef2fd7222620a03202eb00e35d31c39a0c236be7aaac6dc5b22</string>
			<key>size</key>
			<integer>13585</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/squeezer.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>ccddfe58a18dba77bc01922ba5877e08421f12730bf39f1f2547962259d81a6d</string>
			<key>size</key>
			<integer>12840</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/stackviewer.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>926a667aa9936ec65cd80b2650d2f0f3434c2ee54f0be91939259add06ef7fd4</string>
			<key>size</key>
			<integer>4454</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/statusbar.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>7847dfee4e6e1a025ae8b5bfe7d4503d86cf731653dc452804429c3b96c709eb</string>
			<key>size</key>
			<integer>1472</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/textview.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>7351da2057dfbfb1523cb1f80bb4965bdb7d9f4271a557571e511f373688d269</string>
			<key>size</key>
			<integer>6813</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/tooltip.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>28b28549a29750895a79ea8c80e5a2076d97120f4cd8e37a5c9709ef302e313c</string>
			<key>size</key>
			<integer>6565</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/tree.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>2daa545a8e3c1988ef653a2f4f42e6338f793a245cb1e3d82226159ff9a08347</string>
			<key>size</key>
			<integer>16370</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/undo.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>915f353f4eb7052a48cc63f202816bdd3345a03598fb871ff5966304f255d739</string>
			<key>size</key>
			<integer>11046</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/window.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>ca31d8c01c9b468fcad0a4e529c8e205c1e4ecf30520545db654d466bd7158bd</string>
			<key>size</key>
			<integer>2616</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/zoomheight.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>5f6ff83cb0df3ee5e7d997ffe23efb341b994bfbaf00b79a4832d54231a095dd</string>
			<key>size</key>
			<integer>4203</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/idlelib/zzdummy.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>69a85974a0cccd350a08928e951ecd2c24bf770b4564967c1879f7762dc51c3f</string>
			<key>size</key>
			<integer>961</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/idle3.desktop</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>bef700e17761840f51509b1e96d6399191f9be85eab49716c7e3a6d21d847beb</string>
			<key>size</key>
			<integer>178</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pixmaps/idle3.xpm</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>b9978a96259fab1d94902093e2e5030a9650a59f80c7e3106eeedbfc0f47bd17</string>
			<key>size</key>
			<integer>2314</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/idle3</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>target</key>
			<string>/usr/bin/idle3.9</string>
		</dict>
	</array>
</dict>
</plist>
