<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/ilmbase</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libHalf-2_4.so.24.0.1</string>
			<key>mtime</key>
			<integer>1595878369</integer>
			<key>sha256</key>
			<string>643085b078fa4bf2bc24f27ce160c67aa3d4da11db364074f645680c04f70737</string>
			<key>size</key>
			<integer>276384</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libIex-2_4.so.24.0.1</string>
			<key>mtime</key>
			<integer>1595878369</integer>
			<key>sha256</key>
			<string>aabca2f3c57de8cb3d91974b8b0147eabed70eeaee6a73cda0a175d842b3d3ec</string>
			<key>size</key>
			<integer>350280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libIexMath-2_4.so.24.0.1</string>
			<key>mtime</key>
			<integer>1595878369</integer>
			<key>sha256</key>
			<string>fa5a4a30202dab1f9a0002ff534153648eb3a82277e568bd1d86affd1337b3e2</string>
			<key>size</key>
			<integer>18432</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libIlmThread-2_4.so.24.0.1</string>
			<key>mtime</key>
			<integer>1595878369</integer>
			<key>sha256</key>
			<string>fce12be4e6a87ab08d864ea9c11905e7e2686aa40a42541b6c053616d915fb92</string>
			<key>size</key>
			<integer>34896</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libImath-2_4.so.24.0.1</string>
			<key>mtime</key>
			<integer>1595878369</integer>
			<key>sha256</key>
			<string>2c4ebbc3f55e65345bb7eb9b07880b4496dea79c828bc0c0d22f28f72a0a5e42</string>
			<key>size</key>
			<integer>96240</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/ilmbase/LICENSE.md</string>
			<key>mtime</key>
			<integer>1595878369</integer>
			<key>sha256</key>
			<string>c20236d3b39fd20eba8e3d1fb3b892a5483df2e7d8d61bf43f165d3fac22f601</string>
			<key>size</key>
			<integer>1497</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libHalf-2_4.so.24</string>
			<key>mtime</key>
			<integer>1595878369</integer>
			<key>target</key>
			<string>/usr/lib/libHalf-2_4.so.24.0.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libIex-2_4.so.24</string>
			<key>mtime</key>
			<integer>1595878369</integer>
			<key>target</key>
			<string>/usr/lib/libIex-2_4.so.24.0.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libIexMath-2_4.so.24</string>
			<key>mtime</key>
			<integer>1595878369</integer>
			<key>target</key>
			<string>/usr/lib/libIexMath-2_4.so.24.0.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libIlmThread-2_4.so.24</string>
			<key>mtime</key>
			<integer>1595878369</integer>
			<key>target</key>
			<string>/usr/lib/libIlmThread-2_4.so.24.0.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libImath-2_4.so.24</string>
			<key>mtime</key>
			<integer>1595878369</integer>
			<key>target</key>
			<string>/usr/lib/libImath-2_4.so.24.0.1</string>
		</dict>
	</array>
</dict>
</plist>
