<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/ImageMagick-6/coder.xml</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>7da9c2541004fcb754ddee1025ff31ea31d146731485a2f3c998cb86677db8eb</string>
			<key>size</key>
			<integer>899</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ImageMagick-6/colors.xml</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>df4296cef99a22b5f64eff137b5201ff0394c7805bf3105d5f97f65336867997</string>
			<key>size</key>
			<integer>1383</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ImageMagick-6/delegates.xml</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>7f41e99314850783135a8707ef49f96ab64c452720d6fd7a5593a85af1643668</string>
			<key>size</key>
			<integer>13868</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ImageMagick-6/log.xml</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>c03fa894739e6153bf5232a16f2e21b828102fc4a6380af28f54c5e160d8b756</string>
			<key>size</key>
			<integer>1642</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ImageMagick-6/magic.xml</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>7508a5a57bf3664f937a8b3f677825247be25fda26d090c2edfa62dc534ec8a1</string>
			<key>size</key>
			<integer>888</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ImageMagick-6/mime.xml</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>bf06aceb16cb1ba7b2a37da4017202be63d956b8efe1aa63f3ba679d6e11ec39</string>
			<key>size</key>
			<integer>134319</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ImageMagick-6/policy.xml</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>c47cb5ac46496150c98c8689f790fc0b3b70e73a31c5e78d22c1896563c3f88c</string>
			<key>size</key>
			<integer>3765</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ImageMagick-6/quantization-table.xml</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>067c2f58003d417c9a36a79602cfe90fab33cc2f658ef82ab39d3e296a20bcd2</string>
			<key>size</key>
			<integer>2369</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ImageMagick-6/thresholds.xml</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>a2980c1f9fac486305520f438bec4ae449764ec9a782905bc6932ef11eec0ce4</string>
			<key>size</key>
			<integer>11453</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ImageMagick-6/type-apple.xml</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>d91c4b68c64dc662508c75eedda1aa5b53d85a4990b2a3d2191626382ec8e62e</string>
			<key>size</key>
			<integer>29218</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ImageMagick-6/type-dejavu.xml</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>b51aff4161c3cc6610e429a3bcf25690bac558fcaf3226ce12c1719368abebd3</string>
			<key>size</key>
			<integer>9372</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ImageMagick-6/type-ghostscript.xml</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>00e2ab6d15d9c7a2ddcc2d3c316facb20b17d467fb306f275e1e43d0466ec0df</string>
			<key>size</key>
			<integer>9136</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ImageMagick-6/type-urw-base35.xml</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>6e8628f58b6167dca52871afd46470765866b37133397d3b4cc26876b60f57fc</string>
			<key>size</key>
			<integer>8162</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ImageMagick-6/type-windows.xml</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>809f45edaddcd904008f428ed9e6d7b5f38abd651741f4e6969b11ab3468e309</string>
			<key>size</key>
			<integer>13706</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ImageMagick-6/type.xml</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>a12e9df03df52b55845a81b27425c464a881271510a7d560d28371cf13320b6c</string>
			<key>size</key>
			<integer>647</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ImageMagick-6</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/ImageMagick6</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/animate</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>211f4747c79206b04562f0d78165b37906e3b537e89dc3904e2db3b60e435e4c</string>
			<key>size</key>
			<integer>14392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/compare</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>3c77e5c5a52b48ca4136e524a9e7b0eb9016548d43eeadc364ffb26b6217711d</string>
			<key>size</key>
			<integer>14392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/composite</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>a1a8b2c32c287f552b8a286ac644cc37545be2c8fc65870b8e8f0e83599cea12</string>
			<key>size</key>
			<integer>14400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/conjure</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>71275a723e40d3929b70dffd8453bdbd2d54f3159454ea48b1f926d08aaf2895</string>
			<key>size</key>
			<integer>14392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/convert</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>2a69ec4b77278c28b5613e1d39ec7e9a3a867a939f7f8aa7a4aeabdfc45a9bc6</string>
			<key>size</key>
			<integer>14392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/display</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>dd2dbc291a9778bdf188dd28fadaf6b62cc9afc04e223d1e09aa955c2ba58f62</string>
			<key>size</key>
			<integer>14392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/identify</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>74bb4e489c6cd33258198222ce6b7db14932ba31d6219484bce4d00e5f3ec7cf</string>
			<key>size</key>
			<integer>14400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/import</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>3b875cc585b96993ecec39d8ad7d6104cf5e9503aa7d515b7bab558db2991e2a</string>
			<key>size</key>
			<integer>14392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mogrify</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>7d9a7282095ce3f21521f176ad0ea808af7a7fcdc61da7b2827e6b70ff9bbc7d</string>
			<key>size</key>
			<integer>14392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/montage</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>ae6df44ad56c6feb0ce13bf6f247e639144617e1088f26b2f5187fbf396a4f1e</string>
			<key>size</key>
			<integer>14392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/stream</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>0298fb65f2f23cacb18362f027189b3e4ecb85859692a323d86a45ef7ba1f4f6</string>
			<key>size</key>
			<integer>14392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/ImageMagick6/LICENSE</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>040badb77b659e751ea16113490a937e1e01f3f5d32181e966b8982413533fb2</string>
			<key>size</key>
			<integer>12478</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/ImageMagick6/NOTICE</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>f23a0001567757e1fb7a2c588f511d277456233426582153a0567ba3cfba5c34</string>
			<key>size</key>
			<integer>12016</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ImageMagick.1</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>47c22dbb0027b906686b916981c94d876731dc8aecf788314ccca54f19ef430b</string>
			<key>size</key>
			<integer>5254</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/animate.1</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>6023b7cf914874913a7be01acbfe03600634594ebf0247f81dd19683f2135b3b</string>
			<key>size</key>
			<integer>5463</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/compare.1</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>a47573aecefca0960afdf05b356abb7207cd3708a78efbf60a910ffd18b95e74</string>
			<key>size</key>
			<integer>5625</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/composite.1</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>fbb83a2d374de81148eaece0370576df3e04f1ee9c967dd37a893080c3d6c37e</string>
			<key>size</key>
			<integer>6286</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/conjure.1</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>d928c5672b78b073fc00864e8f1c8f6329be03f096a2704b06cfba9b73aa4a04</string>
			<key>size</key>
			<integer>1785</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/convert.1</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>d6063db83702ff8f9a107f45c5a9258beb7a3f26841b4c5298b9b51c9e39f19e</string>
			<key>size</key>
			<integer>18195</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/display.1</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>cf6843aa5e31456cbe51e6df233dfec064b2c8bc9e7a86276e5cfb0eb5533e0d</string>
			<key>size</key>
			<integer>7693</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/identify.1</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>3ce68b98c825e2e116149c0e41b3c4797efa7b8521ab93196b781dd21a2ae0e8</string>
			<key>size</key>
			<integer>4960</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/import.1</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>51a43b23cde93993569cfba93788e3cb630e8a07412b28e31a4fcbedbb8e0ae5</string>
			<key>size</key>
			<integer>5414</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mogrify.1</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>81e0533e057c8f0ecc0e1d8e024d30b51b082f96e1c9b0e5cfb2359fd3784e98</string>
			<key>size</key>
			<integer>18344</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/montage.1</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>a0d13f94aaa6b35ef899accfa1139b6b208c7fff294d5fe70579fae65493f904</string>
			<key>size</key>
			<integer>8094</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/stream.1</string>
			<key>mtime</key>
			<integer>1613160143</integer>
			<key>sha256</key>
			<string>386de60a7b2e848dbcb3750b28b2409205b4d6b85c19f3cfc1aba3e7455211bc</string>
			<key>size</key>
			<integer>3397</integer>
		</dict>
	</array>
</dict>
</plist>
