<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/imlib2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/imlib2/filters</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/imlib2/loaders</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/imlib2/filters/bumpmap.so</string>
			<key>mtime</key>
			<integer>1608698390</integer>
			<key>sha256</key>
			<string>dccdaede7d66c9a0ad18150fb31e792016e85c5b24dbacce24ee206c1114c815</string>
			<key>size</key>
			<integer>18328</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/imlib2/filters/colormod.so</string>
			<key>mtime</key>
			<integer>1608698390</integer>
			<key>sha256</key>
			<string>1b3c3da1daf5acfe22d5d77e6579cdf49898d63b565593f0880b206e605daf0c</string>
			<key>size</key>
			<integer>18328</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/imlib2/filters/testfilter.so</string>
			<key>mtime</key>
			<integer>1608698390</integer>
			<key>sha256</key>
			<string>a91bfbf8ad7f293e7c9d058302f34856f4437c02d335dde7da564d79197eca60</string>
			<key>size</key>
			<integer>14232</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/imlib2/loaders/argb.so</string>
			<key>mtime</key>
			<integer>1608698390</integer>
			<key>sha256</key>
			<string>bcdd9caa5b7d47a4987ef4092f84bb21da88f795a83c9e1052736ac1c7290fc4</string>
			<key>size</key>
			<integer>14304</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/imlib2/loaders/bmp.so</string>
			<key>mtime</key>
			<integer>1608698390</integer>
			<key>sha256</key>
			<string>a175061d17918751681503fc8bdb72f1920d6d2397e6482e71817606dc9b71cb</string>
			<key>size</key>
			<integer>18400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/imlib2/loaders/bz2.so</string>
			<key>mtime</key>
			<integer>1608698390</integer>
			<key>sha256</key>
			<string>ff3da3f521008e1ab6316b0f13047d4f85f6ee503693721bea9105a929212cbf</string>
			<key>size</key>
			<integer>14304</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/imlib2/loaders/ff.so</string>
			<key>mtime</key>
			<integer>1608698390</integer>
			<key>sha256</key>
			<string>2cb65ffa62d3a4cadd22896940446db3a01bf356f76c80d6e43df680020e1140</string>
			<key>size</key>
			<integer>14304</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/imlib2/loaders/gif.so</string>
			<key>mtime</key>
			<integer>1608698390</integer>
			<key>sha256</key>
			<string>25c71a4f80d44a08189fcee860d7707bad5a9879075ff51332389a43e438260d</string>
			<key>size</key>
			<integer>14304</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/imlib2/loaders/ico.so</string>
			<key>mtime</key>
			<integer>1608698390</integer>
			<key>sha256</key>
			<string>4c22e621b4fa7f0f1d1a6cbf0c79b1658e725efb9846711b7003631bb35a14e4</string>
			<key>size</key>
			<integer>14304</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/imlib2/loaders/id3.so</string>
			<key>mtime</key>
			<integer>1608698390</integer>
			<key>sha256</key>
			<string>af02090a775b823986cd77d565eae15b94853dea7e8ab1299c64c3c42488284c</string>
			<key>size</key>
			<integer>22496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/imlib2/loaders/jpeg.so</string>
			<key>mtime</key>
			<integer>1608698390</integer>
			<key>sha256</key>
			<string>1c00a7fcbe366654bf17e2101ae4e94f215db2b8ca36e9977828b8f76c213123</string>
			<key>size</key>
			<integer>14304</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/imlib2/loaders/lbm.so</string>
			<key>mtime</key>
			<integer>1608698390</integer>
			<key>sha256</key>
			<string>02c1608b257f2140770f7b33d65d757b51f72fae9f4a6987f85c1234ad6f7b72</string>
			<key>size</key>
			<integer>18400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/imlib2/loaders/png.so</string>
			<key>mtime</key>
			<integer>1608698390</integer>
			<key>sha256</key>
			<string>b7d45e124f6960532861e34b1fbd8bcfeadc290761ae5f3944b33fc4c8446898</string>
			<key>size</key>
			<integer>18400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/imlib2/loaders/pnm.so</string>
			<key>mtime</key>
			<integer>1608698390</integer>
			<key>sha256</key>
			<string>2e59b4a72b5fc6b9be16844c88da0c5b499356b0527323015ce24d0b7a6a9b4f</string>
			<key>size</key>
			<integer>18400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/imlib2/loaders/tga.so</string>
			<key>mtime</key>
			<integer>1608698390</integer>
			<key>sha256</key>
			<string>f10a2f2b60295cfd57e54171156cc0d2bcd7a2fb4bd1b00456ba7d08166b60d9</string>
			<key>size</key>
			<integer>14304</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/imlib2/loaders/tiff.so</string>
			<key>mtime</key>
			<integer>1608698390</integer>
			<key>sha256</key>
			<string>a199f703b165182ed1304b311266ca85d8722900b843e43d0eb041f219939e39</string>
			<key>size</key>
			<integer>18400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/imlib2/loaders/webp.so</string>
			<key>mtime</key>
			<integer>1608698390</integer>
			<key>sha256</key>
			<string>39e536e4425465a62556d4e3001de08a34a4ca953d80c54ea64b31dc7c99754b</string>
			<key>size</key>
			<integer>14304</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/imlib2/loaders/xpm.so</string>
			<key>mtime</key>
			<integer>1608698390</integer>
			<key>sha256</key>
			<string>80e4beb4e1ad1314b8818b8865cd5c6aad8314cf165317c022a2fef19984d98c</string>
			<key>size</key>
			<integer>18400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/imlib2/loaders/zlib.so</string>
			<key>mtime</key>
			<integer>1608698390</integer>
			<key>sha256</key>
			<string>5eef1ec695edf0d0a8c2a45c1a9df9f5defdb751e7f8420efa5350b31d164c24</string>
			<key>size</key>
			<integer>14304</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libImlib2.so.1.7.0</string>
			<key>mtime</key>
			<integer>1608698390</integer>
			<key>sha256</key>
			<string>7095169dde3659910447b4d906d3f0b41aa814c5febecf166d6b08aae839e6f8</string>
			<key>size</key>
			<integer>412192</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libImlib2.so.1</string>
			<key>mtime</key>
			<integer>1608698390</integer>
			<key>target</key>
			<string>/usr/lib/libImlib2.so.1.7.0</string>
		</dict>
	</array>
</dict>
</plist>
