<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/inotifywait</string>
			<key>mtime</key>
			<integer>1611880594</integer>
			<key>sha256</key>
			<string>be360310e0bcd61dd6a0ccc365352b6bd24b06b0c3ec65ca397051a65b8b36c4</string>
			<key>size</key>
			<integer>34952</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/inotifywatch</string>
			<key>mtime</key>
			<integer>1611880594</integer>
			<key>sha256</key>
			<string>b8231386960b7cd6b42566633a99dded12e073b26c83054b4ca00ada89b78dba</string>
			<key>size</key>
			<integer>30864</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/inotifywait.1</string>
			<key>mtime</key>
			<integer>1611880594</integer>
			<key>sha256</key>
			<string>e820cab293d706f25d3eb55177dccdc1e2ad409d1e11253818fb434160edcfa1</string>
			<key>size</key>
			<integer>10726</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/inotifywatch.1</string>
			<key>mtime</key>
			<integer>1611880594</integer>
			<key>sha256</key>
			<string>e1cf53d62025a4086fa5421265a04fa1d9236518dfcb35e8d043ec21d7b9551b</string>
			<key>size</key>
			<integer>8727</integer>
		</dict>
	</array>
</dict>
</plist>
