<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/intltool</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/intltool-extract</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>efefeb092cbc1d1580575ac14b15b4ce8ffca843fd9ac614e43f5310f596ef57</string>
			<key>size</key>
			<integer>31150</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/intltool-merge</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>6352f56e90bdd3a245a87ba6a5717d49d60fa164040ccc6400f363fd8bfe21fa</string>
			<key>size</key>
			<integer>40020</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/intltool-prepare</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>e0686b4f42436428be241bf2852876834ae3cfc7d142e70dab82ed27984061e5</string>
			<key>size</key>
			<integer>8605</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/intltool-update</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>b27732f5ae270fe8642c3922411ac79bd3f0f9ede106db503e8ab1befe9ba525</string>
			<key>size</key>
			<integer>35067</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/intltoolize</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>ee8690c5575721116602de74a470e84d687ce4b8a67c843fca984aeb4d6b11dd</string>
			<key>size</key>
			<integer>7156</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal/intltool.m4</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>5eed84e09d0283c442c56fed48734889156389f9d332442bf603059e9b8f71dc</string>
			<key>size</key>
			<integer>11505</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/intltool/Makefile.in.in</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>9bd35be582c284ddbfd0a801d514dd4083844f3031689fd5aaee382b9a4f90ac</string>
			<key>size</key>
			<integer>7150</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/intltool-extract.8</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>cf53e300de74ace5c43854da4c78e108825aff813f2d8f5781064978daff954b</string>
			<key>size</key>
			<integer>2117</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/intltool-merge.8</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>936d97d81419d84d194723b5f831a57674b9671c108a03b10ca567e040cc85e2</string>
			<key>size</key>
			<integer>2796</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/intltool-prepare.8</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>8ef24e4bd71f202abb705c2a617d3e02f2493d57238ad4ca1e94a476c70b21b9</string>
			<key>size</key>
			<integer>2567</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/intltool-update.8</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>9d77f51b5ffca733b315b947eb0ac287b582ac754e18126df7b973574e646c0f</string>
			<key>size</key>
			<integer>3747</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/intltoolize.8</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>66c41cf4e16bd67a29028c62eca56085d21284a062526d1b390e5fc58db9cb5b</string>
			<key>size</key>
			<integer>1324</integer>
		</dict>
	</array>
</dict>
</plist>
