<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/iotop</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/iotop</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>287a137a639d57cbfcdac475412853a6e38de68186cff73aa2b7288bb6e18364</string>
			<key>size</key>
			<integer>496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/iotop/__init__.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/iotop/data.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>a60f9b12de28a781b47dd8067600f2d41926dd0e5bcc69c3f8ccf00b578c53ac</string>
			<key>size</key>
			<integer>14928</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/iotop/genetlink.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>7bb457cde08ea15186eee53479d3b9b067d500cfd359703fd345837762157501</string>
			<key>size</key>
			<integer>2044</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/iotop/ioprio.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>5a45b9bcd744e189e481870588c8041fca436d250225b546e5aad43c89b83e89</string>
			<key>size</key>
			<integer>5495</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/iotop/netlink.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>7b9883231b5d4df346d6613c1806d222daf821944d5ec035dcd54f3dbd5ce0c9</string>
			<key>size</key>
			<integer>7891</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/iotop/ui.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>bf8dc916420feb03d6a7c73ed858fe33f0bfd5bd2fc2d5c5d259f481cabc8f29</string>
			<key>size</key>
			<integer>23727</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/iotop/version.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>d15270f8543de830e2110134742a02276d3dcdbc2fa545a3d4a24657269e606f</string>
			<key>size</key>
			<integer>16</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/iotop/vmstat.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>2aef9ffed1471b7a3ddb3f6352f65d70c2ef1aec9f3793810f56a0ed5d9c85dc</string>
			<key>size</key>
			<integer>1559</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/iotop-0.6-py3.9.egg-info</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>2db2abe0ebf3b4df73e6282eec7b75fb4b32f70b04ae0fc9b9a36863f22c7dcf</string>
			<key>size</key>
			<integer>348</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/iotop.8</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>44afa9beea75aa1f6206180aab8092a31928496c5f9610e4c6eb5a392e606254</string>
			<key>size</key>
			<integer>3924</integer>
		</dict>
	</array>
</dict>
</plist>
