<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/iputils</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/arping</string>
			<key>mtime</key>
			<integer>1613494276</integer>
			<key>sha256</key>
			<string>6108747595ec1e9179d017c057a9eb54b4bbfa91de5092adacfed2bd475c8f00</string>
			<key>size</key>
			<integer>26680</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/clockdiff</string>
			<key>mtime</key>
			<integer>1613494276</integer>
			<key>sha256</key>
			<string>9f96dbcf9bd053ba8157a1c66bf5bc08300e90af1973034e4d454853ca66bf90</string>
			<key>size</key>
			<integer>22664</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/iputils-ping</string>
			<key>mtime</key>
			<integer>1613494276</integer>
			<key>sha256</key>
			<string>7d00070e37dea9c20af5592d2ec8e14e58bb12c401c35ea2f56a08d51da7e26d</string>
			<key>size</key>
			<integer>76592</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/rdisc</string>
			<key>mtime</key>
			<integer>1613494276</integer>
			<key>sha256</key>
			<string>ad6b39fbb22431feb65b050df7296d5e59a0238dfc67385813ea0de4d7dd0fba</string>
			<key>size</key>
			<integer>30864</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/tracepath</string>
			<key>mtime</key>
			<integer>1613494276</integer>
			<key>sha256</key>
			<string>5e2a558e9caf387bc67e4669c8903d41f76add4d38a2214b1852208b3c678429</string>
			<key>size</key>
			<integer>18496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/iputils/LICENSE.BSD3</string>
			<key>mtime</key>
			<integer>1613494276</integer>
			<key>sha256</key>
			<string>9acc4bc871a4742550158e3696dcb381953172ef808d04ca248184f9f6322712</string>
			<key>size</key>
			<integer>1428</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/arping.8</string>
			<key>mtime</key>
			<integer>1613494276</integer>
			<key>sha256</key>
			<string>0c2ba67a7a8849c65f2aaf102efc4868a9c4c7495711e4ce17e6e22d31f9465e</string>
			<key>size</key>
			<integer>3750</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/clockdiff.8</string>
			<key>mtime</key>
			<integer>1613494276</integer>
			<key>sha256</key>
			<string>6cbb0d1d25b74789b4e8004824e4817437d88191e7ce1e0b56a417008be8066b</string>
			<key>size</key>
			<integer>3497</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/iputils-ping.8</string>
			<key>mtime</key>
			<integer>1613494276</integer>
			<key>sha256</key>
			<string>c86ecac5f665792bd5f83707acad23c6d3fce07879b15b5dc9f99907e5090d71</string>
			<key>size</key>
			<integer>17902</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/rdisc.8</string>
			<key>mtime</key>
			<integer>1613494276</integer>
			<key>sha256</key>
			<string>196882046523a5bc06c0f68f04ecdf053a6bd02f5d3a6550822145effe616528</string>
			<key>size</key>
			<integer>4928</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/tracepath.8</string>
			<key>mtime</key>
			<integer>1613494276</integer>
			<key>sha256</key>
			<string>e8c73a0b301b9847b1bc019701b0c4546a92d3971f7c33a9b896be6342059ef2</string>
			<key>size</key>
			<integer>4802</integer>
		</dict>
	</array>
</dict>
</plist>
