<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/iw</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/iw</string>
			<key>mtime</key>
			<integer>1602244382</integer>
			<key>sha256</key>
			<string>3272e39f8fce0e7afb3c05f31fc2d354dad5349840f4a558e3cb68d24941a83f</string>
			<key>size</key>
			<integer>281584</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/iw/COPYING</string>
			<key>mtime</key>
			<integer>1602244382</integer>
			<key>sha256</key>
			<string>5932fb70481e128940168a5fdf133e6454293c0865c7e757874b235cb6daa2af</string>
			<key>size</key>
			<integer>849</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/iw.8</string>
			<key>mtime</key>
			<integer>1602244382</integer>
			<key>sha256</key>
			<string>ef514467cc8cd68c61a7755754b139c44711c3dfc345bd4ba8d93b934da19341</string>
			<key>size</key>
			<integer>1117</integer>
		</dict>
	</array>
</dict>
</plist>
