<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/jack</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/include/jack/control.h</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>sha256</key>
			<string>2725be598a94c6645b6aa53cd54b27c26df740c637120b7f37acca0b40b48994</string>
			<key>size</key>
			<integer>17474</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/jack/intclient.h</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>sha256</key>
			<string>a691d3260b40df4fb9a10a4fa5b5ae5174f2b673f1cb94d7f638bd346654598d</string>
			<key>size</key>
			<integer>4828</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/jack/jack.h</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>sha256</key>
			<string>d1853e72724fc8e7f8a8b97868b48289fc1fb793f6fd57f4b44074a40ad15e8c</string>
			<key>size</key>
			<integer>56052</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/jack/jslist.h</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>sha256</key>
			<string>e3344969fa0f5a72516c42606b1f8a8ae8220a676f0f5c9d4df9593fb238d631</string>
			<key>size</key>
			<integer>5534</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/jack/metadata.h</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>sha256</key>
			<string>f1d28264fcf02584565b5bab389f8991c761ea7b2d0b572320864edc5c8934c9</string>
			<key>size</key>
			<integer>11258</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/jack/midiport.h</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>sha256</key>
			<string>dc74250d632b7dd1b2799bbf0b0f595b19faf6b57bc5fad2b505ac708fd1747e</string>
			<key>size</key>
			<integer>6848</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/jack/net.h</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>sha256</key>
			<string>ce5c5dc4b19a918f35bc04a56b0816c4f49faa00df5ca2d244f3d3c9102a1d61</string>
			<key>size</key>
			<integer>15331</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/jack/ringbuffer.h</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>sha256</key>
			<string>392bf0f689614c912c12079c8a201d9515e336eb6bd7a48adf7ab23deb07c323</string>
			<key>size</key>
			<integer>7970</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/jack/session.h</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>sha256</key>
			<string>6f202a7c60ffc70b01e9aa0d91a5bb53845bdc01115e6f9b9cad46289eac1f00</string>
			<key>size</key>
			<integer>9704</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/jack/statistics.h</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>sha256</key>
			<string>c29a6f943111bec263718c3a48687fdc1bae41aeaff0e01061b8ccd143ebadb9</string>
			<key>size</key>
			<integer>1836</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/jack/systemdeps.h</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>sha256</key>
			<string>ba54f569957ad1b85588030f82e7578dbf149221ed6a7b03309ef8aa2ddf8a88</string>
			<key>size</key>
			<integer>4962</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/jack/thread.h</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>sha256</key>
			<string>4cdb998700e8a6d4e88dd0d47e2199f76a282af17226dd912a324bb5ba0eac6a</string>
			<key>size</key>
			<integer>5206</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/jack/transport.h</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>sha256</key>
			<string>e87f893e014669d68c1fbbd8494c8bfda0798b2e054d43b4fadba692630fa103</string>
			<key>size</key>
			<integer>8644</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/jack/types.h</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>sha256</key>
			<string>5794632abf3c1a3a67d2549288d0ecfaf209d100a34d698be846d7e1688758c1</string>
			<key>size</key>
			<integer>24498</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/jack/uuid.h</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>sha256</key>
			<string>7425ca34744557f8da91289160dd978eb0f8a0f27221eecbd1ab65c7cab1c2b4</string>
			<key>size</key>
			<integer>1645</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/jack/weakjack.h</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>sha256</key>
			<string>d64aa15206c7958c2c3b386304142fdbfbdb47a1eab84e8b42431620ea8fd13e</string>
			<key>size</key>
			<integer>5363</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/jack/weakmacros.h</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>sha256</key>
			<string>496adc70aad32784cd3130571238ceedc88da9e4891f0fa7d0558ee0d8ba4cab</string>
			<key>size</key>
			<integer>2762</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/jack.pc</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>sha256</key>
			<string>1ca1003319aec8e18f4fa7a538e96fb732654eefdf091e487e161f9b6f99bfd3</string>
			<key>size</key>
			<integer>278</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libjack.so</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>target</key>
			<string>/usr/lib/libjack.so.0.1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libjacknet.so</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>target</key>
			<string>/usr/lib/libjacknet.so.0.1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libjackserver.so</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>target</key>
			<string>/usr/lib/libjackserver.so.0.1.0</string>
		</dict>
	</array>
</dict>
</plist>
