<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/include/jbig.h</string>
			<key>mtime</key>
			<integer>1586628715</integer>
			<key>sha256</key>
			<string>4c55c6dcd8beab3c330a7c2334d9352b7951154c7ebd90037d120fce1dde1e73</string>
			<key>size</key>
			<integer>9623</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/jbig85.h</string>
			<key>mtime</key>
			<integer>1586628715</integer>
			<key>sha256</key>
			<string>1c87939e042d7b03a19412dd3f8d0e9614ebbacc1aad5c4f2cfbd9bf11bd514e</string>
			<key>size</key>
			<integer>6942</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/jbig_ar.h</string>
			<key>mtime</key>
			<integer>1586628715</integer>
			<key>sha256</key>
			<string>c5dcac0af444f6b5b4470775a3b1f020243970692e8d776767e717154f3de7fa</string>
			<key>size</key>
			<integer>2259</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libjbig.a</string>
			<key>mtime</key>
			<integer>1586628715</integer>
			<key>sha256</key>
			<string>b900b52639d410184343d9c16b9d4fd3e1acbd62ef9f9f0b8010f181a6447e25</string>
			<key>size</key>
			<integer>52922</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libjbig85.a</string>
			<key>mtime</key>
			<integer>1586628715</integer>
			<key>sha256</key>
			<string>9fa23b3b889ee6d84b1cad6ddd16488bd868f5d7071b0d74595d9a2fc13c2935</string>
			<key>size</key>
			<integer>18424</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/jbigkit.pc</string>
			<key>mtime</key>
			<integer>1586628715</integer>
			<key>sha256</key>
			<string>f4261d996385765cbbf0093f01fa4209b920bb8805dfa57792a3275058605794</string>
			<key>size</key>
			<integer>243</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/jbigkit85.pc</string>
			<key>mtime</key>
			<integer>1586628715</integer>
			<key>sha256</key>
			<string>16141b49fe4b13827d085f7a3ae4b3ea1d5dcaca3794800dde16ca0ec660c8e4</string>
			<key>size</key>
			<integer>248</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libjbig.so</string>
			<key>mtime</key>
			<integer>1586628715</integer>
			<key>target</key>
			<string>/usr/lib/libjbig.so.0.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libjbig85.so</string>
			<key>mtime</key>
			<integer>1586628715</integer>
			<key>target</key>
			<string>/usr/lib/libjbig85.so.0.0.0</string>
		</dict>
	</array>
</dict>
</plist>
