<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/qml</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/qml/org</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/qml/org/kde</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/qml/org/kde/activities</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qlogging-categories5</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/kactivities-cli</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>a79eb69927e2b23b0c4e9f3de9981caae1eabd32f4bf3a4398a88d06af567ba4</string>
			<key>size</key>
			<integer>47320</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libKF5Activities.so.5.79.0</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>f11bb18a37b9abf1ccf334c7f9106bd1076b27592f43bfcf5ece735ddb277846</string>
			<key>size</key>
			<integer>256072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/qml/org/kde/activities/libkactivitiesextensionplugin.so</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>8083f2ac508b8da8fffc43f35493d154e79e6488f3a7340cab8b4f08474923b9</string>
			<key>size</key>
			<integer>137368</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/qml/org/kde/activities/qmldir</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>7b207f11b12ddd840088f46641f8e8fb5aa75a1a3b6e70867361c48a4b3032a0</string>
			<key>size</key>
			<integer>61</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qlogging-categories5/kactivities.categories</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>d8054b274eb4e4ae7351431aa08a61d4e61f0d832774a4829fe4b5452468f5ae</string>
			<key>size</key>
			<integer>195</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qlogging-categories5/kactivities.renamecategories</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>8b221cb9b4f9e2fec677156bfe050763e410b9429aa04fc24f7faba2e2fda07c</string>
			<key>size</key>
			<integer>150</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libKF5Activities.so.5</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>target</key>
			<string>/usr/lib/libKF5Activities.so.5.79.0</string>
		</dict>
	</array>
</dict>
</plist>
