<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libexec</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libexec/kf5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be@latin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be@latin/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/br</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/br/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/csb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/csb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cy</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cy/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fy</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fy/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gd/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hne</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hne/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hsb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hsb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ia</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ia/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/km</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/km/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ku</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ku/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mai</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mai/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nds</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nds/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/se</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/se/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@ijekavian</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@ijekavian/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@ijekavianlatin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@ijekavianlatin/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uz</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uz/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uz@cyrillic</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uz@cyrillic/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/xh</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/xh/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qlogging-categories5</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/kreadconfig5</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>afa37489bd093f8445269d91ff293a69fc79887e53ac789ed28f7d9ed8ebebc7</string>
			<key>size</key>
			<integer>22664</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/kwriteconfig5</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>c908098d6f0f331d4aec2732ac42929d33c38c0491842d4b9f127562e5b0e09a</string>
			<key>size</key>
			<integer>18568</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libKF5ConfigCore.so.5.79.0</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>f08f7f259748105750628b678e99815dca790b59deef45b24605c50121763efa</string>
			<key>size</key>
			<integer>456776</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libKF5ConfigGui.so.5.79.0</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>65e801d76343c429f436c8673d58c2e34075b9a7618b290589179edf3652c4ea</string>
			<key>size</key>
			<integer>133192</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libexec/kf5/kconf_update</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>0e49ef755617678809ff9baca371204986172917c88c39561f1aec022f47b943</string>
			<key>size</key>
			<integer>92376</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libexec/kf5/kconfig_compiler_kf5</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>70d8f8d20860f4ba98a9bac0d1193927b7ce467a5ddd1f061e49bd9ea4738487</string>
			<key>size</key>
			<integer>243936</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>c74050972fcccb53792f5f1ca9074e6dd9dafab4fa24f97514df782850096742</string>
			<key>size</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>1d28d3a08da2436ba9d866223984fb1eaea421d5596817028f90568a8596ab16</string>
			<key>size</key>
			<integer>8843</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>a5d7a2a22d93d4b63f71789e2fa7c6574d5c0e351fb076b6eb708f0088b7642c</string>
			<key>size</key>
			<integer>9823</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>9c35807e912591e368940f13f9dd7a168018d8297bf43b4d4b39e0274802cef0</string>
			<key>size</key>
			<integer>41</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be@latin/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>1703383a86598f757395e03b679315560e2ee0659568391d76760984df38e071</string>
			<key>size</key>
			<integer>47</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>13eba6eee539fa4570a878495eef38d0a7dd66865a1aba6deddf28d7238bb373</string>
			<key>size</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>a4a40b55cbca36ead350e280ff00e582c6c88e08d8aca4dd2fa55340fbc0373e</string>
			<key>size</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>a4b240eb13c6a31010f0166431936c47e6634a4fccc350c1239a1e7d1f889719</string>
			<key>size</key>
			<integer>33</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/br/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>22ef7743842970167383a50e48d9f6f3c53ea5e67e7449fa9f60f197f5c87035</string>
			<key>size</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>b56244cd1466894b748939173fefd34eb46e6d9570e2209ed8591b6702b8aefa</string>
			<key>size</key>
			<integer>8696</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>2ddbd149a0ff1a8798e8e1c95c5d8118c603ec6915f0b55d52cce52dfb7e79dc</string>
			<key>size</key>
			<integer>10473</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>6e5ece6e6b9a52cedc9a33e9cac9fa097ff5203876c2ae278d7c562838bcdd91</string>
			<key>size</key>
			<integer>10011</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>26f4fcfb80bb6865ae71bdd3e956b94efae52776dba30c13c03941ab3778a1f7</string>
			<key>size</key>
			<integer>9877</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/csb/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>c6165c8ae1141b60cfd41cf538cac2b2549b8c3a6fee08d36e47356417314120</string>
			<key>size</key>
			<integer>24</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cy/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>c917aa87308663bdb900567a404e8670f867bcc7ff37537ff2a1814041461330</string>
			<key>size</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>e042c2570caf6d24bc499bdff798d34c8fc0963ec7b5c28c8b2665e552b11383</string>
			<key>size</key>
			<integer>9359</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>eb121a24ff626674350cc7044c8a19e73914e0883ad5ecf46482dea5c8169bf5</string>
			<key>size</key>
			<integer>10707</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>4dd78f5d44f120d51acaf3522df2d25053f47ccf9408e5e3af3e48620ac71966</string>
			<key>size</key>
			<integer>10739</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>cfa79644f4c383ef528273d6b8689ccf0ae65db490ee1d99a57e81b5b0db3137</string>
			<key>size</key>
			<integer>242</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>2a8e4124c88a5c29088ace1a8ba649b1ed4c0f6fbebaf0cfe5e7e5247e374bcd</string>
			<key>size</key>
			<integer>996</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>177095e370635c5691d808ba4e37dcdffacb97f91c1a6499923253d47fd8e8ca</string>
			<key>size</key>
			<integer>10555</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>059db4db9ad8bd50abfe5ff0d83a0e328a5c3e78cf4d372b7d18cf95840ec850</string>
			<key>size</key>
			<integer>9855</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>b8c94f1eca38e315e5ce7b2b793b06a0b846ca0e9b313e2f04eb3009b89aa9a3</string>
			<key>size</key>
			<integer>10301</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>2ed1515a1349384920f08f9ea1f0f92af2bcc9a3f202586d22c63b1454b7afa6</string>
			<key>size</key>
			<integer>23</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>cdd15f3b0b2e817437a39f04b00736f182e05e431cb9ab26c3c70c26905deb42</string>
			<key>size</key>
			<integer>9955</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>ca511478f49002db90654a46cb7fe99bbf61061c32a18cd2782cd48e5303dd44</string>
			<key>size</key>
			<integer>10979</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fy/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>9fcf1c709a991b9d0635c51d063fa8d4d238709b4639ceeaa04e56f8c2a9aed2</string>
			<key>size</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>daee6ab22c76df37d26a33278fc578511aac48c57caa6edcff848edd760fad14</string>
			<key>size</key>
			<integer>33</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gd/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>4312893a7a76d4c4a6a936eb228d56f4180472b3277e348e93f3d0b2c5b89ef9</string>
			<key>size</key>
			<integer>9817</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>86ac33eeb09e75be09097417d902871401945f435678eca9e2dca93c98561daf</string>
			<key>size</key>
			<integer>10125</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>b90e934a719dba1bf3917ed6d52fb7be3aa4083275a33fd287032961b8f32460</string>
			<key>size</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>03e9647c404cef2c897e3b189aae306679479ea235d954d91b299c3ec2f0a7e7</string>
			<key>size</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>0b6f10d1436b7b303f078b0f3737b3206d4e44d58dc444ae22513bbffacc30ed</string>
			<key>size</key>
			<integer>9861</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hne/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>92a9fa3222fd8eb71ebd4e410171c3afed09d0877d1c9de9672cec5f47892f56</string>
			<key>size</key>
			<integer>24</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>0467a097fe9c7190d7054e02b6fc1ec87ad3e3039613134475d6eb6a722f9204</string>
			<key>size</key>
			<integer>41</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hsb/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>fe835a25f2029b8740968d69f6b39108d08560582cb2f3b12e3f6559d6e0a8c0</string>
			<key>size</key>
			<integer>24</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>d6a0bd4d92cfe10d3e4622eedae41a6da3d0a55fb0538633100274acc5ee5783</string>
			<key>size</key>
			<integer>10092</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ia/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>616e13ccaa36c026a2f10c481dae28da251e1e9996946b25efed42404d9829a6</string>
			<key>size</key>
			<integer>10267</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>8ed756bad5326a1cf8fb2b0292360f5eba367dc01bb12eeab9098d1447cc316f</string>
			<key>size</key>
			<integer>9674</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>407546cfef44dde05b2f7d8f48cbeb92c7a9c45ce05089c7c64dc609978f1e72</string>
			<key>size</key>
			<integer>8638</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>52554f78c7f6c6b4600755e9885e08adb89d62ec27c803983b20b97457ec7623</string>
			<key>size</key>
			<integer>10449</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>d48c67ee81895f0d98973f38f5ce98f2ab5b8ee6e366af4b0cff13883e876397</string>
			<key>size</key>
			<integer>23</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>71f6122a857122143f1b51b5dc7669668a77e93d4c1bfa8c93c370330a7d4335</string>
			<key>size</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/km/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>962c69a60bf953b54428464f6acee3d68deb3b96f19e83ad1e5528e14e03170f</string>
			<key>size</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>2c286146481029bb931ea90d7d4537277d00bf171022fbff2a9f2d1263425841</string>
			<key>size</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>a02b1de57e53dfca986383f8e5d17080a335c0fbdae537343b490d4154302aee</string>
			<key>size</key>
			<integer>7770</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ku/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>57878e8206f796f51bbd84a8b7a540eb3f6962176b6b5311a676141fab998354</string>
			<key>size</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lb/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>be344e8a287776168a14985aa17eafbee36372d9727786da919056dd1273a70c</string>
			<key>size</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>3e2802cc6105e3b73cbca182cf2366bb3bcc8e6eedbe22d4c7deeb64393bb731</string>
			<key>size</key>
			<integer>9959</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>2327768f504d96b61af841e0673c88bc0eb093fd2ec45d5f9b257b2ad0609507</string>
			<key>size</key>
			<integer>36</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mai/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>d24d6d2fb352c0565bbf7493f2db10c46e0f3e73e80d161d0cfcd2967c05091d</string>
			<key>size</key>
			<integer>24</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mk/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>824836bfc51f7c3d9e076af4ee91903618eb19c125a96796ee07e3c9643b4828</string>
			<key>size</key>
			<integer>33</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>0f194726ea50dedd8c2414b270c707a9cef062a5f0ea1d4047b1f9eb39dc7aa6</string>
			<key>size</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>2b2f1953dd51e0058c7df1e1fc321207acb5a1557a9a96e65e0ecabc7b002f30</string>
			<key>size</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>4aaac03d224a72e7dfae8a158d42a5f3e5a8902425141a6b7156bb5abd6137d1</string>
			<key>size</key>
			<integer>23</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>27966da08379626d6b88dbf3693a937d8f78560a97ac853250931d9c64cf95a6</string>
			<key>size</key>
			<integer>8403</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nds/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>af70ba02537378072ae3fe6a83f7def56f4b5293e37a79dca61dac31719eb5eb</string>
			<key>size</key>
			<integer>8773</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>85ea67226826ccb9ffac200eef8396192a047edcd8e1d20513da795ad47fbf1f</string>
			<key>size</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>a2a40403ff90df656614ee6522c8f1479eeb9b17f7437accf4dbb6c0b37ce0f4</string>
			<key>size</key>
			<integer>9990</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>78b10ddc9862fed15c6798b4e6d088cd9a620d8441637ec952169d6603b7903a</string>
			<key>size</key>
			<integer>9561</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>07d244027a02093172af2f90a32169d979ad9e22e022c6ed7441a2c6a19e67e8</string>
			<key>size</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>bf7d9229f1f1f289586a81bbabdfd5ce6d94b200c77ce9410e8778674d29fae8</string>
			<key>size</key>
			<integer>6401</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>337e4a425a3672f68cef2aa655e3a43847559e243a926b9b2b35939dadb6963f</string>
			<key>size</key>
			<integer>10159</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>7d37e3d1e67522f65a9f8473e192cb4c9bb5b8eee0d5fed0326d58b45c12842d</string>
			<key>size</key>
			<integer>10459</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>0ffb4f605d5b7392681543997d0621eafb85469662f05276d3de6c33791ed274</string>
			<key>size</key>
			<integer>9986</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>bada375921ec70d7bec403a935a56742aaf26c8f8fb0ef56a23cb379f3909983</string>
			<key>size</key>
			<integer>10296</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>de9f00f3644ecffa7687e65ae9badfa09eef6c3a9467a7b0b08d92dd37aa5bf9</string>
			<key>size</key>
			<integer>10734</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/se/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>3f58f2ea3dd1303b52fa0ca8fd385ed02f0bb042253f724aab4f709fff4ff582</string>
			<key>size</key>
			<integer>33</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>6b79406dcb3e0f3dec20f4529f77146517e00defaabb92e10f66b045fb0f33b9</string>
			<key>size</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>651a1748150f0dd413b34cbfb8bd994fbc000e2d2ea6561f67316ce30a837cea</string>
			<key>size</key>
			<integer>10037</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>2b2637ff80eb4b7b1f501e7e985ae1a3a69116bd32d18814edfc6ab7c7f0367e</string>
			<key>size</key>
			<integer>9986</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>f069e9f541671138aa1e8412fcbf11d1b4c177343829268acf8bb7420f60d468</string>
			<key>size</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>9b0e2512e8ac01827faac6057b0ae1bde550a7d4738f9fbb19ff6417f6164110</string>
			<key>size</key>
			<integer>9313</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@ijekavian/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>1f80fca91c96745a2361ee0f6b3695fdd654c5e4ce7fa19e291bf4acb41cd693</string>
			<key>size</key>
			<integer>9403</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@ijekavianlatin/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>db71c475b9d07bc9ab6e5a6d6f88ca3918a7a584a7cd851c660ed1caaf4ccb1b</string>
			<key>size</key>
			<integer>9448</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>77d87075bb3efc18f3cefe64e11ac7b01df5c3b353bbebbb73cdcdd8f522ccb6</string>
			<key>size</key>
			<integer>9345</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>0e2e1c2f927f6e09481f9eacfd8d39abe7d8f22aa41aaa18106b2acfe34994da</string>
			<key>size</key>
			<integer>9777</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>d822801292e477d61724fdaba65d9894b6253ef0ecdd659f7e712875337d8691</string>
			<key>size</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>e758a61f2a33dca3300a21a68076176ce18c59871088b26467fff0a17f8e3cc6</string>
			<key>size</key>
			<integer>9446</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>e6543ec0058536b9c966296fa948a1273fd373d93fe5db7043c312bac9e7f137</string>
			<key>size</key>
			<integer>10108</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>d65fd8966b430f42ed9aa6d409ed2815a3f4fa6d01441d9246997a59e3cfbd43</string>
			<key>size</key>
			<integer>23</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>8fa846108fd3fb1fd238ddeed9da2ad99c1bf4ae9b4c9d819757e9404975c33f</string>
			<key>size</key>
			<integer>9298</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>c7df17346e96780d6975dc6553e8f015eecf4a8917fa467d3fffc62221b73e65</string>
			<key>size</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>bc537b8c768747cf6e3ba462041f91e87fa306a09a6dbc83a6c92c84105fc594</string>
			<key>size</key>
			<integer>10436</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uz/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>1ea18ce330706b404cdeac98de3bdb995aedc082caa760b23c4f5532b6aaa355</string>
			<key>size</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uz@cyrillic/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>2d37e3972856bf3e99539a660f6805bcd4dc91dddd8be131b1b87c46d8e54657</string>
			<key>size</key>
			<integer>39</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>f0b532baf82365a8e03f87d387839a2f2a3bf91a7807d71a9cff203e14fcabbf</string>
			<key>size</key>
			<integer>9486</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wa/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>c32ebe4b8b977fd5d82c09d9ef9c63cf31eef0e40c5c75b977773be8bd6b14fd</string>
			<key>size</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/xh/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>f8d39a432fdfa41664549db34d005e82b174f598abd3113f3771855c773a9056</string>
			<key>size</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>0570792e13f9694c1ff30b441aa0dedb3197ad4f047380123af4f51cbf27acee</string>
			<key>size</key>
			<integer>7247</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/kconfig5_qt.qm</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>79b777922d6752780c00efaf4183d92536eb54f15e86cefd1e9d7625ffac8395</string>
			<key>size</key>
			<integer>7283</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qlogging-categories5/kconfig.categories</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>2647923b6e960acd873c3d7ff24bef49efe61d2e813da95857bf67f25b47da35</string>
			<key>size</key>
			<integer>231</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qlogging-categories5/kconfig.renamecategories</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>e4ccbd60dfa2d3c3c1203646e7eb65a5541b1b51dd59aaada6893e6aa0a2df57</string>
			<key>size</key>
			<integer>181</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libKF5ConfigCore.so.5</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>target</key>
			<string>/usr/lib/libKF5ConfigCore.so.5.79.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libKF5ConfigGui.so.5</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>target</key>
			<string>/usr/lib/libKF5ConfigGui.so.5.79.0</string>
		</dict>
	</array>
</dict>
</plist>
