<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qlogging-categories5</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libKF5Crash.so.5.79.0</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>a53cd5e56bbee89c449d61f1554a26e6b641d8b65cdb003000e832a2dc36e742</string>
			<key>size</key>
			<integer>38992</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qlogging-categories5/kcrash.categories</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>fffdaef572b593a8193f49d8442fbeb87c50feb81a4f66ce1a8c6bdf1d7160d5</string>
			<key>size</key>
			<integer>147</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qlogging-categories5/kcrash.renamecategories</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>1a96c1d0a05633ef4188e508a795a50946fb67a183a17178e3dc9d1e6c602cad</string>
			<key>size</key>
			<integer>131</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libKF5Crash.so.5</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>target</key>
			<string>/usr/lib/libKF5Crash.so.5.79.0</string>
		</dict>
	</array>
</dict>
</plist>
