<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libexec</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libexec/kf5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gd/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ia</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ia/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nds</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nds/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/se</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/se/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@ijekavian</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@ijekavian/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@ijekavianlatin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@ijekavianlatin/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qlogging-categories5</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libKF5Su.so.5.79.0</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>51252240f56b9733b3429e1940d8150b0118670c8b41d321229bc8eb8e517ef5</string>
			<key>size</key>
			<integer>96320</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libexec/kf5/kdesu_stub</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>c4c41bc95745e9760d0efb56bb8e1e9272b15122b3abe6428b5394909eb7403d</string>
			<key>size</key>
			<integer>14576</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libexec/kf5/kdesud</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>ed2b28c5acb8cecc2acd2b24407a73d8094f3804402116e5c2a89ce2a2bf64a5</string>
			<key>size</key>
			<integer>63616</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>57ca32512e885fc4516e96d4cd5f150eb8f7c8522a3a26dbe569d26a32c28e6d</string>
			<key>size</key>
			<integer>990</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>86feae1167bef2d06984781cbea766dcecc0100eb54cba16ba7dcefa9d2db5ca</string>
			<key>size</key>
			<integer>889</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>c57afa739e5688539ddcc730e38b344dcc615d6ef4c02a8b06af26be3fb70b21</string>
			<key>size</key>
			<integer>900</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>c73563bd7cadeab23ce5ccf2bd534086a39784a4bd4d0bd2d2541bac123a659b</string>
			<key>size</key>
			<integer>885</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>c2eb0f296c5df2aabc52800d0c4d5f9676e50b0cb3781aca0f8e23136a8c4fb7</string>
			<key>size</key>
			<integer>903</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>46041c2f96315214e9660e96e940cf8674587b8e976ad9417c8b2a2f688a11ec</string>
			<key>size</key>
			<integer>912</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>7e56a3a54b5195d343e261ae0d4ffc45944fb5b03c7beb809bfc50fd37f1eefd</string>
			<key>size</key>
			<integer>844</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>7eaf06c835e3f7037d920d148f8daad7adb69cc63c9a46d38bec00e71936886b</string>
			<key>size</key>
			<integer>880</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>b99654c9c067c0b7a84e8a805281268ca8ab2e0c329df9cda0176db278b10d9b</string>
			<key>size</key>
			<integer>861</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>dc596cc23d41312af0ddcbf3456d0f687b5c5925f24fa31d82816446dd104f69</string>
			<key>size</key>
			<integer>995</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>66b597427caf9bc93e6c040aa4dcdc353b532cd08455395fd239f88bcccdf217</string>
			<key>size</key>
			<integer>852</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>6d02b178a9424e9e30d43fa67555b8bb0b83aec7731ee53274fa3de07c6934cd</string>
			<key>size</key>
			<integer>859</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>92f36c477a35cf1259a671d4043037c546fcd3afa425e8b0ee2ad4ca31398dbc</string>
			<key>size</key>
			<integer>867</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>d2e8f06f3e07619f6c63e2ab6c077923270bc8c9860e4a5c5129afb24c011ed0</string>
			<key>size</key>
			<integer>901</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>6ab89f059b0cae3b24bd3d09e7de6853ff0b8c9ce760abaf13e57d7138f6f452</string>
			<key>size</key>
			<integer>977</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>ef65455c090e41d57bc983fce3de9e24460f296f1df5c2310140a45501ccc0c6</string>
			<key>size</key>
			<integer>993</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gd/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>b5c01506a3f43452f800207aff6ab185ea929507ab1732cc1d488ed447f4972f</string>
			<key>size</key>
			<integer>953</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>a030097eb5679dbfbdecc43f04f6966dafc79ee56645b0fba71f7e2172cc07f6</string>
			<key>size</key>
			<integer>850</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>4f76b68377d08a3d50f156b368c9ee0a44588ae26a8419b694ae5daac2290ef5</string>
			<key>size</key>
			<integer>885</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ia/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>ba588ab8dabec11d5ae9c493640291a0833628287870081139d328f1e030b737</string>
			<key>size</key>
			<integer>853</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>e801ca915ee9ec09d5388c1b1c3e1bed21fb24dc907a659b4b9b5015fb76ffcb</string>
			<key>size</key>
			<integer>858</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>0f0b87b8521c8e7eb8fb8b42b745937bfe7bd456fb341f70cdbb225c7744836d</string>
			<key>size</key>
			<integer>837</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>52442c01c15557249ea421231423b7eafedce539c6808e863857a6d4ad24ef1e</string>
			<key>size</key>
			<integer>930</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>e3b8e03c41e0ffe0a8a6e29bea200bc736a80e65aa6fae89827a2c54462ffb14</string>
			<key>size</key>
			<integer>827</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>38945fe197764f12fd5c6a1d26222d21adcdbdb35417e3be4351cd57aea0c41f</string>
			<key>size</key>
			<integer>979</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>c99f6bd0135856db8b6152a0c587fa0613d688fcd342154e12fbeaadca27b1e2</string>
			<key>size</key>
			<integer>652</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>a2cc7f69521bd86ce515aedd90534f2b7df0fe73674560a725ab5654b7a409bd</string>
			<key>size</key>
			<integer>941</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nds/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>36c81a43a8a08e87b15d02518117a4ab90e6fb1ec8cac2289e71c35e91cd4448</string>
			<key>size</key>
			<integer>871</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>bf5f0db8c5cde723eec666590e847f7b443486932e954d0124d4cb211bfbc78a</string>
			<key>size</key>
			<integer>866</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>b6fd525e3754c90c774dd6f4e6341fe576f10d56a3f89fcaaa2ffe46b22f5973</string>
			<key>size</key>
			<integer>960</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>eb38392af8ccd3ebf0139003eef0d351720e29a3106549ba3be7072311983c4d</string>
			<key>size</key>
			<integer>977</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>c1b527af2e057bbaf6a4861bef7c7a45195c54d1eb7f272df6c1db8720e1d207</string>
			<key>size</key>
			<integer>960</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>6de94c70d669186c2c3f0b6e06c3ef6fcb70b3ff1c7bf1d511b25d318dd4657d</string>
			<key>size</key>
			<integer>909</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>5a29c9fed71ad82c3a1547cbcade169a27471a92b7c54b1dffa3b0cb09f75be7</string>
			<key>size</key>
			<integer>914</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>f9fe8544084f31d73285f9855ca129a696289b0bb8d2fda2257fbc8cc54023e9</string>
			<key>size</key>
			<integer>884</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>971fa0d267e674afd4a5c7232b3ebbef48926023ef2983bb53c26d999b26294d</string>
			<key>size</key>
			<integer>1156</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/se/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>43c41d8dce08ae7d5b222e32462b8816b6f0a6b5c2c73e2d5967177916cc838e</string>
			<key>size</key>
			<integer>944</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>57be79a062cefd734571033e9185f98b8e2a2dd12fc70d3a55f1628c348f4d1a</string>
			<key>size</key>
			<integer>896</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>fbb050968c234f64525bef4900afe4959d1db1bb7cd82c57bac80928835b5945</string>
			<key>size</key>
			<integer>943</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>d14f0fef8de3f1c5432fc58785486ac774f85c48e8541c2b0358342808918c42</string>
			<key>size</key>
			<integer>1031</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@ijekavian/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>b2a96852977c66c11b40f1c439afbbc87cb4cbdfd6d8da722a37985a6ff74bd3</string>
			<key>size</key>
			<integer>1041</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@ijekavianlatin/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>a9d106406e2c3943f7459f6b50a643d2863c99a5e9b3386ac361d1b0aeb6a9bd</string>
			<key>size</key>
			<integer>990</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>93ac2551f66d1cb92abbfe115633198aa60ef39522726042a0ed8f206e75e730</string>
			<key>size</key>
			<integer>981</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>55544aac23e85c28f0f77808b49d22f4a2583f3cb5b54c7c014753921144572f</string>
			<key>size</key>
			<integer>917</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>9187f8ec2253acee7ecca0eb984fb982a82d722576adea650a3a3f98a1d4db05</string>
			<key>size</key>
			<integer>1042</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>bd38212b8aad5db2a03facf3b55306ea996bf3fd5b72912228700898f45a5ad3</string>
			<key>size</key>
			<integer>876</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>78025b8ee2804cb9b4858b11d162fc6fbbe1fcc77fc7484e4900c01cd0da9254</string>
			<key>size</key>
			<integer>1019</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>cd0337c0c69fbd469d645bc61b8c27971924d2ab7ad6e0b20fb737fcf24c2396</string>
			<key>size</key>
			<integer>955</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/kdesud5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>eb9603978f12b8b7e74fd53cb7c336cf0e00aad40e265d1ac80c51b042a05968</string>
			<key>size</key>
			<integer>913</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qlogging-categories5/ksu.categories</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>4f6d487d906f6e70a1de3e7f87669f4bafc0912534cdf6cc27100db2b224c4ad</string>
			<key>size</key>
			<integer>196</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libKF5Su.so.5</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>target</key>
			<string>/usr/lib/libKF5Su.so.5.79.0</string>
		</dict>
	</array>
</dict>
</plist>
