<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/kf5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/kf5/kfilemetadata</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/kf5/kfilemetadata/writers</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gd/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ia</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ia/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nds</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nds/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@ijekavian</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@ijekavian/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@ijekavianlatin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@ijekavianlatin/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qlogging-categories5</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libKF5FileMetaData.so.5.79.0</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>266755b73cc6ba87058735cd2d3b9ab0ee465190d72df5671a21d01fd6f7e88f</string>
			<key>size</key>
			<integer>219208</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/kf5/kfilemetadata/kfilemetadata_epubextractor.so</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>ffc9d1ce167bcfb4dd54fe3caefd644df0b42519106ef676192aa034d94eddc8</string>
			<key>size</key>
			<integer>22680</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/kf5/kfilemetadata/kfilemetadata_exiv2extractor.so</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>ec5ecc62b50b499330c87bcf8b7985b52d2cff7b18f60bbcda252c05570354c2</string>
			<key>size</key>
			<integer>30968</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/kf5/kfilemetadata/kfilemetadata_ffmpegextractor.so</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>ff15ca2d2d55f88119683d2eee9c22bd7e289cf54c8bc82185072a7fa045ff2a</string>
			<key>size</key>
			<integer>22680</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/kf5/kfilemetadata/kfilemetadata_odfextractor.so</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>6bd8a2e97b39e48bf55228f57b7cfa86384fff5a8596fb120dc9c9ead3e0aec9</string>
			<key>size</key>
			<integer>34968</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/kf5/kfilemetadata/kfilemetadata_office2007extractor.so</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>d1f6fecdca4dba35d3d8815dd0f3eaa51f3e9a78cc1844a8bcba91311d9b8722</string>
			<key>size</key>
			<integer>34976</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/kf5/kfilemetadata/kfilemetadata_officeextractor.so</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>cd99e4b7c235adaebc9d74dc91af9edee3409783fb95851379b1edd1aac039ca</string>
			<key>size</key>
			<integer>22680</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/kf5/kfilemetadata/kfilemetadata_plaintextextractor.so</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>1feeb8b61f97e63227d6c4a1051517d8b968e964236c0d3c871008ed966210d6</string>
			<key>size</key>
			<integer>18584</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/kf5/kfilemetadata/kfilemetadata_poextractor.so</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>14cce8d96f6cc3f6a9b302ec55b05e081831828e80d61ede96df7415088f31f3</string>
			<key>size</key>
			<integer>22680</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/kf5/kfilemetadata/kfilemetadata_popplerextractor.so</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>81ffd5c81998cf0d673a087d21f0781b933ef3cb2e64d8af3fef8f0f18297882</string>
			<key>size</key>
			<integer>22680</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/kf5/kfilemetadata/kfilemetadata_postscriptdscextractor.so</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>56a7d45d965ca1f46a1cbe8d70dedf1dfdddfcb056b1cbf843183e68572cd779</string>
			<key>size</key>
			<integer>22688</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/kf5/kfilemetadata/kfilemetadata_taglibextractor.so</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>fef4481fec99e0ea289fd8781d09a0bc9e74bd6b3d2c342a0a95aa9af2a8005a</string>
			<key>size</key>
			<integer>84120</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/kf5/kfilemetadata/kfilemetadata_xmlextractor.so</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>bf0fbebf6a0dcefa7255279dde07e77d4b5e0bf80223de251504af6506cdce08</string>
			<key>size</key>
			<integer>26776</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/kf5/kfilemetadata/writers/kfilemetadata_taglibwriter.so</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>4b2d3dfbd68757a32a21b4c0f8dacc8816019628e6da6d29860588979abc4cc9</string>
			<key>size</key>
			<integer>92312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>1d65862c118985556c1a5c90d42cc77ba2b489788ba0257f64b25f495bab2726</string>
			<key>size</key>
			<integer>4526</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>637d196ede239adee60903e7433ab6c52885a0eff96996bcc2aeb6a9ad19856b</string>
			<key>size</key>
			<integer>10927</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>1ad1a348713c3251ba84840f55a40ff4d3110d9741d08bfcf9b1f32a58d2577a</string>
			<key>size</key>
			<integer>2904</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>3ebaa64b45f6b7690b40a4a90b3a7e1cad851dc395f8a6a190604d458171615f</string>
			<key>size</key>
			<integer>2443</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>8097f61d1c22792d39ecf15c0879dede13ae0d437f9e387ba52b85983f69222e</string>
			<key>size</key>
			<integer>10834</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>386cf5d77386a499fb97bf0ec49b272f76f3b6c8da4804d5dc66a3655c27658b</string>
			<key>size</key>
			<integer>10512</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>71e2259b5318f94cc1aa125c29912b63091eeefbb7aa982b5319be32a4d2d631</string>
			<key>size</key>
			<integer>7284</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>e2fa393798a5a12418f6fca9fdd50fc0c47b891c045a0f960d68b4bd77a137f8</string>
			<key>size</key>
			<integer>10340</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>252d5fd8df52691aa50c7619baa7f618f8cb72e92f6b3fdc4549a68201dbf785</string>
			<key>size</key>
			<integer>9788</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>b1d0a6512dfdbd03edd65f582121e333b116a7fa19b8bbd5d8d9949af1c78618</string>
			<key>size</key>
			<integer>4093</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>565d05650b9b52b20efc2f7f7ab7032bb8fd7b3395a0dea1084ad105619d1dbc</string>
			<key>size</key>
			<integer>10178</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>199676b0bda29e6eb704f273e956ed2aade41fa8f156c44bd12714a08bc8b625</string>
			<key>size</key>
			<integer>10670</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>b0c33c81357f711401fd69ebd719ddad1e4fc055ee3c6837c2b5f264e0a77961</string>
			<key>size</key>
			<integer>10384</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>17213b88017b7d2dbc30abcf4ad458a986b055da8b1771aee372ba570e2f2b7c</string>
			<key>size</key>
			<integer>10764</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>6b13e7eb34667a7a2d27a71ab53848f3ff56f5a0fc3aace870be5fe3125a65fb</string>
			<key>size</key>
			<integer>10320</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>2af1a9ff7af9304ebbd00dc974ffdb5108a1df69e86d18db7f06dd9c5a514388</string>
			<key>size</key>
			<integer>10725</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gd/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>325e8e754369b58f3b49ed911a57f1766ae5c239789fc96ea0e247ad66e40431</string>
			<key>size</key>
			<integer>3595</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>8725c852a849e691baf0867fbe79829b4a7711e02c3325954f4239580a80e0e7</string>
			<key>size</key>
			<integer>10530</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>e9c4293cc3fb1c108dcfcb407bd8b4f80583affcc234aaa35322a5d9f6f5ce7b</string>
			<key>size</key>
			<integer>4501</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ia/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>f5468f45791db2fa79114d77749b60ec5f7dc46d5c3a2fc023d372bb7a034142</string>
			<key>size</key>
			<integer>10710</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>198ed0cf96cabbcbb52dcb23498e5d6f404ac6833edb169e2f23664b9ff22b2d</string>
			<key>size</key>
			<integer>10205</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>924137fde64c552bbf61959eb3fe1a420667a51599059ce3495f17b1a7dc5a7c</string>
			<key>size</key>
			<integer>10771</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>8ad7b0314267eb5ea7ab12e063474d05ab51ca9a588ec171df3b9af3805313b5</string>
			<key>size</key>
			<integer>6623</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>95e40915891d75fe1547eded38439dae2455247067417ea8a0cd64a6042596a3</string>
			<key>size</key>
			<integer>10432</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>08008fbcc4d5c56e8d82bbc254c3a83c637788566c0bfa541f23ed8d97a3b61f</string>
			<key>size</key>
			<integer>10829</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>e6b94105584ab6ff6718b8d2fb64b83c94b5c7811df011433e067870e8ec2806</string>
			<key>size</key>
			<integer>515</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>66d74a0374847273f89d5e7f7de95687b1776024dd1258941f6a18996527fcba</string>
			<key>size</key>
			<integer>2534</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nds/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>701d66b780551e142a9dd2c0033b41726b83c600b151b6b7ead5d1088f4916e9</string>
			<key>size</key>
			<integer>2400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>e67beabb98ed5d4d1b914f9ccd89bebd10018a1e7f893991650111174c05b04d</string>
			<key>size</key>
			<integer>10532</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>b14c13fa670be3f44d076049b5ccd2fa4f03f05b8f3563ddfb7075c3a271f770</string>
			<key>size</key>
			<integer>10325</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>ffb586711074d4e8b76098d9873590102e48657e0494a11b9fafcc506e37e620</string>
			<key>size</key>
			<integer>730</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>5287cedd4f4543b07074a64a5ef82c8b0dfb48234c11469574755a0d6506cf12</string>
			<key>size</key>
			<integer>10695</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>27fcf4eb6b83b4e06eab5351a2a81cdea78923b07262aee4dc1f2d5ccfb42e97</string>
			<key>size</key>
			<integer>10932</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>d6dfeba43c63cf3d32d1fc48fb2a0d5391b6dbc56d7bde5cbf45fa11171505c3</string>
			<key>size</key>
			<integer>10879</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>ee5451781d99b261f860be4bec1a2929e9954df668c2bdd04734f74372ea3eeb</string>
			<key>size</key>
			<integer>6275</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>b375ff298d6c2358009f2ea6fabd99aa3f07e2762b555884aeb27e348a5ae0aa</string>
			<key>size</key>
			<integer>12375</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>85912e94b665e169457cf3d064e2d2fe3c853ccd2c250b964fdc6e9bc34ae964</string>
			<key>size</key>
			<integer>10642</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>53c35c02d93693743f6245f2aebead7020ddec7d14ce1382c611e4b1ef149acc</string>
			<key>size</key>
			<integer>10666</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>3d606b0cf4696f0a93ceee7e0e0f5cbd3be01dc8cb7c9bbd148beb293203845e</string>
			<key>size</key>
			<integer>4059</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@ijekavian/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>c9abb9fc448ef76fb64568ae79c71c87f736a09dd185c38dc96534eb56221727</string>
			<key>size</key>
			<integer>4069</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@ijekavianlatin/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>02a835b6cad403443eb032a6d2d4e718092de8221f0d290fed5a22e747775844</string>
			<key>size</key>
			<integer>3605</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>173451214df6885ef97fe8ddeb9c4f99b0d7992176da34ff0e6433f9a084baf6</string>
			<key>size</key>
			<integer>3596</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>8f7b8a1342d76bf3d495af90ee93addc1f68772ee5697df47909d43c0f18b259</string>
			<key>size</key>
			<integer>10459</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>cb48655df0588112d0d296efb91961f58f978bf00242ce764e9b9e32311d5fc2</string>
			<key>size</key>
			<integer>12619</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>677b247ebfb07ca15fa8646732d54218c1fdbdcea31a9db83f1fc82317f5062a</string>
			<key>size</key>
			<integer>3468</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>5f0f153cda9abc86c4082fe57b6dd0bd696802fd6be6c4f92b60e3024500d1ac</string>
			<key>size</key>
			<integer>13076</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>8bb6e82f621dffb9db8edb67ef813aa0ab043eb1da3e9bcde02fdc6b2883422e</string>
			<key>size</key>
			<integer>10079</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/kfilemetadata5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>29413d5c2aea803acdef00a6276cb5346192127058e199d00b4fb4fed9ee6264</string>
			<key>size</key>
			<integer>10260</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qlogging-categories5/kfilemetadata.categories</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>fd13bb35dc16b40d477d501cef564c18a3357d884f9d9773aa1c279a909affd8</string>
			<key>size</key>
			<integer>168</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qlogging-categories5/kfilemetadata.renamecategories</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>ed0296fa4a2798b255ceffcd92b023c6dd68338f439a267fe8d0b372f52189b0</string>
			<key>size</key>
			<integer>141</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libKF5FileMetaData.so.3</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>target</key>
			<string>/usr/lib/libKF5FileMetaData.so.5.79.0</string>
		</dict>
	</array>
</dict>
</plist>
