<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/kodi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/kodi/addons</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/kodi/addons/pvr.iptvsimple</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.af_za</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.am_et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.ar_sa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.az_az</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.be_by</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.bg_bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.bs_ba</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.ca_es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.cs_cz</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.cy_gb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.da_dk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.de_de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.el_gr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.en_au</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.en_gb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.en_nz</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.en_us</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.es_ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.es_es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.es_mx</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.et_ee</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.eu_es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.fa_af</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.fa_ir</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.fi_fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.fo_fo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.fr_ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.fr_fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.gl_es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.he_il</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.hi_in</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.hr_hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.hu_hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.hy_am</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.id_id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.is_is</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.it_it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.ja_jp</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.ko_kr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.lt_lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.lv_lv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.mi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.mk_mk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.ml_in</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.mn_mn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.ms_my</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.mt_mt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.my_mm</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.nb_no</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.nl_nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.pl_pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.pt_br</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.pt_pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.ro_ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.ru_ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.si_lk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.sk_sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.sl_si</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.sq_al</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.sr_rs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.sr_rs@latin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.sv_se</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.szl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.ta_in</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.te_in</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.tg_tj</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.th_th</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.tr_tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.uk_ua</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.uz_uz</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.vi_vn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.zh_cn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.zh_tw</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/kodi/addons/pvr.iptvsimple/pvr.iptvsimple.so.3.9.8</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>5e46eaf1fa6f01f054f60b7dd02199faeee930d206c5f2d2f8880b47dd37e401</string>
			<key>size</key>
			<integer>302176</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/addon.xml</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>c0fee04d121a6f2dab8811cbee7450aa57aa606cd806eb87b23dacb4453c9c7e</string>
			<key>size</key>
			<integer>30295</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/changelog.txt</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>7127f53c411b6ff6755267dfedfb3448e18e9a282989d28ad4fb7df11abcdaa6</string>
			<key>size</key>
			<integer>5471</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/icon.png</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>5160f794f7962135744e7e0d99e03d7fe441acc3dbdfb40db0bc008e1d35e1a7</string>
			<key>size</key>
			<integer>63858</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.af_za/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>a011337fa5c765fd66cb0e9e1a45490836d6f299b99a5b7b82183a96d623f789</string>
			<key>size</key>
			<integer>2271</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.am_et/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>8f0f5f247dcc3559d71b0ddf24ca60a9a7b10fb09965da44b4846764fae01036</string>
			<key>size</key>
			<integer>811</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.ar_sa/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>63959dccc327e0eba26fe1d61dcd8482f4da3bec711ab7104106b30b6e9337a0</string>
			<key>size</key>
			<integer>2725</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.az_az/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>52b7c84e1830fb746b67a48a44c9b90860923cab912476db9c82a990dde75c4f</string>
			<key>size</key>
			<integer>979</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.be_by/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>8116daffe2b560cf2f4e017da7d99b1c40cec17314575ed9184f95f91ad0211a</string>
			<key>size</key>
			<integer>886</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.bg_bg/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>a9a2544c355dbdab8564eef5a51ddb53353f06ae27b145871b60dc71766a5acc</string>
			<key>size</key>
			<integer>2830</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.bs_ba/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>f262868c03e18e751fe7d8eb64748bf0da0ce3bf2cef728720bdbf68d443352f</string>
			<key>size</key>
			<integer>781</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.ca_es/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>37b4b98b191a301b86a0ccfa9d356c5c77f9069b985e065364192170e8a36eae</string>
			<key>size</key>
			<integer>2427</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.cs_cz/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>c7922957d1c470b7ad17c1fabc259c8c3c29b6cdf57d5c7438e50bfb1de12f30</string>
			<key>size</key>
			<integer>2510</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.cy_gb/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>36a38af193583525083448fee61debe2d1653766f49cca20ddbe3168a94e6ff3</string>
			<key>size</key>
			<integer>2410</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.da_dk/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>8e32a36e0b75a9030e7e36cb3e0641d74861e63981ed624909e358637f87700d</string>
			<key>size</key>
			<integer>2312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.de_de/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>ea154adb26c5c8a3eaf88ea5af3df01d1a41ef53e9020147cdf479585825e821</string>
			<key>size</key>
			<integer>2351</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.el_gr/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>51fc59a3e734f0f4be2922fb27eaabf4e61b228d4745f15941df4192dcbf5624</string>
			<key>size</key>
			<integer>2772</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.en_au/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>5a085ee50b6373df20febe64a92e1d54693074b0a847e7808099b87b6072b6a2</string>
			<key>size</key>
			<integer>2000</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.en_gb/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>e182f8a3c2f26da00c3bab137d3e9b6b3dbfe140b6fbf5d43f3d7bb33415e195</string>
			<key>size</key>
			<integer>2102</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.en_nz/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>ada93c32fde4757dcb9c9ac301ca14a90e47530193f6991099953913841d4425</string>
			<key>size</key>
			<integer>2282</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.en_us/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>4d6a7598f38f941bd56ad1d3390feb0b5532dd78c312b22fef3f6cd97490d78b</string>
			<key>size</key>
			<integer>2282</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.eo/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>f72f99bb541e24032424da407fe8fb1aa6cd601a45341b2222a808f12b56caf2</string>
			<key>size</key>
			<integer>680</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.es_ar/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>26c33412ff2c8a0015c70cfbd1edc566abccfc582e5a07c296d6a3389a1de1df</string>
			<key>size</key>
			<integer>2432</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.es_es/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>72708efac404fd0854be04083139c6dc772418f284c181350055c5fad101c9fb</string>
			<key>size</key>
			<integer>2325</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.es_mx/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>2de03825023b5476c58a1b10c0f707848b124f560c1f5792be7d126dc73393c0</string>
			<key>size</key>
			<integer>2402</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.et_ee/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>6d4e62e1d405c870a21fd75292a9c43884553b494d55e35d2dfdcd9ee94d1ac6</string>
			<key>size</key>
			<integer>848</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.eu_es/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>6ec689e077703bd73df29f6dfcd354e261250bd978edc5ef084a4eb1fa30cdc1</string>
			<key>size</key>
			<integer>796</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.fa_af/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>b50e416b224398632ffe5bd115e1f3eb365ad605eb938fd80e23125be8b36097</string>
			<key>size</key>
			<integer>693</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.fa_ir/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>d98b94d5f6c9115fbb4ccde3dc663e84769b3b88f720dc4cf39e366b5f21d494</string>
			<key>size</key>
			<integer>739</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.fi_fi/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>fff5b3fd5161c8cb0ee063cc76a94ba0a7201b22f6247b3ab9bb0b86af0fa31f</string>
			<key>size</key>
			<integer>2401</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.fo_fo/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>40e9b8af84dadef8e4f3f5329feabb2b43b21255cb3d9c727513e3afd700d06c</string>
			<key>size</key>
			<integer>749</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.fr_ca/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>345f44553ec5b804fad444eef02eab8d710cbe1fba053beca7009c61af4eafc1</string>
			<key>size</key>
			<integer>2414</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.fr_fr/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>a72e29a010cfa9bb2106e18930b823ab0a69253fb1a75cb5c5beaf554bf96490</string>
			<key>size</key>
			<integer>2472</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.gl_es/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>75e21d505cb6600e75ded5cd65f31a90e818bcd146176f202ff1bfebb2037e59</string>
			<key>size</key>
			<integer>2401</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.he_il/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>db437643c259ae36843a7ca422841fefb6e876089fe6bff056754f39ba1b4203</string>
			<key>size</key>
			<integer>2501</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.hi_in/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>48f9abcc1b6aadfa196d4a8db5161b3e098b2e640562cf7fde94a285d1303a72</string>
			<key>size</key>
			<integer>763</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.hr_hr/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>4a4f61cc2b3e046caf928a21a9f8be4a494766f33a51591324075b0000ed652d</string>
			<key>size</key>
			<integer>2463</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.hu_hu/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>a21edeb6cf40f3d1622a5e659fd8536a015facc2ae6e7c4df6be57f4cdbd8804</string>
			<key>size</key>
			<integer>2456</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.hy_am/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>13b54c7695f480ea0d3dfca0fc40888f32a4f6ece069e6dcf3a8c8560d3884be</string>
			<key>size</key>
			<integer>754</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.id_id/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>e556de62a55450419cbbfb16fdba7b1163236037283e5c4894ff4d73d18ec8d0</string>
			<key>size</key>
			<integer>2271</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.is_is/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>3bbd5c4e865d92c5b00ee4d7e131025aa23ddf94c854f6a540709941088c2073</string>
			<key>size</key>
			<integer>2417</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.it_it/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>f4c9b8b97b080e662b3e5adc40fea27fdc24eadde1b824f3f8dca7012bd7af24</string>
			<key>size</key>
			<integer>2317</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.ja_jp/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>81189bce500879af72a0c384583f4fd6aa1a4710f0a3fe7c79f50bcd03792541</string>
			<key>size</key>
			<integer>2185</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.ko_kr/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>aedf7ba0644008efb738be99112ca87211ce0e048bd5c9057024d76778d24523</string>
			<key>size</key>
			<integer>2293</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.lt_lt/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>13673e3b4980681d8bbe9583998f9cf0d212c649b94381a07f2c5bad0b2363e6</string>
			<key>size</key>
			<integer>2468</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.lv_lv/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>e353516c9d75e99d759122330ad295b2d1ea41c9196218d86a8e93165e12c162</string>
			<key>size</key>
			<integer>2107</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.mi/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>fea59998c5fc52de65729668278ea471fd293467b54d9ac62b131beea6741b30</string>
			<key>size</key>
			<integer>783</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.mk_mk/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>a0130915532fd890814374c264800da7901338176e425dcd3c3fe264490af9a0</string>
			<key>size</key>
			<integer>2370</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.ml_in/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>7ea5338f48ad2ceee6bc46e4070eef0c177b067688220fbb586e91d4ffeb27ba</string>
			<key>size</key>
			<integer>713</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.mn_mn/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>74133284e7113de4f367fcc4de2b63fcc4f8880aa43407c8b270dff760f1aa55</string>
			<key>size</key>
			<integer>1048</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.ms_my/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>e12fd4c6d88091515a005fd94d4b4deaa321bd7d4a3fced0710b867c0023c114</string>
			<key>size</key>
			<integer>2294</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.mt_mt/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>9af0c8838d63409d233233e8400ab0dbbd8a753e7f3592c4359870268f666ed1</string>
			<key>size</key>
			<integer>2509</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.my_mm/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>7aa7f14c0c2048894c3c8ed37018714214f3313871885d5ac4af1c29f26f3dc8</string>
			<key>size</key>
			<integer>836</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.nb_no/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>9b9e1f6f5297142d06739dbaba867ccfc007c47a8877503ec19fcc54ae692495</string>
			<key>size</key>
			<integer>2324</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.nl_nl/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>e95107c984742ce61bbc226bb96b135c8e1c3a85f16a5728349aaceb4d2c48c9</string>
			<key>size</key>
			<integer>2312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.pl_pl/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>3b977a80047ddbfffe6d37e04a0ce95b6330bcc3614c4fa4d8dbc4449da29a4f</string>
			<key>size</key>
			<integer>2502</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.pt_br/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>b63336d78c0a4a5e6a5ebbd0c79a61097e6ed78e5de8de2317683f944bfe0314</string>
			<key>size</key>
			<integer>2427</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.pt_pt/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>4039457b3fe19c29c37d2ee84ad497c9e800c0ea37520b325bc19698428feb52</string>
			<key>size</key>
			<integer>2422</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.ro_ro/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>79750dba11b25ac44f25cc91701b7e7a377d83a698d0a0df3540cd8d0e19cb43</string>
			<key>size</key>
			<integer>2413</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.ru_ru/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>21d09ca4b945622eb88316a2c7cba75154f72ce2166e4ab2f04f992a9e07668e</string>
			<key>size</key>
			<integer>2844</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.si_lk/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>7010c8211e030b995d61fae7b574cde3ed83d7e3ad82f1466ae678fef3d6c974</string>
			<key>size</key>
			<integer>1646</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.sk_sk/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>99c184ccb51394ccd20ab2d3719e99ee98f0481164a0c20ef86c9a75eb08cac2</string>
			<key>size</key>
			<integer>2486</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.sl_si/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>03a4ed0e08ee014658bf3b2075030940921aca16b0230bdeabcb4d8dbec8af37</string>
			<key>size</key>
			<integer>2389</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.sq_al/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>466f3426fa51548b72a8c3fb76888e0420f3ec7efd53ceae24fcadcbc45c01af</string>
			<key>size</key>
			<integer>811</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.sr_rs/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>5b4343895d09d1d96a6384eda7ad10902f86763c73bbd109446563c0b84fa1df</string>
			<key>size</key>
			<integer>2785</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.sr_rs@latin/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>8d6bff5151720f557feea99d5c51663588ea31c938fb221ee04dfba5f09bc183</string>
			<key>size</key>
			<integer>2458</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.sv_se/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>907cfff1cc4bd77ca60d5dee7bac07ae88f57847e60937cc4ca10d1526cf9be1</string>
			<key>size</key>
			<integer>2348</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.szl/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>6e00c536afc86a6a8576c2aa02ccbac70a73288415a381ca4bdbea5c52bf7746</string>
			<key>size</key>
			<integer>2450</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.ta_in/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>28945f9ee0ffd15e7a2562cb39b18ad374417e0106ccad419de3580d04986a35</string>
			<key>size</key>
			<integer>851</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.te_in/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>7b56523e14573cb9d69c4406de735d5d198fe2e16d84db08555c94e3c96d3feb</string>
			<key>size</key>
			<integer>704</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.tg_tj/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>30eedfd32e40e048d3816981d9e22211685819f45b2bfb0eb6b9b095a0190ae0</string>
			<key>size</key>
			<integer>824</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.th_th/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>b2a07d72c86318046c926b040e1232fa21dc9a43c591d8289047256a9989ab12</string>
			<key>size</key>
			<integer>825</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.tr_tr/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>a948a08a22b073b59d0c2a9ad7bc29492a965b3a67e8940ab3803f357ef7df91</string>
			<key>size</key>
			<integer>2332</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.uk_ua/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>a95553599c86873943a013287893cf379a9f4d1ce7f3307e00c786682dfee20a</string>
			<key>size</key>
			<integer>2625</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.uz_uz/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>a71bb2a161eb1637e205f7e83440dcf779badcf1c8821869ef6b596b54e83a8d</string>
			<key>size</key>
			<integer>749</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.vi_vn/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>1e67dbe25111480f29b914b564ca7a98d8e39de18a1f7693c6001aa27417c798</string>
			<key>size</key>
			<integer>1400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.zh_cn/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>a30cb37e802a27c83d1df10ffb30d7ccff29d6d515348549b920913e0d51e99a</string>
			<key>size</key>
			<integer>2296</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/language/resource.language.zh_tw/strings.po</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>cd861b233eb8b869b1708c96661a848af16c911d4fd989aded372787f414f8fc</string>
			<key>size</key>
			<integer>2292</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kodi/addons/pvr.iptvsimple/resources/settings.xml</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>sha256</key>
			<string>ad13ade94cc7441140820680c17a24bc3bef78c0332e0eb6e4d907af9e3a5a72</string>
			<key>size</key>
			<integer>1829</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/kodi/addons/pvr.iptvsimple/pvr.iptvsimple.so</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>target</key>
			<string>/usr/lib/kodi/addons/pvr.iptvsimple/pvr.iptvsimple.so.18.6</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/kodi/addons/pvr.iptvsimple/pvr.iptvsimple.so.18.6</string>
			<key>mtime</key>
			<integer>1584045567</integer>
			<key>target</key>
			<string>/usr/lib/kodi/addons/pvr.iptvsimple/pvr.iptvsimple.so.3.9.8</string>
		</dict>
	</array>
</dict>
</plist>
