<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/rules.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/kpartx</string>
			<key>mtime</key>
			<integer>1605361339</integer>
			<key>sha256</key>
			<string>320388d73e752a7dbe22dc7a9fe3e37f25404f3136bef435d69b5f61d6c3b35a</string>
			<key>size</key>
			<integer>47192</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/kpartx_id</string>
			<key>mtime</key>
			<integer>1605361339</integer>
			<key>sha256</key>
			<string>dd9cf6e4dd96bc125ad0c036fe1a3175f7b104c71f292e1efc391f270d29323b</string>
			<key>size</key>
			<integer>2383</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/rules.d/11-dm-parts.rules</string>
			<key>mtime</key>
			<integer>1605361339</integer>
			<key>sha256</key>
			<string>f10ec92c2556a8b99df202b167fdc3e7d0858b5507b5af93b7ae192326e50fcf</string>
			<key>size</key>
			<integer>1442</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/rules.d/66-kpartx.rules</string>
			<key>mtime</key>
			<integer>1605361339</integer>
			<key>sha256</key>
			<string>68a591533b5527c4bfb819f2833fe58a2fdea1565f0bad2014747628d742dc14</string>
			<key>size</key>
			<integer>1401</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/rules.d/68-del-part-nodes.rules</string>
			<key>mtime</key>
			<integer>1605361339</integer>
			<key>sha256</key>
			<string>1807c40eafdb15f3a36692303c6868e697669029054064ae11c473b3ae45b449</string>
			<key>size</key>
			<integer>1142</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/kpartx.8</string>
			<key>mtime</key>
			<integer>1605361339</integer>
			<key>sha256</key>
			<string>3a43c5d4349ff1ba1886770c0616ddb347ebf351ad58be30c177c4af1dd549f1</string>
			<key>size</key>
			<integer>3264</integer>
		</dict>
	</array>
</dict>
</plist>
