<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kservicetypes5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gd/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ia</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ia/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nds</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nds/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@ijekavian</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@ijekavian/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@ijekavianlatin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@ijekavianlatin/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ca/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/es/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/nl/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pt/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pt_BR/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/sv/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/uk/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qlogging-categories5</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/kpackagetool5</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>cb2fe5ef6fd5033ef71453be56bb2ad1752ad181c20c2dc3044e8c02f8dec21c</string>
			<key>size</key>
			<integer>166104</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libKF5Package.so.5.79.0</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>ea92dbc8c7791b1b2e5534574caa28882d8f62213a114876e7cb39f6f1518bc8</string>
			<key>size</key>
			<integer>202816</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kservicetypes5/kpackage-generic.desktop</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>2400c01bf872b551276a79bdfdccde13b72b0e1c6c27d76897675bf3bb9c908f</string>
			<key>size</key>
			<integer>308</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kservicetypes5/kpackage-genericqml.desktop</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>0d460eb604f9cc37f10f08d46af72322981478a8c3470104c5a5860bb89a0b9b</string>
			<key>size</key>
			<integer>224</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/kservicetypes5/kpackage-packagestructure.desktop</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>259f4a3fb155f5905e20ddfc7a800a61fcc225717f4cef361cf5f85901a198ae</string>
			<key>size</key>
			<integer>2742</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>afb3cc6200390c957bc1dda92aa328fba6c956aa3bcbc708af962cbdc5c047c8</string>
			<key>size</key>
			<integer>5961</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>a189c986b66f1c38986403294f2fcb550b0ae2f7f3a0b84350d52615b6043eaf</string>
			<key>size</key>
			<integer>10442</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>fd4f4b98b98da3645109adc3c56cabff4b5b3dbdc9f67f66a7e04b8bad81d1c5</string>
			<key>size</key>
			<integer>5790</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>84973ae07a39a42359e9fcc84a2138cc771ad8a35b4d7d2aa2196a36aad3c6da</string>
			<key>size</key>
			<integer>10461</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>9a52ba302b8173d180b3c6ac1f73293dc3f5fc98431b1a57566866fd5df7f802</string>
			<key>size</key>
			<integer>10229</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>f697d9bca2f74fb6d95f5a07554601880f55fddbfad389f4a21a3a4ac41db725</string>
			<key>size</key>
			<integer>8503</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>1cddbc2236f895a16db088b68e4cd999ec9fadcbcb679d34e531a1de8337bfbc</string>
			<key>size</key>
			<integer>9852</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>3e0e731d059d533fb79e059cea6a953d8b4159a411616c3e6f6aa94865d157cf</string>
			<key>size</key>
			<integer>10509</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>01e7a07314ee5919cce9bb861a35149c2bf3a168dc9a796c2d53e637f248479a</string>
			<key>size</key>
			<integer>13562</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>9ce2934d2ebe5039133fe5f46fe89a749b2bb0372587df195de12fb3a8292394</string>
			<key>size</key>
			<integer>9844</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>1d8ba506673177c3cef078d7bf3e972c2fd574be1473aec2232b36eca8f0bd44</string>
			<key>size</key>
			<integer>10566</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>461433e215bdd8e5be822562f3ed047869b40920ee4e22052971988fc1a61a92</string>
			<key>size</key>
			<integer>9749</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>342ae541884e6f6ab2d16f2343c4fc60115ebfcfa2e18b80dd12604a604d4dcb</string>
			<key>size</key>
			<integer>10112</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>da78a1ddcddab3bb552184221d42df116cf2ba6b37a391c1f328d5047377d47a</string>
			<key>size</key>
			<integer>10363</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>aa65c5bbc3f8741d0a842a4d4f4aaaa38094832cf4c1b8e5304b7d96d729cfa5</string>
			<key>size</key>
			<integer>10902</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gd/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>6a1937507fff5561bdc50ee499a2423012de0c00309f51d8148d212ab5001340</string>
			<key>size</key>
			<integer>8089</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>3a0100ad5cf4d27d095948af30bedc378215b6470dcc065bffc69a69753a346b</string>
			<key>size</key>
			<integer>10069</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>9d906e1f2bbf368f8b72f208f42d4dda8ff8cd0d6592f3524f13ee035832fa75</string>
			<key>size</key>
			<integer>2259</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>91e38221edc03fef8b1c7cd959a47dcbf664655d35b811ef763a929e7af4690e</string>
			<key>size</key>
			<integer>10439</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ia/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>0d6d5d44a94a83faffcef623bdafb27eddb86d3d666f34b635a6d80a34895332</string>
			<key>size</key>
			<integer>10145</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>e2b878a36b4b98f505460bed52288993398c68abdf4d846d2e0cf26e133c911d</string>
			<key>size</key>
			<integer>9654</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>e4dfb138b7ede635cc01aff54b1f84335543e6540d038673218d87a099b40a1a</string>
			<key>size</key>
			<integer>10449</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>1be0cbd19de9cb3abcbaf8647117d54d144eccb686d71ca39c71911014eae6a0</string>
			<key>size</key>
			<integer>2867</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>4959781d9ee990a9bccfa43e9b84b6b1028df16d4a8b94cf832fb5bc08fb6bc3</string>
			<key>size</key>
			<integer>10493</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>4840052066709a7289b90a65718f7ce8c2271fce3186f39c164755a25defa832</string>
			<key>size</key>
			<integer>9980</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>161f913e9486b899c46e7c132c18fa5d55784de4b929880496c59445ed24e68e</string>
			<key>size</key>
			<integer>5364</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>c3a3c5125e8f38f942db637dde7398fc44d820d8117366d3857507451c7f2bab</string>
			<key>size</key>
			<integer>6644</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>a21b42ddf3cb6f484c526501aae38b9fc64a9bc86f72f14d3c09db78d20016a6</string>
			<key>size</key>
			<integer>6966</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nds/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>ed1377f03fc40bf3933b25dedd94c1f81b2b8e71894712e467491a04e35f788d</string>
			<key>size</key>
			<integer>6379</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>e0cc7f069ceaa0208f8a246bb4131fe829e282519e7c7adb60aad1acfa8f76c5</string>
			<key>size</key>
			<integer>10290</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>c66e89b31edb15c292c5761f4d21877702bff940a98516c59f79d4c2d2dd5932</string>
			<key>size</key>
			<integer>9983</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>88986756e491d8a7e97930bd7db21e0f91462a673dac46cb81e455968c642614</string>
			<key>size</key>
			<integer>7033</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>6455388fbfa61aed30c125ab9cbe1934a80cbce3838b2398551adf7b63ae4027</string>
			<key>size</key>
			<integer>10132</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>29d15513b25e6989ac937857d0b35cfd78d24c71bb67ed74bff793bfca10458d</string>
			<key>size</key>
			<integer>10688</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>b34b58fa36f26c06e41a6b52fff462d055e3a2a63d937cff9eddeca86d554900</string>
			<key>size</key>
			<integer>10414</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>9e343417e316e05bbb56439f5a97031e299c97fa9307ed20b49f10c4e9d78145</string>
			<key>size</key>
			<integer>1694</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>5c2f5f46820cac3262820938c22ce2f49d67a50c4ea14363875ddf35b59c6a1f</string>
			<key>size</key>
			<integer>12808</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>c6acac7b335d446b14884450d71f590d6a7fa424c9e3689a3881fb09c412e35a</string>
			<key>size</key>
			<integer>10096</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>67d23c6364cfba3b5d97b3551398aa27a789493e6d3378f6fddf23817da4d290</string>
			<key>size</key>
			<integer>10074</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>2826229e82a183a805f2c261ee667631ae74d64e68d2a1b5dc82feb4883c4fe7</string>
			<key>size</key>
			<integer>10829</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@ijekavian/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>f1566a654a2913bdf051b91b8bbe14b0a9e766fbe3d9b79a9cb5a8f31b9962bd</string>
			<key>size</key>
			<integer>10857</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@ijekavianlatin/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>35c3f5454e2f108d121b406fd6fd7152b1ea8ddea9188678870159034a2770ce</string>
			<key>size</key>
			<integer>8953</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>3c55203313f52672d84119624a80cb8e18db0251ab5f3ab4f55674cdfb305efd</string>
			<key>size</key>
			<integer>8935</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>a571a44aabf9e6229e8beee8bde9d93d50a0855404874393e02c8fabcb219495</string>
			<key>size</key>
			<integer>10052</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>cdcf3e5fe1aec3b624026444099810dcdbe37f10dd4b7590c99754ae7ecff8c5</string>
			<key>size</key>
			<integer>12897</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>02eb163cb29bd2017f5f913699db75fdff6f087254495b59d2441b914c613d87</string>
			<key>size</key>
			<integer>8443</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>93008e8f498e1d6d3146bc1f6e2a116afdb3bb918ea14341b28873b9f6d1b685</string>
			<key>size</key>
			<integer>5010</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>a0b65a87af77007ee95c88ce066815b43fea4b493ea3e3507e29ad3cc1905a09</string>
			<key>size</key>
			<integer>12833</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>802aeaa9f44bd66d692c8d5b9896a5d66ffcd02af75d8d1eff744f3adba13232</string>
			<key>size</key>
			<integer>9276</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/libkpackage5.mo</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>6822bd955a1dc146851a4be8920e4cdf8cf1cb0cb4ac427ffd6cffbe7e5a65f9</string>
			<key>size</key>
			<integer>9418</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ca/man1/kpackagetool5.1</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>9a347cfbf81ab05637633f8e7e6465464b5fbc4fe9593b1159cce9b8b3cae0fd</string>
			<key>size</key>
			<integer>4096</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de/man1/kpackagetool5.1</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>ab87bedbad2c0702db403790940da03ab0fffb5c32198c790b82c440cdddc1af</string>
			<key>size</key>
			<integer>3908</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/es/man1/kpackagetool5.1</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>bda4f4083ae9542a8f3a54407e8139982f91b408f0f52af9d847cf812aa3fc84</string>
			<key>size</key>
			<integer>4034</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr/man1/kpackagetool5.1</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>6a27bc41389f16548ea6a37fa57f83d16f2291b90bc7ba862dcc15aff6a0bf2c</string>
			<key>size</key>
			<integer>4316</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it/man1/kpackagetool5.1</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>1d114cb3f1dd1b45161f63662ea96a13647a2dbde54a85a2b9529dff2d67021d</string>
			<key>size</key>
			<integer>3958</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/kpackagetool5.1</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>0ba6d0c6f5603d76f37ea505aef7174b9a45311b90481119fcd22c36774f9e35</string>
			<key>size</key>
			<integer>3740</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/nl/man1/kpackagetool5.1</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>1452a1aaeec839201ef829335b2293051038f6c2edd9f9eea5bda4a89c0769f3</string>
			<key>size</key>
			<integer>3869</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pt/man1/kpackagetool5.1</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>5c0e6a9bdf9bfa202db03a3c6437541c8432135ad953bb3d0dd8f08b0d84ed7f</string>
			<key>size</key>
			<integer>4207</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pt_BR/man1/kpackagetool5.1</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>9e515f9f755ede2bc30f6ffabc8c2ead2a51388023f5c2a0919c6aecec318bef</string>
			<key>size</key>
			<integer>4040</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/sv/man1/kpackagetool5.1</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>f94833491be8d5967801368348644fd98b7f963af92818c2fad1a2ff16c0aa0a</string>
			<key>size</key>
			<integer>3969</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/uk/man1/kpackagetool5.1</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>cdf9e2164203923ad29f891afbe71c8c78cbf11b562f6a8c01cc7f4037c83bb9</string>
			<key>size</key>
			<integer>5114</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qlogging-categories5/kpackage.categories</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>b05cc8074c19ff5ec2937fa97848f2618bd3721c8e7ef4a4e9384fce91b609d0</string>
			<key>size</key>
			<integer>159</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qlogging-categories5/kpackage.renamecategories</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>1f4cd1b69c710ef2dcdcdbf5c488ae2ff516ae3ddbbe924b8e0de687dbb6b799</string>
			<key>size</key>
			<integer>131</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libKF5Package.so.5</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>target</key>
			<string>/usr/lib/libKF5Package.so.5.79.0</string>
		</dict>
	</array>
</dict>
</plist>
