<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libexec</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qlogging-categories5</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libKF5WaylandClient.so.5.79.0</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>c5269cb61b748dd25c7ad85390b2813db36cecd04502a04fcbd74f15c4483906</string>
			<key>size</key>
			<integer>979560</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libKF5WaylandServer.so.5.79.0</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>edebf1650c4c8534beb983c535795e51042173fc5b2d12d80a4115d6aea17cef</string>
			<key>size</key>
			<integer>1286808</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libexec/org-kde-kf5-kwayland-testserver</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>93b9663096d99978425b25e4b4b0b2e333e23959429b9b91084b31b34b1ccd92</string>
			<key>size</key>
			<integer>39144</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qlogging-categories5/kwayland.categories</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>205d7468181abb2beed0adff60a8ce7a5406116721c56ba917d8a5bb30c5005d</string>
			<key>size</key>
			<integer>305</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qlogging-categories5/kwayland.renamecategories</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>sha256</key>
			<string>8b316c485d33d212568df056df0de2e5a4bf7a6216a8e97f01d30a6eeae793dd</string>
			<key>size</key>
			<integer>175</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libKF5WaylandClient.so.5</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>target</key>
			<string>/usr/lib/libKF5WaylandClient.so.5.79.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libKF5WaylandServer.so.5</string>
			<key>mtime</key>
			<integer>1613763275</integer>
			<key>target</key>
			<string>/usr/lib/libKF5WaylandServer.so.5.79.0</string>
		</dict>
	</array>
</dict>
</plist>
