<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libkworkspace5.so.5.20.5</string>
			<key>mtime</key>
			<integer>1609939926</integer>
			<key>sha256</key>
			<string>63b74bb35dbbe8b8b1749fe846f25c339464bf09c66398510b4eb991a5b82626</string>
			<key>size</key>
			<integer>313408</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libkworkspace5.so.5</string>
			<key>mtime</key>
			<integer>1609939926</integer>
			<key>target</key>
			<string>/usr/lib/libkworkspace5.so.5.20.5</string>
		</dict>
	</array>
</dict>
</plist>
