<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/include/lcms2.h</string>
			<key>mtime</key>
			<integer>1607527664</integer>
			<key>sha256</key>
			<string>45d7807d1f63d81a96dc43339f3b8ce47f98d94fefa79effcc2061ca3827dfcc</string>
			<key>size</key>
			<integer>102271</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/lcms2_plugin.h</string>
			<key>mtime</key>
			<integer>1607527664</integer>
			<key>sha256</key>
			<string>c2039594b5df253d7a8d9b2559f88ebb15b4b5a3f55ba68bf45cb01edc1e6857</string>
			<key>size</key>
			<integer>30301</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/liblcms2.a</string>
			<key>mtime</key>
			<integer>1607527664</integer>
			<key>sha256</key>
			<string>2f23f3de81e587142e305060d68d77d3a5a83f199814bc147555f3563d14d146</string>
			<key>size</key>
			<integer>648082</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/lcms2.pc</string>
			<key>mtime</key>
			<integer>1607527664</integer>
			<key>sha256</key>
			<string>fb3c3bf11f069e22dcbe17ab2bfba87a156ccef144b4d9f9b268549eea53727e</string>
			<key>size</key>
			<integer>237</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/liblcms2.so</string>
			<key>mtime</key>
			<integer>1607527664</integer>
			<key>target</key>
			<string>/usr/lib/liblcms2.so.2.0.10</string>
		</dict>
	</array>
</dict>
</plist>
