<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ldb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ldb/modules</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ldb/modules/ldb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/ldbadd</string>
			<key>mtime</key>
			<integer>1608418411</integer>
			<key>sha256</key>
			<string>13c557851aed21a63ec496bcd513e1b25301537a17e37d321ff75b83f2495136</string>
			<key>size</key>
			<integer>14400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ldbdel</string>
			<key>mtime</key>
			<integer>1608418411</integer>
			<key>sha256</key>
			<string>ba95cb56a47ef5a1120c7267a96ea4df60afa1a4eb4db5f1e4675259a0ec9e38</string>
			<key>size</key>
			<integer>14400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ldbedit</string>
			<key>mtime</key>
			<integer>1608418411</integer>
			<key>sha256</key>
			<string>c046afb40581085ace441983fb5ea38113e18cbb261e7cc88716e966c57f7e2a</string>
			<key>size</key>
			<integer>18496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ldbmodify</string>
			<key>mtime</key>
			<integer>1608418411</integer>
			<key>sha256</key>
			<string>c5b7e0759337709a44e975c496f5bd16c393a9a3d334af9f622b223a184dd171</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ldbrename</string>
			<key>mtime</key>
			<integer>1608418411</integer>
			<key>sha256</key>
			<string>6bc19caac2c24c1b31b0f6ad4320c0b3b02ffcb3ebe224ab1797f21d2471021f</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ldbsearch</string>
			<key>mtime</key>
			<integer>1608418411</integer>
			<key>sha256</key>
			<string>33759af313bb371c55dc42a6ccd800ff508af77f4fd3b2cb2a1dd4b4c963d479</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ldb/libldb-cmdline.so</string>
			<key>mtime</key>
			<integer>1608418411</integer>
			<key>sha256</key>
			<string>c8cdb57171ff6df2428d7937a6ae2ff264faff7614801243e69a046e6a2e6c09</string>
			<key>size</key>
			<integer>27928</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ldb/libldb-key-value.so</string>
			<key>mtime</key>
			<integer>1608418411</integer>
			<key>sha256</key>
			<string>342ac686e3bfa266c0846b62fca5274f1a379d8db9145eabcdbbbc08db3d7d5c</string>
			<key>size</key>
			<integer>96352</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ldb/libldb-mdb-int.so</string>
			<key>mtime</key>
			<integer>1608418411</integer>
			<key>sha256</key>
			<string>021e6c073b5855efacd066c01f7c3c59dfc756bf5ccd3e5e483b79032bc80023</string>
			<key>size</key>
			<integer>26808</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ldb/libldb-tdb-err-map.so</string>
			<key>mtime</key>
			<integer>1608418411</integer>
			<key>sha256</key>
			<string>9c9c6b96fa7b5a55b038808ef9efd6db05969d3736da044765b4b69707826f71</string>
			<key>size</key>
			<integer>14320</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ldb/libldb-tdb-int.so</string>
			<key>mtime</key>
			<integer>1608418411</integer>
			<key>sha256</key>
			<string>a6656c5331667c12c2e1b18f2a5924a8344d8fcc059dd17be8da2377eb1cdd7e</string>
			<key>size</key>
			<integer>26680</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ldb/modules/ldb/asq.so</string>
			<key>mtime</key>
			<integer>1608418411</integer>
			<key>sha256</key>
			<string>bf7dafb0c84542b95db4063a6b46c9652119bf739ec881d2aac60ef987c9b323</string>
			<key>size</key>
			<integer>14304</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ldb/modules/ldb/ldb.so</string>
			<key>mtime</key>
			<integer>1608418411</integer>
			<key>sha256</key>
			<string>739d40bd5c663fbb78c1c1a75c47cb3c900f216ce7fd2ed503fd668f2eb08ad6</string>
			<key>size</key>
			<integer>14224</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ldb/modules/ldb/mdb.so</string>
			<key>mtime</key>
			<integer>1608418411</integer>
			<key>sha256</key>
			<string>56bc068a8e96dee3f765537b2a9e273f65a3332aca0822b56cad1e6aec521612</string>
			<key>size</key>
			<integer>14224</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ldb/modules/ldb/paged_searches.so</string>
			<key>mtime</key>
			<integer>1608418411</integer>
			<key>sha256</key>
			<string>b5c1bbfcfc38977627ec8dd9110f4cf3127f019cfbacae8a8b2e3c0d44fb7789</string>
			<key>size</key>
			<integer>14336</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ldb/modules/ldb/rdn_name.so</string>
			<key>mtime</key>
			<integer>1608418411</integer>
			<key>sha256</key>
			<string>feb95ed1bbde8655e7c1d56ea062eb646a834053ea9655b45b525c7c55848fd2</string>
			<key>size</key>
			<integer>18400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ldb/modules/ldb/sample.so</string>
			<key>mtime</key>
			<integer>1608418411</integer>
			<key>sha256</key>
			<string>781ec9766be38a6e718eb81dd47e8fd39cf9cf804c495ab50281bc03f9edff9a</string>
			<key>size</key>
			<integer>14392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ldb/modules/ldb/server_sort.so</string>
			<key>mtime</key>
			<integer>1608418411</integer>
			<key>sha256</key>
			<string>64d5f9a72bee60e41714f2237eca2f634199d6d039f3382e2e36b85b9985cfa1</string>
			<key>size</key>
			<integer>14312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ldb/modules/ldb/skel.so</string>
			<key>mtime</key>
			<integer>1608418411</integer>
			<key>sha256</key>
			<string>2050c7a203d0298bdd46da891164a029cc8554ff68dd2568537add52b1aadb70</string>
			<key>size</key>
			<integer>14304</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ldb/modules/ldb/tdb.so</string>
			<key>mtime</key>
			<integer>1608418411</integer>
			<key>sha256</key>
			<string>55639a3b18b5b9bf020f5710a228e4dc057d657669c3d0977ab81926b609fb3a</string>
			<key>size</key>
			<integer>14224</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libldb.so.2.2.0</string>
			<key>mtime</key>
			<integer>1608418411</integer>
			<key>sha256</key>
			<string>aade21dc442b8f6ff16b52dacd5f5ef07a8d9ad321dc36c6bf8bcbe0c8778deb</string>
			<key>size</key>
			<integer>215160</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ldbadd.1</string>
			<key>mtime</key>
			<integer>1608418411</integer>
			<key>sha256</key>
			<string>b41d485337725389ffd47c4a78b9184fddb0b247afa65da112fd764a5a5cc4a7</string>
			<key>size</key>
			<integer>2553</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ldbdel.1</string>
			<key>mtime</key>
			<integer>1608418411</integer>
			<key>sha256</key>
			<string>1b65b2507ac7f69c04f8fe13f5306da1355e4701e9d3c830ff1837390f815520</string>
			<key>size</key>
			<integer>2523</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ldbedit.1</string>
			<key>mtime</key>
			<integer>1608418411</integer>
			<key>sha256</key>
			<string>fff4aead96132e6ca34279e176e17c6df55333a33af4812933ec33cca95777b0</string>
			<key>size</key>
			<integer>4132</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ldbmodify.1</string>
			<key>mtime</key>
			<integer>1608418411</integer>
			<key>sha256</key>
			<string>79950e0cbc9a76c91395343a6b12ca98a05b503d9a4800031deaf12354e22016</string>
			<key>size</key>
			<integer>2418</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ldbrename.1</string>
			<key>mtime</key>
			<integer>1608418411</integer>
			<key>sha256</key>
			<string>fa0f6b3706d5da27773db7abc9da394a924855cb3422d02fa521bb698761080b</string>
			<key>size</key>
			<integer>2474</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ldbsearch.1</string>
			<key>mtime</key>
			<integer>1608418411</integer>
			<key>sha256</key>
			<string>6cedd8b3ffffa023a2bc6d8fda891bbfd854e6bc5ff827c223dec7fa8e03f392</string>
			<key>size</key>
			<integer>2650</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libldb.so.2</string>
			<key>mtime</key>
			<integer>1608418411</integer>
			<key>target</key>
			<string>/usr/lib/libldb.so.2.2.0</string>
		</dict>
	</array>
</dict>
</plist>
