<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/less</string>
			<key>mtime</key>
			<integer>1599031322</integer>
			<key>sha256</key>
			<string>b32fc077a9b070f609f1f6b3333424a741a8c7368ae63c8f280cc3682c5ece0e</string>
			<key>size</key>
			<integer>176304</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/lessecho</string>
			<key>mtime</key>
			<integer>1599031322</integer>
			<key>sha256</key>
			<string>e43856ac9e9970223971692e30a5286f881e4eda231dd386dbca7450aff3e490</string>
			<key>size</key>
			<integer>14424</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/lesskey</string>
			<key>mtime</key>
			<integer>1599031322</integer>
			<key>sha256</key>
			<string>fa4dd64926af1c1ef8d7a8d03d07eb53be65b7b6bb07b509d41df30b24a09d22</string>
			<key>size</key>
			<integer>24056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/less.1</string>
			<key>mtime</key>
			<integer>1599031322</integer>
			<key>sha256</key>
			<string>6d05bd6018de6cd9a061cae3d50421e9fd7c5e4368477b6913436fed54800491</string>
			<key>size</key>
			<integer>70742</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/lessecho.1</string>
			<key>mtime</key>
			<integer>1599031322</integer>
			<key>sha256</key>
			<string>58db537e975e812e3f8a72c10d8c9859f3bfb492f56e1b4e16de4b0b20287c8b</string>
			<key>size</key>
			<integer>1540</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/lesskey.1</string>
			<key>mtime</key>
			<integer>1599031322</integer>
			<key>sha256</key>
			<string>35a2b8545742f7bf0c0dd949800ea9ba8c0d30c269b4c65bf464907d0104524f</string>
			<key>size</key>
			<integer>9366</integer>
		</dict>
	</array>
</dict>
</plist>
