<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgphoto2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgphoto2/2.5.26</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgphoto2_port</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgphoto2_port/0.12.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libgphoto2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libgphoto2/2.5.26</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libgphoto2/2.5.26/konica</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libgphoto2_port</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libgphoto2_port/0.12.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libgphoto2_port/0.12.0/vcamera</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgphoto2/2.5.26/ax203.so</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>fa5925e4bf2e533175799c61a09e7abacc772f26d23606870d2478c27b6c37c7</string>
			<key>size</key>
			<integer>55632</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgphoto2/2.5.26/canon.so</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>fcc9001f243911fac7bcf636a51ce106c2a1a5897ef911496ceeda968d138fe6</string>
			<key>size</key>
			<integer>158056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgphoto2/2.5.26/digigr8.so</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>f0219c4c895c6c2dca3780f0d5e049ae2c071ba9fc2530d0c40616d08ac2ce77</string>
			<key>size</key>
			<integer>26960</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgphoto2/2.5.26/dimagev.so</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>d73df621f12dd4a99c373cce9741a8b2dc77be1fe1a242758dd864e20c49dfd9</string>
			<key>size</key>
			<integer>43272</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgphoto2/2.5.26/directory.so</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>75a3417e9c817ef2fdfe13dee3a17bd32942bc84f378aa7bda21b52c19aa28f8</string>
			<key>size</key>
			<integer>26968</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgphoto2/2.5.26/docupen.so</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>1de33df1a4cf0d8b6d59ef347487d2b71d4d23cc92faa56291335b71f50e12ff</string>
			<key>size</key>
			<integer>38024</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgphoto2/2.5.26/jl2005a.so</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>3fe7ac8cea36b8b4e6fa145d345c0b14ef70afa42e2d8cbc1e9958858e86bd92</string>
			<key>size</key>
			<integer>18768</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgphoto2/2.5.26/jl2005c.so</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>aad0b857f564cda6b1280b22e271f1d574b8d73d48eaa3de75ddac2cfff7ca00</string>
			<key>size</key>
			<integer>31360</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgphoto2/2.5.26/kodak_dc240.so</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>b20f1b13ceeb758e6eadb38e21f7ca66acea444033821a376b3771031aeb948c</string>
			<key>size</key>
			<integer>26968</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgphoto2/2.5.26/mars.so</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>f7e14fa4c920017142beb7a2732d31337c4c1c5b0a271ffe7273432c84a9ef96</string>
			<key>size</key>
			<integer>22864</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgphoto2/2.5.26/pentax.so</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>6c1493dc3c962a80fcd6f60a1e3907747b6734c257d72716c7167a5c6aa26ae2</string>
			<key>size</key>
			<integer>160440</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgphoto2/2.5.26/ptp2.so</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>a2600064e4e5c1498e5c64d4aaab5424d828e1bbb9c2fd68bda6f64b6a931857</string>
			<key>size</key>
			<integer>1059384</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgphoto2/2.5.26/ricoh_g3.so</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>268cf8cd6426cca61278e6402e0f76b320514c9a6d0ebe85a2486f30b8dcdcbf</string>
			<key>size</key>
			<integer>22792</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgphoto2/2.5.26/sierra.so</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>b51985e324c38ef695d2e9f62d51b3be9d661b0d18a25351af7188b46f12ed3b</string>
			<key>size</key>
			<integer>138760</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgphoto2/2.5.26/sonix.so</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>3543b6fed1849f259065ca8bd6d8b27b9f853f9803799d01f9333654a10cd4c6</string>
			<key>size</key>
			<integer>31056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgphoto2/2.5.26/sq905.so</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>643dc77caca24b493abaad2e332323af9858a0c3d4487274a72f92788334013d</string>
			<key>size</key>
			<integer>22864</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgphoto2/2.5.26/st2205.so</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>4d68a46d23a9fcaf4762c1baf449d5b36913d7b28b844d5dd17d7061110f9472</string>
			<key>size</key>
			<integer>63752</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgphoto2/2.5.26/topfield.so</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>a1c0e4fba80d0d94e0e7992f179ddb3674f25496a8d470769924f3dc9ade366f</string>
			<key>size</key>
			<integer>30984</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgphoto2/2.5.26/tp6801.so</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>5c7151ca2d38d214ebb793322a2fa2fd7d4597d678acba09ff85fe771ba30cc0</string>
			<key>size</key>
			<integer>30984</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgphoto2/print-camera-list</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>f868d0db180752c5f1da2c456fe9f59f8e2c2a55fa50313db32ff13b1d55260d</string>
			<key>size</key>
			<integer>39064</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgphoto2.so.6.1.0</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>a1a0186913ebedd755f9aa93452167b4700f729e4c531f519265d513c2e1dac0</string>
			<key>size</key>
			<integer>149680</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgphoto2_port/0.12.0/disk.so</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>8c773581931220bceb90ab02ee24ac3bb1078c211cac7c7417412041f9953b9d</string>
			<key>size</key>
			<integer>14224</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgphoto2_port/0.12.0/ptpip.so</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>0fa35794dbc063b72c5e7b13df70f3080120ec8f2b0543b293e5cdb67f365474</string>
			<key>size</key>
			<integer>14232</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgphoto2_port/0.12.0/serial.so</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>96c506377ccdd66a5f72cac5a3dd07f01399772d1cc6551597058fd8da2d26c6</string>
			<key>size</key>
			<integer>18328</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgphoto2_port/0.12.0/usb1.so</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>35aecd258fceaa031925583fbdc5a32e123fea6ea7953b2115596685373e17c3</string>
			<key>size</key>
			<integer>38800</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgphoto2_port/0.12.0/usbdiskdirect.so</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>24fc2d2b495f2c42b0aa678a5425b16f15beaa5a8010d52f5ede5a71eb989f39</string>
			<key>size</key>
			<integer>14240</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgphoto2_port/0.12.0/usbscsi.so</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>b837c0b2f4f7900e8b91b3431dea790eba8fe2b72e9dc6eb1733b606d8cdaa87</string>
			<key>size</key>
			<integer>14232</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgphoto2_port.so.12.0.0</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>84b8751d258752acdedc9458bbf6a309e79771d1a4edb61286bc2e70bc41a013</string>
			<key>size</key>
			<integer>51440</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libgphoto2/2.5.26/konica/english</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>04df56cdc4bbef698e37b7a6b8e55403701cd64b52dc41f7075fc082ae45542d</string>
			<key>size</key>
			<integer>118596</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libgphoto2/2.5.26/konica/french</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>3a20428c9aaed9ec34a67d94c75e7adb6bd1018bbf09e673baca08956fb1c049</string>
			<key>size</key>
			<integer>120953</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libgphoto2/2.5.26/konica/german</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>45a6452da8be8c799ba45182b75c349db9127819acc8b48665d004be730e45a0</string>
			<key>size</key>
			<integer>121074</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libgphoto2/2.5.26/konica/japanese</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>6d57c6fd4065233fcff399e28d850956cbc33e11ffae41827ae93682fd04611b</string>
			<key>size</key>
			<integer>123328</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libgphoto2/2.5.26/konica/korean</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>7764fdd18123dec99b5f2b9c5be2ce4c36027d66d989b6e395e5cf2d584486d7</string>
			<key>size</key>
			<integer>123485</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libgphoto2/2.5.26/konica/spanish</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>9a10374663085bd89e34874e0618eba8302a2986dd8b74978ad6e69f93e36973</string>
			<key>size</key>
			<integer>121202</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libgphoto2_port/0.12.0/vcamera/README.txt</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>6a576336d3d54a52ff03f91482e7c0aaba932e311c98614ce0298216489db204</string>
			<key>size</key>
			<integer>1026</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/libgphoto2-6.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>4a00d7d02b520c46d75150c5affbfc088628bbe50b625496a05d18acaa6903e5</string>
			<key>size</key>
			<integer>202702</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/libgphoto2_port-12.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>842a46dd5c137c9f1224db7e57be1e9f5ee4238c445bdbe5d16db156a59483f6</string>
			<key>size</key>
			<integer>7812</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/libgphoto2-6.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>20620c24d2c90209b90388e1a1903402518e8c69ee2d4f1b85d14886c94309e8</string>
			<key>size</key>
			<integer>203127</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/libgphoto2_port-12.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>485287f6d2fcea27672052d31d60afc3bd841f8122fa1db83ee40c13bb270cc3</string>
			<key>size</key>
			<integer>7610</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/libgphoto2-6.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>254e99284a8a526efb03057dbbfd1c4c91fe3758157b4802cf221e80177f6dd1</string>
			<key>size</key>
			<integer>197470</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/libgphoto2_port-12.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>c37cae57231080945b8aae17266390010a36dd6ca5bf19bb37da7f005c42a7de</string>
			<key>size</key>
			<integer>7867</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/libgphoto2-6.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>e981507d2c256e9d07bd631e7e622498337fb19cc6a489b915c3af148f1a1cee</string>
			<key>size</key>
			<integer>133202</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/libgphoto2_port-12.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>9006d0501de2ee1e06c907b7a9638bb94704ce3e7b9388fa5e7084368e10fe7d</string>
			<key>size</key>
			<integer>8091</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/libgphoto2-6.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>255cf06046caba2c165f22a8cee6f9a6c6fd4d9013156c4828f27d96b100794f</string>
			<key>size</key>
			<integer>78468</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/libgphoto2_port-12.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>fb0dc424056f4036e836271b74b485f1198306ad4734da52255b64a6abcb727a</string>
			<key>size</key>
			<integer>4702</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/libgphoto2_port-12.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>97f60b4696be53fb0d21f356d4ddcb17ef09870a9ac6eae651f089d77c987f4d</string>
			<key>size</key>
			<integer>8122</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/libgphoto2-6.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>c83d1390d0e593456439b1d3df5f8eb6a34814042e98021b57d0ccf7d5fe4339</string>
			<key>size</key>
			<integer>227959</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/libgphoto2_port-12.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>edddf19b50d0e051699aa51dfaf24d85d0689fbffb7fbb37347bdcb01f8d1a9f</string>
			<key>size</key>
			<integer>8364</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/libgphoto2-6.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>4d1f54ea98869fc704eeec4b3e6846313c044fdefa1b0275eae5db098be2c42a</string>
			<key>size</key>
			<integer>52070</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/libgphoto2-6.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>3a3f963228185f8fcf2c29db2fd6c44175f1fdcb4eb291c876b146f0b1d78ac4</string>
			<key>size</key>
			<integer>110323</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/libgphoto2_port-12.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>db0bed9427d2dbff2c53e96ad7798c7fa2eecef980a847c07b6b5fed4af1be3e</string>
			<key>size</key>
			<integer>8000</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/libgphoto2-6.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>bf72640075f306fad79597c56bc1ad66014f2e2b18978150a58afbc2786c1143</string>
			<key>size</key>
			<integer>110808</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/libgphoto2_port-12.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>c7db3950aefbb5e5d6ead79d453ddeee6c6c4f447a4666627211adb2fdde45e0</string>
			<key>size</key>
			<integer>5629</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/libgphoto2-6.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>7546cdfd978beefb1dffd298c18768fd106b9ab06ce0a07d7fedca77239023e6</string>
			<key>size</key>
			<integer>160861</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/libgphoto2_port-12.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>08612ad876aadb0b30f9abec1b9c5ebeccc1b50d4d56458b4714b7ba8c8709d5</string>
			<key>size</key>
			<integer>7973</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/libgphoto2-6.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>887c635f045bd9e93e910525f4c2be2613329c97d5692029a42f7099d5118f6a</string>
			<key>size</key>
			<integer>222724</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/libgphoto2_port-12.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>d79d303d796667d5c24168148aaee5181fccad529dcab3bf5c96c039adc2b4b6</string>
			<key>size</key>
			<integer>8232</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/libgphoto2_port-12.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>6abee2ff85695cd4687e83f3e965fe7ab41b627cb225d11d59d2adfd713e4ebb</string>
			<key>size</key>
			<integer>8205</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/libgphoto2-6.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>5b69baf0fdc5cf27476820039637ae3eff3617b7a7a7ed3968fff147b1d9b583</string>
			<key>size</key>
			<integer>70601</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/libgphoto2_port-12.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>2372bbc3cfa8a4e524dc14d2e90bc2a401a9d19e847f0facf6a546545923fa9a</string>
			<key>size</key>
			<integer>10306</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/libgphoto2_port-12.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>9e1f40822ef3aaf53f75802c5e4d2a2a7d168cb535c205c7d3fac7cd575c0cd2</string>
			<key>size</key>
			<integer>7203</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/libgphoto2_port-12.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>7635e74b5f2f2699f8fc2ad886ea8ba2c0e18f8ffb3691d4a82389d00a1c2d7f</string>
			<key>size</key>
			<integer>10061</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/libgphoto2-6.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>66b8ba158031e5968f27413792e2bcef6898a9018651e5d8eeed87bcef20311d</string>
			<key>size</key>
			<integer>213264</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/libgphoto2_port-12.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>d0230585b3077956cb69174bc50efc1a50323e193079dcdcd102ad04f95e1dc3</string>
			<key>size</key>
			<integer>7804</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/libgphoto2-6.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>031af40cd1a0c8f59b1c18b1eeec6aad7de27d3bd12870767e5bb6f12491b718</string>
			<key>size</key>
			<integer>282995</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/libgphoto2_port-12.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>e9d0921442401b2ab73750dec6f29751a59bd057efbaa6299844fb1ac0742fdd</string>
			<key>size</key>
			<integer>10250</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/libgphoto2-6.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>521aca7bed42ae7212986affb5b9abda3d52281fcb99736375a5ab492b881fd3</string>
			<key>size</key>
			<integer>218520</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/libgphoto2_port-12.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>581115eb25459870938174b2609b1228b9926bbf9ffd258f044377758b875dcf</string>
			<key>size</key>
			<integer>8732</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/libgphoto2-6.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>b737428da1bdecf7303c8f3b0f283e15f1df830be6b27e5addc8635a72b2be1f</string>
			<key>size</key>
			<integer>54042</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/libgphoto2_port-12.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>10c6e7a3c9f064f1626e2b32dc9a08df3b8cc02a60cea809056c3b7cc96da324</string>
			<key>size</key>
			<integer>7224</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/libgphoto2_port-12.mo</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>sha256</key>
			<string>767eed98afca46157d2d024813bb336001e6765e677e183f918a293db5f38f8d</string>
			<key>size</key>
			<integer>7299</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgphoto2.so.6</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>target</key>
			<string>/usr/lib/libgphoto2.so.6.1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgphoto2_port.so.12</string>
			<key>mtime</key>
			<integer>1605297193</integer>
			<key>target</key>
			<string>/usr/lib/libgphoto2_port.so.12.0.0</string>
		</dict>
	</array>
</dict>
</plist>
