<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/an</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/an/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gd/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uz@cyrillic</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uz@cyrillic/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/Soup-2.4.typelib</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>4cb9160febad1e80dd9221dca4d770e5789d42433c46699cd4b04a9fd311d6a8</string>
			<key>size</key>
			<integer>108248</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libsoup-2.4.so.1.11.0</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>85dc887ad7d0a05bb93f32589bdbb93e213bb7917f8b94aa083d098e9b11292d</string>
			<key>size</key>
			<integer>629528</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/an/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>2cfa40d0f03a0b4addb5892659cca0add505e6a41c7ebbf4529b608d696342b6</string>
			<key>size</key>
			<integer>3875</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>eba0016f86282dab225e94efb474a865590dd1420b48a42335215e496fef6ae9</string>
			<key>size</key>
			<integer>3614</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>3c1e52fa8ae3e2ef239702bc2b6eacd754dd39c1b0265c79b64b17358afa2d85</string>
			<key>size</key>
			<integer>4597</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>092d58e4faaebd6e5e79e5873ef491ff337798ee0f8b3fbe6fa6e39e954e8e0c</string>
			<key>size</key>
			<integer>4632</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>82130270f682f16ce1954888991f0ba4f3e37da4b5317878aacc3b319f7e588a</string>
			<key>size</key>
			<integer>3579</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>493563c4810a5a9b4c2efcf053e494bff3c7db2b4410d2f1aa344196599be286</string>
			<key>size</key>
			<integer>2578</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>443e0072336f4ef91ee9197d0ad671a6946779e41d882d02955c5b4ddb3d36cf</string>
			<key>size</key>
			<integer>4624</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>27a069524a626b2839a53ffbd47e145474acf5bf3249d09ffe45f71f437b0382</string>
			<key>size</key>
			<integer>4060</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>3e9d82e0b205d5d0cb95a00e67a4996f621de7f933f35777f6f493630f7297b0</string>
			<key>size</key>
			<integer>4406</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>c8dc5f392c887594d26404e946a388dda5ee10f8fec8ff2776b4256e7b28c40c</string>
			<key>size</key>
			<integer>4151</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>54e912472256672158f4ccb0535dc0323d790cb98af6450c188256fc719aea86</string>
			<key>size</key>
			<integer>4435</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>5ef1c4577faf9685c34ccce12591bd0934dcef31df2ea7e2eebf74e3532ffcf8</string>
			<key>size</key>
			<integer>5102</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>e4fbf1c01c9d97188cfbbeae6d7e29b5bc4ea1a3459822b11661f761b17883c9</string>
			<key>size</key>
			<integer>4019</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>bd95e172d03673c3a9587e04b1f6a53a286e261815c76abbdce592a21a3c6731</string>
			<key>size</key>
			<integer>2241</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>8b107f749f554ecfd678d227049939f2a1f30498082cbbee338d356e9818c338</string>
			<key>size</key>
			<integer>4519</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>4b3f6489c5ffe4ef5b1b80fdedb99b340d3f7837713555962a5ff7ab4abf20f6</string>
			<key>size</key>
			<integer>3669</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>7ab495ca9d4aecaf1b302b510c9b87b6282902546ce11d5fc75daa98d8ddf823</string>
			<key>size</key>
			<integer>4285</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>d94f20ad6c8767eedd3714b07df24fb0f96f5d593c06c0f983e8ad1b53547ed1</string>
			<key>size</key>
			<integer>5030</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>82727f17cad28e37d3cc69e2a2337d2cd400648beefd33681eabf9c2f0be125c</string>
			<key>size</key>
			<integer>2575</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>9bc45eff02333691dd41f38110f88046d84025f4e0c405df132aa85e00f802a4</string>
			<key>size</key>
			<integer>4579</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>4e3fb909754dfedfd4224a65357c2c8ac6c95143891581a6090aa7ab2d0dfd4d</string>
			<key>size</key>
			<integer>4325</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gd/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>e53f5edc892664d68a5a4b3cb605714e0a021f366700a65826b34a7f18c1a11d</string>
			<key>size</key>
			<integer>4237</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>9a1dcc8ae330692fa8efda374d5f57ec8bc3d545037a1ebef70df9d84b0afeca</string>
			<key>size</key>
			<integer>4476</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>605f21d20b3952f4241fd9da5c5387dcea1d947069e6c9ace6cc10f000a194ab</string>
			<key>size</key>
			<integer>3555</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>8dad20033e4f1f5292ff5101c0a306e33fcc4f7984d152325cd738c3e15d50d4</string>
			<key>size</key>
			<integer>3986</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>d555a9b0f12d711a67bced28cef34c5141f8d021ab57547b595c4f9e3ce1cdee</string>
			<key>size</key>
			<integer>3681</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>bb7ac1ebc68a9493a0703b13998101a06f363c3b208071962949b2bb6a3324d8</string>
			<key>size</key>
			<integer>4271</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>90900df771007bf6feac0f7c31f8d32a5705e27a584648737fcf138637e5d279</string>
			<key>size</key>
			<integer>4461</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>25d283aab6d206fac189310c772511302e574c5ef55b38db3e4be63222b36d7e</string>
			<key>size</key>
			<integer>4179</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>c12e2ba14988e3cf0e262ef1b9c17b39b90cadc14eccef6ab2c1bf378d051729</string>
			<key>size</key>
			<integer>4389</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>f507a79fcd2a53bee588e0d86022b2fe6deade06becc6878490da464e31ebf73</string>
			<key>size</key>
			<integer>5050</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>8e49548624b66de20af3b72f603cf86df80e534397392901204ff145335de724</string>
			<key>size</key>
			<integer>4214</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>47c562a331bcd974d1d32a0bda245058fa4968f07e2aba0fb55508583080b392</string>
			<key>size</key>
			<integer>4737</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>8f64bc70772d3bf972b4ec2c2aa02c042a743734a7032ae68c969a16d14caff5</string>
			<key>size</key>
			<integer>4345</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>398d702680cd0e153821c2aab904da96686e2e89a45242226ce8b2e1cf9453d9</string>
			<key>size</key>
			<integer>4315</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>5d55b4d0d37fbe185eac744274d71036b2ff56558dd7fe095ec3e0fa43626d71</string>
			<key>size</key>
			<integer>3327</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>08373065f0a9c76e4040cee90d5aad1bb9cddaf07bc922463d9d8cde1f3d3226</string>
			<key>size</key>
			<integer>3490</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>b5f75cb1e4d5ddf21223408640b3ab6ae9b4e870550054ad491aef72b2ec9234</string>
			<key>size</key>
			<integer>4064</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>f1eccc878b3e27dd119fa7616fedd929b37ce99b8c68f3c3f79ea01b597c35ab</string>
			<key>size</key>
			<integer>3628</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>5a09b0b5cacafa7022f706028b3afed96e019c67b70a5ecc3fdb92142d5a9dce</string>
			<key>size</key>
			<integer>5256</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>4af85b88ca2d9de3e9f2ba3b081275370977e7172655cc875d5b1d052541c34f</string>
			<key>size</key>
			<integer>4143</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>1a9518f9190f742af4bcd3281af47ebe1cd8860e6fc5f31b90ff5ac8f96390bf</string>
			<key>size</key>
			<integer>3901</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>97e114e8a6fb73ad33929bb54dd6b16f00d11b19aaa407435831f4e67849a88a</string>
			<key>size</key>
			<integer>3761</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>8c8d32307804c9ddae48a6c8a237b924dacc0984d6b5984006d902b7a525e686</string>
			<key>size</key>
			<integer>3555</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>34377e2cd8c01d9e92b5e098cb9fac32aa922c8e80780b72b476462bd9ac58a5</string>
			<key>size</key>
			<integer>4469</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>1a696b5f12b609baf7b3e88d2439669ad968d1f08986aef5342f0f4e2038c5fb</string>
			<key>size</key>
			<integer>4229</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>29247340e8a34994b66bc5df5edcab9c7ffe5e4eff9183e2b37b0951ec5fac46</string>
			<key>size</key>
			<integer>4521</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>251b1fd59cb4b7f93905ffd1c604fcf96009072d5e585565a7e68ff9585fd3ab</string>
			<key>size</key>
			<integer>4385</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>0f9f8e60651961817a04205c011f300d3bbda018b1692deb123d413117a0eb18</string>
			<key>size</key>
			<integer>4864</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>a8bb469680481c5ffdd26371175228169a9ec92a6709992781de839636ea6f97</string>
			<key>size</key>
			<integer>4564</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>c4c9c90d05707def23563a1160535ceacd0a3a644bdbcfdcc661175e684238ec</string>
			<key>size</key>
			<integer>4390</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>8f3b02eba292d32a3c79b56ae245690f72d9cb3bbcd5aab1b72f5e205b137178</string>
			<key>size</key>
			<integer>5579</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>aff58b07880b0fa8ef8562588e2aca9e339e8ecb1abff0f3280b6f421bf9f396</string>
			<key>size</key>
			<integer>3932</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>d6f848a81f67c8e3fb0eb53500f42b410616feef459d38999410caa07e46b2df</string>
			<key>size</key>
			<integer>4201</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>f2574bd4a55e690f6e9390003cc4e690030222cf0e9d1bc40d108550c5c9bac6</string>
			<key>size</key>
			<integer>4150</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>68fbf9bbd6c9370e673b8d575c14d88c3bcc988fef001db317602adb15705723</string>
			<key>size</key>
			<integer>3726</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>9afaec2fad96d4ca47e64100a79bcd511fcbd3c0ce0ebfd76046ca6cad55b6e4</string>
			<key>size</key>
			<integer>2561</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>e039593f7e6882c2c64554bebfed5e7c91e2d6326e4fb57d74294a9a25bec366</string>
			<key>size</key>
			<integer>5206</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>a4b586ec6aa7e5bb6200eff7c0d2403c8d0766159ed5328eaba06bfc9f7c16ce</string>
			<key>size</key>
			<integer>4355</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>47bbb09272ec06c0144a271154eaea2c06b9afd1f41c08b6ab706cf77497bff5</string>
			<key>size</key>
			<integer>2454</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>7d100d511b64c94f044e7aacd38cf021398d8152dfb21aca867700207af0a7db</string>
			<key>size</key>
			<integer>5435</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uz@cyrillic/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>4e61cdbe7688aa75d03f2a4d1c20aaf6d2404dded5ec74ee8723bbd8c4316fca</string>
			<key>size</key>
			<integer>1795</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>1114b6a3ff601ec64290ce5aee5e96d92280a5779e726f480361889fb17131e6</string>
			<key>size</key>
			<integer>4044</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>b0ece846d1f2270950620fbfd72195d674d99e497ff43b706e76ac01de15c218</string>
			<key>size</key>
			<integer>3978</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>660a245cf1d3707d5a22618fc3a93fbb0a80b3421b5e695f56ff8c93da4e1e64</string>
			<key>size</key>
			<integer>2445</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/libsoup.mo</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>5aaa07762204d3d2eb5a1bbf3227373e84dd6bbff7a8c4c040ff6c6a2a1f55ff</string>
			<key>size</key>
			<integer>3902</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libsoup-2.4.so.1</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>target</key>
			<string>/usr/lib/libsoup-2.4.so.1.11.0</string>
		</dict>
	</array>
</dict>
</plist>
