<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/papersize</string>
			<key>mtime</key>
			<integer>1562526166</integer>
			<key>sha256</key>
			<string>45d4092eaee6f02f2cc68e27fa7bdac6d84af6ed36a01052d195621f8aaccfb9</string>
			<key>size</key>
			<integer>68</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/paperconf</string>
			<key>mtime</key>
			<integer>1562526166</integer>
			<key>sha256</key>
			<string>04768c35e7e5b968074b006762c29dea8d5b7037306d27394d0cf1b9d30bd72f</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/paperconfig</string>
			<key>mtime</key>
			<integer>1562526166</integer>
			<key>sha256</key>
			<string>859f8a4e92fa67ba1c436e0e3219566dda3b388969f95b3b3614b6385220e33c</string>
			<key>size</key>
			<integer>4170</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpaper.so.1.1.2</string>
			<key>mtime</key>
			<integer>1562526166</integer>
			<key>sha256</key>
			<string>851a7e0860b0e6e455a62ad25138df4abca525505a92ed3fc5c874999674164d</string>
			<key>size</key>
			<integer>19776</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/libpaper.mo</string>
			<key>mtime</key>
			<integer>1562526166</integer>
			<key>sha256</key>
			<string>dd80ae20806f86407163d6e5561d219f119ccb48883cae6a97d7e9418aea845f</string>
			<key>size</key>
			<integer>2282</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/libpaper.mo</string>
			<key>mtime</key>
			<integer>1562526166</integer>
			<key>sha256</key>
			<string>d08a84587159acef2ef45b1556472077215e748f1a072df0732b7fce9fc95412</string>
			<key>size</key>
			<integer>2198</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/libpaper.mo</string>
			<key>mtime</key>
			<integer>1562526166</integer>
			<key>sha256</key>
			<string>e499b04d096d68ceec86446db950c76ddc12e62e9d7f17ee9deb661f553966ea</string>
			<key>size</key>
			<integer>2266</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/libpaper.mo</string>
			<key>mtime</key>
			<integer>1562526166</integer>
			<key>sha256</key>
			<string>c95c6d37554fbaa1d62248e46b1b5e19b06c65b8628bac2f42357e2d7fe18b3e</string>
			<key>size</key>
			<integer>2288</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/libpaper.mo</string>
			<key>mtime</key>
			<integer>1562526166</integer>
			<key>sha256</key>
			<string>626473c8b771e089f9f9a79d21d06d35a289fa51509ece36036fc78e5450a2a6</string>
			<key>size</key>
			<integer>2300</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/libpaper.mo</string>
			<key>mtime</key>
			<integer>1562526166</integer>
			<key>sha256</key>
			<string>745b22b78309e15cc0e7739f41c1c23dde6a24884597eac453aa73a84fa21e33</string>
			<key>size</key>
			<integer>2276</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/libpaper.mo</string>
			<key>mtime</key>
			<integer>1562526166</integer>
			<key>sha256</key>
			<string>4ea6f682e64e02181f08222be5e84fcb053934c97b47ee66842cf44c6677f02f</string>
			<key>size</key>
			<integer>2251</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/libpaper.mo</string>
			<key>mtime</key>
			<integer>1562526166</integer>
			<key>sha256</key>
			<string>0025ca6cbf339bf00bf8774fe106a855918b73beeb244fac2d6f665ced9fc27d</string>
			<key>size</key>
			<integer>2244</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/libpaper.mo</string>
			<key>mtime</key>
			<integer>1562526166</integer>
			<key>sha256</key>
			<string>66d443f7cb9633a5dd38fdd7366776f76c2487fe5da4e7274bd960d0be2f2852</string>
			<key>size</key>
			<integer>2210</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/libpaper.mo</string>
			<key>mtime</key>
			<integer>1562526166</integer>
			<key>sha256</key>
			<string>ee7e633ff8d7eb71514a434b079550ccf410b7a3068c21e2b285d8c0c2a3d854</string>
			<key>size</key>
			<integer>828</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/libpaper.mo</string>
			<key>mtime</key>
			<integer>1562526166</integer>
			<key>sha256</key>
			<string>a9acb6cc4840d92a174cab3abf28b33cac9748d9d00e06c4fa73b1387f8fac3f</string>
			<key>size</key>
			<integer>2200</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/libpaper.mo</string>
			<key>mtime</key>
			<integer>1562526166</integer>
			<key>sha256</key>
			<string>632160f53cde80587a0749461b142deaa4a49555ad0cfc8c137c7ba1e0d3b5b6</string>
			<key>size</key>
			<integer>2413</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/libpaper.mo</string>
			<key>mtime</key>
			<integer>1562526166</integer>
			<key>sha256</key>
			<string>cfb43611618e27b6866750300f1fef94e13e300389ad479d2bf5b6df0b7c59e6</string>
			<key>size</key>
			<integer>2691</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/libpaper.mo</string>
			<key>mtime</key>
			<integer>1562526166</integer>
			<key>sha256</key>
			<string>3ccb2adaa99114526540fe76aba3c31c650406345e42550a6c7f57250adca2d3</string>
			<key>size</key>
			<integer>2413</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/libpaper.mo</string>
			<key>mtime</key>
			<integer>1562526166</integer>
			<key>sha256</key>
			<string>10e8a16f4468501d071fe3ed579111066444f810b077fd78043dce0429116e5f</string>
			<key>size</key>
			<integer>2298</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/libpaper.mo</string>
			<key>mtime</key>
			<integer>1562526166</integer>
			<key>sha256</key>
			<string>199b7d1be5d85c6a579568c988b508eb11b434635b7920bf62598038b9214a89</string>
			<key>size</key>
			<integer>2328</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/libpaper.mo</string>
			<key>mtime</key>
			<integer>1562526166</integer>
			<key>sha256</key>
			<string>8305d44eea5e9ae6fb27f6d6f3e61a05dedee4083c93e1e1fb9101be184b3ac2</string>
			<key>size</key>
			<integer>2363</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/libpaper.mo</string>
			<key>mtime</key>
			<integer>1562526166</integer>
			<key>sha256</key>
			<string>ac43e2a0e774df0cb3878026f9b3228078dec0eb9e2f17eca0ab826204aa3505</string>
			<key>size</key>
			<integer>2300</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/libpaper.mo</string>
			<key>mtime</key>
			<integer>1562526166</integer>
			<key>sha256</key>
			<string>c2a3e2185fba0db729ae0ab35b0270d535da6f1888756f6541e6eab3aea8c009</string>
			<key>size</key>
			<integer>2293</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/libpaper.mo</string>
			<key>mtime</key>
			<integer>1562526166</integer>
			<key>sha256</key>
			<string>2fb10ed8c4e96b633cfc430cb661511fc92dc7c2f6ddbb6914bbc150fa222c02</string>
			<key>size</key>
			<integer>2277</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/libpaper.mo</string>
			<key>mtime</key>
			<integer>1562526166</integer>
			<key>sha256</key>
			<string>5b712490c39b0b7faaacebf62a234d37b76e730b359cf33161e9a5013fb0a7d5</string>
			<key>size</key>
			<integer>501</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/libpaper.mo</string>
			<key>mtime</key>
			<integer>1562526166</integer>
			<key>sha256</key>
			<string>8d4e4fda6b46afdfc3a92377bdf59d73c378a52c92b98324d81294775cba81dd</string>
			<key>size</key>
			<integer>2383</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/paperconf.1</string>
			<key>mtime</key>
			<integer>1562526166</integer>
			<key>sha256</key>
			<string>abd84580c7abf663ac60ce65351e7539f6b6092395f7ed641b8d22a24a11e177</string>
			<key>size</key>
			<integer>2037</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/papersize.5</string>
			<key>mtime</key>
			<integer>1562526166</integer>
			<key>sha256</key>
			<string>70f4869743a8cbc0b85d8c96114482e896c0c2358d0c2ae069a013536e71a4f0</string>
			<key>size</key>
			<integer>1890</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/paperconfig.8</string>
			<key>mtime</key>
			<integer>1562526166</integer>
			<key>sha256</key>
			<string>192c5e60615e673e2d3ae95a036f1a521a848b0f6c1c690dd8c52bb96a96f5c4</string>
			<key>size</key>
			<integer>1783</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpaper.so.1</string>
			<key>mtime</key>
			<integer>1562526166</integer>
			<key>target</key>
			<string>/usr/lib/libpaper.so.1.1.2</string>
		</dict>
	</array>
</dict>
</plist>
