<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libjpeg-turbo</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libjpeg.so.8.2.2</string>
			<key>mtime</key>
			<integer>1608187495</integer>
			<key>sha256</key>
			<string>f31ca8a9b7b70887ff24a09fbf3e0830820f5176511e07f085379babff09d331</string>
			<key>size</key>
			<integer>616512</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libturbojpeg.so.0.2.0</string>
			<key>mtime</key>
			<integer>1608187495</integer>
			<key>sha256</key>
			<string>165d3ca0ce2b0b47a92dea437700de833d9d4941b7249ab17d20d7605c298a3d</string>
			<key>size</key>
			<integer>731536</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libjpeg-turbo/LICENSE.md</string>
			<key>mtime</key>
			<integer>1608187495</integer>
			<key>sha256</key>
			<string>0b7a24c3906d26dfbe24e96e9415549b387c3227140dc6b7ab2fb924254e37a1</string>
			<key>size</key>
			<integer>5209</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libjpeg.so.8</string>
			<key>mtime</key>
			<integer>1608187495</integer>
			<key>target</key>
			<string>/usr/lib/libjpeg.so.8.2.2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libturbojpeg.so.0</string>
			<key>mtime</key>
			<integer>1608187495</integer>
			<key>target</key>
			<string>/usr/lib/libturbojpeg.so.0.2.0</string>
		</dict>
	</array>
</dict>
</plist>
