<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/sbasic.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/scalc.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/schart.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/sdatabase.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/sdraw.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/simpress.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/smath.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/swriter.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/readmes</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/autotext</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/autotext/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/registry</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/registry/res</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/default.css</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>6d04dc16440e3d50ed2566937915195a2d5e08de91aa98ac6e38eea136879885</string>
			<key>size</key>
			<integer>3065</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/err.html</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>8fb3fefb07d55c32bfd3c820c0442768ebe00a95e5633b8874eb297ca3907fb3</string>
			<key>size</key>
			<integer>2075</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/highcontrast1.css</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>cd779c8043d26b12b9dfe89bb839539a97af48e8ab1ef404d6ff1ea62d195adc</string>
			<key>size</key>
			<integer>3056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/highcontrast2.css</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>9b01fd25451c7cf339dc78d0232a389a592ee24ff283b730001001df04522d3f</string>
			<key>size</key>
			<integer>3056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/highcontrastblack.css</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>50cb1fe1470102418c7414735d249a034c5276bf13b3c9273e64c38b93ba58d3</string>
			<key>size</key>
			<integer>3056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/highcontrastwhite.css</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>73e3ecd87f89163f119d088fafe96913cadd7e624aa29cd706f2880f2e060115</string>
			<key>size</key>
			<integer>3056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/sbasic.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a128e7469911c74c40249ce5067cf147858930a4e61a01e9bc71cbe1fde98010</string>
			<key>size</key>
			<integer>929</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/sbasic.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>3fafb41d112f06dc6478719e9b1496b6869a780d633790f3f7e1689e893cc0ac</string>
			<key>size</key>
			<integer>786849</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/sbasic.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>c73b804cc2b779b7766ef90b7e79c27e4334efbc57dabc92e087c0b9f927b9ca</string>
			<key>size</key>
			<integer>610337</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/sbasic.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>c94b69461b05b5b1cfc8b7d38a84a838f3b1b236da643132174721b284cf8671</string>
			<key>size</key>
			<integer>752764</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/sbasic.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/sbasic.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>429b6a1e4bc275f3d8ff485cbb32daa9cd569d22370ce5fbf74fcdb6b040a8bf</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/sbasic.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>f035e127488d7f5c3043da4708c14d1747f55854eec4a48f1d1930804cfd3b5a</string>
			<key>size</key>
			<integer>1624731</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/sbasic.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>5362cbf1f87b6f59d9849b8ac2b5b3cbb3478fe9a97a7fc4b9eda35259e0e75d</string>
			<key>size</key>
			<integer>224369</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/sbasic.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>9cdc481a5210d5a027254ba5e4203a79463bf3dc44ad2ea6bb215acc13901896</string>
			<key>size</key>
			<integer>33101</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/scalc.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>709c4a323d2faa701dbe1e7be1cb82d997907675ab1d9ad13e26f7e89b2debad</string>
			<key>size</key>
			<integer>916</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/scalc.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>d599e3c6fd2629cd94f610ccdab1ce226dd26b660426b28ec5594156b97697e8</string>
			<key>size</key>
			<integer>1024994</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/scalc.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>8ec25c0c3351548a35c157212554ebea915ec09098afdcd13b8af0e9ff408d15</string>
			<key>size</key>
			<integer>790032</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/scalc.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>1817d06b36b48e6c1f4f560798acfd2b9a3ee56edd780df34ea3082de1a33492</string>
			<key>size</key>
			<integer>952698</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/scalc.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/scalc.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>5f8fce2f2a09b25768f5f23882b89af7f5684d3375d0d1c93d653f7cdce49add</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/scalc.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>26c2d95a4cca9ac6b0f89ceac22b45fa6d82965e7fb5c2dfc58ecdc40bb1cf8f</string>
			<key>size</key>
			<integer>1889916</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/scalc.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>ef4e67a77aee6b628ee6798ea823d89cc0110a2cfb4d72731f0c91524744e526</string>
			<key>size</key>
			<integer>320555</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/scalc.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>2f93b22a7f312876fc62b1d3dee41ce8f554abf7ef417039b5cf12ef274e6b00</string>
			<key>size</key>
			<integer>13571</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/schart.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>4e4303f10f31da9b8abb0776fd9f2481f1541a00116fef22f21a0102bc883a5c</string>
			<key>size</key>
			<integer>919</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/schart.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>9f9b9defc83aab4b1e54a509b42f932c7414f2d4b53e6a2413fae640985b7a32</string>
			<key>size</key>
			<integer>754263</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/schart.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>d997c5d127c6fef6524dce566e5bdccce74428e15c0c77ba7daec7412e96b9dd</string>
			<key>size</key>
			<integer>642413</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/schart.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>dc9b806d809084936413416c270d2811d2d175f9e6d109e3526e3bb6863342f0</string>
			<key>size</key>
			<integer>627621</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/schart.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/schart.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>72b555dd2860e72336cac0bca5d6aa03d1de155d922e21ffbac13a454860fb13</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/schart.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>38b70b3847a8e9c47d30298136dfa2942b345f3b5134bfe719bdc0244775760b</string>
			<key>size</key>
			<integer>233854</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/schart.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>21634332007094c7420bb7af5c74c1e0cf95169611fb7ff0327712fd3d745b9d</string>
			<key>size</key>
			<integer>186197</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/schart.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>3d54cd4300d598ef1f6274a1908fb269f8abba4f7cd6cd65b891550258c31ecb</string>
			<key>size</key>
			<integer>1305</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/sdatabase.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>dd8976c0435a7aa34f7532fc1d9ae04c4d639b33c81497ed0efc9719529937c6</string>
			<key>size</key>
			<integer>940</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/sdatabase.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>8beadac33370fdb189de46a509ea794464ab7b05111712e98595938b4f94d1ca</string>
			<key>size</key>
			<integer>696101</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/sdatabase.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>5e93d89100e41b15b88ece17775d2997127fc2666c66bc3b34209601c715b8a2</string>
			<key>size</key>
			<integer>592999</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/sdatabase.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>c8e459f737ead052c28d1976ce9681ec696bacc7f2d0bf488c6b7bf495daae10</string>
			<key>size</key>
			<integer>592025</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/sdatabase.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/sdatabase.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>2c1f79d3eb90ed07372ca6660c643425a0168193cbe051fd1ad0782473e0c043</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/sdatabase.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>eff318da2f203341513ebc21adf97e8a017b0cef5ecd97aa864f0cf333ed2ce8</string>
			<key>size</key>
			<integer>3971</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/sdatabase.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>b1480338fa14054976de64ef2e1d6265b307804ef562f313e193f4fed84e7ee9</string>
			<key>size</key>
			<integer>177976</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/sdatabase.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>3b064776ff6a912bad57978f3b6a8caaf16c6b29f9c9777d4cad4813a21a6494</string>
			<key>size</key>
			<integer>2075</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/sdraw.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>91160976801bc6f3836b8bb8bde7d2bfbcb1301a5c00817cfd4286276f13ef0a</string>
			<key>size</key>
			<integer>916</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/sdraw.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>e8c86dbefaf7a131fffa57a67ed3c67bbb58b6883900d82bc372267453b0b8e0</string>
			<key>size</key>
			<integer>861608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/sdraw.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>bb6849f4149fe1708879126b8cac59da4bc0e14260b90e78cf66822f719652ea</string>
			<key>size</key>
			<integer>720710</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/sdraw.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>089b65b4b638ad3517ddb2fb55f553052b559aeea1c34e1f4734a538bfb03268</string>
			<key>size</key>
			<integer>742575</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/sdraw.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/sdraw.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>be3ea6bc4b2de4d3a1d729d62918cb10a75ae9729cc4dd6077485d6263d9857f</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/sdraw.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a69eb0f33138616007aa593a0f9d7b9d811e9ffb24e4528258654d4188131d29</string>
			<key>size</key>
			<integer>120885</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/sdraw.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>aa997291386aac885bcc9d5d98ed62b028f90f79a812ff5412d13b6b3bd1c2c2</string>
			<key>size</key>
			<integer>224566</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/sdraw.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>2dc8e40c9adc14e38486cad6ba5cb525000c819e7935df19994e2627b881f9d7</string>
			<key>size</key>
			<integer>7703</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/shared.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>76b1f17c7b6899098af693321e1e38e943c015869f727bd4a4e10851ca012302</string>
			<key>size</key>
			<integer>3513146</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/shared.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>58672a386993128ba8b8d8ab1f50750b4741b7b0745dccc99df58668494c7f9b</string>
			<key>size</key>
			<integer>14721</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/simpress.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>0f92d450e8d89c3f43e5bd5f39d1575db3f34a3e7fa3c911326f31c52212a8a7</string>
			<key>size</key>
			<integer>925</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/simpress.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>dee3760834cb532c1956c5eaa0974b39da0da5648e07bd79c3359b43c71614a3</string>
			<key>size</key>
			<integer>861976</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/simpress.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>2abff2d3c3f75b0bfbcc29cdd2fe8edcf44a6fce9e33842cb601737781ed101e</string>
			<key>size</key>
			<integer>721733</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/simpress.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>2acad5ed233b7e514adbb0a4482aabea13eb91882c39356a1767effbee75d91b</string>
			<key>size</key>
			<integer>747239</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/simpress.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/simpress.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>135c1832d4db31b8a530d0c1016a500ceb23a7962105283c3d9a10aee214da9a</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/simpress.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>28fd03ceeb371bb552ce076d496abb758396dbaeac8c67abd01fdd4eea167dc0</string>
			<key>size</key>
			<integer>556988</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/simpress.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>05c8db9fbbdbea0b446148b46f401e66c136a481eb549ca1ee9807cbdd7e6eaf</string>
			<key>size</key>
			<integer>224566</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/simpress.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>3ab3601f7ea7c7f86aa61d775ad2472cd3490b2cd23e9f00b0f80d8a427dacec</string>
			<key>size</key>
			<integer>10704</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/smath.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>56054ffb8810b4508d79f2194eb34f3905f95bec35254ccdde0a6a3fc6682278</string>
			<key>size</key>
			<integer>916</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/smath.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>d5888fb3760cd2b1773201029254628d5e6ab1aa1d458a587c381d1301c4e819</string>
			<key>size</key>
			<integer>739583</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/smath.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>1f0f7be0ae514254896e10e66f4bfd91f5f69f25c75f5c59dbfd5bb73dbb035f</string>
			<key>size</key>
			<integer>623204</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/smath.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>0401505a5f852d8ab90b4f2ffd92c59ed85448f8fdf0744d237daeb263129f04</string>
			<key>size</key>
			<integer>639755</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/smath.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/smath.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>32ec0d0b3029f67a3a1139de395f45b44433683ad8150b8710e4169e0443bd1a</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/smath.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>34be2201e6b3a64b22d5a159136461817ea1e12c99188509f2f870e8ffbfba15</string>
			<key>size</key>
			<integer>342611</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/smath.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>c0bc6c4adc8fb377ed951e872a97f432103f0f030215263f54177a2dc666b257</string>
			<key>size</key>
			<integer>204546</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/smath.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>b07b6a7f4f6800b05583f58a2003878ef2888da9768a914844738d0a97dee359</string>
			<key>size</key>
			<integer>3210</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/swriter.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>e139174cf00730f562c96e7cdce47e431334d517e2613554e25fe2a3a421d977</string>
			<key>size</key>
			<integer>922</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/swriter.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>584ccd07cef5a92204fcf06d7c0218eb1f916829238a80c4207c2dfb327c5c72</string>
			<key>size</key>
			<integer>991521</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/swriter.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>d00d436a3797e17e02194287cbd5db9ab231c07b7733ddba0b6d0bc0144cdcf3</string>
			<key>size</key>
			<integer>815045</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/swriter.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>4d2046648c27ee223dd33123771ec595884fbb107d323d89d3cd9a8addeca34a</string>
			<key>size</key>
			<integer>874274</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/swriter.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/swriter.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>2237dcd8687a12c8533f5c5ed0bd93e1f834a1b686754378d29b1592cf065683</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/swriter.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>63063fb52853599db72d83ad14f9870f70826bb6abfb47536f1d0f05b9453ee8</string>
			<key>size</key>
			<integer>1373471</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/swriter.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>c4361b63c4c7a4733da533dd59ec8f031a2c500fc7d50372c14c817c5b3b8ed5</string>
			<key>size</key>
			<integer>263243</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/nl/swriter.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>ae4f372522715d316b999549ecbf208b3de53c55a196ac34b9825bdc7e2ac320</string>
			<key>size</key>
			<integer>18160</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/nl/LC_MESSAGES/acc.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>e53558296cd038cc26c74a73cc73d7388509c2edd38e971f6db1ae19231eb98d</string>
			<key>size</key>
			<integer>1451</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/nl/LC_MESSAGES/avmedia.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>89b4d579af467669f020b347bdd8942e45ac6a6e1f5a48b0dcfbd1031a24de26</string>
			<key>size</key>
			<integer>2117</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/nl/LC_MESSAGES/basctl.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>508760ec50ab069ec553df3ec8f4d37e8c219678ee52f705d317a1a0a3052b47</string>
			<key>size</key>
			<integer>16339</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/nl/LC_MESSAGES/chart.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>bc7183043bcac1b5fbe1d9b399a4dd4af012ec39dc70406758af6e8a964d1d0d</string>
			<key>size</key>
			<integer>52415</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/nl/LC_MESSAGES/cnr.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>f4d25db031e30fc8ef942da83fc046e65ee22de0accf168ae618959af7f3ad80</string>
			<key>size</key>
			<integer>19496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/nl/LC_MESSAGES/cui.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>129e93b72ec9e4810b5862f6a471a0516c67cb5e7750ff7d88204bf48851b243</string>
			<key>size</key>
			<integer>267908</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/nl/LC_MESSAGES/dba.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>bc96989ad80db153d62d91b4200c19f821e3437ee895737303793534c3be1980</string>
			<key>size</key>
			<integer>93025</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/nl/LC_MESSAGES/dkt.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a49987636012c34f020fc7efbf0d60019abf6c8db457b29f388f7c960642e9be</string>
			<key>size</key>
			<integer>26643</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/nl/LC_MESSAGES/editeng.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>5ed3eebbf3c20891b6c194843a3b79477079b030a94a507e30df7b96f7250a5b</string>
			<key>size</key>
			<integer>23913</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/nl/LC_MESSAGES/flt.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>fed068222ff114506875e3d0ff05ca904a2ea5a1aacbe85519a94d4a5776cb20</string>
			<key>size</key>
			<integer>22489</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/nl/LC_MESSAGES/for.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>11c99b2b49ad1db517fdcab2cf81d7ace6d6c1ecae0ff5eac64a67b6517cd083</string>
			<key>size</key>
			<integer>29538</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/nl/LC_MESSAGES/fps.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>23f03bd537df0a5ad4e12c6bc4505645765044ce46c5e94aae3561709a35e745</string>
			<key>size</key>
			<integer>6430</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/nl/LC_MESSAGES/frm.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>061c23fbdb9078edddfaf89bbea32fa448ecca43d00c5b29fe9af4cec3fe2398</string>
			<key>size</key>
			<integer>7471</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/nl/LC_MESSAGES/fwk.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>68ed3dfe3c123bddb49fa083f9441cb699fba9849458abb78ddacd012b4d159b</string>
			<key>size</key>
			<integer>5030</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/nl/LC_MESSAGES/oox.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>ff2d3c49fbacfb256f9b0b5d872217a16a9bf189d67269b103f39fe2dc776812</string>
			<key>size</key>
			<integer>721</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/nl/LC_MESSAGES/pcr.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a252825ce75599ce33a7b1bc98609d4bb19d9cc4accf8dee6551d5ebbf2c62eb</string>
			<key>size</key>
			<integer>60375</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/nl/LC_MESSAGES/rpt.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>8f6c4caaac8c70a7f66f2d503763a0d4f63ace1f85594db9777d54e2244e1acc</string>
			<key>size</key>
			<integer>20839</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/nl/LC_MESSAGES/sb.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>e6c03e73de101d8912b4df2e4459e5c8452dd28a9d1b251da348e2fb36926bdf</string>
			<key>size</key>
			<integer>13725</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/nl/LC_MESSAGES/sc.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>23a264eb1b75a6b915f91041f40b9c6f425827fb85e5476a7ad7874d8506d0ba</string>
			<key>size</key>
			<integer>478087</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/nl/LC_MESSAGES/sca.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>14e2eb1aab640a30c20259efb94e7c464cfa47e727e81966bbb4ea39430aff41</string>
			<key>size</key>
			<integer>79648</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/nl/LC_MESSAGES/scc.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>58ed111faf4849169f170c20b958245b81d16f6aad9a6d223ca6fc2ce177f556</string>
			<key>size</key>
			<integer>2237</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/nl/LC_MESSAGES/sd.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>8db662da1076e305e8b0a47691167c5612ffaa8d5a4cb9955c40b0f569720524</string>
			<key>size</key>
			<integer>112261</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/nl/LC_MESSAGES/sfx.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a14e389dd0753234723059177d92b64f3d48c0b34929d975c635e9062d9c2a62</string>
			<key>size</key>
			<integer>64617</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/nl/LC_MESSAGES/sm.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>533b0d608c22aece5a1e7bffe19f9f81f8eeb6ffad05879d45f8838f9ef9850d</string>
			<key>size</key>
			<integer>36803</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/nl/LC_MESSAGES/svl.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>66505f2e93f638b7dc53fe955c37320bdd6d52e3ea1906ea64a6afd083209699</string>
			<key>size</key>
			<integer>788</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/nl/LC_MESSAGES/svt.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>9ca8ceaf5e8b33d00930d41a3f045dc436a6dd5937ae7c0905b41b63a3b56650</string>
			<key>size</key>
			<integer>82114</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/nl/LC_MESSAGES/svx.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>b014683646c8aef31ea62aa344422e8eade4513ccf977bd2d09fb884b10c35bd</string>
			<key>size</key>
			<integer>245958</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/nl/LC_MESSAGES/sw.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>8152a667c4026253d5e14f81c725547c48ec21f14881e91fbd538b682d96c563</string>
			<key>size</key>
			<integer>281626</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/nl/LC_MESSAGES/uui.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>d5dc7ed302e8985ea75cba526ac4bf81eb497c7bd6c366b51ea4e677b8c08ee7</string>
			<key>size</key>
			<integer>28733</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/nl/LC_MESSAGES/vcl.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>ebba1f93d51fc1bad9f9778c3382fe8cd311b75bfc6e11057db952f728f50759</string>
			<key>size</key>
			<integer>30410</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/nl/LC_MESSAGES/wiz.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>14efe57c402d3efbe92d84834e6621df7051fbb38f02a22dccd884d681abcf72</string>
			<key>size</key>
			<integer>28013</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/nl/LC_MESSAGES/wpt.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>f3e0a98815e4636729a55172fe8fc639d5ce2773f21ebbb18e919204e481012b</string>
			<key>size</key>
			<integer>2963</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/nl/LC_MESSAGES/xsc.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>73535ec47e2fba53d0af2e9c96f7e8257ccec7764d8b77c08884693c394f0f65</string>
			<key>size</key>
			<integer>11990</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/readmes/README_nl</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>63d7b9751e8c91d3149a67319d9856f7bf481cdf61bf2255b9be67858d81ef17</string>
			<key>size</key>
			<integer>17961</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/autotext/nl/crdbus50.bau</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>8456124e11b2d1a977d7a5acb1e0b510ed8a8fd8b02433eeda7581db84ca6652</string>
			<key>size</key>
			<integer>40354</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/autotext/nl/standard.bau</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a75d95ce67f65e4fa3281413448a4f6aedf12b9ba06bf983a8359bb679720666</string>
			<key>size</key>
			<integer>42350</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/autotext/nl/template.bau</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>0a27d3d67f508d045acc37f1073dcc57fa909d89ac65441110cbd06578458d94</string>
			<key>size</key>
			<integer>36818</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/registry/Langpack-nl.xcd</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>ce4ca82592b460c2f2dd80d59f480ef952ed5b416dae1d9a26fe86af16223473</string>
			<key>size</key>
			<integer>478</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/registry/res/fcfg_langpack_nl.xcd</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>1eddeaa61e49c308a36d3b7bba2217d0b7ede664ca84815a8880637de767aa80</string>
			<key>size</key>
			<integer>28446</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/registry/res/registry_nl.xcd</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>4ce6930e38e9f42758f912f7a663de16b8be80b72fddb4a496eae0c53f921a00</string>
			<key>size</key>
			<integer>672873</integer>
		</dict>
	</array>
</dict>
</plist>
