<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfftw3.so.3.6.9</string>
			<key>mtime</key>
			<integer>1608356719</integer>
			<key>sha256</key>
			<string>e52a9a3bb6ea7363c455ef3411c69e695a286d2f4e1750245b20b2e18fe738b2</string>
			<key>size</key>
			<integer>1595376</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfftw3_omp.so.3.6.9</string>
			<key>mtime</key>
			<integer>1608356719</integer>
			<key>sha256</key>
			<string>f0c2f8ebec11abe4bd51c50acc6467ef96fbff6420ac4ee6f30e33d501cc4b8d</string>
			<key>size</key>
			<integer>30704</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfftw3_threads.so.3.6.9</string>
			<key>mtime</key>
			<integer>1608356719</integer>
			<key>sha256</key>
			<string>ef09d0f964c533b52a594d56eb78bd9ff1860c35dafaa85fd7908d5f2d9100de</string>
			<key>size</key>
			<integer>30704</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfftw3f.so.3.6.9</string>
			<key>mtime</key>
			<integer>1608356719</integer>
			<key>sha256</key>
			<string>a1b995e2eb9060a96fdd31be370bb5ddc316f7cf7cce501ff2d3a488d0fcd4cd</string>
			<key>size</key>
			<integer>1550320</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfftw3f_omp.so.3.6.9</string>
			<key>mtime</key>
			<integer>1608356719</integer>
			<key>sha256</key>
			<string>8e5e2d0aecf7cdd7163b6cc8061bca984786db3f3414ba13979e479dc9a43ac4</string>
			<key>size</key>
			<integer>30704</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfftw3f_threads.so.3.6.9</string>
			<key>mtime</key>
			<integer>1608356719</integer>
			<key>sha256</key>
			<string>9332247a92e88d4a3521d88f5f7951a637a418a4b9c61608a6db2ca8aae6fde6</string>
			<key>size</key>
			<integer>30704</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfftw3l.so.3.6.9</string>
			<key>mtime</key>
			<integer>1608356719</integer>
			<key>sha256</key>
			<string>7d218711470dc6dfc0e07326cf9b938e340db2759efac80527c1fb62a38d462a</string>
			<key>size</key>
			<integer>907248</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfftw3l_omp.so.3.6.9</string>
			<key>mtime</key>
			<integer>1608356719</integer>
			<key>sha256</key>
			<string>a58d5b1ad9487f29ce30b01f0d9bde0823cba1fa4494693ad733a1b8f1e2a13b</string>
			<key>size</key>
			<integer>30704</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfftw3l_threads.so.3.6.9</string>
			<key>mtime</key>
			<integer>1608356719</integer>
			<key>sha256</key>
			<string>6ca4ff1822966c8d285fa9f21902ba949052426b45dde048093606daf36ebf7b</string>
			<key>size</key>
			<integer>30704</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfftw3.so.3</string>
			<key>mtime</key>
			<integer>1608356719</integer>
			<key>target</key>
			<string>/usr/lib/libfftw3.so.3.6.9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfftw3_omp.so.3</string>
			<key>mtime</key>
			<integer>1608356719</integer>
			<key>target</key>
			<string>/usr/lib/libfftw3_omp.so.3.6.9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfftw3_threads.so.3</string>
			<key>mtime</key>
			<integer>1608356719</integer>
			<key>target</key>
			<string>/usr/lib/libfftw3_threads.so.3.6.9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfftw3f.so.3</string>
			<key>mtime</key>
			<integer>1608356719</integer>
			<key>target</key>
			<string>/usr/lib/libfftw3f.so.3.6.9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfftw3f_omp.so.3</string>
			<key>mtime</key>
			<integer>1608356719</integer>
			<key>target</key>
			<string>/usr/lib/libfftw3f_omp.so.3.6.9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfftw3f_threads.so.3</string>
			<key>mtime</key>
			<integer>1608356719</integer>
			<key>target</key>
			<string>/usr/lib/libfftw3f_threads.so.3.6.9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfftw3l.so.3</string>
			<key>mtime</key>
			<integer>1608356719</integer>
			<key>target</key>
			<string>/usr/lib/libfftw3l.so.3.6.9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfftw3l_omp.so.3</string>
			<key>mtime</key>
			<integer>1608356719</integer>
			<key>target</key>
			<string>/usr/lib/libfftw3l_omp.so.3.6.9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfftw3l_threads.so.3</string>
			<key>mtime</key>
			<integer>1608356719</integer>
			<key>target</key>
			<string>/usr/lib/libfftw3l_threads.so.3.6.9</string>
		</dict>
	</array>
</dict>
</plist>
