<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/am</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/am/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be@latin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be@latin/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/br</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/br/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/crh</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/crh/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cy</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cy/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/dz</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/dz/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@shaw</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@shaw/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_CA</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_CA/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fy</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fy/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gd/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/km</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/km/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ku</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ku/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ky</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ky/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/li</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/li/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mai</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mai/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/rw</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/rw/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/xh</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/xh/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/wnck-urgency-monitor</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>8b5ce9b92c2c20f2f72c166b375e45d58d08237a8a671c4c8d20d49bfeec8bc7</string>
			<key>size</key>
			<integer>14416</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/wnckprop</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>a254800df4f658346d2a16cb5c3d83c9a7ac7a3b9ba1ad9d0fbbf406369a1c2c</string>
			<key>size</key>
			<integer>62248</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/Wnck-3.0.typelib</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>117486b9f8de761f33ee05f299e0c76eb88776c179076f7c88c54e1c5acdc736</string>
			<key>size</key>
			<integer>31100</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libwnck-3.so.0.3.0</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>f2e1e86b875ba746ac75fe1a1ebfe16ced41a3a0412c89f10bbe39ad53fcc5e6</string>
			<key>size</key>
			<integer>264384</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/am/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>662630f4054e685944fd3d5fa8b335663172baf9b0866e2bc1e99194c2e1e19a</string>
			<key>size</key>
			<integer>1172</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>4e42e1a2134f3e67a9cca37fc8a9541856af089788bc5e168a14163283acb674</string>
			<key>size</key>
			<integer>24584</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>16d2c3e35b150d9214f1ef620ce3214d59cc317fc33dd85fbaaadadc5ba6f561</string>
			<key>size</key>
			<integer>30139</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>f8afdf6228b3415ab74e6f41073c26bcdab11e9e4e1ad68f2481ea7454c2a3da</string>
			<key>size</key>
			<integer>21333</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>b13576c01bf11c81683c731b94fda5e08a1ad197629caa7c5b0a232fd4ddff44</string>
			<key>size</key>
			<integer>1595</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>bca67e9f31d46b450c42c05af0d2ce86daa2eeb4a39d9ed0b4310a41e8a99261</string>
			<key>size</key>
			<integer>25998</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be@latin/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>91731ab2b6830290ce672922d1ad0495f9a335ace00a621c3047362cd227c3d3</string>
			<key>size</key>
			<integer>20937</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>1ffd8b26d1fe118719f4464b8c0597844b7d11ca013957d2159f9fcd558926cd</string>
			<key>size</key>
			<integer>26706</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>2505b993e8d1f3dd4e554ac4a32efc7e43a222249064ea1c3dc1b6b828d479ef</string>
			<key>size</key>
			<integer>33321</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>437f8283315bdbbc5686c295a698d827318cfdde893b6b8d6e3642b33bd48bad</string>
			<key>size</key>
			<integer>31985</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/br/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>ebf507de0e01cfffad75c9b5a9c0a91318b5587ae221f308d907f974d203d837</string>
			<key>size</key>
			<integer>6106</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>8ed9f405c50f280c68faa0aead98d4e16893e605a57fd8795926935bc8d2c861</string>
			<key>size</key>
			<integer>20148</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>6f82a87133f018986f6fb387d8eee2133e821f474afcb4289ea8f0ea72952eba</string>
			<key>size</key>
			<integer>20441</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>3958831f22966db84e102614339f13d29aed7c19cfa98a1210bb66d7a0cc3e77</string>
			<key>size</key>
			<integer>20340</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/crh/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>843e7607572bc64c7535b5e852131b2ffa2bcebe42e7f5577bb5231f86ddb508</string>
			<key>size</key>
			<integer>20714</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>798150b548a8159caa334875bc096680cd0cb420f6bbe324d888dfb3e8e89e3a</string>
			<key>size</key>
			<integer>20316</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cy/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>7133248a27223c01c5b847e53de1191bd977e9b0807f344f33afa7f1d5aa77fe</string>
			<key>size</key>
			<integer>2347</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>9a4249c8f37436cbd7e7f15992612067f28b4c5ebce5e67efcfa3ae9e90ad54b</string>
			<key>size</key>
			<integer>20012</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>cbdb24c0363132efffcb825e114c854166ffece440f52fc14813e3cdbab1f2ae</string>
			<key>size</key>
			<integer>20719</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/dz/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>f6cd69ef78056d9bd570c8bc46b5300c0629597510003ca67c338a1142d8575d</string>
			<key>size</key>
			<integer>36117</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>4660e024b6e6554146836bc0ba45644a0f56d09be6dada41c9ee159855681fbc</string>
			<key>size</key>
			<integer>27412</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@shaw/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>5fdbbcf6a2a383409ac3dfc02772d19eb9b3b9f8be4b4a7e044319b904afab7b</string>
			<key>size</key>
			<integer>24608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_CA/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>34ddf334df0675c18ca59db64874953d0c769605cb3db184bc16168d81abcd31</string>
			<key>size</key>
			<integer>2247</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>1242afe4643368ff302dcbc107d9d601ea3b5430126e26bb406f41177c06e3e1</string>
			<key>size</key>
			<integer>19043</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>99d831cf32eebb87c1a98554d06a5b51e5a94010e7a080c07bf49389c1cd1918</string>
			<key>size</key>
			<integer>9499</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>c215c8c4707699d97bc072aa2194a7072484adebdd6d50f73c37a501734b3d27</string>
			<key>size</key>
			<integer>20726</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>f5d7a84d0509e81e012307863f7fe2dc0ed594cfe42d0334209a97de39c84503</string>
			<key>size</key>
			<integer>19323</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>cedf0bcaa4d8f730a265bc7e384fc7ef32291249bd8cdf7c0f5c2f56d015aac5</string>
			<key>size</key>
			<integer>19356</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>280c8d4858554ba6198e67467f27c15690800c9b74d95fe97e778f0d137f69aa</string>
			<key>size</key>
			<integer>24392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>481237b021e615e935f060cb92a4afc2819262a4d2bc7e5646b6d72ec488fcc2</string>
			<key>size</key>
			<integer>19552</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>8e9ebf8fc53405d1df36548054df93f78d49e2947a57252b8f3261a44773bad2</string>
			<key>size</key>
			<integer>21303</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fy/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>b4dac994ba2eda3641c440df3042c35e3157d56a8994457a669c059b8871f8f6</string>
			<key>size</key>
			<integer>19916</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>80e4cbe48f388a3f1bb8adf139531acb1f20831341af01fdee986531708f0890</string>
			<key>size</key>
			<integer>8872</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gd/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>2d2e127f10ff26c2b4ee44950c5266e8de02260272cfe254e39d2fcaea6695ce</string>
			<key>size</key>
			<integer>21771</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>5483007d6780713bfa9afd232a641c87149f7dc02f32d060f496309fad129e55</string>
			<key>size</key>
			<integer>20722</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>5c6c2edc75fabff4b9f9bb9f8fe8de2cd55583d976ae10ef214a54896895c320</string>
			<key>size</key>
			<integer>29433</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>4373ceea5f87fbe0aff206efe1a200147f06b6236dc1000cf076f2f34a16706f</string>
			<key>size</key>
			<integer>19523</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>9f41ae40525ce31392ed941199d65857df7f674d8d02276a61229a552a17ed64</string>
			<key>size</key>
			<integer>29122</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>c5d113c3eec59622ea66bbdf2b9673e6b54c4bc19b0214449fff437a1bd5d8c9</string>
			<key>size</key>
			<integer>2060</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>f9fc181d6015d01825cf059b0adde8c97038747a66e0b2c8dd343543cbd1147e</string>
			<key>size</key>
			<integer>21438</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>6df410396846a0c31c793d300e29b8c3215567238d94cb8bec6a56a116692704</string>
			<key>size</key>
			<integer>20042</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>feea2a76d09fdb700c06f78f8c0b1fddba3bfd23b3b464cade87b248fcd08aca</string>
			<key>size</key>
			<integer>1265</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>ef7fa9b51a6d077e9a637882fbcaf64d2c1f2dcd1ac0806b903e14a160ca49fa</string>
			<key>size</key>
			<integer>20349</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>7378b177a6978c5385ad63d3d3e6b7040222fc62faf84febe4645da836e9c70b</string>
			<key>size</key>
			<integer>22885</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>43aa509b7d93e8ebcd84631f3515df2c0334c08ee8cc696fd101f276e3b65ebe</string>
			<key>size</key>
			<integer>19284</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>da9463c0d6f378fe4b4d92b8406bd14236dfc374fdb5ef80562fd41a77f48805</string>
			<key>size</key>
			<integer>6457</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/km/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>1dd51604af771e5590e71d9db3c3a521257fb53adbe1e4d75088724b94180bc4</string>
			<key>size</key>
			<integer>33528</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>cfb4ff068b0863ff8d75fa99bc998a589fd090cf08abc0ceade88b7e5ab07a50</string>
			<key>size</key>
			<integer>31683</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>69040b427eda4dd0fa78196124d6bd7eae7bfbd8381eae05c92cebc30a93939a</string>
			<key>size</key>
			<integer>21203</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ku/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>0745d4e2a623eefdadf56241f43cc775f8de495b5c6ef1080520e74d3618ab45</string>
			<key>size</key>
			<integer>2164</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ky/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>50173e58f607129ee897d8447524580e004d9da61532e2bc25da591589240133</string>
			<key>size</key>
			<integer>2372</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/li/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>4a3480b10a7866de938ea1be400c7a79b5c7050a63c0e7ed34e2aec9048a2834</string>
			<key>size</key>
			<integer>1162</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>bf6a9cec346f49fa6477e64803f72c2b2e54091e1d81a1702ff768d5d300624a</string>
			<key>size</key>
			<integer>20068</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>94324d7c280c532a5f372bdef63b3c376ce6ee458b09d940e999f27c0533e1ac</string>
			<key>size</key>
			<integer>19866</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mai/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>929b62e06f760b2912f4d46a522e5ca7470aed70c8bd8c0c548a27ff488b199b</string>
			<key>size</key>
			<integer>3900</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mi/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>917fd902075ae509ae5b50b280bc555a89975d202710679eb0b2eb954898d1bb</string>
			<key>size</key>
			<integer>383</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mk/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>35046d7b68f662f30543a0befdbcd2e37d3990755d57da83915d19eca84b2cce</string>
			<key>size</key>
			<integer>27407</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>b19de474daa4e2bc35edd0da02cb4c902d548d66d16965d1d774b501f6f77d4d</string>
			<key>size</key>
			<integer>32092</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mn/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>378c17aa19b4d64883479ae74bd8b84e32791e479a74f20f9d89640a25756a2f</string>
			<key>size</key>
			<integer>1827</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>adeea237737a5848e34a5e53bb699ce07539916101db9993759e1e3c44c73a5d</string>
			<key>size</key>
			<integer>29398</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>7d63f97ffa5bc0cab82f0a6170e4b11cf67e7a5235500bf3c35363ae4ab99583</string>
			<key>size</key>
			<integer>1524</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>19c38976dc554f6531e5178b6b82cb4c529202e7bf7ff06ec454110954a8d65c</string>
			<key>size</key>
			<integer>14544</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>1c489671fbb253c3b1b6fc536edabedfd05a92466ad06753b69e158a97ceba87</string>
			<key>size</key>
			<integer>32278</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>c309ad58ba2eb1276eadaca63e53716eeb13270c0c28f0c0d14bf240ed733ffc</string>
			<key>size</key>
			<integer>19651</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>e8f85648088c7608b523e98ff8dbafb1bc61b46939ee1c794a2ab94624eaf6ff</string>
			<key>size</key>
			<integer>20394</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>01a3158da9b8a5b47883c18e6b71b8661e6059729e6d8a253bd1306e13c68eed</string>
			<key>size</key>
			<integer>21230</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>5ebae6e8ae37b5ec94bd670549fd14451e890790a23dbe60153f77fc1b9ec501</string>
			<key>size</key>
			<integer>32451</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>44e0b529b620bb924bdf9f3047ac4b15ae516cb3ac43b150e2e1eae250cb00a4</string>
			<key>size</key>
			<integer>27291</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>fd04362c506337af5f402f90c387bbdf289d9f9cef3d9cead9e0a39fdb3c4ae1</string>
			<key>size</key>
			<integer>20224</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>0169a4be1f9659997c8564ada68dec5be436f8345915101393be6f9875f8ccf7</string>
			<key>size</key>
			<integer>20372</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>b0c347c772037c5f76ff918df46d52bf1819776a073b0c9c422c714a9e80f9bd</string>
			<key>size</key>
			<integer>20621</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>79a2d39afbf3f549dfc02fce9ae4150b9620ba87786c157577477741b5706826</string>
			<key>size</key>
			<integer>20900</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>bb2c18212b9085da3590fca09cced770d8169736aa40b94401b7e8726ef78836</string>
			<key>size</key>
			<integer>26015</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/rw/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>3db1b1330af766fa2ea85a795753718312f84c9641ee4b92749eff0e91ad5368</string>
			<key>size</key>
			<integer>435</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>a72f2ad47d0411cd6af256bb3edd71b2252788b9de0b78d162f0fb8602676161</string>
			<key>size</key>
			<integer>3183</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>a020abf93186de180e00d60bf898095559a84125fb180ac98748486f093b5710</string>
			<key>size</key>
			<integer>19948</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>39d8e7d7947bcb9a9494029a091bd491644c50e5be75b71299d4ea31c0fc55a1</string>
			<key>size</key>
			<integer>19627</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>abe4bf9264b032a58b4e4bd1de39794b9eee225e3f9d7e3cd33019f226968576</string>
			<key>size</key>
			<integer>2555</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>3b25dfa51ba6433fb8278f104d8af779ed05e2d8106dec61386416c3cff5a179</string>
			<key>size</key>
			<integer>24902</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>95502ba5754d192247983976ba723be49f33c17e3339c7a53eed1d8c5fb753ce</string>
			<key>size</key>
			<integer>19726</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>58205248e11a0d43690451d06f9a4274ca2969f0863dfb5ba9fe64825564947a</string>
			<key>size</key>
			<integer>19767</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>4db8e80f843fc0db281b48b8af2a413428413f12e07572586033aaf602dd4d6c</string>
			<key>size</key>
			<integer>31328</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>d9adbc07275b76d81d55490d70f6db3a89bca15142980ea7e085098a5661c32b</string>
			<key>size</key>
			<integer>30779</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>72ce65728c27e090ff6db6e72085e8b5f8ad4756ae88d5bb278676bedf97fbd2</string>
			<key>size</key>
			<integer>29639</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>5fcbfc0a2f8aef2f51d79bdd8249378a0f39a0288fcf913db7c1045b3afe7e74</string>
			<key>size</key>
			<integer>20575</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>a2db2cab362d1126550fbf7d95749b021c4c0e0d78a73e0589066a49a4b003c9</string>
			<key>size</key>
			<integer>26306</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>2a9a695dd6d5b90e5f678cc74c76f89c87cac9da54c3ed62b9c11592c743056e</string>
			<key>size</key>
			<integer>25384</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>031a1001ddc6b7fa1d56e8078f1e0644036bd85ab6b3acf1e9494c9d80dc4899</string>
			<key>size</key>
			<integer>22238</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wa/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>ee6f335732121cd5b5293792d7cfe1f665994433812546282d9d94e2e5512f87</string>
			<key>size</key>
			<integer>1200</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/xh/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>2ac845c6a86a9e537d2d8a5c2dd66896e24418abc85c168000c8f403009a117c</string>
			<key>size</key>
			<integer>2309</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>9120ad8d324e7ced8d7ac4681dbae7d60583f5f56977a691ace0a8277feebf95</string>
			<key>size</key>
			<integer>18450</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>fea09ab2225f8b920aa11514185074cd4cad86e5040807249e1ab43b5d1d5c7e</string>
			<key>size</key>
			<integer>18635</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/libwnck-3.0.mo</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>sha256</key>
			<string>8a24a3c85258272e89b6eecbf6e80fb8e77095d424f802408004f3785fc4cc4b</string>
			<key>size</key>
			<integer>18787</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libwnck-3.so.0</string>
			<key>mtime</key>
			<integer>1604928370</integer>
			<key>target</key>
			<string>/usr/lib/libwnck-3.so.0.3.0</string>
		</dict>
	</array>
</dict>
</plist>
