<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libglvnd</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libEGL.so.1.1.0</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>356caa673134fcf2f56199b0762d26e9b39a8bd6ed5809d9bc6ec0dbd729078b</string>
			<key>size</key>
			<integer>63472</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libGL.so.1.7.0</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>267b5133d7418baf20dd07a9ac56bfbced818f8f3960aee83ac682dc61078103</string>
			<key>size</key>
			<integer>542768</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libGLESv1_CM.so.1.2.0</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>657245f67842f15ea21cd1aa09484ec503c5d8f0cfbae95c96942ad392d58f59</string>
			<key>size</key>
			<integer>43064</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libGLESv2.so.2.1.0</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>49428d500c539dd739fb20a831f9b7986ea3c601697c8cd7c7c5ee6a87147132</string>
			<key>size</key>
			<integer>71736</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libGLX.so.0.0.0</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>8cfd55f45ff307fb559838504b177e51ee8098e362f83b73be32a554346589c9</string>
			<key>size</key>
			<integer>133096</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libGLdispatch.so.0.0.0</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>31671650f78d9173b8a8fc7408f082c5368f73e3577d82f91da4d062b62a8a6e</string>
			<key>size</key>
			<integer>710792</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libOpenGL.so.0.0.0</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>f2671d40b49e14e2f45294d08e111cbc631b3676e06f6737efea6f9272d6be35</string>
			<key>size</key>
			<integer>170040</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libglvnd/LICENSE</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>ca41b87d1c1b8864d3b05fa64e3968031d63527f934d9fc128e284cbcd3dde2b</string>
			<key>size</key>
			<integer>1458</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libEGL.so.1</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>target</key>
			<string>/usr/lib/libEGL.so.1.1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libGL.so.1</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>target</key>
			<string>/usr/lib/libGL.so.1.7.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libGLESv1_CM.so.1</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>target</key>
			<string>/usr/lib/libGLESv1_CM.so.1.2.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libGLESv2.so.2</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>target</key>
			<string>/usr/lib/libGLESv2.so.2.1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libGLX.so.0</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>target</key>
			<string>/usr/lib/libGLX.so.0.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libGLdispatch.so.0</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>target</key>
			<string>/usr/lib/libGLdispatch.so.0.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libOpenGL.so.0</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>target</key>
			<string>/usr/lib/libOpenGL.so.0.0.0</string>
		</dict>
	</array>
</dict>
</plist>
