<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libpsl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/psl</string>
			<key>mtime</key>
			<integer>1603546351</integer>
			<key>sha256</key>
			<string>3fb05db23d0a8d1cb77f0c40023e28a882a17e0a5fc1760f76a6b72d9dc238d3</string>
			<key>size</key>
			<integer>18520</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpsl.so.5.3.3</string>
			<key>mtime</key>
			<integer>1603546351</integer>
			<key>sha256</key>
			<string>c3662f4dd8292ea57dca37dc0eedc72b15daa6255b8e6a0807efe2c60cbefb48</string>
			<key>size</key>
			<integer>75672</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libpsl/COPYING</string>
			<key>mtime</key>
			<integer>1603546351</integer>
			<key>sha256</key>
			<string>7903413e7aa0bbcb77aa19150a3f1034edc0a760cff174f9a53efe4de6f056a4</string>
			<key>size</key>
			<integer>1060</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/psl-make-dafsa.1</string>
			<key>mtime</key>
			<integer>1603546351</integer>
			<key>sha256</key>
			<string>556daa6c6b60e12fe3864bb69442dc1f45522d364734e441da55ad1cdaf2b04a</string>
			<key>size</key>
			<integer>1571</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/psl.1</string>
			<key>mtime</key>
			<integer>1603546351</integer>
			<key>sha256</key>
			<string>f3767d9b46704ef69cbe8dfaeadd674868ca2528d38eb31fcbadf8e31284e22f</string>
			<key>size</key>
			<integer>2343</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpsl.so.5</string>
			<key>mtime</key>
			<integer>1603546351</integer>
			<key>target</key>
			<string>/usr/lib/libpsl.so.5.3.3</string>
		</dict>
	</array>
</dict>
</plist>
