<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libXext</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libXext</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libXext.so.6.4.0</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>9c03f15f1455b4ad9711c66a297ca7612235da3e2c7e326ff5b6cbacd60847f2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libXext/dbelib.xml</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>9956c0d96e3fe7032601f49aa0ea14da1bee4941dbb436c8150281ad0b4909e4</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libXext/dpmslib.xml</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>3401583518b8cc5b605f5e1c2df22f57b3167ac4a72e4689c4dc12d7d40b6076</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libXext/shapelib.xml</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>1a486700fccc023e02ae08c2584f5f88ff57b643ce048d51edc7944031db99ad</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libXext/synclib.xml</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>4856a885f9e556b5859d6b4f7eb06fa043184a9c9a7b11d4a0ce5c25f75a3eca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libXext/xtest1.xml</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>9f66489c74899023976a5655b8cbbcc8839436bb4a57ac2932f845a2308665ff</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libXext/COPYING</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>80767ac915f2f0f94de9efb15f0197a59b6f1e609cae85059f8703272dc3e146</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libXext.so.6</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>target</key>
			<string>/usr/lib/libXext.so.6.4.0</string>
		</dict>
	</array>
</dict>
</plist>
