<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/sbasic.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/scalc.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/schart.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/sdatabase.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/sdraw.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/simpress.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/smath.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/swriter.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/readmes</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/autotext</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/autotext/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/registry</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/registry/res</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/default.css</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>6d04dc16440e3d50ed2566937915195a2d5e08de91aa98ac6e38eea136879885</string>
			<key>size</key>
			<integer>3065</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/err.html</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>639a41954ae4c5e1d282daf55028c27eb9ddc1cfb26ea3e2e14e7e18dea29434</string>
			<key>size</key>
			<integer>2140</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/highcontrast1.css</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>cd779c8043d26b12b9dfe89bb839539a97af48e8ab1ef404d6ff1ea62d195adc</string>
			<key>size</key>
			<integer>3056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/highcontrast2.css</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>9b01fd25451c7cf339dc78d0232a389a592ee24ff283b730001001df04522d3f</string>
			<key>size</key>
			<integer>3056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/highcontrastblack.css</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>50cb1fe1470102418c7414735d249a034c5276bf13b3c9273e64c38b93ba58d3</string>
			<key>size</key>
			<integer>3056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/highcontrastwhite.css</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>73e3ecd87f89163f119d088fafe96913cadd7e624aa29cd706f2880f2e060115</string>
			<key>size</key>
			<integer>3056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/sbasic.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>645e9fd70e29048bbc45af0ed12233cc4e1d32f850b385deb14720319cc64981</string>
			<key>size</key>
			<integer>929</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/sbasic.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>efe581e75a2de27c19cefbce2025444832f5e5ef4950f717584118d018f3ec60</string>
			<key>size</key>
			<integer>800212</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/sbasic.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>1e60a595cc0f161c610162c3bd7e7b25db3695b3b1380a5e9bd03f3c1349e37d</string>
			<key>size</key>
			<integer>599874</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/sbasic.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>6d3135ba03633caafa9bae747f94dc00e2304e445ea5d03c9cc01d4eb65eaf75</string>
			<key>size</key>
			<integer>735868</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/sbasic.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/sbasic.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>16597332609e57d1d99271326e1737a536f174ec229e89b4ec7dd880538143c9</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/sbasic.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>358b76d54aeb86d7c7407854743eb387f69bfb5a392462195cf587a53a75acfa</string>
			<key>size</key>
			<integer>1627505</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/sbasic.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>3ed20c25757bab6e13e7e70aabd8ac91b4f3359d957981d82ca701372a159d04</string>
			<key>size</key>
			<integer>228132</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/sbasic.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>328caa07f41d74dcc30fba1cce56ee671c8cda436d8b6d982740a6695ba70812</string>
			<key>size</key>
			<integer>33381</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/scalc.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>0324ae20c3eace444fa4343a7643f5491b300b0319864f500fb5ff2ad33f1dd8</string>
			<key>size</key>
			<integer>916</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/scalc.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>14e0093890550aa48752e3bcb9e28847ced22c2415bce1e2e860e5e94c3dcd74</string>
			<key>size</key>
			<integer>1045074</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/scalc.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>351ee1bb560063cac3ac3aa2ac2c301153b782c0e2e56212607894d420042bbf</string>
			<key>size</key>
			<integer>776097</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/scalc.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>416c929ea4f34306736af3c58fced3d38c7554e37fd4c8bb3dcbd246e5d95b4b</string>
			<key>size</key>
			<integer>930157</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/scalc.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/scalc.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>e9786209c62db6c9c6a325b35f25c40bf2e18c0c9575a0d01d2b88c9d2d812d0</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/scalc.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>c5405a65edbbba078244d54badce775f786a4a5cae313a70d987cee4911276e4</string>
			<key>size</key>
			<integer>1886621</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/scalc.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>366e466a9e94a4f4a7d56a834b7917134136a8aabf1a0f0400db9c17a2a4c6ec</string>
			<key>size</key>
			<integer>328475</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/scalc.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>31b83fbfe0f3867de31fe03a22609506526dd2689d7ca183e173bb0a5c67849e</string>
			<key>size</key>
			<integer>13957</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/schart.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>270dae2cc2e74d6e84587814df149cfaaa3e3dc3913715f102319df8c91e6ec2</string>
			<key>size</key>
			<integer>919</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/schart.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a72d2c28c90ab75b97c5eb19993fdbef7504cec20be23584e7af81e52956dcd1</string>
			<key>size</key>
			<integer>767782</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/schart.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>0dc359e7c157cb4e63a627aa9bb745d63b9acd746ea646e8892472b901e5d2e4</string>
			<key>size</key>
			<integer>633573</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/schart.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>209783d0b7f907849e15eedf61762967d1f5f90deabf625847d6c9084c485da0</string>
			<key>size</key>
			<integer>612427</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/schart.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/schart.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>3e7c999028c7f68c719843fc7ebe9920ede02509957629cc92c7082555216ec3</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/schart.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>8f6a30b00347f28bde68026a57832d02cbbe4b4b9ff626dacc7c3d61b59aac7d</string>
			<key>size</key>
			<integer>236245</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/schart.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>9411be8d11efd3a6f348b8f3c165ca9026282e67b81f2cd07956f18b354561e3</string>
			<key>size</key>
			<integer>189757</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/schart.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>33be82ff258d3b33f593ceb6a5b43a6aee845f0680c791a9286ebddbac68d59a</string>
			<key>size</key>
			<integer>1301</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/sdatabase.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>10a18fdf8edb76162bef54586e359df36983e2b515f00ec01e96b423b54bcee4</string>
			<key>size</key>
			<integer>940</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/sdatabase.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>f03f40c510a31c278bee4af087ac1eaa4105db0c00cbb2513b922ccfb89cc8e4</string>
			<key>size</key>
			<integer>708472</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/sdatabase.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>905343966675b3af8f3c98527b2679eac548eb0b72735ea73f354074f0b418fc</string>
			<key>size</key>
			<integer>583443</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/sdatabase.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>38209308c13fa5e7606c6788f12c11d4310f3f2f0fd6fb1b95f76cc3a30672c9</string>
			<key>size</key>
			<integer>577124</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/sdatabase.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/sdatabase.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>005d47c547e8cfb7542f9eb3b900f3e40848bb7e6fd6dad76e323b8cbde42444</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/sdatabase.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>c3e25193c319995620524472a59c0423ab14a6a71db10693fd02cc04edef43f8</string>
			<key>size</key>
			<integer>4177</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/sdatabase.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>7a432dfe0e26524668d5a46e096ead1ca74f378b79dd8b88f3fc9e5f5bbb3b10</string>
			<key>size</key>
			<integer>181504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/sdatabase.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>c5d423502125a25c95d7bcb0a7208067443791523e08bf0aaeb9e5f19b57ba5e</string>
			<key>size</key>
			<integer>2073</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/sdraw.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a74a20587ef6e68e5c89d07b6224cd9331d95145ab1a6859f94070d189349e3e</string>
			<key>size</key>
			<integer>916</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/sdraw.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85487b6443065c50bf4953d27b2a55a90c6072c75bb0276a5f63ea6e68e9414</string>
			<key>size</key>
			<integer>877634</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/sdraw.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>b408e2d981a50c8bdfd0a91d9035e68f42f9d5c1f4130b9112ecc09da4a71c65</string>
			<key>size</key>
			<integer>711792</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/sdraw.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>feda6ce8eb702dcf582772f87fcd9bb5a989fb4a05650081993454acd5a3e2e8</string>
			<key>size</key>
			<integer>724312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/sdraw.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/sdraw.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>2fbef3fd266bd26b1a81cb120f3ecbb5e9e9f4f575ddbb47b6c1555137300709</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/sdraw.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>9a5727e43f41cf1b2ba77acf3b2b7ef4ceb2e612e165c139aab7e5872db999d5</string>
			<key>size</key>
			<integer>120771</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/sdraw.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>3521dd242a9449138e1466381148c3f319350c34d83fee2d86963514585f9efe</string>
			<key>size</key>
			<integer>228853</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/sdraw.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>04330164c439dd01eb7eaf8135f529699add36b3d527679bc10629cf1920035e</string>
			<key>size</key>
			<integer>7679</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/shared.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>62965e53fd21cd144ff4ded0aa5aea46c946a756396a14a91185a4ad1f4a3563</string>
			<key>size</key>
			<integer>3514980</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/shared.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>9e97691a50d755b5ea991d79def8b0c5174cd804872053743b8e133427730702</string>
			<key>size</key>
			<integer>14873</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/simpress.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>08c6f4b49cdc45c2cadf5598ff4533a0bdca3f301ab85f3d29d51c64850b2e80</string>
			<key>size</key>
			<integer>925</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/simpress.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>0d412d7fde97f9c10b19a4deaa59b10e634ddae6f95cf88595aa0d621b2701bb</string>
			<key>size</key>
			<integer>878001</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/simpress.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>9c8e4df9fff5f749dc931b17d582c2496680d77025386d52bd80503954390258</string>
			<key>size</key>
			<integer>712855</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/simpress.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>cdc5e2752e16863b8f55489dd67564530e4dc807b4e94135b5b6071b0e9f52aa</string>
			<key>size</key>
			<integer>728684</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/simpress.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/simpress.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>9806574a3641d76848971df2c6dd056e65a18d4d8bb64e8bf07f958d9bb8b50f</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/simpress.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>c22c08b3ff127fea46730302c98d3c2889b869564a2d3067f1e977a7afaa57ec</string>
			<key>size</key>
			<integer>564434</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/simpress.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>93bd2ef4d22721b9c46b6d8195280168a1f84ff8bc5494af58f9ec37453a18b7</string>
			<key>size</key>
			<integer>228853</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/simpress.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>ddf0d7b7e6480417a8fcf57a17a4e11d4f1754137104741aaa2a5b57dccb95ad</string>
			<key>size</key>
			<integer>10809</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/smath.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>026fa19f011aa360c609fc8740b65621389fdebf5c857d2e83e021f741f24225</string>
			<key>size</key>
			<integer>916</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/smath.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>0ebcff11c207bb09a4da6107260b6a26f1507b312c3f745841be951f81df7ad4</string>
			<key>size</key>
			<integer>752891</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/smath.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>c6715b62341a5b748e363a2a5258086ee4e37220630e3997335f90a668cd5a5f</string>
			<key>size</key>
			<integer>613748</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/smath.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>22d25ce1410a20d9b750cc53a775ddd3617e9b4b56fad398066d8f62a828e9a9</string>
			<key>size</key>
			<integer>624919</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/smath.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/smath.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>b9179256f8df2d2c54f0f677aebc3ad8dece8ccc7f5f7ff470df1c21137378e1</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/smath.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>e815261469e1cbd7f992e7ecbaf788d06e5ecb80322543d5ab76ea5031d6f051</string>
			<key>size</key>
			<integer>343679</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/smath.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>bf6784d0e98452f6b70c04933dfde09062998013cff7889865ad59eb57787e2d</string>
			<key>size</key>
			<integer>208698</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/smath.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>26fd8628fb61c44b45825ccda2d5b56fdd470149a288642b2ccdeaa4ce2e8fea</string>
			<key>size</key>
			<integer>3266</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/swriter.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>521b41f4cb6cbcb1929f92a146fff34b5f4eb85d5ac9d0cad6b7dacc0e5267a6</string>
			<key>size</key>
			<integer>922</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/swriter.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>21e98eeec3b5563c3030b1979ad48fa9228c192189051175308310984aba9a2a</string>
			<key>size</key>
			<integer>1008339</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/swriter.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>f247f2058045d5eb656a43545f7db6191929b1eff9bbcbf3b092ebc935da41be</string>
			<key>size</key>
			<integer>807665</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/swriter.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>8d7a10e714afdef93e51d30decc68835c2cfd634fd0133866054f6f7920b7ff2</string>
			<key>size</key>
			<integer>860386</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/swriter.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/swriter.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>84c0ecb81794fa901d194d2908b601d64662a065e0e2188e9e248ab9fcb86997</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/swriter.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>3c2f619857f6a428a2cef5d3b51206840ad2ed6d56cbcce9f7d61bf183f03095</string>
			<key>size</key>
			<integer>1385024</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/swriter.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>5308a257c254cbfa90cb24a18e3adb3dc1daa2040bef08d93218d62f95715d83</string>
			<key>size</key>
			<integer>267977</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/pt/swriter.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>dd08aa16fadccd6619f504c7a56c77da0addf527080af4465f40b7548dced893</string>
			<key>size</key>
			<integer>18316</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/pt/LC_MESSAGES/acc.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>d389233aee308894b68fd64babe86a518d51714485ed77fb000ecd2f875a50ae</string>
			<key>size</key>
			<integer>1446</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/pt/LC_MESSAGES/avmedia.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>7ac4ef6137baffcb935ec7d323b5cc4d717df1ab49737dd5dee4d2c137688123</string>
			<key>size</key>
			<integer>2159</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/pt/LC_MESSAGES/basctl.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>790a9a8c92f8c5f8a9411f11e3d53b41bfad41887b8f3ecbeb269a3d84ae9f77</string>
			<key>size</key>
			<integer>16391</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/pt/LC_MESSAGES/chart.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>3216e52bf974c3c398d534c89d6d5fd86f771b180e1eecdba900e6de0fd72bac</string>
			<key>size</key>
			<integer>53395</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/pt/LC_MESSAGES/cnr.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>9bd9fbd38b1f33d1eff9d4878582272d3d09eef77426d71f63ed5d76153e3376</string>
			<key>size</key>
			<integer>19496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/pt/LC_MESSAGES/cui.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>fda7bf3b2fee38cbdcb08df636c931f99b0bdd733849a85fb22acaa756ddeb7c</string>
			<key>size</key>
			<integer>269730</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/pt/LC_MESSAGES/dba.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>7b5fb3fba193e53fb71021c94b79355ab73d71d0ccd84bc110e15af23bf3c363</string>
			<key>size</key>
			<integer>94251</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/pt/LC_MESSAGES/dkt.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a8cb43992e6b49da148671ef9b98bd19a643e589923f3193a47b3fdc2ef9c005</string>
			<key>size</key>
			<integer>26480</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/pt/LC_MESSAGES/editeng.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>ca189fac83bdfa2b6e914539afb485f9af9c8521c76c808fb7d2493c5b2ba316</string>
			<key>size</key>
			<integer>24122</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/pt/LC_MESSAGES/flt.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>b2cad57f93171ce31f521be3013fc65fc884258054f0e64aa0202a0102639c0b</string>
			<key>size</key>
			<integer>22579</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/pt/LC_MESSAGES/for.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>d091aa8325d081c35bfa11117b753e79cc836e89395689d177ff45676fdbe0fe</string>
			<key>size</key>
			<integer>29502</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/pt/LC_MESSAGES/fps.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>16a39a791c39fb5c10585b8613c8a182e209474a7b0e9b5dd006c3265310a45d</string>
			<key>size</key>
			<integer>6598</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/pt/LC_MESSAGES/frm.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>7a55a403587adb499214773100439591e4bfb5a0157632e32895a0b147e36170</string>
			<key>size</key>
			<integer>7346</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/pt/LC_MESSAGES/fwk.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>f1c7680ca3bcb189420d3c70b6e6b8e1d42090b09da6144d6f30ccee34959b29</string>
			<key>size</key>
			<integer>4844</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/pt/LC_MESSAGES/oox.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>7a73b8239d4e1a4ff8ffcda77a78e7ba36b645dfd73385c1f17fa4d7891ac2f2</string>
			<key>size</key>
			<integer>747</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/pt/LC_MESSAGES/pcr.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>6b029eee6b8c0b2712d64096a4fffc6db9aea8ae79829584dd8f11c655f37075</string>
			<key>size</key>
			<integer>61724</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/pt/LC_MESSAGES/rpt.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>0e6f762414068606df5996f267f397f0aecf325e19a3ef3a1a94dd4eba17134e</string>
			<key>size</key>
			<integer>20958</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/pt/LC_MESSAGES/sb.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>b9ea5bdec55f4cf71566e987fb22c0734d1a307ca564a1fb8803c9a08915f73c</string>
			<key>size</key>
			<integer>13902</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/pt/LC_MESSAGES/sc.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>91d8cdfb15286a14e275a3b95689c067e231d164ecd2976490cca25f1bed2346</string>
			<key>size</key>
			<integer>490918</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/pt/LC_MESSAGES/sca.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>97e5559314e61396a1d3f8a0f3ce801115b7d695bc9c9f927b4ecd9884f7ff37</string>
			<key>size</key>
			<integer>87639</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/pt/LC_MESSAGES/scc.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>b76469a2cade085a11e18c123075cef2365a63d1082c4172072792d0cb594c45</string>
			<key>size</key>
			<integer>2361</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/pt/LC_MESSAGES/sd.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>ff3373b0c92de5f4c41156e29438a77cace3c7d31412e10c0dda49962cda1b95</string>
			<key>size</key>
			<integer>114298</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/pt/LC_MESSAGES/sfx.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>99fe208c09053bab27efd9d975bca3f019f76dd2e4e25a44e26bf02feb2e6ba1</string>
			<key>size</key>
			<integer>64368</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/pt/LC_MESSAGES/sm.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>19d20ebd93fa74be3cda1055435522bdfd7ec492760369fcb5eb634dfaa14fa5</string>
			<key>size</key>
			<integer>37210</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/pt/LC_MESSAGES/svl.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>4ce98c5c343628b8328b36148a0240508baffdfa485d055caeb1bda2cc39a3b2</string>
			<key>size</key>
			<integer>793</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/pt/LC_MESSAGES/svt.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>956d037157ae5a7f8a0471e5c40fa76e5dfeb3b73a97e656fabc4c3cbf121065</string>
			<key>size</key>
			<integer>82851</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/pt/LC_MESSAGES/svx.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>3e20c911212d30f811a5ccdd1c22844cbbaaf707e32b7f71b3a98da3cc6d011d</string>
			<key>size</key>
			<integer>248347</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/pt/LC_MESSAGES/sw.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>ebff6670e079e436d2856540ca6d0b61b29e004becf9813a5eedf838273b447d</string>
			<key>size</key>
			<integer>285490</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/pt/LC_MESSAGES/uui.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a61ed7a10fbd6032523d2104cb3c262ada95fbd8ab78ad74491dd8887b919238</string>
			<key>size</key>
			<integer>28362</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/pt/LC_MESSAGES/vcl.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>1a73259c22d4d9d03e3f990de7330c384d06f41e038ffecc7a07c7209de94483</string>
			<key>size</key>
			<integer>30569</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/pt/LC_MESSAGES/wiz.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>885082a9f7d4fe153ab557d20754e8530689044e36b45c965654f0582f42fcb3</string>
			<key>size</key>
			<integer>28396</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/pt/LC_MESSAGES/wpt.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>6623827ed33846ad7439cb57b44c48b8b3f4a7a9519da8568ea4815d3e06cd58</string>
			<key>size</key>
			<integer>3053</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/pt/LC_MESSAGES/xsc.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>82fa5eba1edb607b896a91c2adb45def696b5dbf555b10f7f35a1c1240647625</string>
			<key>size</key>
			<integer>11779</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/readmes/README_pt</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>b49e6c5b0280c76e1c96b95026ee5a835c06424d637c78c7308671fa7456d7b6</string>
			<key>size</key>
			<integer>17233</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/autotext/pt/crdbus50.bau</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>92ce081a1474d45ab7d2fa99e611d04c0eca092623f78e2683255be9d5c1acf2</string>
			<key>size</key>
			<integer>35753</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/autotext/pt/standard.bau</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>f3f8503111f236d342e47eda0249c134f562042efe1b0d0138361e8d4c1b2b4e</string>
			<key>size</key>
			<integer>57095</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/autotext/pt/template.bau</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>76d73f3d663a37313a722e94943298c0612c4aa5a54237c8dd509bdb58899113</string>
			<key>size</key>
			<integer>6790</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/registry/Langpack-pt.xcd</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>ce19f3631c5c145dc380e079204a9fec9bfbb54ec549bc4f8f3a61890c163b63</string>
			<key>size</key>
			<integer>478</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/registry/res/fcfg_langpack_pt.xcd</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>c077be68639734bf884e514a398b4aa531195ef1c372c189494ff89602060d9a</string>
			<key>size</key>
			<integer>29122</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/registry/res/registry_pt.xcd</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>aa7f65e4d3907bc2b68384520656cf73b1c28ea252d24c7063c11a661e656c48</string>
			<key>size</key>
			<integer>683727</integer>
		</dict>
	</array>
</dict>
</plist>
