<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/extensions</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libXxf86vm</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libXxf86vm.a</string>
			<key>mtime</key>
			<integer>1520259074</integer>
			<key>sha256</key>
			<string>d4b8b9fbf977e8d6bb0b4ec590f54fbf194af8a31fdb686d846189280b338180</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/xxf86vm.pc</string>
			<key>mtime</key>
			<integer>1520259074</integer>
			<key>sha256</key>
			<string>381cc39d5567788a62fe77e9f6e958a2ecee3ffce0df828a171f38c32a6ff8a8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/extensions/xf86vmode.h</string>
			<key>mtime</key>
			<integer>1520259074</integer>
			<key>sha256</key>
			<string>06be35454c49bde32c6e84e1543382bc11c854fc193339d64277b2110ca2f21d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XF86VidModeSetGammaRamp.3</string>
			<key>mtime</key>
			<integer>1520259074</integer>
			<key>sha256</key>
			<string>bf0078b73a65fd2775dcae7f6def8387bc0d4702ab70fdc67dfb0e34536910c1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XF86VidModeModModeLine.3</string>
			<key>mtime</key>
			<integer>1520259074</integer>
			<key>sha256</key>
			<string>bf0078b73a65fd2775dcae7f6def8387bc0d4702ab70fdc67dfb0e34536910c1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XF86VidModeQueryVersion.3</string>
			<key>mtime</key>
			<integer>1520259074</integer>
			<key>sha256</key>
			<string>bf0078b73a65fd2775dcae7f6def8387bc0d4702ab70fdc67dfb0e34536910c1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XF86VidModeValidateModeLine.3</string>
			<key>mtime</key>
			<integer>1520259074</integer>
			<key>sha256</key>
			<string>bf0078b73a65fd2775dcae7f6def8387bc0d4702ab70fdc67dfb0e34536910c1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XF86VidModeGetGammaRamp.3</string>
			<key>mtime</key>
			<integer>1520259074</integer>
			<key>sha256</key>
			<string>bf0078b73a65fd2775dcae7f6def8387bc0d4702ab70fdc67dfb0e34536910c1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XF86VidModeSetGamma.3</string>
			<key>mtime</key>
			<integer>1520259074</integer>
			<key>sha256</key>
			<string>bf0078b73a65fd2775dcae7f6def8387bc0d4702ab70fdc67dfb0e34536910c1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XF86VM.3</string>
			<key>mtime</key>
			<integer>1520259074</integer>
			<key>sha256</key>
			<string>a84ef02812cd0db4d879ba31eb1f63f88e3cd7895bab055950b2f61b10330632</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XF86VidModeSetClientVersion.3</string>
			<key>mtime</key>
			<integer>1520259074</integer>
			<key>sha256</key>
			<string>bf0078b73a65fd2775dcae7f6def8387bc0d4702ab70fdc67dfb0e34536910c1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XF86VidModeGetGamma.3</string>
			<key>mtime</key>
			<integer>1520259074</integer>
			<key>sha256</key>
			<string>bf0078b73a65fd2775dcae7f6def8387bc0d4702ab70fdc67dfb0e34536910c1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XF86VidModeLockModeSwitch.3</string>
			<key>mtime</key>
			<integer>1520259074</integer>
			<key>sha256</key>
			<string>bf0078b73a65fd2775dcae7f6def8387bc0d4702ab70fdc67dfb0e34536910c1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XF86VidModeQueryExtension.3</string>
			<key>mtime</key>
			<integer>1520259074</integer>
			<key>sha256</key>
			<string>bf0078b73a65fd2775dcae7f6def8387bc0d4702ab70fdc67dfb0e34536910c1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XF86VidModeGetPermissions.3</string>
			<key>mtime</key>
			<integer>1520259074</integer>
			<key>sha256</key>
			<string>bf0078b73a65fd2775dcae7f6def8387bc0d4702ab70fdc67dfb0e34536910c1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XF86VidModeDeleteModeLine.3</string>
			<key>mtime</key>
			<integer>1520259074</integer>
			<key>sha256</key>
			<string>bf0078b73a65fd2775dcae7f6def8387bc0d4702ab70fdc67dfb0e34536910c1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XF86VidModeGetModeLine.3</string>
			<key>mtime</key>
			<integer>1520259074</integer>
			<key>sha256</key>
			<string>bf0078b73a65fd2775dcae7f6def8387bc0d4702ab70fdc67dfb0e34536910c1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XF86VidModeAddModeLine.3</string>
			<key>mtime</key>
			<integer>1520259074</integer>
			<key>sha256</key>
			<string>bf0078b73a65fd2775dcae7f6def8387bc0d4702ab70fdc67dfb0e34536910c1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XF86VidModeSwitchToMode.3</string>
			<key>mtime</key>
			<integer>1520259074</integer>
			<key>sha256</key>
			<string>bf0078b73a65fd2775dcae7f6def8387bc0d4702ab70fdc67dfb0e34536910c1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XF86VidModeGetDotClocks.3</string>
			<key>mtime</key>
			<integer>1520259074</integer>
			<key>sha256</key>
			<string>bf0078b73a65fd2775dcae7f6def8387bc0d4702ab70fdc67dfb0e34536910c1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XF86VidModeSwitchMode.3</string>
			<key>mtime</key>
			<integer>1520259074</integer>
			<key>sha256</key>
			<string>bf0078b73a65fd2775dcae7f6def8387bc0d4702ab70fdc67dfb0e34536910c1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XF86VidModeGetMonitor.3</string>
			<key>mtime</key>
			<integer>1520259074</integer>
			<key>sha256</key>
			<string>bf0078b73a65fd2775dcae7f6def8387bc0d4702ab70fdc67dfb0e34536910c1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XF86VidModeGetGammaRampSize.3</string>
			<key>mtime</key>
			<integer>1520259074</integer>
			<key>sha256</key>
			<string>bf0078b73a65fd2775dcae7f6def8387bc0d4702ab70fdc67dfb0e34536910c1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XF86VidModeGetViewPort.3</string>
			<key>mtime</key>
			<integer>1520259074</integer>
			<key>sha256</key>
			<string>bf0078b73a65fd2775dcae7f6def8387bc0d4702ab70fdc67dfb0e34536910c1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XF86VidModeGetAllModeLines.3</string>
			<key>mtime</key>
			<integer>1520259074</integer>
			<key>sha256</key>
			<string>bf0078b73a65fd2775dcae7f6def8387bc0d4702ab70fdc67dfb0e34536910c1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XF86VidModeSetViewPort.3</string>
			<key>mtime</key>
			<integer>1520259074</integer>
			<key>sha256</key>
			<string>bf0078b73a65fd2775dcae7f6def8387bc0d4702ab70fdc67dfb0e34536910c1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libXxf86vm/COPYING</string>
			<key>mtime</key>
			<integer>1520259074</integer>
			<key>sha256</key>
			<string>f3da8eaed19e27e4f67e6f076d4ebdb8d649e15a8ad33a415fb65a23de1b6689</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libXxf86vm.so</string>
			<key>mtime</key>
			<integer>1520259074</integer>
			<key>target</key>
			<string>/usr/lib/libXxf86vm.so.1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
