<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/SM</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libSM</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/SM/SM.h</string>
			<key>mtime</key>
			<integer>1539206299</integer>
			<key>sha256</key>
			<string>3580529fdcd97370008a713ff8c4e9e22d7ce179b04d1eabad9ab21085cb3373</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/SM/SMlib.h</string>
			<key>mtime</key>
			<integer>1539206299</integer>
			<key>sha256</key>
			<string>d2aea2243d0ec61de6dbde0a7b389d1d6918aa23adc50354d88f7580f8eac11a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/SM/SMproto.h</string>
			<key>mtime</key>
			<integer>1539206299</integer>
			<key>sha256</key>
			<string>965cca37380cf71c0c4a2681c3c8b8e45a49a8807a1c82e7cf2a952cd63ec702</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libSM.a</string>
			<key>mtime</key>
			<integer>1539206299</integer>
			<key>sha256</key>
			<string>b542ad11d1b258a2bca43ac243fb196263bc56b17446949fee7390031c3544cb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/sm.pc</string>
			<key>mtime</key>
			<integer>1539206299</integer>
			<key>sha256</key>
			<string>e3516dbf608a49a5a7621fdd786f6431be66ab434428ed049a87250608a0087d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libSM/SMlib.xml</string>
			<key>mtime</key>
			<integer>1539206299</integer>
			<key>sha256</key>
			<string>d280b82acad1bf8fde469cda6a8b1de188fd9692766cfb00d8306152c1889ae0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libSM/xsmp.xml</string>
			<key>mtime</key>
			<integer>1539206299</integer>
			<key>sha256</key>
			<string>eea7256c95a5f342ed9addd4e111b64581f24040ff893ac558072df9927ebbfc</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libSM.so</string>
			<key>mtime</key>
			<integer>1539206299</integer>
			<key>target</key>
			<string>/usr/lib/libSM.so.6.0.1</string>
		</dict>
	</array>
</dict>
</plist>
