<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libproxy/0.4.15/modules</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libproxy/0.4.15</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libproxy</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libproxy/0.4.15/modules/config_kde.so</string>
			<key>mtime</key>
			<integer>1494532673</integer>
			<key>sha256</key>
			<string>b00becdfd7d19a19c9a47adb05ac548e63304b8b23615c449e90686ee1f173fb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libproxy.so.1.0.0</string>
			<key>mtime</key>
			<integer>1494532673</integer>
			<key>sha256</key>
			<string>dca75c4f04b6a8723bb2cfb9638b20fdb3a463b22535c3d00181384987a511d7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/proxy</string>
			<key>mtime</key>
			<integer>1494532673</integer>
			<key>sha256</key>
			<string>3f3b1098ace9084d6d83dab4f680a58f510c5efccafea8b9e7102a5d955123b6</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libproxy.so.1</string>
			<key>mtime</key>
			<integer>1494532673</integer>
			<key>target</key>
			<string>/usr/lib/libproxy.so.1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
