<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/include/jconfig.h</string>
			<key>mtime</key>
			<integer>1608187495</integer>
			<key>sha256</key>
			<string>81949f418961ffda9655b38d3e5e5adf0854342e8545259167bb0cef421323d4</string>
			<key>size</key>
			<integer>2169</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/jerror.h</string>
			<key>mtime</key>
			<integer>1608187495</integer>
			<key>sha256</key>
			<string>537d96b51d8589753d1b00ec1395e0cfc842b76610574813ffd8e4e0d01cc636</string>
			<key>size</key>
			<integer>15177</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/jmorecfg.h</string>
			<key>mtime</key>
			<integer>1608187495</integer>
			<key>sha256</key>
			<string>a4a48133f27dc547539bcdd59e509e8e82622f79e9d086f1caa6e26b416330b5</string>
			<key>size</key>
			<integer>15139</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/jpegint.h</string>
			<key>mtime</key>
			<integer>1608187495</integer>
			<key>sha256</key>
			<string>8f8c4da160fadae1be2826d5f25511a8d700fa6420475f5bee2be6a511cfebd6</string>
			<key>size</key>
			<integer>15527</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/jpeglib.h</string>
			<key>mtime</key>
			<integer>1608187495</integer>
			<key>sha256</key>
			<string>b51cc0cb5ac082465004dc89422ebda439b053fdffbcf6baf8a6336a3288759f</string>
			<key>size</key>
			<integer>50281</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/transupp.h</string>
			<key>mtime</key>
			<integer>1608187495</integer>
			<key>sha256</key>
			<string>f6815f6a8c6c9d73da2a7297126f9776b8bbbb3ba6ab9f7fff99cc9f4602caa7</string>
			<key>size</key>
			<integer>10013</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/turbojpeg.h</string>
			<key>mtime</key>
			<integer>1608187495</integer>
			<key>sha256</key>
			<string>0614fabf27a5382455dd13c89dc348b0010a064cc38de7ab34cdcefa292b23e5</string>
			<key>size</key>
			<integer>74006</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libjpeg.a</string>
			<key>mtime</key>
			<integer>1608187495</integer>
			<key>sha256</key>
			<string>22176385b293776e2952d937e3701e78f8fce9b8207611e64356ad6a88e494cc</string>
			<key>size</key>
			<integer>829692</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libturbojpeg.a</string>
			<key>mtime</key>
			<integer>1608187495</integer>
			<key>sha256</key>
			<string>cd865150a41b24644d389a2f0fa684efd9a7fcfc49b024f5b95d5ea4bd188a33</string>
			<key>size</key>
			<integer>1009170</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/libjpeg.pc</string>
			<key>mtime</key>
			<integer>1608187495</integer>
			<key>sha256</key>
			<string>3746b20330e26ead09216671ddc4e5a9c345d482c5766b6e6682b6a9c552b903</string>
			<key>size</key>
			<integer>221</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/libturbojpeg.pc</string>
			<key>mtime</key>
			<integer>1608187495</integer>
			<key>sha256</key>
			<string>91774b0e09712e13eba50de4789b76464d11f9506e9780a33687e666d7762005</string>
			<key>size</key>
			<integer>233</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libjpeg.so</string>
			<key>mtime</key>
			<integer>1608187495</integer>
			<key>target</key>
			<string>/usr/lib/libjpeg.so.8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libturbojpeg.so</string>
			<key>mtime</key>
			<integer>1608187495</integer>
			<key>target</key>
			<string>/usr/lib/libturbojpeg.so.0</string>
		</dict>
	</array>
</dict>
</plist>
