<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/dcadec</string>
			<key>mtime</key>
			<integer>1526560306</integer>
			<key>sha256</key>
			<string>f51e6958e13c5b7781a8b4714927fd81e12a306de7b469b483111840ad9efc29</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/dtsdec</string>
			<key>mtime</key>
			<integer>1526560306</integer>
			<key>sha256</key>
			<string>078d2bdb02a6eb537e28e9e6b22203deeb254d984556cfcff73e1efafe3d4490</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/extract_dca</string>
			<key>mtime</key>
			<integer>1526560306</integer>
			<key>sha256</key>
			<string>7e88f529fbc57f9fd36a1ceefa6314a49248ca59244a15c9fb665ae078ef9763</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/extract_dts</string>
			<key>mtime</key>
			<integer>1526560306</integer>
			<key>sha256</key>
			<string>078d2bdb02a6eb537e28e9e6b22203deeb254d984556cfcff73e1efafe3d4490</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdca.so.0.0.0</string>
			<key>mtime</key>
			<integer>1526560306</integer>
			<key>sha256</key>
			<string>19073c76a3ba82e3996e52e5e3464172311043049e12b66731a5621ca222c338</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/dcadec.1</string>
			<key>mtime</key>
			<integer>1526560306</integer>
			<key>sha256</key>
			<string>8894216f62783cbe6734c4421fcd213bcfe0c65acaa4f7b1cc778620a0b498ea</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/extract_dca.1</string>
			<key>mtime</key>
			<integer>1526560306</integer>
			<key>sha256</key>
			<string>9c0bebed684363437ebf301bd529535e3957b95f1a799f70943a0a8305df2a9e</string>
			<key>type</key>
			<string>files</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdca.so.0</string>
			<key>mtime</key>
			<integer>1526560306</integer>
			<key>target</key>
			<string>/usr/lib/libdca.so.0.0.0</string>
			<key>type</key>
			<string>links</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/dtsdec.1</string>
			<key>mtime</key>
			<integer>1526560306</integer>
			<key>target</key>
			<string>/usr/share/man/man1/dcadec.1</string>
			<key>type</key>
			<string>links</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/extract_dts.1</string>
			<key>mtime</key>
			<integer>1526560306</integer>
			<key>target</key>
			<string>/usr/share/man/man1/extract_dca.1</string>
			<key>type</key>
			<string>links</string>
		</dict>
	</array>
</dict>
</plist>
