<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libffi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/include/ffi.h</string>
			<key>mtime</key>
			<integer>1585019316</integer>
			<key>sha256</key>
			<string>6ac535a9dfeb6a80bc1ecc1eff71626ddd8a15131e3265298536e2966170179b</string>
			<key>size</key>
			<integer>13934</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ffitarget.h</string>
			<key>mtime</key>
			<integer>1585019316</integer>
			<key>sha256</key>
			<string>ce9a87677a9b9af9dcc6f8f632b62948214824174b65fe4361d3b662cc72aec0</string>
			<key>size</key>
			<integer>4343</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libffi.a</string>
			<key>mtime</key>
			<integer>1585019316</integer>
			<key>sha256</key>
			<string>603b79bc4075de7e2d20648ce247421ac6463898b463a89c7842a4f728a6ee2a</string>
			<key>size</key>
			<integer>61630</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/libffi.pc</string>
			<key>mtime</key>
			<integer>1585019316</integer>
			<key>sha256</key>
			<string>e2adf22ea92b72cced5960f903c7fef4443825c776a86d0757bab91129e4c527</string>
			<key>size</key>
			<integer>207</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/libffi.info</string>
			<key>mtime</key>
			<integer>1585019316</integer>
			<key>sha256</key>
			<string>89073c08c3d24d4a28775340aeaef49360504271a173b974b5f9f5203358727b</string>
			<key>size</key>
			<integer>36885</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libffi/LICENSE</string>
			<key>mtime</key>
			<integer>1585019316</integer>
			<key>sha256</key>
			<string>deaf3a42effb551a5b140fa9afefed183a27f1341c6d1bf430d106a5e6931fc0</string>
			<key>size</key>
			<integer>1132</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/ffi.3</string>
			<key>mtime</key>
			<integer>1585019316</integer>
			<key>sha256</key>
			<string>aa4730e114c305943a2226a524ed8447dc6b66a184523999868e5433c2c9de74</string>
			<key>size</key>
			<integer>850</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/ffi_call.3</string>
			<key>mtime</key>
			<integer>1585019316</integer>
			<key>sha256</key>
			<string>2817ce7b78cb737d7b85b18b45899470f5f565f990d056d3d8cfabf6d779477f</string>
			<key>size</key>
			<integer>2333</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/ffi_prep_cif.3</string>
			<key>mtime</key>
			<integer>1585019316</integer>
			<key>sha256</key>
			<string>f60c5bb9d04b55988da13511a2c3edfa0f39fb6f51abfb8ac24d0b161c4169c0</string>
			<key>size</key>
			<integer>1158</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/ffi_prep_cif_var.3</string>
			<key>mtime</key>
			<integer>1585019316</integer>
			<key>sha256</key>
			<string>9365685252f33f13627c9303bc01883b764227132069260c19e94100ff442a51</string>
			<key>size</key>
			<integer>1321</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libffi.so</string>
			<key>mtime</key>
			<integer>1585019316</integer>
			<key>target</key>
			<string>/usr/lib/libffi.so.7.1.0</string>
		</dict>
	</array>
</dict>
</plist>
