<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es_AR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es_AR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es_ES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es_ES/LC_MESSAGES</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libvisual-0.4.so.0.0.0</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>27c8c5d91f2f3bc70393decccd87e0cba71c3020087084ff32fdf17f16091a9c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es_AR/LC_MESSAGES/libvisual-0.4.mo</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>20848a8a8d6ddca454825b3b4102393699850d156d7157535850556e110fb891</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es_ES/LC_MESSAGES/libvisual-0.4.mo</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>20848a8a8d6ddca454825b3b4102393699850d156d7157535850556e110fb891</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libvisual-0.4.so.0</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>target</key>
			<string>/usr/lib/libvisual-0.4.so.0.0.0</string>
		</dict>
	</array>
</dict>
</plist>
