<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/trietool</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>sha256</key>
			<string>2ec28174f9a120e2d345347fdc7f4af63ad2b937852878b93a20c14ec203173c</string>
			<key>size</key>
			<integer>18496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdatrie.so.1.4.0</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>sha256</key>
			<string>68a7b87d96dbc4c4e3e28086ccf012649ce4de85299c5b91399c99d45997cf90</string>
			<key>size</key>
			<integer>34808</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/trietool.1</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>sha256</key>
			<string>231bb305f3de55855d324a834e5667bf2cb2afe5739d9414f5da7480dd157ee6</string>
			<key>size</key>
			<integer>4628</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/trietool-0.2</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>target</key>
			<string>/usr/bin/trietool</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdatrie.so.1</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>target</key>
			<string>/usr/lib/libdatrie.so.1.4.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/trietool-0.2.1</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>target</key>
			<string>/usr/share/man/man1/trietool.1</string>
		</dict>
	</array>
</dict>
</plist>
