<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libxslt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/xsltproc</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>b5710fdb78f91789d4ef644a29ce9277388801e024176abf9d00f63c392851ec</string>
			<key>size</key>
			<integer>30872</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libexslt.so.0.8.20</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>a8ead51f5d6a95852845bea7b230bb65a51eb1d5790c8fa954879fd330216398</string>
			<key>size</key>
			<integer>96168</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libxslt.so.1.1.34</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>c57bbc5f66eb1eb483ce2fc4a35a6840fc521f7bf4cccba2004f096ca6bb0ff2</string>
			<key>size</key>
			<integer>264384</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libxslt/COPYING</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>7e48e290b6bfccc2ec1b297023a1d77f2fd87417f71fbb9f50aabef40a851819</string>
			<key>size</key>
			<integer>2968</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xsltproc.1</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>187664172530517654bc471bca8d9ea4fff0401a16645f71c624ab15c4ca85eb</string>
			<key>size</key>
			<integer>10192</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libexslt.so.0</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>target</key>
			<string>/usr/lib/libexslt.so.0.8.20</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libxslt.so.1</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>target</key>
			<string>/usr/lib/libxslt.so.1.1.34</string>
		</dict>
	</array>
</dict>
</plist>
