<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/10.2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/10.2/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/10.2/include/ssp</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/10.2/include/ssp/ssp.h</string>
			<key>mtime</key>
			<integer>1613687104</integer>
			<key>sha256</key>
			<string>7646fd44b0e9f13b9d7f88c729b5461bf678894608d03dd415a09e6e4af4ef52</string>
			<key>size</key>
			<integer>2395</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/10.2/include/ssp/stdio.h</string>
			<key>mtime</key>
			<integer>1613687104</integer>
			<key>sha256</key>
			<string>8b1d8953b46ae417a728af6cc1c72da1f763bf28cac1a8b05cd3293569a21e17</string>
			<key>size</key>
			<integer>3466</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/10.2/include/ssp/string.h</string>
			<key>mtime</key>
			<integer>1613687104</integer>
			<key>sha256</key>
			<string>06f45805ff2c336bb8033237e1730513747628c11afe65c88a5f4643f81cd9bc</string>
			<key>size</key>
			<integer>5713</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/10.2/include/ssp/unistd.h</string>
			<key>mtime</key>
			<integer>1613687104</integer>
			<key>sha256</key>
			<string>b1e2a8efe5503ee627f398b458b173aaf70d7398be6c03051e4e22aeedd53a6f</string>
			<key>size</key>
			<integer>2815</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libssp.a</string>
			<key>mtime</key>
			<integer>1613687104</integer>
			<key>sha256</key>
			<string>829c7cf48e4cdbaf220f749fc16b44c7a626fba619baf164cee6bdb3890a61e6</string>
			<key>size</key>
			<integer>27570</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libssp_nonshared.a</string>
			<key>mtime</key>
			<integer>1613687104</integer>
			<key>sha256</key>
			<string>353969247cac9aaaee61f60b6377161c03fc2d015d9bd6854003952ec1c5df15</string>
			<key>size</key>
			<integer>1622</integer>
		</dict>
	</array>
</dict>
</plist>
