<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libexslt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libxslt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/EXSLT</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/html</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/tutorial</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/tutorial2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/xslt-config</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>cbc6274a650692d21cb63fdbe47a9372c401a2442a4c5da880cdfa3355eb66a6</string>
			<key>size</key>
			<integer>2552</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libexslt/exslt.h</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>67dd566c70036b8a39fa426e7ecb5fe98d74d2a05332a0622b5699b31729fc0a</string>
			<key>size</key>
			<integer>3018</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libexslt/exsltconfig.h</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>4cf5eb9a0b5077287c27fda0900da1f7864ab502dcecfddc34fd15bb7a5e3161</string>
			<key>size</key>
			<integer>1165</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libexslt/exsltexports.h</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>410f170ab3f5bca2247579660c18153f6dfd4bed7305fb4708ad5128114f9d14</string>
			<key>size</key>
			<integer>3396</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libxslt/attributes.h</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>bf02423703962f136da1387866a7fd8e19713a3609fb67ba29b68310ceec1076</string>
			<key>size</key>
			<integer>930</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libxslt/documents.h</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>9018a1807e69a91bc56a5866fdf3851ed2531614e905c9baf35c93e5dc60c1fc</string>
			<key>size</key>
			<integer>2704</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libxslt/extensions.h</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>6d3caebf9fe68fe45d3c58694fcf4b20cfa268c279759b4914992ad2c6df6b11</string>
			<key>size</key>
			<integer>6903</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libxslt/extra.h</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>e97dd6bb735d3edae5ab3f8aa28edd07eadc7279ecce2ea3df3839f7d8130728</string>
			<key>size</key>
			<integer>1640</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libxslt/functions.h</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>7dce02663fbd29e047ccef7e59653f6cdaa6684640cf79fb34dc02948057935e</string>
			<key>size</key>
			<integer>1972</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libxslt/imports.h</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>d7c9088e81aa7455d1eb709edd9b73c6c4e2615dd718aa5c8586a43143c3b942</string>
			<key>size</key>
			<integer>1840</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libxslt/keys.h</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>d7abf6e55125b92ee3621820ea0605c15c6018c9fed5cb67961856593e117016</string>
			<key>size</key>
			<integer>1155</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libxslt/namespaces.h</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>5687d29f62a49fe6b927244a0a66378cfa7b6a6432de7d3dbf3cb429442de2ad</string>
			<key>size</key>
			<integer>1666</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libxslt/numbersInternals.h</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>120e60619e69de1d3f7b9c3223ad52fb413afc0ad5273bf4cabeb78fa054d9f7</string>
			<key>size</key>
			<integer>2019</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libxslt/pattern.h</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>b49f813dfb3d51882264c3284196e18a3de0ef1569a58abb4ebacebb6e5e47b4</string>
			<key>size</key>
			<integer>2110</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libxslt/preproc.h</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>fb5f4d1fcb77ab5346b06e8eb2772d547924e37b5f3606e9d5e8b9825b7f8cd5</string>
			<key>size</key>
			<integer>892</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libxslt/security.h</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>7d40f5732fd6c45093bd334017458e408538a7908d5a7d4b1c5c9925df85c795</string>
			<key>size</key>
			<integer>2652</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libxslt/templates.h</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>6e7b7a26aba2e8a539a4d51d30d3db419919e5df954d6a82d1330690e955a08a</string>
			<key>size</key>
			<integer>2268</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libxslt/transform.h</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>2024fb99e515d0e4c0c76ed668a56b2a3f9a52647d2d2a5335a38025dd944ad8</string>
			<key>size</key>
			<integer>6311</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libxslt/variables.h</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>366ca988115308ceeefb691483fc99c45c2ada84c41b51058d81b8cdb7c6b38e</string>
			<key>size</key>
			<integer>3173</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libxslt/xslt.h</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>c26171d90df53ddf08ab6a61010a58f49dd041ab5bf255a0de0001b6a285804c</string>
			<key>size</key>
			<integer>1964</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libxslt/xsltInternals.h</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>0a10a60a7854e6621cae0fa18d1354f6de4f8828c1d5359a686a195cd6900f24</string>
			<key>size</key>
			<integer>57302</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libxslt/xsltconfig.h</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>ff9905cc8ae2bd8f7ce0647cad6584fa2f8853642f964f658cab3366b31f2044</string>
			<key>size</key>
			<integer>3675</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libxslt/xsltexports.h</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>d1f8f4d963829f8b8bdfa66e64490611be545b5fedb7e402fa2875db1be0b1c2</string>
			<key>size</key>
			<integer>3439</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libxslt/xsltlocale.h</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>c8e9091903620f7f5fc0162eb354e981299bd66109b2d5dc1f1dcefd0d3777fc</string>
			<key>size</key>
			<integer>1549</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libxslt/xsltutils.h</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>275deaea6604907dbdd5b47bf9fd2b52946a99a789d6e854bf495b0354bdb222</string>
			<key>size</key>
			<integer>8298</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/libexslt.pc</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>7c34b486ec1076a98fd8bfdfa8d2bde60e871abbb952df89129dea91c9a3cc08</string>
			<key>size</key>
			<integer>283</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/libxslt.pc</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>db6379a5d4b504f667c5df5ccd42d9254d393dede14e4a1986af0c2d840db556</string>
			<key>size</key>
			<integer>254</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/xsltConf.sh</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>95df26ddb868f18fca92d90d53d29bdbd924b5724072ebd0f537b9b9c30fcf92</string>
			<key>size</key>
			<integer>190</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal/libxslt.m4</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>e5db1173f22fd9f131801e52b0127075120c31b78b8f046f173a1e934b3d0d73</string>
			<key>size</key>
			<integer>8119</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/API.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>d345035f99427ad18e2a10fcb7201f0ac93549d2b3804f8ab73fae84b948d754</string>
			<key>size</key>
			<integer>6758</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/APIchunk0.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>7e2a0ae9d415c887b5374f8020ece93c06652dc34f1fc7f009fea5a8aff12805</string>
			<key>size</key>
			<integer>28072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/APIchunk1.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>4dffcc93c405b94cc8bf0c120b35bf68a25ae1ee5f3ab2bf6bb89a0327fc48ba</string>
			<key>size</key>
			<integer>27327</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/APIchunk10.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>6b0eb9a4f98cfef0115828b04f2bb0967cda5d08d290a4e2a5bd73ab4dc512e0</string>
			<key>size</key>
			<integer>29074</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/APIchunk11.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>72cc77551cbb67a394caa13d3cb110c34b39a3374d3352fc2d2192e3be3c4ab0</string>
			<key>size</key>
			<integer>38458</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/APIchunk12.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>41b4db9e8f74452fc87a3a468f1b90d70b1afb1076de76015442a761f6569391</string>
			<key>size</key>
			<integer>7495</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/APIchunk2.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>353b6dc3fbb837c7f091739bd81a77badf288979a1ba1cab045c01c2e45930b9</string>
			<key>size</key>
			<integer>43542</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/APIchunk3.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>73bdabe21734de55eb93e9c86bb099b1239a2d4b4a26d11a022cd01976e9cd65</string>
			<key>size</key>
			<integer>41325</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/APIchunk4.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>00cbadab4412e86eab9f9895ece2d661556bded183622751969f83e240b2468e</string>
			<key>size</key>
			<integer>37503</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/APIchunk5.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>8b3f2320e4f749df44c1ca53622320f515675e92e90dd307561bcfea1b0d91f4</string>
			<key>size</key>
			<integer>28080</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/APIchunk6.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>6a4e13a738f0afb4fa332d69720da39c0fe68f218f476bef156a1ec055924715</string>
			<key>size</key>
			<integer>27804</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/APIchunk7.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>d95576ec6278bcb2c93283e6136099de215209b29b2ab1bffde4ed91d023d605</string>
			<key>size</key>
			<integer>37870</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/APIchunk8.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>5bbfffffca436b34a3c7c0077d131aae258dd592b709ec227ee2bbf81bd9202e</string>
			<key>size</key>
			<integer>41873</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/APIchunk9.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>ce146d0268290ba34b844bbf5c98b114f5d97d0877a06e6c57a4b6a51dd80a47</string>
			<key>size</key>
			<integer>52087</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/APIconstructors.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>6bba2d575af3971cd4fdfd036bbf7679f7acc68fe1777cc572cb0104b92c636d</string>
			<key>size</key>
			<integer>14194</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/APIfiles.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>78199416dc87a96ad35cc350f4081714c0d83ed70b19dbae262ebc634ebf544d</string>
			<key>size</key>
			<integer>59224</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/APIfunctions.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>ff09b7676af525548cb0c21fdcfc6d6a06b3724984ad4f71b3ccf5aba6830aed</string>
			<key>size</key>
			<integer>53588</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/APIsymbols.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>376657baaf57101a28df86b23e85bddef88be850805508d44e2ff4925fe59d38</string>
			<key>size</key>
			<integer>57994</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/EXSLT/APIchunk0.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>3853acd4171e4a3b2bd1dbf75d0b51139239a1076d2f2bad0d87cb9bc4addf72</string>
			<key>size</key>
			<integer>17046</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/EXSLT/APIconstructors.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>00aa7939d4abc08ec023a9befe531843640656c6dce746290410a79c19de5302</string>
			<key>size</key>
			<integer>5008</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/EXSLT/APIfiles.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>a88782a5ebbe1887fea74b8bd78679c9358ddc77a70119676cce62ed856e6583</string>
			<key>size</key>
			<integer>7894</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/EXSLT/APIfunctions.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>c028a43d6feb426feeddd70cab6d31f2a8377a45d36f4219e07371913758ee26</string>
			<key>size</key>
			<integer>5901</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/EXSLT/APIsymbols.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>f55ff9953e8d1d92d72a9101b1d8178f53d9b18adc7c042fa3db6efb4ecd0829</string>
			<key>size</key>
			<integer>7876</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/EXSLT/bugs.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>bccd957ac137ab7cfad350d557310406b67f4ad6ce3a3bb05f07ca665e9016ae</string>
			<key>size</key>
			<integer>9384</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/EXSLT/docs.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>f1553038171527934b69dbec1c54739da1b3e0ed6c5256b441e5099269a6a74f</string>
			<key>size</key>
			<integer>5552</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/EXSLT/downloads.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>dccd53f6bdff0cbd86bc9a8948e3b31148f1934209277a3d1af592587d67bae4</string>
			<key>size</key>
			<integer>6945</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/EXSLT/exslt.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>b00d3337424aaa9f244af04e131b8568237a17ef135af740cacdf1801e89adc0</string>
			<key>size</key>
			<integer>9359</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/EXSLT/help.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>1bca6799fe032b0034333b530249319a6b2787c73aa9de4a36bf06f50fc835f9</string>
			<key>size</key>
			<integer>5997</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/EXSLT/index.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>23c7afb5e630d70a0f70dacb17e73bb926b75b6a608084c4ecbbe1602931c419</string>
			<key>size</key>
			<integer>5447</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/EXSLT/intro.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>1440b121c8ccff06099863b582e2d36ea876e04f8b7027b7d61d438eca068a4e</string>
			<key>size</key>
			<integer>5095</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/FAQ.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>a014a4a1b57133c580d4d2fc3260afad9f73a1f02f830094cdd7bc296321c6fc</string>
			<key>size</key>
			<integer>7542</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/Libxslt-Logo-180x168.gif</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>f926b973d4b29abc99802415e53b9bb872f929121cf3db569a0e0f17c437a57e</string>
			<key>size</key>
			<integer>8193</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/Libxslt-Logo-90x34.gif</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>68c86cc7b33a452b5aad8e0405130a5e466a81b0993e13205523bddb40156620</string>
			<key>size</key>
			<integer>3035</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/bugs.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>aa51ecc68f4b9807e33a4a2f258e7be402a10079f31e52864eb33778e286ad3d</string>
			<key>size</key>
			<integer>12369</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/contexts.gif</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>1b14e9c8eba4680c25b4f0c9786085b5061a30861d8241ccc48b06e10e0e2687</string>
			<key>size</key>
			<integer>10326</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/contribs.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>a80147545a96c9a5323270d510c5a55f94904562a0e798c2869c80a91817fcb7</string>
			<key>size</key>
			<integer>7600</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/docbook.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>9f5edb411873d7a11643d8e603945cfc9f86ade5bd9a670ccd14794d8372bc4b</string>
			<key>size</key>
			<integer>9299</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/docs.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>e70a779af187dfc4c9eb4c60370f3424686b2d95496242cfc6170eb3541fd40c</string>
			<key>size</key>
			<integer>6239</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/downloads.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>193dc12552f42e84f79db0f32c0acb1a610b2d8a9f9d95f0baec0dbac0831bdb</string>
			<key>size</key>
			<integer>7473</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/extensions.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>74de933cb119e258047cf598f4aaaedda8bd48fbcdd8a171d77af9e1406039cd</string>
			<key>size</key>
			<integer>22740</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/help.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>cebe4eb04dc4f5c57489861b7630b00e43988b02112f01795f0155547db065b9</string>
			<key>size</key>
			<integer>6671</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/html/book1.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>770e7a812b26f51824abc236c9caafa739166490d63f8ddf78abb6d1750f8500</string>
			<key>size</key>
			<integer>6813</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/html/home.png</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>034c231513fea72bbc788109596f9b35db7b87e270c19c8b3dd22940fb35e6be</string>
			<key>size</key>
			<integer>654</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/html/index.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>770e7a812b26f51824abc236c9caafa739166490d63f8ddf78abb6d1750f8500</string>
			<key>size</key>
			<integer>6813</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/html/left.png</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>9ae091e52c667a72d77eb6c41cd9afc7af60bc89bfc3023248b1dc3bb7dbf461</string>
			<key>size</key>
			<integer>459</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/html/libxslt-attributes.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>a65bf1bcae135c2a595cf45b8ca098df1a4da0f46251b96fd299ff268c56daa4</string>
			<key>size</key>
			<integer>9348</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/html/libxslt-documents.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>e7ed19495099f61bd9953c73549bb749f9df2968fbcce7e142ebe9ededdcbdc8</string>
			<key>size</key>
			<integer>16439</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/html/libxslt-extensions.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>4034dbbb7430d5336e7fa5d1334904ed3b4ae5d10796f41463ac8effab73060e</string>
			<key>size</key>
			<integer>49610</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/html/libxslt-extra.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>22aecd43ff6c9937d4080062b70d4de4b787687a400ae5a38558748547ee89a9</string>
			<key>size</key>
			<integer>10166</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/html/libxslt-functions.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>6998f57f0e96d4a3ee522dbf975add6014e95bd97780f1ae0241d18cefb01a27</string>
			<key>size</key>
			<integer>14001</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/html/libxslt-imports.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>9918e969cd968d3763402d9e7b9280d037783ce90bc90bf856ba9b5e60c52cc5</string>
			<key>size</key>
			<integer>12837</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/html/libxslt-keys.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>1cbee6586b11ab4bb967a0d73f3a6f4e12a65e175c78d782a5d4204f4d23f489</string>
			<key>size</key>
			<integer>11253</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/html/libxslt-lib.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>770e7a812b26f51824abc236c9caafa739166490d63f8ddf78abb6d1750f8500</string>
			<key>size</key>
			<integer>6813</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/html/libxslt-namespaces.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>01ce5ff6a1b3fb07cbb64da5c1af2841e9828f0b5ae74843ac80f45b4a03445a</string>
			<key>size</key>
			<integer>15613</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/html/libxslt-numbersInternals.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>cf5920e60f7c87e3d3fef20a80faf19040266209150b7caaec72f6cb011c3f47</string>
			<key>size</key>
			<integer>7704</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/html/libxslt-pattern.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>f7d821debc139386233017a83885da9278ed8b1a13959de7b738c3e177e39080</string>
			<key>size</key>
			<integer>17671</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/html/libxslt-preproc.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>11c303714780585d5ddc7e8d551e3598785de808347e72fb201061427e2c0771</string>
			<key>size</key>
			<integer>8723</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/html/libxslt-security.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>70a673d3e83d1eeed053b763b21e514e319e5c906eb567939c1b3624f676565d</string>
			<key>size</key>
			<integer>20143</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/html/libxslt-templates.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>6c23108117a6495ca866f9ca56f8d011bc5cf8a6d48ce8e9cea8bc0bc8d8a99a</string>
			<key>size</key>
			<integer>20887</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/html/libxslt-transform.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>371fa56ea5e8b6dea2167ac1884de58a7850c9bf809b12bb8bf0e416a57e80d3</string>
			<key>size</key>
			<integer>51247</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/html/libxslt-variables.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>0e91b770ddf0ee8b2b2bbe6f4999d479cbcd1c1493dd3a985f703bcd98162436</string>
			<key>size</key>
			<integer>22789</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/html/libxslt-xslt.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>24adacbbf2dc6004a194264bd134d1b5736380044543faee9d7eb1c939c6a7a5</string>
			<key>size</key>
			<integer>7782</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/html/libxslt-xsltInternals.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>cd39fe378680299da2d3384d9e68d121ca20996d3b08a20788499076f9b171ab</string>
			<key>size</key>
			<integer>110396</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/html/libxslt-xsltexports.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>78335b7cf8e67a534ecc64f9faca161e3116ea69d5895fbcf72177857fac607d</string>
			<key>size</key>
			<integer>6727</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/html/libxslt-xsltlocale.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>5ec55e257649d54dd16343c9338112ad9e9b70e4964c7abceadc61cee43fdce3</string>
			<key>size</key>
			<integer>11423</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/html/libxslt-xsltutils.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>4770cf9d299381da93864ffbfb2b4a2de1c473531652b3768da7dbbeb6ac3af1</string>
			<key>size</key>
			<integer>50768</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/html/right.png</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>17dcc0b175babc51d07f71382cf2083bcd4e9abfed091a45963f5ee982aa7b48</string>
			<key>size</key>
			<integer>472</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/html/up.png</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>2af945c4c6ce288adfad716ae1747f37056f7bf67b8536d2e5e6b8e0ce84c872</string>
			<key>size</key>
			<integer>406</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/index.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>892202e66d5d5418b18cd57326bf0ef154451b082ae89f81e742db731f316620</string>
			<key>size</key>
			<integer>6687</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/internals.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>0bd1343815adc1e397df022e34c133116166c25ff98f1e9da4e72e9a17cdae2d</string>
			<key>size</key>
			<integer>28836</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/intro.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>ef03d9fddb486545a6905b4c9b31760f6b388564381d49f088bf278de59d23a4</string>
			<key>size</key>
			<integer>6470</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/news.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>67b124be6a0896807f66bfbcb1ef07f8d20f92b99d1cfc1251c674312bfa1e98</string>
			<key>size</key>
			<integer>70736</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/node.gif</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>77d1aba9b099b594b0982c2335d8be7efbcc9550e9c03c75a0b2df8ef074c098</string>
			<key>size</key>
			<integer>4928</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/object.gif</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>75699262962dc83dea9f00c01486dd49ea24da2269b67d24d759ff8d89fe2148</string>
			<key>size</key>
			<integer>4575</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/processing.gif</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>792307ad4a97477d7a666acd475a16c73712d08140da7c829115d90ec47e0210</string>
			<key>size</key>
			<integer>9209</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/python.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>5671911b542f1ed12276d97c4494223eca3336909384f11d91ff1f99eabad7c6</string>
			<key>size</key>
			<integer>15964</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/redhat.gif</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>56f1647cba75ba35fff3adfd606861d5436cad72a4eb333dfcbaa6df315ce3bc</string>
			<key>size</key>
			<integer>697</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/smallfootonly.gif</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>9c8066bd8efba14d902f75b89a06c3d4166cd0c06bf08a277aab14dbd4ad8f17</string>
			<key>size</key>
			<integer>2772</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/stylesheet.gif</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>bc8747fd586853ef6dd08d5fcd36688eeba3947f52edb36860087411e4394652</string>
			<key>size</key>
			<integer>7050</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/templates.gif</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>d7da4c49a0701e5b81a554555b4a551f93005559162e09eee63fc278dc9753a2</string>
			<key>size</key>
			<integer>8995</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/tutorial/libxslt_tutorial.c</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>65f98741635955304102e6006937d482cb5cc612869df4e8c4eda28ae5ff0b6a</string>
			<key>size</key>
			<integer>1864</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/tutorial/libxslttutorial.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>46a7cb0c5e523ccc4c2b24ca1003a1112a4355da42db67371259aa65918b0629</string>
			<key>size</key>
			<integer>14770</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/tutorial/libxslttutorial.xml</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>137437dee7050b576561f4d57529c0d5b6bac0412c015471e33b21b505cd83b2</string>
			<key>size</key>
			<integer>10746</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/tutorial2/libxslt_pipes.c</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>a05b30fe073de334e31597b365dc2bae1ecbe7e23a41fd690cfcf7dc981df4da</string>
			<key>size</key>
			<integer>3676</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/tutorial2/libxslt_pipes.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>8f9b84f7bd492fdf0d2caa0d05ac139f11d5bae0e4b93989efb396fd77a1ad57</string>
			<key>size</key>
			<integer>34710</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/tutorial2/libxslt_pipes.xml</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>c3cdeb275a292c9d22fe4b908d2056a5327b4d451686093f3150ac93b905a649</string>
			<key>size</key>
			<integer>28194</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/xslt.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>4887b0961d6944484aeaf5d0a6d7fc6f8ff5440dcc80c711818ac7209323e2e1</string>
			<key>size</key>
			<integer>138766</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/xsltproc.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>6cb6444309cff303c2ddfa994a8f78d2d1889a634845fec9c61f952f73315c23</string>
			<key>size</key>
			<integer>9475</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libxslt-1.1.34/html/xsltproc2.html</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>c8947423c8c11c7eedb58407003dbb7907e07e889d48978ff285e872ae8cd773</string>
			<key>size</key>
			<integer>7074</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/libexslt.3</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>b89c45c0f756a60b51aece92c58b8fa9ba27ed93bf14a1cf14aa7b99ec43fecb</string>
			<key>size</key>
			<integer>6521</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/libxslt.3</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>sha256</key>
			<string>091321ae02fc50eef6087b9ac236f6c5fc17e5e5ef21800794888143db7aa485</string>
			<key>size</key>
			<integer>816</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libexslt.so</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>target</key>
			<string>/usr/lib/libexslt.so.0.8.20</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libxslt.so</string>
			<key>mtime</key>
			<integer>1589984895</integer>
			<key>target</key>
			<string>/usr/lib/libxslt.so.1.1.34</string>
		</dict>
	</array>
</dict>
</plist>
