<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/compizconfig/config</string>
			<key>mtime</key>
			<integer>1613837099</integer>
			<key>sha256</key>
			<string>7552cf0ccdb8ebddc753663b31917c8837a2639d7fdaaecf7a5bdd98ddfa0175</string>
			<key>size</key>
			<integer>52</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/compizconfig</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compizconfig</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compizconfig/backends</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/compiz/libccp.so</string>
			<key>mtime</key>
			<integer>1613837099</integer>
			<key>sha256</key>
			<string>0eff369e88afddd63624d3592a2388572bede536ae6ce9889bf599af11048baf</string>
			<key>size</key>
			<integer>22520</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/compizconfig/backends/libini.so</string>
			<key>mtime</key>
			<integer>1613837099</integer>
			<key>sha256</key>
			<string>f933ab67bb70d43cb0124b99d6915a015f4c57c9c698a18d6339d78da9a3645b</string>
			<key>size</key>
			<integer>22592</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libcompizconfig.so.0.0.0</string>
			<key>mtime</key>
			<integer>1613837099</integer>
			<key>sha256</key>
			<string>1ab9afa71e9be936f2f817540d85b2d758dade09a05990e31b538a1d09d3cce2</string>
			<key>size</key>
			<integer>326504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/compiz/ccp.xml</string>
			<key>mtime</key>
			<integer>1613837099</integer>
			<key>sha256</key>
			<string>60aa2280797c57f3237b9bf39170808c316f77e84b6858969883bdac7c1d52fc</string>
			<key>size</key>
			<integer>159</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libcompizconfig.so.0</string>
			<key>mtime</key>
			<integer>1613837099</integer>
			<key>target</key>
			<string>/usr/lib/libcompizconfig.so.0.0.0</string>
		</dict>
	</array>
</dict>
</plist>
