<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/idevice_id</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>5a67fe23697a1d1c7f0ef4851eed02f6f0da1247aaadc53724896d6cf1d9987b</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/idevicebackup</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>79275b0ce4123038add70ec0d0123d2cb3507cfdd8274127de2154d817e38dae</string>
			<key>size</key>
			<integer>51272</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/idevicebackup2</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>b472b13cfa75ba87f04400552559b67e1f59c7add63ac6d2b50e610fe653b7a8</string>
			<key>size</key>
			<integer>63568</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/idevicecrashreport</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>5a6dfa4a6db99475a10b6108528061fe6485ea14e4fd1e8a1f170c57124fb7c2</string>
			<key>size</key>
			<integer>30800</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/idevicedate</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>27632067a037d5cc563bff2db49fe28167a50b5e1c40a14ba677e2158314cc63</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/idevicedebug</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>9d3f960cd898472006d5dc2d554b772773dfdf720e209874753ba9b6712510c3</string>
			<key>size</key>
			<integer>22600</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/idevicedebugserverproxy</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>e2086a4026a1721e5bd6b80c0a9410158d73f1752438e81020f90c97cf164b34</string>
			<key>size</key>
			<integer>30800</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/idevicediagnostics</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>f1f0e6db2907cbcba9ee2255ca24fdce787937232d3b5059066fabcf542c5dc7</string>
			<key>size</key>
			<integer>14416</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ideviceenterrecovery</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>e728773270f7f723b5be5a18360ebe8761f13fd43a51f99994ee2092adb0b5be</string>
			<key>size</key>
			<integer>14416</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ideviceimagemounter</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>5c0a4a8135a584843f2ed60d950dc8bcc80c8d9c72142d4b5a7e9e77877a41cc</string>
			<key>size</key>
			<integer>31104</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ideviceinfo</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>0529f563bf7bf04d68ebc3d92a3d1047b535cd52cac01d504de2c8c9bdc1536e</string>
			<key>size</key>
			<integer>27104</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/idevicename</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>f25705ba4cca75d2b5f61600227322e8a7398f7dcc71053b57c6ce4de3cae865</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/idevicenotificationproxy</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>6817b3a0aaa1a0660b65a2d90426c65475528a621a4f7a598b8dfa62384724c6</string>
			<key>size</key>
			<integer>14424</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/idevicepair</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>f5887be420f5fa3b7a2b228bc2ab5d0bdd42c46d4efd9e62e84fee74f94dc054</string>
			<key>size</key>
			<integer>35064</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ideviceprovision</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>780018bef9cb4c7c7eef9d0538926345ac976d025d9752135ed55b1b6505b343</string>
			<key>size</key>
			<integer>30800</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/idevicescreenshot</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>f7b2ec711a84906ed3d31d991c466df218c8d947892a73eac65426b84db53050</string>
			<key>size</key>
			<integer>14416</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/idevicesetlocation</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>c82131d45381fe49bc9d8dc7fdc5e4d0ea43003c66f76354e0d87957f481817a</string>
			<key>size</key>
			<integer>14416</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/idevicesyslog</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>9c85b06de3a2a68af2a90048e76a95f5a39f2ed1659887f22d27eb0e2db9ded5</string>
			<key>size</key>
			<integer>27256</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libimobiledevice-1.0.so.6.0.0</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>f6db4eaf8e558bb678bc8ef726e5666b2a1c6d7ffc2833478ba065bc216d181f</string>
			<key>size</key>
			<integer>169984</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/imobiledevice.a</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>93a4240d1952aa486a8a818eabcf8d17fa56625e423b87a63d7dd2eaa74274de</string>
			<key>size</key>
			<integer>1493378</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/imobiledevice.so</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>74d6ac6af96ab6af1647159f0f38b6079c649c0beef22cae2146736049cdfe09</string>
			<key>size</key>
			<integer>832600</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/idevice_id.1</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>559091ab0d5af7fe762e6892956ee41a42e0a872a57a029bb8152f8345d4c25c</string>
			<key>size</key>
			<integer>957</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/idevicebackup.1</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>70f236edb6295cbcab6534bfe8a5a3d727a0da283975b7e7c3719fa4a4500412</string>
			<key>size</key>
			<integer>942</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/idevicebackup2.1</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>1bb97986d33cfe4f80d02a8493358e555a6f575d35d83065715b537c4e10263f</string>
			<key>size</key>
			<integer>1832</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/idevicecrashreport.1</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>46ffc1e2515c4eb26018b426ad0e159236cb087e50a30177b9a90bca0f606e3b</string>
			<key>size</key>
			<integer>997</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/idevicedate.1</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>6e53f2cf57e65732c24caeb7496374564acbb28143ee4749e4254c27871fd56c</string>
			<key>size</key>
			<integer>726</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/idevicedebug.1</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>27bc95c9f59e6fa57792283f4cb741510b2b3b8ad14cb4bcb0db58e8c549465e</string>
			<key>size</key>
			<integer>907</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/idevicedebugserverproxy.1</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>5ade2e8e5a0d887f953e86d63a8b1a9c91eb5862c1f21d218f5068aede9067e8</string>
			<key>size</key>
			<integer>1042</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/idevicediagnostics.1</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>35cec0525c86ffcc8ddc3d8fddd1507bd67f5ba7915b5181ff09d9978e88749e</string>
			<key>size</key>
			<integer>1518</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ideviceenterrecovery.1</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>b26cab6598c4ac473e626b1be44397530670aee32b420a63169479987b8b4a2c</string>
			<key>size</key>
			<integer>594</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ideviceimagemounter.1</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>110bbfca07bc31f815e403809d694f55f36777cc56f7406b017d89c24e1a9848</string>
			<key>size</key>
			<integer>974</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ideviceinfo.1</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>4e4b992177a403d32aa0ecdc6c6c5d9ecf35f16c260a8382d1811278adf0d17a</string>
			<key>size</key>
			<integer>981</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/idevicename.1</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>60399008b1f3439c9be1dabd09f1a8597ad8e898f16e8a4608668cf96a6751ea</string>
			<key>size</key>
			<integer>760</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/idevicenotificationproxy.1</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>1c1337c013bde78594a432b8ae36fe204387176f764371ff28c6d99e952e40e5</string>
			<key>size</key>
			<integer>848</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/idevicepair.1</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>f73f6f630debdff87cf03240fbd670664b392f0c25ee73a592f9b80d484a5b1d</string>
			<key>size</key>
			<integer>906</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ideviceprovision.1</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>d45d2197c5b371ed6160c5285475d7710705f5371268704f3a5c7de02aa7e66a</string>
			<key>size</key>
			<integer>1229</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/idevicescreenshot.1</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>090873840f902a292dbc487d00b216337f46d51cca840b1ee1aacc8f74c7b74c</string>
			<key>size</key>
			<integer>953</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/idevicesetlocation.1</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>17fd57bb53a1259ac46379fa99c93380f8f91a2c7fe3a208b71a4bcf8ad60211</string>
			<key>size</key>
			<integer>672</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/idevicesyslog.1</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>2a0f0ae1491fb00121ed6cbcb597de908516235aa5555806d43ba44380b3dc30</string>
			<key>size</key>
			<integer>4058</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libimobiledevice-1.0.so.6</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>target</key>
			<string>/usr/lib/libimobiledevice-1.0.so.6.0.0</string>
		</dict>
	</array>
</dict>
</plist>
