<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/inetcat</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>6635910666930a6eb7627c7686e59ddc2113249f0416d1149c9ba07e260bb1da</string>
			<key>size</key>
			<integer>26688</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/iproxy</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>b722ef9c7c9c0e78b20e7fb2b4b60e531cd95ff55cf7beb7f9cc7bf62716a3cd</string>
			<key>size</key>
			<integer>30784</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libusbmuxd-2.0.so.6.0.0</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>f410ab1bf71c0bf1cac9ac7455833c44f28b3d82d009367d891816f3bebd732e</string>
			<key>size</key>
			<integer>47024</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/inetcat.1</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>bf78e19d2173196fb6e0d48c9d8595711655f3200e623238edc5ad1b6536548c</string>
			<key>size</key>
			<integer>1620</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/iproxy.1</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>95c3273b79a124dee0bfda2191cc15cc65ac4ac98cb791719f9b652122c67a5c</string>
			<key>size</key>
			<integer>2398</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libusbmuxd-2.0.so.6</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>target</key>
			<string>/usr/lib/libusbmuxd-2.0.so.6.0.0</string>
		</dict>
	</array>
</dict>
</plist>
