<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/thumbnailers</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/gsf</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>8bb7ac7459bb75bcb9207846e87d39f941550a9e7aff58846738ca3f33406dd3</string>
			<key>size</key>
			<integer>22672</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gsf-office-thumbnailer</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>f4bb6e590415f9ec9bb04eb13328ef6a30d9e4e9ce9f464b5f029ba05b4943fd</string>
			<key>size</key>
			<integer>18720</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gsf-vba-dump</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>03772f0aaeb702495101c3962c42de38c5d37eba6ed8fab85721cfc67e7ff29b</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/Gsf-1.typelib</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>6c654d565781f41160f295e30e25b4d2bdbbe969869c6936229918955bf51cc8</string>
			<key>size</key>
			<integer>38696</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgsf-1.so.114.0.47</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>a8bd1d61cf929acbf6a2eb15b297d101be85d78ce792581b7daf4a4e0c00243a</string>
			<key>size</key>
			<integer>290256</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>66b48e757a43c0d65e1fc50165848f4843faba8bacc4a1eecd8e6e7885e0a142</string>
			<key>size</key>
			<integer>734</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>9e1bb840ef202cecd08f091afadd765c14a154d773915d32dec44e703df03feb</string>
			<key>size</key>
			<integer>13208</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>ac7a1555477f516a8da5a103ceb041261abd939f48a6ee569e9b08124970ce41</string>
			<key>size</key>
			<integer>13756</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>de1d38a76483aeeb347a3a2afbe95d2f460efd0d4cfa2634b29760e915d4827e</string>
			<key>size</key>
			<integer>13643</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>1079ad1b5867b12252d62069b095088dd9f193664e83636a766e3328116a93cf</string>
			<key>size</key>
			<integer>13599</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>37a03da312e30ae22e54a5a686059100498597263c7fdc482a5619d13a66ea4f</string>
			<key>size</key>
			<integer>13254</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>7ab7b948df49f45bd206677260a9ccfe37ae6c78f83ce99b5eaafa93ebd9a3a2</string>
			<key>size</key>
			<integer>13873</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>09b1f16d56d2f7bd754e0336b2e84e3707ae9c79e790e3959f3d92ab98dc43db</string>
			<key>size</key>
			<integer>17838</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>282573957bf6a8a53fa31a54ef6a07eb1c6836ca23a1389e80c501247f2e93a2</string>
			<key>size</key>
			<integer>12243</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>73ef792f91c46514aa37d337b699fa3f165792cebc355ef18aed5a4e5c80c03b</string>
			<key>size</key>
			<integer>10040</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>7f6a4056c84d3c235bdc85ce40a5016c392f7a032f2e4d2d61dcc3ca61bd44b5</string>
			<key>size</key>
			<integer>13952</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>867ef8fe3e8e9db9d053fe6acee2c28d9352ef801c9caf0fc688ff273b2a21f4</string>
			<key>size</key>
			<integer>13674</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>2b9f7eacbdaebbf924f3f82958d6c4046b2c3f9bc1f89ff072e249aa27cf47dd</string>
			<key>size</key>
			<integer>13005</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>4f39c379c2aca32c654a0131c5ebf785bbb1929855e41b0c529c468f450970ac</string>
			<key>size</key>
			<integer>14364</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>fa3e8803bdacbc46506376eb3db770d36a7d75dad77ccfe5a9109e9d269376d1</string>
			<key>size</key>
			<integer>13178</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>e132520862ac0b0ebf92c89f56542cdf580504246ca578a0b258dab921c130fc</string>
			<key>size</key>
			<integer>12274</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>7b236caf15fcc65f3fd32254ebb59129f647883cac019a077e8ae5d41116e1c8</string>
			<key>size</key>
			<integer>13752</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>bfbecd46c8ad0980a9654620d3aefc30c5e239cba0b684b3e9df549b795fad1e</string>
			<key>size</key>
			<integer>12912</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>86fd4d42ec32f92eb27fc7619a984a6b6ca55546c497f9b9fddb2147c140202b</string>
			<key>size</key>
			<integer>13662</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>4f62b995ea72208dfa06621041b4476a657cc462f34933782d1bf0ad655a229c</string>
			<key>size</key>
			<integer>14179</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>4c3188b546b749a08c649ee0cca35c998ddde80806b7a38dc751b2afbced0fff</string>
			<key>size</key>
			<integer>14221</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>31015c7d8aafba1df23990857fea7a1a3e243515f9b3efe1618ea8f2cd41d5d2</string>
			<key>size</key>
			<integer>13455</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>13117c67bddd9e667824843fc6002ec23eb1f9629e555799d43eb6ba9b8b2790</string>
			<key>size</key>
			<integer>12912</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>4f8282dcc0068f23568b1113f0e84611c0df4ca7ee78b99aaec1fcf37f2ebd1f</string>
			<key>size</key>
			<integer>1664</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>15c54c3a12feaf3781dec0f36f6691041d03d061a9d99e3faa8e7b094b686a43</string>
			<key>size</key>
			<integer>6460</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>63ce30baeb07378ff50f12d1d27d20bdd09106b4da9072b2c4b22e3e43570ead</string>
			<key>size</key>
			<integer>15292</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>c3a0abbd463630beebe7ea0b7408fe91eb3bdc23b1f8d2fe6c2696f9a9912675</string>
			<key>size</key>
			<integer>4145</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>e6836ce4d0e0e98a80881cbab4a9d584450b77d41c171896ff8032c9b94fd8ec</string>
			<key>size</key>
			<integer>1904</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>bcba38e1dc018c3ebe5dae846c1198ade16faacd8a5766d8509d0e34e4db7959</string>
			<key>size</key>
			<integer>13803</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>dfece32d4d8e5cec4422f96095e7914a3f9e2cf13b44335a18c3b97139799a04</string>
			<key>size</key>
			<integer>13544</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>940ee298e7205056209de9d50cdfa94a18e4ac11ab13ebeee6466a61596ffe72</string>
			<key>size</key>
			<integer>13846</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>1f846b72897b4744828d5759ed8224a7936e71f9254636a59c15e934f0e9b162</string>
			<key>size</key>
			<integer>17307</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>5fb81e0b9ed2fabc5f673f5d699733018225a669483854e575efcd2fdf07f552</string>
			<key>size</key>
			<integer>16963</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>0a0f7830298ca9189082cc0889a8c52531cd9e75d27ac7c6bb7f15c335ded0b5</string>
			<key>size</key>
			<integer>13865</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>33a7d56a8d1ea80342b7af96f6432e67ee37fb55bf3710af13503374e60509b2</string>
			<key>size</key>
			<integer>13313</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>1e4d657dbba8bd22397ef5e5e263b141b3a151bd020c40a6a15c5c6fb904fa7e</string>
			<key>size</key>
			<integer>17026</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>1beebbb1df18873105524e52b8ea6d5b61cbfe0b820b46b626201765a26fa961</string>
			<key>size</key>
			<integer>13412</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>3412eaee4e707f133e9427c0e6c8ac0b58ff83c963855a3d6a135c824ecf5a79</string>
			<key>size</key>
			<integer>13109</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>3ed83102cb33b7e181fdc8240d619aa2a7ea9743b114c6bb0838ea2916afec52</string>
			<key>size</key>
			<integer>6690</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>43e586d1f19be8256143d48c1ac6357a6c91560e595fe30d905d310904f9ea9c</string>
			<key>size</key>
			<integer>611</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>0828ddcff67dbc1602691828056f7b26d7ddbf9b3f7b63cdbc6ca255bee731b2</string>
			<key>size</key>
			<integer>11529</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>64dec53adb1460625ff8eacc2a1b49ff7862b14fb762532111fa72d3a1772208</string>
			<key>size</key>
			<integer>13391</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>8b93fb0f8e560de4c57bcfac22b47f88bfaa75ffe61682ae2f4b8da4f36da904</string>
			<key>size</key>
			<integer>4864</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>9e40b6e9998fdcf967d587f7e431ce9f3423d563ba299a77654247729e79e01f</string>
			<key>size</key>
			<integer>12400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>24863ac0853f2f8c9988c15ad10863ff549a55af32195d6f43f8c33cd09240e9</string>
			<key>size</key>
			<integer>12058</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/libgsf.mo</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>e068aee9363b3e92ab1443c8ffdcf1894e2f22d3828dc93f5f94da0f1636847d</string>
			<key>size</key>
			<integer>12055</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gsf-office-thumbnailer.1</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>adbd4bc77ee01f743d763ae0c8fe86f429c286860d7857003ebe6abd08844e32</string>
			<key>size</key>
			<integer>1961</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gsf-vba-dump.1</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>ddc0ac0731a657775e5f0aec43d960c9718ac7a1348bbf6975d3c8c7e3cc05d9</string>
			<key>size</key>
			<integer>1686</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gsf.1</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>16e8eef662155eb2cf6fd23ee3c3be5bb8627b16e630fadb502954c91bbcb465</string>
			<key>size</key>
			<integer>2072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/thumbnailers/gsf-office.thumbnailer</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>sha256</key>
			<string>22ff7617a81690cc3434ecfa8d99d1693f02f846d6927c94245319247291e73a</string>
			<key>size</key>
			<integer>1304</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgsf-1.so.114</string>
			<key>mtime</key>
			<integer>1597724475</integer>
			<key>target</key>
			<string>/usr/lib/libgsf-1.so.114.0.47</string>
		</dict>
	</array>
</dict>
</plist>
