<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/libao.conf</string>
			<key>mtime</key>
			<integer>1525456150</integer>
			<key>sha256</key>
			<string>0f7bd43d9231e45897a82f0775f02a433a4910e6a3e7706716d716c1cf8426d4</string>
			<key>type</key>
			<string>conf_files</string>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ao</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ao/plugins-4</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ckport</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ckport/db</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/ao/plugins-4/libalsa.so</string>
			<key>mtime</key>
			<integer>1525456150</integer>
			<key>sha256</key>
			<string>fc9e7552c3480846ed8a7535e75c44e7020b029287955970654d8f8133ec015f</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ao/plugins-4/liboss.so</string>
			<key>mtime</key>
			<integer>1525456150</integer>
			<key>sha256</key>
			<string>162ad513017d9130c6cca1a2d3049a79be7594daece1fd795b169fb1ba29c7f4</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ckport/db/libao.ckport</string>
			<key>mtime</key>
			<integer>1525456150</integer>
			<key>sha256</key>
			<string>7cf90abbaa972f5bec2641287c3be028657bee67913998b783285f327135fcfc</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libao.so.4.1.1</string>
			<key>mtime</key>
			<integer>1525456150</integer>
			<key>sha256</key>
			<string>99c58639a228372222a5791a4c88adf15604288abf703373c197dfe9b7c73201</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/libao.conf.5</string>
			<key>mtime</key>
			<integer>1525456150</integer>
			<key>sha256</key>
			<string>4989479e2ea5b9a2a9e5e5a0cd5546b3a78e0208cf00fc7a0b599d4fb5ced0a8</string>
			<key>type</key>
			<string>files</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libao.so.4</string>
			<key>mtime</key>
			<integer>1525456150</integer>
			<key>target</key>
			<string>/usr/lib/libao.so.4.1.1</string>
			<key>type</key>
			<string>links</string>
		</dict>
	</array>
</dict>
</plist>
