<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/java</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libbluray.so.2.3.0</string>
			<key>mtime</key>
			<integer>1604106852</integer>
			<key>sha256</key>
			<string>e700a5c2102bfaa8246c3802db361b56acc660022a1e47a5e8a1fc07b7e7697b</string>
			<key>size</key>
			<integer>305160</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/java/libbluray-awt-j2se-1.2.1.jar</string>
			<key>mtime</key>
			<integer>1604106852</integer>
			<key>sha256</key>
			<string>9b676398a2e8b31856773e57b45ee6195078806fc972a1b9b38a0c1e103ed8e6</string>
			<key>size</key>
			<integer>72354</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/java/libbluray-j2se-1.2.1.jar</string>
			<key>mtime</key>
			<integer>1604106852</integer>
			<key>sha256</key>
			<string>a31621a583593385dc3b98e9500d53db5a7a470e412e7212c328b61d9c1904e5</string>
			<key>size</key>
			<integer>771719</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libbluray.so.2</string>
			<key>mtime</key>
			<integer>1604106852</integer>
			<key>target</key>
			<string>/usr/lib/libbluray.so.2.3.0</string>
		</dict>
	</array>
</dict>
</plist>
