<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gdk-pixbuf-2.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gdk-pixbuf-2.0/2.10.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gdk-pixbuf-2.0/2.10.0/loaders</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/librsvg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/thumbnailers</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/gdk-pixbuf-2.0/2.10.0/loaders/libpixbufloader-svg.so</string>
			<key>mtime</key>
			<integer>1611968446</integer>
			<key>sha256</key>
			<string>1aadb991704a7cf9bb410e8f5c1224fe2aefc2d5402d87d21dcbbfa3c9cc3dd8</string>
			<key>size</key>
			<integer>14280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/Rsvg-2.0.typelib</string>
			<key>mtime</key>
			<integer>1611968446</integer>
			<key>sha256</key>
			<string>02addf6c638c4db245bfb3fef5390949f023dfe1dccf4c2294547d69a89265f6</string>
			<key>size</key>
			<integer>6448</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/librsvg-2.so.2.47.0</string>
			<key>mtime</key>
			<integer>1611968446</integer>
			<key>sha256</key>
			<string>175ce583ba93ac94968f173192454c9b4879fdc222ec134b9c79a67607ba8b71</string>
			<key>size</key>
			<integer>10231016</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/librsvg/COMPILING.md</string>
			<key>mtime</key>
			<integer>1611968446</integer>
			<key>sha256</key>
			<string>712006ae45c9b1ba366cc1c4d77c373ac7d08827bdfb06124deda0616cf659d7</string>
			<key>size</key>
			<integer>11294</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/librsvg/CONTRIBUTING.md</string>
			<key>mtime</key>
			<integer>1611968446</integer>
			<key>sha256</key>
			<string>c4cfa0f7cbe86d0c3e3920ba0e327f664dd3bdac92c980ac5b836e6a38e5477e</string>
			<key>size</key>
			<integer>11417</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/librsvg/README.md</string>
			<key>mtime</key>
			<integer>1611968446</integer>
			<key>sha256</key>
			<string>f394c1c294e71e9aea83b9c6a00611d0463079a55716c245df8de0ddd762b506</string>
			<key>size</key>
			<integer>6164</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/librsvg/code-of-conduct.md</string>
			<key>mtime</key>
			<integer>1611968446</integer>
			<key>sha256</key>
			<string>97f24e220de7c3ac04e92ac5d0fc715f4849281cf0feb45f80f7695127a341fc</string>
			<key>size</key>
			<integer>3227</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/librsvg.mo</string>
			<key>mtime</key>
			<integer>1611968446</integer>
			<key>sha256</key>
			<string>c96da089f484751b81bfc451a5eef6bd52aa1f4cd3b5eb0b291e363baaf97bfc</string>
			<key>size</key>
			<integer>1776</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/thumbnailers/librsvg.thumbnailer</string>
			<key>mtime</key>
			<integer>1611968446</integer>
			<key>sha256</key>
			<string>6191e1ac86fc05020ffbc5e9b35fda2e325659215e851a2ea72da9b06dc043b8</string>
			<key>size</key>
			<integer>158</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/librsvg-2.so.2</string>
			<key>mtime</key>
			<integer>1611968446</integer>
			<key>target</key>
			<string>/usr/lib/librsvg-2.so.2.47.0</string>
		</dict>
	</array>
</dict>
</plist>
