<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/idmapd.conf</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>daa11f6123e75ac9ab832841bc5267c9cffd4064a5d1fe5ff0c44730cc3d8c3c</string>
			<key>size</key>
			<integer>179</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/rpcidmapd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnfsidmap</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/rpcidmapd/run</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>e8b9ff8a7e5736f14957298c0301442abf003a3fe0696ba0e73f21b576e820ae</string>
			<key>size</key>
			<integer>431</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/rpc.idmapd</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>8a10cb23dbb21bc69c12b4330bf2af2933c18a0c3ce02b6b9a59ac5abcc56f93</string>
			<key>size</key>
			<integer>59768</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnfsidmap/nsswitch.so</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>3e1f5b247661b167dab2b4341ad8656044030a08faa85caec972842be7539014</string>
			<key>size</key>
			<integer>47216</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnfsidmap/regex.so</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>54c40028ab743681de653e2163afccd534a7904b18c65df4549b04e7f4e5bc47</string>
			<key>size</key>
			<integer>47216</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnfsidmap/static.so</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>85547e3ea1e75a0e6d1607a41192620e1e9fe3ca396f31633b74e19d92ddfc16</string>
			<key>size</key>
			<integer>39024</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnfsidmap/umich_ldap.so</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>ec4ce327698ed508af99a95ac15178c12af2b2e76f5098909830967338d5310f</string>
			<key>size</key>
			<integer>59664</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnfsidmap.so.1.0.0</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>7c49b1df50a0eb3aeda9f076ed81fe374e1c82493994eab2d188bd429d3a462e</string>
			<key>size</key>
			<integer>51256</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/idmapd.conf.5</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>8a084fd959ba225b2238592ec83907ad540b3973990b078449912bc7995b1a06</string>
			<key>size</key>
			<integer>13273</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/idmapd.8</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>a5b956d3fbbb4a3761d65b5e51337f87a207100e7482a9f4d8ba5a8f19e8fa07</string>
			<key>size</key>
			<integer>3311</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/rpcidmapd/supervise</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>target</key>
			<string>/run/runit/supervise.rpcidmapd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnfsidmap.so</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>target</key>
			<string>/usr/lib/libnfsidmap.so.1.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnfsidmap.so.1</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>target</key>
			<string>/usr/lib/libnfsidmap.so.1.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/rpc.idmapd.8</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>target</key>
			<string>/usr/share/man/man8/idmapd.8</string>
		</dict>
	</array>
</dict>
</plist>
