<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpcre2-16.so.0.10.0</string>
			<key>mtime</key>
			<integer>1589305790</integer>
			<key>sha256</key>
			<string>ffc3e904611de163bc0c0fb7c7d47d25124aa1402af4db47f7aae11cd68364e5</string>
			<key>size</key>
			<integer>534888</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpcre2-32.so.0.10.0</string>
			<key>mtime</key>
			<integer>1589305790</integer>
			<key>sha256</key>
			<string>e7cce53b5777996c370afecac3349553e991986472eb2cf0092bbf3221ec0213</string>
			<key>size</key>
			<integer>506216</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpcre2-8.so.0.10.0</string>
			<key>mtime</key>
			<integer>1589305790</integer>
			<key>sha256</key>
			<string>828d3f6a4661f31648b1c3e7dbdae96b4a45a4807f12e64fade0e3bbac81d6b2</string>
			<key>size</key>
			<integer>592232</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpcre2-posix.so.2.0.3</string>
			<key>mtime</key>
			<integer>1589305790</integer>
			<key>sha256</key>
			<string>1a7d852700228de7c9609109487c1756222959bbc1b366d9025b739205a1eaef</string>
			<key>size</key>
			<integer>14320</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpcre2-16.so.0</string>
			<key>mtime</key>
			<integer>1589305790</integer>
			<key>target</key>
			<string>/usr/lib/libpcre2-16.so.0.10.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpcre2-32.so.0</string>
			<key>mtime</key>
			<integer>1589305790</integer>
			<key>target</key>
			<string>/usr/lib/libpcre2-32.so.0.10.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpcre2-8.so.0</string>
			<key>mtime</key>
			<integer>1589305790</integer>
			<key>target</key>
			<string>/usr/lib/libpcre2-8.so.0.10.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpcre2-posix.so.2</string>
			<key>mtime</key>
			<integer>1589305790</integer>
			<key>target</key>
			<string>/usr/lib/libpcre2-posix.so.2.0.3</string>
		</dict>
	</array>
</dict>
</plist>
