<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/an</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/an/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ckb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ckb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/secret-tool</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>2f2d4a7e3d317be46624b427715b19659b6d41ffa777ec225db97e4183c66e5a</string>
			<key>size</key>
			<integer>22672</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/Secret-1.typelib</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>e34159aea6dd8f3b669500658d49d7f07d0aa10890bdb4f6f7820dd7211752b1</string>
			<key>size</key>
			<integer>25448</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libsecret-1.so.0.0.0</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>94f85dad5a30ac5c2f4104994c03679a39a7ac1e0e6cc2707e38e64f339468b1</string>
			<key>size</key>
			<integer>391224</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/an/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>797be01aca0ee676e6096287ad9c1a4d6aab9bec90ee79ec8f4c58544cfa567b</string>
			<key>size</key>
			<integer>1466</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>071118ddacf6c5bec211cf126bbd1c6c884c4037bd9fef0060ed4922636678e3</string>
			<key>size</key>
			<integer>1678</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>08929ba50998010308180c1f1c13978c7b8d3c5acc3d280463d57c2970164dd9</string>
			<key>size</key>
			<integer>1957</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>06d4c9a6413bd508949f94a42dff3b1a3382cd85bd28046fae6496f98e6807ed</string>
			<key>size</key>
			<integer>1667</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>dcd6f2be200bfa239f805d2fb529a2ba71dbf27f6a67ea6d20a432816336e492</string>
			<key>size</key>
			<integer>1621</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>38368c78da3b42539e6086b0ed21018eb185e6f566d8588338f55bd5bfddb95e</string>
			<key>size</key>
			<integer>1393</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>6b1dd1119739aecb5e81d23fd0f958e6323e98cd1ff9f87ac655966b91ff2cae</string>
			<key>size</key>
			<integer>1458</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>04ab2a47c4251c608ad7af64efcb8256aa990ffca1b9a64f7176ec524f0f54b6</string>
			<key>size</key>
			<integer>1470</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ckb/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>aa99c6f397140202e8fdb6b324bcd1265750fa93d8bdd052e02c3db44f78f425</string>
			<key>size</key>
			<integer>1685</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>77421427052ad3b52f4f4a8e43d1ea9dd3f999b696a459ed271ae10a069ecda1</string>
			<key>size</key>
			<integer>1493</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>d390e36de259bb4dd74a87ef07cf3fc0b0dae22106c9c2ea4fd616a41a0dc795</string>
			<key>size</key>
			<integer>1415</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>f1ee05eaa318704aea8813cfe1c52f2e17ad17bd43d8f9586a5c681893b7bfdb</string>
			<key>size</key>
			<integer>1480</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>804ef4d5594f7ed4d6276aafc1b095f6aa8640ca53add11c2bde7226776cc5da</string>
			<key>size</key>
			<integer>1942</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>0dccde91255e62e664a5b53e9d11b45334548e53e55823f86f960c45e7f8290a</string>
			<key>size</key>
			<integer>1363</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>98aee3b8317a88b4dacb82cfcfeb07161c8b0d90b67dd5f4d41e7f49177f64e0</string>
			<key>size</key>
			<integer>1481</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>a231c83004fe58238c1354a159876face1c02bf3ae31d48a121fc1dd9437ca9b</string>
			<key>size</key>
			<integer>1513</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>e419d55875f5313d760d167852fa7eb7d0281076961aaf1c27f15223392722b0</string>
			<key>size</key>
			<integer>1464</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>2a659a9b35b3a0f26d5f1823e14a2c16bd3a50226da729376dd7dfcb47875e18</string>
			<key>size</key>
			<integer>1574</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>cbf7f9f0e8afed25c3b1634aecafcc599224cf79199798be72ec0b7d890d0301</string>
			<key>size</key>
			<integer>1559</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>1b7cfdd3e32a3b19a9ade88e8a103d2d1d381672fbbbea4ee3f409cc09da9ac1</string>
			<key>size</key>
			<integer>1435</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>0151066f2864dd49fe5b03f13e23c1f7ee1156e290f581f094d1dd1b1bdc17a1</string>
			<key>size</key>
			<integer>1479</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>131ed35575f1f54f46ffcd9f25db9a5a1e0c06ceee2f19ac4d369b299b9c9641</string>
			<key>size</key>
			<integer>1504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>094bd69db563de3cb85fc5d2c8cbbdf4eb92061e43c8b337abdfaa886f78de85</string>
			<key>size</key>
			<integer>1476</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>fee707f5dddeeefbcca95dd85c2ddf99cb280c217f8bbf244044c798b9ef70c5</string>
			<key>size</key>
			<integer>1447</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>3d8496bc0a4ca47a4408ea59a7eef697dabfe192af65166bfa5783498c42f949</string>
			<key>size</key>
			<integer>1394</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>da09934330582587c5531edc0facfbf68abcebf605032369105b18bcc5d1b129</string>
			<key>size</key>
			<integer>1484</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>a3019bdfe0877aa55e56c94e9511396898a74f36c9a7bf500d020c89d00f9401</string>
			<key>size</key>
			<integer>1218</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>d57bee5f8ba10c8fb2b5cf5e95e20dffb2b0128adb0becc946d07082d8393937</string>
			<key>size</key>
			<integer>1671</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>188a60c536ac670f33fde40d1f663f930a91730a8a329df2aac81a4d0a48dc90</string>
			<key>size</key>
			<integer>1400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>cd29704663e5ebd5b15324ceb1a3b3b150d0b732cb03e6035e69b672b108f885</string>
			<key>size</key>
			<integer>1483</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>77ea2bb05a99f6bed576b47880fd476b60257a00ad365dfdf6f45d02d706b36f</string>
			<key>size</key>
			<integer>1473</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>f9c14ebabdecb05a3b47a67ded822d4ebfabc6f5f841a8f51d9ffa7fbd67b788</string>
			<key>size</key>
			<integer>2040</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>8c5470e792e638d8abbaae33bba5c63d697af679399590918867b642949103bf</string>
			<key>size</key>
			<integer>1336</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>038a4dda33c0c9723ba4c5ebdc285c60680b6e5dac18d8913960250cef2a91fa</string>
			<key>size</key>
			<integer>1385</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>adf8043d11ec35ef4b79c986f18edfdc2d014f58ff4e02b8bae31f5a104d3445</string>
			<key>size</key>
			<integer>1913</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>91f2cf6d121474ca0996c495eaf6dbdbd026a40704bd09b04c6c940cccc5b192</string>
			<key>size</key>
			<integer>1453</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>b45e59b64145a64ed54f46f4cd88aa10139682fe72b175bcb12963afe5cb4340</string>
			<key>size</key>
			<integer>1542</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>cdc6d80637e653bf4b2e56597c9626abdfc01f3e2c86f7e48c45cab299924924</string>
			<key>size</key>
			<integer>1811</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>369051ce7d56dd7a0bfe1235f3403bc577885d3f3d95ff2688aaab3bdf63560b</string>
			<key>size</key>
			<integer>1474</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>497759c525de3051087daa1758fe8d678c00419850ea7131ee4ccab7bf92507c</string>
			<key>size</key>
			<integer>1493</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>df8104bdbaacbdfdcc1b9e35753136d643b2058c059e1a7987290bb9ae9e154f</string>
			<key>size</key>
			<integer>1496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>07fd47ca534f6742f58b014116f3f8e668c3a11003595303d92feae69431b1ec</string>
			<key>size</key>
			<integer>1549</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>5e7c3787ba5aa39adb6c02fc563a65626f8cabe14d9f51f07577254fc7250ac2</string>
			<key>size</key>
			<integer>1838</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>f661ae064f4dbe8cf092592cb3fbc0a8a3707d6e897592e64c179e7593b1d596</string>
			<key>size</key>
			<integer>1449</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>0538e4146d877d04a0217c136ab39efaed6c33486e9c883573ee51cd72ab7f26</string>
			<key>size</key>
			<integer>1615</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>1df161227aa9acb8a83d95b3338310f4c02f87c20453aebc86da4f1400c700bf</string>
			<key>size</key>
			<integer>1846</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>40134034ef112806e3736d4242ecaff05d032f2e4965a3ae6596f91751ae2946</string>
			<key>size</key>
			<integer>1517</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>e7b0e3af020fe9003426a161a322516a8e67e1271e3482642d68672becd47acd</string>
			<key>size</key>
			<integer>1430</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>b0dfd5f63496161e57fc00b75aaf3d85cbd074de319425d11b12221ebdb955fe</string>
			<key>size</key>
			<integer>1717</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>c1f7e256ef2cee616c64e5e4c7ba4aa5fab20b8e650d2b699d4aa30c0f90d051</string>
			<key>size</key>
			<integer>1443</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>adab12844b499c3b3015ace34170cbaeae2ee41147870dc6de3eaec8d19fed52</string>
			<key>size</key>
			<integer>1824</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>c7ca61677189a9dca1e92724428a74f854d59844c160535000bd2ebd226ede4c</string>
			<key>size</key>
			<integer>1228</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>87c11f29deaffef733669bad6ac12e152c9d3c40af4deb3d1bf7a3bae58edcc4</string>
			<key>size</key>
			<integer>1311</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/libsecret.mo</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>796ebc2af3ca34f8ad4e8424f587d08a7834fc4139b5c0e6403fe6a42c5eac61</string>
			<key>size</key>
			<integer>1311</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/secret-tool.1</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>sha256</key>
			<string>1acdf13b06c303f63806947294574feb7061ba8cb8d48954842c62b31366105f</string>
			<key>size</key>
			<integer>5361</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libsecret-1.so.0</string>
			<key>mtime</key>
			<integer>1605327965</integer>
			<key>target</key>
			<string>/usr/lib/libsecret-1.so.0.0.0</string>
		</dict>
	</array>
</dict>
</plist>
