<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/sbasic.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/scalc.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/schart.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/sdatabase.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/sdraw.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/simpress.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/smath.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/swriter.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/readmes</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/autotext</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/autotext/en-US</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/registry</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/registry/res</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/default.css</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>6d04dc16440e3d50ed2566937915195a2d5e08de91aa98ac6e38eea136879885</string>
			<key>size</key>
			<integer>3065</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/err.html</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>c7879c04b725b43a5fba710dba3be41c35364e7a5b6611d40a148dd443cafdbb</string>
			<key>size</key>
			<integer>2090</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/highcontrast1.css</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>cd779c8043d26b12b9dfe89bb839539a97af48e8ab1ef404d6ff1ea62d195adc</string>
			<key>size</key>
			<integer>3056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/highcontrast2.css</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>9b01fd25451c7cf339dc78d0232a389a592ee24ff283b730001001df04522d3f</string>
			<key>size</key>
			<integer>3056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/highcontrastblack.css</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>50cb1fe1470102418c7414735d249a034c5276bf13b3c9273e64c38b93ba58d3</string>
			<key>size</key>
			<integer>3056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/highcontrastwhite.css</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>73e3ecd87f89163f119d088fafe96913cadd7e624aa29cd706f2880f2e060115</string>
			<key>size</key>
			<integer>3056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/sbasic.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>8c0527f7712f20997f85dea5eb17da7a5ab9c9845f0e802e2875a54ec841be54</string>
			<key>size</key>
			<integer>930</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/sbasic.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>2af0c5305374a1b7803595339d200493667a39fa3a996d14c8911f0ad2c5a052</string>
			<key>size</key>
			<integer>770925</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/sbasic.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>43f5acdf2ead4ec2a06fb677ddc27ed43d70ad22650041052f84ea3beca1f591</string>
			<key>size</key>
			<integer>556788</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/sbasic.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>7ea9ebe704c7da69853b40518294c1ff9dff17499569f4067b83c96274a131e6</string>
			<key>size</key>
			<integer>574804</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/sbasic.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/sbasic.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>4ebf0dd38343ca151b5835ab5319b4d58117c52e8f969b739d4d772a99d5d55b</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/sbasic.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>fd90900564631699f290318292d1bb6c1551726fff695f5d57c4294a3e898cc4</string>
			<key>size</key>
			<integer>1594263</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/sbasic.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>dfac6cd2e92015a9aa7c3c2caca2d6d8bc25e16af9abb7995b06b6036eda546a</string>
			<key>size</key>
			<integer>218057</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/sbasic.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>8ac1e36315ad9eb7e7e78dcafa57a9db159b10903de68788ab490402535d702f</string>
			<key>size</key>
			<integer>33161</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/scalc.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>11d96b06eda646eaf1179f17697713a43719b122d73094dc6ae164f7b023eead</string>
			<key>size</key>
			<integer>918</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/scalc.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>c4317161f8d4f24911c544877316979ae2e20a232f4580e94033abdd85f64eff</string>
			<key>size</key>
			<integer>1005473</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/scalc.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>471386147f318c6154e59838d8e1eaf99cd0470c22ca56b0fd333e75d380785b</string>
			<key>size</key>
			<integer>721697</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/scalc.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>2cc4c361a0309d66d1e9448ae5a91e3f121b295d67ab4c6e110625ebfe3809a9</string>
			<key>size</key>
			<integer>718512</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/scalc.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/scalc.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>dc1aca3cc1f00cc319f7cfcb48eff6e6a7260ba6dbc503cb103ba1dd42cf5d43</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/scalc.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>b239038bcc40706fe2214e95d64d52c53a86e8d28bbd3a4454628ad11b7ccf73</string>
			<key>size</key>
			<integer>1824773</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/scalc.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>b4ae774b1432e47093ac6c795c62b0188070f23845de0a58b3535d55a455824e</string>
			<key>size</key>
			<integer>312810</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/scalc.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>b38db47cdf1efe588528a053341f6a7ebf019bc9a68bf6d3c1d39873dcec16fb</string>
			<key>size</key>
			<integer>13331</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/schart.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>81ee8c86d7073c0512051c6bbd6385dcc012a6ada7bb25f2a0550fb0e897a5ee</string>
			<key>size</key>
			<integer>922</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/schart.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>e2369c253107a1e7abe7c435ea11e52393c1355155db2aea0d2c7b46016f32d5</string>
			<key>size</key>
			<integer>737971</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/schart.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>febebe59eb268daa906c1de6eb8891fb85d3038bfe6f78c7097c9ecfe559cb8e</string>
			<key>size</key>
			<integer>586532</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/schart.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>b26905522438019fa5ffd15ffbfbd3ac28df90d2798ec747fdf85d31bba4bbd0</string>
			<key>size</key>
			<integer>471862</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/schart.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/schart.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>d9ad83509869be7eed5500d0b998d91783f22d209be4a6f815426ae4a97ea44a</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/schart.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>f381ed13d43ddf117d3a282823652054c71982dd859e99c78c001f20a6ee635e</string>
			<key>size</key>
			<integer>222409</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/schart.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>3f877a4698fcf3efb00a0a4d87eb17a843cc741353b90144ee0e9882666ac0ec</string>
			<key>size</key>
			<integer>180081</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/schart.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>fa26b516d7f97d02853f84cd52cbe16b8ea2e0a252cab1ba5b84926312124ca5</string>
			<key>size</key>
			<integer>1282</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/sdatabase.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>3b20731fab55bd76c5553ad3111bf23da4ad5f2e92cbcee2e0ba92ceab499695</string>
			<key>size</key>
			<integer>941</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/sdatabase.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>b5d82fe45d7cd20b96265683d7fb6657d040d3eed0f65f542baf4fa22becb8dd</string>
			<key>size</key>
			<integer>681015</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/sdatabase.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>aefa5fa39a1da65eb6afa6ef47f5134abbc50eeb119083bf48eb7c2ee9dacc41</string>
			<key>size</key>
			<integer>541722</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/sdatabase.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>f012757cdcbbb17b4a43a1a5daa5bf256f49ad12253e4cd3b60ce20eb5a446a3</string>
			<key>size</key>
			<integer>446164</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/sdatabase.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/sdatabase.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>ade2d7d9f9dfbdbf0fffb1865002d7a24a9e433cef9b1a4e93d02065fb978c1b</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/sdatabase.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>737e7d48669ac7109835d9b1464d338fec783452a0a7c08700548585392be671</string>
			<key>size</key>
			<integer>3971</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/sdatabase.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>51ce48406fb20a98dd86b5a1b6726fac9ae10623bdb4dd21379a46ab528ec173</string>
			<key>size</key>
			<integer>172410</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/sdatabase.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>9fb24e94d1e18b08613e4341c8b9d7894365b73a529370d75aa1b7a1ad800a9c</string>
			<key>size</key>
			<integer>2050</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/sdraw.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>c5c4e4a1a7f9aecc93c68612fb497b7a0373ab8da7f6149e8ccdf257f9ccf495</string>
			<key>size</key>
			<integer>918</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/sdraw.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>c7ddb3f73358856e1f76356e15a9ddeb27e22a95604153081c336c9c067f19fc</string>
			<key>size</key>
			<integer>843574</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/sdraw.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>02c090fcb400ad10acfd73cebeea55534500df9aef1166506457024848ff5d27</string>
			<key>size</key>
			<integer>655539</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/sdraw.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>bb3a1fb62966de7cee691847abc607149d01f2f5b7914fb79c3cb3b4e1bd26e0</string>
			<key>size</key>
			<integer>556743</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/sdraw.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/sdraw.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>1c66251e721e9801901441f232f88b5d98cfd48001d1f7d9a86b6211f4451826</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/sdraw.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a0a9cc35dfc2267cabe989ea1a0e482ac8953b81f4f7b38b99a0d5e9aa13bec8</string>
			<key>size</key>
			<integer>116575</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/sdraw.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>94f4ed33f5e393d70f71c145d5547d27142775bdf854913500c2616879dbe76e</string>
			<key>size</key>
			<integer>217551</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/sdraw.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>81f6c4e019af4faf38c8b6559b3a8fd27bf0b29ebe055eba50a3fe5e797de1b2</string>
			<key>size</key>
			<integer>7485</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/shared.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>eb1942200a9ec7f95b43ee177b519f1bb0c13eb5a02ddca433e64ffe7ed91099</string>
			<key>size</key>
			<integer>3357303</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/shared.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>7cd3caea93620f4264ecdc433f337cbc3d603dbe3559162acf4ae25a781681e9</string>
			<key>size</key>
			<integer>14478</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/simpress.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>2466da570fdc22cdecf0f933f9acd10dc47f4d449e280f7e213979e4726083dc</string>
			<key>size</key>
			<integer>927</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/simpress.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>0064789d2380a1bca6a6c7736582933594b5ec2cf63b8d64afb49d366d2402d5</string>
			<key>size</key>
			<integer>843940</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/simpress.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>b59b578fbfc87d7c4a8d71cdd5e3c5a246eba450a0dacbf26217df23e9bdc3b8</string>
			<key>size</key>
			<integer>656546</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/simpress.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>661776d9bd71745f02c6684c4672e73b1f2741a0a9581caba5a5f1114dffcb31</string>
			<key>size</key>
			<integer>560968</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/simpress.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/simpress.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>0a93a0c13d2e64a5b4b3a8b98e0e5dfbbe2d47d6b357175acf510f2bb56c49b5</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/simpress.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>0befc1bc68fbb68b2677752500a8bf67b3f10c79b7f76032f75ab3fb6fdad6f1</string>
			<key>size</key>
			<integer>532037</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/simpress.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>f450786947c324027b091f876354bc775c008199d73be674ac76ed00aedb2e73</string>
			<key>size</key>
			<integer>217551</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/simpress.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>f985a57a6446b45bf13b374ced0f7da2d53bef6ba65e38acaed7be307251666d</string>
			<key>size</key>
			<integer>10413</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/smath.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>fb0de902b84d92cd7658d03aebda7574fe6f9aa477d0b3596d44280cbef946af</string>
			<key>size</key>
			<integer>918</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/smath.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>d30e18ec0b6c48de0cd4febb79ab07c399fada4076c56b5c59ff1679bafbf3b2</string>
			<key>size</key>
			<integer>723598</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/smath.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>69a1d6eb816969927212a7cfc51724cd6f69e7e21b8404280458fdeffe7bcae3</string>
			<key>size</key>
			<integer>568197</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/smath.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>9757e7611ac61731f1f39385b2f212efa6e209ca50ef01ca7151baeda7e68733</string>
			<key>size</key>
			<integer>481286</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/smath.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/smath.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>2cc51eb4f3962df89848f62132b9b1cfec4b3ba91191e8b64ad227b005484383</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/smath.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>afeb16d6204511fead9626d4133b2c9ac1c60573d6540bdfa1430a658dc82a5e</string>
			<key>size</key>
			<integer>330462</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/smath.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>61b861432b1cb3f1a49269211ff5b1841a4fa5729bf2fca32b2b06451f811c07</string>
			<key>size</key>
			<integer>198477</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/smath.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>5995d35d6354b84d2806e91c0fe044a1d8781fd3be5d7b0132f8f6158e67dffa</string>
			<key>size</key>
			<integer>3146</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/swriter.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>6d004fc18ac511d3579127f5ccab8c11b1860c765e47b5cec8258290c579c9ba</string>
			<key>size</key>
			<integer>924</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/swriter.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>3d04146c71611acc05be5f0fadeedda8e07bced3e8e0b6e5ec428cf27980241e</string>
			<key>size</key>
			<integer>970327</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/swriter.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>d6788c0801b679e9d84a25929fb2fd4d9a003888402201c0eb80f12a70378f70</string>
			<key>size</key>
			<integer>748423</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/swriter.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>eeaf85315e1155939bd3c828b491a109ea907164d861efb244b9da7bc0c5271e</string>
			<key>size</key>
			<integer>658242</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/swriter.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/swriter.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>b9dc124acb7da197819a29a76f56fc19a01c737c003bf6798ecfaff7dd29e3da</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/swriter.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>183f2ebdbfeb00af22ec1b5324e0b87630ee427162988a9110fd5db0a6143b11</string>
			<key>size</key>
			<integer>1320590</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/swriter.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>3b81d8e7d2e884257126d3e911290bc4c7094b98dcad68df0cc134ddf5c330fd</string>
			<key>size</key>
			<integer>254568</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/en-US/swriter.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>274768409bfd91df42a0e969987e7ea52fbce773f635c209a214a7191b77f311</string>
			<key>size</key>
			<integer>17427</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/readmes/README_en-US</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>80164cd672d8bdda18ffba845c402d82a064b894e714647b24266dcab12489f0</string>
			<key>size</key>
			<integer>16586</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/autotext/en-US/crdbus50.bau</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>1fd86f3a01842f5bf0841e6a4f85cc3513889955ca94c3abbad54146315c1ce8</string>
			<key>size</key>
			<integer>32937</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/autotext/en-US/standard.bau</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>9ca090d566ff83896df9e6201c70f71889741e4e7e0a17a58049c576651322b5</string>
			<key>size</key>
			<integer>54637</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/autotext/en-US/template.bau</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>1b0f294b0370af6c0306ed225903c586498f9968dce617f53f4b034ffd148373</string>
			<key>size</key>
			<integer>50582</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/registry/Langpack-en-US.xcd</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>c05e4d525af46be6b73b9b0ca0320ac2d656a4cbd32722edc047db347fdf3111</string>
			<key>size</key>
			<integer>481</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/registry/res/fcfg_langpack_en-US.xcd</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>af02aa6431178454103df462f5c4781fd42d4e5fbef9ad7b95fd780105995067</string>
			<key>size</key>
			<integer>29071</integer>
		</dict>
	</array>
</dict>
</plist>
