<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libkeybinder3</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/Keybinder-3.0.typelib</string>
			<key>mtime</key>
			<integer>1556545242</integer>
			<key>sha256</key>
			<string>4a111b1a832532cc4bd9bce5ddecafe1b557bf0d7fda8b1060228037897fd277</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libkeybinder-3.0.so.0.0.0</string>
			<key>mtime</key>
			<integer>1556545242</integer>
			<key>sha256</key>
			<string>8d18ee9f783b0a14e874f5836578b8d814f1948dbe1493159dcc0f5083b263bc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libkeybinder3/COPYING</string>
			<key>mtime</key>
			<integer>1556545242</integer>
			<key>sha256</key>
			<string>f0ceae18aa1f0b9cba2f996b153b3728859eb1a6f18d5957c5fb4b74e69be67f</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libkeybinder-3.0.so.0</string>
			<key>mtime</key>
			<integer>1556545242</integer>
			<key>target</key>
			<string>/usr/lib/libkeybinder-3.0.so.0.0.0</string>
		</dict>
	</array>
</dict>
</plist>
