<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/opengl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/config</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/config/soffice.cfg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/config/soffice.cfg/simpress</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/registry</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/appdata</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/loimpress</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>44be295aa5a0c2ea09f2aa484abd74df625d4395dd717f29633dbd47b8b631c6</string>
			<key>size</key>
			<integer>62</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/libOGLTranslo.so</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>f5406dd9bf95a5171203f8e042702173c9b40605e54b8d97195aa34941e15252</string>
			<key>size</key>
			<integer>252256</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/libPresentationMinimizerlo.so</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>3a41ac4a56c7acc265ccbd1380e1c3639a8e12346ec891808c133372e2e80484</string>
			<key>size</key>
			<integer>403912</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/libPresenterScreenlo.so</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>564406cf96641a9ce40a0332e2293a2440846be52bd0d162b01037e823c5ad48</string>
			<key>size</key>
			<integer>1045344</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/libanimcorelo.so</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>6625b15e33e7841503af53714f8203026d139d67dc360f6427d36baa15e1ade3</string>
			<key>size</key>
			<integer>157864</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/libwpftimpresslo.so</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a17c2cc15e35f4bac5c753c228e59d408b7665528f5d2f408a215508c58fb0e2</string>
			<key>size</key>
			<integer>67872</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/opengl/basicFragmentShader.glsl</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>c6c16260aeaaf46093f93405caaa2812fa9a57fdba82df526ac4c13f993a6637</string>
			<key>size</key>
			<integer>773</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/opengl/basicVertexShader.glsl</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>6f45fd97abfd7b2c30e553c422cfea5b64bb43100d3072d0df22a80e30d7250f</string>
			<key>size</key>
			<integer>3595</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/opengl/dissolveFragmentShader.glsl</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>71f0ac25d7c5f69168ff094af1cdb3a1559a7e6b2208d25104e2cd9c6a2bacb3</string>
			<key>size</key>
			<integer>1755</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/opengl/fadeBlackFragmentShader.glsl</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>d9799f633788e1b891d9ea748deb141b34cff24f6a51de98c1fc2fd0cb3869ed</string>
			<key>size</key>
			<integer>989</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/opengl/fadeFragmentShader.glsl</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>d4d4d2adc1a5bd5bb07aa9d8728b86e06e7686c20c665563e6947d032cc8aa44</string>
			<key>size</key>
			<integer>778</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/opengl/glitterFragmentShader.glsl</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>e20e18272727bf250d505b3203bbb489e2cdf54ba50dfedf821878dabd51880c</string>
			<key>size</key>
			<integer>1039</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/opengl/glitterVertexShader.glsl</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>70718ce357b1a879b4ff648085cd8871e1f9b63071a3372382940f0a105d345b</string>
			<key>size</key>
			<integer>4599</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/opengl/honeycombFragmentShader.glsl</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>cedb4523077cc0e2d00cfc8dcdbdf139ce580a181196ac07193791b00df7f1e1</string>
			<key>size</key>
			<integer>3490</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/opengl/honeycombGeometryShader.glsl</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>8d6c030c4c16ca0ec565257317b85115a7dcc9d0f6653970fcd6e2f8428f1aef</string>
			<key>size</key>
			<integer>2797</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/opengl/honeycombVertexShader.glsl</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>bb8d0523d73425dac28dcda031eb7995a901e1e032857fa6f3ed20432bb4ac02</string>
			<key>size</key>
			<integer>4234</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/opengl/reflectionFragmentShader.glsl</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>80ad66ed8f89906a6f1dedcb8a0d1d920ca09473786e3d7706a51bfe3544529c</string>
			<key>size</key>
			<integer>1058</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/opengl/reflectionVertexShader.glsl</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>68f642fec051282e1a82a671e3bd763d1f241c409bbb4ed182750b0effe5acdd</string>
			<key>size</key>
			<integer>2788</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/opengl/rippleFragmentShader.glsl</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>4489bc74f145acb08a425ab37cf67ceff224181f1af2dc42c925c2cdda63077e</string>
			<key>size</key>
			<integer>1971</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/opengl/staticFragmentShader.glsl</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>ba073cea0b9e85043dc350c44bb8b6e6b5aee0da9ac2c31f642c6ee5cf0040d4</string>
			<key>size</key>
			<integer>2420</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/opengl/vortexFragmentShader.glsl</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>ece0fe97962b6e6c525f382b50efea555fcbc688a5843e462848a301c6200bd4</string>
			<key>size</key>
			<integer>2119</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/opengl/vortexGeometryShader.glsl</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>7b2a809ae1151dfb73775446a80a972b85a84753c1b36c49e9f1c898d21c6683</string>
			<key>size</key>
			<integer>3080</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/opengl/vortexVertexShader.glsl</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>7d6cb0b0da9d6f4e5af97f219b72639e826d330282095cb01c95cd979a87bf10</string>
			<key>size</key>
			<integer>5008</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/simpress</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>ba4adb081407616224ad492efcb0bc16e2bbd01b8018cb368a45989bb7426acc</string>
			<key>size</key>
			<integer>66</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/config/soffice.cfg/simpress/effects.xml</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>ba8652ec0d2c72324826ac5d747b644582757df6b8fb1c5de4bd649c29603cfd</string>
			<key>size</key>
			<integer>235688</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/config/soffice.cfg/simpress/layoutlist.xml</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>347160f4cdb821d1f52b574b57e4c4666037ab603c69b9f3b9d949339eaa8ea1</string>
			<key>size</key>
			<integer>7058</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/config/soffice.cfg/simpress/objectlist.xml</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>c5a84e5f4325d5db32ab3c170a703249c7db440bd7464cdda30544e543f85ec3</string>
			<key>size</key>
			<integer>2900</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/config/soffice.cfg/simpress/transitions-ogl.xml</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>3c2dff3766ccfd6816ced260f94ebd44cf49191435424140d04831adc73630f1</string>
			<key>size</key>
			<integer>4607</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/config/soffice.cfg/simpress/transitions.xml</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>6385fb101f409fdeb2625440d6cce8edd604c604dd28eb628b21fea6c0adf67d</string>
			<key>size</key>
			<integer>13538</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/registry/impress.xcd</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>305e7610f3104c9776d95cbfe200d1da13f95bae94d8dcd45248a2d55fa07484</string>
			<key>size</key>
			<integer>205343</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/registry/ogltrans.xcd</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>c0cd07af3891c2246e5ee3567ab8712e058351769980c693d58a6c225ed6acc3</string>
			<key>size</key>
			<integer>672</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/appdata/libreoffice-impress.appdata.xml</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>62b4f82e11d7030bb0d907d330783fd3cd93e1a1d9eb49440326c42ae175080d</string>
			<key>size</key>
			<integer>2169</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/loimpress.1</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>9b139030c78680e08335dd2a33b3142d391f028c1e0778fd0b886f4e383e8dd1</string>
			<key>size</key>
			<integer>23</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/libreoffice-impress.desktop</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>target</key>
			<string>/usr/lib/libreoffice/share/xdg/impress.desktop</string>
		</dict>
	</array>
</dict>
</plist>
