<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/notify-send</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>389b6b41416d165e3ffbcf42a9f2ead665b210a68352de20f68d349be47412a1</string>
			<key>size</key>
			<integer>18592</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/Notify-0.7.typelib</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>29015738d42eba2d2d56972cb749f2abe3ba37b3a69eedd850856c5955373ab1</string>
			<key>size</key>
			<integer>4672</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnotify.so.4.0.0</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>e5ee1db36e018e7c95386ecdd6d61fe7800a1db7bbd8829fb72853d267d24e99</string>
			<key>size</key>
			<integer>34792</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/notify-send.1</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>sha256</key>
			<string>183b29dbc3875020aac2de5af7b646d60e44aaf9c72ea35000b490cafaf35393</string>
			<key>size</key>
			<integer>2885</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnotify.so.4</string>
			<key>mtime</key>
			<integer>1597722405</integer>
			<key>target</key>
			<string>/usr/lib/libnotify.so.4.0.0</string>
		</dict>
	</array>
</dict>
</plist>
