<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libaria2.so.0.0.0</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>sha256</key>
			<string>1ff8931a13b38081a01d33a55aeda862c01e743a7d63c6ef7d954c575106e187</string>
			<key>size</key>
			<integer>4028568</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libaria2.so.0</string>
			<key>mtime</key>
			<integer>1593714825</integer>
			<key>target</key>
			<string>/usr/lib/libaria2.so.0.0.0</string>
		</dict>
	</array>
</dict>
</plist>
