<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libmad.so.0.2.1</string>
			<key>mtime</key>
			<integer>1573826649</integer>
			<key>sha256</key>
			<string>d7a8a3ae8edbeddcd7cb1e14c786f23abbed8bad5180400cdba30e9de18c2358</string>
			<key>size</key>
			<integer>137192</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libmad.so.0</string>
			<key>mtime</key>
			<integer>1573826649</integer>
			<key>target</key>
			<string>/usr/lib/libmad.so.0.2.1</string>
		</dict>
	</array>
</dict>
</plist>
