<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/mwaw2csv</string>
			<key>mtime</key>
			<integer>1606624205</integer>
			<key>sha256</key>
			<string>43c018c497fc465fd1e9d5de8ae57623afa47170d1284700691e9e6903f1b916</string>
			<key>size</key>
			<integer>47344</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mwaw2html</string>
			<key>mtime</key>
			<integer>1606624205</integer>
			<key>sha256</key>
			<string>a1a795a1ba7fb6a4f2bfe1191759c316738abed3b0a98a96e7f7cb0514fa83f9</string>
			<key>size</key>
			<integer>39152</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mwaw2raw</string>
			<key>mtime</key>
			<integer>1606624205</integer>
			<key>sha256</key>
			<string>d1ce533e14e23eb64c3c78da2ff5c9088b5ace43b0e3baf4eb301548c0ffbac8</string>
			<key>size</key>
			<integer>39152</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mwaw2svg</string>
			<key>mtime</key>
			<integer>1606624205</integer>
			<key>sha256</key>
			<string>0b811348703c640d813a80118934d26d154f3468aa08a3a9a554e3ca2b155a5b</string>
			<key>size</key>
			<integer>43248</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mwaw2text</string>
			<key>mtime</key>
			<integer>1606624205</integer>
			<key>sha256</key>
			<string>f7dd5c3d4cdd21d07980d1f0c488ac09a5d4074030f62d3d3e59cbdf6e6f9e0a</string>
			<key>size</key>
			<integer>43248</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mwawFile</string>
			<key>mtime</key>
			<integer>1606624205</integer>
			<key>sha256</key>
			<string>edeb6c064e5ed5108f1ef8ba1966da660e6bc57ec1aa0a75823668e88776e2b7</string>
			<key>size</key>
			<integer>121064</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mwawZip</string>
			<key>mtime</key>
			<integer>1606624205</integer>
			<key>sha256</key>
			<string>f0f46f02585da67d9211089612737f7ef50efd55837afd632966248594396e38</string>
			<key>size</key>
			<integer>55528</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libmwaw-0.3.so.3.0.16</string>
			<key>mtime</key>
			<integer>1606624205</integer>
			<key>sha256</key>
			<string>c653c6f0f5ec2bebd584843a7318a12092400df97b28183e2d26ca9b102bfc79</string>
			<key>size</key>
			<integer>7443120</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libmwaw-0.3.so.3</string>
			<key>mtime</key>
			<integer>1606624205</integer>
			<key>target</key>
			<string>/usr/lib/libmwaw-0.3.so.3.0.16</string>
		</dict>
	</array>
</dict>
</plist>
