<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/cd-paranoia</string>
			<key>mtime</key>
			<integer>1577421896</integer>
			<key>sha256</key>
			<string>2a621c67f62581467c6dd4cde21b5f09d051ef57d528513d4aa9bf81b72a5717</string>
			<key>size</key>
			<integer>63672</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libcdio_cdda.so.2.0.0</string>
			<key>mtime</key>
			<integer>1577421896</integer>
			<key>sha256</key>
			<string>f6b732c9125d00505611b4b39087a903252aadfc30d9459bdd560c11461e26b7</string>
			<key>size</key>
			<integer>34880</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libcdio_paranoia.so.2.0.0</string>
			<key>mtime</key>
			<integer>1577421896</integer>
			<key>sha256</key>
			<string>98308930013163ad955a85f08fb5da79db23e8b9634118e56d5e477aca00c586</string>
			<key>size</key>
			<integer>34936</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/cd-paranoia.1</string>
			<key>mtime</key>
			<integer>1577421896</integer>
			<key>sha256</key>
			<string>de91d57534ecffc7149787c48fbe51528d423e61553bb32c1074cc9fce253100</string>
			<key>size</key>
			<integer>11354</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libcdio_cdda.so.2</string>
			<key>mtime</key>
			<integer>1577421896</integer>
			<key>target</key>
			<string>/usr/lib/libcdio_cdda.so.2.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libcdio_paranoia.so.2</string>
			<key>mtime</key>
			<integer>1577421896</integer>
			<key>target</key>
			<string>/usr/lib/libcdio_paranoia.so.2.0.0</string>
		</dict>
	</array>
</dict>
</plist>
