<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/xdg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/xdg/virt-builder</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/xdg/virt-builder/repos.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ocaml</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ocaml/guestfs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ocaml/stublibs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/Sys</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/auto</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/auto/Sys</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/auto/Sys/Guestfs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ruby</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ruby/vendor_ruby</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ruby/vendor_ruby/2.7.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ruby/vendor_ruby/2.7.0/x86_64-linux</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libguestfs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/perl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/perl/html</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/perl/html/site</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/perl/html/site/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/perl/html/site/lib/Sys</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/libguestfs-tools.conf</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>09b8bb0937350f659555c3365f1a354185cd223d8b0f150c9868902720d8cbe8</string>
			<key>size</key>
			<integer>371</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/xdg/virt-builder/repos.d/libguestfs.conf</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>14897c3126a1f505e000d2f5d57f1bf6498629f56d1d8666fafe084f177feaab</string>
			<key>size</key>
			<integer>257</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/xdg/virt-builder/repos.d/libguestfs.gpg</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>73c0b35327db54fbb4dbb6ee0e4a2095549f8b528f87b59cfcffcdd04c001aa4</string>
			<key>size</key>
			<integer>3937</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/xdg/virt-builder/repos.d/opensuse.conf</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>79f5c869432ab10dd3b2327ead102649ad775d24ded53afb08f237179932fa8c</string>
			<key>size</key>
			<integer>167</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/xdg/virt-builder/repos.d/opensuse.gpg</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>6a471cddffdf6031ccaac6ec5cb9b6108d46d62a64523538ba8e34e4a219ac26</string>
			<key>size</key>
			<integer>1097</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/guestfish</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>3abae8324ad3baf205c35c628b3b23b7b32dbb12a47f20601030d9db69211ddd</string>
			<key>size</key>
			<integer>1087352</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/guestmount</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>fb87d4fac586636eef4110d26a7aaa4f3fb853eae00720438822b1fee08416a2</string>
			<key>size</key>
			<integer>43144</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/guestunmount</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>96af02719ee4bde1841f6a30a386a671906ce1edd5582cacbda620c38d7b072f</string>
			<key>size</key>
			<integer>14488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/libguestfs-test-tool</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>1d3c1fef4d20a9eedce3de4096dd0c099c34b48a8b9056d80a3fa2e42841934b</string>
			<key>size</key>
			<integer>26840</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/update-libguestfs-appliance</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>96809e9df6e349b7f5679cd62e42917b42c6f6d5b5b1d6063841d081a83beb27</string>
			<key>size</key>
			<integer>2025</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/virt-alignment-scan</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>962db10c52c7c0d0af9dcc2c388054745711c4dab627409e31233f2b5553bc62</string>
			<key>size</key>
			<integer>34976</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/virt-builder</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>11d12dca0d166dfda6cb6b6a61e957297f6df7eb694a1902cbb3bf22b7bc58f3</string>
			<key>size</key>
			<integer>3678464</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/virt-builder-repository</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>c68cc93fb3636eae57eb817491088bb409bb5165ec9384db1d83671c5df1301f</string>
			<key>size</key>
			<integer>3369000</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/virt-cat</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>c6b6e1683ef90413f5a5535364e7ea855d7b73e4528d17d3bebb483f04b71e0a</string>
			<key>size</key>
			<integer>39056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/virt-copy-in</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>defdbe07a469098edc7ec501028ce537cce6e33b92971ad83d4d91fb1ab4cc0f</string>
			<key>size</key>
			<integer>935</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/virt-copy-out</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>ec690bdccf361c5e0d2481e52ec0bc752ac10b0defd3e92550b3be668c594735</string>
			<key>size</key>
			<integer>937</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/virt-customize</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>5d0757141a9ca61ca1dc0a243f4130e4d85a60bf01fa2cc2b10afe16f6eb1938</string>
			<key>size</key>
			<integer>3353280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/virt-df</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>52bc5d29640705bebd525756995d903dcc95653e7ad25a8c29543d8e16ea4bae</string>
			<key>size</key>
			<integer>63768</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/virt-dib</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>b7a4e3e450650f68e904ecb6fbc1f6008ea03472ebcdef249a5de606968a3329</string>
			<key>size</key>
			<integer>3343800</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/virt-diff</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>0dd25aa16669cf93a7b3dfc2ad92e27c35a5314c90de569dc90738d15acfaafb</string>
			<key>size</key>
			<integer>88344</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/virt-edit</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>3f7a0ae711b9b5362d87272a84cac51c5b8354cab972a3a147188645c1ebd6a7</string>
			<key>size</key>
			<integer>51344</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/virt-filesystems</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>1774a853198afb70c8760c760beffbd69b9cf5720d79ed681b4ed6bc6ba64afc</string>
			<key>size</key>
			<integer>71968</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/virt-format</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>c83960b62a1878177694c6b732adca73f5c477c0ab821bc0cf75d656aa140d28</string>
			<key>size</key>
			<integer>30864</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/virt-get-kernel</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>65e7b0d94554b58e7093b5bda625c5957855a31eb7f0df23dabd89acfe389d5a</string>
			<key>size</key>
			<integer>3118208</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/virt-index-validate</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>2b6ec1af4589d31742736256ab2e14093110db60afbd9c55fed9091d8cd7dc77</string>
			<key>size</key>
			<integer>26768</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/virt-inspector</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>0ee03998d61c9f416fe7ef5b925884fc06c3c70f7a33a9e976351985eca91c7a</string>
			<key>size</key>
			<integer>63648</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/virt-log</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>8f21d031cfcd014ebc3defb01a42c409a8739eb14d889c569af2a9f4a6303950</string>
			<key>size</key>
			<integer>59536</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/virt-ls</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>4d2e2b318d5cdff8a8ba4df7e0879c4635d1d1381bea27f9dc06cecc2ac3514c</string>
			<key>size</key>
			<integer>80152</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/virt-make-fs</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>688f403ed94065f3ab92be8a098305e5c4352300ff1f15be4afba6687f4a67f4</string>
			<key>size</key>
			<integer>43168</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/virt-rescue</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>7972f62f339e6fc6c9f60d1d0c9c5c0f07e30294d32b39525292b9e492fb44c9</string>
			<key>size</key>
			<integer>55448</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/virt-resize</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>0f8ce9f891a2360b39c873d6ed631cbc0386cc92c26598f0062cf6b855c92650</string>
			<key>size</key>
			<integer>3230392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/virt-sparsify</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>b5a92bbea73c720a7e18319d6ad43078dafeba363321e968a2b4e593f243eca3</string>
			<key>size</key>
			<integer>3166720</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/virt-sysprep</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>bf4083597976accf368df37865cf8f1515747ccc774aeb11f5f1ca3e9e2dca1e</string>
			<key>size</key>
			<integer>3621440</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/virt-tail</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>b2176c069f663c9ddf2f7557e2297e3905373e7b0fcdc762f6c2e9fd6aa4438b</string>
			<key>size</key>
			<integer>51344</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/virt-tar-in</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>f95980ef8c8e565aea0c71c6eff1395bfff11faa27dd62eb345768bcdcfc95b7</string>
			<key>size</key>
			<integer>933</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/virt-tar-out</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>b2907eeb64dc7dbfa241006416bee71ec16b8fea9bc0792f6927602e5623ade8</string>
			<key>size</key>
			<integer>935</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libguestfs.so.0.509.0</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>407f71789f848f0850b0e2aab2441a2597882f198b3cf9b77a8e5371c91a5f53</string>
			<key>size</key>
			<integer>1264656</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ocaml/guestfs/META</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>f945bb065d55522a66de27354e4a6d5fdc3e482c847942feb82b5905cb4751cf</string>
			<key>size</key>
			<integer>155</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ocaml/guestfs/guestfs.cmi</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>0cb2f40bcd05d4a0a98679c4f29b032d1ecc5c748ac4bacd70cc691bc387c8db</string>
			<key>size</key>
			<integer>258274</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ocaml/guestfs/guestfs.cmx</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>b369b6498d97fe3d58033878b25f57e53cba79d735c579b4a941bc2e1ec7a987</string>
			<key>size</key>
			<integer>77597</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ocaml/guestfs/guestfs.mli</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>c9027989434c9348da2aaea08845c9891ee541341d78f15b627a23b17caf37f4</string>
			<key>size</key>
			<integer>201224</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ocaml/guestfs/libmlguestfs.a</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>1ec60a9a9f3204ef4e2c9dd14d5d298aa2574c23c55f5eb6f6f32506d51a0d32</string>
			<key>size</key>
			<integer>659716</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ocaml/guestfs/mlguestfs.a</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>f23633da89c532efbc5de763cbd07febc9875c30ecc6977b33e3f9fdae013ace</string>
			<key>size</key>
			<integer>1576612</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ocaml/guestfs/mlguestfs.cma</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>cfe7f45551c3d05ba1752d74dadee81b145a9a789dfd2d5179b3a9891cb874d8</string>
			<key>size</key>
			<integer>1040055</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ocaml/guestfs/mlguestfs.cmxa</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>1fa0a57326e76fbcd1ea9d756e28695d88bc9228d57e50e8c183fb676a88403e</string>
			<key>size</key>
			<integer>462</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ocaml/stublibs/dllmlguestfs.so</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>6414d3504975049217f3894111b40d206c39be259f762b05536daa16f9be1017</string>
			<key>size</key>
			<integer>444408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ocaml/stublibs/dllmlguestfs.so.owner</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>9eba557a430b9ee181c93641a1dd94834421ccf50c2dc3764e0cd75294780537</string>
			<key>size</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/Sys/Guestfs.pm</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>4077a38deb53981ed415b4b47c6c1516a2f379a2be4eb168c3adaa634476fea0</string>
			<key>size</key>
			<integer>284680</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/auto/Sys/Guestfs/Guestfs.bs</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/auto/Sys/Guestfs/Guestfs.so</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>e088b8e0121051eff4e81dc5e022b4dd4dc3da3ca13e285a0e34815696170691</string>
			<key>size</key>
			<integer>833440</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ruby/vendor_ruby/2.7.0/guestfs.rb</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>03b1e9194a803201addb7e4c9dded012f432ffc86daf4e852562d7d163f1c07c</string>
			<key>size</key>
			<integer>812</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ruby/vendor_ruby/2.7.0/x86_64-linux/_guestfs.so</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>e37f76ca97a80a522472392952fb15db92538edce6b8fcc718aaa3b93586e205</string>
			<key>size</key>
			<integer>399264</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libguestfs/example-debian.xml</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>ccba91f56d5b30cb0a6b52497e746020d92bca1098acebd42f919ece6e3264ab</string>
			<key>size</key>
			<integer>5254</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libguestfs/example-fedora.xml</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>ccbcae7d6f21ef7bd256555d9e2a4ad6bbcc6067921664e90d87a9364a8ae01e</string>
			<key>size</key>
			<integer>9347</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libguestfs/example-rhel-6.xml</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>2a4c8e770c8b864e6348b33ce21b89625b70b1276ee1d6596c97e77ae9b7949d</string>
			<key>size</key>
			<integer>24364</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libguestfs/example-ubuntu.xml</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>59a72e26be0529e510a13369ce44331d5e404fef6ae77762683a0afbfe1f3241</string>
			<key>size</key>
			<integer>1738</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libguestfs/example-windows.xml</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>6fcd1669a877fedda5abdf934d380a34db1207691b5d697cc69fac129b1de57d</string>
			<key>size</key>
			<integer>980</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libguestfs/virt-inspector.rng</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>2537388e9963f3374ad0abfbb8a44c65926049e98163e61239bfa5082dd71575</string>
			<key>size</key>
			<integer>7185</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/perl/html/site/lib/Sys/Guestfs.html</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>cb69614254da67e8c015bbfbf9e3399205079af3f9540888674683ccb2a17880</string>
			<key>size</key>
			<integer>387454</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/guestfish.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>3448abbeb1683ab168971af1527838a2b3265a5a6fe7779ebdbf419060d551b7</string>
			<key>size</key>
			<integer>426775</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/guestfs-building.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>5b99926f2083ad19f33c4cf7c34e2f7669c0c8b033290f64d919d3d7276041f0</string>
			<key>size</key>
			<integer>29411</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/guestfs-faq.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>bbff38f05c42a533e460ba8d295b923f59ed81b061cabb14fcb3b55b211f0ad4</string>
			<key>size</key>
			<integer>62509</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/guestfs-hacking.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>47ff0444e758945ee56c1df5c128a51123c4801d6e92d7da7f409e4ccfcf0517</string>
			<key>size</key>
			<integer>205737</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/guestfs-internals.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>df5245059826d73ac8ffe0fdae1da3f6e933ba45e92df89dfc0cadcbccbfd5cd</string>
			<key>size</key>
			<integer>22029</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/guestfs-performance.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>da88ff487412aa5f0de80394c91f9033bf9e3bb29b29649171638e23c698fc9d</string>
			<key>size</key>
			<integer>27276</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/guestfs-recipes.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>f1cdb4a68e8d2ca58b0dc38ae78e51b830c12fde5289c23159aa732fc9630ef2</string>
			<key>size</key>
			<integer>29461</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/guestfs-release-notes-1.10.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>82a7836e6cf1b21b92cd84612e7c08d0f0cb220033a3a17d1daeacb65e88c3e2</string>
			<key>size</key>
			<integer>10247</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/guestfs-release-notes-1.12.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>391b70b723069771a05521be4abdc1990a6a2edb201a8c3b229a26d750c52956</string>
			<key>size</key>
			<integer>9089</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/guestfs-release-notes-1.14.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>9619b5414b2ae3348c4e6390304c21acb601ebd14c9ad319dbbb0b66aa249a27</string>
			<key>size</key>
			<integer>10922</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/guestfs-release-notes-1.16.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>a4887cb60201825e2f762fb479bd164408f3e4bc3c394be22cc840d00c18d204</string>
			<key>size</key>
			<integer>9544</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/guestfs-release-notes-1.18.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>1a68cc989ca96ff860ca2961a4c6f49a69e6d03a60b9167d1fcf6301ea8e7ff9</string>
			<key>size</key>
			<integer>14712</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/guestfs-release-notes-1.20.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>5133c661f2c82026d35111b55aed6a457e4230509a12a42fa0bccc14cfccb63c</string>
			<key>size</key>
			<integer>24591</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/guestfs-release-notes-1.22.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>25e6ebf31a79fa9944fc851c66e20c211187b4953f5ca0afd4f1922b33e6435d</string>
			<key>size</key>
			<integer>15989</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/guestfs-release-notes-1.24.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>ff1f0ebf7e3fa33ce0c2f05d1cf8c7e39a3ebaa8a4690750c52f9e7507aeb3e0</string>
			<key>size</key>
			<integer>14447</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/guestfs-release-notes-1.26.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>a852b9b754aef1904e7897c95d5d20a39929848dc20bee5c3f88eb7a0fc4d94b</string>
			<key>size</key>
			<integer>18306</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/guestfs-release-notes-1.28.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>1a5c7cb80cf816f4af11c3a36a2b0914de72111e17b338989c1430f0ab294aea</string>
			<key>size</key>
			<integer>24134</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/guestfs-release-notes-1.30.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>a6f523019f869159eb6245f1b454c0549c1ee0a7e21e7e377de824111e8fcc89</string>
			<key>size</key>
			<integer>37827</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/guestfs-release-notes-1.32.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>f6a00609462e0707c45c27b9abbe3d55ef2bcbe2910ca8aee20d02ce2fa976b7</string>
			<key>size</key>
			<integer>23812</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/guestfs-release-notes-1.34.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>68f368b284caa85b45f7c0279f2e1c448a33a40b519682456fa0260d0c632201</string>
			<key>size</key>
			<integer>34521</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/guestfs-release-notes-1.36.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>6dec3f6310433a68f19b7537079c4e88698c798c4794f4f78d0b7a135e15afcb</string>
			<key>size</key>
			<integer>26898</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/guestfs-release-notes-1.38.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>04f01aca4614d8d2b418c91e3a32f2852dfe54358eacaf1b88ecd7135f0df0d0</string>
			<key>size</key>
			<integer>28660</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/guestfs-release-notes-1.4.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>f6eeff923f4b36b4b4ba3b673b3b2f19cf093e9056e6172875a303d3566de11a</string>
			<key>size</key>
			<integer>14278</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/guestfs-release-notes-1.40.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>bf3105c55266b0efa40d9beeb36516639a7cc0065eb21b03d12371a9a31f9b5f</string>
			<key>size</key>
			<integer>18871</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/guestfs-release-notes-1.42.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>58325a0c1b9c62a56bd3919908fc2de3f50c33c276b31f3a4145a8b2db19aed5</string>
			<key>size</key>
			<integer>14025</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/guestfs-release-notes-1.44.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>c2a5c2220d2cfd395660bc11deeeaa693b1cc614d9dca641cb65516d1db8564e</string>
			<key>size</key>
			<integer>6906</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/guestfs-release-notes-1.6.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>996c99772f4ec2e9896dffd44392a6094ef4f582c09538c504c39e35fb1f35db</string>
			<key>size</key>
			<integer>11988</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/guestfs-release-notes-1.8.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>d69be37cf4e1cb93c9b50fe90dfe70e5653b7c321f2800b4dbe2c03e1e7ee1af</string>
			<key>size</key>
			<integer>9252</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/guestfs-release-notes-historical.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>d525f527fc46ddbead4d58f73fdbda45ac594af140f52e2942e36b91af0e19db</string>
			<key>size</key>
			<integer>5170</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/guestfs-security.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>05bda1e609e75c347c189068fd9260387b84a7e8244527679db3ff926061b82a</string>
			<key>size</key>
			<integer>21073</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/guestfs-testing.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>3a4ead51ac94aa2e16287e3c5c2899808533b3c15ae786336353968c85acfe51</string>
			<key>size</key>
			<integer>17561</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/guestmount.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>d6a895289867d8aaa3f67751583ad57713575819f64b1e594ebd5dafcd3ec590</string>
			<key>size</key>
			<integer>21816</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/guestunmount.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>c8d7b1a47ad84f116857e0d31d26d2d63d6172f5f00d543ab0fd32dcdcda622f</string>
			<key>size</key>
			<integer>8383</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/libguestfs-test-tool.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>cf9090c5b29aeab685a5689a48016c2e791a84dd56e7fc3bb24fd456f4669d67</string>
			<key>size</key>
			<integer>9761</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/virt-alignment-scan.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>f024d7926d9465e3c0a33a4edf09637d39fd84dafd160a3efa5ed8906de0b97c</string>
			<key>size</key>
			<integer>17443</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/virt-builder-repository.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>c5f6fe3cacbaaf6e9336281cc732baefbbd146722d394a971c07880214f98eff</string>
			<key>size</key>
			<integer>10877</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/virt-builder.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>f3065ce2e43c5ff7379a195f86e18dd445bcb7f791529715e8ec09bda2488efa</string>
			<key>size</key>
			<integer>88428</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/virt-cat.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>1e002cc38d73450da8b6b2eaa278169eaa727e485ecbfdac9dc42c2e19ddb986</string>
			<key>size</key>
			<integer>14355</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/virt-copy-in.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>d8660a5aa868465e851a189778ede7f7796f5492b6f3c21cf481b82c2937ceee</string>
			<key>size</key>
			<integer>5829</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/virt-copy-out.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>2ca733db0708044b112c9870837ac4f238c21b17d72918c75be7af91424cc5be</string>
			<key>size</key>
			<integer>5286</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/virt-customize.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>91d65eb9f19eab28d7b1b1bd74e90292f1f0bc4d0a4fac3a6fa2604ad28fb5be</string>
			<key>size</key>
			<integer>30288</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/virt-df.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>e26bad6e3f1482df17045e5e1d16c6f2d720092392b05c31c449bbdac5904f93</string>
			<key>size</key>
			<integer>13045</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/virt-dib.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>dfd51fb9dc04028f5d085c477c9d791be1ed7e5614ed1259798d9c92a038cdc0</string>
			<key>size</key>
			<integer>28991</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/virt-diff.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>121b4849c95d3da56948fdf781f469a0be9a78970f1ff0ff516fc8a2374ecd4e</string>
			<key>size</key>
			<integer>13437</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/virt-edit.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>c5c2f1fc9f6b45081fd79c724823b647342d37f95dbaecf71b07f274f5cde557</string>
			<key>size</key>
			<integer>19155</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/virt-filesystems.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>d0c46b50d36cb649af7af9fdcbbcf3f21702b86671fe945a5b28ce49fa050b21</string>
			<key>size</key>
			<integer>17679</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/virt-format.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>fa92d962070276493f8a625f2c72001e03956e60a144fda7f7fa4faf3cfc9b8d</string>
			<key>size</key>
			<integer>10665</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/virt-get-kernel.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>781c7e3a6382b76fdc11c57a7ddeb918831b160fcff3d26fe01bcca277720217</string>
			<key>size</key>
			<integer>11398</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/virt-index-validate.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>eee1d87f23acfb3b984cb98cfe66a8edbdd7acf4f672a9d961694969a0c4c2e6</string>
			<key>size</key>
			<integer>5684</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/virt-inspector.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>2411599f75aa9d2fbd8103bf26452ab1efb250836606296a0dce29a13e007544</string>
			<key>size</key>
			<integer>23082</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/virt-log.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>8531510b95e4334023ef213a04502f59ac1bcee8d3d451a0aaa0657515484426</string>
			<key>size</key>
			<integer>9553</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/virt-ls.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>e6dc18cfb1cb33263987f4e92e571b286f21bd60861141389d9e3336fe82974b</string>
			<key>size</key>
			<integer>22051</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/virt-make-fs.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>3203a7b3a05b63c7698fc6e80d553bfcc999b9b699c04f2f62fac61485713d7a</string>
			<key>size</key>
			<integer>11876</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/virt-rescue.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>1fb3f597de0a9a7e1c9e2e2c118d7e35bcc1a946502c062d92cdb0fe77d6d4ad</string>
			<key>size</key>
			<integer>21778</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/virt-resize.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>fe5bb832b18d4800dac1cfa4d2a75561b565644ab5e65e43e5f5a72e90e110f3</string>
			<key>size</key>
			<integer>35649</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/virt-sparsify.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>f1b857921f3d0806fd112c57be4f6adb6dbb08423bd6ad7cc5e041901f4e037e</string>
			<key>size</key>
			<integer>19716</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/virt-sysprep.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>d573ad710cf17999c983b788516555a8730a502ee408d2b409a6eea52658b33d</string>
			<key>size</key>
			<integer>61187</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/virt-tail.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>9d5431b1779c995dd999ee4d742d21a99083b114e684ec4dd586fe0b191de508</string>
			<key>size</key>
			<integer>12655</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/virt-tar-in.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>171b651a74d7a4857db80d6ebfb70f8519e2ef4e965bc4cfda1d5fdf9a088a17</string>
			<key>size</key>
			<integer>5682</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/virt-tar-out.1</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>61a312348ca8a864c9e68b1cc728046756720ea85a2050a13a6d905253fcfa15</string>
			<key>size</key>
			<integer>5345</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/libguestfs-tools.conf.5</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>sha256</key>
			<string>4b3d4f17232e2dadb4a08bcc30c4d4cd44eb9a4c898b298e1db0fab0d491aa56</string>
			<key>size</key>
			<integer>6361</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/virt-builder</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>target</key>
			<string>/etc/xdg/virt-builder</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libguestfs.so.0</string>
			<key>mtime</key>
			<integer>1612215268</integer>
			<key>target</key>
			<string>/usr/lib/libguestfs.so.0.509.0</string>
		</dict>
	</array>
</dict>
</plist>
