<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/Cheese-3.0.typelib</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>d705bd61895f6b7c09eb7346b32c3ff75e19c6e24fddf2461b0ec6dfc6f183f5</string>
			<key>size</key>
			<integer>8148</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libcheese-gtk.so.25.1.5</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>227bf83da2cae0280147889b13d0740ffbe8117a2ad64516df878475715a7919</string>
			<key>size</key>
			<integer>59376</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libcheese.so.8.0.15</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>sha256</key>
			<string>6229e61e24a631ccfdfe0520d746b673d48c8284e99b7d4d086d24f42cc6d063</string>
			<key>size</key>
			<integer>75680</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libcheese-gtk.so.25</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>target</key>
			<string>/usr/lib/libcheese-gtk.so.25.1.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libcheese.so.8</string>
			<key>mtime</key>
			<integer>1600447597</integer>
			<key>target</key>
			<string>/usr/lib/libcheese.so.8.0.15</string>
		</dict>
	</array>
</dict>
</plist>
