<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libkmod.so.2.3.5</string>
			<key>mtime</key>
			<integer>1584171452</integer>
			<key>sha256</key>
			<string>e30bf92e6fa9c300b5a10576855ee36fe5409df986da4a633be619d9c1d028d4</string>
			<key>size</key>
			<integer>96368</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libkmod.so.2</string>
			<key>mtime</key>
			<integer>1584171452</integer>
			<key>target</key>
			<string>/usr/lib/libkmod.so.2.3.5</string>
		</dict>
	</array>
</dict>
</plist>
