<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/calc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/registry</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/appdata</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/localc</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>3fa60dd013e535037f31f676698c3672bae96bff140057c3d1bc45fa2a6eab2c</string>
			<key>size</key>
			<integer>59</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/libanalysislo.so</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>9f33b288dcd92924bfa69401ac8a5674b73d8d6798c5291e644fb1b2e632a30b</string>
			<key>size</key>
			<integer>391776</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/libcalclo.so</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>50e4e45991f7d6a1350849fa06bb77cd2fe50c20f077d277d803e43f9929e88c</string>
			<key>size</key>
			<integer>228136</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/libdatelo.so</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>3d8af21936ce921efcba275c830215007c38013104109887375a26d8960bb49f</string>
			<key>size</key>
			<integer>80608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/libpricinglo.so</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>e5b5933f579be331d313dda7310907fe24ff673973dd11ef3216910b069436bd</string>
			<key>size</key>
			<integer>101264</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/libscdlo.so</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>737741dbaaaff0950045b407587a086ed2c37fc5a470880b2adcae67f6b47657</string>
			<key>size</key>
			<integer>39080</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/libscfiltlo.so</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>056075149b3fd0e4d57e876cc98c02f5bb1cccbb81ebc1f85562e2e7ef2a49c8</string>
			<key>size</key>
			<integer>4641144</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/libsclo.so</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>239aeb9798fbbdd47979095127c4c2e5a635d493a451160d86e0a54f255bdf2d</string>
			<key>size</key>
			<integer>17699344</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/libscuilo.so</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>70503a62991a5978adcdaaeeb416df69107a690777315bf32b0c6f8c97126cd5</string>
			<key>size</key>
			<integer>665872</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/libsolverlo.so</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>0443d51298dfa0aeb56b397dcadedbdb39b774d5cdd05d45c297abf6d8b33669</string>
			<key>size</key>
			<integer>121024</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/libvbaobjlo.so</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>e97b1995dc58c16f68d829baa2319003a1b3dafc529f9d45c44459934283f1b2</string>
			<key>size</key>
			<integer>2494056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/libwpftcalclo.so</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>5cd4bfce6339c92b6c19ea440a540a2b6db0fa72fde5a8c793be78efdecd95f5</string>
			<key>size</key>
			<integer>92448</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/scalc</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>26be6ea13b9a2b1676ec51dc0753b0b6f96dbe79805b6bf3ad2bed00160e0aca</string>
			<key>size</key>
			<integer>63</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/calc/styles.xml</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>c146c401ea07c901863fa3f1d3dbd774f6c6544e08c9d94799c9fdc57fe4ec7f</string>
			<key>size</key>
			<integer>3969</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/registry/calc.xcd</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>8a2476818dd2451c5105d69fe32e8e424f553fa92609c321a0b2de7e769c1e33</string>
			<key>size</key>
			<integer>158349</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/appdata/libreoffice-calc.appdata.xml</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>3de6bd4d9d42e90a467bb451149c13a8dc5757707d6f9253c7a851d22b434b2d</string>
			<key>size</key>
			<integer>1951</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/localc.1</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>9b139030c78680e08335dd2a33b3142d391f028c1e0778fd0b886f4e383e8dd1</string>
			<key>size</key>
			<integer>23</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/libreoffice-calc.desktop</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>target</key>
			<string>/usr/lib/libreoffice/share/xdg/calc.desktop</string>
		</dict>
	</array>
</dict>
</plist>
