<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/jack</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/jack/audioadapter.so</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>sha256</key>
			<string>acad3e64708e7fcbdf7ac661326d13ca2b7b7b997bb99307f7c777b38d02d5a8</string>
			<key>size</key>
			<integer>47168</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/jack/inprocess.so</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>sha256</key>
			<string>fb063404f8fae26bd8931a39bf91f2cba9860897829dc6160935d17fdbb40f13</string>
			<key>size</key>
			<integer>14232</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/jack/jack_alsa.so</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>sha256</key>
			<string>715886b6053ca85c5e05bee3c8b69fe4e8dfe3f5c5934e2e30399ac7840e2dca</string>
			<key>size</key>
			<integer>121600</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/jack/jack_alsarawmidi.so</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>sha256</key>
			<string>474aa3073c0f5ad77d52aaa9323521a9daf480189de073308d1e37cb8264525b</string>
			<key>size</key>
			<integer>63576</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/jack/jack_dummy.so</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>sha256</key>
			<string>bde65c5019795ea51a2930b32c9a155f772247ae51bcf24fc4af2cac8a6d9b1d</string>
			<key>size</key>
			<integer>18496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/jack/jack_loopback.so</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>sha256</key>
			<string>37b62a64369299629d7197097b7a4ae2961c1fccc51dc065cbfba2a26282d9dd</string>
			<key>size</key>
			<integer>18504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/jack/jack_net.so</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>sha256</key>
			<string>1b3424fc0521183576ded367dc66ad57fbd7fd4830772ffd7ef7c69b0ca13870</string>
			<key>size</key>
			<integer>47176</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/jack/jack_netone.so</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>sha256</key>
			<string>33697e2946f92dc6a57061cc387fe0b6b18be3be6254728e31c9b7c3fb9e6c33</string>
			<key>size</key>
			<integer>71752</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/jack/jack_proxy.so</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>sha256</key>
			<string>529768fc7c03cec8fe1b4bc25017b8880b412a5554de5fd6ed10e1c1903d962e</string>
			<key>size</key>
			<integer>38984</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/jack/netadapter.so</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>sha256</key>
			<string>36ae693451fbeab45326a57c2faeeb4464ae37e1ffb5c5184fae7bc13688a035</string>
			<key>size</key>
			<integer>47176</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/jack/netmanager.so</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>sha256</key>
			<string>f2eb7705dbd5fa2cf91fe29a141cd57f4e0b37b36a6fd828bac29375fad49201</string>
			<key>size</key>
			<integer>51280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/jack/profiler.so</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>sha256</key>
			<string>94ad7825c7d66d764d713f225239fafb8cc51d5cf3cebbe70786532af4e59c30</string>
			<key>size</key>
			<integer>18424</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libjack.so.0.1.0</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>sha256</key>
			<string>00b15805878d16974210d12ee70512e04fbb56928e4cd1d58992830041aac5a6</string>
			<key>size</key>
			<integer>313560</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libjacknet.so.0.1.0</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>sha256</key>
			<string>4a5d39ec3c282216ede63ae5959e09195979872f3e03de64047a2086bd792177</string>
			<key>size</key>
			<integer>125024</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libjackserver.so.0.1.0</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>sha256</key>
			<string>f0840ebbd47e8f6f8de5c653ee6ee9540a49ea4c5d3af506856b0900a3941b51</string>
			<key>size</key>
			<integer>661872</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libjack.so.0</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>target</key>
			<string>/usr/lib/libjack.so.0.1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libjacknet.so.0</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>target</key>
			<string>/usr/lib/libjacknet.so.0.1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libjackserver.so.0</string>
			<key>mtime</key>
			<integer>1603286886</integer>
			<key>target</key>
			<string>/usr/lib/libjackserver.so.0.1.0</string>
		</dict>
	</array>
</dict>
</plist>
