<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/sbasic.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/scalc.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/schart.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/sdatabase.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/sdraw.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/simpress.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/smath.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/swriter.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/readmes</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/autotext</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/autotext/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/registry</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/registry/res</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/default.css</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>6d04dc16440e3d50ed2566937915195a2d5e08de91aa98ac6e38eea136879885</string>
			<key>size</key>
			<integer>3065</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/err.html</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>5b929af317561b744fc5db5b6c32659ebe684956ba852a1f4077881bcc83bd20</string>
			<key>size</key>
			<integer>2159</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/highcontrast1.css</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>cd779c8043d26b12b9dfe89bb839539a97af48e8ab1ef404d6ff1ea62d195adc</string>
			<key>size</key>
			<integer>3056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/highcontrast2.css</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>9b01fd25451c7cf339dc78d0232a389a592ee24ff283b730001001df04522d3f</string>
			<key>size</key>
			<integer>3056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/highcontrastblack.css</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>50cb1fe1470102418c7414735d249a034c5276bf13b3c9273e64c38b93ba58d3</string>
			<key>size</key>
			<integer>3056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/highcontrastwhite.css</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>73e3ecd87f89163f119d088fafe96913cadd7e624aa29cd706f2880f2e060115</string>
			<key>size</key>
			<integer>3056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/sbasic.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>0405d5818f557b9b117dcc1953775a9ff43cd636431fdaede583427a681c45a6</string>
			<key>size</key>
			<integer>929</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/sbasic.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>701019a266a3621c28649a5f991d8c6f7844fff7d636ecba085eac598d7599b2</string>
			<key>size</key>
			<integer>800069</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/sbasic.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a42b5f40eb28f6823cb667fad6fb25cedfbd4745dd77b548db73549b282347ed</string>
			<key>size</key>
			<integer>630027</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/sbasic.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>4e05c024f5704c9a1b7541101f4b7902abddb3f2d175c70fc6b60c3d8b3f70db</string>
			<key>size</key>
			<integer>771772</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/sbasic.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/sbasic.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>e46d4741070c560ab222f5cfa1b93625a76d3f2ad39ec6231b7dd0c7bed98aed</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/sbasic.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>185eccbaa27bbbbf106345afc7f517bb8deac79ecb3809f4dfeebb69157ae1a2</string>
			<key>size</key>
			<integer>1636639</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/sbasic.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>940671e81b6d07f8af515c399ad51c9ec7dddb9f21dbeb883874bd53ebf02298</string>
			<key>size</key>
			<integer>230661</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/sbasic.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>72dce5684916d66f9aa468f335877924f95e3c99b04358b86627a8a6c77e9483</string>
			<key>size</key>
			<integer>33355</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/scalc.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>fcb0016cdfc880ffb6ade3634dc89b0b500ba6361faba36c0eb599721d1ad0de</string>
			<key>size</key>
			<integer>916</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/scalc.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>1f61c8f812578e65db20aec076216493c796d2d16498e86d18a431c42e699b11</string>
			<key>size</key>
			<integer>1037367</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/scalc.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>f1b96b92c21d683302fd522e2bbf2e99bf53d4865be672526b41d137c0ea5e31</string>
			<key>size</key>
			<integer>813691</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/scalc.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>73ff10e45408fea04fc9fd5a87f5ab7e1c2dac2f12d4fab8e79b608fedf23b74</string>
			<key>size</key>
			<integer>972544</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/scalc.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/scalc.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>ad2adb9a40c737525040ccaaf6c883e77b34788095bbae39761a915dea89e536</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/scalc.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>1236294c9dc0778dc73ca9a2af36efd8884d49c5365da92f43022ec8efc28a04</string>
			<key>size</key>
			<integer>1920026</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/scalc.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>9e111f08972b69a6840c552b5681f5b0d38f6ca06b43b2db082f06be03751eca</string>
			<key>size</key>
			<integer>329922</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/scalc.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>bd51ff770977ae1bd1ab43a05ddc37e354cc971e166a5ce53843976ed44953e0</string>
			<key>size</key>
			<integer>13855</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/schart.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>9b44e97f19a108cd27e6f6f25c014b7a4e75790d77c9e6c5c9e2a46610b3d3bb</string>
			<key>size</key>
			<integer>919</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/schart.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>35d2dfc3d0e437e20b4ae31a5a0d5c7392f509d3a44f828e4c9a2b67e0fec517</string>
			<key>size</key>
			<integer>767101</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/schart.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>2e965fa3a296543a47ed62f2d27cb338a628469df3a29f79a8dbf63878759849</string>
			<key>size</key>
			<integer>664068</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/schart.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>bfc2922b42a12f51f54e8e849da0572365bb63539e2a017ba78607458f358dc3</string>
			<key>size</key>
			<integer>641521</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/schart.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/schart.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>933b4ba92255f3559390ad1cb5d8124b2d2c116598150b16cf9a80e07d1b5ea2</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/schart.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>f698486aa0c2ec7e63a75ee033d96ab2fcaaa80fe2126159bac7618c88dbb024</string>
			<key>size</key>
			<integer>238065</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/schart.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>f6c5de678d706a3b455c81c8b87052e7dfa93b6bbf261f1a250188ff4251c591</string>
			<key>size</key>
			<integer>191345</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/schart.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>707e44d630a6c6daa1a062a1a5a5b3b7180e92aebf6f800f260a7c7f4c6e9068</string>
			<key>size</key>
			<integer>1304</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/sdatabase.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>db6611c3c9b6bc909e3798cdb9da78c399802e40d85cc7cfb5334e1d4232b13a</string>
			<key>size</key>
			<integer>940</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/sdatabase.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>be521a7e69c80e7f76efe7d45914f2df0c102bdedb7d1e35f467f4db234217c4</string>
			<key>size</key>
			<integer>708139</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/sdatabase.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>b634d8499be5fbb68c54e9d615619d4d79e9ffc1d24791c004ea7187eea1eb3c</string>
			<key>size</key>
			<integer>612509</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/sdatabase.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>8d34de76df8024978aa7dfcd7d5e43ff959dae7e6a163fe094ed7c5192546c0b</string>
			<key>size</key>
			<integer>604657</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/sdatabase.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/sdatabase.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>305da17c2c9dfac25d546932684badbc03eb3cbf4fa682d8c1c62078b2963945</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/sdatabase.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>3abe1789eb473787ac6bda82c5c14c109a3364fcb8d1bf9f72d023e3eb9f79a0</string>
			<key>size</key>
			<integer>4067</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/sdatabase.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>4c336427ecdf50c04749b47ec7858dc58e5a9e0c05aea2960467ea04e2d67b38</string>
			<key>size</key>
			<integer>183178</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/sdatabase.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>63cdeb0962d39f0d46ec523fd9c6bc01f43b092a44ce201522b2ee5e55321aa1</string>
			<key>size</key>
			<integer>2084</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/sdraw.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>bc1c9e33c567098762674c3360796b8304f03ba671839928fc2c99bfa8a079d8</string>
			<key>size</key>
			<integer>916</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/sdraw.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>27e5d4f207a919853196807ab1383fec69919dab8fab1e1b7063e6d05ceefe87</string>
			<key>size</key>
			<integer>876310</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/sdraw.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>2e63d6e1922296fc9587926c9d98d1050ea9b35f04ed5e8ed2c3ca593830ee7c</string>
			<key>size</key>
			<integer>745412</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/sdraw.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>6709ded9c142d174db37774b23fecd34c144708287a5367ff80b504ab4ba808a</string>
			<key>size</key>
			<integer>758614</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/sdraw.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/sdraw.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>3d5c7df34492e3e6634d2b29719c62d79f71916e728160bf2954e829d9ec233a</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/sdraw.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>56badef9e72cc6e62027f2ffd69a42a22cca36e959b736c6419ea44e71adcfd8</string>
			<key>size</key>
			<integer>124168</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/sdraw.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>76104d4194cd8a3723efd4896728417b6e06e09d6e8428428ad83190197981e1</string>
			<key>size</key>
			<integer>230970</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/sdraw.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>1536ca7cc1f789cc1fac0bb9742d2e5cb996446ac3996ae4b784aba17c0b60b7</string>
			<key>size</key>
			<integer>7854</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/shared.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>ff47306d3d2d8d8c6a1192b5931ad9058bbfdb775ad2d1cb8303f654e65cedb6</string>
			<key>size</key>
			<integer>3582415</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/shared.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>7cd6238836e4b8686871b73287b2ea67d420f0731b005996c25fd78287e912a8</string>
			<key>size</key>
			<integer>15115</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/simpress.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>4f1d8ac08925416248d29bc52ed2fe3e638629b6635cb5e5063457c5a3a95497</string>
			<key>size</key>
			<integer>925</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/simpress.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>1c4c0dce43761030a64ae5907f5eb1600fec962dd8d2a9f1ca4e981741bd36e6</string>
			<key>size</key>
			<integer>876712</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/simpress.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>db276886216ab3109f793a9ba5dbe91108589476c394590b59427ac01a6ac879</string>
			<key>size</key>
			<integer>746685</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/simpress.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>551bc4d703ad01d62487de1fc21981bb092d87068a3dc04177803d985ac574da</string>
			<key>size</key>
			<integer>763127</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/simpress.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/simpress.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>89402624cda0bbec9bced3ee7f79785262fdd6cf17459941dd454108239e2ead</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/simpress.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>785ef363c3fa2d2200c83a5d3bc66489d0370ff8851afc0bde2ed8b2ad55fdee</string>
			<key>size</key>
			<integer>570192</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/simpress.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>0d3632e4ed4550e9ece0dc117bb0c7825a77574511da66917629e6764ee401ec</string>
			<key>size</key>
			<integer>230970</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/simpress.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>8980c4efcc912e006520c7621edf5236771a374e2dbb271828e304267f5b7da0</string>
			<key>size</key>
			<integer>10959</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/smath.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>90b30cd02e608176b48b6397f6ee2afc6dc1fb755e2f29eb96f2106b3ad2f34d</string>
			<key>size</key>
			<integer>916</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/smath.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>ed0c1e9b8b1668f1ba0b7a13df4da41fa31fe6c2284f5ad9945b4e30a0a2f31a</string>
			<key>size</key>
			<integer>751880</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/smath.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a6a2a1b0877672badf52c28c40ad9c75a5716e25335f253be0cee9b88f7d33c5</string>
			<key>size</key>
			<integer>641646</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/smath.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>8298267256fcc285a63b271175001720c954a2fe6b82ad8c1a165a8b693f90b5</string>
			<key>size</key>
			<integer>652982</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/smath.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/smath.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a27eb08646d7987df40b7c26e840c27ff152a30b6d5ec63a1dcbe054bfd6b449</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/smath.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>ff5546f8079b7c1fb213dbff07a76b1601d35169efe82637cb29b1b734c08342</string>
			<key>size</key>
			<integer>347940</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/smath.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>c35896bb994535b2b5f2c0dfc28fc8f2eafb0db4825e6ee7b6f5cbb6200b1861</string>
			<key>size</key>
			<integer>209979</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/smath.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>07d63c2e85a8f0ef3d9761b44f954418f5c36bc6a0cb334ac2e74d791a1a39d7</string>
			<key>size</key>
			<integer>3258</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/swriter.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>199c5862bd2309f59e02b055ab1fb75030e2ea9a88fdb9e5ea2500d8b5e445b5</string>
			<key>size</key>
			<integer>922</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/swriter.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>0dce1d4ad2cfa53da20a3cd704fb9d440b6e913d1fbd04f13fdc7bfd01ab46ac</string>
			<key>size</key>
			<integer>1009498</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/swriter.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>f6c0275bac64ff9128761498c09aabebe9cdf4dfccb9c06614822b82b32da234</string>
			<key>size</key>
			<integer>843298</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/swriter.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>2af4901ebee081a1d24e7687b53ffd6e09ce9a8bd41f7e8a59ef473bc54f2fe1</string>
			<key>size</key>
			<integer>903240</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/swriter.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/swriter.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>8a36c63b8de2fe78771dde023ea6a0f333145d389c52cba08d10b2587b24d7fa</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/swriter.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>74e0e1b1ebb0b74e310ca8be5844d6db21c23e6f7a8acde01ba06dd1554ab0a9</string>
			<key>size</key>
			<integer>1409478</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/swriter.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a068fc85c7973ee9e890c5d837745514672a25a368702c1f79d0ddc7ecae1af0</string>
			<key>size</key>
			<integer>269878</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/it/swriter.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>c233b23dd551920e8077e6286fb7811fbf3eef41e79c8fc29d8fecb5a833235f</string>
			<key>size</key>
			<integer>18813</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/it/LC_MESSAGES/acc.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>7234c29edc39ab5ed713a0b134a2ae1b210c261b44b1283820261ef518b8dc7b</string>
			<key>size</key>
			<integer>1454</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/it/LC_MESSAGES/avmedia.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>8a8cef319ff55ad63573df7d127abd544d47f96ab74518b130502ae942cd93bb</string>
			<key>size</key>
			<integer>2163</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/it/LC_MESSAGES/basctl.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>bb4c454f10c8e85564086822044e9caaf4b702e52ab8cba0d7dcfdc690af3927</string>
			<key>size</key>
			<integer>16281</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/it/LC_MESSAGES/chart.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>3eb6cfeff947b2921f18df4a381b0ec177fdfdad1725af612c5adbe1a78d501f</string>
			<key>size</key>
			<integer>53189</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/it/LC_MESSAGES/cnr.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>738782e095340f1c1f555557a34a52a2d736c8d51dc59c8f50db48998040b8ea</string>
			<key>size</key>
			<integer>19432</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/it/LC_MESSAGES/cui.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>72b5451a112ef423b013c0a3f1beab4b9119c177807a2deab01ad7da2ec569da</string>
			<key>size</key>
			<integer>270860</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/it/LC_MESSAGES/dba.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>c3043b10b964cc51f9e071a9adb843f73cb4d9ed89503ff45e3583030a7e5005</string>
			<key>size</key>
			<integer>93892</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/it/LC_MESSAGES/dkt.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a72f5033c55636103c88b6c3a9e92a86a42efa4b75295f8afd33f4dec94e7f88</string>
			<key>size</key>
			<integer>26844</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/it/LC_MESSAGES/editeng.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>cf97a123ab3ddace0e3ee56b6c6e41974348f078339f4b99a73bd32e1b922c0d</string>
			<key>size</key>
			<integer>24236</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/it/LC_MESSAGES/flt.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>45f4495ab44bbde291ba0b54609484b95fafe76a0e2a8b476f4847d21c6eeffc</string>
			<key>size</key>
			<integer>22533</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/it/LC_MESSAGES/for.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>3abd4678b2b344cd77b5f927a7a38db5c3f3e81627c681a3c98b6399576b5cb0</string>
			<key>size</key>
			<integer>29913</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/it/LC_MESSAGES/fps.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>14b1234d3457bee17796a6a95ca9b81c68ef9c8c3427e0ccaac64be8af65b8b0</string>
			<key>size</key>
			<integer>6478</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/it/LC_MESSAGES/frm.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>5acbb37b54cd45735ead5703e197894e75d22d6021b7c55821301e79c8986667</string>
			<key>size</key>
			<integer>7794</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/it/LC_MESSAGES/fwk.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>ef6459134dacdf70340d7fc52db01371f5f96fbb55b4d0d92a8e07b68b53b2af</string>
			<key>size</key>
			<integer>5082</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/it/LC_MESSAGES/oox.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>f44e18909a5294c58b6ee0928e0a7c0a19bbc6aee3c2c785f08f6976a41fb515</string>
			<key>size</key>
			<integer>746</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/it/LC_MESSAGES/pcr.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>10182dfd60e8c3dc60fa6f4ae92c5f30e368a8e4146797f6210531ac1b964d8e</string>
			<key>size</key>
			<integer>61509</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/it/LC_MESSAGES/rpt.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>4aeeb50875dd2ea4bf9050a87b0c1efe01240bb71a4b9c9b4441889dcb5598e8</string>
			<key>size</key>
			<integer>21268</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/it/LC_MESSAGES/sb.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>e93afa5479350a46a70c038e78bf8e4dca3d9ca31e7b619730dbc450bc1838f1</string>
			<key>size</key>
			<integer>13833</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/it/LC_MESSAGES/sc.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>493e1083a7860ea596b1febdf1142bec8e76ef7a24c097ec8e6ba84fa819b8b0</string>
			<key>size</key>
			<integer>479871</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/it/LC_MESSAGES/sca.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>75c55c9610e32ef566a9e08fafd43cd2c94cfaf8456ce8208da0980098a41a9b</string>
			<key>size</key>
			<integer>82141</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/it/LC_MESSAGES/scc.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>59500495e6cb53d7a9b6eb57fbad07cd4f12b192d438becf5612772170513055</string>
			<key>size</key>
			<integer>2366</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/it/LC_MESSAGES/sd.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>6ecee7d1cdb550a4c424c44b66810ce01be1ee3e68a83ac82f0393dddf69a755</string>
			<key>size</key>
			<integer>114087</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/it/LC_MESSAGES/sfx.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>11a27a3059c6e71088315b3169669bed9751d190a975884e707f5710dd9d6e7e</string>
			<key>size</key>
			<integer>64583</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/it/LC_MESSAGES/sm.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>c06a073600ea75c63f8149f10deb777586c495c05605fd48e55e14bc3c176765</string>
			<key>size</key>
			<integer>36829</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/it/LC_MESSAGES/svl.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a20d35cfad570d84188a16ce84473e2018469ebaa2c6baee3cf0e33c64bf1543</string>
			<key>size</key>
			<integer>781</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/it/LC_MESSAGES/svt.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>4d7de87ae8709401c74a7d78e0b32cba25892dc8769a8495bbc1ce144e3a2980</string>
			<key>size</key>
			<integer>82641</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/it/LC_MESSAGES/svx.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>5f6e5720759c32d64ef6a3d0fd1e0de4b38aace492a9ccb2af782690e2967079</string>
			<key>size</key>
			<integer>247471</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/it/LC_MESSAGES/sw.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>07f77ff4d863bb974bdc45ded3ace2e105f75c055a2cb61be9da56712c9d6835</string>
			<key>size</key>
			<integer>285537</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/it/LC_MESSAGES/uui.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>9a5a93da03830d4be90da6313e7929dc573fa96bef1f8c4aa1a2574e13036c9b</string>
			<key>size</key>
			<integer>28098</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/it/LC_MESSAGES/vcl.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>ca64d148fb5bbaf8709bfa4f5c9071527831c38a87dae43a57ef6ac1ea3afa83</string>
			<key>size</key>
			<integer>30185</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/it/LC_MESSAGES/wiz.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>eea4db6014f5e8d03f60df58beb932e48db73f987824504d2783af97c31f7a8f</string>
			<key>size</key>
			<integer>28571</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/it/LC_MESSAGES/wpt.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>b2dbf2bb1972d5d3e47e180653a9c5d2511994e5fca5446a17b2ea2665902687</string>
			<key>size</key>
			<integer>2990</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/it/LC_MESSAGES/xsc.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a4880f13d281d9f77952a268215fa71962368081df3a8431546485282fc73bef</string>
			<key>size</key>
			<integer>11759</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/readmes/README_it</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>e1ca18cb157b65e41cb5fb1d4af666c4c4f15c89f206ee48ef39c7776fc72f44</string>
			<key>size</key>
			<integer>17755</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/autotext/it/crdbus50.bau</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>f6ec12a66803510c048044bcd6c3be228db1a0a11ae3802f5808e534d3751440</string>
			<key>size</key>
			<integer>32382</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/autotext/it/standard.bau</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>1df1e5e354eb1b2207bc6e2a3bb1f74e8ef199066103a2e157245fa4c5daa1f4</string>
			<key>size</key>
			<integer>44677</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/autotext/it/template.bau</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>90afc907d0f4589e173324f8a2955df5e9514bd11f519f47023881e1c8f5e02c</string>
			<key>size</key>
			<integer>51116</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/registry/Langpack-it.xcd</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>9fc2a14e97b3d406620f99471b6588d9b21f4b88b66d906da57de3fd96482b8e</string>
			<key>size</key>
			<integer>478</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/registry/res/fcfg_langpack_it.xcd</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>42672b78ba476c7b10dc6d5a7e4d99836f7e2eb35e3eb0cf102b10123de507b0</string>
			<key>size</key>
			<integer>28950</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/registry/res/registry_it.xcd</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>3c60377f16842d87e2fd906f962729fc98824bf17d3d29845705fd3ded59f1f5</string>
			<key>size</key>
			<integer>679207</integer>
		</dict>
	</array>
</dict>
</plist>
