<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libpng</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpng16.so.16.37.0</string>
			<key>mtime</key>
			<integer>1555331331</integer>
			<key>sha256</key>
			<string>e4e22c581e15043779d6659e1350ca573b89f1c2c96fc306ed7cc9f149c7605d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libpng/LICENSE</string>
			<key>mtime</key>
			<integer>1555331331</integer>
			<key>sha256</key>
			<string>bf5e22b9dce8464064ae17a48ea1133c3369ac9e1d80ef9e320e5219aa14ea9b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/png.5</string>
			<key>mtime</key>
			<integer>1555331331</integer>
			<key>sha256</key>
			<string>c12fe9b24313754dfe3f61076c46e0d7796b0cdfb1ad5d81be5caf7d8cf16434</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpng16.so.16</string>
			<key>mtime</key>
			<integer>1555331331</integer>
			<key>target</key>
			<string>/usr/lib/libpng16.so.16.37.0</string>
		</dict>
	</array>
</dict>
</plist>
