<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libxml2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/xmlcatalog</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>775c355bfd1a70a2d7be228e4621b85eb5c271807f939ed1352ebaa54ec87689</string>
			<key>size</key>
			<integer>18504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xmllint</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>dde833b6cd18f97348d922b9dad8d3a740070ec2966d8c95abfe75524033f860</string>
			<key>size</key>
			<integer>72592</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libxml2.so.2.9.10</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>fce12907b682102f07ce892e5b8cc913b4b5bca95de72de425b52a3611216ced</string>
			<key>size</key>
			<integer>1455256</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libxml2/COPYING</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>c5c63674f8a83c4d2e385d96d1c670a03cb871ba2927755467017317878574bd</string>
			<key>size</key>
			<integer>1289</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xmlcatalog.1</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>74721e4e735aea89403a69864ef467ca5458477001206f7fb7b1a984946f7df5</string>
			<key>size</key>
			<integer>8397</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xmllint.1</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>sha256</key>
			<string>f74120528742243355821db83b457196dfccb02edcb0ec79eaa52da8484f09e4</string>
			<key>size</key>
			<integer>13466</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libxml2.so.2</string>
			<key>mtime</key>
			<integer>1590750276</integer>
			<key>target</key>
			<string>/usr/lib/libxml2.so.2.9.10</string>
		</dict>
	</array>
</dict>
</plist>
