<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gdk-pixbuf-2.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gdk-pixbuf-2.0/2.10.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gdk-pixbuf-2.0/2.10.0/loaders</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/libwmf-fontmap</string>
			<key>mtime</key>
			<integer>1535059099</integer>
			<key>sha256</key>
			<string>c10e466e4a698092b538fb5b7693e1caa7bd1eec09b663c5c3b0ae1612d8169e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/wmf2eps</string>
			<key>mtime</key>
			<integer>1535059099</integer>
			<key>sha256</key>
			<string>4d15dbed38faa54fa9c10ed12305ebd16a71104e3f7d1e9a8b2763b4c5650a5e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/wmf2fig</string>
			<key>mtime</key>
			<integer>1535059099</integer>
			<key>sha256</key>
			<string>fa10b71dae39bebd69b660f5c4c1a1e4b4394fcb9801272a7eacc07bba2f1138</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/wmf2gd</string>
			<key>mtime</key>
			<integer>1535059099</integer>
			<key>sha256</key>
			<string>ce813534edf13fe6af77080d892912edf5c30bb573ec929d257c957eb07aabd6</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/wmf2svg</string>
			<key>mtime</key>
			<integer>1535059099</integer>
			<key>sha256</key>
			<string>86e7a111798d4f85d6c01a19bae16820ea692d9b031ebe2c394c1f3f86aa4d0a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/wmf2x</string>
			<key>mtime</key>
			<integer>1535059099</integer>
			<key>sha256</key>
			<string>022a500f27b5e10a6b943b1aef072ed2021205ae7a38fe9bd5377e98d548b011</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gdk-pixbuf-2.0/2.10.0/loaders/io-wmf.so</string>
			<key>mtime</key>
			<integer>1535059099</integer>
			<key>sha256</key>
			<string>a9196eff10596e71547606270bec466246f933ea06216fc7f35ecf4f0dedc04e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libwmf-0.2.so.7.1.0</string>
			<key>mtime</key>
			<integer>1535059099</integer>
			<key>sha256</key>
			<string>ea81848d095e5a517b494dc1b4f4ba99514a25f3697d35a5d83a777cb78294b3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libwmflite-0.2.so.7.0.1</string>
			<key>mtime</key>
			<integer>1535059099</integer>
			<key>sha256</key>
			<string>04045f7639a571646a78854574b324af7263a9e8e6fa5d463fe2973d110b09f5</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libwmf-0.2.so.7</string>
			<key>mtime</key>
			<integer>1535059099</integer>
			<key>target</key>
			<string>/usr/lib/libwmf-0.2.so.7.1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libwmflite-0.2.so.7</string>
			<key>mtime</key>
			<integer>1535059099</integer>
			<key>target</key>
			<string>/usr/lib/libwmflite-0.2.so.7.0.1</string>
		</dict>
	</array>
</dict>
</plist>
