<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/hwdb.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/rules.d</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/mtp-albumart</string>
			<key>mtime</key>
			<integer>1604629809</integer>
			<key>sha256</key>
			<string>cea207ab90e392cbca95f58e28315b5391200360be338af42239803374306495</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mtp-albums</string>
			<key>mtime</key>
			<integer>1604629809</integer>
			<key>sha256</key>
			<string>d60afae95e267081efe31606456b6a56e0781481bfc477e46faf45da197678a1</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mtp-connect</string>
			<key>mtime</key>
			<integer>1604629809</integer>
			<key>sha256</key>
			<string>78bcb068bacd5886ef8e0904785bb243ff82c772c172d2d9dfdae6014a4f32fb</string>
			<key>size</key>
			<integer>31000</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mtp-detect</string>
			<key>mtime</key>
			<integer>1604629809</integer>
			<key>sha256</key>
			<string>34a14274e9cde386429538056081fedf105fa0b57640ea9ea6e1a1ed2effdcee</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mtp-emptyfolders</string>
			<key>mtime</key>
			<integer>1604629809</integer>
			<key>sha256</key>
			<string>7e46b0a08d52fdeaf68d82dba071b28f29f5255002da2c6f9e1624690755ed68</string>
			<key>size</key>
			<integer>14416</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mtp-files</string>
			<key>mtime</key>
			<integer>1604629809</integer>
			<key>sha256</key>
			<string>784ebb1245749e1cbbce9ceb33f1aa5b0c4c537ee3ac1dc87bd157698b1f2534</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mtp-filetree</string>
			<key>mtime</key>
			<integer>1604629809</integer>
			<key>sha256</key>
			<string>15903c577f6a37c90f0a581db2f03ef44d8b7fd5d47c70434b88370a57ebb057</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mtp-folders</string>
			<key>mtime</key>
			<integer>1604629809</integer>
			<key>sha256</key>
			<string>e2bf2a4d5cd77ef13a6c4ae885441f778b17c7f2b9cf84b95cb7031bca9b23ae</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mtp-format</string>
			<key>mtime</key>
			<integer>1604629809</integer>
			<key>sha256</key>
			<string>647df5186f3ba263faf907ae5a1e758b55e3ed4ee1d796531c4da7031f5780ee</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mtp-getplaylist</string>
			<key>mtime</key>
			<integer>1604629809</integer>
			<key>sha256</key>
			<string>6b21dbd63792a9113c98627d9f4822674545d51e27e3ea22c0fc4fe47621f17a</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mtp-hotplug</string>
			<key>mtime</key>
			<integer>1604629809</integer>
			<key>sha256</key>
			<string>c9db506b4df9816b1acd9fe243ce97c33b1b04101199b67383939231ed10bbc1</string>
			<key>size</key>
			<integer>18504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mtp-newplaylist</string>
			<key>mtime</key>
			<integer>1604629809</integer>
			<key>sha256</key>
			<string>29afd8d1fa51d28f00778f34077beaee1358044880c95998eccd051535aa99ca</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mtp-playlists</string>
			<key>mtime</key>
			<integer>1604629809</integer>
			<key>sha256</key>
			<string>ee3096b5ee18300ddd1dd3b28703471c982102ca5679ca6c1daf50ddd07e9c42</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mtp-reset</string>
			<key>mtime</key>
			<integer>1604629809</integer>
			<key>sha256</key>
			<string>93d3fa20682c42c734c6cfda3b90f6764b10ad8f9d1f357d0bd76a2e049c935a</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mtp-thumb</string>
			<key>mtime</key>
			<integer>1604629809</integer>
			<key>sha256</key>
			<string>83208e692cfd7dad64f4e6ec62b341f7a6a309d6a94ac6d5d68c6cbf9a058290</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mtp-tracks</string>
			<key>mtime</key>
			<integer>1604629809</integer>
			<key>sha256</key>
			<string>ef1832d76c3b9040ff680b1a0efbeda7852a97d964664913c25a9e66094e0f6f</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mtp-trexist</string>
			<key>mtime</key>
			<integer>1604629809</integer>
			<key>sha256</key>
			<string>cd3278f10155632ea88d5dbed05dc0732acf94719aaf81c93eda6d649bd25eea</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libmtp.so.9.4.0</string>
			<key>mtime</key>
			<integer>1604629809</integer>
			<key>sha256</key>
			<string>21cf3bcdb63e95efc9cb6abae2093e61b1351ea5740e5e04c1505eb31dc46b63</string>
			<key>size</key>
			<integer>510904</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/hwdb.d/69-libmtp.hwdb</string>
			<key>mtime</key>
			<integer>1604629809</integer>
			<key>sha256</key>
			<string>3a0be3cd58e6dbd53207ff03f3e5f20f302a5275d1f9ebc1ba5668c9e80b4543</string>
			<key>size</key>
			<integer>105716</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/mtp-probe</string>
			<key>mtime</key>
			<integer>1604629809</integer>
			<key>sha256</key>
			<string>307cd824992ab814e2723b7af8a882d218ff37b069c6d5391db8b35caf56a534</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/rules.d/69-libmtp.rules</string>
			<key>mtime</key>
			<integer>1604629809</integer>
			<key>sha256</key>
			<string>3a4987923b21dcf691e3af478f8f4fd0f839f4e500bd36b9d7e309f808339665</string>
			<key>size</key>
			<integer>1945</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/mtp-delfile</string>
			<key>mtime</key>
			<integer>1604629809</integer>
			<key>target</key>
			<string>/usr/bin/mtp-connect</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mtp-getfile</string>
			<key>mtime</key>
			<integer>1604629809</integer>
			<key>target</key>
			<string>/usr/bin/mtp-connect</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mtp-newfolder</string>
			<key>mtime</key>
			<integer>1604629809</integer>
			<key>target</key>
			<string>/usr/bin/mtp-connect</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mtp-sendfile</string>
			<key>mtime</key>
			<integer>1604629809</integer>
			<key>target</key>
			<string>/usr/bin/mtp-connect</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mtp-sendtr</string>
			<key>mtime</key>
			<integer>1604629809</integer>
			<key>target</key>
			<string>/usr/bin/mtp-connect</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libmtp.so.9</string>
			<key>mtime</key>
			<integer>1604629809</integer>
			<key>target</key>
			<string>/usr/lib/libmtp.so.9.4.0</string>
		</dict>
	</array>
</dict>
</plist>
