<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libxml2-python3</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/drv_libxml2.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>a5e89415342706ac6f6060034de1e3746d3e3599c205a01331432e7f5c604716</string>
			<key>size</key>
			<integer>15252</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/libxml2.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>a9fc3d8b67e60449325b9f61cfc5e3dcdfa51caab23e5e218d14ac36608f0de5</string>
			<key>size</key>
			<integer>345896</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/libxml2_python-2.9.10-py3.9.egg-info</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>b3371f86422ee5c776e3ed8482ed0065af0fb7ad7e8d6e135d7410d01e9fa31d</string>
			<key>size</key>
			<integer>244</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/libxml2mod.so</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>a65d6c66f6090207ba524af5eb4164a4bbaeaaa4a6e041ab5ba07a50040d5789</string>
			<key>size</key>
			<integer>413136</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libxml2-python3/COPYING</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>c5c63674f8a83c4d2e385d96d1c670a03cb871ba2927755467017317878574bd</string>
			<key>size</key>
			<integer>1289</integer>
		</dict>
	</array>
</dict>
</plist>
