<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/extensions</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/extensions/MITMisc.h</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>90a02761f273c64acf254103a0dfc1b4f132299e51c787e99a0bd0dbc03900c6</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/extensions/XEVI.h</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>796311638cf5e7bbc5a1f083744913694a6c16a2a09b248244d787baf2b63c72</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/extensions/XLbx.h</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>08f56cd5b19120009953d410a3007d28687a73c166efdfd660e75e0a62acb6e4</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/extensions/XShm.h</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>67bb1736e6692302ec0162f8c2ccfbdb39da396fa31ae4a01fb6ea63ba95624f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/extensions/Xag.h</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>b3ffc309b0ce2daa74b79dc4f64aed7aa8e25ead9eaf81cd7405021c567fcd9e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/extensions/Xcup.h</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>bfdfa15e01049db30f0377aa080ba0a24da0ad713b3bb9689bd3557944119be8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/extensions/Xdbe.h</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>42c07819293953c294e6ca41a1300434427792137de1057e7cce2dbf19df87c1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/extensions/Xext.h</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>ea4aaf64f74d19ac557754b524c0b97c34c96e54216b6f5616928e9327bbf50a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/extensions/Xge.h</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>4540016a411f6814cfba56515a07e6d6f79939be38dcec6b75fc329b2b3215de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/extensions/dpms.h</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>c2cb03ed6efa6ec8a13d3cc0b5bad707c6b2997735335687084521915d352005</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/extensions/extutil.h</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>d9278487d5eb969114e81b4caa8e491315333216e6d07a82b4a91628daaee91e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/extensions/multibuf.h</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>db1d12a86c8953101545da29c14c36538f5aa86b5bc62c81dd00a57c5c4549ee</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/extensions/security.h</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>1d344df464ab863316197ff4ea6b133ea544ce96c0357aa8b28d14840c8c375e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/extensions/shape.h</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>63657925a3471338ec8fa6c050a485f89ce9513e0d2afcba98b5a9b055e09652</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/extensions/sync.h</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>5272674ae58ae810850b060285af1d3c0dc57200324933dbab20e7b7736ae592</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/extensions/xtestext1.h</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>3edbb5385a95c62fb771035f363863c1b8d08140d0ac5e2ec0c885da237dc230</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libXext.a</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>5caabc259b51c97a980dfc2ce2d5ea428be8883c83b1af322780e9e682589b68</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/xext.pc</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>a4fadb873320bc78ae99a8401c0536fccbf184a790786df0bd430aa02621d2ce</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/DBE.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>3eed61bd5bb0135931494add54771c36d443f422871c1ffdd0b49c1ad5cebb31</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/DPMSCapable.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>03fe13b910082a7c88e2dd2202288ca54cdca3adab536508e7aa7169305acfd8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/DPMSDisable.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>500840c2de4a25f4422720462b97a62056c400a4f9e9459cd66da75c6f6b50c9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/DPMSEnable.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>d1ff3a2befb1632b88ddd5347c3d252281c7775782e3c05686ec50b7281afa2b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/DPMSForceLevel.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>994e4f066082dbaf3f141935f3c424d20822a23920c8493ec151dee909b8e500</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/DPMSGetTimeouts.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>e8251434a965adaccb51135cf172bcc8e6d9a7016ac2857e6d0f1b126f64ae53</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/DPMSGetVersion.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>8b8e99b6f19736bf195be8efa42a812f97fc36c15e8f41d9c481e3ca4aa0d649</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/DPMSInfo.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>cebf4cc0d4578d3f8af61203f342f9e5f198230666ab076003542958f1cb7b89</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/DPMSQueryExtension.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>cf1419f0959603c177af1e363ceb8a542e6618b77d8edad1890a396e56688b99</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/DPMSSetTimeouts.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>c85eb7f26297de3e2bb9f3c4f3f98d132155cf2045a9f13fe16c6a87cc3648cc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XShape.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>a85060b4b5f43ad4f0a2f7b870635a6a8c8430e1a9ae48727d0fa7baccd3ad22</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XShapeCombineMask.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>84ef4572844911769ef0bb91f56595d9a87610fc2378bd7cfc1b6f3214628f04</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XShapeCombineRectangles.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>84ef4572844911769ef0bb91f56595d9a87610fc2378bd7cfc1b6f3214628f04</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XShapeCombineRegion.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>84ef4572844911769ef0bb91f56595d9a87610fc2378bd7cfc1b6f3214628f04</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XShapeCombineShape.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>84ef4572844911769ef0bb91f56595d9a87610fc2378bd7cfc1b6f3214628f04</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XShapeGetRectangles.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>84ef4572844911769ef0bb91f56595d9a87610fc2378bd7cfc1b6f3214628f04</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XShapeInputSelected.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>84ef4572844911769ef0bb91f56595d9a87610fc2378bd7cfc1b6f3214628f04</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XShapeOffsetShape.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>84ef4572844911769ef0bb91f56595d9a87610fc2378bd7cfc1b6f3214628f04</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XShapeQueryExtension.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>84ef4572844911769ef0bb91f56595d9a87610fc2378bd7cfc1b6f3214628f04</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XShapeQueryExtents.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>84ef4572844911769ef0bb91f56595d9a87610fc2378bd7cfc1b6f3214628f04</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XShapeQueryVersion.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>84ef4572844911769ef0bb91f56595d9a87610fc2378bd7cfc1b6f3214628f04</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XShapeSelectInput.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>84ef4572844911769ef0bb91f56595d9a87610fc2378bd7cfc1b6f3214628f04</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XShm.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>b9decc39548ffc9588daeed828441dcbb3a5a8b89a1fb922f0f7fbbdf7d1f00d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XShmAttach.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>37760d926b30ac3040dc9452a99df6cd34a4b893387849733b4d0ec833339c3f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XShmCreateImage.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>37760d926b30ac3040dc9452a99df6cd34a4b893387849733b4d0ec833339c3f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XShmCreatePixmap.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>37760d926b30ac3040dc9452a99df6cd34a4b893387849733b4d0ec833339c3f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XShmDetach.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>37760d926b30ac3040dc9452a99df6cd34a4b893387849733b4d0ec833339c3f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XShmGetEventBase.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>37760d926b30ac3040dc9452a99df6cd34a4b893387849733b4d0ec833339c3f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XShmGetImage.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>37760d926b30ac3040dc9452a99df6cd34a4b893387849733b4d0ec833339c3f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XShmPixmapFormat.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>37760d926b30ac3040dc9452a99df6cd34a4b893387849733b4d0ec833339c3f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XShmPutImage.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>37760d926b30ac3040dc9452a99df6cd34a4b893387849733b4d0ec833339c3f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XShmQueryExtension.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>37760d926b30ac3040dc9452a99df6cd34a4b893387849733b4d0ec833339c3f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XShmQueryVersion.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>37760d926b30ac3040dc9452a99df6cd34a4b893387849733b4d0ec833339c3f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XcupGetReservedColormapEntries.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>d4d8ad8ec74848a7a8a29e401ef647e6aefebe7a91826de9ecf34f3a711a8263</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XcupQueryVersion.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>2b8d11c9d24ce79f45a17760776bfd8e483fd8930ebbd1d17aa57c51975b3fa1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XcupStoreColors.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>2cb7c095c493b712d5c1bca7228f5d2916bb3cad1a4f4e01504a3be7f3c319d0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XdbeAllocateBackBufferName.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>b6190df7e45f288aef0944cc201b78b74760b6623a6dc195da68028b076cd4db</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XdbeBeginIdiom.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>4c026c26d86f2d8713f8ed41ffd1242df5a743cf8dc34c14a7d2f84faf9c44ff</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XdbeDeallocateBackBufferName.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>c62427da4445cb7346a298a1b7c87e852f2853092a81b123c929699f6d7ab128</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XdbeEndIdiom.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>ddcc61aea5aea5ec7818cf0cec1498f123a7e707c14117c86ad94dc0b523f00b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XdbeFreeVisualInfo.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>871da50f2fd4a0aa8e374af48c7c82b3f997115285fd698120600ae8a08b6ddb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XdbeGetBackBufferAttributes.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>f252717cf9e24cad67bb59ec8702ba85efc110001c24e53842f20ad8fcf308b1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XdbeGetVisualInfo.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>9c73dd2fd70a8e0be595fa5131d8f5fc3c550e4bd8a48d40fd01c1658c2dbfbb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XdbeQueryExtension.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>f28f7f66deb8b7c6a42d7707d25a423b289c86b366e7379658e7650f42f1945a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XdbeSwapBuffers.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>e24de74131331e2a556e240f4b48567377060ec529541515912d66cb278d8d23</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/Xevi.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>4b6ed682e4b27d4c9833c0bcaf034438d3412eaebb16c5a44df3447b33ec5736</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XeviGetVisualInfo.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>cb6b7a5c5abfe57f95e4f762619a8fbf0d16c9d9cffc76f6b90409fafed05322</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XeviQueryExtension.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>cb6b7a5c5abfe57f95e4f762619a8fbf0d16c9d9cffc76f6b90409fafed05322</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XeviQueryVersion.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>cb6b7a5c5abfe57f95e4f762619a8fbf0d16c9d9cffc76f6b90409fafed05322</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/Xmbuf.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>0c436c501fba19fc49e88e6c37bd8f8d0ce80d9078a1b1c80dbbe95703fd53a8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XmbufChangeBufferAttributes.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>3b171d1752636f5105169e2dbb5d5e8d524782a97cdc52b724d0410bf8eae57f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XmbufChangeWindowAttributes.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>3b171d1752636f5105169e2dbb5d5e8d524782a97cdc52b724d0410bf8eae57f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XmbufCreateBuffers.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>3b171d1752636f5105169e2dbb5d5e8d524782a97cdc52b724d0410bf8eae57f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XmbufCreateStereoWindow.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>3b171d1752636f5105169e2dbb5d5e8d524782a97cdc52b724d0410bf8eae57f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XmbufDestroyBuffers.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>3b171d1752636f5105169e2dbb5d5e8d524782a97cdc52b724d0410bf8eae57f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XmbufDisplayBuffers.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>3b171d1752636f5105169e2dbb5d5e8d524782a97cdc52b724d0410bf8eae57f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XmbufGetBufferAttributes.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>3b171d1752636f5105169e2dbb5d5e8d524782a97cdc52b724d0410bf8eae57f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XmbufGetScreenInfo.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>3b171d1752636f5105169e2dbb5d5e8d524782a97cdc52b724d0410bf8eae57f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XmbufGetVersion.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>3b171d1752636f5105169e2dbb5d5e8d524782a97cdc52b724d0410bf8eae57f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XmbufGetWindowAttributes.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>3b171d1752636f5105169e2dbb5d5e8d524782a97cdc52b724d0410bf8eae57f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XmbufQueryExtension.3</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>sha256</key>
			<string>3b171d1752636f5105169e2dbb5d5e8d524782a97cdc52b724d0410bf8eae57f</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libXext.so</string>
			<key>mtime</key>
			<integer>1552793752</integer>
			<key>target</key>
			<string>/usr/lib/libXext.so.6.4.0</string>
		</dict>
	</array>
</dict>
</plist>
