<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/am</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/am/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ang</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ang/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/br</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/br/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/crh</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/crh/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cy</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cy/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/dz</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/dz/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@shaw</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@shaw/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_CA</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_CA/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ku</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ku/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/li</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/li/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mai</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mai/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/rw</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/rw/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@ije</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@ije/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/xh</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/xh/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/yi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/yi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgnomecanvas-2.so.0.3000.3</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>15629418f98bceef135a1c905feafe76cfcd8f36c98624820b8a1433dcae75f2</string>
			<key>size</key>
			<integer>227416</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/am/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>b9c70bc8b14147a91ef4fa7736ba5dfc467f1702eda1c994ad2a464fd52f31e0</string>
			<key>size</key>
			<integer>1827</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ang/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>8e9e5761c1cf45e051164785506c3debd0f67cc537e0314e966d9918f156b563</string>
			<key>size</key>
			<integer>780</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>f8c3c7bf01261bf30737d96a8ac2dcdc92836f061958c5f56265125e8f565e29</string>
			<key>size</key>
			<integer>8272</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>e6556b723ea82f2b89c70cf49aacb332f3bd17e4b1b4f877077021a812965df3</string>
			<key>size</key>
			<integer>10816</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>80f1dbc8121c910f21b44e766669f689888cf6c0bdf641930bb97dc6cac707ec</string>
			<key>size</key>
			<integer>7620</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>c7a9efa02a84a29dbe2c75aacc6477ddb16fe62990144a75b97e30a1da2b63c2</string>
			<key>size</key>
			<integer>7339</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>e14e204760416a27d13682ab81fb50db4db9b3d124e6d8c64f1a621731451913</string>
			<key>size</key>
			<integer>8952</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>3d7a7656a0c85799ea661a323507a8330c8b552ccf20c30ca592ae50a69e7751</string>
			<key>size</key>
			<integer>9171</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>2c72e50c31fa3457583942d3abe206d1a708218756fa0a98f83ce8e8a6dde38c</string>
			<key>size</key>
			<integer>10968</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>34f71677f95749456ffdb1284dfd8370085f3ec4d85781577594274e73e3d4e5</string>
			<key>size</key>
			<integer>11424</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/br/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>a2e2a9347dfa31e98ca007c4c2c45862a857c21f86a1e6d5b4d3b867b0893d5c</string>
			<key>size</key>
			<integer>1266</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>02a08f1090319c0deaa795bccf1e4a1baeceeaddf8e76abad73a47773fa62632</string>
			<key>size</key>
			<integer>6803</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>03e6aafcdf4586847a884283cad04c4fca04d50d77133c6883ff4942c9ce14fe</string>
			<key>size</key>
			<integer>7561</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>9c5f4ffaa772906f1c8d066e245d13f5c614974e039f65b6a85b6080389cb585</string>
			<key>size</key>
			<integer>7534</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/crh/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>bc7426590634529d05a122358ff3b0bfbc8c6ca93803e4c621207a62acb31e7b</string>
			<key>size</key>
			<integer>7733</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>759e981687284e3c811fe494cb8edb7ef61075fa51036269febb5c5f13f0f618</string>
			<key>size</key>
			<integer>7171</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cy/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>ace382a3487e0cc59332b4f50507f390fa6186a88bc8e481e7e2290a87cf70bd</string>
			<key>size</key>
			<integer>7193</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>7e9b66653c2a92fc4c6012bb03393b59b958f869ea1123a89560d36395abdf8b</string>
			<key>size</key>
			<integer>7168</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>81ea1cddfcbc83721867e2795d6619ba83de0f79142385ef620de8b7406bba3f</string>
			<key>size</key>
			<integer>7340</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/dz/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>5f46af2e15493d3e52b52c229c38a931f297e93557c4fc6edee28a4a2efd5daf</string>
			<key>size</key>
			<integer>13585</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>0f49a7e6a656764ded7b662fc3b216cb5cf13f707b05f06351720a2ee2900378</string>
			<key>size</key>
			<integer>10395</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@shaw/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>54c9eede6015264c4c0803115b1ed7f5363d01c981c1f9416f401cd5b16a2cda</string>
			<key>size</key>
			<integer>9475</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_CA/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>bef7a38c08175ca0d8d423cb42bf83912c47073f948f2242bfece9b6103a42ff</string>
			<key>size</key>
			<integer>6816</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>5a7beb479bf6af5901c45626ea239cad955728b1355a45ac12338c622e8949b2</string>
			<key>size</key>
			<integer>6775</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>0cfa3b76e852285db08f0816f8360d016dad88947331bfaff47676f2ed234bc0</string>
			<key>size</key>
			<integer>7163</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>abc79425e9d5d0ec74af687dac04da26d22ac6bdc7259f89e953e612c5a1c79f</string>
			<key>size</key>
			<integer>7697</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>b88797bfc538d2dd4cb3277468ec80d77dbffccb1626515b6f79e93813895229</string>
			<key>size</key>
			<integer>7079</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>1316c91054d4c78fd84ff6165d11191961a358258a749fe2f0586a46e6042dc9</string>
			<key>size</key>
			<integer>7741</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>a9c8faab3d311e12fc720824b6ed3e1e32a073bf2f0baff99ae53b6e4962428e</string>
			<key>size</key>
			<integer>8181</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>bb83fc0adaf7246f1bc3bb52ba36fdec0dec10f1da36624f78c7905341377bb4</string>
			<key>size</key>
			<integer>7186</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>abbfe8a3a195857f8ed5051842afb1cbbf9e6584d3c62b6a6456b7f84e11dfaf</string>
			<key>size</key>
			<integer>7617</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>99e436c58349683aed26c8076925edfb06e4d56524a4347ca8ad8602fb2c4e87</string>
			<key>size</key>
			<integer>3381</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>2626c3b571f62f8737cb0b8de0f934e339f601e63aac600faae9c8a228ef2e00</string>
			<key>size</key>
			<integer>7856</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>b0bb6dbc74f05c55ba9b6669ffdfa9ee6cd0a5d9c6afc60e47e718e8a50a3048</string>
			<key>size</key>
			<integer>10359</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>19d48cf4210f6a9579e059fb7c8245f1b8815809854127fe77e604a911677f91</string>
			<key>size</key>
			<integer>7810</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>57dde907ed4306759d07d98c4e16078b30fe4708f6f7adcac14a1eb45b1e94f1</string>
			<key>size</key>
			<integer>10527</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>0217a378f1237429175527117a875fe4504b3a8933f5fcee0b5073d63638e0d4</string>
			<key>size</key>
			<integer>7327</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>c1097deccca333ef33c5b8e106a91eca0a9299f162e3df38725089964eccb986</string>
			<key>size</key>
			<integer>7399</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>8a18e29207c23f472842638af8ff380d756bdb744470cac73669b27842aaa96c</string>
			<key>size</key>
			<integer>7326</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>6c4e7e2580adffa25d74c5ace728454ef1d787f409d9120d0d55bb32944e4dc3</string>
			<key>size</key>
			<integer>6575</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>05338c6ac7237cefd3dc254e44ce65f8a4d63b0339caf2cabd16367dc3124704</string>
			<key>size</key>
			<integer>7581</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>6a546fe8b92973228573d6268f7be1040ae4e3297cf25f16f5640583620c4fff</string>
			<key>size</key>
			<integer>8325</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>6f3aab7b6577488ae9fa70b7f65e55651bbefb2c2d2ce89123aae534ee2a39e4</string>
			<key>size</key>
			<integer>10522</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>2fe236c758af2e10d0ede758051839cc4b48ee10c56e76c3db08923e4f328b57</string>
			<key>size</key>
			<integer>11447</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>4e300f04bdc78e560e1ea396273edebe59981c501aa91f86f21c90973691cd46</string>
			<key>size</key>
			<integer>7409</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ku/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>b9f50d3c0e4799e1cf51f0f7b7a9c2975c72768a842912f34f89fb26bcba0af6</string>
			<key>size</key>
			<integer>907</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/li/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>be546207598bdd7cbd061fcd57b0c08fb0a75dd8cd985e1df8996d7c97643562</string>
			<key>size</key>
			<integer>6765</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>1d127f2d1ad85d7d5d3e7a84ea2f36d01b98e2ed7e5fb65c47ca660904202e50</string>
			<key>size</key>
			<integer>7351</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>a1a7fbfceef54880dbc2619413bd030803dcdd7cca8a8e6d662283ba144b75fe</string>
			<key>size</key>
			<integer>7374</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mai/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>55002e39fe4a3f9b56a7eda5193a811a13cb628ab7de4524523dbae12ee90fcc</string>
			<key>size</key>
			<integer>10382</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mg/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>98fd791f954806e587c96e26b439a89723f0a80b318e52f579ef22f7a7ef1a97</string>
			<key>size</key>
			<integer>7312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mk/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>b17d1a43aef5a5afa7ddce599e35d012bdced9bbc51758013a9180f3995bad9f</string>
			<key>size</key>
			<integer>9277</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>9b02ecefd2d0848870e61b44354c2f9d0185eb3da855414ffbd44d59c02d278e</string>
			<key>size</key>
			<integer>12405</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mn/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>86ca75afa8d70ccd4ee11da449dc0dd79744a808f3f8d71a985fab49156bea2d</string>
			<key>size</key>
			<integer>8519</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>4a796a540d830f518f83c3e07b16314f34e7966b63460237076645b407737e45</string>
			<key>size</key>
			<integer>10407</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>e0a156404492a2baca2e444923ddb3686e47f04e3363f91ede056506380a4b88</string>
			<key>size</key>
			<integer>6618</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>5151585c1f06d1173375ba0e6167b4b5b3525351966eee943c281aba01535538</string>
			<key>size</key>
			<integer>7174</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>ee9949e6a39542102c873dde8888db55f047ad004cf1fc979bea36a830958efb</string>
			<key>size</key>
			<integer>10581</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>50f4929bf0096a056ea7d6431749c1df9af0c4cc874fadc18a8e2a00fc1d8c5d</string>
			<key>size</key>
			<integer>7155</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>a3f8ec2c62b41f437d1df554ce83fe936179ca6b574ee0ab2014a9c3ed6b5c89</string>
			<key>size</key>
			<integer>7165</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>12c894492fbaf4fdcbffc796d84680efd3bbaa8e4a7d3564ba666611dc56c660</string>
			<key>size</key>
			<integer>1333</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>ce20f2a50cde2bc41d108417ba79715d410e1c13fdea65e823e4858adad9c93d</string>
			<key>size</key>
			<integer>11118</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>b63c6504a9b3130fddb456965f8e7cf79e73b8250e3dea34d98d03c64877f34d</string>
			<key>size</key>
			<integer>9824</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>31be239e51eaf281c589e57cf721c07c4310ed879cc928d5152b6b3977adaa23</string>
			<key>size</key>
			<integer>7661</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>baa9442fe05d6dd0b5da72c286369b4460c45572c3c820eebd54c44552e69622</string>
			<key>size</key>
			<integer>7333</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>d942851b5d28c2b9c138316a45ea02c7157966261d78bcbb28c6973139d1cca0</string>
			<key>size</key>
			<integer>7249</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>490adb11967b27b161a32eecb5577a63b7bb093999e268549c6bdf2fd61caa8a</string>
			<key>size</key>
			<integer>7165</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>00f06052f5b0813e6f69ac4e93e2acadaa1d15ef1e38a1f6c5f74f15934c50fd</string>
			<key>size</key>
			<integer>9360</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/rw/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>bd1141dd003a81a70a93a9f087fb1a08f97d5f09829f69cdc71675a99253b029</string>
			<key>size</key>
			<integer>1141</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>ae38e11b8a23010f5e7c443e301fb2db687a41592a5298e962df18e7a75cd689</string>
			<key>size</key>
			<integer>7224</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>a3d4e6aa31a88660990c9e1726b0f7a6836c751704c6cfd8d58ec15e91382b28</string>
			<key>size</key>
			<integer>7257</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>b337459157835ecdaa6ac05f70c90636f94d4bab06b76db810957e40b2113570</string>
			<key>size</key>
			<integer>7692</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>87029d2e181f2b3cc3ccaa3d2a796f2e28554891974da99d0241c9317f3371ad</string>
			<key>size</key>
			<integer>9134</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@ije/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>74fc14cf5027eb6e889289637b4ecdfff82d79df6b6b036a678845997218d2b3</string>
			<key>size</key>
			<integer>8639</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>691440b1fca711157e66fb22b0ac11f9e9b40865545e4b85af87d18e50a5a5f6</string>
			<key>size</key>
			<integer>7208</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>cfece932914a8a64ea6b00be3bbf6d528a7e0c999e9ada5c075794a12bbee1a6</string>
			<key>size</key>
			<integer>7259</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>76775d338e7809e3c3155c0cc75523ea23a1ea19c6881a46f6710bf8b9ffaf88</string>
			<key>size</key>
			<integer>11864</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>ad0eb2bba42e09d10902ab21a707cfd3133adfc1ca50d07163a94694ca8e1a8a</string>
			<key>size</key>
			<integer>11100</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>ecff6b69afb9c75221e4787a2cf1eb1735663847430c9e416cd2d22b5ba38441</string>
			<key>size</key>
			<integer>10737</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>42a9847e8fd773cae6e83593ae812358b043e3db2640f156d075857996cf3f3a</string>
			<key>size</key>
			<integer>7342</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tt/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>d25113169d434235ccbbda9cdbcab8515d68275b23033c31f93c92134cbc04b1</string>
			<key>size</key>
			<integer>6793</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>b322a8555763eed5e67bf880bd979bc0102fb863af9561ed68d7e540a373ee25</string>
			<key>size</key>
			<integer>9642</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>d6523d007dccc01725bf624c35ad60d314ca94fa351cdd027c5a38e1c177cc5a</string>
			<key>size</key>
			<integer>9034</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>d628a4ff8d278f93f8a367f80e3447fe519c8a65ee2de952116c79b3653d88f0</string>
			<key>size</key>
			<integer>7805</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wa/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>b4752686127d7350881dc461c2215ed6dbaae39903a63364690d2ca930e00912</string>
			<key>size</key>
			<integer>6866</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/xh/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>c247666eadc6da19c76d40cfea1ecdfd10bdca759f660b0070f1080a2bb530ec</string>
			<key>size</key>
			<integer>7410</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/yi/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>b3049efee551a52a6af4b1d7158a0c782f49617604a2edc48b79df0036b7485e</string>
			<key>size</key>
			<integer>8596</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>b1cf090fd2c5ecca1a715a53df6c1d627da72474424685de9477ea6743639277</string>
			<key>size</key>
			<integer>6890</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>60d09f4cf1a2bdde948a7e0a80fb78d49257be443720f80ccd666de39b755be1</string>
			<key>size</key>
			<integer>7009</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/libgnomecanvas-2.0.mo</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>sha256</key>
			<string>05226d469e74d922f3fa0afb375b05b91c40108cbcf466f997868412083a55aa</string>
			<key>size</key>
			<integer>7009</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgnomecanvas-2.so.0</string>
			<key>mtime</key>
			<integer>1610465591</integer>
			<key>target</key>
			<string>/usr/lib/libgnomecanvas-2.so.0.3000.3</string>
		</dict>
	</array>
</dict>
</plist>
