<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/xdg/libfm/libfm.conf</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>db0c3d9e2914368c4ecf412daeebb6e174e66bfaf1c88acc63c1da093a8a6c2b</string>
			<key>size</key>
			<integer>183</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/xdg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/xdg/libfm</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfm</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfm/modules</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libfm</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ps/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tt_RU</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tt_RU/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur_PK</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur_PK/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/mime</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/mime/packages</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfm/modules/vfs-menu.so</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>e18f9835e991ff2f48a5c9b33f527287292cb80717eb511c9f6e7adcf6eb50bf</string>
			<key>size</key>
			<integer>51144</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfm/modules/vfs-search.so</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>5974e61560e093073e3a00b5e67bf55e44675b5d4a842a047f098038f0ac3fd9</string>
			<key>size</key>
			<integer>26568</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfm.so.4.1.2</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>81f1b709aa09679c6a31b8959a50a754ed0dbbbebc7d42e4a749ca5bee67d404</string>
			<key>size</key>
			<integer>313776</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libfm/archivers.list</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>7eac816c5351c7a087cf4fe9ca4fed054ec12a2f7a6569c6a73d60797949cfe1</string>
			<key>size</key>
			<integer>4943</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libfm/terminals.list</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>d221fe21b8a32bfcc3aa3a1ef44343f0425aee7e1f6052c2ce5146931abc05f6</string>
			<key>size</key>
			<integer>1051</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>4afb33348036d330be55e9fd9c70b93eeb0eb6a4531fe8656f5df1ece0f0f09d</string>
			<key>size</key>
			<integer>436</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>cae135460794c18b4da08109b0fb2f05c336557e834c6e483022e68524f50532</string>
			<key>size</key>
			<integer>34902</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>9ce5753c92f511012705951273cd7754c57edb9ac8a58b14f9e25fd31458968e</string>
			<key>size</key>
			<integer>15839</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>1816d422c198df399c02cd60daa521577ca11303d9d6779aad1f111089773656</string>
			<key>size</key>
			<integer>39224</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>53ce42a6bd166e9e940a4538b356df0ea20e43fe6fb54fef59436386cb97a2e1</string>
			<key>size</key>
			<integer>8188</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>705fffa2edc994c900a16b58c9c685bdee8e580f44a8b3cb42a623527665fee3</string>
			<key>size</key>
			<integer>853</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>717ac446b6fc1a5b5c3e6ae1f5945d46277e64a10ea4db8f0c708ac76a68f830</string>
			<key>size</key>
			<integer>31510</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>bdfc1d81e579febf844c716b51af008aded09df2f844b8ed4235ab7bf1874ba2</string>
			<key>size</key>
			<integer>30193</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>51e02d9c28fc50fbd3caa9b1ea4d7acbcc3c395eba461b914a97a52035cd95a0</string>
			<key>size</key>
			<integer>29802</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>635d1138bf4739af7f66c775104aee0f4424fed23dd1633c60081dd66c36f056</string>
			<key>size</key>
			<integer>30634</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>25ed2e5ba2cd8d9bf38fea2c20dfe4d05c174a6d61fd11b2f74f38121ed0250b</string>
			<key>size</key>
			<integer>33952</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>ab1e80e3d8c5f54f744b3e664bfb4b14ed410d2a8749186b4f9b65cb0565851e</string>
			<key>size</key>
			<integer>24025</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>caac82150151e72cfdb6a8cabf5c08d21f783c4d3607eae9899570ee86dd1740</string>
			<key>size</key>
			<integer>31268</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>79f11cc7515d5ba9ec8763a0e19c60936e0ae6f24bfec0a6bf35b56728772028</string>
			<key>size</key>
			<integer>29702</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>c2390cef57727f114fff96979622b707621548724af5e7dbae3c80982af8d5c5</string>
			<key>size</key>
			<integer>30682</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>65057a3ec32fa0176d44947ed87b783fb119e1aa6a6b65ca8c665847d06c2ca8</string>
			<key>size</key>
			<integer>17585</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>325c4e70fcd75270c7a72fe87970298c4eb9c6ba56f78015b0121d112a03cb96</string>
			<key>size</key>
			<integer>30181</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fo/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>1622629692e035d58645c7442b2c022c71c6881c1f15b7064ab2206839d363a2</string>
			<key>size</key>
			<integer>8308</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>6018d90d5b18a7869456fb3381ca673fd57fa705c7ece779aa6dd13c71b97fcb</string>
			<key>size</key>
			<integer>32182</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>748c636b4fbeee4c5b29080e56c8fecf405c1910ae4f479bf45bfdd060ea7adc</string>
			<key>size</key>
			<integer>31650</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>8c99e2c45c2d515b04bd2416999ce9475f3d628b07072abacc9b097d4d73b510</string>
			<key>size</key>
			<integer>30731</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>d7dfae74c958272cb4d02a7f7d6efb737b04560f3d115671cacb7af921378c92</string>
			<key>size</key>
			<integer>23648</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>16e36cc6a50f6978a2b9b26de99fe4e84cff4138796f341e30c64ba5d6393dea</string>
			<key>size</key>
			<integer>19706</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>9ed0e5e494421fd89497c944257dd1e347b8bc2987c30cd8d3fb45a9f681c344</string>
			<key>size</key>
			<integer>29663</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>ebdb7706d28fbbdf3d0ce1ce4bf181b47f8b720b89fc773f075540428561b9f5</string>
			<key>size</key>
			<integer>27671</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>090b2f106f6ae2254515d0a7527ffd185e1fef201717d04b20d4deb2e30cdca8</string>
			<key>size</key>
			<integer>30614</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>8737e48dc4de96c69674256c050df489bbb2d5a3dfc1a5d1b15da3cae0edcdc8</string>
			<key>size</key>
			<integer>34448</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>aa1207fffe2b285a7858e1b42f6f59030fc3b4b689fa0477307940113a799de7</string>
			<key>size</key>
			<integer>37871</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>b3a42bf0012039cbdc45493d74e90593241649ecceea228132af49ac99086443</string>
			<key>size</key>
			<integer>32069</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lg/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>e71221aa97d0e47e90648b40f14aa41979160c3234fb850f25ff4e31efcb57c1</string>
			<key>size</key>
			<integer>33153</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>de8a8a5360300edff36ff8c05e10dd6b6893a0b664f85a59f5922a9aefae6bf7</string>
			<key>size</key>
			<integer>31378</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>e669722e9fee1ad7a4077878d69902f78f86e333b574a54dbd9003576a64d01f</string>
			<key>size</key>
			<integer>436</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>d0cb068726dbffbb1e7b84b05c916e518ef0ec88711f2a8656954c1f1582ece1</string>
			<key>size</key>
			<integer>429</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>effed53c5270079c13f3e8f63d14da38892d2ba118b45408070b9d0f8ea7ee94</string>
			<key>size</key>
			<integer>436</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>9d4784a1a74dae04d386aae8eb6ede4bea8898e7a0318fbe0a2e8cd7f46f181d</string>
			<key>size</key>
			<integer>31128</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>98b0effb80ca32f87ba700f5a7ba8dedf83b0755b2c1ef39852435c3b473f9d5</string>
			<key>size</key>
			<integer>436</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>7e8d99567588179b92a5ac5e9b4aa593a55ff6609b22941e9a71e6218341d041</string>
			<key>size</key>
			<integer>436</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>57e05aef2120c5cfe78be16e3ff4fc1241f8722bc70e3c92902d6bc61fe57cfa</string>
			<key>size</key>
			<integer>31538</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ps/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>1b2b5112336a7edb0bd67fb40818ecbc8029021b47a1899e2039a2590c10a61a</string>
			<key>size</key>
			<integer>436</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>28da2dcab7bae8de87e054124b80abdfa59afa295f3fad3643e2272beee104ce</string>
			<key>size</key>
			<integer>29952</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>0891ed189256c825cf5e589b7de914dd165cb8efc71609d8bd4b216b885672fc</string>
			<key>size</key>
			<integer>30905</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>c7466438d49962674cd5978ec5ad3d2ea8d4335c66679b6eb88e434403efb62d</string>
			<key>size</key>
			<integer>13484</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>0bcc7a900a3da133d0252b0dfb9eb0fea492fc27f1834a58b5508b65b7693ac8</string>
			<key>size</key>
			<integer>38745</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>e4bc447957754e6ba89b1e51c674a58b37c48331bbe3658c00b3d9826fc39025</string>
			<key>size</key>
			<integer>22732</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>b7fd126190aca0f4547bab5648c11c1dbadd1deb3088f5b20b577c9a8474b08f</string>
			<key>size</key>
			<integer>29577</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>88085b25202f5c5c181f266a4f881c12965c32ece4052aa3912c8709a6f9eab4</string>
			<key>size</key>
			<integer>38464</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>4b8b763793c337820eb8c3e0e39535a1991d91f0f894abf77f93c9c4ba1dad0d</string>
			<key>size</key>
			<integer>30275</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>5b557d83ee6b2b17376363aaea6fc66278f8d16035a749d5ac4fb61af6413af1</string>
			<key>size</key>
			<integer>29320</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>4f095a4c05fc87850ffe02d08737b6cc80574694b548c62f3d0b71e69f66c694</string>
			<key>size</key>
			<integer>25805</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>eb5942f2ea253163fb88fd935b2886e64c2a83f465a1f7542ff2a089fe73588c</string>
			<key>size</key>
			<integer>429</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>c4b002d1c6ec12c7ae2427fb6a6e5714606c60a05aa9df2f86b54241e2e6d3db</string>
			<key>size</key>
			<integer>30610</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tt_RU/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>d2d14465256c0d1357e4d02d131cd7bb8313b7c568eaf941cb0bf7291f9f90d3</string>
			<key>size</key>
			<integer>9918</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>60dd0dca7a42c5bab4678a4d2c73ce7f4687d5656cc52ac695824e54a70b7cb7</string>
			<key>size</key>
			<integer>21875</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>296687c9b193e34123ed96e35806aec51ee58af934c478b713ba90125d9316ae</string>
			<key>size</key>
			<integer>37902</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>6b298b451cd1e455b4d0df87cb71b0a3f1a31a70ba408e69a143ab73deed9672</string>
			<key>size</key>
			<integer>436</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur_PK/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>81af001a5c3f0998e5fe7bc431baec3008bcdcf994db3923a4714ffa5fc73888</string>
			<key>size</key>
			<integer>439</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>1854923f8d9baacb7e55cf232c59ce23ef646d5352afe325c7590686f3640f2b</string>
			<key>size</key>
			<integer>14038</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>d82b0a70719ed21dded66742915f5f49317fcd33cc9298545dd0d8ca17cdffdc</string>
			<key>size</key>
			<integer>28694</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/libfm.mo</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>c26793b4ec823f8b94d0c7e190295c13f123976ef80962ea5a2bfc5b2504f888</string>
			<key>size</key>
			<integer>26875</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/mime/packages/libfm.xml</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>sha256</key>
			<string>3d339be85b2bf88a6deb89d418888b27e0b281cdc5271abd410188464ef39c5c</string>
			<key>size</key>
			<integer>1543</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfm.so.4</string>
			<key>mtime</key>
			<integer>1565679077</integer>
			<key>target</key>
			<string>/usr/lib/libfm.so.4.1.2</string>
		</dict>
	</array>
</dict>
</plist>
