<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/thai</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/include/thai/thailib.h</string>
			<key>mtime</key>
			<integer>1533185430</integer>
			<key>sha256</key>
			<string>17030849e437297ff9198a95a4f3717bbe283cef47703f6bd87dbd744dd17a7e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/thai/thbrk.h</string>
			<key>mtime</key>
			<integer>1533185430</integer>
			<key>sha256</key>
			<string>2f8c0291d72fa00e0b1865ea63cb104769c72aff580f71a6984fce2938004c34</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/thai/thcell.h</string>
			<key>mtime</key>
			<integer>1533185430</integer>
			<key>sha256</key>
			<string>993a4a9db881c39ccbe9de2d834ed1124a137b0b3126dbf0815259a8631c9471</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/thai/thcoll.h</string>
			<key>mtime</key>
			<integer>1533185430</integer>
			<key>sha256</key>
			<string>4af8a830f7b6bfff05943e2bf45a93ca523872d93ff6336cb3e7a98c2be13bd4</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/thai/thctype.h</string>
			<key>mtime</key>
			<integer>1533185430</integer>
			<key>sha256</key>
			<string>912cd25a38640c5a104122121beec21de808fda29a2eee2536d497b1dfb8ac38</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/thai/thinp.h</string>
			<key>mtime</key>
			<integer>1533185430</integer>
			<key>sha256</key>
			<string>17a150432aa0d28539e55741fc4b312da3230a6ab45cd246fe07afb1c9dc3113</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/thai/thrend.h</string>
			<key>mtime</key>
			<integer>1533185430</integer>
			<key>sha256</key>
			<string>d9dc10e63f1c70e3477b99baa37c9da238c3616305c69cd0a811c89ca431ecc3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/thai/thstr.h</string>
			<key>mtime</key>
			<integer>1533185430</integer>
			<key>sha256</key>
			<string>cf0625ac2fe70d0fd2aee893e814b18031225f061074b14ffd73d167a8e62034</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/thai/thwbrk.h</string>
			<key>mtime</key>
			<integer>1533185430</integer>
			<key>sha256</key>
			<string>42eccc7f43474bba14a89450691901e005dca58c00abb4ed2babe58503f08621</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/thai/thwchar.h</string>
			<key>mtime</key>
			<integer>1533185430</integer>
			<key>sha256</key>
			<string>d1b2dde87841d8689c9a630bc2998fc11a11fde9832348575de2e6e67b9daa4e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/thai/thwcoll.h</string>
			<key>mtime</key>
			<integer>1533185430</integer>
			<key>sha256</key>
			<string>e8440fa76e67a774c4a00d01805a9d99d89c03e7c114daef4930ded8d6bd3f13</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/thai/thwctype.h</string>
			<key>mtime</key>
			<integer>1533185430</integer>
			<key>sha256</key>
			<string>9a3f25d6659d8130f2b0445c347e72f3fc6267568cc30208632b52053c750fee</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/thai/thwinp.h</string>
			<key>mtime</key>
			<integer>1533185430</integer>
			<key>sha256</key>
			<string>bb9fc3b02c4fe2b5a07863ad28445ea54a197213ad28b67d4c4f20b23e96738c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/thai/thwrend.h</string>
			<key>mtime</key>
			<integer>1533185430</integer>
			<key>sha256</key>
			<string>24c56466d058a5745f2d8baa72191caf421b65aa7ad29051c6372ab83f4545b1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/thai/thwstr.h</string>
			<key>mtime</key>
			<integer>1533185430</integer>
			<key>sha256</key>
			<string>50a75e98e1598a151294cacb80b373f16ebbdfe8d9d80f209e96a548d34cf52c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/thai/tis.h</string>
			<key>mtime</key>
			<integer>1533185430</integer>
			<key>sha256</key>
			<string>969b1516239ecbeb7b167b1bca4d27360b113c2f900578075570f391cf537e0f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/thai/wtt.h</string>
			<key>mtime</key>
			<integer>1533185430</integer>
			<key>sha256</key>
			<string>d4a85f5655b8de706feca163d73d032ce097efe56ee7a78cf2fce435e3844de0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libthai.a</string>
			<key>mtime</key>
			<integer>1533185430</integer>
			<key>sha256</key>
			<string>76387649b12515445c763819021510beed5d927b9d370ee075c97182fe083f11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/libthai.pc</string>
			<key>mtime</key>
			<integer>1533185430</integer>
			<key>sha256</key>
			<string>2214e8bca5ece9d1648da625deb8c9228fb162d1a6aa975d44bfc1b3b843c251</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libthai.so</string>
			<key>mtime</key>
			<integer>1533185430</integer>
			<key>target</key>
			<string>/usr/lib/libthai.so.0.3.1</string>
		</dict>
	</array>
</dict>
</plist>
