<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libdbusmenu</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/Dbusmenu-0.4.typelib</string>
			<key>mtime</key>
			<integer>1608166267</integer>
			<key>sha256</key>
			<string>6fd8887dbc058a28524a5639c009d004d946ecfa54d46520be9e5599b66d2515</string>
			<key>size</key>
			<integer>16656</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdbusmenu-glib.so.4.0.12</string>
			<key>mtime</key>
			<integer>1608166267</integer>
			<key>sha256</key>
			<string>65685aaff73aeecab6fe1c3ba203591f615de795243bc31f917c5b4705493c47</string>
			<key>size</key>
			<integer>120832</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/dbusmenu-bench</string>
			<key>mtime</key>
			<integer>1608166267</integer>
			<key>sha256</key>
			<string>ef8494a27f34a5805f36964ad79898f32fc175fd8b51a53bd44829620071c6f9</string>
			<key>size</key>
			<integer>4873</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libdbusmenu/README.dbusmenu-bench</string>
			<key>mtime</key>
			<integer>1608166267</integer>
			<key>sha256</key>
			<string>f179f411de52abc21c8d518058d7eb9ba4d691a49e5bef2ab84c16daecfaaee3</string>
			<key>size</key>
			<integer>826</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdbusmenu-glib.so.4</string>
			<key>mtime</key>
			<integer>1608166267</integer>
			<key>target</key>
			<string>/usr/lib/libdbusmenu-glib.so.4.0.12</string>
		</dict>
	</array>
</dict>
</plist>
