<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libpcap</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpcap.so.1.10.0</string>
			<key>mtime</key>
			<integer>1610098270</integer>
			<key>sha256</key>
			<string>6c4a3b2fcf25bf82efe8866a6144cf3492cad87532ae59004537caac28a37e7c</string>
			<key>size</key>
			<integer>293200</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libpcap/LICENSE</string>
			<key>mtime</key>
			<integer>1610098270</integer>
			<key>sha256</key>
			<string>8a54594d257e14a5260ac770f1633516cb51e3fc28c40136ce2697014eda7afd</string>
			<key>size</key>
			<integer>868</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/pcap-filter.7</string>
			<key>mtime</key>
			<integer>1610098270</integer>
			<key>sha256</key>
			<string>fb2d4e6705d8fb22cd9fe14f442e11296f4d4367cb795b38d343ad8fcf2a5265</string>
			<key>size</key>
			<integer>35458</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpcap.so.1</string>
			<key>mtime</key>
			<integer>1610098270</integer>
			<key>target</key>
			<string>/usr/lib/libpcap.so.1.10.0</string>
		</dict>
	</array>
</dict>
</plist>
