<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/libart2-config</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>b3f054bf93e2ed01dcd1810fe425bb3095372427a2b898e4d39fd79a3cd4ff75</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_affine.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>59317cb30592e68129f0421ed6461f120216a907392b7cbde5823194a9f9be60</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_alphagamma.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>393df60ba7dd02c4f9c70d93719fe203ffa733140b2db5fcf7b3bbec4bfc7df8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_bpath.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>cccd3524f5a61992a6025cf542b113c372f05d7579fd2537292783e0e54181d0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_config.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>4664048c93a8bc383a4d2d6642766d4162760b11514544683ac9776a107f9361</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_filterlevel.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>4d931b2ab654ba2012b170ec83ab448a27c1d3d042222260c9dc6be1e04b195c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_gray_svp.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>ef7c261216166b19f045a18b92a511b7846e9e4725eed76f836b45b6a345b357</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_misc.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>345bb45276a05c0afc3eaa9665cf40c1caa3986d895dbad16e988eb2fc9b1b21</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_pathcode.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>fd5b7222c571410c922540140f41af82ded40128ccb89b5ec42515ec268e9750</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_pixbuf.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>6186a4af232c0509c977f3df8476ed29d70f56fa6888aa6070c95ce265b024c4</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_point.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>fe2ede71139ca88cda27dfb9427372ff33221e5a1486cc3e0dddc04f5ed15833</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_rect.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>9f5c7c22c117b6efefaecfc9f5879ee53ac40ec5d137a6f3614f34802c2050cb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_rect_svp.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>43b85d273b976fe57842dc8631f1cb328d4c0801f1bbc7881a90f6be5ae3ca0d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_rect_uta.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>b49c257dabf896b8e1a499ee7eb92e181756c063d93cd8cc663e815eceb56df0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_render.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>90e440369ffc4651fdee9d6765329f381d5b2b17d9354cef53f020a49bba8dba</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_render_gradient.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>2b4aeff027c82b041b28abfe22201d24a31558a60a60091141ca68ac5b08da94</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_render_mask.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>3e6a79b6d613fb2bf808374036f93a8be34532298b428c6f8afa389d8be973e0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_render_svp.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>5b9baf764ab9a07e8f53b108dedab7323c583a3f0a1bd47e5439fb28d9c5b3d2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_rgb.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>75f1b08051cdce8b0b66ddaa3678261661c6a5a0bd015ddb98632ba92f602d71</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_rgb_a_affine.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>73f6022ed54db71aa775d146c75c263a0d50e586d80856d95266ad4c1d39a03b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_rgb_affine.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>24a8e40503dd2f811a9408f0aa75ffdef27cc1d7f750154814947a36206aba7f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_rgb_bitmap_affine.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>66bd35e4caf41e0f72a847796db2a7f331271b1d79987cbfea9e9db2222a3b31</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_rgb_pixbuf_affine.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>298993d09e483022b1086a0c0f848f9a0229fa3ef3345158f2242b996f93f51b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_rgb_rgba_affine.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>071a4fabbb262891a811e2c63948e3d1240ba40119a172047b82a72f7e57ad84</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_rgb_svp.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>8046886f131df64f71289e1fa9022715a985c06fc7f07bf121c63b356cf33c59</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_rgba.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>8541a7ad5ad31bf84872a165fcc3921aae98cabdfc4e6b0d7a8b1cbbcbb9a982</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_svp.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>76517944f02814cb10dca4514bf89f3b520c0a00f9e9938de65489ed33788c53</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_svp_intersect.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>dae01dc099674dc39d9711a7938f6a497432173acfcbd51bf1946cf37437b908</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_svp_ops.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>2aedf5cc69d29a2e951e050a15789bf78f1d4afd790f9fb47aabec7b7cda7f92</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_svp_point.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>1e957ca48ee14d33d274b402d8a9afa9df6459f3786d9334aa3549863bd412b6</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_svp_render_aa.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>e9f8f78c53b1784246c2757a6fc7345827c723f0596a56b0910096396c4049f3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_svp_vpath.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>4615e98cf3233846a670af2bb0ddb9dee61b2f972c9492b7ef7d177d0c69a09b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_svp_vpath_stroke.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>ba124cbaf92b0550d13f98aa4aa662e846793b9fcf975539a6cad1728f165fa8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_svp_wind.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>8dd48f396dbdafe664bbed4e066b7313f214dbbf086626ae13876be587a273d7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_uta.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>3ec4659815f24cf8e591b90da56b2e7086102b6b446610dcf82426114407c949</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_uta_ops.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>89c99832c745318686217d90eeedcde55fc065197eeea6eb21231b0759aa5b14</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_uta_rect.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>6598cadd27c7b229386ed35bd9f7e6ac26217cdd091e88e3377f743c373d3ba5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_uta_svp.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>cc42d13345eed914864b089c51620cfd45b2208e7f69c2bdde39723286ea0ecf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_uta_vpath.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>2f64842bd5b31dc5c179a6d8c550a8101e7bd5842191e6fa0b43c3bb4a3218a2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_vpath.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>3c736f5aa717692aa46cd07016eb4148cce96bdb5bb30fc926c94d92f0d6e9c2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_vpath_bpath.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>65a359754b01fbaee886895c7373a41ec7e5a228618e2a95ef63133ed3231510</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_vpath_dash.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>bce218b80dbbe53eb532fdc659dc3bc1ff1e96a2f8ae9afc828e671e93badd67</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/art_vpath_svp.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>4b0b812ea8b1c0b60548f5eb033a2257341e44d7637065f43cda7610dce25a99</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/libart-features.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>bb6b2ed762e097fdf79526e59d7e2df6db54d3427d4dd8856dd102a824a8a561</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/libart-2.0/libart_lgpl/libart.h</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>b89a08c3b7c6f2d3e18cb258284f25c7d014f59fbbd5fae64c3bf6b2f26e886d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libart_lgpl_2.a</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>09c8775041dfdbacf706177e79030c72ab0cfa5784d6f71a0efd9874d5391012</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/libart-2.0.pc</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>sha256</key>
			<string>4a68f878cbd19f975ea97c9a2275980aeca6cbf65f461698ca0ae9d8f0ccd612</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libart_lgpl_2.so</string>
			<key>mtime</key>
			<integer>1542728314</integer>
			<key>target</key>
			<string>/usr/lib/libart_lgpl_2.so.2.3.21</string>
		</dict>
	</array>
</dict>
</plist>
