<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/10.2</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/10.2/crtbegin.o</string>
			<key>mtime</key>
			<integer>1613687104</integer>
			<key>sha256</key>
			<string>5c168c2bf914905866b946b1e4bb506b69ef39eece86aadf7c1e3cc5b66bd163</string>
			<key>size</key>
			<integer>2440</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/10.2/crtbeginS.o</string>
			<key>mtime</key>
			<integer>1613687104</integer>
			<key>sha256</key>
			<string>5c88d562275e51f162d4a57ae5beef6db5b7cb3d4d744a857593ee9ccc504c95</string>
			<key>size</key>
			<integer>2760</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/10.2/crtbeginT.o</string>
			<key>mtime</key>
			<integer>1613687104</integer>
			<key>sha256</key>
			<string>fb8a3fea01ab84d5769c964a66c17d56981bfbc1671822776c19e7e1e182bb82</string>
			<key>size</key>
			<integer>2952</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/10.2/crtend.o</string>
			<key>mtime</key>
			<integer>1613687104</integer>
			<key>sha256</key>
			<string>e95779d0da44d2a02660ef8e025b367942c88eb96e406eb5e76c9926b394077b</string>
			<key>size</key>
			<integer>1208</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/10.2/crtendS.o</string>
			<key>mtime</key>
			<integer>1613687104</integer>
			<key>sha256</key>
			<string>e95779d0da44d2a02660ef8e025b367942c88eb96e406eb5e76c9926b394077b</string>
			<key>size</key>
			<integer>1208</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/10.2/crtfastmath.o</string>
			<key>mtime</key>
			<integer>1613687104</integer>
			<key>sha256</key>
			<string>cb6d0715ed8df4da87efaeb5d141f050b8094c04df76313097e2ef54cca07beb</string>
			<key>size</key>
			<integer>3784</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/10.2/crtprec32.o</string>
			<key>mtime</key>
			<integer>1613687104</integer>
			<key>sha256</key>
			<string>ad00954717b1b83b0658000717fe6a004c218212070771b3e2648cdc7616a479</string>
			<key>size</key>
			<integer>3328</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/10.2/crtprec64.o</string>
			<key>mtime</key>
			<integer>1613687104</integer>
			<key>sha256</key>
			<string>b5c8809cad5d1d6d305464a70e214e767b0305f943ce978c18180a3e7259c0fb</string>
			<key>size</key>
			<integer>3344</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/10.2/crtprec80.o</string>
			<key>mtime</key>
			<integer>1613687104</integer>
			<key>sha256</key>
			<string>80eceb5bc3fbf520c6244a1e6436e68c43d8bd7adeb0af39586d8a805166e292</string>
			<key>size</key>
			<integer>3328</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/10.2/libgcc.a</string>
			<key>mtime</key>
			<integer>1613687104</integer>
			<key>sha256</key>
			<string>3c1f1c2c7c0d3cf90fcdf8b9ee185b13dbaf3c9811f4bb884a7a2650db6c6969</string>
			<key>size</key>
			<integer>3030006</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/10.2/libgcc_eh.a</string>
			<key>mtime</key>
			<integer>1613687104</integer>
			<key>sha256</key>
			<string>e04ec38ad19c4de068f8e747bec09776fa34783f8f271aad5ffea238f1f3661c</string>
			<key>size</key>
			<integer>62020</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/10.2/libgcov.a</string>
			<key>mtime</key>
			<integer>1613687104</integer>
			<key>sha256</key>
			<string>7470586f6b8507398cf9be35620c755d22f844021f90dfe906cc4fa57dfc28df</string>
			<key>size</key>
			<integer>59326</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/10.2/vtv_end.o</string>
			<key>mtime</key>
			<integer>1613687104</integer>
			<key>sha256</key>
			<string>ed914968c8ceb7f39564df2c01b8fbccf6272c2a0555c29ea5389e69e9c46361</string>
			<key>size</key>
			<integer>5824</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/10.2/vtv_end_preinit.o</string>
			<key>mtime</key>
			<integer>1613687104</integer>
			<key>sha256</key>
			<string>73ac054bcc221e78a61bc354166bf7d710df33e2166b402acf4acc1d70b701c7</string>
			<key>size</key>
			<integer>5776</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/10.2/vtv_start.o</string>
			<key>mtime</key>
			<integer>1613687104</integer>
			<key>sha256</key>
			<string>f28b4bc8117797bbe4a17f3454053984182868ab0ffe00621d97c9cefcd414ae</string>
			<key>size</key>
			<integer>5728</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/10.2/vtv_start_preinit.o</string>
			<key>mtime</key>
			<integer>1613687104</integer>
			<key>sha256</key>
			<string>ab3e57a3f952be2efc9fe15bcb10bf0a092282d0d6d5844619dee93d3e1c6665</string>
			<key>size</key>
			<integer>5680</integer>
		</dict>
	</array>
</dict>
</plist>
