<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/am</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/am/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cy</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cy/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_AU</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_AU/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy_AM</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy_AM/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hye</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hye/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ie</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ie/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur_PK</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur_PK/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uz</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uz/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfce4-kiosk-query</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>2edf0bbd0bf2c8668586c0f4a378bac6fa41399d8a61e29a2485dd9bb3f78072</string>
			<key>size</key>
			<integer>14400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/Libxfce4util-1.0.typelib</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>40c13732d6fe1ebdeb9592fdd0ade345addf5bb9746eb4dbd71e433d73b30b5c</string>
			<key>size</key>
			<integer>7872</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libxfce4util.so.7.0.0</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>771de98fdcefdc3068d7212b2f179855d3a86c988ddc4254fa2eadc2883617f4</string>
			<key>size</key>
			<integer>63400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/am/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>a0727e690aa104061950b35d7cec0d0326ca8e01ba844fde2af026ad9c5c6935</string>
			<key>size</key>
			<integer>2910</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>40e57e82ec2ffcc81313769c03e38aee48281963d653785b00eeec19d0938de3</string>
			<key>size</key>
			<integer>6740</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>e8efbc88640e5008c0e59b43bd5e19b08f937a4aa28072f3630119bc9f797e60</string>
			<key>size</key>
			<integer>780</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>87ec39ad4071cc4484fed4c633db32ac470de99afe3972d37ed27a6611728b40</string>
			<key>size</key>
			<integer>7390</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>72e339de92250f623f26e552515adc3237f86c075e22e134d275a8fc5d8f1915</string>
			<key>size</key>
			<integer>8433</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>36e6c61a61861d77aff36f0fe0547bd145a60646b4dfbbe1402f0902752fe21d</string>
			<key>size</key>
			<integer>8040</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>925c0371c9c39d1c5fed5152be3f0a8cce3a7ba2b728ec244f13fa99fdd99a73</string>
			<key>size</key>
			<integer>6229</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>dc79d97602f429139fbf52543a97bb9712ea5060af53f21631e7776de35aebcb</string>
			<key>size</key>
			<integer>6292</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cy/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>aaafe95f949b9e16af5f0aafa7884e93a1e862641d83c643806c20c236cfc3e9</string>
			<key>size</key>
			<integer>6083</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>0046d5e44daadd3247a43d683e2e43a645d33c87eb8b90e44ad91e49c24aca54</string>
			<key>size</key>
			<integer>6153</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>ae201a7235b9ff97b4d0174c73f8cc03913552726d9bedf3c2244846ba61dbc8</string>
			<key>size</key>
			<integer>6597</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>d2fb5c513d761d572a93e402c2d5d764ea1b08d3a8d52243dd8fdbed80e0a8df</string>
			<key>size</key>
			<integer>7799</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_AU/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>6fb4133444fc462b3ff971142fedd26bb2c218be32167a89d51e5349959721be</string>
			<key>size</key>
			<integer>6067</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>6b724c35ff0a705d3c82f52b6206864f21165869f44c3622eefd8ef2be9d7503</string>
			<key>size</key>
			<integer>6057</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>e7e404b60088b6203538c3b54d9e91166ab49769ab334571f17d3190680c7e0c</string>
			<key>size</key>
			<integer>6375</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>151adab3e729193ed36ba5b92437f54510419ae064c42113e5dd25af63b2e8ed</string>
			<key>size</key>
			<integer>6380</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>b6c41e44928e907e79448d2ee4bdf1917e4f0548a0f34e39d4195f2ad45435e3</string>
			<key>size</key>
			<integer>6071</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>16fc86876c1c46ec1b0ce99c75c2ae3d55b140591bcef89cd753e5bd81e3f919</string>
			<key>size</key>
			<integer>6287</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>0d1a2ddde93b01ca74bbe7d2cf7f009c321bcb7732bc24ea22a8c7dcd400486c</string>
			<key>size</key>
			<integer>6694</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>352c76e7d9baefe465b71d902142ac1c91d37f2e6171c853bd13ceac0af3488e</string>
			<key>size</key>
			<integer>6607</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>d90b7c179ab84c6c63e3a629deae61ab5529ce10b77699fbe999670cf507ec3c</string>
			<key>size</key>
			<integer>6877</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>9c3a53a3fa434e494ab1cfc5edb2eff646fc63e4fab288bdde87daf393226c46</string>
			<key>size</key>
			<integer>6165</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>e2a18b4693c485afbd0ed48f3c31742f0e97f9f9773606edd9105ca1a56601dc</string>
			<key>size</key>
			<integer>6027</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>75f9a90ad01bd56f4afcb7d49a3458cbd82e9e2f47c55dfb84283a88c0120919</string>
			<key>size</key>
			<integer>6362</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>d2311ed72e786243bb8dbf6e2c8709ecc8f3abfc3238cd3a171fd437706daeb5</string>
			<key>size</key>
			<integer>6424</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy_AM/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>4f25efd63379b3f6f0ac179278ee62ca1bfdd2d74e6ab8a012ef3d609bd0a059</string>
			<key>size</key>
			<integer>6489</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hye/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>d734ef4499fb9a8e5826159d8f0e1e4e0af5580165a9e4bc38882e286c563f37</string>
			<key>size</key>
			<integer>6474</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>fb9e0977ec3e4be76b6f145574b39829422149cab19397c75b148e044a9c5a4b</string>
			<key>size</key>
			<integer>6164</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ie/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>c1647fe07cf2e6efc3466e37af64b4cce2a17cea5ff0262fbd029f39fe5e178a</string>
			<key>size</key>
			<integer>6043</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>c5449a54f3d2a8f31a50a8335b92a3788298fa38dc19dfa3ab7c6604e64b2861</string>
			<key>size</key>
			<integer>6205</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>ea6289efd6f822d488fa76c06941ac1902fd50f77b0f260e7a727baef7c6af17</string>
			<key>size</key>
			<integer>6209</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>4a1a9617c8bc55c8e70d57ec512f664f041c08e3b457e7bdc4fd0927f47c83a6</string>
			<key>size</key>
			<integer>6129</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>ce089ea67f7b8ad7e826b97bdf722dc005116bfed193e2684fcc750f2f6be7dd</string>
			<key>size</key>
			<integer>8405</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>a308b136b29b3dad3a4aa8816e2b4b5bd3a56d3e7543b3c3342105d4f1126a63</string>
			<key>size</key>
			<integer>6361</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>d9b0791a534c1d3c5a8abf3462bf0b0c96586bea135ea10c0a6bcff50652d857</string>
			<key>size</key>
			<integer>6408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>346cea8374e708f1c91a947ad2a65a0265366ad97625202e4ad543d132f6d3c9</string>
			<key>size</key>
			<integer>6198</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>2c117a29d46a45924aa2320dce9fd05df0f85c746f08aa25149fc73844aabdd3</string>
			<key>size</key>
			<integer>6162</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>11e5b521ac85afefdfac7b2f602d17fb3b1658e328490a1e807ecef92123a807</string>
			<key>size</key>
			<integer>6458</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>551a506ede0ec2e9c39c9da05a52c619ac71f22e4797465f320be43b2a83b2d7</string>
			<key>size</key>
			<integer>6458</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>8386d72c1642bac0095f23ef84192f432c402b1f5a89dc523be02b8a9162e774</string>
			<key>size</key>
			<integer>5960</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>c408b1020cab4b03e4a356eb832d1776108f3e5f8dc99c8ee0ab64400ae553a7</string>
			<key>size</key>
			<integer>6634</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>07f65e43fdedbbf7b6d45a81d2a565df3f6af01bb5101084491015aa745b620a</string>
			<key>size</key>
			<integer>896</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>e9b442db23738c909b4de34f884699067cd4f3c21754470a3d4aed5dddaef704</string>
			<key>size</key>
			<integer>6933</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>1806a28f8eb00d50baca6016746557c111e06b3cfa15096386b8fd0d4ff4fa70</string>
			<key>size</key>
			<integer>6155</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>7c367a21e8f1f1826ba2702821587a63bda32cfa6e61c343cf4d76800a7bfa31</string>
			<key>size</key>
			<integer>6068</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>1525939df32d5bcc77e774f3173ea396b502d29a6642a414bbff0f7d69858909</string>
			<key>size</key>
			<integer>6126</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>b71831df4b26f0430daac726f13cd2ffa51aabf102ad63d1323ecb94d231982d</string>
			<key>size</key>
			<integer>9446</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>ccfcbab2155c9d201abd4dba98c2594adde2170e1e94afc31f58cbac7f212135</string>
			<key>size</key>
			<integer>3336</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>6eafe907de49effc96bfac88747ac4e2258051a081124ecff10a63d6051f21c7</string>
			<key>size</key>
			<integer>6295</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>c7010ac803b91d26a6143bcc3a4d3def5f9f9d3989d6b32759def9653437a64d</string>
			<key>size</key>
			<integer>6243</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>8b8d8da2a319f96896881b44cd878b21747532897422bad23092234610506d7b</string>
			<key>size</key>
			<integer>6450</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>c6b5f7b68933c1ac350d962ed4a6f18647c0a3ce76400d57310eb31edf80a256</string>
			<key>size</key>
			<integer>8081</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>2ed5b137a4a57436196ce2c69725091611ce8682092790eb03b55c47eea47e4a</string>
			<key>size</key>
			<integer>6630</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>0101ae0fabe7fda74eaba82da3efe8d4462df5a6370dab64202d3f1fc0ea8187</string>
			<key>size</key>
			<integer>10071</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>0181db93902e6c46b29ae655ddd067ab85d61dbb5c1b99200080bb907ed0fc21</string>
			<key>size</key>
			<integer>6075</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>2542fc98372a0fbcdb11615642ee2517bf48bb54e3239917782597400eeb182d</string>
			<key>size</key>
			<integer>7188</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>68bfa2ba772e5c3fb62b6c0ada56da9878e4883690aebceb4cb259bf6a8c0037</string>
			<key>size</key>
			<integer>8053</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>b138cc851974d21323125d9be4f96797ef3944096eb46b5fd4c19e1219cdd0ed</string>
			<key>size</key>
			<integer>7631</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur_PK/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>d594e5cfe94a104fdf2a5d96b5df0a03e6fc790e6d36b50cc63de161621a8f8c</string>
			<key>size</key>
			<integer>7648</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uz/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>34f6575ea65edfb99ed90589b70f2a7a2d6a1050cc2a98af2ba97011981c3a0e</string>
			<key>size</key>
			<integer>796</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>e8a8586b7ec45171a6a9149122a520dfb05639a1e44e084091e48f67e57cbb00</string>
			<key>size</key>
			<integer>5695</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>86e94491ee8f29badd44a0d02dd01ca3e938fd68b0eb13b4ebc8ee2aa3855348</string>
			<key>size</key>
			<integer>6177</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/libxfce4util.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>f9d868efb05c9f919e3aa55ada23c048bf03758d4aed8fbe813511d4ef9b0304</string>
			<key>size</key>
			<integer>6173</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libxfce4util.so.7</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>target</key>
			<string>/usr/lib/libxfce4util.so.7.0.0</string>
		</dict>
	</array>
</dict>
</plist>
