<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/EGL</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/GL</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/GLES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/GLES2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/GLES3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/KHR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/glvnd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/include/EGL/egl.h</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>649f3683ebb606c220ad4d4025188be0b3cafb88c1f94a89385a15d0371ae306</string>
			<key>size</key>
			<integer>20345</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/EGL/eglext.h</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>02e8716566722a1d44896b3f3740bbce2f424c02965d577cbf9c9705816d8e5e</string>
			<key>size</key>
			<integer>68048</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/EGL/eglplatform.h</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>2f8b4353146289d5cdceb87e87888ab1b09b982ef493437f2990c83249f4d180</string>
			<key>size</key>
			<integer>6049</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/GL/gl.h</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>1989b51365b6d7d0c48ff6e8b181ef75e2cdf71bfb1626b1cc4362e2f54854a3</string>
			<key>size</key>
			<integer>80393</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/GL/glcorearb.h</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>ca77de61953f73d6330dc98e3e5c49430140699fade21d7e926ff77578830836</string>
			<key>size</key>
			<integer>421339</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/GL/glext.h</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>3f14c3f3beca6cb00d05e9f4dd5fff123d1d241fe6905094b53897fc1ffb90ee</string>
			<key>size</key>
			<integer>848032</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/GL/glx.h</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>bfdd02a03fcc60e04a902107277bf42711cf325b4aeca6b9491a754923ad544f</string>
			<key>size</key>
			<integer>16906</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/GL/glxext.h</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>c1386ade12a9ea0986eb1e3ac8038d08ef4b5dd31949047905a458f22787457c</string>
			<key>size</key>
			<integer>48370</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/GLES/egl.h</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>1ba84c782436b5e103cd1ee8060840846b96ec4727d00944cee59d1c44db0dda</string>
			<key>size</key>
			<integer>922</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/GLES/gl.h</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>6a5f46bb7ab8a9380f91118a50c9c1eefdc8422704471de8ca850db9a9356bf9</string>
			<key>size</key>
			<integer>31669</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/GLES/glext.h</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>1e83768873d2a85124330c30647627ff294cf699f86b67322402af1d2674ab0e</string>
			<key>size</key>
			<integer>53780</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/GLES/glplatform.h</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>857bf0685ecb0dddf692157ea9ef98c95e9f58b5ed0c41b26fd3fe51ed1a3624</string>
			<key>size</key>
			<integer>1152</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/GLES2/gl2.h</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>2ae988f3dad7b2f4f44e6a24b44b6882b7c440baec58519e520f1c3ffa72576d</string>
			<key>size</key>
			<integer>43996</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/GLES2/gl2ext.h</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>8eca3d74c21e03b8aa1418e1b4c9e6524afd802712c2aec23f5008111f53c3b6</string>
			<key>size</key>
			<integer>231362</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/GLES2/gl2platform.h</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>8f25443c4c5b3c8e702c3510f12b6ec8c23c2e3c1ca1c71bb07d148653696d9a</string>
			<key>size</key>
			<integer>1160</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/GLES3/gl3.h</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>891f461dd98fdc1a76e878ac7a17a189bde286abd8ba756b86626dc42273f486</string>
			<key>size</key>
			<integer>82674</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/GLES3/gl31.h</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>7fb6d736b3e2a4036f279e654230f6cd04ddfb564f5505c39036316fe40c9e94</string>
			<key>size</key>
			<integer>107463</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/GLES3/gl32.h</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>a2cfd7d890f16f67665e01e6f514a7c75bfc702e50c8861a44d04536271fffd1</string>
			<key>size</key>
			<integer>128343</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/GLES3/gl3ext.h</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>24370f679191caf7b2c7f8a5e1d63463a5a35e476757ad018f022ae3ad54b1ff</string>
			<key>size</key>
			<integer>166</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/GLES3/gl3platform.h</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>b4595aafef1eb9b4705cf8a69e29aadb8eb8e3dd3baf8b34ab702c9174dcb549</string>
			<key>size</key>
			<integer>1160</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/KHR/khrplatform.h</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>bbca133eec0bd0b62fc6f8d27d993aedda3c79f0de8ad3637f8cf42ffbeb8e7b</string>
			<key>size</key>
			<integer>10277</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/glvnd/GLdispatchABI.h</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>161aea582ca23d74dd3b1a3bc7a93ebe1212a605674596a1c60c4ada82b0fc08</string>
			<key>size</key>
			<integer>4779</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/glvnd/libeglabi.h</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>b4c38b42398c43e9eead937dbdbcb76cbb555540b45f8f4a01b11d4eda154db2</string>
			<key>size</key>
			<integer>18007</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/glvnd/libglxabi.h</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>b87425edae7695ea98ebe875b699c53ae90b3052e0002eaa47b5c8dc2e10296f</string>
			<key>size</key>
			<integer>18337</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/egl.pc</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>51a8f7a24bc15c161d743303dd51a5af81a980c6ac5939d18bc3de120760494c</string>
			<key>size</key>
			<integer>171</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/gl.pc</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>a37e3fb8d596f55eddbd54afa66514232fe77079e19a52d2d9fddead2e098860</string>
			<key>size</key>
			<integer>188</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/glesv1_cm.pc</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>c4597936380cbd032cac334a22f776589699a43562c61192fa94e73ccf513ee9</string>
			<key>size</key>
			<integer>196</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/glesv2.pc</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>277a4d8ce3fd66d6b20c3c25dc1d6afdae57a67c56b8bd8b45a6d61eea602fef</string>
			<key>size</key>
			<integer>190</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/glx.pc</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>fdcfac09f89adf37b696a3653e25afae43eecf4e01b984d57ff8a1b75c2e5185</string>
			<key>size</key>
			<integer>172</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/libglvnd.pc</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>86da788a29579c969059478b62a98eaf07d79ce43f4a893f4485bda901c9027f</string>
			<key>size</key>
			<integer>239</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/opengl.pc</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>sha256</key>
			<string>727315dbdca993b512b7fe9dd38ac0026c8249dcf8a6982cc37b0c234e10be31</string>
			<key>size</key>
			<integer>195</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libEGL.so</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>target</key>
			<string>/usr/lib/libEGL.so.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libGL.so</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>target</key>
			<string>/usr/lib/libGL.so.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libGLESv1_CM.so</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>target</key>
			<string>/usr/lib/libGLESv1_CM.so.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libGLESv2.so</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>target</key>
			<string>/usr/lib/libGLESv2.so.2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libGLX.so</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>target</key>
			<string>/usr/lib/libGLX.so.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libGLdispatch.so</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>target</key>
			<string>/usr/lib/libGLdispatch.so.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libOpenGL.so</string>
			<key>mtime</key>
			<integer>1595110231</integer>
			<key>target</key>
			<string>/usr/lib/libOpenGL.so.0</string>
		</dict>
	</array>
</dict>
</plist>
