<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gdk-pixbuf-2.0</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gdk-pixbuf-2.0/2.10.0</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gdk-pixbuf-2.0/2.10.0/loaders</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/gdk-pixbuf-2.0/2.10.0/loaders/libopenraw_pixbuf.so</string>
			<key>mtime</key>
			<integer>1525759317</integer>
			<key>sha256</key>
			<string>9cee8f137165be12c6e04132bca94b8194683b72e2fa4553131f6e76423576f8</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libopenraw.so.7.0.3</string>
			<key>mtime</key>
			<integer>1525759317</integer>
			<key>sha256</key>
			<string>6f3b8aefc89d5c5b7064d2207e73312970a5da72a6e8d08cb09ac7b928558f0c</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libopenrawgnome.so.7.0.3</string>
			<key>mtime</key>
			<integer>1525759317</integer>
			<key>sha256</key>
			<string>3667830dec8d9dddb068ed40687c39f7bb5bdc41eebe59efbd2db87e9a971eaf</string>
			<key>type</key>
			<string>files</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libopenraw.so.7</string>
			<key>mtime</key>
			<integer>1525759317</integer>
			<key>target</key>
			<string>/usr/lib/libopenraw.so.7.0.3</string>
			<key>type</key>
			<string>links</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libopenrawgnome.so.7</string>
			<key>mtime</key>
			<integer>1525759317</integer>
			<key>target</key>
			<string>/usr/lib/libopenrawgnome.so.7.0.3</string>
			<key>type</key>
			<string>links</string>
		</dict>
	</array>
</dict>
</plist>
