<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/am</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/am/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/anp</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/anp/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bal</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bal/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/br</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/br/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/brx</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/brx/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cy</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cy/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de_CH</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de_CH/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ia</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ia/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ilo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ilo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/km</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/km/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kw</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kw/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kw@kkcor</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kw@kkcor/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kw@uccor</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kw@uccor/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kw_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kw_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ky</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ky/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mai</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mai/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nds</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nds/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nso</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nso/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tw</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tw/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wba</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wba/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/yo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/yo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zu/LC_MESSAGES</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/LibvirtGConfig-1.0.typelib</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>c0a2615d585429098bf3723d94a83bdb183582faea6260c4680e98b322f42d2b</string>
			<key>size</key>
			<integer>94288</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/LibvirtGLib-1.0.typelib</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>13ae6536db53301502aca7bcc2d1b78bf241a112206b17a7f0542b9f372039b6</string>
			<key>size</key>
			<integer>840</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/LibvirtGObject-1.0.typelib</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>e43456d8390696ebc67b2de4b4b8b6ee1b817276704d8b1ab7b72fc63f89b650</string>
			<key>size</key>
			<integer>36416</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libvirt-gconfig-1.0.so.0.3000.0</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>6137536fd3141da6e2228e6f1af7d0f65f15997b2446acdd10a15647ee7df003</string>
			<key>size</key>
			<integer>292936</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libvirt-glib-1.0.so.0.3000.0</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>e1b52af6864ad7d17829dd251cff6675ef996fcaa347f6db2abbec38c2636bc5</string>
			<key>size</key>
			<integer>18432</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libvirt-gobject-1.0.so.0.3000.0</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>00f750bc0e4e7a6fc8e524cf09c6c308472476e174f73919e640cb5c0a6c0820</string>
			<key>size</key>
			<integer>194704</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>e3b1827bf783d7b2eba9f6ce5af58a45beb492d42b2f51639e8f2aa1564fa577</string>
			<key>size</key>
			<integer>514</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/am/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>0775d103b19589fef4a4a815c86c03eb06ef27e576c6800dd3c550cb2cff7ed2</string>
			<key>size</key>
			<integer>511</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/anp/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>f7ccad9bcbaf7a5ff5fd8f84fb07df33ef505c2c31beaf337231e64ede2ec258</string>
			<key>size</key>
			<integer>380</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>fcc08d9f072619169a2b57e1bbe6e9e239478a54739b74e72d77f7cef8c6962b</string>
			<key>size</key>
			<integer>594</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>dcc0dfa4d63e13023e0836beeab31ec4ef2a3732bb8378e0d697dd4d26b2dd91</string>
			<key>size</key>
			<integer>513</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>04100a6cc9cf3b994637bf84de3f7726bed9905a08348aeea08c3dc8387678de</string>
			<key>size</key>
			<integer>515</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bal/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>f8ba64c8561c33bae5c32f315b90f1b1b65253ca46832def55c3ad99007abe26</string>
			<key>size</key>
			<integer>514</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>7c76012cf530823737dd3623034ff52893d00e44bb256bc9eaff2321f0eab7f9</string>
			<key>size</key>
			<integer>589</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>3a0e0d09955e7f0b63440cb905ee3529c2041f962da283f17d612e86f013e447</string>
			<key>size</key>
			<integer>514</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>198eb1f7baf792ac588ab95e8dd4803a67de6cff94f70fef134f88a8b1156a80</string>
			<key>size</key>
			<integer>512</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>2130a24241d01f31511fee11b00fe7dafe2c0f40b604050e2eb8e3a04f2ae972</string>
			<key>size</key>
			<integer>526</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bo/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>eaca1d5055f958cad1b13a97e84c4f78805e430d3910b8336c1d7efd191c46de</string>
			<key>size</key>
			<integer>505</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/br/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>f248872a68d96132043fcca0c56787b5ea76febdda8a0a57a7c56067948ced3d</string>
			<key>size</key>
			<integer>510</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/brx/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>2f86a7bf0332d9a0159f8dfb97047d81541844ff30a67d4925475594a4a0fc1f</string>
			<key>size</key>
			<integer>511</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>d3f4741b494eaad3c28e61705b132035fae6ebf71f4bb6ef8235268e05f35d49</string>
			<key>size</key>
			<integer>586</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>a081679664feecf7dc690a4d6d13dc21f9405753d7377f774ad94dae37a16ac3</string>
			<key>size</key>
			<integer>3309</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>c5dfe60ae6454409b55b3970c3a5867b20f6493044bf87865801fa4fd4de2a11</string>
			<key>size</key>
			<integer>3170</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cy/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>0ed3881d68fd5a7ed2f9ff0cb45f289dacac059a0c63465e63a81f0db6c7c965</string>
			<key>size</key>
			<integer>555</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>350072707c779922b98ca7e4fb01e0ba32665b72924ac7d41e45f5a7dae72b29</string>
			<key>size</key>
			<integer>511</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>4138afc756a0dd841b9562033aa345400bb91596372838cfac8ecb4a0d267ae1</string>
			<key>size</key>
			<integer>511</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de_CH/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>9e780c9a9a37100d55c7ec532866cc4bd371515d31bfdab9ac1d0230a9262d0f</string>
			<key>size</key>
			<integer>531</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>f30dd20cfef8cede5be4b3f2cf04e83ee48160d87d96911f46dd0ed43297cbfb</string>
			<key>size</key>
			<integer>510</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>be5805bc5014516b4bc2236bc7215b37befd56034b0be7d91118ea510d2d825d</string>
			<key>size</key>
			<integer>2507</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>3f7a557b1a2d5f05e20b6afa8415fa2b21fc30e1a0183149dfbdd024c8f921ac</string>
			<key>size</key>
			<integer>514</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>d7731e0765c9f345ea8932fa41f5c3908780bd6e311c88be96371acbf4aeaed4</string>
			<key>size</key>
			<integer>3108</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>a659a1035107a894cad6dc9df8069553743ca9bdebc37780ab2eaecae155d7de</string>
			<key>size</key>
			<integer>513</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>7daaa5ed651dbc76e3fc11541f17247a57bc1d65c529cd6008de6c1ba20f212d</string>
			<key>size</key>
			<integer>511</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>004d174e3992d7ff31bd63cc720d87250592888a0736288cb816c9e583d8dc92</string>
			<key>size</key>
			<integer>505</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>9bdf69d4fa9e12a5032635beca9b7c34a7c8d50486d26ea3250ec659f1a69eae</string>
			<key>size</key>
			<integer>1009</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>5242dbb261e0f796ce0d68dd3b9699b03144a8419fa156a48d022c50128d439a</string>
			<key>size</key>
			<integer>3270</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>67e58c1803915c01bd365786be627e196fc551d041675ea970bd315b2ed64b7c</string>
			<key>size</key>
			<integer>513</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>15847591dbc22aa9ed99ccb39364c44a5a2ce45d9f5abdd91669b141ed86e01b</string>
			<key>size</key>
			<integer>513</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>7d81f1a927acae075afe1831be5fdfd68b338232d65d83206090a406953969a5</string>
			<key>size</key>
			<integer>511</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>a2df64096229fbc02cb12472cb0a6e50ff3b82aac19728ec54f0d22295e9be13</string>
			<key>size</key>
			<integer>4000</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>4564cac9092491ba59e0f1c338b2067031c425b6502385cb5b84604380866e51</string>
			<key>size</key>
			<integer>585</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>8cc0a27fe7b638505bf30ade363b6ad1f3489a1d085fc042111bbec047676bbb</string>
			<key>size</key>
			<integer>514</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ia/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>6abaa9c5e0b67e2e60df979cf38a4828e209ce72b007cf530ef28c4291f93948</string>
			<key>size</key>
			<integer>516</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>acce190da479bbd477d9313f40f9a14bf2d9dc942188ad79aec6d5e9234b5d42</string>
			<key>size</key>
			<integer>508</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ilo/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>1d0a1549b4232c23cb9208b574f9818ab42827f6f935d2cc87b0c6a7757fcf8e</string>
			<key>size</key>
			<integer>512</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>fb203e9199bd08c73e96e73b6aa1e7f3ca47e76ee0eea4a2c4c0dece3cd74971</string>
			<key>size</key>
			<integer>514</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>f03091df154ecbafcdc7af071ed5af3a828925c5ac6765ffa6e808c5ab87e0e2</string>
			<key>size</key>
			<integer>512</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>4d9042cf82fa224955effd344ea398abc583ce92d1b016c9ac80a53d08bd8db0</string>
			<key>size</key>
			<integer>2934</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>2b467574658e44db6e854425b2c11313a4f69343b74fda54f0017c4163a1fa51</string>
			<key>size</key>
			<integer>506</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>335b3c8181fc79a78efa44644c927f86e32a71caac0577d948eccf6f8da4f315</string>
			<key>size</key>
			<integer>504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/km/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>1883ab53d1e588512dc2cc98b574865bd9d2b1b891a51ff5f663dbbcf1aff114</string>
			<key>size</key>
			<integer>503</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>6b9d6c9813cbd0e42a282b0c4c27869f81ed5be8840fe7bf2202dad8de4846f8</string>
			<key>size</key>
			<integer>505</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>2122633bbdbfb67a46f6d105a267bb9ac63154472e4c1f10eb12868d7dee98d9</string>
			<key>size</key>
			<integer>504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kw/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>03634e9a786e2976ce820a4d28f841e21c2613d7be5d266f79fad2abe1ccb1f3</string>
			<key>size</key>
			<integer>415</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kw@kkcor/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>faaeacd1d53c7e530c60a79ea591b831c65ebf034c1754682cca6473cc3e07ba</string>
			<key>size</key>
			<integer>442</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kw@uccor/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>07c927edcd4dca454d969015bc110e8c29f90dcc1bf608c40ef48bb78802f182</string>
			<key>size</key>
			<integer>443</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kw_GB/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>a1b366fa515b1f4bf2f6803c04d67bfc31248f4c09525049003012a87781c476</string>
			<key>size</key>
			<integer>435</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ky/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>422ca734e8aee010fdc8501e2d6c98731e80aadc3415836303310ab553847476</string>
			<key>size</key>
			<integer>504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>5b3c902a7ff0a2117b757deb232d04d92f5e107c8b0853a6fbbfe1bf431fb37d</string>
			<key>size</key>
			<integer>578</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>bbb1041c7eb67b340f4a2913f3ff84995f842cda12ac458a81dfbfa6f00e5e97</string>
			<key>size</key>
			<integer>547</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mai/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>8d90d692f84b3c81cb512f17d25f61b0925f578365a9b18a76b20d6ce3b69afd</string>
			<key>size</key>
			<integer>515</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mk/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>021c7196fc15764ab95d554eda25f4e61f19f7500c30f5fd8d4dbcc5cbdd6e89</string>
			<key>size</key>
			<integer>545</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>67bdb4750a8f392cc465e4ee83d7f9668422df746ec95ff3eb08096e0467d140</string>
			<key>size</key>
			<integer>514</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mn/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>fec659cf3e7b4e803ce0902b8afb25034b9221dc96d60b30e5fc41ea64ca0bef</string>
			<key>size</key>
			<integer>514</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>27e4944cf0f1008dfb3b47ef6e7dbe98237e43c1254a9e0f31093fac62861c64</string>
			<key>size</key>
			<integer>512</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>2b95a49295311e43b322a83d10ec5975809b0da4dd97fda0edd9cebe085ad292</string>
			<key>size</key>
			<integer>503</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>314e2b2e10dc0c6da0e19e29def2a34d9ac1b19c614f95ea3d1fa50c016d1737</string>
			<key>size</key>
			<integer>522</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nds/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>dd05712f02ac131057ac565b698c72d6efc351f157704e9dc9098b4ad2a4d63d</string>
			<key>size</key>
			<integer>517</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>36cb72ddfd431325235248cd1f7800c6b6cb91eee2bc98dc2fa80d6ab2ae552f</string>
			<key>size</key>
			<integer>511</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>a273707a2341ffa79c9fb00fc31cf7157b261085dfa8e939eedf74e229914ffd</string>
			<key>size</key>
			<integer>510</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>f037ce783413dece03963c5db89ab6e9bcbfc828b6f6a43c4fa8e645b0b3b403</string>
			<key>size</key>
			<integer>522</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nso/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>b50705d04777a06b1895ca58a76b70a4255cdfca9c9f9fc2b4781dccdbc58eac</string>
			<key>size</key>
			<integer>520</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>9c6dfc6d3c926bddd6be10808c89891668eb238b5cc95e1599ffd3d7a81c478a</string>
			<key>size</key>
			<integer>510</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>1c1ac20b4dc6dc052ce8f524ccbb59fc3eff34cf2de143fe9ac7c3d617c80f1c</string>
			<key>size</key>
			<integer>522</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>ec4f028f3ca2774d036de390843b6a6c0f9e0616e27c3382a4cbd29bd3824c2d</string>
			<key>size</key>
			<integer>3260</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>f8d0d7a675a3370c15748354d6644746feb6e0c4c733013b1429fc70c7ae28fe</string>
			<key>size</key>
			<integer>515</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>0f0dbe02c982612806fde67212642ad99d920245faef2fffeacbdf5720b9830d</string>
			<key>size</key>
			<integer>2777</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>358f5f53f91353969816e6d46c23585cb0ff4591e5a834bd79cea8503059aa9e</string>
			<key>size</key>
			<integer>554</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>e937d732df18f9a0a5f0010989fcdc3f5c19d4cfb31cfc0e78c826378066accd</string>
			<key>size</key>
			<integer>667</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>7eac0c5e03621474fc1ce03dbd66fe54a4c5bf3e7c5a0e721cafc8d54c376748</string>
			<key>size</key>
			<integer>512</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>3a3673e6df839cca140d722548c02bce0d41cc064ada67cc141975b196f500cc</string>
			<key>size</key>
			<integer>538</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>5946829cd7956f7d4b8214eea8896264afd0e2cea332f504ae6aad87bb364ba8</string>
			<key>size</key>
			<integer>566</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>c24e737b079e53fcd23afe7c006991a7197aa0a03831844cd7bf024f14879fb9</string>
			<key>size</key>
			<integer>513</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>7137f13c77e5197b759353288951aacf7afe675f704bcb1072d62b9743a4b4ce</string>
			<key>size</key>
			<integer>586</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>439d8368d1deae0e5d22550bcfccbb20d3fecbe97b9de18eed9f2c345de82417</string>
			<key>size</key>
			<integer>606</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>dc4c6bc2f691d6c17f6b337fc03c270b0048424f87eea9c3803195d48984af61</string>
			<key>size</key>
			<integer>512</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>db2305245e95a3a2ba644758a4ccbd76a4467b0ff698cc5f26eb4dc7ca4c8ae7</string>
			<key>size</key>
			<integer>510</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>5d621326e3727f8486dd10db10df6753bb00d84d5cc11553a63f47f044ee6838</string>
			<key>size</key>
			<integer>511</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>5652ec271d706539d0958563e57392b858c7e4028b38921df174356b3f184efc</string>
			<key>size</key>
			<integer>510</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>76846ab02befa7d3636c10217ad29706cd788c3e47c17cb1ac4d8201dfb117a1</string>
			<key>size</key>
			<integer>502</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>7698d6ffbd0e662ed99c5f8a2861403ed7c5ad38536bd03ddb81efb3c38551cc</string>
			<key>size</key>
			<integer>511</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tw/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>da3bc9780d43b44ce2909bd7524b9d9175a0a71ff0a75d4a09ab984fcb5150f3</string>
			<key>size</key>
			<integer>369</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>1a81c7e88ba53a95daf053b1afc6fca2ddee7c8a8894f441edd3bd826ea5b732</string>
			<key>size</key>
			<integer>3976</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>e2018d94412ada92717b77551d16398f5fe3f111a36ab5026ba47797809f7fd5</string>
			<key>size</key>
			<integer>509</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>ca3ee88ed0d5684ad0d9efdccf9be1e215eab98b96ef6cfea6c48e2640316da0</string>
			<key>size</key>
			<integer>508</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wba/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>c02968c3e3ae1066e6574f1f64c7acf696807789eb777767f2621ff39ef56403</string>
			<key>size</key>
			<integer>372</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/yo/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>4221e21f46eb8e178c71ab639da322fe899a1944fa0991ea501a25438c7870de</string>
			<key>size</key>
			<integer>379</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>265aa28b81f2df7c03a1baef5cd5d883c1f2efbb0a18438066cff7d1acb72fb9</string>
			<key>size</key>
			<integer>519</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>70f2ecb6cdd40ff124466322df054557e896158a1498fa45663a729a2e7db6f8</string>
			<key>size</key>
			<integer>523</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>688d434d16ba9384e91f6ea3110fa8c8687ad0e0dfc7440bb4320fe03e42313e</string>
			<key>size</key>
			<integer>520</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zu/LC_MESSAGES/libvirt-glib.mo</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>sha256</key>
			<string>2df1f8616c532a14fbddd9ea3a2372d9eaa48bfcecc0ff7b098748b638aa0beb</string>
			<key>size</key>
			<integer>509</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libvirt-gconfig-1.0.so.0</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>target</key>
			<string>/usr/lib/libvirt-gconfig-1.0.so.0.3000.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libvirt-glib-1.0.so.0</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>target</key>
			<string>/usr/lib/libvirt-glib-1.0.so.0.3000.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libvirt-gobject-1.0.so.0</string>
			<key>mtime</key>
			<integer>1586906956</integer>
			<key>target</key>
			<string>/usr/lib/libvirt-gobject-1.0.so.0.3000.0</string>
		</dict>
	</array>
</dict>
</plist>
