<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libgsm</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/tcat</string>
			<key>mtime</key>
			<integer>1526371174</integer>
			<key>sha256</key>
			<string>6b2369e9e9fa5002fee2826f4eb1a04b951bd628e687c83a43e9c3076532ec95</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/toast</string>
			<key>mtime</key>
			<integer>1526371174</integer>
			<key>sha256</key>
			<string>536f2e66bb51497ea3b9edef373c7811a732c76bff6867c2fc07958952ffec1e</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/untoast</string>
			<key>mtime</key>
			<integer>1526371174</integer>
			<key>sha256</key>
			<string>b061a315a4eb3e412ad04580836ba18cee257ba1435deecbdfb2cdaa7d1c4a04</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgsm.so.1.0.13</string>
			<key>mtime</key>
			<integer>1526371174</integer>
			<key>sha256</key>
			<string>5173b7140fda8fb68662977c9838b52833de8bad3b1687bc3d05db7438500451</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libgsm/COPYRIGHT</string>
			<key>mtime</key>
			<integer>1526371174</integer>
			<key>sha256</key>
			<string>81c68a3374937ed9b5e4929c709e81a2c4b35b5d1f450ecf8c473e2daea46ff6</string>
			<key>type</key>
			<string>files</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgsm.so.1</string>
			<key>mtime</key>
			<integer>1526371174</integer>
			<key>target</key>
			<string>/usr/lib/libgsm.so.1.0.13</string>
			<key>type</key>
			<string>links</string>
		</dict>
	</array>
</dict>
</plist>
