<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/registry</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/xpdfimport</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/appdata</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/lodraw</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>ee81f4ae31eeed668ae12c007ffbb8583ce418022b57cc1c1cb7fba8c777c2e7</string>
			<key>size</key>
			<integer>59</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/libpdfimportlo.so</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>ab8c9975a55deec962251b84e9207a5e19de56bb598e16638ad08a8c06377dad</string>
			<key>size</key>
			<integer>481952</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/sdraw</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>69334d417611082e7e6593f65f7e551c86ae2fba3b7d7c7d9684ed57ad3597e9</string>
			<key>size</key>
			<integer>63</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/xpdfimport</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>d86e9ea2fd64001ad265d6c521fe5f4c1372280cee68f09342634c67ddbaab4e</string>
			<key>size</key>
			<integer>2287856</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/registry/draw.xcd</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>4461efadb48c659193c845ae1574a38457acd0b2cdafb155a659a653fc02bfaa</string>
			<key>size</key>
			<integer>49350</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/registry/pdfimport.xcd</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>09e6e135e78d00a5fa18e9dbe220652f3cac6b0635323e912d6ac02526134134</string>
			<key>size</key>
			<integer>7345</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/xpdfimport/xpdfimport_err.pdf</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a81024ea1df138a260e2466c7f1128a1d7f5068edcedbf33d60e7c3ffe2e603d</string>
			<key>size</key>
			<integer>21204</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/appdata/libreoffice-draw.appdata.xml</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>9ff91c0a287552f4c0aad73e7d4ed852cf7a1cf1748ef7d15c5f120173ee7951</string>
			<key>size</key>
			<integer>2248</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/lodraw.1</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>9b139030c78680e08335dd2a33b3142d391f028c1e0778fd0b886f4e383e8dd1</string>
			<key>size</key>
			<integer>23</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/libreoffice-draw.desktop</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>target</key>
			<string>/usr/lib/libreoffice/share/xdg/draw.desktop</string>
		</dict>
	</array>
</dict>
</plist>
