<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/sys</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/annotated_commit.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>b12f2427151df5fc98e3b4386590e1f4626a9d63c164043f9de10ae5f1c5a1c5</string>
			<key>size</key>
			<integer>3876</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/apply.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>7011afb87432036afc539e44a0dc09671b5339297f0490dc276bba7ee99857e1</string>
			<key>size</key>
			<integer>4094</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/attr.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>afcb58df2ce40ea3fa893a0384ce85002de711ecc4ce01ecca0dc580d3e801c0</string>
			<key>size</key>
			<integer>9359</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/blame.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>5ca64dece15d1b4eb350e8ec57b0ce46e6047879e721183b6203c2555183a797</string>
			<key>size</key>
			<integer>7609</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/blob.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>f33a7fa4eb89c5d427eda74d4f865d1bc4007299f01128e101318c1fd92a6a76</string>
			<key>size</key>
			<integer>8165</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/branch.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>40f5844af9075919da705beb68e6cb9a7b82afcf3ea37740d360744711740f00</string>
			<key>size</key>
			<integer>9643</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/buffer.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>6123f50ce96972ed89c1a4316ee1b91d4e319002bccb16d79b460f59c0a4524e</string>
			<key>size</key>
			<integer>4230</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/cert.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>9685b4bf3ad3c3ae9f456ef9e285213cce00f68a344bb3eb876ba36648354dff</string>
			<key>size</key>
			<integer>3186</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/checkout.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>1173d124aac04c2263ca842f1c8bb5285238757dd220718598b9eedc0ab39b99</string>
			<key>size</key>
			<integer>14595</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/cherrypick.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>9d55b4dcf4a3db3cc432d9ab60bb6788c5a0a22525f3d2c5c071e6e693df3824</string>
			<key>size</key>
			<integer>2781</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/clone.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>4f29df3fbf99ef2b01f796f69bb83f75cdb7e009a35153f1a64e549285600d58</string>
			<key>size</key>
			<integer>5993</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/commit.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>ce4bc01f4e4a7dc229d912188fd647767fa32f379ea3f823ef2f544cae9e4fe7</string>
			<key>size</key>
			<integer>17453</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/common.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>b0f8fabad6e83b4ae06a5307a00632f5300a2e360ca533f0a9e08536024217c8</string>
			<key>size</key>
			<integer>13630</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/config.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>679a555f7ca32970e7b19f9e68b0c5a7e0ea25d952890766c36aa97e13bb1a76</string>
			<key>size</key>
			<integer>25679</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/cred_helpers.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>4478aa5e3f82cd754333311939c3c0d5deeff7be636f68e03a7f5b1c5f4bf73b</string>
			<key>size</key>
			<integer>407</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/credential.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>9b4623b90cb05d83bcd33330deab55c21efc7c3ee9fae960b20c0dd6f78158da</string>
			<key>size</key>
			<integer>9835</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/credential_helpers.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>165864b7b39478e15804ccc95a03362a88fcb6bfd21b32b4fce660f50fbf479a</string>
			<key>size</key>
			<integer>1605</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/deprecated.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>a6f98dc60bdbdc8bb56a9d29e58b9c432b4ff161c5ab8fa9fcf796235e7be92d</string>
			<key>size</key>
			<integer>18883</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/describe.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>08b3280fbb5c38c5b261e317380bd602948ad5c0c94c6073329fdb222c110700</string>
			<key>size</key>
			<integer>5306</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/diff.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>34c4ee96a6e2acc0e9cb8be8ebc411730c2b69c511889002ae4fd7955fbf1f95</string>
			<key>size</key>
			<integer>54533</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/errors.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>1622125f156540b38ce5714a2afb4910496a670e863aeede95c8d8b9d7144153</string>
			<key>size</key>
			<integer>5715</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/filter.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>f6799b05b50739faa32b087922ab027fa27e30d24770f5a016beb8a11370439b</string>
			<key>size</key>
			<integer>7015</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/global.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>88e49fa7593012aa9575df08755b907b5b613f43278f477e9ca8e4feedbe6786</string>
			<key>size</key>
			<integer>1215</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/graph.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>9b70d4c291f69803c51e8859c416f5ff81850738d3c4d1cdca0a44247fbb7086</string>
			<key>size</key>
			<integer>1759</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/ignore.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>266b8bbef564bec63b4fe7d1d3042ffd273f252f151bdec23cc4f77c0febb883</string>
			<key>size</key>
			<integer>2602</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/index.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>71d68397c1dcd4c2f42aa62d446ebcadf1faf3d63613b33792abeefb11d7ff21</string>
			<key>size</key>
			<integer>27753</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/indexer.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>5906bf9d3bbdf4c4f77e51362dace7d769943d8620a62d963b4166b5f8cfd735</string>
			<key>size</key>
			<integer>4167</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/mailmap.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>4f0d18eb0ab5ffdacdd716a9649319683fb84a33627bb4dfa6fed8aedff55d73</string>
			<key>size</key>
			<integer>3625</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/merge.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>f7b481f59efd4e533e57012f5694940d13edbcb2d5010dd6b29f85ab2e3ee6d6</string>
			<key>size</key>
			<integer>18906</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/message.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>dd9a84083afa7835e4445e444d85756458133ad34c96f8529c2ab942e8ade5a7</string>
			<key>size</key>
			<integer>2387</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/net.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>aa6ce5cde1a1c0dc586b3ac22bfd68689505d05fd91ee4c128c0225fdc7676ca</string>
			<key>size</key>
			<integer>1098</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/notes.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>85a249b9ea66da28802dc0e0d93f0217b14e2c5cd621a2d4353e43308f2d905b</string>
			<key>size</key>
			<integer>8436</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/object.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>16d24acf810ad90168283d05911d516c526f8a3a1760e762540441e8473244b2</string>
			<key>size</key>
			<integer>7033</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/odb.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>0b2fbeb03b4fbb4ca7e8c8734cba0eb89b8098eebdc4a225e146c6afdbd4f507</string>
			<key>size</key>
			<integer>17930</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/odb_backend.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>b80a063e8f7d521f8c5b1fc6c3329273b2b0b6a8e3308b145ee7045621cb4bef</string>
			<key>size</key>
			<integer>3873</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/oid.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>a2510249c32905b3f4d8e149341f81d4f56c1481be3fe2ee21edb49e1ac2ec72</string>
			<key>size</key>
			<integer>8499</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/oidarray.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>9b89c71035101bd1c315c192b72ce50307a679d212ed4be53c68af74f1d2908f</string>
			<key>size</key>
			<integer>992</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/pack.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>e8db34362fd7e4243cc52e2b1d3733a427772cc78fb10b2d355fb54c9bc90318</string>
			<key>size</key>
			<integer>7324</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/patch.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>c9dfe91324fa0884c154953f1645b6354dfdca3b551de04032399e6de865945b</string>
			<key>size</key>
			<integer>9613</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/pathspec.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>5b482e78f28b084ba7b399b1f4612e58c7b8077e56403d5cb8f2cbec8798eb0c</string>
			<key>size</key>
			<integer>9657</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/proxy.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>5b15bc3add05b2051432653ec20d6132a5798ccf1d1acec205d37208086b0e92</string>
			<key>size</key>
			<integer>2346</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/rebase.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>f97c69164439a18b14b36783e4455a7ddfbf2a2f256c8bcf7d1f7ec75964228c</string>
			<key>size</key>
			<integer>11743</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/refdb.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>77a1b09f4ea49607e7dbaadec51680316e67fc574f822e7f5c92e6e0594c3905</string>
			<key>size</key>
			<integer>1843</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/reflog.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>c3239c314b3d7bdcb056dcaf7fe31834fdc5905bf98f3e6682d11ad7817bcd4b</string>
			<key>size</key>
			<integer>4616</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/refs.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>3b624a6085b13d09f45b8dcf3c7ae009267e8d0e52f8fae23e8446855f85eb13</string>
			<key>size</key>
			<integer>27791</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/refspec.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>3fac2002e7bcc36fba7e353e728846423c121520e8caf00836d232493eda2db0</string>
			<key>size</key>
			<integer>3302</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/remote.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>78f874974c86977c96f66badff3b23a71847b2ccdef1cc6ee2228d92636bc438</string>
			<key>size</key>
			<integer>28609</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/repository.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>72790da679ce3a1b2442838f9416191e0fe92f7593061a811faa966dbb70151f</string>
			<key>size</key>
			<integer>31858</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/reset.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>303c3b9ac582a59000be80c3c2acec5eaa50c207112fd42efae77e6f3a308909</string>
			<key>size</key>
			<integer>3395</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/revert.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>fdc9b2a8106191b36edac31d586375f82257614050b1d75fdcd0066e36da2243</string>
			<key>size</key>
			<integer>2630</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/revparse.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>3447f28f4f811c176bcd43040f68a040111e6c46ad18a3b3fbbcab805964ed5f</string>
			<key>size</key>
			<integer>3568</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/revwalk.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>7ddcfc8e95a35c0b60511a899fddd806a587f690277ff765a5fb2d01a6a8065e</string>
			<key>size</key>
			<integer>8798</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/signature.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>c4562eb9a73f0f58fe575f040bf4a81fb9228eff91a8d4e22bcbb74007ff23af</string>
			<key>size</key>
			<integer>3228</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/stash.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>b5922b1d8d8771b4b6b8fac4acb4605c9e14dbd7a3f0c34e8a793e731eb6fe37</string>
			<key>size</key>
			<integer>7700</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/status.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>b93481ba78d6c76c3bacb7549ca2350c39a9cae9f14639bb07b0328fccc633a9</string>
			<key>size</key>
			<integer>14851</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/stdint.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>f8e051fb82c10f81982ed3df4fb7572245112567c749a8e4b64883f5cddfc45a</string>
			<key>size</key>
			<integer>7719</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/strarray.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>bc8661586c2ec8259135dec395514777d0be3fe8078a29ee8be8375d6b4b093f</string>
			<key>size</key>
			<integer>1575</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/submodule.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>1c5236fa3bcce33ba8f5edecdf82b76cabd44be1648d07d918e68865e810f958</string>
			<key>size</key>
			<integer>24333</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/sys/alloc.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>9a19fb88e2c70146520d63e01778e22938976a4b754e4bb9e487c4d5a2ca486b</string>
			<key>size</key>
			<integer>3417</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/sys/commit.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>3d1b2220325a82983ecb271c2eb8383a8db134dfc0da96b1f050f3664871252a</string>
			<key>size</key>
			<integer>2389</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/sys/config.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>7888b5265f18640820d43f8ffc31e3e6b3153398ee2851d657ae8b28bdcd10a4</string>
			<key>size</key>
			<integer>4258</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/sys/cred.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>b2ea956401c5554f26cec0f428dd9d0d9661d1ef3d9368769b415193df98ed1a</string>
			<key>size</key>
			<integer>395</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/sys/credential.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>8cfe0a41b027f8196f43fd2e81c15bbe1a26ed7c15468711f900dfaad0a3705f</string>
			<key>size</key>
			<integer>2486</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/sys/diff.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>e341f693acb25645f6ed47c041fc4eda8996a6f1d42905ae4f87fffba22520f3</string>
			<key>size</key>
			<integer>2955</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/sys/filter.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>0c03098a51d5cad022dd317ad5a5837ff624f96fe36ee82da1ed5416426f0a52</string>
			<key>size</key>
			<integer>11588</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/sys/hashsig.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>5677f86c02e557c7897e98d395e83d8168c532916ecfb7f9ca5bf7b4057141f4</string>
			<key>size</key>
			<integer>2889</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/sys/index.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>bc6a371ea47773019e17e5ed5951dbb5b9d773c437d6d49e79e20fa175993c87</string>
			<key>size</key>
			<integer>5294</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/sys/mempack.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>677bbdd7c613d82cc07966318f133c6ef4101b1a1dbfc0f3b1979a925ae50810</string>
			<key>size</key>
			<integer>2822</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/sys/merge.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>48bd0d3a80046712287e5c396ca7dd6d81af5cd2e765f96ee89fb298d17a79db</string>
			<key>size</key>
			<integer>6474</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/sys/odb_backend.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>85a8cecb627aa86b4348a1ae50431e18dca54ca273ab36dc2cd4852e0540f525</string>
			<key>size</key>
			<integer>5643</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/sys/openssl.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>011d45d1991a7d4467b5de5c574718af5b16198fb1581639845fd8d07bef7758</string>
			<key>size</key>
			<integer>1105</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/sys/path.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>97adf0e0751e456546c7c0119743e50aa428fad8a29184fcc637db1eaae08b67</string>
			<key>size</key>
			<integer>1872</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/sys/refdb_backend.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>6be92a5c1b660e4adf99f4604fefc9e93d2e639ae53295b722a1364723d036bb</string>
			<key>size</key>
			<integer>12743</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/sys/reflog.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>c307ce8e9c8b0483ec45ce34a200f74e1ee73bfea9c4c7b0cc3923e3881360ca</string>
			<key>size</key>
			<integer>524</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/sys/refs.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>ee98c1aa0596b1cb409795a94de4891392e1675c42e8877a1e38bd0a5c3fd2d0</string>
			<key>size</key>
			<integer>1197</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/sys/repository.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>63a142623683376fe11f498685525ba33d3cd184708338f2461067b7aa5b92c1</string>
			<key>size</key>
			<integer>5966</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/sys/stream.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>6bd6609f2dd2acaf7206c9542a02abad5439a6516f1ff160f1df040da33ad829</string>
			<key>size</key>
			<integer>4038</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/sys/transport.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>cbf8d6269695e8afb6a4e48f22ff54a3739daedcf662ad4a10b38bcd0b8dda59</string>
			<key>size</key>
			<integer>13557</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/tag.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>340f5aac9a05cbed975f5bc88522206e545fa4ecdb61b74929c8a36aef339f14</string>
			<key>size</key>
			<integer>10325</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/trace.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>f9aaff56cd6e6ea2dc5f7e221f198016f7d4a947829340a45c12714bf32f6738</string>
			<key>size</key>
			<integer>1772</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/transaction.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>4c7969130a952134c597e84a06f38ca4b19e0b372df88085cb4f846292681c5b</string>
			<key>size</key>
			<integer>3824</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/transport.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>fdb301456398bc60fbae66a7bfcfdd64e708e39b642a9dd7314166ecebf13866</string>
			<key>size</key>
			<integer>1097</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/tree.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>d33b808c1fc6e13081c7ed2629aa18539f7ac5a31ae83bb7cddf6b2597637f00</string>
			<key>size</key>
			<integer>14907</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/types.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>c66b821b671e4aad7612138eccae7a3fbf13278a2d9864fad77d48f5fc45f408</string>
			<key>size</key>
			<integer>11943</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/version.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>7c41a4f2abbecc9a43437688092409310738936a8756482707fb4739bcb890f5</string>
			<key>size</key>
			<integer>468</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2/worktree.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>03bd587205770db810df538cabda777f60b7e40307180748871ef7ef7dc1d511</string>
			<key>size</key>
			<integer>7791</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/git2.h</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>bd9f9e0e73645ff02f3f060c51eb5f9496816cde7fe694402a121caf7957b4e1</string>
			<key>size</key>
			<integer>1803</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/libgit2.pc</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>sha256</key>
			<string>9e34dd689b059735d48fcdc6ae9f12452e707138c58201ab40c95a70d651fb60</string>
			<key>size</key>
			<integer>242</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgit2.so</string>
			<key>mtime</key>
			<integer>1593876130</integer>
			<key>target</key>
			<string>/usr/lib/libgit2.so.1.0</string>
		</dict>
	</array>
</dict>
</plist>
