<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/librpmio.so.9.1.2</string>
			<key>mtime</key>
			<integer>1608233842</integer>
			<key>sha256</key>
			<string>600e47f782f2209ce68cfe08f0bbe2d67f715817bd117a584f9456b307f3ca64</string>
			<key>size</key>
			<integer>213384</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/librpmio.so.9</string>
			<key>mtime</key>
			<integer>1608233842</integer>
			<key>target</key>
			<string>/usr/lib/librpmio.so.9.1.2</string>
		</dict>
	</array>
</dict>
</plist>
