<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/glib-2.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/glib-2.0/schemas</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/an</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/an/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be@latin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be@latin/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/crh</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/crh/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/dz</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/dz/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_CA</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_CA/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gd/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/km</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/km/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ku</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ku/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/rw</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/rw/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/NMA-1.0.typelib</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>acfff5ecb2274cd7da0154244d9775d14fe94947a63aca0b5ff8046254a4d96e</string>
			<key>size</key>
			<integer>16404</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnma.so.0.0.0</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>c2587e8b72abbea01812926168c46b61adb23e21a0483e8e3e2965d04c30e61e</string>
			<key>size</key>
			<integer>354504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/glib-2.0/schemas/org.gnome.nm-applet.gschema.xml</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>061755c85d3933bd87788dfbe1f186432e035991aadff83f2f008333d2f5449c</string>
			<key>size</key>
			<integer>2503</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>c89ebcf39b22d66343776a14c9fd8c40a916bbf2a58c4d783583f49e45b52a0d</string>
			<key>size</key>
			<integer>3199</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/an/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>47d555d3406b845217d610a23099576572109454af5b5f94da9fe05c54f67ff1</string>
			<key>size</key>
			<integer>5628</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>7364b0745a674fb95a9938f477aeee1ec38fda8035af7cf11681a44fd0a3ae67</string>
			<key>size</key>
			<integer>5196</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>89fa26390d45f08a1e550377d4f2c68abc50772903facb154937d28b95d04d80</string>
			<key>size</key>
			<integer>12503</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>dd84bc9bb29336b2eac5c67a9278a374aa39e48332f7e60d1d9f3dd1343df081</string>
			<key>size</key>
			<integer>4875</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>3da5ddb8a457fcaaa39696b3b59d3ad01c90349b3497a7749ae73110498c00b2</string>
			<key>size</key>
			<integer>9174</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be@latin/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>1e36ffcbebc004570749f8923045e5994e1b15f8c763e766bfe73c5b288256ce</string>
			<key>size</key>
			<integer>1444</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>651ac8e1e4cda256241bab9344472139b317af6c32fbaed8d95958592d1c5b9e</string>
			<key>size</key>
			<integer>10599</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>dd136359adab95c63b445fc5ffbad874871c85a8e1000ab3cd2d8a197a493212</string>
			<key>size</key>
			<integer>7320</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>aa1fde216cbd58deb368f3254ca66759a1a50cb10450016bbfcd3c14c228383a</string>
			<key>size</key>
			<integer>8287</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>c251a7985bea3ecded92a438c56888b9ef9496c4789b43da364b724b5618c36c</string>
			<key>size</key>
			<integer>17920</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>e894388dc774e6de05136c1abdf1deb85f4925d1d34e2b7a95e4901f05110037</string>
			<key>size</key>
			<integer>8480</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/crh/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>111cbad8f2acced17e62e294003fedb778eba3a4735aa1aeb6951777aa464a2f</string>
			<key>size</key>
			<integer>8284</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>f814d0e5711329c2e6073b63de1815209f018546f1569229fe66042191bef63e</string>
			<key>size</key>
			<integer>17245</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>9f035029c4c6974d61e53b1822281cf62e7b3c9275108b6e0523a1165ae3234b</string>
			<key>size</key>
			<integer>17153</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>ed98dc04eba428da5aa47d6d22056564419eab5326965579d63dfef8642cff2d</string>
			<key>size</key>
			<integer>17045</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/dz/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>793702f41fb728a11b62302549076a8a35d69c41c12e80daca9c8b08ce4dc12e</string>
			<key>size</key>
			<integer>1074</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>c17c8a817f370799063d2a1cfcaa93e9d6ef40c990dae26d348cf11c8b51ed5e</string>
			<key>size</key>
			<integer>10794</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_CA/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>1f54ecbdf9e743489bfea13bb1727bcf1c472318da95695bbb7578f99c146404</string>
			<key>size</key>
			<integer>564</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>533a64a1d630a9608165364b6c40d6d9f99cfaa8eb428f8cf8bd2e36e09d87c5</string>
			<key>size</key>
			<integer>7250</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>cac6792f2b3876fe4ca64577591633c1c25d20e0c6cb8e4b6d49d1279837b3d9</string>
			<key>size</key>
			<integer>8512</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>2eec26e430ae5c3b8ae12492d32875b7fdd9aef94b1f83ce49d62c26f1f7fdac</string>
			<key>size</key>
			<integer>17856</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>655707d63b22b4f247ecfbea9da898921b2dcee8ab13677143b378cd60d3277b</string>
			<key>size</key>
			<integer>7610</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>3876fc0803bcb0f905def4c54ae482c33b9a73e30383df7e1587c04141e1e781</string>
			<key>size</key>
			<integer>17392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>cf2b05699042e9530727d3e938c419cd5bdccd908f04930889f20b8c10100862</string>
			<key>size</key>
			<integer>8002</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>ff75c7312c302a5e524d3dc3b28c4783fd01a02ff733b09479166e4c513b02a2</string>
			<key>size</key>
			<integer>7499</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>b6bb85319b392c819a5deb5b1102ade213cf44183549869020900ed680e6bda1</string>
			<key>size</key>
			<integer>18445</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gd/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>40793c23989b8cb76a0b39a7430530d22ddc41fd082336c1d77de5882a499605</string>
			<key>size</key>
			<integer>13549</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>6f3800a585b11b9f7c68ccf9aba7a38907262946687d16c45ab63bebbfedfd46</string>
			<key>size</key>
			<integer>15907</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>a0289ee925f974517b2e9f883bb9343ec615555fe562946e5fb2d656c2d764a8</string>
			<key>size</key>
			<integer>9056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>69bf3babab86c4391f1f2658927e0d027d54d3041377ef05b9d6e71cc865531f</string>
			<key>size</key>
			<integer>8578</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>b869afbcd5ec8ba32f67ec04fc46f22dadd39161f6aa8f66ff677a96f7a3e227</string>
			<key>size</key>
			<integer>11137</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>32285b62164d7d4d8a5e0821e5b37e1677002594d2a0af30a3d3b564949431ee</string>
			<key>size</key>
			<integer>17383</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>14dff3a33156239637ff484045b2dfbfe3352798e3e4a1aabc16a61eec1d436c</string>
			<key>size</key>
			<integer>18139</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>39e5309d4e14dd244ebef21377b4da3ea2e916fe46a5d3b1aadd90d802e23903</string>
			<key>size</key>
			<integer>16040</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>41a683803404a37aae3f8e70cc9215704c4c2ebd919f175d2b850ca9e0c1bb5c</string>
			<key>size</key>
			<integer>14347</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>469fef3aa77fc63b7edad4576828af2a242649fce44e22465a7cbd0b497da19c</string>
			<key>size</key>
			<integer>17489</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>41b8303269c9200d6f83f2089b8db69fcb70efbfdd08e50027d87e4d90b8b182</string>
			<key>size</key>
			<integer>19125</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>1f9f4fddeb73b709e057c4bc66f2356215e216d5875dec141446e14d8ee90859</string>
			<key>size</key>
			<integer>15492</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/km/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>c4ecf7f70ad98a2e6f9abef579addf2b2b0635e1b1251cc9b7519be9c30e7929</string>
			<key>size</key>
			<integer>12805</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>57af52c2e0fa975f3f2a504794fa8eb671b632261e4c922a2dda7bdeee2ef67c</string>
			<key>size</key>
			<integer>7352</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>447547ae806e7e63589c08e658cfb1439d03560b8b3aa331925250aad08a40b3</string>
			<key>size</key>
			<integer>12819</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ku/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>24dceeb77abdd00e0348ad3f5f441613570896673c749378e318c9c149cc34d9</string>
			<key>size</key>
			<integer>1741</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>afd0f605a2438c104d5e63fb49983d2b44372836299eef91e653edc55d0ca56a</string>
			<key>size</key>
			<integer>17526</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>aa69741bc8d459efb2efce7723d6f3e0ac874448d35de6e22249758531c8f4ee</string>
			<key>size</key>
			<integer>16252</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mk/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>7707386ddb1ba565e0c7c1a83f53f425101a7ce2c603f46e4e801dcea66b0ffb</string>
			<key>size</key>
			<integer>5863</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>01b13d64d955b0980b82b291089716b147f8540ae3450e882f9f3affaf6a7212</string>
			<key>size</key>
			<integer>15030</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>026243420bcf9ec1c38a9d5dbbba6fe66b8da8b5e6628b8da4c12928026f31a1</string>
			<key>size</key>
			<integer>6934</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>76efae6363d54e9e72f4fb8e7ea6c9beefd0d6f8235601db032b5a0aa4ef8bf8</string>
			<key>size</key>
			<integer>4799</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>361a6a15d8c7feb7462b0d4841aee77e175d58e3f3779675f177a9b47f6b9100</string>
			<key>size</key>
			<integer>7960</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>57971720b3d6cac459a6a63b28ab721f3e03c7b9933e7589248a6888eb35ee06</string>
			<key>size</key>
			<integer>945</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>d2618797ab8684e804e35a7254b87d10a1f221b8a57a94c75942d76f480690de</string>
			<key>size</key>
			<integer>17436</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>0479609de734347f8fe49c2c79be06f8b061bdbf60ca1225717560d419dedc78</string>
			<key>size</key>
			<integer>5025</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>bab587c82e736ca2d9aab87486bb86b0263bc0f97df58a9ee3553870b6c80145</string>
			<key>size</key>
			<integer>9214</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>47eb96ee5db9164bfbab4c44adde29933576488ce6408e3238f8e9009b7031f3</string>
			<key>size</key>
			<integer>7174</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>2ea96d03f710b00e4e45b9faeeef08a88b8c7b673c7f61bd8e8d0fa00c737b82</string>
			<key>size</key>
			<integer>20515</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>b767a3b12213821787a65e17ffaaaaa54ea0439e0be4b72418e2020110cdb042</string>
			<key>size</key>
			<integer>17441</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>bc9d4342ab93e85d128de37d1dcc8acc65e8573856192a2b6f622df913cfaf6e</string>
			<key>size</key>
			<integer>10869</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>a2d5b5568d527ac45f9c1473476c9ecaac622f59c81535c678ace971c980c5d9</string>
			<key>size</key>
			<integer>17462</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>5883484475593ba4563d4eeda52e4e9bd1b2b8786164d04a140c42f6a1d7e1ff</string>
			<key>size</key>
			<integer>7032</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>ba6dd43bbd7e8870b96b09feb2999f4b3677544e6c47fd9e281e90273e4758b4</string>
			<key>size</key>
			<integer>21747</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/rw/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>3c4f7e79e4a9276a6ce089db2530a300a8d771769a62e26e223c519a27fc7d87</string>
			<key>size</key>
			<integer>465</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>d2ebc0d34d86f7df5e6c276fbfb13ab5cebecd29717c857d03628524cb58e8e7</string>
			<key>size</key>
			<integer>14383</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>6a3c6cd43a460ccab0c5b8b4161f077c4b52e0c5fb5022cb97fff9fb738285ca</string>
			<key>size</key>
			<integer>8207</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>5d1eeb39e178b8b5cd11dcd38174a96b192307a1477237c669f75bf038b03290</string>
			<key>size</key>
			<integer>432</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>65f708d148216327392131664a6bee814894cea393d0a2a9faf0f3ce6aa434c7</string>
			<key>size</key>
			<integer>19361</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>1cd6ad528819d299bea89de47b2b18406b5318abac2a53a405f6ede2e4d188c7</string>
			<key>size</key>
			<integer>15320</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>c4036542444ff88f894299e72e3349a5c89000dc73837460608b9a124bcb1c00</string>
			<key>size</key>
			<integer>16527</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>55812e094d777df951753cff5985bea9096e48783d9916e98421b905c20ca650</string>
			<key>size</key>
			<integer>7997</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>d5828c2e41ee38e4c6c495e8babf2de1217bd58f4db3655c40e57cc5050d8c54</string>
			<key>size</key>
			<integer>10181</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>a3c7ec924ee445a78771319aa78767a2311a1c8a7a3a3834b6f3e8b20ec459d0</string>
			<key>size</key>
			<integer>3906</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>263877eb3bcecdc6a008e9dbf1234041c341ffbb17d977c8822dca6d1c8119cc</string>
			<key>size</key>
			<integer>9446</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>4f886c58aad27d93af836215706440f943fb2bb7c97adb4a1a9fea2c9ba35a4e</string>
			<key>size</key>
			<integer>17533</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>6c0de080f195231c91118d4b57181b4b306c8e0cade459509e81e0e9657a93ab</string>
			<key>size</key>
			<integer>9753</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>46ac381078de26ffe569a3e89fd325871a38752340d204e3b824c09065c58795</string>
			<key>size</key>
			<integer>6360</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>537f993eaaff79baf375a5414806ed4a9cd5b20d7c9e0021c42b9a717b776f6b</string>
			<key>size</key>
			<integer>5313</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>9b863ea140642237ec1d061ac8979a8a96bccff4f99bf77e36944e283d6a0050</string>
			<key>size</key>
			<integer>8301</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wa/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>614a87a7b7c778691212a8d3e65369dce8f1a52e1142b689bcb921d6ff9e5073</string>
			<key>size</key>
			<integer>432</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>ad2edbc64b25201dc3adef98c8d865c277fe2b9fd49c30db655a23306f139a12</string>
			<key>size</key>
			<integer>16087</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>8303ee8a4dd2f82782f6eceffac4cd31eda8a4681440115c7fdd9802e7d27b66</string>
			<key>size</key>
			<integer>7762</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/libnma.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>999b7042f786760290fc83f80bf25f129a15c85166ba94e66325089fc90daaf6</string>
			<key>size</key>
			<integer>11720</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnma.so.0</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>target</key>
			<string>/usr/lib/libnma.so.0.0.0</string>
		</dict>
	</array>
</dict>
</plist>
