<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libupnp1.8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libixml.so.10.0.2</string>
			<key>mtime</key>
			<integer>1609959619</integer>
			<key>sha256</key>
			<string>bacc236869df6b8791031f489343121ff84050e4ea43845f7bc3734241d06710</string>
			<key>size</key>
			<integer>44272</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libupnp.so.13.1.2</string>
			<key>mtime</key>
			<integer>1609959619</integer>
			<key>sha256</key>
			<string>ac9f48e9840049614397d9864eee030f92b80ad62b2149de9d51477e46206a23</string>
			<key>size</key>
			<integer>212512</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libupnp1.8/COPYING</string>
			<key>mtime</key>
			<integer>1609959619</integer>
			<key>sha256</key>
			<string>c8b99423cad48bb44e2cf52a496361404290865eac259a82da6d1e4331ececb3</string>
			<key>size</key>
			<integer>1477</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libixml.so.10</string>
			<key>mtime</key>
			<integer>1609959619</integer>
			<key>target</key>
			<string>/usr/lib/libixml.so.10.0.2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libupnp.so.13</string>
			<key>mtime</key>
			<integer>1609959619</integer>
			<key>target</key>
			<string>/usr/lib/libupnp.so.13.1.2</string>
		</dict>
	</array>
</dict>
</plist>
