<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/profile.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/profile.d/debuginfod.csh</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>sha256</key>
			<string>ececc544ad38d7d61d3ee200e1d6b453f6ae282236fb43c48cdf9c8bd4f1fcca</string>
			<key>size</key>
			<integer>215</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/profile.d/debuginfod.sh</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>sha256</key>
			<string>8c08321823afdb729a63521845de8b5ffa2a2ddcbf38a3696e9f1a42789f529f</string>
			<key>size</key>
			<integer>106</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdebuginfod-0.183.so</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>sha256</key>
			<string>aa80fc3eebd9e009e38b027ebcde8765839cbe698e8123e7cc2a1d3a1d5c96e3</string>
			<key>size</key>
			<integer>26616</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdebuginfod.so</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>target</key>
			<string>/usr/lib/libdebuginfod-0.183.so</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdebuginfod.so.1</string>
			<key>mtime</key>
			<integer>1613453572</integer>
			<key>target</key>
			<string>/usr/lib/libdebuginfod-0.183.so</string>
		</dict>
	</array>
</dict>
</plist>
