<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/liblangtag</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/liblangtag</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/liblangtag/common</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/liblangtag/common/bcp47</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/liblangtag/common/supplemental</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/LangTag-0.6.typelib</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>a4147e3e5c23813568d66993f5ecb1b77824de31ac372f8a827ba3faf67d83f4</string>
			<key>size</key>
			<integer>16396</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/liblangtag/liblangtag-ext-ldml-t.so</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>baaa70550a103082dc24174644ad3b5c21b7863205245bfdcf67b84337e9e274</string>
			<key>size</key>
			<integer>18416</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/liblangtag/liblangtag-ext-ldml-u.so</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>23fab1880926524fbf15603cc1caf28ed188912a7543eed610b29c1f7544d3e1</string>
			<key>size</key>
			<integer>18416</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/liblangtag-gobject.so.0.3.0</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>e5273d64939fff36f197955d9ecb8244d971c1f112bcac5e63e3acf1911a9cc0</string>
			<key>size</key>
			<integer>18184</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/liblangtag.so.1.4.1</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>36cc4fcbc3c4ce1e310b2c56575dbdf732268610297629961110364c7b2e2ca2</string>
			<key>size</key>
			<integer>157688</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/Container.html</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>4cafd205e953977721705e744ea530b4cf2d2e8a652fd75dce9231d862b23ea1</string>
			<key>size</key>
			<integer>1727</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/Module.html</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>2b85181441987ca3e2e25ad15e65ca1a0300d6f9b93cc17e0e5543b3616349a1</string>
			<key>size</key>
			<integer>1709</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/Utilities.html</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>1ed2a503f0ed528bc7b95309f68ee55e6f47ec4f4661888f6f95077670404dd2</string>
			<key>size</key>
			<integer>1709</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/annotation-glossary.html</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>fc7e295b366108f7041f37706c948e9ff16ba2e25042bea99efc3937a6d5e4d5</string>
			<key>size</key>
			<integer>2835</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/api-index-full.html</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>a7f153d8b2982287502d74fb8fe19e7b90faab964108fd9a1b3675a8a213418c</string>
			<key>size</key>
			<integer>76057</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/ch01.html</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>e224a8b53728b4b9cebc674380a3594ccbbc407569469923639abe55c9f7e497</string>
			<key>size</key>
			<integer>6981</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/home.png</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>7a8d24b00f5fb6bbb0446249b605efdd36598e8a0f65ac3fab2e18438c73b91e</string>
			<key>size</key>
			<integer>256</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/index.html</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>fd4af243c78e96e93127c672bc63bfaa50e20b285394fa7be90fa85d363162d1</string>
			<key>size</key>
			<integer>6608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/left-insensitive.png</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>303355d93cac53410997dc7a3f9bd60f3ce0d8ebae7908978c8731fe9bb139ff</string>
			<key>size</key>
			<integer>395</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/left.png</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>0eb96fe775524c2d4d4f167d79041b17c5cc8ae9112478665132c31a1417fb4a</string>
			<key>size</key>
			<integer>262</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/liblangtag-Container---Extension.html</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>c667e1c23dccd67558f738ea27c9b7a5a9227d4273c072d3702f65d5ff4d559a</string>
			<key>size</key>
			<integer>16015</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/liblangtag-Container---Extlang.html</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>1a70921d54429b27eff37df91c29cd9896112c8b133f2c6a2230a99b8fae5ad8</string>
			<key>size</key>
			<integer>19021</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/liblangtag-Container---Grandfathered.html</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>92867cb17345ab6744628fdacbfca6845be74ea37982659a1cd267f3b992e9c0</string>
			<key>size</key>
			<integer>18315</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/liblangtag-Container---Language.html</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>af6d5be0ae39bb4f5561ebb67f4ba2225c74709702e59d90f57bd64a5aed3ad5</string>
			<key>size</key>
			<integer>21681</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/liblangtag-Container---Redundant.html</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>b57603b8a691d4eb22dd06cac242710d0ccfb72598752eea7f9c5938d72acba5</string>
			<key>size</key>
			<integer>17536</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/liblangtag-Container---Region.html</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>289bc0d896491ad2a2ae8c4dda2bc41e85d9dd6e8f42e41dc220c4b0e37cd0b3</string>
			<key>size</key>
			<integer>16960</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/liblangtag-Container---Script.html</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>1911edf540a96c5891cd724000279635d2f05d02eaf27a0ec9eae34a5c990294</string>
			<key>size</key>
			<integer>15324</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/liblangtag-Container---Tag.html</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>f460d3b3764a69e4a40fdfda5b14c029589e9f05f08d2b117f2f2c4099c5f8dc</string>
			<key>size</key>
			<integer>66166</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/liblangtag-Container---Variant.html</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>62cba38a07f95ab34034ac57097f1c5a5ff41f888f8143f122abc456d6365d97</string>
			<key>size</key>
			<integer>19290</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/liblangtag-Database---Extlang.html</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>aadab655a00fdaf30e293205131784c306d0060eaa381b2713f1f91c435a5c83</string>
			<key>size</key>
			<integer>11215</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/liblangtag-Database---Grandfathered.html</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>230437b7b83449da6aaadd029ab5817d7140d5011b571c4177b02f6c8ddcf609</string>
			<key>size</key>
			<integer>12022</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/liblangtag-Database---Language.html</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>411b5fcec3808dcf147ef2b94a915cabed56741c756d26b0199a72ff444b7651</string>
			<key>size</key>
			<integer>10994</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/liblangtag-Database---Redundant.html</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>eaab76380cda75c136e2fe44ca3b942f25a9b87fb36517bb6dfaf426840b5240</string>
			<key>size</key>
			<integer>11510</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/liblangtag-Database---Region.html</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>348a96c65d59f073bc1cbc51a17cd695b27bfc28a3aa17b7e2ba069fe51836a3</string>
			<key>size</key>
			<integer>11160</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/liblangtag-Database---Relation.html</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>10eb0f65f26cc753a3a55427d02da0b40f427a79aa6d8cec78e2094613aaf66a</string>
			<key>size</key>
			<integer>14483</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/liblangtag-Database---Script.html</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>9e2247deb8b5d69cfe2a5f1a82a0181e95c973fe2852f1cfe6d992381389a713</string>
			<key>size</key>
			<integer>11096</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/liblangtag-Database---Variant.html</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>99f2e3c1521505401817edd0903b699162237b49822568d002cde1fb66fa42e7</string>
			<key>size</key>
			<integer>11174</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/liblangtag-Database.html</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>963864649dfa36f4901e0588f63b9260dfa24c6039e340abcb19ebb634f8e03d</string>
			<key>size</key>
			<integer>25468</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/liblangtag-Doubly-Linked-Lists.html</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>042761361a1077ee454fce0e8e4a8502ef5f510064e5f0ff83d88ad4b57a8acb</string>
			<key>size</key>
			<integer>46125</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/liblangtag-Error.html</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>d5232a03c53fa173b6c83d4dbca09b47595e55d9fa3332458965f48c26f2c64a</string>
			<key>size</key>
			<integer>19445</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/liblangtag-Iterator.html</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>d6b87721cd2ace7b2a9a102d39047a9cf604a69fa53a7cae2e88e20b5f6afb0c</string>
			<key>size</key>
			<integer>17635</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/liblangtag-Miscellaneous-Macros.html</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>21f358cb24a5d59bc2ecc458aaf16b7b081ed544aae95c2f4969db57b8ce7e4e</string>
			<key>size</key>
			<integer>26980</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/liblangtag-Module---Accessor.html</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>d8cc7b8c620caadf8afa2f8a2c6369d292c73ea967d71feb3aff1022fd702779</string>
			<key>size</key>
			<integer>31029</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/liblangtag-Module---Data.html</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>60f825809ce1cec3cab6a54990f584163404cf5f132111560af0986c67eabc98</string>
			<key>size</key>
			<integer>11568</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/liblangtag-Strings.html</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>793a9d9b6dc013f7b78ba31ef42096b10500056d0921a4b32e1097dd2d33feda</string>
			<key>size</key>
			<integer>29844</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/liblangtag.devhelp2</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>666e0e6b35358290d319194b7c778e3378673b91d52c134b1cda13ec9eef8b2f</string>
			<key>size</key>
			<integer>38126</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/object-tree.html</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>78565ab8146389867e6d1650551c7f959e62e3c66285a4139e51908da4a61596</string>
			<key>size</key>
			<integer>1631</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/right-insensitive.png</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>794050c64c498420599162f2b3b6928232dd0be7991d942b1dc0b1670eb8695e</string>
			<key>size</key>
			<integer>373</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/right.png</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>0629ad38280184be1b94602f2015707a28170151058f7171aeda501fcf0979d3</string>
			<key>size</key>
			<integer>261</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/style.css</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>7ced923a96043e6d615d8a107f5289d646318585aa6b1d4432ff0c57e15c41a7</string>
			<key>size</key>
			<integer>8852</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/up-insensitive.png</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>0420f2040eebf418098a86a3fb2ef5a9659c87d37b81ee85b69316b045a9453a</string>
			<key>size</key>
			<integer>374</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gtk-doc/html/liblangtag/up.png</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>c54b75948f4d26357dd018159078f36f90deeaf29ce3b9d2bd0ea6655ef1bda8</string>
			<key>size</key>
			<integer>260</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/liblangtag/common/bcp47/calendar.xml</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>b7db94e199042c0acc5687e608290063fecc2fbe86c46db2e1ef12e4ea32096b</string>
			<key>size</key>
			<integer>3299</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/liblangtag/common/bcp47/collation.xml</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>2189091777b9a55b2a8b0fdd2573b38fe12677dc258ada009da061aa6ac6182f</string>
			<key>size</key>
			<integer>6869</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/liblangtag/common/bcp47/currency.xml</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>aaf263d07da1d3153c869f55417cc03c80f63a3532a986182c2b6fc9c2f2a366</string>
			<key>size</key>
			<integer>21445</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/liblangtag/common/bcp47/number.xml</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>816857a04a7cc2faeb41336c9808cc75c916a6f0dd96eee0a427cfa73b589c29</string>
			<key>size</key>
			<integer>6562</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/liblangtag/common/bcp47/timezone.xml</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>47938dc891c55db1e8e07a9b278ace7364179b63a12acf47f68e1ffff9e9f9a1</string>
			<key>size</key>
			<integer>44172</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/liblangtag/common/bcp47/transform.xml</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>a9b04062bdc939f8b380f67a14b3c5479d837d0560ed63432d87f142a98f1989</string>
			<key>size</key>
			<integer>2669</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/liblangtag/common/bcp47/transform_ime.xml</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>9cd1e5a65a40fa8516ed53f1e0e8a18ad8ed720986e7022e020713ec7b322444</string>
			<key>size</key>
			<integer>1445</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/liblangtag/common/bcp47/transform_keyboard.xml</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>92b87a6ce5587e97fc8527a62451cae0af58b6558dcd50160db5fb9f53ed3142</string>
			<key>size</key>
			<integer>4702</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/liblangtag/common/bcp47/transform_mt.xml</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>7ed129d181585ede3b4432106157ec1904a5db0d39bcf8dc9a494b39fca1c111</string>
			<key>size</key>
			<integer>951</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/liblangtag/common/bcp47/transform_private_use.xml</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>1b3adf8826c33296a26c09d23e289acdde6b832babb72ad4d30a82f6a6867949</string>
			<key>size</key>
			<integer>768</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/liblangtag/common/bcp47/variant.xml</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>9a909ea06c7d6c2c96f56265eb2ff6063a9526acd8cf2e731b873771c92e5a14</string>
			<key>size</key>
			<integer>1517</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/liblangtag/common/supplemental/likelySubtags.xml</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>0c9dac561fe86a759f584deb6d8e8d476acd052a90ac08b2e6425056e100393d</string>
			<key>size</key>
			<integer>132575</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/liblangtag/common/supplemental/supplementalData.xml</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>c0a3d13ae7a3a9aa169c47a160a979503e19cb0ace2214fe538cd3e4bf9f5fe8</string>
			<key>size</key>
			<integer>385433</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/liblangtag/common/supplemental/supplementalMetadata.xml</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>80a0d477b404c75246f4b65ff7c630bf202dd42132efb11c1fb755008e7d72e9</string>
			<key>size</key>
			<integer>111801</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/liblangtag/language-subtag-registry.xml</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>sha256</key>
			<string>4c9cbb3c1ccfdf5c6bcafe0d8ae284031f717212f275484a445fcb07cfb9c70d</string>
			<key>size</key>
			<integer>1294086</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/liblangtag-gobject.so.0</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>target</key>
			<string>/usr/lib/liblangtag-gobject.so.0.3.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/liblangtag.so.1</string>
			<key>mtime</key>
			<integer>1579874021</integer>
			<key>target</key>
			<string>/usr/lib/liblangtag.so.1.4.1</string>
		</dict>
	</array>
</dict>
</plist>
