<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/librevenge-0.0.so.0.0.4</string>
			<key>mtime</key>
			<integer>1532444498</integer>
			<key>sha256</key>
			<string>4f7c87f11ec873845786f65df651b718790497032939af59dc4dae320506836b</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/librevenge-generators-0.0.so.0.0.4</string>
			<key>mtime</key>
			<integer>1532444498</integer>
			<key>sha256</key>
			<string>ac4762abafd0d23bfccfc319070d0979a59f5b953bac66c7e07b70c3c19862f0</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/librevenge-stream-0.0.so.0.0.4</string>
			<key>mtime</key>
			<integer>1532444498</integer>
			<key>sha256</key>
			<string>fcfd9652def7d5a420cf303b7c07096bfaeefd941d55da7340b6424fa298f13e</string>
			<key>type</key>
			<string>files</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/librevenge-0.0.so.0</string>
			<key>mtime</key>
			<integer>1532444498</integer>
			<key>target</key>
			<string>/usr/lib/librevenge-0.0.so.0.0.4</string>
			<key>type</key>
			<string>links</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/librevenge-generators-0.0.so.0</string>
			<key>mtime</key>
			<integer>1532444498</integer>
			<key>target</key>
			<string>/usr/lib/librevenge-generators-0.0.so.0.0.4</string>
			<key>type</key>
			<string>links</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/librevenge-stream-0.0.so.0</string>
			<key>mtime</key>
			<integer>1532444498</integer>
			<key>target</key>
			<string>/usr/lib/librevenge-stream-0.0.so.0.0.4</string>
			<key>type</key>
			<string>links</string>
		</dict>
	</array>
</dict>
</plist>
