<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/mmdblookup</string>
			<key>mtime</key>
			<integer>1534937267</integer>
			<key>sha256</key>
			<string>33f96ac920f2261d4b34279fea81067fa9eefb3a5605d721eb7d9caa721949e3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libmaxminddb.a</string>
			<key>mtime</key>
			<integer>1534937267</integer>
			<key>sha256</key>
			<string>7b7628ffa38381d0445052775b0061e389abca0f2131cbb6ce8fb4a751823884</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libmaxminddb.so.0.0.7</string>
			<key>mtime</key>
			<integer>1534937267</integer>
			<key>sha256</key>
			<string>fe7f899c9d015c97e7b175547f1de7e9158fd858bdd26ecbb8f7a97f9247f896</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/libmaxminddb.pc</string>
			<key>mtime</key>
			<integer>1534937267</integer>
			<key>sha256</key>
			<string>3638a5d8e788eefd1d10469a510171e7ffcf5e246683caecf4b52aa6d21e45b6</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mmdblookup.1</string>
			<key>mtime</key>
			<integer>1534937267</integer>
			<key>sha256</key>
			<string>fb01f7530e7ac832c90971df8b8830d78c95b6756c7679046cac8a1d50617c7a</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libmaxminddb.so</string>
			<key>mtime</key>
			<integer>1534937267</integer>
			<key>target</key>
			<string>/usr/lib/libmaxminddb.so.0.0.7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libmaxminddb.so.0</string>
			<key>mtime</key>
			<integer>1534937267</integer>
			<key>target</key>
			<string>/usr/lib/libmaxminddb.so.0.0.7</string>
		</dict>
	</array>
</dict>
</plist>
