<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/libnl/classid</string>
			<key>mtime</key>
			<integer>1570315320</integer>
			<key>sha256</key>
			<string>812cc071fd86a2746fb3cb18cb69dbbed88c07209545d16eaf8cd3db4c861a33</string>
			<key>size</key>
			<integer>1130</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/libnl/pktloc</string>
			<key>mtime</key>
			<integer>1570315320</integer>
			<key>sha256</key>
			<string>ac3ef9fac354fdc1e46c13bf090be098f60c783f3b44ba330abcbbf6953f4ee4</string>
			<key>size</key>
			<integer>1532</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/libnl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnl-3.so.200.26.0</string>
			<key>mtime</key>
			<integer>1570315320</integer>
			<key>sha256</key>
			<string>86506351215f29c06fd3564756e16132955f8c31d1118c8028edc0a92659d758</string>
			<key>size</key>
			<integer>137408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnl-cli-3.so.200.26.0</string>
			<key>mtime</key>
			<integer>1570315320</integer>
			<key>sha256</key>
			<string>4cf8c4a79b90217c32d747acff3330645d42b49f56c80ce52fe4a66beaf77bfb</string>
			<key>size</key>
			<integer>47192</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnl-genl-3.so.200.26.0</string>
			<key>mtime</key>
			<integer>1570315320</integer>
			<key>sha256</key>
			<string>49b544199347bf0e34415f571c92ff4620b0d6c7c848a59c9b0075f03a2400c8</string>
			<key>size</key>
			<integer>31576</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnl-idiag-3.so.200.26.0</string>
			<key>mtime</key>
			<integer>1570315320</integer>
			<key>sha256</key>
			<string>ea6e699932ff261f5b0c84f45acadc607ab052b6aa4a76f6181179c58341e46d</string>
			<key>size</key>
			<integer>43944</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnl-nf-3.so.200.26.0</string>
			<key>mtime</key>
			<integer>1570315320</integer>
			<key>sha256</key>
			<string>bde3a865d073f4d0b77ecd742c8dbda59bd82795c9275755f3c647e915f6000e</string>
			<key>size</key>
			<integer>99496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnl-route-3.so.200.26.0</string>
			<key>mtime</key>
			<integer>1570315320</integer>
			<key>sha256</key>
			<string>d3e53b151c9dc8de67631252778fe623232da91b81a48885572380f356020e04</string>
			<key>size</key>
			<integer>526960</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnl-xfrm-3.so.200.26.0</string>
			<key>mtime</key>
			<integer>1570315320</integer>
			<key>sha256</key>
			<string>192a33107cd4a48ef22c850e9cd5f0d5287b903349fcd52de4c778f5eb1eefda</string>
			<key>size</key>
			<integer>89712</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnl-3.so.200</string>
			<key>mtime</key>
			<integer>1570315320</integer>
			<key>target</key>
			<string>/usr/lib/libnl-3.so.200.26.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnl-cli-3.so.200</string>
			<key>mtime</key>
			<integer>1570315320</integer>
			<key>target</key>
			<string>/usr/lib/libnl-cli-3.so.200.26.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnl-genl-3.so.200</string>
			<key>mtime</key>
			<integer>1570315320</integer>
			<key>target</key>
			<string>/usr/lib/libnl-genl-3.so.200.26.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnl-idiag-3.so.200</string>
			<key>mtime</key>
			<integer>1570315320</integer>
			<key>target</key>
			<string>/usr/lib/libnl-idiag-3.so.200.26.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnl-nf-3.so.200</string>
			<key>mtime</key>
			<integer>1570315320</integer>
			<key>target</key>
			<string>/usr/lib/libnl-nf-3.so.200.26.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnl-route-3.so.200</string>
			<key>mtime</key>
			<integer>1570315320</integer>
			<key>target</key>
			<string>/usr/lib/libnl-route-3.so.200.26.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnl-xfrm-3.so.200</string>
			<key>mtime</key>
			<integer>1570315320</integer>
			<key>target</key>
			<string>/usr/lib/libnl-xfrm-3.so.200.26.0</string>
		</dict>
	</array>
</dict>
</plist>
