<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/datrie</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/include/datrie/alpha-map.h</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>sha256</key>
			<string>b04a5d99adfaebf9634d000f94495f710e8aa684fc9573b4c47b4ca2d3440f39</string>
			<key>size</key>
			<integer>2893</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/datrie/trie.h</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>sha256</key>
			<string>ecd32d5ce82a598b5ec356ec40fbb7486c6ac921f10fc030bcb12eb0557b9547</string>
			<key>size</key>
			<integer>7356</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/datrie/triedefs.h</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>sha256</key>
			<string>3325e47b5dd8a32510989c7222e8838cd484669f4ef5cc35b232fb39270a5304</string>
			<key>size</key>
			<integer>2156</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/datrie/typedefs.h</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>sha256</key>
			<string>f2fe37cda7b966cea675643dfea9aabd4c5cbafd102d3f8432d9ac0a6816bdb2</string>
			<key>size</key>
			<integer>3417</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdatrie.a</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>sha256</key>
			<string>e3261427f383daedff507b18e2d0439d5b00aa3be0c8c04b8a8779a55a95d05d</string>
			<key>size</key>
			<integer>51522</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/datrie-0.2.pc</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>sha256</key>
			<string>e38fdc80ff9e596379f5d8136f51d7b05f007d3e936cb76039a17ba06c46d3c4</string>
			<key>size</key>
			<integer>201</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdatrie.so</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>target</key>
			<string>/usr/lib/libdatrie.so.1.4.0</string>
		</dict>
	</array>
</dict>
</plist>
