<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/10.2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/10.2/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/10.2/include/omp.h</string>
			<key>mtime</key>
			<integer>1613687104</integer>
			<key>sha256</key>
			<string>81ce18f3fe280355a55ce5fa08462aacadca8568a0259e31883492e34fd90bea</string>
			<key>size</key>
			<integer>7062</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgomp.a</string>
			<key>mtime</key>
			<integer>1613687104</integer>
			<key>sha256</key>
			<string>2380b623ab11166e3c733d513041de25db83325f463a8c8997b319294865a03f</string>
			<key>size</key>
			<integer>474970</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgomp.spec</string>
			<key>mtime</key>
			<integer>1613687104</integer>
			<key>sha256</key>
			<string>f1148cdbf2cc2c57013e1e1c41a54751b710fefe5cfe19088f3c558778567810</string>
			<key>size</key>
			<integer>169</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/libgomp.info.gz</string>
			<key>mtime</key>
			<integer>1613687104</integer>
			<key>sha256</key>
			<string>bf16f3c319c8780b6538ace21d4e2b769a046194db9aa7027d4dee21deb51aec</string>
			<key>size</key>
			<integer>47855</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgomp.so</string>
			<key>mtime</key>
			<integer>1613687104</integer>
			<key>target</key>
			<string>/usr/lib/libgomp.so.1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
