<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/sbasic.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/scalc.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/schart.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/sdatabase.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/sdraw.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/simpress.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/smath.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/swriter.idxl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/readmes</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/autotext</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/autotext/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/registry</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/registry/res</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/default.css</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>6d04dc16440e3d50ed2566937915195a2d5e08de91aa98ac6e38eea136879885</string>
			<key>size</key>
			<integer>3065</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/err.html</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>7419f2329b9812f582bd4d834de31f94eed4d54170dc0f52fff31813e16d8307</string>
			<key>size</key>
			<integer>2131</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/highcontrast1.css</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>cd779c8043d26b12b9dfe89bb839539a97af48e8ab1ef404d6ff1ea62d195adc</string>
			<key>size</key>
			<integer>3056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/highcontrast2.css</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>9b01fd25451c7cf339dc78d0232a389a592ee24ff283b730001001df04522d3f</string>
			<key>size</key>
			<integer>3056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/highcontrastblack.css</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>50cb1fe1470102418c7414735d249a034c5276bf13b3c9273e64c38b93ba58d3</string>
			<key>size</key>
			<integer>3056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/highcontrastwhite.css</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>73e3ecd87f89163f119d088fafe96913cadd7e624aa29cd706f2880f2e060115</string>
			<key>size</key>
			<integer>3056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/sbasic.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>f7ffe759a7f90414384ee400711c9496481e6c1c7e9efeacf735d616b22400cf</string>
			<key>size</key>
			<integer>929</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/sbasic.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>4308245a8e6fc616a900168b34881119e579438cee55a0ecdd60a28aeb3029cf</string>
			<key>size</key>
			<integer>792171</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/sbasic.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>72585152cd930a23b70d94bee44f5fd8a63b820faae55530e2319ca2e61d53bd</string>
			<key>size</key>
			<integer>635602</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/sbasic.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>b3acbe007c4ea02d95cc4193d8da650526decdafedd1ba3f30ec92279edbeac2</string>
			<key>size</key>
			<integer>797693</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/sbasic.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/sbasic.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>036a003de99be802b45e9e412a879c8a3664470ca830a84d4c14ab85d003a03e</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/sbasic.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>ae8ee0cd1e4581d1242777168d1c463d378de37337ffa9cd89eb5ac84e96c856</string>
			<key>size</key>
			<integer>1641075</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/sbasic.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>bef0d14396c6394003e54df98db862e6148687b256c6c40b81ad9089e81de349</string>
			<key>size</key>
			<integer>227347</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/sbasic.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>275f51b55e44a4d128b9d28d7be2cf9e003f68091d5da6437262353f63cf33ae</string>
			<key>size</key>
			<integer>33189</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/scalc.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>25d78c990b57b08d2613dd286a4a0ceeec8051ef7a2927696e5689058ea7108b</string>
			<key>size</key>
			<integer>916</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/scalc.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>9037a28c4c2f8312e1119e9061420b1f9fdcd3dab8bebca7150e51e548b7875a</string>
			<key>size</key>
			<integer>1028689</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/scalc.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>8756a12637aec05572b778ed67e1acb963d276e5e6a662603655973a9e4bc078</string>
			<key>size</key>
			<integer>820091</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/scalc.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>08b28a154fee51621d7bade1e10632cc112f001f4356fa4798a768aacd7e3409</string>
			<key>size</key>
			<integer>997465</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/scalc.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/scalc.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>2103eddd4e2151ef1d175a924d8f88604f6b8856ac5096023b2d38fbc7fbfec8</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/scalc.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>f940edd52077568092f73194f885e6286e7223e6c82f810f1b71c42f247c65bd</string>
			<key>size</key>
			<integer>1913839</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/scalc.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>d09cfc9971378db0566f01b64c626408e9200adc93822d02ee34e2f889c818b8</string>
			<key>size</key>
			<integer>325721</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/scalc.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>24df1a8a252232de378d68a74e1ef5f1d717bdb6f7fa4f0c7e006e6e6142f43f</string>
			<key>size</key>
			<integer>13681</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/schart.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>2e80bc5c1f74ac67daa2abe1d03ce5896d0e2adbd3b9233ed64168e11010f220</string>
			<key>size</key>
			<integer>919</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/schart.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>656ec26f13dc6654aeba9b99e111ff053fd780deee050d71ab894150705033c2</string>
			<key>size</key>
			<integer>759836</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/schart.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>e4ed8e5998222ab4599c4c24be57c63391175bd117dc84ac8489db856e475616</string>
			<key>size</key>
			<integer>669956</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/schart.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>60fe9e2fd208f06e61768d6100ec62e31c0af7933364fcd6c8a548f84cc2b835</string>
			<key>size</key>
			<integer>667027</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/schart.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/schart.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a2fd07d7413d89ae360235af8552e14e676829749b17cf927fb66b365de0b126</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/schart.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>eca016a117b64a4958e9a88dfb8831488bc866abfcbe3a77ac60e84c6c786ce1</string>
			<key>size</key>
			<integer>239800</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/schart.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>737edab225ed4e1795f7887bc2ff2a8af5cb5ef82935bcb55444ba4de6236a93</string>
			<key>size</key>
			<integer>188550</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/schart.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>9a0116e430bc54392152e28bdf46c593301b6711d46002c6c2c1bc91182644fe</string>
			<key>size</key>
			<integer>1328</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/sdatabase.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>dc72a36092a2e68ec2303c51ddbdea214f43c878f3bf44bd00365c68e884d76f</string>
			<key>size</key>
			<integer>940</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/sdatabase.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>5363d7b33c5e1caa0a4de78dab641b70a1e0e53415fd001317db67658994c5f3</string>
			<key>size</key>
			<integer>701311</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/sdatabase.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>9973f94a35c98e8dd9f1ab02129f225ec97d11f33ec37170cc6cad9b6f3cf3b3</string>
			<key>size</key>
			<integer>617910</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/sdatabase.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>ddc7085c92bd1fc398aa7bc3d3313af3b18916e3caf0bcd2c90e98bdc4072ebc</string>
			<key>size</key>
			<integer>629091</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/sdatabase.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/sdatabase.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>140a04bcf999c53bfc1df5c8e67633f0d1ee434ee3c727e4ae9701d9b79acdb8</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/sdatabase.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>6764fb094a831f4ea6fd2464746fc314619da80bc722768235872c24cd6b1f7e</string>
			<key>size</key>
			<integer>4025</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/sdatabase.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>d45b6c03cb35bdc8cc124fbddf7777c97e795298446f934a1d9d339fff684771</string>
			<key>size</key>
			<integer>180276</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/sdatabase.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>00ea0eb54f8d4074ce6808416086ff61127c503c64aeda4fa0edd67e7534f3b6</string>
			<key>size</key>
			<integer>2096</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/sdraw.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>e1f7f2c2596ee4ceaaf99a90b009bb6acac95ffdae37ba0e5c4fe0fce0916d76</string>
			<key>size</key>
			<integer>916</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/sdraw.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>d200f5967a554294cc6f3f384fdd656767a41a1adeda7d24fdb88409efe03ebd</string>
			<key>size</key>
			<integer>868918</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/sdraw.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>8178d8256a6db7de5f81be946ade96ff1308c73852e2493ee3e6a3cd0ebb7afb</string>
			<key>size</key>
			<integer>749734</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/sdraw.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>ff744635d5ddf8cf241150633b7f16fdf7be461ba903fa44a216df7630478de7</string>
			<key>size</key>
			<integer>786726</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/sdraw.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/sdraw.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>356e218b283e8e460f1b88b5e787db0ca5f09c430feed7e331ac2a9a6fccec8a</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/sdraw.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>27b6cac1572b73afd66706a35c8929eccd513185fecdd647aa419c495406b58c</string>
			<key>size</key>
			<integer>126170</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/sdraw.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>d06ecfb5945a99759837069fff2b8529427fa8c35b929ae5bdc52b749266af24</string>
			<key>size</key>
			<integer>226829</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/sdraw.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>667be43cf5b87141e6d49ee0af9a37bafd39a9248c4561e450f62ea3da70176e</string>
			<key>size</key>
			<integer>7905</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/shared.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a5ebda52f78d86935ac555561eb72f4a24e009bad25ce721b4ed149c57e0d2f3</string>
			<key>size</key>
			<integer>3596273</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/shared.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>09023ebe576fdb673857409e5d5ab8e8a73356587aad7fe836f68b35f60eb746</string>
			<key>size</key>
			<integer>14916</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/simpress.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>e11a10400ba04f97f7e460b58fc6ce179d56a2d5b5f4d3d11ba21b1ebd9483d8</string>
			<key>size</key>
			<integer>925</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/simpress.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>783ef8ab5bb8793dd767c82d8756469ecb778c7dffa013de70e83492b961e1b4</string>
			<key>size</key>
			<integer>869287</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/simpress.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>8833eac317af6b290e702f9348e3a35ee9c1589eac65f23b60b4f2a12c5e2101</string>
			<key>size</key>
			<integer>751062</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/simpress.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>1eeb37f4c7aaea2a7e86f46a2274eeecc6982a99c3cb938af776b892d1b8d234</string>
			<key>size</key>
			<integer>791232</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/simpress.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/simpress.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>9afeb36952be62fb67ea5e2ee646428cd6c3223b5eb9edd0363e6e241e07affc</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/simpress.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>1e0c5cb554f9c359e9a3fa389f697696b869f7e51098890c3d661cf8cfd06fa7</string>
			<key>size</key>
			<integer>570058</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/simpress.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>1fbeba5d68000b09adef751fce49f7e9518aa180398a11496186e5b96b6368e3</string>
			<key>size</key>
			<integer>226829</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/simpress.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>7cd7e01afaaf1890bb2e0750e80fba8ea868d90c2735fb94b3ca7d5d40b0b1f9</string>
			<key>size</key>
			<integer>10994</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/smath.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>8382b33e3375235d777f54c5a17fe10abca15ac6531896c6a46bf3f7372d4d36</string>
			<key>size</key>
			<integer>916</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/smath.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>80610ef88ebad4b87153ddb657fd03a33b83ea7e056102b0d02fb3d0b760beb0</string>
			<key>size</key>
			<integer>744858</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/smath.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>4677f12461e08b03a2f46d7cd0276ec0541d06829db482eb6ba76660c05b10c2</string>
			<key>size</key>
			<integer>646971</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/smath.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>dca499a927ff9184fe298994b9e8b0417b1292df6e79fc6b947547b9b6d0bd78</string>
			<key>size</key>
			<integer>678253</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/smath.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/smath.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>91d60f6f44cca4bcf9a54ec26825ea3c2412a102a054fc667118ab1ff151c960</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/smath.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a97bbe83cd4cd877161bec7b860a32139b49a4fcd1d5fbbe3bb02d4a62b80a37</string>
			<key>size</key>
			<integer>346407</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/smath.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>d3587270ef0f2cda8cf6ad107dde07940090ae0d336321eacb087dc7ca58f275</string>
			<key>size</key>
			<integer>207245</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/smath.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>2423859f54da2655a66eb539e5afd1366d487dc295611d2bf1df1f0b05851a4a</string>
			<key>size</key>
			<integer>3207</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/swriter.cfg</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>47945f40331cc7c783dfd3e7df3ec6716f4bd35b59ed0c6939a903be852488b6</string>
			<key>size</key>
			<integer>922</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/swriter.db</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>26dbd485fb68414948de32000345bcf29571dc6b0bb4bd6f9bd9203c062c097c</string>
			<key>size</key>
			<integer>998839</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/swriter.ht</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a541326310c5891c223bef829eeee922366ac211b97ef665a8a31aa9dce7e09b</string>
			<key>size</key>
			<integer>852582</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/swriter.idxl/_0.cfs</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>97f6a95aca750f9f99615d684773f8bd5a339dc850cfb643c76462e61cf1b3c4</string>
			<key>size</key>
			<integer>925942</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/swriter.idxl/segments.gen</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a85dc4276747f5b0d095effc9bf32bbd8abe34ee86ecf97ae988f34200a45562</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/swriter.idxl/segments_3</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>14a91dcfa0df3d89b16f8e6812291d3639e28e5000696db0d2eeb7090c2a5281</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/swriter.jar</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>67ab5eb8d068559ec895ba8c16d1731ab0ebcb68d459d4ac3930766c5b68f2c1</string>
			<key>size</key>
			<integer>1410786</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/swriter.key</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>9bc1391fa5a8416bad8bb2b96d23d05811346f0eaf54ece3c2c1ff37a81d1770</string>
			<key>size</key>
			<integer>265770</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/help/de/swriter.tree</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>c08959dc3b7f08dca76a3f8c357811dec3563591f67b4e3f3da584edd9b87eb7</string>
			<key>size</key>
			<integer>18508</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/de/LC_MESSAGES/acc.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>58cd96d6a1074427a3d9372d1e72788bfb256a7a60599e94bcce7df680d2370a</string>
			<key>size</key>
			<integer>1464</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/de/LC_MESSAGES/avmedia.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>6892f1590f9f64de36c2f2ea1d4229be567ca92a6df7a7eda7404cf8335c3a11</string>
			<key>size</key>
			<integer>2152</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/de/LC_MESSAGES/basctl.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>7a2dde5998596362e385cf1f89d728697e3240220fa0641c2cfcec994e4d3ce9</string>
			<key>size</key>
			<integer>16369</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/de/LC_MESSAGES/chart.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>7b1641024c6186f7a83f600a9f0ea9e1498cb081dfe4e22fa763894e44df5bd3</string>
			<key>size</key>
			<integer>53022</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/de/LC_MESSAGES/cnr.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>c95aa36eb5ec919beae83ef2cf8b04e0a6a1d0045b6486890f4567b877615811</string>
			<key>size</key>
			<integer>19979</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/de/LC_MESSAGES/cui.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>733e072630b110653320bf96baeab636853ef67b242154193b55644199a64820</string>
			<key>size</key>
			<integer>275897</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/de/LC_MESSAGES/dba.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>728a46c91cc516f2528f829200a0d3c2f8ab610efec143f647275cec7a70a23a</string>
			<key>size</key>
			<integer>95630</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/de/LC_MESSAGES/dkt.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a11b156b9986dfeb6a170c02c9c6bd616dcfeed384d95157894b85c692f719ea</string>
			<key>size</key>
			<integer>27428</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/de/LC_MESSAGES/editeng.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>9a0a3062451f87677fb3a48d0030c0a33a1c12ab605dcd716f67bd773859317f</string>
			<key>size</key>
			<integer>24012</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/de/LC_MESSAGES/flt.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>c1f900ad29dc8651132c4acd0963380ef5aed146f8071e27299d4f52001b9dc4</string>
			<key>size</key>
			<integer>22584</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/de/LC_MESSAGES/for.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>18395e7396ade3ab2841438d0084f0974dd192bb0c5414dd5d6c7f78657605c6</string>
			<key>size</key>
			<integer>29414</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/de/LC_MESSAGES/fps.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a1a1ccd638f21c672bdd175fa6abcce1fd51444a269bd512897b6edd6851febd</string>
			<key>size</key>
			<integer>6545</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/de/LC_MESSAGES/frm.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>ee2af2f169631d393ce58f0ba1a0d3e525512d913fb46178fcbab638b05ff363</string>
			<key>size</key>
			<integer>7615</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/de/LC_MESSAGES/fwk.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>d58f70438581560139d73ba572efedfc0358602719aa119797f2f35b68f1839f</string>
			<key>size</key>
			<integer>5144</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/de/LC_MESSAGES/oox.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>dede47a9be434215b0a80b8ae771dd973194ea330aac46e08edae85d7efac3c9</string>
			<key>size</key>
			<integer>725</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/de/LC_MESSAGES/pcr.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>45aa91f2b0abe3e106cc379c351acbb1755190cd1e692d57ded3e6021338fd37</string>
			<key>size</key>
			<integer>61149</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/de/LC_MESSAGES/rpt.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a722deb0c9151b945e43e2a4694be4e52a9995301a62e747bb653ee1f67e8220</string>
			<key>size</key>
			<integer>20973</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/de/LC_MESSAGES/sb.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a73d10d772b704dbfcb53d1a609282db242d09801e5addfc297de354a3071330</string>
			<key>size</key>
			<integer>13968</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/de/LC_MESSAGES/sc.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>088f705c9c4e4038114b86ba44a386a5523a5f89e9bd8d1b2e59066d112cdd53</string>
			<key>size</key>
			<integer>477842</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/de/LC_MESSAGES/sca.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>b6aba328c904c18163fc93c6da04966ce0ea345db2c437ab8435c69b6049e445</string>
			<key>size</key>
			<integer>82012</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/de/LC_MESSAGES/scc.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>dfb104d77201843164643b2d9aee6dba2baa68d9e96514a88f284406e7f3d745</string>
			<key>size</key>
			<integer>2271</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/de/LC_MESSAGES/sd.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>6314fbfe90d73bad4d4860acdd6337237fe86258568bc4d8d7c9a19db066c796</string>
			<key>size</key>
			<integer>113128</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/de/LC_MESSAGES/sfx.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>21581c907b42d420b5efd0f473d8f9d7d2e8f4a3ee9b4195ed3cb9bbc9ee2b91</string>
			<key>size</key>
			<integer>65664</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/de/LC_MESSAGES/sm.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>ac2b4a8c879e289dc8d408d8c789e39d8cc88a033589a7237700814a48ff7fa6</string>
			<key>size</key>
			<integer>37388</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/de/LC_MESSAGES/svl.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>7efe93cfeb55fb63c719dba61aa61a826b0af725ceb705fa83c93fa6e0c7029d</string>
			<key>size</key>
			<integer>795</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/de/LC_MESSAGES/svt.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>6666fbe0cd2b0c00970c291ce9fd9e8a0fcda715bc71c5b847bf3a9a3c3fdf7d</string>
			<key>size</key>
			<integer>83449</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/de/LC_MESSAGES/svx.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>fc349650dec97957f392cae007c590e87b2e5fcf9b9fd160808926a71ebf924b</string>
			<key>size</key>
			<integer>247570</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/de/LC_MESSAGES/sw.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>a7f9762b86297d7f32981a761d2f505428e76686c6353985d0f1ba5929b34a6e</string>
			<key>size</key>
			<integer>283012</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/de/LC_MESSAGES/uui.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>f28c2cd1408586559da1f48e6a42af7890eef1d6c5b7a55f572c6a8ef254d8fb</string>
			<key>size</key>
			<integer>29091</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/de/LC_MESSAGES/vcl.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>58bec7c3241dfefed0b58106c04dd28ea0915e6018bb1bb715175f9dc65fefc5</string>
			<key>size</key>
			<integer>30484</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/de/LC_MESSAGES/wiz.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>4b9ca7f5ca0bba512b6cec4a5b9e66eef908d385b0daeccdeaee5f38025c2371</string>
			<key>size</key>
			<integer>28904</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/de/LC_MESSAGES/wpt.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>3c8b67482fc74043a25f6b31b7c256ba97ce562f349563454c276c4da6a30ca4</string>
			<key>size</key>
			<integer>2978</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/program/resource/de/LC_MESSAGES/xsc.mo</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>88ad3a428f22c20223a37917cadacff57da4543fd8aabb8f4491b6c0a7f70c96</string>
			<key>size</key>
			<integer>12087</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/readmes/README_de</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>ffe63c6c4bfcffa2e5b3b8ea110f32c547b093ae7a9f2d7b72804a15a8f71f1f</string>
			<key>size</key>
			<integer>18008</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/autotext/de/crdbus50.bau</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>7fd278ad25a2461530bf20aa26d80684eb089698e5eb96f55c7787671ca61b4f</string>
			<key>size</key>
			<integer>22470</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/autotext/de/standard.bau</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>5387e22065602de1723b26a34eb9c47f0db6474c0712c3f4c03d637ad2438ddd</string>
			<key>size</key>
			<integer>47798</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/autotext/de/template.bau</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>7141ec7b3aa9ce73903498ebbb50ab4636ad63de8406f59826bf9453a900ed2a</string>
			<key>size</key>
			<integer>53186</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/registry/Langpack-de.xcd</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>60a73209f55cce394a0f1438dec12f3a4a0188f08991b4047b0c87645d8040d8</string>
			<key>size</key>
			<integer>478</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/registry/res/fcfg_langpack_de.xcd</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>843fb7b3dd31f5e1a6268aa29aa0055d15c3b1d3fa2b35d8304cedf27f96143e</string>
			<key>size</key>
			<integer>28926</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreoffice/share/registry/res/registry_de.xcd</string>
			<key>mtime</key>
			<integer>1604440857</integer>
			<key>sha256</key>
			<string>5d57b49ae0ebd56dfae7234889764cd5a3612c1bcc5c1cea547087aaa9ecda16</string>
			<key>size</key>
			<integer>683332</integer>
		</dict>
	</array>
</dict>
</plist>
