<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/spellout</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>ed87ecb5004d8af29a72c4e59e1cd10ecb8003a0d019cb9af96ce453634e65fe</string>
			<key>size</key>
			<integer>167152</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnumbertext-1.0.so.0.0.0</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>8e6ba6ea38fd086dbbad86b8eb18fecfedb9989bcbbf09a0d1a62434170e6a6b</string>
			<key>size</key>
			<integer>356488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/Roman.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>ccbd1d9f021e98935aa8972b92db2395c81901ca5c30acca7b07e6029eecd560</string>
			<key>size</key>
			<integer>945</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/Suzhou.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>9ebe262cafc8e6b3e687dde24bec3fa6deec34db4a6803204e6e9e071d7d70d5</string>
			<key>size</key>
			<integer>536</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/af.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>34cc57cf69d45986cbc0aa88d056176942f7bf31e2541d53211a9e57930ce09e</string>
			<key>size</key>
			<integer>2187</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/bg.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>acdf6458de4ad62562ee0697ef572ee11e152184e8f303718ed4010045ea2fa1</string>
			<key>size</key>
			<integer>5683</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/ca.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>09aea3cd0f734a22fd8af85af2d6f6f4d4e1d9861b7e2b12880bc141e2ee7819</string>
			<key>size</key>
			<integer>7517</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/cs.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>eb224e849a849a669cfb00796ef1e4ad8306aa6056bc060dc983291e14d9ac8e</string>
			<key>size</key>
			<integer>3471</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/da.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>21af8e36172e20920f797f5cb3abb73ecd14e8a29a620b3ddeb3aa9ce89e9369</string>
			<key>size</key>
			<integer>2555</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/de.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>8e4fb98ef7ef55ddfce191b62e3f7348108482f0a7fd2050e915713af59d6f61</string>
			<key>size</key>
			<integer>2458</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/el.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>0db1a1a932a43de2fc4c7fd35324356e5d830987164da3eabbe4c3c91c32231a</string>
			<key>size</key>
			<integer>7534</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/en.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>911dc50566f5ec93e4e34e3addd894ec226be9af9539cb918599a93326e1597f</string>
			<key>size</key>
			<integer>7132</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/eo.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>d5c8f81020c52f1d450ba093a324de3ccc325b0dfac836d70effa3288936c391</string>
			<key>size</key>
			<integer>1665</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/es.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>3b49cbc8637ea3799dd45226f52a21376aeaa444455d09db7a7169aefc132b7e</string>
			<key>size</key>
			<integer>5567</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/et.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>3b4394702d9925722e0a4f075c26c8f53a7540965f4c3da9e893b8c0d365aaad</string>
			<key>size</key>
			<integer>3440</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/fi.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>b227d69102f17c1d34770a3619f40535ea22e88de3f81a68cf8eeb898c852eba</string>
			<key>size</key>
			<integer>5842</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/fr.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>ffffb343ec9f12dc3d60a96bfb56c27655a1ab71442a71f97d413f5274b884c2</string>
			<key>size</key>
			<integer>5346</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/ga.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>da83ce07de3ab2d0e2503927c59a3f25470de27dcc42e98b4241b4c89ef9604b</string>
			<key>size</key>
			<integer>814</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/gl.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>77e80927fd3b38cebdf4bd101bdc72c54f3a38529e8867aef9b50317ecd0852b</string>
			<key>size</key>
			<integer>5122</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/he.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>6d7756f1424d3541d121c30db0d9f6cbebbb3f79e425a9b6968fbf49e5276d5d</string>
			<key>size</key>
			<integer>6303</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/hr.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>dbd57741631ec8a3d5ac378a10260515731cb918d03fd96fb8667ff9815e3af7</string>
			<key>size</key>
			<integer>6248</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/hu.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>d82c0b737769c3524c2aade98025b2727e2b69d2175a194a9f0cef686da6c937</string>
			<key>size</key>
			<integer>11355</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/hu_Hung.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>cf6c536a7142ab623b96f6ff16a05d593ee3c4c74d0b99c7acfaadc53acac8a1</string>
			<key>size</key>
			<integer>4151</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/id.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>1934edda4a90693385094d768e82aeca5dc3f0708596b53a3a0b96c5a94258a9</string>
			<key>size</key>
			<integer>2966</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/is.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>90a5fce0e7a885d99e27be7c26661c755394fbd10a51b26db5159abbcf55427c</string>
			<key>size</key>
			<integer>3232</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/it.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>b9068a7d184d6107beda481a5cf9cffc2275dc0163a5e686e7358c373d9f152b</string>
			<key>size</key>
			<integer>2881</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/ja.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>7c69874a6df5c1d3cc23d12503de354fd5cfe8191d18bd3af3c1b3b2d9680580</string>
			<key>size</key>
			<integer>1855</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/ko.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>c754c850ea5b1adbacfd0a015a4c4a76706e620eef5d56b7e8ce069c30875852</string>
			<key>size</key>
			<integer>2518</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/lb.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>51fa9d93af2630787a27c727968d6850fc32579c9e347fabf2029799e34b7f32</string>
			<key>size</key>
			<integer>2528</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/lg.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>0c3e8cb5832f17edd29bb6e87fec6449f3763033da0c19172af9d49afb7ae28d</string>
			<key>size</key>
			<integer>1834</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/lt.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>a579cc6c447d07f21e69db1c91d2c3e9f82e54fcb56e22bb01c9234189aa8558</string>
			<key>size</key>
			<integer>9158</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/lv.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>6d2313b8d4d77b684e703ec55ad4887d0ac15e0824142203aeb818a4e1b311d9</string>
			<key>size</key>
			<integer>2890</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/mr.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>f36deb3cbd6bc5e4dd5205b23177a804f0eb77d290912923f10ca29488df837a</string>
			<key>size</key>
			<integer>25431</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/ms.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>4f48917f6ed8ecc4fce77b061af44dd06b9cc5e2ff2311820c7d17dcd92c8905</string>
			<key>size</key>
			<integer>2995</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/mt.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>31a1b41cc007e41704d7e88eb58a9293e7eccaeb3ba57cd333c9c666e1b29a02</string>
			<key>size</key>
			<integer>1552</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/nl.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>b635c56d64b620bba2abbc8f411fbf23ff7419c6a2d01c294f5c45ecc25224f5</string>
			<key>size</key>
			<integer>1914</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/no.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>473fa8ad5fc8aac3b774cfb25f81a71e0a9e4ff04aea626e4c8d0aaefac9ca7f</string>
			<key>size</key>
			<integer>2918</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/pl.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>271418e2fe3b4f5ff2ae4574dc58caf65d03cbeadf03230aa5ae0b73073cc622</string>
			<key>size</key>
			<integer>4248</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/pt.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>a795f7964df12b21f95b8782b89ad096dfc6e00ab71dfac9634858861dde2e2c</string>
			<key>size</key>
			<integer>5050</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/ro.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>84e9fb56856d4c4f5d8937fec2938a477fd4f760ed287c8a36d07faac3bfcc65</string>
			<key>size</key>
			<integer>3083</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/ru.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>f164acc99e2b7c5b597d72465de6a72e052c9ca2298a9ad7e92e2dac8b08a0b0</string>
			<key>size</key>
			<integer>8353</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/sh.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>69a42c9cef22dc6e51a525d5b5241b6d4a45e38584ea165349a691862baac93a</string>
			<key>size</key>
			<integer>2769</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/sl.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>3ce6211686fd7bececf03d8fd60f7062bc46bc3e2ac224471df39723d571c043</string>
			<key>size</key>
			<integer>3639</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/sq.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>c528c420c2b1acb1466ae830e459d0457e9113b5d9ce19436821f72e8a0f5e12</string>
			<key>size</key>
			<integer>1893</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/sr.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>36687b00db338fae421c162821c77495e85c87f759bc29de4988c252a1e6583b</string>
			<key>size</key>
			<integer>3286</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/sv.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>6d8db047ba58f339f658fe462e159938fd0f84106bc59080d57a40416687fc9a</string>
			<key>size</key>
			<integer>3564</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/th.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>3420020ee739778e5d1cc7e44d84bef90fed0664a38885d0c7ae23b51ec062e7</string>
			<key>size</key>
			<integer>1202</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/tr.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>3b64d69f6620357d075e13ea8e84ba589e0a31b55742ba1c975343c25d733b72</string>
			<key>size</key>
			<integer>5480</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/uk.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>22084c0bf630bd8e3ba15518e643a0cad98d8747bc7b765c87be6bc3e9c3192d</string>
			<key>size</key>
			<integer>6810</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/vi.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>4e7be10bdf86222fd45d2a25ee40718d61b26e884722efeef1f90e3735b73e4f</string>
			<key>size</key>
			<integer>818</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libnumbertext/zh.sor</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>sha256</key>
			<string>bb2632cf8994502106df33ee7a21d35ce8bd973b42672ff6862593a18cab4dab</string>
			<key>size</key>
			<integer>3852</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnumbertext-1.0.so.0</string>
			<key>mtime</key>
			<integer>1612211061</integer>
			<key>target</key>
			<string>/usr/lib/libnumbertext-1.0.so.0.0.0</string>
		</dict>
	</array>
</dict>
</plist>
