<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libsndio</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libsndio.so.7.1</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>sha256</key>
			<string>53fca520ea09f2f665bba69dc5148d87f5d95f82388c04527e015305f8be1a5c</string>
			<key>size</key>
			<integer>72040</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libsndio/LICENSE</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>sha256</key>
			<string>18cbca76f73075a474d2beb344fd41a6395428d5a6b92724460068c0bef03264</string>
			<key>size</key>
			<integer>791</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libsndio.so.7</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>target</key>
			<string>/usr/lib/libsndio.so.7.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libsndio.so.7.0</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>target</key>
			<string>/usr/lib/libsndio.so.7</string>
		</dict>
	</array>
</dict>
</plist>
