<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/ICE</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libICE</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libICE</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/ICE/ICE.h</string>
			<key>mtime</key>
			<integer>1566838114</integer>
			<key>sha256</key>
			<string>02c40f49cc04745ad83619036d8f8356f5933975c54c7a38d090bc21343d39fb</string>
			<key>size</key>
			<integer>2512</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/ICE/ICEconn.h</string>
			<key>mtime</key>
			<integer>1566838114</integer>
			<key>sha256</key>
			<string>1d6dd9e045cbe8abcfa0ee67dd563b05a89c287f6e7daa8206637b0d15c09727</string>
			<key>size</key>
			<integer>7413</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/ICE/ICElib.h</string>
			<key>mtime</key>
			<integer>1566838114</integer>
			<key>sha256</key>
			<string>23a5b0fd150903821238902d2f92eaab117e45745b0fbeebdfdca803a74b59fe</string>
			<key>size</key>
			<integer>9925</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/ICE/ICEmsg.h</string>
			<key>mtime</key>
			<integer>1566838114</integer>
			<key>sha256</key>
			<string>fce34a6d9cc9b7f78405051b78085c86e69d23c0945036ea42e38d4adc9274b1</string>
			<key>size</key>
			<integer>8206</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/ICE/ICEproto.h</string>
			<key>mtime</key>
			<integer>1566838114</integer>
			<key>sha256</key>
			<string>62ac0703108f067f3160f875fea16e7f231f3c52de69b569a2b0d1f888840be7</string>
			<key>size</key>
			<integer>4604</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/ICE/ICEutil.h</string>
			<key>mtime</key>
			<integer>1566838114</integer>
			<key>sha256</key>
			<string>3d85cac1f1787953813dc38f3be72ba099581d2cfefa9f335819777bd22b7d9d</string>
			<key>size</key>
			<integer>3154</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libICE.a</string>
			<key>mtime</key>
			<integer>1566838114</integer>
			<key>sha256</key>
			<string>0318561212e85c0c18895895e02082a47366d8d5aaa0034362ed388eff3717eb</string>
			<key>size</key>
			<integer>167102</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/ice.pc</string>
			<key>mtime</key>
			<integer>1566838114</integer>
			<key>sha256</key>
			<string>acfeb278235d33acd8884062794f69f202cc8d6e04b29eff5234d772f992c221</string>
			<key>size</key>
			<integer>226</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libICE/ICElib.xml</string>
			<key>mtime</key>
			<integer>1566838114</integer>
			<key>sha256</key>
			<string>d3b410b9e0163d56813ceb9bcd29db88a84e3175fdaf8990ce8d6043c45b45f0</string>
			<key>size</key>
			<integer>148348</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libICE/ice.xml</string>
			<key>mtime</key>
			<integer>1566838114</integer>
			<key>sha256</key>
			<string>4d18ca07fdf7dfff3d1f7c80f7952bccbde7f89f3ccc1d7d724d68968fda9d30</string>
			<key>size</key>
			<integer>83230</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libICE/COPYING</string>
			<key>mtime</key>
			<integer>1566838114</integer>
			<key>sha256</key>
			<string>60105b7ea93cb07a67fee8443b092b727e3db7f0dff4fbe05bc6cd7747fb53c8</string>
			<key>size</key>
			<integer>1169</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libICE.so</string>
			<key>mtime</key>
			<integer>1566838114</integer>
			<key>target</key>
			<string>/usr/lib/libICE.so.6.3.0</string>
		</dict>
	</array>
</dict>
</plist>
