<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/mpg123</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libmpg123.so.0.45.3</string>
			<key>mtime</key>
			<integer>1608959940</integer>
			<key>sha256</key>
			<string>2b835266c1ba7cb38a5247d933cff182ce0afe66766260e3068cb8763619a478</string>
			<key>size</key>
			<integer>236912</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libout123.so.0.3.0</string>
			<key>mtime</key>
			<integer>1608959940</integer>
			<key>sha256</key>
			<string>561bf38951a35c39b6b5fcde1c82ef28e7c9ba364f4510266e6b869362d48451</string>
			<key>size</key>
			<integer>59376</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libsyn123.so.0.1.1</string>
			<key>mtime</key>
			<integer>1608959940</integer>
			<key>sha256</key>
			<string>bea1558f05178fb16ecb2dabb46b08b0ebe94b7e00a2b1d895190859be147362</string>
			<key>size</key>
			<integer>92176</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/mpg123/output_alsa.so</string>
			<key>mtime</key>
			<integer>1608959940</integer>
			<key>sha256</key>
			<string>e15fe115de723ea15a91b629b6da517d193b028ea4268140d14cba60cde1ba93</string>
			<key>size</key>
			<integer>14304</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/mpg123/output_dummy.so</string>
			<key>mtime</key>
			<integer>1608959940</integer>
			<key>sha256</key>
			<string>30babb42575931850bd7325f4231fdb8b41b6acaa2dcfa61a9f58e4d2e9bd43c</string>
			<key>size</key>
			<integer>14304</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/mpg123/output_oss.so</string>
			<key>mtime</key>
			<integer>1608959940</integer>
			<key>sha256</key>
			<string>693d5740856d7113ba83d25ec93188b232a85553736ad1cd8ec4047dba73648c</string>
			<key>size</key>
			<integer>14304</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libmpg123.so.0</string>
			<key>mtime</key>
			<integer>1608959940</integer>
			<key>target</key>
			<string>/usr/lib/libmpg123.so.0.45.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libout123.so.0</string>
			<key>mtime</key>
			<integer>1608959940</integer>
			<key>target</key>
			<string>/usr/lib/libout123.so.0.3.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libsyn123.so.0</string>
			<key>mtime</key>
			<integer>1608959940</integer>
			<key>target</key>
			<string>/usr/lib/libsyn123.so.0.1.1</string>
		</dict>
	</array>
</dict>
</plist>
