<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gir-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libmypaint</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/br</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/br/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/csb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/csb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/dz</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/dz/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_CA</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_CA/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fy</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fy/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kab</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kab/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mai</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mai/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn_NO</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn_NO/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sc/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/se</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/se/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uz</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uz/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/MyPaint-1.5.typelib</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>32914dc49cb9bd403ea89ec582c8aa509c8c54915a94e5924f39a507b788eeb1</string>
			<key>size</key>
			<integer>19228</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libmypaint-1.5.so.1.0.1</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>3f75f1b935a9d2108d8eab2fd29a589337bcbc37c0ae2dccb4261012626104dd</string>
			<key>size</key>
			<integer>120088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gir-1.0/MyPaint-1.5.gir</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>50db4d10efb5fbfdf7ceefbf42043896194efae4266371675d9b5759ec045823</string>
			<key>size</key>
			<integer>107474</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libmypaint/COPYING</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>1246cef097bd4b57ad0fb1127cf131af7aeb06e0c00a6aff5dd5b7603303b149</string>
			<key>size</key>
			<integer>792</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>bbd08838943a62881eea7dd1d6a512187e6cb1722e18a8bdac9731762e1808a8</string>
			<key>size</key>
			<integer>533</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>434152939544a3cd31b928181ecdcfbe9f1a549bcca03fe1289ecba518c94060</string>
			<key>size</key>
			<integer>14380</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>d6dad6db361227ef1f3fbf9a407b36fe68b585e6c18eae6c5588639876d6328e</string>
			<key>size</key>
			<integer>503</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>80d197491255bccfd5601f03b85692eb9ff0a986e566b6e7364fe5305da0e0ee</string>
			<key>size</key>
			<integer>540</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>084c71b9b3a49ce3a1cd7572075cc291fc5db9a880a1a643fd900bda564868f1</string>
			<key>size</key>
			<integer>536</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>78423932f1f23ab606329c24fd1d61a1aa50d518196b030aae62cf8bc0f04c3f</string>
			<key>size</key>
			<integer>673</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>f4a256bab61f1d8f15e8aba1c0bee16ffcf936c35876f54079d081c64cd71858</string>
			<key>size</key>
			<integer>700</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>1bef94184f6cb536612d03852c5335054bfcff238c67312974660d69456f3ed1</string>
			<key>size</key>
			<integer>562</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/br/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>21bc48b01ea8607e3028510b0efd1f4c0d38f63b06e4a920bb69af4850e7b1a5</string>
			<key>size</key>
			<integer>865</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>81f903fd7c54197857c1a85e17f68f532bbbf13b2b3dd70db31c2071e4daf7ca</string>
			<key>size</key>
			<integer>619</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>2dc701e6dcb01cec5c1b36f7ff2706f443541da62617dff416b8b01fb1b7ddfd</string>
			<key>size</key>
			<integer>23284</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>016c71a7ff61adbbc82cb0612778282ea05d3c33dcea68d05c638aaf1f0cdcb4</string>
			<key>size</key>
			<integer>22234</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>2f4c7387c99f2b1ad6973d30e0d785c4da41625aba819c3b3ab1d425988f99da</string>
			<key>size</key>
			<integer>33093</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/csb/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>0c3236fb314d60841b8f3a6286cdb0fdbb8f96247e7b451b7b71010ce5c13713</string>
			<key>size</key>
			<integer>559</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>5972a705040c1db538ea6e1616d2d1a279d03ef1f07b8cb92ac52c9bb18fec11</string>
			<key>size</key>
			<integer>14654</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>3314cfd31f39e5c1e88a7415c6f291e270c4e57af2c1312f77f941be45539d25</string>
			<key>size</key>
			<integer>23104</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/dz/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>1a9340e7034a1c19c4089fa6314659e27d25f75e97c42b0f557e2394dc56f74b</string>
			<key>size</key>
			<integer>568</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>3a929768310e5351dc9176c86186d1e69cecd63f047129e7c6621c915cbf09ca</string>
			<key>size</key>
			<integer>4133</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_CA/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>4904cec259dd3149946fbca53c364c445e7934e75f2dd91052a67621ac97eb26</string>
			<key>size</key>
			<integer>5148</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>efc3b73d144cfda60ae22bcca92a193c9b2ec64e189fa1e9043bc20b634d7f30</string>
			<key>size</key>
			<integer>20848</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>d99b27a9934f8251dd5aae918f0022f1dbff41e241f80a42620214c200fcce05</string>
			<key>size</key>
			<integer>603</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>6f4fe3a0c33b00c672f8d880d111d64302bf2b72d3674f4b2c6d78e40e27265a</string>
			<key>size</key>
			<integer>22306</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>186a8464e1b6738b254d3c180dd7dffd5434fd6fb8e82f534a51183c389a078d</string>
			<key>size</key>
			<integer>609</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>4e244d52a57079b00f3adb399c1cac8e820b200f9925303dc789011be68e34fe</string>
			<key>size</key>
			<integer>573</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>756c7a41b82b88a7e24340988d85350b56f3b20042dc1540cbc8f3fbfa47a7ff</string>
			<key>size</key>
			<integer>2358</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>3b79efc7a512c06b34da0a6cec960c4e671e90d1d10b37a58440f32c29b90077</string>
			<key>size</key>
			<integer>20918</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>fa044ac60f9013bedd0aaec4e7ef67eabd8b95e4214a8643c5b19c0d9a92250c</string>
			<key>size</key>
			<integer>23356</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fy/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>f2b1c2e171a1297120125446ec5c27ec95c032792a34eec3a945cc6a291660ca</string>
			<key>size</key>
			<integer>498</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>7fb8e7edf260d802f6959f55ae4b710f93439c136f9a805a54c70580971639bb</string>
			<key>size</key>
			<integer>658</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>44ba1d9d6ddb5f1f57931f12e7cf1d99f93df3ae652137c9148c4e3a6d76c026</string>
			<key>size</key>
			<integer>13752</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>e42c253b6a564f0567aad82468c25ed344f50dabddd642ec663e7e14a4d4ca06</string>
			<key>size</key>
			<integer>589</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>8c48b28adc864b8771a5c6fbaefa1466ffa412be170916b710cbce7b842dd54e</string>
			<key>size</key>
			<integer>1097</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>54799c4e1cc003e63c538537389503a440d5ccb21a1bda9c2b2b53bf660cc4d4</string>
			<key>size</key>
			<integer>590</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>7650a3372d443a1fc2567b4dbeb6b6cb993333e7320397dbb2ca3a1abe5ad326</string>
			<key>size</key>
			<integer>12734</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>ac02f070fe793944e8a814c75caa3bac01879cc52dfd7898b105ba19521156b6</string>
			<key>size</key>
			<integer>18280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>2bc33857662f604e7f43cad3e99bd6a65d66c6e17f122365c8af90d79d33485e</string>
			<key>size</key>
			<integer>321</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>d36b5a3e5188ddf0dfa16104fef82cc62a25cb4d16f97e7a0f405f8756a96c63</string>
			<key>size</key>
			<integer>19688</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>53d8d8cc475de185ab6349c9a9ba926d5f3cb881a3554473af0ef07fe954a076</string>
			<key>size</key>
			<integer>2797</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>cd51694027c644b58fe45aebdf4ef7fd0fd86e1aee0e484af60c21f06d95e5f2</string>
			<key>size</key>
			<integer>22927</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>0ce732b7a7e50e33383ffcdec106d5c394d47b642a1c7f41da2eaa615b088926</string>
			<key>size</key>
			<integer>25162</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>745b12bba0bcb781816a94c520a655ac0ec97984fd5ec26126c0c1a97d7a58f4</string>
			<key>size</key>
			<integer>528</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kab/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>ca87fe5d5398365c00ee39b570c9f9837d190837118800d265dbb32ae7e54a5a</string>
			<key>size</key>
			<integer>545</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>7ce3e24557bdf01bb558b3b364dfe669c8fc8df20217788d80b64a66cebc633c</string>
			<key>size</key>
			<integer>557</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>1aa9e1ff0743c1e2454a9e8eca258345616265a10c42ec384413a8a6c7336ef8</string>
			<key>size</key>
			<integer>553</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>fe24603f7270145c853ea702f49106b6b1f84f833a1c2359c95a8e197eb6f60e</string>
			<key>size</key>
			<integer>33277</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>0a3cf8e637049ad6e1a73ffaa0b801f4b68b29220d826e78ab71021a9d10749a</string>
			<key>size</key>
			<integer>694</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>88657158862c1eab988cafb4d01ca22f1017f8b9d3dacd6dc0471bb2d5918e40</string>
			<key>size</key>
			<integer>700</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mai/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>211c7fbeccda5811d08d233b5a00cc5bc2a50aaf7cf458f381bb3a903c1aa82f</string>
			<key>size</key>
			<integer>554</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mn/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>b494206c367beb277cd2a789642ab220026c6bebc1724df0eab428b3088121dc</string>
			<key>size</key>
			<integer>565</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>483a889be8e0ba3030748b789909f78bd306985d8c2398c2beb98249a355aaa3</string>
			<key>size</key>
			<integer>3754</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>71f5f936a453c5fbe48e202bf8554b1e766460e9c766487b516e5277ef8e8ac5</string>
			<key>size</key>
			<integer>12990</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>dd1052834692cb9b625f9dff9bcedb7636953f15d76ac241d2f36f28470540bc</string>
			<key>size</key>
			<integer>3351</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>2dae9be2517381e918c4865cd342e0c38e7d597d4bbbc44294b99ac8b7c9e3a5</string>
			<key>size</key>
			<integer>22007</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn_NO/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>08fb0a0682e322bc3a3f0be7a6395c15b10ce0543f960ac9563ceb26f7a76cbe</string>
			<key>size</key>
			<integer>12257</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>e3a6db064490148f6f523270b0e9fc4ad9828c3467cb074eb8351c7ea4bead35</string>
			<key>size</key>
			<integer>538</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>12d014e631eb37cefefe137272596c879ff683805aa0d25d54788a09ce90c1ff</string>
			<key>size</key>
			<integer>580</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>ab75212a2f684683c05bc2f0c4c2f076d1114ca9ca74756fdcde68c63fc8127c</string>
			<key>size</key>
			<integer>22359</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>5bbd6f3a1a253e154f6772aa916283cd38df70804d7330b0c2e356998b1830f1</string>
			<key>size</key>
			<integer>22326</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>c4cf3d3a0d0814a05086750e65cf6427b8b65019ba6f57218e7db4d8f3c7ae89</string>
			<key>size</key>
			<integer>22278</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>8e92d246649d60334440c1d4be50d679275232d05ecc3b6daff2a841e6af71ed</string>
			<key>size</key>
			<integer>20014</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>964e882958fb75a69fe9f78f96928697ab993e19d5641391a643e24d814216ad</string>
			<key>size</key>
			<integer>29533</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sc/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>f573e7e911c70ecce9f9d6b4602fcd9d4e280114a6b133962f19b68cc45f57f9</string>
			<key>size</key>
			<integer>7209</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/se/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>9b05fec002cecc8f876ce7066aa9194f64f73809697c7ff35bc9b8dc04b67165</string>
			<key>size</key>
			<integer>564</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>88034ca35dfe28487ce7374a7e8612c6bf63e9c1bc2979e7e98ff9a3de004bfd</string>
			<key>size</key>
			<integer>32703</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>b79c12424c274ab8b78c7f817aa66b41fb4e38d806edc2a337130509d185a02a</string>
			<key>size</key>
			<integer>4730</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>51037a8c46b1887854ddbb923d9d8d57d2a47860fa7bbd6d3288ff028e4785b9</string>
			<key>size</key>
			<integer>542</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>f6c433bad2f28dbc9690bfe7bf2ac3ac577d5cd5d37884dab6c3c1d4988fa1b7</string>
			<key>size</key>
			<integer>788</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>07b4c4e0f24bf4c0159e5ef0d7cbe65db2fa1373084b803dd3b63019d8a3001b</string>
			<key>size</key>
			<integer>654</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>7cbb3dbf3565cad34c90e87d785c199f0f86b460d65fa25b102b86c31c4c102b</string>
			<key>size</key>
			<integer>32986</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>ea6f212c0f4c60816f130ee348ff685c3f53dd425c20bee8cb303452cd1077cd</string>
			<key>size</key>
			<integer>606</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>87c491638dc93cca4b1e9562e88ed9cc0f0fe4b6ec40a4ab583bc98dba07f064</string>
			<key>size</key>
			<integer>763</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>ee3c40b274c14d389e32b272735e9ace011f944b20c486598bfe690480aa03b1</string>
			<key>size</key>
			<integer>540</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>1c7128956f20f85a4864f8dec1df226a0235ed908e5370c9f4aedb5b11c5de65</string>
			<key>size</key>
			<integer>20793</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>fbd252a83dc0d8b8c3023e44aecd486b677530e7c1a02417147fbdf3f47981f2</string>
			<key>size</key>
			<integer>6760</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>0e1519888c64024879ab99935422371d564974095db7eaa97e419fd3b40529a2</string>
			<key>size</key>
			<integer>31847</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uz/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>85d94fce2e1375f9738006b52b6dafb0ba7a912d72f7e5d8cf533c84c515bf0f</string>
			<key>size</key>
			<integer>495</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>f133114c9f09ea9d14508684e94b6eac5e3b7810421bfadf6d9a62ad692f7d09</string>
			<key>size</key>
			<integer>13949</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wa/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>09a29e42f3fe985d2589ed110de601620062d7fed9555e02e3a0ff701132e0f2</string>
			<key>size</key>
			<integer>543</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>47a0a269a5dd35140d5ba52510737c3d858c9d7b1228f9f8f7222606ae52a5ed</string>
			<key>size</key>
			<integer>20107</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>34fb92deb7883332bada13dec456590dfc13ce16d0e2fde2a787c45c00423f8d</string>
			<key>size</key>
			<integer>551</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/libmypaint.mo</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>sha256</key>
			<string>58b4af3a52f1e75e3c5d21219dca2f08c0c8fdb192cb3f9e82616833504c116f</string>
			<key>size</key>
			<integer>20185</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libmypaint-1.5.so.1</string>
			<key>mtime</key>
			<integer>1591217378</integer>
			<key>target</key>
			<string>/usr/lib/libmypaint-1.5.so.1.0.1</string>
		</dict>
	</array>
</dict>
</plist>
