<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/xshmfence.h</string>
			<key>mtime</key>
			<integer>1532093697</integer>
			<key>sha256</key>
			<string>7f22ca70a677ad82908a5ef7d72aea7ea533c83c866a2bb0ea1a3de9e164db48</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libxshmfence.a</string>
			<key>mtime</key>
			<integer>1532093697</integer>
			<key>sha256</key>
			<string>57a27b38350e2c7764a1dbff665ab7b649caab4c64c76dab0f5f2df3d660b993</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/xshmfence.pc</string>
			<key>mtime</key>
			<integer>1532093697</integer>
			<key>sha256</key>
			<string>6da7723fd80f90e19b4714ea8f09bde08a6250d7d44763c7975ac7f830f95ab7</string>
			<key>type</key>
			<string>files</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libxshmfence.so</string>
			<key>mtime</key>
			<integer>1532093697</integer>
			<key>target</key>
			<string>/usr/lib/libxshmfence.so.1.0.0</string>
			<key>type</key>
			<string>links</string>
		</dict>
	</array>
</dict>
</plist>
