<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libzip</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/zipcmp</string>
			<key>mtime</key>
			<integer>1601391343</integer>
			<key>sha256</key>
			<string>93ed271cc2d310f8e056fc541456de523a6d2655880686fe5b29d348b009663a</string>
			<key>size</key>
			<integer>23176</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/zipmerge</string>
			<key>mtime</key>
			<integer>1601391343</integer>
			<key>sha256</key>
			<string>a8723f245d79aaf2357752d4aef06b66d80e08ab78bac4c3399da9dd2c922a75</string>
			<key>size</key>
			<integer>14992</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ziptool</string>
			<key>mtime</key>
			<integer>1601391343</integer>
			<key>sha256</key>
			<string>b4c8e1ef9a393115e5833abe95b7d2eb47b8623781eb1714e83587d68330a703</string>
			<key>size</key>
			<integer>40152</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libzip.so.5.3</string>
			<key>mtime</key>
			<integer>1601391343</integer>
			<key>sha256</key>
			<string>d2f36e21cda1c4d2230cea797ba763e4afc3276fbcdb189b0b6cc0b6bb312a1b</string>
			<key>size</key>
			<integer>125736</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libzip/LICENSE</string>
			<key>mtime</key>
			<integer>1601391343</integer>
			<key>sha256</key>
			<string>deae392de70503672793ee784d603bfa8069dcd5974a325dfbf91160f3a147d6</string>
			<key>size</key>
			<integer>1452</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/zipcmp.1</string>
			<key>mtime</key>
			<integer>1601391343</integer>
			<key>sha256</key>
			<string>94209c1bf60a676a95c1e880c03fca23d87f1b1fdecbf354696b1d025c060dd2</string>
			<key>size</key>
			<integer>2925</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/zipmerge.1</string>
			<key>mtime</key>
			<integer>1601391343</integer>
			<key>sha256</key>
			<string>8242e2632e5f25eb4852ecab2cf4a80f4ce5b2a2c5a5e30da5d0462ece8b31d2</string>
			<key>size</key>
			<integer>2954</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ziptool.1</string>
			<key>mtime</key>
			<integer>1601391343</integer>
			<key>sha256</key>
			<string>fd6a46928bade91cac99021483a494c905b3694f6971d1b5ac655a61959367ad</string>
			<key>size</key>
			<integer>7486</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libzip.so.5</string>
			<key>mtime</key>
			<integer>1601391343</integer>
			<key>target</key>
			<string>/usr/lib/libzip.so.5.3</string>
		</dict>
	</array>
</dict>
</plist>
