<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libdrm</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libdrm</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdrm.so.2.4.0</string>
			<key>mtime</key>
			<integer>1604691353</integer>
			<key>sha256</key>
			<string>45d77011571e21db9f76ebbdec4d4efeaf4eb0281ed0849b1d17fae6447e6b2c</string>
			<key>size</key>
			<integer>75752</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdrm_amdgpu.so.1.0.0</string>
			<key>mtime</key>
			<integer>1604691353</integer>
			<key>sha256</key>
			<string>7419c42fdc540cbd32494bd7ab02123069f76372075c04d3de53c6f22983d1d8</string>
			<key>size</key>
			<integer>42912</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdrm_intel.so.1.0.0</string>
			<key>mtime</key>
			<integer>1604691353</integer>
			<key>sha256</key>
			<string>1a5c0561904c44c3c6c58b6fc6435371136a6b51d51797ae0a808f83f970b5e9</string>
			<key>size</key>
			<integer>146808</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdrm_nouveau.so.2.0.0</string>
			<key>mtime</key>
			<integer>1604691353</integer>
			<key>sha256</key>
			<string>7e03ad099a11067b7fc99857dcd4ad52eef42f4c662a987dd7c7b752ca56cca8</string>
			<key>size</key>
			<integer>34720</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdrm_radeon.so.1.0.1</string>
			<key>mtime</key>
			<integer>1604691353</integer>
			<key>sha256</key>
			<string>9954105e597d8fe1a4a96bcea4d167182de5521ddace67de22560c447ad1a4ce</string>
			<key>size</key>
			<integer>55280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libkms.so.1.0.0</string>
			<key>mtime</key>
			<integer>1604691353</integer>
			<key>sha256</key>
			<string>fe164cf637404ed63f94c2408ec471fc3806c5fcf23fb9accd6e3dbc20707b52</string>
			<key>size</key>
			<integer>18328</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/libdrm/amdgpu.ids</string>
			<key>mtime</key>
			<integer>1604691353</integer>
			<key>sha256</key>
			<string>f3aa5cd1f5ac071ae24e5f6d9fb8d060740ac62a56d01aca3fafd35362b059f7</string>
			<key>size</key>
			<integer>10082</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libdrm/LICENSE</string>
			<key>mtime</key>
			<integer>1604691353</integer>
			<key>sha256</key>
			<string>1689a22e090fd8b8c67103dea304e0f170dbf4261492be8c9d20abad938f11dc</string>
			<key>size</key>
			<integer>1087</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdrm.so.2</string>
			<key>mtime</key>
			<integer>1604691353</integer>
			<key>target</key>
			<string>/usr/lib/libdrm.so.2.4.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdrm_amdgpu.so.1</string>
			<key>mtime</key>
			<integer>1604691353</integer>
			<key>target</key>
			<string>/usr/lib/libdrm_amdgpu.so.1.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdrm_intel.so.1</string>
			<key>mtime</key>
			<integer>1604691353</integer>
			<key>target</key>
			<string>/usr/lib/libdrm_intel.so.1.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdrm_nouveau.so.2</string>
			<key>mtime</key>
			<integer>1604691353</integer>
			<key>target</key>
			<string>/usr/lib/libdrm_nouveau.so.2.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdrm_radeon.so.1</string>
			<key>mtime</key>
			<integer>1604691353</integer>
			<key>target</key>
			<string>/usr/lib/libdrm_radeon.so.1.0.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libkms.so.1</string>
			<key>mtime</key>
			<integer>1604691353</integer>
			<key>target</key>
			<string>/usr/lib/libkms.so.1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
