<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/wireshark</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/wireshark/extcap</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/wireshark/plugins</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/wireshark/plugins/3.4</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/wireshark/plugins/3.4/codecs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/wireshark/plugins/3.4/epan</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/wireshark/plugins/3.4/wiretap</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libwireshark.so.14.0.2</string>
			<key>mtime</key>
			<integer>1608906356</integer>
			<key>sha256</key>
			<string>dd4eedfe0c4154f8d5b5240697c9ad9d3e878773f0d43d5a1b8c31795e308156</string>
			<key>size</key>
			<integer>96849968</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libwiretap.so.11.0.2</string>
			<key>mtime</key>
			<integer>1608906356</integer>
			<key>sha256</key>
			<string>705db928f0257bce62c4de32c13e3a801aa665024f335318d9094bd239b59fc1</string>
			<key>size</key>
			<integer>523360</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libwsutil.so.12.0.0</string>
			<key>mtime</key>
			<integer>1608906356</integer>
			<key>sha256</key>
			<string>d2119985e21d2970450c35ced0e5e8c05e0dd51458a9edcf4c88a092ddd3620d</string>
			<key>size</key>
			<integer>125200</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/wireshark/extcap/androiddump</string>
			<key>mtime</key>
			<integer>1608906356</integer>
			<key>sha256</key>
			<string>f6c7efde1c72b8aa3f64cbcbce9cc86e7f2f4545b8a5d894214e5875dc772343</string>
			<key>size</key>
			<integer>60240</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/wireshark/extcap/ciscodump</string>
			<key>mtime</key>
			<integer>1608906356</integer>
			<key>sha256</key>
			<string>35b38dd93f1afb350f103bfcda6749ec360cca34ccd21cd3bdddf3b57a1daa32</string>
			<key>size</key>
			<integer>39720</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/wireshark/extcap/dpauxmon</string>
			<key>mtime</key>
			<integer>1608906356</integer>
			<key>sha256</key>
			<string>4cf96552c284bd7bd8f63ae258abc1cda4c101385423c22d48f19c2f388eb3da</string>
			<key>size</key>
			<integer>35496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/wireshark/extcap/randpktdump</string>
			<key>mtime</key>
			<integer>1608906356</integer>
			<key>sha256</key>
			<string>fe5f9df541902eba1b276616408de10a624966852e614e7a847fdb6d146d15ba</string>
			<key>size</key>
			<integer>38296</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/wireshark/extcap/sshdump</string>
			<key>mtime</key>
			<integer>1608906356</integer>
			<key>sha256</key>
			<string>d8f69cae505af1fd8cb7d2b044fb31881d118a1a3079d4cc3bfc1cd51c6c4e7b</string>
			<key>size</key>
			<integer>35712</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/wireshark/extcap/udpdump</string>
			<key>mtime</key>
			<integer>1608906356</integer>
			<key>sha256</key>
			<string>5759e1491db6ee86d84f8da3920aa6c514d26f28d00ba61da5a72bd575461ec3</string>
			<key>size</key>
			<integer>31264</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/wireshark/plugins/3.4/codecs/g711.so</string>
			<key>mtime</key>
			<integer>1608906356</integer>
			<key>sha256</key>
			<string>e169ceeff03b988eacc0a3984e75c09ea7df0a4623686b9d3e56e4443299f27b</string>
			<key>size</key>
			<integer>14072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/wireshark/plugins/3.4/codecs/g722.so</string>
			<key>mtime</key>
			<integer>1608906356</integer>
			<key>sha256</key>
			<string>a4fb91e66054828ece88a3182c8b30a9baa04c3ba21841b554b0f443a179e6ba</string>
			<key>size</key>
			<integer>14072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/wireshark/plugins/3.4/codecs/g726.so</string>
			<key>mtime</key>
			<integer>1608906356</integer>
			<key>sha256</key>
			<string>763319b0b2edfe73858a9cc64a24efd91e95452219217f20a485b78587e0f9cf</string>
			<key>size</key>
			<integer>14072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/wireshark/plugins/3.4/codecs/l16mono.so</string>
			<key>mtime</key>
			<integer>1608906356</integer>
			<key>sha256</key>
			<string>13d548034842b3fa4ad9dc13ef69cd1eba5889273c869d7254fe84667d048635</string>
			<key>size</key>
			<integer>14072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/wireshark/plugins/3.4/codecs/sbc.so</string>
			<key>mtime</key>
			<integer>1608906356</integer>
			<key>sha256</key>
			<string>4e60970abf3c31a03be238937acf7327609179bddaf01fdcae03daac0d8a59a3</string>
			<key>size</key>
			<integer>14224</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/wireshark/plugins/3.4/epan/ethercat.so</string>
			<key>mtime</key>
			<integer>1608906356</integer>
			<key>sha256</key>
			<string>8de0ecabf676ed0b1e1881c98d500392a0671443b6e7ba34156940f533016959</string>
			<key>size</key>
			<integer>230344</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/wireshark/plugins/3.4/epan/gryphon.so</string>
			<key>mtime</key>
			<integer>1608906356</integer>
			<key>sha256</key>
			<string>bc14b512466fa725dfe4e872ce4154b6c4b29b83f850c77405a4fdb03cd19f8d</string>
			<key>size</key>
			<integer>150136</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/wireshark/plugins/3.4/epan/irda.so</string>
			<key>mtime</key>
			<integer>1608906356</integer>
			<key>sha256</key>
			<string>e0df7f66a5bb6b59ab372496e244ab0686db7604119e5e58af1cc7d512273ada</string>
			<key>size</key>
			<integer>58240</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/wireshark/plugins/3.4/epan/mate.so</string>
			<key>mtime</key>
			<integer>1608906356</integer>
			<key>sha256</key>
			<string>37d5ce316d7ea258d2ff3b84e3b5fd0c5f0c0a10b14d39c89c85f7d7422249ee</string>
			<key>size</key>
			<integer>84520</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/wireshark/plugins/3.4/epan/opcua.so</string>
			<key>mtime</key>
			<integer>1608906356</integer>
			<key>sha256</key>
			<string>6d98376ff15f500de33a7c6d6e5fe8123aed8c116f8ff5274182a0e939d10901</string>
			<key>size</key>
			<integer>284120</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/wireshark/plugins/3.4/epan/profinet.so</string>
			<key>mtime</key>
			<integer>1608906356</integer>
			<key>sha256</key>
			<string>fcd1b498526c3ab294b785b4dbe5bc01e284a15ce5c08a697094dde21693fdbd</string>
			<key>size</key>
			<integer>569192</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/wireshark/plugins/3.4/epan/stats_tree.so</string>
			<key>mtime</key>
			<integer>1608906356</integer>
			<key>sha256</key>
			<string>bbd5f9ea748b62eb3821c5ab1425e639694de5f82080cf40899baf7b403d458c</string>
			<key>size</key>
			<integer>14640</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/wireshark/plugins/3.4/epan/transum.so</string>
			<key>mtime</key>
			<integer>1608906356</integer>
			<key>sha256</key>
			<string>70e6111b1b3ba33c18efd8e4c302b6182f27cc0308116fa33008c09a19ae1c50</string>
			<key>size</key>
			<integer>32392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/wireshark/plugins/3.4/epan/unistim.so</string>
			<key>mtime</key>
			<integer>1608906356</integer>
			<key>sha256</key>
			<string>79e9f2f368b477fdd141ee64628e7ea5e6a69e0a98b2ffe0ac7b187f6bd266b3</string>
			<key>size</key>
			<integer>152400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/wireshark/plugins/3.4/epan/wimax.so</string>
			<key>mtime</key>
			<integer>1608906356</integer>
			<key>sha256</key>
			<string>89c340a099223b860b9dd0ef6db93ab13a99eee26995f3ea20639e8c54d6fb66</string>
			<key>size</key>
			<integer>733720</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/wireshark/plugins/3.4/epan/wimaxasncp.so</string>
			<key>mtime</key>
			<integer>1608906356</integer>
			<key>sha256</key>
			<string>420f237321e5ca260f46d3790e517cf46fe2826a06ea7559979e520143f28856</string>
			<key>size</key>
			<integer>77928</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/wireshark/plugins/3.4/epan/wimaxmacphy.so</string>
			<key>mtime</key>
			<integer>1608906356</integer>
			<key>sha256</key>
			<string>9fdc634e47fd1496c356c5006ae1fa7dcfbabf71bbfb19f3e237234e5944c6c8</string>
			<key>size</key>
			<integer>91056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/wireshark/plugins/3.4/wiretap/usbdump.so</string>
			<key>mtime</key>
			<integer>1608906356</integer>
			<key>sha256</key>
			<string>a8fd6a772e0292b5c815d8622d90564397665f4fbaab9899ce3e0e5178d52889</string>
			<key>size</key>
			<integer>14232</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libwireshark.so.14</string>
			<key>mtime</key>
			<integer>1608906356</integer>
			<key>target</key>
			<string>/usr/lib/libwireshark.so.14.0.2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libwiretap.so.11</string>
			<key>mtime</key>
			<integer>1608906356</integer>
			<key>target</key>
			<string>/usr/lib/libwiretap.so.11.0.2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libwsutil.so.12</string>
			<key>mtime</key>
			<integer>1608906356</integer>
			<key>target</key>
			<string>/usr/lib/libwsutil.so.12.0.0</string>
		</dict>
	</array>
</dict>
</plist>
