<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/cmake</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/cmake/LibtorrentRasterbar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libtorrent-rasterbar</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/cmake/LibtorrentRasterbar/LibtorrentRasterbarConfig.cmake</string>
			<key>mtime</key>
			<integer>1610380318</integer>
			<key>sha256</key>
			<string>46a533390ce214014ae61bc47c2f001ffe8c6784e1d4c78741a0231ea20350ac</string>
			<key>size</key>
			<integer>1142</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/cmake/LibtorrentRasterbar/LibtorrentRasterbarConfigVersion.cmake</string>
			<key>mtime</key>
			<integer>1610380318</integer>
			<key>sha256</key>
			<string>b378222960ccd1dde6196c8927b490cbcaee680e08cab54e0befb89d1ac36301</string>
			<key>size</key>
			<integer>1978</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/cmake/LibtorrentRasterbar/LibtorrentRasterbarTargets-release.cmake</string>
			<key>mtime</key>
			<integer>1610380318</integer>
			<key>sha256</key>
			<string>d92b9dfb13d4f22dc004e12022b9317b550baaeeabb6e9dd8a385ef04d8c4b06</string>
			<key>size</key>
			<integer>998</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/cmake/LibtorrentRasterbar/LibtorrentRasterbarTargets.cmake</string>
			<key>mtime</key>
			<integer>1610380318</integer>
			<key>sha256</key>
			<string>4e35058c45cce513d6a477d61ee51679a7cd9d14c330eed0dbadc5e072e51c65</string>
			<key>size</key>
			<integer>5071</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libtorrent-rasterbar.so.1.2.12</string>
			<key>mtime</key>
			<integer>1610380318</integer>
			<key>sha256</key>
			<string>d784d76ece8eb1c9bf17fd2389108e86a3da45fc22a309f0a4e09f8ed76fbd7e</string>
			<key>size</key>
			<integer>4762264</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libtorrent-rasterbar/LICENSE</string>
			<key>mtime</key>
			<integer>1610380318</integer>
			<key>sha256</key>
			<string>64e56ec2d43a742857b89f957d7ffe1f149cfd7e24f20e283ed1e735d2b5d934</string>
			<key>size</key>
			<integer>4378</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libtorrent-rasterbar.so.10</string>
			<key>mtime</key>
			<integer>1610380318</integer>
			<key>target</key>
			<string>/usr/lib/libtorrent-rasterbar.so.1.2.12</string>
		</dict>
	</array>
</dict>
</plist>
