<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gnome-settings-daemon-3.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gnome-settings-daemon-3.0/gtk-modules</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libcanberra-0.30</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libcanberra</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdm</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdm/autostart</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdm/autostart/LoginWindow</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome/autostart</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome/shutdown</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/gnome-settings-daemon-3.0/gtk-modules/canberra-gtk-module.desktop</string>
			<key>mtime</key>
			<integer>1579815017</integer>
			<key>sha256</key>
			<string>809c216ca7a0733e15c4cc06676fd27a14869d22af7b7edd1798b2400979ccd1</string>
			<key>size</key>
			<integer>197</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libcanberra-0.30/libcanberra-alsa.so</string>
			<key>mtime</key>
			<integer>1579815017</integer>
			<key>sha256</key>
			<string>0256b602cf5859ccbb10509d967bb3389ff16a1a2a454587e375a24f4114bb90</string>
			<key>size</key>
			<integer>22432</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libcanberra-0.30/libcanberra-gstreamer.so</string>
			<key>mtime</key>
			<integer>1579815017</integer>
			<key>sha256</key>
			<string>d9adaa86577152d107cfc2a3c54ed5e230c56d7451763f5b80b5853390c6d658</string>
			<key>size</key>
			<integer>22440</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libcanberra-0.30/libcanberra-multi.so</string>
			<key>mtime</key>
			<integer>1579815017</integer>
			<key>sha256</key>
			<string>c7dd932365f802f92aefc3db6649d72e7585b183c04fc3fb0dc98d92aaaa60e7</string>
			<key>size</key>
			<integer>18336</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libcanberra-0.30/libcanberra-null.so</string>
			<key>mtime</key>
			<integer>1579815017</integer>
			<key>sha256</key>
			<string>8a7dd5b5ca9586b5ba2c35e6494f4bea3ae5d3c9f53afe53a8f918fb7a20c6f3</string>
			<key>size</key>
			<integer>14240</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libcanberra-0.30/libcanberra-pulse.so</string>
			<key>mtime</key>
			<integer>1579815017</integer>
			<key>sha256</key>
			<string>aa17ef54039b166600a5eddf7c966bfd836f5c529771c0a0deb5205e5d078274</string>
			<key>size</key>
			<integer>34720</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libcanberra.so.0.2.5</string>
			<key>mtime</key>
			<integer>1579815017</integer>
			<key>sha256</key>
			<string>aaaef71452b866ff27272d6332cbd590f403201b3b279e55bbeb8ed9b7c8c905</string>
			<key>size</key>
			<integer>75840</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/libcanberra/README</string>
			<key>mtime</key>
			<integer>1579815017</integer>
			<key>sha256</key>
			<string>2203bc0e9ab3a80d582aca24af647564735b0b662114643ab007920a08038b02</string>
			<key>size</key>
			<integer>10551</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gdm/autostart/LoginWindow/libcanberra-ready-sound.desktop</string>
			<key>mtime</key>
			<integer>1579815017</integer>
			<key>sha256</key>
			<string>2acfe75b9949957efd6b6001beba28ad6a8ab7821fcbd67daeb24ffd1d02c591</string>
			<key>size</key>
			<integer>361</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome/autostart/libcanberra-login-sound.desktop</string>
			<key>mtime</key>
			<integer>1579815017</integer>
			<key>sha256</key>
			<string>5d47226a6242e8b5a47290f3cdf6b9ca6f17ece25d8b813cae6e3e50be1e0eb5</string>
			<key>size</key>
			<integer>328</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome/shutdown/libcanberra-logout-sound.sh</string>
			<key>mtime</key>
			<integer>1579815017</integer>
			<key>sha256</key>
			<string>77a275526fdf812c530207ddf1158199335a1e27a38358c44fbfd95d7971e7ec</string>
			<key>size</key>
			<integer>89</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libcanberra.so.0</string>
			<key>mtime</key>
			<integer>1579815017</integer>
			<key>target</key>
			<string>/usr/lib/libcanberra.so.0.2.5</string>
		</dict>
	</array>
</dict>
</plist>
