<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libqhull</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libqhull.so.8.0.2</string>
			<key>mtime</key>
			<integer>1609949258</integer>
			<key>sha256</key>
			<string>4d33085dedb13f82083dfca7fe6f38a0b2e7641aac25facdc1cd7f75a6b4e379</string>
			<key>size</key>
			<integer>481400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libqhull_r.so.8.0.2</string>
			<key>mtime</key>
			<integer>1609949258</integer>
			<key>sha256</key>
			<string>e97898f7a48ceb0f2dd6c8f0dc22aeae42c710d7dbacf3c739d502f381d6593a</string>
			<key>size</key>
			<integer>497776</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libqhull/COPYING.txt</string>
			<key>mtime</key>
			<integer>1609949258</integer>
			<key>sha256</key>
			<string>106d55c931fd6a84822e5345d900273d059f1c27310d02567ccb313c5d18c55d</string>
			<key>size</key>
			<integer>1720</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libqhull.so.8.0</string>
			<key>mtime</key>
			<integer>1609949258</integer>
			<key>target</key>
			<string>/usr/lib/libqhull.so.8.0.2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libqhull_r.so.8.0</string>
			<key>mtime</key>
			<integer>1609949258</integer>
			<key>target</key>
			<string>/usr/lib/libqhull_r.so.8.0.2</string>
		</dict>
	</array>
</dict>
</plist>
