<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/purple-2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/sounds</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/sounds/purple</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/purple-client-example</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>5665210f3bcb79a2cbc3b94c8275607881b49467db6d854cd7df54b6d77853fa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/purple-remote</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>c750e225900b14d90e2949e1a0e2846b08fda732eda58f5aa13ad23e862eb074</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/purple-send</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>b66eed545cb86fbe43bcda07b5fee6b87904aec81137fef0c5e76beb482e3445</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/purple-send-async</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>8b209bd597b6670343c2ed20c5ac4fb236800b2eacafaa28c92fb42f0a86aacf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/purple-url-handler</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>73aa5539180b1392cd82ec437b2216e6aeddf18c36d61133a54967580fcf3eb7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpurple-client.so.0.13.0</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>17915079415c2119904551c8bc1c774dbea1071b5c605d02e7af1573c3bbfc39</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpurple.so.0.13.0</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>1048f4022993332e6c4ffc51484bfd96593c56108f94f657d9bc0767b202f5c2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/purple-2/autoaccept.so</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>e1d249fde179e209a867eadd7033770819e6c9a0ef3aed6c0b0676927ac5bd97</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/purple-2/buddynote.so</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>b73e6679093a61013a590a495f79b23edebf65caafb0175be32985ba067811c7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/purple-2/dbus-example.so</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>cc21604c5a795391dd74372b07afafb99b18417b99bb130b3270cdef9aa5dd57</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/purple-2/idle.so</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>6bfbb3385f96c453bf5106f6bbe4d22624300047b41dd1a2404070052077f94d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/purple-2/joinpart.so</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>dac82cae743dd46e18b234e10faa58458bee52c39007d3304c9fce6c8491b24f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/purple-2/libaim.so</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>f372116cf86542a41c3054c4d84cb9d9859c0ec68f2b3807958aa03864ec0895</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/purple-2/libbonjour.so</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>b05bd864d8ccc0b1c06c68ff3f16890df7d2df0772a5453b2ed23743453ec609</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/purple-2/libgg.so</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>1f6b10dfc848864c4ade901d20fb1cb2629da461ec74a823d958b0593392c1ae</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/purple-2/libicq.so</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>19459392258d048d76afbc2ad0d50d7103ce1d986c285b1462f7a06c1dfffc97</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/purple-2/libirc.so</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>b77122899e700b48391582bbbf4f02bca51edab6b6fa23cd37c37c62cfa2a6a9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/purple-2/libjabber.so.0.0.0</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>adb6b5f764952efc3dc95f7b03e2bf73d6f4376e08b9ef4f5bcd93483d271a0f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/purple-2/libnovell.so</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>a1a36ad5d2446da80eb4452249452b4b2fde1ca569fbd032708ad68e52fc7115</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/purple-2/liboscar.so.0.0.0</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>497a496a8fff0ce304e5a6f97bfb0af0da16f609334176c6e50311879a7f7c18</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/purple-2/libsimple.so</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>5bdb1407f483bd90209a95f690fd557e880dd2bd0564d93686d34a2fa4cf9a02</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/purple-2/libxmpp.so</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>fa0493a4e6d5e2e9ebe2c98bb26156bf68838aa265df6132bb5ab1d431507721</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/purple-2/libzephyr.so</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>9873a65e4d93e04df1a9b96787514e00794b1d8fccad35b647801c5bda21ac21</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/purple-2/log_reader.so</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>36bbc7fc1328d5e927e4961dbd9e3e50268821a67df93769a0d60ee17ccf3b07</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/purple-2/newline.so</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>c024a5a2f6dad4b78b84476c07177241ddf7a65a84acf2d4d62f8946dadba719</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/purple-2/nss-prefs.so</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>f19179a48db495c8d54278f3c3998ddaf677002bd19741f3a8e88de6a1d1bd59</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/purple-2/offlinemsg.so</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>72230060efddbb2f0aba9bb8e3075d52a3c63ce5f2887b9f98d4d4830d6bb189</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/purple-2/psychic.so</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>75c4157ecd1a3c8ac7ca155510e39aa6179fcc86f7c8b574e4b1e7db09581f15</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/purple-2/ssl-nss.so</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>c95661a33b4a14a75d7be904b7588881419bfaf2647b16d3927b195bfc6008bb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/purple-2/ssl.so</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>9e8890e0b872ce10ba2e5b734ae464b14241d57ec4cfbbddc38e99d7bc6251d2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/purple-2/statenotify.so</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>628c75243dbe0490e34b669c770706d7297a3d9abefec6780900bcd4e1346eae</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/sounds/purple/alert.wav</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>22e8099ccab82c1a4e6618ffcc04f7ad6b546d6f225971f6c3b3d813e4589d76</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/sounds/purple/login.wav</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>80c65116ccc050869fa04f2689c75d366773ae607aab0c0018a3f44c2efcb2c4</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/sounds/purple/logout.wav</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>ef88a136df49127ad2775c56582738fb649f34906af666c00e25675882f859ee</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/sounds/purple/receive.wav</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>4703404c634950f2b81785d24f2ba1ae527168449f7ffe9e6819335a75174f14</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/sounds/purple/send.wav</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>sha256</key>
			<string>e9a3d058b80f092bb1064040f0db708c4d2baa6f0b35ed0803294ae8a850b28c</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpurple-client.so.0</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>target</key>
			<string>/usr/lib/libpurple-client.so.0.13.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpurple.so.0</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>target</key>
			<string>/usr/lib/libpurple.so.0.13.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/purple-2/libjabber.so</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>target</key>
			<string>/usr/lib/purple-2/libjabber.so.0.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/purple-2/libjabber.so.0</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>target</key>
			<string>/usr/lib/purple-2/libjabber.so.0.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/purple-2/liboscar.so</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>target</key>
			<string>/usr/lib/purple-2/liboscar.so.0.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/purple-2/liboscar.so.0</string>
			<key>mtime</key>
			<integer>1547934006</integer>
			<key>target</key>
			<string>/usr/lib/purple-2/liboscar.so.0.0.0</string>
		</dict>
	</array>
</dict>
</plist>
