<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/lighttpd/lighttpd.conf</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>7bb22f173fad3a7a2dc6942c25ea6f3427ee2826bdab973188e41146fb1347b1</string>
			<key>size</key>
			<integer>506</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/lighttpd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/lighttpd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/lighttpd</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/lighttpd/run</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>1603defa096c498fd0eac842712187e9ab0f591818080c9515298b5b2dad9106</string>
			<key>size</key>
			<integer>64</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/lighttpd</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>e7d6852ff44f8d85570492fde76ef9dd607e4683855a8c03d23b102a6d6e790b</string>
			<key>size</key>
			<integer>375072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/lighttpd-angel</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>434406f1324b2ce6c9a7387d73a33c1fa8fb95979ebea11a581cda32733786c7</string>
			<key>size</key>
			<integer>14416</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_access.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>e2d0eeaa83a554202a6271fe085b8f95b7a9296634b9902320659cb5792619d4</string>
			<key>size</key>
			<integer>14312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_accesslog.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>156308834019dd4319a7fbe371fbb42d57a39427a606fa912d4a5d8b31c6e89a</string>
			<key>size</key>
			<integer>22504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_alias.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>6e10c25557ce79a9f1518522a227cf9f0439c49885dac6a618e89c795561e4ef</string>
			<key>size</key>
			<integer>14312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_auth.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>0cacd523fb3867463647462866c9b90003a85a84772e1edb4fd9e6d6e08541f0</string>
			<key>size</key>
			<integer>34848</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_authn_file.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>dd777de1293cd05bda36e539a75653ba84bd55ea5797b20cc77c1c961ae436b2</string>
			<key>size</key>
			<integer>22624</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_authn_gssapi.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>3e095038a831c35e4697a6b1ed4f2a54b144df3d7cf88d24df55428faae7075e</string>
			<key>size</key>
			<integer>22584</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_authn_ldap.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>c72d25a6d670ee7778c5fa5d6af26a6f616e0a3eb5e6c09b52f9000ced616d16</string>
			<key>size</key>
			<integer>22560</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_cgi.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>95901f6576042184b6c3e98b2e33ace052281cd2ff230123669b249bb96fbb85</string>
			<key>size</key>
			<integer>22496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_cml.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>a29a031b3c28eed9abeb727333fb256cee89c6d16b5209055388b794c5c0216a</string>
			<key>size</key>
			<integer>22496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_deflate.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>d8191a2557de177eced3a95a6f57bd30536bbffb139531f722b6719bae761857</string>
			<key>size</key>
			<integer>26600</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_dirlisting.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>9c1c69e4eeedeeb9eeb80b450deb090f1512a25cc92ba1ba5a99ebf5aeb5539d</string>
			<key>size</key>
			<integer>30696</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_evasive.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>a96e0776c50003466b3aa54941337146583d87002af17761d029dd431b260655</string>
			<key>size</key>
			<integer>14312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_evhost.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>536b16e429cc07d42b0e42adfebcd9da163643d64c42b8e0666460fc6c430b30</string>
			<key>size</key>
			<integer>14312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_expire.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>4b3ee4e111e42ed87d29136ce2306704afc67b28e082c5b4dec4b3c3cd411394</string>
			<key>size</key>
			<integer>14312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_extforward.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>e0cf5ffbcee781da4caef501769389361adb9b1f3a4063841e6f16953b170cfd</string>
			<key>size</key>
			<integer>30696</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_fastcgi.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>5aea83d4a5880beacb7f9061b67c17ab474cabb96c51546e723ddbdc81dae1ae</string>
			<key>size</key>
			<integer>22504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_flv_streaming.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>c5c56cfc1e6a38f551e740d2b1e71e007d0358e82db1c09168c02c66464010d8</string>
			<key>size</key>
			<integer>14320</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_indexfile.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>f8b530c17c4ba4163db4025052007e91abf4ce8b6ce22122fee59a7c017612fb</string>
			<key>size</key>
			<integer>14312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_magnet.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>e9b2c2488200a5d075d8e58c91cabfaf6111cb8119138fded6f00d73751bb007</string>
			<key>size</key>
			<integer>30696</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_openssl.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>fc95c23aaf9c4acb00c15478c0ed94b045be34e4a6f6fb7cd196220ec94ec4ac</string>
			<key>size</key>
			<integer>55584</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_proxy.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>7b5021f58dad608e273884949879c9d9a79d7fcf087b8fb19a2cac9ed474f036</string>
			<key>size</key>
			<integer>26600</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_redirect.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>3a9e44e7ca522451aed3d2c272b4b00005d8528bce9d9e401f69e3d59df65430</string>
			<key>size</key>
			<integer>14312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_rewrite.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>a1471f6593acaadb71262d3fdcbd2844316de6eda0e6b56a8853f11711d2699d</string>
			<key>size</key>
			<integer>14312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_rrdtool.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>f13cb744bd8a9c6bd669316d5d080f500a01f1321e53f4b3e0df6a5b1b19895d</string>
			<key>size</key>
			<integer>14312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_scgi.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>395359eb637a0999f135b5bf6961b67e66ec949b41d7c9d1d046d77477336864</string>
			<key>size</key>
			<integer>14304</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_secdownload.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>05a9169e3518d0359a32d239ab5885c893a9949d5bcb2edc4b0bbf6979a2b7a9</string>
			<key>size</key>
			<integer>14312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_setenv.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>9caaa33d3a282ea2a1db4e9c0c3ab28a2798d2d713f55f0ec0ceeef5b040c4aa</string>
			<key>size</key>
			<integer>14312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_simple_vhost.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>9427f2a135973cb0311eff6e27867668f97036ebf4aba5453c29702fc675ca5e</string>
			<key>size</key>
			<integer>14312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_sockproxy.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>100db18995ebd0e1b72514e1bf40165ec7aadfcca676016f8265c88e402a2cf8</string>
			<key>size</key>
			<integer>14312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_ssi.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>5b9928f5df9df90c92917d1538f431fb700452fbcfdd74524b3dba9d543e2c8e</string>
			<key>size</key>
			<integer>38880</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_staticfile.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>6468ab64c5fde2e0b8e210170323678b801c4f10cc32e4b294dabe48b4d20137</string>
			<key>size</key>
			<integer>14312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_status.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>d1e4255a718da013b1c8cb9e48aed8f76dc0ed33648d84c80efbee99c364b4c6</string>
			<key>size</key>
			<integer>26600</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_trigger_b4_dl.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>727fa4bb35c91323133de5ea07bf6fee564aecb6c32a2deb9aae1152eb093671</string>
			<key>size</key>
			<integer>18416</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_uploadprogress.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>00ca48a7802a028ef278cfa5bdf9f84f7be41c923c73fe91a85ecf20eaab93a4</string>
			<key>size</key>
			<integer>14320</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_userdir.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>3fd913ca413e394659b8234f4fa432bdd49714e8fe97b6bdea477db3b6011d86</string>
			<key>size</key>
			<integer>14312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_usertrack.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>edf1ca0886783eec8e01a4e600ccc32ace0bfb5d38544f77a350a65de40638a9</string>
			<key>size</key>
			<integer>14312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_vhostdb.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>003bfd42052e528bcfe4610c571aa0551f9247e3cef83f3d5079aa9b888e6322</string>
			<key>size</key>
			<integer>14312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_vhostdb_ldap.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>1f2a05cfbe72f5491cb0763e3a95522cf0eccfad1f5b426c7285e39d9d4d9021</string>
			<key>size</key>
			<integer>18440</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_webdav.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>6d670b2c992ef5c47bbe7affb1a8ba07918a96e06a652b1abd1b35e26e9405d6</string>
			<key>size</key>
			<integer>67560</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/lighttpd/modules/mod_wstunnel.so</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>a09941d0a8f9788c0caa481f9809a6ea5c4a8eaee10c4299e9d5a33a96d7f21a</string>
			<key>size</key>
			<integer>30696</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/lighttpd/COPYING</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>sha256</key>
			<string>5c98cad2fbaf5c5e2562bcbab401a7c557c1bb1bac9914ecc63730925052fb13</string>
			<key>size</key>
			<integer>1503</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/lighttpd/supervise</string>
			<key>mtime</key>
			<integer>1608426686</integer>
			<key>target</key>
			<string>/run/runit/supervise.lighttpd</string>
		</dict>
	</array>
</dict>
</plist>
