<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/linux-firmware</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/bxt_dmc_ver1_07.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>b4036e7698130c7a59637e543f6c614495c7076666104a2079d011f0923455f5</string>
			<key>size</key>
			<integer>8380</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/bxt_guc_32.0.3.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>5e34a1778c5547f593d7b71e931a17ef404bd5f6edc95e9ea071694843ca9503</string>
			<key>size</key>
			<integer>176256</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/bxt_guc_33.0.0.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>ef7dd0d13f6ee946f30b304cbd88108f9a4a939366ad90b34733f485704a22bb</string>
			<key>size</key>
			<integer>181888</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/bxt_guc_49.0.1.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>2c541854495a72e3e9185488169394b9e83eddba0d7b6368ba09bf67ed06a8fb</string>
			<key>size</key>
			<integer>196224</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/bxt_guc_ver8_7.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>fad5b818ea0ea362c3fedd41720029a230e2f7e32adb60b233a5c51a8e955b06</string>
			<key>size</key>
			<integer>140928</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/bxt_guc_ver9_29.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>7670e5ded85695afddca1ea87f4787632a6f81fdc6ebe033f92de377470089c8</string>
			<key>size</key>
			<integer>146432</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/bxt_huc_2.0.0.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>d68cae0933f5314781e67ac195e5db660fa6350c4030dbee094a724e84d5a9a1</string>
			<key>size</key>
			<integer>149824</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/bxt_huc_ver01_07_1398.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>bdaaaf045017da54772a96610bc80a72dd69dc0873bc3b5c5b6136cce05b8cd3</string>
			<key>size</key>
			<integer>154432</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/bxt_huc_ver01_8_2893.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>ca28bba52c7b46de5233b289805246cacaeda2d822939bd5785a8193c15f2fd4</string>
			<key>size</key>
			<integer>146880</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/cml_guc_33.0.0.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>080aeeba7b4b0786c7b2706286252da94da10068ccf21bf160fe34bc8ae3fdf6</string>
			<key>size</key>
			<integer>182912</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/cml_guc_49.0.1.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>8afbb2f0736867224718e4c9982e1fe470dc0f2981c0e1038c5e6492ea968813</string>
			<key>size</key>
			<integer>197184</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/cml_huc_4.0.0.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>fc351dc972f8953a480e28fb64c2f1cea43387e55e8c7307553a059f6ed8b287</string>
			<key>size</key>
			<integer>226048</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/cnl_dmc_ver1_06.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>e7319712724fed526474eb82702defbf80514212df433ec8f817a732832c5d88</string>
			<key>size</key>
			<integer>11224</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/cnl_dmc_ver1_07.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>775a928e964fd8f9ab6b80eceaa4d10f93fe6789d55a1dff70deab8be2de4f20</string>
			<key>size</key>
			<integer>11268</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/dg1_dmc_ver2_02.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>89576b82489737ae1b4cd057f471363a75baeb7590d76a15e17895ad38e6c09d</string>
			<key>size</key>
			<integer>16624</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/ehl_guc_33.0.4.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>ac3b3da53c7c1ada85e37e9a289d99f65f93a313748c572620dfc09b65fcaca0</string>
			<key>size</key>
			<integer>396288</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/ehl_guc_49.0.1.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>9e9ecdf4e4fe0fc7672bf63f7371dfca75663b7063bf2cb2183814fab10ef02c</string>
			<key>size</key>
			<integer>324160</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/ehl_huc_9.0.0.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>94e0df9fc94249b250806591a4d60ff395c7ab1b755246fb5eaf6ff2ffd7f774</string>
			<key>size</key>
			<integer>498880</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/glk_dmc_ver1_04.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>412d3a3ed68908b983ff16cfe496e969c9fd31f94283e0872d7e5413c7bee504</string>
			<key>size</key>
			<integer>8800</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/glk_guc_32.0.3.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>74c3688eb152c13f604b6911893cfcfde6dfe04680bee77e37879988490559bd</string>
			<key>size</key>
			<integer>176640</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/glk_guc_33.0.0.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>73b4fc7f4c167e55c170fb584451db9a5fed99b91ad14c0871e55470bd56767a</string>
			<key>size</key>
			<integer>182336</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/glk_guc_49.0.1.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>387d77eab9e585f482c51a08fa1e47a19d103ac44798cb697ef0c97f2518e20c</string>
			<key>size</key>
			<integer>196672</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/glk_huc_4.0.0.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>cb9c89eba34c4233601fe8194bf2acd75e11586bf17933963f3325084c57568e</string>
			<key>size</key>
			<integer>226048</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/glk_huc_ver03_01_2893.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>90c50a0e81b7d2cf0e5d502c29c75639433c71c7eb5389ef04a083c9c35843f4</string>
			<key>size</key>
			<integer>222080</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/icl_dmc_ver1_07.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>8f47c1bde7c442f2296480382755b5793f539f1348424c6b94267cea0fa7a43d</string>
			<key>size</key>
			<integer>25716</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/icl_dmc_ver1_09.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>aafad1967679baa36e971e5331da73eea31c68239416432df83e71332755dc01</string>
			<key>size</key>
			<integer>25952</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/icl_guc_32.0.3.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>403d63a5771ec77293a2aeab70b7ff3ab67791227cd64d9c18592c16fdcfa040</string>
			<key>size</key>
			<integer>380096</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/icl_guc_33.0.0.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>cd4cf2f2d7aeacc24e614317129acb9234f5ddd99daac84b7ab02e811fdd10fb</string>
			<key>size</key>
			<integer>385280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/icl_guc_49.0.1.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>8a60471918f4936197c1bcd43fc6991bc88cac3f84af4a2be8a35bb2c96bd50c</string>
			<key>size</key>
			<integer>324160</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/icl_huc_9.0.0.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>d488084ad71772ed77708ee0930433e1aa96caea354aa40b80a9610291618880</string>
			<key>size</key>
			<integer>498880</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/icl_huc_ver8_4_3238.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>f5f92a8b5a6ce29067fff29f54934ffc60edb261379de3dd66e3f6b90e04a878</string>
			<key>size</key>
			<integer>488960</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/kbl_dmc_ver1_01.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>fe489275b3ea09eeb1662bd1434a184a603a01dae18e31df8b61dc9f160fd562</string>
			<key>size</key>
			<integer>8616</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/kbl_dmc_ver1_04.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>2cde41c3e5ad181423bcc3e98ff9c49f743c88f18646af4d0b3c3a9664b831a1</string>
			<key>size</key>
			<integer>8840</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/kbl_guc_32.0.3.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>dc809e88c1fece4a656ca8fedb7de35ac2766c984927c1429e0cd6a221877ad6</string>
			<key>size</key>
			<integer>176448</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/kbl_guc_33.0.0.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>669600b4e7fecadab03ab9bca24b756a62a78f938e98c9c7e878005e7d386854</string>
			<key>size</key>
			<integer>182912</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/kbl_guc_49.0.1.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>e1b92a906643493f3448b5a4327f9b93691359a45662a0ce71fb12b5a880ca60</string>
			<key>size</key>
			<integer>197184</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/kbl_guc_ver9_14.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>92d51cab7b3570368516b50afaa99243e363792ede046a010d1f2cfec72faa88</string>
			<key>size</key>
			<integer>142656</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/kbl_guc_ver9_39.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>957dcd143c348d9a47e0c36cb49970b278790caff62244dd6e354b200261ec74</string>
			<key>size</key>
			<integer>147776</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/kbl_huc_4.0.0.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>8bc643aa06a173c2969ac5946e9183544521048985d53e7148b85a898e85d10f</string>
			<key>size</key>
			<integer>226048</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/kbl_huc_ver02_00_1810.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>9b5acebb9c989b87f48a14e8e7e8dac13c140c6dd72453ff4d3bc90a3f77e443</string>
			<key>size</key>
			<integer>218688</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/rkl_dmc_ver2_02.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>0be8b8dedc47b20e03b7273db34aa1398b11e61111192217a505549db6c35d85</string>
			<key>size</key>
			<integer>18204</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/skl_dmc_ver1_23.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>eb81899cfec74e431838541901c8c5e3a35f7deba99866142c27ee8e87d9a0fb</string>
			<key>size</key>
			<integer>8824</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/skl_dmc_ver1_26.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>07909f7f34477d6645dd68f8a3e57ec12638e28cb586c9ea7b82daaadd1b88e8</string>
			<key>size</key>
			<integer>8928</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/skl_dmc_ver1_27.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>d3b6dc1a39bb2aeb37a1179f2b4e8145c24986da78c533571a5712dc91ec3f61</string>
			<key>size</key>
			<integer>8928</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/skl_guc_32.0.3.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>6339fce39731197589348aba1b250e04c9771bb44367b3aeacc8c0833f9949fe</string>
			<key>size</key>
			<integer>175552</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/skl_guc_33.0.0.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>ab4eb929e2c117e9805e792648b8a47704dfde3d21093b5d6d2ec4c429222b3e</string>
			<key>size</key>
			<integer>182080</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/skl_guc_49.0.1.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>c5b0903b5ffaef323c37aa8bf2ed8c2be4ebb5c221e8b57b343d7df4e5b27086</string>
			<key>size</key>
			<integer>196288</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/skl_guc_ver1.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>b03e1cd1181dd35d68f3fb4fa46983469b58cb8062b27b3e3792f39f58558a95</string>
			<key>size</key>
			<integer>109636</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/skl_guc_ver4.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>bd13afd6c907a38d975f4e8f96cd6dc46107d25b8add66a5752fbc0d9e3dc839</string>
			<key>size</key>
			<integer>128320</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/skl_guc_ver6_1.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>de066aabc442a0d7fd2ce45511ded6aec46aa701e0935209c7c610fe9ce30d22</string>
			<key>size</key>
			<integer>129024</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/skl_guc_ver9_33.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>eefea49eacfaa19bc23cb78256842b4ebf96077dbaff5f8e5ff4fbcfe8cb1568</string>
			<key>size</key>
			<integer>147520</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/skl_huc_2.0.0.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>c7a1dce013050f823471de2cdc5f0170b1acf8c811ca8c8da41e35f526bcb1d7</string>
			<key>size</key>
			<integer>136320</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/skl_huc_ver01_07_1398.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>dd615b905eaafd77c66469a9355c10b2368d4c4d6bd62643de41116c4bf29457</string>
			<key>size</key>
			<integer>140992</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/tgl_dmc_ver2_04.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>638ca372cce8c637575e174a1677270a2394e39c22a8023fd769511583f3b27e</string>
			<key>size</key>
			<integer>18436</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/tgl_dmc_ver2_06.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>a32f759f6e3afdc44a5f0da79cc21d6d57e02cab433fa2e4c5f0e5fe99733150</string>
			<key>size</key>
			<integer>18660</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/tgl_dmc_ver2_08.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>7d8fdbbc08460841dafc81d3d6165daeb1eb83c9deab08d8af91f0f3cf131be8</string>
			<key>size</key>
			<integer>18932</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/tgl_guc_35.2.0.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>f1e6cae81244837aaba9cea7122a4ad267770596e99cebf9f1634800ea7d7333</string>
			<key>size</key>
			<integer>417728</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/tgl_guc_49.0.1.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>8c7c13672fcaaf6c16b415cd4cd1bc63e6362b618a6d6a32bf429ab702020f52</string>
			<key>size</key>
			<integer>321792</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/tgl_huc_7.0.12.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>4961f142da9e36746d5163d64a5f0ce4854748acd0f69e343e82ee5eb930b9fe</string>
			<key>size</key>
			<integer>530368</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/tgl_huc_7.0.3.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>01d48f9c1441c2f015f16a649d81a3cfba26b340e03ec39d9c8df987a2158836</string>
			<key>size</key>
			<integer>521408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/tgl_huc_7.5.0.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>91aae270fbeb5e420115f7b8289d1aca28991dfaea8ae309ba46a19bddf3635d</string>
			<key>size</key>
			<integer>580736</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/linux-firmware/LICENSE.i915</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>8542aeabf2761935122d693561e16766ce1bcc2b0d003204f9040b7d6d929f2e</string>
			<key>size</key>
			<integer>2080</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/bxt_dmc_ver1.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>target</key>
			<string>/usr/lib/firmware/i915/bxt_dmc_ver1_07.bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/kbl_dmc_ver1.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>target</key>
			<string>/usr/lib/firmware/i915/kbl_dmc_ver1_01.bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/skl_dmc_ver1.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>target</key>
			<string>/usr/lib/firmware/i915/skl_dmc_ver1_26.bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/i915/skl_guc_ver6.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>target</key>
			<string>/usr/lib/firmware/i915/skl_guc_ver6_1.bin</string>
		</dict>
	</array>
</dict>
</plist>
