<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/linux-firmware</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/BCM-0bb4-0306.hcd</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>e2e440d3fdc0ec4115c1a024a6ed9e95d5ac167dbbc3853e25c7dae7d4c53c67</string>
			<key>size</key>
			<integer>54734</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/bcm4329-fullmac-4.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>ee87d73bc8b54aa29e343490297ca1294f71a1a4f66c845e6b301770c94082ee</string>
			<key>size</key>
			<integer>269595</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/bcm43xx-0.fw</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>24668c702e723d2b1caebda047ee975ce16d7edf23788bc447dc12bcaf246b0f</string>
			<key>size</key>
			<integer>96224</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/bcm43xx_hdr-0.fw</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>4aaa2ba62983d64b65f351908c59062a8a7c99100d190904c0e780d7c30f0dd0</string>
			<key>size</key>
			<integer>180</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43143-sdio.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>0c95c5616861856b055209a05270c0cc75cb500daa550a659b275e124ea334aa</string>
			<key>size</key>
			<integer>385067</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43143.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>a0ace23094652c3aa3bcd480906b1a769d0169afcc3b5f074b187a30d8617e03</string>
			<key>size</key>
			<integer>397312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43236b.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>2138a2edca76a1f808250fd89381b30529938e04b2a9befa138afda71a9c96e4</string>
			<key>size</key>
			<integer>348160</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43241b0-sdio.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>9b054397a1f332abfbc946773b022a270a0441224fd8666013dd7d106a32efd0</string>
			<key>size</key>
			<integer>455745</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43241b4-sdio.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>0e53e2eadb22610c298df18b631f571d216a3eca3d537812a6f074337fb38eca</string>
			<key>size</key>
			<integer>403855</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43241b5-sdio.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>272838b46ebc04131d44bca4542befa89c808c4fbb5af376df4664b0943a1863</string>
			<key>size</key>
			<integer>408682</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43242a.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>3cb5eccfad59736241d6207322f4aa26505fe6129c957f2742b4168593304487</string>
			<key>size</key>
			<integer>479232</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac4329-sdio.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>d61983946b1e733e4c75dbe6841ac0f1250ebed2e3ee9058cdfdbbba3ba37c93</string>
			<key>size</key>
			<integer>253748</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac4330-sdio.Prowise-PT301.txt</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>baa957121b4ba54ecabbdfef811143120401f54abd485d3f6bde414f994875ca</string>
			<key>size</key>
			<integer>1509</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac4330-sdio.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>004eb91ba7f1cd6eaf57b51f90d8004c5663c38175a8a9314a4e2f574cbfbd14</string>
			<key>size</key>
			<integer>222126</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac4334-sdio.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>7b4eebe4d3bbc9a8bf3c2d55d9404cf0ed9cce3388b3d5708d2352d0af89eeb3</string>
			<key>size</key>
			<integer>451566</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43340-sdio.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>154cdef77d0a18f66dec1bf34a4759bee956bec8d396eb58f2b141051907f415</string>
			<key>size</key>
			<integer>400864</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43340-sdio.meegopad-t08.txt</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>8ae5a78127e583f647789eda9cb869c5480fdd09124786ff818c1acf3a9a52cc</string>
			<key>size</key>
			<integer>1693</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43340-sdio.pov-tab-p1006w-data.txt</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>9a01ead1b4fb7b128b58ba7570a0fd4b5a9d5e07196f06ab01f5e7d16729b93b</string>
			<key>size</key>
			<integer>1724</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac4335-sdio.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>1551fd7680db31d230c70f55860ca071331a37eeb54c9229307b8fa475f9d6e7</string>
			<key>size</key>
			<integer>569291</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43362-sdio.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>f362f9e1b0919ca3bb836954cab7aa02e1fe2d9e85b6c6a03cc5aaa36b2664b7</string>
			<key>size</key>
			<integer>202107</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43362-sdio.cubietech,cubietruck.txt</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>c17e2913e43c6420a3bfb63d34b5572e60ab038fcb5bc6b401c4200c56c12597</string>
			<key>size</key>
			<integer>803</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac4339-sdio.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>191ac3c79a1ad81ff664202d9f028d01e13673449b206423a75d5c226d343be5</string>
			<key>size</key>
			<integer>562183</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43430-sdio.AP6212.txt</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>fdef0603345dd023ad28c0eff2d5167915c617bee2d6944da9a6da1c4ac87ca5</string>
			<key>size</key>
			<integer>875</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43430-sdio.Hampoo-D2D3_Vi8A1.txt</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>91d701c64b1ea10e38963e893ae64576774178314abb0cf2030b45fd9c4dfd94</string>
			<key>size</key>
			<integer>928</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43430-sdio.MUR1DX.txt</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>c9ee1d910b6f089d60bc9c4b34e7341e69b3e07f98968382469f43384dd7ac9b</string>
			<key>size</key>
			<integer>831</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43430-sdio.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>996b7ef7cbdb8ea3855fa516acb57630ff03a449fd3bb23e84789f2f04b4faf5</string>
			<key>size</key>
			<integer>388739</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43430-sdio.raspberrypi,3-model-b.txt</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>489c12a33e0fd0899cd27bfb316b30944f0b9dd571c266a0aa3704b35817b788</string>
			<key>size</key>
			<integer>874</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43430a0-sdio.ONDA-V80 PLUS.txt</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>99ed5e02ab78a5c5ddfe404ff1948f6c22d26f89a4106855437eac0e162dee39</string>
			<key>size</key>
			<integer>989</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43430a0-sdio.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>ad85074b7919517d7e1a7e463e0176d46e7b312216bd7aa372e4aee2bfe8e07a</string>
			<key>size</key>
			<integer>382455</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43430a0-sdio.jumper-ezpad-mini3.txt</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>b07a8148015d6f09dca935c8841ca9df462d7eb6eba6e8ff9f03fd399eb9760a</string>
			<key>size</key>
			<integer>951</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43455-sdio.MINIX-NEO Z83-4.txt</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>030aa76f3554075df9a576ea46b7d0a00b46dc8070c9e969b7d813cd0dac3981</string>
			<key>size</key>
			<integer>2510</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43455-sdio.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>d583a5a0e1e523dba24f07771d99dd281d540d3675c5d3bcd9b991c6e97fa745</string>
			<key>size</key>
			<integer>488193</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43455-sdio.raspberrypi,3-model-b-plus.txt</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>a69a03e9c8c3050c222db01c94f2ef1aed5cc4ea9ece0cec599243788e6fea3b</string>
			<key>size</key>
			<integer>1864</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43455-sdio.raspberrypi,4-model-b.txt</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>d90ac57cf01e9334ef1bce30f2cb00460ce910d8417ff7ba6cfa460212bd7573</string>
			<key>size</key>
			<integer>1863</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac4350-pcie.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>5691d1e0ceb70baf18efb7a0ec6cb84feb9edd2d0700c525b42930c4e7e4b845</string>
			<key>size</key>
			<integer>626140</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac4350c2-pcie.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>423c2373faf403ce39c822312f8f4810e63f5b67ea62bfd60552af119591b115</string>
			<key>size</key>
			<integer>623304</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac4354-sdio.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>0d57de9fc4746f74a822ff50ab0138da5b9f47efbe443fa1f045301b4bab195f</string>
			<key>size</key>
			<integer>605388</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac4356-pcie.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>d46d04cfc454357247ed1855f346c5c7e402d5b2f98e4f6e1375f9293c2092e9</string>
			<key>size</key>
			<integer>648770</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac4356-pcie.gpd-win-pocket.txt</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>7c6d8e0b1a1fba2c100833b99a585f9b69c8719c260932ca76bed2647bb7af00</string>
			<key>size</key>
			<integer>2515</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac4356-sdio.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>798a4e4d64a5a7397498e8e5acc3ef4ef3407b770baf89793ab7cbbd0fd314ea</string>
			<key>size</key>
			<integer>526383</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43569.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>0a57d51cd676b98e3313463dccf7fa9aadafe52a45216b7a919a379cd8f07f1d</string>
			<key>size</key>
			<integer>557056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43570-pcie.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>bf3c1be294775e3b913d122c819717b97ba6d0448774f69a7e7e60b5d568125d</string>
			<key>size</key>
			<integer>550333</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac4358-pcie.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>766a70f2fa593c52d6ddd84002cfd85af779b9fd522ee78a0cbcabc09791f3ca</string>
			<key>size</key>
			<integer>633817</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43602-pcie.ap.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>7f735b7254527ce7cae84a854211879a4b85d6a77a92210c4d92bcf12a35618b</string>
			<key>size</key>
			<integer>595472</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43602-pcie.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>bf4cfc23ee952a3d82ef33a0f5f87853201c98f1bed034876a910f354f37862d</string>
			<key>size</key>
			<integer>635449</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac4366b-pcie.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>ab4d5012393aed59dc76e27d6e11d1c8f821ab24c3005436dee8d799b6298224</string>
			<key>size</key>
			<integer>1105361</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac4366c-pcie.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>a250275c81c626de4379591d367624b7d9da99a665a946738e657217a9d9e53e</string>
			<key>size</key>
			<integer>1120971</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac4371-pcie.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>ffb7180db84dfa77171ab920412f68bfc801b4c5d0f89252b9effdedafb3ff7c</string>
			<key>size</key>
			<integer>623448</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac4373-sdio.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>cd80f07b167f64b11cbd604e6e17c6fe21f86366fef056319ef766c793e1774b</string>
			<key>size</key>
			<integer>457994</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac4373.bin</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>5ad7af8a9605a23bf714e612313b55b8cf8b152cea19ad49d8744f6c602dcc5a</string>
			<key>size</key>
			<integer>479232</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/linux-firmware/LICENCE.broadcom_bcm43xx</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>sha256</key>
			<string>b16056fc91b82a0e3e8de8f86c2dac98201aa9dc3cbd33e8d38f1b087fcec30d</string>
			<key>size</key>
			<integer>4178</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/BCM-0a5c-6410.hcd</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>target</key>
			<string>/usr/lib/firmware/brcm/BCM-0bb4-0306.hcd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43362-sdio.lemaker,bananapro.txt</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>target</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43362-sdio.cubietech,cubietruck.txt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43430-sdio.sinovoip,bpi-m2-plus.txt</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>target</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43430-sdio.AP6212.txt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43430-sdio.sinovoip,bpi-m2-zero.txt</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>target</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43430-sdio.AP6212.txt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43455-sdio.raspberrypi,3-model-a-plus.txt</string>
			<key>mtime</key>
			<integer>1610333564</integer>
			<key>target</key>
			<string>/usr/lib/firmware/brcm/brcmfmac43455-sdio.raspberrypi,3-model-b-plus.txt</string>
		</dict>
	</array>
</dict>
</plist>
