<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sensors3.conf</string>
			<key>mtime</key>
			<integer>1600353603</integer>
			<key>sha256</key>
			<string>f82617246796b8a05e19980f4c31205f2fb8fb1804afbf0d1a6af4e487baf115</string>
			<key>size</key>
			<integer>10593</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/fancontrol</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/fancontrol/run</string>
			<key>mtime</key>
			<integer>1600353603</integer>
			<key>sha256</key>
			<string>dbd36a1ef4cf0533b84c279775ba29e22cc64cbaa193e8e7bb538f80ec32ebb9</string>
			<key>size</key>
			<integer>136</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/fancontrol</string>
			<key>mtime</key>
			<integer>1600353603</integer>
			<key>sha256</key>
			<string>2d11e7f186b1411c67812e8d79f20191235e62ac7fd9fd557adb5bc68d5babf7</string>
			<key>size</key>
			<integer>17587</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/isadump</string>
			<key>mtime</key>
			<integer>1600353603</integer>
			<key>sha256</key>
			<string>b385701eddb6528f1dbc9e4b003de6acd66857ec30d30bb1636bdf195282a4e1</string>
			<key>size</key>
			<integer>14600</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/isaset</string>
			<key>mtime</key>
			<integer>1600353603</integer>
			<key>sha256</key>
			<string>316f961d16a880259fc99c598351b385f33dcd901c0149bf343eeb7129ad51ad</string>
			<key>size</key>
			<integer>14592</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/pwmconfig</string>
			<key>mtime</key>
			<integer>1600353603</integer>
			<key>sha256</key>
			<string>525434229c4caa0db76b67b6272efa8478423ab42871d31ff9ea37bf71ceebc2</string>
			<key>size</key>
			<integer>23456</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/sensors</string>
			<key>mtime</key>
			<integer>1600353603</integer>
			<key>sha256</key>
			<string>8e1f94267a8576e6b7d6d8840b189e81cba8ed84a2bac9a85f0c55e61e2f87cc</string>
			<key>size</key>
			<integer>31384</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/sensors-conf-convert</string>
			<key>mtime</key>
			<integer>1600353603</integer>
			<key>sha256</key>
			<string>ca706283e39d62e303ba768dfeac8e0b6ee0807905fb2487326d23988ae2b3f3</string>
			<key>size</key>
			<integer>13647</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/sensors-detect</string>
			<key>mtime</key>
			<integer>1600353603</integer>
			<key>sha256</key>
			<string>4ada2e222becd5acf55475315e4e7bf7d71e5a4c7baeea2987e040caf1f9d928</string>
			<key>size</key>
			<integer>219801</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/sensors.1</string>
			<key>mtime</key>
			<integer>1600353603</integer>
			<key>sha256</key>
			<string>099c036f3e6e85bf33dce064398b49d3542868d64425a461af24071a113f3387</string>
			<key>size</key>
			<integer>3336</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/sensors.conf.5</string>
			<key>mtime</key>
			<integer>1600353603</integer>
			<key>sha256</key>
			<string>4e6ffbe8cdc5d8c61578e5dfe344dcf3d1aba875a489929ae9290bc8a1b18ad5</string>
			<key>size</key>
			<integer>17253</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/fancontrol.8</string>
			<key>mtime</key>
			<integer>1600353603</integer>
			<key>sha256</key>
			<string>42dd6d7e4905ffe253700652ab305574c5b356ee317487893f1bd2e7cddcb269</string>
			<key>size</key>
			<integer>4908</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/isadump.8</string>
			<key>mtime</key>
			<integer>1600353603</integer>
			<key>sha256</key>
			<string>329814e893a992d5068ce3b3b8a6cb8bd541441d0ba1c7cf6f80412a4b01f801</string>
			<key>size</key>
			<integer>4082</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/isaset.8</string>
			<key>mtime</key>
			<integer>1600353603</integer>
			<key>sha256</key>
			<string>8ef6ded311d2e1af2daa6f0755a8d046c991bc7de7d3af6e18129b8018fe21db</string>
			<key>size</key>
			<integer>2448</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/pwmconfig.8</string>
			<key>mtime</key>
			<integer>1600353603</integer>
			<key>sha256</key>
			<string>2a739bf97e6485517b053b2d5bd39dcca1a339133f5b5cfc28935ca962e44be9</string>
			<key>size</key>
			<integer>2231</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/sensors-conf-convert.8</string>
			<key>mtime</key>
			<integer>1600353603</integer>
			<key>sha256</key>
			<string>bb423259c0fa69c2eaba065f9d0a6888237d2a8caee1d244f12c30700912ba98</string>
			<key>size</key>
			<integer>553</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/sensors-detect.8</string>
			<key>mtime</key>
			<integer>1600353603</integer>
			<key>sha256</key>
			<string>2a632b61bd3a2667465e4189ba17c21bee928e0e7fb9a4f3c2d911a5b4d258dd</string>
			<key>size</key>
			<integer>2430</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/fancontrol/supervise</string>
			<key>mtime</key>
			<integer>1600353603</integer>
			<key>target</key>
			<string>/run/runit/supervise.fancontrol</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/sensors3.conf.5</string>
			<key>mtime</key>
			<integer>1600353603</integer>
			<key>target</key>
			<string>/usr/share/man/man5/sensors.conf.5</string>
		</dict>
	</array>
</dict>
</plist>
