<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/lmdb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/mdb_copy</string>
			<key>mtime</key>
			<integer>1563695788</integer>
			<key>sha256</key>
			<string>ecc9992bcc79dcfe83f96a776df18d152ac5810500d3122b6aac6c3043252f51</string>
			<key>size</key>
			<integer>88280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mdb_dump</string>
			<key>mtime</key>
			<integer>1563695788</integer>
			<key>sha256</key>
			<string>1fa87c886b7122762553644c384d64504eed6b1d63599bed48c305d05b451b2c</string>
			<key>size</key>
			<integer>92504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mdb_load</string>
			<key>mtime</key>
			<integer>1563695788</integer>
			<key>sha256</key>
			<string>5879813a4a6c3a57876fd309dcaf5d77ec0c6624f673284b44f47487665d35d1</string>
			<key>size</key>
			<integer>92560</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mdb_stat</string>
			<key>mtime</key>
			<integer>1563695788</integer>
			<key>sha256</key>
			<string>185bfbaf883545afafc9827a5a4e5d89a8f97b6476511b0279ab10aba333bcc7</string>
			<key>size</key>
			<integer>92376</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/liblmdb.so.0.9</string>
			<key>mtime</key>
			<integer>1563695788</integer>
			<key>sha256</key>
			<string>83147768ae1bf0dc300450e028f5d12dddd351197ec713ab44553c224bf1c13d</string>
			<key>size</key>
			<integer>92208</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/lmdb/COPYRIGHT</string>
			<key>mtime</key>
			<integer>1563695788</integer>
			<key>sha256</key>
			<string>fae797823b892c4b59913256b4d10b17d71f57d4bc45e46d901b84fd6dfc3d13</string>
			<key>size</key>
			<integer>715</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/lmdb/LICENSE</string>
			<key>mtime</key>
			<integer>1563695788</integer>
			<key>sha256</key>
			<string>310fe25c858a9515fc8c8d7d1f24a67c9496f84a91e0a0e41ea9975b1371e569</string>
			<key>size</key>
			<integer>2214</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mdb_copy.1</string>
			<key>mtime</key>
			<integer>1563695788</integer>
			<key>sha256</key>
			<string>3a6a8a7a91e1bd42dc4d2a0188ff62d699ff2b3b097a670f30681decf63f22f3</string>
			<key>size</key>
			<integer>1533</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mdb_dump.1</string>
			<key>mtime</key>
			<integer>1563695788</integer>
			<key>sha256</key>
			<string>9257be883c7fcfcbd61003cc730f7c0900fa8f6feba074c8c1e46634a257b13a</string>
			<key>size</key>
			<integer>2197</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mdb_load.1</string>
			<key>mtime</key>
			<integer>1563695788</integer>
			<key>sha256</key>
			<string>ea927473245a4a7777ba687aa26baf7f0951fb620daf82b8d730a090185b2bbc</string>
			<key>size</key>
			<integer>2307</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mdb_stat.1</string>
			<key>mtime</key>
			<integer>1563695788</integer>
			<key>sha256</key>
			<string>c0a70d96b4b2d32e73301383d9d5620bc0bbbefb019bfd54f32088dfd4bc921a</string>
			<key>size</key>
			<integer>1780</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/liblmdb.so.0</string>
			<key>mtime</key>
			<integer>1563695788</integer>
			<key>target</key>
			<string>/usr/lib/liblmdb.so.0.9</string>
		</dict>
	</array>
</dict>
</plist>
