<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/lshw</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/lshw</string>
			<key>mtime</key>
			<integer>1610420691</integer>
			<key>sha256</key>
			<string>c021c07395e9be3a648d303f2533341308e0502dbf709595b55a13a653913828</string>
			<key>size</key>
			<integer>861392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/lshw.mo</string>
			<key>mtime</key>
			<integer>1610420691</integer>
			<key>sha256</key>
			<string>ac30f5c60be54527db82bc23be1be5deb67b32b790100eba73aaae06d61603fc</string>
			<key>size</key>
			<integer>11117</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/lshw/manuf.txt</string>
			<key>mtime</key>
			<integer>1610420691</integer>
			<key>sha256</key>
			<string>e692525d9e9faa9a45690d491d85059fdcdaccf2c6dbfc770268bf043a2bdc08</string>
			<key>size</key>
			<integer>1684138</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/lshw/oui.txt</string>
			<key>mtime</key>
			<integer>1610420691</integer>
			<key>sha256</key>
			<string>31f4ad9cc5275747bc95888cca791c094c38f553e9bd8fb18d43210e9e44a9e8</string>
			<key>size</key>
			<integer>3439155</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/lshw/pci.ids</string>
			<key>mtime</key>
			<integer>1610420691</integer>
			<key>sha256</key>
			<string>7fba6af657c2c2676a762cf5162f8b0928bcb5a4f93252682b2e4f1d67676d8f</string>
			<key>size</key>
			<integer>1210291</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/lshw/pnp.ids</string>
			<key>mtime</key>
			<integer>1610420691</integer>
			<key>sha256</key>
			<string>abeb33bed7cf57cbe9fb72f94a19fa60078cfc480f2c012d89026609cac82717</string>
			<key>size</key>
			<integer>19314</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/lshw/pnpid.txt</string>
			<key>mtime</key>
			<integer>1610420691</integer>
			<key>sha256</key>
			<string>0eb2afd430828cc8583e38ad61df56e6f9a627ec62962a39388ced633311c0a2</string>
			<key>size</key>
			<integer>56604</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/lshw/usb.ids</string>
			<key>mtime</key>
			<integer>1610420691</integer>
			<key>sha256</key>
			<string>778ec6db352e40ac1adf452d2522748efabb1237cf7692b0d9019877ca4477a9</string>
			<key>size</key>
			<integer>617522</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/lshw.1</string>
			<key>mtime</key>
			<integer>1610420691</integer>
			<key>sha256</key>
			<string>807daec2ccbf123a246840b7fed4551506a16e3b38d644f558ade70b346d9cb8</string>
			<key>size</key>
			<integer>4983</integer>
		</dict>
	</array>
</dict>
</plist>
