<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/lsof</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/lsof</string>
			<key>mtime</key>
			<integer>1605780860</integer>
			<key>sha256</key>
			<string>b9b02e6a12cd552a948765a6c3b8f0d090c524fadd8a2860831d0be7d390f11f</string>
			<key>size</key>
			<integer>179816</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/lsof/License</string>
			<key>mtime</key>
			<integer>1605780860</integer>
			<key>sha256</key>
			<string>241f53e5d9a472e1f4caaf61cd794b1c65fe061bfcdfce05e6c378787038a650</string>
			<key>size</key>
			<integer>1318</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/lsof.8</string>
			<key>mtime</key>
			<integer>1605780860</integer>
			<key>sha256</key>
			<string>86497b1dd83f56e95f54eb9dc9ca042c4a4597d8ca82337c01daa3c37fc0dd57</string>
			<key>size</key>
			<integer>122915</integer>
		</dict>
	</array>
</dict>
</plist>
