<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/ltrace</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ltrace</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/ltrace</string>
			<key>mtime</key>
			<integer>1499690350</integer>
			<key>sha256</key>
			<string>7cd46a0c155531e7acf26087aac212b427f4940ad83577fcbdf17ba4cb81b0ce</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/ltrace/TODO</string>
			<key>mtime</key>
			<integer>1499690350</integer>
			<key>sha256</key>
			<string>bf6d10ab2dcd819bea85f83aa88ffd960ebb22c395399f1a528ed52bcad38da3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/ltrace/INSTALL</string>
			<key>mtime</key>
			<integer>1499690350</integer>
			<key>sha256</key>
			<string>91826b889739b720e0da7055b74a5a579dd31ad2f3b683b15302039df676e34f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/ltrace/COPYING</string>
			<key>mtime</key>
			<integer>1499690350</integer>
			<key>sha256</key>
			<string>e6d6a009505e345fe949e1310334fcb0747f28dae2856759de102ab66b722cb4</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/ltrace/CREDITS</string>
			<key>mtime</key>
			<integer>1499690350</integer>
			<key>sha256</key>
			<string>4e145a79ebdf21887ea93fba1d2cb1960becb106c6c88c508b23306e5e229811</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/ltrace/README</string>
			<key>mtime</key>
			<integer>1499690350</integer>
			<key>sha256</key>
			<string>363fc18eea318f0b1f3d7a62efd7781be1da65135443b55f69fe37d26e984b9b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ltrace/libpthread.so.conf</string>
			<key>mtime</key>
			<integer>1499690350</integer>
			<key>sha256</key>
			<string>245d38d44671e9af13da6f199be39b8af1a85a332ce55b89063aa73fc2fb1447</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ltrace/libpthread.so-types.conf</string>
			<key>mtime</key>
			<integer>1499690350</integer>
			<key>sha256</key>
			<string>1d62069baeee805c7912f162cfda35d212657462b713dbf205d1a7bc1bf9b4ff</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ltrace/syscalls.conf</string>
			<key>mtime</key>
			<integer>1499690350</integer>
			<key>sha256</key>
			<string>bb817d1176d5e89bb4a36da3dafc512efc5657471297754a3674cabd7555be3a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ltrace/libacl.so.conf</string>
			<key>mtime</key>
			<integer>1499690350</integer>
			<key>sha256</key>
			<string>cd10047e1148527c6f13f846dcdb45f315baace8dd48154ca5d3b172dd3920b0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ltrace/libm.so.conf</string>
			<key>mtime</key>
			<integer>1499690350</integer>
			<key>sha256</key>
			<string>cef37c2bdab513547e5984c6450dd9e0c6aac0f8d1fc44ea1820d028746a7272</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ltrace/libc.so-types.conf</string>
			<key>mtime</key>
			<integer>1499690350</integer>
			<key>sha256</key>
			<string>ad2ba1c2ac8ee1b432b979fc27dee21b9c787496cc5860a4a7b620cbb3ec0be0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ltrace/libc.so.conf</string>
			<key>mtime</key>
			<integer>1499690350</integer>
			<key>sha256</key>
			<string>46eb32b641ff384b2b352f342b4a977b9f5cb61d10de7607af4f903c559fad75</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/ltrace.conf.5</string>
			<key>mtime</key>
			<integer>1499690350</integer>
			<key>sha256</key>
			<string>cef666043f75e9d75c112ac6899e04f8d5cc35c5508d79c783294908ae38c406</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ltrace.1</string>
			<key>mtime</key>
			<integer>1499690350</integer>
			<key>sha256</key>
			<string>b4952db657531dc8a9b2e84dda812e22c708cf729c4cae9cc57a67e318498347</string>
		</dict>
	</array>
</dict>
</plist>
