<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/lua52</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/lua5.2</string>
			<key>mtime</key>
			<integer>1604072486</integer>
			<key>sha256</key>
			<string>7d9a4e5f514ec9cb2e98c751c2ee5cfb2349cf75efa3994b2870c0172020b408</string>
			<key>size</key>
			<integer>211096</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/luac5.2</string>
			<key>mtime</key>
			<integer>1604072486</integer>
			<key>sha256</key>
			<string>9f18f900960863f125858ed888876b11059eec4b54fcbb67aafe0b26536ab0f1</string>
			<key>size</key>
			<integer>141488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/liblua5.2.so.5.2.4</string>
			<key>mtime</key>
			<integer>1604072486</integer>
			<key>sha256</key>
			<string>eb5b48ecc96173ae13db7366bc1dde38def8b9c400792a40a51c3a5215a9bd64</string>
			<key>size</key>
			<integer>210920</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/lua52/readme.html</string>
			<key>mtime</key>
			<integer>1604072486</integer>
			<key>sha256</key>
			<string>a686d9158c8878ee4c6e1c90d719949c2b70031b74d6e945e6e218a063ebcb20</string>
			<key>size</key>
			<integer>13160</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/lua5.2.1</string>
			<key>mtime</key>
			<integer>1604072486</integer>
			<key>sha256</key>
			<string>a44ed64aaf16121f193ac0a83322e4b5cd78a6932056dc5de5cc032856d90786</string>
			<key>size</key>
			<integer>2204</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/luac5.2.1</string>
			<key>mtime</key>
			<integer>1604072486</integer>
			<key>sha256</key>
			<string>ac60e6992db478539dff611beed7ad01f52622c897657a9152165470039b0494</string>
			<key>size</key>
			<integer>3071</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/liblua5.2.so.5.2</string>
			<key>mtime</key>
			<integer>1604072486</integer>
			<key>target</key>
			<string>/usr/lib/liblua5.2.so.5.2.4</string>
		</dict>
	</array>
</dict>
</plist>
