<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/lua53</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/lua5.3</string>
			<key>mtime</key>
			<integer>1604072486</integer>
			<key>sha256</key>
			<string>0e0857e0aa8088eed11c8662548c8353004d9947ff46ff80659c44c3e8045557</string>
			<key>size</key>
			<integer>239768</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/luac5.3</string>
			<key>mtime</key>
			<integer>1604072486</integer>
			<key>sha256</key>
			<string>1dc54152e8426f06a774f81fd6f28e403e578437a11f715cba09000ac3d4fec9</string>
			<key>size</key>
			<integer>157872</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/liblua5.3.so.5.3.5</string>
			<key>mtime</key>
			<integer>1604072486</integer>
			<key>sha256</key>
			<string>20cb9d91074b05b613dbbf598f744a13bd88bfdd23b194adb4d49c5edc7ae60b</string>
			<key>size</key>
			<integer>235496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/lua53/readme.html</string>
			<key>mtime</key>
			<integer>1604072486</integer>
			<key>sha256</key>
			<string>4e16bfad43b748ead29b3e25c5b6016d74607b9064ac22844ceb77d713c7714d</string>
			<key>size</key>
			<integer>11379</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/lua5.3.1</string>
			<key>mtime</key>
			<integer>1604072486</integer>
			<key>sha256</key>
			<string>ea03f57804296ef00f1186040a0aa8b18d33dcd09ee78be2fdd89d31ef6cf195</string>
			<key>size</key>
			<integer>2192</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/luac5.3.1</string>
			<key>mtime</key>
			<integer>1604072486</integer>
			<key>sha256</key>
			<string>ac60e6992db478539dff611beed7ad01f52622c897657a9152165470039b0494</string>
			<key>size</key>
			<integer>3071</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/liblua5.3.so.5.3</string>
			<key>mtime</key>
			<integer>1604072486</integer>
			<key>target</key>
			<string>/usr/lib/liblua5.3.so.5.3.5</string>
		</dict>
	</array>
</dict>
</plist>
