<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/m17n/1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/m17n</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/m17n/1.0/libmimx-ispell.so</string>
			<key>mtime</key>
			<integer>1521995886</integer>
			<key>sha256</key>
			<string>f3ce2f15966fa3fbace8b7e0a27d4f66cbe77e7a622e52d292a0f7611a41542c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/m17n/1.0/libm17n-X.so</string>
			<key>mtime</key>
			<integer>1521995886</integer>
			<key>sha256</key>
			<string>5a28917e5e42cf80f328d91e8df7ca65fb94bbbd149b67be741633cea067b68c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/m17n/1.0/libm17n-gd.so</string>
			<key>mtime</key>
			<integer>1521995886</integer>
			<key>sha256</key>
			<string>7caa1748f1c10a5cabe64bb02eea202fdb806fbd8a4f2c98cfb1ac7f1d6768cd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/m17n/1.0/libmimx-anthy.so</string>
			<key>mtime</key>
			<integer>1521995886</integer>
			<key>sha256</key>
			<string>3afbce6e27670a18a95457d179ac2f47852d55467294ce02c1f4cb46f27ec992</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libm17n-core.so.0.4.2</string>
			<key>mtime</key>
			<integer>1521995886</integer>
			<key>sha256</key>
			<string>a6a137dff2d2ef3d641c14f12a27f7e85ba28831790dea87deaf74347a20fd8b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libm17n-gui.so.0.4.2</string>
			<key>mtime</key>
			<integer>1521995886</integer>
			<key>sha256</key>
			<string>2a48bb8381f72f9ef6913a87cebc3f710fcf99b372165b4d55745f21632b2765</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libm17n.so.0.4.2</string>
			<key>mtime</key>
			<integer>1521995886</integer>
			<key>sha256</key>
			<string>9ee2c0912ed492bd9dcd6b822980ce359672479877c88b4c639e1f468aa2103d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libm17n-flt.so.0.4.2</string>
			<key>mtime</key>
			<integer>1521995886</integer>
			<key>sha256</key>
			<string>3e1029da35768112efa585f52c8de641cda6bd13da8478fab4c0dcd57c7691a8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/m17n-edit</string>
			<key>mtime</key>
			<integer>1521995886</integer>
			<key>sha256</key>
			<string>d3365421f1b13c4e076ce3476e334da24582f3e72926e5e035153c5a159d3233</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/m17n-conv</string>
			<key>mtime</key>
			<integer>1521995886</integer>
			<key>sha256</key>
			<string>1a204a223c2d6c79ab107ff89d1291f6118c9331a024017a80f144d60f3d1420</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/m17n-dump</string>
			<key>mtime</key>
			<integer>1521995886</integer>
			<key>sha256</key>
			<string>f75504d3def563976cff6d2502d5c55cb55d3831dd35a3014365422bdde6279e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/m17n-view</string>
			<key>mtime</key>
			<integer>1521995886</integer>
			<key>sha256</key>
			<string>bd2a6a613a12a6c01ae6d7091084b90c89b94003667fd961c7241492072c4d8e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/m17n-date</string>
			<key>mtime</key>
			<integer>1521995886</integer>
			<key>sha256</key>
			<string>b2eb1da13ed78cba27602e56191738825bede30a22220b0dbca1bb5b3b1b5672</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libm17n-flt.so.0</string>
			<key>mtime</key>
			<integer>1521995886</integer>
			<key>target</key>
			<string>/usr/lib/libm17n-flt.so.0.4.2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libm17n-core.so.0</string>
			<key>mtime</key>
			<integer>1521995886</integer>
			<key>target</key>
			<string>/usr/lib/libm17n-core.so.0.4.2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libm17n-gui.so.0</string>
			<key>mtime</key>
			<integer>1521995886</integer>
			<key>target</key>
			<string>/usr/lib/libm17n-gui.so.0.4.2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libm17n.so.0</string>
			<key>mtime</key>
			<integer>1521995886</integer>
			<key>target</key>
			<string>/usr/lib/libm17n.so.0.4.2</string>
		</dict>
	</array>
</dict>
</plist>
