<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/mailx.rc</string>
			<key>mtime</key>
			<integer>1600272147</integer>
			<key>sha256</key>
			<string>9e01e244e55a17ed280c77d81507322c6fd16aca90a7b7d3db177f04898986e4</string>
			<key>size</key>
			<integer>1968</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/mailx</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/mailx</string>
			<key>mtime</key>
			<integer>1600272147</integer>
			<key>sha256</key>
			<string>c235867f7fa54fd3a33fa3d20459e0c1c8f15f6e4f1dbf98c0f2cc4397ee0b37</string>
			<key>size</key>
			<integer>387768</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/mailx/COPYING</string>
			<key>mtime</key>
			<integer>1600272147</integer>
			<key>sha256</key>
			<string>5ddc00aed98a0cf75fc7edfd9f3aeb1e919ae0ad5e9ff55d61f643d62d802b07</string>
			<key>size</key>
			<integer>32964</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mailx.1</string>
			<key>mtime</key>
			<integer>1600272147</integer>
			<key>sha256</key>
			<string>30b6dbb7fbb763f4717156b217a97a6c91c2bf2355c04092d4724a2cf5834ee3</string>
			<key>size</key>
			<integer>134747</integer>
		</dict>
	</array>
</dict>
</plist>
