<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/make</string>
			<key>mtime</key>
			<integer>1603322972</integer>
			<key>sha256</key>
			<string>5328e424375d3bc803215f5a19cfdd3a27d33713cfc0fa252c26ef547b6f048a</string>
			<key>size</key>
			<integer>243312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gnumake.h</string>
			<key>mtime</key>
			<integer>1603322972</integer>
			<key>sha256</key>
			<string>64b7abf4a666e292d8d819cab6e113347f8369634b014b14168f6ddebda7f648</string>
			<key>size</key>
			<integer>2912</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/make.info</string>
			<key>mtime</key>
			<integer>1603322972</integer>
			<key>sha256</key>
			<string>797d6c6e51f71b9e9e5b7ee81ecd44b286877945df24464694c3bf7fb40ae353</string>
			<key>size</key>
			<integer>6185</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/make.info-1</string>
			<key>mtime</key>
			<integer>1603322972</integer>
			<key>sha256</key>
			<string>d237ef969a8dd755969577ae48cd185b633dcc4eb92af00c2c109d87f4e494ba</string>
			<key>size</key>
			<integer>300214</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/make.info-2</string>
			<key>mtime</key>
			<integer>1603322972</integer>
			<key>sha256</key>
			<string>1c498d825c56447740b1d3ca801f974c95b1fb5075f0bffc116dc44dfc1dcfdb</string>
			<key>size</key>
			<integer>313692</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1603322972</integer>
			<key>sha256</key>
			<string>307d9aa86aad80e27f832510ecdd08c7d9429ab3d75047c163a2dc21a2a41202</string>
			<key>size</key>
			<integer>6580</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1603322972</integer>
			<key>sha256</key>
			<string>e04d0ec4de8797388ed50912dad5d5a926a12ff7897949c9d7509866ed9afb96</string>
			<key>size</key>
			<integer>59330</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1603322972</integer>
			<key>sha256</key>
			<string>1da2f86eeb07cbac4ac2bebda75aef6fee3ded2e19c0e2162ad2706b9d7b20d5</string>
			<key>size</key>
			<integer>45689</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1603322972</integer>
			<key>sha256</key>
			<string>ae84f9e45ad15adc49a78a10864b4801f15dbdf462693efb6ff5148262caff46</string>
			<key>size</key>
			<integer>41220</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1603322972</integer>
			<key>sha256</key>
			<string>6d03964f41912310abf187e89fee92ec4a231c92ca0caa88b80a30ed67b1bc74</string>
			<key>size</key>
			<integer>45198</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1603322972</integer>
			<key>sha256</key>
			<string>65d4c4c4e5b5ff0199aa3a9a822e62f1fe72998e0f12cc3821125bee0b3d1f68</string>
			<key>size</key>
			<integer>45980</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1603322972</integer>
			<key>sha256</key>
			<string>ce8ad69e9e021a1bc17b800ba04a0427d37ccb0a05ac6c2091d2a3a8e25c93f5</string>
			<key>size</key>
			<integer>31939</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1603322972</integer>
			<key>sha256</key>
			<string>68b9fcfaa4f6831238681d7f6b5517f3ac3b40b0fcaa126972644aa767531560</string>
			<key>size</key>
			<integer>44911</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1603322972</integer>
			<key>sha256</key>
			<string>4356c760607900489846221f2e6fdea655e9f82f8eea4195680ac5d514fade56</string>
			<key>size</key>
			<integer>43490</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1603322972</integer>
			<key>sha256</key>
			<string>9956e5551f97c8b41ba80b0e335670c38c9a32f7f697c4cfa6913e021258eb08</string>
			<key>size</key>
			<integer>21543</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1603322972</integer>
			<key>sha256</key>
			<string>d13645a617e8cd608d217ae6be4616d79b714a7d9106ee62af6aaf020afdadd8</string>
			<key>size</key>
			<integer>10151</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1603322972</integer>
			<key>sha256</key>
			<string>a6eaf7dfe25526bd6ecf039c8bc93017f87cc006eca2dd91dbe7161679588605</string>
			<key>size</key>
			<integer>46070</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1603322972</integer>
			<key>sha256</key>
			<string>b3e0fd9c76ff340ec1cc287527770bc883813646f3a861f4b4f0795ee2e7ba75</string>
			<key>size</key>
			<integer>40284</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1603322972</integer>
			<key>sha256</key>
			<string>6a8988c19497ca24123fb63d435e460f5c72ba8cb499e6371897742f30fad106</string>
			<key>size</key>
			<integer>45544</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1603322972</integer>
			<key>sha256</key>
			<string>974d341071c801b2dca1ee1e6cf5e0631034f226d702559aa5a22fd3c54733a8</string>
			<key>size</key>
			<integer>48996</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1603322972</integer>
			<key>sha256</key>
			<string>640f71cc2fe2d6470b7e5fbe1d89e8f879493e907690315ef527f3433eeb9dd0</string>
			<key>size</key>
			<integer>46973</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1603322972</integer>
			<key>sha256</key>
			<string>0b7d870745918b3e0f7d9a351d48f6e8ba844961e960b2f71382ed6545cb8186</string>
			<key>size</key>
			<integer>7037</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1603322972</integer>
			<key>sha256</key>
			<string>1ef7d4e62ea678855457e4a500ed43f00b12bd96128114d400332670049b260a</string>
			<key>size</key>
			<integer>44391</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1603322972</integer>
			<key>sha256</key>
			<string>911e8e38212372a3a173a83e1940a9c2d94ee2e65e89106bc8a9416175703132</string>
			<key>size</key>
			<integer>44530</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1603322972</integer>
			<key>sha256</key>
			<string>c170d26231b02257479eb8b6921e6a03b0e92503793fbf79d9a288e4329ecce9</string>
			<key>size</key>
			<integer>43530</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1603322972</integer>
			<key>sha256</key>
			<string>11bf93962e75a1131b70bdd2995ea887d479085fcad43c74d650e4460f5313b8</string>
			<key>size</key>
			<integer>44043</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1603322972</integer>
			<key>sha256</key>
			<string>1f40fd551904b9fcab425cf22db6b80d5e6de7afa8b0587fec69685e2974fd62</string>
			<key>size</key>
			<integer>56673</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1603322972</integer>
			<key>sha256</key>
			<string>fb9dd893dd2a27ed9e1b64f76525c5c99165122b9bc6bc78531bba8491a74089</string>
			<key>size</key>
			<integer>53185</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1603322972</integer>
			<key>sha256</key>
			<string>1841ab2117ca68ae0440f136dd73fc2f43f031c07e8a8d6e486d9073ade303de</string>
			<key>size</key>
			<integer>43480</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1603322972</integer>
			<key>sha256</key>
			<string>88366c0ef1903120bd1b05041b165cf722dbe401b41614e3b50c705417d0e2b6</string>
			<key>size</key>
			<integer>18996</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1603322972</integer>
			<key>sha256</key>
			<string>99ccb48159839952fd8c40f09d545f281c7532cb0c319835afa87908e2a374d8</string>
			<key>size</key>
			<integer>56014</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1603322972</integer>
			<key>sha256</key>
			<string>620f0efd19b75f069266685e036d25ccaabe6aba566051dcad17519abf789cb3</string>
			<key>size</key>
			<integer>47388</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1603322972</integer>
			<key>sha256</key>
			<string>db754dc615e9f37cd9445a5b295e35bd227567aa23db01236544b1f2cebc1f7d</string>
			<key>size</key>
			<integer>42126</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1603322972</integer>
			<key>sha256</key>
			<string>e496a699d3a9fe451d42ce92a115e2614d1511b84704ca889e33c7d8cfbb2b22</string>
			<key>size</key>
			<integer>42268</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/make.1</string>
			<key>mtime</key>
			<integer>1603322972</integer>
			<key>sha256</key>
			<string>282f17d5765ea8c56aba187cdffecbef254f2c76e75ca57d1f5b02ea6c752ae3</string>
			<key>size</key>
			<integer>11033</integer>
		</dict>
	</array>
</dict>
</plist>
