<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/mcpp</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/mcpp</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/mcpp</string>
			<key>mtime</key>
			<integer>1579277750</integer>
			<key>sha256</key>
			<string>fdcd7e0915a8cf3516c1c36bd67e26d0c1ac60cec8b9e6e7fcc8340a06f1a337</string>
			<key>size</key>
			<integer>14400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/mcpp/LICENSE</string>
			<key>mtime</key>
			<integer>1579277750</integer>
			<key>sha256</key>
			<string>adcd59c07ccdb072c8e1d40adb5cac670fcf3f51ba3a7fb41d46362bfd883b1b</string>
			<key>size</key>
			<integer>1460</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/mcpp/NEWS</string>
			<key>mtime</key>
			<integer>1579277750</integer>
			<key>sha256</key>
			<string>9c58edf1ab8d40c3b9b946cf00deea32816e9b63240f044c588e77ca2d3cce28</string>
			<key>size</key>
			<integer>3888</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/mcpp/README</string>
			<key>mtime</key>
			<integer>1579277750</integer>
			<key>sha256</key>
			<string>64518b3f231989dd46819108db51a93a486b7573f0804d169a7b1d70cbe71987</string>
			<key>size</key>
			<integer>2242</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/mcpp/mcpp-manual-jp.html</string>
			<key>mtime</key>
			<integer>1579277750</integer>
			<key>sha256</key>
			<string>5635212b922f9eccb6fdf5ca2391282cbc526b7e7c6d2a7f61226906c83f6851</string>
			<key>size</key>
			<integer>368997</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/mcpp/mcpp-manual.html</string>
			<key>mtime</key>
			<integer>1579277750</integer>
			<key>sha256</key>
			<string>2620abd9ff3a6e2f4e897741b325ed37c0cee682dd6bb33e32d11f1808e383ae</string>
			<key>size</key>
			<integer>403214</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/mcpp/LICENSE</string>
			<key>mtime</key>
			<integer>1579277750</integer>
			<key>sha256</key>
			<string>adcd59c07ccdb072c8e1d40adb5cac670fcf3f51ba3a7fb41d46362bfd883b1b</string>
			<key>size</key>
			<integer>1460</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mcpp.1</string>
			<key>mtime</key>
			<integer>1579277750</integer>
			<key>sha256</key>
			<string>2910a5d02bf026094680f8b929cf2032e6a75dd1f5db262a3bd97350e08371eb</string>
			<key>size</key>
			<integer>4074</integer>
		</dict>
	</array>
</dict>
</plist>
