<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/dri</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gallium-pipe</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/dri/i915_dri.so</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>sha256</key>
			<string>de2b652557e192ba05f3d796647342ab371c14caef83ea99fe3fea1de814687d</string>
			<key>size</key>
			<integer>13620520</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/dri/i965_dri.so</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>sha256</key>
			<string>de2b652557e192ba05f3d796647342ab371c14caef83ea99fe3fea1de814687d</string>
			<key>size</key>
			<integer>13620520</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/dri/iris_dri.so</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>sha256</key>
			<string>e7967cd518e2d58b2b601d2a7022afa9cb13191ed6aac987d726c8425bc99a86</string>
			<key>size</key>
			<integer>21023392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/dri/kms_swrast_dri.so</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>sha256</key>
			<string>e7967cd518e2d58b2b601d2a7022afa9cb13191ed6aac987d726c8425bc99a86</string>
			<key>size</key>
			<integer>21023392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/dri/libgallium_dri.so</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>sha256</key>
			<string>e7967cd518e2d58b2b601d2a7022afa9cb13191ed6aac987d726c8425bc99a86</string>
			<key>size</key>
			<integer>21023392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/dri/libmesa_dri_drivers.so</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>sha256</key>
			<string>de2b652557e192ba05f3d796647342ab371c14caef83ea99fe3fea1de814687d</string>
			<key>size</key>
			<integer>13620520</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/dri/nouveau_dri.so</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>sha256</key>
			<string>e7967cd518e2d58b2b601d2a7022afa9cb13191ed6aac987d726c8425bc99a86</string>
			<key>size</key>
			<integer>21023392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/dri/nouveau_vieux_dri.so</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>sha256</key>
			<string>de2b652557e192ba05f3d796647342ab371c14caef83ea99fe3fea1de814687d</string>
			<key>size</key>
			<integer>13620520</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/dri/r200_dri.so</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>sha256</key>
			<string>de2b652557e192ba05f3d796647342ab371c14caef83ea99fe3fea1de814687d</string>
			<key>size</key>
			<integer>13620520</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/dri/r300_dri.so</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>sha256</key>
			<string>e7967cd518e2d58b2b601d2a7022afa9cb13191ed6aac987d726c8425bc99a86</string>
			<key>size</key>
			<integer>21023392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/dri/r600_dri.so</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>sha256</key>
			<string>e7967cd518e2d58b2b601d2a7022afa9cb13191ed6aac987d726c8425bc99a86</string>
			<key>size</key>
			<integer>21023392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/dri/radeon_dri.so</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>sha256</key>
			<string>de2b652557e192ba05f3d796647342ab371c14caef83ea99fe3fea1de814687d</string>
			<key>size</key>
			<integer>13620520</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/dri/radeonsi_dri.so</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>sha256</key>
			<string>e7967cd518e2d58b2b601d2a7022afa9cb13191ed6aac987d726c8425bc99a86</string>
			<key>size</key>
			<integer>21023392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/dri/swrast_dri.so</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>sha256</key>
			<string>e7967cd518e2d58b2b601d2a7022afa9cb13191ed6aac987d726c8425bc99a86</string>
			<key>size</key>
			<integer>21023392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/dri/virtio_gpu_dri.so</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>sha256</key>
			<string>e7967cd518e2d58b2b601d2a7022afa9cb13191ed6aac987d726c8425bc99a86</string>
			<key>size</key>
			<integer>21023392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/dri/vmwgfx_dri.so</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>sha256</key>
			<string>e7967cd518e2d58b2b601d2a7022afa9cb13191ed6aac987d726c8425bc99a86</string>
			<key>size</key>
			<integer>21023392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gallium-pipe/pipe_iris.so</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>sha256</key>
			<string>8166f0abae206e9bbdb8157347ff7481fe964b014de9cbcc57f35d52227c3748</string>
			<key>size</key>
			<integer>7224352</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gallium-pipe/pipe_nouveau.so</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>sha256</key>
			<string>dd6ccd3af718ff6ac6f74f7ac00823c5af237355d5e1f79fc90a36a5578a5863</string>
			<key>size</key>
			<integer>5561600</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gallium-pipe/pipe_r300.so</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>sha256</key>
			<string>619323fa264d7b5dad44afb7d1974cd318116f4e4f09a0e84d254755c4f93630</string>
			<key>size</key>
			<integer>2453192</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gallium-pipe/pipe_r600.so</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>sha256</key>
			<string>b2eb8db99d33c970bae5d180e0eabfd783a79d9d3dc7bc9fe76086db5b977260</string>
			<key>size</key>
			<integer>5105920</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gallium-pipe/pipe_radeonsi.so</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>sha256</key>
			<string>755c711233638ec971d319ba9c5faf22261fd1a822cca78513bb8eaf5d249490</string>
			<key>size</key>
			<integer>5341344</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gallium-pipe/pipe_swrast.so</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>sha256</key>
			<string>60b9dec56eb66ff076c2b31adc695952d440f6d4579ece1ae41f8841bb7fbc50</string>
			<key>size</key>
			<integer>4472896</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gallium-pipe/pipe_vmwgfx.so</string>
			<key>mtime</key>
			<integer>1612061379</integer>
			<key>sha256</key>
			<string>53ef50a988ce8105ce25603d115727333373220cf195887720ca4f5232f4e234</string>
			<key>size</key>
			<integer>2542848</integer>
		</dict>
	</array>
</dict>
</plist>
