<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgssapi_krb5.so.2.2</string>
			<key>mtime</key>
			<integer>1606108923</integer>
			<key>sha256</key>
			<string>77b60fc6b68141e6c013f47fec93952b70a3fe328a3317a006975162a6f62a7c</string>
			<key>size</key>
			<integer>332120</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgssrpc.so.4.2</string>
			<key>mtime</key>
			<integer>1606108923</integer>
			<key>sha256</key>
			<string>5a4f29bdf53eb88cd9d8d6d5402e942c809310510b0fd2538693ef32a95ca379</string>
			<key>size</key>
			<integer>126160</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libk5crypto.so.3.1</string>
			<key>mtime</key>
			<integer>1606108923</integer>
			<key>sha256</key>
			<string>f59ed3a52c9c90351ad74116f87e2c1fdd14cf5c7ea1d74d4be3ccb4de867136</string>
			<key>size</key>
			<integer>186576</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libkadm5clnt_mit.so.12.0</string>
			<key>mtime</key>
			<integer>1606108923</integer>
			<key>sha256</key>
			<string>b15f584fe142d4c533544b2e1aeaa89fed64a9c36517770dab63b0b63f373920</string>
			<key>size</key>
			<integer>92224</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libkadm5srv_mit.so.12.0</string>
			<key>mtime</key>
			<integer>1606108923</integer>
			<key>sha256</key>
			<string>42b2f1a1896540a3416017b109fca5c29f1e0f663e4ac7f45f39eb7bf6321ff7</string>
			<key>size</key>
			<integer>116800</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libkdb5.so.10.0</string>
			<key>mtime</key>
			<integer>1606108923</integer>
			<key>sha256</key>
			<string>8cc6c58cdd718d4b5ae2537bb7f68a1359e8ae4105d01d581c64bdb82037b5b1</string>
			<key>size</key>
			<integer>76008</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libkdb_ldap.so.1.0</string>
			<key>mtime</key>
			<integer>1606108923</integer>
			<key>sha256</key>
			<string>4d78d2885c60b03dc4164d66109c33cadf0341a9ab0a21bc2afd20a71fa19119</string>
			<key>size</key>
			<integer>105184</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libkrad.so.0.0</string>
			<key>mtime</key>
			<integer>1606108923</integer>
			<key>sha256</key>
			<string>35bcd142d95402de03afded57e0ea2abb616c1ad103cdac8dc01207570c47332</string>
			<key>size</key>
			<integer>43064</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libkrb5.so.3.3</string>
			<key>mtime</key>
			<integer>1606108923</integer>
			<key>sha256</key>
			<string>c2f6b6341be398775009a61409425e8289b7022626a4d701e70034b9a211a4ba</string>
			<key>size</key>
			<integer>875128</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libkrb5support.so.0.1</string>
			<key>mtime</key>
			<integer>1606108923</integer>
			<key>sha256</key>
			<string>6b77d62058b861bc7853e1aa43669fc458c988deb89ff31a8ef6bf62e0150cd4</string>
			<key>size</key>
			<integer>51488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libverto.so.0.0</string>
			<key>mtime</key>
			<integer>1606108923</integer>
			<key>sha256</key>
			<string>db1221472b40a82b9bf29bdfabd017360b77ccb80f829f4e1d6338f2ba56f128</string>
			<key>size</key>
			<integer>39120</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgssapi_krb5.so.2</string>
			<key>mtime</key>
			<integer>1606108923</integer>
			<key>target</key>
			<string>/usr/lib/libgssapi_krb5.so.2.2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgssrpc.so.4</string>
			<key>mtime</key>
			<integer>1606108923</integer>
			<key>target</key>
			<string>/usr/lib/libgssrpc.so.4.2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libk5crypto.so.3</string>
			<key>mtime</key>
			<integer>1606108923</integer>
			<key>target</key>
			<string>/usr/lib/libk5crypto.so.3.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libkadm5clnt_mit.so.12</string>
			<key>mtime</key>
			<integer>1606108923</integer>
			<key>target</key>
			<string>/usr/lib/libkadm5clnt_mit.so.12.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libkadm5srv_mit.so.12</string>
			<key>mtime</key>
			<integer>1606108923</integer>
			<key>target</key>
			<string>/usr/lib/libkadm5srv_mit.so.12.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libkdb5.so.10</string>
			<key>mtime</key>
			<integer>1606108923</integer>
			<key>target</key>
			<string>/usr/lib/libkdb5.so.10.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libkdb_ldap.so.1</string>
			<key>mtime</key>
			<integer>1606108923</integer>
			<key>target</key>
			<string>/usr/lib/libkdb_ldap.so.1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libkrad.so.0</string>
			<key>mtime</key>
			<integer>1606108923</integer>
			<key>target</key>
			<string>/usr/lib/libkrad.so.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libkrb5.so.3</string>
			<key>mtime</key>
			<integer>1606108923</integer>
			<key>target</key>
			<string>/usr/lib/libkrb5.so.3.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libkrb5support.so.0</string>
			<key>mtime</key>
			<integer>1606108923</integer>
			<key>target</key>
			<string>/usr/lib/libkrb5support.so.0.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libverto.so.0</string>
			<key>mtime</key>
			<integer>1606108923</integer>
			<key>target</key>
			<string>/usr/lib/libverto.so.0.0</string>
		</dict>
	</array>
</dict>
</plist>
