<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/mkfontscale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/mkfontdir</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>3e42ff36b592706e5846d6133c38422d33881d3eaef87e59e9fda381c591ef78</string>
			<key>size</key>
			<integer>65</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mkfontscale</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>0b529fa573610f70847fe1d1b8ba40359536b65f4177862ed7c38a86f6f14f33</string>
			<key>size</key>
			<integer>43608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/mkfontscale/COPYING</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>80df6f5b759f7775042313e4586506db60f26fd15b98b532cf518bd8cf1e8488</string>
			<key>size</key>
			<integer>4571</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mkfontdir.1</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>6198f81373f2d87b60f148ee900ac455c2544df0ff52acf0c93d5974715c4fba</string>
			<key>size</key>
			<integer>6566</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mkfontscale.1</string>
			<key>mtime</key>
			<integer>1604159176</integer>
			<key>sha256</key>
			<string>417105f32ff27712cefb71e68fddd01004bee62386d9d60cae6b44eb34461714</string>
			<key>size</key>
			<integer>3734</integer>
		</dict>
	</array>
</dict>
</plist>
