<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/mobile-broadband-provider-info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/mobile-broadband-provider-info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pkgconfig</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/mobile-broadband-provider-info/COPYING</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>3d510b215a33087b9ceb9592da21575ea1f9f98bd4d983a38e65fe851a552174</string>
			<key>size</key>
			<integer>1623</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/mobile-broadband-provider-info/apns-conf.xml</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>eb66bef6d8224f20ba591a945c59d4196b034ba8ad15e6d5703ab125a9f3eac8</string>
			<key>size</key>
			<integer>149538</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/mobile-broadband-provider-info/serviceproviders.2.dtd</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>9ae089ae98b4dd4cdf5c225d58b45dfdde78230260dd2e56f428df707d43c9ad</string>
			<key>size</key>
			<integer>4610</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/mobile-broadband-provider-info/serviceproviders.xml</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>3d0bbfa92ee7e7ee49800d9582e09567a5267a2c80d2a9fddc8dbdb507576768</string>
			<key>size</key>
			<integer>348895</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pkgconfig/mobile-broadband-provider-info.pc</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>23ce0d44f2e588cbf5467fd4610070664e4093a75553c4cdc4c37021b8d169a0</string>
			<key>size</key>
			<integer>300</integer>
		</dict>
	</array>
</dict>
</plist>
