<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/mpv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/examples</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/examples/mpv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/64x64</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/64x64/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/symbolic</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/symbolic/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/zsh</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/zsh/site-functions</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/mpv/encoding-profiles.conf</string>
			<key>mtime</key>
			<integer>1607527664</integer>
			<key>sha256</key>
			<string>74c249d3e40e67afcff4eb5b4f3c339638ff7e2077aee766e16769e7e5dce64a</string>
			<key>size</key>
			<integer>7935</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mpv</string>
			<key>mtime</key>
			<integer>1607527664</integer>
			<key>sha256</key>
			<string>4a7b8939a3c219de0dbb3f9031864cffd15811e80b2680cccf24ec53f7164139</string>
			<key>size</key>
			<integer>2236232</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libmpv.so.1.109.0</string>
			<key>mtime</key>
			<integer>1607527664</integer>
			<key>sha256</key>
			<string>be162d7ed7c83350a026d64d0d5f2c86fe44fe6f7d1a6dc1078016cd89389ba5</string>
			<key>size</key>
			<integer>2223808</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/mpv.desktop</string>
			<key>mtime</key>
			<integer>1607527664</integer>
			<key>sha256</key>
			<string>66ba4c15a813265c724c553c908ef0347b58ddf6a94f77d20a2df240fad265ac</string>
			<key>size</key>
			<integer>3024</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/mpv</string>
			<key>mtime</key>
			<integer>1607527664</integer>
			<key>sha256</key>
			<string>ff484b1b4a4b71126331fd739dc9dcfbbf0f1f32d51c7d4e63a483917bf267cc</string>
			<key>size</key>
			<integer>3466</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/examples/mpv/input.conf</string>
			<key>mtime</key>
			<integer>1607527664</integer>
			<key>sha256</key>
			<string>e398265065f060ce0c75b6fc05592e7895344e57a7f40b0e21574291d5ce8fe6</string>
			<key>size</key>
			<integer>7507</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/examples/mpv/mplayer-input.conf</string>
			<key>mtime</key>
			<integer>1607527664</integer>
			<key>sha256</key>
			<string>c2da15a4cfa91805e0f2254dc9a8907305ad936600f20818a54e991015caeef7</string>
			<key>size</key>
			<integer>2781</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/examples/mpv/mpv.conf</string>
			<key>mtime</key>
			<integer>1607527664</integer>
			<key>sha256</key>
			<string>cb4ca261a799566de59a7d2cecf38c35a08a69a90a1c1ee8f7d42d5fee961e2e</string>
			<key>size</key>
			<integer>4365</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/examples/mpv/restore-old-bindings.conf</string>
			<key>mtime</key>
			<integer>1607527664</integer>
			<key>sha256</key>
			<string>f82e21d5b2c7b93985cd09bb958e6ad173d38782e50300ffc5c5beffe7e5eae5</string>
			<key>size</key>
			<integer>1318</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps/mpv.png</string>
			<key>mtime</key>
			<integer>1607527664</integer>
			<key>sha256</key>
			<string>c21fa20771ce7c25caa91cad89799088e0802d6a0f2261f6fa252fde75696f66</string>
			<key>size</key>
			<integer>22984</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/apps/mpv.png</string>
			<key>mtime</key>
			<integer>1607527664</integer>
			<key>sha256</key>
			<string>c7e7132b762f24429dc0c3331c77fe83bcbeae6e31ecb03a0c199adf4efe7159</string>
			<key>size</key>
			<integer>759</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps/mpv.png</string>
			<key>mtime</key>
			<integer>1607527664</integer>
			<key>sha256</key>
			<string>69846d9f4764731f3a70f3727495e28eacc4db653e4a47fac6d9fed514512377</string>
			<key>size</key>
			<integer>2124</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/64x64/apps/mpv.png</string>
			<key>mtime</key>
			<integer>1607527664</integer>
			<key>sha256</key>
			<string>37776bc73a93f8ea6221edefbffbab326d3ae8cf19d3f1d2845028af9baec0f4</string>
			<key>size</key>
			<integer>5686</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/apps/mpv.svg</string>
			<key>mtime</key>
			<integer>1607527664</integer>
			<key>sha256</key>
			<string>bf6082c81dcc8b8c6351326b53530f461258af9ca71c4642372654eba29c598f</string>
			<key>size</key>
			<integer>6774</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/symbolic/apps/mpv-symbolic.svg</string>
			<key>mtime</key>
			<integer>1607527664</integer>
			<key>sha256</key>
			<string>9d1b8f5f347cb50d66fb4f3d4566035d7bc9ff4f1f6338a0e3e5a88d25755ec7</string>
			<key>size</key>
			<integer>3074</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mpv.1</string>
			<key>mtime</key>
			<integer>1607527664</integer>
			<key>sha256</key>
			<string>e672df1405028f8a01eed50a2216cc901355ac8704c87453a0a3074721314c18</string>
			<key>size</key>
			<integer>708722</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/zsh/site-functions/_mpv</string>
			<key>mtime</key>
			<integer>1607527664</integer>
			<key>sha256</key>
			<string>66b8fb63893ac36d833127587e99838eb3a02b0a239093da80bad5ce73d60632</string>
			<key>size</key>
			<integer>7633</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libmpv.so.1</string>
			<key>mtime</key>
			<integer>1607527664</integer>
			<key>target</key>
			<string>/usr/lib/libmpv.so.1.109.0</string>
		</dict>
	</array>
</dict>
</plist>
