<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/mtdev</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/mtdev-test</string>
			<key>mtime</key>
			<integer>1581678542</integer>
			<key>sha256</key>
			<string>29284baae5209b755a9f787f7289e23a9ca8c3bd0ab7c195624f22da3c82da89</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libmtdev.so.1.0.0</string>
			<key>mtime</key>
			<integer>1581678542</integer>
			<key>sha256</key>
			<string>689adeee1a6a4b7ba91b2a86ec78ddaa0dfa3fd87ced065d4a64a87fab26d7bc</string>
			<key>size</key>
			<integer>26528</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/mtdev/COPYING</string>
			<key>mtime</key>
			<integer>1581678542</integer>
			<key>sha256</key>
			<string>795bfe74daae59a97d3a0c8ec0ba0f08c243adf94a3aa7981a4136fce31d55b4</string>
			<key>size</key>
			<integer>1209</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libmtdev.so.1</string>
			<key>mtime</key>
			<integer>1581678542</integer>
			<key>target</key>
			<string>/usr/lib/libmtdev.so.1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
