<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/mtr</string>
			<key>mtime</key>
			<integer>1601342047</integer>
			<key>sha256</key>
			<string>4b5465058bac46aa72767e54ebddba014db93e279ccc72e26bf65ce32e4a4b71</string>
			<key>size</key>
			<integer>77832</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mtr-packet</string>
			<key>mtime</key>
			<integer>1601342047</integer>
			<key>sha256</key>
			<string>c6c14cfe6c2a631e2c8be3c2e6c5566eb7537132a77ea640929c5d1f00eabd05</string>
			<key>size</key>
			<integer>39056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/mtr</string>
			<key>mtime</key>
			<integer>1601342047</integer>
			<key>sha256</key>
			<string>37d0fc2a4113aa0e18111671033056dc59a2b6010abc9dba345d88f52f266d2c</string>
			<key>size</key>
			<integer>1924</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/mtr-packet.8</string>
			<key>mtime</key>
			<integer>1601342047</integer>
			<key>sha256</key>
			<string>c1052e9497ac61fa00720cdbe4436e41cb864c3d0e61eefd04d928f8265f34a7</string>
			<key>size</key>
			<integer>9544</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/mtr.8</string>
			<key>mtime</key>
			<integer>1601342047</integer>
			<key>sha256</key>
			<string>963cc9a2d012c4b2e23c86b1fd0731bcadc2167e721b859fb24c57748cd0e333</string>
			<key>size</key>
			<integer>12599</integer>
		</dict>
	</array>
</dict>
</plist>
