<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/ncdu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/ncdu</string>
			<key>mtime</key>
			<integer>1591879490</integer>
			<key>sha256</key>
			<string>af95fa0ff00b859457f904f67f9b3166cc2d6af3315634d9fa8e6cf7bd3c3c8c</string>
			<key>size</key>
			<integer>80416</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/ncdu/COPYING</string>
			<key>mtime</key>
			<integer>1591879490</integer>
			<key>sha256</key>
			<string>978f49428f21714c973706030c0ef09983cc1e2889a1b7b521dbf8860870cf05</string>
			<key>size</key>
			<integer>1061</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ncdu.1</string>
			<key>mtime</key>
			<integer>1591879490</integer>
			<key>sha256</key>
			<string>8b46a7e953975178c7760549a7202f219044702af0a0c46ea090a657d23a7224</string>
			<key>size</key>
			<integer>18764</integer>
		</dict>
	</array>
</dict>
</plist>
