<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libformw.so.6.2</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>95c9394fd54b00aecc6e63a1c6dafadb8e35874449e626a1eef4aa9d7ee3d672</string>
			<key>size</key>
			<integer>77024</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libmenuw.so.6.2</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>feec722287c6b0d4ae1dcfc11b6e765547d6560eb4ed2324afa7ac69f433d41f</string>
			<key>size</key>
			<integer>39144</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libncurses.so.6.2</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>758697f42c67b7410ffe00c52b1e2f76c5848b34158059d7ec8dfc57d48bb512</string>
			<key>size</key>
			<integer>384256</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libncursesw.so.6.2</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>39064bc6f385d3b329c8242b73d8faec4f424164dbd9834fa5bfeb847cf61dbc</string>
			<key>size</key>
			<integer>462112</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpanelw.so.6.2</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>9e4cb04e45bfd97da075f98b2cdd81cc375cf4c84d2c5a540e039baf00f74147</string>
			<key>size</key>
			<integer>18264</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libformw.so.6</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>target</key>
			<string>/usr/lib/libformw.so.6.2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libmenuw.so.6</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>target</key>
			<string>/usr/lib/libmenuw.so.6.2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libncurses.so.6</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>target</key>
			<string>/usr/lib/libncurses.so.6.2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libncursesw.so.6</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>target</key>
			<string>/usr/lib/libncursesw.so.6.2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpanelw.so.6</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>target</key>
			<string>/usr/lib/libpanelw.so.6.2</string>
		</dict>
	</array>
</dict>
</plist>
