<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/ncurses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/clear</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>40918ff303cd0fe7cdd5737608f314c993ff50f5888bb589178b688851fc7b56</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/infocmp</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>a2977c6b650075e40908256347353485cd6881c5e39671fa61fd9bc23f3f69fa</string>
			<key>size</key>
			<integer>63632</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/tabs</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>200f90b1d6caaa7d182b97a4d68727332a81d62d7496f043e776ccb7047cc2ec</string>
			<key>size</key>
			<integer>18496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/tic</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>2b863d7f47a3b480c136f2acf5a6791e0fb8c3090b63f6b41b460b03839c77fa</string>
			<key>size</key>
			<integer>92336</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/toe</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>6aca6e44021cd32b6efed1703ae880b8724f6ba2776ddb354253c20da7fcc6a4</string>
			<key>size</key>
			<integer>22592</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/tput</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>2c8f28caa216dbb9d9f0a95ff4af417220fe2d10bcd469da4354a36867407c42</string>
			<key>size</key>
			<integer>22624</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/tset</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>1921cb4b2cb5256fbce53faa0a70d02f1bf2141891a009845876d4909475f45c</string>
			<key>size</key>
			<integer>30792</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/ncurses/COPYING</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>8d8caaec335cbd1da15d5e9c12cd559f6d0d5566273077cc6f651684092606b5</string>
			<key>size</key>
			<integer>1446</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/captoinfo.1m</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>c5308110eedffacb138a931638c94abef5bcda15f0c8f807c3a97ebe0ced0a64</string>
			<key>size</key>
			<integer>6921</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/clear.1</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>76d463f48fa0770298fc3708b3c47a5c4850733e55484c9443baf74127e2eb71</string>
			<key>size</key>
			<integer>6200</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/infocmp.1m</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>4fbc5faf39347e5a09f4a75998a8737565f7b83b66d39618a4b53c7acc7dcb01</string>
			<key>size</key>
			<integer>22367</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/infotocap.1m</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>dfe168152a70766fadcae4f1e4b504f8e4de22a0776ba2e04c83f4a3f63fc910</string>
			<key>size</key>
			<integer>3809</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/tabs.1</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>55fe385d2783b42926a2a7b3fded01a28390fce5cda0ac26015973818bc2d27f</string>
			<key>size</key>
			<integer>8322</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/tic.1m</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>fdd6a60fcc4af49905282921ce56dfc50bd1efe1d70499eca4d3ab4ac57497ae</string>
			<key>size</key>
			<integer>20219</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/toe.1m</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>dc7f0e47270aa82c8a76f0a2d5284908e45eea59c951f03ad5199e79e3a38209</string>
			<key>size</key>
			<integer>6986</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/tput.1</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>d6d55efc6fec0c97461347b586a5d621af3332fec6074cd2101545450c464784</string>
			<key>size</key>
			<integer>21899</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/tset.1</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>1d405d2a73bf00c6ee8337448263c08fb56ed9ff19be3c8c46c1836cccb8113d</string>
			<key>size</key>
			<integer>17733</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/scr_dump.5</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>00a8f0d52fc46899ce5fc73d6e354ea2790d768141ec3a56a9aadf8d0836da52</string>
			<key>size</key>
			<integer>14103</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/term.5</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>a4fcbb4cba71bd4a43c5a589fe3c6f7dda105be94a4e9225b812993b32d49ddf</string>
			<key>size</key>
			<integer>14981</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/terminfo.5</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>5f66cb3ee34d8e9863d70c9e78a1f17faf6bab1a9132c97ffc9abc54f9a1892d</string>
			<key>size</key>
			<integer>104425</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/user_caps.5</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>3d33796cf4043b42d3589f1106f52fb226993a1ceb270082daa8ccf642c2d452</string>
			<key>size</key>
			<integer>15282</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/term.7</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>8ab8bbfe9dab6b527ff15d6cea1a4e0ea95c3f5321b8e1d94a35b2a762524296</string>
			<key>size</key>
			<integer>9705</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/captoinfo</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>target</key>
			<string>/usr/bin/tic</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/infotocap</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>target</key>
			<string>/usr/bin/tic</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/reset</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>target</key>
			<string>/usr/bin/tset</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/reset.1</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>target</key>
			<string>/usr/share/man/man1/tset.1</string>
		</dict>
	</array>
</dict>
</plist>
