<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/gnetcat</string>
			<key>mtime</key>
			<integer>1543509040</integer>
			<key>sha256</key>
			<string>c5d2f5b22209b845501b611e117ac0911c64c25e3315c71b312927fee50d0caf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/netcat.info.gz</string>
			<key>mtime</key>
			<integer>1543509040</integer>
			<key>sha256</key>
			<string>a7e560f80d96a4986dc2d994121398d28f9d98ee6e2f5deae261a82bbb6dd2b3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/netcat.mo</string>
			<key>mtime</key>
			<integer>1543509040</integer>
			<key>sha256</key>
			<string>585308d9fc3301b564098c03655eb2adaf7a29dfaf50066ffb6b4991f6b57084</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/netcat.mo</string>
			<key>mtime</key>
			<integer>1543509040</integer>
			<key>sha256</key>
			<string>00a183a12e25ce835c85882791c8574ad96a8dc109304b8f7fac0a829502f8d7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gnetcat.1</string>
			<key>mtime</key>
			<integer>1543509040</integer>
			<key>sha256</key>
			<string>d697919df5d18c3c68a01e855bc8075d74e0695cb0e366978d52b961726ee667</string>
		</dict>
	</array>
</dict>
</plist>
