<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/NetworkManager</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/NetworkManager/VPN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/appdata</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1/system.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/dz</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/dz/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ps/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/NetworkManager/VPN/nm-openvpn-service.name</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>7cd3eddc98a91a087aa2b636c26cbb8b2ee79335815d2cc00f774cc910c7e36a</string>
			<key>size</key>
			<integer>340</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/NetworkManager/libnm-vpn-plugin-openvpn-editor.so</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>dc3cd087143a2867748862774218c6c70772024ae7ac55c3f4f7c6ac44733465</string>
			<key>size</key>
			<integer>157872</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/NetworkManager/libnm-vpn-plugin-openvpn.so</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>e8181221a51c0476c2c4e05196170c2b6dfb193e8e083cde7463e14f5647d1b6</string>
			<key>size</key>
			<integer>63400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/nm-openvpn-auth-dialog</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>c8a3f6579bb8bb727184e582465937b5dc00882171ed20854a977825b755d391</string>
			<key>size</key>
			<integer>26776</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/nm-openvpn-service</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>775c62f039816c07b1f73e2127a1b747da2fb66030ae7bb99d0b0b3e963cdc9e</string>
			<key>size</key>
			<integer>59536</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/nm-openvpn-service-openvpn-helper</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>01481ad8fd62ff07bc342836954e5b05e8ad39c9b9ff035660b6213b63d63772</string>
			<key>size</key>
			<integer>30808</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/appdata/network-manager-openvpn.metainfo.xml</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>f8981c4bbf2426cf6b053c620e0569574eef5a0f854e559b09ebd69143beb595</string>
			<key>size</key>
			<integer>11129</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1/system.d/nm-openvpn-service.conf</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>150690d7463418499a3b2f35587094dd67a267d11ba3700d056fbbc3550f28c9</string>
			<key>size</key>
			<integer>506</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>d8141ee193fe7a2ec309b6527dc5e8425a1f3024de36ee74d42841502afa2d00</string>
			<key>size</key>
			<integer>1281</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>ed4ac148add24d99e1b6b474ae940b364765d3928c95be68de0c361e7b6728ac</string>
			<key>size</key>
			<integer>4720</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>e8e0dbbf706f086f96d0e55111c7cad59f61a22e2ccb16206fb023174583194d</string>
			<key>size</key>
			<integer>9746</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>dec542a629539261c2573f4dd06eac3073074b3febeb298271ccba436b7f229a</string>
			<key>size</key>
			<integer>6380</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>5dab54c165005f32f0aebac868216b220fc02f964e65f4b0954b57aa0efcae78</string>
			<key>size</key>
			<integer>19241</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>4c776c1c479d8d4af19f0eddc3892c50787a13bbe13e8dd5668e767d1f6696bd</string>
			<key>size</key>
			<integer>33704</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>2a0f6f2c8cfd36a76eb4ccc4e7e48d8435ea5bc2e6a7399a1fb54156326539e1</string>
			<key>size</key>
			<integer>3705</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>075246111bbf14ace3145fdb0ffef9a0aea3eddf2d7c990cb755097b5d821fb2</string>
			<key>size</key>
			<integer>33094</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>85abbd916b5d1ebb8336485e1de504162db1a2186e5a7bb8ab5bfc2d1eebab73</string>
			<key>size</key>
			<integer>32890</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>994c75b5d8e4777f5b9d2c525e9feafd14bd1c10ad94b5cd8e7cab3eceaafb3b</string>
			<key>size</key>
			<integer>33963</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/dz/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>9cb6da1a2d42477fefd3ef16321ca94b49e34354414e443bbb49009adc105eda</string>
			<key>size</key>
			<integer>1800</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>8f6710f49138d8f22529863035b8e683b5b6037abfc105e7b965674724e1fe23</string>
			<key>size</key>
			<integer>30433</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>c6a10e77e295f6686cfb2ee3f764fc8779fe8964f326211576cda696afd5fb50</string>
			<key>size</key>
			<integer>14080</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>e8a355c1498748ac1a66a8ae9b3f11fa696b1e4f915c6da22d33c219f98c33b8</string>
			<key>size</key>
			<integer>1760</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>08da78109478f9b552b03769ab01cd1ae820eecba5c5c04715587fe62a83fff1</string>
			<key>size</key>
			<integer>34813</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>bc5bd76e6ce9d5488f9454123036548eff7dbac7b4cc6213d3ceb801e6c4ecb9</string>
			<key>size</key>
			<integer>5003</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>8e0f0c570405fd03164c2e214191c17fc65127f5bf4ea697dc15a8f3a7315655</string>
			<key>size</key>
			<integer>18291</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>587cb94b893944b60b48baf2f51eeefaa4858eef8b161b9605e4c2c548b32b2d</string>
			<key>size</key>
			<integer>5870</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>e2bc29ae652a12475a43171a363fb65613d5302c1f9f69025835d512c891acb0</string>
			<key>size</key>
			<integer>8558</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>e82fb4759c11864320534772b64dea8b7fd90be5308df8d7dd2234eae7e9ab62</string>
			<key>size</key>
			<integer>13704</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>1e5240841ce5acdb46e0110cbf172ac7d0fe2d0ec2f8cf161e547b5fe5f462a6</string>
			<key>size</key>
			<integer>23683</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>a66e4c312b76a8b64ec452c7c187ec8e1aadc73f710668c3a17dfc59fd18252e</string>
			<key>size</key>
			<integer>32136</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>1cd5f2aca6f061866ada2f5dc011f80fa7b33cbf2d939721a953b6ce149028ed</string>
			<key>size</key>
			<integer>2858</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>07e5261ff9c96a9a396869b58262f0f941448cb9db5c5f018d9a3ac36f6b7dfd</string>
			<key>size</key>
			<integer>2493</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>88010383a37db4d951b8eba9fadab520f8cf6f080cd8c2283ef0747d3c67f075</string>
			<key>size</key>
			<integer>6171</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>39bc0713721a83024f8aba100de04f8f5a51afc72100ef90ad6f84b2bc2b89e9</string>
			<key>size</key>
			<integer>34055</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>a19b585b46591d61f792abfc11bbc7042d013af2bcf40148b44e109396c6d954</string>
			<key>size</key>
			<integer>33223</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>6b31964e48be1843f20864c12fb808f9c6337bb4c77eee5c34b459e033d92fe3</string>
			<key>size</key>
			<integer>32884</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>14c4208d9a2c185015afd62e3de082931a092fd609ea5e7f2d4a3578fd77a170</string>
			<key>size</key>
			<integer>10419</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>53a03368137995860f962fc24b1090a479d10b2f99c664ce981e765ed7ca8dfb</string>
			<key>size</key>
			<integer>1358</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>e79d58a53b7cbec3a01a561d1b7384c132ec1f7c1e7e6f428103064bdd0fc084</string>
			<key>size</key>
			<integer>4947</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>eeca30f9179ebd8b805b5bffa38eaaef142d0c3c5efe874a4cd9bac53158e382</string>
			<key>size</key>
			<integer>2530</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>26c8d9a831e2b6340f04d49b1f0fe4bf75caea77f336e296f23a8b75a5d4f166</string>
			<key>size</key>
			<integer>33368</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>c9f27bf9dc79c42195f7bd6071745a168a188b63a7af0e1a2dee448d8a975761</string>
			<key>size</key>
			<integer>32035</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mk/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>4280818d45573eb110277631770ce7d1d53bbdcd0ebd15f5f6fc4027e5e2d96b</string>
			<key>size</key>
			<integer>1353</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>36c57de8d08b45e8f76d3c7717903ec712798ade46e30b4a4ef34176e9fc6d83</string>
			<key>size</key>
			<integer>4383</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>fb5bb31b61bc0da4358a81073824a4d5d83966b2bb51c0df554d573c5b5c91ae</string>
			<key>size</key>
			<integer>5941</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>37b6035911a45992a088099b62a08947878d7175041085e58c9ccc69f5a69917</string>
			<key>size</key>
			<integer>33099</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>4d052d8cb966195334246a8cec9ffb8890bba3aaae732d344fb9d1a9d7034537</string>
			<key>size</key>
			<integer>10495</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>1f2d494f142d29666094afe911e221da8ffc203f89c9fdc4454ba6959057810d</string>
			<key>size</key>
			<integer>35574</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ps/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>ff596b2a652df89e166f4e200bee5b087862d369aa388b9162f52abf57722489</string>
			<key>size</key>
			<integer>2958</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>dccf1fd2a5563f89eeac73d8babdd8eda90b48192accd2089bc6fdb65ffbc6cb</string>
			<key>size</key>
			<integer>22270</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>613347fab840d2a026b47858eb31cb3b8f1427abe0f8f116e326c2dd45dc1439</string>
			<key>size</key>
			<integer>33482</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>0a141018002da8271819205e6692caacebeef4af75918c5296942b979eb1177c</string>
			<key>size</key>
			<integer>4042</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>f6c7f19fbd44980ac2b557ff40d9aa43ad6ff22b3ada36266412f2927178a8c7</string>
			<key>size</key>
			<integer>31690</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>046366be7718b30c0c53e814d9678752158c00d90e0bb24e029a8f855bc2ac41</string>
			<key>size</key>
			<integer>681</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>4c361dc141887098f64e4f97a12bf4177dc95600fca6239682333e259fbf23a1</string>
			<key>size</key>
			<integer>18073</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>5a6d50be4f963311d21deff40e30e79f03ba4cfc9027fddb85967a4a424871ea</string>
			<key>size</key>
			<integer>43384</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>687f6c7125688715ed7897eee3dcc444076aad93af2f0041d402b450c77d9302</string>
			<key>size</key>
			<integer>31828</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>5c1cadb9f9bbe1f1f796ffc4900f4988974bba7934d6a8f2da2e1f93ea467a83</string>
			<key>size</key>
			<integer>32517</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>d8fef8a5f79537b955aa99be957b955b0b60d9fa0d6138770d988972efec720c</string>
			<key>size</key>
			<integer>5245</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>7110bef9c87b8bd5cbe1768ec02becd8af5c5636d171c9dc9b558bc2bbe3bb81</string>
			<key>size</key>
			<integer>5064</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>1bd581954b826d11abb5f6e6d282de96eaf5e1514096ad426c9301723f94d70a</string>
			<key>size</key>
			<integer>1354</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>9a1f1af500f0adb815ee5ad7c08f8019b2292205c8a9195a230ca530e1c51315</string>
			<key>size</key>
			<integer>21068</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>d311f3ec6fe40dc5aa659757542b8588ae7ef3a9e5647c1e6617374a1bbb09ff</string>
			<key>size</key>
			<integer>2440</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>9737f4cee6a20199391ef8409da1f3d237fbf4de21b17aebfdb0550e599699ba</string>
			<key>size</key>
			<integer>47225</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>e5f0577b30274dc4b44078f1433cd61130ded2a4ac65f7cb668b8aa4966be422</string>
			<key>size</key>
			<integer>964</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>4d10eb6043267e2a4a28725d8abef6d03b87987c1da2c584fd6a95a4bb2dd50b</string>
			<key>size</key>
			<integer>12915</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>b2f9dd88d09b3498156386dd2f3ed5515d95a127c7be90db8bf1f973760118ab</string>
			<key>size</key>
			<integer>2803</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/NetworkManager-openvpn.mo</string>
			<key>mtime</key>
			<integer>1606785148</integer>
			<key>sha256</key>
			<string>f39665a041596ef5ff9656c36109866179b873bf9386c67e314cafa91a4cbb1f</string>
			<key>size</key>
			<integer>2799</integer>
		</dict>
	</array>
</dict>
</plist>
