<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/arp</string>
			<key>mtime</key>
			<integer>1563689088</integer>
			<key>sha256</key>
			<string>cf4dc6691288b66489ef09570b3097de0012705ee3fe36038151cf3e810269e6</string>
			<key>size</key>
			<integer>66832</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ipmaddr</string>
			<key>mtime</key>
			<integer>1563689088</integer>
			<key>sha256</key>
			<string>6190716887bce5d6101390363754338539437dc8d2a6eef399773eb54915256b</string>
			<key>size</key>
			<integer>18496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/iptunnel</string>
			<key>mtime</key>
			<integer>1563689088</integer>
			<key>sha256</key>
			<string>529a2e67284c011de75ac0676fcd0901d01ff52e8a176227736afca590732eef</string>
			<key>size</key>
			<integer>26696</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mii-tool</string>
			<key>mtime</key>
			<integer>1563689088</integer>
			<key>sha256</key>
			<string>0c04fe114a7426b1c3bbeaf1a21f70c41d7eb1d27c9958cd792853a72b41d11a</string>
			<key>size</key>
			<integer>27168</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/nameif</string>
			<key>mtime</key>
			<integer>1563689088</integer>
			<key>sha256</key>
			<string>2b4fa3c23c196184a2b64363489c9ca3c7772d1b673febe4dc60d160d6c8ffad</string>
			<key>size</key>
			<integer>18648</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/net-tools-hostname</string>
			<key>mtime</key>
			<integer>1563689088</integer>
			<key>sha256</key>
			<string>c44cb7fda63ac175cecc3b0df406a8b9ed0587d7c37652cb21b5abde1bf6e5db</string>
			<key>size</key>
			<integer>14488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/net-tools-ifconfig</string>
			<key>mtime</key>
			<integer>1563689088</integer>
			<key>sha256</key>
			<string>326ea282425a642aaad467a42bc72af30ce70ee22ae96991b4f1771dbbd017e1</string>
			<key>size</key>
			<integer>83040</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/netstat</string>
			<key>mtime</key>
			<integer>1563689088</integer>
			<key>sha256</key>
			<string>dadf944c7171bfc04da4fac3ff2b451bf0787304a03ab13d119fb6185f458ddf</string>
			<key>size</key>
			<integer>154168</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/plipconfig</string>
			<key>mtime</key>
			<integer>1563689088</integer>
			<key>sha256</key>
			<string>521e9b6e062b169caa80383e7a4dcdfed00beaddccf4f968ac2078c97df620cc</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/rarp</string>
			<key>mtime</key>
			<integer>1563689088</integer>
			<key>sha256</key>
			<string>68203e053a635729cd414768793953af84f61538a17ee864399059dfe396bffa</string>
			<key>size</key>
			<integer>37400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/route</string>
			<key>mtime</key>
			<integer>1563689088</integer>
			<key>sha256</key>
			<string>48c788a93968890b53572a3868be07405f12b69eff2d7958f06bfb163110e787</string>
			<key>size</key>
			<integer>65824</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/slattach</string>
			<key>mtime</key>
			<integer>1563689088</integer>
			<key>sha256</key>
			<string>97e88462991ebd558c0eacd8bd7eec7c8891aa8ad5d60ffc9ed8e507d6c6f9fb</string>
			<key>size</key>
			<integer>41496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/net-tools-hostname.1</string>
			<key>mtime</key>
			<integer>1563689088</integer>
			<key>sha256</key>
			<string>0dc23db4cd65bc131fda7b4e42e568b2a8cc86ef4bbccda3fecde7a00c37a657</string>
			<key>size</key>
			<integer>4677</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/ethers.5</string>
			<key>mtime</key>
			<integer>1563689088</integer>
			<key>sha256</key>
			<string>6b0b86919a3f6ad11b7a9243bd14601dfabdbb6c3e4ad607e4fa3ebbd6564daa</string>
			<key>size</key>
			<integer>974</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/arp.8</string>
			<key>mtime</key>
			<integer>1563689088</integer>
			<key>sha256</key>
			<string>74d45656e1e8031bcef6a26e77b60d56dfdb4acab492c307e2a9d7c395bf7ba1</string>
			<key>size</key>
			<integer>5748</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/mii-tool.8</string>
			<key>mtime</key>
			<integer>1563689088</integer>
			<key>sha256</key>
			<string>5d925c123ec6e1e6708381070bf306d43dd27e9e9c46a7b416de8f3b1bc174a1</string>
			<key>size</key>
			<integer>3858</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/nameif.8</string>
			<key>mtime</key>
			<integer>1563689088</integer>
			<key>sha256</key>
			<string>982ec44d3e567503e6e6df32105884a3cd894414c21dac410c87bd4b1a2508e5</string>
			<key>size</key>
			<integer>984</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/net-tools-ifconfig.8</string>
			<key>mtime</key>
			<integer>1563689088</integer>
			<key>sha256</key>
			<string>e44fb1060770245fd7e6b1bd39a5b811f94627538a0386efee821c1fa3e6a8a8</string>
			<key>size</key>
			<integer>7779</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/netstat.8</string>
			<key>mtime</key>
			<integer>1563689088</integer>
			<key>sha256</key>
			<string>b9f0b5338c65f6d31b75026f5e7c6c71c6fa5e55902e25b1a8cf04441d4da426</string>
			<key>size</key>
			<integer>12356</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/plipconfig.8</string>
			<key>mtime</key>
			<integer>1563689088</integer>
			<key>sha256</key>
			<string>b18b4bee8a27485750c80bbd7c7eafa9d675bcb3494853211e5bfe3327f5aba7</string>
			<key>size</key>
			<integer>1630</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/rarp.8</string>
			<key>mtime</key>
			<integer>1563689088</integer>
			<key>sha256</key>
			<string>fced1f2ceeccd95b3799881099ed3754d6eeffa55ce1e6cf876dfb1367fd2baf</string>
			<key>size</key>
			<integer>2252</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/route.8</string>
			<key>mtime</key>
			<integer>1563689088</integer>
			<key>sha256</key>
			<string>2184526ca90533475980620d6ac03dff717a07404ff2e0d10062c673abb8c29f</string>
			<key>size</key>
			<integer>8685</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/slattach.8</string>
			<key>mtime</key>
			<integer>1563689088</integer>
			<key>sha256</key>
			<string>e2c488d375a971d1e038a7918d8ee233f389afa587ae55ae213e7a97a7f0a5db</string>
			<key>size</key>
			<integer>2773</integer>
		</dict>
	</array>
</dict>
</plist>
