<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bal</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bal/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cy</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cy/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/dz</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/dz/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ia</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ia/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/km</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/km/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ku</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ku/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nds</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nds/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/xh</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/xh/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/whiptail</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>714f6eb7e0a7d01e7b9847ecad3c16a7c60135423efbbc150aca16a3d548561a</string>
			<key>size</key>
			<integer>30808</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnewt.so.0.52.21</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>a9867e9199f47a98311d32fda17d03dabcb83ffc4ec192e035855d61bd2b8258</string>
			<key>size</key>
			<integer>88760</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>72ef96673dd9548324436338dfeb6c036f9d79e2acb0ab849e5cf01ecb7019da</string>
			<key>size</key>
			<integer>663</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>d7cd5f01b598ed870d1169a24fac3a1cd800b44d613dad7813c6fe65feeab546</string>
			<key>size</key>
			<integer>552</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>dbd2cc02b7cea37dfdf4e7b162f2f5940128a1b7fc5021a88e8f834da91cd7db</string>
			<key>size</key>
			<integer>567</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bal/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>754ad79d7e3ee8ce6d4187d66228c214d8c4fc9f74c4567d50500c01adee2070</string>
			<key>size</key>
			<integer>596</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>f3925ee8bcd8132d69f693ca7d40d2c014cc28326e511912ec0bb5c40b3e945f</string>
			<key>size</key>
			<integer>581</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>518f0501ae00b3d59819f4136f2aeb373666d7dd1228f051beb98aca65cca82c</string>
			<key>size</key>
			<integer>606</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>099b656fecdc7c394e6cf2d2a696d672c2ddf17ce091076736306dec0984bb14</string>
			<key>size</key>
			<integer>630</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bs/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>8c3f4846bbce67ad6217abe662cbeac8716ed90ad10e589fe48becebbc83cf6d</string>
			<key>size</key>
			<integer>652</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>cbd44a8200c4dab93606c95b0744118c311a226c5e6afbae0d825ababec778f9</string>
			<key>size</key>
			<integer>593</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>8babb17575c5859ab9e1c3b53f4a2c23c0e7fb4ad0c2b709c960f3f254835f61</string>
			<key>size</key>
			<integer>570</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cy/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>13aceb1f6d506ddfd84e36613b4075157de7e07b52ce51b4b4774a34a396120b</string>
			<key>size</key>
			<integer>621</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>2282ef0abd2f9800ab11b53997b8e7f65437e64f2ed33db5090720505fd70be5</string>
			<key>size</key>
			<integer>564</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>7f9dad9334aab1e6118718948f54450cb29c66774dca4dbcff4b6f94c09608e7</string>
			<key>size</key>
			<integer>569</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/dz/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>ee0b9d7696276e75c2675f53093eb5a819af07f11108c3a14914989462e3049a</string>
			<key>size</key>
			<integer>558</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>47aca0c00da4ba2a16e1b621b03bb3e375ebc183c58739d4462b0abc0f42c3e5</string>
			<key>size</key>
			<integer>618</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>bd53bb1728706de7f2950a45b9996e19e8b2af367b08745fec10594c4e1eee9e</string>
			<key>size</key>
			<integer>660</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>80876cb992b8f38bcb1a0518c1b74defaef628dbf98899103f819f395ae2f0a3</string>
			<key>size</key>
			<integer>574</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>ee0672e6a1c2abcc678a58c3a377952a83e99f4427e60aa2dbbabf5ed9ddf00e</string>
			<key>size</key>
			<integer>627</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>a50adb764fea47ac769674080cae15d34f56dc474cf0e754a92516c29aa533f7</string>
			<key>size</key>
			<integer>578</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>42dfa047aadb83680ec75effbe713bcd7fcd4baf5cfad0242de5645808485d7d</string>
			<key>size</key>
			<integer>639</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>6134a99c7366043fd2f296458c13f0e42b58cad502b8ec381fb08dac338b282c</string>
			<key>size</key>
			<integer>590</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>2a86cb8c3ce01cc5f4b14cf7c2115e467b04865f984675e974ed6e7997dfc12f</string>
			<key>size</key>
			<integer>575</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>c18fce23f67e380e47351b317375dfb3f99c3a3f0e55a4f39a63965c091db002</string>
			<key>size</key>
			<integer>623</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>ca1ae8d2f18289ac60e0509cdbf35956a6fd1ddff9ebcf2ff1cb2798917690c0</string>
			<key>size</key>
			<integer>578</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>375fdf1b31d26893a3412ff6a54e7f8c17093bbea2c4fa93650374e075c06237</string>
			<key>size</key>
			<integer>578</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>505e811597047e3c32437404636b1e1f688a05dc0181ef6679a1cec2337d85b1</string>
			<key>size</key>
			<integer>549</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>719bc68d428f28459897ac80b93652c115f9dabaa6960a40d4429d9613c67017</string>
			<key>size</key>
			<integer>652</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>2709e33778092035f72d4c9fd21e31ee042d70e7a7215e3143bec198e1814dc4</string>
			<key>size</key>
			<integer>651</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>afb877235a13763ed955f16be4df9f63061e45e6f2ad782adfb56d64c8e25bf2</string>
			<key>size</key>
			<integer>544</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ia/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>d20ff7e0e9f1f48e90245620ea6135b2b646efca7266a6c585755d1e00aa7c3b</string>
			<key>size</key>
			<integer>586</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>28af3f898d78a8d2496ea5de0d48dd040efb483337b3a8c715d4d8d33da12b41</string>
			<key>size</key>
			<integer>580</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>c552e9fa3ba1e35b3a7e7c77609b533f057df86168157c8730980f91202f8c9e</string>
			<key>size</key>
			<integer>596</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>c3996df9a2be3901340a30485efb4fc10eac4d42bd3ee0aaeb28415e271314a3</string>
			<key>size</key>
			<integer>582</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>b5616366f88f79e7d4473ec4acbf47773e46b6b797744065b6b0b46a2c5a2e81</string>
			<key>size</key>
			<integer>628</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/km/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>2b1926f946c0f62cb20fe9d96264f039b8c8b7280c8a73c076ac15a51a91b7ef</string>
			<key>size</key>
			<integer>617</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>3807d835f68caaf37cb35d46a8179985b95cd37c445e9da1d36c6f741584b7bc</string>
			<key>size</key>
			<integer>615</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>1a426ed97b3b8358487a7fc6d84bd470af666298e6e801e2af0fc89133bc2b16</string>
			<key>size</key>
			<integer>566</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ku/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>6b6eba47a908b6d7cf75daf9f1c47a23a423ae9b2d6a286cd2858e7fd5eb970c</string>
			<key>size</key>
			<integer>512</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>255513e49a6b1a128ca994d1552c3cbe59f5c9994bf4647148453ba59694d1a9</string>
			<key>size</key>
			<integer>655</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>36448b7906ecb5062b4be7e8f32ddaef896b226abd72dbb9a7e06e7c77f54ff9</string>
			<key>size</key>
			<integer>652</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mg/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>934ca25cd2ac28313e784b42b129123a1505f5e58d17e1c75678255bef344d92</string>
			<key>size</key>
			<integer>510</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mk/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>1cdf9f742f7ef47caeddc00a7f31725a1d579f33d6a2561e9ee533867fe9beeb</string>
			<key>size</key>
			<integer>608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>136dda8452d79b803093127c1a48148100e72e776bd3eb794eb4ccce368d4667</string>
			<key>size</key>
			<integer>739</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>fd5c7dc3587855128e67fdc3a8654057efaca0c7d8420d0f61ccd60506b88bd1</string>
			<key>size</key>
			<integer>639</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>68b80ba5855163bb7a12c63b43973e15b8da82a86a75eabd6bb759bec5ca52d5</string>
			<key>size</key>
			<integer>601</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>c9c06dde2261d672e1df4b5a1b03c7e659dafc4eed518c03bc28133c0ccd8f52</string>
			<key>size</key>
			<integer>585</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nds/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>092e14a5550bbe941be4716bbb99832967115f1802413b1dd089e48721c1edf9</string>
			<key>size</key>
			<integer>602</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>b22787023ba5065fbde60411d5ed87eb0ad1dd2284112c579306cb7254589555</string>
			<key>size</key>
			<integer>631</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>0bf96506b52c02d2a40be9e86b7c23bf44a7ce070abac27bc813b9e626402db1</string>
			<key>size</key>
			<integer>594</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>cc5571ebb5a31002922667c1362d8c4e844e2cf10dca753e19975943c22bc49d</string>
			<key>size</key>
			<integer>564</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>7498a72b3cc977ddf7f0535f556b1977841c07ffed8e409f3ca75289386af65d</string>
			<key>size</key>
			<integer>625</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>2e00020cbc3a037de21a499f8e4d6245bca04a47e61d92fe833eb287cba74a94</string>
			<key>size</key>
			<integer>616</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>3cac5c7bbd09e0080cda5ae05a853d2b6372657a33e0dbf4b53e5b43f9001fb0</string>
			<key>size</key>
			<integer>592</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>3ecaa6858e0e212ae623f78f87e636453da643887c481d7411a1f2f283ef6c41</string>
			<key>size</key>
			<integer>611</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>fafae3bb93209d9575cf11dbca48036b941d1f57470d5f4de650006a823b6971</string>
			<key>size</key>
			<integer>576</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>66f774b325ee27636408863a07559e2875ce8691830ebbf56fd2533eed9f6358</string>
			<key>size</key>
			<integer>683</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>f969a99cedae93fc144ba342fa224f58dc9b2b7344818f447a92cccd6edd50ce</string>
			<key>size</key>
			<integer>608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>c2d0e14f81544972ea1c85ffd2383a8386106a380aa2b9e603c30e2fccdfb3c8</string>
			<key>size</key>
			<integer>626</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>245237dd7155167145c4b8a2e41d15e11cd9f4f7f7d4a3df438f2f36daa5a74c</string>
			<key>size</key>
			<integer>594</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>b6ada114c138b5f490f2c92461e11935c195fe6120cdf04e03d615ba12580573</string>
			<key>size</key>
			<integer>675</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>99e5cfdc6ce0242604fab90f504f2322c56c666b40b4261a5d160811e566cdc9</string>
			<key>size</key>
			<integer>667</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>fa3ad4b2f7acf0b91bc830824acefd1115408b100da62abb2531b2b29621d344</string>
			<key>size</key>
			<integer>566</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>20f5578aee66a4d9f2fbe14a2dcb544fbb00434a727d637b18852f80f533e1bc</string>
			<key>size</key>
			<integer>623</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>1c1b59997ccbc3139f603db651317869066c2b5012f23f9418cb45009a7dc004</string>
			<key>size</key>
			<integer>625</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tg/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>7080cf52ee055ae50742a14ca991aab898cd009cff0915cefc5f2bce818a7f0b</string>
			<key>size</key>
			<integer>639</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>b226215bc5eb2c43ec1f6d967e33b80b57b042db779517bbc5f49b2dc6504970</string>
			<key>size</key>
			<integer>604</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tl/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>a41e7c963b1a38e2472ac12014c025ebc97c8917b3ab22caaf6418d92f6d20a4</string>
			<key>size</key>
			<integer>507</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>2b28d673efbdf447a66294d9285fa339f97de95f2471bb9a6ef1d51e3e5f15d6</string>
			<key>size</key>
			<integer>591</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>164144d78eaf463492c40d01aa8fea826a53de7417053db68775084e06b7730a</string>
			<key>size</key>
			<integer>658</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>2a603b754cbc49299134ec1b1f4db78e26033c795bb4b2336e93c21d9fdac96b</string>
			<key>size</key>
			<integer>574</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wo/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>e61abb8499d2a01b031f0d443bb273f423504d7b027b8a83f720ff5a3b8c0189</string>
			<key>size</key>
			<integer>523</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/xh/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>6f4378ade2c2270f1b739b5b8318febfda326e4a2cc6c90c9bc46af0de72a61f</string>
			<key>size</key>
			<integer>508</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>9df2eba59f412322725062ed924fdd7a2fbf4de5c1446429b85b697f21fe6db6</string>
			<key>size</key>
			<integer>601</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/newt.mo</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>99c473c67e38eb8ba1c6abd40b1f501580adfb792ab54ceea1265809444015dd</string>
			<key>size</key>
			<integer>608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/whiptail.1</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>0780799b2be32abda226d0f0ef7f6efd173f5828384237f52babfb1341e4bc0e</string>
			<key>size</key>
			<integer>9005</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnewt.so.0.52</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>target</key>
			<string>/usr/lib/libnewt.so.0.52.21</string>
		</dict>
	</array>
</dict>
</plist>
