<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/exports</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>92e3704431d0562a7a43fbebb03cffc128cca25887580686c9ae05803b19847d</string>
			<key>size</key>
			<integer>128</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/nfs-server</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/rpcblkmapd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/rpcgssd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/rpcsvcgssd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/statd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/nfs-server/finish</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>fc10c7ef7d24c20cb6749b484483ed5f7b87d10b93d377414191403dc148546f</string>
			<key>size</key>
			<integer>38</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/nfs-server/run</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>2776a577b4efdcc61a57ac500f8a6ff599583cd3dbd07633d9c085f636b90435</string>
			<key>size</key>
			<integer>907</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/rpcblkmapd/run</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>089bc7b4e31484923326850cbf2b208137e58d65dc8e20a52c81fa7e9fb586a6</string>
			<key>size</key>
			<integer>355</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/rpcgssd/run</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>143bd4c0f34853ac1825e184104ca1ef4dc80c023f14aeac70a95372faa48d0b</string>
			<key>size</key>
			<integer>296</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/rpcsvcgssd/run</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>28876681b7610ecfb827e02d753661527c525aa54d851e799b62f09f6528be2a</string>
			<key>size</key>
			<integer>432</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/statd/run</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>ef4c2d721209549e52b6de2ca53a79e8cf48be7922709c4e6c0f2edcfc605ba4</string>
			<key>size</key>
			<integer>160</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/blkmapd</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>b8bb9fa549caec16b8c4fffcc9ccb6a2576819e935c6fe2a45bd480a3ce66712</string>
			<key>size</key>
			<integer>55472</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/exportfs</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>00a7fc0c9f628ff6d5643707da5623b456f80a6fe30fd346ef92c918a6615d13</string>
			<key>size</key>
			<integer>92552</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mount.nfs</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>24a101ffcfd8920878363b4aedcd596fd8c8776519712f1964dd25ca786b029e</string>
			<key>size</key>
			<integer>129824</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mountstats</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>2086edb40e12474bad8da47d1596464d5a3364e3ed624ccb6c61532a65c42c0a</string>
			<key>size</key>
			<integer>43114</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/nfsconf</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>7dc09e8df4fa65e8a128dff30c0143c69b03fd0eca6e37cd5b952d73a3ae0e44</string>
			<key>size</key>
			<integer>39440</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/nfsdcld</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>9977c286d234c30254479865c7a74654b6c47da823255779ca974791b1d29cff</string>
			<key>size</key>
			<integer>68016</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/nfsdclddb</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>a7798a59d98cfa4522c4895a8ddc0e3b04efd1b321d76e7da6240b92cdca6c05</string>
			<key>size</key>
			<integer>10230</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/nfsdclnts</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>4fcdeaec2d35bbc46189a748090b93aa75c2994d04047f35fb05bd64b11b01c9</string>
			<key>size</key>
			<integer>9221</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/nfsdcltrack</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>f2f263949ad09eeed249cf5e91d44f437685e42d1268147cb0bdd5b8981d09e9</string>
			<key>size</key>
			<integer>51768</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/nfsidmap</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>24c394fd1a53e410ebca3f0a686fbdc89042874d71c638ab2b887a28b24d3af4</string>
			<key>size</key>
			<integer>47288</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/nfsiostat</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>530e94120c99db16a18eb259c6545325d74bd084cd1872192e283ba94f20c2b2</string>
			<key>size</key>
			<integer>24998</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/nfsstat</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>12cf74ef6312e4c87f17ab280d4dfcd3cf81b598bddc989c953fb93b9e6702af</string>
			<key>size</key>
			<integer>37920</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/rpc.gssd</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>1876a845da1cf114514ae92e692c675306da1ee8d9861e3eaea01756b465eb26</string>
			<key>size</key>
			<integer>100768</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/rpc.mountd</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>88c50d874e25efc55136c0ad32f968a17c3a8a1bc817cdb33b6731492dac6bb0</string>
			<key>size</key>
			<integer>140648</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/rpc.nfsd</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>b008526825e62deb6d595332794800fef34fe6221982e7ef048076fae6a9b3ca</string>
			<key>size</key>
			<integer>51928</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/rpc.statd</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>d788340c10b4fb21865148e9661068530db60d1f44583150de79fa2ba9bbc54c</string>
			<key>size</key>
			<integer>105320</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/rpc.svcgssd</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>b7664fd4dac1ff8e21b8928057c8d72f107e9e36eb0e15545222b1f17a640f8c</string>
			<key>size</key>
			<integer>63872</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/rpcdebug</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>0d8390f19501218dd63408414b7634c88d6eb65afa4c686c22f4ac0f18b99251</string>
			<key>size</key>
			<integer>18576</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/showmount</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>fc1d7343e19024a76cf20b7060345206a9602af6c4282dc266a613131b5c301a</string>
			<key>size</key>
			<integer>22872</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/sm-notify</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>b22685f5738032acab2afdac72cb89fad2b4f896d5f746137e9073cd22981732</string>
			<key>size</key>
			<integer>80224</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/start-statd</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>add30a439906d8aafc0b16b3bec0eddeec72365ad12249310043d13791236b51</string>
			<key>size</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/exports.5</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>ee01024b6c999f18db87dcf0fc2fa726103aac0180a54c68a8e595fa9481243c</string>
			<key>size</key>
			<integer>22496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/nfs.5</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>1bf7bc11b7f5b7e1c934993c9abdcae36c7ebd84187523b46de84322be1cd4c8</string>
			<key>size</key>
			<integer>64814</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/nfs.conf.5</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>8bd49d38d7531a4606f51ba1a0487daec6ac140ca35168b399d888ad7f4ad483</string>
			<key>size</key>
			<integer>5564</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/nfsmount.conf.5</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>da0ddda4df18db59dd4f3eb920b24ab561afb0293d0d1d81d99694b5a3850829</string>
			<key>size</key>
			<integer>2306</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/nfs.systemd.7</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>7bc2d8267d9eb1347b28aec6f6debdc80ee2ee0d413a3b06c9cb94f5cc2a7151</string>
			<key>size</key>
			<integer>5229</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/nfsd.7</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>b086dfa5a7fb9580a7f6529ee02e722bcf07f3d738f21e80dd3a7ac669ba2174</string>
			<key>size</key>
			<integer>6853</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/blkmapd.8</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>4b203dded048aaaeac45b2453c304beb9f4c8b22f92fefb434f700bf22fd1b51</string>
			<key>size</key>
			<integer>1819</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/exportfs.8</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>fe3c0486cad4a16544592ace89ac8a284bd2b068a992e3ce7f1e36c007a86da3</string>
			<key>size</key>
			<integer>8103</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/gssd.8</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>496e3c8c6bb4e18c21fdcef3d018769587a3cccce1ada2e4ef167e30b7030e60</string>
			<key>size</key>
			<integer>9794</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/mount.nfs.8</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>5b5f74c8c926e44b5e433361b5e74b8d41a7bb4913d47ae910ad6efc728c70f2</string>
			<key>size</key>
			<integer>1825</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/mountd.8</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>412a92ee021797ae45c4f8455cd66331af2d120ba668ed32f00d49ef50a85af5</string>
			<key>size</key>
			<integer>8959</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/mountstats.8</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>c17ef5940e4ca6edfca7ed2e500fe31cababb469d4f7ad97f251d34496c0b998</string>
			<key>size</key>
			<integer>3873</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/nfsconf.8</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>9018fbf644682ee8295c950bc24bf2c62b273817ab1f9389e06b58b7582c8b9e</string>
			<key>size</key>
			<integer>3576</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/nfsd.8</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>155979363bb756ffb031b1c9deed846e2f7eea99c240962260d37f41f93c1d34</string>
			<key>size</key>
			<integer>5678</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/nfsdcld.8</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>9a476c903f620e9cd1aa510d177bfce622bace048d0be785077dd6a5baf24ae5</string>
			<key>size</key>
			<integer>8158</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/nfsdclddb.8</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>0372c60b061591d0002a9375f4bca11ab77236e88898dd8407ac3f973d46f181</string>
			<key>size</key>
			<integer>2199</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/nfsdclnts.8</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>10f63e4c9c50c768b5f7cdd7a001a861da22f943723db21c745fef5dee0c8a40</string>
			<key>size</key>
			<integer>4640</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/nfsdcltrack.8</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>2b818ebb6f5876056653ce003e750d8d91114595dfbbe9193db9f5e9cea8aaa2</string>
			<key>size</key>
			<integer>4473</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/nfsidmap.8</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>edcb9ebf6bf02f438eb2007fa68637f06670a59cb0299ae57127e1549631dc05</string>
			<key>size</key>
			<integer>4333</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/nfsiostat.8</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>aff089b04ccb2e4634d6b3629ce19e20710c03f1ca0dc0c53d848e6a67501cd3</string>
			<key>size</key>
			<integer>3154</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/nfsstat.8</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>78c73f3cf15f0bfd33b6685532010802545033c8819db8b9f4871381cd76db7d</string>
			<key>size</key>
			<integer>4850</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/rpcdebug.8</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>54dbb74fe21658df51a59ac94b9e5d59b4077fe2f85c170c4a395569338a7e6d</string>
			<key>size</key>
			<integer>2739</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/showmount.8</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>52d008897ca45c33067313f4d9900ee7eb4d147ccf7791e6c29ab10b4037df1e</string>
			<key>size</key>
			<integer>1899</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/sm-notify.8</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>7ba733b3d7d2a79dfed6df676e4f851daf39ceeb38c47261f94037a3ee6c5d2a</string>
			<key>size</key>
			<integer>10944</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/statd.8</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>aebfce1cc6e206a9f4b755f8eb38dbc048ca13e7670e08a830648b1dd7390028</string>
			<key>size</key>
			<integer>12851</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/svcgssd.8</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>241919f2d4128b0a30c73abfd6dcc447d49c5dd347b15b947803d3fdb192826c</string>
			<key>size</key>
			<integer>1985</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/umount.nfs.8</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>sha256</key>
			<string>86f2b9cba6fd279d316cae6197ca4348933c80044757b61f43008f54c826787b</string>
			<key>size</key>
			<integer>1413</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/nfs-server/supervise</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>target</key>
			<string>/run/runit/supervise.nfs-server</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/rpcblkmapd/supervise</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>target</key>
			<string>/run/runit/supervise.rpcblkmapd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/rpcgssd/supervise</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>target</key>
			<string>/run/runit/supervise.rpcgssd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/rpcsvcgssd/supervise</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>target</key>
			<string>/run/runit/supervise.rpcsvcgssd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/statd/supervise</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>target</key>
			<string>/run/runit/supervise.statd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mount.nfs4</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>target</key>
			<string>/usr/bin/mount.nfs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/umount.nfs</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>target</key>
			<string>/usr/bin/mount.nfs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/umount.nfs4</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>target</key>
			<string>/usr/bin/mount.nfs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/rpc.gssd.8</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>target</key>
			<string>/usr/share/man/man8/gssd.8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/rpc.mountd.8</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>target</key>
			<string>/usr/share/man/man8/mountd.8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/rpc.nfsd.8</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>target</key>
			<string>/usr/share/man/man8/nfsd.8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/rpc.sm-notify.8</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>target</key>
			<string>/usr/share/man/man8/sm-notify.8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/rpc.statd.8</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>target</key>
			<string>/usr/share/man/man8/statd.8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/rpc.svcgssd.8</string>
			<key>mtime</key>
			<integer>1603371313</integer>
			<key>target</key>
			<string>/usr/share/man/man8/svcgssd.8</string>
		</dict>
	</array>
</dict>
</plist>
