<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/nghttp2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/nghttp2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/nghttp2</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/deflatehd</string>
			<key>mtime</key>
			<integer>1608436392</integer>
			<key>sha256</key>
			<string>85b71705fe184fd2ab8173e6f5a119a07a516d3cb69f5b92439e7bc1f14fa206</string>
			<key>size</key>
			<integer>26872</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/h2load</string>
			<key>mtime</key>
			<integer>1608436392</integer>
			<key>sha256</key>
			<string>5b0b5248d45e0c35ae4f6d4b309b2244a51a8baf750310fc4d0ab7c9c37279a8</string>
			<key>size</key>
			<integer>264440</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/inflatehd</string>
			<key>mtime</key>
			<integer>1608436392</integer>
			<key>sha256</key>
			<string>cc6275baec07e5cdae35935cffe143d76e3cbe5f05b3d292cec7e1262c81ada0</string>
			<key>size</key>
			<integer>26872</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/nghttp</string>
			<key>mtime</key>
			<integer>1608436392</integer>
			<key>sha256</key>
			<string>48f5702c698c31467da3a7d271f4d0f1bd6d133e0056afa895bee9eed7dc6150</string>
			<key>size</key>
			<integer>252152</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/nghttpd</string>
			<key>mtime</key>
			<integer>1608436392</integer>
			<key>sha256</key>
			<string>7b33a23cfd52443126d6dbe73b843234198ccc5eeaff2ab152766efba7cc7f0b</string>
			<key>size</key>
			<integer>227576</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/nghttpx</string>
			<key>mtime</key>
			<integer>1608436392</integer>
			<key>sha256</key>
			<string>d0ff67a3fb47510d94c10f08b2b120f289820075f1049df6c051069748625125</string>
			<key>size</key>
			<integer>997728</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnghttp2.so.14.20.1</string>
			<key>mtime</key>
			<integer>1608436392</integer>
			<key>sha256</key>
			<string>8d6ee24ac134f5a264dbb2634006fd8787e882f659f96bf491742908285b3ef4</string>
			<key>size</key>
			<integer>174160</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/nghttp2/README.rst</string>
			<key>mtime</key>
			<integer>1608436392</integer>
			<key>sha256</key>
			<string>74a306028b6a3fe5f6635cf35c7b0844e816d6e689f8c9af1e5aebe0193ef4a1</string>
			<key>size</key>
			<integer>52735</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/nghttp2/COPYING</string>
			<key>mtime</key>
			<integer>1608436392</integer>
			<key>sha256</key>
			<string>6b94f3abc1aabd0c72a7c7d92a77f79dda7c8a0cb3df839a97890b4116a2de2a</string>
			<key>size</key>
			<integer>1156</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/nghttp2/fetch-ocsp-response</string>
			<key>mtime</key>
			<integer>1608436392</integer>
			<key>sha256</key>
			<string>3a22362814ba191b10fa8a50106097ffae4ce30013526f522b7962d2a602f1e4</string>
			<key>size</key>
			<integer>8984</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnghttp2.so.14</string>
			<key>mtime</key>
			<integer>1608436392</integer>
			<key>target</key>
			<string>/usr/lib/libnghttp2.so.14.20.1</string>
		</dict>
	</array>
</dict>
</plist>
