<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/ninja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/zsh</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/zsh/site-functions</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/ninja</string>
			<key>mtime</key>
			<integer>1607698430</integer>
			<key>sha256</key>
			<string>b54fd124b72d8e8db001de4daf4b4207270cbbe62fb77653fb8ed3b5149a0f39</string>
			<key>size</key>
			<integer>223392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/ninja</string>
			<key>mtime</key>
			<integer>1607698430</integer>
			<key>sha256</key>
			<string>536a81b4d5fac9dd74e4842c59f2b5ab0cce27882e3638fd7219d1ad78fa149d</string>
			<key>size</key>
			<integer>1926</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/ninja/manual.html</string>
			<key>mtime</key>
			<integer>1607698430</integer>
			<key>sha256</key>
			<string>97d2f88253eaf8df4b2603acc6fd33f9146736fa7f42f606e3e71a0d89e0dde7</string>
			<key>size</key>
			<integer>77700</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/zsh/site-functions/_ninja</string>
			<key>mtime</key>
			<integer>1607698430</integer>
			<key>sha256</key>
			<string>a2064a9ae0cd7affe61223a3e639050799ca90be31bbb6629f32b940f6aefe47</string>
			<key>size</key>
			<integer>2300</integer>
		</dict>
	</array>
</dict>
</plist>
