<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/noto</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/noto-fonts-cjk</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/noto/NotoSansCJK-Black.ttc</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>9b77c163e7a87d212d0971ab0124b0e573fdc4a7347f01a08d9e5243092e9be0</string>
			<key>size</key>
			<integer>20286748</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/noto/NotoSansCJK-Bold.ttc</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>0c066cc1f22541fd9e138190de26dc480a4b8221bef5321e27e7b7802b26ee5e</string>
			<key>size</key>
			<integer>20930832</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/noto/NotoSansCJK-DemiLight.ttc</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>afcfd0361271f5214d3d0fd9224abbed916db2dca2e3bde7b08c87c1f1a5c1bf</string>
			<key>size</key>
			<integer>19064160</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/noto/NotoSansCJK-Light.ttc</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>352ffeb89cb954e2609cb8676f1d2a9663318dc155863212b288375b65c99d62</string>
			<key>size</key>
			<integer>18974616</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/noto/NotoSansCJK-Medium.ttc</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>fad9e409749406abc69ac32e1d013451a610d43c8afdd2ca238295c223e5567e</string>
			<key>size</key>
			<integer>19215012</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/noto/NotoSansCJK-Regular.ttc</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>5dcd1c336cc9344cb77c03a0cd8982ca8a7dc97d620fd6c9c434e02dcb1ceeb3</string>
			<key>size</key>
			<integer>20332392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/noto/NotoSansCJK-Thin.ttc</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>6bfa4ee1638a394c328e876ecd93e98050e84f75480316350c7e7c58f833f3c7</string>
			<key>size</key>
			<integer>17803208</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/noto/NotoSerifCJK-Black.ttc</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>f0ac2600bc9eb2511e9d7f6af93bcc3dcbb5503b6a04b88e7b2873d0e443cf3b</string>
			<key>size</key>
			<integer>24112552</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/noto/NotoSerifCJK-Bold.ttc</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>34fa7b69f3be89e2897f92224e3dea01904009b0f01f479ed9ec8290dfc3a3d3</string>
			<key>size</key>
			<integer>25880240</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/noto/NotoSerifCJK-ExtraLight.ttc</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>3d328e5b261012c47bbd85fd8342f6a4ac0872c4334b1c2f81b95e024986989a</string>
			<key>size</key>
			<integer>22499984</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/noto/NotoSerifCJK-Light.ttc</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>a51c9267cbcb78ae4ecb7046b66c051f83acec44ddc04fcb2cd94cb8158f28f6</string>
			<key>size</key>
			<integer>24654832</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/noto/NotoSerifCJK-Medium.ttc</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>9733d0543be888615a1e0b8e422a609c4746830113d9638417b55b246593d2fb</string>
			<key>size</key>
			<integer>25086224</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/noto/NotoSerifCJK-Regular.ttc</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>fca4e00f179520aca910b246b70d6c9d388e219048281e5e5221860b42c93dab</string>
			<key>size</key>
			<integer>24810096</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/fonts/noto/NotoSerifCJK-SemiBold.ttc</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>d691a6861b22c975152a48bef0061e704c5a4e29778447ee1b83c7441b6ff94e</string>
			<key>size</key>
			<integer>25074236</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/noto-fonts-cjk/LICENSE</string>
			<key>mtime</key>
			<integer>1603291686</integer>
			<key>sha256</key>
			<string>6a73f9541c2de74158c0e7cf6b0a58ef774f5a780bf191f2d7ec9cc53efe2bf2</string>
			<key>size</key>
			<integer>4301</integer>
		</dict>
	</array>
</dict>
</plist>
