<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/nss</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/certutil</string>
			<key>mtime</key>
			<integer>1612186130</integer>
			<key>sha256</key>
			<string>f0578ab638ebe258386306228f58d6f731e1329033c2a636440005c8cb6c824a</string>
			<key>size</key>
			<integer>191112</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/cmsutil</string>
			<key>mtime</key>
			<integer>1612186130</integer>
			<key>sha256</key>
			<string>08dae21fbb99edd32e9b6d056f76b950af679f9486037eddfeb07b8535f06841</string>
			<key>size</key>
			<integer>108704</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/crlutil</string>
			<key>mtime</key>
			<integer>1612186130</integer>
			<key>sha256</key>
			<string>012aae7eb084494775ca5012599375ccbeacb72dc35d13adfce7abe766f783a5</string>
			<key>size</key>
			<integer>129192</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/modutil</string>
			<key>mtime</key>
			<integer>1612186130</integer>
			<key>sha256</key>
			<string>0bbb0512e2eeb3857db471db0de0c4d59cd4a25ba97c607a84a3b2fa702df34c</string>
			<key>size</key>
			<integer>167488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/pk12util</string>
			<key>mtime</key>
			<integer>1612186130</integer>
			<key>sha256</key>
			<string>be1985204251f163f9e6afd1bd8af0ec55a2ac103ce66a20f68a50fbb005b7b0</string>
			<key>size</key>
			<integer>105168</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/shlibsign</string>
			<key>mtime</key>
			<integer>1612186130</integer>
			<key>sha256</key>
			<string>712fcf9edac9ae9bea61f8770afbeeb702b6d04e706465d90d64500bb5f3371e</string>
			<key>size</key>
			<integer>30856</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/signtool</string>
			<key>mtime</key>
			<integer>1612186130</integer>
			<key>sha256</key>
			<string>cf01511fdecab36be9af948eca2469ad2441ed2853d1626c5468735e78bffb95</string>
			<key>size</key>
			<integer>182448</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/signver</string>
			<key>mtime</key>
			<integer>1612186130</integer>
			<key>sha256</key>
			<string>5dd15bb13731703f155597278a22ed15d707ae10dfd7879616e9b23f2d64dc77</string>
			<key>size</key>
			<integer>100816</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ssltap</string>
			<key>mtime</key>
			<integer>1612186130</integer>
			<key>sha256</key>
			<string>f3c7285930cd099cd068054d280024d6a2e3bcca0824f7dd4cdac7c3c9cf5cb4</string>
			<key>size</key>
			<integer>120992</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfreebl3.so</string>
			<key>mtime</key>
			<integer>1612186130</integer>
			<key>sha256</key>
			<string>9a5de46946b40d88bbbc151d8dd6a7e8d8cc22b70e32a429ec741855ce93e72c</string>
			<key>size</key>
			<integer>718920</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnss3.so</string>
			<key>mtime</key>
			<integer>1612186130</integer>
			<key>sha256</key>
			<string>05e109f31f8959e498df659940e579f49dada62e87e4f6697137c2da138aa8a4</string>
			<key>size</key>
			<integer>1263024</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnssckbi.so</string>
			<key>mtime</key>
			<integer>1612186130</integer>
			<key>sha256</key>
			<string>b87bcad61a165bd4f41abdb6f7bc13f09c393c9b9e7983dbe657a9d46752be8e</string>
			<key>size</key>
			<integer>528728</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnssdbm3.so</string>
			<key>mtime</key>
			<integer>1612186130</integer>
			<key>sha256</key>
			<string>e4669da245d29e8151fe7f2b35398496944e34d624184043511898b4e59f9d42</string>
			<key>size</key>
			<integer>141392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libnssutil3.so</string>
			<key>mtime</key>
			<integer>1612186130</integer>
			<key>sha256</key>
			<string>aaa82f1f0e8e24334d14bdce5c9cae6d4af897c32cadf2d033a89582657b5a2a</string>
			<key>size</key>
			<integer>202976</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libsmime3.so</string>
			<key>mtime</key>
			<integer>1612186130</integer>
			<key>sha256</key>
			<string>dbae4e91411e82c819d071191018866ecf35377272c00edef0094a633fa3718f</string>
			<key>size</key>
			<integer>170688</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libsoftokn3.so</string>
			<key>mtime</key>
			<integer>1612186130</integer>
			<key>sha256</key>
			<string>ddbec30c0221e40770a61248cbccfd1c94808e5acf91bbd1bec8c20d33e3127b</string>
			<key>size</key>
			<integer>328976</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libssl3.so</string>
			<key>mtime</key>
			<integer>1612186130</integer>
			<key>sha256</key>
			<string>f8237bced61e53cd149b5ea1c0baac71e172685a2189eaf16265645983ba94c8</string>
			<key>size</key>
			<integer>404736</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/nss/dbm.LICENSE</string>
			<key>mtime</key>
			<integer>1612186130</integer>
			<key>sha256</key>
			<string>5e2bb375919de83c56b83a8871c4619c90278f0524e41b85b6b01649dd3d46f2</string>
			<key>size</key>
			<integer>1682</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/nss/ecckiila.LICENSE</string>
			<key>mtime</key>
			<integer>1612186130</integer>
			<key>sha256</key>
			<string>e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/nss/fiat.LICENSE</string>
			<key>mtime</key>
			<integer>1612186130</integer>
			<key>sha256</key>
			<string>5ed8597fab72e307226ac84b0745b56c8520d6da5484691cbf34dab698703965</string>
			<key>size</key>
			<integer>1178</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/nss/hacl.LICENSE</string>
			<key>mtime</key>
			<integer>1612186130</integer>
			<key>sha256</key>
			<string>e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855</string>
		</dict>
	</array>
</dict>
</plist>
