<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/xorg.conf.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/nvidia</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/egl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/egl/egl_external_platform.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/glvnd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/glvnd/egl_vendor.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/nvidia</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/nvidia</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pixmaps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/vulkan</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/vulkan/icd.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/vulkan/implicit_layer.d</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/nvidia-bug-report</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>064e88f10eb8ee1e4b8606bf393b597faf6f2b7839d66233a59764a3d9e3bc33</string>
			<key>size</key>
			<integer>36450</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/nvidia-cuda-mps-control</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>117944f676ba8986406603170f635e1d765f030d0755abd267d421a7aef02e5c</string>
			<key>size</key>
			<integer>45888</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/nvidia-cuda-mps-server</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>aa79c11a472c1b442b8f24abcc5d1a97d3b58a3fd1266e73f1fe9a3f72e38bc0</string>
			<key>size</key>
			<integer>14488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/nvidia-debugdump</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>6297be17d270fd49caa2f53bef370e278087c006bca52fa6814fa58e3538fd7c</string>
			<key>size</key>
			<integer>248624</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/nvidia-modprobe</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>ffb6dd2660678b17515bbb8f92dd4a999de0e5482597c988175a3507f914f8e2</string>
			<key>size</key>
			<integer>39232</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/nvidia-persistenced</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>975e0a347e0cc56baa2a0837061153f84c6714314e585c156290e0586e2c6287</string>
			<key>size</key>
			<integer>208336</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/nvidia-settings</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>ad55580eff9a39927b65545752fb609c7ef16e2cdb8a3f05a0800e3b2edcbf5f</string>
			<key>size</key>
			<integer>289928</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/nvidia-smi</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>6f58cdfe7a135b0af8b71baf392b2af587de8ac87963390229c0a9abdb6e3bf2</string>
			<key>size</key>
			<integer>653368</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/nvidia-xconfig</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>fa3b88f24a33b4f1db95c708ea4029a42b54b7a050219184f060a62b9181d20f</string>
			<key>size</key>
			<integer>182672</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/prime-run</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>4e1662ff20f890dc3bda9f55ee06db30555e90094cdbb82e1ab0392937417f4d</string>
			<key>size</key>
			<integer>136</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/xorg.conf.d/10-nvidia-drm-outputclass.conf</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>763f3fbe5eced009ad685d5c16ca7f97443145a2ec30eedce3403ae584ce185b</string>
			<key>size</key>
			<integer>383</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/nvidia-settings.desktop</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>c500ed871d1f28c68585e6dcb410a83a5572c7856a174d8c84c9f86daade08b8</string>
			<key>size</key>
			<integer>234</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/nvidia/NVIDIA_Changelog</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>7726061d38973023a87b489bacb8db2e9f90550af0cc52385f11293a3d5cfe8e</string>
			<key>size</key>
			<integer>327031</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/nvidia/README</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>4c77e1729df4b0e295d7e7e5dc8bffaf6e2d1310e25fd2261add4cfb4b3c2128</string>
			<key>size</key>
			<integer>620802</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/egl/egl_external_platform.d/10_nvidia_wayland.json</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>5cccf1905a266e8e34d5ad4aad4be85390e60b1a0850a29dd9d64adc641de412</string>
			<key>size</key>
			<integer>115</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/glvnd/egl_vendor.d/10_nvidia.json</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>9e6f14afaa7523370ad96e6675d3357441ee3985e60405cb3e0ced30b2ddaf76</string>
			<key>size</key>
			<integer>107</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/nvidia/LICENSE</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>bd28b0c5aeeb00eb11d3ec6f6f3449d4b3a40100914258332734a53527997526</string>
			<key>size</key>
			<integer>6121</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/nvidia-cuda-mps-control.1</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>0a546cbc41a559db308d020630bb1c763f71a6aaf8b2299a78d6935ee9dde766</string>
			<key>size</key>
			<integer>6592</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/nvidia-modprobe.1</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>2adef78f6b58f3bf7ed9e3c4f4d8b45908b4080e7e1ff3fe3456974ad7b1d18d</string>
			<key>size</key>
			<integer>3520</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/nvidia-persistenced.1</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>fc20504d709fd2830ffeee84dfe962587185075f43bdd5a6095c6095ae01dbf2</string>
			<key>size</key>
			<integer>6227</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/nvidia-settings.1</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>76bb92da8c87d297623a71350f53f8887f8c66e33b652d4fea843e64c28ade77</string>
			<key>size</key>
			<integer>27432</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/nvidia-smi.1</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>537ad1f8eba2d39a0f1f9d9fa033c9c0761bea33a7632dbcb4515b8c397cbbcf</string>
			<key>size</key>
			<integer>81399</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/nvidia-xconfig.1</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>6ea52ba3c9e579b8041968922c54ae3791259a898e92adf4889188caadeede32</string>
			<key>size</key>
			<integer>25826</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/nvidia/nvidia-application-profiles-460.39-key-documentation</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>cd1959fdf6a92216b800a029c30dde7f3b9e714c1a659b7f1bbac9efd9500ac4</string>
			<key>size</key>
			<integer>7107</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/nvidia/nvidia-application-profiles-460.39-rc</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>b8beb70f9861661f467c2ada7df77119b958c941c69cbe906df8bb401478ad3c</string>
			<key>size</key>
			<integer>8333</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pixmaps/nvidia-settings.png</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>35301648b1dbb6b4643f9ddfe7c1c8b1f26971fc8c2daebf7ce0dab4b25eadd8</string>
			<key>size</key>
			<integer>17255</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/vulkan/icd.d/nvidia_icd.json</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>755a23690ca824ee92472d255fde3f12d734445db2f73f58d429899d56338ddf</string>
			<key>size</key>
			<integer>140</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/vulkan/implicit_layer.d/nvidia_layers.json</string>
			<key>mtime</key>
			<integer>1613786986</integer>
			<key>sha256</key>
			<string>2845d04a7032ea5abf68ce29fb824ff071b963c3006efa17b6c71c2e6199ddd2</string>
			<key>size</key>
			<integer>643</integer>
		</dict>
	</array>
</dict>
</plist>
