<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/oclock</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/oclock</string>
			<key>mtime</key>
			<integer>1520516252</integer>
			<key>sha256</key>
			<string>0332cc72f38c69eec164183c1dfdfd19563b2babf990942f3056479d9d7ae056</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/oclock.1</string>
			<key>mtime</key>
			<integer>1520516252</integer>
			<key>sha256</key>
			<string>7c5f175f8681cf451adca98081f78225f09b6e49b7732879bbfd4614dc0734b9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/Clock-color</string>
			<key>mtime</key>
			<integer>1520516252</integer>
			<key>sha256</key>
			<string>b76204baefda3497477516983a899eadbf20d9c8dc15eb42bdcba9b5855f1ac6</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/oclock/COPYING</string>
			<key>mtime</key>
			<integer>1520516252</integer>
			<key>sha256</key>
			<string>f6cae4b0c603ef5bd76da2df96b38aa43aa7547e482adb8cb8b83f09af35e4a2</string>
		</dict>
	</array>
</dict>
</plist>
