<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/ocl-icd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libOpenCL.so.1.0.0</string>
			<key>mtime</key>
			<integer>1545155635</integer>
			<key>sha256</key>
			<string>e8ea78f5e284662a34bffe576449dd6ce741a8907701d4aa8d00d8da927a26b1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/ocl-icd/COPYING</string>
			<key>mtime</key>
			<integer>1545155635</integer>
			<key>sha256</key>
			<string>06fa5c0267b1caf5c781623b6ef5b3b13cfd7403aa1edb445df60f6851da383a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/libOpenCL.7</string>
			<key>mtime</key>
			<integer>1545155635</integer>
			<key>sha256</key>
			<string>577a47cbb6abfe0ca67bcad29094312a3fe684a1bce01547857ab39196d29eaa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/libOpenCL.so.7</string>
			<key>mtime</key>
			<integer>1545155635</integer>
			<key>sha256</key>
			<string>77ceff8a903c897bdceb3118e4f8112b220e5440c4d9774872b88321e92600a1</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libOpenCL.so</string>
			<key>mtime</key>
			<integer>1545155635</integer>
			<key>target</key>
			<string>/usr/lib/libOpenCL.so.1.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libOpenCL.so.1</string>
			<key>mtime</key>
			<integer>1545155635</integer>
			<key>target</key>
			<string>/usr/lib/libOpenCL.so.1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
