<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/openldap/ldap.conf</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>ab6e6cc0dad4427497b607e42c7815e35691a5a42afa312ddb49996601a6ab80</string>
			<key>size</key>
			<integer>247</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/openldap/slapd.conf</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>9d368d831069ffc2a1619d21b63ec2f65c235205fe58d5e678a56b5f1f1c744c</string>
			<key>size</key>
			<integer>2101</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/openldap</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/openldap/schema</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/slapd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/examples</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/examples/openldap</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/openldap</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/var</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/lib/openldap</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/lib/openldap/openldap-data</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/openldap/schema/README</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>579af7a45534a8d59eab6f04e9ab6009f141447fe8db6b3473185d3b4e671d42</string>
			<key>size</key>
			<integer>3512</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/openldap/schema/collective.ldif</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>ff055a11f8c4c27d72f87211a519bdfc778d9a6cc27e813c0d8aa33edadeffbf</string>
			<key>size</key>
			<integer>2036</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/openldap/schema/collective.schema</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>ee28d6a5f9848eb76cfe4960b62277a07199ccdb91f19edc3667f60eb0d04128</string>
			<key>size</key>
			<integer>6190</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/openldap/schema/corba.ldif</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>fab9401b8333b14e973ce43a311456ac604855e16b69e6a6bbedae93fa7246bb</string>
			<key>size</key>
			<integer>1845</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/openldap/schema/corba.schema</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>7c42036e69bd41938ed1a478b83627dcf3452be6c532b3ba17199f97c7465c5b</string>
			<key>size</key>
			<integer>8063</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/openldap/schema/core.ldif</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>cfba455913230dc1756d4894da0a30a4ac8d701f57198b39ac29ef62110094c0</string>
			<key>size</key>
			<integer>20612</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/openldap/schema/core.schema</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>f20e7821ec6c20421ce84b164913d88fd0033edd7d8d0ea640346dfd4c837f0b</string>
			<key>size</key>
			<integer>20499</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/openldap/schema/cosine.ldif</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>c31eafbedb998588b069e19aae569955824454546a61fd5c76610ecf7e1ae85a</string>
			<key>size</key>
			<integer>12006</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/openldap/schema/cosine.schema</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>d7060da7ed94cbeeace9bbc2039f434554cd16ee3f5aa73ec569c464d985ccd3</string>
			<key>size</key>
			<integer>73994</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/openldap/schema/duaconf.ldif</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>bd58b7e1f911de08c8d3db912ec958f4a3cec5da2abc35189fc8fb9c4b3cea14</string>
			<key>size</key>
			<integer>4842</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/openldap/schema/duaconf.schema</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>54c30f1f6f8eaf6d3590e332b9519b97a0fba6d597efa4c0260ca7d086aaf529</string>
			<key>size</key>
			<integer>10388</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/openldap/schema/dyngroup.ldif</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>e8b318add25a1d98877ad88a4ad528cdd37c9a2a8ea8cb11c4971481bcc7bac2</string>
			<key>size</key>
			<integer>3330</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/openldap/schema/dyngroup.schema</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>a2c016986516f843c5d34e9f6fabdcdc095decb8ff3925ca084ea5bbda49da21</string>
			<key>size</key>
			<integer>3289</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/openldap/schema/inetorgperson.ldif</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>19cba458546e3a19e0a1c12dcd503541b83668f8b351773f80ebe47dfb504a68</string>
			<key>size</key>
			<integer>3481</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/openldap/schema/inetorgperson.schema</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>a8c4750459341d5f07f6ccb0a63a4a482497a95ce0e7f25e9cd070c81fc6d13d</string>
			<key>size</key>
			<integer>6267</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/openldap/schema/java.ldif</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>6a1a3f0bbcab670204ec7187a7fda8d586d2d89efbda08137729a052e3033e13</string>
			<key>size</key>
			<integer>2979</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/openldap/schema/java.schema</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>1d05668e2900a27637722f90b4138bb2b4be66d35c65f2dd9b1d6ee34e3d68e1</string>
			<key>size</key>
			<integer>13901</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/openldap/schema/misc.ldif</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>10fb92cd22dd40337212e56bc4f390b6aad9342e42513158a8e195909784b845</string>
			<key>size</key>
			<integer>2082</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/openldap/schema/misc.schema</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>a4e4210f21b9f3d9105267e82ba942fdc0070cfbf1f3f5ea136392dd7157bd19</string>
			<key>size</key>
			<integer>2387</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/openldap/schema/nis.ldif</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>22088ce660b23f859fc77407e07e59e2ad8c0c58bc84e66c027ff8a4ffcabb74</string>
			<key>size</key>
			<integer>6809</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/openldap/schema/nis.schema</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>d8b5ce84a2ead8bdef55d4363fea90c3cb6e9da1b35f370b495bec8b55e80953</string>
			<key>size</key>
			<integer>7640</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/openldap/schema/openldap.ldif</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>ff686f206f61430667db45759dd6aa1312360a7667f75796830c0c99e9016b06</string>
			<key>size</key>
			<integer>3308</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/openldap/schema/openldap.schema</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>7028307913055aeff9b0d15e25cacfc62e17b4d9933d863f670c5134152f8c17</string>
			<key>size</key>
			<integer>1514</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/openldap/schema/pmi.ldif</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>0686bca5045bb6037bc61b782b67af25bf0c56836dbe24d5c6a6718077bfafc9</string>
			<key>size</key>
			<integer>6904</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/openldap/schema/pmi.schema</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>e280940a57b1004ea2faaea54df2f152f4339d37eae7ef5e365a7d4734b70227</string>
			<key>size</key>
			<integer>20467</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/openldap/schema/ppolicy.ldif</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>814103f8fc747106f516c4e24ba7753ba64a0c18e7b8143bf597f18914d57d44</string>
			<key>size</key>
			<integer>4570</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/openldap/schema/ppolicy.schema</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>e2e1d3ad179a1df2458e9b84ea00357f419334b13b512c9652097945163dceaa</string>
			<key>size</key>
			<integer>20489</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/openldap/slapd.ldif</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>e8ef54bc666bc9fba8697171a8e5f4f7be4fbabf7806034cd95ae33aff76488f</string>
			<key>size</key>
			<integer>2656</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/slapd/run</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>4ebf5766b9847f3e4a83cb34f95d61a8bc5874be1ed818f4ca39ad4424d03c02</string>
			<key>size</key>
			<integer>228</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/accesslog-2.4.so.2.11.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>24aa2549140f8d09608d4006bb943dc1ee4a87846ab2e2fc183d484d3adcc1ce</string>
			<key>size</key>
			<integer>52544</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/auditlog-2.4.so.2.11.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>13cbd988d2032f3fb0134c095dd3cf2d7f9b751a7342644830fb0f1b830a1bb8</string>
			<key>size</key>
			<integer>14528</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/back_meta-2.4.so.2.11.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>65914de27d676ca8f2eecc8cfab8265d8442549cc9ad17beff9b6b47ea61ec28</string>
			<key>size</key>
			<integer>157552</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/collect-2.4.so.2.11.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>7bab1784da14cfdcbd9df66597c487977b874990895104a686874f7866d4e60e</string>
			<key>size</key>
			<integer>14528</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/constraint-2.4.so.2.11.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>3feb7343d3ac86d985fa5d3c051a301639e42b7743848562e68a6376c128edaa</string>
			<key>size</key>
			<integer>26824</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/dds-2.4.so.2.11.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>1e56171768553a8d5833a3040bf5b2d824606bb53eeb6c721ddd5f8975d83c04</string>
			<key>size</key>
			<integer>35408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/deref-2.4.so.2.11.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>2f4ee1ffe19cf9b355cbb03036056e65c06560e77c65201ae460c61d7dc4b978</string>
			<key>size</key>
			<integer>18344</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/dyngroup-2.4.so.2.11.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>98b25f4b58679efbf37dbade74af919955e6bf69159ce76296828f8db8329565</string>
			<key>size</key>
			<integer>14528</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/dynlist-2.4.so.2.11.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>f4f87b304805254f7453ffcb30d192247b8d0ad0d56635e62aed4c61a0c78d77</string>
			<key>size</key>
			<integer>35168</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/memberof-2.4.so.2.11.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>fa074185d54e3cc3767d3aec54b7979f8bfefea7ad390f895a67af90c775a601</string>
			<key>size</key>
			<integer>39584</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/pcache-2.4.so.2.11.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>7112dedd13d783ba7ef0700ffe583ffd5e059b9835f5f3a9ad49b5ea33129da2</string>
			<key>size</key>
			<integer>81264</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/ppolicy-2.4.so.2.11.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>f9f895d18917fc70b6268dd7d9c7bf1cce8931d206501eb919cfa4cc90b8efd6</string>
			<key>size</key>
			<integer>47664</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/refint-2.4.so.2.11.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>1e14af4accd4a0ee7b538de0c3adc6e32a04a275aed1e564140f9e3cc2ea7719</string>
			<key>size</key>
			<integer>26976</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/retcode-2.4.so.2.11.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>cf8b665f959cfd6e2c8fc4204eb07ebd19af790ed325fcc7f23daf2f25615f40</string>
			<key>size</key>
			<integer>31184</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/rwm-2.4.so.2.11.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>485605964bd5e0a9ae6e866d69e62c2e62f0d18607d00d25dbd2f59336528e55</string>
			<key>size</key>
			<integer>64256</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/seqmod-2.4.so.2.11.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>3bab2fa175daeb6299f3fcb849a648ca66f5dec2cbee34c27618a9d7b858eeff</string>
			<key>size</key>
			<integer>14248</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/sssvlv-2.4.so.2.11.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>27f9136fcd292f2588d8736c2516d38c63d8b38d7ec37361b93c03b676e0dd22</string>
			<key>size</key>
			<integer>31040</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/syncprov-2.4.so.2.11.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>95c34b63f7fc1cf9cb6affb1097050560316a50ad06fee333025574f4a0f3277</string>
			<key>size</key>
			<integer>68080</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/translucent-2.4.so.2.11.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>747308e502a6273bb9ca309a87458563e9233de07838d9b6a78ab8670d88f29f</string>
			<key>size</key>
			<integer>35464</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/unique-2.4.so.2.11.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>a430052189dfd29e36063c44638b4b5cbe1a4280d151a63518c113b73d7ca8c3</string>
			<key>size</key>
			<integer>35264</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/valsort-2.4.so.2.11.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>1d36bd898f8fbb493fd10543fe4d1372772eb2d71f1ae429d9e4400c34f192d6</string>
			<key>size</key>
			<integer>18784</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/slapd</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>8fa873c67cd2d277ec9791c7e58572d2465ebe24c82da68213c773030d7375f9</string>
			<key>size</key>
			<integer>2014560</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/examples/openldap/DB_CONFIG.example</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>0a8b5b945653dcd0f854b5d7e49d28bd92f12b4fec76a37324553d3e51398601</string>
			<key>size</key>
			<integer>845</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/examples/openldap/ldap.conf.default</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>ab6e6cc0dad4427497b607e42c7815e35691a5a42afa312ddb49996601a6ab80</string>
			<key>size</key>
			<integer>247</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/examples/openldap/slapd.conf.default</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>9d368d831069ffc2a1619d21b63ec2f65c235205fe58d5e678a56b5f1f1c744c</string>
			<key>size</key>
			<integer>2101</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/examples/openldap/slapd.ldif.default</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>e8ef54bc666bc9fba8697171a8e5f4f7be4fbabf7806034cd95ae33aff76488f</string>
			<key>size</key>
			<integer>2656</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/openldap/LICENSE</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>310fe25c858a9515fc8c8d7d1f24a67c9496f84a91e0a0e41ea9975b1371e569</string>
			<key>size</key>
			<integer>2214</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/ldap.conf.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>e3e829686bc8d0bbc8a0dd3baba48a33212a79d0f956166036353351c835f67f</string>
			<key>size</key>
			<integer>18320</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/ldif.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>5b5c74ab81efb879bef6668b98f84116690dc2f0ceba51d55988755263b315c5</string>
			<key>size</key>
			<integer>6734</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapd-bdb.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>c30a9a14f8ea750aaae21573531dad383c3687157a7789fadf76c1fe3d9fdb25</string>
			<key>size</key>
			<integer>10687</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapd-config.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>29940f3367388082c25762df95dc07ff37a0371d82fb55a4e76a8592c2511a6b</string>
			<key>size</key>
			<integer>68107</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapd-dnssrv.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>4bf271333bee0c988bac8ce9d63afbda97bb21c725ffe734c81fab5d7edd9be4</string>
			<key>size</key>
			<integer>1595</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapd-ldap.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>1d89a2dbad2087b24e8f0003bec9a7aec3b9934e28230460a82c56d042259bf3</string>
			<key>size</key>
			<integer>23979</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapd-ldif.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>9c0bec2b864f63087d941fdbe06889de6911b6e89656243ce6e433241bde2469</string>
			<key>size</key>
			<integer>1584</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapd-mdb.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>0480c461ed5099fb7ee663a241bf2ed7cca34277c4b2eebfd2abd0e73be6b9be</string>
			<key>size</key>
			<integer>7636</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapd-meta.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>7b25c26c647282942cb0e748a8a61e64d1ecde5c83602b0ae42c4a9c5707013d</string>
			<key>size</key>
			<integer>44230</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapd-monitor.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>5559493beb1e431065d31b03ec95af53b742da3c9e3f0a224f9e791d6e474071</string>
			<key>size</key>
			<integer>3301</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapd-ndb.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>787f38e4114ca551820e5ece862a4db7769005445fec6ca0ac153e7f4b104590</string>
			<key>size</key>
			<integer>4730</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapd-null.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>818e5aa57e31100c04411ca71549bfa1ab50780b76bca47a9c54d14000812793</string>
			<key>size</key>
			<integer>1690</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapd-passwd.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>ef5e9567089b7e2b20cb5cbd272eae0762fcce4bcc42a05c82103add7f1d76e3</string>
			<key>size</key>
			<integer>1516</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapd-perl.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>8e9ef5af15e3080ac6904a4632112a483be8d350efa8322e2cdf6fe14d97616d</string>
			<key>size</key>
			<integer>5104</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapd-relay.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>7ae473162fdd7d03b123a5b93ae9252e2ad97759641792bb4c268d834d9da01e</string>
			<key>size</key>
			<integer>6437</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapd-shell.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>46cf102275f04e3e5ebc39cf441b7c82aafbcc966c230adf60f0ce9b08142fb8</string>
			<key>size</key>
			<integer>5300</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapd-sock.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>3efc42e53bda95e928d7abe47d1765a4d56cf8d3b094b96ed864c123036a3968</string>
			<key>size</key>
			<integer>7535</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapd-sql.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>e43148f489ef8647fa544fbb842fb5d56892114aaa94947ccb21f9ed12eded72</string>
			<key>size</key>
			<integer>26124</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapd.access.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>4e7d12480bd9bafdaae26adbfc2501a54e7f23771bb333fee98221a6fd4e4214</string>
			<key>size</key>
			<integer>29044</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapd.backends.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>a314b45e7b2e2d96fe82826dd5ec710ccde0e876daca65e10ef68b482bdbda04</string>
			<key>size</key>
			<integer>5120</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapd.conf.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>3eabb803f023901fa814cc7acc045c588a27b2b0dec071c4d186326001533804</string>
			<key>size</key>
			<integer>66974</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapd.overlays.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>f463c9a7d7e4daf8f5e0d2d03fc252bc05fdcf84aaf88e31de447cbf7654e227</string>
			<key>size</key>
			<integer>5220</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapd.plugin.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>a781a586c2db5d6ff457af97e72ae380f28e8af6144669d3bf26b615bffc7a38</string>
			<key>size</key>
			<integer>4345</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapo-accesslog.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>15cd34ff1c4a67533fd7efdc8f3f2f7fd1d174e15c6a24ea7b413fc29a14d38c</string>
			<key>size</key>
			<integer>12993</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapo-auditlog.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>bf09f175b8e6c3a491da794ae3cfa965d3752e650d6f4a24ef5eb150912b9806</string>
			<key>size</key>
			<integer>1604</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapo-chain.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>f024f093ea9b15663d7609ab07461c9f89d5d8d7ef226a021ebc296f99c8edcf</string>
			<key>size</key>
			<integer>5839</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapo-collect.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>532ae2fc6d5d0fc60fcb757b3041ab30805ae12de268144533afe5ef2e94810a</string>
			<key>size</key>
			<integer>1757</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapo-constraint.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>e73d5fd8e3523b092ff75b32c8baefd792b9c90696bb9141c8e553436fe58d25</string>
			<key>size</key>
			<integer>4592</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapo-dds.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>f230e5328583b5dc51c7ecb1dce2b2f436d7f945965801ad70591584e32bed36</string>
			<key>size</key>
			<integer>7378</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapo-dyngroup.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>27591c838af423a753915275dbf798ebec144a03ca5de9e9c80dfe0132c58331</string>
			<key>size</key>
			<integer>1395</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapo-dynlist.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>54a73fcb22a5ccb722e9f3dcd151852116731b4b2ac1f8e5dc1d93ff96a2d432</string>
			<key>size</key>
			<integer>6628</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapo-memberof.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>370c5355d16cc9e31c81fc4cf0f98828254596842c4cd070d807322937946c0a</string>
			<key>size</key>
			<integer>3987</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapo-pbind.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>192bf36894ce0bdbcac73874439d8dcb934f2e64341bd1866601fb3def6644e3</string>
			<key>size</key>
			<integer>1408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapo-pcache.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>3d6b54c9ca496316f5d88b6cfdbcdbf4b06e4f7fee01487d7781524c91354051</string>
			<key>size</key>
			<integer>12758</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapo-ppolicy.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>63b2d407c60f86254370b5f697e7911bf5c534f8f9651b98af6059774efcd927</string>
			<key>size</key>
			<integer>24735</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapo-refint.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>88a08735ebeda16874212f08cdc342e91db7ed190fefa816047b028d5d6f5215</string>
			<key>size</key>
			<integer>2901</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapo-retcode.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>c885b9dc7c71555766b49078985c90fda8fe298b6c135fb19c49111532b69503</string>
			<key>size</key>
			<integer>8022</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapo-rwm.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>7980c2a9796e4ad37cd70ab480f04cef4e9f0fb72ba8717250e97e5c3ce4576e</string>
			<key>size</key>
			<integer>23791</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapo-sssvlv.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>b7c6a2e4558e5a8774dbdbfd4077e4cda34e0b73140d767000113a04dfc44c64</string>
			<key>size</key>
			<integer>2054</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapo-syncprov.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>51f3c603666a056ea7723b3ac3a0da71bda044c8db3b5f2bfb7dede34dabcc6b</string>
			<key>size</key>
			<integer>2968</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapo-translucent.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>792bd713e39ba6cb6b60720e6b7fe23c78e349e2d93aa85ca2f7359d25b4d535</string>
			<key>size</key>
			<integer>4661</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapo-unique.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>69ea6a0555d6fdaa5fe7885576fe974a510cbfb1f3f82d6e363f43ed9183ad9e</string>
			<key>size</key>
			<integer>5103</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapo-valsort.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>21f7541150c2ba2dcaafbe74e68abfe14f7f6681e9fd964fe6db0a7185d40717</string>
			<key>size</key>
			<integer>3004</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/slapacl.8</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>8eefc477d8d91a4224dbe31c17823d061426ea82f9025b3420fafabbbdfff514</string>
			<key>size</key>
			<integer>4497</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/slapadd.8</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>700f16e4974aa6379a70d73edb8cd0ece473b23823209ac61cfe421936a7e4d4</string>
			<key>size</key>
			<integer>5550</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/slapauth.8</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>20965cc7848dde1b5dbc80d8b38778c91cb08dbf06c7f7c444c6f21bc8073bd7</string>
			<key>size</key>
			<integer>3364</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/slapcat.8</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>1ecc7cc6ec4f7305146e03e0ec8dd6d988c271075e4b8cf28cc2f14339d46e9d</string>
			<key>size</key>
			<integer>5168</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/slapd.8</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>89616a8aa559e10260faac9f29e55cf805762dd5e9ca81b8c06252b2355e15c0</string>
			<key>size</key>
			<integer>11383</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/slapdn.8</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>d5b8074e3728058e7944123aa90d64c53f89a32c1c52b91411e48a225c99dd33</string>
			<key>size</key>
			<integer>2627</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/slapindex.8</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>562136904c33a526fe8fdb841d132e4e8e1c102f8e533b9904c2133a9a15b893</string>
			<key>size</key>
			<integer>4307</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/slappasswd.8</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>16eb9791143f523eec8cd8132ba23e277d3a4be799d0b66e3fa4eef6c762b749</string>
			<key>size</key>
			<integer>4559</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/slapschema.8</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>f1fabdd93d23ae5108db73d660b4198b41f8a4b2146e1cef34e6c507930c095f</string>
			<key>size</key>
			<integer>5024</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/slaptest.8</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>30990a3a469fea40d4b266b7f51bfefbe034db49297abd46631365e53a3014ee</string>
			<key>size</key>
			<integer>2793</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/lib/openldap/openldap-data/DB_CONFIG.example</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>sha256</key>
			<string>0a8b5b945653dcd0f854b5d7e49d28bd92f12b4fec76a37324553d3e51398601</string>
			<key>size</key>
			<integer>845</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/slapd/supervise</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/run/runit/supervise.slapd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/slapacl</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/slapd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/slapadd</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/slapd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/slapauth</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/slapd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/slapcat</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/slapd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/slapd</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/slapd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/slapdn</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/slapd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/slapindex</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/slapd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/slappasswd</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/slapd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/slapschema</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/slapd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/slaptest</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/slapd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/accesslog-2.4.so.2</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/accesslog-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/accesslog.so</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/accesslog-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/auditlog-2.4.so.2</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/auditlog-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/auditlog.so</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/auditlog-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/back_meta-2.4.so.2</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/back_meta-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/back_meta.so</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/back_meta-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/collect-2.4.so.2</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/collect-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/collect.so</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/collect-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/constraint-2.4.so.2</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/constraint-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/constraint.so</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/constraint-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/dds-2.4.so.2</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/dds-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/dds.so</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/dds-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/deref-2.4.so.2</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/deref-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/deref.so</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/deref-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/dyngroup-2.4.so.2</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/dyngroup-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/dyngroup.so</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/dyngroup-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/dynlist-2.4.so.2</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/dynlist-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/dynlist.so</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/dynlist-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/memberof-2.4.so.2</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/memberof-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/memberof.so</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/memberof-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/pcache-2.4.so.2</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/pcache-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/pcache.so</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/pcache-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/ppolicy-2.4.so.2</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/ppolicy-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/ppolicy.so</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/ppolicy-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/refint-2.4.so.2</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/refint-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/refint.so</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/refint-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/retcode-2.4.so.2</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/retcode-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/retcode.so</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/retcode-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/rwm-2.4.so.2</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/rwm-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/rwm.so</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/rwm-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/seqmod-2.4.so.2</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/seqmod-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/seqmod.so</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/seqmod-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/sssvlv-2.4.so.2</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/sssvlv-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/sssvlv.so</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/sssvlv-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/syncprov-2.4.so.2</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/syncprov-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/syncprov.so</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/syncprov-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/translucent-2.4.so.2</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/translucent-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/translucent.so</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/translucent-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/unique-2.4.so.2</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/unique-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/unique.so</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/unique-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/valsort-2.4.so.2</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/valsort-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/openldap/valsort.so</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/libexec/openldap/valsort-2.4.so.2.11.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapd-hdb.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/share/man/man5/slapd-bdb.5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/slapo-sock.5</string>
			<key>mtime</key>
			<integer>1613491664</integer>
			<key>target</key>
			<string>/usr/share/man/man5/slapd-sock.5</string>
		</dict>
	</array>
</dict>
</plist>
