<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/pam.d/sshd</string>
			<key>mtime</key>
			<integer>1611223776</integer>
			<key>sha256</key>
			<string>64576021515c0a98b0aaf0a0ae02e0f5ebe8ee525b1e647ab68f369f81ecd846</string>
			<key>size</key>
			<integer>232</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ssh/moduli</string>
			<key>mtime</key>
			<integer>1611223776</integer>
			<key>sha256</key>
			<string>26c7ce984ad1554faa013243ef9b80a3333926157c361f7b338112a128e72fb9</string>
			<key>size</key>
			<integer>577834</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ssh/ssh_config</string>
			<key>mtime</key>
			<integer>1611223776</integer>
			<key>sha256</key>
			<string>3ec85d2829d9fb50db013c691d80f5342063210a639a1082bc31bdacec8f0dca</string>
			<key>size</key>
			<integer>1531</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ssh/sshd_config</string>
			<key>mtime</key>
			<integer>1611223776</integer>
			<key>sha256</key>
			<string>e0b4b782f034fe3587ef427ca995459313d86efbd910f56d38e7c09cd62182d0</string>
			<key>size</key>
			<integer>3114</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/pam.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ssh</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/sshd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/openssh</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/sshd/run</string>
			<key>mtime</key>
			<integer>1611223776</integer>
			<key>sha256</key>
			<string>220dde8d4495bab6f08e063860c0ad54cc70ef8b7913a00e27126f1d5eb0af5f</string>
			<key>size</key>
			<integer>146</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/scp</string>
			<key>mtime</key>
			<integer>1611223776</integer>
			<key>sha256</key>
			<string>ac03ae3a9ea0c51ea093999c51194417d2c3043b10854066c425c01aaed67586</string>
			<key>size</key>
			<integer>112856</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/sftp</string>
			<key>mtime</key>
			<integer>1611223776</integer>
			<key>sha256</key>
			<string>1ee940232594b004ff2bb2729002df3e3cb37a711e56469a8ded964f2fcefc42</string>
			<key>size</key>
			<integer>170424</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ssh</string>
			<key>mtime</key>
			<integer>1611223776</integer>
			<key>sha256</key>
			<string>94a372390a13a014a11395524652af076f97c9a711a88381ccb3793dc50bc0f0</string>
			<key>size</key>
			<integer>768720</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ssh-add</string>
			<key>mtime</key>
			<integer>1611223776</integer>
			<key>sha256</key>
			<string>bf31d1adda5d815953efc96cc8c70ec3c0bb403a78f6c30ffee2abb1795a2e5a</string>
			<key>size</key>
			<integer>374992</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ssh-agent</string>
			<key>mtime</key>
			<integer>1611223776</integer>
			<key>sha256</key>
			<string>b4d471db2ae00704d3f25b6e7fb576d73bb6d76707241862966f3227c3453921</string>
			<key>size</key>
			<integer>346328</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ssh-copy-id</string>
			<key>mtime</key>
			<integer>1611223776</integer>
			<key>sha256</key>
			<string>63ef3bc2ac8b453b29b7983e13088fcfe9124f1d43d50f5b36b558217d4338d5</string>
			<key>size</key>
			<integer>10931</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ssh-keygen</string>
			<key>mtime</key>
			<integer>1611223776</integer>
			<key>sha256</key>
			<string>4a50db47f37de4ea7c2c0bd5cd15ac64e44a80f5a94a72ae20b4aba1cc33b346</string>
			<key>size</key>
			<integer>477408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ssh-keyscan</string>
			<key>mtime</key>
			<integer>1611223776</integer>
			<key>sha256</key>
			<string>7e6e001afca4df568b86d7b61ae11cdfda1dfc608d7fb3e5040784b99e157d11</string>
			<key>size</key>
			<integer>456936</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/sshd</string>
			<key>mtime</key>
			<integer>1611223776</integer>
			<key>sha256</key>
			<string>954475264bc96d1f759d84b1dfab2531a30ffca82738d08d386d743346481552</string>
			<key>size</key>
			<integer>834904</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/sftp-server</string>
			<key>mtime</key>
			<integer>1611223776</integer>
			<key>sha256</key>
			<string>7ed3ad87bd1ebb89ef5a272e2b70aaae63d6ed5cd2a4f9996bbfc73dc8089609</string>
			<key>size</key>
			<integer>129232</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/ssh-keysign</string>
			<key>mtime</key>
			<integer>1611223776</integer>
			<key>sha256</key>
			<string>633a562002722a0f4d6cab8be3f38a445cbd508c31cb7798785eb95b089cf97b</string>
			<key>size</key>
			<integer>473496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/ssh-pkcs11-helper</string>
			<key>mtime</key>
			<integer>1611223776</integer>
			<key>sha256</key>
			<string>e130753910d30bafad265a7bdc87db31eba739c78823eb56a4258ece8a6c8cb5</string>
			<key>size</key>
			<integer>346320</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/openssh/LICENCE</string>
			<key>mtime</key>
			<integer>1611223776</integer>
			<key>sha256</key>
			<string>73d0db766229670c7b4e1ec5e6baed54977a0694a565e7cc878c45ee834045d7</string>
			<key>size</key>
			<integer>15192</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/scp.1</string>
			<key>mtime</key>
			<integer>1611223776</integer>
			<key>sha256</key>
			<string>05bdbf3343addfdf588eb082b56992320cf1e6f09a614def3b7f542297c4e493</string>
			<key>size</key>
			<integer>6331</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/sftp.1</string>
			<key>mtime</key>
			<integer>1611223776</integer>
			<key>sha256</key>
			<string>f1e3db7fe9c5e5c7d91228e5c22f9eb9c50d05696b9381fe3e4901acd8f7b930</string>
			<key>size</key>
			<integer>16102</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ssh-add.1</string>
			<key>mtime</key>
			<integer>1611223776</integer>
			<key>sha256</key>
			<string>4e39da118a5a9f67a324d243fc5760b8f592b45942dae1d2766c003381f49b8e</string>
			<key>size</key>
			<integer>7918</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ssh-agent.1</string>
			<key>mtime</key>
			<integer>1611223776</integer>
			<key>sha256</key>
			<string>c4250757fb71d4c9f91b52d3bf9826faa1fc6e56e4e0f3436bcd9f223299f469</string>
			<key>size</key>
			<integer>7223</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ssh-copy-id.1</string>
			<key>mtime</key>
			<integer>1611223776</integer>
			<key>sha256</key>
			<string>32fb4972e4d7631eeced822b9d6566ecbbcf326cd4c9b04698f8c17f369c4914</string>
			<key>size</key>
			<integer>6554</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ssh-keygen.1</string>
			<key>mtime</key>
			<integer>1611223776</integer>
			<key>sha256</key>
			<string>98008ab91f8997d006aefa2c0805dfb240a03615645870a4701461eed7c4df39</string>
			<key>size</key>
			<integer>37830</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ssh-keyscan.1</string>
			<key>mtime</key>
			<integer>1611223776</integer>
			<key>sha256</key>
			<string>83fd47461235ba817a54179d3b26be47a35e36688e2cab58122429ff008eb2d5</string>
			<key>size</key>
			<integer>3924</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ssh.1</string>
			<key>mtime</key>
			<integer>1611223776</integer>
			<key>sha256</key>
			<string>60399c2641e7e16c1845353ff4bf603f6aa79047a251a74990bcd7428c58cb9d</string>
			<key>size</key>
			<integer>46294</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/moduli.5</string>
			<key>mtime</key>
			<integer>1611223776</integer>
			<key>sha256</key>
			<string>d65e6f26a1cf1661f4e0ffc18738a267244f79e8f247dd1ad446567b439a2e93</string>
			<key>size</key>
			<integer>3693</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/ssh_config.5</string>
			<key>mtime</key>
			<integer>1611223776</integer>
			<key>sha256</key>
			<string>efc95c4a580e77a494724c30a93819fe26de523deb0ba871bee4d987f9f9f69c</string>
			<key>size</key>
			<integer>56973</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/sshd_config.5</string>
			<key>mtime</key>
			<integer>1611223776</integer>
			<key>sha256</key>
			<string>da45573ff92f8740264f9b13e3aeccc248836b41902ad0e1ffacfdb317929ad4</string>
			<key>size</key>
			<integer>54047</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/sftp-server.8</string>
			<key>mtime</key>
			<integer>1611223776</integer>
			<key>sha256</key>
			<string>021d40dbe47727ecab74a66af358049921c2a7d06fde4c832987c4053cd4271a</string>
			<key>size</key>
			<integer>5096</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/ssh-keysign.8</string>
			<key>mtime</key>
			<integer>1611223776</integer>
			<key>sha256</key>
			<string>fb60f2d42220a0630cad154270a004cb8d5a28aff728bb40b65695756cd45437</string>
			<key>size</key>
			<integer>3015</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/ssh-pkcs11-helper.8</string>
			<key>mtime</key>
			<integer>1611223776</integer>
			<key>sha256</key>
			<string>37ec2c25e4164710c3b0cb065a272811a06587b7e58520339409a40dc0504a09</string>
			<key>size</key>
			<integer>1727</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/sshd.8</string>
			<key>mtime</key>
			<integer>1611223776</integer>
			<key>sha256</key>
			<string>d9d55633649c7486e4a54dda309e8ae2a505c781db60e9ff5a4e7d0981432a0e</string>
			<key>size</key>
			<integer>31866</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/sshd/supervise</string>
			<key>mtime</key>
			<integer>1611223776</integer>
			<key>target</key>
			<string>/run/runit/supervise.sshd</string>
		</dict>
	</array>
</dict>
</plist>
