<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/pam.d/other</string>
			<key>mtime</key>
			<integer>1607711657</integer>
			<key>sha256</key>
			<string>de66118684a2ecec18017dd96e50a489f30465510250c007ced16f81fb542ba5</string>
			<key>size</key>
			<integer>127</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/pam.d/system-auth</string>
			<key>mtime</key>
			<integer>1607711657</integer>
			<key>sha256</key>
			<string>c22c0c7ccf649155dd85d474e3434070f679d45305700e233b7728ae5b4cf32f</string>
			<key>size</key>
			<integer>488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/pam.d/system-local-login</string>
			<key>mtime</key>
			<integer>1607711657</integer>
			<key>sha256</key>
			<string>005736b9bd650ff5e5d82a7e288853776d5bb8c90185d5774c07231c1e1c64a9</string>
			<key>size</key>
			<integer>143</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/pam.d/system-login</string>
			<key>mtime</key>
			<integer>1607711657</integer>
			<key>sha256</key>
			<string>7fee506681333d6f9f478b9babe20929b00316d56bda00d7b82a18ac88bf94a5</string>
			<key>size</key>
			<integer>534</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/pam.d/system-remote-login</string>
			<key>mtime</key>
			<integer>1607711657</integer>
			<key>sha256</key>
			<string>005736b9bd650ff5e5d82a7e288853776d5bb8c90185d5774c07231c1e1c64a9</string>
			<key>size</key>
			<integer>143</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/pam.d/system-services</string>
			<key>mtime</key>
			<integer>1607711657</integer>
			<key>sha256</key>
			<string>6eb1acdd3fa9f71a7f93fbd529be57ea65bcafc6e3a98a06af4d88013fc6a567</string>
			<key>size</key>
			<integer>260</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/pam.d</string>
		</dict>
	</array>
</dict>
</plist>
