<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/env_parallel</string>
			<key>mtime</key>
			<integer>1611409317</integer>
			<key>sha256</key>
			<string>2f6a24229f0f70df5e5a1842ebed2bfb9af567468cd602eb0d55bfbbb3293504</string>
			<key>size</key>
			<integer>4602</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/env_parallel.ash</string>
			<key>mtime</key>
			<integer>1611409317</integer>
			<key>sha256</key>
			<string>542be25a970c02842f31351074e4144aec5ff83a6c9c6f11f930892a5c95c90a</string>
			<key>size</key>
			<integer>14418</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/env_parallel.bash</string>
			<key>mtime</key>
			<integer>1611409317</integer>
			<key>sha256</key>
			<string>4e943df0b7b418c78ca37e066f1ca9c82e90ebf104e6a5e9b7ca6bc89d412caa</string>
			<key>size</key>
			<integer>14588</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/env_parallel.csh</string>
			<key>mtime</key>
			<integer>1611409317</integer>
			<key>sha256</key>
			<string>945231d96f510249cc56f3184aa99c07dc71f12cde848e9d4f779622677ab1bd</string>
			<key>size</key>
			<integer>5230</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/env_parallel.dash</string>
			<key>mtime</key>
			<integer>1611409317</integer>
			<key>sha256</key>
			<string>3f0553e235056cb1ba8c2f315a60f1b9c60934ac8a8b774d354392729ae20485</string>
			<key>size</key>
			<integer>14417</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/env_parallel.fish</string>
			<key>mtime</key>
			<integer>1611409317</integer>
			<key>sha256</key>
			<string>fa96ece09636fe2d0f9fe62e5fc1d6207ae4fc009ca4bd4c532e00f19f7b1d56</string>
			<key>size</key>
			<integer>6496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/env_parallel.ksh</string>
			<key>mtime</key>
			<integer>1611409317</integer>
			<key>sha256</key>
			<string>772d6275bf32e10a13098865ea182381754da39abb459e7f6f74281266c33bb6</string>
			<key>size</key>
			<integer>13726</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/env_parallel.mksh</string>
			<key>mtime</key>
			<integer>1611409317</integer>
			<key>sha256</key>
			<string>98c73c3a42d912ad06be8204a4d9b44b299a67f25812ee32729502a7572bea65</string>
			<key>size</key>
			<integer>13784</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/env_parallel.pdksh</string>
			<key>mtime</key>
			<integer>1611409317</integer>
			<key>sha256</key>
			<string>d1ee1f57aed36d198277ee7f4247e6b3deea9653526d750104948ddb0324f13e</string>
			<key>size</key>
			<integer>5993</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/env_parallel.sh</string>
			<key>mtime</key>
			<integer>1611409317</integer>
			<key>sha256</key>
			<string>c53434b1097abaaf39544efb704b645418b6a05ef56fc8c645eb9bacb498b490</string>
			<key>size</key>
			<integer>14402</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/env_parallel.tcsh</string>
			<key>mtime</key>
			<integer>1611409317</integer>
			<key>sha256</key>
			<string>f13484a56274913573e09a34104b13ff87cc071d42205bd705b8778cc9ba145d</string>
			<key>size</key>
			<integer>5233</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/env_parallel.zsh</string>
			<key>mtime</key>
			<integer>1611409317</integer>
			<key>sha256</key>
			<string>334045df7e2ee7a26a007f4ad9e5331620c2d6c9187051093fdd79c618e9dee8</string>
			<key>size</key>
			<integer>13809</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/niceload</string>
			<key>mtime</key>
			<integer>1611409317</integer>
			<key>sha256</key>
			<string>144ce7b8b4a1b2bf65c44fdf8ebbef0fd9970c92cd227889c82a2472bedf7ecc</string>
			<key>size</key>
			<integer>33139</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/parallel</string>
			<key>mtime</key>
			<integer>1611409317</integer>
			<key>sha256</key>
			<string>9a89d70fe0a3a01d5cbd5a6fc404131ef040e3ad00fc73ae13120b9df0039155</string>
			<key>size</key>
			<integer>403913</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/parcat</string>
			<key>mtime</key>
			<integer>1611409317</integer>
			<key>sha256</key>
			<string>1a175f5cf24facc686e301d69791adce72d3aeea8935f4647e1556eacd502196</string>
			<key>size</key>
			<integer>4028</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/parset</string>
			<key>mtime</key>
			<integer>1611409317</integer>
			<key>sha256</key>
			<string>2bdcd9b0750b25b9bd36369e7e99feb96c3534ea01f114a8e3fcba2ab461064b</string>
			<key>size</key>
			<integer>4023</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/parsort</string>
			<key>mtime</key>
			<integer>1611409317</integer>
			<key>sha256</key>
			<string>d546f1148febd3bb1b7367bdec599c20f6cb03167016bb207bb383aaf0ac18fc</string>
			<key>size</key>
			<integer>9436</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/sql</string>
			<key>mtime</key>
			<integer>1611409317</integer>
			<key>sha256</key>
			<string>935cf49bb3c8b7ad10e2cb67adcbecc63e2c9220bd562e66b7a9030bd191d002</string>
			<key>size</key>
			<integer>31656</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/env_parallel.1</string>
			<key>mtime</key>
			<integer>1611409317</integer>
			<key>sha256</key>
			<string>95bee071949d570fc65bdea159ce9337d416d5540aca9bf6e4915ed14c7ad33a</string>
			<key>size</key>
			<integer>31690</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/niceload.1</string>
			<key>mtime</key>
			<integer>1611409317</integer>
			<key>sha256</key>
			<string>844422a65ed3871444e5d258bc03b6fd7f7177b466f7690544c08bbd6a9b1cdf</string>
			<key>size</key>
			<integer>16846</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/parallel.1</string>
			<key>mtime</key>
			<integer>1611409317</integer>
			<key>sha256</key>
			<string>2bdfb86f8b3d65444424e33d1813ef57e6ac8158b758535f461a175f4160da64</string>
			<key>size</key>
			<integer>200609</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/parcat.1</string>
			<key>mtime</key>
			<integer>1611409317</integer>
			<key>sha256</key>
			<string>785dafcc13142cd8a81df01c5ad5cffdff96c4d777fd9b8f4fbcd26ad6a7e84b</string>
			<key>size</key>
			<integer>8769</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/parset.1</string>
			<key>mtime</key>
			<integer>1611409317</integer>
			<key>sha256</key>
			<string>04f0002440da22337b43126bc74fcbf7ba164569dbff95a3cc621a5761740f62</string>
			<key>size</key>
			<integer>12227</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/parsort.1</string>
			<key>mtime</key>
			<integer>1611409317</integer>
			<key>sha256</key>
			<string>4a4ccfd884f71aa47272133e4b5062bcf542e786342886f0eb80304cff3701bd</string>
			<key>size</key>
			<integer>5813</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/sem.1</string>
			<key>mtime</key>
			<integer>1611409317</integer>
			<key>sha256</key>
			<string>d7ed9bbab355b079d74d9863b543ec5dfe31f3a63af754457b156f97ce411641</string>
			<key>size</key>
			<integer>14743</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/sql.1</string>
			<key>mtime</key>
			<integer>1611409317</integer>
			<key>sha256</key>
			<string>8f4eed479860febb32a577414a8d76c7fc8a2ad9616de91897da6ab76bf8be35</string>
			<key>size</key>
			<integer>17335</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/parallel_alternatives.7</string>
			<key>mtime</key>
			<integer>1611409317</integer>
			<key>sha256</key>
			<string>e60beeb075f3ae554d21a9a24e0d5b22744895a0467f19031be8456e332fa45a</string>
			<key>size</key>
			<integer>122061</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/parallel_book.7</string>
			<key>mtime</key>
			<integer>1611409317</integer>
			<key>sha256</key>
			<string>bbdd68c17ea61a38b14e1489ba3a506b545b08f3b0f31c7417fdc836221c20b3</string>
			<key>size</key>
			<integer>16566</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/parallel_design.7</string>
			<key>mtime</key>
			<integer>1611409317</integer>
			<key>sha256</key>
			<string>46a53c1bf450c1f0e969134af1bcee429cb55333a94fb6014b65bab94377fae4</string>
			<key>size</key>
			<integer>58955</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/parallel_tutorial.7</string>
			<key>mtime</key>
			<integer>1611409317</integer>
			<key>sha256</key>
			<string>23fe05d1c41252de063490c592c6da02215e614aeb42b0a498a4545147483a93</string>
			<key>size</key>
			<integer>96155</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/sem</string>
			<key>mtime</key>
			<integer>1611409317</integer>
			<key>target</key>
			<string>/usr/bin/parallel</string>
		</dict>
	</array>
</dict>
</plist>
