<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/dumpelf</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>c3d671e8de8957c72bbfd9d86ea6c84d5cc711382fb9d9ab30893a97ac96c9ba</string>
			<key>size</key>
			<integer>59560</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/lddtree</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>4e06fb9c2e40ce010bd8dbb8ad43ab84f8f1f41d8a03d00ef9822594f17c4674</string>
			<key>size</key>
			<integer>6237</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/pspax</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>fd379868bc674cd57619c6de4b12a1d51f828678c0c23fb38f242514feff2d01</string>
			<key>size</key>
			<integer>51376</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/scanelf</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>2d7cc3e2f8fd9015e38d5bff729ed0567d8961f7dc826b85ae3b390129d49c60</string>
			<key>size</key>
			<integer>104632</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/scanmacho</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>d9aa7e38607a81fadb2d6696f679baf18326e973d3bb2f91139fd380bc4de554</string>
			<key>size</key>
			<integer>39080</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/symtree</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>09ec718d6f1d5bec095ad41aa4cf41def1a335c8c9ded7fe144f1a2d8d851b35</string>
			<key>size</key>
			<integer>2025</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/dumpelf.1</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>4e501236f2342e719cd8b2cdd002e571a6744bf0f3b83e17f20da3cef7e69867</string>
			<key>size</key>
			<integer>2620</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/pspax.1</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>62400a5c2aad9d9551b957fc35b71f2f24eb483185e29d064808efbbe76f33e3</string>
			<key>size</key>
			<integer>3357</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/scanelf.1</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>9f9ec1ffc2a734b53012219cfbf7283169dbd030c5c869b7a56200503e2e233e</string>
			<key>size</key>
			<integer>11757</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/scanmacho.1</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>c4aaaf2183b00c6d20738528734196306f6cd257a3809b3cd225aed6a4f3fac3</string>
			<key>size</key>
			<integer>8177</integer>
		</dict>
	</array>
</dict>
</plist>
