<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1/services</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/glib-2.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/glib-2.0/schemas</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/symbolic</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/symbolic/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nap</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nap/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_PT</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_PT/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk_UA</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk_UA/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/metainfo</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/peek</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>b30ba451b3fae6d066cd8147490e9b02f79e273c915012fc6ef9338de2d25b8f</string>
			<key>size</key>
			<integer>309528</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/com.uploadedlobster.peek.desktop</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>57c34856981d45c5c022ba44c1baaa372e40ce8caf88b44f49d6dd1b1f12c1d1</string>
			<key>size</key>
			<integer>6521</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1/services/com.uploadedlobster.peek.service</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>0bc9f545e4afa4f1e2075cad18338c66c7539f8b798368551a33b268cdbfb58a</string>
			<key>size</key>
			<integer>88</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/glib-2.0/schemas/com.uploadedlobster.peek.gschema.xml</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>df7ddf42c324e1357b8e2691a69f1923d45b1a7231b18f305e6269e1caa17128</string>
			<key>size</key>
			<integer>3104</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/apps/com.uploadedlobster.peek.svg</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>0f95afe27cfe73286075ff3d713782d2403b894a5a5cf2988ca5e6f201256701</string>
			<key>size</key>
			<integer>21962</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/symbolic/apps/com.uploadedlobster.peek-symbolic.svg</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>4567797e681f9d99b662f699194cf87725efd174fadc1fe583348484e933ef15</string>
			<key>size</key>
			<integer>6723</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/peek.mo</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>ba637a4ece92c0611b96736e9ebdeaad4f5a97c2bb9fc6bfade5f2e4a8085eaa</string>
			<key>size</key>
			<integer>10055</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/peek.mo</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>4f0e4d4a6851adc2dd66e0373cd363a9a804658dc5226f4b0cbcf985e0ece5a5</string>
			<key>size</key>
			<integer>1835</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/peek.mo</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>b016f329c56020b4a7d3b7a60964ac84fe4c5f3895d06534954786498782ce1e</string>
			<key>size</key>
			<integer>10507</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/peek.mo</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>7bccb07084ce5c0e22167dcdb71b08dc6db0a2b8a76dd05ce39d46a85a5b90b0</string>
			<key>size</key>
			<integer>10928</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/peek.mo</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>986f87fc71190aee67017f96a281c0f849fa059e91a256fd3ae6ddff20c74e24</string>
			<key>size</key>
			<integer>648</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/peek.mo</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>2f8e0016af6020d6cee5d142e0e6a4af0a6b54ba59fdf86f1917526a5e8c3f43</string>
			<key>size</key>
			<integer>9030</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/peek.mo</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>21e4ce9d64ff925701a4ad74b7dccc8a158c7862b02910772b0c7c857835ebe4</string>
			<key>size</key>
			<integer>10352</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/peek.mo</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>cb1eb98aed07e4315e1ada21256e166f5a5edd81bcaea7295ea3613960414773</string>
			<key>size</key>
			<integer>10452</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/peek.mo</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>3dbb4973ffd4533d6c35279ba25656cdc62f9be016a7d0b118ae9a267253f224</string>
			<key>size</key>
			<integer>4292</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/peek.mo</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>2d1b53d23e89803aef545fd7054ce33105139a533c352ddbd4fef43da46b4d06</string>
			<key>size</key>
			<integer>10519</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/peek.mo</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>543507727e56a47ba185ca1d94f81524fcd56327615785591385a87aa3e14765</string>
			<key>size</key>
			<integer>9387</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/peek.mo</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>3b90b5fb92627204fb968063fbce66faa6afcf02550c73f823557747e9138772</string>
			<key>size</key>
			<integer>10591</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/peek.mo</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>7ea5a0690e1637ba697ea41c2436ec74ca1699bc0944b924cbefc51ac462e6f2</string>
			<key>size</key>
			<integer>9668</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/peek.mo</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>3a2b9de2147cbb148bec3b070dd6baa0addd8ee2a2719be2e1b42dbf52b1289d</string>
			<key>size</key>
			<integer>8244</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/peek.mo</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>3da01b2ebdbafa8d3759b23fb43ebf54a55f29ba22b6e4b5ab2cece0f568d424</string>
			<key>size</key>
			<integer>12066</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn/LC_MESSAGES/peek.mo</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>e20887d155bbcd123628fe6dd1733f8066d616f36f93c6d78a2660b1bfd971ba</string>
			<key>size</key>
			<integer>310</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/peek.mo</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>cb75a17bd01522cd515e762830a6dcaf78819d59cca2c1fb23754515c9fbdd89</string>
			<key>size</key>
			<integer>1508</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/peek.mo</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>16dd19c364888ad7b915a2e355ce19269a5e0f50e5479e1eff2357552360eff9</string>
			<key>size</key>
			<integer>10294</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nap/LC_MESSAGES/peek.mo</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>07ce5401716c536739151941176675eb661e21f696176e7cab5e972f7917368f</string>
			<key>size</key>
			<integer>1294</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/peek.mo</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>fad859199f181462fbf1af80fc3cb159aeaa1ac07d178079b8a3885f882c9651</string>
			<key>size</key>
			<integer>9973</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/peek.mo</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>0294aa871e91b070b89152f30a48b79845d9e85348532d5591e0be528ad43725</string>
			<key>size</key>
			<integer>10516</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/peek.mo</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>260ebbe42d305337e2f725fc997090e0a4833674ae6672786820f54757c1b850</string>
			<key>size</key>
			<integer>9192</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/peek.mo</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>462ca7bbced61ff8788c0cd946b46f2000f092618923f4b6659e6d8cca4f2b7b</string>
			<key>size</key>
			<integer>10325</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_PT/LC_MESSAGES/peek.mo</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>cec6d1c8827564599cff84f2a1e7e99ffdf78d6735f038599c62af45265defdf</string>
			<key>size</key>
			<integer>9427</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/peek.mo</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>75e31f7bf2ea3f3f17f027f93ca93b3a6afbafa0eba5a8eeceacb96844c17d8b</string>
			<key>size</key>
			<integer>11487</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/peek.mo</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>1936d4ace713ffd2d499a52a90e93695502c25c1ee8d96b288d34579ef025979</string>
			<key>size</key>
			<integer>12021</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/peek.mo</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>708d560b165b40b783b8c5d3d183369e907ede38929b573637efbcd01c08e5df</string>
			<key>size</key>
			<integer>10298</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/peek.mo</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>b44b854a36c27d47069e14163b46fddff7238f60c5ea6fc701795f13b7975a45</string>
			<key>size</key>
			<integer>5865</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk_UA/LC_MESSAGES/peek.mo</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>6181fdf2d51639d25c484b670c133fab728698a8d88536b69e949b8aaa916e24</string>
			<key>size</key>
			<integer>7689</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/peek.mo</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>a84a726e860bbd67a1448def752d3ff68ebb7ec05c875ace40e019ccf0f94650</string>
			<key>size</key>
			<integer>9839</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/peek.mo</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>fbce0832c1910ee46767c3180d679f2756c2aa00841669ff3202c2e316046a64</string>
			<key>size</key>
			<integer>9077</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/peek.1</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>2bfdf75142b4399879084fc9b12b576d007f929c49068050c9f79aeefe1375a8</string>
			<key>size</key>
			<integer>929</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/metainfo/com.uploadedlobster.peek.appdata.xml</string>
			<key>mtime</key>
			<integer>1583573161</integer>
			<key>sha256</key>
			<string>7201d6f35284ed73ef07a87d2306e44a7e444dfe8acbbede84c2e33c8803251f</string>
			<key>size</key>
			<integer>50551</integer>
		</dict>
	</array>
</dict>
</plist>
