<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/POD2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/POD2/DE</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/POD2/DE/local</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/POD2/PT_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/POD2/PT_BR/local</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/lib/core</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/local</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/POD2::DE::local::lib.3p</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>f25ad640fff6de3dc1a9338f101f602207ef42722f4eda16a25e81d6b6c602a6</string>
			<key>size</key>
			<integer>22875</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/POD2::PT_BR::local::lib.3p</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>f0905643d26f64f886819573234ea032ee8368ac00011a332256c1f5d4b34857</string>
			<key>size</key>
			<integer>22758</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/lib::core::only.3p</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>f28223f7e90530f04ec30910a072cb8cdfa11f4f123623659b1247b71c51b5e7</string>
			<key>size</key>
			<integer>5641</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/local::lib.3p</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>94e237ff1c9e266cbe12f1d0ce8a54331df12c10b011b818c55bab3bc2bec3e1</string>
			<key>size</key>
			<integer>31386</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/POD2/DE/local/lib.pod</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>e7043c6b964f076aa654e6fb647f263cfb3b4816684cce769a419357b51cb508</string>
			<key>size</key>
			<integer>16690</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/POD2/PT_BR/local/lib.pod</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>47c6162aef2703aeb38a41f8c6ef9af52c6906b48e1f8b3eab93116655f20134</string>
			<key>size</key>
			<integer>16094</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/lib/core/only.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>fc8e80258424ac5a59e14a6efb3a1c4563da596c6368851e346310fa35f3252f</string>
			<key>size</key>
			<integer>3229</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/local/lib.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>e63923245ecb69fc38730a99a8c21720bab3147ae97b8cfeeb261788e7c393e4</string>
			<key>size</key>
			<integer>41186</integer>
		</dict>
	</array>
</dict>
</plist>
