<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Time</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/Date::Format.3p</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>7aa7e7c84234797e8f48f2081d14e10e5ddba4acfd894597e0b1f64cdd331fd6</string>
			<key>size</key>
			<integer>7287</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/Date::Language.3p</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>de009a3acdfca01e46f19b005b631114645e00bfb521c3f264d7fbea15923825</string>
			<key>size</key>
			<integer>3805</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/Date::Language::Bulgarian.3p</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>92d7736edf74eac12249b9ea0c58032e607a6b7a1c9ecbdfc8fa32cffcb17102</string>
			<key>size</key>
			<integer>3671</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/Date::Language::Hungarian.3p</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>392b1b6c99fc53e1d03ac31241200a7da11eb4288faa374b5bce188b9f64d984</string>
			<key>size</key>
			<integer>3087</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/Date::Parse.3p</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>661e9211b0f56ef7f60442c9c593de8bd7584f950e831876f63a3e3c0bedd494</string>
			<key>size</key>
			<integer>5398</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/Time::Zone.3p</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>1ae5b16df383ea799677efdda4e7e2dada7bf3e603c5014e5ea770a860369fc1</string>
			<key>size</key>
			<integer>3409</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/TimeDate.3p</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>d6eab4110d1de4ed842d7a24830202c3bf2873a80bba92c312b020a2fb2c8dd5</string>
			<key>size</key>
			<integer>2393</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Format.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>1bcc66a9acca8ee061baa714bb06d680e15cdc03b0dd4219a441eb44b529848e</string>
			<key>size</key>
			<integer>9648</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language/Afar.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>157f7726af735802efb75ba6cc020a8d19b3e8bfc734628f82c2c1eebb8a071d</string>
			<key>size</key>
			<integer>1032</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language/Amharic.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>daa28aa67d5ff16b579c0d6a0dffc9a562a065d504ac953b411fce4593a8ec30</string>
			<key>size</key>
			<integer>1927</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language/Austrian.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>c147c5d2064afe707bb253bb64c463ce611aa578e9baeb341f136ae6029d44ad</string>
			<key>size</key>
			<integer>994</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language/Brazilian.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>d47f2650d5b228e1eb19bf992f6bb70216840954e464d74bf459457d8827513b</string>
			<key>size</key>
			<integer>966</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language/Bulgarian.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>23f76d42a3aa82dc92c45c93958b36669f4a258c2c7cb4cf3d2d9799e56697fc</string>
			<key>size</key>
			<integer>2567</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language/Chinese.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>70d89755a8ef15ddc46d97e0e32e175f270731c2dab43ec31a38b6a3b7576030</string>
			<key>size</key>
			<integer>977</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language/Chinese_GB.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>1a714f84d91fd0dc2787b47a689d62a92bdea4f7600c22f4a0e2342515fcdc03</string>
			<key>size</key>
			<integer>918</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language/Czech.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>d9b19e710b8e3fd2e015c47c0fd7c0d270745ecc27b171c6d6d1b6b1e64f3aa9</string>
			<key>size</key>
			<integer>1411</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language/Danish.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>dae96aeec4c1d13109dbeb6c9cd17db98cadf4917d0edf1f255ca189da4dcb95</string>
			<key>size</key>
			<integer>1035</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language/Dutch.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>8963174cd3092e8f32d21d0369da454fb235ee551fcecab7435732fc23afbbd8</string>
			<key>size</key>
			<integer>1086</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language/English.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>92dbd7fc909d7f409a4931e1647b97f1fb3570fbbdde94f991c11d49a22ca1c5</string>
			<key>size</key>
			<integer>973</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language/Finnish.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>98e7cfec1507d85281c87551ff63743f581b08780d01f50a97ddaf9ca0481604</string>
			<key>size</key>
			<integer>1239</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language/French.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>ff54a67ee332030d64d9f6fd698d04dd0a48f4229ff4d347a75fb5f72c6e7bd2</string>
			<key>size</key>
			<integer>1020</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language/Gedeo.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>abdc606a958a67ba7e7bac299d534693ecaba30bc0039bdc68a2eb0f73ae87c1</string>
			<key>size</key>
			<integer>1064</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language/German.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>f92d9ba7ddcb35de435195777eeead3c32606862200c84146b209d6535ebe7c0</string>
			<key>size</key>
			<integer>1040</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language/Greek.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>dc758099c84fde3bfa4279e9b482a490767506b79a28d9535cd6ff1cbc1bccd2</string>
			<key>size</key>
			<integer>2826</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language/Hungarian.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>7414e9b4e9b88406b5182687e22c062127c6412d0ecf640d6907abc73c52aad1</string>
			<key>size</key>
			<integer>2133</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language/Icelandic.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>a50e701a7b6330dbc41861cda4849014c6232e9249023ea2fa99507e9a6ee702</string>
			<key>size</key>
			<integer>1037</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language/Italian.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>513bea678c33ad3a6f1f5b9dc1382ae5e90df929cc1e32d68c128b5ea67fbc4a</string>
			<key>size</key>
			<integer>1006</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language/Norwegian.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>ff6b2edc4820c9c2db2f9392315af128bbf853a0557e7276d579945f141e9836</string>
			<key>size</key>
			<integer>1004</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language/Occitan.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>bbf753c106b68e814ccc7d00bffe0bc219c732c6e3c5c629ad0154c3427be25d</string>
			<key>size</key>
			<integer>964</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language/Oromo.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>fbf6dcc1ee213611ee41db6550a5c83eda44ce61f7d01d34e68145bde1c8a594</string>
			<key>size</key>
			<integer>999</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language/Romanian.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>320c9fdb726c098c30bc14c6e9c831add45e72e5f682b55c6ae4c1165880b093</string>
			<key>size</key>
			<integer>892</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language/Russian.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>821eba9ca048605883a3434a4bb9cff01c87b7b9c23d9300a63afbde66c2f91d</string>
			<key>size</key>
			<integer>1384</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language/Russian_cp1251.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>9f2d81e621c48a18da1578d7044868fe7aec8feb80d35c6819f22b0e7e68a75d</string>
			<key>size</key>
			<integer>1036</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language/Russian_koi8r.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>9e977e0b8cfb6370272efad845d7c253de6490d1268aa1504528f8fb48b31593</string>
			<key>size</key>
			<integer>1034</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language/Sidama.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>7576c52360a76689ae763696b132fd64f945f34647115b72fe0782cc5c157abc</string>
			<key>size</key>
			<integer>980</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language/Somali.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>6a04620528727937446372182da3d845490501250a4c2aa860c4890454d07e93</string>
			<key>size</key>
			<integer>1155</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language/Spanish.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>0a342845a8507044b5e42f9057cc20b3dbdc2b9f7c4973fde8801d9bc6323e75</string>
			<key>size</key>
			<integer>922</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language/Swedish.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>d9482ae993437ab8515f34deb6f9be720916244f88b1aa81889a137f085b2a30</string>
			<key>size</key>
			<integer>1122</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language/Tigrinya.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>84c43a9576e1c5913d2dbfe280cc6f71b0f9f58200110a67df94a051d79fccac</string>
			<key>size</key>
			<integer>1434</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language/TigrinyaEritrean.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>b70df17f6524cd88c8f211ae2dfa32867e520b16c7f82e6dc2070daf5281b6e2</string>
			<key>size</key>
			<integer>1904</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language/TigrinyaEthiopian.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>6b8e97204e22c4b3cd9b4eaa93b4afd6240fe29869ce2a28c784bcba0123ebab</string>
			<key>size</key>
			<integer>1930</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language/Turkish.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>26eba960646b13f1cbf235510112e5510ad00848a0a608010e31a2a3ecc477a5</string>
			<key>size</key>
			<integer>2079</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Language.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>ccc39d23c3326e0e3fdbe5b83f0e8629bb0de548b3a4b2bc0505a148479b393a</string>
			<key>size</key>
			<integer>2668</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Date/Parse.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>cd280569eeb8f0040af0a27720a7dce527f9bd446e94646378cb5de819d584c1</string>
			<key>size</key>
			<integer>9125</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Time/Zone.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>5b8c6b6aae372ec40a1ca1e74d8e3c94d3c5d495d430e89f95e4194b7e347e15</string>
			<key>size</key>
			<integer>8346</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/TimeDate.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>1093e417e6e8dc53b1180522371df631fcac34bdccaeca6785ea60d909cf7612</string>
			<key>size</key>
			<integer>267</integer>
		</dict>
	</array>
</dict>
</plist>
