<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/perl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/perl/html</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/perl/html/site</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/perl/html/site/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/perl/html/site/lib/File</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/File</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/perl/html/site/lib/File/BaseDir.html</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>aa944083b3cbd61d893f5a16f0bde6cc108c9e675594af469cfa7805baeb4181</string>
			<key>size</key>
			<integer>8309</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/perl/html/site/lib/File/IconTheme.html</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>1fd7a77dcd1e36d580567aef66c9053a81f0b2a44782522449277a486ed23486</string>
			<key>size</key>
			<integer>2899</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/perl/html/site/lib/File/UserDirs.html</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>db9a4b32f943f0c0a5d5c6f3f3695d1bd9fe4c0cc3eef83deb05c6896d96ea75</string>
			<key>size</key>
			<integer>5665</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/File::BaseDir.3p</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>812008e2e99d6ecbc36e35ba809c48a5778976e799b41257740eeecb38e328d4</string>
			<key>size</key>
			<integer>10461</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/File::IconTheme.3p</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>3bd60efdc76bcecb5c0a975f71c030f2e6da84bd485b8f7d364d1a81e57390d6</string>
			<key>size</key>
			<integer>5248</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/File::UserDirs.3p</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>9bfcb714c2277b8cae0c9ad5459c2ed09e71b23b03f896766f1f1610eb4fabe0</string>
			<key>size</key>
			<integer>7795</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/File/BaseDir.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>6646c3f922672e2bff2bd6908ec37b841b6ccdd90f2afd288018e975bb76b812</string>
			<key>size</key>
			<integer>8236</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/File/IconTheme.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>6de69546a14edc9829f338635414cede099820645326bb1c3362eb6feb7ba521</string>
			<key>size</key>
			<integer>1353</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/File/UserDirs.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>b17d8f5e414132ebb0ceec4c7009c72eb96abe2e9b15691a2faec042e95d658b</string>
			<key>size</key>
			<integer>3720</integer>
		</dict>
	</array>
</dict>
</plist>
