<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Digest</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/Digest::HMAC.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>0a48fddf7abfa2dee9ec0b3ee45b4c245bdd9d011536f82e6e779c040e82b54d</string>
			<key>size</key>
			<integer>3904</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/Digest::HMAC_MD5.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>284dc7f122ff7c1f2646d869c87015006dd68e55fbcadd6e47951a2cfb527353</string>
			<key>size</key>
			<integer>2937</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/Digest::HMAC_SHA1.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>bf2aaba650183baeec7e991a8ce15c184f3d461feb07c3af8fa432270471daed</string>
			<key>size</key>
			<integer>2949</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Digest/HMAC.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>aab5d1997b7bf39a6ddf08287cbb14a3c935d44b041bd0905604067c543b27db</string>
			<key>size</key>
			<integer>2889</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Digest/HMAC_MD5.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>b311fcb3d47546829182f5c39a1e7567ebbfd5b1c1edeac605a04ed5d37908b1</string>
			<key>size</key>
			<integer>1114</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Digest/HMAC_SHA1.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>8eb45b1af55ea77a06fef3dd9ad59b4a7a6e7e3f61c3fe190e67518d2c90e3c7</string>
			<key>size</key>
			<integer>1163</integer>
		</dict>
	</array>
</dict>
</plist>
