<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AnyEvent</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AnyEvent/IO</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AnyEvent/Impl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AnyEvent/Util</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AE.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>8647b708e5b027350f7e2b57ce493b0ac5daa356e2caed8e96457c9611098e0d</string>
			<key>size</key>
			<integer>5396</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AnyEvent/DNS.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>d8c1de0f16f72c689a60f42913d70fe98a6acd43a75a628446c6097391e63065</string>
			<key>size</key>
			<integer>44402</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AnyEvent/Debug.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>46c1bf00b088e6e3c576f6bcf214de6186bb43dad9fa6f0b0d09d6d0234b523f</string>
			<key>size</key>
			<integer>20994</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AnyEvent/FAQ.pod</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>191c8ea0f1658d8185921f496dbb505039530d9c39314bfc0c65f66cc5f4ca6a</string>
			<key>size</key>
			<integer>5243</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AnyEvent/Handle.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>e06b1204aa38eb99f7e775410ab903cf82aadf7e17d1a35c97cce4bf320ff2f8</string>
			<key>size</key>
			<integer>84380</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AnyEvent/IO/IOAIO.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>b4278a37d4d54af33532be2532484d5fec9e8fd18dbf31195b44843eb197432a</string>
			<key>size</key>
			<integer>3411</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AnyEvent/IO/Perl.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>d82cd0ef6081b4b2ab64393204547085ed4b56425624ae222976b5bd4e9a8ed1</string>
			<key>size</key>
			<integer>2586</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AnyEvent/IO.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>16f6543ebd0874be16ef3d347cda0c4995d329f2b5b683b64756d0214e787d48</string>
			<key>size</key>
			<integer>22079</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AnyEvent/Impl/Cocoa.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>f4153db3c52179f014f0ae37d3976c656b17a16e9b34c1097b728c4b90fcda9f</string>
			<key>size</key>
			<integer>1456</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AnyEvent/Impl/EV.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>68f9ea08a99bcaf07184aa70bf8a40b94b84a087ff475efaf39597e5972d6a7a</string>
			<key>size</key>
			<integer>1989</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AnyEvent/Impl/Event.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>c32edb4a9f5b0282c436dde0bfc08247a7900321777a6b0a3dda1d468cabd320</string>
			<key>size</key>
			<integer>2162</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AnyEvent/Impl/EventLib.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>729bc072069265642eb812d9da2bfd9984e5053a43929d4e26718adcd2633482</string>
			<key>size</key>
			<integer>4189</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AnyEvent/Impl/FLTK.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>4e8fff89b9a65c8a8abe2d82350f9c1dfa5872a22e5e61d1b5749ac8634b67d1</string>
			<key>size</key>
			<integer>3126</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AnyEvent/Impl/Glib.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>de31e32a7ead4fe183af34fb9a9ad534c47f0e11d4384a2afb2576d91038524b</string>
			<key>size</key>
			<integer>4701</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AnyEvent/Impl/IOAsync.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>5989378679067db24d39ba1296c7cc404ad2fe8ccfd636a21827c924af44e064</string>
			<key>size</key>
			<integer>7462</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AnyEvent/Impl/Irssi.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>52deae26badb28dd9d425a2896fc4f66a6401bc67e945a9ab3b7c0826cc14870</string>
			<key>size</key>
			<integer>3562</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AnyEvent/Impl/POE.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>e97fe44ae4f06c8b8bea3b231e11292198f5f32ad2beef4fe609ed31814c1fc7</string>
			<key>size</key>
			<integer>15223</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AnyEvent/Impl/Perl.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>9a7d5cf73033a167b26951bd16a861847faef19cdfc9d520095c8e8591b0a595</string>
			<key>size</key>
			<integer>1711</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AnyEvent/Impl/Qt.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>49e2c4937694446c513c0698bbd576632900335a367a5fbf8b087ec8ee5c25d5</string>
			<key>size</key>
			<integer>3116</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AnyEvent/Impl/Tk.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>6a7253d0aef68ae6205c2c2478591786235e5c44c0c0c2b226d1763173d72dcc</string>
			<key>size</key>
			<integer>4497</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AnyEvent/Impl/UV.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>e388e2d9e9bf1a286ec0ef1164496a1cb842edecad95c13ea6ce73d36ca4b030</string>
			<key>size</key>
			<integer>3775</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AnyEvent/Intro.pod</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>1eead2caa6f24333197f456e75018298a1931f94499a2b008a5737e46406f03e</string>
			<key>size</key>
			<integer>51528</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AnyEvent/Log.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>4f90d7e1c4d99af6e0a945b1dd85dde8f0e2a247924f98581ae60f2aa698b0b0</string>
			<key>size</key>
			<integer>46189</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AnyEvent/Loop.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>7bbaef8746144efef51bf4f4cba34b95bb2016c99a2e07233404f0519ca91fab</string>
			<key>size</key>
			<integer>10276</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AnyEvent/Socket.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>890f525eff3dbe5dd4d736d6ba4958a9415f6d90dd1555c803946365c6dddcb6</string>
			<key>size</key>
			<integer>40938</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AnyEvent/Strict.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>28d46cf51a684283a42f0550c9386633a742d5aba5f43e86d600225217790aa0</string>
			<key>size</key>
			<integer>5960</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AnyEvent/TLS.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>9c07bd4d006a7661948dc739856300fb222b4d838dfc381019eb5e08c8f89946</string>
			<key>size</key>
			<integer>48687</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AnyEvent/Util/idna.pl</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>ac9ac22343195743907c788a67b17cdbdf2c16dd0ac7910cc84d38ba35898b19</string>
			<key>size</key>
			<integer>3034</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AnyEvent/Util/uts46data.pl</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>b39db9a2058e02cc48bdbfccb85be49bddc5d3b05f42eae4999adf3e2b741ceb</string>
			<key>size</key>
			<integer>64533</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AnyEvent/Util.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>9a61075bdbbdf2524902a070b92624dabefff779a03cd83df6e0cc8a9c3731b2</string>
			<key>size</key>
			<integer>27628</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AnyEvent/constants.pl</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>3fdf9d816e015221c723cff28fe80bb2e1c495c19e1264b491aa141f03e1e01a</string>
			<key>size</key>
			<integer>1357</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/AnyEvent.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>5624b4005d9f0886ca7dbf06eeed4ead78066453af1361fbaea0a08feca7554c</string>
			<key>size</key>
			<integer>113356</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/AE.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>4d67c8ad9d7691a13592021fd3ef6b98e0f368e50a3e1964c6c75ed240e87bb6</string>
			<key>size</key>
			<integer>9055</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/AnyEvent.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>0437234d43afd3d1aa20c1a6b84add51577d4e89cefc42ab3018bba9688fc084</string>
			<key>size</key>
			<integer>107495</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/AnyEvent::DNS.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>cf762a7a3bbafd7dbcc8cd6d3b708d25cd651be3c4fd71ec9bfb222e2f3360a7</string>
			<key>size</key>
			<integer>26522</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/AnyEvent::Debug.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>e403ab08dd30d3f042478e953fdb4cb6277d027334897c0978e02122a7b7c586</string>
			<key>size</key>
			<integer>11850</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/AnyEvent::FAQ.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>5cd91d54f224e703b1c936033fa388f50ce5bae87244e1103fbdca82819dda3d</string>
			<key>size</key>
			<integer>8505</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/AnyEvent::Handle.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>51a5704965f5610ebf0f2d907c36e23aa55add06dee64bd1ef0d34357d68ee58</string>
			<key>size</key>
			<integer>76083</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/AnyEvent::IO.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>7e6fd9df19424b8dc4d5e5e756871bfffb8ca17d01777b7bd0b52cb0be26f47e</string>
			<key>size</key>
			<integer>28383</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/AnyEvent::IO::IOAIO.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>be221e6cc2517e8af40c56a13b5c6f3c79d291a977a2633c691ec1c3f9674853</string>
			<key>size</key>
			<integer>2749</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/AnyEvent::IO::Perl.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>8e8c44cebe730bbc142aa5146ac460355fc1acc4200794e70025c1dd3aa3e1e8</string>
			<key>size</key>
			<integer>2832</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/AnyEvent::Impl::Cocoa.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>d4678b859008d9d32911409982e64105ef59b1d81cfcad944b4334a47bba9334</string>
			<key>size</key>
			<integer>3465</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/AnyEvent::Impl::EV.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>311cc44895c43ca9f049db73d21f54180975d60c4a12b8f8fe75e1ab8c81e3ab</string>
			<key>size</key>
			<integer>3081</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/AnyEvent::Impl::Event.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>9e8e7f3b82c8f5776a576869106576200b14e36c2cd2dde83ad2013151d8d3b7</string>
			<key>size</key>
			<integer>3020</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/AnyEvent::Impl::EventLib.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>36b3e001de41776583816c045390fcfefba7be9e22b104fbbbecb295cf03ef8b</string>
			<key>size</key>
			<integer>4514</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/AnyEvent::Impl::FLTK.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>dd84d922e156cb68c8064ab35eb66aec0208afcd1a7e9031fdbd27a18496ce37</string>
			<key>size</key>
			<integer>3504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/AnyEvent::Impl::Glib.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>6c671caf2e44247680e46b5b345f4edf5d79409c05073dac2ed0b890a8a49b2b</string>
			<key>size</key>
			<integer>4153</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/AnyEvent::Impl::IOAsync.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>68ef83d060612240d7ff7bd7a48929046a791fd36f9b4f033e18667019985dd8</string>
			<key>size</key>
			<integer>7563</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/AnyEvent::Impl::Irssi.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>a370047222c233682b74f8ef1a2aa13424df0d3e0dcf109feec0c074575f7077</string>
			<key>size</key>
			<integer>3935</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/AnyEvent::Impl::POE.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>829c745c85babfb3038e1429e3b3fcf12340ce97c43c1931093e0cb19d307c6d</string>
			<key>size</key>
			<integer>15258</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/AnyEvent::Impl::Perl.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>d5609ea018d1f13df5953c6c833a8ae5320f092c6856fa105a36040c25f2a3e2</string>
			<key>size</key>
			<integer>3043</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/AnyEvent::Impl::Qt.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>3bb4442d19c4e546ea363f0cbe571a2ae8a507fa3e5e7a4c719447d642a62a9d</string>
			<key>size</key>
			<integer>3312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/AnyEvent::Impl::Tk.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>21008da91871aa496ec1b11c883e009a0b377abdbb559b34670aaef4f7b8812d</string>
			<key>size</key>
			<integer>4507</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/AnyEvent::Impl::UV.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>d5f29c9994eb7880a625184b105e9e2b53ca3df5fbe2e685d93f8668546c257d</string>
			<key>size</key>
			<integer>2792</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/AnyEvent::Intro.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>cf7230a2a1e3529a8651e6f72ec5937f5d2d07b00c934c44ff0f56f54f970811</string>
			<key>size</key>
			<integer>60073</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/AnyEvent::Log.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>54edfcfc0ca4ff18acae9dfb2d5487317238365d05cc0ff8907ca53771306a4f</string>
			<key>size</key>
			<integer>43266</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/AnyEvent::Loop.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>fff3afdb43bdfa6abc09f36c8070b0ccf2dca7a3e62195da860193c786705e4b</string>
			<key>size</key>
			<integer>6861</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/AnyEvent::Socket.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>f4f1a2875c61bd0f965afd2fbf1b5638224ec4d611c5ad86d73c8aaa15d6164f</string>
			<key>size</key>
			<integer>28171</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/AnyEvent::Strict.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>a6c52750eedabab940dcee90cbee124d3acd5d8666a1eb1abb3baf47d9bd413d</string>
			<key>size</key>
			<integer>3119</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/AnyEvent::TLS.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>3ebb490586b9f1ab8527f6b29e3a3ab26a6ab49e55ec8a5ceeb52015649eacb1</string>
			<key>size</key>
			<integer>31529</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/AnyEvent::Util.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>fbe912babb9ea7acb2aed997bcf63a1a3363438441e42b3dcb0e0d4dd1224ce8</string>
			<key>size</key>
			<integer>17018</integer>
		</dict>
	</array>
</dict>
</plist>
