<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/CGI</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/CGI/File</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/CGI/HTML</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/CGI.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>57c8dba26095104bafcd48f4ca8771710f344e569633a8ce68f9d44b32c8ab1e</string>
			<key>size</key>
			<integer>81869</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/CGI::Carp.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>3c8319f5958bab44b12c2cd9e5b4e936f36a8e3772d9f035656204dd94c0c689</string>
			<key>size</key>
			<integer>14441</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/CGI::Cookie.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>a489238a150e28a043475b25305bed32f803e36de02e9a93107fc329084a951f</string>
			<key>size</key>
			<integer>15083</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/CGI::HTML::Functions.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>af47f2830ca0cde0f63e85e516300cc1f8332b428de6241641de77fb3b5f6763</string>
			<key>size</key>
			<integer>74793</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/CGI::Pretty.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>2fdc953fd88650dd734c0c873ff2ac478db6286a9853659b550d41775846392d</string>
			<key>size</key>
			<integer>3216</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/CGI::Push.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>81ecfde11916883d694ebb2157ebe11ea66b9f954c210c389a6ae622be41ddb1</string>
			<key>size</key>
			<integer>10034</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/CGI::Util.3p</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>9931f869c115511fae3caeb3d1d6d2c391713a6afc2a0915e56b2eb0ab19ac3d</string>
			<key>size</key>
			<integer>3174</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/CGI/Carp.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>3a9ce85ed883f2d5ad71dfc578e1df8d0ab0d73808a7a61a293f223d94b8f1a1</string>
			<key>size</key>
			<integer>19027</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/CGI/Cookie.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>c04cdfc6efcd99b835e6222598161fd1c78d4e2eaedaf3ed6351d354f7fafcd6</string>
			<key>size</key>
			<integer>17499</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/CGI/File/Temp.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>70d6195ddb7b946b8000d60117799a0b4a07fbd3f884a00f26e2a1e18ae31490</string>
			<key>size</key>
			<integer>942</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/CGI/HTML/Functions.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>2b2a3d25940d4e388754e41bb8acdf6325987df546932d057f2f5e9bbd7eab5f</string>
			<key>size</key>
			<integer>125</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/CGI/HTML/Functions.pod</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>93f5d295710bc38bde7b332cdf8736af4b9e1756eee8da08f99edd412c05f982</string>
			<key>size</key>
			<integer>60528</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/CGI/Pretty.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>4e1d1f1ed79f3ada9dc6b7a0358f35ae4920687596d46a3430f5c2295807fee6</string>
			<key>size</key>
			<integer>1943</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/CGI/Push.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>5967c314c235acf9b8b6dfa8f911e00d8eafd1e9061c599db556aabf8a07cef7</string>
			<key>size</key>
			<integer>10109</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/CGI/Util.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>5a2ff0b14c1389b3c2db28ee1e87de6203ef20fb469518e5b09d4755efefde47</string>
			<key>size</key>
			<integer>11681</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/CGI.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>c4c9e84414cfd59c66cc5839638c43e42210021bb9f38bc508f2b0b26d863619</string>
			<key>size</key>
			<integer>125568</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/CGI.pod</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>c0e4f195f4210fd08e7e0c27340edf6c2181357058279efef261815fcffe72c7</string>
			<key>size</key>
			<integer>67713</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Fh.pm</string>
			<key>mtime</key>
			<integer>1603909533</integer>
			<key>sha256</key>
			<string>ffa5bacc90de40445a06eb6157859eee8830a9a410932e5140975ce5e887bcb5</string>
			<key>size</key>
			<integer>166</integer>
		</dict>
	</array>
</dict>
</plist>
