<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/IO</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/IO::AtomicFile.3p</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>811e2258cfa9be195a9cd9bb9879ddba9ad4e84504f9a8587fbd1feb3636701d</string>
			<key>size</key>
			<integer>5377</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/IO::InnerFile.3p</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>a25b74922af5eb664bc7cfe98bc5176f703ac08f44b211fbe17192121a67fee0</string>
			<key>size</key>
			<integer>6031</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/IO::Lines.3p</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>e55bc2d6210cb80f5ad434fe2fb6d59b0d507800ad1c4005677fe91f9a3c8bcf</string>
			<key>size</key>
			<integer>3779</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/IO::Scalar.3p</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>f44c5090d97040a32998663986956671efe45583f9ba0efdbc82f7b2044e2b7a</string>
			<key>size</key>
			<integer>10675</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/IO::ScalarArray.3p</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>e2a2a53dc8c5687291e99c175505ad0fa326158b73f778c4b13f452ec7586a4d</string>
			<key>size</key>
			<integer>10524</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/IO::Stringy.3p</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>97b097507b490440910edac85351692425055ec6e647799e9f8c67d7a2590220</string>
			<key>size</key>
			<integer>4045</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/IO::Wrap.3p</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>9020d3bbf97109dafef93ff71d85d99e77273e40dcf183c9b2c400eeb5372a67</string>
			<key>size</key>
			<integer>10660</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/IO::WrapTie.3p</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>ff7ae1cc474f0db38be865425cd10ba570b0b037ccb1d705e575058d72016811</string>
			<key>size</key>
			<integer>14979</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/IO/AtomicFile.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>9d99b1aad8791e226f23e16b2310131c0662419f623ecc2c6d32324a4f916b43</string>
			<key>size</key>
			<integer>5370</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/IO/InnerFile.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>16b62aa2a48337e84cf7317ff89d5481c8e4b1c60782eeae307578fe32c2dcb3</string>
			<key>size</key>
			<integer>7041</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/IO/Lines.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>8e0e8cbdec5bbedff37956dcf32e92ebc8f4b30c6182168e45e9db4894cd4007</string>
			<key>size</key>
			<integer>4170</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/IO/Scalar.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>9a1c349a909f30e66ffefe06feecfd6fdb4c8b605d8838739feae5b0c8f1fde8</string>
			<key>size</key>
			<integer>15028</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/IO/ScalarArray.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>64dc53e0720e75adea1e6244c98ee30f937e9274a075578fdeecf8a3ef165514</string>
			<key>size</key>
			<integer>16447</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/IO/Stringy.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>03faa498d91ff0271af10ec94538c117de5c6ab146ce0444b2ef1eaaabaf4750</string>
			<key>size</key>
			<integer>1821</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/IO/Wrap.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>1d233edbbc8def7c16e589410e2789178edbe71632cc3d5bc6b3f41acad5defd</string>
			<key>size</key>
			<integer>8789</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/IO/WrapTie.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>053f2978470d8fd1e43cb4e66f47a89244ebfbdc74017c87de403b834494f78b</string>
			<key>size</key>
			<integer>14716</integer>
		</dict>
	</array>
</dict>
</plist>
