<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Convert</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/binhex.pl</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>ab28991b25e2606ec10d5aeddccc9bd5a6266eb10e3da8eecd130c0d524b5d7e</string>
			<key>size</key>
			<integer>3850</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/debinhex.pl</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>08a3b551dc20711f4198edf762e63a3e87c914ca01a8df510ac5f19516f26f96</string>
			<key>size</key>
			<integer>5792</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/binhex.pl.1p</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>5b332f33a3c38c6acbf95c507e983ba6011a5b2a01529989c11452b97e5fec08</string>
			<key>size</key>
			<integer>2828</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/debinhex.pl.1p</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>29ec7d6851c9471a308db5e8e09346a1408acb77cb14fd33d79a326afb9221c4</string>
			<key>size</key>
			<integer>3047</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/Convert::BinHex.3p</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>ee78cccc742f58821b14d0bd0cfe19e44607cc44e7bba2ecdeb23679ea591024</string>
			<key>size</key>
			<integer>24158</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/perl5/vendor_perl/Convert/BinHex.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>4942c1e83127a293453b2bb0c4d136e11bbf73a023850f1e2fe2f1aee7d80eb9</string>
			<key>size</key>
			<integer>44013</integer>
		</dict>
	</array>
</dict>
</plist>
