<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML/Parser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML/Parser/Encodings</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML/Parser/Style</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/auto</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/auto/XML</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/auto/XML/Parser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/auto/XML/Parser/Expat</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML/Parser/Encodings/Japanese_Encodings.msg</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>a0b4899693f8a40631003349a280f83343c05dba209b8de842cedfe54ec8a596</string>
			<key>size</key>
			<integer>4821</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML/Parser/Encodings/README</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>79d0f941891e9cf4230fce36cc2b7b003df616eb94fa847fbabd4c457effcc90</string>
			<key>size</key>
			<integer>1950</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML/Parser/Encodings/big5.enc</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>6081ca0556c54f71d68043d0cb6b2178956d4691892976ad05d2dbebb0df85a3</string>
			<key>size</key>
			<integer>40706</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML/Parser/Encodings/euc-kr.enc</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>080ddf408b05e2ff0f8b44504b22793bb6e7a02da0bc36bdca3a447d4a7b2207</string>
			<key>size</key>
			<integer>45802</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML/Parser/Encodings/ibm866.enc</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>1461558afb2a30de04606157368e141809d143862fce35817d0fdf28a7af6f9d</string>
			<key>size</key>
			<integer>1072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML/Parser/Encodings/iso-8859-15.enc</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>b2820d35d71ad164486309139babd4f805222302d23040dc1a432395d0142201</string>
			<key>size</key>
			<integer>1072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML/Parser/Encodings/iso-8859-2.enc</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>2f0c85e1deacddebf70ec4c3e099853f33863e882363646beea7d7c887fb8eb9</string>
			<key>size</key>
			<integer>1072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML/Parser/Encodings/iso-8859-3.enc</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>c18f5f54628dd6b7077dcafc497e45817fa6eb33bae94d65d8b3f5b77460c5f5</string>
			<key>size</key>
			<integer>1072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML/Parser/Encodings/iso-8859-4.enc</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>fbb01b63d589c16b4f679841f9e0d382c4b7eb8d4a10a8d786b24b2b9f8bd0a0</string>
			<key>size</key>
			<integer>1072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML/Parser/Encodings/iso-8859-5.enc</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>c5989f364c79f9900bf37d3d17fa1e599f334d93a86083ddb9f8d1db632ffda7</string>
			<key>size</key>
			<integer>1072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML/Parser/Encodings/iso-8859-7.enc</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>7d43441b3f84aec18663942c906496984995d85f9a75456276894b2356aa54ba</string>
			<key>size</key>
			<integer>1072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML/Parser/Encodings/iso-8859-8.enc</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>fafcc0dad8ba75b82d7133d6b4ba8380c884ff803b09429976bf2a465dc6be72</string>
			<key>size</key>
			<integer>1072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML/Parser/Encodings/iso-8859-9.enc</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>3524bc098c754dde4bf4c8e0045eacb177b5bce40298c9cab74f1cf2b4fa6c7c</string>
			<key>size</key>
			<integer>1072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML/Parser/Encodings/koi8-r.enc</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>a0eff945a352761a9befd92cbfba590af47afe5368e63cc6583e84d871b4d89d</string>
			<key>size</key>
			<integer>1072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML/Parser/Encodings/windows-1250.enc</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>981b11a7065b6824096e8f61eefbfe6ad4178895597ab4e906948187a688cd79</string>
			<key>size</key>
			<integer>1072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML/Parser/Encodings/windows-1251.enc</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>2161171cb8a62beac4a447d3e10ec9735501787e25de4f858bbae39a35d943cd</string>
			<key>size</key>
			<integer>1072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML/Parser/Encodings/windows-1252.enc</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>41c39988b3a52a984044351500a2759ead4bf94bf5260a82a2f46979861d0444</string>
			<key>size</key>
			<integer>1072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML/Parser/Encodings/windows-1255.enc</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>17fa2f4ff1ba6073cb8f71f6a443d9b1316c6f23c7896086378d539231bf53ef</string>
			<key>size</key>
			<integer>1072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML/Parser/Encodings/x-euc-jp-jisx0221.enc</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>dc866eac973dc39853dac99388802d0cdff670bb240d5a37567fedb4e0d68bb7</string>
			<key>size</key>
			<integer>37890</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML/Parser/Encodings/x-euc-jp-unicode.enc</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>f9fb4f5862ae9fb2bf753af4d732cd14eb76ec2cbc1e2d0617974da0d005b9e9</string>
			<key>size</key>
			<integer>37890</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML/Parser/Encodings/x-sjis-cp932.enc</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>365744505f471ac683a5823ff9623b90301497b6950c95009cd2a284bf78ab78</string>
			<key>size</key>
			<integer>20368</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML/Parser/Encodings/x-sjis-jdk117.enc</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>47c2e43b1a66c3627ab988c93748539642b3614b104447133ccf1ae9b69389f5</string>
			<key>size</key>
			<integer>18202</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML/Parser/Encodings/x-sjis-jisx0221.enc</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>15d0cac4debd65399a4ad4080cd5f4fa28ba4ab33c8785613530824caad5fcfd</string>
			<key>size</key>
			<integer>18202</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML/Parser/Encodings/x-sjis-unicode.enc</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>02fd462bd17f7b67759fc6496f1c64a835095ad128a950ed65d78b071ff2d09b</string>
			<key>size</key>
			<integer>18202</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML/Parser/Expat.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>5c8158981712a0d160f0a85d66e847a98680b308fb03aa2ecad1af2b552f56e1</string>
			<key>size</key>
			<integer>35152</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML/Parser/LWPExternEnt.pl</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>16ddc05c3ce2d598a6880eaf9ec52da861d335a4acab5c82bda46193ced5151d</string>
			<key>size</key>
			<integer>1582</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML/Parser/Style/Debug.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>1bb5df5360f33a3cfbfc3a2ebcaba1fa73eae2b2118e054a0e340b24000c50a8</string>
			<key>size</key>
			<integer>1028</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML/Parser/Style/Objects.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>2529d05f3714c6e1452fbda88b2fc1cdd552d47710bf4be7bf5c60f3a0e4a522</string>
			<key>size</key>
			<integer>1866</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML/Parser/Style/Stream.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>520cc89e0c98bde55884aebf6af464cf925d8425ed4c5fb6df1f528a5d11cce0</string>
			<key>size</key>
			<integer>3629</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML/Parser/Style/Subs.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>14e25ee457d9a936afb7a12b08bd96f085d45f819d279c78d19718e5f3ce5cb7</string>
			<key>size</key>
			<integer>1151</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML/Parser/Style/Tree.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>905c81e6d70e815a5be7d802de9dea563b1995eabb8f8b1d4fec4778aede48e4</string>
			<key>size</key>
			<integer>2282</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/XML/Parser.pm</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>eddda975129b32f56b9f0876eb28658155f38c5fbc2dc89adf552c1168ab6518</string>
			<key>size</key>
			<integer>27721</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/perl5/vendor_perl/auto/XML/Parser/Expat/Expat.so</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>88888e6d25484eb3fef618d3216719fc4ad5fe9d7c96c736186bd725f4834a7e</string>
			<key>size</key>
			<integer>84864</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XML::Parser.3p</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>a810274feb5ea3cbba40d11b9a479e6badfce5e85a352f8f01b3da629f48c2ab</string>
			<key>size</key>
			<integer>24492</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XML::Parser::Expat.3p</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>19c19ec546ce579ec19ed59e7892ecca42ea956bbef8f7cbf5a002d4e8823263</string>
			<key>size</key>
			<integer>24993</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XML::Parser::Style::Debug.3p</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>0ea4d3400e9f25f5f1adda2091f48a4f4db0bc5ec0027b4ce3c9da5e91f1ff40</string>
			<key>size</key>
			<integer>2600</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XML::Parser::Style::Objects.3p</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>f82ae7a5dafad7fdeb9bfd1040998ce1a46edd3f38e0cd67af303504abcf663e</string>
			<key>size</key>
			<integer>3080</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XML::Parser::Style::Stream.3p</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>aaaabdfe1183489fd2752f8dce1086957a60c3babc26eda87c3fac1cdd650e24</string>
			<key>size</key>
			<integer>4117</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XML::Parser::Style::Subs.3p</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>52396d5c7c4460fc0aa20add85f54af02bebd5cf615c3050be56335c04b5cfb8</string>
			<key>size</key>
			<integer>3055</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/XML::Parser::Style::Tree.3p</string>
			<key>mtime</key>
			<integer>1603904712</integer>
			<key>sha256</key>
			<string>f9e678782305438e2ca45ed11f4122fbc40d5741d7f028ddec3d0ec24c826b13</string>
			<key>size</key>
			<integer>3721</integer>
		</dict>
	</array>
</dict>
</plist>
