<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/php/php.ini</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>sha256</key>
			<string>ca207a990dd448420db85da7783c00bcc3a91613cd2bb34430846c8b6ec2fd93</string>
			<key>size</key>
			<integer>72566</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/php</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/php</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/php/modules</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/phar.phar</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>sha256</key>
			<string>59d7e4bb5b2dbae810e0a498228f14699afa9af4f2d6498bf9d8eed0a87f0eeb</string>
			<key>size</key>
			<integer>14882</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/php</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>sha256</key>
			<string>7e99a85dc9ca8921f52df22c95ab69baacb1a7f17e09e5624ada72e342d71e66</string>
			<key>size</key>
			<integer>16794984</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/php/modules/bcmath.so</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>sha256</key>
			<string>8c9cf93cc1a48379b6b18f68942e8b020437f781bbcb0a68b6902cee033a2de5</string>
			<key>size</key>
			<integer>39088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/php/modules/bz2.so</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>sha256</key>
			<string>e9cff0c583e30443131a47337ba0e339da56ecc857695aa538a10c606da678af</string>
			<key>size</key>
			<integer>26792</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/php/modules/calendar.so</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>sha256</key>
			<string>f7789f59ef7c18fda784b81d398bff1794df02488e99f9655bf7d2dfe82c5720</string>
			<key>size</key>
			<integer>34984</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/php/modules/curl.so</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>sha256</key>
			<string>241ce78bcef9874cece1d2e27466cb86dd8bd489d4df879341e7b5e504c65e9d</string>
			<key>size</key>
			<integer>104616</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/php/modules/exif.so</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>sha256</key>
			<string>ad157fd1db67b6a72dd34808a1a62e3d498c582d0242fb33abb8aec3e96f6a8a</string>
			<key>size</key>
			<integer>92328</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/php/modules/ftp.so</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>sha256</key>
			<string>3f018de22cae8b71e9f46992fc61219fa5bdd8295d9dcf055e7169a16a271e22</string>
			<key>size</key>
			<integer>63656</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/php/modules/gettext.so</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>sha256</key>
			<string>e1655f7c666211db611e12c60a2b9d426e13f15812c8e4526b3e5b6d4fd8572c</string>
			<key>size</key>
			<integer>14504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/php/modules/gmp.so</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>sha256</key>
			<string>30ce0d4f55d2d33c9f1ec3b060c443f4cec551bf09a447f4daad7e0db602a9d3</string>
			<key>size</key>
			<integer>63656</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/php/modules/iconv.so</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>sha256</key>
			<string>2625922b3d3cd8ec5e8e219a004f8f45cd1bad0191231adb9044b83a5984ea64</string>
			<key>size</key>
			<integer>51368</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/php/modules/opcache.so</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>sha256</key>
			<string>9c32a560154ffb735fda5bfdb25fd1e31f99f0c12cbd22e6a5c81604970a8cea</string>
			<key>size</key>
			<integer>543312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/php/modules/openssl.so</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>sha256</key>
			<string>8c5abe0acf5f838ab8a45abae9b16a541fa057970be36b06c11498d06077d16a</string>
			<key>size</key>
			<integer>174248</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/php/modules/phar.so</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>sha256</key>
			<string>c3bd315e5c80b6d0e2e1995a58b8e5ae8ab6a0d2e0210e8ca3670e3e1c18703e</string>
			<key>size</key>
			<integer>280744</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/php/modules/posix.so</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>sha256</key>
			<string>57eb1398b813a1a099d91f986e52605bfbe98ad5b8833ec8b758605285183257</string>
			<key>size</key>
			<integer>39080</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/php/modules/shmop.so</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>sha256</key>
			<string>35975aafbeda7bb198fa2da316b56073368e7a092a3b49c32b859ecf3e18822d</string>
			<key>size</key>
			<integer>14504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/php/modules/soap.so</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>sha256</key>
			<string>d37e04a669e16fd8ea1180610ffebe8a28b10ea88f6e794a0b72dd67bc81ff38</string>
			<key>size</key>
			<integer>317608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/php/modules/sockets.so</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>sha256</key>
			<string>56f988f31d51be2a60f577f4525258b181c0f73231e157b50f1ecb234699609a</string>
			<key>size</key>
			<integer>96424</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/php/modules/sysvmsg.so</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>sha256</key>
			<string>5353b161ef48c21709c3dfa9111764e943b35637f02bab553c61bcd02de53108</string>
			<key>size</key>
			<integer>22696</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/php/modules/sysvsem.so</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>sha256</key>
			<string>127f163677f11bfeb6c143370bb06bcf8545f5286806dd2275414b8282cc4c04</string>
			<key>size</key>
			<integer>14504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/php/modules/sysvshm.so</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>sha256</key>
			<string>2e64f8c14975a2b364cd49e9cce4a0fad7cf841fab77676bbc23a3badbc7ea68</string>
			<key>size</key>
			<integer>14504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/php/modules/zip.so</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>sha256</key>
			<string>8dd27a3e7f36ba3ce677a698eee97044dbdbfe08be543f768b96162933ecca94</string>
			<key>size</key>
			<integer>67752</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/phar.1</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>sha256</key>
			<string>9f312427d52672f8c450142d3149d1ab8066ceebc376ca7d95c2a01285a47c2f</string>
			<key>size</key>
			<integer>10787</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/phar.phar.1</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>sha256</key>
			<string>4b0f25de308f959133fe26ced014f75353b32d278f89d37f27f29be3f89e694a</string>
			<key>size</key>
			<integer>16</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/php.1</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>sha256</key>
			<string>5c236bc2cf5d04ca5cb20dbb70a90af150b93adc1f3f31fe6f26122afca85ad4</string>
			<key>size</key>
			<integer>9395</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/phar</string>
			<key>mtime</key>
			<integer>1612994851</integer>
			<key>target</key>
			<string>/usr/bin/phar.phar</string>
		</dict>
	</array>
</dict>
</plist>
