<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/examples</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/examples/picom</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/picom</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/picom</string>
			<key>mtime</key>
			<integer>1604808889</integer>
			<key>sha256</key>
			<string>171c8ed4a5d8b12740d7c1ec2ee1a33819e8b9695b9bc5d776763f3742502c5b</string>
			<key>size</key>
			<integer>310048</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/picom-trans</string>
			<key>mtime</key>
			<integer>1604808889</integer>
			<key>sha256</key>
			<string>9bdd50f02c1e531cb10e48fbb1db6247da8830515aff3a6ba742d12c4b4c491f</string>
			<key>size</key>
			<integer>5351</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/compton.desktop</string>
			<key>mtime</key>
			<integer>1604808889</integer>
			<key>sha256</key>
			<string>dde5c35920b0538af4e0b3279a8566b98d5aa0ac69eeb77b8f8de672835c6741</string>
			<key>size</key>
			<integer>291</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/picom.desktop</string>
			<key>mtime</key>
			<integer>1604808889</integer>
			<key>sha256</key>
			<string>b424cd5b56559ca40d429fd819e94c589f6fbede2298a34c00297be6ee972385</string>
			<key>size</key>
			<integer>272</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/examples/picom/picom.sample.conf</string>
			<key>mtime</key>
			<integer>1604808889</integer>
			<key>sha256</key>
			<string>1d84afca7c28cf99e4af4ce3c838468dfc504582a62fcdcf7f71668d3082944a</string>
			<key>size</key>
			<integer>13878</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/apps/compton.png</string>
			<key>mtime</key>
			<integer>1604808889</integer>
			<key>sha256</key>
			<string>ba22069d8376ecea4d9c80c25bf91bda4eb782c1fc8dc2bb5fb595bc4aec43a3</string>
			<key>size</key>
			<integer>2447</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/apps/compton.svg</string>
			<key>mtime</key>
			<integer>1604808889</integer>
			<key>sha256</key>
			<string>1d4c727d1f4162374527f61430ee1f39ab6d6a663e4086633f9305d14b92c02b</string>
			<key>size</key>
			<integer>5860</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/picom/MIT</string>
			<key>mtime</key>
			<integer>1604808889</integer>
			<key>sha256</key>
			<string>fd80a26fbb3f644af1fa994134446702932968519797227e07a1368dea80f0bc</string>
			<key>size</key>
			<integer>1023</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/picom-trans.1</string>
			<key>mtime</key>
			<integer>1604808889</integer>
			<key>sha256</key>
			<string>c156502046e8728997076082ce76175260659ef58de66b596f305cec54822b1d</string>
			<key>size</key>
			<integer>3810</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/picom.1</string>
			<key>mtime</key>
			<integer>1604808889</integer>
			<key>sha256</key>
			<string>55cb2cab3bbe371be9e76e285bb9547062573e6295da3034739f90ebadedc46f</string>
			<key>size</key>
			<integer>29406</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/compton</string>
			<key>mtime</key>
			<integer>1604808889</integer>
			<key>target</key>
			<string>/usr/bin/picom</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/compton-trans</string>
			<key>mtime</key>
			<integer>1604808889</integer>
			<key>target</key>
			<string>/usr/bin/picom-trans</string>
		</dict>
	</array>
</dict>
</plist>
