<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pidgin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/my_MM</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/my_MM/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb_NO</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb_NO/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/pidgin/pidgin-otr.so</string>
			<key>mtime</key>
			<integer>1610460424</integer>
			<key>sha256</key>
			<string>c98a63b095389e6e8fada923a6d244b2760936c8478fbaaceda1bf9ce1a99bca</string>
			<key>size</key>
			<integer>129456</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/pidgin-otr.mo</string>
			<key>mtime</key>
			<integer>1610460424</integer>
			<key>sha256</key>
			<string>887acf1aed85285ba174a2893c469aea2dad44f553c5d82393e8e38d258e0119</string>
			<key>size</key>
			<integer>11567</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/pidgin-otr.mo</string>
			<key>mtime</key>
			<integer>1610460424</integer>
			<key>sha256</key>
			<string>0b4bae3a8dc2ff839ac3387393d448d9fe54b3aee51efc179afc9beff839e4df</string>
			<key>size</key>
			<integer>18868</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/pidgin-otr.mo</string>
			<key>mtime</key>
			<integer>1610460424</integer>
			<key>sha256</key>
			<string>5b9b37dacfd7438214f9f8e10d92fb93e5d06b52c5c3f714331046767d955353</string>
			<key>size</key>
			<integer>18373</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/pidgin-otr.mo</string>
			<key>mtime</key>
			<integer>1610460424</integer>
			<key>sha256</key>
			<string>6dec89ea425e4a7bd666eb4fc788545a034c2dfa752165988de3a8c50fb17633</string>
			<key>size</key>
			<integer>19467</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/pidgin-otr.mo</string>
			<key>mtime</key>
			<integer>1610460424</integer>
			<key>sha256</key>
			<string>bb900906798d862ba76637c155c39702e4d4fff42e747329a5a0e23bb87e7ce3</string>
			<key>size</key>
			<integer>25446</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/pidgin-otr.mo</string>
			<key>mtime</key>
			<integer>1610460424</integer>
			<key>sha256</key>
			<string>b1bb906b65ebad443d03564ead2741ee080a1d53dfea33eed7810d6ae159429f</string>
			<key>size</key>
			<integer>19219</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES/pidgin-otr.mo</string>
			<key>mtime</key>
			<integer>1610460424</integer>
			<key>sha256</key>
			<string>a794b7f81c4a9e8974680f6a8aa521619e60734c82985233e1be4e24557739fe</string>
			<key>size</key>
			<integer>22853</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/pidgin-otr.mo</string>
			<key>mtime</key>
			<integer>1610460424</integer>
			<key>sha256</key>
			<string>bd4e477fb4aec31e0a016c1e9c9db5260d5eeed689bef7db2b4ce1039fdf23a8</string>
			<key>size</key>
			<integer>18653</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/pidgin-otr.mo</string>
			<key>mtime</key>
			<integer>1610460424</integer>
			<key>sha256</key>
			<string>9116c2f34c907947ee09f5a9e8fe53c483696f0dc05d57765c207ec83326a32e</string>
			<key>size</key>
			<integer>19227</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/pidgin-otr.mo</string>
			<key>mtime</key>
			<integer>1610460424</integer>
			<key>sha256</key>
			<string>28b0660eaf7b566ebd1eccf9b54bea0bf39d0fdebaf51c296ea00fb013b3f862</string>
			<key>size</key>
			<integer>12860</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/pidgin-otr.mo</string>
			<key>mtime</key>
			<integer>1610460424</integer>
			<key>sha256</key>
			<string>a8d9fc32ddc63f18d94a1b09bec337deb39d74fecb1685de29369e2e95d6fabc</string>
			<key>size</key>
			<integer>10637</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/my_MM/LC_MESSAGES/pidgin-otr.mo</string>
			<key>mtime</key>
			<integer>1610460424</integer>
			<key>sha256</key>
			<string>f59dd8f07ed51cd3e45d6f03a4914a1128871514ff481def817a8346697617ec</string>
			<key>size</key>
			<integer>33288</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb_NO/LC_MESSAGES/pidgin-otr.mo</string>
			<key>mtime</key>
			<integer>1610460424</integer>
			<key>sha256</key>
			<string>6b9565e68d9e858087226aeaeed2a836e1e54091da231f9facb2666dbb537ed5</string>
			<key>size</key>
			<integer>18417</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/pidgin-otr.mo</string>
			<key>mtime</key>
			<integer>1610460424</integer>
			<key>sha256</key>
			<string>f3514f3e0f382e5155aeb295c9587752d510f909650218e7ee8bbc532c3d5d80</string>
			<key>size</key>
			<integer>18442</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES/pidgin-otr.mo</string>
			<key>mtime</key>
			<integer>1610460424</integer>
			<key>sha256</key>
			<string>56f1444b8b79323ba670fd73265fa93dde230f1f6a8fc11b2b2606ebae731fcf</string>
			<key>size</key>
			<integer>18283</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/pidgin-otr.mo</string>
			<key>mtime</key>
			<integer>1610460424</integer>
			<key>sha256</key>
			<string>54138bab5e6401a6372581f9f129e7b893a4c3fcb0034281d1dfd6378b461ef8</string>
			<key>size</key>
			<integer>12565</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/pidgin-otr.mo</string>
			<key>mtime</key>
			<integer>1610460424</integer>
			<key>sha256</key>
			<string>571fd2c3247eadd6eeab89e05a88805694f805e38af7d6b24960b0a0c99373ca</string>
			<key>size</key>
			<integer>18703</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/pidgin-otr.mo</string>
			<key>mtime</key>
			<integer>1610460424</integer>
			<key>sha256</key>
			<string>403866a42e662fcedca34026bbad5674ab68413ebfcd5cecb444eab814db775c</string>
			<key>size</key>
			<integer>13273</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/pidgin-otr.mo</string>
			<key>mtime</key>
			<integer>1610460424</integer>
			<key>sha256</key>
			<string>ee0f76d0161ca15714ac507612b21b1ffab19178494f2b42a1cc1e2995220157</string>
			<key>size</key>
			<integer>13363</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/pidgin-otr.mo</string>
			<key>mtime</key>
			<integer>1610460424</integer>
			<key>sha256</key>
			<string>0aad191db96b9ebc548fc2c540a5216de60bbac4ddcd39f4a066f66e937b2299</string>
			<key>size</key>
			<integer>11535</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/pidgin-otr.mo</string>
			<key>mtime</key>
			<integer>1610460424</integer>
			<key>sha256</key>
			<string>7e037b0bb88966b86fcdf3ad7c77701b9533a85e04efbdebb0dab59fa4d23a85</string>
			<key>size</key>
			<integer>13054</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/pidgin-otr.mo</string>
			<key>mtime</key>
			<integer>1610460424</integer>
			<key>sha256</key>
			<string>fb91a957302032bd4b13b5bfa75fab578609d637be97eab16d243d025c6a5cb3</string>
			<key>size</key>
			<integer>17377</integer>
		</dict>
	</array>
</dict>
</plist>
