<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpolkit-qt5-agent-1.so.1.113.0</string>
			<key>mtime</key>
			<integer>1603371966</integer>
			<key>sha256</key>
			<string>23b18e2949c750b73ad8176c1bb62f73ff2f842a3eac627989826979512dd152</string>
			<key>size</key>
			<integer>55456</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpolkit-qt5-core-1.so.1.113.0</string>
			<key>mtime</key>
			<integer>1603371966</integer>
			<key>sha256</key>
			<string>e645e1e62c9de42ccb9e177090a99e8383922deb99dea80c1082c04001e812b5</string>
			<key>size</key>
			<integer>137376</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpolkit-qt5-gui-1.so.1.113.0</string>
			<key>mtime</key>
			<integer>1603371966</integer>
			<key>sha256</key>
			<string>f0d5d67530ddc9f76d5f48f25690dac7f17009f5372c205579f5a87499d6b22d</string>
			<key>size</key>
			<integer>51360</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpolkit-qt5-agent-1.so.1</string>
			<key>mtime</key>
			<integer>1603371966</integer>
			<key>target</key>
			<string>/usr/lib/libpolkit-qt5-agent-1.so.1.113.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpolkit-qt5-core-1.so.1</string>
			<key>mtime</key>
			<integer>1603371966</integer>
			<key>target</key>
			<string>/usr/lib/libpolkit-qt5-core-1.so.1.113.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpolkit-qt5-gui-1.so.1</string>
			<key>mtime</key>
			<integer>1603371966</integer>
			<key>target</key>
			<string>/usr/lib/libpolkit-qt5-gui-1.so.1.113.0</string>
		</dict>
	</array>
</dict>
</plist>
