<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/dbus-1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/dbus-1/system.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/pam.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/polkit-1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/polkit-1/rules.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/polkitd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/polkit-1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1/system-services</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gettext</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gettext/its</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/polkit-1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/polkit-1/actions</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/dbus-1/system.d/org.freedesktop.PolicyKit1.conf</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>28067ad27702251ba38d9794738cb81e18ce2151d26b3d103a33b4107c2f9877</string>
			<key>size</key>
			<integer>638</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/pam.d/polkit-1</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>336599f2092de0f728d674dbc4bb5ed35f3ca832a0ab4f2ea1f4748b0c89fcd3</string>
			<key>size</key>
			<integer>312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/polkit-1/rules.d/50-default.rules</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>4192b104907809623aa7ca4c58e1527da19710bae6278abe96f88d9f2d6430e9</string>
			<key>size</key>
			<integer>326</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/polkitd/run</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>1a9aaf400a7d29fcbb14b1585e13b75cbdd820b57c220a6cd146f8c07268dccc</string>
			<key>size</key>
			<integer>52</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/pk-example-frobnicate</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>8c06862333d5c922958b13d80d28c91232733e3236649af74791729786b4a0d9</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/pkaction</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>ffd315e484de4e394f263df4a4dd4fba7454afed2943c892d512ae74caf248f1</string>
			<key>size</key>
			<integer>18496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/pkcheck</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>fa3077e33e6779c9f98eccb1add079ed52d2bf77cc9a66e2930ea96a348b2944</string>
			<key>size</key>
			<integer>22664</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/pkexec</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>91b5033d3b87bd2e1b59d33b6a60305000643edf92589aea0af4ab73658fb0f8</string>
			<key>size</key>
			<integer>30776</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/pkttyagent</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>8bf7736a8a3ebac2ad9a1ed2a3439eef92a072a58fd15b3e6b2ccea5b4a068d8</string>
			<key>size</key>
			<integer>18496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/Polkit-1.0.typelib</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>028c21253eb16265b81e4395d01d45b7ceb14fd2cbff4c10446746707fc88f06</string>
			<key>size</key>
			<integer>19080</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/PolkitAgent-1.0.typelib</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>9498ecb52b4cb815e637215bab653be2c919df86e9951e81d3d43c4197d80ad8</string>
			<key>size</key>
			<integer>4060</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpolkit-agent-1.so.0.0.0</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>2d7558c7e2774d1c8b52aee67e682566d8322606d20cf4a4d749bfcb604a811a</string>
			<key>size</key>
			<integer>47096</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpolkit-gobject-1.so.0.0.0</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>c0b14c718356585bf61f1130348a43deb3a6c4ad9dea72b16bddf5bb720ba8f9</string>
			<key>size</key>
			<integer>124928</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/polkit-1/polkit-agent-helper-1</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>bfc74f415616b0ab1e094ee42e6a6f96b3aa27d5ebd9c18dc716e0d7e1c305df</string>
			<key>size</key>
			<integer>18504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/polkit-1/polkitd</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>414a3d30a799140cbbfedb852bc1a664c51a5c8365b32caa229fbd75a7b9afbc</string>
			<key>size</key>
			<integer>137944</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1/system-services/org.freedesktop.PolicyKit1.service</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>baed12288339ed4b1df90f017beb8af07b56eba1b2edc4a60914880c13617af1</string>
			<key>size</key>
			<integer>130</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gettext/its/polkit.its</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>f4e2fea506378e16c572d02dc89516d8e9ad8edc5448f4dbdd003470606cce5b</string>
			<key>size</key>
			<integer>309</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gettext/its/polkit.loc</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>baad1956b1c6296333e3ccaf94ed8e63b58bf53051cc69971cb0654f4d63dfc9</string>
			<key>size</key>
			<integer>195</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/polkit-1.mo</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>561b4b59f36d6e34af024d07ef8a80457559736138ec9e9e4d14f8e926c17512</string>
			<key>size</key>
			<integer>5079</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/polkit-1.mo</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>4281261794ddf11f4ff880f98efba6dce5cdd614b28451beb51a215f6f52ac8b</string>
			<key>size</key>
			<integer>4819</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/polkit-1.mo</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>1d862c3977460da9e096a5267d4989d977f9e4eeff7781639b80a138fcb7ddbb</string>
			<key>size</key>
			<integer>5091</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/polkit-1.mo</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>86a99df215a09ec829e81f8b6d99e8d88950630a3fb319cf837c3d0506b17ba6</string>
			<key>size</key>
			<integer>4950</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/polkit-1.mo</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>a632e2e392c367b48cbc844b0ed41cc2287126dbac51fb7d1a64f40211ca0589</string>
			<key>size</key>
			<integer>5593</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/polkit-1.mo</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>c3ad6ac4ffcc56d6d7a847d9040e1612028da0e375f3d9a7f9c0c89c670fab24</string>
			<key>size</key>
			<integer>4822</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/polkit-1.mo</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>73c95abb890de9cb72fbee8947befb6f489bac6f50dd7325a553b1c3cfda9e0c</string>
			<key>size</key>
			<integer>5267</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES/polkit-1.mo</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>7b49384a793c1f91a35f25e44071c6aa74cbf382459d34cf4946dafe29403f53</string>
			<key>size</key>
			<integer>4834</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/polkit-1.mo</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>77ec4e0353f78877f22fa4575ae21fe371584a041b3e0f3b3c96042e030352e8</string>
			<key>size</key>
			<integer>5542</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/polkit-1.mo</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>2735b902d88a25d4a74135d82696c544658237ecc659cd90560b88103eab1393</string>
			<key>size</key>
			<integer>5293</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/polkit-1.mo</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>d5c9b88e431a17804f869b4320fd642bd6c40230c4085c0b6949820a20e9a3c7</string>
			<key>size</key>
			<integer>5342</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/polkit-1.mo</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>306115cae068b3c8081756e969883768326f745941a35745056aac0c58422798</string>
			<key>size</key>
			<integer>4976</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/polkit-1.mo</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>f9cdf5830469192b8d139dc26d3e7aa8a549e3f3a57feac08bd8efc13b6e012a</string>
			<key>size</key>
			<integer>5148</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/polkit-1.mo</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>943445aaea324c4eabff689dba7d9f37fe47cef5d03d5783a7b3fc6e23202cb0</string>
			<key>size</key>
			<integer>6475</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/polkit-1.mo</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>99a0a2a2e36dca2a54c89ea06d695156b518e02b52883e93b70ba63e3768298a</string>
			<key>size</key>
			<integer>4639</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/polkit-1.mo</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>19529a141086b5d46de37fc95895360c379d49563d5b513323e73f0f5750436a</string>
			<key>size</key>
			<integer>4712</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/pkaction.1</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>78bf065650409b2f53ad152a4353ba913fae6048e2091b896db66ee24afd72ea</string>
			<key>size</key>
			<integer>2432</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/pkcheck.1</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>aaebdd4f171e3280832ae336ebed73ba57d430a434d64ad8b6bcf1ffb25e5aee</string>
			<key>size</key>
			<integer>5704</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/pkexec.1</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>7886ce46b7b2e3e5342a7de1bce0a3a02099bf64489f2a59ffd0e9bec7ddfd6d</string>
			<key>size</key>
			<integer>7528</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/pkttyagent.1</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>329b206af3d0e2c35fc8754217018d725d7d2a63e9da0a9ae072d9afbe57e94c</string>
			<key>size</key>
			<integer>3680</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/polkit.8</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>d39d618e6e1386b2f18218bf9aaadaa60195113beb3aa39b4ff05fadb0ffde53</string>
			<key>size</key>
			<integer>28316</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/polkitd.8</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>ff88d1644227273e6ec6d87211bb34262b6182ce1ef6aef32f74feb37486ec33</string>
			<key>size</key>
			<integer>2285</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/polkit-1/actions/org.freedesktop.policykit.examples.pkexec.policy</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>0870f45f1b8bdeefe1374b62c101024cc99486222cb9632c4537188d6cd6c78f</string>
			<key>size</key>
			<integer>6281</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/polkit-1/actions/org.freedesktop.policykit.policy</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>sha256</key>
			<string>b56cabe9500923b8919ebb7c8fa92ffe8845e8db00fec57b53dfc85a32d4e394</string>
			<key>size</key>
			<integer>3975</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/polkitd/supervise</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>target</key>
			<string>/run/runit/supervise.polkitd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpolkit-agent-1.so.0</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>target</key>
			<string>/usr/lib/libpolkit-agent-1.so.0.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpolkit-gobject-1.so.0</string>
			<key>mtime</key>
			<integer>1612837364</integer>
			<key>target</key>
			<string>/usr/lib/libpolkit-gobject-1.so.0.0.0</string>
		</dict>
	</array>
</dict>
</plist>
