<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/pdfattach</string>
			<key>mtime</key>
			<integer>1601180520</integer>
			<key>sha256</key>
			<string>5d4a339633fee5950f27325d3603c5a335219b557d8cd3973fee6d2856b7bec9</string>
			<key>size</key>
			<integer>18576</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/pdfdetach</string>
			<key>mtime</key>
			<integer>1601180520</integer>
			<key>sha256</key>
			<string>8b7a73da1347a49305c562cf20207791c1dc7ca7a46ac737be92d2e7c60db17f</string>
			<key>size</key>
			<integer>26880</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/pdffonts</string>
			<key>mtime</key>
			<integer>1601180520</integer>
			<key>sha256</key>
			<string>bce4d9272ec08fb8092f2dee8189a667f3a76584724c94ac3ed6743b8e52d861</string>
			<key>size</key>
			<integer>22792</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/pdfimages</string>
			<key>mtime</key>
			<integer>1601180520</integer>
			<key>sha256</key>
			<string>57728386e5d7f07c35c72efe0d769c20074b2b126360b60c03b11a254c704599</string>
			<key>size</key>
			<integer>51464</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/pdfinfo</string>
			<key>mtime</key>
			<integer>1601180520</integer>
			<key>sha256</key>
			<string>dc4c3a94157cbcff115b144e27413da19d9b748f85677987a977709a36da0725</string>
			<key>size</key>
			<integer>47368</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/pdfseparate</string>
			<key>mtime</key>
			<integer>1601180520</integer>
			<key>sha256</key>
			<string>78468fac46d8d2e713b84d21f0f22beaae47dc26f1b6c3815c10530da5e9fade</string>
			<key>size</key>
			<integer>22672</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/pdftocairo</string>
			<key>mtime</key>
			<integer>1601180520</integer>
			<key>sha256</key>
			<string>3484cb2a9552b5da1ca767dfc868227b9dd882c61b07ff6cc9b1185a624b1590</string>
			<key>size</key>
			<integer>145592</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/pdftohtml</string>
			<key>mtime</key>
			<integer>1601180520</integer>
			<key>sha256</key>
			<string>353c1231f6411c5f58e4b4fe074ccad8af142e4455e07eac714f6521650d0d9d</string>
			<key>size</key>
			<integer>108720</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/pdftoppm</string>
			<key>mtime</key>
			<integer>1601180520</integer>
			<key>sha256</key>
			<string>932100a64e1ceb108de7d49159621a845badfafe9840c1191110586668cf3806</string>
			<key>size</key>
			<integer>35000</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/pdftops</string>
			<key>mtime</key>
			<integer>1601180520</integer>
			<key>sha256</key>
			<string>44f5a191123a92d7f84e09914cb4c1c61d904fa60200c648ea5bbea2cec07d5e</string>
			<key>size</key>
			<integer>26896</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/pdftotext</string>
			<key>mtime</key>
			<integer>1601180520</integer>
			<key>sha256</key>
			<string>a414e8df7174a1f6feed6b977526fb67bddfe687e4cb143305f9b7c6e600f062</string>
			<key>size</key>
			<integer>43288</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/pdfunite</string>
			<key>mtime</key>
			<integer>1601180520</integer>
			<key>sha256</key>
			<string>f2c38c28c35304c26dbc5ac684adf215eb5d2c5ae99dd1bd81e274b202cbe3c3</string>
			<key>size</key>
			<integer>30864</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/pdfattach.1</string>
			<key>mtime</key>
			<integer>1601180520</integer>
			<key>sha256</key>
			<string>85da5b4ca51aad4bdd1d6c15a668560a2b983e31bc1344d9f617a0cfc2de00a9</string>
			<key>size</key>
			<integer>1128</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/pdfdetach.1</string>
			<key>mtime</key>
			<integer>1601180520</integer>
			<key>sha256</key>
			<string>8c3ac8470e2c066aec161912b4abe2773d320bf1a859eaea1b0619bb63ed16b4</string>
			<key>size</key>
			<integer>2464</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/pdffonts.1</string>
			<key>mtime</key>
			<integer>1601180520</integer>
			<key>sha256</key>
			<string>e69df2498573a49506d87a663678ef4c1278a443a6b173131c24b54bbde3f08b</string>
			<key>size</key>
			<integer>2379</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/pdfimages.1</string>
			<key>mtime</key>
			<integer>1601180520</integer>
			<key>sha256</key>
			<string>d736cbc9478b6538960a0974b191a1839e507e658d670fb748293ef1bca5062b</string>
			<key>size</key>
			<integer>6275</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/pdfinfo.1</string>
			<key>mtime</key>
			<integer>1601180520</integer>
			<key>sha256</key>
			<string>88c9608d78160ea6c35a5b4bdf9ee65091dad07d758f57485fc83b080d87148f</string>
			<key>size</key>
			<integer>3415</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/pdfseparate.1</string>
			<key>mtime</key>
			<integer>1601180520</integer>
			<key>sha256</key>
			<string>73f02af30f653bb2a999572f28abff089f39d622c0065c1ea876969f176b4668</string>
			<key>size</key>
			<integer>1585</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/pdftocairo.1</string>
			<key>mtime</key>
			<integer>1601180520</integer>
			<key>sha256</key>
			<string>4e34a0310461ee0aa8412683f5661b448fb06cc8305ac20a58f02546f88853b5</string>
			<key>size</key>
			<integer>11543</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/pdftohtml.1</string>
			<key>mtime</key>
			<integer>1601180520</integer>
			<key>sha256</key>
			<string>3d1007a572f638f45364fbc7801990a5ee28d5c860260babedded3d7826e7d7e</string>
			<key>size</key>
			<integer>2677</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/pdftoppm.1</string>
			<key>mtime</key>
			<integer>1601180520</integer>
			<key>sha256</key>
			<string>68cb4ace24770d3998428b24679de9dd65747a357c9e87a217dd2d56d1d96436</string>
			<key>size</key>
			<integer>5804</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/pdftops.1</string>
			<key>mtime</key>
			<integer>1601180520</integer>
			<key>sha256</key>
			<string>31c97298d2f7f2603c75506712eda0378311fc6a9071930554706ad74608b85f</string>
			<key>size</key>
			<integer>7763</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/pdftotext.1</string>
			<key>mtime</key>
			<integer>1601180520</integer>
			<key>sha256</key>
			<string>3592de2912db93679bb632bb63e5fb1d2e0840654962ba4738465d187dd652b6</string>
			<key>size</key>
			<integer>3562</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/pdfunite.1</string>
			<key>mtime</key>
			<integer>1601180520</integer>
			<key>sha256</key>
			<string>ec2601f61b4407a773f7e0686609d894a15564b61703798425bc3bf6f9311a99</string>
			<key>size</key>
			<integer>1165</integer>
		</dict>
	</array>
</dict>
</plist>
