<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libecpg.so.6.13</string>
			<key>mtime</key>
			<integer>1613063553</integer>
			<key>sha256</key>
			<string>1fb147f5c09a2def022125afb8c048e51781b51406ff198ab201162f6115b31d</string>
			<key>size</key>
			<integer>96448</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libecpg_compat.so.3.13</string>
			<key>mtime</key>
			<integer>1613063553</integer>
			<key>sha256</key>
			<string>e8a795c63be19b2592ecd0c7757305d4ba039ebecf8f0b6ccde8248942b3bb36</string>
			<key>size</key>
			<integer>39104</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpgtypes.so.3.13</string>
			<key>mtime</key>
			<integer>1613063553</integer>
			<key>sha256</key>
			<string>adef20d6c027f517b0f055f4a510e3c97a794df661d5e9398bd43a16f076e42d</string>
			<key>size</key>
			<integer>88432</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpq.so.5.13</string>
			<key>mtime</key>
			<integer>1613063553</integer>
			<key>sha256</key>
			<string>ee7293b9d63ee2f55c7821c45114e166e41e4d3e49fee39a527b47f69d31042f</string>
			<key>size</key>
			<integer>317488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/cs/LC_MESSAGES/libpq5-13.mo</string>
			<key>mtime</key>
			<integer>1613063553</integer>
			<key>sha256</key>
			<string>e7515d143c146c035d88e40f4b6c0a3cfbd582bb7a8c162c2a58a092337bfc1d</string>
			<key>size</key>
			<integer>31369</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/de/LC_MESSAGES/libpq5-13.mo</string>
			<key>mtime</key>
			<integer>1613063553</integer>
			<key>sha256</key>
			<string>897f4433fb346d8b0f8fc41314d0801e0714fd1fec267a05dd37700c3544c3aa</string>
			<key>size</key>
			<integer>32546</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/es/LC_MESSAGES/libpq5-13.mo</string>
			<key>mtime</key>
			<integer>1613063553</integer>
			<key>sha256</key>
			<string>013d78abd99e58ece4664147943bcca49df05508e2c92ea88b3bd67c3c8a32ed</string>
			<key>size</key>
			<integer>33380</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/fr/LC_MESSAGES/libpq5-13.mo</string>
			<key>mtime</key>
			<integer>1613063553</integer>
			<key>sha256</key>
			<string>909fc7c093415fe12596a20291ce3697abf28c20797f4384274f1925648daffa</string>
			<key>size</key>
			<integer>33446</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/it/LC_MESSAGES/libpq5-13.mo</string>
			<key>mtime</key>
			<integer>1613063553</integer>
			<key>sha256</key>
			<string>94073cd90f4378b644f23450bf26724ca5ec12378a45b46726f785391cd7724d</string>
			<key>size</key>
			<integer>28431</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/ja/LC_MESSAGES/libpq5-13.mo</string>
			<key>mtime</key>
			<integer>1613063553</integer>
			<key>sha256</key>
			<string>14096dc9066191ee8ca17f930b743d272281a21a9f834d7bcf9b9cfb1aea6887</string>
			<key>size</key>
			<integer>35321</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/ko/LC_MESSAGES/libpq5-13.mo</string>
			<key>mtime</key>
			<integer>1613063553</integer>
			<key>sha256</key>
			<string>fd1c10528edcffbfd57cebdcd4d3db63520922390607f183de26d80800c5433a</string>
			<key>size</key>
			<integer>32795</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/ru/LC_MESSAGES/libpq5-13.mo</string>
			<key>mtime</key>
			<integer>1613063553</integer>
			<key>sha256</key>
			<string>adea49f63dd108e865ed3c2d390bb0dc09809a74fc084972eee3ae57c839baae</string>
			<key>size</key>
			<integer>40668</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/sv/LC_MESSAGES/libpq5-13.mo</string>
			<key>mtime</key>
			<integer>1613063553</integer>
			<key>sha256</key>
			<string>842fe6fd479bad783884c2abe1835317075e2481fd39f0662ff3752d28745a4a</string>
			<key>size</key>
			<integer>31282</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/tr/LC_MESSAGES/libpq5-13.mo</string>
			<key>mtime</key>
			<integer>1613063553</integer>
			<key>sha256</key>
			<string>883045c14388e1475e23aa7da13c5d635fb5101a3003e12fb0eb7dcc3d3f7994</string>
			<key>size</key>
			<integer>28472</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/uk/LC_MESSAGES/libpq5-13.mo</string>
			<key>mtime</key>
			<integer>1613063553</integer>
			<key>sha256</key>
			<string>e08ead9c64a70875c6a5de3de9518738d03387d16dee2c6e965a1d0672a6d7bb</string>
			<key>size</key>
			<integer>41840</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/psql13/share/locale/zh_CN/LC_MESSAGES/libpq5-13.mo</string>
			<key>mtime</key>
			<integer>1613063553</integer>
			<key>sha256</key>
			<string>9cd9971145e350e04ae30013b8b79ab726f319bcc51c03f873dcdcd893be802c</string>
			<key>size</key>
			<integer>29110</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libecpg.so</string>
			<key>mtime</key>
			<integer>1613063553</integer>
			<key>target</key>
			<string>/usr/lib/libecpg.so.6.13</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libecpg.so.6</string>
			<key>mtime</key>
			<integer>1613063553</integer>
			<key>target</key>
			<string>/usr/lib/libecpg.so.6.13</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libecpg_compat.so</string>
			<key>mtime</key>
			<integer>1613063553</integer>
			<key>target</key>
			<string>/usr/lib/libecpg_compat.so.3.13</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libecpg_compat.so.3</string>
			<key>mtime</key>
			<integer>1613063553</integer>
			<key>target</key>
			<string>/usr/lib/libecpg_compat.so.3.13</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpgtypes.so</string>
			<key>mtime</key>
			<integer>1613063553</integer>
			<key>target</key>
			<string>/usr/lib/libpgtypes.so.3.13</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpgtypes.so.3</string>
			<key>mtime</key>
			<integer>1613063553</integer>
			<key>target</key>
			<string>/usr/lib/libpgtypes.so.3.13</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpq.so</string>
			<key>mtime</key>
			<integer>1613063553</integer>
			<key>target</key>
			<string>/usr/lib/libpq.so.5.13</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpq.so.5</string>
			<key>mtime</key>
			<integer>1613063553</integer>
			<key>target</key>
			<string>/usr/lib/libpq.so.5.13</string>
		</dict>
	</array>
</dict>
</plist>
