<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sysctl.conf</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>d5cac71b64e05469b615bc04422818ee2a72cf0cdde5cf5bf237d6487b922436</string>
			<key>size</key>
			<integer>21</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/procps-ng</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de/man8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr/man8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl/man8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pt_BR/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pt_BR/man8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/sv/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/sv/man8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/uk/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/uk/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/uk/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/free</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>4dea428c42d71e06031231beb2a61555b511f20b0745dcf83793ea115ce85d9f</string>
			<key>size</key>
			<integer>26768</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/pgrep</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>165eb4e3676fdc78b4f5e41b979b14a354224e0dca7062d5e21f5ddff82bca67</string>
			<key>size</key>
			<integer>30872</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/pidof</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>79227409ad3cb48b04245c3484d88eecd98861e08269e269433b3ec74bc4b346</string>
			<key>size</key>
			<integer>22664</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/pkill</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>1360e3c078b9babbe3a93de7cf81c85d9059001db53c02d75305bdd5303337ac</string>
			<key>size</key>
			<integer>30872</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/pmap</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>0360243d38f98e387fd5c098996b869aa90d67b4518d5bf0c26aa249cac21af3</string>
			<key>size</key>
			<integer>34968</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ps</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>0eb6c7b9062c675098066d144c6ca8b41dcd0bf6e86a3e0b00bad48498446690</string>
			<key>size</key>
			<integer>137584</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/pwait</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>166c348d1024d27b76d5bfff9d8db560815ad495a7c2eda9ee6601a576ba4e5a</string>
			<key>size</key>
			<integer>30872</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/pwdx</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>1dbfe190517f9cc48cba275ab34efa49aada16a12a4e9d89b017dda1c89e8cca</string>
			<key>size</key>
			<integer>14472</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/slabtop</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>ae00e274e928d9bb70bded6d72a6bbb294429a815296a9cb56f3311c9e0d6b62</string>
			<key>size</key>
			<integer>22672</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/sysctl</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>f1e2b2a475f362d9de8d4d54b5c0cbaf41b695fef18b9a7ac551ba96f5a7ae5b</string>
			<key>size</key>
			<integer>30864</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/tload</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>2f26bb48135d84d39a49fb305ac701703b36dbbf8a5c30f459d7a88f3835f2e6</string>
			<key>size</key>
			<integer>14488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/top</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>f52bc17adeeec45e33ed07095222023d8860c91b9e4ee4fc5b80943cd19bc010</string>
			<key>size</key>
			<integer>124904</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/uptime</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>8d093546513058653d7985a19cc34ae5b358f141af0ae2dcbb85f55a2fb35ce8</string>
			<key>size</key>
			<integer>14472</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/vmstat</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>36027bb99d73a4b2b1efeee2ff228c385efc53a55300e5a68bb6f987e04909a8</string>
			<key>size</key>
			<integer>39072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/w</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>8619bfd062b8882071e1829452bbc845eac16e1e0d7bb5c17374295e41a2d436</string>
			<key>size</key>
			<integer>22656</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/watch</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>70656da324c702769714d509e44bf4ce89f7508e60c23204f896a30de9807773</string>
			<key>size</key>
			<integer>27144</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libprocps.so.8.0.3</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>f92ced4516e31c1041750d81822302e683339b9368cef43d862f89ae0e37b355</string>
			<key>size</key>
			<integer>79992</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/procps-ng/FAQ</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>05d118067f1ca4be5ecf47f45e05eb851d4f60858a63ed0c0a3d2348cee7fa1f</string>
			<key>size</key>
			<integer>4411</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/procps-ng/bugs.md</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>ce9e09fbdf341ad13d7a140ea5c97f8ec84d28fdc0648d9a612b7526210dc5d2</string>
			<key>size</key>
			<integer>3429</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/procps-ng.mo</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>d896c685ca28dfa4619dad5520379ad49f991bb5b60107e95ac79f5031c09324</string>
			<key>size</key>
			<integer>74256</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/procps-ng.mo</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>5548ef442c94a4dcc0eed6cdfb4dbff1308f76d7d677d4393d89e3dd7eaca1ee</string>
			<key>size</key>
			<integer>92408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/procps-ng.mo</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>c6288e25bb4121f21ed3f74543207aca23dc0390d18d848951ff68bfe9c990ba</string>
			<key>size</key>
			<integer>91217</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/procps-ng.mo</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>7aa86d3593c7b7cf1d9b191e3f834bbd824710d3e29ec38c4bfd0a9ad716b1a0</string>
			<key>size</key>
			<integer>83236</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/procps-ng.mo</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>653f08f26572769f9f868630f46ecd305c6dfcd18a5f9276f8c61c4c2367bcc8</string>
			<key>size</key>
			<integer>88888</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/procps-ng.mo</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>2491f902b2fd7a4041e4c5bafaf9f2e805c8a8bbcb75a22fb04493a64b56658a</string>
			<key>size</key>
			<integer>117160</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/procps-ng.mo</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>5f25d2348fb54bc03e1c48be767c74c2fb4267adb759d90604bb6b07d81a0886</string>
			<key>size</key>
			<integer>81598</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/procps-ng.mo</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>39322580fc6b0e2d554f4924aa279aa1e1db894f492b3fae8f06f242d11f68c1</string>
			<key>size</key>
			<integer>13746</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de/man1/free.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>5b33a6274c523ce469a09e9ec6b59b1e96f8ae262fd7b5ceadc56b3bc0c17920</string>
			<key>size</key>
			<integer>4917</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de/man1/pgrep.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>f3e402091898e5626d18842f28ec50a788bc07c8be02d4b6ceb5a712a91eabe3</string>
			<key>size</key>
			<integer>9102</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de/man1/pmap.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>14cb59fcc2cd3fff4dfc6882798de7c44bce011ae715c50626492b238ae0f511</string>
			<key>size</key>
			<integer>2572</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de/man1/ps.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>9d5da09a90be9627a4f7fe2635f1fbbfc83fae69d384ce2eff827075a9e5abe1</string>
			<key>size</key>
			<integer>55933</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de/man1/pwdx.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>213c151b38934f6c191f3a5336fecc5369841c6277beee5e3243428baeb3f3aa</string>
			<key>size</key>
			<integer>1116</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de/man1/tload.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>c4c267a9b7c0779a236205fa5758eeffe6ec88861c7b51173f3559884d78a3a8</string>
			<key>size</key>
			<integer>1923</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de/man1/uptime.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>c17bad55749e0337e6c05750819cec050b510758c176effd11e694ed357c3728</string>
			<key>size</key>
			<integer>2422</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de/man1/w.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>46efc758831ba42907e087d1411b7afbc9c626632dfc2b033242ded86bcf9320</string>
			<key>size</key>
			<integer>3338</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de/man5/sysctl.conf.5</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>95d2123c0ada85d7c031454d464745675761a39f1994e21b84a5b001d7e9e639</string>
			<key>size</key>
			<integer>2594</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de/man8/sysctl.8</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>9dff4d52a9a854d4a1b0eaaa4808e8cad4d0f8df03f3f81fb210913d5fd7932f</string>
			<key>size</key>
			<integer>5561</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de/man8/vmstat.8</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>ed223ed0c0f7945c3f150d123f4dd82dee650aeb50bb5050f1611b262115fde3</string>
			<key>size</key>
			<integer>7285</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr/man1/free.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>a02339e6c8c689682a5017c5c4d036665a583df677c1177fb6a0b15d7235d4d0</string>
			<key>size</key>
			<integer>5009</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr/man1/pgrep.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>e1848eaf84b51a4619d13a53b6a71475449ef6d184136de80f18de9b86840418</string>
			<key>size</key>
			<integer>8143</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr/man1/pmap.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>56a275ac2757f2558beb6caa71e983d3ad2be851822d6f2bf35f999e20538ed6</string>
			<key>size</key>
			<integer>2447</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr/man1/ps.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>ffec994395c0ceb54e985845bbb4fd46d54a225fccc83727ff54422bb71ab7e5</string>
			<key>size</key>
			<integer>54703</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr/man1/pwdx.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>43a34f0e0acbb66f44480b9ab83c387c19274b0a666866386ce04766c5b80d5b</string>
			<key>size</key>
			<integer>1026</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr/man1/tload.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>0f82edb784e5d4cdefefd0e1d0bcc2af0773d03b29e0d373ccc7594bf821118c</string>
			<key>size</key>
			<integer>1859</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr/man1/uptime.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>32fcd2528f75d9d2043dd3e441fd83de927fb6cb7f5dabd35824f50e8e8a1f9a</string>
			<key>size</key>
			<integer>2184</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr/man1/w.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>315ea0fa9c8a23bc55f31a2098b6150cae74e64fa2b7d96236adb6cf5e03e142</string>
			<key>size</key>
			<integer>3563</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr/man5/sysctl.conf.5</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>36b9af162ca857f8a8b96c1c852975941e1ee3732a8aa043c0ec6f18802f6138</string>
			<key>size</key>
			<integer>2520</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr/man8/sysctl.8</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>187f8c5d7bdef075ff908c96b6a13af0c3abf49dc96aa82f226934cc43e555a3</string>
			<key>size</key>
			<integer>5384</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr/man8/vmstat.8</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>64f4a04e4bfde6f352e38d41848c8e8c1bdf62ee61cb10323e588f102d6b4a0f</string>
			<key>size</key>
			<integer>7397</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/free.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>b9b8d08cf6762ea20516920c571c14a2cd5dbfd3db22c4c2bcfdb0fe0c6e9489</string>
			<key>size</key>
			<integer>4042</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/pgrep.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>0596d0834204e7d87ae0637c52bafb9cd2b1cc42ff0130d089703586d3a9c7cc</string>
			<key>size</key>
			<integer>7082</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/pidof.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>18a66d4f5a2786488df2ea5c0fd3de453622bf4efe5d82d9f4f7b60b99cb7cae</string>
			<key>size</key>
			<integer>2705</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/pkill.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>932e21c2094bda58da13dcd8badf6ced29e2a1dd8c4d24fc07e48eea081c10c1</string>
			<key>size</key>
			<integer>17</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/pmap.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>d2f392c7529e1978dcb953342d15ad7f57f5a970235017c0c31e11dd5716e29f</string>
			<key>size</key>
			<integer>1918</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/procps.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>37f22b0191e4f0a023c074f990bdee358f56b5fa6704dfe395c7501d9944bdd4</string>
			<key>size</key>
			<integer>45630</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ps.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>37f22b0191e4f0a023c074f990bdee358f56b5fa6704dfe395c7501d9944bdd4</string>
			<key>size</key>
			<integer>45630</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/pwait.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>932e21c2094bda58da13dcd8badf6ced29e2a1dd8c4d24fc07e48eea081c10c1</string>
			<key>size</key>
			<integer>17</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/pwdx.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>8888685ac894f29641219c8c9e2f5196e8cf2eee5382180b880f8fa5880d1cf3</string>
			<key>size</key>
			<integer>765</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/slabtop.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>c15dbacc4051eb2b062984c86a7137e1b23b5b9b6dac053aa1dea6ae813fd9fb</string>
			<key>size</key>
			<integer>2949</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/tload.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>73f4218f87f22e2e540a68b356f28a84585dfcef231beccde3fe03ec516e0985</string>
			<key>size</key>
			<integer>1456</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/top.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>1bdfed9a2f595d1b52d9af6510529a954e6daf42010a5f13b1b4f5d1429f415a</string>
			<key>size</key>
			<integer>98089</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/uptime.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>b30479f8b5b325b8a14638f3efb8a7f12aef687004ebb6fdba94fbe86dede8a5</string>
			<key>size</key>
			<integer>1743</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/w.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>3cd5cfb3768e366ef76f0564cec93d7bdab0b5d6d6a14bb5fb2fbce68ac85315</string>
			<key>size</key>
			<integer>2634</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/watch.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>921fa5763f11391aa3493df5763b20d602e2d1bf5509f5ba86ea28998944e385</string>
			<key>size</key>
			<integer>4859</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/sysctl.conf.5</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>173de33f2e2c36798167b3571ff7ea9125cb6350afe8ddbf9d8bb15b2bbaa33a</string>
			<key>size</key>
			<integer>2110</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/sysctl.8</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>1d1caf0010eedff77af3dec3d33f5f442741a93464d754f98beb2d06dfd24336</string>
			<key>size</key>
			<integer>4560</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/vmstat.8</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>c08bf36967cd32a56eb8a5716bf2bb98fb93e8aec4d42863e60ae5af62b8751d</string>
			<key>size</key>
			<integer>5811</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl/man1/free.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>fde8687334ff28755911022a6b6a7d1e3dae1d1b0e31562fb45cd6934aa6f79f</string>
			<key>size</key>
			<integer>4666</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl/man1/pmap.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>602e89b254a43ae72a6c76ab10b3135e985b5a9c5afd588c7035b01983a1c0ac</string>
			<key>size</key>
			<integer>2351</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl/man1/pwdx.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>61e2529b645eb94fb2ea84993538197092a84ae2d29c0f7fa9cd6f857345213b</string>
			<key>size</key>
			<integer>1063</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl/man1/tload.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>406b3068bfdd744b3523f2ba3c708bebe3b317032e0aad83a00a01998abef567</string>
			<key>size</key>
			<integer>1811</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl/man1/uptime.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>cc668201432ae07e5220149cc9dfd165bd3c3ff05c2729f812411701213b28c0</string>
			<key>size</key>
			<integer>2100</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl/man1/w.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>67ab5efcb5daadcd6f305e930d49fa223cf53cb3b17216d0833e5bb27c763957</string>
			<key>size</key>
			<integer>3076</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl/man8/sysctl.8</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>8f8b2b2ce8841bfb4bff548f11779beb32b7350dc9939fee333556fa28ce53a2</string>
			<key>size</key>
			<integer>5229</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl/man8/vmstat.8</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>af48b6616e514bf93c6b43311874d8b88097f86cc65fb955300e0710a3012532</string>
			<key>size</key>
			<integer>6613</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pt_BR/man1/free.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>ff70faae1516505b97e4403853357770cec6414585113c86d75dcc864e47aa0c</string>
			<key>size</key>
			<integer>4595</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pt_BR/man1/pmap.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>2bd0bf647e7ae7e529218703ea34c7f866cf1fdee5710a7333d234359d39b77e</string>
			<key>size</key>
			<integer>2281</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pt_BR/man1/pwdx.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>3a068c4e0375aa4f3b0d2bfc06106068ca31d57c43d4340cdd44a2acb9023125</string>
			<key>size</key>
			<integer>1025</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pt_BR/man1/tload.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>e6876e4b5a37e58ff46579f1a40a1977520a30e5975d16fdffe6222dea65bc02</string>
			<key>size</key>
			<integer>1782</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pt_BR/man1/uptime.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>e3936b8ca665025126953897b464505083ca79c131b0f58484f4e666e453a82b</string>
			<key>size</key>
			<integer>2175</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pt_BR/man1/w.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>4706895875dfac4e5aeb49d5d614968a071d8ba2bc4e3c301d5bde6f6badf8fa</string>
			<key>size</key>
			<integer>3073</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pt_BR/man8/sysctl.8</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>57d75a1aa723d3b33487b8451ccba257cecf734bdad8c85382c61c3fa47982b3</string>
			<key>size</key>
			<integer>5263</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pt_BR/man8/vmstat.8</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>ae2557132c1b396621e33ed66f081cf31ac51fb0a982cb856e7d2c7062ac56c0</string>
			<key>size</key>
			<integer>6602</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/sv/man1/free.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>2b173bee6ac3ae3c92eb719e87ef8b3bf14574b0864b02f9e2b0f54d28e7b08a</string>
			<key>size</key>
			<integer>4483</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/sv/man1/pgrep.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>326f5ea7409423a2d21c7423ca45be6b2a841b59da3e8defe3a5f9fed1a5b5d1</string>
			<key>size</key>
			<integer>7750</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/sv/man1/pmap.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>ed9f782eca87152839a22a9f7d1c4a95334c780241c66970b88421616581a3d6</string>
			<key>size</key>
			<integer>2307</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/sv/man1/pwdx.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>7f1efe419c89232ca4e05bab5a3df4f5f84aa41e45c1a8f1be1770a6a976ec7b</string>
			<key>size</key>
			<integer>1096</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/sv/man1/tload.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>507a87c363ae32633885c2dd2ad60b86e681136345798df30f998be9e060a54d</string>
			<key>size</key>
			<integer>1826</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/sv/man1/uptime.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>71a4d3a487b0fb104fd8a0c0aa96169efefd2a01e2ce98688537bdc11a6ed067</string>
			<key>size</key>
			<integer>2158</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/sv/man1/w.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>f7aff7da28948adfaa84dc6de6ca36c1a2a4ee0c266481d91c5435780d75e376</string>
			<key>size</key>
			<integer>3066</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/sv/man8/sysctl.8</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>b3e7ef213bef25b64257911a4e544e52b1df88ddf100813a29709633bb97c64e</string>
			<key>size</key>
			<integer>5197</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/sv/man8/vmstat.8</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>9dc7ddeb1e0b2ac6c42b826bf62c76442bd53a040f6ce996c799bad9303e6517</string>
			<key>size</key>
			<integer>6389</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/uk/man1/free.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>151c2ec25eb5799ddfe6bbe177004482252f2d7b27c4c642eaa590b7e1a67a84</string>
			<key>size</key>
			<integer>7693</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/uk/man1/pgrep.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>75727ef03c9748cd39f660f4356bc3d7a913a6c0813412a3f1db3a6647937f6c</string>
			<key>size</key>
			<integer>13731</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/uk/man1/pmap.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>e3b4ff717564352b9bd9841f5a505335db0d34601aa6ddf8f5a25550a3544ef4</string>
			<key>size</key>
			<integer>3426</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/uk/man1/pwdx.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>d134b900997a3befd550ede04368b0ef11196f9ca5728b0e42e01b2b34f36c5c</string>
			<key>size</key>
			<integer>1412</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/uk/man1/tload.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>c0ed386fd08107fdef031ab67f619d115ca6d23e28d3f94a6e1b0ddf06948a48</string>
			<key>size</key>
			<integer>2692</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/uk/man1/uptime.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>d8d145c1619e535a76686972c51ed131e3dd6b5d128cc6c915400025a2651e70</string>
			<key>size</key>
			<integer>3428</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/uk/man1/w.1</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>096cd83ad2f6e5f71f6e15d623bfc1a762948142e491253c433d17a07a96feb7</string>
			<key>size</key>
			<integer>5023</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/uk/man5/sysctl.conf.5</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>9e86e08e782079528c3853cead25279179de8dd5530cdf0e4126ea477028c18a</string>
			<key>size</key>
			<integer>3496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/uk/man8/sysctl.8</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>9e80934ef26c735343a917d6f20928780aedfa0b2292d051bc4ef1a5b4411533</string>
			<key>size</key>
			<integer>7897</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/uk/man8/vmstat.8</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>sha256</key>
			<string>56358f4584de6869e0c0f1af646989183a37f542323c5dc55759b9b77fac9a93</string>
			<key>size</key>
			<integer>11955</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libprocps.so.8</string>
			<key>mtime</key>
			<integer>1613496420</integer>
			<key>target</key>
			<string>/usr/lib/libprocps.so.8.0.3</string>
		</dict>
	</array>
</dict>
</plist>
