<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/pv</string>
			<key>mtime</key>
			<integer>1499005464</integer>
			<key>sha256</key>
			<string>241e2d654897788e7b1ba2f993f546293c74fe221672fd8914321a9689c87e1f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/pv.1</string>
			<key>mtime</key>
			<integer>1499005464</integer>
			<key>sha256</key>
			<string>6f5c88dd2d3a5e4201257661d825674241cfb75b5ec80ca457b76a0681ce5f77</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/pv.mo</string>
			<key>mtime</key>
			<integer>1499005464</integer>
			<key>sha256</key>
			<string>b98e04e64dc9d19f5a0e0f26a7bbe5a0b1eb8239d6f61336ce46b430e3e8848d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/pv.mo</string>
			<key>mtime</key>
			<integer>1499005464</integer>
			<key>sha256</key>
			<string>a75e5ad4342dd496fcdc1d69211d5cac1c89a70d3cb18ce6d760765e93c22f36</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/pv.mo</string>
			<key>mtime</key>
			<integer>1499005464</integer>
			<key>sha256</key>
			<string>c0590875a96c007cf2d5da41cd650a646a12481ead0fdac54bee8fe4ee45f757</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/pv.mo</string>
			<key>mtime</key>
			<integer>1499005464</integer>
			<key>sha256</key>
			<string>f395958227af7d84df77fcb10700ddfd4489f3f7c4f7c577b8bc6ca7474e4a25</string>
		</dict>
	</array>
</dict>
</plist>
