<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/PyQt5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/PyQt5_sip-12.8.1-py3.9.egg-info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/python3-sip-PyQt5</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/PyQt5/sip.so</string>
			<key>mtime</key>
			<integer>1611499987</integer>
			<key>sha256</key>
			<string>c41686e05b8794bd5d616b437645dfd10bdc4e5dd0534aee88256117e168118a</string>
			<key>size</key>
			<integer>155864</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/PyQt5_sip-12.8.1-py3.9.egg-info/PKG-INFO</string>
			<key>mtime</key>
			<integer>1611499987</integer>
			<key>sha256</key>
			<string>1ac9c70cebbf4ad52b754277dc7a3853f2fdeb68dc40d2fd60acf077c0965c0b</string>
			<key>size</key>
			<integer>472</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/PyQt5_sip-12.8.1-py3.9.egg-info/SOURCES.txt</string>
			<key>mtime</key>
			<integer>1611499987</integer>
			<key>sha256</key>
			<string>76bf51572b85882adc106a0b6f5267087a7ebad665060ed9b7094fe5909cbc0d</string>
			<key>size</key>
			<integer>315</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/PyQt5_sip-12.8.1-py3.9.egg-info/dependency_links.txt</string>
			<key>mtime</key>
			<integer>1611499987</integer>
			<key>sha256</key>
			<string>01ba4719c80b6fe911b091a7c05124b64eeece964e09c058ef8f9805daca546b</string>
			<key>size</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/PyQt5_sip-12.8.1-py3.9.egg-info/top_level.txt</string>
			<key>mtime</key>
			<integer>1611499987</integer>
			<key>sha256</key>
			<string>a503b6f07434ed6a350fe486c93a5e002a27d68bb8a84bdae11ff68f8fd2dbfb</string>
			<key>size</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/python3-sip-PyQt5/LICENSE</string>
			<key>mtime</key>
			<integer>1611499987</integer>
			<key>sha256</key>
			<string>2c93b5d4af4cfdfe8d7551b2bfe971e39deb37a8ae2d40765f3fd63846418c63</string>
			<key>size</key>
			<integer>2766</integer>
		</dict>
	</array>
</dict>
</plist>
