<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/pyatspi</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/pyatspi/Accessibility.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>652cfd71f9ffe0292d81b1b7e3963b9c831f82ebba4528659aa3d22e7349c946</string>
			<key>size</key>
			<integer>11571</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/pyatspi/__init__.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>a73103c7ede614945abb5f72f2fa3a5966de8c9e8bf3cf4f093faee89dd93f4b</string>
			<key>size</key>
			<integer>993</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/pyatspi/action.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>156f8988cff565201fa9f8935e28715e58d9454f19a27793499116af257f6873</string>
			<key>size</key>
			<integer>4962</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/pyatspi/appevent.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>9dfc3beeba0453e069d9dadf7aaf911299c6c371920d5a828e928bce766ae2f5</string>
			<key>size</key>
			<integer>3747</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/pyatspi/application.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>394d7d72733dbb0c12bb4ba238bc5f769472e79cdd6fb67995fffcece5ab2eae</string>
			<key>size</key>
			<integer>2847</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/pyatspi/atspienum.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>617207aba5c0ad274d18c3d4e287339521790c98a1698a68ce1a581ae51d4ebc</string>
			<key>size</key>
			<integer>1421</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/pyatspi/collection.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>1ca8a95c6dbb2433f9db9191ed581ea65663a1a758f54e481fe914d077034598</string>
			<key>size</key>
			<integer>4054</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/pyatspi/component.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>3984e9f28789a42d70e38f0329af406f0d570a9e89eb97f8e1831eba829100f5</string>
			<key>size</key>
			<integer>8951</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/pyatspi/constants.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>a65c1ddd336608bb0e428aea8c9debb5b22adff0f5ceca45156ff8590c23dfeb</string>
			<key>size</key>
			<integer>4909</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/pyatspi/deviceevent.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>61d8db59d582d3171c161efdbb40717993276357e11760401e0c452b11e1c2d9</string>
			<key>size</key>
			<integer>9704</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/pyatspi/document.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>a79303024a1d89abe03528619bb5c54fe42134053a1c96ae782334ee6eb6512d</string>
			<key>size</key>
			<integer>3684</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/pyatspi/editabletext.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>173eabbfe083d9e0bb4bc23cf5283f3cf929aee4272dbcd2fb8b2611a585aef7</string>
			<key>size</key>
			<integer>5139</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/pyatspi/hypertext.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>6809a213b36498f8cee43ee5f2aaf5d3ff0d020dd2d4dda590c42b5c32af4edc</string>
			<key>size</key>
			<integer>2825</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/pyatspi/image.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>55e4bd2b664ed7f6f1dfffee6fef7ace73d0c987da6c83cc7811f7b54e0370bc</string>
			<key>size</key>
			<integer>5129</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/pyatspi/interface.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>a103e3523ad280adfa8e58f16b575d1152aea4f0a7fd97a2599a5066b85b4729</string>
			<key>size</key>
			<integer>980</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/pyatspi/registry.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>553bff0953836c3bfc4ae8f438069e55773c135fb5ec8e0a36cc79dbe5ad43af</string>
			<key>size</key>
			<integer>19885</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/pyatspi/role.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>05a138e0e81081791167f9b8dcafdbcab6852a481963da3862489053e7e20ec9</string>
			<key>size</key>
			<integer>13861</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/pyatspi/selection.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>087739cb2134672906a236e5949dd64dcd42387b2992d914c640691c83f4ec03</string>
			<key>size</key>
			<integer>5755</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/pyatspi/state.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>754fc4f1ae3a4e7b8083e28840b0f093f61c889b85d82f73b342e469f680a31a</string>
			<key>size</key>
			<integer>5474</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/pyatspi/table.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>15344d589bbbedbeea4f0e8f3e3bb797917dc1b24e7424068fc9fcfb42008825</string>
			<key>size</key>
			<integer>16145</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/pyatspi/tablecell.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>ce627d50e11fcbd97a1b17a495f7564b286abb3e803a4de91a5f0a494a85d65c</string>
			<key>size</key>
			<integer>3151</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/pyatspi/text.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>cdb31e86b06421a1a90a6fe7e96324fea2c216d49eb6f06041b8641c4745c666</string>
			<key>size</key>
			<integer>32842</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/pyatspi/utils.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>605de3d3864161c4159a877339d16c867b1b0f75baee64729c90bf860711b662</string>
			<key>size</key>
			<integer>14155</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/pyatspi/value.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>650e525fa2a9a107a07d382609fff7c0a94e33266f6a4b0cee5093099335e2d5</string>
			<key>size</key>
			<integer>2872</integer>
		</dict>
	</array>
</dict>
</plist>
