<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/cpython</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/internal</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/python3.9-config</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>72190c77476ac01ed415f82ea837d68f9df3f05e516e43cc7a43c8b2d81df5e1</string>
			<key>size</key>
			<integer>3149</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/Python-ast.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>4769f41144a3ae305ef02aed7138272b25388109c8993116163485dde10fe183</string>
			<key>size</key>
			<integer>26193</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/Python.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>d9adec490e6749f9c482ed17e62b5d8a06bb221cf18e590af0e11618dcdb6578</string>
			<key>size</key>
			<integer>3690</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/abstract.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>b052f76cf9fbad39aa0fc76e32d29ec29e63db110b5fe0c97fed5813b32e4cf9</string>
			<key>size</key>
			<integer>30477</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/asdl.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>5ec93f0e325c084a055ff520e4c51df5e87172b4dd5dd297712f53062c4e1645</string>
			<key>size</key>
			<integer>1224</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/ast.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>70490cda74a7e382e5b177a39b16256ec873ccef2bd202c663753e9d47aee7ff</string>
			<key>size</key>
			<integer>947</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/bitset.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>75c51a9bd20eb422824221fbc3e1b8a1216d635fbfc2a03e8ac608fbb4dc6340</string>
			<key>size</key>
			<integer>468</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/bltinmodule.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>1b5101b4b85409fd910032713906800bbb83580503036469c2a60ac8e80b8f72</string>
			<key>size</key>
			<integer>264</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/boolobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>58618de27ab7ce3a8b52d6810ac929aa38a70deb370f89603613a273fd644367</string>
			<key>size</key>
			<integer>885</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/bytearrayobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>a6f332edc796f35283c9ea75bc59b525c82be52129cea32e3371974de08d6ee1</string>
			<key>size</key>
			<integer>1484</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/bytesobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>fd5a0e17b61e246155e558bc4b06e2e5ee77ad7b75b0d27d00eafb182869bfcc</string>
			<key>size</key>
			<integer>3048</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/cellobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>2dbaf605207c6a67a772078d9e335a7a38c1260b28d36cfe1b15b6514dfb86d8</string>
			<key>size</key>
			<integer>712</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/ceval.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>885552517ba8a420fe54a75d7e98ca5066165475f97a9909a534ed8e2d99e715</string>
			<key>size</key>
			<integer>5954</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/classobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>0a644a89790992499ad174d492c8d29778d95966498ee569ad8c6d90da54c054</string>
			<key>size</key>
			<integer>1657</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/code.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>de21eeb3ae7f1314e296727bd6db61cfe496e177a230ed75071e7af5b02d88b5</string>
			<key>size</key>
			<integer>318</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/codecs.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>d84f5b3738836973013339dc320c296355246169ebe5ebe2251516b4bb4357f1</string>
			<key>size</key>
			<integer>6793</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/compile.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>00c2473525c922ea926cbe74eb6f4dc1f662cc2957db08deacd405eabfd09f41</string>
			<key>size</key>
			<integer>3778</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/complexobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>7c224e629e3d2576ccbf045773863dcbef566f89b78d2a78e61418cae9c282cc</string>
			<key>size</key>
			<integer>1806</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/context.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>012ef77a9683a015e68728c4f43014921a04db0626c1dc9fbcc48a87d4e1012f</string>
			<key>size</key>
			<integer>1962</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/cpython/abstract.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>27df5dbe48f9a7cad0cdd718595d0da76e747c3e9d745905bfe9d7938d5d58ea</string>
			<key>size</key>
			<integer>14202</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/cpython/bytearrayobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>6c0ff5534ded2fb01ade071fad06e1561ea3ecb55970c4a79b86fd471fa9bd71</string>
			<key>size</key>
			<integer>769</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/cpython/bytesobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>cc3c5f0f0799c6b850ac440f91daadb90fae62bd6d91481138959034a5c9b216</string>
			<key>size</key>
			<integer>4114</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/cpython/ceval.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>56d3948e3084754c2838128abb15139a64a1beed2bac3483328d0e7131da973f</string>
			<key>size</key>
			<integer>1537</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/cpython/code.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>864152eebc1d01303462987c9c5e08b37562e95689603174b36de9b189e3e09e</string>
			<key>size</key>
			<integer>6989</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/cpython/dictobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>c3a02f3520e53d4b4081b1bb471175f6b0ef6b6ee777528e432ef3dfcb89f5cc</string>
			<key>size</key>
			<integer>3800</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/cpython/fileobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>6be2bdf9226e734b931623ab481968d20b26616f385f7e4c33109b3e58e92851</string>
			<key>size</key>
			<integer>721</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/cpython/fileutils.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>3e33bc874767b7fbd8768926d1b81b84531f05be71fa6fdccd6657cb78b67361</string>
			<key>size</key>
			<integer>4004</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/cpython/frameobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>46fad2bcd7be75617ebcab6ba223e09aa68e6572d3a6cc5f545ae188d0aa6501</string>
			<key>size</key>
			<integer>3059</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/cpython/import.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>4ee65f882ed2fe7ad878a46294292cc5d002c02d77c45e914d0b251a0205c9e5</string>
			<key>size</key>
			<integer>1473</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/cpython/initconfig.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>0ca06e552935733ada77d4da64cad7256a3bd5db35a7707ccb2cab5806884311</string>
			<key>size</key>
			<integer>16979</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/cpython/interpreteridobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>c0890c2f0ac0e42eeeaacefb7e96d20b7efe43dacc542628e4c31057feba07e7</string>
			<key>size</key>
			<integer>456</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/cpython/listobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>66f9ccdf2cace04368eb7b02073bc0e42eae4bd0ab171a9946dfd8b4a28686ab</string>
			<key>size</key>
			<integer>1364</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/cpython/methodobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>d0356e04561a145b08aeb5c457d69443fd43875415844cba57aae3f5ec77c6be</string>
			<key>size</key>
			<integer>1399</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/cpython/object.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>b18de1c98145e38809929e56d73956dceca1f0b6af59c8515b811d6a2ad5d57d</string>
			<key>size</key>
			<integer>19358</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/cpython/objimpl.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>d7c8d2b9d513ec43f0c9d95a0a2203346a0279113e567994654594604b8296d4</string>
			<key>size</key>
			<integer>4456</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/cpython/pyerrors.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>c25d2d44ed35a3bedf45a8180ff6c721955cd34a7aceb11717e44b5980e0e8b6</string>
			<key>size</key>
			<integer>5101</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/cpython/pylifecycle.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>a28b660e0581fb93423c397272078fe92a1efc8c811c8ff731becc7ae87cf61c</string>
			<key>size</key>
			<integer>2096</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/cpython/pymem.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>5886f079c359e44ffefc4d14698a26a64a54a6206da37f77c0f2e215962f5f05</string>
			<key>size</key>
			<integer>3511</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/cpython/pystate.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>1274f75deba17763b8c0f913c90d817d6e03f925c88ca1381242cbbc5a2010c6</string>
			<key>size</key>
			<integer>10167</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/cpython/sysmodule.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>9431ba5d90cfd6d8d34efee8f358cd225953483a5f1b01094aa3b2714497753b</string>
			<key>size</key>
			<integer>575</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/cpython/traceback.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>8f3eda3c6b0888728cf771aec2fa9877f9459b25b96763e8732c9ada77d1453b</string>
			<key>size</key>
			<integer>473</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/cpython/tupleobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>81d31d2a60d8c3293026f3e0ab2edacbdb13d4b1c03567db10431dd0ed89b320</string>
			<key>size</key>
			<integer>1036</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/cpython/unicodeobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>a73625dfac103802a9c29b3c3820abab4db97f870159a84b1c093156afc4b67c</string>
			<key>size</key>
			<integer>45576</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/datetime.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>e7b7f392226e4db637b5c71820f47abea098432b90e5c9674dce82e440cb73b4</string>
			<key>size</key>
			<integer>9255</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/descrobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>984772dc5700cf157ea594abacf8bfe8a20a5287b2d98b1d29690dd401816717</string>
			<key>size</key>
			<integer>3019</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/dictobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>7f998b9c48e026e7f34bdfca0fecaccc7c519b56e22f1691071aa7417011acbf</string>
			<key>size</key>
			<integer>3715</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/dynamic_annotations.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>73fe170efc01e7f2fcb4beb6060614619235be070494a106479987348515b6a7</string>
			<key>size</key>
			<integer>22469</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/enumobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>2244fe250db9995068fe74dce0e23fd70c12b03fd94751d98b773be8f64896b6</string>
			<key>size</key>
			<integer>253</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/errcode.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>bfa9472ea22fe0acdcc465625d8f2ed8e78e7f2c00891bc0e87bd4a7fd2454a4</string>
			<key>size</key>
			<integer>1624</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/eval.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>a769f928d7a1721f7cf3b9c545de111a5b28333dae7745b67044dbf5e37c61d6</string>
			<key>size</key>
			<integer>1209</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/exports.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>f9242de8f731846164d4446745dd2a737ccdf83f754099018edc90485b1cd445</string>
			<key>size</key>
			<integer>1098</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/fileobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>4c89937726e6c30d62c361b48567a2de1c0533e7dc8ae8f805d9939842d00a7c</string>
			<key>size</key>
			<integer>1571</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/fileutils.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>10b199f2329273fcad50a4b87baf40a4f83fbb3c6a5014a04626dcbbe33cae0c</string>
			<key>size</key>
			<integer>597</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/floatobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>20bf507cf87f2b3574f1bd1ffd873e3fc6741cc0891b94fdbcf4237bd34b3f6b</string>
			<key>size</key>
			<integer>4360</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/frameobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>b69efe6636f05e79e50b5a1f46e3ed2602ac5d5eda9fb57a2d58d4cdc99edfb7</string>
			<key>size</key>
			<integer>337</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/funcobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>5ba01bcff6f9c50281ae15605bafdf6fe2be8c1297c5f58380409021faf68778</string>
			<key>size</key>
			<integer>4057</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/genericaliasobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>0e53a0b18c114be68eccea9ffd1dd577e204b1f0ada4d3aedc8e7ee0c80fc7f8</string>
			<key>size</key>
			<integer>334</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/genobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>5d2b0a27ee60246a5130b6258350da0e50745005b2a17b15a55dd08bff5bcefe</string>
			<key>size</key>
			<integer>3525</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/graminit.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>9ad2d4aafe85a72337ee8d783607faa9411aed09995da6ea2b9a5abd7b67c255</string>
			<key>size</key>
			<integer>2118</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/grammar.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>229730c2fb8fd418fe61bca568d39e014309a9c57ef5118dc413a127995a7548</string>
			<key>size</key>
			<integer>1821</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/import.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>f32a4d416cf558d49d797f8d67d9078917258ed5af1daa734755c8be2c8c76b2</string>
			<key>size</key>
			<integer>3026</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/internal/pegen_interface.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>95a32d521bb2122ea54c1c9c21099368d7118272ccf17a01667f216d6701a891</string>
			<key>size</key>
			<integer>953</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/internal/pycore_abstract.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>ac474dbc0e522a5b59cff25c50f02eb75b08bf60b9056d84bdfd06d7202e9af3</string>
			<key>size</key>
			<integer>479</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/internal/pycore_accu.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>0af5cf048f515646d68566bd8786e973c45a501f23782d80961e390b116adb2b</string>
			<key>size</key>
			<integer>1126</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/internal/pycore_atomic.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>07156dd6debd9f9b0d14fdba156e692e3f13658e1150baabc76172a6532edf71</string>
			<key>size</key>
			<integer>16977</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/internal/pycore_bytes_methods.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>1534326dbf027e9bb472be5ccf8b82fab48f3282cc7f6a61629b801fc80afc00</string>
			<key>size</key>
			<integer>3384</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/internal/pycore_byteswap.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>5b1fb4b7a9e040cfa2dd0249ce7b5bc87a225aea4cbfc4797aed44ce5229256a</string>
			<key>size</key>
			<integer>2620</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/internal/pycore_call.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>99ca19ee267b138ed3412505413d3c252cda8b049c42cc7f6f7395d2b438bae6</string>
			<key>size</key>
			<integer>870</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/internal/pycore_ceval.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>cff5f04bd85fbdabf1388e773d85430479701a0bd1bfb33a3b4a4ca25e6ff60c</string>
			<key>size</key>
			<integer>3930</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/internal/pycore_code.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>a09114bea861b7c194eb49afa7e49f84c2b3d620d3ee3ef59f3b28f325f63a0c</string>
			<key>size</key>
			<integer>542</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/internal/pycore_condvar.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>3d37e1739052022a8d120096ffc8521e29a4a930c339a70e315dade3fadd62f5</string>
			<key>size</key>
			<integer>2809</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/internal/pycore_context.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>91b849355564b14e790cbf3a74dba30083de621dad3125f5239f98d9d8f706e7</string>
			<key>size</key>
			<integer>800</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/internal/pycore_dtoa.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>fb94584844dc81a7f8093119cc8119790d31c57c53e7ba462d6c9e47ccde6d86</string>
			<key>size</key>
			<integer>646</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/internal/pycore_fileutils.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>c39b1f601c158021abf82bcee7fda12daa1871354de03822126d86afa7ec1e01</string>
			<key>size</key>
			<integer>1254</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/internal/pycore_gc.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>d417b72080dcd2f61d27f1dc2af19d4ecd0b2b77908df6dd39758695be0b4999</string>
			<key>size</key>
			<integer>6647</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/internal/pycore_getopt.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>e93393067b66b557b0300e05c10ee904d4be54cadfb214c5328a9225ad199452</string>
			<key>size</key>
			<integer>490</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/internal/pycore_gil.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>cf455aacd5651e5b43547ebe69bb324eab84238d92665df53c1df32434bd0d9b</string>
			<key>size</key>
			<integer>1565</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/internal/pycore_hamt.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>d5764d48390ae137f481780bf2a2f722ff18a266e1e6b05bf83296c37808a5a3</string>
			<key>size</key>
			<integer>3127</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/internal/pycore_hashtable.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>75e903486d6b6e0468770a6bc3895d8b9423c1b64614e38b29a1d65a1d5bfdf7</string>
			<key>size</key>
			<integer>4197</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/internal/pycore_import.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>a00468bcfdf95deb10ca3fd2304465b2d171eacfb8964cacc5f1f4b2ad216682</string>
			<key>size</key>
			<integer>473</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/internal/pycore_initconfig.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>ea3502aee965ac0077e1597ededae8c0c16cd11fa7bc13c0a367382fd9540600</string>
			<key>size</key>
			<integer>5183</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/internal/pycore_interp.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>a010a97310f05959ab5a6414728289b0902e98f462f618ad9e1a898716523058</string>
			<key>size</key>
			<integer>5270</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/internal/pycore_object.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>045121ed4c48faadcff816cc800a1c4e931f209f111570e80c5b06879c4ce38b</string>
			<key>size</key>
			<integer>4037</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/internal/pycore_pathconfig.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>e3ae9e349b82887f0ddf8443d3773d3926b0bbccbd65ddd3521c36afa690a205</string>
			<key>size</key>
			<integer>1936</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/internal/pycore_pyerrors.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>8d98300735e9c2aa1bc50378beed2c6ae92a10443a7483f746ce5dcca8252c24</string>
			<key>size</key>
			<integer>2032</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/internal/pycore_pyhash.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>6e9db9d3e7d7245b10e33598b995fc9b51b3952ce17225830d0248c6fa62dd51</string>
			<key>size</key>
			<integer>206</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/internal/pycore_pylifecycle.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>fd97360d873a699344afa12ae93fe8505fdf4f5058b87a90886af1f1cddf4468</string>
			<key>size</key>
			<integer>3741</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/internal/pycore_pymem.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>d320fa3c3c27086b91bb58e3eb3bcc7ab8538ed032bb5fb7761bcbc4ba007206</string>
			<key>size</key>
			<integer>3357</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/internal/pycore_pystate.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>cde86a206501300edf616a0effafb90a414829041a54d6150d8590140f6b11f8</string>
			<key>size</key>
			<integer>3583</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/internal/pycore_runtime.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>fd5683de36f34f1e1e8db9d377aecce041949a7afe2e5ff0af5c6a4a6bdb69df</string>
			<key>size</key>
			<integer>4452</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/internal/pycore_sysmodule.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>091730828d6b60293756f9ed5f700bb77e7f2419f6b05c9fc0f2e02708617fb5</string>
			<key>size</key>
			<integer>548</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/internal/pycore_traceback.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>7668416614d865a645524c8f290dfe46c08f2dadb56328dd66b1c177f127f3d3</string>
			<key>size</key>
			<integer>3058</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/internal/pycore_tupleobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>3a827fab4153943669752f59d17b0b3758a4a47b542a4b5eaed538130b9e8a50</string>
			<key>size</key>
			<integer>442</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/internal/pycore_warnings.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>4fd87f2a5d5b2944c99f85dff5682433b7c4d0a355c25e5c7274e46a253feda1</string>
			<key>size</key>
			<integer>633</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/interpreteridobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>62d060794f7488f365402db81ded3d588b6d7759eb0de9194329fd01a9374cf6</string>
			<key>size</key>
			<integer>334</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/intrcheck.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>63920ab66fb23e7dd00fcd360f094e93d0fb029c82c56e6b5538552b401b0459</string>
			<key>size</key>
			<integer>861</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/iterobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>14ddefb8137e33495788609782583c52338dd729a37a269bbf44a38a39ead1ae</string>
			<key>size</key>
			<integer>521</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/listobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>fea25ac3a5d8f0b8678cd77eba73cf9c3797490a24c1e6585bf255982ab48c23</string>
			<key>size</key>
			<integer>1781</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/longintrepr.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>28dddc9f2d5db3e383d1e921a7731bdff683ec394b8fd334f6cba14241d5d244</string>
			<key>size</key>
			<integer>3799</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/longobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>846153968555e33247ee678fbfbfb1373ca0c089a6020f007ba30b2ac9072d2e</string>
			<key>size</key>
			<integer>9513</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/marshal.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>06ba6a68154f85951794529465a07e07444fb852440059a398c98344004a27f5</string>
			<key>size</key>
			<integer>803</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/memoryobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>5a89491cd879fd90ba20525c710c74e278d2432da789ce6c608ee4c65920cd48</string>
			<key>size</key>
			<integer>2764</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/methodobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>40785419c9fe0196ed69e39bb476306d53033892bb0a2a07096b348400908192</string>
			<key>size</key>
			<integer>3775</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/modsupport.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>1ee6a7326d5674b9b512ef47a0796192a8ef1f67e35d062c09e1fc20878a0426</string>
			<key>size</key>
			<integer>9959</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/moduleobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>11f23f3ced05a7a34a1c00506f3d506a0029ebf4e6b143b0c8812d45d13be8f1</string>
			<key>size</key>
			<integer>2361</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/namespaceobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>d282d6d0c6493f56921c039bfa23fd38bc4a643ebb9ace07108d9b170900fbc8</string>
			<key>size</key>
			<integer>349</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/node.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>407d6c7095bce14b2b389f955ef479751f54f724db6d60fc4d228dffff53c194</string>
			<key>size</key>
			<integer>1281</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/object.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>bbdaefd404779575bb4eee681495aced6be4ece35d7af4ef66ea651e9073a011</string>
			<key>size</key>
			<integer>24628</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/objimpl.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>9813aa3e546ca25d5388c15d7bbb5df735366d16f3ffd050bade944d1184d5ff</string>
			<key>size</key>
			<integer>8423</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/odictobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>ff2b0d77aea871c1edd6f63209489fe70c7c11d4da9c3e2f6ef6858cdb004a0d</string>
			<key>size</key>
			<integer>1299</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/opcode.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>52b53c1b24fc4239b0d76aab131fb3bd4e2b9e9014d719bbac41cc1a3dcec03c</string>
			<key>size</key>
			<integer>4900</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/osdefs.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>8372e9c507949a88ed3cad5fd0a830190d60a1655e9a3f59ef4d0832c06a041c</string>
			<key>size</key>
			<integer>737</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/osmodule.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>c013935b48f48ca8ce249a4d482c55e3fb6f1cfe786c5a32a57969bb74a779d9</string>
			<key>size</key>
			<integer>291</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/parsetok.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>bc38ccb23eae0e0e54cc9f45945c3c46d0907a856ea0c02e4c1311a9ed0e9a8e</string>
			<key>size</key>
			<integer>2958</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/patchlevel.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>379468465982c537818dc6e772d1055ed680df624655b339689cc2c5409c8066</string>
			<key>size</key>
			<integer>1297</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/picklebufobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>da3dd5626150aa4e00a4a0199baa582b4db9b9362412a44f9ac20ca80b0086ca</string>
			<key>size</key>
			<integer>846</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/py_curses.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>18498ae03ed5fb81815a98e1dde888c9e0ea1c38fead6c7b3698d2583538c7f6</string>
			<key>size</key>
			<integer>2474</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/pyarena.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>766e5ed190f352fa3d59b57c40a824a6815b6846ece8eb382c100d5eca46bef0</string>
			<key>size</key>
			<integer>2744</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/pycapsule.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>8fed74eb81e83720caae346011dd6deedb147fd462bf94e679eac5065dfa92aa</string>
			<key>size</key>
			<integer>1725</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/pyctype.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>a406eb5730a6c8981e7b6fb0299cfac60773e977a7867872a910fbe75bd2a8ef</string>
			<key>size</key>
			<integer>1320</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/pydebug.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>872f99a8bd4d03d9edf3a2d539a137810749c04ee36da531088d3823f74e8e01</string>
			<key>size</key>
			<integer>1093</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/pydtrace.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>d342948372e46cb0124ba1311ce5ba9941837ac8a137a76b5a532bca03c696e8</string>
			<key>size</key>
			<integer>2413</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/pyerrors.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>deb8cb740e8063a563a6dd6261c1e1e478b7f9e9fd2080e1a24ec4bdda85b487</string>
			<key>size</key>
			<integer>12427</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/pyexpat.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>4bde05b3b7d6dbff5b7565b71ef59a4ce1e796a549d28edb4c75a5cabd00fe96</string>
			<key>size</key>
			<integer>2450</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/pyfpe.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>ea7bfa7d891a0b5372d8b40a57d1b466b7824296e5c3f8d50b1a7cde084429b7</string>
			<key>size</key>
			<integer>444</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/pyframe.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>92fa396239229cd523e37349f9ae6e8d990061698c5d7e0770a473ce15b39304</string>
			<key>size</key>
			<integer>466</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/pyhash.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>5b8e5b1ae6c392c384c16315c137b9fc4f7f7ecd607592221089862872ebafb7</string>
			<key>size</key>
			<integer>4263</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/pylifecycle.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>cd1692ed2e9035cec17e49dbee0d0c6253d2a75646f4e97adee62fd62d98619b</string>
			<key>size</key>
			<integer>2081</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/pymacconfig.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>06a284cd2ccccbac21c5aa2ce5ea1d05d04a4b5e5038e5d55c7fab260ab30e2c</string>
			<key>size</key>
			<integer>2989</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/pymacro.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>4bed498f025583031bf71f5fde5cb589e3af0744e73143b6b074845fff51f7ef</string>
			<key>size</key>
			<integer>4920</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/pymath.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>bc79dd324a81e62256ecb8e47c18fe6d9f3aa13f0b121794e728f269b3c97d95</string>
			<key>size</key>
			<integer>8580</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/pymem.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>edf94548c09b41a33bedb4ae663c722d3dd2f603d088fa58655a0d3b4db61ea9</string>
			<key>size</key>
			<integer>4406</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/pyport.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>cfe73e845ea467a1338618fe9923df60c487b296ca992bc7a836420ebe82eda1</string>
			<key>size</key>
			<integer>31273</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/pystate.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>69aafe4b49dbcb969d56ad795aac8b97f4ed48ea233675d83e0ba93423254197</string>
			<key>size</key>
			<integer>5250</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/pystrcmp.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>f401d8338fb6ecf5f12768ee95cd09c262f880b2ee522ca344b890dbdcde4c88</string>
			<key>size</key>
			<integer>436</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/pystrhex.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>2242f90a9a2bf13a32f0016bb056869193df04230ace468b469b18008f56a0f9</string>
			<key>size</key>
			<integer>849</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/pystrtod.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>df98a492044f55cf016c008fef3181d77d13f1828b84625b5cb1f460e5f5ed2f</string>
			<key>size</key>
			<integer>1483</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/pythonrun.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>d9eade9ce776690cefa5782bcdc0b2da6b9eb7b0b9093c1f8c92486ff9540553</string>
			<key>size</key>
			<integer>7673</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/pythread.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>f578d2d30051b9474f36916909308665d51d3e9653f62774a628e659b969f8d4</string>
			<key>size</key>
			<integer>5938</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/pytime.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>637e9ffebbd2d486079e1531a372da39e55f004a74492bbb5eb8aaf52d8af80b</string>
			<key>size</key>
			<integer>8926</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/rangeobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>eb9bbb31cf628ffa8c4452aa7d136941b3e93e43e04d44b51c68ba0b16d56381</string>
			<key>size</key>
			<integer>628</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/setobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>9035b944aea0eb29c9ffc4490a2c34ea4d2747594766cdbd47ec7e66d61076f3</string>
			<key>size</key>
			<integer>3324</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/sliceobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>3215a02de59673a950b8941a0224474cf0bcb62f617d9afc402f1e17713f9c28</string>
			<key>size</key>
			<integer>2516</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/structmember.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>c87f26f3bbaa4d08adb1cea03fd281fca81de0ab583b5ff8e9368825ca461796</string>
			<key>size</key>
			<integer>2030</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/structseq.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>d08c84466646660599c2f6d03af90be06ee8f9f81380a891d9e2a8c8e27e4308</string>
			<key>size</key>
			<integer>1390</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/symtable.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>9bf7ac8aaef535dc8c304266c3f0dea00d978c6b2940f5bde9898cfa1d774c6c</string>
			<key>size</key>
			<integer>5307</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/sysmodule.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>2c1c21db5c8704de23d1580250a30243ca3a924f14f11e4b54376a3fffd8d76f</string>
			<key>size</key>
			<integer>1242</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/token.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>d7e23401dfdde0aea3e903f1b4ffeb144d2849942222c9e42b897383dd6dff4a</string>
			<key>size</key>
			<integer>2642</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/traceback.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>c6db281d9686cf1b6895f7574a05291263b81aaa3f35cd0ca9a2e3219a669b45</string>
			<key>size</key>
			<integer>584</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/tracemalloc.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>0e5e535fbb5e66400b4dcb3d404ff532971ae964b4a11ac4abb6d73991ad24fe</string>
			<key>size</key>
			<integer>1114</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/tupleobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>a0659adc9bdffd1980fca036b3b9eabc1a99540435b6e857f071711054ebb3ed</string>
			<key>size</key>
			<integer>1614</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/typeslots.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>e07cb214d3edb03d5741ad6699b326a58f1c43163b00099eead5592ae02c49d8</string>
			<key>size</key>
			<integer>2350</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/ucnhash.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>a288021d7c33d0d3884e1933cae04d37488d58efe4a399f9348bc2ef17dd010a</string>
			<key>size</key>
			<integer>1056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/unicodeobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>914063dc48386430088dd6ecc7978944d6030a794ef15b0909afbbf7071e5ba2</string>
			<key>size</key>
			<integer>35426</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/warnings.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>d07c5b3d4b5f3b0c651e1d4244cfe7494e312792ece3568a5134dd8169b61eb2</string>
			<key>size</key>
			<integer>1776</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/python3.9/weakrefobject.h</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>d64920779d0bdf9b1620eb19afa837d0d74df2e076819b90aa95a3aa0a35c009</string>
			<key>size</key>
			<integer>2863</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpython3.9.a</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>004d4ad41a15116eefe418c053b688b1b602fd21dddeec94d700e38f7d558394</string>
			<key>size</key>
			<integer>6174712</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/python-3.9-embed.pc</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>f00e9111405be140b48bd40dee2822adb22f332d24e9027ebd61b9c21b4df1ab</string>
			<key>size</key>
			<integer>309</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/python-3.9.pc</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>sha256</key>
			<string>3cf3e5b3d377612ed7a0a07b1f0af1ddc2af515f41feba5345165c57a97b4a50</string>
			<key>size</key>
			<integer>283</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/python3-config</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>target</key>
			<string>/usr/bin/python3.9-config</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/python3-embed.pc</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>target</key>
			<string>/usr/lib/pkgconfig/python-3.9-embed.pc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/python3.pc</string>
			<key>mtime</key>
			<integer>1613703090</integer>
			<key>target</key>
			<string>/usr/lib/pkgconfig/python-3.9.pc</string>
		</dict>
	</array>
</dict>
</plist>
