<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/html</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/includes</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/isoschematron</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/isoschematron/resources</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/isoschematron/resources/rng</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/isoschematron/resources/xsl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/isoschematron/resources/xsl/iso-schematron-xslt1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml-4.6.2-py3.9.egg-info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/python3-lxml</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/ElementInclude.py</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>3d22de645bc26bbe961c9ba53cbc5c65726d088dbee1d2b60ada8f46260e0108</string>
			<key>size</key>
			<integer>8560</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/__init__.py</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>7a5f01572379c7673132aada10228383351698bab3cfdcbfb235ae4a663b2965</string>
			<key>size</key>
			<integer>575</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/_elementpath.py</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>c28ebf0a71ad29291a748fa4ad6f206c46757d53d39c824834dc2b7517d3fdfc</string>
			<key>size</key>
			<integer>10742</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/_elementpath.so</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>e80412ebe36922fb462284b66068ca040107f4e5de6b68636e018f178cc06688</string>
			<key>size</key>
			<integer>205424</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/builder.py</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>4795ac1c8d1b08e1d87a1b2429710dbc192e6abbe22f9acd26c9a787a7191940</string>
			<key>size</key>
			<integer>7975</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/builder.so</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>e86a5de5824025bb357a608b4f9828648d818760f5695a43881172893c4e19c2</string>
			<key>size</key>
			<integer>106608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/cssselect.py</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>0034eaa31d81521648ff6f0adba0e777eacfaafc0bd40ecaa57c037ad5d92df0</string>
			<key>size</key>
			<integer>3366</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/doctestcompare.py</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>7408ea37330626e0ecc58d31397c0e5b312cabb8127d07feeaebb1659c1a3573</string>
			<key>size</key>
			<integer>18339</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/etree.h</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>66c22a9ab75de1010d6fd4f7ae010536f6ef9442e9ca54066220eca4558c55a5</string>
			<key>size</key>
			<integer>8575</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/etree.so</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>c44b7353e5b9ace8414bde4aed159cc43c00aed2dcde7fddc455458fa3d337da</string>
			<key>size</key>
			<integer>2240880</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/etree_api.h</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>25fcfd1d3688e767cf1061a0a21ae02dc8cf8a6ba1255fefbd6b7da673a826fb</string>
			<key>size</key>
			<integer>17467</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/html/ElementSoup.py</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>b3f74ba1b2ccb8a9f60e17b147e8835dd66b3058354632f2d5f787b08799329c</string>
			<key>size</key>
			<integer>320</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/html/__init__.py</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>d7a781276015e010e7a32e7a41f926ebef359d8e1f011c3ec242f9946a149874</string>
			<key>size</key>
			<integer>65090</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/html/_diffcommand.py</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>efeb73dee76b820d2e9c63c023ca5afee3787bbbd6d0c9a0397138de428f770f</string>
			<key>size</key>
			<integer>2121</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/html/_html5builder.py</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>7004b13744e4b37fefa8203fb176b5a02c7f31cc912fa569b912c0d53f81e7ca</string>
			<key>size</key>
			<integer>3246</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/html/_setmixin.py</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>b950a00540b8489ecdf46a2d9a5287ae11fb4782a4ef0194deed5698424a19e3</string>
			<key>size</key>
			<integer>1184</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/html/builder.py</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>691812f846bd6e58be9ae197d2251018a01ef43f773fc06ca50d963ee89625c5</string>
			<key>size</key>
			<integer>4492</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/html/clean.py</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>e2b261151afd286d30cfe374b696cbbc582bc61351431898c11a9930ce3a8e94</string>
			<key>size</key>
			<integer>28038</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/html/clean.so</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>5893526991213ed9ecf22a14cdeb2c96c3f06ded6f10709341d936085871d4b2</string>
			<key>size</key>
			<integer>281456</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/html/defs.py</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>31702eab6fa491f4233a5861a18683e7535cec44ac867988920943216630ba2c</string>
			<key>size</key>
			<integer>4196</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/html/diff.py</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>175035bd83b77507587c60e4238eb38f918de94cda18c42dedecea5798b7db84</string>
			<key>size</key>
			<integer>30553</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/html/diff.so</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>2aa34122050b7b89ce17e839df487ef1520b41131a54c5e9704b0f26d6e515ca</string>
			<key>size</key>
			<integer>369072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/html/formfill.py</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>f659efec19eb412d0738163c4e878fd78d3cc4c375c2796da6c63ed024c60694</string>
			<key>size</key>
			<integer>9689</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/html/html5parser.py</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>767c82e1ca87c72c23652ce4d26bb62fb4c74d98f1860e32178a67723bac6bfc</string>
			<key>size</key>
			<integer>8634</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/html/soupparser.py</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>b5f76b68c6b23db30109dda41b15284ef36484a51c95f3f72e657d47ce56288e</string>
			<key>size</key>
			<integer>10203</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/html/usedoctest.py</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>b4f966573e0a2b5191295e4324badd54409eaac4fd3e50f34aaa93a1d562e6cd</string>
			<key>size</key>
			<integer>249</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/includes/__init__.pxd</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/includes/__init__.py</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/includes/c14n.pxd</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>a467fdd749951fd21d05beebfda13e279f5ac4841ca851f84b1fd39b43c0d66d</string>
			<key>size</key>
			<integer>1123</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/includes/config.pxd</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>1fa32b97c22ddb5873448da1ccc21df56e3c42a918624a0b4f876788b366753c</string>
			<key>size</key>
			<integer>96</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/includes/dtdvalid.pxd</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>45fdaf4416cce0ed403a222c524ff933ba55dc3cf7d3db12ec271ddb31851d3d</string>
			<key>size</key>
			<integer>671</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/includes/etree_defs.h</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>7bc36573ec06ef8c51c8adc4aa89e45b1d362c6ceaee997a6e62d8cee58ef7f4</string>
			<key>size</key>
			<integer>15559</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/includes/etreepublic.pxd</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>ddc76321595f91e6566146afe32fd3dae1f0028f325024e50af34b12fb19fda2</string>
			<key>size</key>
			<integer>10122</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/includes/htmlparser.pxd</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>55adaa6ece73568904467e7b1db0d8fff0a20503a8092e2e23dc047c29d3eb39</string>
			<key>size</key>
			<integer>2868</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/includes/lxml-version.h</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>a88e3fa71a575e422d4b0aa8e7eb7e5dcef507328f1851120f9ff4b2c00afbe7</string>
			<key>size</key>
			<integer>71</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/includes/relaxng.pxd</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>d76c9aa63a8364b17f1d395cb925d2a10a4f18ad4d53b7e3ee0cd2d4417c919c</string>
			<key>size</key>
			<integer>2669</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/includes/schematron.pxd</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>e7f3d4a4b1d3cf3619fddfbc7763a328b770b4b21d3a6ec2db41c55005fc843e</string>
			<key>size</key>
			<integer>1640</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/includes/tree.pxd</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>76d9d735b11fc55dfee643b0598918a0213c1d3e73bc554d74a15a201b8d5c17</string>
			<key>size</key>
			<integer>20091</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/includes/uri.pxd</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>e703eda4653526d766a59313cd1f04b306b38a13f7771927b3a160a3d3563adf</string>
			<key>size</key>
			<integer>139</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/includes/xinclude.pxd</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>a275c3ef52d57406d78d48fcdbf483b528b136c361f316eee8d77dc745776e63</string>
			<key>size</key>
			<integer>852</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/includes/xmlerror.pxd</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>ad5fa7cc6e13c209cd8eec3bc3af1a6e618393f73c2c69b863c7f9a0fc3c3957</string>
			<key>size</key>
			<integer>57935</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/includes/xmlparser.pxd</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>bfe1b7635d5e4780b57b622658b986669b9303dd18f4dfeecbef07d3ecf0258f</string>
			<key>size</key>
			<integer>10852</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/includes/xmlschema.pxd</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>c98405ac828043f7de7a710d576e17d80672048606065b510e6f6a07b098330c</string>
			<key>size</key>
			<integer>1696</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/includes/xpath.pxd</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>b4a600730a5b491abcaabb19d8849562f11a2e7095f4669d342e68fdff146bf8</string>
			<key>size</key>
			<integer>5794</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/includes/xslt.pxd</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>a8153ed1d2e120c405bf9f08e2ad57901abd409a49cca1002bda8114f5c18ff8</string>
			<key>size</key>
			<integer>8341</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/isoschematron/__init__.py</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>354a08d1b6fced50765de3f315c32dc146acad40100027dbdd9f5d3da333e85b</string>
			<key>size</key>
			<integer>12399</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/isoschematron/resources/rng/iso-schematron.rng</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>56c5b13f28b78958890c36e3249c34c169041e42ebcfdce8080f3324ba2bf4de</string>
			<key>size</key>
			<integer>18337</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/isoschematron/resources/xsl/RNG2Schtrn.xsl</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>39b79bb01f16b7e777b8803f539354f394e99d0dcfc4f5f7f1374e02aa2c31a7</string>
			<key>size</key>
			<integer>3172</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/isoschematron/resources/xsl/XSD2Schtrn.xsl</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>430791ac820cfb315c820f7c19703609a59f21b8151345ca11e6127efbfaec0d</string>
			<key>size</key>
			<integer>4563</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/isoschematron/resources/xsl/iso-schematron-xslt1/iso_abstract_expand.xsl</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>c5267f124abf23eeb6669884e40a98607c055bfaa1f39e73b7d578feceeb6e46</string>
			<key>size</key>
			<integer>11703</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/isoschematron/resources/xsl/iso-schematron-xslt1/iso_dsdl_include.xsl</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>c78d9027e771435c1a3f3c9db02a109e9d978f5e72e779d6e373bb06ea034479</string>
			<key>size</key>
			<integer>39957</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/isoschematron/resources/xsl/iso-schematron-xslt1/iso_schematron_message.xsl</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>4ebf419ceea9ce3556c21a897e6d74525bc0cbde4481f482cf688c96b5464fa4</string>
			<key>size</key>
			<integer>2015</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/isoschematron/resources/xsl/iso-schematron-xslt1/iso_schematron_skeleton_for_xslt1.xsl</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>b9ef2affcf17e1efe3b098b3a37d4644d07136177190413d7d8db4a2ad08ab09</string>
			<key>size</key>
			<integer>71764</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/isoschematron/resources/xsl/iso-schematron-xslt1/iso_svrl_for_xslt1.xsl</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>04101db154a2e730337867a9b8dea04b5b1a408343a884d72a99669a3e1d4d68</string>
			<key>size</key>
			<integer>20382</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/isoschematron/resources/xsl/iso-schematron-xslt1/readme.txt</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>3862e216cc2e2c9116e443d828e7a86aeb8224512d55aea3cb3044d4e70923df</string>
			<key>size</key>
			<integer>3310</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/lxml.etree.h</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>66c22a9ab75de1010d6fd4f7ae010536f6ef9442e9ca54066220eca4558c55a5</string>
			<key>size</key>
			<integer>8575</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/lxml.etree_api.h</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>9838f829cf88cfcbf6662f0b6765b906214e4e730f882a49fc4a60182fd8dd8e</string>
			<key>size</key>
			<integer>17472</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/objectify.so</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>280d89bdd18c31825504cca90d58de8410654eaa9bd4c2f492a85d6697ed016c</string>
			<key>size</key>
			<integer>397784</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/pyclasslookup.py</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>80b0f51ccd87b484d86221b38c439ec12c1b07b5e4571fcd66ffeab82b7bf4e7</string>
			<key>size</key>
			<integer>92</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/sax.py</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>c5cb3c4432855a7a826d9a58743b893cb2144db4e1ac26275fd6ab0e1c6580e6</string>
			<key>size</key>
			<integer>9396</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/sax.so</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>9c4bb7405bd5c345aa35b3b81d8099806ca56c66a3af84c4ad0065cffc6bd5e6</string>
			<key>size</key>
			<integer>183728</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml/usedoctest.py</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>a9181929055c019725fb33740085d52673ac113517cf69cf5e4c6ececd651a09</string>
			<key>size</key>
			<integer>230</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml-4.6.2-py3.9.egg-info/PKG-INFO</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>4f48940a779a87a66d48e121dfea3df3f29bb04d15fc60c50abd6e67efb62eb2</string>
			<key>size</key>
			<integer>3274</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml-4.6.2-py3.9.egg-info/SOURCES.txt</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>195279bde92c34972ac92c879040506430a3e9a66170e7204981f8b36443e537</string>
			<key>size</key>
			<integer>12437</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml-4.6.2-py3.9.egg-info/dependency_links.txt</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>01ba4719c80b6fe911b091a7c05124b64eeece964e09c058ef8f9805daca546b</string>
			<key>size</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml-4.6.2-py3.9.egg-info/not-zip-safe</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>01ba4719c80b6fe911b091a7c05124b64eeece964e09c058ef8f9805daca546b</string>
			<key>size</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml-4.6.2-py3.9.egg-info/requires.txt</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>6b2eb88a537b7bb10e4bfaf10a3a8a11931f909fb3a359778559d06a6ba50a3b</string>
			<key>size</key>
			<integer>98</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/lxml-4.6.2-py3.9.egg-info/top_level.txt</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>3630fdf3cc2a68aab9d769ec84d74bb7eb83c6c8e4a78061e759ba37e76152b9</string>
			<key>size</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/python3-lxml/BSD.txt</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>69edb445c1335a8312d4c09271847e9956d84f0d9f724d125340cc3fad767b2a</string>
			<key>size</key>
			<integer>1488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/python3-lxml/LICENSES.txt</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>41d49dd406aa0e1548a6d5f21a30d6bf638b3cd96eb7289dd348d83ed2e40392</string>
			<key>size</key>
			<integer>1514</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/python3-lxml/elementtree.txt</string>
			<key>mtime</key>
			<integer>1606570077</integer>
			<key>sha256</key>
			<string>0497ae8138811ef4466ede653bab7a59feb3d3c14f9ed50fc33a00aeb5bec32e</string>
			<key>size</key>
			<integer>1276</integer>
		</dict>
	</array>
</dict>
</plist>
