<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/idna</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/idna-2.10-py3.9.egg-info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/python3-idna</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/idna/__init__.py</string>
			<key>mtime</key>
			<integer>1604521452</integer>
			<key>sha256</key>
			<string>f4db7bc69c9eb770e63ab3d41a8a03740c261d966ed6a500cb611a27dde41a24</string>
			<key>size</key>
			<integer>58</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/idna/codec.py</string>
			<key>mtime</key>
			<integer>1604521452</integer>
			<key>sha256</key>
			<string>96f61bef2bbb3e102a15a00801d59cc2069623652682c794b9afb573402c1b40</string>
			<key>size</key>
			<integer>3299</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/idna/compat.py</string>
			<key>mtime</key>
			<integer>1604521452</integer>
			<key>sha256</key>
			<string>47e876f43fba9ab9c9cdb5f1ca6ad6516ee2654bf2fb6e934306748a3e7b8b85</string>
			<key>size</key>
			<integer>232</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/idna/core.py</string>
			<key>mtime</key>
			<integer>1604521452</integer>
			<key>sha256</key>
			<string>8c2a1a2dbddb036b52fc30f1f4fa46b8d4c46593768c0cc1dfaf5a3fe2076111</string>
			<key>size</key>
			<integer>11951</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/idna/idnadata.py</string>
			<key>mtime</key>
			<integer>1604521452</integer>
			<key>sha256</key>
			<string>826cc5c195a3766b3790a67f33fbf0cfbf8b3ff4828187d2784d37076d50a6c9</string>
			<key>size</key>
			<integer>42350</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/idna/intranges.py</string>
			<key>mtime</key>
			<integer>1604521452</integer>
			<key>sha256</key>
			<string>4d8d65a7164841610fead36a8d9905039860a0c58e8f53819a7506f22853f3b1</string>
			<key>size</key>
			<integer>1749</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/idna/package_data.py</string>
			<key>mtime</key>
			<integer>1604521452</integer>
			<key>sha256</key>
			<string>6f1063a4b9c4d3aff58d260a132e6cbce32ed7333738cced5d551bd6d3e5729d</string>
			<key>size</key>
			<integer>22</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/idna/uts46data.py</string>
			<key>mtime</key>
			<integer>1604521452</integer>
			<key>sha256</key>
			<string>94c770db3763907d495165cf3c47c5512613dc5ca3eb46c199f2efbf2e66ee4a</string>
			<key>size</key>
			<integer>202084</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/idna-2.10-py3.9.egg-info/PKG-INFO</string>
			<key>mtime</key>
			<integer>1604521452</integer>
			<key>sha256</key>
			<string>a66f66d682a77c035117eca88576eeaae836e34edc17138313766a1611c8fe86</string>
			<key>size</key>
			<integer>10803</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/idna-2.10-py3.9.egg-info/SOURCES.txt</string>
			<key>mtime</key>
			<integer>1604521452</integer>
			<key>sha256</key>
			<string>389d6d514fe1d47cfeb3857897c916d8a3dbb39b98308ea4b5570459edff9b59</string>
			<key>size</key>
			<integer>529</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/idna-2.10-py3.9.egg-info/dependency_links.txt</string>
			<key>mtime</key>
			<integer>1604521452</integer>
			<key>sha256</key>
			<string>01ba4719c80b6fe911b091a7c05124b64eeece964e09c058ef8f9805daca546b</string>
			<key>size</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/idna-2.10-py3.9.egg-info/top_level.txt</string>
			<key>mtime</key>
			<integer>1604521452</integer>
			<key>sha256</key>
			<string>8d26a0f6c103aaf48f7edc4e432f8005f195fd14b2ee8161e33649a4e0d5f24d</string>
			<key>size</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/python3-idna/LICENSE.rst</string>
			<key>mtime</key>
			<integer>1604521452</integer>
			<key>sha256</key>
			<string>412014420d2473dba06117c3d4d9e0eecaa6dde0ca30cd951f4ec2be39426f32</string>
			<key>size</key>
			<integer>1565</integer>
		</dict>
	</array>
</dict>
</plist>
