<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg/constants</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg/constants/data</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg/constants/keylist</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg/constants/sig</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg/constants/tofu</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg/__init__.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>0407a8e01d61f59c7f0592bd24c6b3efb40b672949e214a5ef1090b0931086b8</string>
			<key>size</key>
			<integer>4125</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg/_gpgme.so</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>26cf2c488a042bce7e0e98e71aa871bd3db89b29b4d228d3dadeb3bcc431fc39</string>
			<key>size</key>
			<integer>725928</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg/callbacks.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>b89fad1f8deecd7eed26c3bf64feadcec4aa5e3b1fd2c51841d2496ce33e97ca</string>
			<key>size</key>
			<integer>1950</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg/constants/__init__.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>753eb1f28fb5ae054b2442eeab1b695d2a7fea8072e43a749722140be46fd5ea</string>
			<key>size</key>
			<integer>5159</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg/constants/create.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>1b1f0b58018ec80c415f06792cfcd4e21c16c0f1e785c24b8b3fdd4aac4bec62</string>
			<key>size</key>
			<integer>948</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg/constants/data/__init__.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>c4e5da66e148a2083089a66eaaf68b0628bfaccbd948039775dcef4c4d73e119</string>
			<key>size</key>
			<integer>175</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg/constants/data/encoding.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>0eaf26d11493fcc6bcd029fd7a04277a8c51c8c96f904373fb39368036ffafa5</string>
			<key>size</key>
			<integer>1094</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg/constants/event.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>4e52912b4c195b74f1df97d6d469fcc81ee19d15988a55864f60d836cc4ab96b</string>
			<key>size</key>
			<integer>1086</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg/constants/import.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>7fbe6ad24638e36e4f3901d3ff80b469099cfbee1975bc8fd158c49a19781759</string>
			<key>size</key>
			<integer>1087</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg/constants/keylist/__init__.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>d1c2b7abaf007323fc3fa23a1acc95ac38ba5e25080050ca04a435f0b031aadb</string>
			<key>size</key>
			<integer>167</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg/constants/keylist/mode.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>0de2125ef0461691fca36b2744ac9941dedd0fab1e38ab9064d4ed7dfe59e9b1</string>
			<key>size</key>
			<integer>1093</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg/constants/keysign.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>050aeb8b98816f03856bf8a1fc2aeb0cc61a4f0ceec33758246e485cb3e7b4af</string>
			<key>size</key>
			<integer>948</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg/constants/md.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>3d3c14b9d2c125fbd98ac0a15a42c8198f392184c6f6e936ec76762f4e60d21d</string>
			<key>size</key>
			<integer>1083</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg/constants/pk.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>702df480018f9ec545e5d168917da18566766dd67a56c0c08dd6cfa668931ba8</string>
			<key>size</key>
			<integer>1083</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg/constants/protocol.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>96e6ffc9da7bf06d8f917cdedc17e32c16079ba2b523cbf2d5c54757dc21ef78</string>
			<key>size</key>
			<integer>1089</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg/constants/sig/__init__.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>bf5f1873890d1c16a378ecbc24413a6b2d4ac9c52f5dc9aeca2f0b63c827ad40</string>
			<key>size</key>
			<integer>189</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg/constants/sig/mode.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>0d375f69f38e0420e895f36ae9c0e7a11db4c6842828ff7ec33f2aa5e9cb9837</string>
			<key>size</key>
			<integer>1089</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg/constants/sig/notation.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>e68daf8ab20526845c81595c134981ea8e8c763e01454d28c42a60d865de2c43</string>
			<key>size</key>
			<integer>970</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg/constants/sigsum.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>38200f82498d707b6a276f4c9eca26aa1bcd66d60c9faa3ec63eebdea3f41c0a</string>
			<key>size</key>
			<integer>1087</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg/constants/status.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>7f26ea18e8dcfdf64a5a1258055535c5db7f7ec372bb036bd16ba3508b535935</string>
			<key>size</key>
			<integer>3977</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg/constants/tofu/__init__.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>35ac21174b40578431aa904f8f9b2ae7bcb2772327c089e88bd4176443e94e2e</string>
			<key>size</key>
			<integer>891</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg/constants/tofu/policy.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>043f686dc18a182325d5530f085393d52826d17ad589b2de0644a2d2eab366c4</string>
			<key>size</key>
			<integer>944</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg/constants/validity.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>f1aecafa1c4fc41c6ee72d72cf910ca92b6d928f9ccaba276e482a972f550c34</string>
			<key>size</key>
			<integer>1089</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg/core.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>87f7ccf4b68e2a2d0e2d6299d6bdcaab88ca893f1522fc0fe4e3365263de8966</string>
			<key>size</key>
			<integer>55065</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg/errors.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>10c6ce62be518e20f1e7f5b79e26bb1b4d7fd753072cae2c6f543420509095e4</string>
			<key>size</key>
			<integer>6331</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg/gpgme.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>97989c2c5fd24e4182b6d031cd532386cb8213dd9f8db9b23a52c0dfa47fbcb8</string>
			<key>size</key>
			<integer>146186</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg/results.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>6f34b937766487d40c8c9935772ced111a9b4bd12962abcf0e070eecb9c86ac3</string>
			<key>size</key>
			<integer>3240</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg/util.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>a517850f806cc5950a051d885d911c9ec2d27a0769baedd5e9e59f50629775c6</string>
			<key>size</key>
			<integer>1998</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg/version.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>62984076083fba0d5394c0643739ab604867b1655f61451af5add09e5e100486</string>
			<key>size</key>
			<integer>2641</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gpg-1.10.0-py3.9.egg-info</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>7621d51362e469bb05d1b3d8ad6bb09654b39ec9f7c8b10592b088f82f3b91f3</string>
			<key>size</key>
			<integer>964</integer>
		</dict>
	</array>
</dict>
</plist>
