<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gi/overrides</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gi/repository</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/pygtkcompat</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/PyGObject-3.38.0.egg-info</string>
			<key>mtime</key>
			<integer>1602864579</integer>
			<key>sha256</key>
			<string>9c52e223a6f30fa296391fc381cac8a4bae66e519a938edefe0a0346438b775a</string>
			<key>size</key>
			<integer>837</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gi/__init__.py</string>
			<key>mtime</key>
			<integer>1602864579</integer>
			<key>sha256</key>
			<string>736c16e971d3d1c358a5d1527e72bff72b08af95c6dda1ba256e733f3e8ac3d2</string>
			<key>size</key>
			<integer>5811</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gi/_constants.py</string>
			<key>mtime</key>
			<integer>1602864579</integer>
			<key>sha256</key>
			<string>385f285afd878f81e3632eb5ac82b0de78da8d3cd31deef16d40d388527f5fd5</string>
			<key>size</key>
			<integer>1969</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gi/_error.py</string>
			<key>mtime</key>
			<integer>1602864579</integer>
			<key>sha256</key>
			<string>cf35897069c0cf53509cb11ea1e9c299ef958a969e4539ef11be28257854d8a7</string>
			<key>size</key>
			<integer>2082</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gi/_gi.so</string>
			<key>mtime</key>
			<integer>1602864579</integer>
			<key>sha256</key>
			<string>a29f8413004b69f75a76ac97ffab0b32ed4d2b12240f8ca37f6f809f7fbe88cf</string>
			<key>size</key>
			<integer>324024</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gi/_gi_cairo.so</string>
			<key>mtime</key>
			<integer>1602864579</integer>
			<key>sha256</key>
			<string>da53aa13ba10f6a5bfff2d30b945e5828bc0fa2bb23fd3a1eaa9fdb30a4d4651</string>
			<key>size</key>
			<integer>22584</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gi/_gtktemplate.py</string>
			<key>mtime</key>
			<integer>1602864579</integer>
			<key>sha256</key>
			<string>047972c320796146c9addcc64f5de04322869ff84f0ee5e9c0660829066485e5</string>
			<key>size</key>
			<integer>7833</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gi/_option.py</string>
			<key>mtime</key>
			<integer>1602864579</integer>
			<key>sha256</key>
			<string>6406668a1033f5a062a76498f3fef04614e0b5b35490ae28bc6704042221f2b0</string>
			<key>size</key>
			<integer>13140</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gi/_ossighelper.py</string>
			<key>mtime</key>
			<integer>1602864579</integer>
			<key>sha256</key>
			<string>bed7294b0a7f749506b681a1f22090063692e872137ccf261e62b5ba593e6e63</string>
			<key>size</key>
			<integer>7615</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gi/_propertyhelper.py</string>
			<key>mtime</key>
			<integer>1602864579</integer>
			<key>sha256</key>
			<string>2ee25012e4e50602f67b3ff19c69e9da127ef220fffcd522a2a64dc8b884fb3a</string>
			<key>size</key>
			<integer>14163</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gi/_signalhelper.py</string>
			<key>mtime</key>
			<integer>1602864579</integer>
			<key>sha256</key>
			<string>a6c6310c0ec589c6791af9c4727f2e80a677147af38171bf3f4dc62952e22063</string>
			<key>size</key>
			<integer>9303</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gi/docstring.py</string>
			<key>mtime</key>
			<integer>1602864579</integer>
			<key>sha256</key>
			<string>d5bd495299e445d440c99a48ab86ec857458d9a15098e656b2ad79e968f25e54</string>
			<key>size</key>
			<integer>6688</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gi/importer.py</string>
			<key>mtime</key>
			<integer>1602864579</integer>
			<key>sha256</key>
			<string>8aa63785c88ebe1f8a9c51c2d8e1fbc008f261eeed97dd678df53e3391d4c0d0</string>
			<key>size</key>
			<integer>5241</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gi/module.py</string>
			<key>mtime</key>
			<integer>1602864579</integer>
			<key>sha256</key>
			<string>58a1616fc18bacb9d86e1dda4ff887a8b0b6524ef27eb4c4a5abfe032c7a6b72</string>
			<key>size</key>
			<integer>9549</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gi/overrides/GIMarshallingTests.py</string>
			<key>mtime</key>
			<integer>1602864579</integer>
			<key>sha256</key>
			<string>8a893c5442e4398cc0129e78467ae8b9d1f80db39adf463f76de70d3a2dfe33d</string>
			<key>size</key>
			<integer>2242</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gi/overrides/GLib.py</string>
			<key>mtime</key>
			<integer>1602864579</integer>
			<key>sha256</key>
			<string>9075c4077df1b7a888be6f4bc005bd23cfa42c5ba6c01d1ad7f7457e74bb77f8</string>
			<key>size</key>
			<integer>29897</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gi/overrides/GObject.py</string>
			<key>mtime</key>
			<integer>1602864579</integer>
			<key>sha256</key>
			<string>d326b2743f81f0c5ee94df69ce90861875af704992b8e15d1f57cb801f75929b</string>
			<key>size</key>
			<integer>24253</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gi/overrides/Gdk.py</string>
			<key>mtime</key>
			<integer>1602864579</integer>
			<key>sha256</key>
			<string>4ff3ca839ddb39325c7894fb1eaaf909d955b957270efb36734bf4ae4c1ccba7</string>
			<key>size</key>
			<integer>16105</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gi/overrides/GdkPixbuf.py</string>
			<key>mtime</key>
			<integer>1602864579</integer>
			<key>sha256</key>
			<string>9de15ec2a6c8d30f9514ceae057d40e4efc187f6950c4e1b76bee346aa0b64a4</string>
			<key>size</key>
			<integer>1724</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gi/overrides/Gio.py</string>
			<key>mtime</key>
			<integer>1602864579</integer>
			<key>sha256</key>
			<string>a0a42437417a260fa3a87441f393c72843aac7454ce4516c605be991a69a55bd</string>
			<key>size</key>
			<integer>19000</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gi/overrides/Gtk.py</string>
			<key>mtime</key>
			<integer>1602864579</integer>
			<key>sha256</key>
			<string>59cc96ae4f801252d9ad571fcdf8fa5ffe1fc29ee23f305a0ffd2399cd537c38</string>
			<key>size</key>
			<integer>60295</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gi/overrides/Pango.py</string>
			<key>mtime</key>
			<integer>1602864579</integer>
			<key>sha256</key>
			<string>11fbc1a5d6f8fcef50134298ebf4e2fe904cc5032430006854fd74274119cbcb</string>
			<key>size</key>
			<integer>1774</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gi/overrides/__init__.py</string>
			<key>mtime</key>
			<integer>1602864579</integer>
			<key>sha256</key>
			<string>5bc753137a947ca6ce937f9937330363ea1cba74a61ce064091dae6706e52559</string>
			<key>size</key>
			<integer>12590</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gi/overrides/keysyms.py</string>
			<key>mtime</key>
			<integer>1602864579</integer>
			<key>sha256</key>
			<string>2b018f18b9e451114c019b04155cebd081439b2b2bb3c8136d52943b5695d9ce</string>
			<key>size</key>
			<integer>1705</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gi/pygtkcompat.py</string>
			<key>mtime</key>
			<integer>1602864579</integer>
			<key>sha256</key>
			<string>2d6fb183923cff5af13672a479a77109edb4864f0098c779c91cea560be98f84</string>
			<key>size</key>
			<integer>727</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gi/repository/__init__.py</string>
			<key>mtime</key>
			<integer>1602864579</integer>
			<key>sha256</key>
			<string>13b40edcdd3d959d6e3e05daa348f7fa3018dcd0eb7145bf2f6967abf7268502</string>
			<key>size</key>
			<integer>1002</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/gi/types.py</string>
			<key>mtime</key>
			<integer>1602864579</integer>
			<key>sha256</key>
			<string>018d67aff885ab1f10978aaf4739730515a39b2e2e284ec58890f68bbef40801</string>
			<key>size</key>
			<integer>13543</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/pygtkcompat/__init__.py</string>
			<key>mtime</key>
			<integer>1602864579</integer>
			<key>sha256</key>
			<string>5edbf10e1a91e6ef26dbead58e175be30c8d57396da2b9a049ac7264675319f1</string>
			<key>size</key>
			<integer>547</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/pygtkcompat/generictreemodel.py</string>
			<key>mtime</key>
			<integer>1602864579</integer>
			<key>sha256</key>
			<string>c0470849ddedec55954630ab9d98de7b7f7b8c6547089105e367f498d89a7209</string>
			<key>size</key>
			<integer>14200</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/pygtkcompat/pygtkcompat.py</string>
			<key>mtime</key>
			<integer>1602864579</integer>
			<key>sha256</key>
			<string>255c70cc29161cefb925138a9b7115ab76ff1a13b98853280b787b791308f615</string>
			<key>size</key>
			<integer>20672</integer>
		</dict>
	</array>
</dict>
</plist>
