<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/pyxdg-0.27-py3.9.egg-info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/xdg</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/pyxdg-0.27-py3.9.egg-info/PKG-INFO</string>
			<key>mtime</key>
			<integer>1611243834</integer>
			<key>sha256</key>
			<string>c99455cee6be69f33e1fe3a01fdb09a1b8e89fccf1ab1404e8ebdc04141cc0a6</string>
			<key>size</key>
			<integer>534</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/pyxdg-0.27-py3.9.egg-info/SOURCES.txt</string>
			<key>mtime</key>
			<integer>1611243834</integer>
			<key>sha256</key>
			<string>48cafbe72fd4e4f3ceb89665c4a0fa722f79c757e9520b731e228c3027d37971</string>
			<key>size</key>
			<integer>628</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/pyxdg-0.27-py3.9.egg-info/dependency_links.txt</string>
			<key>mtime</key>
			<integer>1611243834</integer>
			<key>sha256</key>
			<string>01ba4719c80b6fe911b091a7c05124b64eeece964e09c058ef8f9805daca546b</string>
			<key>size</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/pyxdg-0.27-py3.9.egg-info/top_level.txt</string>
			<key>mtime</key>
			<integer>1611243834</integer>
			<key>sha256</key>
			<string>a6fff6dcada0dfeacef3fc44b6ed2268825553182737019c74c3023558b1de3d</string>
			<key>size</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/xdg/BaseDirectory.py</string>
			<key>mtime</key>
			<integer>1611243834</integer>
			<key>sha256</key>
			<string>2cb5195f5455d84e9131003f2b5d53a5ec3ba44c34f50dd9289f68804273b0a9</string>
			<key>size</key>
			<integer>5751</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/xdg/Config.py</string>
			<key>mtime</key>
			<integer>1611243834</integer>
			<key>sha256</key>
			<string>95f7143248d42ab854d592e6be0eb4e57dace4e2fbb59bd353c7113feb232f20</string>
			<key>size</key>
			<integer>728</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/xdg/DesktopEntry.py</string>
			<key>mtime</key>
			<integer>1611243834</integer>
			<key>sha256</key>
			<string>1c7792848d1f64a14a397621f86ce91000eb117cfac435c4d480ad682b902fa8</string>
			<key>size</key>
			<integer>17462</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/xdg/Exceptions.py</string>
			<key>mtime</key>
			<integer>1611243834</integer>
			<key>sha256</key>
			<string>18897a2c3b35a4cdb6d4916775e01b433502780f3d3e2ab5a9cce5c3e05f26c5</string>
			<key>size</key>
			<integer>2494</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/xdg/IconTheme.py</string>
			<key>mtime</key>
			<integer>1611243834</integer>
			<key>sha256</key>
			<string>05ffb7a239097b4e563a4c52f8ad7e190d71fcc71eb0b4271246bc396e064a55</string>
			<key>size</key>
			<integer>16087</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/xdg/IniFile.py</string>
			<key>mtime</key>
			<integer>1611243834</integer>
			<key>sha256</key>
			<string>b8f68f5bec100d1abd36272739757214f9a296496c2f97f1d5203b48f36b040b</string>
			<key>size</key>
			<integer>13148</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/xdg/Locale.py</string>
			<key>mtime</key>
			<integer>1611243834</integer>
			<key>sha256</key>
			<string>174c8926e73ffd03283b93f8313978b8e9a1fd321202e1037fc0ed6c43f9d8c5</string>
			<key>size</key>
			<integer>2159</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/xdg/Menu.py</string>
			<key>mtime</key>
			<integer>1611243834</integer>
			<key>sha256</key>
			<string>af25d5568b51dae692d1a246f47c8b68fe712d8fcb36ac9185e39b11c54c44cc</string>
			<key>size</key>
			<integer>39051</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/xdg/MenuEditor.py</string>
			<key>mtime</key>
			<integer>1611243834</integer>
			<key>sha256</key>
			<string>31524f3ccf9674dad7fd4a0f662986ae068f30de1d58ff7bac760f230dbe0525</string>
			<key>size</key>
			<integer>18925</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/xdg/Mime.py</string>
			<key>mtime</key>
			<integer>1611243834</integer>
			<key>sha256</key>
			<string>28418d61a361f4f27b624b43161bf94d2e0a1c4430b85b8684ca38f0e1c7a08e</string>
			<key>size</key>
			<integer>26240</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/xdg/RecentFiles.py</string>
			<key>mtime</key>
			<integer>1611243834</integer>
			<key>sha256</key>
			<string>d8ef7395729a79fbc810c89dbaeb874169d373674642378bd5743c58402a7e5a</string>
			<key>size</key>
			<integer>6186</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/xdg/__init__.py</string>
			<key>mtime</key>
			<integer>1611243834</integer>
			<key>sha256</key>
			<string>88fffe81e4a429925e557b205955e73d426073d91cbf8aa8698af801eb274768</string>
			<key>size</key>
			<integer>171</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/xdg/util.py</string>
			<key>mtime</key>
			<integer>1611243834</integer>
			<key>sha256</key>
			<string>30e8a1b30064540de601d0e06c97d5d5dd4f65d5b8471c0ffb6f0a8b600145c5</string>
			<key>size</key>
			<integer>2779</integer>
		</dict>
	</array>
</dict>
</plist>
