<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/argcomplete</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/argcomplete/bash_completion.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/argcomplete-1.12.2-py3.9.egg-info</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/activate-global-python-argcomplete</string>
			<key>mtime</key>
			<integer>1606212993</integer>
			<key>sha256</key>
			<string>9b72dd1547c6ac365c7b1564529078a909f775f786b6c529979e94ae83f2db21</string>
			<key>size</key>
			<integer>3459</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/python-argcomplete-check-easy-install-script</string>
			<key>mtime</key>
			<integer>1606212993</integer>
			<key>sha256</key>
			<string>a7755fe6577aec9f12e54df0796a321a7b4e59c4f90c9cc6b77ff74796683f82</string>
			<key>size</key>
			<integer>2555</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/python-argcomplete-tcsh</string>
			<key>mtime</key>
			<integer>1606212993</integer>
			<key>sha256</key>
			<string>288ded0261678b6eff30b4dbc13674a71a17874cc3fd4281f54b4bba1e2799e5</string>
			<key>size</key>
			<integer>314</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/register-python-argcomplete</string>
			<key>mtime</key>
			<integer>1606212993</integer>
			<key>sha256</key>
			<string>d31107082643ca82f8c723b8173e97aa8df350e2536f3daa76477cd9aa3cdca7</string>
			<key>size</key>
			<integer>1917</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/argcomplete/__init__.py</string>
			<key>mtime</key>
			<integer>1606212993</integer>
			<key>sha256</key>
			<string>5da0b5a087d60f9129cd5fc651d87664e327fa268a80cb5e6495fe4730d9d52e</string>
			<key>size</key>
			<integer>31772</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/argcomplete/_check_console_script.py</string>
			<key>mtime</key>
			<integer>1606212993</integer>
			<key>sha256</key>
			<string>d5800116aa1699069ee955bf38ff20bddac895a6c2def803a0562f779016bf7f</string>
			<key>size</key>
			<integer>2120</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/argcomplete/_check_module.py</string>
			<key>mtime</key>
			<integer>1606212993</integer>
			<key>sha256</key>
			<string>d3972030033adb25b9cddd928723ec8f0f77b68d873869c8635a3195f5523dfc</string>
			<key>size</key>
			<integer>2593</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/argcomplete/bash_completion.d/python-argcomplete</string>
			<key>mtime</key>
			<integer>1606212993</integer>
			<key>sha256</key>
			<string>27ca6c032ce99bdda2b257cbc5a8e6586790713af41ec8d00db50b8b20afca8c</string>
			<key>size</key>
			<integer>4108</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/argcomplete/compat.py</string>
			<key>mtime</key>
			<integer>1606212993</integer>
			<key>sha256</key>
			<string>d0d9043e7f9406748d37b699b6de958e53136c9656ef21ac58342dfd64825bd7</string>
			<key>size</key>
			<integer>524</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/argcomplete/completers.py</string>
			<key>mtime</key>
			<integer>1606212993</integer>
			<key>sha256</key>
			<string>e40dbc215dcdbeecb1e8e2676a25d9d4e2635e5275d9bfbff070e0f77c25652d</string>
			<key>size</key>
			<integer>3681</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/argcomplete/my_argparse.py</string>
			<key>mtime</key>
			<integer>1606212993</integer>
			<key>sha256</key>
			<string>a945e6bec40a56a8d138be682525a1d786bf6ecad5f069e3c693e4a505721948</string>
			<key>size</key>
			<integer>15351</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/argcomplete/my_shlex.py</string>
			<key>mtime</key>
			<integer>1606212993</integer>
			<key>sha256</key>
			<string>0091393db78560621ffe64f4e06ef60009428a429cb365d91045586b80148fb3</string>
			<key>size</key>
			<integer>13218</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/argcomplete/shell_integration.py</string>
			<key>mtime</key>
			<integer>1606212993</integer>
			<key>sha256</key>
			<string>16ac624a7c20ff014684470a898f5e498c51d085909870e540eb70b244b7eb52</string>
			<key>size</key>
			<integer>4285</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/argcomplete-1.12.2-py3.9.egg-info/PKG-INFO</string>
			<key>mtime</key>
			<integer>1606212993</integer>
			<key>sha256</key>
			<string>07d37171d71342c077501e42f4dbb1179f81c03e687a738d4d9615db2f3ced55</string>
			<key>size</key>
			<integer>20993</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/argcomplete-1.12.2-py3.9.egg-info/SOURCES.txt</string>
			<key>mtime</key>
			<integer>1606212993</integer>
			<key>sha256</key>
			<string>8969cf87b5a51cc7596810a4ab71b7e4b5e9486a4e6a431821808831f83c64e9</string>
			<key>size</key>
			<integer>863</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/argcomplete-1.12.2-py3.9.egg-info/dependency_links.txt</string>
			<key>mtime</key>
			<integer>1606212993</integer>
			<key>sha256</key>
			<string>01ba4719c80b6fe911b091a7c05124b64eeece964e09c058ef8f9805daca546b</string>
			<key>size</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/argcomplete-1.12.2-py3.9.egg-info/not-zip-safe</string>
			<key>mtime</key>
			<integer>1606212993</integer>
			<key>sha256</key>
			<string>01ba4719c80b6fe911b091a7c05124b64eeece964e09c058ef8f9805daca546b</string>
			<key>size</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/argcomplete-1.12.2-py3.9.egg-info/requires.txt</string>
			<key>mtime</key>
			<integer>1606212993</integer>
			<key>sha256</key>
			<string>7443466f563008cefb4147d8bff53b2a2983c272f2572535bd23b554650f6d87</string>
			<key>size</key>
			<integer>262</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/argcomplete-1.12.2-py3.9.egg-info/top_level.txt</string>
			<key>mtime</key>
			<integer>1606212993</integer>
			<key>sha256</key>
			<string>8b0b063b9f94c44841f34f4eb166ce98b8ddf2bf17d71b5763ae663f4d408658</string>
			<key>size</key>
			<integer>12</integer>
		</dict>
	</array>
</dict>
</plist>
