<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/lib-dynload</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/test</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/test/test_tkinter</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/test/test_ttk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/turtledemo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/python3-tkinter</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/lib-dynload/_tkinter.cpython-39-x86_64-linux-gnu.so</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>ce836fd493558c731c94004cc276feed4d7c03ac2280d7c17c5cd1802d3e6263</string>
			<key>size</key>
			<integer>65304</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/__init__.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>a1bb164108802004ec36e71464759ca4c7ad2999967491f879ee3735cada4c56</string>
			<key>size</key>
			<integer>169310</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/__main__.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>9738a6cb9cdd8139721dd82118bd527897db5325d807222883f70fb1c5a1c27e</string>
			<key>size</key>
			<integer>148</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/colorchooser.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>4a0859e0b5d83aba3348b9ec61121ec6f78f0e2ebbc42f770f8c2ad8eeda639a</string>
			<key>size</key>
			<integer>1826</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/commondialog.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>e74b3e3a148512a264a2fc0c51609cb157952f9e45de238ff6108769593a5833</string>
			<key>size</key>
			<integer>1272</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/constants.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>c01314dc51d1c8effeba2528720a65da133596d4143200c68595c02067bf1da2</string>
			<key>size</key>
			<integer>1493</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/dialog.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>6de395b4c6bf2ccb9e2c902fef4a275acf60826f6917d25477eee334812cbdd1</string>
			<key>size</key>
			<integer>1543</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/dnd.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>a946a28308ecbe6534f35e9452154dc3cd987fe8c1dd2efe2c0626fa04b2172a</string>
			<key>size</key>
			<integer>11528</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/filedialog.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>40ca1eb54ae90fe4728a601ed8f522da5b85f69ad712d19e665af38c34c9011e</string>
			<key>size</key>
			<integer>14868</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/font.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>97c065bb228967a208b31646e992bbf22530045ae8955e7545d559ade461a939</string>
			<key>size</key>
			<integer>6728</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/messagebox.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>cdbf655c66778a19f0e25754a5f198a850c8bd958ce651e8fe4b2b52ad7f9c63</string>
			<key>size</key>
			<integer>3861</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/scrolledtext.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>c7cc050ec9cc3cc6a47215b5bc79b2d3e5c6ed895a4300ab0e20f6c249385e3f</string>
			<key>size</key>
			<integer>1816</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/simpledialog.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>d787abd96f73f9a2bfcddc724fbea6318d58e0be88c09a3aceecc5a838a0b213</string>
			<key>size</key>
			<integer>11430</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/test/README</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>fe3c79d5da8616ca37f7a9d8fddaac2c9164b593c7b116580aa99690a5f59ab5</string>
			<key>size</key>
			<integer>566</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/test/__init__.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/test/runtktests.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>dce53b8bfaf4395bfa2d45df86340ebb3a539d3152abe1953486d6cea09b5b9b</string>
			<key>size</key>
			<integer>2230</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/test/support.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>d61818778ab5c10a8ce8e133d4e72fb5c8705b3fd50907352488def993cfaefd</string>
			<key>size</key>
			<integer>3722</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/test/test_tkinter/__init__.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/test/test_tkinter/test_font.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>4843dd05c7c836c2f464815b13012f56bfc455fa69ae933de02523716321e60b</string>
			<key>size</key>
			<integer>4055</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/test/test_tkinter/test_geometry_managers.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>503cee89ea7c78c4df4107ebd5f3b99d095c8b0cb131f76e03f4f54103638e24</string>
			<key>size</key>
			<integer>41015</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/test/test_tkinter/test_images.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>47ee3157aa0628647f6a371be200d211588ce32419c087c5f1f34a398c4ceaf9</string>
			<key>size</key>
			<integer>13752</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/test/test_tkinter/test_loadtk.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>778c714434a0e5c0b018a30129408414e7b723705f8f6450040d2802a0983828</string>
			<key>size</key>
			<integer>1503</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/test/test_tkinter/test_misc.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>6e0f2fcc0c3ceafafd9335aded509b538868cff5aaefda0ac4d0c7e1d3fce2cb</string>
			<key>size</key>
			<integer>8726</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/test/test_tkinter/test_text.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>3ab5eb4b00a59e7a47e477c0969f939c5f01006669ebec31208e34ad114f24ce</string>
			<key>size</key>
			<integer>1442</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/test/test_tkinter/test_variables.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>f6754e70eadf7f0fe52b8a3051c50ef92894c7363310e5aa0574e4d44708fb84</string>
			<key>size</key>
			<integer>10002</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/test/test_tkinter/test_widgets.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>b77ab5060aab0064fad59efd84289082ba557d77860e10f85f27a2c0feed157b</string>
			<key>size</key>
			<integer>50422</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/test/test_ttk/__init__.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/test/test_ttk/test_extensions.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>ce91c9455201e10439d810fec050f7450c97a8374fb87fed9edbb26c504f4d74</string>
			<key>size</key>
			<integer>11525</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/test/test_ttk/test_functions.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>7d8be53985de10ae59e67504345645d6e7e0d0f9bf932e2d4a9077b2d95425e6</string>
			<key>size</key>
			<integer>17101</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/test/test_ttk/test_style.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>592ee6038fe5df7d7d95ea27ed9b8bacf29d71149d5231d127c1c079868003de</string>
			<key>size</key>
			<integer>6774</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/test/test_ttk/test_widgets.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>a278eb2384006da31f59b47c8d2876d3b8d1a62b4f2d42ed281daa5ce54bce18</string>
			<key>size</key>
			<integer>67329</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/test/widget_tests.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>e7d9ccd46eef37c073ee068e2f743292fe76f56e9a2aefffe2c7407c5d64210f</string>
			<key>size</key>
			<integer>19911</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/tix.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>f44898b45485eb74c2051f345efcf31363acae7621f33a556a72ab98f1ed0f3c</string>
			<key>size</key>
			<integer>77090</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/tkinter/ttk.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>662f9584303a211b495f63fa0ca995cc61d1e0ee88340226f768875df6e1cbdb</string>
			<key>size</key>
			<integer>57204</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/turtle.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>e84e89194e6f32f2c2a33422049bdf27a66f4236219ff41a75b03969cfbe98b5</string>
			<key>size</key>
			<integer>143632</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/turtledemo/__init__.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>5f465277c96c107a5af544b0a962561f97cb0bfd75906d9bf9741450ed02b0e1</string>
			<key>size</key>
			<integer>314</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/turtledemo/__main__.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>c262c9714b28bf3eab98eea927597607b966a00bb2d8999a71168d6d55e72910</string>
			<key>size</key>
			<integer>14260</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/turtledemo/bytedesign.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>cb64fae27101e50642446df29709d5c54b08e433fd6d755101c46b4f87563a43</string>
			<key>size</key>
			<integer>4244</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/turtledemo/chaos.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>bc8a3a9b77e90446fb7060ff68ee008ffd6b23b366052207ec225cc163b4dae5</string>
			<key>size</key>
			<integer>951</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/turtledemo/clock.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>0744e32ee2f9a3c2c976a9c866d8b2e555383463a20adf8fc20be48ca94cef1d</string>
			<key>size</key>
			<integer>3197</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/turtledemo/colormixer.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>bbb065830edb37fd53b1c004118853176fd8da32ee532cb0d363960880920374</string>
			<key>size</key>
			<integer>1339</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/turtledemo/forest.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>0668a3b8ebe2625a1f8e16dbf863fb49263514057437e61a7b760c3aeab6ad37</string>
			<key>size</key>
			<integer>2962</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/turtledemo/fractalcurves.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>eca3c08487f6a95a89b7110ca76e34523a816d7b0863c1b28525af069a7be1c5</string>
			<key>size</key>
			<integer>3469</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/turtledemo/lindenmayer.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>824f76fdccbd2a7cfdcad6364f54f9147c5a7895e85975e5b6c0e17031f02694</string>
			<key>size</key>
			<integer>2430</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/turtledemo/minimal_hanoi.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>62bda7389bec12a36fee856470291993027dbf801a055679ab552fc4727b0d75</string>
			<key>size</key>
			<integer>2047</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/turtledemo/nim.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>939d1ee904a7b00579bb44719b0286e7524bf560c7ffff6d482064b41b09fdb3</string>
			<key>size</key>
			<integer>6513</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/turtledemo/paint.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>a3ca19c0041a1f29a3bf5c712449ec952a545c7ada8e62eef5d92edd3261bd0d</string>
			<key>size</key>
			<integer>1287</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/turtledemo/peace.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>3a2233e12b7c88a13c5621222c781f8ef0d962ff2d8d7fbc942c6f2deeb2940c</string>
			<key>size</key>
			<integer>1062</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/turtledemo/penrose.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>fb8d39e4263dc8836e8edcd19ba3c3f79666f9bd00b9d575dc14d3754fa84583</string>
			<key>size</key>
			<integer>3376</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/turtledemo/planet_and_moon.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>9eb9aeb731bdd09b78d1e456960468d5a3858de23f7953327d1f740bb47f0a9a</string>
			<key>size</key>
			<integer>2821</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/turtledemo/rosette.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>61dfd5bb932cc5a0c3bb9caa8ed74889a19a8d3ee3cb6707ea8f63595ec350b0</string>
			<key>size</key>
			<integer>1361</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/turtledemo/round_dance.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>4ecaac02e68f11ec1a406a6ce8a4b17e4f8af74f76157e0776360d0dd041f276</string>
			<key>size</key>
			<integer>1804</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/turtledemo/sorting_animate.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>2493930844b3e3226dba700a95839a0736a3e0c70b10986247816bb46e976aa4</string>
			<key>size</key>
			<integer>5048</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/turtledemo/tree.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>315844e8338841d7d2e41862d605caaf5bc4b6d5cc47469909951ff405660c60</string>
			<key>size</key>
			<integer>1397</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/turtledemo/turtle.cfg</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>de66698dc4f083792df6aaed1e5d94e879852d72f1f24ac09c8fb4cd144c6c88</string>
			<key>size</key>
			<integer>160</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/turtledemo/two_canvases.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>e408c4bfbf1eea64fa2881fd1710f09db6d530e4b0be0534b57fd2a1d407784f</string>
			<key>size</key>
			<integer>1120</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/turtledemo/yinyang.py</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>2d248e83fbd57912bcf20aaf5bafa65c175dd9e35c05b7d0f7ed6812085f0669</string>
			<key>size</key>
			<integer>817</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/python3-tkinter/LICENSE</string>
			<key>mtime</key>
			<integer>1607524762</integer>
			<key>sha256</key>
			<string>1dceef1677a39befa8bf0285ab2db441ba117520bb2de839547ace006a17750d</string>
			<key>size</key>
			<integer>13919</integer>
		</dict>
	</array>
</dict>
</plist>
