<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/status</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/status</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/192x192</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/192x192/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/192x192/status</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/22x22</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/22x22/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/22x22/status</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/status</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/status</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/36x36</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/36x36/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/36x36/status</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/status</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/64x64</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/64x64/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/64x64/status</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/72x72</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/72x72/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/72x72/status</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/96x96</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/96x96/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/96x96/status</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/status</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/metainfo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pixmaps</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/qbittorrent</string>
			<key>mtime</key>
			<integer>1611275199</integer>
			<key>sha256</key>
			<string>2ff3836c5c0e75f33729e999ee9d8b1ea921b1aad87de03a054274cbc38a8793</string>
			<key>size</key>
			<integer>7313936</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/org.qbittorrent.qBittorrent.desktop</string>
			<key>mtime</key>
			<integer>1611275199</integer>
			<key>sha256</key>
			<string>c74ea846a7c63caa5ed94adf0eb476b2958e2c1c015e456f085d5ab7adcf899f</string>
			<key>size</key>
			<integer>9756</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps/qbittorrent.png</string>
			<key>mtime</key>
			<integer>1611275199</integer>
			<key>sha256</key>
			<string>ff88b351c3d621ed42c679d910fa8251dcb7242deeb1c6ccfb9a859418f8aed6</string>
			<key>size</key>
			<integer>7674</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/status/qbittorrent-tray.png</string>
			<key>mtime</key>
			<integer>1611275199</integer>
			<key>sha256</key>
			<string>ff88b351c3d621ed42c679d910fa8251dcb7242deeb1c6ccfb9a859418f8aed6</string>
			<key>size</key>
			<integer>7674</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/apps/qbittorrent.png</string>
			<key>mtime</key>
			<integer>1611275199</integer>
			<key>sha256</key>
			<string>faeb659c3d4a6db9f18378f02a6c15d05dd46c6f9e94e9229e00d4ccf1e10dce</string>
			<key>size</key>
			<integer>775</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/status/qbittorrent-tray.png</string>
			<key>mtime</key>
			<integer>1611275199</integer>
			<key>sha256</key>
			<string>faeb659c3d4a6db9f18378f02a6c15d05dd46c6f9e94e9229e00d4ccf1e10dce</string>
			<key>size</key>
			<integer>775</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/192x192/apps/qbittorrent.png</string>
			<key>mtime</key>
			<integer>1611275199</integer>
			<key>sha256</key>
			<string>82978520301d18ad221690ba415dc9484c126487529eccfdb50c4ebf2d693111</string>
			<key>size</key>
			<integer>11562</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/192x192/status/qbittorrent-tray.png</string>
			<key>mtime</key>
			<integer>1611275199</integer>
			<key>sha256</key>
			<string>82978520301d18ad221690ba415dc9484c126487529eccfdb50c4ebf2d693111</string>
			<key>size</key>
			<integer>11562</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/22x22/apps/qbittorrent.png</string>
			<key>mtime</key>
			<integer>1611275199</integer>
			<key>sha256</key>
			<string>fd4ea8cd52fa93bf1fb43b0fccffffc35411aa08f579e02740504c88050986d9</string>
			<key>size</key>
			<integer>1163</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/22x22/status/qbittorrent-tray.png</string>
			<key>mtime</key>
			<integer>1611275199</integer>
			<key>sha256</key>
			<string>fd4ea8cd52fa93bf1fb43b0fccffffc35411aa08f579e02740504c88050986d9</string>
			<key>size</key>
			<integer>1163</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/apps/qbittorrent.png</string>
			<key>mtime</key>
			<integer>1611275199</integer>
			<key>sha256</key>
			<string>0c66ffd23d12bdbc551a13b10505b7f3b323bb61d61b74e9cddd1ec700e5f0b8</string>
			<key>size</key>
			<integer>1228</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/status/qbittorrent-tray.png</string>
			<key>mtime</key>
			<integer>1611275199</integer>
			<key>sha256</key>
			<string>0c66ffd23d12bdbc551a13b10505b7f3b323bb61d61b74e9cddd1ec700e5f0b8</string>
			<key>size</key>
			<integer>1228</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps/qbittorrent.png</string>
			<key>mtime</key>
			<integer>1611275199</integer>
			<key>sha256</key>
			<string>91ff244195b3f7f947a5ee04c4bd4577efea435eea31fd06874db3038fad1d9a</string>
			<key>size</key>
			<integer>1734</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/status/qbittorrent-tray.png</string>
			<key>mtime</key>
			<integer>1611275199</integer>
			<key>sha256</key>
			<string>91ff244195b3f7f947a5ee04c4bd4577efea435eea31fd06874db3038fad1d9a</string>
			<key>size</key>
			<integer>1734</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/36x36/apps/qbittorrent.png</string>
			<key>mtime</key>
			<integer>1611275199</integer>
			<key>sha256</key>
			<string>a1e3720433c2a57723e0c25e693a79a25849b363c3e8e591260f54057a715293</string>
			<key>size</key>
			<integer>2045</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/36x36/status/qbittorrent-tray.png</string>
			<key>mtime</key>
			<integer>1611275199</integer>
			<key>sha256</key>
			<string>a1e3720433c2a57723e0c25e693a79a25849b363c3e8e591260f54057a715293</string>
			<key>size</key>
			<integer>2045</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/apps/qbittorrent.png</string>
			<key>mtime</key>
			<integer>1611275199</integer>
			<key>sha256</key>
			<string>a698855c1633468fcfd0ac2e5ccc3bbd2b175dafa64e826089cce5ac93e6fd1b</string>
			<key>size</key>
			<integer>2960</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/status/qbittorrent-tray.png</string>
			<key>mtime</key>
			<integer>1611275199</integer>
			<key>sha256</key>
			<string>a698855c1633468fcfd0ac2e5ccc3bbd2b175dafa64e826089cce5ac93e6fd1b</string>
			<key>size</key>
			<integer>2960</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/64x64/apps/qbittorrent.png</string>
			<key>mtime</key>
			<integer>1611275199</integer>
			<key>sha256</key>
			<string>2945dc041fabc4bfcc940ef400d457886e09e724118415d09fcd74d0954ef5a1</string>
			<key>size</key>
			<integer>3940</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/64x64/status/qbittorrent-tray.png</string>
			<key>mtime</key>
			<integer>1611275199</integer>
			<key>sha256</key>
			<string>2945dc041fabc4bfcc940ef400d457886e09e724118415d09fcd74d0954ef5a1</string>
			<key>size</key>
			<integer>3940</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/72x72/apps/qbittorrent.png</string>
			<key>mtime</key>
			<integer>1611275199</integer>
			<key>sha256</key>
			<string>ea88f48cd78a4d4c2b39c261cc30331259fa88b4ddda860b5cf7fc2cb1cd665b</string>
			<key>size</key>
			<integer>4288</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/72x72/status/qbittorrent-tray.png</string>
			<key>mtime</key>
			<integer>1611275199</integer>
			<key>sha256</key>
			<string>ea88f48cd78a4d4c2b39c261cc30331259fa88b4ddda860b5cf7fc2cb1cd665b</string>
			<key>size</key>
			<integer>4288</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/96x96/apps/qbittorrent.png</string>
			<key>mtime</key>
			<integer>1611275199</integer>
			<key>sha256</key>
			<string>f4b4ed2108c80b0d600faca7d86e7560f7991fa08eef60fdf7280888840cf743</string>
			<key>size</key>
			<integer>5624</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/96x96/status/qbittorrent-tray.png</string>
			<key>mtime</key>
			<integer>1611275199</integer>
			<key>sha256</key>
			<string>f4b4ed2108c80b0d600faca7d86e7560f7991fa08eef60fdf7280888840cf743</string>
			<key>size</key>
			<integer>5624</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/status/qbittorrent-tray-dark.svg</string>
			<key>mtime</key>
			<integer>1611275199</integer>
			<key>sha256</key>
			<string>072a061bc39c14e945997f257464f7555532cf54fd5f98e37ff67e18bd9cc26b</string>
			<key>size</key>
			<integer>1606</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/status/qbittorrent-tray-light.svg</string>
			<key>mtime</key>
			<integer>1611275199</integer>
			<key>sha256</key>
			<string>f280d617e37b1db1515b7ab968891857010fc6277943b755760d75f2823a0854</string>
			<key>size</key>
			<integer>1606</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/status/qbittorrent-tray.svg</string>
			<key>mtime</key>
			<integer>1611275199</integer>
			<key>sha256</key>
			<string>1930d0ce62e017f677d39150ee5b8746600938c5be27d75a326d631cc87a535b</string>
			<key>size</key>
			<integer>1487</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/qbittorrent.1</string>
			<key>mtime</key>
			<integer>1611275199</integer>
			<key>sha256</key>
			<string>c2b7bedaeaf4e8117125c936529e8a9ea6f5abca4929db04ee8a20ebc80204e3</string>
			<key>size</key>
			<integer>1290</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/metainfo/org.qbittorrent.qBittorrent.appdata.xml</string>
			<key>mtime</key>
			<integer>1611275199</integer>
			<key>sha256</key>
			<string>c201db536380232eaad48d02df2b17e06c97538b62daed377e2683ead7179745</string>
			<key>size</key>
			<integer>3549</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pixmaps/qbittorrent.png</string>
			<key>mtime</key>
			<integer>1611275199</integer>
			<key>sha256</key>
			<string>ff88b351c3d621ed42c679d910fa8251dcb7242deeb1c6ccfb9a859418f8aed6</string>
			<key>size</key>
			<integer>7674</integer>
		</dict>
	</array>
</dict>
</plist>
