<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qca-qt5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qca-qt5/crypto</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/mozcerts-qt5</string>
			<key>mtime</key>
			<integer>1597435795</integer>
			<key>sha256</key>
			<string>5fef0309a0618a6e2ea3b4d7edf5901fef0636ac7c276d38544ec7dcda4b93b5</string>
			<key>size</key>
			<integer>22840</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qcatool-qt5</string>
			<key>mtime</key>
			<integer>1597435795</integer>
			<key>sha256</key>
			<string>fd96d51f5d20c119843647b70933cf404b84f84985e29e9acc0bb615793194b2</string>
			<key>size</key>
			<integer>301464</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libqca-qt5.so.2.3.1</string>
			<key>mtime</key>
			<integer>1597435795</integer>
			<key>sha256</key>
			<string>b6adbe18be3edf83442fd650ae4c8e791771fd58b068f9501ea999280db5f812</string>
			<key>size</key>
			<integer>1259680</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qca-qt5/crypto/libqca-gcrypt.so</string>
			<key>mtime</key>
			<integer>1597435795</integer>
			<key>sha256</key>
			<string>3cbf1e8d12dc9a883237f0e3408ba97f2803999c41d0f3547561dfa5071f0439</string>
			<key>size</key>
			<integer>76000</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qca-qt5/crypto/libqca-gnupg.so</string>
			<key>mtime</key>
			<integer>1597435795</integer>
			<key>sha256</key>
			<string>d5ebfae7a62a78a79f2307aa7bdbef832548597ca4ff6d05401fdd4cfac13dc2</string>
			<key>size</key>
			<integer>305384</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qca-qt5/crypto/libqca-logger.so</string>
			<key>mtime</key>
			<integer>1597435795</integer>
			<key>sha256</key>
			<string>4cf1c3e5f6b42a81ee1e03fe77141d26128cb1d9cb08a0df5f58f1a442a55b5f</string>
			<key>size</key>
			<integer>63816</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qca-qt5/crypto/libqca-nss.so</string>
			<key>mtime</key>
			<integer>1597435795</integer>
			<key>sha256</key>
			<string>bcf39e472b294debb7fd0e3af397e4c08cb9e7083ad9080cea4252d556a178ca</string>
			<key>size</key>
			<integer>51416</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qca-qt5/crypto/libqca-softstore.so</string>
			<key>mtime</key>
			<integer>1597435795</integer>
			<key>sha256</key>
			<string>a0fb5d196c2c6b5e41ed2ae0974f95104657c607a51414801b5db4de51a5de70</string>
			<key>size</key>
			<integer>145632</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/qcatool-qt5.1</string>
			<key>mtime</key>
			<integer>1597435795</integer>
			<key>sha256</key>
			<string>d0810eaf2fe5a279bcec74e8e72d7bd36543a38a4417b2d6cb764a5bff29eb6a</string>
			<key>size</key>
			<integer>5134</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libqca-qt5.so.2</string>
			<key>mtime</key>
			<integer>1597435795</integer>
			<key>target</key>
			<string>/usr/lib/libqca-qt5.so.2.3.1</string>
		</dict>
	</array>
</dict>
</plist>
