<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/qemu-aarch64-static</string>
			<key>mtime</key>
			<integer>1613067721</integer>
			<key>sha256</key>
			<string>ccd5368e3be3cd6d27bbf45b4230a12b4203059011cf15565f28202365a0918a</string>
			<key>size</key>
			<integer>9759304</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qemu-aarch64_be-static</string>
			<key>mtime</key>
			<integer>1613067721</integer>
			<key>sha256</key>
			<string>1c98f09d3aefaf023a0dc1b3e3535d7505975f903bcab11d19a53bbf280cefd4</string>
			<key>size</key>
			<integer>9767496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qemu-alpha-static</string>
			<key>mtime</key>
			<integer>1613067721</integer>
			<key>sha256</key>
			<string>5ed11e4fe43e8fb00db4a7d5b2365f7029e1190867e40d2587f55a490690997b</string>
			<key>size</key>
			<integer>7803768</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qemu-arm-static</string>
			<key>mtime</key>
			<integer>1613067721</integer>
			<key>sha256</key>
			<string>700307513c4fbf2478458c6ef4f8a74f15fed22d60b9a516822c45b4b052a405</string>
			<key>size</key>
			<integer>8719144</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qemu-armeb-static</string>
			<key>mtime</key>
			<integer>1613067721</integer>
			<key>sha256</key>
			<string>c8466a92868be8fd71b06da16bd8c0bb8f0854446291af5616718cdf22d1f70d</string>
			<key>size</key>
			<integer>8731432</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qemu-cris-static</string>
			<key>mtime</key>
			<integer>1613067721</integer>
			<key>sha256</key>
			<string>0ebcee58e877e5f5425864b31f9ab9cf173e0ec241a170af052ac10d4c1dccc8</string>
			<key>size</key>
			<integer>7816312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qemu-hppa-static</string>
			<key>mtime</key>
			<integer>1613067721</integer>
			<key>sha256</key>
			<string>d78399a8e57a84ed4670e350dc2e86a00e7b40e23e247d8c147a53d6dd30965b</string>
			<key>size</key>
			<integer>7848824</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qemu-i386-static</string>
			<key>mtime</key>
			<integer>1613067721</integer>
			<key>sha256</key>
			<string>9b14367d78215b4db1aeab01c8fceb8664bf6420ae0d28cd94487b4b257b61c7</string>
			<key>size</key>
			<integer>8367096</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qemu-m68k-static</string>
			<key>mtime</key>
			<integer>1613067721</integer>
			<key>sha256</key>
			<string>e45934b1acecefc1d8879f8e79adacc9e2a192a4ce74514eb37fc6920f3bff76</string>
			<key>size</key>
			<integer>8045560</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qemu-microblaze-static</string>
			<key>mtime</key>
			<integer>1613067721</integer>
			<key>sha256</key>
			<string>49eadf639024ecf8c55f9cb99463e4522833cfbb67212207dbcb2768bc22bf23</string>
			<key>size</key>
			<integer>7813784</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qemu-microblazeel-static</string>
			<key>mtime</key>
			<integer>1613067721</integer>
			<key>sha256</key>
			<string>6d21e8e38ae80a952e27f98a5108a948ed7a6f7cad9fe8010bac420d11c4eaab</string>
			<key>size</key>
			<integer>7805592</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qemu-mips-static</string>
			<key>mtime</key>
			<integer>1613067721</integer>
			<key>sha256</key>
			<string>a67002c6261c9e483e494d155011a4cd37ac0db6ff71379443eb9f74fde6e03e</string>
			<key>size</key>
			<integer>9257264</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qemu-mips64-static</string>
			<key>mtime</key>
			<integer>1613067721</integer>
			<key>sha256</key>
			<string>9cea351ea8d3973e4b31caa80935496b7a99bf28592ceca2980a009db56dbe9b</string>
			<key>size</key>
			<integer>9285712</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qemu-mips64el-static</string>
			<key>mtime</key>
			<integer>1613067721</integer>
			<key>sha256</key>
			<string>31cfd0cf97b38935b1ef039fc69e1d632219582ff9b01dd7ba4fc9896a96d1ac</string>
			<key>size</key>
			<integer>9273424</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qemu-mipsel-static</string>
			<key>mtime</key>
			<integer>1613067721</integer>
			<key>sha256</key>
			<string>06a731a20cb192916cee66f8be0abd7cb16b71d66394c0e9274c4fa3663adedb</string>
			<key>size</key>
			<integer>9249072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qemu-mipsn32-static</string>
			<key>mtime</key>
			<integer>1613067721</integer>
			<key>sha256</key>
			<string>d22ac051c199a4c3ae6c7b9aca0b691603b43b05e35fda86deb3299821b8c89a</string>
			<key>size</key>
			<integer>9298000</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qemu-mipsn32el-static</string>
			<key>mtime</key>
			<integer>1613067721</integer>
			<key>sha256</key>
			<string>ebf50f3b4346f2cb31efb2a99bf020ae95b8b551a0e47be88b92087acf2fcb19</string>
			<key>size</key>
			<integer>9289808</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qemu-nios2-static</string>
			<key>mtime</key>
			<integer>1613067721</integer>
			<key>sha256</key>
			<string>393801c0b124b118b7f58c49700d124969199e480195a6b188985ba4a4902daf</string>
			<key>size</key>
			<integer>7765560</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qemu-or1k-static</string>
			<key>mtime</key>
			<integer>1613067721</integer>
			<key>sha256</key>
			<string>3b61d1b18e28ad135c679d946b61973b460186f0fb7c788e8e9e552f473b33a3</string>
			<key>size</key>
			<integer>7758616</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qemu-ppc-static</string>
			<key>mtime</key>
			<integer>1613067721</integer>
			<key>sha256</key>
			<string>f08bc6d7ef3b494af893aeda979ad57be0e72b0ba813bf4ac5954095b1e6c1ac</string>
			<key>size</key>
			<integer>8795192</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qemu-ppc64-static</string>
			<key>mtime</key>
			<integer>1613067721</integer>
			<key>sha256</key>
			<string>4af29852fe778ed5abdf945d9a4bf71ddeda3c0a9383c2abfc8f4213e008a184</string>
			<key>size</key>
			<integer>8838200</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qemu-ppc64le-static</string>
			<key>mtime</key>
			<integer>1613067721</integer>
			<key>sha256</key>
			<string>fe83b19b87380e0131ddac01038e778cab9897ee357493f59644ef4d774fbdc9</string>
			<key>size</key>
			<integer>8830008</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qemu-riscv32-static</string>
			<key>mtime</key>
			<integer>1613067721</integer>
			<key>sha256</key>
			<string>916b1ddd1da1e8ca3348b2f2202b41dcd08568b26b02bbe148adb16b8ca2cb99</string>
			<key>size</key>
			<integer>8562872</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qemu-riscv64-static</string>
			<key>mtime</key>
			<integer>1613067721</integer>
			<key>sha256</key>
			<string>aa90aee2fd30456245730f1dd64de6b8cbfe2e7f6a920151e73c75a4a981c664</string>
			<key>size</key>
			<integer>8587672</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qemu-s390x-static</string>
			<key>mtime</key>
			<integer>1613067721</integer>
			<key>sha256</key>
			<string>96dd15c770dfb146b9d9e8a76d082c5d9895569b7a98a88e8da343ad25bd5234</string>
			<key>size</key>
			<integer>8138904</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qemu-sh4-static</string>
			<key>mtime</key>
			<integer>1613067721</integer>
			<key>sha256</key>
			<string>734ed454dc28847283623e8d4832cf622310e7e0438e9ea946982b8a719ec14e</string>
			<key>size</key>
			<integer>7824504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qemu-sh4eb-static</string>
			<key>mtime</key>
			<integer>1613067721</integer>
			<key>sha256</key>
			<string>88702d42f594ab5f5bc1fbfd9189fd3712eb318bc5e14827643542ac3598b608</string>
			<key>size</key>
			<integer>7828600</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qemu-sparc-static</string>
			<key>mtime</key>
			<integer>1613067721</integer>
			<key>sha256</key>
			<string>5b71b998a759fac8a8342541c8d68e6f24c8aa7cff423507207ec3d50a06ef9a</string>
			<key>size</key>
			<integer>7936568</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qemu-sparc32plus-static</string>
			<key>mtime</key>
			<integer>1613067721</integer>
			<key>sha256</key>
			<string>86ca0fc85834656dba5017ff4701c9675bc271154ea8257f370938647244c5de</string>
			<key>size</key>
			<integer>7982392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qemu-sparc64-static</string>
			<key>mtime</key>
			<integer>1613067721</integer>
			<key>sha256</key>
			<string>79e7bef2436dd1596af90d4b340d07f224a9deccf018ad82fc7304a5f3ccafcc</string>
			<key>size</key>
			<integer>7970104</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qemu-x86_64-static</string>
			<key>mtime</key>
			<integer>1613067721</integer>
			<key>sha256</key>
			<string>f26fcff6e23f3ddbee137779062e0b44fcfc477b1e63f10762371ff26bace18c</string>
			<key>size</key>
			<integer>8350488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qemu-xtensa-static</string>
			<key>mtime</key>
			<integer>1613067721</integer>
			<key>sha256</key>
			<string>03b6683cd1b6e8415d0e528d94824d63519fe8809606b6d3e9f73afb6283e1a8</string>
			<key>size</key>
			<integer>10815352</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qemu-xtensaeb-static</string>
			<key>mtime</key>
			<integer>1613067721</integer>
			<key>sha256</key>
			<string>4d8651c30c5e43bb976ac1d4bd9a72921910ca9a13ffb3f27c2760e5a34e974d</string>
			<key>size</key>
			<integer>10754584</integer>
		</dict>
	</array>
</dict>
</plist>
