<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5/qsci</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5/qsci/api</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5/qsci/api/python</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5/translations</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libqscintilla2_qt5.so.15.0.0</string>
			<key>mtime</key>
			<integer>1562784879</integer>
			<key>sha256</key>
			<string>6723584ed4f03e567b5cd0a70b7b8547c043ba3a720c8d1380dc6f8fb5965562</string>
			<key>size</key>
			<integer>3971784</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5/qsci/api/python/Python-2.4.api</string>
			<key>mtime</key>
			<integer>1562784879</integer>
			<key>sha256</key>
			<string>e6fdce2ad7293fb4cb7c99a02efcf7d608a76c0156a023613cc5a1726de13692</string>
			<key>size</key>
			<integer>172772</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5/qsci/api/python/Python-2.5.api</string>
			<key>mtime</key>
			<integer>1562784879</integer>
			<key>sha256</key>
			<string>cb60f5ec0f7e51681bf3ba959a5c42d04e2c4e8553ba1a0fc6b9c6f2b98414a3</string>
			<key>size</key>
			<integer>199839</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5/qsci/api/python/Python-2.6.api</string>
			<key>mtime</key>
			<integer>1562784879</integer>
			<key>sha256</key>
			<string>703e5814f2288644f8c138d509b99da23720a5b180476bb98a52372bb40e1272</string>
			<key>size</key>
			<integer>191764</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5/qsci/api/python/Python-2.7.api</string>
			<key>mtime</key>
			<integer>1562784879</integer>
			<key>sha256</key>
			<string>6334dcc64e646a736d2046528ac7e0d07c96880799065fd24d6cecc81e85f17d</string>
			<key>size</key>
			<integer>192152</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5/qsci/api/python/Python-3.1.api</string>
			<key>mtime</key>
			<integer>1562784879</integer>
			<key>sha256</key>
			<string>acb3609c762d959d663c930c33fe98c1a1ca48e2a9f0890018bde23334fc5ea1</string>
			<key>size</key>
			<integer>175453</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5/qsci/api/python/Python-3.2.api</string>
			<key>mtime</key>
			<integer>1562784879</integer>
			<key>sha256</key>
			<string>4cf14ecaa2e013c56de1b2230013e83d6fa59458df03ace13b184f73c92733bc</string>
			<key>size</key>
			<integer>156049</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5/qsci/api/python/Python-3.3.api</string>
			<key>mtime</key>
			<integer>1562784879</integer>
			<key>sha256</key>
			<string>3bfccf63c27c7d597249558dbddf586edea5336dedb34207ba9b44bc25270f86</string>
			<key>size</key>
			<integer>254493</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5/qsci/api/python/Python-3.4.api</string>
			<key>mtime</key>
			<integer>1562784879</integer>
			<key>sha256</key>
			<string>08f8a881169035ee9ee7970cf000bd689152ffbf75dab78a9d9c69f441c43598</string>
			<key>size</key>
			<integer>246543</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5/qsci/api/python/Python-3.5.api</string>
			<key>mtime</key>
			<integer>1562784879</integer>
			<key>sha256</key>
			<string>050514c2049dc0e54a8ac8639124327efb0e00c9a3ef7113cb60de12003869e5</string>
			<key>size</key>
			<integer>238049</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5/qsci/api/python/Python-3.6.api</string>
			<key>mtime</key>
			<integer>1562784879</integer>
			<key>sha256</key>
			<string>1cc5bd40751f87eb250be925e67fc8dfab6f43fda70da9485eb2ef6a5c2a4e6a</string>
			<key>size</key>
			<integer>234256</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5/qsci/api/python/Python-3.7.api</string>
			<key>mtime</key>
			<integer>1562784879</integer>
			<key>sha256</key>
			<string>0291f73b88994280a9428c04e3d40a7d72be498da07f03e1fa5387634032a029</string>
			<key>size</key>
			<integer>233756</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5/qsci/api/python/Python-3.8.api</string>
			<key>mtime</key>
			<integer>1562784879</integer>
			<key>sha256</key>
			<string>de801216028fc0ddf5038688105ac768f89eba2c0538a11d84b19f9bef33626c</string>
			<key>size</key>
			<integer>240657</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5/translations/qscintilla_cs.qm</string>
			<key>mtime</key>
			<integer>1562784879</integer>
			<key>sha256</key>
			<string>a18a58016da0baf280c47bfc0622cfedcf8e36c51d2a0c0c767b348877b600ea</string>
			<key>size</key>
			<integer>44424</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5/translations/qscintilla_de.qm</string>
			<key>mtime</key>
			<integer>1562784879</integer>
			<key>sha256</key>
			<string>6fdf5e7c0576cc5c48f97ca3698570f585b3de47322c8d272670d359fe8a9b5a</string>
			<key>size</key>
			<integer>79869</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5/translations/qscintilla_es.qm</string>
			<key>mtime</key>
			<integer>1562784879</integer>
			<key>sha256</key>
			<string>d753f7fc3d11e14d7af6479da158f6f581f2c281339ea256fbf045ea1fe7b8f6</string>
			<key>size</key>
			<integer>81850</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5/translations/qscintilla_fr.qm</string>
			<key>mtime</key>
			<integer>1562784879</integer>
			<key>sha256</key>
			<string>3c6ce99fe4fcf4d4fc6c9620c07e3c13b89a8fc90c119dee4c5187e6b1146ed3</string>
			<key>size</key>
			<integer>53842</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5/translations/qscintilla_pt_br.qm</string>
			<key>mtime</key>
			<integer>1562784879</integer>
			<key>sha256</key>
			<string>0d943e8b1503a572ff979357383a557b7a94f29df5d6a26ce88aaa1164bb94d0</string>
			<key>size</key>
			<integer>49459</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libqscintilla2_qt5.so.15</string>
			<key>mtime</key>
			<integer>1562784879</integer>
			<key>target</key>
			<string>/usr/lib/libqscintilla2_qt5.so.15.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libqscintilla2_qt5.so.15.0</string>
			<key>mtime</key>
			<integer>1562784879</integer>
			<key>target</key>
			<string>/usr/lib/libqscintilla2_qt5.so.15.0.0</string>
		</dict>
	</array>
</dict>
</plist>
