<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/platforms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/wayland-decoration-client</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/wayland-graphics-integration-client</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/wayland-graphics-integration-server</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/wayland-shell-integration</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/qml</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/qml/QtWayland</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/qml/QtWayland/Client</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/qml/QtWayland/Client/TextureSharing</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/qml/QtWayland/Compositor</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/qml/QtWayland/Compositor/TextureSharingExtension</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libQt5WaylandClient.so.5.15.2</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>33af2ca124a35976391b7806d812771bccfefb5d75a8b69612205d76eadeba61</string>
			<key>size</key>
			<integer>1246096</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libQt5WaylandCompositor.so.5.15.2</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>ecf4bc5179a44f827dad6f334d7d0dc3d337ee05afa663c38bc9580f0d10d224</string>
			<key>size</key>
			<integer>1605752</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/bin/qtwaylandscanner</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>f5707a53a8dc22441956fe870ded78595ad672de4dcc8bf680099c96341ffccf</string>
			<key>size</key>
			<integer>67728</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/platforms/libqwayland-egl.so</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>de87aa77ed57a3da418ce5a3e95f91c3d8d5564c625091090561f5d479710a91</string>
			<key>size</key>
			<integer>75952</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/platforms/libqwayland-generic.so</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>d8c2b64902f29b8e1def91703bb77f62d0279ff4f8f88fb89e727c9411f85b33</string>
			<key>size</key>
			<integer>18576</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/platforms/libqwayland-xcomposite-egl.so</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>536ca47e59e89d8169a0d091aca7fd0ee1618200c4575d2b37d8bfafc3402433</string>
			<key>size</key>
			<integer>76032</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/platforms/libqwayland-xcomposite-glx.so</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>8f685f760ac0dda0f0e2a5a021f3a03feedb8568bc0bd677de63760d8d42fadf</string>
			<key>size</key>
			<integer>59616</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/wayland-decoration-client/libbradient.so</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>a3c6e900fefbaaec4caf01ca1ef08489fc74b42fcb7335b02eb5bfe4d17f7c13</string>
			<key>size</key>
			<integer>34952</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/wayland-graphics-integration-client/libdrm-egl-server.so</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>fec50f2f0e80033241564ad32a1c185976c4cfc02dadb29794869ba9ba7db19f</string>
			<key>size</key>
			<integer>26840</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/wayland-graphics-integration-client/libqt-plugin-wayland-egl.so</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>b91311bc37b22fecc9fece14d7e10d6cb843ce468bb0918d4bce32557fae160f</string>
			<key>size</key>
			<integer>67768</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/wayland-graphics-integration-client/libshm-emulation-server.so</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>c2fefe15c30784714de0f76d1c60b320432ea4e60db2943a52c70d4727721ed0</string>
			<key>size</key>
			<integer>22744</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/wayland-graphics-integration-client/libvulkan-server.so</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>4e624367c74f593762b980edb74313cc95e504b9f2d2929639d5d7ffee2590e7</string>
			<key>size</key>
			<integer>26832</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/wayland-graphics-integration-client/libxcomposite-egl.so</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>8a9c27cb9b989374f60691716087014ed45598373ef8b5e0fc9c27dd474f6f9a</string>
			<key>size</key>
			<integer>71928</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/wayland-graphics-integration-client/libxcomposite-glx.so</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>f93c2d519bcff2e1713ad945b93ca25db33f82f9824d6eb9efad375e039fe3d3</string>
			<key>size</key>
			<integer>51416</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/wayland-graphics-integration-server/libqt-wayland-compositor-drm-egl-server-buffer.so</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>50b734121589d3eba8e248de659ba40a14a0ba34f61faa463133d9fdadb63269</string>
			<key>size</key>
			<integer>35056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/wayland-graphics-integration-server/libqt-wayland-compositor-shm-emulation-server.so</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>f6477979a3d181ff0b385ee60bf8bf595468e4a730832f17093e4d4d86f7edfb</string>
			<key>size</key>
			<integer>35056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/wayland-graphics-integration-server/libqt-wayland-compositor-vulkan-server.so</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>e84250788d2da86267fe58d998ef2312a4f8f72e2c4be8e6ba26e5e2bb6298ef</string>
			<key>size</key>
			<integer>63720</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/wayland-graphics-integration-server/libqt-wayland-compositor-wayland-egl.so</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>2a96e90a6ccd3115ce5f40bd1879eb9c3f247e1723b53bcb2751c0976a531404</string>
			<key>size</key>
			<integer>34976</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/wayland-graphics-integration-server/libqt-wayland-compositor-wayland-eglstream-controller.so</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>20fa9cac3e7bbf52b56cc44548b0b5a49fcf5db159a6c9a7d75ea08b5682035e</string>
			<key>size</key>
			<integer>39112</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/wayland-graphics-integration-server/libqt-wayland-compositor-xcomposite-egl.so</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>f9a26077454aa1db5b04a6f7a8a872cac651e3125ca3751303da64fc0eae1c1b</string>
			<key>size</key>
			<integer>183280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/wayland-graphics-integration-server/libqt-wayland-compositor-xcomposite-glx.so</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>e14ebff549093418ba43dad06cb7aa67ef8f9eaa7dd7663dc5b435c32b6b0aed</string>
			<key>size</key>
			<integer>183280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/wayland-shell-integration/libfullscreen-shell-v1.so</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>e8c4657f615cbce7bde5d5613dc95da0b03fba7b74413bf8f387fb7f5c90c1e0</string>
			<key>size</key>
			<integer>30952</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/wayland-shell-integration/libivi-shell.so</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>7879e2870a4b8f92eab3f6232e2747da1510443d13bdb62a6392146a4c4afae5</string>
			<key>size</key>
			<integer>47472</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/wayland-shell-integration/libwl-shell.so</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>75d86bd1e344df4a814e112577d09eb8b8d1ef14fe6182fc56fcffe65dcafb73</string>
			<key>size</key>
			<integer>88984</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/wayland-shell-integration/libxdg-shell-v5.so</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>da94e9b9fa3ae25ac230fb48de41d583b453e0a12bdcceb24ddffa6c8a5b96a8</string>
			<key>size</key>
			<integer>51552</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/wayland-shell-integration/libxdg-shell-v6.so</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>a34f2cd377d6c901966c1cd3ff769fe09345ce7c0be379a0afd5cbb3e527326f</string>
			<key>size</key>
			<integer>59744</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/wayland-shell-integration/libxdg-shell.so</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>2a69e57048a56461ba7ff6f12a2c3c72f114d3f62397a36d2ae6287cd2dcd265</string>
			<key>size</key>
			<integer>67968</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/qml/QtWayland/Client/TextureSharing/libqwaylandtexturesharing.so</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>99eb1280ee2d5e53c8adf35407fe61e1584736a375e6d3b728ca475ce8c23c86</string>
			<key>size</key>
			<integer>51408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/qml/QtWayland/Client/TextureSharing/qmldir</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>faa4d3925198cd8b4ca247150f9edb1a4c6886f617e5f0f72bf1020bad3b5562</string>
			<key>size</key>
			<integer>108</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/qml/QtWayland/Compositor/TextureSharingExtension/libqwaylandtexturesharingextension.so</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>897ae06e5ded23b942d7cf1f9e77e8243519c1ea7d66c1b7c7a5e679c86a9645</string>
			<key>size</key>
			<integer>26784</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/qml/QtWayland/Compositor/TextureSharingExtension/qmldir</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>629c2f0e06faac32320f16170bf72950434279d9e89c8a723b41abcf4cbc90bc</string>
			<key>size</key>
			<integer>139</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/qml/QtWayland/Compositor/libqwaylandcompositorplugin.so</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>9cfa149d9e259ce6cc0fd77fea63909489add479357d3a59a6f0077b8249254f</string>
			<key>size</key>
			<integer>215192</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/qml/QtWayland/Compositor/plugins.qmltypes</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>cbd2f91d93dcbce26aa8dc4c93cb7810e69a72997b41b2df2f42322f7a9fea2e</string>
			<key>size</key>
			<integer>55480</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/qml/QtWayland/Compositor/qmldir</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>b6fbc01373f60ab5695cb69e9f14f1db4e2dfe65e3d2af508c83fa0567abdfe0</string>
			<key>size</key>
			<integer>95</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/qtwaylandscanner-qt5</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>target</key>
			<string>/usr/lib/qt5/bin/qtwaylandscanner</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libQt5WaylandClient.so.5</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>target</key>
			<string>/usr/lib/libQt5WaylandClient.so.5.15.2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libQt5WaylandClient.so.5.15</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>target</key>
			<string>/usr/lib/libQt5WaylandClient.so.5.15.2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libQt5WaylandCompositor.so.5</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>target</key>
			<string>/usr/lib/libQt5WaylandCompositor.so.5.15.2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libQt5WaylandCompositor.so.5.15</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>target</key>
			<string>/usr/lib/libQt5WaylandCompositor.so.5.15.2</string>
		</dict>
	</array>
</dict>
</plist>
