<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/profile.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/platformthemes</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/styles</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/qt5ct</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5ct</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5ct/colors</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5ct/qss</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/profile.d/qt5ct.sh</string>
			<key>mtime</key>
			<integer>1597448029</integer>
			<key>sha256</key>
			<string>0920fc31f681e6625171f034ce41a134b328f44fdd794df9ba14101c0f9f1e07</string>
			<key>size</key>
			<integer>94</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qt5ct</string>
			<key>mtime</key>
			<integer>1597448029</integer>
			<key>sha256</key>
			<string>3c20681a064dbaeb69d273f25ebe90ae2c3344a6dc9e3365d742ac28178a504e</string>
			<key>size</key>
			<integer>571704</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/platformthemes/libqt5ct.so</string>
			<key>mtime</key>
			<integer>1597448029</integer>
			<key>sha256</key>
			<string>db75bde7faa3624c8fe98dbfb1fb5a4b3991e45be1a12283ca6f702e68b3b0a8</string>
			<key>size</key>
			<integer>338136</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/styles/libqt5ct-style.so</string>
			<key>mtime</key>
			<integer>1597448029</integer>
			<key>sha256</key>
			<string>0f092e71a63bd379ed0db4cd9a49a93dbc636fd5cfe0dfe235e7ad098bea360b</string>
			<key>size</key>
			<integer>39136</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/qt5ct.desktop</string>
			<key>mtime</key>
			<integer>1597448029</integer>
			<key>sha256</key>
			<string>f53b0d0994f5be75cf27335804f107d7bb152375ad03244ad42bc2c3fac617ef</string>
			<key>size</key>
			<integer>1661</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/qt5ct/COPYING</string>
			<key>mtime</key>
			<integer>1597448029</integer>
			<key>sha256</key>
			<string>c9ed46af9437770a9593172102faeb362cc213a61e04cda43feeff236bcbf149</string>
			<key>size</key>
			<integer>1331</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5ct/colors/airy.conf</string>
			<key>mtime</key>
			<integer>1597448029</integer>
			<key>sha256</key>
			<string>f52d855f800f1ec90c7f18812d86f4dcd1d05ac2eb2f85855502b3a4a58c854e</string>
			<key>size</key>
			<integer>597</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5ct/colors/darker.conf</string>
			<key>mtime</key>
			<integer>1597448029</integer>
			<key>sha256</key>
			<string>319d438176356026eb792c1f52fd4ccdc8312cafaf587fa9aa948fee2f010f5e</string>
			<key>size</key>
			<integer>597</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5ct/colors/dusk.conf</string>
			<key>mtime</key>
			<integer>1597448029</integer>
			<key>sha256</key>
			<string>f23f9a1b93f22733f2ac4664db78dd27c7b1bd84679d6ca6a497bee92c27b441</string>
			<key>size</key>
			<integer>597</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5ct/colors/ia_ora.conf</string>
			<key>mtime</key>
			<integer>1597448029</integer>
			<key>sha256</key>
			<string>643cfe23243ad3da318e26f665b1fff7a6a69316a8301da9978f84f733167ee8</string>
			<key>size</key>
			<integer>750</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5ct/colors/sand.conf</string>
			<key>mtime</key>
			<integer>1597448029</integer>
			<key>sha256</key>
			<string>30df1de9808a5d1e367f339749d010faba28091a95f3ea36e09dc6e4c196ac3b</string>
			<key>size</key>
			<integer>597</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5ct/colors/simple.conf</string>
			<key>mtime</key>
			<integer>1597448029</integer>
			<key>sha256</key>
			<string>1667a40778339419774ca181c10d78a14b7d2b9e5e6b78f4eb80173cf1af9dd8</string>
			<key>size</key>
			<integer>597</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5ct/colors/waves.conf</string>
			<key>mtime</key>
			<integer>1597448029</integer>
			<key>sha256</key>
			<string>a7cd9365c1027836955b4df7d96482473d60dab82123b6495de6c78d60d02091</string>
			<key>size</key>
			<integer>597</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5ct/qss/fusion-fixes.qss</string>
			<key>mtime</key>
			<integer>1597448029</integer>
			<key>sha256</key>
			<string>1e132ee541bb589005a5931edcdc675dc56cae0eab96904c05e3fb52e57cbfcc</string>
			<key>size</key>
			<integer>348</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5ct/qss/scrollbar-simple.qss</string>
			<key>mtime</key>
			<integer>1597448029</integer>
			<key>sha256</key>
			<string>650985208d9add5b55e59836bef43feae0e78b5d5e1a143d0b961ee86ac479c1</string>
			<key>size</key>
			<integer>717</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5ct/qss/sliders-simple.qss</string>
			<key>mtime</key>
			<integer>1597448029</integer>
			<key>sha256</key>
			<string>a00ffb44eed7475bb907bfbd1f7eb9a4cd7432e12e0ebd22e8d98b94e11b757d</string>
			<key>size</key>
			<integer>1682</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5ct/qss/tooltip-simple.qss</string>
			<key>mtime</key>
			<integer>1597448029</integer>
			<key>sha256</key>
			<string>3c35fbbb208dd577743b5ff7a773a629deda95cd08d30800df753560db700f17</string>
			<key>size</key>
			<integer>233</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5ct/qss/traynotification-simple.qss</string>
			<key>mtime</key>
			<integer>1597448029</integer>
			<key>sha256</key>
			<string>91f50db537ddb0408d4dd29d39d53e96fcff410e3e12ee4e1bcc1876b364758d</string>
			<key>size</key>
			<integer>71</integer>
		</dict>
	</array>
</dict>
</plist>
