<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/platformthemes</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/styles</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/platformthemes/libqgtk2.so</string>
			<key>mtime</key>
			<integer>1608639421</integer>
			<key>sha256</key>
			<string>6ad61ae7d14e3785a9b6693d36dc28a355e060f8c1f840706fd8415e93f5635e</string>
			<key>size</key>
			<integer>387232</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/styles/libbb10styleplugin.so</string>
			<key>mtime</key>
			<integer>1608639421</integer>
			<key>sha256</key>
			<string>f54e773423205f7f61ca1ca52bc0dfd308820d7bc49f54fffdc197d944542993</string>
			<key>size</key>
			<integer>231560</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/styles/libqcleanlooksstyle.so</string>
			<key>mtime</key>
			<integer>1608639421</integer>
			<key>sha256</key>
			<string>e332a983206dea0e9a67254196e14454edca2d47e5175d2859d40f0ec5cb7b24</string>
			<key>size</key>
			<integer>161928</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/styles/libqgtk2style.so</string>
			<key>mtime</key>
			<integer>1608639421</integer>
			<key>sha256</key>
			<string>b07d7ac8b28114083c6362a5b78d97a659d3c56a63f31bc55033647c73e5e843</string>
			<key>size</key>
			<integer>206984</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/styles/libqmotifstyle.so</string>
			<key>mtime</key>
			<integer>1608639421</integer>
			<key>sha256</key>
			<string>800dca9bc8b3e9e02b8a95141616dd4c6dfefc8c4323ca2645562f641206c0dc</string>
			<key>size</key>
			<integer>100592</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/styles/libqplastiquestyle.so</string>
			<key>mtime</key>
			<integer>1608639421</integer>
			<key>sha256</key>
			<string>4e0954f29b7079c194dc48146d2aba383ba313c0cffb35bdf62254f5f751be56</string>
			<key>size</key>
			<integer>206984</integer>
		</dict>
	</array>
</dict>
</plist>
