<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/designer</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/64x64</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/64x64/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5/phrasebooks</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libQt5Designer.so.5.15.2</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>d2f4352cf6127a716243fe6da8204b6b661a0985623c272d7442e9ccfcfbf1f5</string>
			<key>size</key>
			<integer>4987152</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libQt5DesignerComponents.so.5.15.2</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>e9123774df5dfd509451acd4c44bb146c037af171acb20eeb866291af4474269</string>
			<key>size</key>
			<integer>2617176</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libQt5Help.so.5.15.2</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>34c55e568a4b7ff9624bfe8b46589c585e0805e35c7ca3c5678d2921d7ff0835</string>
			<key>size</key>
			<integer>456848</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/bin/assistant</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>40b5bf3ba88c0f6be1122960b535c148679e538d3614512a7fd151a337501d69</string>
			<key>size</key>
			<integer>842456</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/bin/designer</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>f1130015b79aaac0939ed1e78e7c925dc007e2161e82ba6e1a704e41b1137e18</string>
			<key>size</key>
			<integer>465120</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/bin/linguist</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>37e0760649eb88a39180fb79d188abd12ad7f2272b87aae056313a78c3d07e77</string>
			<key>size</key>
			<integer>1226968</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/bin/pixeltool</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>89bdcd3de46aee80a9b502f4dba0471a674b1abaf4060880a91f79dc80c66568</string>
			<key>size</key>
			<integer>63704</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/bin/qcollectiongenerator</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>924be180515228332dc04c356d596c3cf1f69b18596da968de11bbb5a0dc9ff9</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/bin/qdbus</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>b10492624f210ec330b038a077ce1a285cad793838f093d03e295cd50bfeea52</string>
			<key>size</key>
			<integer>55424</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/bin/qdbusviewer</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>94a25ca63c748bb1871e8cd8b960a3f7a57e8a7008c926f3d7c57b939950ef22</string>
			<key>size</key>
			<integer>129240</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/bin/qdistancefieldgenerator</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>5aee3b79fcfe64bd5a5625e89f0dc58809b866e6895da229a85a92752a079859</string>
			<key>size</key>
			<integer>121080</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/bin/qdoc</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>cd7cbacb6e9fa5c755fd68fc40b3da8cba90223ffd28becc6459ee04fc613080</string>
			<key>size</key>
			<integer>1811352</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/bin/qhelpgenerator</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>e438db36fb243b7863a9883d9cff03c578d335ee728852bda254edf79bbb802a</string>
			<key>size</key>
			<integer>141528</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/bin/qtattributionsscanner</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>a13a2f7105c72878606db3ec36dfde6bc2f05b251bc10fcaf84957c523c8381e</string>
			<key>size</key>
			<integer>67728</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/bin/qtdiag</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>5c48565296872b42a64f4005eb1a9347250b416866c5d2e06f1f81fabbd978d1</string>
			<key>size</key>
			<integer>72832</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/bin/qtpaths</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>5c7a47c363cc04f6e553f3b3b24d03d17f74adb99c3e8c697634c9138164b3e5</string>
			<key>size</key>
			<integer>30928</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/bin/qtplugininfo</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>e11294985eb37625df43384821fd3c9b513d65f9609019dfbc7d7eac23ba01b7</string>
			<key>size</key>
			<integer>22664</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/qt5/plugins/designer/libqquickwidget.so</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>5254539a5b01ea64de2c28e95692aad4dc53ff15704627e6321dc91820ce0ff8</string>
			<key>size</key>
			<integer>22664</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/assistant-qt5.desktop</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>cca7063d0392feaf8b008b04df74130fcbf9c59d3a1567b6f63054b4275c9d7a</string>
			<key>size</key>
			<integer>200</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/designer-qt5.desktop</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>daa0f8a011a5061593acadeafde1a8d263eab201d053d2bf806bb18c31ebdf2b</string>
			<key>size</key>
			<integer>243</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/linguist-qt5.desktop</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>2574fc267c16192064bee7b0a6da3e8a8f0f871c75d7fb6fe1928caec1b24750</string>
			<key>size</key>
			<integer>244</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/qdbusviewer-qt5.desktop</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>afc4c3169abff65e3494d31fb6793adfe1e7574f23d555ace670b8488bbe540d</string>
			<key>size</key>
			<integer>217</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps/assistant-qt5.png</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>cb81518db02659b18045b6ba1addfac9c66ab0c81838a5c2979ea8a828dbaa39</string>
			<key>size</key>
			<integer>4118</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps/designer-qt5.png</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>b21adac00c4ef3f8571618103cb10d44cb4be09d77a48d29b1ea3d9f85f32735</string>
			<key>size</key>
			<integer>4167</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps/linguist-qt5.png</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>af0fede5588ecf1f66ed6216329a780ce9dff2c06bdb008557c896e0c15177d9</string>
			<key>size</key>
			<integer>3638</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps/qdbusviewer-qt5.png</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>bfdfc1ed4c9cf3865b68d475e0709fe6ea1f49056aeafd01210a5e95a6409b06</string>
			<key>size</key>
			<integer>5128</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/apps/linguist-qt5.png</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>fd5f07fd948dfe4efc886848244b13f48504f28d50b9017fa5b0bd258b6c210c</string>
			<key>size</key>
			<integer>280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps/assistant-qt5.png</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>7c6845ecf1b75ef6a87320be6c3c5efabe9ce73b040797bc5b9c55584ca7ad12</string>
			<key>size</key>
			<integer>586</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps/linguist-qt5.png</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>d1c20c28e3e24c27f24631388a9fcc3a1dfcd19cf3bd7bcf7414c95757dfff89</string>
			<key>size</key>
			<integer>419</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps/qdbusviewer-qt5.png</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>9d8d6f26cda5a24728fc108ebc3889038d8b550dfeff1ed8116442a5e1547b31</string>
			<key>size</key>
			<integer>694</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/apps/linguist-qt5.png</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>b2e84fbec687192cbd274ed2c08d9287433be0a83e7d7ee447c5822fc68ee6b8</string>
			<key>size</key>
			<integer>1410</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/64x64/apps/linguist-qt5.png</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>9466d24c15383ce2ea9fbf9e5767d45a67a0406b0c06f3a21b1a61a956a29b76</string>
			<key>size</key>
			<integer>1542</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5/phrasebooks/danish.qph</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>641bf3bc2c57350f91514fa0ed3d76267097c573f12d76278c2fcaa9bbc025fe</string>
			<key>size</key>
			<integer>21854</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5/phrasebooks/dutch.qph</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>dadc504fc3346879b25568838000aa2ecefc30e88f8aa8b506c1a885184dc055</string>
			<key>size</key>
			<integer>23113</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5/phrasebooks/finnish.qph</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>823db427b8d35313aef910f757f2e2f5bba8936fb923df6b3afbe30e3bf575a2</string>
			<key>size</key>
			<integer>22428</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5/phrasebooks/french.qph</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>0cd33944ec6ffdeee8687e62541f5198ba9d13625575c0f7b5748759395fede0</string>
			<key>size</key>
			<integer>32461</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5/phrasebooks/german.qph</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>ad10fe2c50e77a6910bcf0ab30e4ffc71197ea16c97d24b27eb363ee18588714</string>
			<key>size</key>
			<integer>23560</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5/phrasebooks/hungarian.qph</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>5fd3e1e51591e053faf3c5405d4192a9cf16cdb0969ee57cd6d23407ce64a923</string>
			<key>size</key>
			<integer>16612</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5/phrasebooks/italian.qph</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>eb0e6f915416b5a9e95c81382be4264031e62c6b413f5e9559ee53e87b161bbf</string>
			<key>size</key>
			<integer>24831</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5/phrasebooks/japanese.qph</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>5fc957b6512153c8af0d9a77cd5e8e4f0971fd72a4be380b65d24317eb77df60</string>
			<key>size</key>
			<integer>23515</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5/phrasebooks/norwegian.qph</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>576b9d40134aa710be8b089b15d449279beb0198aa013f37afdca748a560fe3b</string>
			<key>size</key>
			<integer>21273</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5/phrasebooks/polish.qph</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>7c2e35418d00fe97ff14b0b0bf7ae14240ade4dbcd82519ae66480f929ec6394</string>
			<key>size</key>
			<integer>12160</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5/phrasebooks/russian.qph</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>f4d07ad91ad0556589ffc7e10482b7f2119eac1948539fa806403879063c15dd</string>
			<key>size</key>
			<integer>29122</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5/phrasebooks/spanish.qph</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>92180bbef8967ac66c1d67a2c4fcf3148e9bedd8ec7c7d84c2ef840918219a2f</string>
			<key>size</key>
			<integer>24100</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qt5/phrasebooks/swedish.qph</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>sha256</key>
			<string>4482fb4f78a2a1d6d4d7bc4a2f373c28afd3900f41107eb2a531b4cd8155324a</string>
			<key>size</key>
			<integer>21510</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/assistant-qt5</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>target</key>
			<string>/usr/lib/qt5/bin/assistant</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/designer-qt5</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>target</key>
			<string>/usr/lib/qt5/bin/designer</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/linguist-qt5</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>target</key>
			<string>/usr/lib/qt5/bin/linguist</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/pixeltool-qt5</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>target</key>
			<string>/usr/lib/qt5/bin/pixeltool</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qcollectiongenerator-qt5</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>target</key>
			<string>/usr/lib/qt5/bin/qcollectiongenerator</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qdbus-qt5</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>target</key>
			<string>/usr/lib/qt5/bin/qdbus</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qdbusviewer-qt5</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>target</key>
			<string>/usr/lib/qt5/bin/qdbusviewer</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qdistancefieldgenerator-qt5</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>target</key>
			<string>/usr/lib/qt5/bin/qdistancefieldgenerator</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qdoc-qt5</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>target</key>
			<string>/usr/lib/qt5/bin/qdoc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qhelpgenerator-qt5</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>target</key>
			<string>/usr/lib/qt5/bin/qhelpgenerator</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qtattributionsscanner-qt5</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>target</key>
			<string>/usr/lib/qt5/bin/qtattributionsscanner</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qtdiag-qt5</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>target</key>
			<string>/usr/lib/qt5/bin/qtdiag</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qtpaths-qt5</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>target</key>
			<string>/usr/lib/qt5/bin/qtpaths</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qtplugininfo-qt5</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>target</key>
			<string>/usr/lib/qt5/bin/qtplugininfo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libQt5Designer.so.5</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>target</key>
			<string>/usr/lib/libQt5Designer.so.5.15.2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libQt5Designer.so.5.15</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>target</key>
			<string>/usr/lib/libQt5Designer.so.5.15.2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libQt5DesignerComponents.so.5</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>target</key>
			<string>/usr/lib/libQt5DesignerComponents.so.5.15.2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libQt5DesignerComponents.so.5.15</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>target</key>
			<string>/usr/lib/libQt5DesignerComponents.so.5.15.2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libQt5Help.so.5</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>target</key>
			<string>/usr/lib/libQt5Help.so.5.15.2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libQt5Help.so.5.15</string>
			<key>mtime</key>
			<integer>1612742701</integer>
			<key>target</key>
			<string>/usr/lib/libQt5Help.so.5.15.2</string>
		</dict>
	</array>
</dict>
</plist>
