<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/xdg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/xdg/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/xdg/qtchooser/4.conf</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>sha256</key>
			<string>33f88c8ce1c165610d28af8028b6de5174af57c48cff2bb705d479050c74d2a8</string>
			<key>size</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/xdg/qtchooser/5.conf</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>sha256</key>
			<string>ca886883f53536753b4dc3525df1b93a3b03412835bd701ce7c764f3fca105e0</string>
			<key>size</key>
			<integer>26</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qtchooser</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>sha256</key>
			<string>a876606154e6ffe3641c5829687d13a9f6140530f36541bc44e342cc07852617</string>
			<key>size</key>
			<integer>47264</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/qtchooser.1</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>sha256</key>
			<string>de4385fb79c473aa2a12177e124f0629692a4a1fbc00cebbccacf5b093b36806</string>
			<key>size</key>
			<integer>2380</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/xdg/qtchooser/default.conf</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/etc/xdg/qtchooser/5.conf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/assistant</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/designer</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/lconvert</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/linguist</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/lrelease</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/lupdate</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/moc</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/pixeltool</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qcollectiongenerator</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qdbus</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qdbuscpp2xml</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qdbusviewer</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qdbusxml2cpp</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qdoc</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qdoc3</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qgltf</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qhelpconverter</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qhelpgenerator</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qlalr</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qmake</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qml</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qml1plugindump</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qmlbundle</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qmlcachegen</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qmleasing</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qmlimportscanner</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qmljs</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qmllint</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qmlmin</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qmlplugindump</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qmlprofiler</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qmlscene</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qmltestrunner</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qmlviewer</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qtattributionsscanner</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qtconfig</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qtdiag</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qtpaths</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qtplugininfo</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/qvkgen</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/rcc</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/repc</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/uic</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/uic3</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xmlpatterns</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xmlpatternsvalidator</string>
			<key>mtime</key>
			<integer>1590753000</integer>
			<key>target</key>
			<string>/usr/bin/qtchooser</string>
		</dict>
	</array>
</dict>
</plist>
