<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/color-schemes</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/color-schemes/historic</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/kb-layouts</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/kb-layouts/historic</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/translations</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libqtermwidget5.so.0.16.1</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>1a475585cb39f4fad84d39923543a79ab8ea932074de900df02c1467018048c0</string>
			<key>size</key>
			<integer>497816</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/color-schemes/BlackOnLightYellow.schema</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>f30a5c59f6e9cec4933337134121b9f8dbceccf2cfe140007f8a16124ea14ab0</string>
			<key>size</key>
			<integer>1445</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/color-schemes/BlackOnRandomLight.colorscheme</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>a0a9637bfb55c7b011dad3ee26b12279c830489f63b52fc003e3620da8e77312</string>
			<key>size</key>
			<integer>1278</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/color-schemes/BlackOnWhite.schema</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>07f63bd99f47cf351143f9d76c7e0e925763ccf949c8513bd985748cdaff729b</string>
			<key>size</key>
			<integer>1431</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/color-schemes/BreezeModified.colorscheme</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>f31182f9582c43a6d7ba51d6dbca1e4f4b2de03a2e05fe2147d63ea934664cfe</string>
			<key>size</key>
			<integer>999</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/color-schemes/DarkPastels.colorscheme</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>24db89889411f4edb1ef8be324f79e32a7b4dfccbbe14494babcfe8d4728760f</string>
			<key>size</key>
			<integer>1269</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/color-schemes/GreenOnBlack.colorscheme</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>3d7d09e4e9bf05e8a88419697449b3c72890922fe968f8942ab79d55b57c6077</string>
			<key>size</key>
			<integer>1254</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/color-schemes/Linux.colorscheme</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>d8a858782bb81aa40057964f8d0ef064536ee40af248a5b49e38bc588d847da2</string>
			<key>size</key>
			<integer>889</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/color-schemes/Solarized.colorscheme</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>66b9dd5f29d90313fa7ac206fdf5f768f908f3ca50dde26cd0e02b0002e404ae</string>
			<key>size</key>
			<integer>976</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/color-schemes/SolarizedLight.colorscheme</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>8221f3fe0e1a6fac552e96b3b9ee729dbcefdace999c1daec58e196ac411c9dd</string>
			<key>size</key>
			<integer>1000</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/color-schemes/Tango.colorscheme</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>c5f5a3854a47d7d6136817167aac78c2280b72f1e4389bcdd90995fdaf3a61de</string>
			<key>size</key>
			<integer>722</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/color-schemes/Ubuntu.colorscheme</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>003bb5beeec554d0ec33ff9da59025f1d32a7734ed7d73e811371237bd4ad1c5</string>
			<key>size</key>
			<integer>719</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/color-schemes/WhiteOnBlack.schema</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>383ea1d27c27f4e2b9deafb79191054f1e1954601804c45abb088fb5089a068f</string>
			<key>size</key>
			<integer>1431</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/color-schemes/historic/BlackOnLightColor.schema</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>702d6dc4da935800c189ae4975b4ca79c7556d4d91d049d4e9d4f17692a8e180</string>
			<key>size</key>
			<integer>1443</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/color-schemes/historic/DarkPicture.schema</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>f41c8ef63bfe3017a70a6d785966798b00530d9d921efa839175cf36fca306c1</string>
			<key>size</key>
			<integer>1449</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/color-schemes/historic/GreenOnBlack.schema</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>0d26df810f1f7927caa81d7053ed35205e475d5ec3eb8a11e81f19b305d2620c</string>
			<key>size</key>
			<integer>1431</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/color-schemes/historic/GreenTint.schema</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>c7d423ebc1f816b62108d75cb879c607e1946d70d141a178b064e57e2feec7ec</string>
			<key>size</key>
			<integer>1612</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/color-schemes/historic/GreenTint_MC.schema</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>2aff1d3014e7fd6f7f222ea2df3c3fb4e09f137e4ecbd443a6721d85df7103e8</string>
			<key>size</key>
			<integer>1632</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/color-schemes/historic/LightPicture.schema</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>d48fe864545342417671793436f98a9f6257426b9492e208d49a811bf2791340</string>
			<key>size</key>
			<integer>1446</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/color-schemes/historic/Linux.schema</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>c379fcc3e1df7770c0cbc8d08ea93c8370d841c36dc3937567d60107630c335c</string>
			<key>size</key>
			<integer>1588</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/color-schemes/historic/Transparent.schema</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>15dc795f75e20d469a99176f38b73cbc18ff97fa1562c1a86c68d48e3c68229a</string>
			<key>size</key>
			<integer>1620</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/color-schemes/historic/Transparent_MC.schema</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>6c9b2d2623f9320a37ac383b800624adf9b70a952dd4837440edf124ac5520ac</string>
			<key>size</key>
			<integer>1669</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/color-schemes/historic/Transparent_darkbg.schema</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>283756f3891831ac9dfbdc77ff8099350549d3694b20c4cff7d6d6f149fd8fe0</string>
			<key>size</key>
			<integer>1435</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/color-schemes/historic/Transparent_lightbg.schema</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>9606bf92787b6f23961de1413ee41748342f230b17d1f19e6aa172d6af4f4b1f</string>
			<key>size</key>
			<integer>1826</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/color-schemes/historic/XTerm.schema</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>2c5cf64c1c7a2771be4e0328618044b4e66b78d06b5b1ad1c596a76ea93af104</string>
			<key>size</key>
			<integer>1645</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/color-schemes/historic/syscolor.schema</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>ce7fdb738f6327ebcd90cfdde0b2953565f22aa3b5cf20b4112c4804dbb9d7f8</string>
			<key>size</key>
			<integer>1450</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/color-schemes/historic/vim.schema</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>11b5a25fdadd01ddb02023b3d385cc36cf7ebfabc7d9da77b400bbfcd189a01a</string>
			<key>size</key>
			<integer>1479</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/kb-layouts/default.keytab</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>ec9c66a06ffa094b403ec72eca1a4662e54557dae3784742133ef617bb071a47</string>
			<key>size</key>
			<integer>5677</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/kb-layouts/historic/vt100.keytab</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>2b8919421fba1fb548d4a4fef3f9d60dcaadebe61e03202de807875fee877681</string>
			<key>size</key>
			<integer>3192</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/kb-layouts/historic/x11r5.keytab</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>a23f56577fd7df9749b48209749158391e034d0632f8591dc008bd625eaf7c86</string>
			<key>size</key>
			<integer>1678</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/kb-layouts/linux.keytab</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>a6364c5d230a3004a3740d98ea3d0ce17e42b034ad714194d47bef0622661b15</string>
			<key>size</key>
			<integer>3431</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/kb-layouts/macbook.keytab</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>8a8142672d2b0960fa269bbb536f05b29deaaadc1c96cd0423e01bb5d8d2d289</string>
			<key>size</key>
			<integer>6414</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/kb-layouts/solaris.keytab</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>263bf4181c51bab2fc339b2357c109b333b45afe9b7aa308a35d47fcde0569bc</string>
			<key>size</key>
			<integer>2608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/kb-layouts/vt420pc.keytab</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>6d0d17114fbb617c21bed33edf2caf6cc50b95efd2f42812783a4fd6cf7beef1</string>
			<key>size</key>
			<integer>4456</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/translations/qtermwidget_arn.qm</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>ebe0596c8afbdb7291ab30ff30532fa22131d7b7d5fde8786ad9d485a5c6c7c4</string>
			<key>size</key>
			<integer>24</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/translations/qtermwidget_ast.qm</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>6a205d5d215c7c57fb8b785b390764540d0e822ff786af8deed276ddd26865af</string>
			<key>size</key>
			<integer>24</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/translations/qtermwidget_ca.qm</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>b96492ac1550514b863deffb64cdd8a551fa3e440b9e1b07d258745fe84a862c</string>
			<key>size</key>
			<integer>2692</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/translations/qtermwidget_cs.qm</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>e1123304eb1116621a4bd0e2f704bd117471cdc9028c0b6e0d73ac050beb3f08</string>
			<key>size</key>
			<integer>3149</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/translations/qtermwidget_cy.qm</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>b9678888385280b56bf65919a529154dcc9c7f9216f4766f5fa85f0713c191b4</string>
			<key>size</key>
			<integer>1420</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/translations/qtermwidget_da.qm</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>2bd8e4a8c03b6449f246bd6c00a56f0a74154d1a9f68406b69cea4759ffabd91</string>
			<key>size</key>
			<integer>2582</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/translations/qtermwidget_de.qm</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>66271c982b09a28a40f72b2b65f19d8f5d94c0905c8c79e700bd40fa4a5f8e0f</string>
			<key>size</key>
			<integer>2618</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/translations/qtermwidget_el.qm</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>fda495fd6d1c9f2b8e3b8898066ba676ac56f731a330c0ae88240d8a3a799648</string>
			<key>size</key>
			<integer>3399</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/translations/qtermwidget_es.qm</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>a5803474de292939d15a4b2e3103c2466c3338292d5d0b1a964b0275604ceffd</string>
			<key>size</key>
			<integer>2740</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/translations/qtermwidget_fr.qm</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>20bc13c6931ad9f22f4bcdae913bc52fabce670a5d85b6b467c5177a1feb5223</string>
			<key>size</key>
			<integer>2932</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/translations/qtermwidget_gl.qm</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>339f5e902ecbd0249180d73e2f4fea5d6b9747fece805577498d0e6a3c286401</string>
			<key>size</key>
			<integer>2722</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/translations/qtermwidget_he.qm</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>23438e74bddcf6255447818e9c26cb56703bf2fc8cfa1d965e892581675600d6</string>
			<key>size</key>
			<integer>2761</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/translations/qtermwidget_hr.qm</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>59d77532c7844942a3b302cc8cd8a5d42242abde08fe10ab17cfeb7ac39399ff</string>
			<key>size</key>
			<integer>2498</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/translations/qtermwidget_hu.qm</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>dd83881fe63b7cdb9468680be2e53b4fe425085bf1af081e544dc7e0c79fb543</string>
			<key>size</key>
			<integer>3096</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/translations/qtermwidget_it.qm</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>a9554959832d6e9e15e483039cc0a104b3b999107cf8dfcd0255a10858141039</string>
			<key>size</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/translations/qtermwidget_ja.qm</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>7711d661d0766da20c3d8cb8403c6741a9d167d2cc96d7f019ab20256cb0fa7d</string>
			<key>size</key>
			<integer>2500</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/translations/qtermwidget_lt.qm</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>a4b2fe173f6efc9b0e88e58619023ee6aecf2908fc12c1ac3174ed30ec977695</string>
			<key>size</key>
			<integer>2714</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/translations/qtermwidget_nb_NO.qm</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>42e740ed2fd2bac7c84143fe2f437bb22c16293d23c821b55862c526d77d0e6a</string>
			<key>size</key>
			<integer>2581</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/translations/qtermwidget_pl.qm</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>c09f197e823f078b3a8509f5ddacd8bd417e94c46ae0ae1a6fa11d912bcc2f41</string>
			<key>size</key>
			<integer>2520</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/translations/qtermwidget_pt.qm</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>b955aa3052fef9b36b190563c918eca9cc65de5b092d0466f0221aa40e0f1fa8</string>
			<key>size</key>
			<integer>2682</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/translations/qtermwidget_pt_BR.qm</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>9ba7ed091c4b4ec338fb68a2dc5b63268186e3e0ec9a3fb445175092c3fe6ad3</string>
			<key>size</key>
			<integer>2687</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/translations/qtermwidget_tr.qm</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>dac00b8cd5b9d705b8f84dc1020137bd29cf8983445d0dcc93f726a18d8a2b9f</string>
			<key>size</key>
			<integer>2469</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/translations/qtermwidget_zh_CN.qm</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>db272dff614250241987f9df46c4895de939f8c863f277027242b2977eff2a05</string>
			<key>size</key>
			<integer>1860</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/qtermwidget5/translations/qtermwidget_zh_TW.qm</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>sha256</key>
			<string>b432feb705c02d1745d1945a5786d00afcf0e7737a740664a5f6a9a4fc91a633</string>
			<key>size</key>
			<integer>1850</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libqtermwidget5.so.0</string>
			<key>mtime</key>
			<integer>1605425483</integer>
			<key>target</key>
			<string>/usr/lib/libqtermwidget5.so.0.16.1</string>
		</dict>
	</array>
</dict>
</plist>
