<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/readline</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/include/readline/chardefs.h</string>
			<key>mtime</key>
			<integer>1609352266</integer>
			<key>sha256</key>
			<string>a6f5a6ca703691dd0037e68fe2f55fdfe6e1b26fac32e725993a3295bdf47620</string>
			<key>size</key>
			<integer>4697</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/readline/history.h</string>
			<key>mtime</key>
			<integer>1609352266</integer>
			<key>sha256</key>
			<string>594e98f3dbac9ce0924dadccc77949a31efbfdc5e915fe83352d0219b5f5deee</string>
			<key>size</key>
			<integer>10779</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/readline/keymaps.h</string>
			<key>mtime</key>
			<integer>1609352266</integer>
			<key>sha256</key>
			<string>ad83b3d5797bd92a478a28c5bc537c01ec53187da15c1f819415b3fd168cbed1</string>
			<key>size</key>
			<integer>3260</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/readline/readline.h</string>
			<key>mtime</key>
			<integer>1609352266</integer>
			<key>sha256</key>
			<string>82d4fe3ee1bd2999bdf35fa15cfa5fccd9dd35f3e5d751ca81afb971768b1e54</string>
			<key>size</key>
			<integer>39739</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/readline/rlconf.h</string>
			<key>mtime</key>
			<integer>1609352266</integer>
			<key>sha256</key>
			<string>b599f6bc28df4c0cb0143c5747233aeadc191b3c4f8bb9128509c4c68e946da6</string>
			<key>size</key>
			<integer>2829</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/readline/rlstdc.h</string>
			<key>mtime</key>
			<integer>1609352266</integer>
			<key>sha256</key>
			<string>77c9d0203d571a576ec2aabbfbdfbdd18802d6fcfe6e890d33fbab3536f3317a</string>
			<key>size</key>
			<integer>1835</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/readline/rltypedefs.h</string>
			<key>mtime</key>
			<integer>1609352266</integer>
			<key>sha256</key>
			<string>2092f087b032a579d0a918685228730976fd6126a1a6a35ba93b1630bec8f294</string>
			<key>size</key>
			<integer>3193</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/readline/tilde.h</string>
			<key>mtime</key>
			<integer>1609352266</integer>
			<key>sha256</key>
			<string>ddf5b0d350768b3b6bd7a14175920eea3e74ea522a6659cb51914c3b61780c5d</string>
			<key>size</key>
			<integer>3046</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libhistory.a</string>
			<key>mtime</key>
			<integer>1609352266</integer>
			<key>sha256</key>
			<string>a77e215c3c54aaca396c76c3be947d19b71b750a7d07c4b08a37f1c09dbe0184</string>
			<key>size</key>
			<integer>64986</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreadline.a</string>
			<key>mtime</key>
			<integer>1609352266</integer>
			<key>sha256</key>
			<string>6283c3e9849a7c3598ffe0f50ed48384445c51f661eea7b98d514976afdcba02</string>
			<key>size</key>
			<integer>632522</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/readline.pc</string>
			<key>mtime</key>
			<integer>1609352266</integer>
			<key>sha256</key>
			<string>3d6cdc45d1c38e5f80abebc651041bf4c9e42416b5f6e05a6e0578802ab12feb</string>
			<key>size</key>
			<integer>306</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/history.info</string>
			<key>mtime</key>
			<integer>1609352266</integer>
			<key>sha256</key>
			<string>c0f8a59bc9571bdf8ebfbe2af079ebc48d180f93b545e45e5a0ccfb13d93fb98</string>
			<key>size</key>
			<integer>63498</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/readline.info</string>
			<key>mtime</key>
			<integer>1609352266</integer>
			<key>sha256</key>
			<string>0c3229cce52c6ec788dcb9f2cbc708c0efb570955d43359cbed8c2fb8a5655f1</string>
			<key>size</key>
			<integer>236167</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/rluserman.info</string>
			<key>mtime</key>
			<integer>1609352266</integer>
			<key>sha256</key>
			<string>47c8beb733894f6d52d82761c05139d8827d5b4fdfab4a93a94dc63a92e32fd6</string>
			<key>size</key>
			<integer>90139</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/history.3</string>
			<key>mtime</key>
			<integer>1609352266</integer>
			<key>sha256</key>
			<string>3201b72efd360370c7d5238e62cee84b6e670c9c92f482d9ff38f6c7b2805ccd</string>
			<key>size</key>
			<integer>23204</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/readline.3</string>
			<key>mtime</key>
			<integer>1609352266</integer>
			<key>sha256</key>
			<string>2871c0d4aea0a9728c44c954c59da2f278afc6c9530d44889aa2e95d4e45e806</string>
			<key>size</key>
			<integer>49637</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libhistory.so</string>
			<key>mtime</key>
			<integer>1609352266</integer>
			<key>target</key>
			<string>/usr/lib/libhistory.so.8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libreadline.so</string>
			<key>mtime</key>
			<integer>1609352266</integer>
			<key>target</key>
			<string>/usr/lib/libreadline.so.8</string>
		</dict>
	</array>
</dict>
</plist>
