<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_AU</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_AU/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy_AM</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy_AM/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ie</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ie/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur_PK</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur_PK/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/metainfo</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/ristretto</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>2d3bf5322c50406826a662e1b9ee6bfe4cec879613781899c7751ee6348603d9</string>
			<key>size</key>
			<integer>262528</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/ristretto.desktop</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>96ee29331afcef71ecd6474cef14d30be3b5577e1d31718484563b2737b401bb</string>
			<key>size</key>
			<integer>7077</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps/ristretto.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>12c1c0f7395baee83d075d93a522172b6440cc1c60f6c1cadbcba203a6064ae4</string>
			<key>size</key>
			<integer>13283</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/apps/ristretto.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>d2d3f408f35de7b5b4f078ea97dfe9296e12e23cdb3e461306587e53aff641ee</string>
			<key>size</key>
			<integer>797</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/apps/ristretto.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>4b97a54364f682297b3a7d0c40fe766d60929480d78895dc68e7c917e9655e53</string>
			<key>size</key>
			<integer>3445</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/apps/ristretto.svg</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>660aff69d9678f1b104863d10bd12f8ee050302a119527e9fc7d4482bca038b3</string>
			<key>size</key>
			<integer>58037</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>4e93c48bead50b2595b07e21b6f6b2d4e5f12d03d0b0836c5df69d679c6e1e36</string>
			<key>size</key>
			<integer>13506</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>fa1f370e68f06859c66eb855ab69a94def13f5dfa776b07bfe78d4f443900cf3</string>
			<key>size</key>
			<integer>12120</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>d75633c05ac8eb7c82307fb0a3481fd3b429b4d90fd63ee2d3038b48c84a6850</string>
			<key>size</key>
			<integer>16388</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>a18ce32bf4ad9c32e7a1905332f78c250d70f5a4423e5dcca9083c3b5ad1b66c</string>
			<key>size</key>
			<integer>17356</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>49b326f1694c6aef445d28b80d63511dce67b1d03193ab3c29c9b4fda22ccc62</string>
			<key>size</key>
			<integer>13706</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>f6caaaef257eb850240523b77d719566a0969c84e1e0da9b6ff58d27cd82e3ba</string>
			<key>size</key>
			<integer>13435</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>1c3331c4de2233fe11e91e603a3535917ecb117d699185fe978ae80bc08e3876</string>
			<key>size</key>
			<integer>12846</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>ddff7732bb565c97a443f74079b65b45ceec9ac09bd852d31ab4b7a443599c79</string>
			<key>size</key>
			<integer>13426</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>74579474d0c749fe928c1d83e9b05ff025e70fabee465bc0ac9e8a3088beb906</string>
			<key>size</key>
			<integer>20831</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_AU/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>f3f1e38538fb4779be40fa43a9037e7499bfabebd5cd655b69e0c7331f9c20c5</string>
			<key>size</key>
			<integer>14427</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>82e0e292ac9c1f223ef08de8cdd6a48aaf9cdb8b68b0d8c86ce684813f1d1f5b</string>
			<key>size</key>
			<integer>11424</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>28a27b3074a3cfc0294c7cbde8305bdf94f172907e496842869efa0bbe3929c0</string>
			<key>size</key>
			<integer>13682</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>ab27a6f473fb2158542263b1f8ee78199f5360aeee97affdbeef8a13b65c153f</string>
			<key>size</key>
			<integer>12992</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>bf93768240c7549bf07fb6593da010ec188b63c38c63bd125052214b16d3319a</string>
			<key>size</key>
			<integer>12788</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>181aab7ff1bf113cbc3ed765e111c4429eac71afd731d2713673f4c3fb3cc3cd</string>
			<key>size</key>
			<integer>13698</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>2edf9078a68cdcc8325a8e0b75c32cf08e5ec80cf7847ccde37aae2a301361d1</string>
			<key>size</key>
			<integer>13336</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>ebdc9164fb09ef4f496380173e5c6e696b8f59c99d24c586886deb32544f3793</string>
			<key>size</key>
			<integer>16598</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>9a98a1026ec4f888acbbb0763efc89a531022c01b2ef67d1fbec290683befe78</string>
			<key>size</key>
			<integer>12899</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>82e1cba2082e4b69374b11a4b1e9dcc981a105b34f81b9bd3e4cc0f3f6f5a437</string>
			<key>size</key>
			<integer>13190</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy_AM/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>12363a749681297d11a1986f967949ee5b80593d8ef6ee382414996459984921</string>
			<key>size</key>
			<integer>16530</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>948af4feb42ad27c8135ebc8fba07eb55f8b40a73b08998134ee2c7661fd27ca</string>
			<key>size</key>
			<integer>14991</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ie/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>84edf1f525a8673024a3c88e17e4941e010325f4b28aeac3336ee08bc03dbb97</string>
			<key>size</key>
			<integer>8390</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>3bf928ecb885c9a48a4d3a6a5f2fb85480ff66b0f43e82b845f36400ceec2e69</string>
			<key>size</key>
			<integer>15095</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>f7d5ff90f7b681061aeb840329c62b28a55950d3936a11276656e8df3c51e1d1</string>
			<key>size</key>
			<integer>13707</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>b6185ce0a39987b6ab9a46a0408ab77159ca97947f73d369b4231c59129070a2</string>
			<key>size</key>
			<integer>17230</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>fa71673014626f482e80bfc8b5963769de3894e8bab56a4e6f28c4de7d1d50bd</string>
			<key>size</key>
			<integer>16351</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>6454e1095dafe66ef223c98e7af8ef280b6ebbc44ccec810155a9b3c997d5aeb</string>
			<key>size</key>
			<integer>15624</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>6e18c4da7e65f2d4dd596f92a7e2f96a0ce19e5df4ae9bb61c48a696943ebc8e</string>
			<key>size</key>
			<integer>13721</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>ceb1c99a3ef266428a1cbd566614d12a13f6844f634b26c46cf62378f6c316d5</string>
			<key>size</key>
			<integer>4665</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>0a1839d7dd0b72781c057d0ce96ae05472f8a677876a22cb56c894f9dd5d6c65</string>
			<key>size</key>
			<integer>14797</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>10a734052e10169cfdb8f984e369a3ce843d46620e06f0cf6baeee628242f255</string>
			<key>size</key>
			<integer>12850</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>c7779925b711310d8d83beee2505e6aacc73165cd8548f2622916cdc089aa6bd</string>
			<key>size</key>
			<integer>13359</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>ce4d1e9984010044ea889ee742a0c5d4a9b2a7e493eda8e904f481fab5064fdd</string>
			<key>size</key>
			<integer>12558</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>a8a4c4261c2d195b167533ea4a36ff207f89091c2648cb3eb5eb717e787b9039</string>
			<key>size</key>
			<integer>13572</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>61fc700fa6e28dec004a68c64b7dfa54c60c27887a8cd1fb73266c177adc8cd0</string>
			<key>size</key>
			<integer>13171</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>31e656eb61c2cb47ac97ab95f1f0ef31af9a07afb147dd6763e754128e1af0dc</string>
			<key>size</key>
			<integer>13701</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>cfd8872e2945e362cc1e081d57673fb0fcd648f1c204fe5038e5bbf8ddc019f8</string>
			<key>size</key>
			<integer>12500</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>e2a153d9322e2696472119a8461c47e573ccbf94823aa78bccf7120b8cc9bdf1</string>
			<key>size</key>
			<integer>16763</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>ef1530c62a10c856b16e1fc1be32c3d44785fdf1fbda67f2bd8af17de05d717f</string>
			<key>size</key>
			<integer>15711</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>9a611dc35adda97ffd785409cab089a6690ff48e2c7b6cc6d3215072cfd52088</string>
			<key>size</key>
			<integer>6575</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>d107aff68caeb1337b77d8ba32ecbdb4aa7884951c3a82f6c2e9537ce6e5f36e</string>
			<key>size</key>
			<integer>6641</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>b2765c3826abcd0cd68af2f2ac7da7a846391fd00f5ad068b479561612abc6a5</string>
			<key>size</key>
			<integer>19266</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>d6aa5a70226fe905b152f262bbbfdbbc12cbc08067e8c8835172b442748b9f1b</string>
			<key>size</key>
			<integer>15126</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>ec866393349f4174fac9851fb5e9c89a6fc8a4f9e9209007474d23ee37b7d633</string>
			<key>size</key>
			<integer>7906</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>a46e8ddc72c95ae9da26c83a6a524b813b7140ef90d130efb68e534d01abb386</string>
			<key>size</key>
			<integer>21784</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>3a42e5d4ebc4b907efbad8ab568f81fac8587bc9ab38393542351237959395c4</string>
			<key>size</key>
			<integer>13179</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>e17b7c0110e9240feca54411d7603e81ea6e12a54a6855ec9289d33a3b4d9914</string>
			<key>size</key>
			<integer>15665</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>7f7fbea7e4ab4481b6bf352d90f3ffec6036b38f8be5fe7b8211beece6b7b76d</string>
			<key>size</key>
			<integer>19334</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>85fe497f4aaa97c7a2a47c7949ce8462452abc4d2de8d0a80bbb38d528acfe51</string>
			<key>size</key>
			<integer>1813</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur_PK/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>85fe497f4aaa97c7a2a47c7949ce8462452abc4d2de8d0a80bbb38d528acfe51</string>
			<key>size</key>
			<integer>1813</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>b4637b08922b48c0d29140d4198a1de32100eb968bf3e62b90aecb89c0283a6f</string>
			<key>size</key>
			<integer>5048</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>7499e9c04b8a1b437e277adce9052ab102a97be5abeca288b27dbb5fae021ab0</string>
			<key>size</key>
			<integer>12484</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/ristretto.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>87d2adf05bc92109bdca6b3b7606b053fa90a27d777063111fc3d91f71f9d965</string>
			<key>size</key>
			<integer>12524</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/metainfo/ristretto.appdata.xml</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>a1ab5e4d86d370ac46de38cf9f45af9b539208426d30ca6fc677b70954fea851</string>
			<key>size</key>
			<integer>18959</integer>
		</dict>
	</array>
</dict>
</plist>
