<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/patch</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/roswell</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/roswell</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/roswell/balus.ros</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>ff0e875220d899921f620a6452aa09a62dbba545435b973d7f41163579079af4</string>
			<key>size</key>
			<integer>1017</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/build-asd.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>3180997be3773a6d1cf517d21612f72c68c0fd14ee6266771ad1b3a7de714d9d</string>
			<key>size</key>
			<integer>764</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/build-ros.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>730c044b75fd33d9bc40f076f5cde5874385f5debbc27cc61b218b2acf5c8fda</string>
			<key>size</key>
			<integer>1266</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/build.ros</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>bdb8b9f61a4a7a618320779bdff42228b3af3da445c8d4d92da222f040453235</string>
			<key>size</key>
			<integer>1073</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/checkout.ros</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>b28ba330ce20fee65c78f2415400d4f0652cf3b5d0dc7df8a343541e9cde574b</string>
			<key>size</key>
			<integer>1022</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/compile-file.ros</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>381fdd0aa08a46bf035c2c153769e4b2838b917f81a8b904cf54e11f54755322</string>
			<key>size</key>
			<integer>3233</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/config.ros</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>1a23c52fca8c9ea68b942b01404ea4bd9a3a2e12f2c301b6e6a5bd26fe840bff</string>
			<key>size</key>
			<integer>2073</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/delete-asdf.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>892bf93a3fbb8b57988af9d68f87974a0a175bfd6efb4ce9e630c6be1abfa9fb</string>
			<key>size</key>
			<integer>191</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/delete-default.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>47821c22872dfccf5fae620c05acb43e3c3b8348b3207701e191a7aa3987ad61</string>
			<key>size</key>
			<integer>1603</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/delete-dump.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>4027ec80a47fe8ec8191b0575d6f4c05352948e85fdf5e99de69b5c933f45322</string>
			<key>size</key>
			<integer>991</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/delete-env.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>76c0c9c188e9a9dc8b68230a1eb8d9b46c179a4b4de795cf36d841ef63761ea4</string>
			<key>size</key>
			<integer>579</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/delete-git.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>821438de6f8fe130fdc6acb8ac19da993df6db9a1fa8dbf684391dc8f58690d8</string>
			<key>size</key>
			<integer>1320</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/delete.ros</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>88886717102f012e1d5d29e0ffd40d596f2c9c23c5f884fd13a2d1b17d5cea15</string>
			<key>size</key>
			<integer>610</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/dist-add.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>6a1f57c09870fed08463725ddbeba417081c7894c1d518a6d8b0489d49bb4bdf</string>
			<key>size</key>
			<integer>430</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/dist-clean.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>388570dea12aaf0dfa7a22fe0ab4b171cbb2996e88957069a93746facdc89051</string>
			<key>size</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/dist-default.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>20bb3fb643b639a52ef4ac8323f79c3c408f7e2f5709532c001cd8484778a2fa</string>
			<key>size</key>
			<integer>1025</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/dist-delete.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>abee106a18dd8e5ae7457468f0c1529f7637cb5e2268a383637670e043411d2f</string>
			<key>size</key>
			<integer>202</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/dist-disable.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>d117a979d2403cbe1afc9349080c28a6f49cf800aa37bc7117150f16b81b1348</string>
			<key>size</key>
			<integer>271</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/dist-enable.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>783bf68c9b26aeec6141033bf8b45a752ab659d48e0fc17518436996cbeabfe8</string>
			<key>size</key>
			<integer>267</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/dist-list.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>f83a0a7f30a7802213029ee48450cb39b73907a6a9edf7b3bbf33d7603fbec59</string>
			<key>size</key>
			<integer>960</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/dist-preference.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>9df425ac2c87d73aab61e95d2f6caffff89f6e1d204e468912434b3505edd83a</string>
			<key>size</key>
			<integer>760</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/dist-use.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>08e299270fa6ec9480cb8a36fe6c93af6d2267448791a42b14babb245a21f81a</string>
			<key>size</key>
			<integer>499</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/dist-versions.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>8982dd661789f88955d40efaa4c8b6d295bfd803c82e03d36d5e02fe21b72b09</string>
			<key>size</key>
			<integer>642</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/dist.ros</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>274e562af338f8330674c9225412c253b1ad0a8c9e164c38208e451b99c2c993</string>
			<key>size</key>
			<integer>953</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/dump-ccl.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>f3b4332baeffcc2670e85b9d986237a99a22b06b7794bef903db8f25f4dc97dc</string>
			<key>size</key>
			<integer>788</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/dump-clisp.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>1b8296b6bcd60965da956f3cc7c197d72fcfe2e33f24733150703d56312f2c9d</string>
			<key>size</key>
			<integer>675</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/dump-cmucl.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>587ab87ad5df2412e30971e5a7f844a6d334bf39c3bf9443bc487b0c0642a5ea</string>
			<key>size</key>
			<integer>1040</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/dump-ecl.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>9b2246113e86c2122a4d52cc1b40cff1ec2a6fbc5f0c1396af4d7e09142a8bf5</string>
			<key>size</key>
			<integer>1641</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/dump-sbcl.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>0371dd7e99fef91139a5cc517d6921d8e64b08c8fd4aedbdfb4c95026eff4a86</string>
			<key>size</key>
			<integer>8665</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/dump.ros</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>843d80c6cf5958cc426762328de662a82c95b49f2c1e321df63e71560aff89ce</string>
			<key>size</key>
			<integer>7792</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/emacs.ros</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>50f9e0dc6025034dc9dac5e8c73542d9130071f25b4b0881a31bac1b8ed1c153</string>
			<key>size</key>
			<integer>1289</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/exec.ros</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>8207de6a53f2030faeee4900e3c577d2f8e5b0148c2702c1d294fee76f547504</string>
			<key>size</key>
			<integer>957</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/extend-quicklisp-system.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>89d2ecb8b2b98397912e57dd98876c67d3dc4d7deada521ae11aa803672d6b39</string>
			<key>size</key>
			<integer>85</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/extend-quicklisp.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>163c34634c146f7be4738a88d0252a8b21cf0e67e39592a012cc1e15a015055e</string>
			<key>size</key>
			<integer>8075</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/fmt.ros</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>5a2cfc33b74e8c4bd8cac97684fb32e31a2e95a84a9f3d739084452e84e351b6</string>
			<key>size</key>
			<integer>3088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/get.ros</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>9972b5b7088c3ae498b3dd70af81d9611a0ce44d7eb492a51b0d7d08c24698ae</string>
			<key>size</key>
			<integer>585</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/git.ros</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>e06d105df0b51f270dc9ec27cbb730a5499d9508ca9d0da4f4d98fb0cb7e9490</string>
			<key>size</key>
			<integer>1347</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/help-install.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>8ec1e8c929c6f4e888757ce548679c42df00f67ad134fd91aa6bb4db97fa4da2</string>
			<key>size</key>
			<integer>1881</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/help-options.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>4e3e65ff04cb0ee67a104555d78ab199e7ef96af235682744201a874d8e8af5d</string>
			<key>size</key>
			<integer>2935</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/help-run.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>98395715fba21f0f69394c4fd465f08aa3eb36b37ae267fcb5190095e9631314</string>
			<key>size</key>
			<integer>421</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/help.ros</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>fe465db0bacec19ad9a6b8f77d221cdecd240263ee2a38cda8511a2f1af98e10</string>
			<key>size</key>
			<integer>2566</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/helper.el</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>705a47f38700d2477ddf1d917f8a8a794f62b6ddf89a579773a8ee5da15f50fb</string>
			<key>size</key>
			<integer>1581</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/hg.ros</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>d766183f3f873726687bd4d2f513084e44abebef499fa4732369c20e26cfe7f6</string>
			<key>size</key>
			<integer>977</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/init-default.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>48d45bffb781bde3f1aa495e7a5451c4b0918f30425108b6f324a62d1cdf0b51</string>
			<key>size</key>
			<integer>2202</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/init-dist.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>657d7d2a5a0704d57a2f7a36aeafb18981ccfdfa768198db6e6c68e7c677aba1</string>
			<key>size</key>
			<integer>918</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/init-env.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>81fb873ea9f71da2f5708f52af5042338403383eb018bbcb884f44e3c7b94448</string>
			<key>size</key>
			<integer>1617</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/init.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>1070cfaad3c9b288658d961a87ee55c07613db0fe1a85fc35b73e793b56444eb</string>
			<key>size</key>
			<integer>17757</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/init.ros</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>b32aff1c8e4e9fe560567ccaf4e0905b0613abe5865866c54df30fc97d6160c6</string>
			<key>size</key>
			<integer>576</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/install+7zip.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>09a7e30f9687fb9f6e73f1b093819145e15f91f39dbdf81fd872f68c961c51b5</string>
			<key>size</key>
			<integer>1912</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/install+externals-clasp.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>168282f50a29deb113f30e425d86dee3e34ebbd2db6c9f46f6cb8f9666fa4fa3</string>
			<key>size</key>
			<integer>5221</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/install+ffcall.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>fd940fafdcd96d5b2f7d6caf75e0f74554af496bd9b887aa3d487427c09892e7</string>
			<key>size</key>
			<integer>3015</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/install+msys2.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>02805440913b9f27eb7aeafc54bb898840a614b3752fabcced7e229590661262</string>
			<key>size</key>
			<integer>3356</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/install+sigsegv.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>e0539574a961b0e05664779f1bb2cbbf4a99671c1f2d2bc489a5d1357002de72</string>
			<key>size</key>
			<integer>3001</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/install-abcl-bin.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>e1ffbb28bae3abaffdb38ea612c69e556561c846438834c2ac2ad6979231e3b9</string>
			<key>size</key>
			<integer>3068</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/install-allegro.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>583d5e7298ada239ea4386888813ef0f250b64346facffc3e9f9d86a2e6998c8</string>
			<key>size</key>
			<integer>4234</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/install-asdf.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>d62448114df48f32998145cad81193645e3ec1222c4ca46a6a736e7e89bef18d</string>
			<key>size</key>
			<integer>2337</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/install-ccl-bin.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>a0d52d79a3ee45f82c726751b094fce3591408c0766b850e246d86a99cf55dbd</string>
			<key>size</key>
			<integer>3230</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/install-clasp.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>108c2d2c669526cc0a497e7b66949b1620cf486a916b858c9a7b24aebf162d94</string>
			<key>size</key>
			<integer>7411</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/install-clisp.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>f931f204f381d24d7dadbb107269eb320ad9b8d10bb3dcbb4e900fb8666b1322</string>
			<key>size</key>
			<integer>7196</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/install-cmu-bin.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>818b0a7872ae35ff59e065e427f0777e15e4fa465959658decbd02d54c46fba8</string>
			<key>size</key>
			<integer>3906</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/install-ecl.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>680c6500ebf1649644495f5f3488af2f7e217d32eba2b8ee7024dbe7904fc8f4</string>
			<key>size</key>
			<integer>6267</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/install-lispworks.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>108dbfe04a014480e9e417917d11e03aa638f6ebc7ce1fcce0befa2f15c2744a</string>
			<key>size</key>
			<integer>3830</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/install-mkcl.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>51562d4e8036f3650fad67bb13a8b95ea63d93864cb177ecd8e293d075037bec</string>
			<key>size</key>
			<integer>6088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/install-npt.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>f9ac9d6e7c18dd6f166fc9196c325ca65f026dff4d78c9408cf2a908319a842e</string>
			<key>size</key>
			<integer>7633</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/install-quicklisp.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>d9cc28549babe51e495b47975f537e7a654d86e431105d7c75e213bfbe07a390</string>
			<key>size</key>
			<integer>3425</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/install-sbcl-bin.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>e9d74a4314958175750dba56568ed43e62e0b3e94d0798c254f5e0fc2849a920</string>
			<key>size</key>
			<integer>585</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/install-sbcl.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>781e84b52ec5ad73e66fd29d8b01f5734898389b6b31de8e27a0c5f42a42c1df</string>
			<key>size</key>
			<integer>17670</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/install-slime.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>4996299c2b443e66d9e59ee00245c08fca7811421701523bf4e4a0922048c971</string>
			<key>size</key>
			<integer>4887</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/install-sly.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>6d1937ac5f6f0ccb92ede6ff08d6d7cb400f947ea018bced17411eb8375234cf</string>
			<key>size</key>
			<integer>1473</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/install.ros</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>41bc40dc3afd12221caded8c134e484f2ef21c6af4b5e4b3ef828243c6bfc506</string>
			<key>size</key>
			<integer>541</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/list-asdf.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>ccc414de2468ea9fada6d5b1ca6f33a87248ac5b3b0650397d654543a36acdbf</string>
			<key>size</key>
			<integer>450</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/list-default.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>e8c262edf2446bfc92da8c8612baf81ce6e7942c80d71fb5950332fbf99001b2</string>
			<key>size</key>
			<integer>677</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/list-dump.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>e4558cb1a2e9fd330757cd233eabed3640139d49cfef8b3929f10c6975e0e46c</string>
			<key>size</key>
			<integer>721</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/list-env.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>8645c7c8cee077d7d061216707b2fc2d5d12432ea1dc4a3ca3d3d4cef92ccc53</string>
			<key>size</key>
			<integer>533</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/list-git.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>cb7e64f8c11b16ce5319d873616c6850c6b883fbf93a4f24dfccaa1d326469b8</string>
			<key>size</key>
			<integer>702</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/list-installed.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>de5f4433ec195b911eda972b52d1468c43e80fc502f07f6f82a81c4c10928897</string>
			<key>size</key>
			<integer>1694</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/list-versions.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>5e49f76748959b161368d5b19fd951ff576f172b21a16a56285357287542e122</string>
			<key>size</key>
			<integer>1105</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/list.ros</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>2a4f2ba1e5e4bece2daeac555f0f116e92fd298514939addd74852152fa7384a</string>
			<key>size</key>
			<integer>652</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/locations.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>fd06669950ef670cae8628ecd8b7f856b26c63c4af9438b3a614ada83e823e54</string>
			<key>size</key>
			<integer>2424</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/make-depends.ros</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>a27d2c0ed21daebf71abeeb09b9805cd6165c9c3b6b1e8d06ddc28ac929e7edb</string>
			<key>size</key>
			<integer>1424</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/patch/sbcl-1.3.11.patch</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>9416e966ba2219469aa7edf4cc21656624848be8b007a48ea6904aceea252368</string>
			<key>size</key>
			<integer>352</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/patch/sbcl-posix-tests.patch</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>8d513778f92711bb88e5181dc905a4752fb6b80579131b3ff6f6edc211928434</string>
			<key>size</key>
			<integer>321</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/patch-quicklisp.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>8527e403657285a13ce4dd3e5568f57c7c608db8f6caf678d3e31ba144ba1302</string>
			<key>size</key>
			<integer>129</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/run.ros</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>c7b25a002e18053b42ad52e943ed03b949a72666b8e194d88f030b88792ba31a</string>
			<key>size</key>
			<integer>812</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/setup.ros</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>24c3c6b67636c619daa144929e0ef4185a06b9ab5a75b7f38f7e3318777dc54b</string>
			<key>size</key>
			<integer>4496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/shell.ros</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>0f815d6b9c663a4553f08334109a65372c31d16911ec8a02597c10ba71ec18fc</string>
			<key>size</key>
			<integer>821</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/system.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>091e04fbfcd511fc4183950a9ed1870228c92fad76bca90968f4c7aa1623f14d</string>
			<key>size</key>
			<integer>1066</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/template.ros</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>cda5cc0c0e8d87abd46292e8219190186e542b2c18907a7d78a759a4432865eb</string>
			<key>size</key>
			<integer>7664</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/update-default.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>021248b09e941a2d1be44cc42b2acdf242269c80c4a21ddc550e5ad6ba0048aa</string>
			<key>size</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/update-git.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>002cb313fa10c9490fe645fb214518eb5d20f0a9fe1d50b8bc79477a0bc33bcc</string>
			<key>size</key>
			<integer>925</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/update-hg.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>39a05ffe62ab1220d8902fc533645dc5cbda328e5769344156947d266102834a</string>
			<key>size</key>
			<integer>941</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/update-quicklisp.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>a4039485ae49845f97b2f2b78e92e5c36634789a28fbf5580a68318df961875e</string>
			<key>size</key>
			<integer>762</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/update.ros</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>afb3d66dd0b179f811b691c956dd567421ed19061b801a1988acc9709ccec048</string>
			<key>size</key>
			<integer>1964</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/use-asdf.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>1fd20797f9a190565f3b78f67bc0945ea3c11d91e5fcc07dce613dbd92e76df0</string>
			<key>size</key>
			<integer>1672</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/use-env.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>d1b195c1ad2bd823b84cd3f07b59a820a0af06b0aaf67ba39968d0902b79f544</string>
			<key>size</key>
			<integer>688</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/use.ros</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>8d8de672098abc15c4f7f25e0fde17e34ffce94dadb0fb4a9c51d09a72f1acab</string>
			<key>size</key>
			<integer>723</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/util-config.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>218bcec6af8fb462c299369135fedda5cbda118152bbd8c30d8fe1d8c4efe970</string>
			<key>size</key>
			<integer>1330</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/util-dump.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>6d60096989ef9cc0a4bce4cb6f28106cd16edc154ad5f250022ca6e8d4e2d21b</string>
			<key>size</key>
			<integer>6400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/util-install-quicklisp.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>39387cf0d7112d08deea4d0e5e63e0e3241b8462a8a707123bc010bf529e8df7</string>
			<key>size</key>
			<integer>9094</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/util-install.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>0dfe78e8f9bc898c7c7b99d4d222f39dfb4ac003ba6ebe7f949d16977980b1e5</string>
			<key>size</key>
			<integer>9359</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/util-main.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>6f6278e5c8ab0a927d2085de67f4dd37489d4feee06d6b0cec4edd6ce659a427</string>
			<key>size</key>
			<integer>1153</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/util-swank.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>a4f9e3e4a26606e1bfa246e7eac9eb5de259b99b1a958c30d722e27a536799ca</string>
			<key>size</key>
			<integer>961</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/util-template.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>1775073c9cf29890d3bafb624a5c2089ecd5dfa2c0933c07e8af961fdc188e92</string>
			<key>size</key>
			<integer>11722</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/util-use.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>f3cac7eb723f122cf7e75d2cb8aefa15524f480c5021382640e45099c19b2b93</string>
			<key>size</key>
			<integer>828</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/util.lisp</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>949c63e5331c54a542e11d6403da04021470b0ddb4ec5130c0b864683c76bb38</string>
			<key>size</key>
			<integer>12110</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/version.ros</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>c1387f7ceae9fb12118bc6bd743af1c4e8e4aa806ebeb8d6ba46ceb908136a95</string>
			<key>size</key>
			<integer>1308</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/wait.ros</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>556eb0fc680f1be3745a1cc8be10aaed6d6f68ab346f25e3038d9b6a6eef971c</string>
			<key>size</key>
			<integer>280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/roswell/which.ros</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>42c97170d21166127df8ece60b8a3345941f0ba29fb03e5e29334c3d18ed5d17</string>
			<key>size</key>
			<integer>512</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ros</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>1b2b03cc61dbf7ae503fc40035000c89deb095328fe7433d1f5f4f1814034b23</string>
			<key>size</key>
			<integer>92640</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/roswell/ros-asdf.html</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>14127557aba3fc6cf71d2ded15ed69c8fdbb6b54d60d8ac29754f2b1a8926682</string>
			<key>size</key>
			<integer>1052</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/roswell/ros-build.html</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>4f40cd984ad43adaa440b360d610c2e7ded4ef3105ea0a4a519e2d135369bee3</string>
			<key>size</key>
			<integer>1074</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/roswell/ros-checkout.html</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>fc5aec276e430f4da6aeaf90815ca912b919641ccbf1c00e0c85193a47926191</string>
			<key>size</key>
			<integer>1040</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/roswell/ros-config.html</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>6df04e3ac48ad4441bbdcff9633b4bc32f99d9a1573c40563e338bce11fcdf99</string>
			<key>size</key>
			<integer>1116</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/roswell/ros-delete.html</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>729cb2b904c372d20b50f0054513b126d871be0df4bf11a98ea0dcbdbbf85ede</string>
			<key>size</key>
			<integer>1908</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/roswell/ros-dist.html</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>54121ec547fecb9f8b4f47a70a05469785d61a67a1d872922945fb80dfba52c7</string>
			<key>size</key>
			<integer>951</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/roswell/ros-dump.html</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>23bd7b4df65d213cda0b25c844b36c66d410944afb6429fa77f3ca32cdef416e</string>
			<key>size</key>
			<integer>7554</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/roswell/ros-emacs.html</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>8c3fc4f4fd3705d596387cd8666e09b71ba6ad69abd3b1553e935f6802addb7d</string>
			<key>size</key>
			<integer>1189</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/roswell/ros-help.html</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>74214b68c5d9d141a75c8f71a9d5c403d8e868278a50cd79542d47da18e7a1fd</string>
			<key>size</key>
			<integer>1092</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/roswell/ros-init.html</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>79218bf7560bda6e30a909a5ad341e5c5138b3204c56e4dbc1ceaf37fb55e1d7</string>
			<key>size</key>
			<integer>2736</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/roswell/ros-install.html</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>15cda3452f5de3e6d654a58c6b202983024af94f134fce34e64cb100d3dcfa2b</string>
			<key>size</key>
			<integer>4067</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/roswell/ros-list.html</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>2e085b7977fc45990d6e9eac476ca5729ddb03963e20b4249d5d7de7dbba5f38</string>
			<key>size</key>
			<integer>1772</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/roswell/ros-run.html</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>f8fade6e9f7f0910e07ea93b395ee1626f2bb63831f5a2865c6841c11e25d6be</string>
			<key>size</key>
			<integer>1109</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/roswell/ros-setup.html</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>3d699b7e1b1a1076a7b83d887d6fcfde640f9a74bb766c53f8cebf03f9a696e2</string>
			<key>size</key>
			<integer>1446</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/roswell/ros-template.html</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>006f9bf888fb6bf66ff2476416e28c7750ea3918892b7f05ffd7044a53389950</string>
			<key>size</key>
			<integer>7493</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/roswell/ros-update.html</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>2b06cff8164c34c1c69dadedbca9dd69cd555fc1b243f1dec58f6a84a2d61a13</string>
			<key>size</key>
			<integer>1358</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/roswell/ros-use.html</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>34c9f252ad924ed84ef65c0a00a8aae0771a284c47259d7cf9b5cf28408f8e31</string>
			<key>size</key>
			<integer>2716</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/roswell/ros-wait.html</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>ac769e9d2e8f3ec11c346941785f4bc438837adabac63856a7223065178b1a0c</string>
			<key>size</key>
			<integer>1289</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/roswell/ros.html</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>284676f2ad5f9861ef8e5127fe1214210a01c862544d0ee8e26ded6708aed93e</string>
			<key>size</key>
			<integer>6340</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/roswell/COPYING</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>c21eab4e790ec252ee308746f74d2d2da2f6e60dfdb76aa0c37bcdb977177702</string>
			<key>size</key>
			<integer>1063</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ros-asdf.1</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>92d220998024b3fd68ddb34645fb2a13cb6d785850a663abd0ae3ab3ce8f0dd6</string>
			<key>size</key>
			<integer>325</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ros-build.1</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>aeab7bc19cebc18d54a9bbed18f8468940b2f84cd32dd3ed0734ccffd268d721</string>
			<key>size</key>
			<integer>329</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ros-checkout.1</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>689cc6236ba165812f619af2c5d1d2eaded7bf9b5fe96a60d11ffd05a07e6b0d</string>
			<key>size</key>
			<integer>317</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ros-config.1</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>35dace9c5f6c629dd53f1c3d927ca3a1f0a1620fd8ae56e5c429906ff6142799</string>
			<key>size</key>
			<integer>454</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ros-delete.1</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>e8f0b045c113205271b87cc49e99b116c3b8dd9952a670e7cd4f1faf2aa4555d</string>
			<key>size</key>
			<integer>1125</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ros-dump.1</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>5b2a9ea611a2a34e1b17d7e8f11c0b8cd32e607ef172a1f410ef7cf2a56ed6ed</string>
			<key>size</key>
			<integer>6290</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ros-emacs.1</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>5ae98a6c97624bb3dec97979a868b25356ce4b4155a9bbb3307e3bce41bc9bd7</string>
			<key>size</key>
			<integer>470</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ros-help.1</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>4c0585d89a4abb2384f52a2cdd046c35e07fb3206fb1a06ff308e4acb2f15486</string>
			<key>size</key>
			<integer>341</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ros-init.1</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>aae5f42d788317075324c0fa70d1f064c9b71ce39d2407d1793df368c4711da9</string>
			<key>size</key>
			<integer>1966</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ros-install.1</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>7f87e61d29f47402d8bc4ba2110950c1535537cc516f2cffbdf7f304010536ce</string>
			<key>size</key>
			<integer>3146</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ros-list.1</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>62481395f7df32a66804785fb1a6f9ab4e991513bb1f9a6e0cd8473d51481a4d</string>
			<key>size</key>
			<integer>973</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ros-run.1</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>2fe694f68b2934a8a06d2dbc7bd84a45f96a2a9145d9877a56d12670e9d4c1f2</string>
			<key>size</key>
			<integer>364</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ros-setup.1</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>2e3f2a52e9c3b8e4a86a0ff27a0216eabe748c045d2476ca40009a071b765f40</string>
			<key>size</key>
			<integer>684</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ros-template.1</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>a1a06e4d78377b8b969cc36b30b4f418497f75168c2581096dbecafee8b0c5f4</string>
			<key>size</key>
			<integer>6330</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ros-update.1</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>e1fb983c4fccbbc8bd803186eb5043c24f74c157feb2a862b6a602b7b0469c75</string>
			<key>size</key>
			<integer>661</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ros-use.1</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>8cee096d19855851f5a99fa52441b39a020339ac58d02d28b2b68986185036a6</string>
			<key>size</key>
			<integer>1809</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ros-wait.1</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>0f9ae9dc120a8b277ecc96bd2cb10fcc102f4f5de9cd28f5406ae7edfe10f40c</string>
			<key>size</key>
			<integer>555</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ros.1</string>
			<key>mtime</key>
			<integer>1570871915</integer>
			<key>sha256</key>
			<string>456431cdcf0e0c6076bfcd7a28553ce0ddbf43d740c774d19eab4719a84319ea</string>
			<key>size</key>
			<integer>4669</integer>
		</dict>
	</array>
</dict>
</plist>
