<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ruby-2.7.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ruby-2.7.0/ruby</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ruby-2.7.0/ruby/backward</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ruby-2.7.0/x86_64-linux</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ruby-2.7.0/x86_64-linux/ruby</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ruby</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ruby/2.7.0</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/include/ruby-2.7.0/ruby/assert.h</string>
			<key>mtime</key>
			<integer>1610229322</integer>
			<key>sha256</key>
			<string>713f8665277816c64e3459e0bf047288bb5061fdb1a078d5db9aa80708c90664</string>
			<key>size</key>
			<integer>1514</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ruby-2.7.0/ruby/backward/classext.h</string>
			<key>mtime</key>
			<integer>1610229322</integer>
			<key>sha256</key>
			<string>e9de3ad07088ba83c6f45d541ad254583ac9f891a48ac059b3b927596fd7d7af</string>
			<key>size</key>
			<integer>501</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ruby-2.7.0/ruby/backward/cxxanyargs.hpp</string>
			<key>mtime</key>
			<integer>1610229322</integer>
			<key>sha256</key>
			<string>a8f2925a740973c50de3fa47600ba403482fc284ca605d150dbd6c3cf910a72d</string>
			<key>size</key>
			<integer>16361</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ruby-2.7.0/ruby/backward/rubyio.h</string>
			<key>mtime</key>
			<integer>1610229322</integer>
			<key>sha256</key>
			<string>2d551710edc86024b7fa87b795147e152928daf79494cdfee62bb259a2fce409</string>
			<key>size</key>
			<integer>191</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ruby-2.7.0/ruby/backward/rubysig.h</string>
			<key>mtime</key>
			<integer>1610229322</integer>
			<key>sha256</key>
			<string>15a6dd96c97bad8970f6e1646a3344cb189b82a795aeabbdb69b8087116e0987</string>
			<key>size</key>
			<integer>895</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ruby-2.7.0/ruby/backward/st.h</string>
			<key>mtime</key>
			<integer>1610229322</integer>
			<key>sha256</key>
			<string>2d710187a51fd90f11962f56a7d4840d63f9c4e49fe5788046ff702e6471f555</string>
			<key>size</key>
			<integer>193</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ruby-2.7.0/ruby/backward/util.h</string>
			<key>mtime</key>
			<integer>1610229322</integer>
			<key>sha256</key>
			<string>77c8ab48f83769be129bb798bca7500cdec73de07bc5fdf8da847c9062e1196b</string>
			<key>size</key>
			<integer>203</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ruby-2.7.0/ruby/backward.h</string>
			<key>mtime</key>
			<integer>1610229322</integer>
			<key>sha256</key>
			<string>4222023e6b8f521b18a42a1a2d05ad25dc9f4a91d8129484472e6f6e77999116</string>
			<key>size</key>
			<integer>2307</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ruby-2.7.0/ruby/debug.h</string>
			<key>mtime</key>
			<integer>1610229322</integer>
			<key>sha256</key>
			<string>7defe453646a7b8b970aa039e11269bfb445eef04f81556bce95084af5e0c587</string>
			<key>size</key>
			<integer>4428</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ruby-2.7.0/ruby/defines.h</string>
			<key>mtime</key>
			<integer>1610229322</integer>
			<key>sha256</key>
			<string>ef00e5e7bdf0f5ef9ae26e8d81b1cd63de24cd5444899140fd68c78f7c70086d</string>
			<key>size</key>
			<integer>13220</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ruby-2.7.0/ruby/digest.h</string>
			<key>mtime</key>
			<integer>1610229322</integer>
			<key>sha256</key>
			<string>490fdeec9f24839fa0ed23ddcc83776e770e3af0ab2c49e64b9007705230f026</string>
			<key>size</key>
			<integer>1512</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ruby-2.7.0/ruby/encoding.h</string>
			<key>mtime</key>
			<integer>1610229322</integer>
			<key>sha256</key>
			<string>faaa26fce91536d9379b8d387fd1dba2cf70a359ee26fa4ada7a570230c77a80</string>
			<key>size</key>
			<integer>18208</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ruby-2.7.0/ruby/intern.h</string>
			<key>mtime</key>
			<integer>1610229322</integer>
			<key>sha256</key>
			<string>4c995cea07405c989ed3f3dbc086a58599966243072c10e75ce49296070f9616</string>
			<key>size</key>
			<integer>58587</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ruby-2.7.0/ruby/io.h</string>
			<key>mtime</key>
			<integer>1610229322</integer>
			<key>sha256</key>
			<string>b2753daf9e78b8f20d21d3fd462ecb33f394eb5c0b58f5f4ce3a75845eae47f4</string>
			<key>size</key>
			<integer>5303</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ruby-2.7.0/ruby/missing.h</string>
			<key>mtime</key>
			<integer>1610229322</integer>
			<key>sha256</key>
			<string>35da688e631af6a69519b1686168c1121ec4fa77d39abf1bfc78f000de214cc3</string>
			<key>size</key>
			<integer>5411</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ruby-2.7.0/ruby/onigmo.h</string>
			<key>mtime</key>
			<integer>1610229322</integer>
			<key>sha256</key>
			<string>ce573ef42c2f31823db56cf0f313a7ae3c43a66203f01f4435a8bd8f664895c9</string>
			<key>size</key>
			<integer>44658</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ruby-2.7.0/ruby/oniguruma.h</string>
			<key>mtime</key>
			<integer>1610229322</integer>
			<key>sha256</key>
			<string>38686a1351e873bf3f9cddf936fca35e5ea086c4dacdf0de4c9cf860486ee513</string>
			<key>size</key>
			<integer>262</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ruby-2.7.0/ruby/re.h</string>
			<key>mtime</key>
			<integer>1610229322</integer>
			<key>sha256</key>
			<string>8308a5dde6fbf309a22ac839fc4ea86f3145553f5dcbeaa38987d0685dbec6c4</string>
			<key>size</key>
			<integer>1436</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ruby-2.7.0/ruby/regex.h</string>
			<key>mtime</key>
			<integer>1610229322</integer>
			<key>sha256</key>
			<string>6d7a2e767c06035ad5cd51106301063a1e479841c5fd42a14c67d042152c717c</string>
			<key>size</key>
			<integer>777</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ruby-2.7.0/ruby/ruby.h</string>
			<key>mtime</key>
			<integer>1610229322</integer>
			<key>sha256</key>
			<string>9db7629407e801ec32d507ebb7d5e3e9fe021d12c3e5c95942bb5e94aeda0c6c</string>
			<key>size</key>
			<integer>99415</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ruby-2.7.0/ruby/st.h</string>
			<key>mtime</key>
			<integer>1610229322</integer>
			<key>sha256</key>
			<string>fb53190601a017a58f44d04a17716a98bba04f1128e497ccf2905b6c723a738d</string>
			<key>size</key>
			<integer>7564</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ruby-2.7.0/ruby/subst.h</string>
			<key>mtime</key>
			<integer>1610229322</integer>
			<key>sha256</key>
			<string>020f1c58f01d0e554300496834e657311a516e2095e86bd34c7c7e76718b1904</string>
			<key>size</key>
			<integer>374</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ruby-2.7.0/ruby/thread.h</string>
			<key>mtime</key>
			<integer>1610229322</integer>
			<key>sha256</key>
			<string>bbbc6ffbf11be02fc3d3ca015504ea1acd42cf6b420dd391d02cc06f01db2782</string>
			<key>size</key>
			<integer>1347</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ruby-2.7.0/ruby/thread_native.h</string>
			<key>mtime</key>
			<integer>1610229322</integer>
			<key>sha256</key>
			<string>feae1e23b66b73ea87b4b60eb6c0eb1013d821a4cda37cb5c6d049f1f28d8a70</string>
			<key>size</key>
			<integer>1333</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ruby-2.7.0/ruby/util.h</string>
			<key>mtime</key>
			<integer>1610229322</integer>
			<key>sha256</key>
			<string>0d5207271785c6773cddcc4d039eb8e9df4fcfe536a46ff7028d83eec2143ceb</string>
			<key>size</key>
			<integer>1888</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ruby-2.7.0/ruby/version.h</string>
			<key>mtime</key>
			<integer>1610229322</integer>
			<key>sha256</key>
			<string>d7809b7a1287ab75061cf4a13683bbda61f4e95533c293b3c98a15a8f76765c0</string>
			<key>size</key>
			<integer>1853</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ruby-2.7.0/ruby/vm.h</string>
			<key>mtime</key>
			<integer>1610229322</integer>
			<key>sha256</key>
			<string>9f1b6ce00dcc534e0273d290be98716ed967ca56740bf1a66f8794dc93353a3f</string>
			<key>size</key>
			<integer>1559</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ruby-2.7.0/ruby.h</string>
			<key>mtime</key>
			<integer>1610229322</integer>
			<key>sha256</key>
			<string>329917227cee60cfafaceb07d76bd281bbd68fe76839b993c247463c8f429510</string>
			<key>size</key>
			<integer>868</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ruby-2.7.0/x86_64-linux/rb_mjit_min_header-2.7.2.h</string>
			<key>mtime</key>
			<integer>1610229322</integer>
			<key>sha256</key>
			<string>0cf522ee72b24aff34d004d7dbe702e0272247fcd3367795072a02bdf975ca3e</string>
			<key>size</key>
			<integer>1039451</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/ruby-2.7.0/x86_64-linux/ruby/config.h</string>
			<key>mtime</key>
			<integer>1610229322</integer>
			<key>sha256</key>
			<string>98cf9ad81a46b6b962f7ee121448572f1e93ce91dd3c952fc4d2aaa46cd0674a</string>
			<key>size</key>
			<integer>13161</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/ruby-2.7.pc</string>
			<key>mtime</key>
			<integer>1610229322</integer>
			<key>sha256</key>
			<string>693ebd86e5617b5bc68d97b04ac7b4c0d9add0f8653d7ef505a4a40857aa18ea</string>
			<key>size</key>
			<integer>1922</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ruby/2.7.0/mkmf.rb</string>
			<key>mtime</key>
			<integer>1610229322</integer>
			<key>sha256</key>
			<string>4e3db1565d70a0a6b4e047f20e36c66723a3c16a35609297db8e601eb636315a</string>
			<key>size</key>
			<integer>88292</integer>
		</dict>
	</array>
</dict>
</plist>
