<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/run-parts</string>
			<key>mtime</key>
			<integer>1601527047</integer>
			<key>sha256</key>
			<string>2b4f58a8d01aa5d2af7c308598b51aa2ceb4d564709b96f12e17fd8e94bbf730</string>
			<key>size</key>
			<integer>27192</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/run-parts.8</string>
			<key>mtime</key>
			<integer>1601527047</integer>
			<key>sha256</key>
			<string>028e4303cd0c89586e8b05d6cf43164fa305e5807ee3baee97aaac6c521729db</string>
			<key>size</key>
			<integer>3948</integer>
		</dict>
	</array>
</dict>
</plist>
