<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/runc</string>
			<key>mtime</key>
			<integer>1597059691</integer>
			<key>sha256</key>
			<string>52a51270254431a5d740576d40601a69e424d5d911d2fa15ccb8f07fc67623b7</string>
			<key>size</key>
			<integer>14344552</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/runc-checkpoint.8</string>
			<key>mtime</key>
			<integer>1597059691</integer>
			<key>sha256</key>
			<string>6a68e3066205d279f10831f8dcd0a4389c84d9a23b97b0618ee0de4e7ed0a727</string>
			<key>size</key>
			<integer>1507</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/runc-create.8</string>
			<key>mtime</key>
			<integer>1597059691</integer>
			<key>sha256</key>
			<string>f5293d940a6675aef73c2f01e081218e22b3f1695b95c8dc42736cefe0f39fe0</string>
			<key>size</key>
			<integer>1606</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/runc-delete.8</string>
			<key>mtime</key>
			<integer>1597059691</integer>
			<key>sha256</key>
			<string>0e731c7b1899f6b48319e3f0bff68be2ad0db8ab70e94775eed9812e44470732</string>
			<key>size</key>
			<integer>704</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/runc-events.8</string>
			<key>mtime</key>
			<integer>1597059691</integer>
			<key>sha256</key>
			<string>246e89a94158b03c34ccea5286d35c27b1ef3d484cc46b4ea0958ed66fa16d32</string>
			<key>size</key>
			<integer>617</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/runc-exec.8</string>
			<key>mtime</key>
			<integer>1597059691</integer>
			<key>sha256</key>
			<string>c50896efa9b928386afdb8a3ce28fc49ae0f631ffc18d57897391d19acb47128</string>
			<key>size</key>
			<integer>1962</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/runc-kill.8</string>
			<key>mtime</key>
			<integer>1597059691</integer>
			<key>sha256</key>
			<string>cd092d298650b7ea820389f380d72fd718daa7f9cffb86a558df6dee5947c559</string>
			<key>size</key>
			<integer>697</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/runc-list.8</string>
			<key>mtime</key>
			<integer>1597059691</integer>
			<key>sha256</key>
			<string>f27f7bf3d5860bf3d1da74b3eefe007efd9d157599c5728751ce5836903e485c</string>
			<key>size</key>
			<integer>622</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/runc-pause.8</string>
			<key>mtime</key>
			<integer>1597059691</integer>
			<key>sha256</key>
			<string>cedfe0440cc6ce63892cce4bb20007ca3990d9d817f534dd66cd8736ee31fc1c</string>
			<key>size</key>
			<integer>428</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/runc-ps.8</string>
			<key>mtime</key>
			<integer>1597059691</integer>
			<key>sha256</key>
			<string>8cdaa10a7300bec486e103fd7f8b154aba0f0fb833b40385183d880366750530</string>
			<key>size</key>
			<integer>451</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/runc-restore.8</string>
			<key>mtime</key>
			<integer>1597059691</integer>
			<key>sha256</key>
			<string>2758dec1d172fc194cea83d5065b2d9978a8322a9eb3619995a54405b7f97665</string>
			<key>size</key>
			<integer>1368</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/runc-resume.8</string>
			<key>mtime</key>
			<integer>1597059691</integer>
			<key>sha256</key>
			<string>1baff8359f8f82c3bf94f2f189d0a79fe7cbc19c3c200e96068b5f76cda31f6d</string>
			<key>size</key>
			<integer>437</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/runc-run.8</string>
			<key>mtime</key>
			<integer>1597059691</integer>
			<key>sha256</key>
			<string>dfb3884f4256203de22f052d1048b1be9654dd90eae0612fdf02f8e4c051348c</string>
			<key>size</key>
			<integer>1763</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/runc-spec.8</string>
			<key>mtime</key>
			<integer>1597059691</integer>
			<key>sha256</key>
			<string>32a380a891cb0f445be1ccc5803f2ff0f00520f5cbd597fb5bd4b5513faf6585</string>
			<key>size</key>
			<integer>2512</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/runc-start.8</string>
			<key>mtime</key>
			<integer>1597059691</integer>
			<key>sha256</key>
			<string>babd28e19f4277c2771c71062f8055615d6f6cde8529dfdd83af2cdcbf566eb1</string>
			<key>size</key>
			<integer>453</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/runc-state.8</string>
			<key>mtime</key>
			<integer>1597059691</integer>
			<key>sha256</key>
			<string>899dd7a33243b3dd33bf5449847127690ffb7da3ef0cedb29cff6e0be9b7de13</string>
			<key>size</key>
			<integer>332</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/runc-update.8</string>
			<key>mtime</key>
			<integer>1597059691</integer>
			<key>sha256</key>
			<string>c9437fd19b7bb47d10004d5989e170406d05cf36a8ae8791d55c92ed1ce006e6</string>
			<key>size</key>
			<integer>2283</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/runc.8</string>
			<key>mtime</key>
			<integer>1597059691</integer>
			<key>sha256</key>
			<string>063ec176422c9728cbf7c722add47637b8fdf7cee791adf4cf41fed707fd2c7f</string>
			<key>size</key>
			<integer>3360</integer>
		</dict>
	</array>
</dict>
</plist>
