<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/rust</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/rust</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/rust-gdb</string>
			<key>mtime</key>
			<integer>1608150829</integer>
			<key>sha256</key>
			<string>f3b2cf814aad0e676fb4392a5d0f34a21803f1a6cba2df1900b942aa470134fa</string>
			<key>size</key>
			<integer>754</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/rust-gdbgui</string>
			<key>mtime</key>
			<integer>1608150829</integer>
			<key>sha256</key>
			<string>f0dc5b62fac9d69c5cc10b929e0da0ad7c4a4648e2ee031c20018f758d99222c</string>
			<key>size</key>
			<integer>1944</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/rust-lldb</string>
			<key>mtime</key>
			<integer>1608150829</integer>
			<key>sha256</key>
			<string>4c08b4b4bef7f120b28251a860f08396c231d5851dda0fe7807b4f558d8f1547</string>
			<key>size</key>
			<integer>1072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/rustc</string>
			<key>mtime</key>
			<integer>1608150829</integer>
			<key>sha256</key>
			<string>dbd8801ecfd2f07199e00f380f4c82f886e5e278cd8ffcec10d22f1c1deb9aec</string>
			<key>size</key>
			<integer>14328</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/rustdoc</string>
			<key>mtime</key>
			<integer>1608150829</integer>
			<key>sha256</key>
			<string>864e23ab4801522939322ba737669d735c14ccd1c9eb85da3ecc0bdf4677240d</string>
			<key>size</key>
			<integer>5073560</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/rust/COPYRIGHT</string>
			<key>mtime</key>
			<integer>1608150829</integer>
			<key>sha256</key>
			<string>401266ab45019fe25d501eb10f11b85140ecf54a739fc1e3d26800ed276f899a</string>
			<key>size</key>
			<integer>9322</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/rust/LICENSE-APACHE</string>
			<key>mtime</key>
			<integer>1608150829</integer>
			<key>sha256</key>
			<string>62c7a1e35f56406896d7aa7ca52d0cc0d272ac022b5d2796e7d6905db8a3636a</string>
			<key>size</key>
			<integer>9723</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/rust/LICENSE-MIT</string>
			<key>mtime</key>
			<integer>1608150829</integer>
			<key>sha256</key>
			<string>23f18e03dc49df91622fe2a76176497404e46ced8a715d9d2b67a7446571cca3</string>
			<key>size</key>
			<integer>1023</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/rustc.1</string>
			<key>mtime</key>
			<integer>1608150829</integer>
			<key>sha256</key>
			<string>7b2a7452bd3466ef8a3c13eaab5d3c8e8fda9f3c282c4416d234dd0c829e936f</string>
			<key>size</key>
			<integer>9071</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/rustdoc.1</string>
			<key>mtime</key>
			<integer>1608150829</integer>
			<key>sha256</key>
			<string>7e6f42b9a8e28ccfc0e97868a0f545ebe4613205ad5283b987be11ff7588fb47</string>
			<key>size</key>
			<integer>3590</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/rust/gdb_load_rust_pretty_printers.py</string>
			<key>mtime</key>
			<integer>1608150829</integer>
			<key>sha256</key>
			<string>90b522e31ee80453e2b30e00b433fadeb8c29312cadce2b67e48d9abeb6394b7</string>
			<key>size</key>
			<integer>81</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/rust/gdb_lookup.py</string>
			<key>mtime</key>
			<integer>1608150829</integer>
			<key>sha256</key>
			<string>0a4117cadc59b715bd09b5a0d122c4dea37afe6ba0f96cbdccee037273ac405f</string>
			<key>size</key>
			<integer>3014</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/rust/gdb_providers.py</string>
			<key>mtime</key>
			<integer>1608150829</integer>
			<key>sha256</key>
			<string>18af03a3be63860bbfa613d6661842d40613fc3970f78e63bcdaaf8495d35cfa</string>
			<key>size</key>
			<integer>13171</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/rust/lldb_commands</string>
			<key>mtime</key>
			<integer>1608150829</integer>
			<key>sha256</key>
			<string>8268fab1988ac45fa76570de3feec3e883ea43ef12797cdc0030472421972163</string>
			<key>size</key>
			<integer>1839</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/rust/lldb_lookup.py</string>
			<key>mtime</key>
			<integer>1608150829</integer>
			<key>sha256</key>
			<string>c0a5074467aa15ad15c52fe32d43ffefff8edbe87f5bcf03b63a1e29f2e7b0d4</string>
			<key>size</key>
			<integer>4347</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/rust/lldb_providers.py</string>
			<key>mtime</key>
			<integer>1608150829</integer>
			<key>sha256</key>
			<string>3647ad54a1130b5257b17389424ca6de723e351c5d14b228492c21566185abc5</string>
			<key>size</key>
			<integer>25119</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/rust/rust_types.py</string>
			<key>mtime</key>
			<integer>1608150829</integer>
			<key>sha256</key>
			<string>52f137497bf4d3426fbce9d4b8f25069f9fe5e9e7ce9a707723df4e2b7b3670d</string>
			<key>size</key>
			<integer>3637</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libchalk_derive-cfa205d605e8fb1e.so</string>
			<key>mtime</key>
			<integer>1608150829</integer>
			<key>target</key>
			<string>/usr/lib/rustlib/x86_64-unknown-linux-gnu/lib/libchalk_derive-cfa205d605e8fb1e.so</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/librustc_driver-921a045442869ce8.so</string>
			<key>mtime</key>
			<integer>1608150829</integer>
			<key>target</key>
			<string>/usr/lib/rustlib/x86_64-unknown-linux-gnu/lib/librustc_driver-921a045442869ce8.so</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/librustc_macros-7c29837fb397f753.so</string>
			<key>mtime</key>
			<integer>1608150829</integer>
			<key>target</key>
			<string>/usr/lib/rustlib/x86_64-unknown-linux-gnu/lib/librustc_macros-7c29837fb397f753.so</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libstd-a89fa72e70cdc2f1.so</string>
			<key>mtime</key>
			<integer>1608150829</integer>
			<key>target</key>
			<string>/usr/lib/rustlib/x86_64-unknown-linux-gnu/lib/libstd-a89fa72e70cdc2f1.so</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libtest-179cdf104723b172.so</string>
			<key>mtime</key>
			<integer>1608150829</integer>
			<key>target</key>
			<string>/usr/lib/rustlib/x86_64-unknown-linux-gnu/lib/libtest-179cdf104723b172.so</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libtracing_attributes-c42a836b69e90dd7.so</string>
			<key>mtime</key>
			<integer>1608150829</integer>
			<key>target</key>
			<string>/usr/lib/rustlib/x86_64-unknown-linux-gnu/lib/libtracing_attributes-c42a836b69e90dd7.so</string>
		</dict>
	</array>
</dict>
</plist>
