<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sbclrc</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>9bf5374c13f35fd85b155f6bffde4502dc2809d931d8a138eb724b27fe5b4e02</string>
			<key>size</key>
			<integer>162</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/sbcl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/sbcl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/sbcl</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>e0e3a9fc75fa37c66c283fa8c482ecf389ef51989669ad309fa3623fea1ac08c</string>
			<key>size</key>
			<integer>304024</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/asdf.fasl</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>67ede0d678924ff8cac9c67c6ef995ad90e464650dad117befc3fa3dc853665d</string>
			<key>size</key>
			<integer>815083</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-aclrepl.asd</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>98df1bf3324a2970f3c8ec1605dd6b887fcf92824c6500f9f63ba2fc2ec9a654</string>
			<key>size</key>
			<integer>46</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-aclrepl.fasl</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>9867f1f84de39a3ea3826cc96e64c4e670ae6f399c31b1a577e8ca4349be6720</string>
			<key>size</key>
			<integer>227153</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-bsd-sockets.asd</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>7aa92564148f4d0dd24f9ee75d880027ca1408f12426101ae23ee42f3e2d1f74</string>
			<key>size</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-bsd-sockets.fasl</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>ecf53e112ad2471aa83e321398772aa8b458a12322a44889b40c595197cf260c</string>
			<key>size</key>
			<integer>334931</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-capstone.asd</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>cccfd5204473c6993cf1311f8fccd9d0f5b782439c5e41ee58c52bfbfa820530</string>
			<key>size</key>
			<integer>47</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-capstone.fasl</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>21dbb0f27586dbd8877e0dbea65c287545c0487ff84e049baa4a96cc0f8bd79d</string>
			<key>size</key>
			<integer>22258</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-cltl2.asd</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>53e04573891e1f3ee54d13958ca5931b98c6e5700da55cc8deb5e22a21eea80a</string>
			<key>size</key>
			<integer>44</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-cltl2.fasl</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>158ddaea8b0db352d55e1c0ae069b3ecf5284cc829d5ba5021a50f8562d7df30</string>
			<key>size</key>
			<integer>47176</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-concurrency.asd</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>41462a1803dcd09292a5fb2c2d809aaa93962e9ea8494ffc3515cf26c655ebec</string>
			<key>size</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-concurrency.fasl</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>cdf2fec1bd1a074e9b1fce4a080da162ae604b39b641c136cda291791ba452f8</string>
			<key>size</key>
			<integer>66392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-cover.asd</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>f722aa048f63d4223d82c5cbc2922adc85e52b03c651677009f121d04d7fda26</string>
			<key>size</key>
			<integer>44</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-cover.fasl</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>429703b4889b20cf899167dbc2f3f0f0f046719d37fc58be10451e963299c31e</string>
			<key>size</key>
			<integer>82171</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-executable.asd</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>9072ac60d2a70a473ae93030fbac45f3423b3bad11afae958985dc07b67f47e2</string>
			<key>size</key>
			<integer>49</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-executable.fasl</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>a0748ed556a5d7e6c75b7d45f37d43ce96b88b214f6bf4f012ccf7ecdba33bf1</string>
			<key>size</key>
			<integer>7677</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-gmp.asd</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>da9405d1a4c1bb128f2c08590e103f8909dbad703d4285c3ee0d2da697ab1b8f</string>
			<key>size</key>
			<integer>42</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-gmp.fasl</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>01bb592e6fe2c26de0fc318812c9c73adc415bf70c2b914ab70cb950b19905fa</string>
			<key>size</key>
			<integer>197346</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-grovel.asd</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>a51e602d4fdce5ec278f49ad54dad40ef89e64851e580f73202ea018bfef5671</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-grovel.fasl</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>5e794f6811b2f26ba00deafc8ddb61d888abe310adcbdb9667302fda8f49941b</string>
			<key>size</key>
			<integer>102313</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-introspect.asd</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>fa3c0c132f2a03a4b43dc4a25653be2e4322b40dcf40f6968eaf730a98eb8587</string>
			<key>size</key>
			<integer>49</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-introspect.fasl</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>28430746916e1466690de1c13862188504f6bdfa6850e9968f4a5303d17b9e4c</string>
			<key>size</key>
			<integer>80365</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-md5.asd</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>8e4be3d0a9b38098f2fdce8589945c805a4b90af0c4317267595067c078b888b</string>
			<key>size</key>
			<integer>42</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-md5.fasl</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>ac789916fa8444c8125e7bb816856a5a4ebe18940fd4cce12e0a1dfba42ed6e0</string>
			<key>size</key>
			<integer>41205</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-mpfr.asd</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>c0caf6a2ab45b8261d28321ce22596ccac2dc79e898e20c48c7328a97119efa3</string>
			<key>size</key>
			<integer>43</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-mpfr.fasl</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>4eadf6b62ea336cce53c71d01ef3d7cdbaf0a7ddb2b702c4741592e4766b84ba</string>
			<key>size</key>
			<integer>499221</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-posix.asd</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>b33df990e1207c2589f30755485526d5d3e9faa565169df3777d22e77ab8f3d3</string>
			<key>size</key>
			<integer>44</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-posix.fasl</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>25c9037ee003e9b696c146bcf189afd0e1b67b0730e834d9dcae677271298ef3</string>
			<key>size</key>
			<integer>340945</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-queue.asd</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>52a2eea7e18806918d604f45f5fdc7ec12766f0ca75d5b7ee4f6e6a8a6182b5a</string>
			<key>size</key>
			<integer>44</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-queue.fasl</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>0a98daa07642d0f88c630026af1a02691d89fea08d468a293d611ac2dfae5176</string>
			<key>size</key>
			<integer>1554</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-rotate-byte.asd</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>48984f11a1cc9947c3d14aadfc7fb79ef87d4231ed45609a76e08966d2edec58</string>
			<key>size</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-rotate-byte.fasl</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>a56e77ce3af6db1174edab8f7449d87f216feeef81b6d45a98dcf2a3a18875ee</string>
			<key>size</key>
			<integer>31277</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-rt.asd</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>4c615da54889261343b887634a52a72485e48482757a4366d080b7f3e224db3b</string>
			<key>size</key>
			<integer>41</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-rt.fasl</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>f8cacd4417ec9daa6542571c43ca566993fe2ba567d5ab5e446a0f3cfcc9cd62</string>
			<key>size</key>
			<integer>32439</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-simple-streams.asd</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>065517ef9849e98dc1d2c7c8ab12fa37e4f712d1a500dd93fac40ed05c83f4d9</string>
			<key>size</key>
			<integer>53</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-simple-streams.fasl</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>d9cb22fd8cad8d831a6f139f201aff72703c025579a8e284ea80fdac2d50cfc3</string>
			<key>size</key>
			<integer>353228</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-sprof.asd</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>b87fc7ed1c16d2ebde7cf300aee6c5aa3c8211470327d5f971081f11e61b4236</string>
			<key>size</key>
			<integer>44</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/sb-sprof.fasl</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>52425c68d9d52cc5ca664046d795e202477b049f31ae20274fa321cb820f0bfb</string>
			<key>size</key>
			<integer>184555</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/contrib/uiop.fasl</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>ed7455797066720ef3037b51bb60dc59fb5ed0d40e2753c8a1fc54425765cb68</string>
			<key>size</key>
			<integer>641513</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/sbcl.core</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>b1d7f1dfacbf6878c9234b07f2cf63c417601d7c5c19429a7659dd691f90f4ad</string>
			<key>size</key>
			<integer>34609848</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sbcl/sbcl.mk</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>62221a52db5b7b81c40b0670fd48625d69dd9e8c05ea4059179895d2fb539466</string>
			<key>size</key>
			<integer>745</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/sbcl/BUGS</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>a3de09e8a19eca2cf73996db6ae2c409778f53bd4504da1828e9cc8896af99ef</string>
			<key>size</key>
			<integer>638</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/sbcl/COPYING</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>8eb76fdf2b10f171735e3b267c6eba1463cac94dd57dc29cfa354ed76ae0b31b</string>
			<key>size</key>
			<integer>5595</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/sbcl/CREDITS</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>335e61eece22fcc585f054338d6de2bccfbb34415a649f81ff6a8e4587b1e169</string>
			<key>size</key>
			<integer>34259</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/sbcl/NEWS</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>ee508af10c0381bc51a58f43c245e1a0f6d16ab5ffd86e60b481fa47444c9133</string>
			<key>size</key>
			<integer>501920</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/sbcl/LICENSE</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>8eb76fdf2b10f171735e3b267c6eba1463cac94dd57dc29cfa354ed76ae0b31b</string>
			<key>size</key>
			<integer>5595</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/sbcl.1</string>
			<key>mtime</key>
			<integer>1612106931</integer>
			<key>sha256</key>
			<string>ad6cc031dac1c942dcac1a7257b0f88fca417c9c258e735ec5b10e2943bdf829</string>
			<key>size</key>
			<integer>18796</integer>
		</dict>
	</array>
</dict>
</plist>
