<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/scrot</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/scrot</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/scrot</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>a348954c3e3d33c989e1868867cea200df2af8fde51a542f046532de9223b09a</string>
			<key>size</key>
			<integer>52104</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/scrot/AUTHORS</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>93a90502a7a306b8fa5463e89a884b6f6859e24819a8767d2ca6be61613e3dc0</string>
			<key>size</key>
			<integer>251</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/scrot/ChangeLog</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>017c51c155892beae73714f7f35387ad8f1814d5c58a61770586cb5d6ddd1405</string>
			<key>size</key>
			<integer>10395</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/scrot/README.md</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>2565477271aefc6db0d4fb917bfcb1e9d3f3f2cb531e878d9058bc2e42c548cc</string>
			<key>size</key>
			<integer>1957</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/scrot/scrot.png</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>ff5f2f2b2fe8ace188a4c002e382dba1d2952163f9c1d16adc139f3d8f970c90</string>
			<key>size</key>
			<integer>41810</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/scrot/COPYING</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>8601e2dacede853fe325f7fd3a11f93b1753d576db60426f1b0ff4e68f41ff07</string>
			<key>size</key>
			<integer>1144</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/scrot.1</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>a9524f0222caced829477104f20dd25a254a823d8b0e72cf1e05c475cba28d90</string>
			<key>size</key>
			<integer>5412</integer>
		</dict>
	</array>
</dict>
</plist>
