<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/screenrc</string>
			<key>mtime</key>
			<integer>1581052233</integer>
			<key>sha256</key>
			<string>1805e0d70181d590ce8c03fa218149d57645c209b18e7d13ffa31f8422cfd00d</string>
			<key>size</key>
			<integer>3310</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/skel/.screenrc</string>
			<key>mtime</key>
			<integer>1581052233</integer>
			<key>sha256</key>
			<string>29e9d0a7f1af650fe709935b0f2e1bc6e60296c249fd9810de1ebf1c1d566c05</string>
			<key>size</key>
			<integer>3729</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/pam.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/skel</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/screen</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/screen/utf8encodings</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/pam.d/screen</string>
			<key>mtime</key>
			<integer>1581052233</integer>
			<key>sha256</key>
			<string>6d5c153c476cb9937b52a734868e15fd6a09166fdde18455a8d4ce42ecd15d8d</string>
			<key>size</key>
			<integer>28</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/screen-4.8.0</string>
			<key>mtime</key>
			<integer>1581052233</integer>
			<key>sha256</key>
			<string>6e349ebcd10ce8d001479f8a32cf604d7f22b8a3a5061e3cd2c6fcc269628d4f</string>
			<key>size</key>
			<integer>470104</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/screen.1</string>
			<key>mtime</key>
			<integer>1581052233</integer>
			<key>sha256</key>
			<string>62fd0c1b8ba2518b1ea71297e51f8ae6c9694abcf4e88b1a27c605b144becda5</string>
			<key>size</key>
			<integer>166562</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/screen/utf8encodings/01</string>
			<key>mtime</key>
			<integer>1581052233</integer>
			<key>sha256</key>
			<string>cda27362d0253dcd618812b20f52f7905e6f80fbcedf17b6a8290974592030a3</string>
			<key>size</key>
			<integer>29808</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/screen/utf8encodings/02</string>
			<key>mtime</key>
			<integer>1581052233</integer>
			<key>sha256</key>
			<string>299778848b4f2a94fe42877898bbfbb730f1cef0ace266c4aecf65e2d8cd2f6e</string>
			<key>size</key>
			<integer>27550</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/screen/utf8encodings/03</string>
			<key>mtime</key>
			<integer>1581052233</integer>
			<key>sha256</key>
			<string>d9ad6542526e5ce8fb81218a13e69bf27233b194b26d4dbb087481418f22d811</string>
			<key>size</key>
			<integer>32926</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/screen/utf8encodings/04</string>
			<key>mtime</key>
			<integer>1581052233</integer>
			<key>sha256</key>
			<string>fa0c1f1cc09614b88740b7796ccdbd457b3b76f052e7aedff4a4d4847adea2cb</string>
			<key>size</key>
			<integer>24302</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/screen/utf8encodings/18</string>
			<key>mtime</key>
			<integer>1581052233</integer>
			<key>sha256</key>
			<string>607ab08ef6d40fc7d4b810d136248baa5e69201725b7a9fe274042a62598fd06</string>
			<key>size</key>
			<integer>54862</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/screen/utf8encodings/19</string>
			<key>mtime</key>
			<integer>1581052233</integer>
			<key>sha256</key>
			<string>074f87d85570df299944fbcbf6d450b9d51f5b41a4760d4058b10c055694197d</string>
			<key>size</key>
			<integer>95776</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/screen/utf8encodings/a1</string>
			<key>mtime</key>
			<integer>1581052233</integer>
			<key>sha256</key>
			<string>bce567df3699b1c77db107666bf63be026388dca857c0727471b6728ca0b6cf2</string>
			<key>size</key>
			<integer>536</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/screen/utf8encodings/bf</string>
			<key>mtime</key>
			<integer>1581052233</integer>
			<key>sha256</key>
			<string>3021c14a7a20a6c71e660fc905281cfd3b47bfd392322cce8d2e4d0464972555</string>
			<key>size</key>
			<integer>232</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/screen/utf8encodings/c2</string>
			<key>mtime</key>
			<integer>1581052233</integer>
			<key>sha256</key>
			<string>0d7b3cdb9a0de80545254ffb82e78b33afe5ec4e438b11a2b6b454cefcc6a4e8</string>
			<key>size</key>
			<integer>256</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/screen/utf8encodings/c3</string>
			<key>mtime</key>
			<integer>1581052233</integer>
			<key>sha256</key>
			<string>75669f87ecd9ed72f2a2a414207c60922bac022c7324b08a05f71fee5d69da24</string>
			<key>size</key>
			<integer>140</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/screen/utf8encodings/c4</string>
			<key>mtime</key>
			<integer>1581052233</integer>
			<key>sha256</key>
			<string>e956756efd1787c19b38d3b5a23cd536ee4f42be1909e4445c4e4b3bba69b871</string>
			<key>size</key>
			<integer>228</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/screen/utf8encodings/c6</string>
			<key>mtime</key>
			<integer>1581052233</integer>
			<key>sha256</key>
			<string>245b53524f7fdbf4108ef65be8f4fbed3c849596f0d445db1469dba99cfa654d</string>
			<key>size</key>
			<integer>68</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/screen/utf8encodings/c7</string>
			<key>mtime</key>
			<integer>1581052233</integer>
			<key>sha256</key>
			<string>eba7a967ed51282c25178965b01e0476a9c02ab4f7a5d15533d1a5a0fdbb3f43</string>
			<key>size</key>
			<integer>52</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/screen/utf8encodings/c8</string>
			<key>mtime</key>
			<integer>1581052233</integer>
			<key>sha256</key>
			<string>16a5308c282ef2296d502b5e7903096c8a4480ac7a761d11bac5f2509c8fe40b</string>
			<key>size</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/screen/utf8encodings/cc</string>
			<key>mtime</key>
			<integer>1581052233</integer>
			<key>sha256</key>
			<string>d55d074b8f8a7be8fca2b01c88b636e1c032d951965ff54c39ba6e4c92e8f6fb</string>
			<key>size</key>
			<integer>68</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/screen/utf8encodings/cd</string>
			<key>mtime</key>
			<integer>1581052233</integer>
			<key>sha256</key>
			<string>4d063df1fa344d5f50ee65fc11a70afd2896308156b8dfa91a8cf006e6b56a39</string>
			<key>size</key>
			<integer>52</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/screen/utf8encodings/d6</string>
			<key>mtime</key>
			<integer>1581052233</integer>
			<key>sha256</key>
			<string>9d8b25e356282e6500cac9789ebb44e7f0456333e455a61041b637f84cf3847d</string>
			<key>size</key>
			<integer>212</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/screen</string>
			<key>mtime</key>
			<integer>1581052233</integer>
			<key>target</key>
			<string>/usr/bin/screen-4.8.0</string>
		</dict>
	</array>
</dict>
</plist>
