<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/sed</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>8d9bcdd2eb3599343f2c41badac9f013e6edf1969dea95ca12a41fbf0155e668</string>
			<key>size</key>
			<integer>186888</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/sed.info</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>4399459719b09df2f60450c472fc88d082672b2e42235d0c4da81d63e9adeea2</string>
			<key>size</key>
			<integer>202775</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>11183f2c1ae1c5dd7df64bf126f8cd11079d5265c54c12e8be3b027f431a9f49</string>
			<key>size</key>
			<integer>2772</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>79ac1bb90e3affe5440dc1235be45f56159b394a966bd590ab583879105f3526</string>
			<key>size</key>
			<integer>8460</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>9bfd1bfa5f69abda06e523731f9347dd013ff56e9894c49ed8da1f32aa602128</string>
			<key>size</key>
			<integer>20493</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>d01e1a6014ddd323d85e44bc9e65f64142a5259d52b40c6ebf8e97e58397669a</string>
			<key>size</key>
			<integer>8684</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>8e0d392d2fca7d821a98caa509a9730c111bc592a3e2fa705c4e29a08a6d5dac</string>
			<key>size</key>
			<integer>16226</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>fb37b2d259e14d76622c45d60d653a6dac7db33f05ae1002d460a0b98de1f050</string>
			<key>size</key>
			<integer>12569</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>e61c78e6d4ddbe4f03bb491b39e4e314ff45bfaea238107adb56a5031bd37878</string>
			<key>size</key>
			<integer>16373</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>d5ab1b3a1a58d683e65cf1fa898b9e5d32974e5f8bfd8267627055c1bdd4127c</string>
			<key>size</key>
			<integer>11386</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>bdebcf42aa7ab603d28c75d7e609b2505bc3ac4b81ace831e3f18a63606e7e7d</string>
			<key>size</key>
			<integer>15423</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>c4b32cda87eca3a37bb46736abf46a7350dafb189692840e0c495c5c8d59d5b0</string>
			<key>size</key>
			<integer>16214</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>113952b43b635709b81cbba718b32b94191689dd1c578b4d55d4afb40ffe7e8b</string>
			<key>size</key>
			<integer>15018</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>f378f7842f6bad9de11caba31f95bfdee698997f84d23c94c774d9541aa57504</string>
			<key>size</key>
			<integer>1750</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>1c3eb4dfe4ff2e73402a02156471efd5ca922d7e419286caf55640f931a96eb2</string>
			<key>size</key>
			<integer>16256</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>446a00c66cbda90a8d6817b9513b513f3bfcd8f275e79672e19d86416c2d2831</string>
			<key>size</key>
			<integer>16706</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>06588e4133a7f993f50b638b909046987ef6657a0303ab785fd406acbfcda12f</string>
			<key>size</key>
			<integer>14515</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>ec660bf70bf5462d291c74953512758b9a6d0e86959c18dc9381f9c9328d85ed</string>
			<key>size</key>
			<integer>9501</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>dd01167a9d487f731e044c8dc982e9b8cd6f124433270e7ad56fcbef304a5793</string>
			<key>size</key>
			<integer>1333</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>b51c8e292e3bc0ea554950e4b96b102bc1c3421d6bdd429b9b7cac0c4aa48e8c</string>
			<key>size</key>
			<integer>16117</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>af0a970ab11cbab7c9130cd333035b5690183d75a9c385321ec1c9dd270e0d4d</string>
			<key>size</key>
			<integer>13340</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>71f7450d995a3bcf62c3167598bfb90f2d1ba99d65951094de2435046bc75e62</string>
			<key>size</key>
			<integer>8543</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>2f83ffa4ed9c7344b9125c8e0757fb3f76099f301a585ae2c700c57a176c96f3</string>
			<key>size</key>
			<integer>8308</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>f1fbabd3d4c846c9f28d98a16ce77dd5a52e1d81f28ffec16e83625f50d1fb08</string>
			<key>size</key>
			<integer>11620</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>7f0c89b5a9f0e1720f9ec4e25b7879ecadf33986b964c37fefe942fb99773eeb</string>
			<key>size</key>
			<integer>15787</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>0a5a587e3e4704eb5061d68e9b5dd6e868371aa564a213b0799aae7fea87dd62</string>
			<key>size</key>
			<integer>14285</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>312716e97d825f4d69dbf507462ed8796e53fa9c5375ce6afe3d10410ee40868</string>
			<key>size</key>
			<integer>14823</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>560804f704322baf7f5ba3683139ebae2aa3a82829c7d168829db4af0f3e248f</string>
			<key>size</key>
			<integer>9018</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>82c182cf10fcefbe264ff56ac738a9c13b243e6e6813c7cb37a4b3ceb12e0c91</string>
			<key>size</key>
			<integer>15628</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>94d720d0e93ae0357e969e6fda23a20f87c56716d3ea52a4dbb8bfa62891a6eb</string>
			<key>size</key>
			<integer>16273</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>f15381a97176c8addeae7dd4ebb181b5a485be5c04c2629fc3223a21be111049</string>
			<key>size</key>
			<integer>7613</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>00de2420f0a07f02c04085ffe919e66a352b798c3bc4beddc69ab85c67a3c06a</string>
			<key>size</key>
			<integer>20599</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>080995466e977992c73329d26d30a3cae943d2364114a7c5d2a58d1bf5e8115c</string>
			<key>size</key>
			<integer>16274</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>6132061ced72a37f865f63cee29162f06a2f302100caf4e9d49556df983b8ad2</string>
			<key>size</key>
			<integer>8471</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>14c98c7f069b787964732b4355253ed3b87c527ce31dabc9a3d473cfe3a36236</string>
			<key>size</key>
			<integer>15905</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>6dddbf98a33a89cde381b868d9ef5c4c568e806b4ac17bd9b246852f8093b40f</string>
			<key>size</key>
			<integer>15765</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>0b22e6a1e15ad4523656ae2766aa057a3804563117fbf45017739c5310ab97cf</string>
			<key>size</key>
			<integer>8484</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>d29e48266fb5ebed6b01ba2e85fee8e8410727bd3bedc71b52541d6e202f4e91</string>
			<key>size</key>
			<integer>20376</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>9fab52344219cb6b00c098f053e59018bcaa8b8692f4ed751cf01685ef5b6f0d</string>
			<key>size</key>
			<integer>17573</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>18ccab6b5ab53eb29e30a1d8cfef192c5fc33e791cea6e0f18117887eb2b55ed</string>
			<key>size</key>
			<integer>15110</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>76d76715dc700bc500bde31ec66af252f7aa8b46cff74eefd65819fa968081d0</string>
			<key>size</key>
			<integer>15051</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/sed.1</string>
			<key>mtime</key>
			<integer>1579172586</integer>
			<key>sha256</key>
			<string>c0600e0e6cdc4d0dee4129914ff6e85d9675f436811899d0083525dfba83657a</string>
			<key>size</key>
			<integer>10295</integer>
		</dict>
	</array>
</dict>
</plist>
