<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gettext</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gettext/its</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be@latin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be@latin/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cy</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cy/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ia</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ia/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ky</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ky/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/rw</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/rw/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/mime</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/mime/packages</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pkgconfig</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/update-mime-database</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>857baf3c6b2f3ae8337580529a240a9b15abea0ac15f1f63fb70a1a22c33ab75</string>
			<key>size</key>
			<integer>55440</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gettext/its/shared-mime-info.its</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>8ec56973c7f6397b1778fce070c82b83fc9f7a6483667a66588fc2a7449a2deb</string>
			<key>size</key>
			<integer>466</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gettext/its/shared-mime-info.loc</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>138d9191f65d0645115638174c049ac81acdb1ab192c5f0c52c6dab5ec193e41</string>
			<key>size</key>
			<integer>202</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>65994159485f140e51ad437f9533fbecec221c45d7e688a2f623031df7e36bd8</string>
			<key>size</key>
			<integer>36657</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>89496e6d1f98ee91e0e9f681c8aa0c9a37802a58a9dabcd4f35360ac2da55f5c</string>
			<key>size</key>
			<integer>35968</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>433b442246c33fe2de0ee3505065f41e4815ba26f20d81f6f722940600db5448</string>
			<key>size</key>
			<integer>450</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>078026d9199e237b0690ef5fd6ba34f4d3dd2f194e256a99675ebca8de36660b</string>
			<key>size</key>
			<integer>12698</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>08e8cd576305085955654ebb80c9c531e1c07d7ade8cfcdc7b343be078b139ec</string>
			<key>size</key>
			<integer>8030</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>3681013de638eaa709ea4b11f7f9c01166a0ac2cb0655a7e5f00c4599c2dfb92</string>
			<key>size</key>
			<integer>590</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be@latin/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>56d39b29106fbb78e39a92629c205e2a86fd80ef660a6cf0cd6c2e67352539fb</string>
			<key>size</key>
			<integer>32913</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>0d71203317ee257e8b473362a31d829f45d98c8ecef23c5db3e387870d9539aa</string>
			<key>size</key>
			<integer>56209</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>9c0eae0445d32871ed6dd44dfdfb3d969c370fdd576c70fd25e0ff6ce0f425d6</string>
			<key>size</key>
			<integer>463</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>ff621b2bd4256d8cb4fc938a5025d61cc0ebfdec7c09cb32773b2b03eef36740</string>
			<key>size</key>
			<integer>48680</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>764e73dfba2620c06df65064ab570b98cc1968ebe968ea06bfa8d590c9ba3ca9</string>
			<key>size</key>
			<integer>479</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>f0117da3ac20d3d80047ea4868ffb9346a4c7410e6e3c2fe2a23363da825c3da</string>
			<key>size</key>
			<integer>43348</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cy/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>f2566886b52cdf301a9d197b406b252e59269f58c0f518e86145fe5f6cccf5b6</string>
			<key>size</key>
			<integer>8339</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>de959bc4c150f7f00e62e80ef0321765782ac049cebb4f0c76bcbdd0c82ef1e8</string>
			<key>size</key>
			<integer>45604</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>91d251ce2ae93ff7d6ea0e370c3738eb7c36576eb9b5416a2ff6840c0d15be97</string>
			<key>size</key>
			<integer>46001</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>dd6b7152884f0bb07876fc9fe52b56545bde7daaa83019170796aa4fe108eb96</string>
			<key>size</key>
			<integer>47400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>0d3617e888b3d4f309af248ff21742ed8b28ca36d243ce180e50c0cedb05cc49</string>
			<key>size</key>
			<integer>45577</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>1c093e9355ac15dde0cf8eb15a4342d93b402306b6ca711b4b986eb6e6568749</string>
			<key>size</key>
			<integer>23116</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>243654d0879b3d828e3741f5ae87818cc6a9931150538ecffa390b80f4c60ff3</string>
			<key>size</key>
			<integer>49533</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>5bf8f74ffd56932e9e013b368180eb8396de15210ce7972a4d83ae4aa60f55dd</string>
			<key>size</key>
			<integer>450</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>d5d090d6115b91f271a668edd866d5f852243a72f735c6a20ee6dd0ec76f6073</string>
			<key>size</key>
			<integer>47173</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>43609f39239ac35256ea431aeef79781afa7a2d6d78aee73a527ca063d7ecd26</string>
			<key>size</key>
			<integer>448</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>16ca826d24510be2dab56aefdeb2cfa950a3c2697ace33c0a1f6bc55f2eb2178</string>
			<key>size</key>
			<integer>46714</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fo/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>496fb5aa9e51d0ac04b6e527b35e8204a6067a543aca5b0c4393d039d9490938</string>
			<key>size</key>
			<integer>32335</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>59b65c9fc5ce2b74e29751406bfd15235f106da0cb1728bd58d438df947bff0a</string>
			<key>size</key>
			<integer>46738</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>3c67025d621422fef627917182e23165069a7370c10188d59ecc86320f6147af</string>
			<key>size</key>
			<integer>42975</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>d9fd9d9034490adc927d3e14248bc8f31b721e160a3d622924ce9ea66b781808</string>
			<key>size</key>
			<integer>43253</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>5d2d8626aab8bd81bcc3c20838d031b81b1befc5c02845844ae5581f8ca556ca</string>
			<key>size</key>
			<integer>38991</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>08d3104e36f0d14bbe4bddaf0c931e3a08b04f375ada3d5c85996f4c58db8afc</string>
			<key>size</key>
			<integer>450</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>d3c136a7b7174602b6d9ff1e20562314b08ee0e1ddd493128677897947871c66</string>
			<key>size</key>
			<integer>43634</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>6eb373e71d62560de1d86aa7b3934c904af47de5f8044c81e3b3d6197ef28e7f</string>
			<key>size</key>
			<integer>447</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>6941098e9a1394bf7683d936fb699faaa189f69366e752813faf6a9cac900c43</string>
			<key>size</key>
			<integer>47273</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>55e90a3a0b6664e9fc887509cc516aeadfaebeee0cbef066d34534a7c882ce67</string>
			<key>size</key>
			<integer>46192</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ia/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>e51da1b590e7526185b02814ff78dc898bc13586ffeeea219db9a5f6cf22cb60</string>
			<key>size</key>
			<integer>39524</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>93b1af3cc3b49ed920b227cf36ee6f19d537030dcffe724511dc83164cad73db</string>
			<key>size</key>
			<integer>45189</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>91be579460ed8ff2563d85dba913e6ff06713c4f30c9b2fefac30fb16792b525</string>
			<key>size</key>
			<integer>47549</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>33a4f0519894836bf4ef7b77066da9e4171e52fe4c92d1063b2c862fda833540</string>
			<key>size</key>
			<integer>40337</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>8d7ed68daef43b008a74e6a2c76ff4df10ddf958e681c320996797cbfbf0a1fd</string>
			<key>size</key>
			<integer>16387</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>9e2198aa9f3310bca64235702c5bd55a7cd0f4a76a9d5c6f08e6ce1569e6bac6</string>
			<key>size</key>
			<integer>54080</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>c88c3289e8531857e8804a5ff9df0a8003d5704ce6c44a8d12b6774bd6609368</string>
			<key>size</key>
			<integer>448</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>8e390df93ca2e4cbf855e5b0530e1f7625614fad236dfa968d282960e295e789</string>
			<key>size</key>
			<integer>47226</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ky/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>6388020db9160ecec5b933034aa57945535595c73164c76202fd76e16cf017bd</string>
			<key>size</key>
			<integer>441</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>a9bda222759e6e6668c46bea2dc11b2fcac7fdf7c695b261c6f44f6c7df959de</string>
			<key>size</key>
			<integer>36131</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>541919629155dc96614e33dcf7f10e16665cbafd79f0c41b63819f0763ba3b97</string>
			<key>size</key>
			<integer>36299</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>6d54ce38bee5ae65b02e5927ac5134aded5e088d239fdbf2f3e77f99e83099a7</string>
			<key>size</key>
			<integer>451</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>1872075bae9078a7553dd6e89eb021928a14660378b964e8e832b674e807929e</string>
			<key>size</key>
			<integer>449</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>cf97775dfbf7f26165902353953f848167204938318f852bce98181ff548d0bb</string>
			<key>size</key>
			<integer>14569</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>310eaaf08047e5aea980466c94cc864123a7a22f6d9621e952d5a59698af11ea</string>
			<key>size</key>
			<integer>28467</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>306bbcf735b7b80be33c8a211b40479b66327cfbc852a5f6c9f2ec50860284f5</string>
			<key>size</key>
			<integer>35377</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>b6e21c0fe03587f48d389500623a7807f9484ed7d63a7ed00c214f47f903a574</string>
			<key>size</key>
			<integer>29749</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>86b1976a8d568b164717596b1812f9f6b849f077ea34fc0d5c4ce11dd2987809</string>
			<key>size</key>
			<integer>39069</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>0c4137dea6cbbb14051c9bb0afb8cb8d572afa6d2b46afeb8eb2570906c2caa8</string>
			<key>size</key>
			<integer>447</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>6c16cd44f1014b11562f50b2be46e439a37b7a819fd5d9094d45177469ca367e</string>
			<key>size</key>
			<integer>459</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>e90ac8f6f5429a4603a34ae0814878b0eda7c3ee36a884f062eea6e02d7764d1</string>
			<key>size</key>
			<integer>48600</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>53f89e32dfdf4b07dc904b2fa0bfc3b59bd15bbe272e67490722cc1ed712ec3c</string>
			<key>size</key>
			<integer>41748</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>8c1b09738e907cc5611f459844054b6593dc59167a3c2d5446b73f79bdff46bb</string>
			<key>size</key>
			<integer>48343</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>f1ea366f98e5999656f9c681ff1fd0a8748c87b04b23d636a1bfbe6def2db500</string>
			<key>size</key>
			<integer>33674</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>9e88aa8adc76f2986a463ee5b655e0e95a53c64e96513504692b437a5c215091</string>
			<key>size</key>
			<integer>54651</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/rw/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>5102784715d5125702676258e889d2f91d38779f7f3eccebca1cef8bdba1c09f</string>
			<key>size</key>
			<integer>414</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>d9ca4ad1475081a46ea6559d5dbde5774dbcbf7cf349143780f68cca7672293e</string>
			<key>size</key>
			<integer>44958</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>acb97b82f5f835383786f231d83b5342c890cd2c6c3688b9c7c8df18925baccc</string>
			<key>size</key>
			<integer>44119</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>d1fe826e0090985d2ba1a137c81ce7aa4091fc4fcfb2e3e27dad689ba325fd53</string>
			<key>size</key>
			<integer>30633</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>2f64ee0ed48742975f3d0f903a5a0a093f6d600323f5a7a0519db459209e3c4c</string>
			<key>size</key>
			<integer>51691</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>6c1bfa5a5518bbf2558342884fe8494c0adb291cc52225fb41b5c238b4e28714</string>
			<key>size</key>
			<integer>543</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>07dee33af0cd24b5bca45e68ddaa29d7dbbf3b7981ef7a09de47b0da87fcbb5c</string>
			<key>size</key>
			<integer>45225</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>cc4c39670e5569ce78b1a0b2f89fb4eea3a3282115a282a335560e265144313c</string>
			<key>size</key>
			<integer>447</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>44d69c4944dc321d482aaac750a4f90d95870839e17ae0b8c4c6a68c6d2d52e4</string>
			<key>size</key>
			<integer>448</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>bc9d001a351b4727d80fae8736fa76c91a370348468aacf725e2e05986d37f9b</string>
			<key>size</key>
			<integer>439</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>4fe0dcd68dbe0123d02d30e7a3c8ec59427bd8044460371663c6788faa283720</string>
			<key>size</key>
			<integer>46949</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>b48767161cd4998755aea05fcafa4362c49b6d908c73ec5a979b60639effbf11</string>
			<key>size</key>
			<integer>56630</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>edf80b658b88d81dd25367632c4349ba5aeed57ccdb92da4bb27c3ee0395dfc5</string>
			<key>size</key>
			<integer>33607</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wa/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>0ccadf35ec627f6ef0b4c1d51d9dbb185ca9bb030c155912d457637dd6080333</string>
			<key>size</key>
			<integer>448</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>b7eec6eb6e4fd5227377595ab4dcf2772c08d7c477112d80aeeb41d9166dda39</string>
			<key>size</key>
			<integer>45479</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>c33f410f42ec69cb92ea0db7eb2cc8e225c4be0e18493a814f4e736cdfd4fbb1</string>
			<key>size</key>
			<integer>460</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/shared-mime-info.mo</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>b77d6ea690fccc859508aff4f79da5aa0404813bf8c24617dc7d37850df32c2e</string>
			<key>size</key>
			<integer>44592</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/update-mime-database.1</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>4a4903903500f6d98b0d0104f0b7ece3ff776acef23127650c6b471fbe6118a9</string>
			<key>size</key>
			<integer>1491</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/mime/packages/freedesktop.org.xml</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>c25744e502a4956091775b11f87db06d68d2d5dcdae2336490d7af18d446f41f</string>
			<key>size</key>
			<integer>2375737</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pkgconfig/shared-mime-info.pc</string>
			<key>mtime</key>
			<integer>1609907465</integer>
			<key>sha256</key>
			<string>29b5c5fbca3b0017fc678933f21ea314956835ca9af65c74ade0c1cc30829c88</string>
			<key>size</key>
			<integer>119</integer>
		</dict>
	</array>
</dict>
</plist>
