<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/default/useradd</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>f48c75c39df84bc0086b09dd858346497312274cb8ca2d5238dc0f82ae68bf28</string>
			<key>size</key>
			<integer>117</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/login.defs</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>0ed47f75753038ec9de34e4a7ca1a5011db30b78c9c3883c247dd62a41adbcbe</string>
			<key>size</key>
			<integer>2365</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/pam.d/chage</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>18ff9a48328376656e33e87ed4c0133eb5dc58f0aa818662ed6e5d68c03f3969</string>
			<key>size</key>
			<integer>153</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/pam.d/chgpasswd</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>18ff9a48328376656e33e87ed4c0133eb5dc58f0aa818662ed6e5d68c03f3969</string>
			<key>size</key>
			<integer>153</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/pam.d/chpasswd</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>18ff9a48328376656e33e87ed4c0133eb5dc58f0aa818662ed6e5d68c03f3969</string>
			<key>size</key>
			<integer>153</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/pam.d/groupadd</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>18ff9a48328376656e33e87ed4c0133eb5dc58f0aa818662ed6e5d68c03f3969</string>
			<key>size</key>
			<integer>153</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/pam.d/groupdel</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>18ff9a48328376656e33e87ed4c0133eb5dc58f0aa818662ed6e5d68c03f3969</string>
			<key>size</key>
			<integer>153</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/pam.d/groupmems</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>18ff9a48328376656e33e87ed4c0133eb5dc58f0aa818662ed6e5d68c03f3969</string>
			<key>size</key>
			<integer>153</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/pam.d/groupmod</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>18ff9a48328376656e33e87ed4c0133eb5dc58f0aa818662ed6e5d68c03f3969</string>
			<key>size</key>
			<integer>153</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/pam.d/newusers</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>18ff9a48328376656e33e87ed4c0133eb5dc58f0aa818662ed6e5d68c03f3969</string>
			<key>size</key>
			<integer>153</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/pam.d/passwd</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>46314779e7992d9367b73bd4593a6803025c817092ed2238f15cd272df1b1017</string>
			<key>size</key>
			<integer>51</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/pam.d/useradd</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>18ff9a48328376656e33e87ed4c0133eb5dc58f0aa818662ed6e5d68c03f3969</string>
			<key>size</key>
			<integer>153</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/pam.d/userdel</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>18ff9a48328376656e33e87ed4c0133eb5dc58f0aa818662ed6e5d68c03f3969</string>
			<key>size</key>
			<integer>153</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/pam.d/usermod</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>18ff9a48328376656e33e87ed4c0133eb5dc58f0aa818662ed6e5d68c03f3969</string>
			<key>size</key>
			<integer>153</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/cron.daily</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/default</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/pam.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/shadow</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/cron.daily/shadow</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>0a2ba22ac1473c08259af98aac648864ecf9204825cf511b927a343bbffc0e59</string>
			<key>size</key>
			<integer>96</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/chage</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>4ddff4eb64941738e6976ad246342d7fb6a9478165972c44755e1963a1099ad0</string>
			<key>size</key>
			<integer>71960</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/chgpasswd</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>882393a297121df70e4ae978bf694d545e6a389c8211acdbd0616b6027097f9d</string>
			<key>size</key>
			<integer>59320</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/chpasswd</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>3c479cc132ed82881622f92c34d8ad78e36cae4bb66a9375856df2a8576869cc</string>
			<key>size</key>
			<integer>55232</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/expiry</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>017894f9475d4988beb2957ebc469f813885d4d8369fe1fe491b5fb1b44880c4</string>
			<key>size</key>
			<integer>26984</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/faillog</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>cfd30f09ee7cd5ddfe04ce991f3b92f763714648dc47055fa30861b37411e863</string>
			<key>size</key>
			<integer>22912</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gpasswd</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>cc7a49888c4d2d38337576684d415ffb35ceecd04b1fb0fd7efcbf92639ed69d</string>
			<key>size</key>
			<integer>67704</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/groupadd</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>705d952ed02be14100345cf9f8fa78e0b2ecb4657c8d16101ed2593a28b159d1</string>
			<key>size</key>
			<integer>80408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/groupdel</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>be9368ba9cef30d8d055e1be7d71754070e5113e230d275789916f06f2e6d759</string>
			<key>size</key>
			<integer>72024</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/groupmems</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>a4a792c908121cb882b38285cd644ca9c15db660745731b75c58491bad501ea5</string>
			<key>size</key>
			<integer>59376</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/groupmod</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>9a51205657a7cae73dd2a78df62dd312f060a379d5379b7b88d961ac9108f42f</string>
			<key>size</key>
			<integer>80344</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/grpck</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>ccca9ea8563ca4bb4de32ec88a829c1436949d77144504ac0867771694a4f756</string>
			<key>size</key>
			<integer>55216</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/grpconv</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>9e5dbc23bd05fb6fe139b38f830cfe4efac5779482e5a67caa19ebc8ca727d95</string>
			<key>size</key>
			<integer>55088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/grpunconv</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>f286d5fbc84fe6079d55483430b39f5a40d7b18a1ab9429232d53326657bfeb4</string>
			<key>size</key>
			<integer>55088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/lastlog</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>eb28e50ccb071179d381d86e8a65d176be12ea8abd4bc9a73b4d838c0726d8b0</string>
			<key>size</key>
			<integer>28128</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/newgidmap</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>a7d530df13b9ba6da264e143de536563ed221fe485f5f9f3c79decf9e6aa721a</string>
			<key>size</key>
			<integer>37208</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/newuidmap</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>ced068e60b18a8558c0644647f00bcf0f2bf045d615a9857a8c4f4b21f234639</string>
			<key>size</key>
			<integer>37208</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/newusers</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>3a0d760bb32b3f01e32fad75784c66f110391d7c4018d343916c2912dd91d961</string>
			<key>size</key>
			<integer>84384</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/passwd</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>50e039858ea642a33a452725514a7f6cdfe366609d924d45d400e82fdbb92c00</string>
			<key>size</key>
			<integer>59760</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/pwck</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>2f9eca58241aa1cb82be300576e285b0dd669dd71d870bfffb74ceb22c8072ac</string>
			<key>size</key>
			<integer>55192</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/pwconv</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>8c2722043985b276d9b7a9178c023e82a0c17a774b8e317f30200c1a6e77be84</string>
			<key>size</key>
			<integer>50968</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/pwunconv</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>452cdb786c2ad5c03d803b394cdd158f391d2004097762ddb0c1792666a32ce8</string>
			<key>size</key>
			<integer>50992</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/sg</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>9b1408e60d1dd068daac05ddf241ff9b32096b40058e702dffba7a30122bf689</string>
			<key>size</key>
			<integer>40488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/useradd</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>d889808d40a71f2387a543602091129afcbedb82647679b1b550f054d7585a64</string>
			<key>size</key>
			<integer>122112</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/userdel</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>2b35f1d7e1dfeb9d92c7f135744cefcbc6814453290753db12f0ef275dfba451</string>
			<key>size</key>
			<integer>84416</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/usermod</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>d35696ecf3e61a27d046f0c40d2e529445203ed9781a1a680be710543ab2e8dd</string>
			<key>size</key>
			<integer>121960</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/shadow/LICENSE</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>b085972a9378ecbe6cafee1a2e9baba1082531c77376c0aa14ad6e5c7392814c</string>
			<key>size</key>
			<integer>1723</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/chage.1</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>99aa388afb6bf5b4132c12ab8391cb6b16ae7b99b9a6cb9e8e883394adc6822c</string>
			<key>size</key>
			<integer>5477</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/expiry.1</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>954cfeb4ab80473e3ce0d135c1b036976e4e4760068e7b3eeee0b4482f8bf70f</string>
			<key>size</key>
			<integer>2075</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gpasswd.1</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>12a0960d4f7bbf8dde80bfdf7c1b15ecaf98bfb0d94e534fff07c2ec6c457504</string>
			<key>size</key>
			<integer>6670</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/newgidmap.1</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>cd02797fae16eacc5942acaa8ab0793b4c5653481d220876df52bfebd8e5299d</string>
			<key>size</key>
			<integer>2739</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/newuidmap.1</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>565845980dae9b36f715f0f0e3f0bf7ee36394a9b76ddeb6b224cd7936084025</string>
			<key>size</key>
			<integer>2738</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/passwd.1</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>5de3881785633e065cdf459016ebffe79b995103827b79d7140091c54fa00c99</string>
			<key>size</key>
			<integer>11171</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/sg.1</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>d4b398445ef190ef1bebb785066e656ee5a11b8a38085c8a63a15d3bae908c08</string>
			<key>size</key>
			<integer>2484</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/getspnam.3</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>3b28cae491a93074406878322380f1fae1868453bc3f516a42a36c618ed39104</string>
			<key>size</key>
			<integer>18</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/shadow.3</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>5b0ed695f59919c6955e088eb118823b8f79c4bdac8e45335fbcbdd1a93c25a0</string>
			<key>size</key>
			<integer>5299</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/faillog.5</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>f166587171593c522214a9ba7420710102b6cd0b682f9e9f2d05f169bf174451</string>
			<key>size</key>
			<integer>2117</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/gshadow.5</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>d2d82e4bcd65c89ddf24de27d5c628dfd7eca03c72e47b8d0152ba20bc3b0357</string>
			<key>size</key>
			<integer>3212</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/login.defs.5</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>1262f107261186eca313a4e95fbc8032e1fda16d75c740ad740cee7f77dbd5b5</string>
			<key>size</key>
			<integer>23198</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/passwd.5</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>64d988de80bfe1681d40fa0f35c2256d70b5900e39b9ff2291c9bbe5c9e0dbff</string>
			<key>size</key>
			<integer>4313</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/shadow.5</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>1abd8e4290f235764024269ee4dfc4c04dba096b2530bef2be3a50477d2a6a78</string>
			<key>size</key>
			<integer>5569</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/suauth.5</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>726c68e2a3094cf044659fbe294dd9bb7fc59159bf3ad5349dd36eb7bae8fa04</string>
			<key>size</key>
			<integer>4185</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/subgid.5</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>d6cadeaf308a34fdc45422436bb9ad2846f3e45730085e2f59fe0e64e201ccce</string>
			<key>size</key>
			<integer>2622</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/subuid.5</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>d6ac29dedefeecec43c32416dd858723cfc132a22870770213a2c0c272c263c5</string>
			<key>size</key>
			<integer>2617</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/chgpasswd.8</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>8495ec3e513698734df0f38ee944b8f1025c38f0224eaef56d1dfe80ed561d88</string>
			<key>size</key>
			<integer>6539</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/chpasswd.8</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>f4f94f06d9bd15db521915474d481b8bd31b6760bb4f85054ecfef824d9e5f2e</string>
			<key>size</key>
			<integer>6180</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/faillog.8</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>1d0a37364556d44548d59f81e61c5e04ed0d0d352efecfa56de79d400ef56a1d</string>
			<key>size</key>
			<integer>4535</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/groupadd.8</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>561d5ad84d1fa115050d4ccfea3519706ab37c7916aa7159747d32096dec539d</string>
			<key>size</key>
			<integer>6795</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/groupdel.8</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>2c5339cc69865fd13036e6469efcc9a6f413433166cc379a11788e35d04d72fb</string>
			<key>size</key>
			<integer>3964</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/groupmems.8</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>4ca3dd635e3b7a292595351ad1832e21fad6af7a9d9452743e131619fec22838</string>
			<key>size</key>
			<integer>4748</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/groupmod.8</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>0181a05206a52c489c132e49297744168c606062d59cff8f87c501cc8d848cdb</string>
			<key>size</key>
			<integer>5629</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/grpck.8</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>80fe74470f5350c61500a58f2a9a53fcb9ec6a20c5bb8693fcdc80c7d86868d1</string>
			<key>size</key>
			<integer>5426</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/grpconv.8</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>0539b1de083c315e22edaaf6e11fe532da5376df7cc7bcf71ec76660be31a990</string>
			<key>size</key>
			<integer>18</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/grpunconv.8</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>0539b1de083c315e22edaaf6e11fe532da5376df7cc7bcf71ec76660be31a990</string>
			<key>size</key>
			<integer>18</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/lastlog.8</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>a5315a7f40376c0c534ff3ef7784d68a806a962b1c79e44a32f52348c68cd8b3</string>
			<key>size</key>
			<integer>4476</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/newusers.8</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>22f18c24facb37449b437042f9cd71c4ef36798880519b9c2a8fc24df2abe2ef</string>
			<key>size</key>
			<integer>13221</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/pwck.8</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>43a56dd438157aa74bddf3cae8a6bc95504fd9b2c5fb73ce1b2445df253ae4ba</string>
			<key>size</key>
			<integer>6479</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/pwconv.8</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>4f8f1488bb5120335713aebbd2adc3d4b678a98ad023915b38860aecba358a57</string>
			<key>size</key>
			<integer>5789</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/pwunconv.8</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>0539b1de083c315e22edaaf6e11fe532da5376df7cc7bcf71ec76660be31a990</string>
			<key>size</key>
			<integer>18</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/useradd.8</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>8a43e0611869891c9a2e99c80be8ef1464a6f5fd4d2237dd9644b45dfd752f57</string>
			<key>size</key>
			<integer>20502</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/userdel.8</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>f152fd2228bebf8d05b4a37b9d2f8a717edfbc63ff0b7b3dff2e5b0bb216eca3</string>
			<key>size</key>
			<integer>8115</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/usermod.8</string>
			<key>mtime</key>
			<integer>1581670489</integer>
			<key>sha256</key>
			<string>d41a66d9fd4b84e5bee582deb37154a7da526476969cfb9fdad8c00f31141edb</string>
			<key>size</key>
			<integer>13310</integer>
		</dict>
	</array>
</dict>
</plist>
