<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/shaderc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/glslc</string>
			<key>mtime</key>
			<integer>1592943696</integer>
			<key>sha256</key>
			<string>0dade4df8cf8aa4f34e19cbdb26af374226405858d952d33f2a4e344fa45e94b</string>
			<key>size</key>
			<integer>4283464</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/shaderc/env.h</string>
			<key>mtime</key>
			<integer>1592943696</integer>
			<key>sha256</key>
			<string>fecb9280c0e0b0d9dfe19f4e8c0fec2d90668f77ecdaa9f6cc44341ec584d312</string>
			<key>size</key>
			<integer>2644</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/shaderc/shaderc.h</string>
			<key>mtime</key>
			<integer>1592943696</integer>
			<key>sha256</key>
			<string>b5bf69f8d2032cd5ccbb79baf2d1a62ef3af16f8b9b1e451de5b7a970f38d05d</string>
			<key>size</key>
			<integer>27644</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/shaderc/shaderc.hpp</string>
			<key>mtime</key>
			<integer>1592943696</integer>
			<key>sha256</key>
			<string>23aa1fb78a8a6f3b7b7bc998134e959c06623b4f6f9a2e76e6974382c8240bc0</string>
			<key>size</key>
			<integer>27366</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/shaderc/status.h</string>
			<key>mtime</key>
			<integer>1592943696</integer>
			<key>sha256</key>
			<string>c379f95263f2a319de6805a68749b5bdf78ec885075bc504d6d2c1173c032941</string>
			<key>size</key>
			<integer>1377</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/shaderc/visibility.h</string>
			<key>mtime</key>
			<integer>1592943696</integer>
			<key>sha256</key>
			<string>9bb1c9db00ab812ced4b22bb813a8950ecb7c9cdf7a92135db0c71f0804b3d62</string>
			<key>size</key>
			<integer>1163</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libshaderc.a</string>
			<key>mtime</key>
			<integer>1592943696</integer>
			<key>sha256</key>
			<string>055d7fd50e34c8b703d76c11a224b45bba91f4ad28284d6b5d2af1c373413abd</string>
			<key>size</key>
			<integer>67394</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libshaderc_combined.a</string>
			<key>mtime</key>
			<integer>1592943696</integer>
			<key>sha256</key>
			<string>594f889042c78bf176c151fa92d75081d09b4bc07cc74e5c39e29ecbf2725f4f</string>
			<key>size</key>
			<integer>232256</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libshaderc_shared.so.1</string>
			<key>mtime</key>
			<integer>1592943696</integer>
			<key>sha256</key>
			<string>99a3985f7edb29836a21620df2ba63ce11655e3c46709c4d94bdd239a44130dd</string>
			<key>size</key>
			<integer>4299384</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/shaderc.pc</string>
			<key>mtime</key>
			<integer>1592943696</integer>
			<key>sha256</key>
			<string>68f4901cad9fc9578839036232cd3b9e4a45354e5fcd2c40a30c15b9e582635e</string>
			<key>size</key>
			<integer>279</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/shaderc_combined.pc</string>
			<key>mtime</key>
			<integer>1592943696</integer>
			<key>sha256</key>
			<string>5e0d020bbedb1c91714fba5e2e4cb811118cdf8f99ddb296687326adf42c73d3</string>
			<key>size</key>
			<integer>281</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/shaderc_static.pc</string>
			<key>mtime</key>
			<integer>1592943696</integer>
			<key>sha256</key>
			<string>d7a47bacfbef77ebb31ba932b619628424d63769eb2b29fdbd0bc3b0920a3c52</string>
			<key>size</key>
			<integer>288</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libshaderc_shared.so</string>
			<key>mtime</key>
			<integer>1592943696</integer>
			<key>target</key>
			<string>/usr/lib/libshaderc_shared.so.1</string>
		</dict>
	</array>
</dict>
</plist>
