<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/slsh.rc</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>5038dbb5dfda8d5bd40ff6d2f720e58de0c2ae67d4004c173cd45922547cbec7</string>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/slang/v2/modules</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/slang/v2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/slang</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/slsh/html</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/slsh</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/slang/v2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/slang</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/scripts</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/rline</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/help</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/statslib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/cmaps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/slang/v2/modules/json-module.so</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>e121739b389e8a8d409c4152a9c6223fc1520c6bbe7cde4941da9bde33dc7bab</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/slang/v2/modules/stats-module.so</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>74ab89529aaedd15c38bcc62422f5e2defcafd80ff182ab57a2ae0d9d5a8a1a7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/slang/v2/modules/sysconf-module.so</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>8bae6f09a4374f22575ea1819ade395eac3e7f60720e39e3ad2f4a188b9d43aa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/slang/v2/modules/csv-module.so</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>2c38f591672fa2ab9a9ff0ad6dcfe91e05cf0dbbd5e59a9563b2532679093b5a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/slang/v2/modules/histogram-module.so</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>952839a6c9db4eefb04559b9950874781a3180833f55a6eb796224106c9c1d3f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/slang/v2/modules/fcntl-module.so</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>89fa8154790f00ed2aa0b5fcab720b50b49d76a163592d29b07732346d43298f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/slang/v2/modules/zlib-module.so</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>941ce2e7e64c6e826872e6641120c75a9550bd1617c2dd78d711533dede2d656</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/slang/v2/modules/base64-module.so</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>a3366d2472d8c4504e28e7920f13ba360c1ea889b06390e3151ce686b2132607</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/slang/v2/modules/png-module.so</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>ce91af2ccbb045546b016a72c1e335820c46f639090649ce14d60a32c80b03e1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/slang/v2/modules/chksum-module.so</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>7b8e77a995c1f16b82ae7e1054e8211839dab347231444b39e56410e731ff124</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/slang/v2/modules/iconv-module.so</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>abce4f1875030e94feafd22d1b6631228a3e080b946e629c17babcda59468304</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/slang/v2/modules/select-module.so</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>e9aa6db553fa40cb22cf06a530a9e72c269775ee411fddc9638398b9988a4802</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/slang/v2/modules/termios-module.so</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>8b693a41b033b65034459931e08fa293d47194e8f149ce0bc9d52247be198f33</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/slang/v2/modules/rand-module.so</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>a474a8aa2863acf5258c8e61c638aa6355d58d6470a6681a60710b259a35e94a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/slang/v2/modules/slsmg-module.so</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>449356e6509eefa639bb2d20ec62469e5e7056b4fbdbfd2e6ef3096c61ec4c8b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/slang/v2/modules/onig-module.so</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>3115da12e1d47c105ad5e6bd0711b060b8741c4174a7e98b39249ca50df3c356</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/slang/v2/modules/varray-module.so</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>af2dfcbd13bb26c692485546c03ba9bcf4d3e69b3020e5a4d83daf7c3ac8b6ea</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/slang/v2/modules/fork-module.so</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>e244e478497ce6993d595f196c3fd591c084c1f29e13955aa6e5dd59618a7333</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/slang/v2/modules/pcre-module.so</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>8611a63501ccd0c7eeb0f152bbc3f471efdbf327f8ce3d586eefcadc4f04d487</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/slang/v2/modules/socket-module.so</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>80108780d0ad78d214489ef9e5e7d5346c34f3f3889c2e4cbe4b5b02219d6bbc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libslang.so.2.3.2</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>e2fb4cf10a394ebd13d20798015e13e3e5b2358b4ca8ab56fc7219b90bc56df7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/slsh</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>d541c43af72de52bab7f87c40d2d43af17cae3befb1d0e51936f1f5751bf1915</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/slsh/html/slshfun-12.html</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>33ea8f6839021e81f043aed0cc1f60c89f0f23d0ea0eb8d065abd84b7525c8d2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/slsh/html/slshfun-5.html</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>bf679853c93b413fb9a57f9280cfe5c2e2f827a818dbe681a4c1782049194fe8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/slsh/html/slshfun-1.html</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>c8777347ddafe755238068e6be08556e3626ba0263b1beb298d118b1345f3d18</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/slsh/html/slshfun-3.html</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>258171ddfdf1b67633da5118a9d3b670f022e55308460a937cb4367690a10d97</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/slsh/html/slshfun-11.html</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>25aee310b45c87a7076359c90f4a41ac08cf1741ced08e5c349358172c8cc631</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/slsh/html/slshfun-13.html</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>5cb9ff349d194ab838a0db7e438e71c94c7220802a6515e769c989be037f728f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/slsh/html/slshfun-6.html</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>f8a197a6311601292d3a8c095ceffeebf5416aea8855cf55a0a17931538c5f72</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/slsh/html/slshfun.html</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>5410488750528f076f9e8774406c88b28f4a74563b866e00b1cdec365f7e9256</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/slsh/html/slshfun-8.html</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>6e866b024be6d357c64b8c6b50be3b2637b551bf8c54d4b2a2d24ffb520e9848</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/slsh/html/slshfun-2.html</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>dde43f8bd08ee90396c152c3305dd77b417cd31250d5a81e98ab0d72394e6c78</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/slsh/html/slshfun-7.html</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>990802144a538890e22685ff8c6983b07fc7f5a640db0a2d40b8902df4b68c23</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/slsh/html/slshfun-9.html</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>f1a213255354a1391c05ccff8d65782e00e052688084019155340d5c7ebebe09</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/slsh/html/slshfun-10.html</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>f09fbcf3b3bb1067a9c50bda4044b0da10fe4fbb0624b8119f59ef5fd74ae17f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/slsh/html/slshfun-4.html</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>f2e63e1569de7ced7e00b654ac5737a993cc90483fa0f916610e9fd045087dd1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/slang/v2/slang.txt</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>5c19abe994812754c754eda702da194033f76bfade335342c0a3a7968e44b777</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/slang/v2/slangfun.txt</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>4b0b6802dad4250f44e58d6d3b928ef2f67c6f1576943987f3578c777a2a95e6</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/slang/v2/changes.txt</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>0ed8a18f438f0b5a7391cd758c9a4b60da0be7a3a89c10253fa0d6cd25a78eb8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/slang/v2/cslang.txt</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>d7026a77a62dd3d2c4858553f3682f3bed1cccbf5c8024700f0bc96dd64cb05f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/slang/v2/cref.txt</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>a38299e40e49b6264e5cf7ce24821a2e8ca7666f4a1764b1a95bf6dd1465fda4</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/slang/v2/COPYING</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>ff05a90962e7773f8bdc47b2a9585130526039102759b524c1dffbd57cfe469b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/slang/v2/slangdoc.html</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>15b9492626bd888669d2c1edd3c06d3fd837ff2facfb8d2dff439b72dc2d49f5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/slsh.1</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>cb9bb3ebd281ffe9489c27dcbcbf4d0eb3231890d8d324d80f75961df29aaf0b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/slshhelp.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>9e4c6a3fed950c49bc7459d8165a9a000d88b021369712df85d8a06befa5e5ff</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/readascii.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>164204cc2deb5a41a7c004467c2d9e8dbfb0139e5ee48a2f395fc4e5a2b826e7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/scripts/slstkchk</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>22589dc0e5371933b06f2c3494e19dff58265db90bff666227687a43574e7f66</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/scripts/svnsh</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>d2ca6fefd6d7148c2125b0253ff58ded2870102c6de5e0e1fabf891ea0941ef3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/scripts/jpegsize</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>5b665937ae1c7c936aadebf5cdc0782de9b88eadc0eace668b9fca2e19460148</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/scripts/lsrpm</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>cc0c3d2bab9e7c5dff570ea4e4a3eb6ffb2329913e4370d4ad845e66bfa4823c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/scripts/slprof</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>aa1a70a9ac534a292ede35fa9e7debbc34564299a1b8ac3a4b5cce2fd1e2a71b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/scripts/sldb</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>f3fa938600148d64da975cdd61c2828c669f20e6e509ea4d94fbd3863c65a775</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/print.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>51eba4b4ec78d078bebbbd0031d6f7da17686b46c98ba01212ed9c3433bf19ad</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/zlib.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>526da33b2f59cbdc88c14ba9b5ea7dfcb16d27d64d316a40d4f34d4d33ba5474</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/varray.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>91826a44e3b1c262085ae219c344b9fd853fa69107c2b33febbfcbbf30a6e80c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/cmdopt.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>3d15815638e6d3f02299e44f0f447deeb63861d42b5e70e6cbadac8f63698f29</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/pcre.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>723b14ac3b22c878a01f945421ee5d8ce232917c3c96c9007e6551da097672b3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/sldbsock.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>5ab44ae7695fbd9f4def2853389d04917dc60a3c0a3fd4736c59e39d4dc7d76f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/glob.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>f7314af76b370a8b7672f2fb8662377924404bfd8fb476161cfe0a9144a4daf7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/fswalk.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>dc5d49c35934006c585029f74319c01752eadb689aa6e1113f4f963f1401847d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/rline/history.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>fee7b65dd520e84522981ae14a84cf3051acd8e4624f40fc7ec8baa4a3c88101</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/rline/vikeys.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>6cf42ec5220832ab925550c67169a64a108746d2095e204731aeaa1468e7cf7a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/rline/histsrch.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>d894fcbf4c46a731cfe01ed8df9025f8bd7eb2edec9cdae96d5e54165583bb9c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/rline/slrline.rc</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>2cff9ecaa96b66bb9048b4e2042807bda9d349ffd6175d26ce2d276c21142cf1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/rline/complete.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>f9f0a34e81e2461e58d95b7970e3b4fc6402ae86ea64477ef942e4db21ff3643</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/rline/emacskeys.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>11b3be5f2d54de3c96f0bdeb1fb01c75d6d9683dd674ebb055f21cb98c0eec98</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/rline/editor.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>bb7c99ebde2f367adaa9ab253d8a39ff097c794dff4bd0f8f424b768685f35de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/rline/editfuns.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>933595a0b9eb6089d61c0e874e10e2a9a3bf549833cbbba6c644852bc81612b4</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/sysconf.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>1b312cbc567a6a91cdec22211fd727aca75b9bce88ccfb0791453fed66835062</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/fcntl.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>246fa4496eeb84887049be68d0fa223b6f47e9d7940dfbd360272a26421a9ba3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/histogram.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>ba8e8ac9a91d4a5b66b826367cd34adca5fad300ea917163ee9a34b5d6b4456c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/slshrl.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>e556986d0224d8f719d34875dc54c63464f27839074c92e2445348cb97b5aa79</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/help/chksumfuns.hlp</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>16e251a4841b90191da89e8a53b01d4134f93deab0d7fa6afd79eb19bc2869f9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/help/statsfuns.hlp</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>4ee98cbfe63f9fcb875722169e23fcc032057ee139bf75a6e0eff2a0c622b738</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/help/histfuns.hlp</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>8b1a5d03b1101ccb56b7da6d55bfc6dbb40281b6a35cf94efbc28efd0b7b4ab5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/help/forkfuns.hlp</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>ba5b035ec99da9069d909c79f2def2da6b37bb0e1366ac1956a1f0de90cc7d8b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/help/base64funs.hlp</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>a6b1f21e16c81de69e07574f4508ab848714754ac90b68ee10bb01dba28ff540</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/help/require.hlp</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>0167f70cffdd9c06c6d572201f4cc3dbf5a1ab0ae659c97ec551aeb727590201</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/help/process.hlp</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>0eb3ce1fd6cf9f8300657b6f46503562fc44de117f47bd0de29129ecf9eae3f2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/help/jsonfuns.hlp</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>9ab6bfc9e893460a07a47e69f475778f063a5a332c07a5ef91daaf30288f9acf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/help/print.hlp</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>a6171abb0d1b7d150dbc62bce72fc02f35bd7c1620d9dbfe087e1f348e85a7e3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/help/listfuns.hlp</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>cab11287db74bc333ba916884c42ce0e17e740833622ab54eab00ac63356d3dd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/help/randfuns.hlp</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>fc56d4ea007ae96975b4959edc25b696987d023dc6e340f2a9b1887a010fa111</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/help/pcrefuns.hlp</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>974bc95c13811b41f44efb93563d8daf2bdbc8db85940c66cfafe5f66b37ce3f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/help/readascii.hlp</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>4a2a36f6ca5bb664502d0a8b7553207a08ba4de9aa07d33ebdd40b44d0ad7eeb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/help/structfuns.hlp</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>b3b5297b484a01baf4cf3238ef2b7321b40a43bc438136d68e0fbd117f6beb3e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/help/slsmg.hlp</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>b0f23a5017ed3854fa69ab3c8c56324f2c4e9ae61a5d296a669704ee8bf22126</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/help/arrayfuns.hlp</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>156c5c9fd88afd00ca21ae6bfb0e51a0a6b862efe7acea647cc373f07675e412</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/help/csvfuns.hlp</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>6544a7951ec8854eb590b4d2f836f43367a5cebc544714495652595d6034f922</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/help/setfuns.hlp</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>8be3c567111cb1092f55520ef730aa6a5a99551f8e5caee513e653368b5a915b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/help/profile.hlp</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>e6c9b305021b7fd188fd3847aa5a8663946119703d9bcd92d1f871d4cea77ced</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/help/onigfuns.hlp</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>7220b3a719b76ac014eaca54588a11f6c6440d1fcd90a24bec2bc549a7a755ad</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/help/sockfuns.hlp</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>ddb303be8c021c8d0629de55d24c5f23a9f902615156fc346119b39c53f30a22</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/help/glob.hlp</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>e5fde960829c6b9693a8ccfa67cc16b53505a837e62e501c834ea73245b0e017</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/help/cmdopt.hlp</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>916a0872a6cbf668ffd2aaf7b65935b91f7325dac34f548e5d6e344d69087585</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/help/pngfuns.hlp</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>170da762156b7b3d9a3f507b8fcca9ccf936e519f5a22cc6b8a133d8efe15481</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/help/fswalk.hlp</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>68097bce926a9f64ed98f14480e841d1c6d08e354812302396ac4adbc961d660</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/csv.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>716b1f40cb376e7446deeda399ee10547cee55b00372465b1901413b5d74dd20</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/process.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>cf31903ce8b517a1374a1c28e521793b84b5d2b894926ecc54266b31f1e0ab9b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/sldbcore.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>300fbb21fde3cd1476de2103d24537ac6fca4ecf31b5e0d24f10aa257bab630a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/statslib/ad_test.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>b054cbe89c55c431ae0ed4508efafe3d8f4ded90bff22061ec5945b7475acc3c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/statslib/kuiper.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>ce012b7d959e208171bd1e71fff22212edd9f0382afa89c380ba039fcb1d4676</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/statslib/ks_test.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>d1577144e283462865efcfabdd5dcffee24032dd2e8316ab7d106dbde701ab85</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/setfuns.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>9642cf9e09f3d27ede4909f82de38946fb4bf120cad6ae1235d6c0732ad75d33</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/base64.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>8dad6aacb854c366c80750f20a991106994ae03cdb7c385839d9ec666b80f637</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/fork.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>d2cbb247e23459d23eb303e70fc09aaaaf4825a2bb901fc09122b326a38cb179</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/rand.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>cb5af643e2ce36bb05caf9fe61242b1245ad97b5c084cceafe5076f0694f1d95</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/require.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>20a89ac084c1e0992f5dad4d737f69b6a6c7b396cb0b207a1966eb4f59a7b4aa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/slsmg.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>8eb5fcef5de62e8c8bbaca2f7b1a0ebac248098af784fbcf481f662ed1f072e6</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/arrayfuns.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>ab1f6016e5780a94e9a257a24daf5f9c89943ddba8070623cd04fd85e4c2b253</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/profile.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>421a6ad0459b64f533d41f2e6a5de81eb544552bdb7e04233236c95b60637daf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/png.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>1478527e72fac843339b678123ca7208b072e7a3e86232cd99a105d344c5fa8b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/structfuns.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>54dde2f3c57f85bbca68e9a4663243ae51a02f55ae29c93dbba2162d75d6b01e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/stkcheck.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>342a4d790a2e95460b860aa6bc33b89e3befb6e3a9618687eb21d65297f5e0ad</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/sldb.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>41da1c05b6ef1a70dcf08b93fffa909fd36d6e0568d6e264473968abee5066aa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/cmaps/relief.map</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>3deb19baa0ee97153bddd0927f93c2f621f3ce868c4b76183ac7b6f5e5ae3042</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/cmaps/rainbow.map</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>f6da7171545c74f7cc5937fbd59fb1615ccd41d86ef2429f10906f616d8b3c4b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/cmaps/sealand.map</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>11954770a69e1fe26fa590eadd1d8f5c36702326d5c2a6c08ff323026f53193e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/cmaps/polar.map</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>e81f44ce51db72a79332a2e61d83c71112bcb4d1119abeb6b8762017adbf209c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/cmaps/jet.map</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>ff33e1f2efc1b0f9b2a6ca9d2820337fe67e0bcf78f7f418eee8970ecc4b785a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/cmaps/seis.map</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>2bc0e4d8cffcf289f93d27bc69a8b80228749cd854820c6ea361a0c1c4660c9b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/cmaps/cubicl.map</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>3166ecebaf33baee5378ee97ec57ea6144acf793077de0f728307f30588dd5f8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/cmaps/globe.map</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>4fb1ef32ad04cc6b5b816c8de6f56d533e5049b759be9bc8b1455fcfae73c697</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/cmaps/hot.map</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>66eebc92cac25a5c78f3f25db4aadb8c66e0bb54d0a061dda6d823b3a6f18e52</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/cmaps/topo.map</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>23377fe96852a0ab1ef46782e9c66f486dc505d5e0dc278e8456c620404963aa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/cmaps/red2green.map</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>58a9f356e51c750824faae40874f02710bae5ad50c58de8124d9e2a338dbd0a1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/cmaps/edge.map</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>055ba0af9ed61f25fddfe3ff93e3a248da92929068f3f37bc271c344a0ea5ec0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/cmaps/split.map</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>45ad1710887c9e2c61397025c0d808fca9029cdfbe12fc239f87d2928896afc4</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/cmaps/ds9sls.map</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>2ed617c06e40aab2d6be724b7e531687c7a14c0e857a31cd45eee6cffa6836f0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/cmaps/no_green.map</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>4dfb2ee93d25b921bd0c3f7e9e21144d0e5d97d966e0a9ddbed1ecc75fabbbb5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/cmaps/coolwarm.map</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>ea6cf16cf77f047f5be66b61d9eba422ecbb0cf5f2720e96b8987ffd310c6128</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/cmaps/drywet.map</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>10b92855df230bc4291116624fd3dec719200e62b29a88e7548af2cffa43e1db</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/cmaps/wysiwyg.map</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>52fef70f44a78b8625125113ae85203f47327ba74fb8cf9dbdbd2e5ea00e30e1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/cmaps/ds9b.map</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>fac43cf8dd76e7030a9dca82b04d3ad93d4f5153864fbb15f1af65a2b8ce768e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/cmaps/haxby.map</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>4aef3eaed0fb3c640d40c4ba15f3bea511745347ac014d8b46f34e5b267cfaaf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/cmaps/cubicyf.map</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>cf9854da5f33273f23154819bd9a459778b7e7feaa606ed739ea63b7c2c7a33f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/cmaps/cool.map</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>7aac36246492aad725dbac981ad00567715144943bf23b5fadc82442c8a8b1a7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/cmaps/ocean.map</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>8b868842c6b4630c035f029e466e5a3f549c2b96d539040f922c010ab4953976</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/cmaps/gray.map</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>958842e472382046739bd4e3ac53d4dc870064087accfbf862087b921353144d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/cmaps/copper.map</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>802bb325656327104f989ef9732a51ef952ec91e85fd6a8261c7c130f7c19e2d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/cmaps/gebco.map</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>f2991a8b1d5f2baf16b0f80e3e3cca4ced2f06230df7c5c74cb0b3a524e4a18f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/chksum.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>132d41dbfe5ab4288933c10d55155bd9564dc6e4d510fea1c0159293f9c09c61</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/onig.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>d12949a2f7100946af038db9ad1479624e2e02b4b8bfcc1fdd0821d89fb2e216</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/select.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>daa7b075abf5b32a63e6c897ce72b9a97633c7f4497810ef13c8082b67dde64b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/termios.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>aa783ae9ea31ed9772cf25d01bf08465dc7f49ad5d9cab0cc124c69eb6b943b1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/iconv.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>04a375773a3e4ab4cd2c997337980fb221aa2dfaa07a44eb40ece4ea1757c521</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/autoload.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>c3c0995b321621f9f2d4d70c4dd406321f43c13586e4fb869a5fa09a4f1db749</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/json.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>f449cd9c6cc293440e829b70901b1f0e7d85eec26a040f093799bdc6f7c1e6f6</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/socket.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>fa4650129fb7c46f725ec5df0642fcc3057dac54cf68b221360c15ab37bf14d5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/listfuns.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>66a600f595f9e42636f6c4092b1d46f6343a4116170f74b1ed4e41a878acb0e8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/slsh/stats.sl</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>sha256</key>
			<string>3abc586ee8ec51ba4e7d34acb264e3e27e4f8834328353a1fea65a6115a697ba</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libslang.so.2</string>
			<key>mtime</key>
			<integer>1522772463</integer>
			<key>target</key>
			<string>/usr/lib/libslang.so.2.3.2</string>
		</dict>
	</array>
</dict>
</plist>
