<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/sloccount</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/ada_count</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>362c34047deded86f83f8b3792d61615763c554a419f2047ee8645b0314fec4b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/lex_count</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>a944c92f47d7e1504517b4f52c995c7345d7ee37b56d3a8d7507bde725948282</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/print_sum</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>6a6494fc4c37b1da9c4ff79ecbeade3449f00b7d5e54f033522c8cb84ad9b2b5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/jsp_count</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>7a0de515e8ed0c5e1dab1b58b6cb702d9fd83a91814f065f83fcb2c9fa74b8db</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/exp_count</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>368325c6a2a40ebb581acab63287a1c689e1e1746a82fd4034c421807d988dcd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/cobol_count</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>d9a31444eea14a8359c98007da04055509ac825e01d9c92ef1f1d5435ef4d97f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/haskell_count</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>f4c22cdd25cab765b6af06995a020b9a72c6189857b5d8b4fefc13d3bfca861d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/compute_sloc_lang</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>97870e4e9352d0ea697e3e83ecb63e39f7c148785f5c21d7c6f5f0622346505c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/get_sloc</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>3bcdac1233aefee47b5927db0b921a2eca00d8478dfbbdd1082e4c30ec9e7a7b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/objc_count</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>c54a2dc3519d0a2d841a79aa6b54b472ee37765066ad6408422cdeb47d01b6d5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/java_count</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>2b066bedd2e3981c1dfbc1b3ac239c376c3ee467873986a3c57a0c574b50d117</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/pascal_count</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>7014f3f9dc2db94bda531c500d723b2b2f80c92b69eddd4bfc67c0d9d711f1e4</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ruby_count</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>368325c6a2a40ebb581acab63287a1c689e1e1746a82fd4034c421807d988dcd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/sed_count</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>368325c6a2a40ebb581acab63287a1c689e1e1746a82fd4034c421807d988dcd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/compute_all</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>a2c5315afdc2c0871a1d701857c5ec319d3fc7cd096c31185e33b0ff659621d3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/sloccount</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>889554ee8898724a4bbab3203417a0c72c41bd2812bce9d05209eddc93e5c96d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/break_filelist</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>9cd4f73d34b05548c92ce9cf1d865101dd0193f1e52587b1c3a7c7311e87a788</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/f90_count</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>0b3ff8da4ea396214c7aed515766a015b24a9a4598d5fc534093fa32dad6811c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/csh_count</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>368325c6a2a40ebb581acab63287a1c689e1e1746a82fd4034c421807d988dcd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ml_count</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>deeca7b04842f7a48e22e086c41fc1b91c9e20406c12eac2c5993068dd82c2de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/sql_count</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>499dd3cafd67c27eca42ccaec14b1670ee60e95569e3f63d291934cadcbc3678</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/lisp_count</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>645b4e0c4e5f4e479425038232ffd4aca30b02f69e2af24b423a6b9919038211</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/php_count</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>463473a9685142058ff702d02dfd19759a7999e97f63470352372c0b8d7c58f9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/awk_count</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>368325c6a2a40ebb581acab63287a1c689e1e1746a82fd4034c421807d988dcd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/perl_count</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>1710f2d1aa6a44e437084c7f492b678bb1700f887ccfae3c966f5dc272a52428</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/lexcount1</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>0aab2f353f796c1d0e08b9f3f3125b43b935ea3680c4cd1e38b5766f83ec8caa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/count_unknown_ext</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>85e1c59ba8a83ee3d3d731e0af3593530bac8a07b7b705a49be938f659cd379b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/fortran_count</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>55c7fa32bc9a2005d5bfc5324bae20f3f79fc9975beded8733ae78a530236525</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/show_filecount</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>af8cfd52eed27e664eb3054fc991e922e1ba397d3e9b03665302de035a54a4c3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/modula3_count</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>44ddb8fd6516027d8f7188a6eea76c8cc7dc7e7bc1bda47a4372577a54265591</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/tcl_count</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>368325c6a2a40ebb581acab63287a1c689e1e1746a82fd4034c421807d988dcd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/count_extensions</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>5ac5f922278315e2a4965fc9408ab0ad65f0e6bfd7d8a87efc1fdbb22c8f3c46</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/makefile_count</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>368325c6a2a40ebb581acab63287a1c689e1e1746a82fd4034c421807d988dcd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/c_count</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>5a9eaf1656790f63ccb37d93da7dbf09253d4ae0163ae4c4bd7914a8a7271ec0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/make_filelists</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>41096c94f02dc3f0110394cbe934162ac160523069f3e62dd52d09c98bdee3ad</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/sh_count</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>368325c6a2a40ebb581acab63287a1c689e1e1746a82fd4034c421807d988dcd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/asm_count</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>3979ac14d8e429fe2058d2fc0719c6b858f404f08596c4d3f9cddaa0f6687531</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/python_count</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>c532b28bc2f76935b1741fffe875e3e3d873380132faf5432d0c8915019590be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/get_sloc_details</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>05580ca4acc0d5d5e6066ce662abcccb007fe2e408979c478531c1d0981b77b5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/generic_count</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>716c9cf7e12eee83033d3810aac8084255e37d82117daaa1ba3011575f2d3c1e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/sloccount/README</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>1966edfecf9e38fecf89826e50cdff555ffb659f97535fa3eb510c0236d06f33</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/sloccount/TODO</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>d690896efad92d46a1bade0c29dfb45f2ae304853c73ca5bf06d3a40493f3ea8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/sloccount/ChangeLog</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>66835c6adf8d7cd6b4a1816c2d67f14a5cd28580ca4c7ae0ae36c8145962a390</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/sloccount/sloccount.html</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>e8bb3e9ae86117cfb852206303aaf290d0b0e38310ac004cb29135c939ad4161</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/sloccount.1</string>
			<key>mtime</key>
			<integer>1464095405</integer>
			<key>sha256</key>
			<string>ffeb1bdfacf0013fe97c31609a41e50970e98916db7201ec86a309834ab01af1</string>
		</dict>
	</array>
</dict>
</plist>
