<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/smartd/smartd.conf</string>
			<key>mtime</key>
			<integer>1609791122</integer>
			<key>sha256</key>
			<string>f0539b3e232908d24e41a4d852410a988adef8c77dd4b0215bc2a2122abd63e1</string>
			<key>size</key>
			<integer>6699</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/smartd/smartd_warning.sh</string>
			<key>mtime</key>
			<integer>1609791122</integer>
			<key>sha256</key>
			<string>1ba6e12e24a3a800886a61e071182a086669aa5fe731168ae31b27ae7e4beb48</string>
			<key>size</key>
			<integer>5590</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/smartd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/smartd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/smartmontools</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/smartmontools/examplescripts</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/smartmontools</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/smartd/finish</string>
			<key>mtime</key>
			<integer>1609791122</integer>
			<key>sha256</key>
			<string>3f56d8741c06f3918d5018fdd3afd96b2500586b7f4b1f6c40bc9707cdc3df3d</string>
			<key>size</key>
			<integer>80</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/smartd/run</string>
			<key>mtime</key>
			<integer>1609791122</integer>
			<key>sha256</key>
			<string>2d5813206f7422be5fa4ae01e9da1e08adb2fe4a8f6b614e6deab4de96466a3d</string>
			<key>size</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/smartctl</string>
			<key>mtime</key>
			<integer>1609791122</integer>
			<key>sha256</key>
			<string>af76a524de560a28ed5641fd24bc623f84761688104f7b5682ac55821e0bc3f8</string>
			<key>size</key>
			<integer>880416</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/smartd</string>
			<key>mtime</key>
			<integer>1609791122</integer>
			<key>sha256</key>
			<string>c5e0d7c5f8c422041d990a7aadd0af04d6407d20c59bb7d43ff9d607e1f09c47</string>
			<key>size</key>
			<integer>720032</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/update-smart-drivedb</string>
			<key>mtime</key>
			<integer>1609791122</integer>
			<key>sha256</key>
			<string>567942b4c19e96f623c565799a68cdecf82298be046a471584e4147f183a725a</string>
			<key>size</key>
			<integer>23890</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/smartmontools/AUTHORS</string>
			<key>mtime</key>
			<integer>1609791122</integer>
			<key>sha256</key>
			<string>a8b2019d184106fe8346632c32ae0ccc807263c88e677206fb81b99d21e05a26</string>
			<key>size</key>
			<integer>2020</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/smartmontools/COPYING</string>
			<key>mtime</key>
			<integer>1609791122</integer>
			<key>sha256</key>
			<string>8177f97513213526df2cf6184d8ff986c675afb514d4e68a404010521b880643</string>
			<key>size</key>
			<integer>18092</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/smartmontools/ChangeLog</string>
			<key>mtime</key>
			<integer>1609791122</integer>
			<key>sha256</key>
			<string>eaf411745ffe1e52ce3e60d847e9f5d6944940d92e769933af98113ccfe40ced</string>
			<key>size</key>
			<integer>30967</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/smartmontools/ChangeLog-6.0-7.0</string>
			<key>mtime</key>
			<integer>1609791122</integer>
			<key>sha256</key>
			<string>2be6b6d74ae0c7edecd3186d51b30932e6c567e2d228a11f0fc1729bd18012a1</string>
			<key>size</key>
			<integer>131779</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/smartmontools/INSTALL</string>
			<key>mtime</key>
			<integer>1609791122</integer>
			<key>sha256</key>
			<string>5c9e1d5d0ab08efbca3371ece615c352ecc6856b1a5e5d244ed6bf483b597eaa</string>
			<key>size</key>
			<integer>18665</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/smartmontools/NEWS</string>
			<key>mtime</key>
			<integer>1609791122</integer>
			<key>sha256</key>
			<string>b456e244616543aaca387c8d49116d9b869705ec1b345ed59f5f195eef60fb8d</string>
			<key>size</key>
			<integer>37606</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/smartmontools/README</string>
			<key>mtime</key>
			<integer>1609791122</integer>
			<key>sha256</key>
			<string>c70687f883e574596b80573a99b3fae7ac205dbce9d81c9950ca4842f48cfded</string>
			<key>size</key>
			<integer>2995</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/smartmontools/TODO</string>
			<key>mtime</key>
			<integer>1609791122</integer>
			<key>sha256</key>
			<string>940bc31530dc935a1d9092f25ffb910340cd7114919321e6309fe4ea7d50f464</string>
			<key>size</key>
			<integer>151</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/smartmontools/examplescripts/Example1</string>
			<key>mtime</key>
			<integer>1609791122</integer>
			<key>sha256</key>
			<string>078b1ffebbcc1b049cb82e311b3ece4b7d9d5228087975205b756b1e26f05dfd</string>
			<key>size</key>
			<integer>1541</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/smartmontools/examplescripts/Example2</string>
			<key>mtime</key>
			<integer>1609791122</integer>
			<key>sha256</key>
			<string>b466b4043731efd6be700cda5993591e9e7a929fdf964aa599ebfeaf832c349d</string>
			<key>size</key>
			<integer>708</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/smartmontools/examplescripts/Example3</string>
			<key>mtime</key>
			<integer>1609791122</integer>
			<key>sha256</key>
			<string>c0edca7d8b02f1a7cae66c378bac39c7dc11853093d1557eb66fc9a996b86a5e</string>
			<key>size</key>
			<integer>691</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/smartmontools/examplescripts/Example4</string>
			<key>mtime</key>
			<integer>1609791122</integer>
			<key>sha256</key>
			<string>00afdc3fe24fd2dda17e9a0303eb23549fcf113069c71cb7117ac3ba1e4ee369</string>
			<key>size</key>
			<integer>258</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/smartmontools/examplescripts/Example5</string>
			<key>mtime</key>
			<integer>1609791122</integer>
			<key>sha256</key>
			<string>8193047f9740a539e902666fa39d98af166861b8a79c3b909b073229b7e6622e</string>
			<key>size</key>
			<integer>166</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/smartmontools/examplescripts/Example6</string>
			<key>mtime</key>
			<integer>1609791122</integer>
			<key>sha256</key>
			<string>fc52edf35938249fe4af31637eb8e62e291c0888610c5826907eef76cd154edc</string>
			<key>size</key>
			<integer>911</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/smartmontools/examplescripts/Example7</string>
			<key>mtime</key>
			<integer>1609791122</integer>
			<key>sha256</key>
			<string>87407419d4c3186e4c3c72763f903877e66d70a4b1181a83c0e13eea16fb9e62</string>
			<key>size</key>
			<integer>577</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/smartmontools/examplescripts/Example8</string>
			<key>mtime</key>
			<integer>1609791122</integer>
			<key>sha256</key>
			<string>d815ab6393751a4d74214e77f9fbaaa45a616316060ead36cb8ec5d749c88c62</string>
			<key>size</key>
			<integer>1134</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/smartmontools/examplescripts/README</string>
			<key>mtime</key>
			<integer>1609791122</integer>
			<key>sha256</key>
			<string>1f0e2c9025cb73d9e51354b39c2c94f23bbf01fb640f4e07da485f646699ece6</string>
			<key>size</key>
			<integer>2169</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/smartmontools/smartd.conf</string>
			<key>mtime</key>
			<integer>1609791122</integer>
			<key>sha256</key>
			<string>f0539b3e232908d24e41a4d852410a988adef8c77dd4b0215bc2a2122abd63e1</string>
			<key>size</key>
			<integer>6699</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/smartd.conf.5</string>
			<key>mtime</key>
			<integer>1609791122</integer>
			<key>sha256</key>
			<string>1b7e086d6cc9f78f297adf54373e4d185dd71d7c09ee8f735321d50b38947c1b</string>
			<key>size</key>
			<integer>68828</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/smartctl.8</string>
			<key>mtime</key>
			<integer>1609791122</integer>
			<key>sha256</key>
			<string>3025ec5e5ffe51be0b96eb0684079d36c715a68a8a017324aa628bf8e241fac5</string>
			<key>size</key>
			<integer>103010</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/smartd.8</string>
			<key>mtime</key>
			<integer>1609791122</integer>
			<key>sha256</key>
			<string>6a44d24f4aa972ef671c02660a8fda67880fa61b79c338b17472fd3353cad3e4</string>
			<key>size</key>
			<integer>32964</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/update-smart-drivedb.8</string>
			<key>mtime</key>
			<integer>1609791122</integer>
			<key>sha256</key>
			<string>4c3d068d31373cbeb8d52ebe171ec9ce70f6181f7278c66ff1fdde02b9540abf</string>
			<key>size</key>
			<integer>4854</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/smartmontools/drivedb.h</string>
			<key>mtime</key>
			<integer>1609791122</integer>
			<key>sha256</key>
			<string>262ede75bdb724effb288bd186f16d7a14e4a612e632118af5c4364a4cf7cf25</string>
			<key>size</key>
			<integer>226226</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/smartd/supervise</string>
			<key>mtime</key>
			<integer>1609791122</integer>
			<key>target</key>
			<string>/run/runit/supervise.smartd</string>
		</dict>
	</array>
</dict>
</plist>
