<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/include/sndio.h</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>sha256</key>
			<string>d36a5d11c59dde8564273de7eca44821ba8eb550ef4f0aab07f2c73f94912e15</string>
			<key>size</key>
			<integer>6558</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/mio_open.3</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>sha256</key>
			<string>1ca85c1a959229b968a4956c7ad1d446ddb4215da7380e4035e05e82f45e1b19</string>
			<key>size</key>
			<integer>5985</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/sio_open.3</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>sha256</key>
			<string>39181835e7dce4d8511057e08717f5f08f0f911e5d3a57a8ea4266ff606bb2e6</string>
			<key>size</key>
			<integer>20584</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/sioctl_open.3</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>sha256</key>
			<string>4d299ab4d48b446139a1523b5867fb7edbc7f87d38c89386474da0c841d14db4</string>
			<key>size</key>
			<integer>7541</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libsndio.so</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>target</key>
			<string>/usr/lib/libsndio.so.7.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/mio_close.3</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>target</key>
			<string>/usr/share/man/man3/mio_open.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/mio_eof.3</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>target</key>
			<string>/usr/share/man/man3/mio_open.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/mio_nfds.3</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>target</key>
			<string>/usr/share/man/man3/mio_open.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/mio_pollfd.3</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>target</key>
			<string>/usr/share/man/man3/mio_open.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/mio_read.3</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>target</key>
			<string>/usr/share/man/man3/mio_open.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/mio_revents.3</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>target</key>
			<string>/usr/share/man/man3/mio_open.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/mio_write.3</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>target</key>
			<string>/usr/share/man/man3/mio_open.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/sio_close.3</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>target</key>
			<string>/usr/share/man/man3/sio_open.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/sio_eof.3</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>target</key>
			<string>/usr/share/man/man3/sio_open.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/sio_getcap.3</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>target</key>
			<string>/usr/share/man/man3/sio_open.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/sio_getpar.3</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>target</key>
			<string>/usr/share/man/man3/sio_open.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/sio_initpar.3</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>target</key>
			<string>/usr/share/man/man3/sio_open.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/sio_nfds.3</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>target</key>
			<string>/usr/share/man/man3/sio_open.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/sio_onmove.3</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>target</key>
			<string>/usr/share/man/man3/sio_open.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/sio_onvol.3</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>target</key>
			<string>/usr/share/man/man3/sio_open.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/sio_pollfd.3</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>target</key>
			<string>/usr/share/man/man3/sio_open.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/sio_read.3</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>target</key>
			<string>/usr/share/man/man3/sio_open.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/sio_revents.3</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>target</key>
			<string>/usr/share/man/man3/sio_open.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/sio_setpar.3</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>target</key>
			<string>/usr/share/man/man3/sio_open.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/sio_setvol.3</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>target</key>
			<string>/usr/share/man/man3/sio_open.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/sio_start.3</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>target</key>
			<string>/usr/share/man/man3/sio_open.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/sio_stop.3</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>target</key>
			<string>/usr/share/man/man3/sio_open.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/sio_write.3</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>target</key>
			<string>/usr/share/man/man3/sio_open.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/sioctl_close.3</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>target</key>
			<string>/usr/share/man/man3/sioctl_open.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/sioctl_eof.3</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>target</key>
			<string>/usr/share/man/man3/sioctl_open.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/sioctl_nfds.3</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>target</key>
			<string>/usr/share/man/man3/sioctl_open.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/sioctl_ondesc.3</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>target</key>
			<string>/usr/share/man/man3/sioctl_open.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/sioctl_onval.3</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>target</key>
			<string>/usr/share/man/man3/sioctl_open.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/sioctl_pollfd.3</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>target</key>
			<string>/usr/share/man/man3/sioctl_open.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/sioctl_revents.3</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>target</key>
			<string>/usr/share/man/man3/sioctl_open.3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/sioctl_setval.3</string>
			<key>mtime</key>
			<integer>1600920849</integer>
			<key>target</key>
			<string>/usr/share/man/man3/sioctl_open.3</string>
		</dict>
	</array>
</dict>
</plist>
