<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/var/log/socklog/cron/config</string>
			<key>mtime</key>
			<integer>1579119065</integer>
			<key>sha256</key>
			<string>0a145f583c6da6af6ae9d2c0af6fa8ad43319c2ae61dd7b27f78bc92e7fbd3d7</string>
			<key>size</key>
			<integer>29</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/log/socklog/daemon/config</string>
			<key>mtime</key>
			<integer>1579119065</integer>
			<key>sha256</key>
			<string>1badd6ac93de1baa9c4ade8e927a29da0771ba06aa2f67f4d153f5020a974466</string>
			<key>size</key>
			<integer>31</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/log/socklog/debug/config</string>
			<key>mtime</key>
			<integer>1579119065</integer>
			<key>sha256</key>
			<string>0e74c5188a8829f2fd74061f24421e5c5b09b7462a8082c56e21e0e5a1e2ad62</string>
			<key>size</key>
			<integer>32</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/log/socklog/errors/config</string>
			<key>mtime</key>
			<integer>1579119065</integer>
			<key>sha256</key>
			<string>b8898c7bceef6cb9eb7be785b22cdca8c5041fb14b19ff09673dfc71ffb3b66d</string>
			<key>size</key>
			<integer>73</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/log/socklog/everything/config</string>
			<key>mtime</key>
			<integer>1579119065</integer>
			<key>sha256</key>
			<string>6cbb6b4dc0a31d825b5cff627ef4c21e563ea927773b83014ce6b9b29b81e4b3</string>
			<key>size</key>
			<integer>38</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/log/socklog/kernel/config</string>
			<key>mtime</key>
			<integer>1579119065</integer>
			<key>sha256</key>
			<string>f53523067947e93037295f3c8ed2bf3af599a8b9bfc339718bb1af1e5efabf61</string>
			<key>size</key>
			<integer>11</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/log/socklog/lpr/config</string>
			<key>mtime</key>
			<integer>1579119065</integer>
			<key>sha256</key>
			<string>527cf25ea23fec4686d39ae0588edf94d3334f3c7ec013313e09531ab057f3e7</string>
			<key>size</key>
			<integer>28</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/log/socklog/mail/config</string>
			<key>mtime</key>
			<integer>1579119065</integer>
			<key>sha256</key>
			<string>99f10807b38cdc388fc354e4576ebf5f0268b4d2fcf4fcda4168086390967927</string>
			<key>size</key>
			<integer>29</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/log/socklog/messages/config</string>
			<key>mtime</key>
			<integer>1579119065</integer>
			<key>sha256</key>
			<string>75eb70b612ec63cd565dc45bb4df63c13fcb8e03466578a17bbafc6fefb9c247</string>
			<key>size</key>
			<integer>97</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/log/socklog/remote-udp/config</string>
			<key>mtime</key>
			<integer>1579119065</integer>
			<key>sha256</key>
			<string>c9f6cf0ffe8f4304b9d130a736605f18e86be37f36be389d9f7d377e477269c5</string>
			<key>size</key>
			<integer>87</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/log/socklog/secure/config</string>
			<key>mtime</key>
			<integer>1579119065</integer>
			<key>sha256</key>
			<string>5973bccee4b918542bf213096af8706c366fb1614bcc18e531fb8f356f5b01a7</string>
			<key>size</key>
			<integer>41</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/log/socklog/tty12/config</string>
			<key>mtime</key>
			<integer>1579119065</integer>
			<key>sha256</key>
			<string>05afefc343026350f8057a85e09c4306b5f9045705c409d55b72e72c593d6f3e</string>
			<key>size</key>
			<integer>110</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/log/socklog/user/config</string>
			<key>mtime</key>
			<integer>1579119065</integer>
			<key>sha256</key>
			<string>f15863cfc45433e08a0c8aaccb01b179ab2a854414d457742d610bd2eafdaa6a</string>
			<key>size</key>
			<integer>29</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/log/socklog/xbps/config</string>
			<key>mtime</key>
			<integer>1579119065</integer>
			<key>sha256</key>
			<string>c0a5cf6543dbd37fecbf5150394201104135227432ccfed466fb3f20bc4b02fa</string>
			<key>size</key>
			<integer>36</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/nanoklogd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/socklog-unix</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/socklog-unix/log</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/var</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/log</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/log/socklog</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/log/socklog/cron</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/log/socklog/daemon</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/log/socklog/debug</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/log/socklog/errors</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/log/socklog/everything</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/log/socklog/kernel</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/log/socklog/lpr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/log/socklog/mail</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/log/socklog/messages</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/log/socklog/remote-udp</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/log/socklog/secure</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/log/socklog/tty12</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/log/socklog/user</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/log/socklog/xbps</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/nanoklogd/run</string>
			<key>mtime</key>
			<integer>1579119065</integer>
			<key>sha256</key>
			<string>a520e84e72d96ef795bce94090e1859f71b85b130149bdf773928ba997718ae3</string>
			<key>size</key>
			<integer>49</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/socklog-unix/check</string>
			<key>mtime</key>
			<integer>1579119065</integer>
			<key>sha256</key>
			<string>88709c696cce6425b9c81fb379d03cd781b12250e25045bba2d45212981ef542</string>
			<key>size</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/socklog-unix/log/run</string>
			<key>mtime</key>
			<integer>1579119065</integer>
			<key>sha256</key>
			<string>c5d7923209e3ae50aff9f9ba3a402e45eb5b60c78b61055ce6d88475f21b31f9</string>
			<key>size</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/socklog-unix/run</string>
			<key>mtime</key>
			<integer>1579119065</integer>
			<key>sha256</key>
			<string>1e6b02e021b466ce54c91e56e957cd8fd37443298047cf146cf953796c9d0aee</string>
			<key>size</key>
			<integer>66</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/nanoklogd</string>
			<key>mtime</key>
			<integer>1579119065</integer>
			<key>sha256</key>
			<string>9b3a7a3b66b505412a0c28f3bab57878c774cb63f36882e4e171d0b1ea46fabf</string>
			<key>size</key>
			<integer>14408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/svlogtail</string>
			<key>mtime</key>
			<integer>1579119065</integer>
			<key>sha256</key>
			<string>f9934afe6176943b54b29ea5b662e3f3c6471935c173ec0d6a9386c1f7bdb5fe</string>
			<key>size</key>
			<integer>654</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/syslog-stripdate</string>
			<key>mtime</key>
			<integer>1579119065</integer>
			<key>sha256</key>
			<string>e8f66e30be3955ab46b12557691a56a14d4d8e601625fb16de30f8a9062472f6</string>
			<key>size</key>
			<integer>420</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/nanoklogd/supervise</string>
			<key>mtime</key>
			<integer>1579119065</integer>
			<key>target</key>
			<string>/run/runit/supervise.nanoklogd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/socklog-unix/log/supervise</string>
			<key>mtime</key>
			<integer>1579119065</integer>
			<key>target</key>
			<string>/run/runit/supervise.socklog-unix-log</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/socklog-unix/supervise</string>
			<key>mtime</key>
			<integer>1579119065</integer>
			<key>target</key>
			<string>/run/runit/supervise.socklog-unix</string>
		</dict>
	</array>
</dict>
</plist>
