<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/spdx</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/share/spdx/license.lst</string>
			<key>mtime</key>
			<integer>1609309910</integer>
			<key>sha256</key>
			<string>84a4db1214d122940195af158e43ecf5b5cc034ce2cd2cae0e955bf918c2b7e3</string>
			<key>size</key>
			<integer>6301</integer>
		</dict>
	</array>
</dict>
</plist>
