<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/speedtest_cli-2.1.2-py3.9.egg-info</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/speedtest</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>d720fc28be986afd6437e270223cdc2966cacfa2f6b48455cbb070f25bb54ba0</string>
			<key>size</key>
			<integer>980</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/speedtest-cli</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>10e194f9179c757a067156de1b3ac98d2f7b01b10e4e70357d75ffb8cbe2256f</string>
			<key>size</key>
			<integer>988</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/speedtest.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>134254f27941481d6e98941b82411a2f314d00975e1b22ef181cdd28f4860858</string>
			<key>size</key>
			<integer>65015</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/speedtest_cli-2.1.2-py3.9.egg-info/PKG-INFO</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>793c6bfda82c5182de3df1c64938a536a5b2b1faaeb359ffe357b90df2ccfabc</string>
			<key>size</key>
			<integer>8069</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/speedtest_cli-2.1.2-py3.9.egg-info/SOURCES.txt</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>cf670541003d091c4db65cb59d53b9e80230204737e194b56a955863d1fa1ae1</string>
			<key>size</key>
			<integer>250</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/speedtest_cli-2.1.2-py3.9.egg-info/dependency_links.txt</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>01ba4719c80b6fe911b091a7c05124b64eeece964e09c058ef8f9805daca546b</string>
			<key>size</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/speedtest_cli-2.1.2-py3.9.egg-info/entry_points.txt</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>87ea802038308a765036500e2b0c82806cbad86ac81330ebd44f418eabe168ae</string>
			<key>size</key>
			<integer>77</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/speedtest_cli-2.1.2-py3.9.egg-info/top_level.txt</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>a81579217492a0ed2571c85ce5e026ac87273a61e376c90a8e6e5bb5b730592f</string>
			<key>size</key>
			<integer>10</integer>
		</dict>
	</array>
</dict>
</plist>
