<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/polkit-1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/polkit-1/actions</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/spice-client-glib-usb-acl-helper</string>
			<key>mtime</key>
			<integer>1593861932</integer>
			<key>sha256</key>
			<string>16b1f302a92f5d472548f0d77b7a8a56801d635fef5bad76897e09cf1e0a093a</string>
			<key>size</key>
			<integer>18528</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/spicy</string>
			<key>mtime</key>
			<integer>1593861932</integer>
			<key>sha256</key>
			<string>3605c67a3a8c9291c0edcb35c6403c581ae44e0df705073232d35d653922d3d3</string>
			<key>size</key>
			<integer>70184</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/spicy-screenshot</string>
			<key>mtime</key>
			<integer>1593861932</integer>
			<key>sha256</key>
			<string>622a16376ee16b4119be443c58828cdb7996d3608cd1f4431338aed20c139457</string>
			<key>size</key>
			<integer>18992</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/spicy-stats</string>
			<key>mtime</key>
			<integer>1593861932</integer>
			<key>sha256</key>
			<string>162a6846054dd9eccc3f6ebff84dd08991a7933b785120469d64812fe4399b97</string>
			<key>size</key>
			<integer>18904</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/SpiceClientGLib-2.0.typelib</string>
			<key>mtime</key>
			<integer>1593861932</integer>
			<key>sha256</key>
			<string>eb66b0854b693894f4aa0c455bacef2d1ad825a5c8453a3cb38cc7ef0bfa4b2f</string>
			<key>size</key>
			<integer>37612</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/SpiceClientGtk-3.0.typelib</string>
			<key>mtime</key>
			<integer>1593861932</integer>
			<key>sha256</key>
			<string>7593c3fea4c7c222ca1d8ec43d627fe7bcc13208ebe7a8ed68471b675b16de04</string>
			<key>size</key>
			<integer>4024</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libspice-client-glib-2.0.so.8.6.0</string>
			<key>mtime</key>
			<integer>1593861932</integer>
			<key>sha256</key>
			<string>f905ce38e0d172a51209eb7de34fcb946113918d28bded12e1eecd409ebbfbd2</string>
			<key>size</key>
			<integer>1015056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libspice-client-gtk-3.0.so.5.0.0</string>
			<key>mtime</key>
			<integer>1593861932</integer>
			<key>sha256</key>
			<string>f5fc83237d51fd9e56745643b4bbdfad171eb897ba272f5eb138c772c22e1e17</string>
			<key>size</key>
			<integer>268376</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/spice-client.1</string>
			<key>mtime</key>
			<integer>1593861932</integer>
			<key>sha256</key>
			<string>face5bc2959277277a0f1a18762212b010959f77e9dc557df0c405cc8c4e2ed5</string>
			<key>size</key>
			<integer>12221</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/polkit-1/actions/org.spice-space.lowlevelusbaccess.policy</string>
			<key>mtime</key>
			<integer>1593861932</integer>
			<key>sha256</key>
			<string>5b4a053f4815c3f58faf9ef5d41d96e62d4931f1bf332a33cc40764ce4a0e729</string>
			<key>size</key>
			<integer>703</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libspice-client-glib-2.0.so.8</string>
			<key>mtime</key>
			<integer>1593861932</integer>
			<key>target</key>
			<string>/usr/lib/libspice-client-glib-2.0.so.8.6.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libspice-client-gtk-3.0.so.5</string>
			<key>mtime</key>
			<integer>1593861932</integer>
			<key>target</key>
			<string>/usr/lib/libspice-client-gtk-3.0.so.5.0.0</string>
		</dict>
	</array>
</dict>
</plist>
