<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/sqlcipher</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/sqlcipher</string>
			<key>mtime</key>
			<integer>1593861932</integer>
			<key>sha256</key>
			<string>be74c9a0a185ab52dd7163c4703cb259fa3323c6f8a97d61a5268399ef4f498e</string>
			<key>size</key>
			<integer>1221752</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libsqlcipher.so.0.8.6</string>
			<key>mtime</key>
			<integer>1593861932</integer>
			<key>sha256</key>
			<string>516cabc5bbebdcfe375f51c37610d00f7ad3d774c5094b3e0564385b1d668f86</string>
			<key>size</key>
			<integer>841904</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/sqlcipher/LICENSE</string>
			<key>mtime</key>
			<integer>1593861932</integer>
			<key>sha256</key>
			<string>3eee3c7964a9becc94d747bd36703d31fc86eb994680b06a61bfd4f2661eaac8</string>
			<key>size</key>
			<integer>1463</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libsqlcipher.so.0</string>
			<key>mtime</key>
			<integer>1593861932</integer>
			<key>target</key>
			<string>/usr/lib/libsqlcipher.so.0.8.6</string>
		</dict>
	</array>
</dict>
</plist>
