<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/strace</string>
			<key>mtime</key>
			<integer>1608217572</integer>
			<key>sha256</key>
			<string>235026ccc85cc7a156bf9939918c9eb17d26bb106ad8e014affba9344abb7131</string>
			<key>size</key>
			<integer>1600000</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/strace-graph</string>
			<key>mtime</key>
			<integer>1608217572</integer>
			<key>sha256</key>
			<string>2d4349d3847027a2c4fa79746a369b349c7f19babedc268d0487934fbd1241ae</string>
			<key>size</key>
			<integer>7762</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/strace-log-merge</string>
			<key>mtime</key>
			<integer>1608217572</integer>
			<key>sha256</key>
			<string>ea9258d9805800d65394865104960f805d658661a492fd964b43454f2b6ac783</string>
			<key>size</key>
			<integer>1821</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/strace-log-merge.1</string>
			<key>mtime</key>
			<integer>1608217572</integer>
			<key>sha256</key>
			<string>1519eac64cd2084920f4392021dc61ebe0f6d08304d36442432952e654829d9a</string>
			<key>size</key>
			<integer>3187</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/strace.1</string>
			<key>mtime</key>
			<integer>1608217572</integer>
			<key>sha256</key>
			<string>d723fefa6a415f6e8916d7daf661538a359f9c66927c8276de0b7a8dfc847cfb</string>
			<key>size</key>
			<integer>46520</integer>
		</dict>
	</array>
</dict>
</plist>
