<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/svnserve</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/subversion</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/svnserve/run</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>8559d8ad83cf3ffcaff8090aeeeafd402349b7bbcc26a625e4306d5b2f7dbe74</string>
			<key>size</key>
			<integer>70</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/svn</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>894054fca6773b8f437297009a1eb054ca6d2c2a9c075e024bb67b4dd02d7403</string>
			<key>size</key>
			<integer>440512</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/svnadmin</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>ae9b7483535ad5a687d37ab995c1d25592ede8ad3a46eb7154d163552d1d05d6</string>
			<key>size</key>
			<integer>137352</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/svnbench</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>a49bb3e64d5f27c6f38fa14e6c0a077dc0001c55adbfc4c8bf44b42c5d8f4655</string>
			<key>size</key>
			<integer>71816</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/svndumpfilter</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>24bc72099a66bbf406aa9bca147bf9de04768842f296d5fb2a24747e4e4ad609</string>
			<key>size</key>
			<integer>43264</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/svnfsfs</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>6fe4d70eb7bdf3338904b10e538d6de76e65c410d70d49ba0749ed9fb7926952</string>
			<key>size</key>
			<integer>43144</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/svnlook</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>0f18c50ea231517c4767f91127c63d0caa24efb9e557a8aa110060a1c76d6420</string>
			<key>size</key>
			<integer>92296</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/svnmucc</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>7393ba08ace51b459a8b7f5252922ea0f8d1a3d95b3f49e0a777c1ed5b9bac94</string>
			<key>size</key>
			<integer>30856</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/svnrdump</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>b6c26d48b769cd9b9d591c68490362bc18d8d43ffbb529cb2a84faaad9f85ae2</string>
			<key>size</key>
			<integer>55432</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/svnserve</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>8d292eaa089e3ae63a7365d1ff050bb65e0099fc53d4226e17a765462f79c2b8</string>
			<key>size</key>
			<integer>108744</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/svnsync</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>9e05df5d4a77d917407bc1734cc2f8533db215b1cb5254e49b27408100b5abd6</string>
			<key>size</key>
			<integer>67720</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/svnversion</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>9d009ef0b95891ccb15809d17eb34a912033020dfeb418b24bdd9efeab12d46e</string>
			<key>size</key>
			<integer>14472</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/subversion</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>212957c60598658f41095a0eda4402a016fc560571fb921e9b2dad109e2c395a</string>
			<key>size</key>
			<integer>49554</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/subversion/LICENSE</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>484aff0cfbb81155a10f903ed756e27e9fc65578c245a295bae295c4bb51eaad</string>
			<key>size</key>
			<integer>23617</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/subversion.mo</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>5bf9c71bfbfe230614c03ffbe51a73ad601b0e6560318f32c925fe9e3e96e0e0</string>
			<key>size</key>
			<integer>353591</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/subversion.mo</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>07d8d03bf07af497f249011c06482d727e5717e8412ceea25e6a9b84f90f47eb</string>
			<key>size</key>
			<integer>229196</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/subversion.mo</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>bbd9384ce77e694ddee02533a980fb15c04dfbe6686564381459311366aa17fa</string>
			<key>size</key>
			<integer>399800</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/subversion.mo</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>2ce60da1f1f7e68794fe1904608946b980c01fca77b9c4abc176a7ef194859cd</string>
			<key>size</key>
			<integer>182873</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/subversion.mo</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>4f67ca6d0841149adc5a85b9231a1ac12ad855d2f85efe6d846965e057a5eb16</string>
			<key>size</key>
			<integer>196537</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/subversion.mo</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>cfd272d8c93275505d7e31c7581c6fa80106dd7d9b687445808d9bfac14d165b</string>
			<key>size</key>
			<integer>236291</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/subversion.mo</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>3019be1d4e68de1bc594dfe2ef946dcd3558d50eaec7ea3f33deb69818fd63d9</string>
			<key>size</key>
			<integer>241482</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/subversion.mo</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>52b1b3dc9a74affab371c7a4ab180c81d31fbb49fa3ca072cc7d6a741d08263c</string>
			<key>size</key>
			<integer>203056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/subversion.mo</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>cd6c8d93a346afa81d9ad29c41ac6d0c619cb4ff5a2aea23c6930e3640278cf0</string>
			<key>size</key>
			<integer>160582</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/subversion.mo</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>23487d71c378bb600838bd13a8edc6132428a7df612699fa1c8b34d9f4387bda</string>
			<key>size</key>
			<integer>588025</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/subversion.mo</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>f3df490a21b0d3ffcdef2b640c29a589ebe159c9fde323ad1f1678fce914c144</string>
			<key>size</key>
			<integer>274291</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/subversion.mo</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>29ecb65a641442664ba738b5419953426b192e15463fced1c4b09ddc2436357f</string>
			<key>size</key>
			<integer>126413</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/svn.1</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>d3432f47dff03ad4dac8376c1cda3514e1fbc284f7255d17efa3721ff5a9cd3d</string>
			<key>size</key>
			<integer>1944</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/svnadmin.1</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>9fe80a09ec95ac949a9009b3757dd7ef6d08a72230f402da46492d34ad6ebeae</string>
			<key>size</key>
			<integer>1991</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/svndumpfilter.1</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>c3624383780560b2f5e2492758fe3381476d4dd399beba31aea08642835f8ae4</string>
			<key>size</key>
			<integer>1991</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/svnlook.1</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>1b14f0b2e8a0e4e8bb2c5103377eacd30a91d3d076113ff9cf615032ee39e75e</string>
			<key>size</key>
			<integer>1984</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/svnmucc.1</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>8d2c82d840568bff86d45a7caed7a7b8f3816b4e91fd428ddd8b36871c92a9da</string>
			<key>size</key>
			<integer>1942</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/svnrdump.1</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>1d96252c0ee11773ad439cb0ecbc181c32d5d7219669a057551981ca8ca84e25</string>
			<key>size</key>
			<integer>1985</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/svnsync.1</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>e03e3eb38c386ff8fa8098858801153ca55bd9eea8cd6dab9dd6d4f7704eac04</string>
			<key>size</key>
			<integer>1982</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/svnversion.1</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>88e444789914699a858e5af71e2fe5118899b92304be5aa080a810f9110a7114</string>
			<key>size</key>
			<integer>2002</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/svnserve.conf.5</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>0a28094bde20bbe91e8a5eb0408505a315271c8d574914749dda13dc947087b6</string>
			<key>size</key>
			<integer>3801</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/svnserve.8</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>sha256</key>
			<string>95417fb4e267afb2d8d5c4dcaa707812e20c28bef0818e6aa102167b41764019</string>
			<key>size</key>
			<integer>5379</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/svnserve/supervise</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>target</key>
			<string>/run/runit/supervise.svnserve</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/svn</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>target</key>
			<string>/usr/share/bash-completion/completions/subversion</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/svnadmin</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>target</key>
			<string>/usr/share/bash-completion/completions/subversion</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/svndumpfilter</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>target</key>
			<string>/usr/share/bash-completion/completions/subversion</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/svnlook</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>target</key>
			<string>/usr/share/bash-completion/completions/subversion</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/svnsync</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>target</key>
			<string>/usr/share/bash-completion/completions/subversion</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/svnversion</string>
			<key>mtime</key>
			<integer>1612986707</integer>
			<key>target</key>
			<string>/usr/share/bash-completion/completions/subversion</string>
		</dict>
	</array>
</dict>
</plist>
