<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/pam.d/sudo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>67867926062363a7f5a14c8f9fb2405a764e56b5121520a03156fa09cd14cafe</string>
			<key>size</key>
			<integer>98</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sudoers</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>6de95f7f32890d007e8eb30a2f6d9f3a24fd306067f2748028a480852e54de2d</string>
			<key>size</key>
			<integer>3128</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/pam.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/sudo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/sudo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sudo.conf</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>976a0d374aacd82b517058a46d9031a8f57aa77c57c8c9b57b9b9b1a47caf707</string>
			<key>size</key>
			<integer>3987</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sudoers.dist</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>6de95f7f32890d007e8eb30a2f6d9f3a24fd306067f2748028a480852e54de2d</string>
			<key>size</key>
			<integer>3128</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/cvtsudoers</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>2f84f8f7f51aeeb6e681a1a4f2f6c2e309ce079c8b177d9bb7ea5e3aa997b06c</string>
			<key>size</key>
			<integer>281640</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/sudo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>480768809241a8b418f230948babb9b8e1901664766d3faded7a8ef8a31e0cdd</string>
			<key>size</key>
			<integer>170376</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/sudoreplay</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>8b1edf2c175c5f3469be42baf174bbdbc44a9ecbc57c5a14fad08dc86363541d</string>
			<key>size</key>
			<integer>118224</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/visudo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>752a4b39a814cc6ce2b88c18f5fc4a200a76ff6b21bd4ee5772449a8da7905dc</string>
			<key>size</key>
			<integer>236072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/sudo/audit_json.so</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>70e522444632309469252b15cf8a60022f69706ef72b8e12ca85deba99129fe0</string>
			<key>size</key>
			<integer>22712</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/sudo/group_file.so</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>ba2cdb5eb9876774c7f5598597d15d81d4f7813852db2f245316a407c5ffe46c</string>
			<key>size</key>
			<integer>14304</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/sudo/libsudo_util.so.0.0.0</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>c20138e5a52731d6722e0015a10eeab138b886a404663ecc505c9043e37989c7</string>
			<key>size</key>
			<integer>117552</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/sudo/sample_approval.so</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>f94b5aea5b6cf75302d091746ced99bf9a771ac04ed22d37c67793a796d1c05a</string>
			<key>size</key>
			<integer>14312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/sudo/sudo_noexec.so</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>69322c707682279960a3dcd916a71ab9523b72d6edd8e75f4c88ab090c6573e1</string>
			<key>size</key>
			<integer>14240</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/sudo/sudoers.so</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>126b67e1296906e17f2f66e5b0de0f8998f7791bb360d4e752aad79891df38f6</string>
			<key>size</key>
			<integer>528872</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/sudo/system_group.so</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>71ab47e527481757aaf66e8eac680debdd4b23bf0e48da6568e75ac0d2f4f323</string>
			<key>size</key>
			<integer>14296</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/sudo/LICENSE</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>505c5955c373514e2533a24a8346f44038e29cba874f5ca83beb171a7409089f</string>
			<key>size</key>
			<integer>18428</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES/sudo.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>a97e92a9f71bb8693a47841cb97e52039602c8764f2928d8a605bff8d392f304</string>
			<key>size</key>
			<integer>19623</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES/sudoers.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>909084103a894a074c4ca8b47068eec2c1a44380a3d801cc6b1137a5ae7e0259</string>
			<key>size</key>
			<integer>34264</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/sudo.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>2ab4940f2010fe4a9c476de2b08085868adc9df9c0ad1e18f6d82c6d5c38e9c4</string>
			<key>size</key>
			<integer>20310</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/sudoers.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>ce3ade05e89698a846c1f3e2b91ed917ec45708d16ef12095ed77a16a1c791bb</string>
			<key>size</key>
			<integer>51564</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/sudo.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>171d1b2125b9c89c10a9a7a46551b67f7afdba63107793a36a8081ef71b6b4d7</string>
			<key>size</key>
			<integer>20882</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/sudoers.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>637da659b97cf745e52939f332b99a0098194026234ba667b2319b87ab1d7abb</string>
			<key>size</key>
			<integer>65656</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/sudo.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>8886d81b591c70fe517326fd55906b5f1fe575c993a8ecf8c7f25a0163883d97</string>
			<key>size</key>
			<integer>18722</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/sudoers.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>ed220e0b3608663b145c2be706b39494466ff82a348482066ca463aa4925a21e</string>
			<key>size</key>
			<integer>46504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/sudo.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>7bc012127514414859b4d3d6fed4d8cc3695354778f1d83fff8039fb77c73d62</string>
			<key>size</key>
			<integer>22386</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/sudoers.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>fe8a85c65f952e2a12a1129c88ef45c4bbf5739dee8a909bfd34e22c15baf52d</string>
			<key>size</key>
			<integer>68279</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/sudoers.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>5a5f9a8930f123d8b34d3be80f3a88e93ae371ef8b7257fb92215b0da9a8ed8a</string>
			<key>size</key>
			<integer>51009</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/sudo.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>a94b7db991d609208cd6c6a7392b19b70d436427ec6bcbf3f4ae7952da4bf050</string>
			<key>size</key>
			<integer>20452</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/sudoers.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>3428372633eb1e95cf1f29a64e5612a6bc273efcdb67f56954e500870719dbcf</string>
			<key>size</key>
			<integer>62872</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/sudo.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>1f8e3b42c2190105eca2f82a233b69fc1bd20ab728aa88fe7b5d711e797c969c</string>
			<key>size</key>
			<integer>19418</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/sudo.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>c04fc5fe5f811de2fc7a9f87a6b40c359893b875e71560b03042cca10a937719</string>
			<key>size</key>
			<integer>6771</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/sudoers.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>84f96a53aada3ea9e8394e4bed28b6e48420b92b5750e1b4e7087941f7ec4b3b</string>
			<key>size</key>
			<integer>6404</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/sudo.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>ff1ef8e98768d31c6f3385f866fe5f1c64d58814883d62a7e92a6778d85b3a68</string>
			<key>size</key>
			<integer>21496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/sudoers.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>d7a48e805f8d63235120ece40cadb6e7e9cef74e94bc7f2c8e1c9a3a1292aedd</string>
			<key>size</key>
			<integer>55765</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/sudo.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>f4ac5404050eebd4399edbc7acbf2e1fa0d0ba45ea14befa5bc10c39aecf3ecc</string>
			<key>size</key>
			<integer>22124</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/sudoers.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>27c4bb53d601da1733bec6672a1276a9b1a3b1f8d3bc7db847dc2bd5b21d9a4a</string>
			<key>size</key>
			<integer>72145</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur/LC_MESSAGES/sudo.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>4ff882aac2971c129dc8d7cd483730556798d67ddbe1e278c6f510444f50b3d8</string>
			<key>size</key>
			<integer>18335</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur/LC_MESSAGES/sudoers.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>39c3937f1074f8e8d7916a8db190010bdcb0b0450fd27bac39af43ba1e0c6ea0</string>
			<key>size</key>
			<integer>9485</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/sudo.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>d02982d6e06aead02cdef4b6f6e9172f7d42d9502dd10894d9d51dc7652e030d</string>
			<key>size</key>
			<integer>17612</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/sudo.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>b10d1fad6cfb17c0b7aed48d1ac77327ca6d773a2761e6f8cb5c261dc28435ff</string>
			<key>size</key>
			<integer>21226</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/sudoers.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>a0ada5dd5c923c60b7a264ace81ee18288d9eb6826ef739cf2a9e10d9e9ba6e8</string>
			<key>size</key>
			<integer>66396</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/sudo.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>b26324c0dd146c38762ee3346ffdefb37ea285a4db25f94a82f6343c65cac575</string>
			<key>size</key>
			<integer>20126</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/sudoers.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>23e771ccb6d163153c518b41f51c8e13b8c59b7cfe50a64b1499cabef79530e1</string>
			<key>size</key>
			<integer>26073</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/sudo.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>9552df7402db81679b09116a86edf2c5c56f10f17fd8fcc35e5e8f7432d5eb4d</string>
			<key>size</key>
			<integer>21547</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/sudoers.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>2064137e8755137281681488c342bfce3b2df3e35119e0423ebc73ac7efbb29e</string>
			<key>size</key>
			<integer>65353</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/sudo.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>c46258b97d50d2884aecb7f1256948b8e967c9660ade446c881c18c4f27a0472</string>
			<key>size</key>
			<integer>24751</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/sudoers.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>11c9e8afffa1f53a2a33219d5d54a04d0fe4b3f7c8fa767ddf52d7a16049a671</string>
			<key>size</key>
			<integer>73913</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/sudo.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>aa71c48a7ddba30f63b8b70cc0d542cb680dfac24bf8b4bd533ef3cc5f73e5cf</string>
			<key>size</key>
			<integer>22619</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/sudoers.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>f38520b4f568d408bdba90898b39955bf8e4b13cd9231aa46ba194757e9bfdb3</string>
			<key>size</key>
			<integer>67838</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/sudoers.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>8f72771c5e3e8b94dc7afbfe214d0d4cefa310a9c7cc45cc037d91730c8af1ba</string>
			<key>size</key>
			<integer>1994</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/sudo.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>3e2e7da21a0abcedb3de61db63ba68fed9621af9aabfdbd773df50c91ef69ed9</string>
			<key>size</key>
			<integer>20434</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/sudoers.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>c5ad020d164c76fa1887980f71b8e83cdc73244cdc786b4ceb7604e4b8f41909</string>
			<key>size</key>
			<integer>49008</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/sudo.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>8115809d3fe89f51af6c86dbb2ea41df195afff66680b5393ca70dd63c26c601</string>
			<key>size</key>
			<integer>17715</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/sudoers.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>e65191674b045df7d035202ce5e5104d75d2ed694ffd4b42e90e23666ed44c9c</string>
			<key>size</key>
			<integer>39096</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES/sudo.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>63f4fc09ce1292bd525fdeaae14158311fc0b6e710bf7a6aa3f4cc0186690bd5</string>
			<key>size</key>
			<integer>3017</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/sudo.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>f82ea6099caaa19ba3758901371fd163076188e3c53fdc3b1954dec005f369a8</string>
			<key>size</key>
			<integer>21416</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/sudoers.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>783330a0e50d863fa40b0aa0221721e416551620c7806096dc17595229c1c715</string>
			<key>size</key>
			<integer>66152</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/sudo.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>d80ca03f6a34ec93d3a194e4ed3403086aa710843abde7e9a07ed7c469d4ebe5</string>
			<key>size</key>
			<integer>20931</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/sudoers.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>3b07326da9f1250793a438376611fa0a7e37624d972842f492e8c1b66731452d</string>
			<key>size</key>
			<integer>64469</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/sudo.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>33765d7eae9877757640ae009f2bc7545f83affd1d6299f09842720ee0ea35e6</string>
			<key>size</key>
			<integer>21589</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/sudoers.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>876984577d2dc5ab157b5bea09fd460a9f09aa517d8235394c5ce83a4cda36cc</string>
			<key>size</key>
			<integer>66651</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/sudo.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>adafc84114432addd1cc793e26ba3542afeeb532783e6a250390b554a331f97f</string>
			<key>size</key>
			<integer>21039</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/sudoers.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>f5eecf9992802987302e49107badd9d4505b6939db035c92b192b8d3e8681b45</string>
			<key>size</key>
			<integer>64155</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/sudo.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>917516a9b94adcfba68d24f3f76a6bcc3f6c0944892367bebdc861cb410824d9</string>
			<key>size</key>
			<integer>24520</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/sudoers.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>a8308b2c58fd3e4106c8a3597c8ff907ce967958e2e63fcf2ef79cb15b1be508</string>
			<key>size</key>
			<integer>11555</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/sudo.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>303df93c9409e6885f19d6e3e3e29111c7222c5075d50c933766d771388da13c</string>
			<key>size</key>
			<integer>15495</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/sudoers.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>b4f6a020411a8b27c536cad2d51c57c7338efd1ce9065ff30c4470e6501e769d</string>
			<key>size</key>
			<integer>4927</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/sudo.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>282b2b5aca117f6ec17d9d6b3509c72def15c14208f399e864140afa5a9156f2</string>
			<key>size</key>
			<integer>16463</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/sudoers.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>07cf9c82cb7e8a288f0c35a4612f3387a8cd149f521a41aca363211548d46743</string>
			<key>size</key>
			<integer>36413</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/sudo.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>c5712541e62942ed2ea5cf001b9362671dcde33450295b36b38ef35c91eec919</string>
			<key>size</key>
			<integer>27300</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/sudoers.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>a35c87d4b7ae0133e8146f5953af9efa0eaa52709747aec43173fbb11f5870f1</string>
			<key>size</key>
			<integer>84383</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/sudo.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>8654914d9ff934a39bc711fdcea2fad638999dfe13c88d0aadcf7451382f883a</string>
			<key>size</key>
			<integer>20604</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/sudoers.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>56045c6e986c7803e664d0dcd1f5580f4e2d012b061b6aedb27c0f2d98940403</string>
			<key>size</key>
			<integer>63549</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/sudo.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>a4ca6eed3b78d3387960a0073f2562b6b68116af53c748676ddd35d12689410e</string>
			<key>size</key>
			<integer>20822</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/sudoers.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>150e06584eff3dae92c382afe7bde7c864f06a5dfd7011674be65cd5f6cd7108</string>
			<key>size</key>
			<integer>13979</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/sudo.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>a76f62ec4a1b6736f7e9c69a67b7b0e04dc1c24d28508d5c6749c54886b70d6a</string>
			<key>size</key>
			<integer>28934</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/sudoers.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>09ea11bc9b623e1c13aed63d160da4627d5545565f7b4567fc5e91e1fffbda13</string>
			<key>size</key>
			<integer>89307</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/sudo.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>aeaf9919466fddc91abbfbb7fc7e1e9ed3ecf9a7e5a4e963b5204163e9cd09b8</string>
			<key>size</key>
			<integer>22290</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/sudoers.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>1897d8f4bfdefb40226a005f061cb224a92b0f21acc1c6437965c4254a2b4900</string>
			<key>size</key>
			<integer>54696</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/sudo.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>422f075414e98b666192e5ca104a10d3e91da0ee9e18b86dc0b20dcde4c09f8d</string>
			<key>size</key>
			<integer>18947</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/sudoers.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>3baa74f9297363e9c031966f9d7e9c0aec1861f76dbd1610cf1f935dce0a4a6d</string>
			<key>size</key>
			<integer>53540</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/sudo.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>8ac81e6b185113527ec6b4453bb7de71442673d039a5b5a1fe45e634e02547a3</string>
			<key>size</key>
			<integer>20034</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/sudoers.mo</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>e81df86d07f65420bc11528f8e55b186cb5155ddc323365c1fc2c2af402d8829</string>
			<key>size</key>
			<integer>59885</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/cvtsudoers.1</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>5abe4e1593b3dce017b667a5d679e8c0cfb55d726085ced663f96fd1d95d303a</string>
			<key>size</key>
			<integer>11643</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/sudo.conf.5</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>109a2e492083607161aef5d25601160dc07e220bb38934e99e45bac8b67451b5</string>
			<key>size</key>
			<integer>21074</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/sudoers.5</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>89d44a3e213f3a1335c46e47ac409b1a37bb3fe2261eeedcf14e3ae54e6f1656</string>
			<key>size</key>
			<integer>148717</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/sudoers_timestamp.5</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>04f4540db24414ca5a0dccf945c2c5031ef23e298ac9eafd4eb00c6e3404cfc4</string>
			<key>size</key>
			<integer>9383</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/sudo.8</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>e9ff7322bd52556297c2a98c1fa0f3f5c66da33528b51b998f250421cd2740aa</string>
			<key>size</key>
			<integer>36756</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/sudo_plugin.8</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>5c540192fab0a0a65d9c08c9778c152df95533a3c84484f104b00b71291c3a31</string>
			<key>size</key>
			<integer>112286</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/sudo_sendlog.8</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>312d4cd92c0b6e13b568f164d921be75d383dd7a114dfa17076362ce0151913e</string>
			<key>size</key>
			<integer>5131</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/sudoreplay.8</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>080aa3bfbc048d7c553bb7bc724332ceac68586b574b2df2feeee9bde48b15ec</string>
			<key>size</key>
			<integer>12109</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/visudo.8</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>sha256</key>
			<string>cd5c69807f29faedb177bef529510865025f082d5f805bfe066fa37c967c6aeb</string>
			<key>size</key>
			<integer>10690</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/sudoedit</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>target</key>
			<string>/usr/bin/sudo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/sudo/libsudo_util.so</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>target</key>
			<string>/usr/libexec/sudo/libsudo_util.so.0.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/sudo/libsudo_util.so.0</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>target</key>
			<string>/usr/libexec/sudo/libsudo_util.so.0.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/sudoedit.8</string>
			<key>mtime</key>
			<integer>1611690448</integer>
			<key>target</key>
			<string>/usr/share/man/man8/sudo.8</string>
		</dict>
	</array>
</dict>
</plist>
