<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/dlist_test</string>
			<key>mtime</key>
			<integer>1543599822</integer>
			<key>sha256</key>
			<string>309c4df3f4d20bc30d1754cea5e0afc73f17fa6dcd02b424fafcc5a1fd5fa4e8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/get_device</string>
			<key>mtime</key>
			<integer>1543599822</integer>
			<key>sha256</key>
			<string>5eaa095149195ed7bccbfddb3966cb3be60a4748df4dfa8655d92c9b8432871a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/get_driver</string>
			<key>mtime</key>
			<integer>1543599822</integer>
			<key>sha256</key>
			<string>ddd6ee9b2f8535c24f1917c094868ade2177cb6988eac734e046dcd721bd7663</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/get_module</string>
			<key>mtime</key>
			<integer>1543599822</integer>
			<key>sha256</key>
			<string>79fe9bddfc316dc2aad12dc72f5fe097b1e506800382849e2eb270428418095b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/systool</string>
			<key>mtime</key>
			<integer>1543599822</integer>
			<key>sha256</key>
			<string>0c95cf3e031c91bc8d7b032435591413d4ae98fe08144867f5748944656376d8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/systool.1</string>
			<key>mtime</key>
			<integer>1543599822</integer>
			<key>sha256</key>
			<string>628d000857c00a5222abbba207725d43dec56f8571048153c86e6dd939d0b09b</string>
		</dict>
	</array>
</dict>
</plist>
