<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/testdisk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/fidentify</string>
			<key>mtime</key>
			<integer>1563017510</integer>
			<key>sha256</key>
			<string>f4285e31883d41ba7b27c993ffa3798f156f09d5f63b2533ab8ee28ac28ed885</string>
			<key>size</key>
			<integer>327368</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/photorec</string>
			<key>mtime</key>
			<integer>1563017510</integer>
			<key>sha256</key>
			<string>b7606cef69516d3c91271352e65256b4c4e41e6564cb7bc6d711f7bf446648b6</string>
			<key>size</key>
			<integer>632120</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/testdisk</string>
			<key>mtime</key>
			<integer>1563017510</integer>
			<key>sha256</key>
			<string>140549bd60eca1af5452688f5d16e270909aec5fdaa1a1224ec003ef329d06fd</string>
			<key>size</key>
			<integer>409456</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/testdisk/AUTHORS</string>
			<key>mtime</key>
			<integer>1563017510</integer>
			<key>sha256</key>
			<string>8f5579dd67de44c5fe85eca3e4426bcbd1a303a8268e00523bdede9abe849108</string>
			<key>size</key>
			<integer>216</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/testdisk/ChangeLog</string>
			<key>mtime</key>
			<integer>1563017510</integer>
			<key>sha256</key>
			<string>a111be6d0287f6df550d67c35fcd733f67e7fed66e9713a676a7bbb032f73d1c</string>
			<key>size</key>
			<integer>232308</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/testdisk/NEWS</string>
			<key>mtime</key>
			<integer>1563017510</integer>
			<key>sha256</key>
			<string>2b16cb42d75bbbae1118cfc9f09cdc97363ef63381d122dc299f92e6bb3b30fe</string>
			<key>size</key>
			<integer>19633</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/testdisk/README.md</string>
			<key>mtime</key>
			<integer>1563017510</integer>
			<key>sha256</key>
			<string>bead621eb0e6ca9626a91a4f1249e979c7e7414c8f80a3baab0cd201fa6c22a1</string>
			<key>size</key>
			<integer>2053</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/testdisk/THANKS</string>
			<key>mtime</key>
			<integer>1563017510</integer>
			<key>sha256</key>
			<string>a513a848f005abf3c9773ff5f6997c4f7cd41b08e1cc648744d90aa6830a3696</string>
			<key>size</key>
			<integer>344</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/testdisk/documentation.html</string>
			<key>mtime</key>
			<integer>1563017510</integer>
			<key>sha256</key>
			<string>7dfdf954fd87e01ea09dc2e929ac66a8d7d7df9948a0a17040783a89fc9ea876</string>
			<key>size</key>
			<integer>504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/fidentify.8</string>
			<key>mtime</key>
			<integer>1563017510</integer>
			<key>sha256</key>
			<string>f2c1dceded95d08ec173e31eaea55c387969363762b04fa74778fc7495423276</string>
			<key>size</key>
			<integer>897</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/photorec.8</string>
			<key>mtime</key>
			<integer>1563017510</integer>
			<key>sha256</key>
			<string>f2f12c898fc90dd70a9f61244c6a10baf4fdef22c932f398c1c7bf07cdf56168</string>
			<key>size</key>
			<integer>1164</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/testdisk.8</string>
			<key>mtime</key>
			<integer>1563017510</integer>
			<key>sha256</key>
			<string>7c0ff29fba634f6bcfde5d1e0b679ea66c581073971f4ec0b7ecb640c95b0d0a</string>
			<key>size</key>
			<integer>1749</integer>
		</dict>
	</array>
</dict>
</plist>
