<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/opt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/texmf-dist</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/texmf-dist/scripts</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/texmf-dist/scripts/texlive</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/texmf-dist/web2c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/TeXLive</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/gpg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/installer</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/tltcl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/translations</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/texlive2020-bin</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/LICENSE.CTAN</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>380d83c62ec2ae91617b42739699676f23446039f2f88fa092da47e0c49f1eae</string>
			<key>size</key>
			<integer>2098</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/LICENSE.TL</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>e8f070b2d1a9bad00af9d6cb94e687f2120591d092c8dab8727249b70adc96d0</string>
			<key>size</key>
			<integer>5267</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/install-tl</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>21e24b3ef3ae6af71f447552b1127f6256bbab957ce511593816c277312ca4b5</string>
			<key>size</key>
			<integer>107773</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/release-texlive.txt</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>cc4cf530801e0128a534f39f92a11cc2a3de63ea624d0120e5db9efa30c89267</string>
			<key>size</key>
			<integer>350</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/texmf-dist/scripts/texlive/mktexlsr</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>010103f2539fbe2cdd6f0fe26dc34fd81773b4e501f4a8930b2d53aa13f64455</string>
			<key>size</key>
			<integer>8209</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/texmf-dist/scripts/texlive/tl-errmess.vbs</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>dcb24280cf0bdbe44511c959f481b173eb793172e4c56b2428176c4ff45126c0</string>
			<key>size</key>
			<integer>177</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/texmf-dist/scripts/texlive/tlmgr.pl</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>699c297b649c00cd637622b7d74a04855c970e6c7e05b3f07b46a194912b9ea3</string>
			<key>size</key>
			<integer>339603</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/texmf-dist/scripts/texlive/tlmgrgui.pl</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>7bab1c76db66ee832ee6d62306895a020ec4fc79244d28a0e087f9344bf93aca</string>
			<key>size</key>
			<integer>91555</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/texmf-dist/scripts/texlive/uninstall-win32.pl</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>d7326ffc519f48fe2d4079fc8e96e828049545be869d4807234b67d3e6e829d8</string>
			<key>size</key>
			<integer>2272</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/texmf-dist/scripts/texlive/uninstq.vbs</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>d9f047c7c5dec2138229a3f24d7ad54f275b1630634693eb7be194a38ed9da41</string>
			<key>size</key>
			<integer>408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/texmf-dist/web2c/fmtutil-hdr.cnf</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>06e496be117e8e7ce6a3b5d06ec6b59428122f8081fde94bdd79bff8974ae115</string>
			<key>size</key>
			<integer>1766</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/texmf-dist/web2c/updmap-hdr.cfg</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>cf0b8ed0b1659831eb8855645797af7434fb667449b569b6faa2b17b5b75db91</string>
			<key>size</key>
			<integer>3511</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/TeXLive/TLConfFile.pm</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>f0b5ba439dcd8e7959fcd0c22564495d8b56392b1bf76a425c841a1a3ef47db9</string>
			<key>size</key>
			<integer>21326</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/TeXLive/TLConfig.pm</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>87570f9649801c3041fa742d020b3a5d1bd0c2a2d3c0900ecdf7de7194a51c03</string>
			<key>size</key>
			<integer>11359</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/TeXLive/TLCrypto.pm</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>ed908fb59610633832696de5e3493079835cef6bb1e16d90e28f45479faf92d4</string>
			<key>size</key>
			<integer>20330</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/TeXLive/TLDownload.pm</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>a0687342cf859b39755dc2e71de456ba6bf962bc20a57c37bb3ae73b3c206b83</string>
			<key>size</key>
			<integer>4789</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/TeXLive/TLPDB.pm</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>2c750b58bcaffe5ce670c17acd4ffd612d15a74657204df379543e57e99c7613</string>
			<key>size</key>
			<integer>86396</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/TeXLive/TLPOBJ.pm</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>8f05b80e2bfad6da8a31422fd694ab9b303bc000cb1017aa97a7d929d9708408</string>
			<key>size</key>
			<integer>58727</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/TeXLive/TLPSRC.pm</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>0d7b545b2982af7613d1c045cd1b08c9aacba9ddc55d2be65f50e83fde22fa88</string>
			<key>size</key>
			<integer>41736</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/TeXLive/TLPaper.pm</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>2b0e779ee14eebf60be30fead8c6e95322bc163d1945e945b1d9dcf7e3604379</string>
			<key>size</key>
			<integer>27560</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/TeXLive/TLTREE.pm</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>65ef832c0c1d07a6a31ac45834ec29e0374755b4b7bcce8831aef6b967ad6927</string>
			<key>size</key>
			<integer>14970</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/TeXLive/TLUtils.pm</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>b4dcba6bfbab92511b4ea3f731cbfbc68ace1a4c39e637b5ae9a45da1a62b4c0</string>
			<key>size</key>
			<integer>139972</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/TeXLive/TLWinGoo.pm</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>568f2b48c7269da3048a4285d3cdb58dac552e0634fb8563b879f0356bc4e84f</string>
			<key>size</key>
			<integer>38987</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/TeXLive/TeXCatalogue.pm</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>59d721477bdd4b965e6ea627d044b2634711a105f316a167c4cabee97358e325</string>
			<key>size</key>
			<integer>10978</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/TeXLive/trans.pl</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>686460bfab3573f6a74359ead4e22c97a9bf50851579b54bf5d1387e555c8c5e</string>
			<key>size</key>
			<integer>5910</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/gpg/pubring.gpg</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>d4b40986c9bb10210addd753cf6d6dd8e55181a5b887bb70eabb73044fc89fa7</string>
			<key>size</key>
			<integer>5961</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/gpg/random_seed</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>441e87f0f82078f7f5f2921f8ddb301e30c2e0b7214b8258bfd987b29369056b</string>
			<key>size</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/gpg/secring.gpg</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/gpg/tl-key-extension.txt</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>97521f43593aadc0f492866a494df7ccb7ff5575c2f3c75b7b9d02979d30ac1a</string>
			<key>size</key>
			<integer>1071</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/gpg/trustdb.gpg</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>857fb92ed0d51c1accf84c4028410fa16ebe32b75b1cdff093da4790724a3055</string>
			<key>size</key>
			<integer>1280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/installer/COPYING.MinGW-runtime.txt</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>e4c894a028db28c6ccfde8216d63344e97a5276d85233131f828d1595e04df37</string>
			<key>size</key>
			<integer>11651</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/installer/DirSelect.pm</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>02c6853c6fa7c575f697c71531e9b97a2dfd354ac1cbcc3ecbbd8d9b52e698fc</string>
			<key>size</key>
			<integer>13647</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/installer/config.guess</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>5b075cf337b7f5ae0fee6882f46d94dd7fa4045b24ca9d71ba0169f979f868ad</string>
			<key>size</key>
			<integer>44166</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/installer/ctan-mirrors.pl</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>33beae4595589e3a1aeb48000fb17035cab198290955c25cb3bbdfe01e34ea2d</string>
			<key>size</key>
			<integer>5999</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/installer/install-menu-extl.pl</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>e182125f6242f42ef3ddc45bf4a896c41f37d4eda44859f38378bf506d76476f</string>
			<key>size</key>
			<integer>5628</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/installer/install-menu-perltk.pl</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>efefbf567ee4a890b878b25fb5343a1a13ac6bc6f916d162eb21e386419075a8</string>
			<key>size</key>
			<integer>43304</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/installer/install-menu-text.pl</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>1cd235437f6a2a5deb3a346642cad293ef162f33902d5987751a6a64ca06ed92</string>
			<key>size</key>
			<integer>33253</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/installer/install-menu-wizard.pl</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>058d302c06f32d748a9d9370d921ed9ceb0f2de1ea712d0b286120e3452c9cc8</string>
			<key>size</key>
			<integer>19281</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/installer/install-tl-gui.tcl</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>145ca1480746f326e8d9a013004aeac3b79ac4bbd6bfd1242c6abd8fadc0cc44</string>
			<key>size</key>
			<integer>65046</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/installer/installer-options.txt</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>0e4f8760841215d31d5b95a82728e8782ca83b9d7440ede944f5966ec4293364</string>
			<key>size</key>
			<integer>2629</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/installer/texdirsel.pl</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>e32d70de6a6a49840c3371cc844d883e3adc36e943a3fa18cbdd9099c1efebcd</string>
			<key>size</key>
			<integer>7927</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/installer/texlion.gif</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>e9bab86d2258fca2708100887e21b6dd7b7deb5db88f03a2ebabc579400d7ed7</string>
			<key>size</key>
			<integer>26224</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/installer/texlive.png</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>977508a5cd3d6f5ac10b3d4698929f61c8b53adf6eec659d7468ee333e0d2d14</string>
			<key>size</key>
			<integer>15441</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/installer/tl-cmd.bat</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>3ec1e99027bafb76a59f4f233f02b3ee4cb68f52e95c6446445acfdde0f69085</string>
			<key>size</key>
			<integer>423</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/installer/tl-tray-menu.ini</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>f19432137c271b128d3f22f7ebdc457610b718b0ce560488970b8b1b746ebc4f</string>
			<key>size</key>
			<integer>1435</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/installer/tracked-install.pl</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>7af0038f7a5c79953053bad66387f90bb7da836b607b61bf2adfd9eeee8a1d12</string>
			<key>size</key>
			<integer>3604</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/tltcl/tlmgr.gif</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>a4128023a52ced0228e52fc949685a2f512bef07c2fe967c931ba52daf6de6c1</string>
			<key>size</key>
			<integer>1310</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/tltcl/tltcl.tcl</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>87eb09378c8487600451b180220750f6056f6e7ee32cec01fc6d2887405bb79e</string>
			<key>size</key>
			<integer>20353</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/translations/README</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>e0c6302cff44114ee8440a644edf4818590a12e1bead7bb4dc9fc947b8299496</string>
			<key>size</key>
			<integer>430</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/translations/cs.po</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>017f7ebf013c1d33d88a61785aa6afa7195b63d88d7952d0689eb3c5649de7af</string>
			<key>size</key>
			<integer>86642</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/translations/de.po</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>978252f8b24f7c75c45115f0c5fd8a3c52d3cc153643fb1d56bd33e3d8d2793f</string>
			<key>size</key>
			<integer>95167</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/translations/es.po</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>0b58e42f881d94d93a6292edd0c7f30ffa58db7df70ecf750db240bf06c27c13</string>
			<key>size</key>
			<integer>85674</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/translations/fr.po</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>5d8d5b95774d0aae55692ff2a935c6373894c2b393ea2cf1c52b0d9c55b2c166</string>
			<key>size</key>
			<integer>99509</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/translations/it.po</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>ce146beda82946df04607c502860186af1a8fef3f257f7bfe558e74774bf7070</string>
			<key>size</key>
			<integer>92767</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/translations/ja.po</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>d3230b53631817b2546b3734dd26893f846ccb8748aeda563a4cb60191dfa9ee</string>
			<key>size</key>
			<integer>77329</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/translations/messages.pot</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>190373c86aa12386c11fff30b8e6e8ef691ca9d8c445ae3d63742879d0853f8f</string>
			<key>size</key>
			<integer>58343</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/translations/nl.po</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>79e253c79d11c147a2286f17aac20c636baef9bc923d728fea6fe9510a3ecbc9</string>
			<key>size</key>
			<integer>74395</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/translations/pl.po</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>b07079856f014bc130948e038bdefd51d927376d1e896850278eaf0e0b2c93ab</string>
			<key>size</key>
			<integer>72567</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/translations/pt_BR.po</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>6df8b2af7afc5a945dfdf50f256a16ea96e0f89c2b40cf8877f8c4bdd9a54b93</string>
			<key>size</key>
			<integer>88051</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/translations/ru.po</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>08c5af49c0dfa9a090418af932970bdd78a8e323065a4f289e8089c40da7b095</string>
			<key>size</key>
			<integer>112204</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/translations/sk.po</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>39b79ddcaf5253c4b7621ba3ea7042e9050480cef45648f5cbea9d4c30f20c04</string>
			<key>size</key>
			<integer>93838</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/translations/sl.po</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>408be8794ab296c49c83055018a52a7ad3cf75e1541c60a8fc320d742321eb7e</string>
			<key>size</key>
			<integer>74973</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/translations/sr.po</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>a6d0cb362269cd2696f6ac573ca75864af9edfabcbf70bd30417cfbf2bbe4d37</string>
			<key>size</key>
			<integer>109592</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/translations/translators</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>d79b69dd7632e14491ab1468e6db7a66b1a5cdea8516fd6900a2650a4d2e25c9</string>
			<key>size</key>
			<integer>847</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/translations/uk.po</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>c5f5a8d362dedf6f30819baa09b3a4cd76bfd6713a84295527e0e6494f30a213</string>
			<key>size</key>
			<integer>86709</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/translations/vi.po</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>3b79332babb446867048680c87b5915df7f14d69219508e576d3a41117a7f436</string>
			<key>size</key>
			<integer>95895</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/translations/zh_CN.po</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>da6df983dab13a628da825c380189798faf801e1098bcc4dcc3121fe837db689</string>
			<key>size</key>
			<integer>72459</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/tlpkg/translations/zh_TW.po</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>5fce1d3b791229b999ae78254541609d93992c857d8db8f610b9971366cd0640</string>
			<key>size</key>
			<integer>63018</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/opt/texlive2020-installer/void.profile</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>077398e55dc3d126c50f775592f9170f6b4afa2ef283ca427eddde61665e23d3</string>
			<key>size</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/texlive2020-bin/LICENSE.CTAN</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>380d83c62ec2ae91617b42739699676f23446039f2f88fa092da47e0c49f1eae</string>
			<key>size</key>
			<integer>2098</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/texlive2020-bin/LICENSE.TL</string>
			<key>mtime</key>
			<integer>1594837676</integer>
			<key>sha256</key>
			<string>e8f070b2d1a9bad00af9d6cb94e687f2120591d092c8dab8727249b70adc96d0</string>
			<key>size</key>
			<integer>5267</integer>
		</dict>
	</array>
</dict>
</plist>
