<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/chrome</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/chrome/icons</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/chrome/icons/default</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/defaults</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/defaults/messenger</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/defaults/pref</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/defaults/preferences</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/features</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/fonts</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/gtk2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/isp</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/22x22</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/22x22/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/256x256</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/256x256/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/apps</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/application.ini</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>224838f5cb09b59b893e19c3e4c67a968ebd5d1356b50123e87dd2f08127a251</string>
			<key>size</key>
			<integer>424</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/chrome/icons/default/calendar-alarm-dialog.png</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>c72e98df0aa973379e1c367dcf6f5b7ad207a538974d8dc418d05f4181c59c87</string>
			<key>size</key>
			<integer>560</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/chrome/icons/default/calendar-event-dialog.png</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>314ed8058fa0c25f124b9925630cf3d286929c80b34ed326523a98e15567de21</string>
			<key>size</key>
			<integer>520</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/chrome/icons/default/calendar-event-summary-dialog.png</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>419f8c9892f67ee0c1a4721320f7101afeaf2dd79766196b6b94bf2560a136dd</string>
			<key>size</key>
			<integer>503</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/chrome/icons/default/calendar-task-dialog.png</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>5b48c2ed944c9f27ccb638a6fef8d40b7d712ebc8fdee95d7fa9f0f6d0b197e0</string>
			<key>size</key>
			<integer>557</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/chrome/icons/default/calendar-task-summary-dialog.png</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>bf7a22c3a7cecadf58059c40791555271ced72b298424917e29217947702376b</string>
			<key>size</key>
			<integer>554</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/chrome/icons/default/default128.png</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>5ae0a020a8ce38c59840910bde659983cba7ad61e8263f28068601877b3e671a</string>
			<key>size</key>
			<integer>11019</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/chrome/icons/default/default16.png</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>eb8734f05b9722a1cc7cbf8842e2f2a6cdf1abe3bf71194d06b4ee37ab870f01</string>
			<key>size</key>
			<integer>841</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/chrome/icons/default/default22.png</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>e7dcc05768e8e83ac6f91889f903d2219deb1d20c53bc6855de9eaad2ed538ee</string>
			<key>size</key>
			<integer>1198</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/chrome/icons/default/default24.png</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>1776d49b04938c199f02e014adbd87fe422b97415a843393f3865f63b5ef6561</string>
			<key>size</key>
			<integer>1370</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/chrome/icons/default/default256.png</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>358cd035de7df089490e17938361748856791ba1a5cc85b3a6c70874d7aa8d14</string>
			<key>size</key>
			<integer>23124</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/chrome/icons/default/default32.png</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>bd142cbddfd3a9611b1568a5735e2d1bb8ff9d65d63b0ac1e09263fd32aeceec</string>
			<key>size</key>
			<integer>2138</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/chrome/icons/default/default48.png</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>fa4433e9df1b560475197ccd3107e5ad6681153d201e2824de80e208b5ad2962</string>
			<key>size</key>
			<integer>3433</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/chrome/icons/default/default64.png</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>77043e0d04348b89223311205e5fc84c0bd2c39ca7449bf41089eded5ac14813</string>
			<key>size</key>
			<integer>4914</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/defaults/messenger/mailViews.dat</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>3b938b5f0466e454f60245286ebc78237cb050af69eb0ca43421f8b8264573e1</string>
			<key>size</key>
			<integer>477</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/defaults/pref/channel-prefs.js</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>f89cdb0e43dc6a79021b99f6faf623c768ade1418a7647fe83e4320ed21e9a30</string>
			<key>size</key>
			<integer>245</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/defaults/preferences/vendor.js</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>9a3c043cd3773d4a6d5afce27404e3fe978214adb7e5f5974a45540274242fce</string>
			<key>size</key>
			<integer>321</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/dependentlibs.list</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>e0e42ff3404179d87a09a48ca64fd3353af9ec375cd4255acbf5b4225ead8e61</string>
			<key>size</key>
			<integer>117</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/features/wetransfer@extensions.thunderbird.net.xpi</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>91d1d62ea1fce4193d3788c75368b4c40936add958f69c4cdb0e46bccc7bf7d8</string>
			<key>size</key>
			<integer>42685</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/fonts/TwemojiMozilla.ttf</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>860b69e096e5805015cf5b5d64e4ece06c5b987dc05da1f97835c79d9cc79b10</string>
			<key>size</key>
			<integer>1324332</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/gtk2/libmozgtk.so</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>25537d91beaca9249687d28d81b4c4b48386d226fa749f30f0211d02639126a1</string>
			<key>size</key>
			<integer>18040</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/isp/Bogofilter.sfd</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>77b87415f0203270cda81ea8d65fe8a2c0fd17e6c2f8ddbdfac6c1ff06045984</string>
			<key>size</key>
			<integer>352</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/isp/DSPAM.sfd</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>4e451da538b546d2dcfc10733146ae4146b642b4032eb95bb8981b25ee0aa787</string>
			<key>size</key>
			<integer>287</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/isp/POPFile.sfd</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>6998ff81663dae5c04a0d4ff8405d3147173413c4ea3cf2b3dc7e64c2be178f9</string>
			<key>size</key>
			<integer>353</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/isp/SpamAssassin.sfd</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>9c1b5f8e46a9075bf72ba5118eaf8c1951eb7fcd5ea87dbbe2f9851a52fee11e</string>
			<key>size</key>
			<integer>365</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/isp/SpamPal.sfd</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>7c6428ec5dc902248af764d91a14d19de1853aaba33a57351bbdee888942a7b5</string>
			<key>size</key>
			<integer>277</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/libldap60.so</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>84af7343769409c3e3f755537b4d1fad6222e14556fe972ef7457153d3dc9527</string>
			<key>size</key>
			<integer>223552</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/libldif60.so</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>8499b6fbea9f72645db4a500784168ab6cfcd5fcf60cab7a020855d6bee43852</string>
			<key>size</key>
			<integer>14240</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/liblgpllibs.so</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>4651ce2af2b45347e716c8a694060c36ba492b29069a80baffaec2598dc2829a</string>
			<key>size</key>
			<integer>42992</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/libmozgtk.so</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>e99df63c763a1b6622fc7667756afb347837a134de648ee029239bca5ac776c2</string>
			<key>size</key>
			<integer>13944</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/libmozsandbox.so</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>75a170a6d439f4eda39c65d822a1b9ac879f8d11fda05b535a721ca3e7af7003</string>
			<key>size</key>
			<integer>141416</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/libmozsqlite3.so</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>cfd709c2db77a1fd6abfeaa53c6e5ad08e2929fb719ac462438da5ad29b20c31</string>
			<key>size</key>
			<integer>1002328</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/libmozwayland.so</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>7a87a4cb1dcb5f6c0c74fce306b13e75b12bf9a6f34b1b5170cdc9f3aa0508f4</string>
			<key>size</key>
			<integer>18120</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/libprldap60.so</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>7f5507ade73fcd8817fc80ce1afa2423c95d9f320f983358f49b7d882dc21b71</string>
			<key>size</key>
			<integer>30632</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/librnp.so</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>8a16296b7e78b705b900c011a671eea11cb9ca0fd0c3d848d3d47aa06456d22b</string>
			<key>size</key>
			<integer>2723720</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/libxul.so</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>d0c1f177d1a4dd12868a3f5a5fb65fa546c1f629b1597afa39b3b3c171310b9e</string>
			<key>size</key>
			<integer>120107848</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/omni.ja</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>2becaefdde26311abb5abe825fd9a41ff298edbd430a4e6ef3b6e13d2d199fd3</string>
			<key>size</key>
			<integer>64145988</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/pingsender</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>0742b6de294181f65cf034c52fe2a4c26525b0381de454dabc8872f76d9eb6cd</string>
			<key>size</key>
			<integer>641632</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/platform.ini</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>11e63789bf771bc4c721e331559480111efb7ca9768c2a357556f9f097b5259a</string>
			<key>size</key>
			<integer>103</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/plugin-container</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>6a8dd1cae99a8397d76636639a4ba17a01e7ce719eea01d596e395e49ba9d228</string>
			<key>size</key>
			<integer>625224</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/removed-files</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>9c928f3eb41faa3465a2a672af976432f7b0e65aff527c1747a346b5a514f572</string>
			<key>size</key>
			<integer>171</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/thunderbird</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>e9d5a63bc53d8ba89d9bd923e780cd6ee7ec077abe4d4498b90302b44c6edc20</string>
			<key>size</key>
			<integer>637504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/thunderbird.desktop</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>2a41b3b75edc6ae6496d8a47acfd327a419461f1de4aef3b0d967ccd6d9cb145</string>
			<key>size</key>
			<integer>2818</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps/thunderbird.png</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>5ae0a020a8ce38c59840910bde659983cba7ad61e8263f28068601877b3e671a</string>
			<key>size</key>
			<integer>11019</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/apps/thunderbird.png</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>eb8734f05b9722a1cc7cbf8842e2f2a6cdf1abe3bf71194d06b4ee37ab870f01</string>
			<key>size</key>
			<integer>841</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/22x22/apps/thunderbird.png</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>e7dcc05768e8e83ac6f91889f903d2219deb1d20c53bc6855de9eaad2ed538ee</string>
			<key>size</key>
			<integer>1198</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/apps/thunderbird.png</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>1776d49b04938c199f02e014adbd87fe422b97415a843393f3865f63b5ef6561</string>
			<key>size</key>
			<integer>1370</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/256x256/apps/thunderbird.png</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>358cd035de7df089490e17938361748856791ba1a5cc85b3a6c70874d7aa8d14</string>
			<key>size</key>
			<integer>23124</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps/thunderbird.png</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>bd142cbddfd3a9611b1568a5735e2d1bb8ff9d65d63b0ac1e09263fd32aeceec</string>
			<key>size</key>
			<integer>2138</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/apps/thunderbird.png</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>sha256</key>
			<string>fa4433e9df1b560475197ccd3107e5ad6681153d201e2824de80e208b5ad2962</string>
			<key>size</key>
			<integer>3433</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/thunderbird</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>target</key>
			<string>/usr/lib/thunderbird/thunderbird</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/dictionaries</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>target</key>
			<string>/usr/share/hunspell</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/hyphenation</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>target</key>
			<string>/usr/share/hyphen</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/thunderbird/thunderbird-bin</string>
			<key>mtime</key>
			<integer>1613000985</integer>
			<key>target</key>
			<string>/usr/lib/thunderbird/thunderbird</string>
		</dict>
	</array>
</dict>
</plist>
