<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/tidy5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/tidy</string>
			<key>mtime</key>
			<integer>1562857087</integer>
			<key>sha256</key>
			<string>4aeee78913069fec2732e172ae1cde102d4d29613fabaefee94c0c85d2a795e3</string>
			<key>size</key>
			<integer>47248</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/tidy5/LICENSE</string>
			<key>mtime</key>
			<integer>1562857087</integer>
			<key>sha256</key>
			<string>e7d0be075bc6f0426e382ae715b0f9d45b16e8bf01e216ee29d14184c3ce4643</string>
			<key>size</key>
			<integer>2039</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/tidy.1</string>
			<key>mtime</key>
			<integer>1562857087</integer>
			<key>sha256</key>
			<string>099eeedfe0e3582a214928cf4dde96127d4ffcf1d5112edf40e7d8ccd9c60fd4</string>
			<key>size</key>
			<integer>46454</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/tidy5</string>
			<key>mtime</key>
			<integer>1562857087</integer>
			<key>target</key>
			<string>/usr/bin/tidy</string>
		</dict>
	</array>
</dict>
</plist>
