<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/tiff</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/fax2ps</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>05c584fbd73f7a7817babf710adc08a2daed8f61cac116c3fee52d772937b1e5</string>
			<key>size</key>
			<integer>26872</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/fax2tiff</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>d7aaa8086d7465eda2a9f713943c1edbb2a379e8fc630507230ea160cddfdee4</string>
			<key>size</key>
			<integer>22880</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/pal2rgb</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>472404c097e648003a69ebfe0a15f92baa8ca673c8d2e343389ab416cfabb79f</string>
			<key>size</key>
			<integer>14904</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ppm2tiff</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>8e6ac802c1962892dcb099ab3143fd9b5d17b0445a55a38f875963103cf63b95</string>
			<key>size</key>
			<integer>18680</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/raw2tiff</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>3e78582a8edc9b36bdb9bb82ee57c54d983fb14d66cbeeadb61bde7345dffa8b</string>
			<key>size</key>
			<integer>26776</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/tiff2bw</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>dff450b73697b936edf39bb29d78f1ef4a721c2c7ca94d918eb501c3577036a4</string>
			<key>size</key>
			<integer>18952</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/tiff2pdf</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>835bddf589a5b865445c1d65a60561b4aaa2a97417c6a1e494ab6ba5b7231c55</string>
			<key>size</key>
			<integer>76576</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/tiff2ps</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>f2a2f38c6820ab8500ec374b759afd89edfac7cbeb453320dc33960a413f581d</string>
			<key>size</key>
			<integer>56928</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/tiff2rgba</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>9955e58a835e0acd7361443382d5f2e57589259f5ef4a3a7626ea34cf4a65d53</string>
			<key>size</key>
			<integer>18592</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/tiffcmp</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>97e0d096d08c8c33ada2727adc7a6e34451bdd564848f140b40ee8280345c640</string>
			<key>size</key>
			<integer>18592</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/tiffcp</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>e3648e3fb7be01debfa8f35e8010ea92ba399df22495f8f97f9dca9fe96b08d7</string>
			<key>size</key>
			<integer>43472</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/tiffcrop</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>de7ba6d0dbcf66f5cbffcdde9646aed2c28bbf896ff5e87c1fe0a1bc69171edb</string>
			<key>size</key>
			<integer>109016</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/tiffdither</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>ed532a2ba63e9744641fb5052623e43de928c0d72c4e373be187a8ee7bed6b23</string>
			<key>size</key>
			<integer>14488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/tiffdump</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>2bfd2492375a5e39a76d64e2c6a1bf0cbf77d8f3ac2a7e185556d7cfcc9812b0</string>
			<key>size</key>
			<integer>26888</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/tiffinfo</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>bad4c5c5b4e4de0dfc243b6a034d305398f6acdea440c58b6b5a85f624bcfe7b</string>
			<key>size</key>
			<integer>22680</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/tiffmedian</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>8240a022d0d5e8ca0f7226e11a5260422f06feb941cee157fdb5136af2dce544</string>
			<key>size</key>
			<integer>22728</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/tiffset</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>7a1b1fd8772c801f835f006211f507693eee0c559c0db4241d27d570cce5b812</string>
			<key>size</key>
			<integer>18576</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/tiffsplit</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>cb191ff434fce3eed478aeeae26ac50de3c90d9e462c24db07cb11244b775a89</string>
			<key>size</key>
			<integer>18504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libtiff.so.5.6.0</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>07e327d1ee432b24348762ccf197ad3d390aff7f1a8a8c179d3cc78b4e584e45</string>
			<key>size</key>
			<integer>528400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libtiffxx.so.5.6.0</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>2adc9f1bff107e1904a352582ef54014897535bed2a3a743aff0694f43cee66c</string>
			<key>size</key>
			<integer>14240</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/tiff/COPYRIGHT</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>fbd6fed7938541d2c809c0826225fc85e551fdbfa8732b10f0c87e0847acafd7</string>
			<key>size</key>
			<integer>1146</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/fax2ps.1</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>4ccf5e694297eea1faaf30b429a2890a41937230e26d7f3fe6a7189453c46c71</string>
			<key>size</key>
			<integer>4676</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/fax2tiff.1</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>90dd52212632b6e6561c167eedc15f368b82162e65535911ded9d7134c274f11</string>
			<key>size</key>
			<integer>7906</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/pal2rgb.1</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>8947a360e1bf17826efd30fea519882ad2e79f6f778997d21d0386b1d5687c54</string>
			<key>size</key>
			<integer>3255</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ppm2tiff.1</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>3909c5e74749cee2d6d05375952d2592209c33cd38680466e38d0011a8e65a27</string>
			<key>size</key>
			<integer>2913</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/raw2tiff.1</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>4300580c2c89d29ec1d15edf5623c5463ff20b7e773a8fc125bbc77526e9678c</string>
			<key>size</key>
			<integer>5385</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/tiff2bw.1</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>efb5c2d45c0098dd950ec6efa9c073e2a9288e204f28ba8f61f0e19d006307cc</string>
			<key>size</key>
			<integer>2754</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/tiff2pdf.1</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>ef0b6781d24f06f75671e0651cffc17d3d341210622eb9b339af777fc1d5c34c</string>
			<key>size</key>
			<integer>7141</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/tiff2ps.1</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>a2e36eca602e61808ceb79b7551f84f05136dcf6e2844f8bf77d0ad852dcbae3</string>
			<key>size</key>
			<integer>7726</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/tiff2rgba.1</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>fbf28dd061a201651c71c71f6bd31c4184b6fcbb5d49c220f299d7f8753dc5d4</string>
			<key>size</key>
			<integer>3559</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/tiffcmp.1</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>61ea0a7b68a2e47bd92e8c803abb55dfcc16c34aa2efe4575edb14b0fdbf379c</string>
			<key>size</key>
			<integer>2783</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/tiffcp.1</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>3c6950012bbf9464616eeae8148b616a0414590d21da0d5069b4e49c38610013</string>
			<key>size</key>
			<integer>9359</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/tiffcrop.1</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>6244c57d1677b8bdcbf97db5963a9b5e10013de03acf1fdd1336c7e120752a51</string>
			<key>size</key>
			<integer>22741</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/tiffdither.1</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>cf1dc3bcfdc82b59dbda25bc093c0e6c1ff57052674038f3f9b126ec6d92fcfb</string>
			<key>size</key>
			<integer>3847</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/tiffdump.1</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>df2cdf8feb6ac8005d635b5452920e63ef4491a13322b86c99af0e18517a83fc</string>
			<key>size</key>
			<integer>2798</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/tiffgt.1</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>2a8f234eca81bcff6e2e29c947419fd7ae629515a8aa169eb8d210139c9ce5f3</string>
			<key>size</key>
			<integer>6631</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/tiffinfo.1</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>33f26dce5fbe1fd479f6b5fe35acab4b44285393d179b343daa8231f1300c7ca</string>
			<key>size</key>
			<integer>2666</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/tiffmedian.1</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>e804a48ba273b9e533475c622ae3766b0534fe0fe42f27b090fdbaa3fa6e262b</string>
			<key>size</key>
			<integer>3327</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/tiffset.1</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>a482cc106d5bca962fdd45ca92ca6978c55f5c0ce344c830a53d98f5419b9630</string>
			<key>size</key>
			<integer>2754</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/tiffsplit.1</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>sha256</key>
			<string>75a384d2e04f0e7b47e4e3e1043242ac0fdbbaec59183b2b5156d376f9b698f9</string>
			<key>size</key>
			<integer>2108</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libtiff.so.5</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>target</key>
			<string>/usr/lib/libtiff.so.5.6.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libtiffxx.so.5</string>
			<key>mtime</key>
			<integer>1608472941</integer>
			<key>target</key>
			<string>/usr/lib/libtiffxx.so.5.6.0</string>
		</dict>
	</array>
</dict>
</plist>
