<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/time</string>
			<key>mtime</key>
			<integer>1529562757</integer>
			<key>sha256</key>
			<string>a4a3a94650d13b4bc4d4dcb0ed3edac185b3e7407eaa6339e399fe8fc2e2bc60</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/time.info.gz</string>
			<key>mtime</key>
			<integer>1529562757</integer>
			<key>sha256</key>
			<string>24bb8e9663a3217aeb413691e6cfd0a4a074c49cfe10f97adfec1d8b1d2c784b</string>
			<key>type</key>
			<string>files</string>
		</dict>
	</array>
</dict>
</plist>
