<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/tin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/metamutt</string>
			<key>mtime</key>
			<integer>1588437215</integer>
			<key>sha256</key>
			<string>aaa5a250e7ce1ef700d30afec0db57563225ac892636946eebcc672a520bac43</string>
			<key>size</key>
			<integer>3816</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/opt-case.pl</string>
			<key>mtime</key>
			<integer>1588437215</integer>
			<key>sha256</key>
			<string>a2301035607edcb36af7370730338527e32c7b340f6ab386339dd8747b3874de</string>
			<key>size</key>
			<integer>2791</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/tin</string>
			<key>mtime</key>
			<integer>1588437215</integer>
			<key>sha256</key>
			<string>d395c45c37d947e41ed60327c7a7f0768181b9e048ff1ab66216cf7e58c48d16</string>
			<key>size</key>
			<integer>938784</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/tinews.pl</string>
			<key>mtime</key>
			<integer>1588437215</integer>
			<key>sha256</key>
			<string>bb17ead9492f2a63cc9cd16c2c23a76890bb30bc92a8bbdb86377b25c6705f58</string>
			<key>size</key>
			<integer>42935</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/url_handler.pl</string>
			<key>mtime</key>
			<integer>1588437215</integer>
			<key>sha256</key>
			<string>4a363594ac65b44e664b7b86f18ae7f3961ff68daad1e9c898f7ab1e86ebe937</string>
			<key>size</key>
			<integer>3792</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/w2r.pl</string>
			<key>mtime</key>
			<integer>1588437215</integer>
			<key>sha256</key>
			<string>d30a27dc49ad2baa4fafd5e805e9cbe2cfd0af654d511631231481e02425806e</string>
			<key>size</key>
			<integer>3348</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/tin/LICENSE</string>
			<key>mtime</key>
			<integer>1588437215</integer>
			<key>sha256</key>
			<string>89adc8c169f51777b837759597c4290f05bc4dca8a8e9be6ab1d10f1e23fa316</string>
			<key>size</key>
			<integer>1441</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/opt-case.pl.1</string>
			<key>mtime</key>
			<integer>1588437215</integer>
			<key>sha256</key>
			<string>48445586da031cc8fb81c7863ed6ed698db35205ccb6ad7c00f81234eda5d22f</string>
			<key>size</key>
			<integer>5156</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/tin.1</string>
			<key>mtime</key>
			<integer>1588437215</integer>
			<key>sha256</key>
			<string>1e2a9f29f749e04926aa0dadfcdfddd8dbe54ef67a0958e44faa2e7c24c6aad5</string>
			<key>size</key>
			<integer>139235</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/tinews.pl.1</string>
			<key>mtime</key>
			<integer>1588437215</integer>
			<key>sha256</key>
			<string>d0f8e28bc27480a0aedf873e71488010ee02d8e68ae92a4be02ed3a3e0fd9fbf</string>
			<key>size</key>
			<integer>18163</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/url_handler.pl.1</string>
			<key>mtime</key>
			<integer>1588437215</integer>
			<key>sha256</key>
			<string>8c94d7eff054223f82fd97254c44edd21379f0113c846bce18b0c2edf4aa0418</string>
			<key>size</key>
			<integer>7172</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/w2r.pl.1</string>
			<key>mtime</key>
			<integer>1588437215</integer>
			<key>sha256</key>
			<string>324ca75c482300335deb552af9bbc16f0224f4224ac0b5b2131556c7ced8cb7c</string>
			<key>size</key>
			<integer>4345</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/rtin.5</string>
			<key>mtime</key>
			<integer>1588437215</integer>
			<key>sha256</key>
			<string>b6b693893902f0f756e2dbdfc68827cb6219d3db739d1983d8d7c92c378e6339</string>
			<key>size</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/tin.5</string>
			<key>mtime</key>
			<integer>1588437215</integer>
			<key>sha256</key>
			<string>783148355bf7c867145951b9f03bd97d37b634b348748aefec04d3db9e2d11f2</string>
			<key>size</key>
			<integer>81803</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/rtin</string>
			<key>mtime</key>
			<integer>1588437215</integer>
			<key>target</key>
			<string>/usr/bin/tin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/rtin.1</string>
			<key>mtime</key>
			<integer>1588437215</integer>
			<key>target</key>
			<string>/usr/share/man/man1/tin.1</string>
		</dict>
	</array>
</dict>
</plist>
