<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/examples</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/examples/toxcore</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/DHT_bootstrap</string>
			<key>mtime</key>
			<integer>1591110993</integer>
			<key>sha256</key>
			<string>42425ff2a7bae5c463cb76a32954c248eb056cc518091ed15e09f19e8f2052f5</string>
			<key>size</key>
			<integer>329944</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/tox-bootstrapd</string>
			<key>mtime</key>
			<integer>1591110993</integer>
			<key>sha256</key>
			<string>607b2fecf29f1a2493bae415fe4aab8f44939b72f042b01102f96591076a8a58</string>
			<key>size</key>
			<integer>137376</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libtoxcore.so.2.12.0</string>
			<key>mtime</key>
			<integer>1591110993</integer>
			<key>sha256</key>
			<string>96fb890e68443d3bc1f50134a4de1ac7d36314f6aaf2354c582cd1ee7faaee0e</string>
			<key>size</key>
			<integer>386984</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/examples/toxcore/tox-bootstrapd.conf</string>
			<key>mtime</key>
			<integer>1591110993</integer>
			<key>sha256</key>
			<string>f85483252f43b0e67dffad627c17d5c3b9003311b6af8246f137b969757e588e</string>
			<key>size</key>
			<integer>2182</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libtoxcore.so.2</string>
			<key>mtime</key>
			<integer>1591110993</integer>
			<key>target</key>
			<string>/usr/lib/libtoxcore.so.2.12.0</string>
		</dict>
	</array>
</dict>
</plist>
