<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/toxic</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/toxic/sounds</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/toxic</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>5f86b837f4dc0ecfa0642844e0cb13b3840f18f84ec7b75139bdc99bb6fbaad7</string>
			<key>size</key>
			<integer>311752</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/toxic.desktop</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>d5e981047b42aa6cfbe09ae9ea903f1daed3c4f2bb2f7eba47c969f3a4f496bb</string>
			<key>size</key>
			<integer>229</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/toxic.1</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>7f5cc2fab2026482b100d03db270d769e0d70d76d04ea6f785ff6fde79d7f708</string>
			<key>size</key>
			<integer>4130</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/toxic.conf.5</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>b420b859198cc946b46e6b6436c9875bfacb46f0a254e8759d799edf194a46f7</string>
			<key>size</key>
			<integer>9223</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/toxic/nameservers</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>1202d1934799cabc698f8f37b4649e478effb1e6063cdbbfab8b8b1f955b4570</string>
			<key>size</key>
			<integer>74</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/toxic/sounds/ToxicContactOffline.wav</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>f44d0f441845132b6acb229ac1eaab4f63ab262a2791f0b3cf158435deb6a1e2</string>
			<key>size</key>
			<integer>111204</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/toxic/sounds/ToxicContactOnline.wav</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>3a82a08b73e7bd5e077478b81d7cb69028d6288b055e23b03b605e8c20a9c834</string>
			<key>size</key>
			<integer>86558</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/toxic/sounds/ToxicError.wav</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>9e83a0fb0868a280573b21b20874b73ee9ae5d103f24a4dcb89ae7260ea38995</string>
			<key>size</key>
			<integer>53362</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/toxic/sounds/ToxicIncomingCall.wav</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>43db88773c6c37910d056b1e2c411cdb137766491087e759e5449a0eebd86ad3</string>
			<key>size</key>
			<integer>497034</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/toxic/sounds/ToxicOutgoingCall.wav</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>ce04d240fcac079397aececaf1b51451a2e86c412fecd7e0ebe43e80b485c191</string>
			<key>size</key>
			<integer>780298</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/toxic/sounds/ToxicRecvMessage.wav</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>723828977cff515059f587fafabc82e84f751fe6267b3fd4b2198e22b39e3fe6</string>
			<key>size</key>
			<integer>67392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/toxic/sounds/ToxicTransferComplete.wav</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>13de5c5d8ea60f038b9127051a9e3d848ad6ef196a26c3bee8dea0c8aac301c6</string>
			<key>size</key>
			<integer>76296</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/toxic/sounds/ToxicTransferStart.wav</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>0628846ff15625010c77dd8dd05c610b77e8214b4a281bbd2eb6a9a20493bda8</string>
			<key>size</key>
			<integer>75946</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/toxic/toxic.conf.example</string>
			<key>mtime</key>
			<integer>1611309616</integer>
			<key>sha256</key>
			<string>7c363b0efa365ea99934faa5521bda21770732ea602a79d381e4d042dd871787</string>
			<key>size</key>
			<integer>4661</integer>
		</dict>
	</array>
</dict>
</plist>
