<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/xdg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/xdg/tumbler</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/tumbler-1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/tumbler-1/plugins</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/tumbler-1/plugins/cache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1/services</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_AU</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_AU/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy_AM</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy_AM/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hye</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hye/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/xdg/tumbler/tumbler.rc</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>0ba71df1336adf49ac08169e79b0a65abcf062b23d08b5bf021bb537848c6c74</string>
			<key>size</key>
			<integer>2761</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libtumbler-1.so.0.0.0</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>4f6dc00e758401319d606fe72b4338c5b3b28457a059f622cd40f2b6e50b10d3</string>
			<key>size</key>
			<integer>59376</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/tumbler-1/plugins/cache/tumbler-xdg-cache.so</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>e2fcc75cf661da07cb214232083a144362ddc517b53cb96d8e3b9061cc24d94c</string>
			<key>size</key>
			<integer>30704</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/tumbler-1/plugins/tumbler-desktop-thumbnailer.so</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>4bba7035de27132df6e9cae840d410ea8fe0d0913bb1aecd66c1a53b7fde995b</string>
			<key>size</key>
			<integer>22520</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/tumbler-1/plugins/tumbler-ffmpeg-thumbnailer.so</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>b5ee5845d7b8deb47cbce6b5b06b70887231285931fe76f5549a7d10b6408e33</string>
			<key>size</key>
			<integer>18584</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/tumbler-1/plugins/tumbler-font-thumbnailer.so</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>873b47a743fbf8b35275cee5bf62c3850c963b102f63ec5f38faca5f26a5e55d</string>
			<key>size</key>
			<integer>26672</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/tumbler-1/plugins/tumbler-jpeg-thumbnailer.so</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>b01caad5609052459dc906eb7a0466665033d064b1201869dbe5e85831e8a20a</string>
			<key>size</key>
			<integer>22512</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/tumbler-1/plugins/tumbler-odf-thumbnailer.so</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>c99f785c59b8b456904ddcbb36bb99044ebcc272daa8c12eab724e58739b9974</string>
			<key>size</key>
			<integer>26880</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/tumbler-1/plugins/tumbler-pixbuf-thumbnailer.so</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>e23d663a1c3631186697037b7795c693d67aaff278bf9d69cf8eac904906345a</string>
			<key>size</key>
			<integer>22520</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/tumbler-1/plugins/tumbler-poppler-thumbnailer.so</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>19a1a20bc2fda1a5012797742db2824396a7de63882c0d9ec5ab40b976b321cb</string>
			<key>size</key>
			<integer>22552</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/tumbler-1/plugins/tumbler-raw-thumbnailer.so</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>b8bae53bff7d2f769862cb27e0cb8d0a6adf10a27915a5642734026cee2921b1</string>
			<key>size</key>
			<integer>18440</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/tumbler-1/tumblerd</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>dd7d3523a7ebeeeddb9abc200bccf995fdd5614f5227dea9f700ba5acd388d9e</string>
			<key>size</key>
			<integer>145536</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1/services/org.xfce.Tumbler.Cache1.service</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>beca333d2d03c53104095bd8289cc2f25d7d07936742b8d522146cc8df85466a</string>
			<key>size</key>
			<integer>90</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1/services/org.xfce.Tumbler.Manager1.service</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>e9a1e636901dde02fe43a9a0d6e53c38f3ddaa7ba04f8b20052853caaacdb680</string>
			<key>size</key>
			<integer>92</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1/services/org.xfce.Tumbler.Thumbnailer1.service</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>b5bed61b2bb1fe494b4510f951fdf4033c81ccbea35b3fdc190745c70e001816</string>
			<key>size</key>
			<integer>96</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps/org.xfce.tumbler.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>610e57ba279db27239e63c96e4b40ac931c0a0be4211b58aef087b3270137c99</string>
			<key>size</key>
			<integer>1029</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>5315bf3f96d4461269c3ac119eeafe3bc8ef340bd7b8e7094ce5fae4ca6b11db</string>
			<key>size</key>
			<integer>4628</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>53ce225aa0ec00c8373b025e7bfa4fc11d23429804c908732f9b2da38b96bac0</string>
			<key>size</key>
			<integer>2760</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>ef3be370474d00180d4f4d61888e299e8a4c6a33655a157bdfa8565bedac5e2f</string>
			<key>size</key>
			<integer>5562</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>436168420cdaa4d81f43aa4291f2ab26ea7aaf7a82122d1a1b0b5f6e3a1068ab</string>
			<key>size</key>
			<integer>5823</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>354b2bffb73e6cc45a738eddfd34a9e2b84bddd140565373f397989c30c497d6</string>
			<key>size</key>
			<integer>4278</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>937e308ce3ce25a80fd8740d9a6fe80ffe50fa2b29b3c2dc47fa8b706ee57e6e</string>
			<key>size</key>
			<integer>4634</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>551a5d54c79d0ba7a1d18a4f93b6572f15192676ef5f86c1dd797d7b66c91c94</string>
			<key>size</key>
			<integer>4827</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>0a7482f68a786c19f6a2bdf774417dbe225e37e6b69ed0fe3b774f06d57ee025</string>
			<key>size</key>
			<integer>4293</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>b40e5162aec688792cd9a4db6e3e04e2db4bbb2e1ec91fb789ac459287e2acf8</string>
			<key>size</key>
			<integer>4714</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>f7d2b97a9597fe13d68c1d16fd3470146e9f8317ca4f57dd50ff92bf20a19891</string>
			<key>size</key>
			<integer>5987</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_AU/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>51cfcd2d5859798eb0f87f741812254b337ed293d1f3498e2d826ef434bc6a0e</string>
			<key>size</key>
			<integer>4178</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>f4c9f99cd4ace585f37c296d6c47fef167dbfb2e3c20d4b5027f703791807e57</string>
			<key>size</key>
			<integer>4184</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>9f7b11a3b85bcbd77a337c96d6289f374c465f3d69d08930f3f05b8dc82aee76</string>
			<key>size</key>
			<integer>4627</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>19ba08c0df4cab53a47e1a7eed879119728a508201986cb26f8200a191b309e0</string>
			<key>size</key>
			<integer>4464</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>2cbf85787a4e967dde4178cbae3ef57608f34cd0723d94db9568a028880d3655</string>
			<key>size</key>
			<integer>4238</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>35ba9bf024caa2ca6a9aca422a659bc61400acbb526c8dcb02c82d1c106a21c0</string>
			<key>size</key>
			<integer>4488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>4f6df3e768c6a594cf5f2a4e03c3d2a1aac978379f449abcd83f163d711a1b01</string>
			<key>size</key>
			<integer>4839</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>e118605a7d87416de3fd1ffafeece8e49fcd2ced1474c53de7f9470ff799557e</string>
			<key>size</key>
			<integer>4624</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>10ac3709a3c7597d37bff0abe5e2469e0faa664fe67afecaaf0012f0eb24041a</string>
			<key>size</key>
			<integer>5094</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>47f4b6584c3f126d2405c14ee2e296d5e436582a3243dd1e573ba827a2869cc9</string>
			<key>size</key>
			<integer>6100</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>1ba3aa403e285eae1a794242ef96237c41679563737715c93a9502829fd27069</string>
			<key>size</key>
			<integer>4442</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>6608155edac98f5d946e5dec03399d6aac0aaaad9d354864e3c2a76abb62ce74</string>
			<key>size</key>
			<integer>4673</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy_AM/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>c1843c24c35f5df7ccbab5f2dd0203e8bb0c1ff4c96570da461cfd63b9692f15</string>
			<key>size</key>
			<integer>5612</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hye/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>208033d0e82ad6f342e0c47cf9ebdddd2f65e0a2c48017b480ef058e924d1908</string>
			<key>size</key>
			<integer>5594</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>e704d5d995b573bcd947e7722589f0a8eab6029644711e7c4bb61d1da6465040</string>
			<key>size</key>
			<integer>4205</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>61ce8acfbbfe23a754424bc1e0a4cdb182ea526e363854d1282cb01785ef87a3</string>
			<key>size</key>
			<integer>4504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>2fb34e76e9d2f1f4defe2c00f307efbfe298c861fbf2c44853f32e7afaa5df03</string>
			<key>size</key>
			<integer>4547</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>ec812150568c01a780d9729a746cef0f1e720b3d46073eda41b7693f70889869</string>
			<key>size</key>
			<integer>5086</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>26e59d5681f06ff834ff96adf584155837028bd9c568c9aaaadc1cc617f6800e</string>
			<key>size</key>
			<integer>5268</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>50d94097447891306cfdf00024388316fd0b9f72cfd5f65b6e22600fbded7c6b</string>
			<key>size</key>
			<integer>4825</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>a54a9daed92364c9f1de262b639024e538b31f0936ec60f5776a1cbbce7d9205</string>
			<key>size</key>
			<integer>4564</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>f96de5997043b0fa3975f81b9320ac47ed708b8281a610d6d81bb6c08354b1e3</string>
			<key>size</key>
			<integer>2582</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>5cfb81d0d2c9e63ca03b61d90a37872232504dfe1d80ccdc5aceb1396fbd5b69</string>
			<key>size</key>
			<integer>4190</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>7a110b3d72aabb228b79cb61dc3eeb1f98a7477fb08bf39cf4ee939d0c428f3d</string>
			<key>size</key>
			<integer>4301</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>42102781704c818822b0ca363f1df38348ec5ebfcdfc3a71d770631326a5cdb1</string>
			<key>size</key>
			<integer>4458</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>7fea1f76b5b590f959644fe54e8543b6ac03c3461071581959c4fe70ca454d27</string>
			<key>size</key>
			<integer>3444</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>c505926d62e82fe58adcb5ea9136e4591b63b787ab01122430b1127ca1a738e9</string>
			<key>size</key>
			<integer>4610</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>befc5465773d6d7e63a99f4e139e6aa9a7b5df5ea0e50a0d90fe95b3dc5885cc</string>
			<key>size</key>
			<integer>1774</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>44a2fea0180b5f95defa007870713d120c7a3351eb26ef8bcb3ab0192bb65365</string>
			<key>size</key>
			<integer>4693</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>05c7b73c53dcb86704c81dec7af98a30135cecf1d7ac8f5a516ce90a2caf674a</string>
			<key>size</key>
			<integer>4408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>910fb6d2f4b4b708ea7350c56a8a09e2eaa6416c3d7bddf6fbdbe33f5ee82373</string>
			<key>size</key>
			<integer>4603</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>cb7ce585ca2c8cf538348fb8f3773f3a6a912e6337d61d176617656f3271573c</string>
			<key>size</key>
			<integer>4462</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>de4eef45de14aae67f48750772c4032e8886691bc05bc045e6f127e6e786f791</string>
			<key>size</key>
			<integer>5665</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>32ee08cfdae48d9bb6c302689fe4ed72cbaf7401536be0e6c616add47c5a3d30</string>
			<key>size</key>
			<integer>431</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>8284c3bf04ca8b703a99917d168e974ed1222cedfaab87325814f185808a4eda</string>
			<key>size</key>
			<integer>4701</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>c60eb52d772edc9922e3ec581f68d0a59d808aa5f2b5c860de31cdbd6f09c428</string>
			<key>size</key>
			<integer>4446</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>c432c2b410987d7755b3211bd5c04e3f998b60acaa05c0b10e909dcefef18a15</string>
			<key>size</key>
			<integer>4531</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>03363b8ca59f206bce0bb2e451948f470056d494544548d23bcebf0bb1bd1b4b</string>
			<key>size</key>
			<integer>5745</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>71f3b1e6abb0973f968eddd317d840c418fcb6c137226c34daaf2f764bb1f088</string>
			<key>size</key>
			<integer>4457</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>7c40f015b10b8edcdba5cd025a30b3370797224fe1e9a26b8dda00a69912dce6</string>
			<key>size</key>
			<integer>6268</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>8e90f221e99fcc96cf9b6c50c90f99461039e3cdb097fff3a21a59e82df7634a</string>
			<key>size</key>
			<integer>6325</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>e578d4a8dc525657eea99602f28b8f67d3a0230d401839b4690eef049d6a6ef3</string>
			<key>size</key>
			<integer>4398</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>027fada00e9d6edd42bce0b5a738d6eb5fdc63974c1e8675f1cc847d8fa02d95</string>
			<key>size</key>
			<integer>5618</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>7c009c9e7c6d16a4d302dfab58d28e15b45e047276887715ab37e70e577f129f</string>
			<key>size</key>
			<integer>5721</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>0bde13d535b045aeef5c17d5a13c53e484f49d13ec929ee3dc76aa0867f94990</string>
			<key>size</key>
			<integer>4098</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>2617304e8b2ded712cf5318c2a7de1ef231ff656d576b7dbb7139452c1fabec9</string>
			<key>size</key>
			<integer>3989</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/tumbler.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>d0f3dc26233d36e8be3c9df3088311e75494bc11705b221bb1118d34b42bcf9b</string>
			<key>size</key>
			<integer>4087</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libtumbler-1.so.0</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>target</key>
			<string>/usr/lib/libtumbler-1.so.0.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/tumbler-1/plugins/cache/tumbler-cache-plugin.so</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>target</key>
			<string>/usr/lib/tumbler-1/plugins/cache/tumbler-xdg-cache.so</string>
		</dict>
	</array>
</dict>
</plist>
