<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/twm</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/twm</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/twm</string>
			<key>mtime</key>
			<integer>1592239288</integer>
			<key>sha256</key>
			<string>913e37533277cbb001e977831d41f60b04997d802e117209266a2218c1d8f7bc</string>
			<key>size</key>
			<integer>189216</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/twm/system.twmrc</string>
			<key>mtime</key>
			<integer>1592239288</integer>
			<key>sha256</key>
			<string>861237bbfeacad152338019dc0cc84ec5bc50f147ca8b094335aaf99b750031d</string>
			<key>size</key>
			<integer>2419</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/twm/COPYING</string>
			<key>mtime</key>
			<integer>1592239288</integer>
			<key>sha256</key>
			<string>4809ffc9656bc9a704e19ab467d1cedc97c48c9d1f9a4018e6d99d2e61f75945</string>
			<key>size</key>
			<integer>3649</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/twm.1</string>
			<key>mtime</key>
			<integer>1592239288</integer>
			<key>sha256</key>
			<string>8022fa616bd71dbbaf08ee142e59dd97a6cd2388f4c43d65268917f5c98b4b80</string>
			<key>size</key>
			<integer>62752</integer>
		</dict>
	</array>
</dict>
</plist>
