<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/uchardet</string>
			<key>mtime</key>
			<integer>1588005185</integer>
			<key>sha256</key>
			<string>85767195ad423f014f94c3ab5f02e84691d73fa2b15acda2f703c27b44343bad</string>
			<key>size</key>
			<integer>14520</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libuchardet.so.0.0.7</string>
			<key>mtime</key>
			<integer>1588005185</integer>
			<key>sha256</key>
			<string>5e64e59dea28ab1fee876683692a490b70e13acfb5ff8dfa01d798049295bfb5</string>
			<key>size</key>
			<integer>198728</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/uchardet.1</string>
			<key>mtime</key>
			<integer>1588005185</integer>
			<key>sha256</key>
			<string>7b0f3157b5cf70bee326fd258e7bf1bde4c05f26ac2f91e6329cf1aa6ce8f0af</string>
			<key>size</key>
			<integer>549</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libuchardet.so.0</string>
			<key>mtime</key>
			<integer>1588005185</integer>
			<key>target</key>
			<string>/usr/lib/libuchardet.so.0.0.7</string>
		</dict>
	</array>
</dict>
</plist>
