<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/udisks2/udisks2.conf</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>802d0abb9e753c4f342109195d2477761b4699f0c4d0f1ca37fe2f10b24e4204</string>
			<key>size</key>
			<integer>251</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/udisks2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/rules.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udisks2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udisks2/modules</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/udisks2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1/system-services</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1/system.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cy</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cy/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ia</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ia/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/polkit-1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/polkit-1/actions</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/udisks2/mount_options.conf.example</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>db92164f510b9d0d49c6af03988f35daca5a70f6746f00b6b6c2fdfce2e3a5c1</string>
			<key>size</key>
			<integer>2630</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/udisksctl</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>3372ea9b10c3f69326c4ff880a7c052a382870319d68c666119426957c768c62</string>
			<key>size</key>
			<integer>59528</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/umount.udisks2</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>18ad2202dbcd3c6d3bcfc89edf57d6cb3f3346be86e8c2b124804f8e388bc841</string>
			<key>size</key>
			<integer>14400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/UDisks-2.0.typelib</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>37c60414c6833f8870d512b38f1872940f03a93fa2d6420b19ff6b74cb3b6273</string>
			<key>size</key>
			<integer>179780</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libudisks2.so.0.0.0</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>c44a3f376f74b85d848614637f8f5cd95dbd1422fb0212e046a406ad40b6e2c1</string>
			<key>size</key>
			<integer>772080</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/rules.d/80-udisks2.rules</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>085560b9e7004d5fc0b6e8f211f5ed25628eb2209f9aeeffc843659716ea3b78</string>
			<key>size</key>
			<integer>10277</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udisks2/modules/libudisks2_bcache.so</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>03ca56e1e8badb482580716e132fec3e7953f9adbabdadfbea941a36dddc85dc</string>
			<key>size</key>
			<integer>34728</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udisks2/modules/libudisks2_btrfs.so</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>42fb49e419650992c604b069875b12a89aefae4905fe52646f805a3efa1a9cd3</string>
			<key>size</key>
			<integer>34744</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udisks2/modules/libudisks2_lvm2.so</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>f11687ab9aff6674956e9d0dd688f806088b6ae55608238fc64e5ad7d2e754ab</string>
			<key>size</key>
			<integer>96168</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udisks2/modules/libudisks2_vdo.so</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>b156446b79021ecff75ad15eb5f4bd6fe0bd754bd0c74c7d887f778ccba3d679</string>
			<key>size</key>
			<integer>42920</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/udisks2/udisksd</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>d40a20ea81a3319c0dcf49333c70b91b22a8d5fb4cfe86f4439d7fa1ef341f04</string>
			<key>size</key>
			<integer>486280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/udisksctl</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>4134ac2247a16e8506df772f212dceb0a94e834d79cbcc1e7e5a8ec620354e86</string>
			<key>size</key>
			<integer>857</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1/system-services/org.freedesktop.UDisks2.service</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>dec4c90801858db84388b1a0290d83af306a7ba822f614bb3a10fa9fe9709408</string>
			<key>size</key>
			<integer>120</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1/system.d/org.freedesktop.UDisks2.conf</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>fd5571a72c642612275951ed6b6e0cf7861f00aa22ce1ac8e9961e6b0d9d9577</string>
			<key>size</key>
			<integer>525</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>9978227d1bf54cfb8c3a0ddad2d39ca1a90bccc2470c966217f1141b9eb6d655</string>
			<key>size</key>
			<integer>35291</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>2907b295f3b578671774180f39ad5986f0f83bab13017e9b14327bc8a4eac4e0</string>
			<key>size</key>
			<integer>421</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>6fa26886a7365f921a5e32a674039a2577e1d9e25445027b3f3595a7da68d608</string>
			<key>size</key>
			<integer>338</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/az/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>cbf59aa386da398663ebbd373ec60c95d9108f5a9dd264488685598ec0c2b19c</string>
			<key>size</key>
			<integer>338</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>514ad5d91ab50b34ff1981e8f0e334547bd8d94382ecda3e99b4e062b066512a</string>
			<key>size</key>
			<integer>338</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>2a35f80c7d3c57ee030bb5fb8e04fad5d4df93ade1787f4ab880e3e75d4711bc</string>
			<key>size</key>
			<integer>341</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>98038cb5a0867ebcd3b84f138419115f6ae75c240a398c057f20c11f04d3a3e9</string>
			<key>size</key>
			<integer>42655</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca@valencia/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>4e8584e87794b338f3657d8a6e2a8d9f027f8cb0071b6c1dc5facf80ee793aad</string>
			<key>size</key>
			<integer>347</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>17f770f324a0a19ec7d437aa6dde4382ebaf0d7152bddc5c38f8b7ea1f63c31b</string>
			<key>size</key>
			<integer>44842</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cy/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>9d93a8e816217d35eaa069a65163328950cd113958dce30e63b0273a6f850967</string>
			<key>size</key>
			<integer>383</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>272a6eccd2600d27bfd47149d61881998d4550882109eb7445563001ff2b8b81</string>
			<key>size</key>
			<integer>43621</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>48dd16114eca15cb30b6d23c2cac2f90bf134e9b71b2259be20235244d10894b</string>
			<key>size</key>
			<integer>46285</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>2e6937272ca19907650046cb6224191e4cc3a1a5ef106bd8bead866276e91479</string>
			<key>size</key>
			<integer>40093</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>8df3a8051672fab7ecf9906a65b1b1b7d4804e03799ec6db032b710f04762110</string>
			<key>size</key>
			<integer>34450</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>f9318bc39773ce590b69057c92c76a323a96b70555e12e3650289ce6638594ed</string>
			<key>size</key>
			<integer>338</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>42410c5a54b1cc1ed95d445d15f4f11a41c9186d9d6c5a61f445ed1aa1e03231</string>
			<key>size</key>
			<integer>43331</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>8ae35aefd28647306bbf1dda677b78068ac8a26b194e9e50946ec8eecc6b5916</string>
			<key>size</key>
			<integer>337</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>c2bfa5678bfca4795d9cf269fb46018a129acd7f4e2fc927411ead3045b81874</string>
			<key>size</key>
			<integer>12745</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>1c72e532056d39023a7cf3161f2b4d00a0d94e4d14a7e38f67cbc54a053e452e</string>
			<key>size</key>
			<integer>331</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>2d29206777679f60b203b6d653f22cd140f2b6a6b72da55c4f2bc38ea658d6ce</string>
			<key>size</key>
			<integer>23646</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fo/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>7c2c642338c61d41d0e76e618a93203cce747092f570ff29973d30dc2b1ab5b9</string>
			<key>size</key>
			<integer>338</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>e86cd7131476d4e986e12a67e62a7f6f92676cb727cb072d1e4895d893d8be81</string>
			<key>size</key>
			<integer>47688</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>ed6602b64340c7fc50c8cbd525ba6eb6b24c13c3c14a1a915d82e9f9a138d722</string>
			<key>size</key>
			<integer>46025</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>8e52c3493ce424523876789bcafde25e697ca86c4ae679c56ad50aeb5ced23c0</string>
			<key>size</key>
			<integer>376</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>a83a45927de90a6c6278bd67436d4dde030f10beba24c4523a1d999544ecc55d</string>
			<key>size</key>
			<integer>33088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>e2afa6a5eed4c48b2f990fd52d1d7205dfc88829a9a2a8aa962ede8cfb6ed21c</string>
			<key>size</key>
			<integer>338</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>80ce063471832a55fec1a4fbbf62c5930023d03909e26b969567ab6ffab9646d</string>
			<key>size</key>
			<integer>338</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>ab17eb5264bf91448eb58703dc162771da8201f9f78d897a977c2fc106550ae1</string>
			<key>size</key>
			<integer>338</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>be32f6aabca5e98b7be692509acdf19c8490188c15eb88393a4f7c127cbd9b93</string>
			<key>size</key>
			<integer>26585</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>c85320a5b02d8f6b690036749514d7ee62a94b763e41492315d2f67884229611</string>
			<key>size</key>
			<integer>45601</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ia/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>ea5cb305821284f6a473f20c6e58ede54099dd319454f32f11083b4ca8a08b91</string>
			<key>size</key>
			<integer>10296</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>c7470001786d0af5ee9a9d9ebef165018124b4cac820af5377cda0da6bea0021</string>
			<key>size</key>
			<integer>44172</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>a80b08452fd8ff58fb0f95c3abb8cecc0eff3afdcfd6276b2b693bf60cb72348</string>
			<key>size</key>
			<integer>44618</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>affdf9b5a8efffc94e3209271a969ecc7e4c72e0172a816eca7604abe00284cb</string>
			<key>size</key>
			<integer>34804</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>b3b055740dcae00de007fb320d08c4af2edbe40af7d932ec44b40930e0528327</string>
			<key>size</key>
			<integer>331</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>47a830574fef42a2a86236a33dd2fe5ad682b6048f60d67352d4401cc80c3eb0</string>
			<key>size</key>
			<integer>46757</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>5e2429fc71f7d34e9324cfa3a727037cf9aa7a38bd368292e5d3f8350c776be7</string>
			<key>size</key>
			<integer>331</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>26005cebf19926cae2de412b7752aa9c39603535ade3dc0a48fe7fae16806e2a</string>
			<key>size</key>
			<integer>33697</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>1e896ca26008d63506ecebf3fd546037798fd317a43c71623146bd751d37964e</string>
			<key>size</key>
			<integer>45554</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>c3ac5a9e8a973ac1079173335a40909d2acdea1f59871fbcb4958629fa3504c9</string>
			<key>size</key>
			<integer>20053</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>1524789535229c48f7267a9f17db40af66d63d0ddc0801002d8f281e54e66866</string>
			<key>size</key>
			<integer>338</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>a1851f8d9a3cfbf6ee3494b46707da5b399756a7877a87268c751fffffd99b40</string>
			<key>size</key>
			<integer>338</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>806c49cb39e43467a23fca0712b0f7559186c50d98413987d4c9231b3b9a8ad3</string>
			<key>size</key>
			<integer>331</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>4f30ea04d898f9c3cbc2be2c321848b3325bb2552f34653f4a5a8a85abebca2b</string>
			<key>size</key>
			<integer>338</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>ab85c88b2a541cbff9ac37ae67d68ff84a65b1db930d6f7f3333715230802110</string>
			<key>size</key>
			<integer>44410</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>7fa0f9240f80ddb5d4870e323af602db1c37d909269c81f5b02c76efdf05648b</string>
			<key>size</key>
			<integer>338</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>e82cc251716167c7ad7c9eca572cf7894a7fdfcb9fc8273f3f0a6de2d46f5756</string>
			<key>size</key>
			<integer>336</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>41567f51264ab5d2f69c88cd2593377f368a5ff0021896b4824bd105d86f0f59</string>
			<key>size</key>
			<integer>338</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>67ae8207c4f2cb49c24d491e97f471df0a68dd85c6bde4de516ce3769e55d642</string>
			<key>size</key>
			<integer>15727</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>0af9864b76dd07638073a188ef48f49413461bbbe5feb4d0851de7daa44c388a</string>
			<key>size</key>
			<integer>48314</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>d53b2bb3970f8dba2f399b4d117def7ed5503d0291fc8a0cc5c57774e01b91a3</string>
			<key>size</key>
			<integer>19410</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>edf9f62c792deb2186888215426ea98a2129753d06303ce593dc5265d11f8b61</string>
			<key>size</key>
			<integer>45455</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>bb74768dcc4732749298342835584d0741e190ee57607c17ae95baeea668370c</string>
			<key>size</key>
			<integer>379</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>90c91630eae181643954ebc8ef848db8df4c505fb35264732c4d5d07a1986ad9</string>
			<key>size</key>
			<integer>44504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>57f4907d42d3f59906ae80c30af99816e34bb140e9d242a0131487c136469ec7</string>
			<key>size</key>
			<integer>45226</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>1b19db80ca87ce202a3d876af6792990666258238bf6114f518cf039ec5b882d</string>
			<key>size</key>
			<integer>32434</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>3014de9f96e46ed47baf9760d6071f4e5eef70cf729ab2e324bd537bc0bec253</string>
			<key>size</key>
			<integer>338</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>ebef42377bc0a3b9c0d883e18e436863f399d800744cd1e4a3863b8d6414bd17</string>
			<key>size</key>
			<integer>42422</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>3f4d3edc5bc3ecc2acd42b9a1e9dfa9c23355937a816d57f2493efc7ee3ac60d</string>
			<key>size</key>
			<integer>418</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>bbe5e6fc11eba588a67b1a0ba0ef37abd64c17143c89b3adae302479687b5cd7</string>
			<key>size</key>
			<integer>43817</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>4c73b75d614ca9575904a10ad23cf51282612503c261b0297a80de7128232444</string>
			<key>size</key>
			<integer>338</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>a59f41f2dba4d2ec6ec10766a5eea7bf3d8ad6785edabbd3ce4ce268ca8cc923</string>
			<key>size</key>
			<integer>338</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>b3fb3dc4a29238afeffb34a8b884a4622431fba25ea101c75fdc5a5575d40909</string>
			<key>size</key>
			<integer>331</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>73bb95acd6e63663bacc8d17f067ba93a578ccb433638ea917d2b2ef11824311</string>
			<key>size</key>
			<integer>46036</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>6f31b4742c40f29674e82e0ba54af28f480b51067202ef33025c826baf5e62f5</string>
			<key>size</key>
			<integer>59977</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>218c14d380f391455a99553bccadd9d90e206b0eb142f1f1f24dec83165ed787</string>
			<key>size</key>
			<integer>331</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wa/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>44d2c2c0f197f7ebec5f4d69ed118da25a2e62d70a88a7a821a2568276956972</string>
			<key>size</key>
			<integer>337</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>f0948f9d4b7b25dab2d2fa8549b40ea8439be0ada4f13c30fe69195fcc756e92</string>
			<key>size</key>
			<integer>37519</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>5587ec42dcda08153e05e263ec95dff05b1265b27cc3699526ce1d2ddb28074d</string>
			<key>size</key>
			<integer>334</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/udisks2.mo</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>e1716b8e627c70d1988e059827882441be9b47f1622aa556dc7bb84bb51a9615</string>
			<key>size</key>
			<integer>30217</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/udisksctl.1</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>6a40fba35d2cac95c752978d46a88304a9d8ef1f31104c7d88fdda01735897a6</string>
			<key>size</key>
			<integer>8852</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/udisks2.conf.5</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>bf0caa91391b474f431880f211db5c3760feaef7fec7b2c8500347ad48a18b7f</string>
			<key>size</key>
			<integer>2965</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/udisks.8</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>d461e20390700464481d5631c1c748fae3afa4bfb4144aff640533e64fbeca77</string>
			<key>size</key>
			<integer>12677</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/udisksd.8</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>3915cac29b2bf94e9fbd6a6b139c34b8c654c22b42cca39dc03e3869a43ee354</string>
			<key>size</key>
			<integer>2656</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/umount.udisks2.8</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>057ea9c0b39880294a56586c757f7d6ea8a0f227da4302d9f20ebeae8530d076</string>
			<key>size</key>
			<integer>1990</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/polkit-1/actions/org.freedesktop.UDisks2.bcache.policy</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>0c5c44be578963c16181d091fcb605c884f6daba32fe8ee60eb0d1ef7ee31239</string>
			<key>size</key>
			<integer>4104</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/polkit-1/actions/org.freedesktop.UDisks2.btrfs.policy</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>a43a9736c3bf77bd8d58943bef7739a2cc1742165c8da9411c91565c65694a47</string>
			<key>size</key>
			<integer>4131</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/polkit-1/actions/org.freedesktop.UDisks2.lvm2.policy</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>bcc4e3e46d836ff1e4b3fe0252d5db90dba014f3a357195051c6cc76ee02391e</string>
			<key>size</key>
			<integer>4223</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/polkit-1/actions/org.freedesktop.UDisks2.policy</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>c43904fc827a5763c6ebd8495e44e33c632c06f08c89e49dda4bc5f682288eb2</string>
			<key>size</key>
			<integer>323370</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/polkit-1/actions/org.freedesktop.UDisks2.vdo.policy</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>sha256</key>
			<string>4d1aa7caea2dc98232411389397e9bb5eaeb0335670648b7334cf714362ca445</string>
			<key>size</key>
			<integer>3219</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libudisks2.so.0</string>
			<key>mtime</key>
			<integer>1612655725</integer>
			<key>target</key>
			<string>/usr/lib/libudisks2.so.0.0.0</string>
		</dict>
	</array>
</dict>
</plist>
