<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/ufw/after.rules</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>c1be61c17e850ea16dc5a02be22e0ec79b631904c2383353da360bce2dfc6b64</string>
			<key>size</key>
			<integer>1004</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ufw/after6.rules</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>ee5f2e14d2ae6c33ffac9614dfc6035f33a1faae94542751738f26b2859e3e13</string>
			<key>size</key>
			<integer>915</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ufw/applications.d/ufw-bittorent</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>b32953b35ba064cad511266909c9040c51aa391677f881ba139fac4606432800</string>
			<key>size</key>
			<integer>349</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ufw/applications.d/ufw-chat</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>352076a1b131fc2d5e45b5be5ef5bf5c536e6436a7dc1c3c44cefd428083d470</string>
			<key>size</key>
			<integer>627</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ufw/applications.d/ufw-directoryserver</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>883b31147059cf40a6c1be6289f2697898c5a875c4414e384611b3e68f1bf67a</string>
			<key>size</key>
			<integer>513</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ufw/applications.d/ufw-dnsserver</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>1f4b685155ec38c67dac689d82f6a853ab7c376010233c88f927d33da45c0f34</string>
			<key>size</key>
			<integer>89</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ufw/applications.d/ufw-fileserver</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>10855df7c6e184cce7e4643f1dfd5c99569a019bc12d841a68f9fbaf906b8039</string>
			<key>size</key>
			<integer>358</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ufw/applications.d/ufw-loginserver</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>458537b40d4394054af4120221ed7daef4a7966e633890e6885cfb9a1d1d63dc</string>
			<key>size</key>
			<integer>212</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ufw/applications.d/ufw-mailserver</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>24284402bd8fe3712ea0474b6207ff61e4f29a7d80979e994f69e8579f4a0a7d</string>
			<key>size</key>
			<integer>524</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ufw/applications.d/ufw-printserver</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>dbfb2e391b75271aa247ba1ba5ef93a811fcbe7cfc206a93c5b426cc66341790</string>
			<key>size</key>
			<integer>131</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ufw/applications.d/ufw-proxyserver</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>b8cf8d51fc4b01b230cd567553ee3309eb5459532cca505932ced302f88ec881</string>
			<key>size</key>
			<integer>155</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ufw/applications.d/ufw-webserver</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>586dd016cc9b0bcdbbdea97bf47661e09972272d8236995f261448eea622c9f4</string>
			<key>size</key>
			<integer>320</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ufw/before.rules</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>d63bc8bb2df0d20909267b7b40cb5cc187baba6e0baf95bbf71ac14f92df8e6c</string>
			<key>size</key>
			<integer>2537</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ufw/before6.rules</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>e31099b46c2ae40afa92e90dbe5d575c438327e1a4374355872f5eb37db3307b</string>
			<key>size</key>
			<integer>6700</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ufw/sysctl.conf</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>d703b5e714d9395cfb3d60450bae109f70796d0b3ffba8179f1d6f06a62487ab</string>
			<key>size</key>
			<integer>1955</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ufw/ufw.conf</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>1c75b26d27f47cb59a4383a0b07b479d4b3493d34c4eed165b1e1860fe5ccf39</string>
			<key>size</key>
			<integer>312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ufw/user.rules</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>320f53e1ee90a7fd92f17b67f50b06b51cb20998cd52f01dbcb52e24160618bf</string>
			<key>size</key>
			<integer>307</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ufw/user6.rules</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>f6696cd7741aada36ab2055dd1a9d098e23e0290ca3a67dafbbad2920e5fdf60</string>
			<key>size</key>
			<integer>107</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/default</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/ufw</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ufw</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ufw/applications.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/ufw</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ufw</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ufw</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ufw/iptables</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/default/ufw</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>1678d2931850fa91973d8b26b59e98b57c12e545e7529fd2c89b6c0709afc72c</string>
			<key>size</key>
			<integer>1788</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/ufw/finish</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>2ab02f56ca98a14573145cf46dbb5152ed45599d1bb434d0795164b7ccf02a32</string>
			<key>size</key>
			<integer>49</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/ufw/run</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>30a427d380dde4e7d10ec6a14303b02e28af85f3817785d8a9938d96ac25e949</string>
			<key>size</key>
			<integer>75</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ufw/after.init</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>1354ecc09be8b68eeb5d1d7b5f00af90bcbc6f53535b591546a6b4652ff5d807</string>
			<key>size</key>
			<integer>1126</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ufw/before.init</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>a1936d13aadea73df4a8d91dfed3c0433467ab9da1c4f344a308c36e6a0559cf</string>
			<key>size</key>
			<integer>1130</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ufw</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>c30a44ed6769d3996e4476424ddadadd93600fe7cf7767abb91dfc2bb009240e</string>
			<key>size</key>
			<integer>4935</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/ufw/__init__.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/ufw/applications.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>c309cc855849b4505551c5211a5b3f7349d1f26a376f8ed0dd72b2bc4779f264</string>
			<key>size</key>
			<integer>6846</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/ufw/backend.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>cf94b8b41dd1e068327660a6f0c31e0d03260e564eed31af3695a204b6fbed23</string>
			<key>size</key>
			<integer>27191</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/ufw/backend_iptables.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>21bfe13e45a8639a03f5783ffb77332969da2e7efb0b291a682e80cd4df13ffb</string>
			<key>size</key>
			<integer>58109</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/ufw/common.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>8755ab1f13595de88e83e40b17373daca201cf9f37d59b3d11a158e4d9eeaaa6</string>
			<key>size</key>
			<integer>22144</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/ufw/frontend.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>9705006253b6d4ab0314175c0c9d52a6f9e5c6abc04e807dbc80d3b875f1e21c</string>
			<key>size</key>
			<integer>35948</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/ufw/parser.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>022f21f937c4935fde451133f60fb30750a43a6a5ffb94e0f59142938700149f</string>
			<key>size</key>
			<integer>31978</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/ufw/util.py</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>1967c2dcc6d05045df6eb803d6b9412dcc5962b3ac3acfc56a8eab228712c5e9</string>
			<key>size</key>
			<integer>31690</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/ufw-0.36-py3.9.egg-info</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>1dceeb72f944f20a206c2a25cc95a2d953e3a343c0356e871d058e1410de73d6</string>
			<key>size</key>
			<integer>261</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ufw/ufw-init</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>bcc35bae63e47ff8b8992563fc7edbe3abf02d1781c60b88943f5823505bbcf9</string>
			<key>size</key>
			<integer>2600</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ufw/ufw-init-functions</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>84622178903376b2a5fd86a729b2c68aa33fd94eed645553266979bb6b9386d7</string>
			<key>size</key>
			<integer>17381</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/ufw-framework.8</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>f8fb414dccbd9fc13fed71f0b5c0f24e18eb2939266e69e1eba8d1c1feb81e97</string>
			<key>size</key>
			<integer>10152</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/ufw.8</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>502f99ad6f20b88fae75bd614bf1f9ebd35434e108de242b73011ff6b78e3407</string>
			<key>size</key>
			<integer>21041</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ufw/iptables/after.rules</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>c1be61c17e850ea16dc5a02be22e0ec79b631904c2383353da360bce2dfc6b64</string>
			<key>size</key>
			<integer>1004</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ufw/iptables/after6.rules</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>ee5f2e14d2ae6c33ffac9614dfc6035f33a1faae94542751738f26b2859e3e13</string>
			<key>size</key>
			<integer>915</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ufw/iptables/before.rules</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>d63bc8bb2df0d20909267b7b40cb5cc187baba6e0baf95bbf71ac14f92df8e6c</string>
			<key>size</key>
			<integer>2537</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ufw/iptables/before6.rules</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>e31099b46c2ae40afa92e90dbe5d575c438327e1a4374355872f5eb37db3307b</string>
			<key>size</key>
			<integer>6700</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ufw/iptables/user.rules</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>320f53e1ee90a7fd92f17b67f50b06b51cb20998cd52f01dbcb52e24160618bf</string>
			<key>size</key>
			<integer>307</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ufw/iptables/user6.rules</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>sha256</key>
			<string>f6696cd7741aada36ab2055dd1a9d098e23e0290ca3a67dafbbad2920e5fdf60</string>
			<key>size</key>
			<integer>107</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/ufw/supervise</string>
			<key>mtime</key>
			<integer>1602352457</integer>
			<key>target</key>
			<string>/run/runit/supervise.ufw</string>
		</dict>
	</array>
</dict>
</plist>
