<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/unzip</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/funzip</string>
			<key>mtime</key>
			<integer>1589905186</integer>
			<key>sha256</key>
			<string>ea72a166a13363dea40a8be5e522c50974d31eeeae7d4a11f35dab71a40ee156</string>
			<key>size</key>
			<integer>22592</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/unzip</string>
			<key>mtime</key>
			<integer>1589905186</integer>
			<key>sha256</key>
			<string>3f50ad7c3c4cd696afe430225757835f3d2c2556f454702aa8753abafd974ca9</string>
			<key>size</key>
			<integer>182480</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/unzipsfx</string>
			<key>mtime</key>
			<integer>1589905186</integer>
			<key>sha256</key>
			<string>6174d3f9daf390cc311b39d65cdf30a73c4591daa8efa8961fe12f59c7c32eb3</string>
			<key>size</key>
			<integer>84168</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/zipgrep</string>
			<key>mtime</key>
			<integer>1589905186</integer>
			<key>sha256</key>
			<string>d077ccd18e5719776df7f06b667bda8f7547aa5c3b9cf174c0005608e9309bb8</string>
			<key>size</key>
			<integer>2953</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/zipinfo</string>
			<key>mtime</key>
			<integer>1589905186</integer>
			<key>sha256</key>
			<string>3f50ad7c3c4cd696afe430225757835f3d2c2556f454702aa8753abafd974ca9</string>
			<key>size</key>
			<integer>182480</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/unzip/LICENSE</string>
			<key>mtime</key>
			<integer>1589905186</integer>
			<key>sha256</key>
			<string>7469b81d5d29ac4fd670f7c86ba0cb9fa34f137a2d4d5198437d92ddf918984b</string>
			<key>size</key>
			<integer>3606</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/funzip.1</string>
			<key>mtime</key>
			<integer>1589905186</integer>
			<key>sha256</key>
			<string>b3e8d8c8f0e66390245b83e17ce97f6cf5e222ef8904eaa9ab604bfe320cc0b2</string>
			<key>size</key>
			<integer>4938</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/unzip.1</string>
			<key>mtime</key>
			<integer>1589905186</integer>
			<key>sha256</key>
			<string>a9011bb4d2dee28ab4b6c4e3982f071617ed996b63e1a50b49d343a8fea7fb10</string>
			<key>size</key>
			<integer>49728</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/unzipsfx.1</string>
			<key>mtime</key>
			<integer>1589905186</integer>
			<key>sha256</key>
			<string>a9191c7e1020f3e9fc50d101ced93be727b2b7e3778f5d58a6ca1e94064ba93d</string>
			<key>size</key>
			<integer>14661</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/zipgrep.1</string>
			<key>mtime</key>
			<integer>1589905186</integer>
			<key>sha256</key>
			<string>67102368b47fc8b027b1a13d60003f8022e63fdc79afef0da88055b8e2c2a842</string>
			<key>size</key>
			<integer>3811</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/zipinfo.1</string>
			<key>mtime</key>
			<integer>1589905186</integer>
			<key>sha256</key>
			<string>367ba272d2cc22a55c4bc054a69d4c535fee2c2351b6c502fae4104979768177</string>
			<key>size</key>
			<integer>23607</integer>
		</dict>
	</array>
</dict>
</plist>
