<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/UPower/UPower.conf</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>312aa323a2d431b5970c4cbb11aff09b12b422d3b2ec0337e045f9abf575b090</string>
			<key>size</key>
			<integer>2836</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/UPower</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/rules.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1/interfaces</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1/system-services</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1/system.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/upower</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>cecc5711efa45f58a61ab598ad0f7b1cffd8333922c16be0f5634f5ebbf8f9f5</string>
			<key>size</key>
			<integer>18496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/UPowerGlib-1.0.typelib</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>fa2f184476704bf12b3291886160d7ca6248c4e30448b87232a1b3631ba71887</string>
			<key>size</key>
			<integer>12328</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/rules.d/95-upower-csr.rules</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>cdb9b7b9587d92bf115e84aea1ed5ecb7cc61a6efc7d870b2f908103bbf10823</string>
			<key>size</key>
			<integer>1621</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/rules.d/95-upower-hid.rules</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>57f7c29cb651da03d7d5b96eadbc1340bb645bd85786ef94e002ecc4a90ace8e</string>
			<key>size</key>
			<integer>8109</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/rules.d/95-upower-hidpp.rules</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>145f366fb631ac46af59a65957d77d7b7a7d41b3f3c8d2d0f15371689f15705b</string>
			<key>size</key>
			<integer>570</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/rules.d/95-upower-wup.rules</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>7ab7213b218cb017cc83686da6942d8a5f8ba662853b96f0841b3d278ba71c57</string>
			<key>size</key>
			<integer>354</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/upowerd</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>a4328736484dd726ba70d2fcef7e7af25476a7952e3be8e548f308bc04bf21ac</string>
			<key>size</key>
			<integer>252048</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1/interfaces/org.freedesktop.UPower.Device.xml</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>29f6a360dd796e9ef37f4ff1b67913c5b132e6b38572b578467c8f210ffc4729</string>
			<key>size</key>
			<integer>26908</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1/interfaces/org.freedesktop.UPower.KbdBacklight.xml</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>6cd0f669eeb876d2447171c1cf8efdc5ae8da858708746deb1cfde48671047d6</string>
			<key>size</key>
			<integer>4182</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1/interfaces/org.freedesktop.UPower.Wakeups.xml</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>b7caf70dd38ad300c6e71015c530aa60e44024efc6218210727b52d6234d7a42</string>
			<key>size</key>
			<integer>4137</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1/interfaces/org.freedesktop.UPower.xml</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>827cec3c1a0f5c84e4835d60328dd6f78ef34ad3de86418c46bc15874098ad91</string>
			<key>size</key>
			<integer>8016</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1/system-services/org.freedesktop.UPower.service</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>cf25838f455a160ba320952c8ca7d617aa0bba0034ab78c1e4e852f6b9e0a63e</string>
			<key>size</key>
			<integer>111</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1/system.d/org.freedesktop.UPower.conf</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>e657a66bc6b23b51355ca4146aa08168c962eef61e3140ea182073244fdd5875</string>
			<key>size</key>
			<integer>1555</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/upower.mo</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>44f9207490b5a050a4c423aa1f4b078bedf3e166fbbcf23f7e347ad010555fc0</string>
			<key>size</key>
			<integer>3135</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/upower.mo</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>e7db4484e274c1fd4d1fdb64e3b36f5df520ddcdf24c3e50fb423032a9b582fa</string>
			<key>size</key>
			<integer>2479</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/upower.mo</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>9f73e560f97d61504dc1921cf806ba338141833e86e48a44bc998129b445729f</string>
			<key>size</key>
			<integer>3032</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/upower.mo</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>eeb85d9e8f05db1a5b1d004782cef5e7cb36202c02b0eea1e4879c8fb62c4ff3</string>
			<key>size</key>
			<integer>2489</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/upower.1</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>304d382730e05d484c042249319176db75e2da517d115d2b2fa115c7aba2c772</string>
			<key>size</key>
			<integer>2278</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/UPower.7</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>9b22ed1c70a265e79dd561528729734c5c5a0315b99b3b90530b2d8357638b58</string>
			<key>size</key>
			<integer>1894</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/upowerd.8</string>
			<key>mtime</key>
			<integer>1604978345</integer>
			<key>sha256</key>
			<string>016be30bd9abbcd7da57e17907e936a8a9150f2d2d29d91aecf99f9c227c6412</string>
			<key>size</key>
			<integer>2065</integer>
		</dict>
	</array>
</dict>
</plist>
