<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/lsusb</string>
			<key>mtime</key>
			<integer>1603830876</integer>
			<key>sha256</key>
			<string>974ae8209b4bd52d5904d7ab8504c997e1c1a03b05ea3d7456d9ce6dc060e26f</string>
			<key>size</key>
			<integer>248088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/usb-devices</string>
			<key>mtime</key>
			<integer>1603830876</integer>
			<key>sha256</key>
			<string>374cf4b27c68b12883e363860b486b30dc5ff7e3f6d33a5fb34d1d71677f66c8</string>
			<key>size</key>
			<integer>4169</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/usbhid-dump</string>
			<key>mtime</key>
			<integer>1603830876</integer>
			<key>sha256</key>
			<string>5ae395deb9fc90b805b99afc8a5fabcaa0ef496c81659f39ef209cccc2d578ae</string>
			<key>size</key>
			<integer>30872</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/usb-devices.1</string>
			<key>mtime</key>
			<integer>1603830876</integer>
			<key>sha256</key>
			<string>7ce23a00e4911a8656f4b17886e63ef78e9455cc0fbf45a06182d8e8676ec284</string>
			<key>size</key>
			<integer>1753</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/lsusb.8</string>
			<key>mtime</key>
			<integer>1603830876</integer>
			<key>sha256</key>
			<string>153e0c282c431517027ae6014faabf435ca1c52f042a832fdba9f1e0749f5e0c</string>
			<key>size</key>
			<integer>1784</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/usbhid-dump.8</string>
			<key>mtime</key>
			<integer>1603830876</integer>
			<key>sha256</key>
			<string>97eaf2c632052c0514be116497e47df82344629be5dd0886e64ac8f7ad34ff2e</string>
			<key>size</key>
			<integer>3500</integer>
		</dict>
	</array>
</dict>
</plist>
