<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/da/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/da.ISO8859-1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/da.ISO8859-1/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/da.UTF-8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/da.UTF-8/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de.ISO8859-1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de.ISO8859-1/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de.UTF-8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de.UTF-8/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr.ISO8859-1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr.ISO8859-1/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr.UTF-8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr.UTF-8/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it.ISO8859-1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it.ISO8859-1/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it.UTF-8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it.UTF-8/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ja/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl.ISO8859-2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl.ISO8859-2/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl.UTF-8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl.UTF-8/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ru.KOI8-R</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ru.KOI8-R/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ru.UTF-8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ru.UTF-8/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/tr/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/tr.ISO8859-9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/tr.ISO8859-9/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/tr.UTF-8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/tr.UTF-8/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/vim-normal</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>59115e89702d1fed23e91aad418059896d065d3f20beecb57b4b5324299765ef</string>
			<key>size</key>
			<integer>3141088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/da/man1/vim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>af34632c68078d2683f802a56d2dc3f8a66c7e3f2da4eb39ffeeb3b808d2c9fc</string>
			<key>size</key>
			<integer>15302</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/da/man1/vimdiff.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>783907d2c14cad3fa720f074b90773fec0867552a29f0e4ca51d6554d55b128f</string>
			<key>size</key>
			<integer>1365</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/da/man1/vimtutor.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>1126b054fff9e7365f5d4aa845b4ea415a1da22235e044ce794e2bbe36d3f243</string>
			<key>size</key>
			<integer>1346</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/da.ISO8859-1/man1/vim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>af34632c68078d2683f802a56d2dc3f8a66c7e3f2da4eb39ffeeb3b808d2c9fc</string>
			<key>size</key>
			<integer>15302</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/da.ISO8859-1/man1/vimdiff.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>783907d2c14cad3fa720f074b90773fec0867552a29f0e4ca51d6554d55b128f</string>
			<key>size</key>
			<integer>1365</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/da.ISO8859-1/man1/vimtutor.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>1126b054fff9e7365f5d4aa845b4ea415a1da22235e044ce794e2bbe36d3f243</string>
			<key>size</key>
			<integer>1346</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/da.UTF-8/man1/vim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>88784651bb82553bd49eb486d74152992d9ac84a65265c256159306b4447a8cc</string>
			<key>size</key>
			<integer>15546</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/da.UTF-8/man1/vimdiff.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>ccf2012d7cff2f23d7390732c4bc3f952311b24787d450b4b85c46060eed4b56</string>
			<key>size</key>
			<integer>1389</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/da.UTF-8/man1/vimtutor.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>18522ace79f6dddc7d26bef67e1b772dcfed8028c699f2326027c90122cffdb3</string>
			<key>size</key>
			<integer>1362</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de/man1/vim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>6a0baf3f4983f237c3db18aa113162a7f622f649b888877a28c162dc82ac32ce</string>
			<key>size</key>
			<integer>17943</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de.ISO8859-1/man1/vim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>6a0baf3f4983f237c3db18aa113162a7f622f649b888877a28c162dc82ac32ce</string>
			<key>size</key>
			<integer>17943</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de.UTF-8/man1/vim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>4354326d1d188bcfe2afdce0070f613c4aca3ec7718802922454cf65afdf4761</string>
			<key>size</key>
			<integer>18283</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr/man1/evim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>2b95e2d9eb3a2c709612c32c15fc8533c2f4365fa2ef986b53357d7349de82e2</string>
			<key>size</key>
			<integer>1959</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr/man1/vim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>9089ba6e0c3d53c2a005e5208697c58d99725778312592dbe73afea6df3d9180</string>
			<key>size</key>
			<integer>17873</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr/man1/vimdiff.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>56b4bfd6bc78b6475c24b61a140d0696d444391f6f5806bc8f92729475d0021e</string>
			<key>size</key>
			<integer>1770</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr/man1/vimtutor.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>a671ea25f7d2f0bc945cfc6c6368074a73c5c6b827bfe750df8e13330a242feb</string>
			<key>size</key>
			<integer>1720</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr/man1/xxd.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>0e0fa467e32bf95380ae6ce46f01027e687c21b73f16700b0533de99d9d8045d</string>
			<key>size</key>
			<integer>12152</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr.ISO8859-1/man1/evim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>2b95e2d9eb3a2c709612c32c15fc8533c2f4365fa2ef986b53357d7349de82e2</string>
			<key>size</key>
			<integer>1959</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr.ISO8859-1/man1/vim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>9089ba6e0c3d53c2a005e5208697c58d99725778312592dbe73afea6df3d9180</string>
			<key>size</key>
			<integer>17873</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr.ISO8859-1/man1/vimdiff.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>56b4bfd6bc78b6475c24b61a140d0696d444391f6f5806bc8f92729475d0021e</string>
			<key>size</key>
			<integer>1770</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr.ISO8859-1/man1/vimtutor.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>a671ea25f7d2f0bc945cfc6c6368074a73c5c6b827bfe750df8e13330a242feb</string>
			<key>size</key>
			<integer>1720</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr.ISO8859-1/man1/xxd.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>0e0fa467e32bf95380ae6ce46f01027e687c21b73f16700b0533de99d9d8045d</string>
			<key>size</key>
			<integer>12152</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr.UTF-8/man1/evim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>c9e9820ed81276c8702275cb7acf83efcbfcad5286b3afb5c99326f51d8fe4d6</string>
			<key>size</key>
			<integer>1993</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr.UTF-8/man1/vim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>c4e5a959ab232e452ef3f87728743f3102a78472150df5dd713a7a7492e90b15</string>
			<key>size</key>
			<integer>18244</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr.UTF-8/man1/vimdiff.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>ca8f0242c43c9a83c35b11f4eb4486ff5933a4f6bf46d1127328beadc7d67894</string>
			<key>size</key>
			<integer>1805</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr.UTF-8/man1/vimtutor.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>7d1248d33cf61851a048d7f76916079ead1174fd1b6cbce0bfa5c2348dfd585d</string>
			<key>size</key>
			<integer>1745</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr.UTF-8/man1/xxd.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>6e3215f10a81d1b174f4b0759c9e448cfe3af093b33a6f16c02eb50991620c71</string>
			<key>size</key>
			<integer>12389</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it/man1/evim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>28330a8ffd37cf731b82876e059b6318f0597e950eb7583d135c16492da3a5ba</string>
			<key>size</key>
			<integer>1620</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it/man1/vim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>8675b581b98062d9caea8aa0a53f9bca05a0a3c8f43d5a2adfca704b9d05706a</string>
			<key>size</key>
			<integer>16625</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it/man1/vimdiff.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>578b21b1787f8a979e138f752f2c3bc7ce3c7654409a44989855a85bb4a3b88c</string>
			<key>size</key>
			<integer>1338</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it/man1/vimtutor.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>e0b84f0db88c6032cd2d0651d44d40d8ac59323c12ba5e9d11f5115c5895afc3</string>
			<key>size</key>
			<integer>1558</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it/man1/xxd.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>5cc052f9e962fab9fc08dcd6e1c03108e276cd4ab52264e312bdaf8107d01d23</string>
			<key>size</key>
			<integer>11993</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it.ISO8859-1/man1/evim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>28330a8ffd37cf731b82876e059b6318f0597e950eb7583d135c16492da3a5ba</string>
			<key>size</key>
			<integer>1620</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it.ISO8859-1/man1/vim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>8675b581b98062d9caea8aa0a53f9bca05a0a3c8f43d5a2adfca704b9d05706a</string>
			<key>size</key>
			<integer>16625</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it.ISO8859-1/man1/vimdiff.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>578b21b1787f8a979e138f752f2c3bc7ce3c7654409a44989855a85bb4a3b88c</string>
			<key>size</key>
			<integer>1338</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it.ISO8859-1/man1/vimtutor.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>e0b84f0db88c6032cd2d0651d44d40d8ac59323c12ba5e9d11f5115c5895afc3</string>
			<key>size</key>
			<integer>1558</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it.ISO8859-1/man1/xxd.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>5cc052f9e962fab9fc08dcd6e1c03108e276cd4ab52264e312bdaf8107d01d23</string>
			<key>size</key>
			<integer>11993</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it.UTF-8/man1/evim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>e661466e78c0bcfeafb8e576186f0747a76ccd2eb9efa9a6c2659d21e49d545d</string>
			<key>size</key>
			<integer>1628</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it.UTF-8/man1/vim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>0d246a959c33e42c20cbc90c1cb87bbfe62fd7911051a1a9273577200222cf6a</string>
			<key>size</key>
			<integer>16700</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it.UTF-8/man1/vimdiff.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>77451681232f71675fb0df86daa9c1e052f414ae54fcde4411f04a0f3829987b</string>
			<key>size</key>
			<integer>1347</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it.UTF-8/man1/vimtutor.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>c9c8439240731bfedbf8b939cdaf67e8a8775b227e57e725beefc390be29baab</string>
			<key>size</key>
			<integer>1570</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it.UTF-8/man1/xxd.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>bf19914687fb25088ae4515e147961ce77cbd0a663c39ed0b4fbb3cb43dad74b</string>
			<key>size</key>
			<integer>12021</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ja/man1/evim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>099f913e2432fc5fb303b88c45d2b7940fc3a6946983fe309b80a52b4c219345</string>
			<key>size</key>
			<integer>1829</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ja/man1/vim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>7d75096977990bad7c5f2b3faa190881b6bca470065885cd4d6de0e25a58bb92</string>
			<key>size</key>
			<integer>20188</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ja/man1/vimdiff.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>e70863d4d6f7a6e1e0c77cd8ada12256a74fc44161500e591298e924c61db9b8</string>
			<key>size</key>
			<integer>1691</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ja/man1/vimtutor.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>044a6964237da0fd8b96bd2ca49bee5eee78ba696ba3529a93663f8d4859f981</string>
			<key>size</key>
			<integer>1659</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ja/man1/xxd.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>560a22a571eb7bbd2d30cb3b2013c5a719c404a67e967cf963a34cf1ae4d76ac</string>
			<key>size</key>
			<integer>12761</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl/man1/evim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>0e437e2775eeb4da01be1650e359f58b2b545fdbf2824df0aee8d4d826981332</string>
			<key>size</key>
			<integer>1444</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl/man1/vim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>b2bd89d3c100db696611e7ad45adec1844992fca828524ee10f85de0ec568024</string>
			<key>size</key>
			<integer>15534</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl/man1/vimdiff.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>cfd56706cf2bce0e12c7a50bb757ad0dcf75b60cc83c939d9fbaa96b04da4660</string>
			<key>size</key>
			<integer>1282</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl/man1/vimtutor.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>519477fdd1667c009c864217021e07199a99102bdf625b23eebb51f871f476ed</string>
			<key>size</key>
			<integer>1352</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl/man1/xxd.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>fc190e9bfd43f79f5aace3414687d494860675bef32e7a0fb964365db37a2240</string>
			<key>size</key>
			<integer>10412</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl.ISO8859-2/man1/evim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>0e437e2775eeb4da01be1650e359f58b2b545fdbf2824df0aee8d4d826981332</string>
			<key>size</key>
			<integer>1444</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl.ISO8859-2/man1/vim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>b2bd89d3c100db696611e7ad45adec1844992fca828524ee10f85de0ec568024</string>
			<key>size</key>
			<integer>15534</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl.ISO8859-2/man1/vimdiff.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>cfd56706cf2bce0e12c7a50bb757ad0dcf75b60cc83c939d9fbaa96b04da4660</string>
			<key>size</key>
			<integer>1282</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl.ISO8859-2/man1/vimtutor.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>519477fdd1667c009c864217021e07199a99102bdf625b23eebb51f871f476ed</string>
			<key>size</key>
			<integer>1352</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl.ISO8859-2/man1/xxd.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>fc190e9bfd43f79f5aace3414687d494860675bef32e7a0fb964365db37a2240</string>
			<key>size</key>
			<integer>10412</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl.UTF-8/man1/evim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>6928363ca28af5f9c84ca9231fab6b39fbaddf45533cf99696866b77fe38f6ba</string>
			<key>size</key>
			<integer>1500</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl.UTF-8/man1/vim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>82dfd144f81fda8862b372091bd0ac954aa201183257a4c2c0979b53213303bd</string>
			<key>size</key>
			<integer>16149</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl.UTF-8/man1/vimdiff.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>54f6f9b6b82a8d354f35e42889529edf8dcbbd8eae59180c0f982c3731b1464f</string>
			<key>size</key>
			<integer>1337</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl.UTF-8/man1/vimtutor.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>a53d8332423cf8d2e66ab230501dc117c68b14749388c78551f1297d041be757</string>
			<key>size</key>
			<integer>1387</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl.UTF-8/man1/xxd.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>e06bf4a352c7c543910a57d3c9798f3e01645471b5d8da82bcc86b394a7f71d8</string>
			<key>size</key>
			<integer>10750</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ru.KOI8-R/man1/evim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>e04c918ebb85e06b9b502f69bfe86c1307afa13340a48f26d986abdc243ca812</string>
			<key>size</key>
			<integer>1885</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ru.KOI8-R/man1/vim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>77aa3704332517d892f867aec45d3c2b970cf4eb6068262ada923caff781f766</string>
			<key>size</key>
			<integer>14987</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ru.KOI8-R/man1/vimdiff.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>e0c81e336f133ede25014abdbef70e82cc50fd3ccee48b2a64010b2c8696196a</string>
			<key>size</key>
			<integer>1736</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ru.KOI8-R/man1/vimtutor.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>768d534790f3b455760be011a1231166a810eec069a290c5aeb2d037f4aecdd4</string>
			<key>size</key>
			<integer>1446</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ru.KOI8-R/man1/xxd.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>48020b6b11bea86ab4f8ac67ba683d62ab599b79c624456b8bf296c4c7a073b2</string>
			<key>size</key>
			<integer>12987</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ru.UTF-8/man1/evim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>b81a2e17f8aaa846031a1eb3bfc601317ba183012927dddac9d8665d7c852124</string>
			<key>size</key>
			<integer>3154</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ru.UTF-8/man1/vim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>c1453b48c065972dc726946ebb665ffd8d56eda8976874340b4009b2631cd282</string>
			<key>size</key>
			<integer>24638</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ru.UTF-8/man1/vimdiff.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>49afdf21ec72bc53a3d6fbbf93cb561fc26c4895b5a2edd4e028a184efb4d7fc</string>
			<key>size</key>
			<integer>2940</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ru.UTF-8/man1/vimtutor.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>181717ae68a5ac208342a3c943edbf790f771c1c7aaf54d27b73f4bab42830da</string>
			<key>size</key>
			<integer>2269</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ru.UTF-8/man1/xxd.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>8603077d5002da775c7545b45182cadb8c9a1749fdcb435c947f4789f8f084a4</string>
			<key>size</key>
			<integer>20609</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/tr/man1/evim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>1ac377c5bc4b100df0527eb82362213aab4c90ff4ac71fd692b8e5b287251c35</string>
			<key>size</key>
			<integer>1550</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/tr/man1/vim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>7edd2b5a961909509221cd6a7b3e1ff6770072d6c5972f67b155f70232ff0565</string>
			<key>size</key>
			<integer>15556</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/tr/man1/vimdiff.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>54c522ad37a1d1ac50edc4d933a8b6114451cabb0cf1b8c843cdd71c471a2a0a</string>
			<key>size</key>
			<integer>1281</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/tr/man1/vimtutor.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>d0849a83598d25bf11fc333464d4eae56ec5951ec32ad6bad171c6d1d0710f3d</string>
			<key>size</key>
			<integer>1319</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/tr.ISO8859-9/man1/evim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>1ac377c5bc4b100df0527eb82362213aab4c90ff4ac71fd692b8e5b287251c35</string>
			<key>size</key>
			<integer>1550</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/tr.ISO8859-9/man1/vim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>7edd2b5a961909509221cd6a7b3e1ff6770072d6c5972f67b155f70232ff0565</string>
			<key>size</key>
			<integer>15556</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/tr.ISO8859-9/man1/vimdiff.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>54c522ad37a1d1ac50edc4d933a8b6114451cabb0cf1b8c843cdd71c471a2a0a</string>
			<key>size</key>
			<integer>1281</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/tr.ISO8859-9/man1/vimtutor.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>d0849a83598d25bf11fc333464d4eae56ec5951ec32ad6bad171c6d1d0710f3d</string>
			<key>size</key>
			<integer>1319</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/tr.UTF-8/man1/evim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>0a08d88e0a8401181b2690f5dd94bcf3d83e64fd9ac8aa22eb5d5f1cc46d092d</string>
			<key>size</key>
			<integer>1674</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/tr.UTF-8/man1/vim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>fa02867ea88eaa5e44dd370eb396a67c46ebed8420deaec40986eb10102a3ec0</string>
			<key>size</key>
			<integer>16704</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/tr.UTF-8/man1/vimdiff.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>2d86122945e98262468b51d6811207b905cbea98345a7002a9ddb8426411c4a7</string>
			<key>size</key>
			<integer>1408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/tr.UTF-8/man1/vimtutor.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>sha256</key>
			<string>8907e461c7beddf12ef086576b7ad1868cd10abfd7c973b5e8937f88d8d62c97</string>
			<key>size</key>
			<integer>1412</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/share/man/da/man1/rvim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/da/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/da/man1/rvim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/da/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/da/man1/vim-ex.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/da/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/da/man1/vim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/da/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/da.ISO8859-1/man1/rvim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/da.ISO8859-1/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/da.ISO8859-1/man1/rvim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/da.ISO8859-1/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/da.ISO8859-1/man1/vim-ex.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/da.ISO8859-1/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/da.ISO8859-1/man1/vim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/da.ISO8859-1/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/da.UTF-8/man1/rvim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/da.UTF-8/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/da.UTF-8/man1/rvim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/da.UTF-8/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/da.UTF-8/man1/vim-ex.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/da.UTF-8/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/da.UTF-8/man1/vim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/da.UTF-8/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de/man1/rvim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/de/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de/man1/rvim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/de/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de/man1/vim-ex.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/de/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de/man1/vim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/de/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de.ISO8859-1/man1/rvim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/de.ISO8859-1/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de.ISO8859-1/man1/rvim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/de.ISO8859-1/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de.ISO8859-1/man1/vim-ex.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/de.ISO8859-1/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de.ISO8859-1/man1/vim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/de.ISO8859-1/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de.UTF-8/man1/rvim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/de.UTF-8/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de.UTF-8/man1/rvim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/de.UTF-8/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de.UTF-8/man1/vim-ex.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/de.UTF-8/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/de.UTF-8/man1/vim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/de.UTF-8/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr/man1/rvim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/fr/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr/man1/rvim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/fr/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr/man1/vim-ex.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/fr/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr/man1/vim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/fr/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr.ISO8859-1/man1/rvim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/fr.ISO8859-1/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr.ISO8859-1/man1/rvim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/fr.ISO8859-1/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr.ISO8859-1/man1/vim-ex.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/fr.ISO8859-1/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr.ISO8859-1/man1/vim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/fr.ISO8859-1/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr.UTF-8/man1/rvim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/fr.UTF-8/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr.UTF-8/man1/rvim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/fr.UTF-8/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr.UTF-8/man1/vim-ex.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/fr.UTF-8/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/fr.UTF-8/man1/vim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/fr.UTF-8/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it/man1/rvim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/it/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it/man1/rvim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/it/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it/man1/vim-ex.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/it/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it/man1/vim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/it/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it.ISO8859-1/man1/rvim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/it.ISO8859-1/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it.ISO8859-1/man1/rvim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/it.ISO8859-1/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it.ISO8859-1/man1/vim-ex.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/it.ISO8859-1/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it.ISO8859-1/man1/vim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/it.ISO8859-1/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it.UTF-8/man1/rvim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/it.UTF-8/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it.UTF-8/man1/rvim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/it.UTF-8/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it.UTF-8/man1/vim-ex.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/it.UTF-8/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/it.UTF-8/man1/vim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/it.UTF-8/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ja/man1/rvim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/ja/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ja/man1/rvim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/ja/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ja/man1/vim-ex.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/ja/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ja/man1/vim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/ja/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl/man1/rvim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/pl/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl/man1/rvim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/pl/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl/man1/vim-ex.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/pl/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl/man1/vim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/pl/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl.ISO8859-2/man1/rvim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/pl.ISO8859-2/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl.ISO8859-2/man1/rvim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/pl.ISO8859-2/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl.ISO8859-2/man1/vim-ex.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/pl.ISO8859-2/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl.ISO8859-2/man1/vim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/pl.ISO8859-2/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl.UTF-8/man1/rvim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/pl.UTF-8/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl.UTF-8/man1/rvim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/pl.UTF-8/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl.UTF-8/man1/vim-ex.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/pl.UTF-8/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/pl.UTF-8/man1/vim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/pl.UTF-8/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ru.KOI8-R/man1/rvim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/ru.KOI8-R/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ru.KOI8-R/man1/rvim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/ru.KOI8-R/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ru.KOI8-R/man1/vim-ex.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/ru.KOI8-R/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ru.KOI8-R/man1/vim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/ru.KOI8-R/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ru.UTF-8/man1/rvim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/ru.UTF-8/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ru.UTF-8/man1/rvim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/ru.UTF-8/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ru.UTF-8/man1/vim-ex.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/ru.UTF-8/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/ru.UTF-8/man1/vim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/ru.UTF-8/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/tr/man1/rvim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/tr/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/tr/man1/rvim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/tr/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/tr/man1/vim-ex.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/tr/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/tr/man1/vim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/tr/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/tr.ISO8859-9/man1/rvim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/tr.ISO8859-9/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/tr.ISO8859-9/man1/rvim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/tr.ISO8859-9/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/tr.ISO8859-9/man1/vim-ex.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/tr.ISO8859-9/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/tr.ISO8859-9/man1/vim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/tr.ISO8859-9/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/tr.UTF-8/man1/rvim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/tr.UTF-8/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/tr.UTF-8/man1/rvim.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/tr.UTF-8/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/tr.UTF-8/man1/vim-ex.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/tr.UTF-8/man1/vim.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/tr.UTF-8/man1/vim-view.1</string>
			<key>mtime</key>
			<integer>1613307463</integer>
			<key>target</key>
			<string>/usr/share/man/tr.UTF-8/man1/vim.1</string>
		</dict>
	</array>
</dict>
</plist>
