<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/devices</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/domain</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/install</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/virt-clone</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>3ce844a6c0c2663d764a21f7602f70f62ddfbb898d86e719955bbcd27756ceb0</string>
			<key>size</key>
			<integer>138</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/virt-install</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>895f851fbe9b81dde2bcebd0ca3c141561eda381adfbe6982c1385e998d9dee0</string>
			<key>size</key>
			<integer>142</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/virt-xml</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>b7f1e51dacf2006931f908a4a35d280e78a78058c1f669254f81e81b6846b729</string>
			<key>size</key>
			<integer>134</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/virt-clone</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>36a4e3b8d5ac0364e296d03a4f86fbc8018178d663823e09de28bf515bed3268</string>
			<key>size</key>
			<integer>1135</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/virt-install</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>a22df7ff2cbe09ccdc94891730cad0df7cbf0fc979fcab385210325b69232b44</string>
			<key>size</key>
			<integer>1137</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/virt-xml</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>728fac2cb272253782ae70ee03de3ba295c392186fd8d480478847d1ee0cae7c</string>
			<key>size</key>
			<integer>1133</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/virt-clone.1</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>c677e13ceb5f9d6892d6c8a792b56751fd35122e8509634d0dd6a0f909d9277b</string>
			<key>size</key>
			<integer>7917</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/virt-install.1</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>12c8bcbcfba7bea3f8ad67ddfd7786bee6d0324eb621d056d6c894722e69499d</string>
			<key>size</key>
			<integer>71539</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/virt-xml.1</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>5432ca63e59c5b8499128f691d85eaba58afe8b0a13df7da3d500f9133914f1c</string>
			<key>size</key>
			<integer>16213</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/__init__.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>0ba41b8dafe4b871b89349a504af6f193313c0a0df709d872129c2ef0f1c8c1d</string>
			<key>size</key>
			<integer>1733</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/buildconfig.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>e57b6d5659134e2838c71354d2f92f0f8d82f6988a530c8eb928052e17fbd741</string>
			<key>size</key>
			<integer>2429</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/capabilities.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>a1bd78067863ea4549413e4f24475345ee1d5268e68bb9dfd39086127bbd83fa</string>
			<key>size</key>
			<integer>10219</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/cli.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>337c42d4ed8d04a4aa718fd470207bf12b08fe522bf83fd5b207da62e61132a8</string>
			<key>size</key>
			<integer>153683</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/cloner.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>d8986b94fe9984b57a6838dec15259e6039e601c559652baf8afc9d67b12b611</string>
			<key>size</key>
			<integer>18983</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/connection.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>d3d65c049ee624940773f5de2868d2181cfb520d5a4cd4ff75439d71e1d8d5e3</string>
			<key>size</key>
			<integer>12873</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/devices/__init__.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>2f2c1b8c05df7443e7c58f334a7b565578b79adf886aaf8bb8cb8f81458c9c69</string>
			<key>size</key>
			<integer>957</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/devices/char.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>fdb8b19155f5aa973f284c379c36fcc88297ba8bd79ca0c715cda747348c453d</string>
			<key>size</key>
			<integer>5037</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/devices/controller.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>3773b9620a7966b6117b1cfc806fcdaee28b74a14dcac96e1128064563b2734b</string>
			<key>size</key>
			<integer>3516</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/devices/device.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>f29947c6e9dfa2a45fa40f8ec8fc2b2684daa669a5d26da98c96eee53d2a2726</string>
			<key>size</key>
			<integer>6345</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/devices/disk.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>de59c78ca665650aeeb11e8b2f2da14824ceab5a9f50aaf10670becb9eae3e8f</string>
			<key>size</key>
			<integer>33436</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/devices/filesystem.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>46c970cafe58347e152db9951365139ddf67efb74339912c173d9ffacf2629ba</string>
			<key>size</key>
			<integer>4726</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/devices/graphics.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>394799d8c44138d46a0ae3cdbc445aff10dc0a6a60e5c57d60d54ec49936daf4</string>
			<key>size</key>
			<integer>6700</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/devices/hostdev.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>f7806367161b49dae12787a232f1295da8cae572b6fde1285e743b86c835f6a7</string>
			<key>size</key>
			<integer>3417</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/devices/input.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>2c84379ce2ba07e7627ea8334123039417b28dd38ce74fbf34e4afd318519ae5</string>
			<key>size</key>
			<integer>950</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/devices/interface.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>db2df0da13d1f2736384f2bb2e54bc0a98ec635d2c3eb7a556161586c1571ccc</string>
			<key>size</key>
			<integer>8982</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/devices/iommu.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>b1e8ad2f13139a3ceceeb4fd20d2b6238ee8d0423605c135e8cc58c350e970bc</string>
			<key>size</key>
			<integer>1174</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/devices/memballoon.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>6a8b319de19d7c0337d9cf3211133af521a32dbfc6380a969d2a24bf533e3a51</string>
			<key>size</key>
			<integer>619</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/devices/memory.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>c812105dac61c6ed3a695a120a0a7d98643690a24efe68ac46ecdd553815175f</string>
			<key>size</key>
			<integer>1111</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/devices/panic.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>4186aaa8982c9ded0a855ac34e7e32b20af38cf1cbcd4d9fe66b61a54be7892d</string>
			<key>size</key>
			<integer>1253</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/devices/redirdev.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>888f19302cccead7736cb8bf6103b13335a6aa5df2cf3e776e3b86c78f8d2825</string>
			<key>size</key>
			<integer>712</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/devices/rng.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>11d8768040aceaf8320e5c97fd9bc6d8820d3d93b475f2abb0bcafaeaeb4eb83</string>
			<key>size</key>
			<integer>936</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/devices/smartcard.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>562a996b531f6386caafb5fc45205cbec18d1d2b6db2df838db744c092f25c55</string>
			<key>size</key>
			<integer>1019</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/devices/sound.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>56252bb4a4bfed146534ececbebd0b86944cd78016b13ebccc304647ac5dec54</string>
			<key>size</key>
			<integer>843</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/devices/tpm.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>0389bba735056ca0b7cce025eb124bc7ab9c532e3d965572a4a07623a10cd2be</string>
			<key>size</key>
			<integer>1210</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/devices/video.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>98d8e516d8467d1f53a6c5febc745d74b3fe9e2ba7801014ed5c87e214a5386d</string>
			<key>size</key>
			<integer>1608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/devices/vsock.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>7fe5707c4aa7119a1dc37cdd30ebfa1ad322ab95b37a9c518498895ce50a4e21</string>
			<key>size</key>
			<integer>662</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/devices/watchdog.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>a8540a09cb71a86774247bde13131e528578a35b0d3757eb695ae245d3de0165</string>
			<key>size</key>
			<integer>1094</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/diskbackend.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>4e87bd1e2b892be4f8a8963340fcf58b21bf1cd29a2b89c4e3ecaac9f18953fd</string>
			<key>size</key>
			<integer>24451</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/domain/__init__.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>4bbda44230e6079d6576fc888e4e78b0f26ae541524accdbe41dc65aa7199efe</string>
			<key>size</key>
			<integer>836</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/domain/blkiotune.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>3f91a0871ccb2967bd18a1bee3a4ccb05713f7e5a072f33d323722c5b6642cea</string>
			<key>size</key>
			<integer>951</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/domain/clock.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>f17b7672a81c6264dcfe21ce780a9cac8af68e753242877e96cdc24f6cecd78a</string>
			<key>size</key>
			<integer>2218</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/domain/cpu.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>99d5585fd34cad2964856b46ba8c758ff71fd461484f0a5989dbbd4e7c89a2d9</string>
			<key>size</key>
			<integer>10738</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/domain/cputune.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>737a96c95577c0a1e6b1215c9a928e9cde6d4613745e95e79ef508c270b23e5d</string>
			<key>size</key>
			<integer>1938</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/domain/features.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>86d79cf69352a2bfff8c454481ecf3fcdf32831cfc514da4a336979991e2a1c6</string>
			<key>size</key>
			<integer>3089</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/domain/idmap.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>d6e9842dab23dd85590bac9a022cfa58632f69b8fde88dee2f3285df111ade4c</string>
			<key>size</key>
			<integer>827</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/domain/keywrap.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>021244c074cd680fc678c86a68252df5b27207be32e85608a3770c555aaedcdb</string>
			<key>size</key>
			<integer>404</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/domain/launch_security.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>a4ec71c69d7c3870743e091260b6eab8a13ea9ae0486c586acd989f0bed7de46</string>
			<key>size</key>
			<integer>2257</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/domain/memorybacking.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>bad1fa819cd57d88954d5cb6e6a42c7db2a038f582e1987967772422ce98f80a</string>
			<key>size</key>
			<integer>1164</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/domain/memtune.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>2da48729846486dcdd8c8c35f5eabd4541acb07a003ae0e4ccbeec6b3d1aa894</string>
			<key>size</key>
			<integer>704</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/domain/metadata.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>8de842360344c649b4c29aee9df0008a2d99b1eb3cb169b825249502aa00f1bf</string>
			<key>size</key>
			<integer>615</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/domain/numatune.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>ccd577734bda65fdd9ca2446f981d15bc3c782ce7f38558cae1466a237f4a91e</string>
			<key>size</key>
			<integer>857</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/domain/os.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>5da11c0553120bfb9c931727887d473e524018895d26036d7863eaa97b710895</string>
			<key>size</key>
			<integer>4232</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/domain/pm.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>c6de5640dc0daa007e06a4eda68224a212a3d5714963b1c9e07622064e344e02</string>
			<key>size</key>
			<integer>1161</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/domain/resource.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>70b32714e296e9b81c5e04f197cf23600c2df4e93c30cf0292a756dbb816e444</string>
			<key>size</key>
			<integer>439</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/domain/seclabel.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>c6dbab3045793da0d6a454b5df121928498ab6bd00e120aed38b41e2f1636ca6</string>
			<key>size</key>
			<integer>1624</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/domain/sysinfo.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>d061b91f18219d85d7cbdee3445a7ab879af834b09e5722a105a0a35971e6532</string>
			<key>size</key>
			<integer>2853</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/domain/vcpus.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>ea08400b5085942193ec3146c89b578ba6b87b5121b1019ad74ce505e101657a</string>
			<key>size</key>
			<integer>692</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/domain/xmlnsqemu.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>1ddc85c2ea0ce57d3e3d9a848d46d5dfa63a08462487a2539fb8baf308711c36</string>
			<key>size</key>
			<integer>792</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/domcapabilities.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>eaa187a06d8a95a962d6995071a5c9b9ad64f6ca6f01a8e6a4796922fbc70269</string>
			<key>size</key>
			<integer>10978</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/generatename.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>dfd917a77c4b7101adfca233f351efda03741076dd2331e00c03e03c4d237210</string>
			<key>size</key>
			<integer>1952</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/guest.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>e81bc9995d18e3c18f2a617607e2924b7c3898b91ff689f15f310f3d4dae4c87</string>
			<key>size</key>
			<integer>35978</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/install/__init__.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/install/cloudinit.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>2226e327100dd8dfa449557d8f6df63393cd815d5a0b3206c75d3010832dba8e</string>
			<key>size</key>
			<integer>3553</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/install/installer.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>6e4eb81c601f178b9bea5029687b8204916b9ad05f4c634d1f603043a80a4efc</string>
			<key>size</key>
			<integer>26014</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/install/installerinject.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>f1df59b0f6b644152f0a8b1b45574c19d3879f98f58d3cde4fa1a9d6c0bc169e</string>
			<key>size</key>
			<integer>3755</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/install/installertreemedia.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>53b03a4e465c7efffcb04b62fd7e3c8a242b8ae75e9adf7f11ee136fb6cb5c9a</string>
			<key>size</key>
			<integer>11253</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/install/unattended.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>80346b69c9515ae30a3f5e2595105de23eae204c6329e74c027def8d88744b13</string>
			<key>size</key>
			<integer>14771</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/install/urldetect.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>88ccc9f4f86ff91928e53f4a13aceb976b4e0b5efcc131bfa68bc2ae8070751e</string>
			<key>size</key>
			<integer>30164</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/install/urlfetcher.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>6e3b49a3a9cccd24474f40ee7349ee8e8956284451d41de6ee520f2b7dde6b07</string>
			<key>size</key>
			<integer>10610</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/install/volumeupload.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>885556faa1a89d101348179ac283d4bb438219cf8a442e2b6330d31ddf434610</string>
			<key>size</key>
			<integer>4173</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/logger.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>9647367eeacabaf41a85c87bf62add4d157030428d404b845defa2903bd26732</string>
			<key>size</key>
			<integer>536</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/network.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>9c4d936803387a57353c9e886513c8fd0b84dc36d3a81195491d543ead4e56ec</string>
			<key>size</key>
			<integer>3103</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/nodedev.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>3bfcf7a28ecb231469c84a31a3a0f467d1721eff4417f28bb228085c738f8700</string>
			<key>size</key>
			<integer>7351</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/osdict.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>c4b22ad590d6212fc62f184235a596332db0c9d141b381f5e00d541174d9f44d</string>
			<key>size</key>
			<integer>24869</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/pollhelpers.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>f266f61e5dac174fe78d948caef6839aa8107f9b55ce7d3d5f536797ad10a304</string>
			<key>size</key>
			<integer>2105</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/progress.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>25bec480b2747623b5d7c661caea696def150559809cbd5dbb20a477c2436686</string>
			<key>size</key>
			<integer>17862</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/snapshot.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>f743c4cef5dbb7c8f43f0ceaa340acff33233e5caad3a29c925fd4af31a23ce8</string>
			<key>size</key>
			<integer>819</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/storage.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>77037bbbab8556da67915306f690a0e125e6c170cda4315ebf59404aaa9ad829</string>
			<key>size</key>
			<integer>24823</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/support.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>2686a0fb7a243483e43a10c4e9cfe3ca45f322a3026d120dfffb3c80e532efae</string>
			<key>size</key>
			<integer>11819</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/uri.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>0348d58254a3f7773e3309a8ad9feccd7147ad3dcdce425af6580bb989e7981a</string>
			<key>size</key>
			<integer>6720</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/virtclone.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>98d12e0d642e1e14bfe3b629b47507143775340b0c2b1dd631806da3797e553f</string>
			<key>size</key>
			<integer>7734</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/virtinstall.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>80f21e719419d9a8c1395507cf54542cdfc87b9e1b3b55516e1fcc5ab127c550</string>
			<key>size</key>
			<integer>38737</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/virtxml.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>bea41b58595ecb3c782400c57503b13de0b586e03f6aaa28f344b09a24b8e69f</string>
			<key>size</key>
			<integer>18681</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/xmlapi.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>a1adc1703def9ded1ce33e72d5b4240d9454feccb6a9eba58baef5039cf208ff</string>
			<key>size</key>
			<integer>13876</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/xmlbuilder.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>ecf548b0f36acca99eadc0804a8819d34dff34b559a98279098a5f5651fccd16</string>
			<key>size</key>
			<integer>28976</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/virt-manager/virtinst/xmlutil.py</string>
			<key>mtime</key>
			<integer>1605550337</integer>
			<key>sha256</key>
			<string>16d0291d27bc21be974f0644eebc07664680bc2c4e36cab3dd144f63ece29e6c</string>
			<key>size</key>
			<integer>1936</integer>
		</dict>
	</array>
</dict>
</plist>
