<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/vsv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/vsv</string>
			<key>mtime</key>
			<integer>1606399089</integer>
			<key>sha256</key>
			<string>c791bc10bd0ee1feeef249f52abc7bd67c066562a807d6d40d8f36a7cef4257b</string>
			<key>size</key>
			<integer>12980</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/vsv/LICENSE</string>
			<key>mtime</key>
			<integer>1606399089</integer>
			<key>sha256</key>
			<string>94767aeaadfc9a110694d83abd9c30573e2409a5a2c936bbc6d1a2e3686de56f</string>
			<key>size</key>
			<integer>1096</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/vsv.8</string>
			<key>mtime</key>
			<integer>1606399089</integer>
			<key>sha256</key>
			<string>b7c3434ad598b763d6956ccd6d4de16a26ec7276af28ca68357f6ce2c5661cae</string>
			<key>size</key>
			<integer>3106</integer>
		</dict>
	</array>
</dict>
</plist>
