<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/wayland</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libwayland-client.so.0.3.0</string>
			<key>mtime</key>
			<integer>1612145423</integer>
			<key>sha256</key>
			<string>15f516007e939ef27efd1c5f4101d970e6cf9de3d933615e1e9ad33fc9e3283c</string>
			<key>size</key>
			<integer>60176</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libwayland-cursor.so.0.0.0</string>
			<key>mtime</key>
			<integer>1612145423</integer>
			<key>sha256</key>
			<string>7839a0c2781406788b1aaf50672756d21c7c0b7c21d02e5c57f7de7cc226e0de</string>
			<key>size</key>
			<integer>30824</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libwayland-egl.so.1.0.0</string>
			<key>mtime</key>
			<integer>1612145423</integer>
			<key>sha256</key>
			<string>81aa651e9e5ce89f4574cb81f697e0219bae3c21599c8c4acc1a384722903bac</string>
			<key>size</key>
			<integer>14176</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libwayland-server.so.0.1.0</string>
			<key>mtime</key>
			<integer>1612145423</integer>
			<key>sha256</key>
			<string>9ed239488a0c486b7fd441b3391c21502c3fd5af03529e6aca6dd1db3f3e7dc3</string>
			<key>size</key>
			<integer>80688</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/wayland/COPYING</string>
			<key>mtime</key>
			<integer>1612145423</integer>
			<key>sha256</key>
			<string>6eefcb023622a463168a5c20add95fd24a38c7482622a9254a23b99b7c153061</string>
			<key>size</key>
			<integer>1340</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libwayland-client.so.0</string>
			<key>mtime</key>
			<integer>1612145423</integer>
			<key>target</key>
			<string>/usr/lib/libwayland-client.so.0.3.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libwayland-cursor.so.0</string>
			<key>mtime</key>
			<integer>1612145423</integer>
			<key>target</key>
			<string>/usr/lib/libwayland-cursor.so.0.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libwayland-egl.so.1</string>
			<key>mtime</key>
			<integer>1612145423</integer>
			<key>target</key>
			<string>/usr/lib/libwayland-egl.so.1.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libwayland-server.so.0</string>
			<key>mtime</key>
			<integer>1612145423</integer>
			<key>target</key>
			<string>/usr/lib/libwayland-server.so.0.1.0</string>
		</dict>
	</array>
</dict>
</plist>
