<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/webkit2gtk-4.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/webkit2gtk-4.0/injected-bundle</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/webkit2gtk-4.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/webkit2gtk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_CA</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_CA/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/WebKitWebDriver</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>eb217a32eaadaa7637a67ab3d03ce0717e866895b1d8c82c3c4da8de4260ea71</string>
			<key>size</key>
			<integer>944392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/JavaScriptCore-4.0.typelib</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>816450469450fd51fff24921b5b53dd05ac063416618c3cbe289b0eebb1105d4</string>
			<key>size</key>
			<integer>16336</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/WebKit2-4.0.typelib</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>2922ba4e396800e4f1b7bf0e35ee2e5bb7db4b712f4ea78bc72e04e162a64473</string>
			<key>size</key>
			<integer>126912</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/WebKit2WebExtension-4.0.typelib</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>7a5b207fe1a983f57621c3ea94f19686755ec1341fe679e558c0d83b7c1c06e9</string>
			<key>size</key>
			<integer>176816</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libjavascriptcoregtk-4.0.so.18.17.13</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>7cfaf7357742a3736e7fceb7a70b463d15a6ce4df56a403c15af1384f9b25d7a</string>
			<key>size</key>
			<integer>24086376</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libwebkit2gtk-4.0.so.37.49.9</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>2e1b967725c147990e3cbb3b09d12ae3ffb6bd37facab03c2f916cbed5f67c19</string>
			<key>size</key>
			<integer>53743648</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/webkit2gtk-4.0/injected-bundle/libwebkit2gtkinjectedbundle.so</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>c02bb17a88b5e0eb9e42490ce3ac83cfae98778144e4775b509aada1cb6f6b81</string>
			<key>size</key>
			<integer>809088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/webkit2gtk-4.0/MiniBrowser</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>43afcb5709bdaa77a1737d0b7670f3d237eb0dfdd0efeab68d6efd5c87852991</string>
			<key>size</key>
			<integer>141992</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/webkit2gtk-4.0/WebKitNetworkProcess</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>505219a5781bf4a9155f03a4bef6f13bd10165c2dc374062aee4eef0c2aca586</string>
			<key>size</key>
			<integer>772368</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/webkit2gtk-4.0/WebKitPluginProcess</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>3e417254f2bb05032854b3287d0a73188fb202ec5d65f94d5b5a139786e19925</string>
			<key>size</key>
			<integer>772360</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/webkit2gtk-4.0/WebKitWebProcess</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>61099a9659a663de29d2a8b7ce057a79eacbb6328721558177e372de211fdaef</string>
			<key>size</key>
			<integer>772360</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/webkit2gtk-4.0/jsc</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>6a6367217b1f98d348af1241ccbf0d5ad029aa447254f85d452a8ce54b932827</string>
			<key>size</key>
			<integer>276616</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/webkit2gtk/LICENSE-APPLE</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>0b5d3a7cc325942567373b0ecd757d07c132e0ebd7c97bfc63f7e1a76094edb4</string>
			<key>size</key>
			<integer>1313</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/webkit2gtk/LICENSE-LGPL-2</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>7555fa34bc131a75ca56d65c40cc1ea8f9515d23e353d4c15d58573a042f7805</string>
			<key>size</key>
			<integer>25378</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/webkit2gtk/LICENSE-LGPL-2.1</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>f2b3bd09663381deb99721109d22b47af1213bb43007a8b56a06c6375c8050ce</string>
			<key>size</key>
			<integer>26536</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>49ec13aa800cbc4c7597165e613dbf8bb1f82064c9db717c82f10994333e3d59</string>
			<key>size</key>
			<integer>23529</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>e59b637e4de52f0683fbacdfee74ae028db05fa9188b08dd0ba3af8b77ec3df1</string>
			<key>size</key>
			<integer>45439</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>b3166aad17915746834f4aa42c94694ea195035402160a5d0809d5b7886a245e</string>
			<key>size</key>
			<integer>42861</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>abe2d94d749d01e7ed9d49f0121dd83cab7ade051f8d17b70a6e195b17ceddd0</string>
			<key>size</key>
			<integer>12013</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>704144d6d6de0a0596f608dead2042f0ef4cfb6e39c4b6ac8225ba7e030dad6b</string>
			<key>size</key>
			<integer>26967</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>a7982d2c23cf8f863c8cb04f8e587764a263b7c04a144cf31ed8f0829c03efd6</string>
			<key>size</key>
			<integer>41919</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>56211fc7e4c3579b0e857bef5221f52d0978c0095d15b23efe2aed8469d4a490</string>
			<key>size</key>
			<integer>44487</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>4f3e2270c1e1ac2b49f610581ec886ab979f3910fa37a5b09fa84bfc1386935e</string>
			<key>size</key>
			<integer>44125</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_CA/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>68078cb6ffc839d7dc150d6cd028d12767204213a76b71252263449964806f06</string>
			<key>size</key>
			<integer>26031</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>ea5fc229f83a9908f141d11993cbbc1c8a74e2aad1c181b680a35d2749337815</string>
			<key>size</key>
			<integer>47577</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>bca174705a1e11cd814c63fc785fb6f7e2b08b0e0de4fa49f8e958ee1462bb9f</string>
			<key>size</key>
			<integer>6855</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>afde6535c4c01dbd11669c64dbae96647f4190d836d1ee645b2fe394aa5f3a09</string>
			<key>size</key>
			<integer>37787</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>06ed413e4ae47ff9793eab9c4eeef1bdea2af87f6a6159668d15f48a6b45851d</string>
			<key>size</key>
			<integer>18395</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>d01fdd321aa07e294f8a8abb65f58e44b9f558e39db6ecdf4be8830250503bb0</string>
			<key>size</key>
			<integer>21139</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>379159520c319762f2a8a903fb86199e330994fc0dd50d323a4ffa77ffd61e31</string>
			<key>size</key>
			<integer>7412</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>90ca58f8bdca30ea95ec55bc6be222678e4dbf1795e5f36307db87c422e7a7a0</string>
			<key>size</key>
			<integer>32278</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>2350963eb1bd1e3c703e27942bd1d5b15a1de746c2d2be4ec85597478c417e00</string>
			<key>size</key>
			<integer>50524</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>dea8b6702dd8e68581fb86ee0bed448e6514fa2d78d693cfb62eabc599a64e1b</string>
			<key>size</key>
			<integer>43431</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>dca1ad044c9a79f763d4bc2135f307fe2ba05e6e714b8b93003d0112561fba50</string>
			<key>size</key>
			<integer>30707</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>36cb649768b96f1672344ee5de5294b8bca4c8db2fd43a2740d56afead29522d</string>
			<key>size</key>
			<integer>44982</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>cb7c0e600bf90c31d1565ac1f0b951db130e25bc5f634c4202c65d789ed7c206</string>
			<key>size</key>
			<integer>32942</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>159c531b0f8d733b4642cd77b35a6a00e5696cdf5db1472f90ddfa3197592cb1</string>
			<key>size</key>
			<integer>37715</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>f37ecdf416f0f7622d672b25d506860609222385c1e39a23fec4430577340dd5</string>
			<key>size</key>
			<integer>46832</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>7130f81ccb30e32641449f1bd767f5fd63f9d4e384b3b5ee2e4ff59152a0b7bf</string>
			<key>size</key>
			<integer>55907</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>cda0bff688461f7876473e702773dd2edc34f8d2f2f400d00032ce89d8cdfeee</string>
			<key>size</key>
			<integer>50128</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>88432e878dc0a7fb927ff5369128ed8f35a4e9ad32c304eca2f0b4acb852b67c</string>
			<key>size</key>
			<integer>47989</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>f857f61408b51b7e6593c897586336c77c699544131a50d3a052b4d818dabd71</string>
			<key>size</key>
			<integer>21502</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>0433394848dca07b658c5ec07c2b0cb9ba8afe950371d16ae7d68cd6ee041120</string>
			<key>size</key>
			<integer>13479</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>253fb6ff895dbd318b3aefef49a8cf24a23aed79e7aa36b10b6add6429eba841</string>
			<key>size</key>
			<integer>19101</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>db18915590441cb661a2d1c58553dfeee3784c50fd1362c7eb1c94b3086d5302</string>
			<key>size</key>
			<integer>44307</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>97421c103810d67017b41f46c9d0add3f13e6f5dbb0832650f2c6c03fcce4fd6</string>
			<key>size</key>
			<integer>5435</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>64d373cde7c99d47b09c07359a53f338d0b2e1c3b5985ad2583d3438a4a429f3</string>
			<key>size</key>
			<integer>45375</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>18edce68d22b738afc96f136a19c615103c611c07eb85a6383e423e92e760fa3</string>
			<key>size</key>
			<integer>47927</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>e62b678092de8b826e3c4e273d92f6f430e6534350a0eb3d362defbc1abe0513</string>
			<key>size</key>
			<integer>18186</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>b2b50f40c995b42580f650b4e2f11722d06e7ab3f994e1bc7150bd846ecd164b</string>
			<key>size</key>
			<integer>54400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>09620980244d00f83a0394a932d6a7a6ea641b32d94f9cf69b13369f178f68c2</string>
			<key>size</key>
			<integer>26601</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>881a04ec6211b19f6ac3dc6c4df8852499ec183c589b35f19d16dc0a38679b22</string>
			<key>size</key>
			<integer>53553</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>95f57cc1ea21e2d09d66e7f379314d943c7cc92f27de1895d379dd0e152e4189</string>
			<key>size</key>
			<integer>36101</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>71f36f3a2bfa1187c4509d396fd417e10408bac845c8672fae7ad5fecbdafbb0</string>
			<key>size</key>
			<integer>15419</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>166fcf6a14ac6937e82f683eff49c1bb3655d60b0bbffafce0388188f51d06b7</string>
			<key>size</key>
			<integer>36183</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>4b0a176bca9e2c44db74e3461570e1ff861db145207c69c207a3bb4afd8b7908</string>
			<key>size</key>
			<integer>26195</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>151c03873573df901ee5182f93a739f3b8ae291b5ad342777c3736e111ef9213</string>
			<key>size</key>
			<integer>20475</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>572f062b6a460b2d967194d7e484de0e572e21b04ec9f7abea4ef34a2056ea83</string>
			<key>size</key>
			<integer>41277</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>79484bfd6bd53b9a61beb70b8b3cee550815a28831d777b2dccbbd8e643ce2ac</string>
			<key>size</key>
			<integer>51376</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>a608abc088fea877cfa6e0be62dc654c18b81a7ecd2d48039ea9fb0dd81b7912</string>
			<key>size</key>
			<integer>46192</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>a08c82fd6632c8aa12bfffb9f991e7477fedb92e3a48fda3709e5e92ab0a0dd6</string>
			<key>size</key>
			<integer>32511</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>b51c7dd05b2e074d1f41915b4dac5d0b7dea052f488c312606665f83239f2d6c</string>
			<key>size</key>
			<integer>69512</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>891301710e57e208a232310f734643d533bcfd70bc53a4734b207091117e8848</string>
			<key>size</key>
			<integer>21119</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/WebKit2GTK-4.0.mo</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>sha256</key>
			<string>4d203703fd9397949bac16e75baa4f7d91dad00aa4782c3401135be2902f11f0</string>
			<key>size</key>
			<integer>45279</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libjavascriptcoregtk-4.0.so.18</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>target</key>
			<string>/usr/lib/libjavascriptcoregtk-4.0.so.18.17.13</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libwebkit2gtk-4.0.so.37</string>
			<key>mtime</key>
			<integer>1613503293</integer>
			<key>target</key>
			<string>/usr/lib/libwebkit2gtk-4.0.so.37.49.9</string>
		</dict>
	</array>
</dict>
</plist>
