<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/wgetrc</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>3d9ca171cd482276514ef80610717cab862fb531a3f73f4a46490e09275b5cfb</string>
			<key>size</key>
			<integer>4995</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/rw</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/rw/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/wget</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>754d9c89b89bed4551d3399c352dddb4b9ae401cd566157fbd38d0a4f0e9f6c2</string>
			<key>size</key>
			<integer>531792</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/wget.info</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>d657b820c5f6f5136cc99d4d9722e60708e48ac3800f88541ecc4a06d4075219</string>
			<key>size</key>
			<integer>233670</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>f264ff010f6ffa567775318f5209d4632ad758024f420c00c8b5fc4856657f58</string>
			<key>size</key>
			<integer>726</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>526e939fd4804437aac0a0b64e8495993ba658e1fe8ba0a29e25348192f59371</string>
			<key>size</key>
			<integer>955</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>5e76e3d406084fff740217a3ba4f5f13e83dc1a73c4b0a30f69a13b63bea0f20</string>
			<key>size</key>
			<integer>22888</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>71548d0e1867d0ec391df894c780a054d6baacdbb98fbeb84b8b3999e65bc2d5</string>
			<key>size</key>
			<integer>6521</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>e9860788cf44a49f8f4db6218b3db554240cdab9976bf2bd6eeee187053b7f04</string>
			<key>size</key>
			<integer>10160</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>64597b3ac5775ed2de15ac371e31fa6e38ce295b585e5d1d4e17e19c94ff8957</string>
			<key>size</key>
			<integer>798</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>d03f87cf402ad4fb561374a9ab448ebfe355a1cf308a479960ebb7c464e675a2</string>
			<key>size</key>
			<integer>33899</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>b9ac8e9ed663307b000805456edfe152452ef9d1557ece97144f29deb1101401</string>
			<key>size</key>
			<integer>4505</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>fa5d177f6ef03d4e03bb36bb5c10fa849f2b020db5f2aa5e39a4a28bf89e64bf</string>
			<key>size</key>
			<integer>82071</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>427da3e986348082b2962e532b01ea726d7e0acdb7f26cdf3d5e91a202a6f4bc</string>
			<key>size</key>
			<integer>4148</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>026f9b8538d6e0481a293e34a49c0a8dee9d38b20a4e9632cbd4931da0e9b4d7</string>
			<key>size</key>
			<integer>23047</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>d99b185918ee779b9f0936a4154117bc3d9cf858c683d49e6c1ca4c6520b31cd</string>
			<key>size</key>
			<integer>5081</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>b2fc3152c698b859f151dfa7802958158891699060c03a704a546fbde9f2d81a</string>
			<key>size</key>
			<integer>84356</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>fe5c5e663b18548e58af1725cf9497e10217234a23437807b124d1a0fa947c2b</string>
			<key>size</key>
			<integer>669</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>7fda1ac2f3fe07fdcfaf702dd1f60dd897d42444237592ebc3824e8a8e0018aa</string>
			<key>size</key>
			<integer>10774</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>146a5f2cd88f776dacf098a6f4468574ea6ca1fadb797adae7157d147d4e2b56</string>
			<key>size</key>
			<integer>8365</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>7a424b39cf1a3676ecb64a4f002581e00737264c175608e1532bbdcf98d49e88</string>
			<key>size</key>
			<integer>4768</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>446feed0b1960cafd84ce7292f82df96e98de4a79a30054a5e8a78ed69addebf</string>
			<key>size</key>
			<integer>76344</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>01e98c86e297294475526a8f40d025b08ed81e561a2ea9cbd4e7fdb2404fd5c1</string>
			<key>size</key>
			<integer>4391</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>b6eccf2bcc9f1063ca86e7492c6d3eaeb13a60b909dcd36a920c8988de03aa48</string>
			<key>size</key>
			<integer>68127</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>28d0d9e2779d5a2aae04cfe6f6ab4a88eebe0f947c3acfbbb007e271eefcf912</string>
			<key>size</key>
			<integer>3719</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>5775edd922c600f5c0cb2bbc40ef85ecca82265ba9e3943e64ff983eb8ebef11</string>
			<key>size</key>
			<integer>74686</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>b63e41d1dbfc6035cb7d9f3e6a922ec6d26065eb7296873b7ef6c21a47fc9d34</string>
			<key>size</key>
			<integer>684</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>19c5082894aeead6e86cbd904800576854f5b08bd76c5c9ecf7800a484137740</string>
			<key>size</key>
			<integer>9872</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>2d25631bf7030ecf91df0ad2bcc7bf4b4dc3257185abe8b35aad940ff61e888a</string>
			<key>size</key>
			<integer>4927</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>8523866b2814a98f91ddfa4286be70cf20bb79db5f4f83cd92f594ef2fc4caf5</string>
			<key>size</key>
			<integer>60734</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>defcd85c329271d4cdd519aa958f96be8ed332233af91a8cbce8e5435ab72f6e</string>
			<key>size</key>
			<integer>5118</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>b2fcb3001248e296b874299eb82076b5cf47289df862daa5da5eb5ae8eb86050</string>
			<key>size</key>
			<integer>82488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>6fedc414b882e530645d1e8ecb7d0b0a6f71ab751f7d19b2ea267afa23fa55fd</string>
			<key>size</key>
			<integer>3979</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>95fc34dbd31ed2129f509b8d3ce770ad306fb01c754ba5f6012b6edeac05f78d</string>
			<key>size</key>
			<integer>72738</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>167abf559876f2050550c024748144d53439ebb14f08189ac2c9c717d31c55c7</string>
			<key>size</key>
			<integer>2954</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>6977e014b460b98ea864f4537fbaf407c3879cf58d2f337299c39b6cf1b6eba4</string>
			<key>size</key>
			<integer>21242</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>7e4177fac641cdd2dd9dc1fe95adcf9ea3d6b9b54941ec2424ba69041043ac6b</string>
			<key>size</key>
			<integer>7130</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>e5d15ae9460ea882fa598d15b9ce7b394640554568dcd915ed54607094f9a4a1</string>
			<key>size</key>
			<integer>80862</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>261e53346eac92af89025120e032f07e93d0af0920c60055ab4430cb866662ef</string>
			<key>size</key>
			<integer>4414</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>c177e9207e6bd2fc2a755ebf94531d2df1b9c11d0bde9937c57d38ede155fa5b</string>
			<key>size</key>
			<integer>77812</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>fce78e9613b80358c02e737d1e38c249861fccca56b335c5ed05adeb6a2a53ff</string>
			<key>size</key>
			<integer>30193</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>71512219ed0bf768ea76427ee1f73a4afa5b941c8359673205f18f152cdc2859</string>
			<key>size</key>
			<integer>5016</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>a40f8c6f243ab2a27a78b724b769b79b1580380fdea87f3c89e59403cc1ba56e</string>
			<key>size</key>
			<integer>82152</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>a5dc2b2c135cfa46b62cb547956713b0a5c784d3565fce78a7261945750a4754</string>
			<key>size</key>
			<integer>4864</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>abefe038a39ed797f45f45bda7f2598f918b21d3c0495ceae7095761d7fe05ca</string>
			<key>size</key>
			<integer>86216</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>661fba50c1bc22990de4769dbe8d720b8d5df4b7e028fb8a771110cf46ecad6e</string>
			<key>size</key>
			<integer>628</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>2d48b7de02844ec336069f37a115b1df413ffc5018fd583551d990ffca54bafb</string>
			<key>size</key>
			<integer>15711</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>4ab9256809e5b083685bfccf1ad49c37f91fb3661e5a40ea1f6adcdeff9eb9e0</string>
			<key>size</key>
			<integer>766</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>59a0291033188ca465f91f4faab0d2b5963364bd04e795044e4decedc6f6063d</string>
			<key>size</key>
			<integer>629</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>a4becf387e9a96a311330be311ada6569939bc21a19e8812867beaabbb0a6a03</string>
			<key>size</key>
			<integer>75426</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>20dd151155bb282a39b53c64b2c938d79afb8ae0d4f0d90c879d415af9b372ad</string>
			<key>size</key>
			<integer>4886</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>fc65143946fdfcdd821f0bdd467d3d3512a0c12bf87a34da2fb321badedf3bad</string>
			<key>size</key>
			<integer>60201</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>dfbf669c45ee982f6ffa60dfe6ab28952d75979f74426b1f5a9850cea79211b6</string>
			<key>size</key>
			<integer>5011</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>bd9a05ec3d64e6abfa8184f8e645b2b7df42f8d12ecc2857c77e4b44eaefbfdb</string>
			<key>size</key>
			<integer>79924</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>0c770b80ea4b2d19f32a59f6b5639fcb71f73723c211aed585df92094efc39e7</string>
			<key>size</key>
			<integer>4906</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>736495a2556b0045902ddd321b4cbdab1404ffd9eb3d2b2a464abec0377087bc</string>
			<key>size</key>
			<integer>77572</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>3c40a48772afcb94023c71af547ff97793be6023826e3140394aaa6a14b83725</string>
			<key>size</key>
			<integer>5102</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>ba5ad9df53045fe3bc353b3a959cd0fa3e9dbf31cd54900ac8e3a70b532e1514</string>
			<key>size</key>
			<integer>80834</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>2bb7daf571dc01a2005babd85d718f0218ede2e13c5bfcea310bc39c6583c821</string>
			<key>size</key>
			<integer>594</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>b512b41bc6aa3864d031c2af251221c605b1b657c34fe417b69eb910d0940616</string>
			<key>size</key>
			<integer>78093</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>2d529eae1faa78d2e5646a58a77848e25333f693953fc83096f9d2341be75b76</string>
			<key>size</key>
			<integer>6387</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>8403c335648e1cae9a8dfba66faf85afa681c324d0a29b1af1cb8834fff1d093</string>
			<key>size</key>
			<integer>98122</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/rw/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>d0a05c8067f22de428744abb76c4ee030e3a894b96ad2cf89528a2f31ee726fb</string>
			<key>size</key>
			<integer>577</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>25272ffee1829e8838a3a2a35eb6c99dbc2d69324da324e55edb67f3d99b50d4</string>
			<key>size</key>
			<integer>625</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>2f7446605af435eac47c500f69702063c18933dc4e0e883d7ea96e7867028f8e</string>
			<key>size</key>
			<integer>79333</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>37122ca9d9f576fd53c128f687f21879ab92a910bdc4369250cdab873f0ddf29</string>
			<key>size</key>
			<integer>4307</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>f40e9965ecdca21f94a2294e15d144159d862d619bfa1957079b87d33a09e502</string>
			<key>size</key>
			<integer>23761</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>883068c32e5dd2340c5508c7e6398824753a5f2f02d36147c27ebb94733f201d</string>
			<key>size</key>
			<integer>6163</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>4f75d749a62c6f8629d30cb3cecc800ea1f083567c6741fddf0d930274198552</string>
			<key>size</key>
			<integer>97733</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>638c66ff1f641acb5eeccf7a6663f0e5e8ae68fdea3e8483b5ccbb86c12e86f2</string>
			<key>size</key>
			<integer>4731</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>b87e2bc80bad7ff804f0551ff9ba1a74ffdd91aabd50188bd9056faff7b417de</string>
			<key>size</key>
			<integer>77699</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>7b71cf1d8543a1c21de97dd16f555c5c397340ced5acd758bcbb27edaee951a9</string>
			<key>size</key>
			<integer>821</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>1584ef4208a225e20d90b252fb9c3d474162296c591177b767de5613ee9d4039</string>
			<key>size</key>
			<integer>72243</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>51aa04ca341a1704d651e35ffb213a12669e3df359a49b2022473814fd2f9f13</string>
			<key>size</key>
			<integer>6260</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>f7cb9ba166c289dff9e2c28f6700e6b97d183e806c8cf8a89085b92fcb118405</string>
			<key>size</key>
			<integer>98891</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>3325c03cef34d58074a89cfb04638152639642d92992e700ea4a1e5f41d1c699</string>
			<key>size</key>
			<integer>4873</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>26cb827e99ea02fed8234ffcf4fbbfd437ab3e85a475ff5fde750743233ee06a</string>
			<key>size</key>
			<integer>77855</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>731c6411c601044a6873d3eb0ee2c87d3f7772410103942a8599b5cb6217ce43</string>
			<key>size</key>
			<integer>3866</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>6de82a983c95af3d10069bd1963fe848e7f8ef27a4d63b21f86a6adc10ee904a</string>
			<key>size</key>
			<integer>74336</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/wget-gnulib.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>0a121fe98f109b684fdf6a2f385db72264b04b875febabff852f54d293082172</string>
			<key>size</key>
			<integer>4582</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/wget.mo</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>38b57e3490b78384e8823d002c99b4d883d6e78ccabd48d9ff81f1b977702723</string>
			<key>size</key>
			<integer>73201</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/wget.1</string>
			<key>mtime</key>
			<integer>1610313763</integer>
			<key>sha256</key>
			<string>d23458209f5daf18ea80256165556ef39bb065eec7e7a4bf573fbbdb31d0ce0b</string>
			<key>size</key>
			<integer>113232</integer>
		</dict>
	</array>
</dict>
</plist>
