<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/ifrename</string>
			<key>mtime</key>
			<integer>1543660754</integer>
			<key>sha256</key>
			<string>af27956408daa957041bc6ebb322337404a5cecdb311fb078b7a2f78afdf1a94</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/iwconfig</string>
			<key>mtime</key>
			<integer>1543660754</integer>
			<key>sha256</key>
			<string>a28fb7d25156122120920a56c59c93d1744f9f491333dfcdc258ad60a652fc2a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/iwevent</string>
			<key>mtime</key>
			<integer>1543660754</integer>
			<key>sha256</key>
			<string>f0712e806918eaaa646e159428549da7f39d90ed4e0c33205f1d6075f1b2e7e5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/iwgetid</string>
			<key>mtime</key>
			<integer>1543660754</integer>
			<key>sha256</key>
			<string>849c884b29dd8739361fa1dd3e3b7de85d50467ddc721b763f7c7e6768535a5c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/iwlist</string>
			<key>mtime</key>
			<integer>1543660754</integer>
			<key>sha256</key>
			<string>67cf32e0c9e08724c8b1858413222b65c3b113589ceb5f9612e16937db639407</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/iwpriv</string>
			<key>mtime</key>
			<integer>1543660754</integer>
			<key>sha256</key>
			<string>f0f30d12f4c26b02acb3e3aa32cad9f65e7897b8e654c79d97d20b6d497d0ecf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/iwspy</string>
			<key>mtime</key>
			<integer>1543660754</integer>
			<key>sha256</key>
			<string>96171ff247eed078715d60190b10e350f3de2fe4db39f98f825a0961884c9681</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libiw.so.29</string>
			<key>mtime</key>
			<integer>1543660754</integer>
			<key>sha256</key>
			<string>86f72674d86b97bb66ae52ce107c5d29d907974f6b9c208d1ba4e1a924112c09</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/iftab.5</string>
			<key>mtime</key>
			<integer>1543660754</integer>
			<key>sha256</key>
			<string>6bbdb5d0504bda75597e9baa9c304d32a688b6b1d11ba9e41d50506c791e6450</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/wireless.7</string>
			<key>mtime</key>
			<integer>1543660754</integer>
			<key>sha256</key>
			<string>21b819451092fe1e15b4122dbe0c72d6168bb05ed8228da7e4e61bb6d8b6b6aa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/ifrename.8</string>
			<key>mtime</key>
			<integer>1543660754</integer>
			<key>sha256</key>
			<string>7f426e3a9bc27e341fce02615759addf8a2842e939db6b0dbf8b971276f97620</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/iwconfig.8</string>
			<key>mtime</key>
			<integer>1543660754</integer>
			<key>sha256</key>
			<string>a4a44dcb99033e466f53c053be957a229682dd553767878d72697e13d9241340</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/iwevent.8</string>
			<key>mtime</key>
			<integer>1543660754</integer>
			<key>sha256</key>
			<string>dfefc125b302093f516b0844d9c0a7140ab979c814fb59d6874275754c2d5192</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/iwgetid.8</string>
			<key>mtime</key>
			<integer>1543660754</integer>
			<key>sha256</key>
			<string>094666332ddd83e594a0f7cd5f8bde7ef516806ef6761ffbe45e44ba45bb6e5d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/iwlist.8</string>
			<key>mtime</key>
			<integer>1543660754</integer>
			<key>sha256</key>
			<string>9935a44a1de2d3cc546e656c736027c57e3bd2ca43076a47bded95931d079a3e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/iwpriv.8</string>
			<key>mtime</key>
			<integer>1543660754</integer>
			<key>sha256</key>
			<string>f5e57f88074f7c5ca8e3a91bd55694e0e2f80018e15c64cbb894e2e26b3af51d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/iwspy.8</string>
			<key>mtime</key>
			<integer>1543660754</integer>
			<key>sha256</key>
			<string>5ef525ea65f5a23c965d29eede76522326eef9e2917b165d6f5ed5a62482a46a</string>
		</dict>
	</array>
</dict>
</plist>
