<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/cinnamon</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/cinnamon/applets</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/cinnamon/applets/workrave@workrave.org</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1/services</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gir-1.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-shell</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-shell/extensions</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-shell/extensions/workrave@workrave.org</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/64x64</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/64x64/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/96x96</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/96x96/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/metainfo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/sounds</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/sounds/workrave</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/sounds/workrave/default</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/sounds/workrave/subtle</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/exercises</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/images</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/workrave</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>9985a5adbc7c95c9871da0f5ad27fc5ed6707794efe5d116a10a2e97d4e0294a</string>
			<key>size</key>
			<integer>2030128</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/girepository-1.0/Workrave-1.0.typelib</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>4299f2d1508adf90505aad07946aba1aaf1db6196c0d3a692ac8e99bab57b82a</string>
			<key>size</key>
			<integer>3524</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libworkrave-private-1.0.so.0.0.0</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>e6c9df2c038088367c6bb5b460f9d4c3545d81c3b834d31072c394d2cb10b805</string>
			<key>size</key>
			<integer>34736</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/workrave.desktop</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>4cbb85ffde81eaab4e406cd4086ce95350d359642a8a92835ff4b0d72e5f2ae2</string>
			<key>size</key>
			<integer>3245</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/cinnamon/applets/workrave@workrave.org/applet.js</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>558af17c73cb4fabe88966ed1031309fd3f502d2ae3245336b686b3b49f79ff9</string>
			<key>size</key>
			<integer>11314</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/cinnamon/applets/workrave@workrave.org/metadata.json</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>2cb04d23fd2b4c9e6d0acc13725880d2aa8b2e76310fd3dc88cb1b83963a4cab</string>
			<key>size</key>
			<integer>141</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1/services/org.workrave.Workrave.service</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>012d32593dacf4c41a3f4e68b14792100ebb860730ab7faf81142fc4e30c5eb1</string>
			<key>size</key>
			<integer>66</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gir-1.0/Workrave-1.0.gir</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>664be8bee4f69b0bf6944381796d6a30a0f42ffbd7982f18a6363f94d84ddb00</string>
			<key>size</key>
			<integer>20291</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-shell/extensions/workrave@workrave.org/extension.js</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>1e0e3053e21b07a75a8e8601bfcd8fa10eecfc50a6b71e4452201dc7877a5121</string>
			<key>size</key>
			<integer>11430</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-shell/extensions/workrave@workrave.org/metadata.json</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>5983e5806cd6b80a0fcff4362d1b8bab7a729d6ef4a8da19654f794e7307945e</string>
			<key>size</key>
			<integer>870</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-shell/extensions/workrave@workrave.org/stylesheet.css</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps/workrave.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>744919a3ddc1722f1f404a9127a0e124f976e0f323ef61662f7e519f50b13719</string>
			<key>size</key>
			<integer>7447</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/apps/workrave.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>d44351e7a23a0a7dcef65b258c945c7eb87e72ea60159b1556de129638336b81</string>
			<key>size</key>
			<integer>229</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/apps/workrave.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>bffd2f023cdd4a159ebd8d58a6a0abaf494d23a640dca1d90b89984c42abca2c</string>
			<key>size</key>
			<integer>792</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps/workrave.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>314c3cf7b1426f6178718e7a689af83bcb85cd84fc10d53c25533a24a0994846</string>
			<key>size</key>
			<integer>451</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/apps/workrave.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>854645de99406752d59ce88e85f869238d58abcfea37145957bd1191bc006e60</string>
			<key>size</key>
			<integer>2613</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/64x64/apps/workrave.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>c5f0a865f75f77dafcdebdb0ee9efbf7d5d41d6ffd62349667769bc7cdc75f5a</string>
			<key>size</key>
			<integer>3209</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/96x96/apps/workrave.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>717b267a546b31e00739d92099ce2a7531c9ea4011b5c7145bc9b950c9f4b8d5</string>
			<key>size</key>
			<integer>5301</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/apps/workrave.svg</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>c8f0673a92d80409bbb31f0ebd0163099c5cc232d9ecf71d595db11456e04d72</string>
			<key>size</key>
			<integer>13772</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/workrave-sheep.svg</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>eadfe0d75c85e1ca9034cac93358445a50ecad18a454cd02ddb410919aca8839</string>
			<key>size</key>
			<integer>12153</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>667cf81df4b3122b36d5877647038354e4f17b79c744bd2acecbac7bd56edf41</string>
			<key>size</key>
			<integer>21545</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>3ee2c4ce752745ceff2474a3c63b0f3fb020ef808abf8fe4b59cfa898d003456</string>
			<key>size</key>
			<integer>23350</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>175b14e7e700c1faf795082ca79fbf5397bd8565632cbaadfaa11ffe0d706747</string>
			<key>size</key>
			<integer>24483</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>86f0b5029f25eee1d60ba55077a012d35c1c4490623d48770d49f5f70563582d</string>
			<key>size</key>
			<integer>19786</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>9ca5f9a7e42efdbc5261f465e3d2f7f34b7f3efdc6d53378757da48a48e50af8</string>
			<key>size</key>
			<integer>21336</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>045abceb6b6ea7e487d777994935053c2858c2504735d507dd4433f4a7c0695f</string>
			<key>size</key>
			<integer>22454</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>0b1c54d7708ab93dd7e35a653c77c33cc93f9de383a2b9691d9ae69930409f0a</string>
			<key>size</key>
			<integer>3693</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>b46eeed90dfb7baee12c1c44a0fa8159492b70336ff288694e95ba812670493c</string>
			<key>size</key>
			<integer>18110</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>f6545aef64298360a2b7f3a5aa833a33bc502af51a6e8a7382ce54f751e5bf1e</string>
			<key>size</key>
			<integer>17263</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>29ef8d5993da15adee48dde3cc027aeda3329669943242640607eac64acc4838</string>
			<key>size</key>
			<integer>15713</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>e088ffc9be083365c0bdd0cb3396a13f31da0a9f97a4c4e1e2869b166608c2ef</string>
			<key>size</key>
			<integer>26078</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>58b2f0ce9f61245201de5b4a7f052ebc828fb39411cd43230a7642fce1eeb32b</string>
			<key>size</key>
			<integer>22361</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>bad880dc42e77bccc1394629bc632541ca161c5ba79f8a6842e7d1681aba8d34</string>
			<key>size</key>
			<integer>17125</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>52d2892a8612db7ba065b6272d275574e8fdcf0f1c080b104a2f5264e518006b</string>
			<key>size</key>
			<integer>20762</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>57c91783b964da8886f2efbb7726729b9f81b5caa31ec19faf97822270a351c3</string>
			<key>size</key>
			<integer>18711</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>409c94d4d265a63ba2e54cca89f49d6b7be4417e67be8afce3202e976145d553</string>
			<key>size</key>
			<integer>19790</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>e5b5633409b72863c8fe315baa8ea3ee058fb997a60d7b7f060bfbe3809903c0</string>
			<key>size</key>
			<integer>22527</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>d26c3e5603970022f213646ee9f61e7e9ff3ea6eda7a1f74059bbdd3410cf6cb</string>
			<key>size</key>
			<integer>16042</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>4732d36e57862eacb5eb2c7f827973f93d958ef313c2d9814e4fb8185f5b913e</string>
			<key>size</key>
			<integer>17364</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>2e4ca526b891af700ac737f5f2464953fcb99eda024b055c3bb776af1cf777bd</string>
			<key>size</key>
			<integer>20239</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>1e92705460cbef5228f47d1bab9f33887ac270160500b5985fdd99e7a5e42e2c</string>
			<key>size</key>
			<integer>15920</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>692a03760afa631f9723cea6d85ff91c9c94ac04e2f39740b1eb6c7de305fe2d</string>
			<key>size</key>
			<integer>15806</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>3bea90b68fca5aec656eb6f26b0e8d3d86d6cfa862dd872e49cb25d65128e7d8</string>
			<key>size</key>
			<integer>23863</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>dc55c204e7c5bf36d635538470e82278cdde22d66b8b6215b9dddadc64573936</string>
			<key>size</key>
			<integer>21537</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>32765013d9851a4b3e76389c6a039c479fb135ed6acd66e2c24f47bf5caf613d</string>
			<key>size</key>
			<integer>17065</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>9a0e1d23f48d4532c6f2242c5fc0af0a6d5097a98ce75e39b7cfe971d8fcd324</string>
			<key>size</key>
			<integer>18603</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>5d8aa7c9113bd8db7f847d880cd6f86046f770799f2b12c6f3d994e63669fa1f</string>
			<key>size</key>
			<integer>30952</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>6c7fee0fa9a2055981ee3da7732c735698e220458d73a5b6ae16d324f33ccfee</string>
			<key>size</key>
			<integer>24022</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>edeface890afe62ab53d841249e729acf0cafcfc9e38798db6b0262a4d30edf5</string>
			<key>size</key>
			<integer>15693</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@latin/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>5d4eeb541fba4f79b45a184ca0bdc01afe2917120895f0718287e64403b92de0</string>
			<key>size</key>
			<integer>20615</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>f0a31d531277dd9d261b42b261b57638271b5d4ce760a9580fb5502ce901e900</string>
			<key>size</key>
			<integer>17331</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>8a2c983896d23edfafd25cdb39336c02f810181cfc8cb1f990d6686d794bbc55</string>
			<key>size</key>
			<integer>6864</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>7c9ba3f9b267c949ed791443eb8b6ec9627f5f93b5252bf98417bf2a4d4b0249</string>
			<key>size</key>
			<integer>17150</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>7b0099f5d5a95d1bd35657e27f330132e79fd64828ea0b3a7656c43c44dd5c1e</string>
			<key>size</key>
			<integer>25389</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>586f9b599c21b24b62d01e8b196ab14eca49dfaa2360874e397d4ed7b4208047</string>
			<key>size</key>
			<integer>18631</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/workrave.mo</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>c956612daddf2a15cea74de1bb7ccf3a39e6864caf6867d607b48c88373d7e86</string>
			<key>size</key>
			<integer>20172</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/metainfo/workrave.appdata.xml</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>4d5c4ba96f885af75a21d520e756606e5817e7151a78314a3a3d63c44bd74d34</string>
			<key>size</key>
			<integer>877</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/sounds/workrave/default/break-ignored.wav</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>4f2e30f8279ed2491976f0e96df15d6ad0aa629ba25e4702c80183bef0b5eaf9</string>
			<key>size</key>
			<integer>65356</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/sounds/workrave/default/break-prelude.wav</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>534ab42727f07a00943d6b5ecee9250424538dc130f7bc338263a4b0e4b6d39b</string>
			<key>size</key>
			<integer>24396</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/sounds/workrave/default/daily-limit.wav</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>ee51486c1075a5a6773c11e6f49a2590e2e7335bc9cc691cdd0cc8da7e690c8e</string>
			<key>size</key>
			<integer>19744</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/sounds/workrave/default/exercise-ended.wav</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>6d49c01a6373fb6232629dade88173af0f696600d1b4d136c3245ba9ba7f7563</string>
			<key>size</key>
			<integer>13612</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/sounds/workrave/default/exercise-step.wav</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>9e266a9931dde3f48eff8443c012f5e8e7fb1d8f32a24bb060e5d1f144919343</string>
			<key>size</key>
			<integer>16316</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/sounds/workrave/default/exercises-ended.wav</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>1bda413aec438c3741d2ad9a0279644378ad5a761582159b80d478f6092a8ac2</string>
			<key>size</key>
			<integer>11820</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/sounds/workrave/default/micro-break-ended.wav</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>74f74e8f5e2a6780fb80ec6f43940b2ec614e7db27311ac207eb5f8d39d94b86</string>
			<key>size</key>
			<integer>4486</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/sounds/workrave/default/micro-break-started.wav</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>b9be73099d8db07a647c574ccab8454d8006678dd225f2f8f375382387a33c58</string>
			<key>size</key>
			<integer>15408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/sounds/workrave/default/rest-break-ended.wav</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>157d45988357b100672ef3b8e14662be14e778e10f6d0f1eadfefac5a9a9aa5e</string>
			<key>size</key>
			<integer>27528</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/sounds/workrave/default/rest-break-started.wav</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>d939248474d924409a94f57e5deeb09c3d9f52aac1a25c0a5a72e07a7be8f3c9</string>
			<key>size</key>
			<integer>22270</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/sounds/workrave/default/soundtheme</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>8f5db47ab98df32b7b262a0de28e25617fcafb0caa77c5bd093e4d3fd23b76b4</string>
			<key>size</key>
			<integer>468</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/sounds/workrave/subtle/break-ignored.wav</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>69fb3404cf0dc97ac5215d3d400487ad3a8c4c79f10af3ede2e128dc6f90b2ef</string>
			<key>size</key>
			<integer>661544</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/sounds/workrave/subtle/break-prelude.wav</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>62993aaa3428941a0b58a1e1d9b87696830a615d3e410346d0de2df6f714593a</string>
			<key>size</key>
			<integer>661544</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/sounds/workrave/subtle/daily-limit.wav</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>55fea31549dd48fab6813131c0aea6c320401d1efcd9cc8dfbaffaa1bf8e7a46</string>
			<key>size</key>
			<integer>661544</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/sounds/workrave/subtle/exercise-ended.wav</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>341fd48189749c8c9a3f6e60019c6499c05592ec5b05429ddba6b3b146e11f8c</string>
			<key>size</key>
			<integer>661544</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/sounds/workrave/subtle/exercise-step.wav</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>bdf5e8f55e9c41cea1a9eed2b4fac3b00485452a2321fea8555a8486a60d5b2d</string>
			<key>size</key>
			<integer>661544</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/sounds/workrave/subtle/exercises-ended.wav</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>b8415ed817507acdc50aa3569789b5b65e4aaa902e6b355142b4f97b3d7603b8</string>
			<key>size</key>
			<integer>661544</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/sounds/workrave/subtle/micro-break-ended.wav</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>157c6149d721854a6a4fcf386f0dc89523681d4411751425913dd54a55529c1b</string>
			<key>size</key>
			<integer>661544</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/sounds/workrave/subtle/micro-break-started.wav</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>a499d2505adc34a6c769d8f2889ef2958f98f4f84c1b13a70d19f5e65b6041c5</string>
			<key>size</key>
			<integer>661544</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/sounds/workrave/subtle/rest-break-ended.wav</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>eb04df6735703cbe43c006a76988f85685bc3eb190e4fd8c91fb0b322ca12f06</string>
			<key>size</key>
			<integer>661544</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/sounds/workrave/subtle/rest-break-started.wav</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>33db76ed635bed909f41f2f96c372424a46725c8f3ea4a8ecb5e99d95f0fa6d2</string>
			<key>size</key>
			<integer>661544</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/sounds/workrave/subtle/soundtheme</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>5cb84f0f14d8a56e7f3386d77b02ad8b56043ece2b8a7223effc819b9c00b74e</string>
			<key>size</key>
			<integer>488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/exercises/backward-shoulder-stretch.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>e57176c3341e33ec4b6cc8ab0bbe330a5ce7b61e317b99d086758470cf3797c4</string>
			<key>size</key>
			<integer>12574</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/exercises/chair-pushup-1.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>4c076776fe2d60fb5e81318b72889f96012b25e7fb504e50464aa57f542a964d</string>
			<key>size</key>
			<integer>9932</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/exercises/chair-pushup-2.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>1dd2f08ba070ef9ffab89118d3092960291117dedc35ba904faab418a479e173</string>
			<key>size</key>
			<integer>10766</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/exercises/depth-focus-1.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>63f575ff21bea74ed5eb9be80445832ca8c45ad66cf26ad3235416843d3a80dd</string>
			<key>size</key>
			<integer>10520</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/exercises/depth-focus-2.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>912f157481dfe3bad9b29cb917069ebb91703896e4af82a1dc6b574478e0ef9f</string>
			<key>size</key>
			<integer>12346</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/exercises/exercises.xml</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>7a8598657b956f9ab0a080142cf844ceccba446bde8f47b98802cf49324be55a</string>
			<key>size</key>
			<integer>127828</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/exercises/eye-darkness.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>e6589aa103767cb7ad872510436de65e6c0f6bb94bbcc32b6162abfd17666623</string>
			<key>size</key>
			<integer>16166</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/exercises/finger-stretch-1.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>8d65c1851287c8d5d64bb5cbffa4e94cbb4d499aac16a10937325ab7756dd025</string>
			<key>size</key>
			<integer>14096</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/exercises/finger-stretch-2.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>3aa63563ff25d1199a9439c58ab8d7ac572149293019217253fcb223afdc1453</string>
			<key>size</key>
			<integer>12968</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/exercises/fist-roll-1.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>617b0f880e65ace6624416ab351f29b52179d555fed42e53b4db30e3942c0153</string>
			<key>size</key>
			<integer>62396</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/exercises/fist-roll-2.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>a87a2725d18ac7e012087b2c0a2eb515699f3c9d3d7e677c5cff25b2719ac7cd</string>
			<key>size</key>
			<integer>63647</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/exercises/monitor-border-1.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>3d6b209cf8cf22fd2a1df4a3d558c06481d0e4151f26899ee8931b45edccef55</string>
			<key>size</key>
			<integer>10300</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/exercises/monitor-border-2.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>54a6130161ad24a4ece50549efdcabfb2f4d4eeb444da710472812f505150dff</string>
			<key>size</key>
			<integer>10294</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/exercises/monitor-border-3.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>17600ca1924905551e82a65dc61effa0273555d0f9780c66bb7f4e3d2a888be3</string>
			<key>size</key>
			<integer>10242</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/exercises/monitor-border-4.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>3f5b06760b5135908f86195bff7191a8261751bc098915a8b5245baf4f0d0a38</string>
			<key>size</key>
			<integer>10332</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/exercises/neck-tilt-stretch-1.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>37717f0bd4739e3ae1e4ddf70dc403ffe3671471f1015391bd9ee5d48dde923f</string>
			<key>size</key>
			<integer>17090</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/exercises/neck-tilt-stretch-2.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>2f9fb58d4a7935a2adac3dee22b66b72fe2e3c719298d03db9912c7a090ce7ed</string>
			<key>size</key>
			<integer>17347</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/exercises/rotate-arm.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>c254008ee4ced3f0ea5f255e2ceb9493836f485b34e7bc2ef419ab3eb21a1394</string>
			<key>size</key>
			<integer>13132</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/exercises/shoulder-arm-stretch.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>474a4602f4326f82aad22f141e2bbc248892333bc9987057a265524116b5c292</string>
			<key>size</key>
			<integer>14931</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/exercises/turn-head-1.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>04a689ed64fcbc3a1dadc432af165f1834f67034ae89ddbf0aa45729a3a6d079</string>
			<key>size</key>
			<integer>15926</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/exercises/turn-head-2.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>ff5e0b2cf244137037e4bf1495281e5eee57f1eaac6da9ef5733c6b0f8559bb5</string>
			<key>size</key>
			<integer>15520</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/exercises/wrist-lower-arm-desk-stretch-1.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>060bdf258541d65b4c073fc86b73b5bd006a46e8d69c69e3159a7bd16f407b2e</string>
			<key>size</key>
			<integer>2722</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/images/daily-limit.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>a4ae68dd1d1d744899ebe60f96923bd630d2e56a772f1ed4928bdfbe69cbe417</string>
			<key>size</key>
			<integer>1260</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/images/display.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>06fbf5a0ed0abe0120ec5502a3e3a7966a2c5051743827d3dd1195ffd695f25e</string>
			<key>size</key>
			<integer>4438</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/images/lock.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>448860a2e6643d3d0d6f2e081b0b899543712db3c695371b43d5d0190de2de59</string>
			<key>size</key>
			<integer>777</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/images/micro-break.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>4cafa283307a25eb0b075033c2ad6d288eac7a1b83321511233a981f769865e3</string>
			<key>size</key>
			<integer>3379</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/images/monitoring.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>3d75a5bd3393b3938b28062790c586de06bf12c62b5f8fb1242a3ab90ae6433a</string>
			<key>size</key>
			<integer>3195</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/images/network.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>74005b9c760d7005e335bd30a4a6f6039b15eb9441bb0543268d00ece6690639</string>
			<key>size</key>
			<integer>2018</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/images/prelude-hint-sad.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>d5f1642b6b31680001f967adb933895bf6baf51a44b352afd77ff64f18a95d80</string>
			<key>size</key>
			<integer>3986</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/images/prelude-hint.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>1e182d9a30ed96247d663a52926af215f847522d0c2a5e4f4d48dd9d44f39a7f</string>
			<key>size</key>
			<integer>3959</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/images/rest-break.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>0fbce7df830ec48b362a3b8e90c1b38e2a048ca5cb5d426d91498a9562d76eed</string>
			<key>size</key>
			<integer>4172</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/images/shutdown.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>7cdce07911a51e394af3d7bc7b2d318b8ee3a42f7587c5b50bb86cca434ac167</string>
			<key>size</key>
			<integer>938</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/images/time.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>67749d390187f15c825b5845908fba02090c91b2d4afe71bfa5c70a85cb46627</string>
			<key>size</key>
			<integer>4229</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/images/timer-daily.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>42fd8cd6c2b0e042dffa1746151de56936b9984c0cc0bd92d72b9e969cf0518b</string>
			<key>size</key>
			<integer>530</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/images/timer-micro-break.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>592d50ae7c52914a7afb67c7d40cadf821fe4cb1beea3e45a880cd0d4f137f22</string>
			<key>size</key>
			<integer>670</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/images/timer-rest-break.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>abda75b4f655139e49e9eb049aada812671ae59618c027080a45544a0ef87e7c</string>
			<key>size</key>
			<integer>476</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/images/workrave-icon-medium.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>bffd2f023cdd4a159ebd8d58a6a0abaf494d23a640dca1d90b89984c42abca2c</string>
			<key>size</key>
			<integer>792</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/images/workrave-quiet-icon-medium.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>c92cc5d9d0822b4cc5d8dbf7de2edd97ccfbcd95b4f86bc9cf4137209fd334f7</string>
			<key>size</key>
			<integer>947</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/images/workrave-suspended-icon-medium.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>ec21c7d9719e6e9e973a403fbee6631022751468eeddb3114d77b2e447b5c660</string>
			<key>size</key>
			<integer>870</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/images/workrave.png</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>c3b550cbf8df7c6d91889be2b4cd5aeff752400296c4e9f28fd69c44614093f5</string>
			<key>size</key>
			<integer>8263</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/workrave/images/workrave.xpm</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>sha256</key>
			<string>e11e5b71c506bb8cac41a65f2d5ba06465dd851624ca8ed1dc88881f065169f1</string>
			<key>size</key>
			<integer>1897</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libworkrave-private-1.0.so</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>target</key>
			<string>/usr/lib/libworkrave-private-1.0.so.0.0.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libworkrave-private-1.0.so.0</string>
			<key>mtime</key>
			<integer>1596799879</integer>
			<key>target</key>
			<string>/usr/lib/libworkrave-private-1.0.so.0.0.0</string>
		</dict>
	</array>
</dict>
</plist>
