<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/wpa_supplicant/wpa_supplicant.conf</string>
			<key>mtime</key>
			<integer>1612486570</integer>
			<key>sha256</key>
			<string>9f3f8e1e38a22d94481b1a824b936461fd3ce3190d91265977b88805f0c23a40</string>
			<key>size</key>
			<integer>203</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/dbus-1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/dbus-1/system.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/wpa_supplicant</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/wpa_supplicant</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1/system-services</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/examples</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/examples/wpa_supplicant</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/wpa_supplicant</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/dbus-1/system.d/wpa_supplicant.conf</string>
			<key>mtime</key>
			<integer>1612486570</integer>
			<key>sha256</key>
			<string>e5a24b54f6db045b68c72b5e555a62db388207b68f0b7137add0117af9f56841</string>
			<key>size</key>
			<integer>743</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/wpa_supplicant/auto</string>
			<key>mtime</key>
			<integer>1612486570</integer>
			<key>sha256</key>
			<string>003437db38e34a41080bef4c75cf82d3388eea46ba77f052ee5de2cd44065156</string>
			<key>size</key>
			<integer>491</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/wpa_supplicant/run</string>
			<key>mtime</key>
			<integer>1612486570</integer>
			<key>sha256</key>
			<string>37398a45e7656418739b14294a2298f74b16e2145700b42bc67889776819c372</string>
			<key>size</key>
			<integer>256</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/wpa_cli</string>
			<key>mtime</key>
			<integer>1612486570</integer>
			<key>sha256</key>
			<string>771cd994797f1d3b00c2ddf7030ad40a64a9f71356573a6eac6476d0f1d86a09</string>
			<key>size</key>
			<integer>151584</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/wpa_passphrase</string>
			<key>mtime</key>
			<integer>1612486570</integer>
			<key>sha256</key>
			<string>181ed24f26ec3292ac8af3a1b62f6d66ee33697d042e4a878ce106d6e1ed2e19</string>
			<key>size</key>
			<integer>79952</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/wpa_supplicant</string>
			<key>mtime</key>
			<integer>1612486570</integer>
			<key>sha256</key>
			<string>e6dbf6c63412e0a2bc8b851df871edc81f2c6c09c1bce2c508553e70f9fb8c9e</string>
			<key>size</key>
			<integer>2470680</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1/system-services/fi.w1.wpa_supplicant1.service</string>
			<key>mtime</key>
			<integer>1612486570</integer>
			<key>sha256</key>
			<string>1edebcd6b9be53df94d1165a4dc6da2caadc269978733a6cd68b37acd3065213</string>
			<key>size</key>
			<integer>124</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/examples/wpa_supplicant/wpa_supplicant.conf</string>
			<key>mtime</key>
			<integer>1612486570</integer>
			<key>sha256</key>
			<string>4e963ce50567df622f6ccb37b85947bc5657be133943866ff7af54a09335b3fe</string>
			<key>size</key>
			<integer>77603</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/wpa_supplicant/README</string>
			<key>mtime</key>
			<integer>1612486570</integer>
			<key>sha256</key>
			<string>f559b95d7d4f7bf8f184d85824784ed77137a7ea7f8276c96b28bd07c04d9e68</string>
			<key>size</key>
			<integer>40113</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/wpa_supplicant.conf.5</string>
			<key>mtime</key>
			<integer>1612486570</integer>
			<key>sha256</key>
			<string>c7795a4a8fdd1f6cb3fe7f7041b6b6a28d21269da511969eb3e0278760dc55b4</string>
			<key>size</key>
			<integer>5729</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/wpa_background.8</string>
			<key>mtime</key>
			<integer>1612486570</integer>
			<key>sha256</key>
			<string>f3ce518709591f4014028723caf07a13824f1ee25b21c02922f26c260be0191f</string>
			<key>size</key>
			<integer>3951</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/wpa_cli.8</string>
			<key>mtime</key>
			<integer>1612486570</integer>
			<key>sha256</key>
			<string>b218c8231f45dea1ac7f92b0cbdc26daf1ae3830b3642f7032ab569742648045</string>
			<key>size</key>
			<integer>6646</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/wpa_passphrase.8</string>
			<key>mtime</key>
			<integer>1612486570</integer>
			<key>sha256</key>
			<string>b03ebbdceb3b8f48c4ccead8004d263c438e1a11c37aad157a698f3df6c7f6ab</string>
			<key>size</key>
			<integer>1200</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/wpa_supplicant.8</string>
			<key>mtime</key>
			<integer>1612486570</integer>
			<key>sha256</key>
			<string>6cf3b0684b3d6533921376f4e0ebf280477065a3602c88c59372feb283171270</string>
			<key>size</key>
			<integer>13986</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/wpa_supplicant/supervise</string>
			<key>mtime</key>
			<integer>1612486570</integer>
			<key>target</key>
			<string>/run/runit/supervise.wpa_supplicant</string>
		</dict>
	</array>
</dict>
</plist>
