<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bakefile</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bakefile/presets</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/wxWidgets-common</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libwx_baseu-3.0.so.0.5.0</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>sha256</key>
			<string>5dc2a577ffdb20580e5bdb7321ccca6698e7e3313a19bc973675e61501735d3f</string>
			<key>size</key>
			<integer>2622912</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libwx_baseu_net-3.0.so.0.5.0</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>sha256</key>
			<string>609200740afa81ff1d1713305637e87ec73ab83ff84a78f92c6a986e85ad9d86</string>
			<key>size</key>
			<integer>293040</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libwx_baseu_xml-3.0.so.0.5.0</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>sha256</key>
			<string>fc8fa4dcb0c1c87179fb5655d070dcdca0a6b94a4625873096a8805ced1fdf14</string>
			<key>size</key>
			<integer>71848</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal/wxwin.m4</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>sha256</key>
			<string>08a3f7384bfe89cfe7a56f79fc0664d7344a727c64f645d6cbb7edd1874be7f9</string>
			<key>size</key>
			<integer>40561</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bakefile/presets/wx.bkl</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>sha256</key>
			<string>a12d08dc132c5dde7f796874fda931e41619f7bc82863cee3a4fdb5031ef4c5e</string>
			<key>size</key>
			<integer>22090</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bakefile/presets/wx_presets.py</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>sha256</key>
			<string>b306047d3668ddaf5c178f5dcf66342983bd564a5fa43a23997a837f3103aadb</string>
			<key>size</key>
			<integer>464</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bakefile/presets/wx_unix.bkl</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>sha256</key>
			<string>8fdda613c2cbe7c2f8a9c213fc24227151c535efee4c1d85ff0a6b77bd0dc059</string>
			<key>size</key>
			<integer>10538</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bakefile/presets/wx_win32.bkl</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>sha256</key>
			<string>7996e0ed1ae2482670f2585250a5945688de22864ef7537d4cb2e91f55575110</string>
			<key>size</key>
			<integer>16414</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bakefile/presets/wx_xrc.bkl</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>sha256</key>
			<string>29be43f709d27a93e12eae084497410edfd76756d87d452a7dd2a099ef8df2fc</string>
			<key>size</key>
			<integer>2216</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/wxWidgets-common/licence.txt</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>sha256</key>
			<string>678e89837fb381e5461280bf608f843c8f3b3ec87dbb3367a63247fc7f403563</string>
			<key>size</key>
			<integer>2502</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/wxWidgets-common/licendoc.txt</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>sha256</key>
			<string>16e751d2da29c06b7688408d2db05e88ba8ba978f375d156a45bb9334bb3db4c</string>
			<key>size</key>
			<integer>3335</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/wxstd.mo</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>sha256</key>
			<string>171775b253b8d8c66b0d29caf243be9fd4a8b4a4e9daef169641c60363e66891</string>
			<key>size</key>
			<integer>53412</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/wxstd.mo</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>sha256</key>
			<string>73924fc97052502f31394f596543bfcfccfb08abf049c5b0fbc3367d5d9dc232</string>
			<key>size</key>
			<integer>136772</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/wxstd.mo</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>sha256</key>
			<string>75adb4180de4b8e9145da06c42c4696e79a49bc65020b460b350c8f0721dc46f</string>
			<key>size</key>
			<integer>61355</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/wxstd.mo</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>sha256</key>
			<string>1ba305bbab5c79129a0820657fb147badef4f62fd1049cadbc0c96b3c7a0a02d</string>
			<key>size</key>
			<integer>141846</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/wxstd.mo</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>sha256</key>
			<string>af7751b8589529e4ec0fe9004af067fb4e61365f24abd5177e3c896b146113d1</string>
			<key>size</key>
			<integer>94173</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/wxstd.mo</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>sha256</key>
			<string>76639c431547be08c80aa11a81252dab78615ac4d24988bc97eccbf9974fc2f9</string>
			<key>size</key>
			<integer>141335</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/wxstd.mo</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>sha256</key>
			<string>196c611a320c316b1097b1b08adafcef2cd124d02849eeb35c79f685c6c6f230</string>
			<key>size</key>
			<integer>95922</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/wxstd.mo</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>sha256</key>
			<string>98ca280db3b4e4d8005dac7828ee8e7c4391e31d0f6410be9595b5b6bffc3e91</string>
			<key>size</key>
			<integer>138108</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/wxstd.mo</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>sha256</key>
			<string>38f5c687ce322f275bce64d1a08626d252b49ca55a3812520fa707674f83c988</string>
			<key>size</key>
			<integer>81624</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/wxstd.mo</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>sha256</key>
			<string>292366e93b8a35c593162d09aabd5ccd0f8e69aec30b0ce76ae4a80045c1b954</string>
			<key>size</key>
			<integer>133988</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/wxmsw.mo</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>sha256</key>
			<string>6ba14d239376a7a8e059a608897f6543f877b56198d384603349b6abe9d53080</string>
			<key>size</key>
			<integer>430</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/wxstd.mo</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>sha256</key>
			<string>a1ced5d211847319cf133f5ee37a01b25f2618d90c897d02aa0bf29d10a192ad</string>
			<key>size</key>
			<integer>141193</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/wxstd.mo</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>sha256</key>
			<string>9914ed33d7e2d257cc0a8b05df6f65e1d47631a418498035cd13143dc352ec74</string>
			<key>size</key>
			<integer>135382</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/wxstd.mo</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>sha256</key>
			<string>7f837876cdf8d035d447a68eeea34e294c61ed54b5e88d56e2736b06660ce829</string>
			<key>size</key>
			<integer>138010</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/wxstd.mo</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>sha256</key>
			<string>799867f0f676402a0a5bfa8e2a51a334f0a8ad1c2eb659cbbf2bdde5b1369108</string>
			<key>size</key>
			<integer>139368</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/wxstd.mo</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>sha256</key>
			<string>bf923351a0f19475254bfc8f85b7f7611e61c4a7a657b5df1ee65e730bc546fe</string>
			<key>size</key>
			<integer>150767</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/wxstd.mo</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>sha256</key>
			<string>6b0b5a263b6b8580b4552979b90169471af7564a8feca62bd524afbc769d7e4a</string>
			<key>size</key>
			<integer>124184</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/wxstd.mo</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>sha256</key>
			<string>22d762464f728de1df5d43d9c4aac426c0f35aec796e814e1b0a54b3f73180e9</string>
			<key>size</key>
			<integer>134903</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/wxstd.mo</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>sha256</key>
			<string>96b265fd0b08b1e6bbb18c9349b881e502c79e747c9eeb17576805e5abe60aa9</string>
			<key>size</key>
			<integer>136254</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/wxstd.mo</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>sha256</key>
			<string>4b474ab1cd8e5503016092e3b7e27fa1fe262b7361294adcace581a62db988f8</string>
			<key>size</key>
			<integer>177620</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/wxstd.mo</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>sha256</key>
			<string>820169ee1ec6d043985e006e877355b776c7370aa62d23f6a21ea4202b99ff51</string>
			<key>size</key>
			<integer>126686</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/wxstd.mo</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>sha256</key>
			<string>f6863d231106c98e323b5beb5bb36c86d85d2e7083d9bd3d5d0ba6a1aaf62109</string>
			<key>size</key>
			<integer>126990</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libwx_baseu-3.0.so.0</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>target</key>
			<string>/usr/lib/libwx_baseu-3.0.so.0.5.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libwx_baseu_net-3.0.so.0</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>target</key>
			<string>/usr/lib/libwx_baseu_net-3.0.so.0.5.0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libwx_baseu_xml-3.0.so.0</string>
			<key>mtime</key>
			<integer>1613016608</integer>
			<key>target</key>
			<string>/usr/lib/libwx_baseu_xml-3.0.so.0.5.0</string>
		</dict>
	</array>
</dict>
</plist>
