<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/X11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/X11/x11perfcomp</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/x11perf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/x11perf</string>
			<key>mtime</key>
			<integer>1552805778</integer>
			<key>sha256</key>
			<string>6102ad8319a5652837e43d9c8b850f907910c70196c6d93526bd24b2ac7e92ab</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/x11perfcomp</string>
			<key>mtime</key>
			<integer>1552805778</integer>
			<key>sha256</key>
			<string>d7cdd74e6ed01c9cce579fa629a63fcab4b20ac5b07fe6ef7432358eb09d5748</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/X11/x11perfcomp/Xmark</string>
			<key>mtime</key>
			<integer>1552805778</integer>
			<key>sha256</key>
			<string>a08bd87379c82427950321f4a11702d27ac8a476e02474fabfaac9d18caa752d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/X11/x11perfcomp/fillblnk</string>
			<key>mtime</key>
			<integer>1552805778</integer>
			<key>sha256</key>
			<string>512fb7049f745b3478a046ca444e3083a581b892ad76f5be3751c681af11b8a2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/X11/x11perfcomp/perfboth</string>
			<key>mtime</key>
			<integer>1552805778</integer>
			<key>sha256</key>
			<string>389d7135bb1247461ccbb68f385f3bd0b82ff3ba6ac089deb2778b48fb48d042</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/X11/x11perfcomp/perfratio</string>
			<key>mtime</key>
			<integer>1552805778</integer>
			<key>sha256</key>
			<string>bc901610c6d3ae52878baa093f82eae38bc0379a2afa63166ac5f75f4661b2e0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/x11perf/COPYING</string>
			<key>mtime</key>
			<integer>1552805778</integer>
			<key>sha256</key>
			<string>f467ff659142e2eb4cb7275c48c789d249af398b09a405d3e181dcc339b3b922</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/Xmark.1</string>
			<key>mtime</key>
			<integer>1552805778</integer>
			<key>sha256</key>
			<string>b834cc781151509c5a2e38a186cf14c73ce00051e567eaa2594fc1a99dea7cea</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/x11perf.1</string>
			<key>mtime</key>
			<integer>1552805778</integer>
			<key>sha256</key>
			<string>e59101b316d4ba49c22dfaa0d9c614cf3447151560e8bd225afdc3b56dc04578</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/x11perfcomp.1</string>
			<key>mtime</key>
			<integer>1552805778</integer>
			<key>sha256</key>
			<string>b077c903b7c9ccb00642004b9c3faa859a73c9c3a2e9d21a7a7dac309aa3e46a</string>
		</dict>
	</array>
</dict>
</plist>
