<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xcalc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/xcalc</string>
			<key>mtime</key>
			<integer>1560268349</integer>
			<key>sha256</key>
			<string>05709987ab24da1c462c8322b0dc7ba1b3ee34a67e6c0bf0ac6c23c302238e3f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XCalc</string>
			<key>mtime</key>
			<integer>1560268349</integer>
			<key>sha256</key>
			<string>bf9e7383a0629a73f26b38140b055919801ef4aef0ccfb29845e2b2476927afa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XCalc-color</string>
			<key>mtime</key>
			<integer>1560268349</integer>
			<key>sha256</key>
			<string>2cec4f4974d91c55bce1b5d94c3485116662e5c82d260bbdeee0f9bcbc5c12c8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xcalc/COPYING</string>
			<key>mtime</key>
			<integer>1560268349</integer>
			<key>sha256</key>
			<string>8dd69dbec37866a41d3040c5c478aca46e0b50c30319f178064d5e2ed9d3f912</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xcalc.1</string>
			<key>mtime</key>
			<integer>1560268349</integer>
			<key>sha256</key>
			<string>794c5d6545dd6bda0b371e0eb4df9be1b2c09ded3a108bb534f9ba94d8376518</string>
		</dict>
	</array>
</dict>
</plist>
