<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/xcbgen</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xcb-proto</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xcb</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/xcb-proto.pc</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>bfba265aee7825dfb507b221483c6133cc4ea08ddb701ce4a69b61acb399f50f</string>
			<key>size</key>
			<integer>298</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/xcbgen/__init__.py</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>01ba4719c80b6fe911b091a7c05124b64eeece964e09c058ef8f9805daca546b</string>
			<key>size</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/xcbgen/align.py</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>07ba4547c73a119e59f004fb5286f4b1ba58e8d1a00cb9fe0b3c8b8c6b7b2ac3</string>
			<key>size</key>
			<integer>6473</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/xcbgen/error.py</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>6e0f71f1655bade4bd53da50e5ed0b40fc0b99c4212f46c719a5dd959e7e37b7</string>
			<key>size</key>
			<integer>116</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/xcbgen/expr.py</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>0b4b7879e90e5af002fb2c8ddb405d0d1b5d8e9c80846e225d9766ad31bafd2f</string>
			<key>size</key>
			<integer>6498</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/xcbgen/matcher.py</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>66154ee80c9d1c7bd93ffe14e19383a37c5bb159363fd9bc8f762fcf9d738f7c</string>
			<key>size</key>
			<integer>4037</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/xcbgen/state.py</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>992eba61af2da884dc20d8237bba9350716f85cde2e28c6aeedec31f14adf803</string>
			<key>size</key>
			<integer>6906</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/python3.9/site-packages/xcbgen/xtypes.py</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>32c8ac018ed75774908bfd739ee7c19e3d625de585907a261751ef69d59eb90b</string>
			<key>size</key>
			<integer>52616</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xcb-proto/COPYING</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>c5ffbfeaa501071ceeb97b7de2c0d703fdaa35de01c0fb6cbac1c28453a3e9fd</string>
			<key>size</key>
			<integer>1337</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xcb/bigreq.xml</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>68e3668f7562acd33971e06ddc15eb0deeea8a234587b1329922dfcb69310c46</string>
			<key>size</key>
			<integer>1705</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xcb/composite.xml</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>e80a83f9b17218217111076c309ca43bb9d7eee19836c8be0f65c1c2621134f7</string>
			<key>size</key>
			<integer>3473</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xcb/damage.xml</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>bf67508c325ab2b56ee3845c31f207c43e32da3fdac1b27306986e1c6b29c1d6</string>
			<key>size</key>
			<integer>3299</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xcb/dpms.xml</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>b3961d89d738496d0f0a3b407b8cb42fa5956fe8645f2aff6132050c221eeb05</string>
			<key>size</key>
			<integer>3155</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xcb/dri2.xml</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>f16f1a89affe8b3db625ef626e8e980889a5fade5d36df175fd5568d3ac7b53c</string>
			<key>size</key>
			<integer>9488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xcb/dri3.xml</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>e641889462ee70ccfe39c8a7a0b1c1d6327557514aa52d2204a2a76923b0976c</string>
			<key>size</key>
			<integer>5638</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xcb/ge.xml</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>ae0fe359d4213d3734143fec51b6956a1b0921b598f92d00be786c35e732a0a4</string>
			<key>size</key>
			<integer>1863</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xcb/glx.xml</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>d9772033c034b90ea94549a16341e61f2f0b527d3fb673e0b1c64ef9ea1178a7</string>
			<key>size</key>
			<integer>45351</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xcb/present.xml</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>7a8624945b469c9f89e946f31a10ff79c5609c576591f4c34d2939aba8192ed5</string>
			<key>size</key>
			<integer>7335</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xcb/randr.xml</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>d92993e3f97c36b2789333dc43c5f22c4adc9ed963722ed6e1d2091c11c9ba42</string>
			<key>size</key>
			<integer>30366</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xcb/record.xml</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>e21802404154cae51b230c1b2c5bbcf959d23180bea2357e78da28bd73f8a60a</string>
			<key>size</key>
			<integer>5924</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xcb/render.xml</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>4a4c261d1f4746430c6296378d59474d6fbfb2c9cd45e9f0d60faf459d265218</string>
			<key>size</key>
			<integer>23693</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xcb/res.xml</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>9c0f9432143a79e851fc1f43b562d9f29e5e78a750d74c2b0356f17bc43e7710</string>
			<key>size</key>
			<integer>5912</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xcb/screensaver.xml</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>469fee5c7d8bd1e332e7ec8f552b541d7b8e64a43032fddf58d354639b648bec</string>
			<key>size</key>
			<integer>6573</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xcb/shape.xml</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>bb079d0051aed81c785b42d12377709b945ad79e33df8c6b537ed99a0e7a6191</string>
			<key>size</key>
			<integer>6039</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xcb/shm.xml</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>babcf30aa50a03a6dda120700b31f9d82b9b205f0d6a1ced9c1ceaeda247e3b5</string>
			<key>size</key>
			<integer>4778</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xcb/sync.xml</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>d11f6c46b36407de9c0ab078918d468ec16741b104a93a32983ea7d3c80a8e12</string>
			<key>size</key>
			<integer>8390</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xcb/xc_misc.xml</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>44d3b2350637746985b0165e13fd1a010dc98df4e9fa64264d2d6dea697ce628</string>
			<key>size</key>
			<integer>1162</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xcb/xcb.xsd</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>da061293d8ff512c8b4e534d093118b778bddf0e56d6aacd144a1adcfdd6aeba</string>
			<key>size</key>
			<integer>16132</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xcb/xevie.xml</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>5011aec1a4fa4b826af73b7bce3d5d37d8015b3a297617a0174994135cb9349f</string>
			<key>size</key>
			<integer>2958</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xcb/xf86dri.xml</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>e2025f2e8dfc4838bb11c099a84b3b51c08e05eb6d883239d1215bc557bbd759</string>
			<key>size</key>
			<integer>5900</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xcb/xf86vidmode.xml</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>12db1cf257476ebb51b006243749e958be13e84d4e1d90b781c35498ac289ad9</string>
			<key>size</key>
			<integer>14673</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xcb/xfixes.xml</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>a394bd8a0fb0b11fbb99df8d5587db75521d32e0b0b7c8ca1adcead86f538373</string>
			<key>size</key>
			<integer>12074</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xcb/xinerama.xml</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>a420b55ff443f28762697ea8402d5a29cbb980ea82d10e7b828d8e8e35ccb919</string>
			<key>size</key>
			<integer>3453</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xcb/xinput.xml</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>fb7854189d70fab3b93c852957dbeec40c41122e66a689a9c988adc0941ba5d9</string>
			<key>size</key>
			<integer>103534</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xcb/xkb.xml</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>351507a7d596b09ea2501df43512b391d9123bd2d129edd2078b46ae7ac0704f</string>
			<key>size</key>
			<integer>91919</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xcb/xprint.xml</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>1b95622a6820c2bf674395b1f2a74faffd035dc95e7cc3698c5b060bf19fad38</string>
			<key>size</key>
			<integer>11134</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xcb/xproto.xml</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>71fc9307774a427b0ecf95a50f7321881857e1a3b9d1c5598908e0915303cd1c</string>
			<key>size</key>
			<integer>206252</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xcb/xselinux.xml</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>4c5f028df2be58e5d192ab3587c047994f74cf4dcb3e7efc5d3cd9b6ffe354f4</string>
			<key>size</key>
			<integer>8260</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xcb/xtest.xml</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>b918012762eee789061d989bb22af2dbe711dfea24a47825c9e53b983ec800ee</string>
			<key>size</key>
			<integer>3968</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xcb/xv.xml</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>0d36b3440741a4f0f13ff19667388024d12ab1e5edab0dbd4f5e890eda5c4436</string>
			<key>size</key>
			<integer>16061</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xcb/xvmc.xml</string>
			<key>mtime</key>
			<integer>1602502122</integer>
			<key>sha256</key>
			<string>3d479aa28ad5daa0b74a4280f800133ca178e56f78a4a12ca755a6cc577d25bb</string>
			<key>size</key>
			<integer>5363</integer>
		</dict>
	</array>
</dict>
</plist>
