<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xclipboard</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/xcutsel</string>
			<key>mtime</key>
			<integer>1499795339</integer>
			<key>sha256</key>
			<string>9a5dc469b397c8aa4d1b5822ed7d06c18539555ce4c3714e5359bbb340987acf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xclipboard</string>
			<key>mtime</key>
			<integer>1499795339</integer>
			<key>sha256</key>
			<string>b91a38390b28552735476ad3a93f35971b177e0b726dc09fb4a73db96ce0eb8a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xcutsel.1</string>
			<key>mtime</key>
			<integer>1499795339</integer>
			<key>sha256</key>
			<string>a3430157c5a90b4f3d37eb7bf631b90b1224d22b2730b24fe89587e9c04b8355</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xclipboard.1</string>
			<key>mtime</key>
			<integer>1499795339</integer>
			<key>sha256</key>
			<string>6fae7006a8d83da0199d59105fffd1386a353afaf5524d64246c2d3c0d21d494</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XClipboard</string>
			<key>mtime</key>
			<integer>1499795339</integer>
			<key>sha256</key>
			<string>61c068cb0b5bcc6b6a4267776dea1551bafd087461abe78d04311a71eb7ac305</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xclipboard/COPYING</string>
			<key>mtime</key>
			<integer>1499795339</integer>
			<key>sha256</key>
			<string>f0a362fc1b8e788845b1c0ad7ba9ade58fdfb73da750c3b9780db5d70b947657</string>
		</dict>
	</array>
</dict>
</plist>
