<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xclock</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/xclock</string>
			<key>mtime</key>
			<integer>1563177202</integer>
			<key>sha256</key>
			<string>df26d410d0b99cdc9d20d9ca15d64963dc6f8ce0dd945b84bb1c175c0856f7d3</string>
			<key>size</key>
			<integer>62368</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XClock</string>
			<key>mtime</key>
			<integer>1563177202</integer>
			<key>sha256</key>
			<string>cc0737d184dac2d3487b5c9eb5cea7f350148ed0e7a7fe1b1bd91038a504c1c3</string>
			<key>size</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XClock-color</string>
			<key>mtime</key>
			<integer>1563177202</integer>
			<key>sha256</key>
			<string>e811ba1a22efa17590cb9a9a72f2ecd93028bb5a274ca5cd9a16f67c4e7ac52b</string>
			<key>size</key>
			<integer>245</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xclock/COPYING</string>
			<key>mtime</key>
			<integer>1563177202</integer>
			<key>sha256</key>
			<string>ee1f19f46801ef00e70498603e74df644d0b93fc82f06b55ce64c3a2c9f16e71</string>
			<key>size</key>
			<integer>3422</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xclock.1</string>
			<key>mtime</key>
			<integer>1563177202</integer>
			<key>sha256</key>
			<string>4546fdd61b750dd0f82810253313bb1581d8250664dedc33516204621817471e</string>
			<key>size</key>
			<integer>9869</integer>
		</dict>
	</array>
</dict>
</plist>
