<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xconsole</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/xconsole</string>
			<key>mtime</key>
			<integer>1499787427</integer>
			<key>sha256</key>
			<string>c5c9dea5be1f58ec668eb7e36eac0ba32739cdedfeb13cc614160a9efdb7f532</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xconsole.1</string>
			<key>mtime</key>
			<integer>1499787427</integer>
			<key>sha256</key>
			<string>b68f0dd75430c9d8c9cbbf4c1a132eb06e9e661a3d04ffc59452efb638032a9b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XConsole</string>
			<key>mtime</key>
			<integer>1499787427</integer>
			<key>sha256</key>
			<string>b1af37d223eecbc0470f2e1c9b575f20778054b366a84ff3d48bc45c8085a87a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xconsole/COPYING</string>
			<key>mtime</key>
			<integer>1499787427</integer>
			<key>sha256</key>
			<string>a29ea5dbcde7ba1695c95949be6303d1ca1de0b7786a38b60f33eccf03506f9d</string>
		</dict>
	</array>
</dict>
</plist>
