<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xcursor-themes</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/X_cursor</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>72012835f0854555f80f4d79cc187ebe7c1c392ade43f9bf01e13dd42c8c535b</string>
			<key>size</key>
			<integer>1088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/based_arrow_down</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>a58fac8b554136094ccacf02332c67ce4d3f4def5b871a12e0b527fdd9f05eb2</string>
			<key>size</key>
			<integer>1088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/based_arrow_up</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>5a5d2d57bf898bf35256c8674a132fcc1a9f20469d7bd6bad5ed753fe905c4b5</string>
			<key>size</key>
			<integer>1088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/bottom_left_corner</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>303db77c580d889eda87855a787ecbabecebe89dfc8265965c37d656b1d10c57</string>
			<key>size</key>
			<integer>1024</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/bottom_right_corner</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>ab85d04e6fcf1fbabe89f6bdf571e7882731dfe350e2254725484cf51c51e95c</string>
			<key>size</key>
			<integer>1024</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/bottom_side</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>390c8d52cb946c6a642bf0f3450324669b81472fc1ff49b9b2ee78cb1cb75c54</string>
			<key>size</key>
			<integer>1088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/bottom_tee</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>820f51639244a94a0a04980d42eb8128b0715892ca9b2577e01f62eeb5f081d8</string>
			<key>size</key>
			<integer>1024</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/center_ptr</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>ec5760ec108ef2b2169d9041fc7806efe80475e18e89cfd98b815cce4c4d98c8</string>
			<key>size</key>
			<integer>1088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/circle</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>d4067b0c0188ecb91074f2655c9a23926595e26cf1e352d8e73375c654118665</string>
			<key>size</key>
			<integer>1088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/cross</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>8b7fd9bce964945301a954fe82ce205dfb37cacea10732e4361988e85b10fee1</string>
			<key>size</key>
			<integer>1088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/dot</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>c7ea9defa7c10215629524115a324e5178596f9bacf02ba64440cea6bd2b52ec</string>
			<key>size</key>
			<integer>1088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/dotbox</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>ba188abcc5879778d3acf4fc76cbd52788214365a48051f5709edb6132b441dc</string>
			<key>size</key>
			<integer>1088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/double_arrow</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>fe1e2f001b4a2aa72acd366ae70f33fb677279ec74b6b5d7a2cacd6035f15927</string>
			<key>size</key>
			<integer>1088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/draped_box</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>c5cd4352b085cd0ed4b3bfc5e367a707a2c186301905873d34b12517892a935e</string>
			<key>size</key>
			<integer>1088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/fleur</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>ddfa19b115b952c20a80a6c2ad5fc03e06ad6effca85b1698b3abf1b7db9272d</string>
			<key>size</key>
			<integer>1360</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/gumby</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>7d7a975f49440913512fae6e30d77bc921f7f320828f4517b042317defe58a87</string>
			<key>size</key>
			<integer>832</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/hand2</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>48240793dc9318a36ff7fca75addc09fe898c31e3d6d719b663ea3447da5b7c1</string>
			<key>size</key>
			<integer>1360</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/left_ptr</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>377576a771da6f84dfe3f98e8e598f4278aa4830d56ed1413d24c5a850d33c82</string>
			<key>size</key>
			<integer>1088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/left_ptr_watch</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>f21dca5504d1a01e31e837c667864d6f91802d796911059ab5e842e89480ae99</string>
			<key>size</key>
			<integer>1600</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/left_side</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>58f8a3992864805821f2dd20e9d9d3421b1b0081a9d71b624cb4c22a3e1603b6</string>
			<key>size</key>
			<integer>1024</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/left_tee</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>3f81104dee0e8e1164f5e1f963dfc9c466e5c2fa49dbc64d5f0b6bb8809401bd</string>
			<key>size</key>
			<integer>1024</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/ll_angle</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>10c0422fe7d12030a3cf48c50f36996732b9c8e9076fce97baf842e474151cba</string>
			<key>size</key>
			<integer>1024</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/pencil</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>f9d12edae82915256a6cee824524373df48a98e2b51aab9f60cb589551d1fd04</string>
			<key>size</key>
			<integer>1360</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/right_ptr</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>3fc1251feeaecf2d657e9795b167d4f0227506b2c21935ec2c2929f8030f91b4</string>
			<key>size</key>
			<integer>960</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/right_side</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>8ff84d272780477ceb9cd81a6e310c1375f52b1d24e226d1cb4417406242555b</string>
			<key>size</key>
			<integer>960</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/right_tee</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>0399e7440337c73039036b1adbb9e77e0d6b993c64f9a8885e17b6183dd9d610</string>
			<key>size</key>
			<integer>1088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/sb_h_double_arrow</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>cee659d0144c14cd54c8ccb28029121b4e982c22bfbdcea3e451a3c359844752</string>
			<key>size</key>
			<integer>1216</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/sb_right_arrow</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>efc9f97278db86224919c18c719171ebcb94abd449480de61a3e2319287e4d1b</string>
			<key>size</key>
			<integer>1024</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/sb_up_arrow</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>49a1f303e252243608a97eeb22b9c81c659bfc2e81814f1db784bde9899c7c68</string>
			<key>size</key>
			<integer>1088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/sb_v_double_arrow</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>078f9b32200877f2501abda84d46a78445936ee006056c84d2d0a8729cc5910e</string>
			<key>size</key>
			<integer>1088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/shuttle</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>5d79abbc977c385038aaf3ffd765e04a2ecad64e082292dbd07629da7267d70c</string>
			<key>size</key>
			<integer>2968</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/top_left_corner</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>70956af3f089d3c0694da3022bd0d45476bfbc3d1b7bef62e0cd5ea8395600c8</string>
			<key>size</key>
			<integer>1088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/top_right_corner</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>fa75c534b5f581e4a8890ef58b5b4c3e57f8904cdd1562a824f40734d4e18b4e</string>
			<key>size</key>
			<integer>1088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/top_side</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>38af1a89f2d9393acd36c4a146bba1df0c90f8997d5c784db8b3c3aa1ccb6e25</string>
			<key>size</key>
			<integer>1088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/top_tee</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>bf8f1844f42ad6817ba5d7c9c12367910611629797c0b2f1b8e1b65aa7622081</string>
			<key>size</key>
			<integer>1088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/watch</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>58c9fbba7ca33546f240ee64fe7329c0d4da6e1daa5e6641074d91268687c0b0</string>
			<key>size</key>
			<integer>1152</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/xterm</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>96b8a41f684d7d98be2756f7fbee1a45e2ac51b16a495c003a19520b7087e11a</string>
			<key>size</key>
			<integer>1088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/X_cursor</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>568a7a0d98920fd4c6be0e0b3081d2ba6a8699b08d3b32e3d6aa0736a176ccfb</string>
			<key>size</key>
			<integer>33280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/based_arrow_down</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>c64385a42e9ba24e5beb59755b58534f38b7d79ea16e2de027123cd4514fa0e2</string>
			<key>size</key>
			<integer>33280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/based_arrow_up</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>fa3936548a34c0652f1e90a503e1e4cd51e6eb902d4d485263828d035a54ef4c</string>
			<key>size</key>
			<integer>32000</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/bottom_left_corner</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>5fbe4f68b1faac7097091daefbf49a1e8eaa7d6683a270eb5d9b84423598e5a8</string>
			<key>size</key>
			<integer>29888</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/bottom_right_corner</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>a31247635038be4d369968768533bfa13af325013ac856251cb813a2e7d54ec2</string>
			<key>size</key>
			<integer>29488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/bottom_side</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>b8b1ca0c2ad93313b8d91c41059cd24388fcb5a4fa18d45e9f7db19cee4ae004</string>
			<key>size</key>
			<integer>33280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/bottom_tee</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>6224f095e1d22fecdf90754ffb54fe76643e5e4592924730025e05f7b1e9e602</string>
			<key>size</key>
			<integer>29488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/center_ptr</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>bb14fe9dc7ea1d63f56612e30cd968849ab03664b50563282d63ef93fba73624</string>
			<key>size</key>
			<integer>33280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/circle</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>e0ef9e945d4f5bd935c4434ec10febda8d8d719dbe3192335a9ffdfa4a1fbfc6</string>
			<key>size</key>
			<integer>33280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/cross</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>58a2466c30eda2d3cf208fa980ff3f7f9283e5d66b24b7541598dc69828c0fda</string>
			<key>size</key>
			<integer>33280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/dot</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>c54a956b7b49788f9fb36dc74fd3a352d82be57ecdb5b111cd84b711f41b2eb1</string>
			<key>size</key>
			<integer>33280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/dotbox</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>69de90ccdd566ea643c3cf552b286738e9ed4b48d693311433ca7f96ba8154a8</string>
			<key>size</key>
			<integer>33280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/double_arrow</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>9f835513efa72459155538d7038b559cf088d2f321bd686ac16dd8b28155ad99</string>
			<key>size</key>
			<integer>33280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/draped_box</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>eabc54a0a4aba666f764bfc673c67b26c1621baeef319839f2cd8a74e678ede6</string>
			<key>size</key>
			<integer>33280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/fleur</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>76d12735e9df97b2a59db8006bb5729b6bd5226f7fd0816a8afc9b2fa565d869</string>
			<key>size</key>
			<integer>42052</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/gumby</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>4936253658665957bf6764d0c34e43e87ea8b8866b76048b3d8c7ab89640fc1f</string>
			<key>size</key>
			<integer>25024</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/hand2</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>69f664c64ea2cbd5226cf8c2874672c659685bb731772cc46ef120838a66eba5</string>
			<key>size</key>
			<integer>42052</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/left_ptr</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>ceee314460d414ded27b58df30cd4729044cfafb7e6c91b969f2478371d78b39</string>
			<key>size</key>
			<integer>33280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/left_ptr_watch</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>cdee2ebb62d498c5fbf9c9b442df0d6d700c43ffc95838796950f5c22f1f7d3c</string>
			<key>size</key>
			<integer>83056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/left_side</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>a5d801f0b7fe746c285c2093933ce00d21d481e1c950a48f1c7aae9be891bf2d</string>
			<key>size</key>
			<integer>29888</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/left_tee</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>e316d61b30964ad6ba057f1abbed29e149d99f3be0aca23b31c78ba561571916</string>
			<key>size</key>
			<integer>29888</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/ll_angle</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>e82b9d561f2744b3bb62d31e85338cf7cb5191f80cf05747a26d9aed2bfabedb</string>
			<key>size</key>
			<integer>29888</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/pencil</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>9782e993c35923f405a7c5843282c344314008130084e721afc34c3ffaf3b958</string>
			<key>size</key>
			<integer>42052</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/right_ptr</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>6a9811f71fa058ab4cbc4b574cebf91207e30cde84ebf01d73ced93f0dfa12a0</string>
			<key>size</key>
			<integer>28224</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/right_side</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>14fac4e64464031af5e835391fc48d11a00090612e6907f407a8e0c4817bac44</string>
			<key>size</key>
			<integer>30592</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/right_tee</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>3d8cd6572866070464e559a8f9d8f5a92075c7cf7155d954bfc9b7a5270543e9</string>
			<key>size</key>
			<integer>32832</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/sb_h_double_arrow</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>8b8fa5f90e0b1d5446cd4e6b3cad24ca5cc2b3839d8d43a04b90c3156ecd3341</string>
			<key>size</key>
			<integer>37408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/sb_right_arrow</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>7f41da12b400530a8346d3862042f2dc03b331c21fd7704221ae891c181464e3</string>
			<key>size</key>
			<integer>30404</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/sb_up_arrow</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>5de21e817eade26c327b2a25167c08b4c6edc8da5d4b988ca56e8251444e3a0d</string>
			<key>size</key>
			<integer>33280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/sb_v_double_arrow</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>79d1e997aa8e857b74ad0fcbabaa48a66cad5cf49a9aa42da20ddde9385ac2b1</string>
			<key>size</key>
			<integer>33280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/shuttle</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>26c9edc0991ccd4dbe695103da329ad048113227435567597335a030e1436909</string>
			<key>size</key>
			<integer>89564</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/top_left_corner</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>095849d9c7cd86deb418918fc9fcc2c94f400f3f298ef8c59503007d6dfcf959</string>
			<key>size</key>
			<integer>33280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/top_right_corner</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>6829274f3f93ee5a2eb827fe4c138d1707255f7cbba255aaffa9c546bd1d9dc8</string>
			<key>size</key>
			<integer>33024</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/top_side</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>0d402e117de838bad08f6071dd829e59e707f1980c106c84507a161706622b50</string>
			<key>size</key>
			<integer>33280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/top_tee</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>aff2ca0506a57067c8b3c9578d0adbd188673f5d971a63d6181ecaa74d4e44ec</string>
			<key>size</key>
			<integer>33280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/watch</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>b85fe9d03ce3dab33b96b12c7bb71abab2946051f8172fd800dd87ec77b2a6b7</string>
			<key>size</key>
			<integer>250152</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/xterm</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>fa9629da0112f84d47ca599570198d04934165c744fad989e4b687bd5108d6f0</string>
			<key>size</key>
			<integer>33280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/X_cursor</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>db0e3ab79264ec7399b44ef7482fdae3a33735935f38cea617bbf46e57ae8095</string>
			<key>size</key>
			<integer>45652</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/base_arrow_down</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>a22fd3f68bc8cdb06eb089fc5fe579f09a5e85f487663ce271939b79abd90c04</string>
			<key>size</key>
			<integer>45652</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/base_arrow_up</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>ef0f9b2197c5172898216658f566f1e928e264585d1c56cb40b42097a2fb04c3</string>
			<key>size</key>
			<integer>44480</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/boat</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>ee7f3315661576dda62e17bab72bf88d60351b53ed5a2f225d6f02ac87eb13fb</string>
			<key>size</key>
			<integer>29208</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/bottom_left_corner</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>f8e6790981c29bcbb537a8d19425cf40bacc8fa7aca29738c76fbb595b28df20</string>
			<key>size</key>
			<integer>41512</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/bottom_right_corner</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>e5a1894db6d6bde2ef888d1c81b64f28f0190b0f364e43ea74595cbec808c5c1</string>
			<key>size</key>
			<integer>41528</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/bottom_side</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>a98e86c480ae9fa1d04b9242df7db6a07fed6a77ffd19321609cb9d82904dba1</string>
			<key>size</key>
			<integer>45652</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/bottom_tee</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>ebecb41070fadd85a9752d173d22099c679322f8695196e60ced95d329a986ae</string>
			<key>size</key>
			<integer>41528</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/center_ptr</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>37353c8470d40f9325118e09dc1a1ac06253abc8def80101b4632c420fc47e04</string>
			<key>size</key>
			<integer>55856</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/circle</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>8bbb669faebc74f69d27ea0c029c338adf7dd75c4d2896d93056a3526b757b95</string>
			<key>size</key>
			<integer>45652</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/cross</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>0b5ddd41368e359e93d089c5d2f889b610770c6840dce148c25baa1b26dff3b7</string>
			<key>size</key>
			<integer>45652</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/dot</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>ef7d1e305fd326f60bc4d1a7156aa75f13e150d9b3497f3568bdc3597be3ab08</string>
			<key>size</key>
			<integer>45652</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/dot_box_mask</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>e368e4a85170edaec187c334d0080a8ac308871b6ecd4e050f3d3c28497474eb</string>
			<key>size</key>
			<integer>45652</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/double_arrow</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>d675feb60fed73c1c3141f95eaadc7aea01387b34287a3e5ed30b3b906e661b2</string>
			<key>size</key>
			<integer>45652</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/draped_box</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>6f521d3df5c141603d052f2f19a5964dd2342e3d36bcf18e3ceb675bc741e415</string>
			<key>size</key>
			<integer>45652</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/exchange</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>65274b02fc1d33653fec155c9e5f402ae55f3cd5f07cc210786d382129937e1d</string>
			<key>size</key>
			<integer>33216</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/fleur</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>2ef1dc82ef2a7eca6e9a3f1fd9e5cf191f49244b47d9655f8d8cff0516fdbd9a</string>
			<key>size</key>
			<integer>43896</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/gumby</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>4936253658665957bf6764d0c34e43e87ea8b8866b76048b3d8c7ab89640fc1f</string>
			<key>size</key>
			<integer>25024</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/hand1</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>652a0a529bcfd98079c0aa5adf23c305641a39cadd28e0a148ddabc634651541</string>
			<key>size</key>
			<integer>28160</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/hand2</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>5a5b3d681ea0967990acf67aadef034bf235da18f755a83101ae256c39de5cc0</string>
			<key>size</key>
			<integer>38740</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/left_ptr</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>6c020e7f85d484999732ec627fdff64647cddf0c77d364b7674561fd191a4ba7</string>
			<key>size</key>
			<integer>33280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/left_ptr_watch</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>1a8407b66554f356dc29d42d25d10e501d8e5ea27ad2f6d8c4c302f209c71f3d</string>
			<key>size</key>
			<integer>67048</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/left_side</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>62ed64ddc9f2931d4ba814831d8a451e4133f949c7ec357d7d84c54b699c395f</string>
			<key>size</key>
			<integer>41784</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/left_tee</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>563573d5f4e36ac8a18eca0cb0fbc0889af0573e8ab37e54737bfdb2d0e698ff</string>
			<key>size</key>
			<integer>41784</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/ll_angle</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>c74d2ba9a7693064ad85637fd62de762b79978865512911121009d3744e57933</string>
			<key>size</key>
			<integer>41784</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/lr_angle</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>315ca256fd4cd2f42c8fa155d1a2f24ba9a8f93165a0e412a706afe051ec0963</string>
			<key>size</key>
			<integer>40492</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/pencil</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>323221cf517006810ce64df61e81fa9894e738db70405410d078a6db7d82d070</string>
			<key>size</key>
			<integer>34720</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/pirate</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>793e72848702371e0b6912e8e543d7881025bb08753818fa202932f215d98050</string>
			<key>size</key>
			<integer>44852</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/question_arrow</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>72487a89cd6ef234c65309ce5da2d1f9ed095d30ac337bf465aa55b1f29ff332</string>
			<key>size</key>
			<integer>21632</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/right_ptr</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>8ec4820651c0e817a87c01ef1049789973fb98c8cfd73ab1f49a9b0116df466f</string>
			<key>size</key>
			<integer>33280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/right_side</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>7873fee3e48555547b1d21854dccfe9f61fc7acedd2d1857b5b9cb27595b7f7d</string>
			<key>size</key>
			<integer>45652</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/right_tee</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>040c7ae5099aff7877a2a1a1013c971c62e19781c836e188340c3be636a77c4f</string>
			<key>size</key>
			<integer>45364</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/sailboat</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>f56901336bef6bf774a4b0fb8f6bd74130a997db72bff75b8c5534a410b40d54</string>
			<key>size</key>
			<integer>27136</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/sb_down_arrow</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>d129ad54e5c91b3fb4c4aaccbf69eefa3161e7b12290e2591161826009124aff</string>
			<key>size</key>
			<integer>39932</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/sb_h_double_arrow</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>5341866ff0efe792a5ccae34fc60f59c90c935fe903806313bf57e52bccc45b8</string>
			<key>size</key>
			<integer>30156</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/sb_left_arrow</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>758dc6d419add3c32239c9b206196abe8b275ee36dfef9799aa488d5eaeb1363</string>
			<key>size</key>
			<integer>43216</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/sb_right_arrow</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>5555e8f5a394e0c7d783565af925b4f88cb09dde60e2a3e10f1ee2cc1b7d1087</string>
			<key>size</key>
			<integer>42652</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/sb_up_arrow</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>93ea7f794fa663aef5fadb4693a36d883cc8360373bf6df99acbb0d770efb9b6</string>
			<key>size</key>
			<integer>45652</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/sb_v_double_arrow</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>b7bce72994267cfcf7f17f58372b28056c518575a22366f6c65aa49958f8df96</string>
			<key>size</key>
			<integer>45652</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/shuttle</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>fa79e087c7cbf8b1c46fc84baeda7c50c13164012844e5a6a51b3c8246c7cf88</string>
			<key>size</key>
			<integer>26820</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/sizing</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>bdd59064a6e4f9591c70e14eb6dbaf82804e6c2380bebc813b6943bce882ee8f</string>
			<key>size</key>
			<integer>43100</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/target</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>a679b1a3bc992b31f068ecf1f4824f9cd36854c4661e2e56e96961befcd638c1</string>
			<key>size</key>
			<integer>18880</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/top_left_corner</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>b30da142c3235692dd7c648fae30e715f522f6f37f3ba510aeb85ff08caa7926</string>
			<key>size</key>
			<integer>45652</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/top_right_corner</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>1b8615252f150c709c595b6cc45cdd519e593c734e3db3336fab3b6e5f50663a</string>
			<key>size</key>
			<integer>45672</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/top_side</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>17274d47e76dfd4ef789d710551e6f6dd85597f7156704e1cbf30234c4c791ce</string>
			<key>size</key>
			<integer>45652</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/top_tee</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>fecc6f35164a10d0d234c822473004fd2bff4d6a2b020b5651221487abc3c7a5</string>
			<key>size</key>
			<integer>45652</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/trek</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>78fe1e8f80ddf24293942f2c56e5dcda82a6774425a831cb59ea4a9a4722a136</string>
			<key>size</key>
			<integer>42556</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/ul_angle</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>ebe9a51dc7f251a8a50ecb723db14fa8d7c2dcd672657517690b1229d5d56c01</string>
			<key>size</key>
			<integer>37984</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/ur_angle</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>11ca6cec62a8ee67aa4de5f7ff54552be3b0cf31e92e28a5447e52ce83e076a5</string>
			<key>size</key>
			<integer>43384</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/watch</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>3cbfd8db0c2f8644fff207fd2a3a007ca91054556ed21347532a3cfb175c962f</string>
			<key>size</key>
			<integer>31080</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/xterm</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>f54134bbbed5f0856dac673011431666ca9b3022b5e60117bec10301243ffcf3</string>
			<key>size</key>
			<integer>38052</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xcursor-themes/COPYING</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>e437aed89c3440a9fe7e19968a3f2eeb97041ef6c9616837a3fd42d0874fc0e6</string>
			<key>size</key>
			<integer>1329</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/08e8e1c95fe2fc01f976f1e063a24ccd</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>target</key>
			<string>/usr/share/icons/handhelds/cursors/left_ptr_watch</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/arrow</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>target</key>
			<string>/usr/share/icons/handhelds/cursors/right_ptr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/cross_reverse</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>target</key>
			<string>/usr/share/icons/handhelds/cursors/cross</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/crosshair</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>target</key>
			<string>/usr/share/icons/handhelds/cursors/cross</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/draft_large</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>target</key>
			<string>/usr/share/icons/handhelds/cursors/right_ptr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/draft_small</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>target</key>
			<string>/usr/share/icons/handhelds/cursors/right_ptr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/plus</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>target</key>
			<string>/usr/share/icons/handhelds/cursors/cross</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/tcross</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>target</key>
			<string>/usr/share/icons/handhelds/cursors/cross</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/handhelds/cursors/top_left_arrow</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>target</key>
			<string>/usr/share/icons/handhelds/cursors/left_ptr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/08e8e1c95fe2fc01f976f1e063a24ccd</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>target</key>
			<string>/usr/share/icons/redglass/cursors/left_ptr_watch</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/arrow</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>target</key>
			<string>/usr/share/icons/redglass/cursors/right_ptr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/cross_reverse</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>target</key>
			<string>/usr/share/icons/redglass/cursors/cross</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/crosshair</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>target</key>
			<string>/usr/share/icons/redglass/cursors/cross</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/draft_large</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>target</key>
			<string>/usr/share/icons/redglass/cursors/right_ptr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/draft_small</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>target</key>
			<string>/usr/share/icons/redglass/cursors/right_ptr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/plus</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>target</key>
			<string>/usr/share/icons/redglass/cursors/cross</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/tcross</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>target</key>
			<string>/usr/share/icons/redglass/cursors/cross</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/redglass/cursors/top_left_arrow</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>target</key>
			<string>/usr/share/icons/redglass/cursors/left_ptr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/08e8e1c95fe2fc01f976f1e063a24ccd</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>target</key>
			<string>/usr/share/icons/whiteglass/cursors/left_ptr_watch</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/arrow</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>target</key>
			<string>/usr/share/icons/whiteglass/cursors/right_ptr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/cross_reverse</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>target</key>
			<string>/usr/share/icons/whiteglass/cursors/cross</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/crosshair</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>target</key>
			<string>/usr/share/icons/whiteglass/cursors/cross</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/dnd-none</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>target</key>
			<string>/usr/share/icons/whiteglass/cursors/fleur</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/draft_large</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>target</key>
			<string>/usr/share/icons/whiteglass/cursors/right_ptr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/draft_small</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>target</key>
			<string>/usr/share/icons/whiteglass/cursors/right_ptr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/grab</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>target</key>
			<string>/usr/share/icons/whiteglass/cursors/hand1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/hand</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>target</key>
			<string>/usr/share/icons/whiteglass/cursors/hand2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/plus</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>target</key>
			<string>/usr/share/icons/whiteglass/cursors/cross</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/pointer</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>target</key>
			<string>/usr/share/icons/whiteglass/cursors/hand</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/tcross</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>target</key>
			<string>/usr/share/icons/whiteglass/cursors/cross</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/whiteglass/cursors/top_left_arrow</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>target</key>
			<string>/usr/share/icons/whiteglass/cursors/left_ptr</string>
		</dict>
	</array>
</dict>
</plist>
