<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xdg-utils</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/xdg-desktop-icon</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>44d5bce99c9aee78b6cbf0c6f6cc28ada8a2a2d2b0fe277c9701e9b80f50ad8a</string>
			<key>size</key>
			<integer>21211</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xdg-desktop-menu</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>348eb15d600520dcd40d7a53476f590283257e78a0921357022292505c70ce49</string>
			<key>size</key>
			<integer>44568</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xdg-email</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>bee897f81bea2f5ce7592a3cbbbd279b8580d6a1f08debb7bc1bdea4b7c799b3</string>
			<key>size</key>
			<integer>27304</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xdg-icon-resource</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>f2b442a7be5e1b1647f4d75719e2d00388bde2a1990d8e18829a945feac08f39</string>
			<key>size</key>
			<integer>30716</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xdg-mime</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>0a1fa2f42b826aa8b88aed341a1663c34a712e73e119ac2e3297878fb423f944</string>
			<key>size</key>
			<integer>42789</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xdg-open</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>12425d70dc39f776e0c12609e6ec82a1a1a4da5477963ad3c0681e11f967b8af</string>
			<key>size</key>
			<integer>25763</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xdg-screensaver</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>0af124ee1528a4495aea6278fce675e17809c633510bf8ba18b5ad6824c443a9</string>
			<key>size</key>
			<integer>37885</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xdg-settings</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>46459208bb568ceeaf1752a775bb42156d47cdd7d3982d5e9ca24eb0eb72817b</string>
			<key>size</key>
			<integer>38625</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xdg-utils/LICENSE</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>b244f73c3d21edaf44ec253b9a7c389ec43313c417f52f8b71914b0c40d87325</string>
			<key>size</key>
			<integer>1087</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xdg-desktop-icon.1</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>4f5d5928c7d51802eeedbb9f495fc7798b5a0ddd015aef642af69a41b86d68fb</string>
			<key>size</key>
			<integer>7194</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xdg-desktop-menu.1</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>6a094a70590cecf924b3070faeab36177030bf1d40e5ede4b8acc34e265c8099</string>
			<key>size</key>
			<integer>15956</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xdg-email.1</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>10311664f81d55a3ec7838c69524c53393adc7552539d8733ea5297459dafc56</string>
			<key>size</key>
			<integer>5722</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xdg-icon-resource.1</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>72334e71f0f295e42fc1b0afe000b99caa688b31b35b1827d6689f93db400773</string>
			<key>size</key>
			<integer>8116</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xdg-mime.1</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>9fc2723ba1cdb5d5618c87258c216d1c80ceb25514dc74c39659f93f58a40cf2</string>
			<key>size</key>
			<integer>8463</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xdg-open.1</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>c032027b0e9e1b768296ecc0821620ad48da7d9410b5726a74ba2d912cd0fd26</string>
			<key>size</key>
			<integer>3317</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xdg-screensaver.1</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>b95baf4dddf8ed1f9306ad21e1aac1132ad5208ea874728e83c01f97880b8b92</string>
			<key>size</key>
			<integer>4275</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xdg-settings.1</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>f1c9b2f927aae8a0fe4f561b673382956352076ab2950119c69a772be63a57e8</string>
			<key>size</key>
			<integer>4543</integer>
		</dict>
	</array>
</dict>
</plist>
