<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/xdg/user-dirs.conf</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>435ecfed78ebd03efc6257c2aafb211b7136e2e1a9e466d42dfaa7a16acfd4f7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/xdg/user-dirs.defaults</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>49eb605821e8f5ebd7a1fa5966e56f55adf92ee0bac42b00610aa906d7fdf032</string>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ps/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ky/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ky</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be@latin/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be@latin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gd/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/crh/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/crh</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nds/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nds</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ku/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ku</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@Latn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@Latn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/an/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/an</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ia/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ia</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/br/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/br</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/xdg/autostart</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/xdg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/xdg-user-dirs-update</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>61eb20ef2075b98898a701763229ad6991c0960156efb94b23c0ee3186a4df62</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xdg-user-dir</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>66f6896a88c333b2c3152617fd3be51d7e896481abc07028a064dad17e64f6b8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/user-dirs.dirs.5</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>6316c2345b2a8ce6b093de878e571a687ab6780ab4e49e6f112f0645062bbd1f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/user-dirs.conf.5</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>594de355322bc9abbefbaa83ecb9147ed014421ffb1be1a843d2a47c5f11768f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/user-dirs.defaults.5</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>a9f54cf339ff19078b7214502d2d81d0af73086d8f7f218c6b93f8fcdf33af14</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xdg-user-dirs-update.1</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>4de19ac8c22a01e1ab45e515bf12ba41be2dbe8192cda529a75cb48c8011b307</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xdg-user-dir.1</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>da0d171c1dc626ec79ab9a654fd56f5c3579daf36b84c3fba817314dc2747d9f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>ac7c91e5c6eb52f58fe31aec7f419cc35aef9709babdeb5d98d2e7c1e27ee169</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>35b3937dbc2251018eeac912bc578978a2b03e868bc9113252ac50f7b3b32c9a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>e23db6cbf9817c2a7c0f10ffe1b76328360d3ce12bac33a95f062aca94f8d785</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>a66696f34d7bf8c5a7bdb52f055ca56b185081253e5a98c3616b209a9c4342f3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ps/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>27db7dfb06a077f7f5c18e8fe91e50070a204ca038efe230280e04a17cc95a93</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>921738136da904b331eaba61fd30f08a080723ccf46f4446fc6b1fe5e5a0b5b8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>f0a806d729c6a3375d783c530c08fd528811577fa8b69c44e3ca67898c36ed87</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>ec4c61878dc36a541a5be7e195b3ac7ccda1b8ff41ce1be62d5a7850446c8f0a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>6963851a85e38cbb17585ff4e2ef156007710526359a62b1b73766aeeb60c458</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>e0f6179845c9be43c50bc98460d805a1c31586051b113338c8aee9c6effead8b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ky/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>60a38ba430114e08e81f15849516866eb4eb4c69705109a3e7198b119ef7f76c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>13431e4555251151c0b3fbe908208f8a6209f994a9116aa9218d3736c9309d29</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>d527d4f5abb54630a5e47a601d2e4e3a51ce58c467d35ac83da78630ebefd5f3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>c1776f1b64eca5241188a0426e0fc2c603cbf431e86c838c0ae63df869714a2f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be@latin/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>901cf7ac2287e9f306169a8575be97f66822546e561d2712ca633ad7cf5dbbda</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>b0a38294f37f51a26b4dc077e14dbdeb24f936e496bcf9549713ff16eff721fa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>3cb810fd795df21822758f13b297eebb41c430ef6017866394b5cb8440116569</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>19b4b04354548df8ab7b69ef51563d2802b11d2c27e5553172c34b9f2042003a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>0867c16daf496d2fea66a755e24e13a36e1e9fa80f4d647a7b9434298a77ffc7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gd/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>5b4f699fbf667d8c162000fbfb44bab375ec735b7b657697d6d0521a97514757</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>5fb9b619ba99ff63366d5d92dc61518e5464a0a36e6bd8f0b13e89d7b02e10ff</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>8bdb317c86b55e2301d23d771a56e867d6e8d8cd97bfaddc5726d8a591501f7c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>159bdba3ed82c0066ad828f9fd879ee8dcfc31d221da1a80cba7efee8d10b9bf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>16ce12353cf2900b47729dc178baf076a661c58b354d9f86f6a3448e6bda2239</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>0d6606069e521061160af2b87c464ff0efef1cb1af3220cd0ad02624369c89a7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/crh/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>8ecffc33704481869da018d47e058fa5ab2f1ab5784e1b9557fb22e3124268b9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>69097ad3a8559a026c608b1ab3c81c962d5b8f6fa1924c02ee16cac7411ef976</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nds/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>efc10ace4048a6eebb1c12a9a463893cddbffbf364358c81be6253bfdf93176f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>2fe06f24ae7e6c7d515b5544cc8a304adcc7c16956213aa47b63dbfe08a1cab1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>552726493155d73c5108141a633d7cbb32ec96080e05c6bb1f271974209e9866</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kn/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>b9f747c475e5d1c0199fe98749931fa901c5e210a133a0608911954bf7993c30</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mk/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>cc6886bb5f0702fc848fdc88568583bc35c629263fbfbacb86b1727dba3977c9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ku/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>06468e849d7dd48c406fc2025740aa595eb19a0879d2512b123a91599d243374</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>0a15ba7c2a3e120e486230af1ec82aadc40653b13cd8e72b23fab831a2287770</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>71a8e526e7ff1f14183172df0ef3aae90b671f520c9452923b2f748fb98052fa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>6db2611a592e900c3d6ed7e5a08df4a0f7b435cf97f65278aa3d31dab70cdabb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>35da9c9b3de4bfa10a13d9fcf692454505317740d41950a9ee102c27d45a8665</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>cbc0157ca1e87c1aba72159b6e9b7dfab0244959ea06ea980f1c6a5ca597386e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>62b9941b0f8e50ca5b6b8d50cf81ec732935548b8dfb35df705d49ae939ba43f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>c0d15ee8d57f30cea87aba0021f65e79d77ee31beb7d357e71316d657bcd4f8c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>3455794a8d22cf8ec2eec323cd91745d7877eed92a566ef14abada090e08d322</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/or/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>c253bc4ac7a82c8d9b0f73f1d56e66865d109157059605af8de0758b51748c89</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>fa154128caaef00049b356f449b2ef182376f2af7648abb8839455444b455f74</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>d6ef5e053846c053f870ff71f4806ef35fe0d457eefd776a7abdefe64085db10</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr@Latn/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>70f5feed1d01e48ceda362b96ea01405a2e29c1213103e6f0fca13cd31b0084a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>1316b86ce2b6fdc69044f248fcd99d890d69fc2146ab5ebb516a3c7494e6aa60</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>6562b1784b238be68aa1e7cc52bac0035530ec2a4c60133a57edb95c8839801a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/as/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>14f4fd975b8c054a7e5b7adef36ffc019a50fa2adf687566513e14b10993af99</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>ae0dce53a02346977ad6626a888bae3d3a90b1ff872d85a614007b64ec5137ae</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>43510aeaeba6112f53a3e694b239f743c7e1c5e651508928cd3ecbd19d9dce50</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>266329340c4b23a2446f9fab7d1c3ce8677162a45b3a8ad7d0ae28129793108f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>1dd5e6caea8a1f6d151621be26809b2022ee6a277af29dc049e6039193a03268</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>acacadd1dcc0af33ea0c5693d6b6a124da37e83ed2e2e7cf84ea3e6ed3e74ca0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>9cac69ce4f8b8cf125e652987c28e93ae23cdb848c4767a1fee030975a3c94b0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>936f81ceee6c6da28b8869f91507d39bfd7a26fa9e0a44baa70eb8e337b7a894</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>1adb96ad2b87dce629d5a36940d557e5af9ac0fee60768e0690c60f87e7be8dd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/an/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>4da4f75f4db5167f216fa445841c4ad22bd618a8a3933bf55b645ab5872aa475</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/mr/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>8938b29325932916970c08a6e9513a8f2637d6ad664d7462c328fceb3ab8394e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>36e629b1bb3044d243b163077dbb55158349f288b03472cc3cbf7bfef74d4376</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ia/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>d3ea3d0f2ffb76513e210ed147b31bce967ddafdbb03c357012efcf1e4904105</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>5ded05cf6091aa22bc95ea667ddedf4898b079e60d5e1c241bfc40e8221cdd8a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>664ae07933f31a4b9ba1bf561f25aaf23209f4b2eb463fd711ebef5c28f0d970</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/br/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>fbded8f31af6304d484871aaeafb7dfaf78a6f768e26d6997d950a2fc8f2d9bc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>54928a4a34f96b902b54904d8db26e6925404b5c3bc92926201eb4ba97547bf0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ml/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>11c71e669ddf728f46906bb8fed32919c5253faadc9a2c0844c34a349450d316</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ta/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>758e26fc6ae3c40a58ec1c8920524d35d440abc910077257cd4821667af18d69</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>70de07a9da645d7c4449adfb3a0c6c4fbcb528ed2bc9145561f9b47ddc4f9089</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>c76d593d526b2d568dbaf54aa213c052b871c2b85c1b8d4d57b509f96b81af12</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gu/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>f73304f16eb9ee6dc2977039288c05a326c02e39dc9daadda59fe098bbc3324a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>12ad1c12b1eab1e3b6e5b24f78afe8e073409730ce459b46f78a60414b1e095c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>77aef9e46e3c72d89d50ad2444791ed063e21e613b9f07be26b6305485f54711</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>80d872dea0c0501d7e34eb7eab701776fe7c50cee8a2838f7745fb9f5f20e59b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fur/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>3fc0015ea1308be9299de0fdc0d0efd60db6d37791905aa751a788ce3f4fc8a7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn_IN/LC_MESSAGES/xdg-user-dirs.mo</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>b3365e4056f82e41591b80193c86f1ec7d209276fddd52827b7d7076ab7b8689</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/xdg/autostart/xdg-user-dirs.desktop</string>
			<key>mtime</key>
			<integer>1521112608</integer>
			<key>sha256</key>
			<string>ea05f42fe125aaa3fade8ec6b2b3addbd2754dcf4d8b309dc33f6cdf983f24ba</string>
		</dict>
	</array>
</dict>
</plist>
