<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/X11/xdm/Xaccess</string>
			<key>mtime</key>
			<integer>1608358898</integer>
			<key>sha256</key>
			<string>72157c489fed07aad8545ec2a8eaf4846c137af8421e5a65cfefada8b2d9abea</string>
			<key>size</key>
			<integer>3401</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/X11/xdm/Xresources</string>
			<key>mtime</key>
			<integer>1608358898</integer>
			<key>sha256</key>
			<string>9afe137ded47ecba6c4114db76c960073a2027cf84e5b76d3bb9b71b752e48bf</string>
			<key>size</key>
			<integer>2731</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/X11/xdm/Xservers</string>
			<key>mtime</key>
			<integer>1608358898</integer>
			<key>sha256</key>
			<string>2da05e9a641fe28215840e960c292a632b79a37699f43a15af29a40163bdce69</string>
			<key>size</key>
			<integer>423</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/X11/xdm/xdm-config</string>
			<key>mtime</key>
			<integer>1608358898</integer>
			<key>sha256</key>
			<string>7f16ba33b21021cd099b22ff477f17a8565185e58f5afad215cdca4c03fd368c</string>
			<key>size</key>
			<integer>1247</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/pam.d/xdm</string>
			<key>mtime</key>
			<integer>1608358898</integer>
			<key>sha256</key>
			<string>84e8909668cff00382799d615d0e9bb0a5a11e12255f3db28853be4ad76aebd3</string>
			<key>size</key>
			<integer>272</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/X11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/X11/xdm</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/pam.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/xdm</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/X11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/X11/xdm</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/X11/xdm/pixmaps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xdm</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/xdm/run</string>
			<key>mtime</key>
			<integer>1608358898</integer>
			<key>sha256</key>
			<string>407ef3ac05371c989668a16d068798f5a3af622ba1a93cc5db2b027766e71053</string>
			<key>size</key>
			<integer>53</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xdm</string>
			<key>mtime</key>
			<integer>1608358898</integer>
			<key>sha256</key>
			<string>de229e534f7809648f1b3de9724cd04ee5490a57516133f3fa2067754ab92a53</string>
			<key>size</key>
			<integer>128072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/X11/xdm/GiveConsole</string>
			<key>mtime</key>
			<integer>1608358898</integer>
			<key>sha256</key>
			<string>992f7602ce94517e8519c9cf0f080eaeb6fc10e4fa74174fca496516cb6ea978</string>
			<key>size</key>
			<integer>325</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/X11/xdm/TakeConsole</string>
			<key>mtime</key>
			<integer>1608358898</integer>
			<key>sha256</key>
			<string>5f1d813fc89265d682bb6b41ef3bcbce4efccc673c723cd584d8f7f6bb043c7d</string>
			<key>size</key>
			<integer>184</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/X11/xdm/Xreset</string>
			<key>mtime</key>
			<integer>1608358898</integer>
			<key>sha256</key>
			<string>1626e94c3c5b69aa13e0c2344e287fcb423f3bbdaafd5b4712d430937207fd66</string>
			<key>size</key>
			<integer>179</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/X11/xdm/Xsession</string>
			<key>mtime</key>
			<integer>1608358898</integer>
			<key>sha256</key>
			<string>5fb89b37a2274fccd3ea3f7216592d63d07084969e6ffb7178b4b9966293b85b</string>
			<key>size</key>
			<integer>1348</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/X11/xdm/Xsetup_0</string>
			<key>mtime</key>
			<integer>1608358898</integer>
			<key>sha256</key>
			<string>e928997897a6a7778cd9a04f2602a28526a1e1bef569c92cd7b85cb5eeff34e4</string>
			<key>size</key>
			<integer>88</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/X11/xdm/Xstartup</string>
			<key>mtime</key>
			<integer>1608358898</integer>
			<key>sha256</key>
			<string>9d3e1da3a4f278656d058d154afef8344f4d76c44494b60be05a6382ba854dfa</string>
			<key>size</key>
			<integer>181</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/X11/xdm/Xwilling</string>
			<key>mtime</key>
			<integer>1608358898</integer>
			<key>sha256</key>
			<string>272fa7257e89997d9896de608d12e8d825c3dcef5f3644090f6d237020777b1a</string>
			<key>size</key>
			<integer>291</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/X11/xdm/chooser</string>
			<key>mtime</key>
			<integer>1608358898</integer>
			<key>sha256</key>
			<string>042fac88dbeeb74d738720951d9c4dad6b7db44af039c719e01d861051fac5a8</string>
			<key>size</key>
			<integer>27152</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/X11/xdm/libXdmGreet.so</string>
			<key>mtime</key>
			<integer>1608358898</integer>
			<key>sha256</key>
			<string>80df6c98aa904d062fc452da963bc52fe2d0ab7764277a241e4d9e6da46a2671</string>
			<key>size</key>
			<integer>54000</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/X11/xdm/pixmaps/xorg-bw.xpm</string>
			<key>mtime</key>
			<integer>1608358898</integer>
			<key>sha256</key>
			<string>4def42a31d24166e28a22fbbdb92ac0e1f51599e5e6216bfdd3447bbff5c2161</string>
			<key>size</key>
			<integer>24601</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/X11/xdm/pixmaps/xorg.xpm</string>
			<key>mtime</key>
			<integer>1608358898</integer>
			<key>sha256</key>
			<string>d19246684cd12f588182635de38ee64b56ef6a5a4551e9aea5f369dbcc62209d</string>
			<key>size</key>
			<integer>54452</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/Chooser</string>
			<key>mtime</key>
			<integer>1608358898</integer>
			<key>sha256</key>
			<string>9700a09b7b5422ec835168775bd0abfb7824c2bcefc6adc322c11f92fddd58f4</string>
			<key>size</key>
			<integer>1251</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xdm/COPYING</string>
			<key>mtime</key>
			<integer>1608358898</integer>
			<key>sha256</key>
			<string>b33b4bebbd6511b3e15315e8e29d67f25334ee45da8b7da6e6e97c53a70c6923</string>
			<key>size</key>
			<integer>8212</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xdm.8</string>
			<key>mtime</key>
			<integer>1608358898</integer>
			<key>sha256</key>
			<string>3d490afb7afa56899c6b548603f0923a0fe82a7f5849e4090498ec95ad894b61</string>
			<key>size</key>
			<integer>57933</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/xdm/supervise</string>
			<key>mtime</key>
			<integer>1608358898</integer>
			<key>target</key>
			<string>/run/runit/supervise.xdm</string>
		</dict>
	</array>
</dict>
</plist>
