<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xev</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/xev</string>
			<key>mtime</key>
			<integer>1595501597</integer>
			<key>sha256</key>
			<string>dc12977e1355bb855369e4b349f0ce2cb3981b50c01555118186d43ece59712e</string>
			<key>size</key>
			<integer>39336</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xev/COPYING</string>
			<key>mtime</key>
			<integer>1595501597</integer>
			<key>sha256</key>
			<string>9b840f2e1900889124cc999f3158da2b6b07bf6d0d77bdbb01ce65d2e702dc83</string>
			<key>size</key>
			<integer>1272</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xev.1</string>
			<key>mtime</key>
			<integer>1595501597</integer>
			<key>sha256</key>
			<string>c71a7bf7d10ab206bb045b986b0628629d9494b94bc86ed4b8533b343a3e41f1</string>
			<key>size</key>
			<integer>2801</integer>
		</dict>
	</array>
</dict>
</plist>
