<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/xorg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/xorg/modules</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/xorg/modules/input</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/xorg.conf.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xf86-input-libinput</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man4</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/xorg/modules/input/libinput_drv.so</string>
			<key>mtime</key>
			<integer>1595808748</integer>
			<key>sha256</key>
			<string>3739acd50e2ac0d43acec5238073d4e01b2674863ddc8207aa8c3e76c2193d8d</string>
			<key>size</key>
			<integer>80064</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/xorg.conf.d/40-libinput.conf</string>
			<key>mtime</key>
			<integer>1595808748</integer>
			<key>sha256</key>
			<string>05009d632170ecfedaa9aa566cf5ac1334d7fae3290e89fbf2e8d085c50f428b</string>
			<key>size</key>
			<integer>1429</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xf86-input-libinput/COPYING</string>
			<key>mtime</key>
			<integer>1595808748</integer>
			<key>sha256</key>
			<string>b808a8a077995380c6064bec41616f98546b0b2e79bb7f3d0247d290e275b396</string>
			<key>size</key>
			<integer>1088</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man4/libinput.4</string>
			<key>mtime</key>
			<integer>1595808748</integer>
			<key>sha256</key>
			<string>85cc7ef460b3f8b30916433a1b2c5529b63b28796fd58bc47f5e683bcf661116</string>
			<key>size</key>
			<integer>16361</integer>
		</dict>
	</array>
</dict>
</plist>
