<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/xorg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/xorg/modules</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/xorg/modules/drivers</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/xorg.conf.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xf86-video-amdgpu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man4</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/xorg/modules/drivers/amdgpu_drv.so</string>
			<key>mtime</key>
			<integer>1577474517</integer>
			<key>sha256</key>
			<string>2ac634e6252c270ae0a24887819d4082049b99b90ad67c949031fb4b62a3c92d</string>
			<key>size</key>
			<integer>165056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/xorg.conf.d/10-amdgpu.conf</string>
			<key>mtime</key>
			<integer>1577474517</integer>
			<key>sha256</key>
			<string>24c778bc565fd5ef813cc50d97e15185116555e5b27ac1427432f859aab60710</string>
			<key>size</key>
			<integer>92</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xf86-video-amdgpu/COPYING</string>
			<key>mtime</key>
			<integer>1577474517</integer>
			<key>sha256</key>
			<string>58847c8e97190c401afa84b3f0b8b147379c876a184e99af2cb51bfd40ac8936</string>
			<key>size</key>
			<integer>6871</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man4/amdgpu.4</string>
			<key>mtime</key>
			<integer>1577474517</integer>
			<key>sha256</key>
			<string>4d7c462a62015e4bf453934a650308f04b88791a7cede4e69415eb4fef51dc4b</string>
			<key>size</key>
			<integer>4178</integer>
		</dict>
	</array>
</dict>
</plist>
