<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/xorg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/xorg/modules</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/xorg/modules/drivers</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/xorg.conf.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xf86-video-ati</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man4</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/xorg/modules/drivers/ati_drv.so</string>
			<key>mtime</key>
			<integer>1582288489</integer>
			<key>sha256</key>
			<string>0d938b4ef87fbf6b1ee1b47f775030fa7efadc2ddb1659b774c19a1271a9eb8d</string>
			<key>size</key>
			<integer>14560</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/xorg/modules/drivers/radeon_drv.so</string>
			<key>mtime</key>
			<integer>1582288489</integer>
			<key>sha256</key>
			<string>f3ecac1002e7b29cdf4edb8d30a86f07b19e529133bab1cf84f60f43c0ebc73a</string>
			<key>size</key>
			<integer>518496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/xorg.conf.d/10-radeon.conf</string>
			<key>mtime</key>
			<integer>1582288489</integer>
			<key>sha256</key>
			<string>6692f677fe29d82c681dc94eb5b78cbbfd7396c7b1cc3cdc01ae0d899d2636a8</string>
			<key>size</key>
			<integer>92</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xf86-video-ati/COPYING</string>
			<key>mtime</key>
			<integer>1582288489</integer>
			<key>sha256</key>
			<string>58847c8e97190c401afa84b3f0b8b147379c876a184e99af2cb51bfd40ac8936</string>
			<key>size</key>
			<integer>6871</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man4/ati.4</string>
			<key>mtime</key>
			<integer>1582288489</integer>
			<key>sha256</key>
			<string>93a0bfc2f9ac61facd3eb92c7996ed428317a115a5b9fded62945a46bd296f64</string>
			<key>size</key>
			<integer>978</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man4/radeon.4</string>
			<key>mtime</key>
			<integer>1582288489</integer>
			<key>sha256</key>
			<string>484a4a13910af0bde551c92273ec93959241ed109a13d96b35d81351477fef8d</string>
			<key>size</key>
			<integer>11441</integer>
		</dict>
	</array>
</dict>
</plist>
