<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/xorg</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/xorg/modules</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/xorg/modules/drivers</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xf86-video-dummy</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/xorg/modules/drivers/dummy_drv.so</string>
			<key>mtime</key>
			<integer>1527512560</integer>
			<key>sha256</key>
			<string>f236fddcbdf1da253f6318c64105bb77420b394ae1aad57b23382266d675d0ed</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xf86-video-dummy/COPYING</string>
			<key>mtime</key>
			<integer>1527512560</integer>
			<key>sha256</key>
			<string>e29aa81e74563d14e5633963107c030e74e8352ea7dafee1a9d7e19b7d0e887b</string>
			<key>type</key>
			<string>files</string>
		</dict>
	</array>
</dict>
</plist>
