<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/xdg/xfce4/xfconf/xfce-perchannel-xml/xfce4-session.xml</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>d3e1ca0c22e756cfefd962f3ebee45cfbe5c61ba9054f63b04675275b0872888</string>
			<key>size</key>
			<integer>1822</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/xdg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/xdg/autostart</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/xdg/xfce4</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/xdg/xfce4/xfconf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/xdg/xfce4/xfconf/xfce-perchannel-xml</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/xfce4</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/xfce4/session</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/actions</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/actions</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/am</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/am/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be@tarask</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be@tarask/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_AU</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_AU/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_CA</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_CA/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy_AM</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy_AM/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hye</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hye/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ie</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ie/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur_PK</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur_PK/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/polkit-1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/polkit-1/actions</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xsessions</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/xdg/autostart/xscreensaver.desktop</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>83086fe77e2c0a5cfb49053a9785b8cd0ffd5c9dedfe04102b1fe47d4d0cd9d5</string>
			<key>size</key>
			<integer>5946</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/xdg/xfce4/Xft.xrdb</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>db36786118c595c8481eb688669e0167d1d2faf9adbcc0494316b61171116eda</string>
			<key>size</key>
			<integer>221</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/xdg/xfce4/xinitrc</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>a7b748db18a25a97f0b77f8167d899604ee553f8fc84e8e098eb48582e0219c9</string>
			<key>size</key>
			<integer>3497</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/startxfce4</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>d39b4b13ce62bae002b01371bc642a94adf28fca76e83f4bbd0c47f0868ff94e</string>
			<key>size</key>
			<integer>3048</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfce4-session</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>bab260dce53441c93422b4851f6781a05e204faa659075629b35bd9776db5ae8</string>
			<key>size</key>
			<integer>260400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfce4-session-logout</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>a9bec674c9ec41816c01f7ed000722798cdfb1b3c2d283e1be71fe82abcba071</string>
			<key>size</key>
			<integer>14896</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfce4-session-settings</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>808e30d33ae06973bc7643ddf188ea027dd4fa00c553e8943811480f141aab82</string>
			<key>size</key>
			<integer>178320</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xflock4</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>e003bde428c430d984293a8d6e54173c217b98f3e949d8931a5f06044bbdafc7</string>
			<key>size</key>
			<integer>1717</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/xfce4/session/xfsm-shutdown-helper</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>2d406b2089e196e676e7f591e70c66db60c42c9fda11023e365477afec23dbf5</string>
			<key>size</key>
			<integer>14400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/xfce-session-settings.desktop</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>e02914426ec55f7e698c27a3c944cd2f210986a2e4fa0c5362b4c8cbc483c87b</string>
			<key>size</key>
			<integer>13454</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/xfce4-session-logout.desktop</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>21419104cce9eee2893e0a7c202c266a6d00326eb361ce6ea54c3cbcbe0fa007</string>
			<key>size</key>
			<integer>4463</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps/org.xfce.session.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>9d6e6f95f7e364a3486fb81a3e3c5ea81af51b7f5199f79e458f54b871594a5a</string>
			<key>size</key>
			<integer>3550</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/apps/org.xfce.session.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>95a4176309caf7c54c64e0807fc317a9f5d08e1a7b9416e33e0becfeb453e7f8</string>
			<key>size</key>
			<integer>804</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/actions/xfsm-hibernate.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>41ea48c3840cec0a3477eec9524c6fa367e1e942557cc61e4e8bee4e68912284</string>
			<key>size</key>
			<integer>1406</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/actions/xfsm-lock.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>104fbf3f2da53646a78d273909f0f0ba6098e7b358ab86592c042ad931fc0c9f</string>
			<key>size</key>
			<integer>1108</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/actions/xfsm-logout.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>9acbaf377a26a4d9a0fb2d1a8a0056de2cb0805d561a041878de4574e766b3d5</string>
			<key>size</key>
			<integer>1182</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/actions/xfsm-reboot.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>31c39bac812ea1a2f506a97f8ae7905b525d9c00ad8807fc742594e9b8fb21e8</string>
			<key>size</key>
			<integer>1320</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/actions/xfsm-shutdown.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>dd3825dbf96d79a5bc72725a1810413477aab2f54e067ef7a56ffcb817bd1087</string>
			<key>size</key>
			<integer>1278</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/actions/xfsm-suspend.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>4139c6e36cdeb7abe7ea13c2308c589351ea9e1936456bbed6c011338209ae7d</string>
			<key>size</key>
			<integer>1152</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/actions/xfsm-switch-user.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>1aa7a5abb65a79220fe47e00f7bdef4012c4175a902c86a63ee7aea9b0b2db69</string>
			<key>size</key>
			<integer>1244</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/apps/org.xfce.session.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>c30ed8ccd17f92b7b65ada6db50be7d3f4c48a5dbf9220a5e25416a555ab8621</string>
			<key>size</key>
			<integer>880</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps/org.xfce.session.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>6944fb7d5d5a1dc31e3d30fc6746821f6e98735a760ef942ceca487f6e8e56df</string>
			<key>size</key>
			<integer>1062</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/actions/xfsm-hibernate.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>39f11e1ba6335a37c22df949b0f0c2cad39ac9ed60757759693bdbc5309e36c9</string>
			<key>size</key>
			<integer>2417</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/actions/xfsm-lock.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>af460b47334b525df087d46f6719b6ac1b3848907b71aa2d3bc7f19ef8f70758</string>
			<key>size</key>
			<integer>1721</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/actions/xfsm-logout.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>78312666fef6a3ae8a73af487d1c4444f45b9a5b37f5e53267e95fdb4df05661</string>
			<key>size</key>
			<integer>1884</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/actions/xfsm-reboot.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>f5b994e98fbdc987c57ee8ea5f0408be4c3ab7bbbe9319c27e28a094c8e262e0</string>
			<key>size</key>
			<integer>2151</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/actions/xfsm-shutdown.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>50fb137c873d567fafba55a695fd53d88fd0386c54fb51444dc90631aa6ad6cd</string>
			<key>size</key>
			<integer>2110</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/actions/xfsm-suspend.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>9a37688df48d920a1b0d9c37b7870d1144fb84107c1ecdb935ce289633b9e9c8</string>
			<key>size</key>
			<integer>2120</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/actions/xfsm-switch-user.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>e026839ec6f85b7e3c884fcb8389076425e71fe4b7ce748efb7ef78e70333b2e</string>
			<key>size</key>
			<integer>2038</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/apps/org.xfce.session.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>fec5a5fa754f6d5d47a6de0a64819f2e17cc9bdb150732d0fe1984f003adb7ec</string>
			<key>size</key>
			<integer>1505</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/apps/org.xfce.session.svg</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>68513fd77d0718552be3ef3c8a83be1caa4097b0ede2b9f12c22019597bab8ee</string>
			<key>size</key>
			<integer>18051</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/am/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>35d9526aedb8b23f2d32604283582d7dd6a781326e6fbb1bc1f4d1a89f8923f3</string>
			<key>size</key>
			<integer>12135</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>966def73065033aee5aa75f7011395de9c9880f51692c904936a5010b2783ca0</string>
			<key>size</key>
			<integer>12948</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>eb2b80c9f4605f154547a7199676cd0b7bc657f0ae28e20a61f33b2b41f2e318</string>
			<key>size</key>
			<integer>12566</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>df46aa235959576641aa2dc358b6f3df2eb57ad76d7104c05bdb0cb60eeeb0c1</string>
			<key>size</key>
			<integer>18503</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be@tarask/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>1f816aad285750ffb9a0fe8ed640fba626f0627a8b15edd4a7ec72e197d1f261</string>
			<key>size</key>
			<integer>18609</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>2ebef5ca1e8a53971b84dc727acc1be3fdfe221f3881056062cdf77d2f880fab</string>
			<key>size</key>
			<integer>18877</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>244c44f6d7778cc0ab96fa87baffaed158be60d3d4a421d46febd1238bcbb032</string>
			<key>size</key>
			<integer>13463</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>88bd78e12b19f62783b76fb22ec4a106acd5ff0a8d32cebdeb4fde040ba0d50b</string>
			<key>size</key>
			<integer>15139</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>291a0dee5fbe2a42553091deb9039d387d75be2fdd8b19abfa31cc46558b5b06</string>
			<key>size</key>
			<integer>14976</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>0182fa71a4c9d10da4574b98d5dcd9191ab01d58a6b2d18e8e5e562c544f1e0b</string>
			<key>size</key>
			<integer>14216</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>6dc5b649bec758c1cab3ef85bd261b84501e81b187a1a93952288a830187e189</string>
			<key>size</key>
			<integer>15321</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>108f12861c6559fd30a2b28e3462ec80424fd39feadcae298ea83a9eff6b043c</string>
			<key>size</key>
			<integer>19083</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_AU/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>f24ef9f1a251bddc73f6ae3d4f42c2061bc9fbcdcdc556f65c43f04304df4113</string>
			<key>size</key>
			<integer>13148</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_CA/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>6d96058e48351af540a3fa0263fd02a898a713d4ed3d1e372d7897c23c8239d1</string>
			<key>size</key>
			<integer>13829</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>7e419df759fe52d8f6286f73ae5c38d2554b44c30c40024508ab332a91c351ee</string>
			<key>size</key>
			<integer>11772</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>edd36c7a6379903f8228f131d71c1f8f6721aed0f99cde8180c9bdcb87e5f0b4</string>
			<key>size</key>
			<integer>8230</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>d3435f5de82b37bdf8a70763da51f3c4643d3de8c969bc311ec587c4abc35bc4</string>
			<key>size</key>
			<integer>15089</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>ee681297b5e3de6a6b6b4af62ada35a7fbf2bc50ac531fb0c1e0de4c590089c1</string>
			<key>size</key>
			<integer>14839</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>e5b7dc7f8a99b1f28dfdb9771e95fdc15a698bcecb3106958f5f5bb1aba9e01f</string>
			<key>size</key>
			<integer>14228</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>40826e8e9465f41445dbd4ae1cd271b937ec4eb46a0ad6d118c9df581aa909ee</string>
			<key>size</key>
			<integer>14167</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>90c6c0a4f624191f8cee89cada745f8e3e53c30841d572142a669ef6c83808bf</string>
			<key>size</key>
			<integer>15537</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>b6b550b3a1ba974ffd9ff50186b843ed72cfcbb24f7fe09e246dbdbb727b998a</string>
			<key>size</key>
			<integer>15163</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>047ab10fa1c7356a3dbc46007618ebaf3ed784768c5f01d50d43ecd6e3709bc5</string>
			<key>size</key>
			<integer>15635</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>7099863ab9c8b3029aa646c31af4ec64882854c6cd75bd95734b94ea4ac49382</string>
			<key>size</key>
			<integer>20789</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>739ff55dc4a44adea50e8dac616ba051a727fb9cdf6d4735916b06ee59d953b1</string>
			<key>size</key>
			<integer>13881</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>658b426088c7c485a0429ee54bffe229aa78a3cf9f9f70a21a0724cea0eb8ae3</string>
			<key>size</key>
			<integer>14924</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy_AM/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>01fa2bbd81298780cc8708271edc1fd51420191728d1a26fd8f18baa754a9604</string>
			<key>size</key>
			<integer>17302</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hye/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>2a33cf76d891233a33f04d9c5dc9f6493b7417b72b769b658fe46b89372d019c</string>
			<key>size</key>
			<integer>18415</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>ac8f78570715e4a2d344ea9c3954bb5ef0614ae9c5b4f0dabc694bb0c7a4c3f8</string>
			<key>size</key>
			<integer>14162</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ie/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>88eb3150afd387078f92de8d185b15e0e8bf0615d27cabd64456db700fdbdea8</string>
			<key>size</key>
			<integer>11465</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>72eb57ad5ac01a34cdc378bc256d286f472cc195d6d13ba708f19bc1c7fff449</string>
			<key>size</key>
			<integer>13919</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>6954bad3552ecfbcdcd19b6d735f9812bc8f0893ad9212fc2be3a1d4879686cc</string>
			<key>size</key>
			<integer>14806</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>a3833a3883810a9c2ca80b4c10f5ba738d56c03a29622732a5e0cb85d0af4584</string>
			<key>size</key>
			<integer>17029</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>6e9a7f7136eb05e90c788a65008232db33166fa4ab5cc7749a9c19466affca96</string>
			<key>size</key>
			<integer>18668</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>dba755dd897ba33bc7452a2f2257bb4d150ef050ab4aa77805982d2581ca7c61</string>
			<key>size</key>
			<integer>15759</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>8aa6d21b4cdda27b9289468956aa77cd9ba0db824d14b8dc7e4b7aad9d108654</string>
			<key>size</key>
			<integer>14763</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>99383b6066dd69521047a0b288ef1a07d93944bf4aa919ed87621385ca2a4ca3</string>
			<key>size</key>
			<integer>8766</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>9a611fe9b72001d1a7f3d6a88cdede9dfcb610619bfdf34ab66f68f2c5bfdeb2</string>
			<key>size</key>
			<integer>13921</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>0dc3ea2bfe882137049cf9e8a2ea30d2df71f1192f0d07906d369c61dc506e0e</string>
			<key>size</key>
			<integer>14001</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>00d3ffd83ebbcfba3b26a8b34d7870b10587f537a24a878eef56dc7994002d3b</string>
			<key>size</key>
			<integer>14566</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>87cc78e33d067a338566256ff5f082c09990dad4126fc4873b21baa9a45f2788</string>
			<key>size</key>
			<integer>11934</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>4df717cd3b2129318bbcb09d3088ad06929dee2191bf19746193ffd648152654</string>
			<key>size</key>
			<integer>13911</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>a0e020e581ecde33c3e867363fd6392d67307309b009251b67d0703945daea2f</string>
			<key>size</key>
			<integer>8115</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>9e45f4665021eead8f96b6d7d79a267e3fccde98b13fd4654d362dfc7d6c1203</string>
			<key>size</key>
			<integer>15121</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>35937650eabf8c05d46a56350f8df3f18a34e3da942a742ea443709ac3a553c7</string>
			<key>size</key>
			<integer>14472</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>8cada223e8bc3eaff707d3815bbf873ab61b181a65b818cd1e50679f30d1d5c5</string>
			<key>size</key>
			<integer>15035</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>f503aa621e80eff05a0812a817790c12c24cb24993276213df787c560a853e48</string>
			<key>size</key>
			<integer>11747</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>2eb047e906adc527b4c6b877b48c94289faa5b7df82ea68eb42eab11ff62b824</string>
			<key>size</key>
			<integer>19007</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>c92d00ddacfb42ff5569a3e8ea381c7bd0d291e88f2bbaeca15411f58b09024a</string>
			<key>size</key>
			<integer>10956</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>2beb58d51cb71c7e30832f2a1771eb36f9a8865ccd912d7ae3b378e81ef6ad61</string>
			<key>size</key>
			<integer>14928</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>f36db367ff906f2cdcf8fb658d63244fcd9dec44b831c0b46f405fd6f8c52206</string>
			<key>size</key>
			<integer>14267</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>67859639dc977ecf5db2660d64e9b72534c5273276b77ad0927074e0d0667f6c</string>
			<key>size</key>
			<integer>14437</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>2cd4c34fb08db96cbd1b228d735fce58f907d4240b7a7830a31be87ea7098f79</string>
			<key>size</key>
			<integer>18755</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>4336dce57fe98d940636cdfbb78a0af2517bf0f16f402eb357d34e4b235cbc45</string>
			<key>size</key>
			<integer>14605</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>0eb53883e0b39d4a4673e1b5a7e04ac7c2994f16e51e31d77a1fec9e9eb5693b</string>
			<key>size</key>
			<integer>10200</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>7d7b9dced09a59c9737fa00c728d9007177d6f7722f258fb3237cb86e00c9967</string>
			<key>size</key>
			<integer>20910</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>c1d0bd25029ebbd3f4e6e62efbbb3d22bf417364c8e9baa42443502bea8b5b74</string>
			<key>size</key>
			<integer>14412</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>88b61cdfac3ed2131d5b5b1250c6f24df24056e3273e95010c642d7692f612b7</string>
			<key>size</key>
			<integer>15056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>66dc6bef178540eaf595469a9b42923a8e13893e30ff903b6615060a1b787fcf</string>
			<key>size</key>
			<integer>17847</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>faf38560c83265e289a58cc9c5b974cf4e1ccc69741984d8325b5fdf9c709c47</string>
			<key>size</key>
			<integer>10267</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur_PK/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>2c3dc05cc86a4633b804f6a0ccab42ec426601cde8384a88bcf992d88aa66d14</string>
			<key>size</key>
			<integer>10284</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>555d7e2d9607600af01cc455ca6ac07cf350b98b2bfd2e0198a47d6c780a2023</string>
			<key>size</key>
			<integer>8001</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>67655883f4847927593323845869648b773ce08d18a3795e39e5199b2e121631</string>
			<key>size</key>
			<integer>13448</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>f7c54946b08d584d6a8873a63265bd9f12ac2bff31abc1931c496189c806787c</string>
			<key>size</key>
			<integer>10755</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/xfce4-session.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>9d8bfbed848dd47fd663060a606915327c84772e1e3451631d086dcc388f9bdc</string>
			<key>size</key>
			<integer>13812</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xfce4-session-logout.1</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>90545d8a6c5479204f2af1692a96c1b7d0da7e25e965a83fdb2540e921e55f70</string>
			<key>size</key>
			<integer>1570</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xfce4-session.1</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>025149a9962192aaee8e0406b8fcd49bca1a24dbc432cb2f3460d40e267e2386</string>
			<key>size</key>
			<integer>2651</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/polkit-1/actions/org.xfce.session.policy</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>f79fd8b66185be1a1f7910e902c5a467f715faa84598cfa97687fc3345898bcf</string>
			<key>size</key>
			<integer>897</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xsessions/xfce.desktop</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>8b044fdee251f83974281138c0a5a4b12ee52211fe4ca7f7c47abda2ee4e7f1d</string>
			<key>size</key>
			<integer>6832</integer>
		</dict>
	</array>
</dict>
</plist>
