<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/actions</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/actions</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/actions</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_AU</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_AU/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy_AM</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy_AM/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hye</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hye/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ie</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ie/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur_PK</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur_PK/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfce4-taskmanager</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>6fa0ab0470fe2dc1d54064fecc62c548536f1fb359a4638d30087bad6c0b83c3</string>
			<key>size</key>
			<integer>145664</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/xfce4-taskmanager.desktop</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>415deea420370f2a3d2bcb504c78914ab0f27d125bbfb77a0b4bff32d9f4d8c9</string>
			<key>size</key>
			<integer>6789</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps/org.xfce.taskmanager.png</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>2b69d17a19593ef2ff969a0cc308d7a7aa6015395f42efc6cb36925384295608</string>
			<key>size</key>
			<integer>3271</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/actions/xc_crosshair.png</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>c0b1debe69a46215f991f8cfd954ec0802be1611499798447e4a9b9a6ab8ce57</string>
			<key>size</key>
			<integer>359</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/apps/org.xfce.taskmanager.png</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>0bb966fc9cbda13a8370914b6648d6f1851872f92d2a02079edb2f4ceb04fde5</string>
			<key>size</key>
			<integer>694</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/actions/xc_crosshair.png</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>c5a6b6412212005f7554929784c1469f62cea5e3223e0142f2d1e4e60f9a2cf6</string>
			<key>size</key>
			<integer>358</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/apps/org.xfce.taskmanager.png</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>2bcd3b156683b7be510ccbc6bdb3db1b10cc6769e56df26724f2da5d26ee0e4a</string>
			<key>size</key>
			<integer>1504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/actions/xc_crosshair.svg</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>db5d3f1bce9b7ce85a3bcd78eef710dc9352611b13adb624fb421f9468cbabdb</string>
			<key>size</key>
			<integer>13925</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/apps/org.xfce.taskmanager.svg</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>e800bce62ff6a4e1f3ff30a187de2217a22e24a6521ebab7cbbb343cf7dbf1c0</string>
			<key>size</key>
			<integer>12371</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>3dc497cfa367a153c8a892f1781746539843018a61901483d6e9075c76d2d9d5</string>
			<key>size</key>
			<integer>5293</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>266214a93db0310da4836538653bc7efce058b65af7da733835b5e429eaaae41</string>
			<key>size</key>
			<integer>3000</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>42f3d0f0cc2b7b7d108c28aa3b9c37d10d1f29da67a59ae8ac917a576885a466</string>
			<key>size</key>
			<integer>7413</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>b43e1a6c65ca0c1deb0936384309ac03bcbf2973aa69ff7c15ac145d5fd470ac</string>
			<key>size</key>
			<integer>7713</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>22fa0edb04a10907eedd9aa5c1e6c8a598db5370af8f04601a0c2fae25bea78e</string>
			<key>size</key>
			<integer>6196</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>f8e517027b3e91fd87c4cca0bafb5df8ad005f3b5a981b1fc637d0aea283003c</string>
			<key>size</key>
			<integer>6330</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>05a55352b470b3c14c55a71e236f3ab7662cbca63ad102cad9b600bdcf085106</string>
			<key>size</key>
			<integer>6076</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>2383896f5a2018cd7c382dbe2804b9b3a75e7c4a85e3c0bcba8bb771143c4dfc</string>
			<key>size</key>
			<integer>6245</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>5c101cb6dabadde2984e7bd7ce740167db37aa093b569a889ab0ba9a963693b2</string>
			<key>size</key>
			<integer>7004</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_AU/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>76408f60a82f3e56147b6fc254ba0860958e3185d0a013247719af4088f84309</string>
			<key>size</key>
			<integer>5730</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>d3340231dd04c37187cc6c620aea9a9c5d1d9a7f1be2d21976f70c7dbe12f07c</string>
			<key>size</key>
			<integer>5766</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>dcef756d1a66ae30686cb847afe6687bd23064654ea7f19e44d2b1192425cd64</string>
			<key>size</key>
			<integer>6311</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>c97b627e9af4fe0d38f56604492b84f39446bd3b59954569fad5b97ed6edf227</string>
			<key>size</key>
			<integer>6080</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>3f9fe6d4b0f9d7879ad2d385419da0f35d9b4e69c938a58519933d392ec580bf</string>
			<key>size</key>
			<integer>4031</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>df249f1643f6c220b71c331c44b1d1da8ddfe483a294e5092e639ca49e8cb387</string>
			<key>size</key>
			<integer>6100</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>154271f4a51fae345971b59261a57fa2483e8df4af94f39cdd758a4925361450</string>
			<key>size</key>
			<integer>6416</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>65840875e142e47d0d4d7bb9d71fcf8a621d1b402e304ed6d0d5fbd1dde12475</string>
			<key>size</key>
			<integer>6275</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>da3ed33461358db8b125ebf407ac9c38263a43ad8120b49f27e481d813ca5bab</string>
			<key>size</key>
			<integer>6578</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>e31f9e20c47824e2d9688809c2a1ad96288e0bfac45c6f0bcee3e25906a335ba</string>
			<key>size</key>
			<integer>5954</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>d09770bd218bffcc4cd6ddcf25c9c9df09894010d4206c511d6a16cf27937785</string>
			<key>size</key>
			<integer>6143</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy_AM/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>9b5c83aa57cc702b65f1b5971a0b1073f41bf55d84cd6ea585a753822460f334</string>
			<key>size</key>
			<integer>7309</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hye/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>9a430dfa54b861898e1cbfab54fcbd2a052e62991409e3c29b44dab7a964e7da</string>
			<key>size</key>
			<integer>7526</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>a95e13a2a5bd53166aad5fcf00a530081eb993001bed8477410a8d2cc61cb576</string>
			<key>size</key>
			<integer>6126</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ie/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>2bab26d3ca61e0aba35bf2b3ec8ebe95d7384d2b49785ec902ba3b9257610de1</string>
			<key>size</key>
			<integer>5931</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>f00f3ebd99b1020d1132df29aed70788da2cec84e79eabf9d482f72e9dd43319</string>
			<key>size</key>
			<integer>5971</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>8234b757bb4422cee86d4f32d71e459fd6151a6e7de7437e2f7949163822e5cb</string>
			<key>size</key>
			<integer>6341</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>61e733d800d26046e07e267dd1ddd7ee0b4a9b2cfd923b6a08727cf887043e17</string>
			<key>size</key>
			<integer>6582</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>dfa40127b59e8f80f3bb03ebc3a1b9b43afc7d4bfc270532e8b5771e66c803a9</string>
			<key>size</key>
			<integer>7167</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>c0e51de43fbc06d622d67673962d1bf30372e0e50ff7f5e6b8c4a92c82931102</string>
			<key>size</key>
			<integer>6174</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>4501d71ac97cadaf0b2ddfe23470e29bc5eb5f1bcb184f316a1210c434490115</string>
			<key>size</key>
			<integer>6233</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>ede824a6f41890ed6cba1e8a05070240460aef6039c0ad983d6e33744d790edb</string>
			<key>size</key>
			<integer>819</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>3f64af619f01a9c14c011d393c6695c29f541a1be5a5ae90809eec2f512daeeb</string>
			<key>size</key>
			<integer>5842</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>8b5e0690eda6df2cb003d8d3d1cc079e2c68a50e8bc795370f7d87dbe16332a5</string>
			<key>size</key>
			<integer>6240</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>860f3cb5b67acb862bdf8acb78868bcdddd432ba262112528e5eff9adcf15879</string>
			<key>size</key>
			<integer>6076</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>1dfe3be18f19060db68477c26c7360d437873e76189dc922910a4df1b6862f4e</string>
			<key>size</key>
			<integer>4266</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>d7cba80dfeaedbcd7bb11b4b3cbf8c6caaf481d72fa88172d742963599d0446b</string>
			<key>size</key>
			<integer>868</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>2e754822b7f6f513b0d5fd197efc8ecffacdab83bff4f01724d18a82d4931fab</string>
			<key>size</key>
			<integer>6698</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>703ec208ceac0554d0b9bb1a6c6a1ffd5a3aad73f84978b839cd9756e7459464</string>
			<key>size</key>
			<integer>6158</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>607b14025eb93a79c54984985d43d3b6c4e7a2f7ba27d99a149f96af78259126</string>
			<key>size</key>
			<integer>6229</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>30a4df29bcc334ee8110974836df5151e9b4dc180852f0b06eb70112702a424b</string>
			<key>size</key>
			<integer>7734</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>97e829c64dc57faa6ba0ce993aa388d3e384e6021bdd82dbacd93eb48d3a7265</string>
			<key>size</key>
			<integer>688</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>ee4cd352f7a41142dc7d9fb18dc1149bee6cc8fd75d8b4440f882b89fe84f43e</string>
			<key>size</key>
			<integer>6186</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>baf2e92b315a89b56cb664ca0206f531fe033138b25a7a88850c2755497718e9</string>
			<key>size</key>
			<integer>5496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>a059fc734112af824d621c0d949c81fdfb849a82f2ef3bb0ec8271d9239646f2</string>
			<key>size</key>
			<integer>6130</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>a8185d8420a00f92ba83ca305decadb63726b5cc73d28fd7dc7b94419b7f149b</string>
			<key>size</key>
			<integer>7359</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>435dcf8c6ffac2a5d14d01e1f543bd0044cf1aae421d71bf70a3f5cc8482d378</string>
			<key>size</key>
			<integer>6022</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>319603bfd5cd3dc11e3a7d9b74c29740367d2cabec24800f4230e53bd4948248</string>
			<key>size</key>
			<integer>3970</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>700721439ce0f759955c2a70d1e547327bb2f427aff40bfe5d8bfbfd8553a88b</string>
			<key>size</key>
			<integer>7969</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>a5b91de19123c0abd4bf27245605181424ca8bc6e86648394888fa853790cd59</string>
			<key>size</key>
			<integer>6185</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>cf8c39461b29b2d22dbde7c7b1cbe610ac1d51554ce633dde16098027435f656</string>
			<key>size</key>
			<integer>5215</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>01c2292577a58f155bd349b511d4e4fa672a3752681d91e794c0283952d0c915</string>
			<key>size</key>
			<integer>6887</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>cf7000089e847f96cd29bb7984e30e3f68cbc1207298b166d793221a73fdf731</string>
			<key>size</key>
			<integer>955</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur_PK/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>cf7000089e847f96cd29bb7984e30e3f68cbc1207298b166d793221a73fdf731</string>
			<key>size</key>
			<integer>955</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>1ed07447726a250b1035069f2bca9ae4912831d8be20dac7be04c4352be4bdee</string>
			<key>size</key>
			<integer>3006</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>02579212d3e78af0b93e71ef95e6228753099593bed437baff28cc1c20076bf9</string>
			<key>size</key>
			<integer>5827</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>9a0b18bc91eb715eae6bfcb1a4ca1d55bc7e86ae24ccf779968f6a943c97ceeb</string>
			<key>size</key>
			<integer>3996</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/xfce4-taskmanager.mo</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>f64d5af479e88060648b0d0ecd892eefec7dc135ba08a68cf97b64c2a6d5a7d8</string>
			<key>size</key>
			<integer>5884</integer>
		</dict>
	</array>
</dict>
</plist>
