<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/pam.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/xdg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/xdg/autostart</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/xdg/menus</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/xfce4-screensaver</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/screensavers</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1/services</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/desktop-directories</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_AU</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_AU/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy_AM</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy_AM/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pixmaps</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/pam.d/xfce4-screensaver</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>f8f58c56a2543a005b13271624bbeec43bd6fe4403a7a4b5e9d10e643cd46f37</string>
			<key>size</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/xdg/autostart/xfce4-screensaver.desktop</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>839d3b1d5b8ebd70add3c12f34290c421170076f0b32e63bf34b1319d4026955</string>
			<key>size</key>
			<integer>3881</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/xdg/menus/xfce4-screensavers.menu</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>096989d0a6aed1f49df581270379837350a8a5174ae80373cb42457a4906b5fe</string>
			<key>size</key>
			<integer>488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfce4-screensaver</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>e255482ca89025fa0873d7780816b1f8108e1e71f7b2121b11236f9affea0f42</string>
			<key>size</key>
			<integer>178536</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfce4-screensaver-command</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>266a50088be95738212e622cff8465492360ca14c0ad0b9302092096a748d5f2</string>
			<key>size</key>
			<integer>19144</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfce4-screensaver-configure</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>52c55dee70b7f6719830b14cbe4482db1e11e5a0bc91da128320201663863bed</string>
			<key>size</key>
			<integer>30803</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfce4-screensaver-preferences</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>3c8a4db2fc5a894a1d249c9447dee41242c71e3467c1fe9e3f6e9d82343c754a</string>
			<key>size</key>
			<integer>125192</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/xfce4-screensaver/floaters</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>2ce32c6afe8571393230e4ad501241d111e7ffef9a2e23e976780654b64fab4e</string>
			<key>size</key>
			<integer>31128</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/xfce4-screensaver/popsquares</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>8413237af6500161e800ec7c6f9e0ae268b9e6aa88106fe89f5e8eebf6676a0e</string>
			<key>size</key>
			<integer>30776</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/xfce4-screensaver/slideshow</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>23be4df7f2d7626c2b06624f521bfcf8f48484b3631f2242248bed536d946cf5</string>
			<key>size</key>
			<integer>43064</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/xfce4-screensaver-dialog</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>af60a024dbb53b9a05fb8e99a3abeefe646c4b6ef35b222794f5c0c82fc520f2</string>
			<key>size</key>
			<integer>121520</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/xfce4-screensaver-gl-helper</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>3c76404f2fff179aecb1efd3a68f308f7ef02b07229c4682dda719f6e27352bd</string>
			<key>size</key>
			<integer>15544</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/screensavers/xfce-floaters.desktop</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>fc3e6b91921b64fc6b81f813f8e803bf3d70ea183d67404d3a9499083a3ad414</string>
			<key>size</key>
			<integer>3419</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/screensavers/xfce-personal-slideshow.desktop</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>849adfeffd3da8032301ba60abf189f725e883d2c088c0356f72044731dbfa3a</string>
			<key>size</key>
			<integer>3644</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/screensavers/xfce-popsquares.desktop</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>382a1760c722b3ce8f0865d50a7786233cdb6b15e44097b34d73e1f453399f9d</string>
			<key>size</key>
			<integer>3652</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/xfce4-screensaver-preferences.desktop</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>6fcb0c7e8434db264163bf3b96d2167c9fcd73119ae8632dc41b5b0ea27bb73b</string>
			<key>size</key>
			<integer>3664</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/dbus-1/services/org.xfce.ScreenSaver.service</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>09cd75d5407c896618d00400d5e1de86e0ee087a269bccb662d186bf7fdee906</string>
			<key>size</key>
			<integer>74</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/desktop-directories/xfce4-screensaver.directory</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>c21e4018946c5c7955756c240ec73658685d98c217a59c7ef4ca6912ca905a85</string>
			<key>size</key>
			<integer>2783</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps/org.xfce.ScreenSaver.png</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>889ce61e8aa531375b24f97754ce0d8ab12e016cebc9d1909f3a6a1aa9ab18af</string>
			<key>size</key>
			<integer>5451</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/apps/org.xfce.ScreenSaver.png</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>9ae091f98a9b49e162ce8baeece3c4de167a3e9d957ca8ffbbf2605d21f9454f</string>
			<key>size</key>
			<integer>578</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/apps/org.xfce.ScreenSaver.png</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>fca4a5b55fc314a764b96935120fff020c0e9fb23796e60f0e51829e56c31df7</string>
			<key>size</key>
			<integer>828</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps/org.xfce.ScreenSaver.png</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>53b214ae9e6b95aeb3fd3e4c664ed78b2b164717d5023d9e9a2747c6edd40dd6</string>
			<key>size</key>
			<integer>1024</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/apps/org.xfce.ScreenSaver.png</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>9063126589213d8984403d17f6d3a3762baace751f8b9fe323f1c40282ed8fc0</string>
			<key>size</key>
			<integer>1594</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/apps/org.xfce.ScreenSaver.svg</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>8ea7bf8db7160ff9458af8884d589227bcb79221f741a0634efee8ed3190dbea</string>
			<key>size</key>
			<integer>14980</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>534520c56e096092530f0d2cdafb8f7fc45bb79e673b7710381f9fcb7d0c12f6</string>
			<key>size</key>
			<integer>17546</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>a743f9187c34221f41eaa067d7011f4d4de927db20b5b175039622e981ea4229</string>
			<key>size</key>
			<integer>18553</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>267c4e8ec2dbe05840bdf8637471abaa39ea55b180857f66921972290e162652</string>
			<key>size</key>
			<integer>14331</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>91a2a212cc9984b4756bfad2337aea3c275f93c449d80387d6ecd0ff1af1e9ba</string>
			<key>size</key>
			<integer>13931</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>8ffbb5182b5cbaf9588db10a1a975be4c97f5f9cc7af50867fd3c14fa0cc7323</string>
			<key>size</key>
			<integer>13294</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>9674f977c28cea7cba475b15d0b976cf4d591c43cc73baa4ad7d3a4510748593</string>
			<key>size</key>
			<integer>14072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_AU/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>b6401255ff9c6c13ff59e517d5c24c1d32d7da4c8c39b566f7d8a401c8e0dda8</string>
			<key>size</key>
			<integer>11208</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>60077183b702baaa2fcbbeafbae056c529da9748bfa4fd323ab643f26a34ce09</string>
			<key>size</key>
			<integer>14136</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>af144e1433ebe52f8381f79537206a8a8f0e8f8b4d097fac732ce073575f5289</string>
			<key>size</key>
			<integer>13810</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>045b2387309c4b8006b81994f6d6d58d54ee1036f8926be20142b331280ed071</string>
			<key>size</key>
			<integer>12106</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>c1409d26e1dc453a6c0319f34654b9ffcde0e6e94dc7ff991f05a76b9839ad03</string>
			<key>size</key>
			<integer>14778</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>401049805a0dabd2576cbf88dd8bec9acf5a209e314dd0c95b9db62acc0455fc</string>
			<key>size</key>
			<integer>14220</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>f5a86e1169ae4bb813184ae1d1b596b1546ed663ef16ec36066c8cd2368a1a7f</string>
			<key>size</key>
			<integer>14670</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>965b4190ec8a9c02b9b25ce6d4940472a5b9298fa7b431e4ae801c356d50073f</string>
			<key>size</key>
			<integer>14107</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy_AM/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>f20b931c2defacddea7292e0f2dac0cec77afd7bb8393390d5b1f84edc2ad7d5</string>
			<key>size</key>
			<integer>15934</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>5e49eeef37287e7e53c455e833506938eec787b90ae43ed4b39ad58abbe50042</string>
			<key>size</key>
			<integer>11670</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>f847a777dd8a18a0164d9895324637f858160d859e1728b2adc44eaa427dfdfd</string>
			<key>size</key>
			<integer>13918</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>95635057e1b5eed3eda569a873833055978f3b69ddf5b009a3a551dc82a4b0c0</string>
			<key>size</key>
			<integer>15817</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>9ea5bce7a20dc6104099527d59bf5ef82c2c9c4833548858a8a7c50ce75efa99</string>
			<key>size</key>
			<integer>14401</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>11c177685ee40ba27943e9a4f347f57916636152e90baa52c281b5af28b7dd9f</string>
			<key>size</key>
			<integer>13962</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>53823b21d1ac7baa4c8b3262dff7c8f8d23705fe09e23a58f9f605ba1c4102c8</string>
			<key>size</key>
			<integer>13426</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>efe6d184efb1802fe4b13be0250667f9e0e8345fe315ca439c4629c9374f075e</string>
			<key>size</key>
			<integer>13120</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>f4c1701f38d297b849d51d9e78dbfc0aa2d7e66822de9bb51dc2b51621ae0180</string>
			<key>size</key>
			<integer>14185</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>540951598b20999f95819af3e90e77b5107c0a0b04410b8100214507d1bd0e3f</string>
			<key>size</key>
			<integer>13826</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>40a9e49b3a6eaddcec5e1c44269e2837ec3a1f8629480a456355e5e6dce20e3f</string>
			<key>size</key>
			<integer>13812</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>1ae17b502cae240380633f037887738c43054effae5128a0d07a2984c606fc14</string>
			<key>size</key>
			<integer>13811</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>b5bb53b0e156c89bacdee4e65ef6918ea04fd9a03a00ee57821ce930bb302ef4</string>
			<key>size</key>
			<integer>17298</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>aeccfc98ad1956ede53087e150bac97ed7d319735120bc778f5bc11f6628e558</string>
			<key>size</key>
			<integer>6859</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>a436a46a668217a308190e9ad390316cf7fa7497b7129597ee81a83c9134ce17</string>
			<key>size</key>
			<integer>13360</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>d8383fa4c92f980a94c598c5ae5db0e895acaaba5243d6e59238874214df5c68</string>
			<key>size</key>
			<integer>13839</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>f4e871ba63fe5e2d610e19dc74356276f92697f21b6c754aae1cd91e67121c61</string>
			<key>size</key>
			<integer>16980</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>590fb06e5ef2a726f0b9cb06eba53c9cd4ef7afa04124d25059ab2f070f6e3ef</string>
			<key>size</key>
			<integer>13369</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>c792526f2855f5f0b6173ffa4d5e99cd9e21fd85634c5821895b71e56deaba54</string>
			<key>size</key>
			<integer>21008</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>d8795a7e5a3d1da5503e1f4eae609f52d3ca4f94c700784d3229ca9a1c3885ef</string>
			<key>size</key>
			<integer>13474</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>344508f8bd3f5b47476ac480fcee712b3cd027f5d655311220bb53f445931525</string>
			<key>size</key>
			<integer>12683</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/xfce4-screensaver.mo</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>dd956136fce71704977231ae6f1c9582e3a5b06f459c9827ddb6ade642da6c79</string>
			<key>size</key>
			<integer>13009</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xfce4-screensaver-command.1</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>c6a1d49c75f1810980d73e3281874aa6894386a6a78c148547091adeed64e14e</string>
			<key>size</key>
			<integer>2164</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xfce4-screensaver-preferences.1</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>504d241392829d3a6fea739b408e1e2c569e50495d54f3f06bfa473de4c01b72</string>
			<key>size</key>
			<integer>1871</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xfce4-screensaver.1</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>501392fba3c0a3640b8e52be63842a08908140b706660d0ecd774d5087ac501d</string>
			<key>size</key>
			<integer>2346</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pixmaps/xfce-logo-white.svg</string>
			<key>mtime</key>
			<integer>1609846140</integer>
			<key>sha256</key>
			<string>429bd62a7e85c0ee7c1e6c9b77358ee14371f13f464111a846353406edeccfe5</string>
			<key>size</key>
			<integer>6883</integer>
		</dict>
	</array>
</dict>
</plist>
