<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-control-center</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-control-center/default-apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_AU</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_AU/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy_AM</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy_AM/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hye</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hye/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ie</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ie/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur_PK</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur_PK/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xfce4</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xfce4/terminal</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xfce4/terminal/colorschemes</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfce4-terminal</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>596fd073d49c6818db67b2b4b2b4c40bd6032f21ff3dc0cb2a8b9a176362c2ef</string>
			<key>size</key>
			<integer>371328</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/xfce4-terminal-settings.desktop</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>afa7a1ad189d15841ff35dbe31e2d08bdaa6db34a46986bbc781996198a1a9a2</string>
			<key>size</key>
			<integer>3112</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/xfce4-terminal.desktop</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>3260d83c73baa7b24d76561f0721e4d3bd5e80af81c029ba644a0dc24e11b3d8</string>
			<key>size</key>
			<integer>8474</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/gnome-control-center/default-apps/xfce4-terminal-default-apps.xml</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>16c00a0282a60377e0527d911ad38993d76292103b7d5124dc038e3f26bb1af1</string>
			<key>size</key>
			<integer>4184</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps/org.xfce.terminal-settings.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>74076abfbb9ef3bdfa2e58feaca61f881f6c324ef38d438e7141f892b0aa64b2</string>
			<key>size</key>
			<integer>4552</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps/org.xfce.terminal.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>c785b7118f09f16a13ca0a58c9057b1acb83c59f448d9f3b4dc2c2086570e528</string>
			<key>size</key>
			<integer>1877</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/apps/org.xfce.terminal-settings.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>ac40fcef53745835b528c76ea1b9d58c741c6233b2aa8b65ae71c6a58b92edae</string>
			<key>size</key>
			<integer>778</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/apps/org.xfce.terminal.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>6249cb919122e8f500a7e749489132171157ac4d3ea902e2da2d1be557256d51</string>
			<key>size</key>
			<integer>553</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/apps/org.xfce.terminal-settings.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>c4e6d10642ec7136de22438431df26169df91b0392e4eca32d56e6bb3a18f4ce</string>
			<key>size</key>
			<integer>1082</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/apps/org.xfce.terminal.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>6e03613c7c7e9907df0bd12d1de1c07f7a9e5da91e4d52486c913bd569a072d0</string>
			<key>size</key>
			<integer>611</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps/org.xfce.terminal-settings.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>c07254896816de79362edae531cf7e9c5e92ad3e302494ddd7a0c200a626b85b</string>
			<key>size</key>
			<integer>1155</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps/org.xfce.terminal.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>1169e49a8f2edca603c64492b9b0c0c7bea60f9fa6d458eb1a5d140b818efc93</string>
			<key>size</key>
			<integer>679</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/apps/org.xfce.terminal-settings.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>131d82ce1e4d038a9606b541d8b8a2170ff5a179f527e4fcfb47d71d55d9c90e</string>
			<key>size</key>
			<integer>1682</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/apps/org.xfce.terminal.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>5d45529efafa081be003540b2675afff2a54577d7f78851a50a2794f1b5358d0</string>
			<key>size</key>
			<integer>886</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/apps/org.xfce.terminal-settings.svg</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>fed146f6cded49206d44d714a3df52cc470330594f2289fce83fb5ad1ca6a942</string>
			<key>size</key>
			<integer>23229</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/apps/org.xfce.terminal.svg</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>b71894eb6c792947bb1acb11100ce8c1feb4f3ae76195adf6abe4c1eb502d983</string>
			<key>size</key>
			<integer>33953</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>55254208c1360d111c78e9ffaf0ff0cd7c70c366f6d221b47429870f582b6313</string>
			<key>size</key>
			<integer>29832</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>4944c0fb92db950f8ecfa792639041c46c1c6509efbc1ebee4f26a18ca6ef222</string>
			<key>size</key>
			<integer>20365</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>579d99e51dc6c9a1a515707811ef48db8fced8c2843a7a59a9ad77eb5f54fad3</string>
			<key>size</key>
			<integer>42290</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>a1a7a00caa3fcc8b2d14a8f8bab403aadd2612470f626c45ac0169292cb8cf7d</string>
			<key>size</key>
			<integer>44147</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>846e0175080a9fa1fe157a7bd1adefe11d8ab31fbf64963f7d31c9de850f377b</string>
			<key>size</key>
			<integer>34730</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>3153d7831fa2f6823c9c26ad7707c17f601bf939c3cfd2b377b5d87130c31fe6</string>
			<key>size</key>
			<integer>33726</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>66f7e413c482854ef59eb348edd98c296d663b4bdf9d4585214dfb18eec598dd</string>
			<key>size</key>
			<integer>32890</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>a732dcb21d053f75ca43851f058051e8d8b3fbf5c588af8edef992100e36fe90</string>
			<key>size</key>
			<integer>34243</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>516f1b6aa6148e5f02b4cb1b71f3098bc12211ecddd87d876b9b9ccd0700e568</string>
			<key>size</key>
			<integer>45821</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_AU/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>03aa6e55b604c649cec902a3d3629e2498a1af6841c6942094a5316cbe1e030a</string>
			<key>size</key>
			<integer>31468</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>b8ff0e6bbc77d194bf25e5825a360124a1d193f68f382f51af8a06b2a9786c9f</string>
			<key>size</key>
			<integer>31559</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>e1aba8c67ec7b72b506b353c500c7409b5b6a788136bfffbc77d3c5e52ce89a6</string>
			<key>size</key>
			<integer>11833</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>c8769a40c9bf90172251da06553abc483b077225d06b5d93d7cae09da3db2059</string>
			<key>size</key>
			<integer>35143</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>e8e97aaeae6311a92558fb73a314bb2796dda2163e801c63e8f7bda646520758</string>
			<key>size</key>
			<integer>32797</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>5bc1235a4165c9542b6de95d5218ad0ab38a69db2c3201aca597479a18f6e32c</string>
			<key>size</key>
			<integer>22641</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>d342ff86c10f2c216c4404be42e8de68f84be03fd97c587d2a926bdc86f5c0ea</string>
			<key>size</key>
			<integer>33325</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>3c25a7bc85a3b198fdc6bdf4a14bb979368093a5c260a66305c100e83194def1</string>
			<key>size</key>
			<integer>35607</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>46831fd9923c2f856303dbcdd33fb4fa040e4d129651510c68102c62d1ac04c9</string>
			<key>size</key>
			<integer>34263</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>c0ff3d9b767719f1e97d2fa30e14f8eb2424cc84bb5ec7515fe083a106cc4244</string>
			<key>size</key>
			<integer>36228</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>dd89602c29a1fc112975cc50f76a6abcd387c4fe27a474da4dcffe4cc2515c1e</string>
			<key>size</key>
			<integer>32867</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>1c975ea26cb802b951a7abc8caf902b5647a9d7c579e372b766b613df8169e94</string>
			<key>size</key>
			<integer>34506</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy_AM/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>2e4211f49a9fff70f2bfde59c16152429840f79c8009c9d96dbf42f5c9795605</string>
			<key>size</key>
			<integer>42054</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hye/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>7512117abb0d0265ffaa6c837a4afb12172e961034aec579a241a05544ab1678</string>
			<key>size</key>
			<integer>42049</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>c984d0115f313a48b9339a511f41551c155516b2481e18f7e15f155f7f1f4c74</string>
			<key>size</key>
			<integer>32571</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ie/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>3f0b43cebd0c0b258e192b020d0cf5b62853da54e5e11b4e848799f78737af74</string>
			<key>size</key>
			<integer>18568</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>0988f94d025cc9419012b373fdef3824adafa3bdf7878c9da1b732b3391309b2</string>
			<key>size</key>
			<integer>17750</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>8b9c97a3ca49ad7e592ab7067b3c698c93f95f57242274f6b2fafe869f255fa7</string>
			<key>size</key>
			<integer>34453</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>ee31a5b4727ed5d2f402d6f935f3fca12e5cd9985a337fc29b7814dedd87dd0e</string>
			<key>size</key>
			<integer>38038</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>6a7d93c46a4a1ec45581f9390ded84c75fd93a20a64b15e0af3db000c3ef2d4e</string>
			<key>size</key>
			<integer>42243</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>d85e5500231f00d81dcbf22bdcd4c0e0a13508f5cba3c61cc7791772e2679590</string>
			<key>size</key>
			<integer>34238</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>020054acc2f1b05d4b85db99b61721b7bf6b3c5334f8f6b2807d73ca425bc416</string>
			<key>size</key>
			<integer>34119</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>0693149c7f3c3372c9754e98611cf3424fdb5ecd27b8e7b3f18709f2536fd281</string>
			<key>size</key>
			<integer>14524</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>deda5894f87fd4c5aea846f325f4b64ec432daebb47424db3acfc915756f59f3</string>
			<key>size</key>
			<integer>32345</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>66a1c8c365086dce5317d1cbeb8f32d142bec61ce04efa6ab4041f82de325391</string>
			<key>size</key>
			<integer>32416</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>3a3971462d9953d585157439741250d14eac90b719884043fa44c4085f186787</string>
			<key>size</key>
			<integer>33737</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>51e8303e3aafac29ec0ce5fc9e5c6aa4a0188d8e111a15503b8a7277b4d84bc9</string>
			<key>size</key>
			<integer>21870</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>c9d454efefd51ff99dc04d7b42e914c8dbc291f0f0b172c5c3c150b06fce25a9</string>
			<key>size</key>
			<integer>5611</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>7380a46b0b6aa97d443837fc5eb201b4ba52cb344d079f29aba84a51f1ce9bff</string>
			<key>size</key>
			<integer>33717</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>11e4c6d5dd4f86754330fa9ae952786e542ae19a2b18d01cf68bca8db9c96ea7</string>
			<key>size</key>
			<integer>33747</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>ee3f1ef59434823a5144c099d099b8815917781a4304c585f787855f1fd3d80e</string>
			<key>size</key>
			<integer>33778</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>d63cb7dbf61c74bcfe9c04319d6b421c173622116ef89cccb2afaa9928618805</string>
			<key>size</key>
			<integer>21329</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>7d8b20548d26fc3212fa2d800b0f8b229f5ccf0239a48356e8c8dd56858a2e76</string>
			<key>size</key>
			<integer>43311</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>37d698ed499a82087ca278a362963afe6d478975083e0ea6d6cb87ab50782525</string>
			<key>size</key>
			<integer>21189</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>2d6d3bf2b2651d07cf5cf2b93772c86dc2e4b8558f1fe32730db2408a0b099a7</string>
			<key>size</key>
			<integer>28107</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>b1a52786e473e979b437215c78a19f7136101896d06e8f9d7ad8ba1d876e4811</string>
			<key>size</key>
			<integer>32458</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>0173bbf015cf352a3c757e5b9e0e85d39b5f7770dbee7108cf8d274dd56768a1</string>
			<key>size</key>
			<integer>33967</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>334379dc84d1f4270d9c6f56d69bed8758c4d488410cbb1b166595e8638e57f4</string>
			<key>size</key>
			<integer>42420</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>8ee41496882a4c38a6293ddf3f62286cbe62a72d35d379ff681660354d1247a0</string>
			<key>size</key>
			<integer>33093</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>30345f3407877d264789f466d768efa9298b8fc1a44add1d3e91456612608511</string>
			<key>size</key>
			<integer>6166</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>c641b57cd52f4d5510099aed0dc6308c6aa0a3b5031bb593281a70cdefb6420a</string>
			<key>size</key>
			<integer>49879</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>d895adc7eda68d8d7daa5eb6847419fc533506ce165adbc5bc20d69e86678998</string>
			<key>size</key>
			<integer>33411</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>d79886b007c8c33f2618a42f5f3a965ace109857cbeb1cfc59a3ea6abc1ccdec</string>
			<key>size</key>
			<integer>19727</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>979bd3f8b368643b7bc5450ed1756d1b502cfaa8c672f8fd5b742ecd948199d3</string>
			<key>size</key>
			<integer>41768</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>c85c9e8a586b64528ed06587773b70dc14b5cecef1e6a9d432f9ddc51ae25eac</string>
			<key>size</key>
			<integer>16090</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur_PK/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>c85c9e8a586b64528ed06587773b70dc14b5cecef1e6a9d432f9ddc51ae25eac</string>
			<key>size</key>
			<integer>16090</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>6d1912f594fd260e224671224c9d7a831900214d5e4c2f19cec2437be27f3bb6</string>
			<key>size</key>
			<integer>10646</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>5168119a34c243a4a91e3b9994dad6d4d7855eab82cd7ce4d586399ff0a84c3e</string>
			<key>size</key>
			<integer>31192</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/xfce4-terminal.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>30842f441f2c881325d1c09621d000f706c3ac758c734fe02a6124bd3d15f076</string>
			<key>size</key>
			<integer>31290</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xfce4-terminal.1</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>afe2ee41e8f86ccc4007e067d5defbe6d7f1a4c8e2a91b4946ef5982d910ac6d</string>
			<key>size</key>
			<integer>12437</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xfce4/terminal/colorschemes/black-on-white.theme</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>0a03c847311bde857b91a1d4bca1084d05661fe94cde484c7c2c8a3c78dc4105</string>
			<key>size</key>
			<integer>1556</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xfce4/terminal/colorschemes/dark-pastels.theme</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>b9d8acca5e4450475600a7fcfa3156652f3d9fb154e0ca54315afb214c730044</string>
			<key>size</key>
			<integer>1606</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xfce4/terminal/colorschemes/green-on-black.theme</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>afcf76462de489752b3a7e5d01b68633a28b811dee0082cb35bda474f3f5d0c3</string>
			<key>size</key>
			<integer>1610</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xfce4/terminal/colorschemes/solarized-dark.theme</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>cf292a77fffb7a2587b9202ca63e38bdc560a3b723f5ea0b9d186e980cea4f87</string>
			<key>size</key>
			<integer>1807</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xfce4/terminal/colorschemes/solarized-light.theme</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>188ef636a5b159d75bc3f12fa620df0d342dbe9d3576c004a28938e3a43bc5b7</string>
			<key>size</key>
			<integer>1824</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xfce4/terminal/colorschemes/tango.theme</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>9a5ca2b522273d52f5dde6a65004d343d8768ec9935d42e5a49ae21ae922060a</string>
			<key>size</key>
			<integer>960</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xfce4/terminal/colorschemes/white-on-black.theme</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>1a3c9ce487f2f3b2bf750b27adb078644fe6c1d440e9f14ec1baea7393513c1c</string>
			<key>size</key>
			<integer>1512</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xfce4/terminal/colorschemes/xterm.theme</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>39c045182127ed39f033c7f0caca31e7b0e41868f949c34532246926c5a01d47</string>
			<key>size</key>
			<integer>1029</integer>
		</dict>
	</array>
</dict>
</plist>
