<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/am</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/am/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_AU</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_AU/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_CA</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_CA/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy_AM</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy_AM/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hye</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hye/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ie</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ie/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur_PK</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur_PK/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/metainfo</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfce4-appfinder</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>35c87bb50fc3dbf9eae8a500dd05e6b15d91f435d01f838de3920e7190e6e3a7</string>
			<key>size</key>
			<integer>145848</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/xfce4-appfinder.desktop</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>010338db5c6fb7b5f84f0b7da9cc024c4788c6708f14055417270591bb8d9005</string>
			<key>size</key>
			<integer>10106</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/xfce4-run.desktop</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>8f481ad4ecbb876158bde7d71a0bf25816d6af456ea016d0570762c737e10549</string>
			<key>size</key>
			<integer>13164</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps/org.xfce.appfinder.png</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>e3cde9ef5839d086bd2f66039705730df17314862851968c3754600c40489bbb</string>
			<key>size</key>
			<integer>5461</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/apps/org.xfce.appfinder.png</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>301168ec52d3cc258eca8e584d1eca76bece50638322e4150d99ed70bf86c5ef</string>
			<key>size</key>
			<integer>796</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/apps/org.xfce.appfinder.png</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>9e04e8e2771a0714925c335e1dabe16e1d986573af1ba0d19f52af4e39c51629</string>
			<key>size</key>
			<integer>1071</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps/org.xfce.appfinder.png</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>8969f28e7cb2044d2221e34044747a5875f634e1c4ad8edc261834da92c016ba</string>
			<key>size</key>
			<integer>1332</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/apps/org.xfce.appfinder.png</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>f71007fee80b58fc28ed98b21c4f6363f95b762d297e7372535f8fefca923f7a</string>
			<key>size</key>
			<integer>1944</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/apps/org.xfce.appfinder.svg</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>3567dedad36f85c2795e75809177635397e1b7eefda86c41c7ff163b11dfce6b</string>
			<key>size</key>
			<integer>34894</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/am/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>633287a11cf274a4bb4fb95aecb7e3bb650c42f3c47c5ddfa20781141555a802</string>
			<key>size</key>
			<integer>4811</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>05e4d32a85998427370962a531336103fc2aeca4257364feef9512960bab4e14</string>
			<key>size</key>
			<integer>8018</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>8ea5928ed05a93bd6251e8109e62e34bd58cd4a94e5b26da29aac6acf2d30c81</string>
			<key>size</key>
			<integer>6295</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>06c99885946291a9ed6200f986332a5b05686edb6bdc1ef8735903f911ec61a0</string>
			<key>size</key>
			<integer>10225</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>71a5f27c47a7e2b45734f616460c76f9e6b4a029575bccbb85fafd89f37e8e23</string>
			<key>size</key>
			<integer>10895</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>301ac3b8f4736298bc3929de32b0dfb50f983b1689a1a93ec7e0685dd372ff5e</string>
			<key>size</key>
			<integer>1103</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>defcaa619b0932b06806f4f7e468aa9efe66202460db4471377ab5180c1d00a2</string>
			<key>size</key>
			<integer>8434</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>31c7ff7e5e9309d3576248029f383e553e10f21642c6a21df291f78894d9da71</string>
			<key>size</key>
			<integer>8275</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>871be17aa828cedfde4b64df2edfe465cab3b51aa7745ff8b0c4aa419634f29e</string>
			<key>size</key>
			<integer>8045</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>f003b7b7e8a8185d5c95ae9d25993895a1892926c1c2bb860218a6b552a5000f</string>
			<key>size</key>
			<integer>8431</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>a60bf1cd6d118937d338713cd06275af36d86f570b32cae6e14624e19aea5634</string>
			<key>size</key>
			<integer>10436</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_AU/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>c6e39fd3233823f114c729de4ab165fa211dea3c68bb0be5ad9a83990e8ac162</string>
			<key>size</key>
			<integer>7030</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_CA/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>ca96e26fbca6241d7fbc3421bc744807dd4d596f2beee64947b203610a03b79d</string>
			<key>size</key>
			<integer>7907</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>85c5dd635109bed01a339c65a7194281b2fce8a8125382485209dbff96838246</string>
			<key>size</key>
			<integer>6733</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>ab6c225acb818ac39de6d9fbf0e33f60d6e20ab396c22dd01abecbddcaf9c9e6</string>
			<key>size</key>
			<integer>496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>9e01186b893a906f3f3f88fcdf829becc572c7ffc98551a51dd7f328649580e7</string>
			<key>size</key>
			<integer>8052</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>156ff40b7469ea7854e9b4f3641522263d0f215df7e155d232720ab911cfb16b</string>
			<key>size</key>
			<integer>8236</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>9f545615fb368d6b5092c707034f788ced69c16aba09d62dadf77dfc926a351d</string>
			<key>size</key>
			<integer>5905</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>bf20da6fb9dd5552735f5bf71a7731c8c2b9483e00a3ff8cce56f9ea7cd07b1a</string>
			<key>size</key>
			<integer>7410</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>c0b300c4edba4360f8cc52fc616d83806eb40809a7d78a3b38319bc86d02aadc</string>
			<key>size</key>
			<integer>8764</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>d12047bc7ebbf40b16a32334378ff39d10e5861afe870a7f8d8772826395d2fa</string>
			<key>size</key>
			<integer>8393</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>2fffb8939a5a8943adde1044437e85d132e23dd371dc54566dca7123de2738a5</string>
			<key>size</key>
			<integer>9179</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hi/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>f6ab92e557f2ac73781be798423629493fd65891b009c254daf17cf44f8f47aa</string>
			<key>size</key>
			<integer>12002</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>4300c22ffbb2a2fee5c99d2664cdb5a588dc47628f8e453bf2a358472aebfa77</string>
			<key>size</key>
			<integer>7335</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>2eb31d2ef6fe31743e4bf3ad46c7bfcc3b742775f88b6e1e8917ef84b38820b7</string>
			<key>size</key>
			<integer>7981</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy_AM/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>90704946103a70cbe1f0bdfe8b12f87f501cca527d9889391df197935a0b17f2</string>
			<key>size</key>
			<integer>9376</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hye/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>a402b903a5290d0b20f6103d49fb32b2cedfa0173875cd13a04952a5bbc90093</string>
			<key>size</key>
			<integer>9370</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>34116305365dc31084083abb8363d1dd15300a9403dfb74b1fcb4da14a6d25fb</string>
			<key>size</key>
			<integer>8144</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ie/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>8f74b89fb9c3548aeed788a5af963f6714d068c20e8f4b5cea20e39a96b19145</string>
			<key>size</key>
			<integer>8022</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>9e88a6fb7fc77eb716836c9e670e496a5ecb80422a45ed8b17b0b74d61f36140</string>
			<key>size</key>
			<integer>7274</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>1f103e47263901c01bce8e7deb17e84c879cc21abc3215d789245d60fd08f95f</string>
			<key>size</key>
			<integer>8351</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>32b8cd506778607388fb25591b234ebb52cf15a0f24765b303c96ee9f4478ed7</string>
			<key>size</key>
			<integer>9502</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>aaf769b4869982d62f2f65c87393212f9c271d8ef5b5f626ef00f2f618cc5e62</string>
			<key>size</key>
			<integer>10347</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>6343cb64ba149e6dc15ba1b5485bafe54ee6b4980f68399958d6da9cc416fa83</string>
			<key>size</key>
			<integer>8817</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>242d4d6ee5e63b94bd5efec58a9ab33e1bd31c364547ac62126658fd47c55409</string>
			<key>size</key>
			<integer>8494</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>27e5b72cd4cb3b3c93154150d15367eb2a4798e33385bdad226f9d75959a6850</string>
			<key>size</key>
			<integer>996</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>a4109d01be95c4449d940284950dcc6bc79d00ea0fb054967b400afd2fe8a704</string>
			<key>size</key>
			<integer>7239</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>3bd81eef4fce8ee326bedb88c8ade0c014583764bc42f0a5be783208b0225e82</string>
			<key>size</key>
			<integer>8112</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>5997862f3abd7692fdf49fbecfb471f678c52c0acf2c6175780daba59c6b213a</string>
			<key>size</key>
			<integer>8502</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>7cd42b437113f17461e05c4dec71c247e71d8431f00c129b279021b3fc666f94</string>
			<key>size</key>
			<integer>5980</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>6e4e9673560adc4d75498d237b6eadd2975f0cbdc410f68df1721bd72ad3ff19</string>
			<key>size</key>
			<integer>6496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>924ed074bb4c7047700cb34c6540096dde5e2d9f49d33c20f9fcb53dc6800a54</string>
			<key>size</key>
			<integer>1082</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>3d9ae1292c5aa11b3f7f4d20bcd22cf918dc41d753a82996978580b9411ce0eb</string>
			<key>size</key>
			<integer>8296</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>1ed72f77efb0656e96eebac03a7b50156aa3791820852651951ce3b77acc9d00</string>
			<key>size</key>
			<integer>8318</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>0c023afa0a6aa12e1aeb7b2e0945a923b717774964224023da41cfbf439f3ca3</string>
			<key>size</key>
			<integer>8503</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>b9728d941174a7f99b454c494f85db084e297d66d76065227b35934bb7332912</string>
			<key>size</key>
			<integer>6436</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>5d3870e707d25ddb782ee520ccfdff6bbc8db3703402205ca5d38c390d4b4c86</string>
			<key>size</key>
			<integer>10532</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>9808b0bcd548794609eaf788f4f453abc254141bb2658715b9ea7c16567ce0d4</string>
			<key>size</key>
			<integer>1099</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>9f06e583847710e0e43c9fe9bc0fdbadad25e313b2d1cc5be30608653d3c9ec0</string>
			<key>size</key>
			<integer>7867</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>06aaa06dd263a538e2a578c5dd014d11fd6d75ab61b2ed923de3e61f7092cbf6</string>
			<key>size</key>
			<integer>8092</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>c505333b19047420d2f500e2f78fead962da12b0f92740c5822e91e09ed5e238</string>
			<key>size</key>
			<integer>8502</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>b1f7cb349136e4dd1adef5a7105302c40d7df42fb661631605d74c45c2f08322</string>
			<key>size</key>
			<integer>10380</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>5d06c43cbcb99ef7ecd9794226746436069a58dd49d850bac5e76bebfcf1f905</string>
			<key>size</key>
			<integer>7718</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>824ba1738750756496fb800e249bd5550b8ba0ef71102c14f5c11802b7fde4e4</string>
			<key>size</key>
			<integer>3972</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>305e415dd3b8580eec38b4200ba7fd7b29d7c531fdfaa995c111729dfd1f9064</string>
			<key>size</key>
			<integer>11537</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>d8d715baf570e8d5756f670315b64c7c4bc381c937aacc3d9c2640edfa47d231</string>
			<key>size</key>
			<integer>8294</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>c10eb3c045d0d69228dd3c46a85cb9c92821c2a54fa9c3a0c67e06101e5ef792</string>
			<key>size</key>
			<integer>7738</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>b974ba6f35568044a95877afa680c4d8e4c35dbaf4c1cec48305611d79f76598</string>
			<key>size</key>
			<integer>9512</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>90697d04ae50d002558c1150bb9154e54a0efef7828d062d9293ee927c6ce2ba</string>
			<key>size</key>
			<integer>1029</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur_PK/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>90697d04ae50d002558c1150bb9154e54a0efef7828d062d9293ee927c6ce2ba</string>
			<key>size</key>
			<integer>1029</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>dd48904875c86ba9f41daaa4353dd5a6551c252b2c6532b9f3b4231c22cc2881</string>
			<key>size</key>
			<integer>4888</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>7c97ea715171186de4c379da9e2c10b8c27559606b8d54af985a1763ffed876e</string>
			<key>size</key>
			<integer>7846</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>c8159fb7b7474d88c3d6e2e31fdf7a30f5882d86afb83addf8cb437b3759525a</string>
			<key>size</key>
			<integer>7758</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/xfce4-appfinder.mo</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>21e1e49a07421bbe23f23d483aeb1abfe2f07efae689cc2072e55ebcb5e99068</string>
			<key>size</key>
			<integer>7806</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/metainfo/org.xfce.xfce4-appfinder.appdata.xml</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>sha256</key>
			<string>f07c6f46fe4331255571161d471d6dada59489f0d4a301620fbe4e868a20dc29</string>
			<key>size</key>
			<integer>26286</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfrun4</string>
			<key>mtime</key>
			<integer>1611100792</integer>
			<key>target</key>
			<string>/usr/bin/xfce4-appfinder</string>
		</dict>
	</array>
</dict>
</plist>
