<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/backgrounds</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/backgrounds/xfce</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/apps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/am</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/am/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be@tarask</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be@tarask/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_AU</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_AU/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_CA</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_CA/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa_IR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa_IR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy_AM</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy_AM/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hye</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hye/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ie</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ie/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur_PK</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur_PK/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uz</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uz/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pixmaps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pixmaps/xfdesktop</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfdesktop</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>8b88c7f2fd172ac587a4b67e7d5d8cddd50476621a34a5be24ab1052bcc43833</string>
			<key>size</key>
			<integer>460976</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfdesktop-settings</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>0570411414b73ccf1d003bccbc6beabd87bd174f092560599cd8d52cc74027c1</string>
			<key>size</key>
			<integer>195224</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/xfce-backdrop-settings.desktop</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>88b1de894813ed304a000d5f44df55038ed807cafc9900684a95227daf7f1c11</string>
			<key>size</key>
			<integer>7341</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/backgrounds/xfce/xfce-blue.jpg</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>12ef92faa671ad1677d9669810e2382d46f66392ae91bfb9d212bfc9030efbb8</string>
			<key>size</key>
			<integer>197011</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/backgrounds/xfce/xfce-stripes.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>9bf1d883de95565749a9950737f4c7dd6356c6d7e9419748cc84b963e4c2018f</string>
			<key>size</key>
			<integer>48970</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/backgrounds/xfce/xfce-teal.jpg</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>7bbc70c0c51cd8c8181994ec1934af7ccbec3e5a0f9d2446877470108394267a</string>
			<key>size</key>
			<integer>312080</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/backgrounds/xfce/xfce-verticals.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>195cdb81d690f9390f61a090a1626e91254a617928c907242aeb94e8c14520d2</string>
			<key>size</key>
			<integer>517286</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/128x128/apps/org.xfce.xfdesktop.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>4752057c35f0e2e9e22687beed9f02947d43a0a682ee269c1687081ae787a234</string>
			<key>size</key>
			<integer>2795</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/16x16/apps/org.xfce.xfdesktop.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>f07e469ea858687bffb0fe65c19045882a25e3843289d3cf657fa427c8f96a57</string>
			<key>size</key>
			<integer>488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/24x24/apps/org.xfce.xfdesktop.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>4d8c47c4656f938b494dc1a3b9831d97b4ac3116dc0f6d72e222c8fdf805aa8e</string>
			<key>size</key>
			<integer>688</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/32x32/apps/org.xfce.xfdesktop.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>37116b75bef5c782d2b472bc1e6788acf5daec03142c4b9bf4dea17d011b0207</string>
			<key>size</key>
			<integer>802</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/48x48/apps/org.xfce.xfdesktop.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>baf3f702d1df5093a208f6081c9c9159a28f27e2c1c02276922644d1dd06d39f</string>
			<key>size</key>
			<integer>1262</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/icons/hicolor/scalable/apps/org.xfce.xfdesktop.svg</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>6e821b5cd666ad162895649de105eaebc7f0af7fddb683227fa3d33d09c33f36</string>
			<key>size</key>
			<integer>9691</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/am/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>b69f5bf291256f072679b599b1d9c298302e4f2de4b54b6e9b47a45928507ca0</string>
			<key>size</key>
			<integer>19106</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>92a270d21be83de5835ff2391988a8bbcdc5691923905cc6dfd52299005631ae</string>
			<key>size</key>
			<integer>20421</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>aceab59b87055983f3e663703a1267dd6a9a7e6b286816964f32d13fad4ff57d</string>
			<key>size</key>
			<integer>18474</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>b7d99b1be5d3823c96f83630ca94490a6bab56d4bc73c0de01e8dcd25b931d68</string>
			<key>size</key>
			<integer>25323</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be@tarask/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>c239d1e130b19eaf71d5332db2a65412203133327f9f35b6dc72d3a02bc45ef6</string>
			<key>size</key>
			<integer>24665</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>714ec6908d451d5b73bf21b511a72b9529a6c7dd2f8b428bc1570714a370bea6</string>
			<key>size</key>
			<integer>26241</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bn/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>fcb9d67879753686d56fb6e694fe5831f6d4013f7e063ec379845ff191e20336</string>
			<key>size</key>
			<integer>9727</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>24111d1c849bdf77eceaa82a5e20bac5ae4c2ecb45c228bc48581b869a98c103</string>
			<key>size</key>
			<integer>20171</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>911f7627088a243fe2a08c1603005146e3cbdd128e0e905d332185faafe45056</string>
			<key>size</key>
			<integer>20095</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>22bc166d40a9985a2297942efffdf06284f40bf214681522b4bf7259edc2aa2a</string>
			<key>size</key>
			<integer>19068</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>7bf42658624062c30aa339403146e3d2f2876c330e9d9bf48ef85206fd9ddd26</string>
			<key>size</key>
			<integer>20905</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>778af859c4fbb7cef3acddfdb3d67a9e480d956f9dc9c2d4ca7eacc2428bd197</string>
			<key>size</key>
			<integer>26729</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_AU/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>f550899a8a26a756c9e55b1aa8c5e5714cb6394b53ce50d7a7c77265e7ae5943</string>
			<key>size</key>
			<integer>18482</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_CA/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>da37e183de2da846b555f56de1bfaa60123b8fba99e60d0de58677cff2e6ba02</string>
			<key>size</key>
			<integer>18603</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en_GB/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>444fdd86bf19cee35412959334adf54ff633b375158b0d2d90be71f73364579e</string>
			<key>size</key>
			<integer>18629</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>542a90366b2be4a6fe5c3b97699baf9e013413fad56832688d546ec5f168190e</string>
			<key>size</key>
			<integer>1195</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>ec5fab2bf585d517086da1ada17e6a027f007b8c58324f6ee425e556327aad33</string>
			<key>size</key>
			<integer>20774</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>ff9b7e4676de7b40f032cd9dff6e6c27b1a527c99401eb85e5441e1a608794a1</string>
			<key>size</key>
			<integer>19047</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>1dc3c664b74650c2f9fcf6af744ffab14498a660db816549df7b2a2e4922eb9f</string>
			<key>size</key>
			<integer>16024</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fa_IR/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>3620317e0857f540f5eb70a1a29a04431d1fe8f60835a9bb8ef23a36c8a9e84d</string>
			<key>size</key>
			<integer>23073</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>8b83648b0340f496282c541905e858f990dca92e7523dc137d2ed82d7d32b924</string>
			<key>size</key>
			<integer>19391</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>e90b152650123ebcb731b71498867e5b87590b13220a909b92761fd91285d0ad</string>
			<key>size</key>
			<integer>21514</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>489508ce159435872dfe53a8382a11d4db9f433a4c6cac01f17a1c355cc3f97b</string>
			<key>size</key>
			<integer>20535</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>2703c0ab752599e519e0132a2a721dcab93a6b1b4e8a4371485052faf2c77a46</string>
			<key>size</key>
			<integer>21771</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>df61621f1fa6357743a38578bf7bfa0d5f7b32cdd968430b1dc34d1ff2ce0d2b</string>
			<key>size</key>
			<integer>19346</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>504b6587c85a1fbc461a3756d24586cefb22121037eed33f9a6f4ba43592b9cc</string>
			<key>size</key>
			<integer>19992</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hy_AM/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>62839effa84adb0f6f492b81728274c4cb29d6ed8457f9b8145b424885248de8</string>
			<key>size</key>
			<integer>24561</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hye/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>54a0dec0d9c9338bcc25824afdc44c9b94f65c308498a9d130ef991638c12e80</string>
			<key>size</key>
			<integer>24779</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>33c1d14b92891c47b98949fb1dab85df97786a6fb802fd86e27e57fcabc34387</string>
			<key>size</key>
			<integer>19390</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ie/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>9cd77e37e05793137c0a4d5d5c9380b8c1bfd4513a5f96ad65b2b117919490e3</string>
			<key>size</key>
			<integer>19150</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>6598d80b45c6bcefb68b388b76f0faac5d49cbda2dd4d2160838fcb23a15fca5</string>
			<key>size</key>
			<integer>19371</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>e5ac00937ef8657a9c92e53b7ee50713f6e60f2ab3ee628bbaf4168027c74b53</string>
			<key>size</key>
			<integer>20511</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>d7e7b09de2cfaca683747b09ef8c7aa62661fef25408004470de2e9a66e03568</string>
			<key>size</key>
			<integer>22507</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>348e5af8c08dc5aa26e460a91e40c1bd2cbc52fa0d2b503be3d35d01d766c163</string>
			<key>size</key>
			<integer>31836</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/kk/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>ce21cdf8c064a8a19acfb8cbd004d360fc5fea97010390fe738505e2b6d0d39a</string>
			<key>size</key>
			<integer>24936</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>297f60f8229d887d350e8e8e161a60da052add77d18be5e90beadd0d0d58a404</string>
			<key>size</key>
			<integer>20161</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>5d0ff3902567aa95a4c9291b8e1d74108371f046f0c73aa8fbeb7db0f11f3da3</string>
			<key>size</key>
			<integer>20581</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>49526fea268f841e8770e8a663ca737292d722cd0cbf829028612ba8c5e9b07e</string>
			<key>size</key>
			<integer>10677</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>f2340a650bae56d4e8ddb8252fadf94c84220a4f8cc4ec44b8fa6113dc110a90</string>
			<key>size</key>
			<integer>18837</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>f1faddacced5faedffde17b43868f72696eb730dd59ac73b7b30094b6ee71a8b</string>
			<key>size</key>
			<integer>19619</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ne/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>39f165a6d3ce95d415bf5f34bbff2000f8f6c16efe72daa18c8e9ac2b989d7df</string>
			<key>size</key>
			<integer>11110</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>99d0f30c9fbf1c6cdf011429c395c2e89161259f9b8c9f96dfb88704cd15d3c4</string>
			<key>size</key>
			<integer>20234</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nn/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>0ad6fd422a1b0a9234d9ee2aff179fecf8338dab7c601f5af44b3948aca64a86</string>
			<key>size</key>
			<integer>18731</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/oc/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>ff8cfe1f8eaa7e7ebd1802f81bcf529bb846db0c80c169757bb034ed45bed78c</string>
			<key>size</key>
			<integer>17588</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>1532a039022e8b9579be29bc65a259bd523132d259fb57e5e6ae3098f41d149e</string>
			<key>size</key>
			<integer>9554</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>39e51b818ab6761dd76b1451b05349d57a90360260f24d3820ba4982868b4745</string>
			<key>size</key>
			<integer>19950</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>a2b65bdc3727e30a21089f4ba46f02a9f716319282a4c84a8b48a27e5ae9242a</string>
			<key>size</key>
			<integer>20278</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>c02e66a5536b31ade859cbbe7b8a46fcbed97a2312be35d5d6b20eacccafbabf</string>
			<key>size</key>
			<integer>20694</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>3224b1b5261d99f8e2a35aef86203a7c4ec6a15d09c813fb1c6d84331948a53b</string>
			<key>size</key>
			<integer>18720</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>09bfe322dd12421467e5fb0c1f7fa046130cb672bf43f40518159afde38c9792</string>
			<key>size</key>
			<integer>24868</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>e1f1e2c5afa2b890b9b5b1cc855625685ede8b413fcd160a99274877f94aa4ef</string>
			<key>size</key>
			<integer>9670</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>36b42917ee04a959b969e2bb64800f7aa2df5310a7684cbc35e33ba7639aec0d</string>
			<key>size</key>
			<integer>19739</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>1c2fdbf6fd01679a4f389827074dfa1223c3d0da254de1b4fd586f06dcc51d30</string>
			<key>size</key>
			<integer>19216</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>c380cb19d70bee6d3665f96884ddf4a7dce031ba87326c76be548754600ded10</string>
			<key>size</key>
			<integer>20186</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>d8e4e0c6af410d000431cf5616a1cb74fa0f75015a948a9b0d99a934b2165295</string>
			<key>size</key>
			<integer>25357</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>b6ae386b47ebb8afbba87e2e5f9fd154804cab835a8e4a93c55470a22a79c4d2</string>
			<key>size</key>
			<integer>19685</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/te/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>b5420677c7d4b0c642ff74d5edbf9252ab62f226051fee0d945a0a024be813eb</string>
			<key>size</key>
			<integer>10495</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>e5ca00bdc509bd0f54f6e8e2abd3d71ccb05bccf4a71f54c8bc15eab2fa77d50</string>
			<key>size</key>
			<integer>28362</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>094ec83332215c8f58fb5da605014be2e9d9c6def136a8fc17e58655a39852d3</string>
			<key>size</key>
			<integer>19237</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ug/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>bda3f7dc4e2d0e305380dbaa12c1d71af8961bbe547e5d8e4add79869afda82a</string>
			<key>size</key>
			<integer>16513</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>f027716e5b94602255c26fc13f93b9c6b16adc30601778195da5b05f7c807549</string>
			<key>size</key>
			<integer>25159</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>ce99b0689622eefabfb1998412c4c8c42f237e05cb8f7c43cedfd35ebe96c5fb</string>
			<key>size</key>
			<integer>12137</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ur_PK/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>ce99b0689622eefabfb1998412c4c8c42f237e05cb8f7c43cedfd35ebe96c5fb</string>
			<key>size</key>
			<integer>12137</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uz/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>556ba393c96f7cc861399929ce219e757c7a13451cb7bd36a40623a689312d18</string>
			<key>size</key>
			<integer>11705</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>826859d46f3c3c45aa30f4d7ca5c906970d15675e6ba98e014fbfcaf9900cffc</string>
			<key>size</key>
			<integer>3607</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>4d0940f74116e6cea966492cf4ae054466725523478c685d28ba0a76d8b0574c</string>
			<key>size</key>
			<integer>18161</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_HK/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>9a2e8332bbc445d7d318a7c73875b4797645205cc6f6cf975f323dfc031be46d</string>
			<key>size</key>
			<integer>18024</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/xfdesktop.mo</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>b6d505c08281a45bde5cbbfc35338f552f58c514908a719bfd906d53280940a6</string>
			<key>size</key>
			<integer>18286</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xfdesktop.1</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>fc7aaede8cd1283fd88352c2d212e4f00fdcdd1d5126f04077a62030728aba95</string>
			<key>size</key>
			<integer>2945</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pixmaps/xfce4_xicon.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>2ffa547aedbe068912699c841f7553a7e685efa2a80a62896ef90352346b0b60</string>
			<key>size</key>
			<integer>2990</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pixmaps/xfce4_xicon1.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>b3c3e00e12024c584ffe74752542564cc291e88b9be9e3709be654346bbc8914</string>
			<key>size</key>
			<integer>3693</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pixmaps/xfce4_xicon2.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>32a490fc763442e8f0dbc10dde873820e42c92b8f023b0599f7ed683293b83b6</string>
			<key>size</key>
			<integer>1283</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pixmaps/xfce4_xicon3.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>adf9905307a5fe61765edeb2fc9ac69ce45ae5137d2923802e28a04543ec678f</string>
			<key>size</key>
			<integer>3695</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pixmaps/xfce4_xicon4.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>c49e01af4c40bf8bc90a17c88f531125a888d8e325bfeeffc0af050cfd02bb0a</string>
			<key>size</key>
			<integer>3355</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pixmaps/xfdesktop/xfdesktop-fallback-icon.png</string>
			<key>mtime</key>
			<integer>1609430638</integer>
			<key>sha256</key>
			<string>bfb6fe26b27ef63d1d2bb2934c824d3872df8ec939c44ef26bdd105bf808785e</string>
			<key>size</key>
			<integer>871</integer>
		</dict>
	</array>
</dict>
</plist>
