<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/xfsprogs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/fsck.xfs</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>85ea3376f3952fea4bf3a57c57792ed4f035f83bd66242533f7a2724d6a94d35</string>
			<key>size</key>
			<integer>1968</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mkfs.xfs</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>c35e2caf271c8c4af0ed1c21ed4321a56792be8a11c00a2c49c70d810b10ccf3</string>
			<key>size</key>
			<integer>502432</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_admin</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>30f77066e5d87a909de03707317bb618d3129213e479b102dc1f5a0fe0c35c01</string>
			<key>size</key>
			<integer>1596</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_bmap</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>f31ca5ef606faef79cff452e397a5bf90725c878bae3e93303f4f102365addf8</string>
			<key>size</key>
			<integer>695</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_copy</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>b0c08328f53eb7ed81e3f4fbf44af9945b1c5b1d49ed7e2ce0ed1e146cc727b8</string>
			<key>size</key>
			<integer>444800</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_db</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>f4b72cf689ccad8f83978bb8aafb5897e037f8cf80e10039fc9f354f1f880c60</string>
			<key>size</key>
			<integer>786624</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_estimate</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>693929362c9533263fed46ccd49c6c391f7d7ac9bf1f111798c5c1caabb57aab</string>
			<key>size</key>
			<integer>14424</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_freeze</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>1d1bd73da0bbe86595d5543b8796353b5fbf9f7470b4162c1dc5e26459ea9300</string>
			<key>size</key>
			<integer>800</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_fsr</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>2838d1fcbf8fd65a30879293593c59a23d1a92f114894b9354ed5920499b60ac</string>
			<key>size</key>
			<integer>59488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_growfs</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>8d28571bb941dfef33650096172c8ecf05b3ef4d0e5d4bf22859025733ac8f35</string>
			<key>size</key>
			<integer>432448</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_info</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>522b8b4f5f88652fd5a4f1e6fd01dfcc84898d29a0a226960d52a6e73e7b72e7</string>
			<key>size</key>
			<integer>1294</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_io</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>f1bfdbd515c198de81c131c94bab2cb67ea0a495419561a90dc5e54e113f2125</string>
			<key>size</key>
			<integer>208352</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_logprint</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>3434fbc504f9bef0ec14fff29ff3cd432cc57eb8c349fc45e111ce6eeaa1cbd5</string>
			<key>size</key>
			<integer>465224</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_mdrestore</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>cc2bfcb6f6b27877dcf41999075c95748df5f698b1ea4d5581946061c99498eb</string>
			<key>size</key>
			<integer>416072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_metadump</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>4190c07b16ea270f05923f3911384d5f87e14b94f02247bc481920462f795f35</string>
			<key>size</key>
			<integer>782</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_mkfile</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>e43e1d164e63585601cb65afd2c6c48968ad19f186aba2bd163f980025adacb0</string>
			<key>size</key>
			<integer>1040</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_ncheck</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>65791db2534f7cb058038b7d6520b8050282cd148e6bccf446da92a701e3cc12</string>
			<key>size</key>
			<integer>685</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_quota</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>cc2def6effc856d8355e92756321c8e42f45276855885e7520854de0a4265081</string>
			<key>size</key>
			<integer>100440</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_repair</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>d87af5aef20f5926fff0300c7ffdb3b586cca9a3a9a3771011131efbc89208eb</string>
			<key>size</key>
			<integer>736512</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_rtcp</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>6bc915c3eb52dda90db353c2ca60224b13a77fd62349f9fd81107cfd6313d544</string>
			<key>size</key>
			<integer>18504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_scrub</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>87fb9ecc69e8a2ad0ca52f5cc695a79d917da8313dddd3a70262f432732261c3</string>
			<key>size</key>
			<integer>121008</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_scrub_all</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>26ea1c30ec6c610abd5997b6ef2fb77bb8710043da283766ad0935cbc4d6ab27</string>
			<key>size</key>
			<integer>6005</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xfs_spaceman</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>956289040f1f399d0205e9bbefd03d1eff0de43b4ec3c184d11fd4d780742fd8</string>
			<key>size</key>
			<integer>55528</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libhandle.so.1.0.3</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>95031c823ad9ce1d149dbe1752dc4f7bdd03bbf4636c8532c929185a311461ff</string>
			<key>size</key>
			<integer>14320</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/xfsprogs/xfs_scrub_all.cron</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>bb01ff31198bef1961d676199bb32a0aade40107c898f6dbbd4aca73d5e96527</string>
			<key>size</key>
			<integer>70</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/xfsprogs.mo</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>a9118de23e50c9e60b1dd3401c7d3cd06b2dee0e7990356f3647b862a9568c20</string>
			<key>size</key>
			<integer>332849</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/xfsprogs.mo</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>c22db04beb5711ebbfbb908265f78543affc0c28f43043a724c6ae77e2135422</string>
			<key>size</key>
			<integer>443984</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2/ioctl_xfs_ag_geometry.2</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>006b31851f74a4043603f9f0256298dfe686fdedd4fa97627c1761347b3518c3</string>
			<key>size</key>
			<integer>3295</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2/ioctl_xfs_bulkstat.2</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>168f56ac78ef6895a6c6de37a1b735190e1cb2d7b251f11a4db5260690f44476</string>
			<key>size</key>
			<integer>8126</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2/ioctl_xfs_fsbulkstat.2</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>0c905fd23502429b6df35974ed08d0592fe0f111a4808a8a6d0b756156cde470</string>
			<key>size</key>
			<integer>6274</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2/ioctl_xfs_fscounts.2</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>59ed4d24db70aa8957a7fca32ffe9cba3e68983699c702431136b878feaeb59e</string>
			<key>size</key>
			<integer>1774</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2/ioctl_xfs_fsgeometry.2</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>bc0e9adcd90c28802ae2979cc6000b7ec853ba0e2889d0711d904fd01ab5a623</string>
			<key>size</key>
			<integer>7525</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2/ioctl_xfs_fsgetxattr.2</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>60bd201c97bff37b761df6e3b69d64e6ec361da09ec9ec9c4fec7d46d23666d9</string>
			<key>size</key>
			<integer>7595</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2/ioctl_xfs_fsgetxattra.2</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>339a63d7827c260c1e021b4f9ddc1f15a4b4a8d59819d232d00e653817ee4c91</string>
			<key>size</key>
			<integer>32</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2/ioctl_xfs_fsinumbers.2</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>2f262418988d693ca7f1c9b4e55c6c875f678215095a879271895777a14dff86</string>
			<key>size</key>
			<integer>3102</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2/ioctl_xfs_fssetxattr.2</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>339a63d7827c260c1e021b4f9ddc1f15a4b4a8d59819d232d00e653817ee4c91</string>
			<key>size</key>
			<integer>32</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2/ioctl_xfs_getbmap.2</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>bcf2bd64e2ffab97974b3e2932a8ea42b88820ab7bce9dce1e636a3afa524207</string>
			<key>size</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2/ioctl_xfs_getbmapa.2</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>bcf2bd64e2ffab97974b3e2932a8ea42b88820ab7bce9dce1e636a3afa524207</string>
			<key>size</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2/ioctl_xfs_getbmapx.2</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>74d5c511fa40698a4fc53ed5b233029c65d086ac6cbbe5a4882a94f3a972f4c1</string>
			<key>size</key>
			<integer>4266</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2/ioctl_xfs_getresblks.2</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>18a954556b73701cc07589a024b9a98b7b22ad67d12b59d60ec788d270f11e19</string>
			<key>size</key>
			<integer>1902</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2/ioctl_xfs_goingdown.2</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>e33d5af9f0d02425157297e4f472b5e16ef74576ed50c47474d473b44a55c4ac</string>
			<key>size</key>
			<integer>1649</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2/ioctl_xfs_inumbers.2</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>70c49ea6d08a209991499bce1df0c003de6800afc842497212c54126d2b44ad3</string>
			<key>size</key>
			<integer>2850</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2/ioctl_xfs_scrub_metadata.2</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>4efd687d2a68ae896121d811e5fb028c29a82ad8d1fcadc8562d0e0e2e0f096a</string>
			<key>size</key>
			<integer>8641</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man2/ioctl_xfs_setresblks.2</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>4089dd8f90ef07b286d510c77d9981b288ee8188d9a793c0f57947f617d7383e</string>
			<key>size</key>
			<integer>32</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/projects.5</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>27bf32537d83f3fca96229f56a4a40c55b7afb8128748d10c842492ae2483b3e</string>
			<key>size</key>
			<integer>568</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/projid.5</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>c48327dab6f86991f49767dfb7f01763f75776e41996541f451ee14a55e3af24</string>
			<key>size</key>
			<integer>567</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/xfs.5</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>8a4d6797122a14efe06e6dd637bb1bfa4f7ce3dd58b29137cdb69402f4f497bb</string>
			<key>size</key>
			<integer>12521</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/fsck.xfs.8</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>dace6ff42121dd3dd481c6a0b6efb52140bb1a1117cf795736aacf3e36f78119</string>
			<key>size</key>
			<integer>819</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/mkfs.xfs.8</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>317c97e0a1030baf18fa48e5b3b169b02f36a0b2e53bd249b4f899220f7c44bd</string>
			<key>size</key>
			<integer>32993</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_admin.8</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>a3ebb990ad0d79f424fb1dc31dddfc4e2b388e7b46e64c1e89922351b471620f</string>
			<key>size</key>
			<integer>3428</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_bmap.8</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>326f4fbc94b9c05c821dd2282f65ac8ad8015fb4308bcef6e37c86fa34efd643</string>
			<key>size</key>
			<integer>2521</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_copy.8</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>4af14894b1b6a1a053ee0a1ea1d050a8c3db4673b556b1510f750188b9898cc6</string>
			<key>size</key>
			<integer>4429</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_db.8</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>c4b7499477c8e3926051fe1c8c2194f7bcee87f691c646e5b30d342e860838e5</string>
			<key>size</key>
			<integer>56295</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_estimate.8</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>7cfeb73afc3a244c47b824a3e66ea7e304bd9b7e775e3452588ef9ce70934429</string>
			<key>size</key>
			<integer>2241</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_freeze.8</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>488e1e99691359fd676426cde72112fa7ac224cc1295cc9ed1e23bd32d4fd807</string>
			<key>size</key>
			<integer>2158</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_fsr.8</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>30c25e4054245fcbbce53160e58b9ea9d61c7725e8e3544e4eaa5a3541e6414d</string>
			<key>size</key>
			<integer>5184</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_growfs.8</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>2e1ade048e9fc4293e1836f3d15b4710c7171e0095ba11ee27e8917065db592f</string>
			<key>size</key>
			<integer>3835</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_info.8</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>e5b04c32c8f2f61a88fe46a00ff09c1f3883fd37de1b45ca207843a3c1d5c1ca</string>
			<key>size</key>
			<integer>2415</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_io.8</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>174a1b9407869e4600d5bf07b87c3aaed62fdffb687e9aa0557a26cc9d67bf08</string>
			<key>size</key>
			<integer>38830</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_logprint.8</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>4846568024be27e3cd5c2f0213aac4422b50bb07a8866fa4577b52840cbc52f3</string>
			<key>size</key>
			<integer>2927</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_mdrestore.8</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>24f5bc1849d6725704df26fe17ea2bde6b7b73c188721654bf2c7c34197a06fd</string>
			<key>size</key>
			<integer>1440</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_metadump.8</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>31b83ec19d004df2a9d11477a4a97bc9e71d3961a35cfb71e017e246150f2876</string>
			<key>size</key>
			<integer>5062</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_mkfile.8</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>dc80a35e95217769b965d436c1bf8e28ec1f3b4938318e53ff8124d9cafd606c</string>
			<key>size</key>
			<integer>821</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_ncheck.8</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>0742e84bd33b3549d845f4f00576e7c117ecefe96bbb4f39ff3b5a85e41833e4</string>
			<key>size</key>
			<integer>1767</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_quota.8</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>ff40390305a37047bf178515248075211d8f40fcb3ee612539903433dbf9afc9</string>
			<key>size</key>
			<integer>20241</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_repair.8</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>1be873a902668c338c5c5228e3ecdd433cc191a76c667a19890882a18e618d53</string>
			<key>size</key>
			<integer>17325</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_rtcp.8</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>4cca7e370588af3482dd1d67e96450a4a289156c7f078d09eb2879ad10ab551a</string>
			<key>size</key>
			<integer>1223</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_scrub.8</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>1a9bfc7d8fb3005536a2603541c1561c1993ad7605d50198c7dcdd4f70d0fc91</string>
			<key>size</key>
			<integer>5502</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_scrub_all.8</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>b73ac998a80d8a712917a24e3f8a0b06fe524fc228c84dc91b3cba065d8e99a1</string>
			<key>size</key>
			<integer>964</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/xfs_spaceman.8</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>sha256</key>
			<string>6922e730c9f89caba8b825c8f98d0800c2de398da73f771d009a355757c1ec10</string>
			<key>size</key>
			<integer>5079</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libhandle.so.1</string>
			<key>mtime</key>
			<integer>1607753832</integer>
			<key>target</key>
			<string>/usr/lib/libhandle.so.1.0.3</string>
		</dict>
	</array>
</dict>
</plist>
