<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xinput</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/xinput</string>
			<key>mtime</key>
			<integer>1563696825</integer>
			<key>sha256</key>
			<string>fea1eb3e6d78c22e432a82c6d700afc3a9cdd5f674ba9777e66302808ac54567</string>
			<key>size</key>
			<integer>60152</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xinput/COPYING</string>
			<key>mtime</key>
			<integer>1563696825</integer>
			<key>sha256</key>
			<string>bbd35c7a8e8c5cb073935e84b29b0c53f7131a4ef1ce737dc2be5616941e07e1</string>
			<key>size</key>
			<integer>2507</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xinput.1</string>
			<key>mtime</key>
			<integer>1563696825</integer>
			<key>sha256</key>
			<string>d4295a3c75c4f68bce36a351ebedd01389751b2b2410cd03a34615334fde5442</string>
			<key>size</key>
			<integer>7924</integer>
		</dict>
	</array>
</dict>
</plist>
