<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/X11/xinit/xinitrc</string>
			<key>mtime</key>
			<integer>1560603296</integer>
			<key>sha256</key>
			<string>678ec35559a9c8332acbbc534f0682099cb95347de90ce4db7b05d2b4b40cf31</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/X11/xinit/xserverrc</string>
			<key>mtime</key>
			<integer>1560603296</integer>
			<key>sha256</key>
			<string>5e87bff928c143d9db9966048f6530e83e9e9a1cac09ce4c25f8aabc08611b6f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/skel/.xinitrc</string>
			<key>mtime</key>
			<integer>1560603296</integer>
			<key>sha256</key>
			<string>38a23848b49de8a5c635a128a8b32a6cd0a08a9ee153ad97cb25abd82cfda1bc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/skel/.xsession</string>
			<key>mtime</key>
			<integer>1560603296</integer>
			<key>sha256</key>
			<string>2b94a42f2521cb5662fb9a5765a7507456dc0352ac9d0f44c56b359dcdb38898</string>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/X11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/X11/xinit</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/skel</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xinit</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/startx</string>
			<key>mtime</key>
			<integer>1560603296</integer>
			<key>sha256</key>
			<string>9c0e5102d42c827152e3c1ab432271fb3543380eda1e13fe428e6e49aca814d0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xinit</string>
			<key>mtime</key>
			<integer>1560603296</integer>
			<key>sha256</key>
			<string>228ac656cb5ccc8a85247f3584f3147ef253ce17e2e33d2b7ed7c8c368316daf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xinit/COPYING</string>
			<key>mtime</key>
			<integer>1560603296</integer>
			<key>sha256</key>
			<string>c47001aa217d4ae7787121d80634db4bdba564e49a0ecab8d48b1bdc4edee1c7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/startx.1</string>
			<key>mtime</key>
			<integer>1560603296</integer>
			<key>sha256</key>
			<string>f9d49d21bfd3d4075ef0f0f30bed98dff500a0ecfe87c8fe464c0999712bd0ba</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xinit.1</string>
			<key>mtime</key>
			<integer>1560603296</integer>
			<key>sha256</key>
			<string>7a08673b575d4e96a8164a3cb800118100b365a0e475352dbf328ac47159e551</string>
		</dict>
	</array>
</dict>
</plist>
