<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xkbutils</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/xkbvleds</string>
			<key>mtime</key>
			<integer>1520259878</integer>
			<key>sha256</key>
			<string>14d01af45864523225fb482511b4e5fb70bf030903e65559291c5154a4258ea1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xkbwatch</string>
			<key>mtime</key>
			<integer>1520259878</integer>
			<key>sha256</key>
			<string>ddf8eaa362fdbf488385c4c49d1830893e86e151ec5884a92b0ae66bc7bb3d79</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xkbbell</string>
			<key>mtime</key>
			<integer>1520259878</integer>
			<key>sha256</key>
			<string>71b8128b2c61f34258bd316046209f9a16519f9f82a478ed45b1fa14fd582988</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xkbwatch.1</string>
			<key>mtime</key>
			<integer>1520259878</integer>
			<key>sha256</key>
			<string>236926fd4054e527953ed4946d7e245d32a7095941238a6ca336cee0394c8141</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xkbvleds.1</string>
			<key>mtime</key>
			<integer>1520259878</integer>
			<key>sha256</key>
			<string>aaf3d9d990c4b2e498d2f3ac691c82f01933e53afa8a5f1d216e285183cb3ad6</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xkbbell.1</string>
			<key>mtime</key>
			<integer>1520259878</integer>
			<key>sha256</key>
			<string>ac4f648ec0e3bdab2bfaa9784e94e88d64a0572f028fd7d9caddf76cd3dd69c4</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xkbutils/COPYING</string>
			<key>mtime</key>
			<integer>1520259878</integer>
			<key>sha256</key>
			<string>3d67b53c085de6d475705b60855b9277afac5d4c4ec531d0ffd1ef0d00571594</string>
		</dict>
	</array>
</dict>
</plist>
