<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xlogo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/xlogo</string>
			<key>mtime</key>
			<integer>1551690880</integer>
			<key>sha256</key>
			<string>94577f0f10fdf9f1c3583f8dea563303513c48c367a5c894277413bb12b45c3a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XLogo</string>
			<key>mtime</key>
			<integer>1551690880</integer>
			<key>sha256</key>
			<string>368c6dcf37ea00d4d3cf0bb06657cef9bf4c95ff6ff350a46dd2b893aef0ae92</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XLogo-color</string>
			<key>mtime</key>
			<integer>1551690880</integer>
			<key>sha256</key>
			<string>e161c1bca0ffd1affc9ab20c4694687e4403675531e51b0c381c198335b2b5fe</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xlogo/COPYING</string>
			<key>mtime</key>
			<integer>1551690880</integer>
			<key>sha256</key>
			<string>972b454b6c0da17cec61225ab9dfd4afc69fd8e7e4c629497197c6f79adc6fb0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xlogo.1</string>
			<key>mtime</key>
			<integer>1551690880</integer>
			<key>sha256</key>
			<string>716fa321d0ad8ae634dbc5c1a2268213eaca61654c0bdf5d9880a1e4f3ad7411</string>
		</dict>
	</array>
</dict>
</plist>
