<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/xmlstarlet</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xmlstarlet</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/xml</string>
			<key>mtime</key>
			<integer>1543599822</integer>
			<key>sha256</key>
			<string>7d12b5ec959b2896c32951fcbdad826d4beb1bfe3e169a6613fd0a0c7e29f18d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/xmlstarlet/html.css</string>
			<key>mtime</key>
			<integer>1543599822</integer>
			<key>sha256</key>
			<string>84ff8e3ff353445773452b0432b7ae8724003bb94d9d0e3a4c4d4f21887e9b91</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/xmlstarlet/xmlstarlet-ug.html</string>
			<key>mtime</key>
			<integer>1543599822</integer>
			<key>sha256</key>
			<string>dbd558c1d947acdabc87d22ba48f8c531e6ab373b3ce2c14064cdd6b0924d037</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/xmlstarlet/xmlstarlet.txt</string>
			<key>mtime</key>
			<integer>1543599822</integer>
			<key>sha256</key>
			<string>6e3d4fe907ac47838966673c8530de1be5ef23d7e20df1375360b94ee2000b1b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xmlstarlet/COPYING</string>
			<key>mtime</key>
			<integer>1543599822</integer>
			<key>sha256</key>
			<string>6641cc5b00c1651fa22175f34efd01695e64a348b1ba07048538276f44866862</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xmlstarlet.1</string>
			<key>mtime</key>
			<integer>1543599822</integer>
			<key>sha256</key>
			<string>fd7009aba41e45f904363781cc904288a2d5b86d2285c72f5e19f3492b652225</string>
		</dict>
	</array>
</dict>
</plist>
