<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sgml/catalog</string>
			<key>mtime</key>
			<integer>1543086484</integer>
			<key>sha256</key>
			<string>c08537c525f6f7797675f4709f1a6b9aec21d3fe633becf3b2b3dc2b8953aa80</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/xml/catalog</string>
			<key>mtime</key>
			<integer>1543086484</integer>
			<key>sha256</key>
			<string>d7d7f1b32970e26e63f6bd6e40d7ec1f333d2eb92d5c483681f351aa554ead75</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/sgml/catalog</string>
			<key>mtime</key>
			<integer>1543086484</integer>
			<key>sha256</key>
			<string>07a9676414220ca2242b661db16751266138f3fbc22ce4a9adac2a62f2d9f1e4</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xml/catalog</string>
			<key>mtime</key>
			<integer>1543086484</integer>
			<key>sha256</key>
			<string>024f8e40cc4633a7329a6a269fac116bfde8b525eb7357be0a163903973024a0</string>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sgml</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/xml</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/xmlcatmgr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xmlcatmgr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/sgml</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xml</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/xmlcatmgr</string>
			<key>mtime</key>
			<integer>1543086484</integer>
			<key>sha256</key>
			<string>5a1082e2f3ba82508eff47782f3510855f63b23f07b326c9492302b2a7cb097f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/xmlcatmgr/AUTHORS</string>
			<key>mtime</key>
			<integer>1543086484</integer>
			<key>sha256</key>
			<string>80575c745812e1bea4dbbff5144c7275b9ae9753afa23b20f70bee3d4916e6aa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/xmlcatmgr/COPYING</string>
			<key>mtime</key>
			<integer>1543086484</integer>
			<key>sha256</key>
			<string>bfe7f295a373dda71d696188881050b7ffe3e48af58d4c0d3fbffb4442ca5f37</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/xmlcatmgr/NEWS</string>
			<key>mtime</key>
			<integer>1543086484</integer>
			<key>sha256</key>
			<string>24d55e522451e8eadfac82fb58db51939ea93a16ba0596efb6c9d717a1ed170c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/xmlcatmgr/README</string>
			<key>mtime</key>
			<integer>1543086484</integer>
			<key>sha256</key>
			<string>80a082c7d3be3584c78a2219acca853059084ef839bc3a0a6cbe8f27b95f9ba5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/xmlcatmgr/TODO</string>
			<key>mtime</key>
			<integer>1543086484</integer>
			<key>sha256</key>
			<string>1a382405c571ca2e19d2841ca73a9e4e039f46cb55d53f7b9dbbe35aaa5d640f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xmlcatmgr/COPYING</string>
			<key>mtime</key>
			<integer>1543086484</integer>
			<key>sha256</key>
			<string>bfe7f295a373dda71d696188881050b7ffe3e48af58d4c0d3fbffb4442ca5f37</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xmlcatmgr.1</string>
			<key>mtime</key>
			<integer>1543086484</integer>
			<key>sha256</key>
			<string>67ebe25c5476c056b55f6cae5bfb05931f1793829bd1fbc68fd1840f846f3c6e</string>
		</dict>
	</array>
</dict>
</plist>
