<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/xorriso</string>
			<key>mtime</key>
			<integer>1576161239</integer>
			<key>sha256</key>
			<string>43583702e3b2dfeafac5941f59fc32efda3a54b484469390c680e62aaf338899</string>
			<key>size</key>
			<integer>1684944</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xorriso-dd-target</string>
			<key>mtime</key>
			<integer>1576161239</integer>
			<key>sha256</key>
			<string>d96eca51a896f7a012e3e0f829b5d06397927ba03cbc678b80099bf514243227</string>
			<key>size</key>
			<integer>22278</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xorriso-tcltk</string>
			<key>mtime</key>
			<integer>1576161239</integer>
			<key>sha256</key>
			<string>77865a92c3cdf8b7bb4b6bbfc408228c5d6a7a64ee22aab0fd311cd730fd1f8e</string>
			<key>size</key>
			<integer>186344</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/xorrecord.info.gz</string>
			<key>mtime</key>
			<integer>1576161239</integer>
			<key>sha256</key>
			<string>60a2b08f8db19763e53f43f6817d734b6f988e3ec2487b8b329519d65d5c25c9</string>
			<key>size</key>
			<integer>15407</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/xorriso-dd-target.info.gz</string>
			<key>mtime</key>
			<integer>1576161239</integer>
			<key>sha256</key>
			<string>8dc37d60d96005388a2299ffe3e5ef9cee51f0330f502114aedd2d122151149e</string>
			<key>size</key>
			<integer>6830</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/xorriso-tcltk.info.gz</string>
			<key>mtime</key>
			<integer>1576161239</integer>
			<key>sha256</key>
			<string>1a46bdafdad3dd7b638abab73a7d45f091296eadb3ead1032656a83f113fbfa8</string>
			<key>size</key>
			<integer>2546</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/xorriso.info.gz</string>
			<key>mtime</key>
			<integer>1576161239</integer>
			<key>sha256</key>
			<string>5004e339fe9918cea3a4b8a42062f13aa093474c31fd451bd43360522b5b0dcb</string>
			<key>size</key>
			<integer>97337</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/xorrisofs.info.gz</string>
			<key>mtime</key>
			<integer>1576161239</integer>
			<key>sha256</key>
			<string>5afda4e04a3c6dfd8b491c37996dc4d707194bb04580649a57935f1294f6c239</string>
			<key>size</key>
			<integer>34620</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xorrecord.1</string>
			<key>mtime</key>
			<integer>1576161239</integer>
			<key>sha256</key>
			<string>be4e79d5e18faf2255047b4ba5d5ce01718f07faffed0283f6b3b3ec5bbc9184</string>
			<key>size</key>
			<integer>35595</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xorriso-dd-target.1</string>
			<key>mtime</key>
			<integer>1576161239</integer>
			<key>sha256</key>
			<string>85cb0bce2b0e90723b489e3c9552cf0ad93ca61fc25a341a021eebeb4ee59464</string>
			<key>size</key>
			<integer>16526</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xorriso-tcltk.1</string>
			<key>mtime</key>
			<integer>1576161239</integer>
			<key>sha256</key>
			<string>f3fe20f685c317215b77e111b1dddf5023b617548bf7b938a24271e432766abe</string>
			<key>size</key>
			<integer>4585</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xorriso.1</string>
			<key>mtime</key>
			<integer>1576161239</integer>
			<key>sha256</key>
			<string>dd8c784475d3e761bdbb2162bdf374b154885ea5cf410d14de0f8fdacfc1004f</string>
			<key>size</key>
			<integer>259655</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xorrisofs.1</string>
			<key>mtime</key>
			<integer>1576161239</integer>
			<key>sha256</key>
			<string>d50e859aea16c8fdafcc5014860c7fa5577cacea7d7dc54ed60ff97033e5ceee</string>
			<key>size</key>
			<integer>85315</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/osirrox</string>
			<key>mtime</key>
			<integer>1576161239</integer>
			<key>target</key>
			<string>/usr/bin/xorriso</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xorrecord</string>
			<key>mtime</key>
			<integer>1576161239</integer>
			<key>target</key>
			<string>/usr/bin/xorriso</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xorrisofs</string>
			<key>mtime</key>
			<integer>1576161239</integer>
			<key>target</key>
			<string>/usr/bin/xorriso</string>
		</dict>
	</array>
</dict>
</plist>
