<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xpr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/xpr</string>
			<key>mtime</key>
			<integer>1520717996</integer>
			<key>sha256</key>
			<string>459d813dbca201e0a68672a0f7780e5ce35ea31b80d036b3ed4cab9329fd8ef3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xdpr</string>
			<key>mtime</key>
			<integer>1520717996</integer>
			<key>sha256</key>
			<string>2a8a8de6992851b3c2a011d502fdf704800bbdab35ffb335911b90da7e7c9620</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xdpr.1</string>
			<key>mtime</key>
			<integer>1520717996</integer>
			<key>sha256</key>
			<string>07bc5fbf94a69c5b2ca23d9691f5c773c3515e2afccb5ecc4841937554ab5c29</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xpr.1</string>
			<key>mtime</key>
			<integer>1520717996</integer>
			<key>sha256</key>
			<string>d61fb9dceb3ff15ff56825a8a2f12385f227403f223149d5d9b3e407b3338905</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xpr/COPYING</string>
			<key>mtime</key>
			<integer>1520717996</integer>
			<key>sha256</key>
			<string>5e8ff9b5d3fc86b5d0bc5957c9ee0aa1a6d0fb9a6b116aae70762b628a0d5069</string>
		</dict>
	</array>
</dict>
</plist>
