<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xprop</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/xprop</string>
			<key>mtime</key>
			<integer>1607695497</integer>
			<key>sha256</key>
			<string>70096f364e35f913cf75b74921c90e95a0b773295531c4ab82ca2b83c3f77cdd</string>
			<key>size</key>
			<integer>49520</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xprop/COPYING</string>
			<key>mtime</key>
			<integer>1607695497</integer>
			<key>sha256</key>
			<string>f19ff982936cca133b9593a6561c3817512207e0b4c951d0e4eb5956d30d4415</string>
			<key>size</key>
			<integer>2308</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xprop.1</string>
			<key>mtime</key>
			<integer>1607695497</integer>
			<key>sha256</key>
			<string>277f4ffe6c6909ef8e82fd8c24a64fd90211122f4b7d01129230df1f6e01aeb6</string>
			<key>size</key>
			<integer>15849</integer>
		</dict>
	</array>
</dict>
</plist>
