<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xrandr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/xkeystone</string>
			<key>mtime</key>
			<integer>1565704036</integer>
			<key>sha256</key>
			<string>8f0e1c4ee9efe72a991f099ab343de1d436f2c6e9424bf075fb1266db36b3c94</string>
			<key>size</key>
			<integer>16982</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xrandr</string>
			<key>mtime</key>
			<integer>1565704036</integer>
			<key>sha256</key>
			<string>02a979f1b2815d7e2a8db67249c23d44b9b362b348caaace8d858c80e59278b2</string>
			<key>size</key>
			<integer>63640</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xrandr/COPYING</string>
			<key>mtime</key>
			<integer>1565704036</integer>
			<key>sha256</key>
			<string>0dd9a3d62c48dd7b87790029e39fb5e11756d33fded3bc1644e11585c87b2038</string>
			<key>size</key>
			<integer>1249</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xrandr.1</string>
			<key>mtime</key>
			<integer>1565704036</integer>
			<key>sha256</key>
			<string>8702a76e26427ead03395e2d5b17d850ec24f72cb7f814abe0f0eb27fdcc7c08</string>
			<key>size</key>
			<integer>18403</integer>
		</dict>
	</array>
</dict>
</plist>
