<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/xss-lock</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/zsh/site-functions</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/zsh</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xss-lock</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/xss-lock</string>
			<key>mtime</key>
			<integer>1523181857</integer>
			<key>sha256</key>
			<string>0a670df0e26f40e937827607c0228e54402c7360c0b1892da080eba5b929387e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/xss-lock/NEWS</string>
			<key>mtime</key>
			<integer>1523181857</integer>
			<key>sha256</key>
			<string>b7c99f26fee9460526e29e4636e26f059aca215a29cd60761535bccb560dfca0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/xss-lock/xdg-screensaver.patch</string>
			<key>mtime</key>
			<integer>1523181857</integer>
			<key>sha256</key>
			<string>7995b200579b1348e7e2cb45c1dad070b1d5a6a0c6bf9210ea327403036c1835</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/xss-lock/dim-screen.sh</string>
			<key>mtime</key>
			<integer>1523181857</integer>
			<key>sha256</key>
			<string>bb4246607d6c2206201798d27151c642b555fe87a6c040d969b05781ac68127a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/xss-lock/transfer-sleep-lock-i3lock.sh</string>
			<key>mtime</key>
			<integer>1523181857</integer>
			<key>sha256</key>
			<string>723798d13813f77a8c540a9e2165a04c1d8a2e7e47402c4a962268c36d409195</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/xss-lock/transfer-sleep-lock-generic-delay.sh</string>
			<key>mtime</key>
			<integer>1523181857</integer>
			<key>sha256</key>
			<string>b7f90f1fd761e03708211ee0503c368bea91a87dc699428bbc988792357ce7a0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/xss-lock</string>
			<key>mtime</key>
			<integer>1523181857</integer>
			<key>sha256</key>
			<string>ce0f6b9f4d5f24e28afc6ff2dc12fab838266587534d63008964416c9aa65bb7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xss-lock.1</string>
			<key>mtime</key>
			<integer>1523181857</integer>
			<key>sha256</key>
			<string>9c4b7611bf17eab36c4b223c2de7d03bc1c596e67557ad0cac8c82e9b995cb98</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/zsh/site-functions/_xss-lock</string>
			<key>mtime</key>
			<integer>1523181857</integer>
			<key>sha256</key>
			<string>7bc070b902bfab7d1ac0347ca48f9d6e13ec01549dcc3f8f9b5c8aca9838b0ec</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xss-lock/LICENSE</string>
			<key>mtime</key>
			<integer>1523181857</integer>
			<key>sha256</key>
			<string>95c039d8a7ab51bea4f05dc95b834ac5349641a2689e15325ca5bc2e926071ce</string>
		</dict>
	</array>
</dict>
</plist>
