<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xterm</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pixmaps</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/koi8rxterm</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>4ae44fda7bcd1a5872aa06159ea34982f1d2676c48592bce17623d3df34fea60</string>
			<key>size</key>
			<integer>3772</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/resize</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>dbcde28440949d16ed9979c1884798aeec73576c13878ea002127325aed38a80</string>
			<key>size</key>
			<integer>30856</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/uxterm</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>33eb153344d3b7cadf90dd670efb599206a99a5cd90235e7438b2b5c0956ea69</string>
			<key>size</key>
			<integer>4265</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xterm</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>ae38061f6ae746388a26b1c4b21fdbcc869272e7ee595cd362689f1252548921</string>
			<key>size</key>
			<integer>844176</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/KOI8RXTerm</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>c885f62c1eb1716f0eb10b95ec67dfebb180eed78d9e0bb8192fedf1ec8cc570</string>
			<key>size</key>
			<integer>2400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/KOI8RXTerm-color</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>55d7fc29ea89cd88590159323a7ae51986666c071a3a539c130132e02447e6c7</string>
			<key>size</key>
			<integer>5836</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/UXTerm</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>3929a06b08220eb118932a5054bdad0639c7bb94ba9d371b08bcb4882f7f5135</string>
			<key>size</key>
			<integer>3685</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/UXTerm-color</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>3cb77d157485b8a74c93460596b57ee28c348c77579a1703839fa0458db93048</string>
			<key>size</key>
			<integer>5828</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XTerm</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>099f6eb6938f5842de4e2d61d7063a32145b2ca9f0992824c54dfd166c550eb8</string>
			<key>size</key>
			<integer>10940</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XTerm-color</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>b1fb7abddc10e88e4dc0c4e844d68315b258387b02bd67938f2e9c0dfdaba2a3</string>
			<key>size</key>
			<integer>5826</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/uxterm.desktop</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>4e910d901b7fe746585c375d17c9b0780dd7fd668ee9d9eb3b9f348af351114a</string>
			<key>size</key>
			<integer>1912</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/applications/xterm.desktop</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>8bcde43385ae958933cb0307cbe11f2e8d35dacc9a42f5b755a05e76f97e10df</string>
			<key>size</key>
			<integer>1921</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xterm/COPYING</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>dfb668cc977e24649500f3cc54de3e2b793928d210715a445ab1227930b07ba6</string>
			<key>size</key>
			<integer>3754</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/koi8rxterm.1</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>5907dc9127b550b4f365e3a646808001edba8c748b139d861548f31d3dab7308</string>
			<key>size</key>
			<integer>3355</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/resize.1</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>8b9f936755434446b3b8236aa8046b4d3d6c66719fb416c8f448b436d28f2337</string>
			<key>size</key>
			<integer>7754</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/uxterm.1</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>5dba2b5e4ed628d915578a86825dfc04e62430ab26a8a47cba30b2a086fddf35</string>
			<key>size</key>
			<integer>3234</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xterm.1</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>8597ca12a2cdcfbd7ca565c9bc249f0c7c62c9877adcb03ddeb58a32e9b7743d</string>
			<key>size</key>
			<integer>308332</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pixmaps/filled-xterm_32x32.xpm</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>ef821f0dc27d61598c5a4e1af62794ab3ef9f3375c7234119555b9a73d6ac897</string>
			<key>size</key>
			<integer>5842</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pixmaps/filled-xterm_48x48.xpm</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>ac30ad8b624ac52666a2cb903b2b914c1698f3ff9840247102870285a5509516</string>
			<key>size</key>
			<integer>8802</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pixmaps/mini.xterm_32x32.xpm</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>a35d8fcb924584b6c78e83f5f7b0fa49d332b2a6cf8fb04a5629d92c8ce23bfc</string>
			<key>size</key>
			<integer>4528</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pixmaps/mini.xterm_48x48.xpm</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>0fee626d040447b2f71232f12d386bc6e6348eac67b031a79f34f62e45ebf147</string>
			<key>size</key>
			<integer>8272</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pixmaps/xterm-color_32x32.xpm</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>3350a22913cc16479c84d40086ffbc567e0f9c3eefe10f9e37c687005a09f92e</string>
			<key>size</key>
			<integer>2116</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pixmaps/xterm-color_48x48.xpm</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>0633ed17b1a1cbc1b2eb473e06b93dddd19444ad7ebced693dbd224cfd06042e</string>
			<key>size</key>
			<integer>2710</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pixmaps/xterm_32x32.xpm</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>439621ce118818bf0090750ee96bf80c3d6b111f36699d538bc1511ba32055e6</string>
			<key>size</key>
			<integer>1239</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pixmaps/xterm_48x48.xpm</string>
			<key>mtime</key>
			<integer>1613080552</integer>
			<key>sha256</key>
			<string>1fe1aff860b4758a2732d3d6a1594131940271495198151f5205f41862e3a395</string>
			<key>size</key>
			<integer>2583</integer>
		</dict>
	</array>
</dict>
</plist>
