<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/zsh</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/zsh/site-functions</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/xbarf</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>cb9e0b32a95b606b9955ffc0334f0a169e5d0e94f1e3af01ff05b359bff00e04</string>
			<key>size</key>
			<integer>289</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xbuildbarf</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>c00549680ce4f4d10f3649adced191adee9ebf573529b97f237133fbca1950b1</string>
			<key>size</key>
			<integer>199</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xbulk</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>8b950cff75dbf5b6c7175edae9216214d33e81e542ede8b0138db4f487b01f92</string>
			<key>size</key>
			<integer>656</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xbump</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>615f94e0590eb97c04b963fb1c47e58f8ba620e70d9787b852b2b539d664e25a</string>
			<key>size</key>
			<integer>995</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xcheckmypkgs</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>13338b53f2de76a70e32f2fec232c589a0d563ebbca7c43112fc9123d215d405</string>
			<key>size</key>
			<integer>200</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xcheckrestart</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>9441fa448cb0b21c0ade6c5ac22c66618338d7ff9a7733e1a5516a681aa5ebb7</string>
			<key>size</key>
			<integer>683</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xchroot</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>b5d0e2243fc2b8d5af94bb26ec9cab076de5e083a92486cf8be2d9e62edd2953</string>
			<key>size</key>
			<integer>1194</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xclash</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>ecf8c90b303309689c01e8eb42b8a3fa99390934e6a7a6952a63f354d552e5d2</string>
			<key>size</key>
			<integer>844</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xdbg</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>6589766c62da57ca120dcc6967b8b58442606f16fe9e767302139e0e2e51b03f</string>
			<key>size</key>
			<integer>1021</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xdiff</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>160fdf16a726360316c48959605b168992e7b1541b6487a5a211b9d2803086cc</string>
			<key>size</key>
			<integer>396</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xdistdir</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>8a25b734283c23a189d610b2d8f7347d9a92f065e4eb36e2be6c19c1d32a31c7</string>
			<key>size</key>
			<integer>776</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xdowngrade</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>dc47b207292849e7a11baa7b061a5888ad99ee37836daf4ed183636088dbe93b</string>
			<key>size</key>
			<integer>568</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xetcchanges</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>da3bf1e548552a440c6b9fbe128145f5eaa0c99ff12733e92db23df31d9466ba</string>
			<key>size</key>
			<integer>464</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xgensum</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>a586b2e8fc202daaf136e1798db33624ce30fc6b0354791c6eaa99b6cd26b00c</string>
			<key>size</key>
			<integer>3307</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xgrep</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>5f9cee3996502fe179f06ea65120311deed39e9c2f6f9d37be1a885ebe983768</string>
			<key>size</key>
			<integer>223</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xhog</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>d3a7447fd040e19491b57611b0ce4f478cab96f53c85301f3fb2144b8e71ce9b</string>
			<key>size</key>
			<integer>146</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xi</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>e459ee04259110813f48b41082b78c1d2fbc98184e4659e866df581fa8d0db1e</string>
			<key>size</key>
			<integer>1122</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xilog</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>c1a9260a0ba2de5e8c5581a8441213654557db8c1205b435471192cc55686019</string>
			<key>size</key>
			<integer>157</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xlg</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>fd55a6aee980dc4ac44239c964ce39e10bbbf2667094ebf7f43bda437df18b8f</string>
			<key>size</key>
			<integer>146</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xlint</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>256377c8829cf117dc7e2f41e99031927799a943350b25028bcad813a175424f</string>
			<key>size</key>
			<integer>9895</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xlocate</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>6e05dc85371691cf804bee5eba1f9cfd8354a5174b0752340f4284f741ce8516</string>
			<key>size</key>
			<integer>2212</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xlog</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>3ff70dea303caeae252ae98f0606c55d84b282ca1585b6ecb148aaa56683fbae</string>
			<key>size</key>
			<integer>103</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xls</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>c274be31a49f90c6685bd5fbd6299ac5ba80d99a13d191f32eaf8452e0f5d461</string>
			<key>size</key>
			<integer>772</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xmandoc</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>a2e428575c3c7d95df7804e29ec934c73db3b108b12e04b448c970dad234f43a</string>
			<key>size</key>
			<integer>301</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xmksv</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>ec0ac92378d9d012fdf7d6492f93be561493ba95b0e9b03af3b52326e314e204</string>
			<key>size</key>
			<integer>315</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xmypkgs</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>49bc733ebe6c636ddc3a90e5f320be316d8a1f918588db993f09a27c926b5da2</string>
			<key>size</key>
			<integer>291</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xnew</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>74423dcd2be4afe21b56e8577df8f186896d45685e087f92fda10fc837a316f4</string>
			<key>size</key>
			<integer>1741</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xnodev</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>ec97f0c7650d3bacbf4937214951c431e7d64176ae810489a3c44b7ddb222473</string>
			<key>size</key>
			<integer>274</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xoptdiff</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>d1c21128c38290287ad3d53485b72a2b944a9dacae1fb1cc6fc79fb122b0c4af</string>
			<key>size</key>
			<integer>669</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xpcdeps</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>60c7f4562864b24a5bd35fca08919a6c4e213d2b2d4b56f43017bc06aba84689</string>
			<key>size</key>
			<integer>2394</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xpkg</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>5fc9ed867e19f7fa491d187cc2acc3de65fce7fb9ed929ca9fa32a8464abca3d</string>
			<key>size</key>
			<integer>1057</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xpstree</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>df73f5c51858ea96a8464a2e13d4d312d2b22b4227f9863f02a4a74604d7b5f3</string>
			<key>size</key>
			<integer>221</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xq</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>06efe8273906479b0d8d2f936c2941e4d93faa97c5d8a44d0d48609d406f19a4</string>
			<key>size</key>
			<integer>1095</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xrecent</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>b87ae9a27db9ee46ec7517d4ab224a495d5f9258e50995d8ddc6786070584f4b</string>
			<key>size</key>
			<integer>759</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xrevbump</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>5ba02708ff8f45669299e516a87c6bf48c281a9f0af9d4da1f573d4c8a224257</string>
			<key>size</key>
			<integer>1048</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xrevshlib</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>ea939975bebbbc76883329cd5211cbf9149184d242a0f52981cf1d93c5de88cb</string>
			<key>size</key>
			<integer>369</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xrs</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>b7c86b531646ec4bf2a4330ab372b1116d070955318e01f717a0948ecfafb55c</string>
			<key>size</key>
			<integer>758</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xsrc</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>931f07152f84b4672904e5c3451d7c07ec39b64899dd417ae8d764b71ab12ca3</string>
			<key>size</key>
			<integer>275</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xsubpkg</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>0a7a9704f25428b433583a52e58203f42b7a09e5ae123b9f9622e768523df09e</string>
			<key>size</key>
			<integer>236</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xuname</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>4eb7c164839197d48177cca9933e10d94eb5a163400f8b1aae03d3e84809ef6e</string>
			<key>size</key>
			<integer>998</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xvoidstrap</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>9876458a704aa37326c6c5304fa385cefd557d1bbfb2e07f1675398b5f4feaeb</string>
			<key>size</key>
			<integer>1876</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xtools.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>a282146a2fa5e010cd3dc1978403045de292982f2e2739eabc1149b395a86081</string>
			<key>size</key>
			<integer>5312</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/zsh/site-functions/_xtools</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>sha256</key>
			<string>79dbece76a6744c11d696915a8c3577d43e96d4e979719f48470f46421875913</string>
			<key>size</key>
			<integer>3043</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xbarf.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xbuildbarf.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xbulk.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xbump.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xcheckmypkgs.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xcheckrestart.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xchroot.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xclash.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xdbg.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xdiff.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xdistdir.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xdowngrade.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xetcchanges.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xgensum.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xgrep.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xhog.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xi.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xilog.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xlg.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xlint.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xlocate.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xlog.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xls.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xmandoc.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xmksv.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xmypkgs.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xnew.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xnodev.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xoptdiff.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xpcdeps.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xpkg.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xpstree.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xq.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xrecent.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xrevbump.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xrevshlib.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xrs.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xsrc.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xsubpkg.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xuname.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xvoidstrap.1</string>
			<key>mtime</key>
			<integer>1605977736</integer>
			<key>target</key>
			<string>/usr/share/man/man1/xtools.1</string>
		</dict>
	</array>
</dict>
</plist>
