<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/Xtrans</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/xtrans</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xtrans</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pkgconfig</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/Xtrans/Xtrans.c</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>bba1bbccec1ea44213cb67d2a77628ee1790c3fdbadbb755721927da52785f41</string>
			<key>size</key>
			<integer>29462</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/Xtrans/Xtrans.h</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>278df928d51682a5cad61a283a559de1b01877a5dd31dda4837e93a84bc11c6e</string>
			<key>size</key>
			<integer>8785</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/Xtrans/Xtransint.h</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>26aec4e47d18295f162d02145f31060d3cde69fd7480b05e84aa61e148444e10</string>
			<key>size</key>
			<integer>10158</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/Xtrans/Xtranslcl.c</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>af3418caf0cf62c261cf7f770aa8e43d52857b8554debcae20fdb3a9f1fef1c0</string>
			<key>size</key>
			<integer>55410</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/Xtrans/Xtranssock.c</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>a195c3aca8a46c60be1a0f510da95b66881b83310bf6473fede4aa177c9a0b18</string>
			<key>size</key>
			<integer>62655</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/Xtrans/Xtransutil.c</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>11592c6263d6594fb8e220eb21bd9b19a1e2e9369dfedf19bfb6a93f23ab5855</string>
			<key>size</key>
			<integer>14937</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/X11/Xtrans/transport.c</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>e03dc3d37fd961a077de35dcca7c3fca0072870017bc45e78aa5920a23f95dcb</string>
			<key>size</key>
			<integer>2876</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/aclocal/xtrans.m4</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>feb148aabc576bcc6e4df9de441fd74bd25ea609459fc738b2bfc7fe676d4874</string>
			<key>size</key>
			<integer>6537</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/xtrans/xtrans.xml</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>6136d5893e7f29eb00dd0ba5ca942ac922f6d5caea77f219a2cf90c7976dd1d8</string>
			<key>size</key>
			<integer>46077</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xtrans/COPYING</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>a9c96c832e00774266b492d4d41556f12a64f039ba3ef645c4b8c6010fcb8f2a</string>
			<key>size</key>
			<integer>6232</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/pkgconfig/xtrans.pc</string>
			<key>mtime</key>
			<integer>1606517729</integer>
			<key>sha256</key>
			<string>6b9bf66e556f2a608e5cea77b81a609762351dfb418b2214d3b671c5297ffa76</string>
			<key>size</key>
			<integer>249</integer>
		</dict>
	</array>
</dict>
</plist>
