<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/xvkbd</string>
			<key>mtime</key>
			<integer>1588676846</integer>
			<key>sha256</key>
			<string>96d735ce88924e7c6e8bf86ba24e5eea1d419e59b0fba0229ac4ce350fc68345</string>
			<key>size</key>
			<integer>194624</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XVkbd</string>
			<key>mtime</key>
			<integer>1588676846</integer>
			<key>sha256</key>
			<string>86f65a2d696b13f3eb4a0769e8730178f048efa103c83d49a4a72dc2b6b64104</string>
			<key>size</key>
			<integer>24</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XVkbd-belgian</string>
			<key>mtime</key>
			<integer>1588676846</integer>
			<key>sha256</key>
			<string>3d90b662cb5ba57564e2931051ca60a374fcc3a1ae033e70df257a378f3aae4c</string>
			<key>size</key>
			<integer>2742</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XVkbd-common</string>
			<key>mtime</key>
			<integer>1588676846</integer>
			<key>sha256</key>
			<string>935f444dc4e796fca850bf578dfebbbe348ee9f474ed42c645dbf28c7b1fbfcd</string>
			<key>size</key>
			<integer>15869</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XVkbd-danish</string>
			<key>mtime</key>
			<integer>1588676846</integer>
			<key>sha256</key>
			<string>9cd29244555b0513edb5aab5ac8b79ee6011c067290e2ee852360e8f1d380435</string>
			<key>size</key>
			<integer>2723</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XVkbd-fitaly</string>
			<key>mtime</key>
			<integer>1588676846</integer>
			<key>sha256</key>
			<string>50e50ee85f6e737f8d92154ccd16c231b63209425d4d84c40800974124a30034</string>
			<key>size</key>
			<integer>2239</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XVkbd-french</string>
			<key>mtime</key>
			<integer>1588676846</integer>
			<key>sha256</key>
			<string>ba1cccf9bddc7af106735f3e9fcf5af32fa1ead4e307fc6fe9e67b2e544f04bc</string>
			<key>size</key>
			<integer>2912</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XVkbd-french2</string>
			<key>mtime</key>
			<integer>1588676846</integer>
			<key>sha256</key>
			<string>4395af5c6c7b290e924e41c3e8d7ca3647abfd82cbb1ce798512566dbf816902</string>
			<key>size</key>
			<integer>3538</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XVkbd-german</string>
			<key>mtime</key>
			<integer>1588676846</integer>
			<key>sha256</key>
			<string>9ba86f77eed86be25346682f2143bf668b1c796175a13a6fef816123a34e85e5</string>
			<key>size</key>
			<integer>2809</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XVkbd-greek</string>
			<key>mtime</key>
			<integer>1588676846</integer>
			<key>sha256</key>
			<string>a44f2666fbbda51f2e7173add66e1c480a11d247fa3959ec9647b81c55b9d0ce</string>
			<key>size</key>
			<integer>5658</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XVkbd-hebrew</string>
			<key>mtime</key>
			<integer>1588676846</integer>
			<key>sha256</key>
			<string>4d189071c554935402699c27acb7786855db0d325d84b0e1fde675be88538876</string>
			<key>size</key>
			<integer>3321</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XVkbd-icelandic</string>
			<key>mtime</key>
			<integer>1588676846</integer>
			<key>sha256</key>
			<string>b243135ecb7971ee81a11d8eb9e355796dfced1d3edd5fe3711b3427a1f8e39d</string>
			<key>size</key>
			<integer>2732</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XVkbd-italian</string>
			<key>mtime</key>
			<integer>1588676846</integer>
			<key>sha256</key>
			<string>634d7c65d39161245329e5be122917b42fadef10992487772e90ab91fc3d5ab9</string>
			<key>size</key>
			<integer>2731</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XVkbd-jisx6002</string>
			<key>mtime</key>
			<integer>1588676846</integer>
			<key>sha256</key>
			<string>abfa7312d092e4def3cb864ab15b108203c2973f5ae02e3784ffce7cd4b554a7</string>
			<key>size</key>
			<integer>4052</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XVkbd-jisx6004</string>
			<key>mtime</key>
			<integer>1588676846</integer>
			<key>sha256</key>
			<string>c55fc5964308c915b913e10b233d95766219a8f0aa41045bb1155457efc9f795</string>
			<key>size</key>
			<integer>3944</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XVkbd-korean</string>
			<key>mtime</key>
			<integer>1588676846</integer>
			<key>sha256</key>
			<string>abba08ce52f8ad8f691d8e7f021973994d11ab776afe83b562d3750ac387e6ca</string>
			<key>size</key>
			<integer>2911</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XVkbd-latin1</string>
			<key>mtime</key>
			<integer>1588676846</integer>
			<key>sha256</key>
			<string>72cb66bd75d21988fee38734a457a0905ee6c7bafd82661dc14f1c0a09b4bb8f</string>
			<key>size</key>
			<integer>4207</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XVkbd-norwegian</string>
			<key>mtime</key>
			<integer>1588676846</integer>
			<key>sha256</key>
			<string>d9858701e8bd14fabdb41530ddddb0e0a350eda45b43de0dd5e168f234777621</string>
			<key>size</key>
			<integer>2755</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XVkbd-portuguese</string>
			<key>mtime</key>
			<integer>1588676846</integer>
			<key>sha256</key>
			<string>e957616bd5d5d3070f886621d007285e74f902db0987fcaf887d940cb1847553</string>
			<key>size</key>
			<integer>2747</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XVkbd-russian</string>
			<key>mtime</key>
			<integer>1588676846</integer>
			<key>sha256</key>
			<string>73b5523342480f2a5420f0b00c535769fafdc5bdb3b91eccc7905b1d41412b0b</string>
			<key>size</key>
			<integer>4474</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XVkbd-slovene</string>
			<key>mtime</key>
			<integer>1588676846</integer>
			<key>sha256</key>
			<string>bb558c628bd8e534b119044382277200110304ff49c8cbb894d1671138f79a39</string>
			<key>size</key>
			<integer>3832</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XVkbd-small</string>
			<key>mtime</key>
			<integer>1588676846</integer>
			<key>sha256</key>
			<string>674dd3db5780e59b6e99a8e9d16c0f35c01e82e12445515659e17e81bf34095e</string>
			<key>size</key>
			<integer>2060</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XVkbd-spanish</string>
			<key>mtime</key>
			<integer>1588676846</integer>
			<key>sha256</key>
			<string>fa6e4e92f003ef3a8fe0b9afd07c4e82a3d8020b561179375c6706d85355197e</string>
			<key>size</key>
			<integer>2932</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XVkbd-strip</string>
			<key>mtime</key>
			<integer>1588676846</integer>
			<key>sha256</key>
			<string>a2e0c20ccac3e3430e9d8da58b74e520950c57cc6d72308e2b02957dfa126a34</string>
			<key>size</key>
			<integer>5034</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XVkbd-swedish</string>
			<key>mtime</key>
			<integer>1588676846</integer>
			<key>sha256</key>
			<string>a36cab75a38e4860805f0c87fb8c0175abdf08c1b9456d939db146befbeb7092</string>
			<key>size</key>
			<integer>2908</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XVkbd-swissgerman</string>
			<key>mtime</key>
			<integer>1588676846</integer>
			<key>sha256</key>
			<string>1f811e6459c1438bf75846da551164c24e287f4317a703a81a075c3bf6594b2a</string>
			<key>size</key>
			<integer>2908</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XVkbd-turkish</string>
			<key>mtime</key>
			<integer>1588676846</integer>
			<key>sha256</key>
			<string>21bdc86a6b6fc591ee341d8acc5c6480a6fb3498ca23b1bfec1571b7aeb98dd8</string>
			<key>size</key>
			<integer>3803</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XVkbd-turkishF</string>
			<key>mtime</key>
			<integer>1588676846</integer>
			<key>sha256</key>
			<string>828829ef37a516c4ca999bf5d7cc3582dc562feea2720afd9b15cc667b8a923a</string>
			<key>size</key>
			<integer>3816</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/app-defaults/XVkbd-uk</string>
			<key>mtime</key>
			<integer>1588676846</integer>
			<key>sha256</key>
			<string>8852ff3e0b2b6d44c08fc09482254d584039926139abebce217e57a40e220da4</string>
			<key>size</key>
			<integer>2098</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/X11/words.english</string>
			<key>mtime</key>
			<integer>1588676846</integer>
			<key>sha256</key>
			<string>a1d04c5c049194f1d75e222327e9cf6c1a90fb0333cf836274f64fc4aebce56c</string>
			<key>size</key>
			<integer>606140</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xvkbd.1</string>
			<key>mtime</key>
			<integer>1588676846</integer>
			<key>sha256</key>
			<string>6f49f2c652830454b7cf34ab1efe073306c8fec3e32a751e87e11a7ed8605e7c</string>
			<key>size</key>
			<integer>30390</integer>
		</dict>
	</array>
</dict>
</plist>
