<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xwininfo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/xwininfo</string>
			<key>mtime</key>
			<integer>1563428327</integer>
			<key>sha256</key>
			<string>df71edac1ec6a39a6727f13cda377bd1d89bf276d8f9cd92a1820399ff5a9ad6</string>
			<key>size</key>
			<integer>51352</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xwininfo/COPYING</string>
			<key>mtime</key>
			<integer>1563428327</integer>
			<key>sha256</key>
			<string>443d675237c023a47e4886506b72796afbb2633394812027f91d6e8fa433b2af</string>
			<key>size</key>
			<integer>3559</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xwininfo.1</string>
			<key>mtime</key>
			<integer>1563428327</integer>
			<key>sha256</key>
			<string>7730b7ddcd69e4fd824a51477e72e0c512395c4d2ff282e0f650b98a6a78ab5b</string>
			<key>size</key>
			<integer>7320</integer>
		</dict>
	</array>
</dict>
</plist>
