<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/zd1211</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/zd1211/zd1211_ub</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>283b2d22a1952cb92ad91b00fc992ef5698ba4a6bdd29040c49385fb14f8e3d7</string>
			<key>size</key>
			<integer>4018</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/zd1211/zd1211_uph</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>886c9812be295f87eb6151abea732bea5d0214cffbde8a66ed76fa1b91dbf158</string>
			<key>size</key>
			<integer>5120</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/zd1211/zd1211_uphm</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>68a072484e72e2f01f35ea2fabcd6e37df45e7249c0d21b031b27912ee0b247a</string>
			<key>size</key>
			<integer>5120</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/zd1211/zd1211_uphr</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>1fce695719db781e6df983111309284703f96c73896cf092a4b1edbee1611fe5</string>
			<key>size</key>
			<integer>5120</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/zd1211/zd1211_ur</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>7bd68cb61b503e4c2ce00dedac509c649e8deb5bf47640becef7c0eed6646633</string>
			<key>size</key>
			<integer>3584</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/zd1211/zd1211b_ub</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>a4e2bda754923da656881db7498f2e4846cf44b3699a788a373357e049efbbbf</string>
			<key>size</key>
			<integer>4018</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/zd1211/zd1211b_uph</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>886c9812be295f87eb6151abea732bea5d0214cffbde8a66ed76fa1b91dbf158</string>
			<key>size</key>
			<integer>5120</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/zd1211/zd1211b_uphm</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>c84eb4a1bf8e6cef63344c3cdf8c65b647f80631cd5ce25b3949c9d13d1fe10c</string>
			<key>size</key>
			<integer>5120</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/zd1211/zd1211b_uphr</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>c2589e2d761a72a88fda208a255bc9eeb6fab35b9f9127165cfb3290b9ede104</string>
			<key>size</key>
			<integer>5120</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/firmware/zd1211/zd1211b_ur</string>
			<key>mtime</key>
			<integer>1604072688</integer>
			<key>sha256</key>
			<string>7bd68cb61b503e4c2ce00dedac509c649e8deb5bf47640becef7c0eed6646633</string>
			<key>size</key>
			<integer>3584</integer>
		</dict>
	</array>
</dict>
</plist>
