<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/curve_keygen</string>
			<key>mtime</key>
			<integer>1611243834</integer>
			<key>sha256</key>
			<string>917413e724a14f3dc48e175ed4464bb8e5cfd1be4ca0e1705414806a55a393a7</string>
			<key>size</key>
			<integer>14400</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libzmq.so.5.2.4</string>
			<key>mtime</key>
			<integer>1611243834</integer>
			<key>sha256</key>
			<string>f9a3cbe4e10531cc4d9f4c8b5783e9a336391edc8bd8b879a295d97832728945</string>
			<key>size</key>
			<integer>702592</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/zmq.7</string>
			<key>mtime</key>
			<integer>1611243834</integer>
			<key>sha256</key>
			<string>4124eaea8cbdf80c72c580fdb196af97af5026eb242db2481aa0bc8b61bcaecd</string>
			<key>size</key>
			<integer>9929</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/zmq_curve.7</string>
			<key>mtime</key>
			<integer>1611243834</integer>
			<key>sha256</key>
			<string>82d8c7e238b0e820c1a7e16844074d073eafa633974ffd93cfa710a8fb5ad29a</string>
			<key>size</key>
			<integer>4241</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/zmq_gssapi.7</string>
			<key>mtime</key>
			<integer>1611243834</integer>
			<key>sha256</key>
			<string>2baf22be0860eaa434215d93442bb159dbce4a8e41c33a0d74e4f9ac17f365c2</string>
			<key>size</key>
			<integer>3887</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/zmq_inproc.7</string>
			<key>mtime</key>
			<integer>1611243834</integer>
			<key>sha256</key>
			<string>e20729c6282f9bf8e75538c53efa9c45b9c0da275a639302a97999846f016e2e</string>
			<key>size</key>
			<integer>4180</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/zmq_ipc.7</string>
			<key>mtime</key>
			<integer>1611243834</integer>
			<key>sha256</key>
			<string>a88462ea4198560fb9486fe4e23d5957a20ab0d31f66d73e1689c683184f745c</string>
			<key>size</key>
			<integer>5703</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/zmq_null.7</string>
			<key>mtime</key>
			<integer>1611243834</integer>
			<key>sha256</key>
			<string>a26ecefa04515ee3106afe59c11719f09bd9ff839b1152698c62ea9dbc8bace4</string>
			<key>size</key>
			<integer>1714</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/zmq_pgm.7</string>
			<key>mtime</key>
			<integer>1611243834</integer>
			<key>sha256</key>
			<string>adbe6770cd680d9393eaebf172ae258de4d4b8d5155d9eb6a4c5483273ec6901</string>
			<key>size</key>
			<integer>9061</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/zmq_plain.7</string>
			<key>mtime</key>
			<integer>1611243834</integer>
			<key>sha256</key>
			<string>38d71f0b46a4aa17b0decc6d5f3fd023c396d09dc91370e7b9ac9dc4a1c10152</string>
			<key>size</key>
			<integer>2136</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/zmq_tcp.7</string>
			<key>mtime</key>
			<integer>1611243834</integer>
			<key>sha256</key>
			<string>3d2e91e6e4369ffb302308bda5e0574563873e0a1cacf049d022d6e3bbcc08d8</string>
			<key>size</key>
			<integer>6870</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/zmq_tipc.7</string>
			<key>mtime</key>
			<integer>1611243834</integer>
			<key>sha256</key>
			<string>e2bc5d9bd8e2c1392777d75d602bd810d21243064677e8fbc10457b92dff55bf</string>
			<key>size</key>
			<integer>3575</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/zmq_udp.7</string>
			<key>mtime</key>
			<integer>1611243834</integer>
			<key>sha256</key>
			<string>aaf8c765a2bf13e30001d369ad380c1f01f11dfce9687fc2937f721d75beb5bd</string>
			<key>size</key>
			<integer>5074</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man7/zmq_vmci.7</string>
			<key>mtime</key>
			<integer>1611243834</integer>
			<key>sha256</key>
			<string>72a69882a8645260a9ae2d60ee5dcd8cac88ce2be864cc76cf009809caf2c84d</string>
			<key>size</key>
			<integer>4621</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libzmq.so.5</string>
			<key>mtime</key>
			<integer>1611243834</integer>
			<key>target</key>
			<string>/usr/lib/libzmq.so.5.2.4</string>
		</dict>
	</array>
</dict>
</plist>
