<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/zstd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/pzstd</string>
			<key>mtime</key>
			<integer>1608427929</integer>
			<key>sha256</key>
			<string>387a7cbbb5a3908310e0f006afcb212de24fc45bec3b346bfb088acd71a159df</string>
			<key>size</key>
			<integer>973032</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/zstd</string>
			<key>mtime</key>
			<integer>1608427929</integer>
			<key>sha256</key>
			<string>c8d88b90db1a19380d86ee4959ebeb5d925e1a38cdf4eceb176b1ec795204934</string>
			<key>size</key>
			<integer>854368</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/zstdgrep</string>
			<key>mtime</key>
			<integer>1608427929</integer>
			<key>sha256</key>
			<string>9bc769b26542ef2efa14ae29b3178b7f10639cd95544207691cb258fe06bbe17</string>
			<key>size</key>
			<integer>3869</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/zstdless</string>
			<key>mtime</key>
			<integer>1608427929</integer>
			<key>sha256</key>
			<string>d088aa04d1e60fa093bbe0a8c5defd71cff7aec4333a7b4cd774a5ced40eece3</string>
			<key>size</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/zstd/LICENSE</string>
			<key>mtime</key>
			<integer>1608427929</integer>
			<key>sha256</key>
			<string>2c1a7fa704df8f3a606f6fc010b8b5aaebf403f3aeec339a12048f1ba7331a0b</string>
			<key>size</key>
			<integer>1530</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/zstd.1</string>
			<key>mtime</key>
			<integer>1608427929</integer>
			<key>sha256</key>
			<string>75ac4637e475968280c451f50ff3e5e53decc26744fae6c1d1e608736bcf0fe5</string>
			<key>size</key>
			<integer>28178</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/zstdgrep.1</string>
			<key>mtime</key>
			<integer>1608427929</integer>
			<key>sha256</key>
			<string>3c59be10df803e1d82afe35316e7ad895dbbd262b19a2e935ff21896f4fc41ba</string>
			<key>size</key>
			<integer>784</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/zstdless.1</string>
			<key>mtime</key>
			<integer>1608427929</integer>
			<key>sha256</key>
			<string>a6c685d0c3e015b694fb5340095b1007abf929f5acd3de49984a4fc2e67815a1</string>
			<key>size</key>
			<integer>383</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/unzstd</string>
			<key>mtime</key>
			<integer>1608427929</integer>
			<key>target</key>
			<string>/usr/bin/zstd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/zstdcat</string>
			<key>mtime</key>
			<integer>1608427929</integer>
			<key>target</key>
			<string>/usr/bin/zstd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/zstdmt</string>
			<key>mtime</key>
			<integer>1608427929</integer>
			<key>target</key>
			<string>/usr/bin/zstd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/unzstd.1</string>
			<key>mtime</key>
			<integer>1608427929</integer>
			<key>target</key>
			<string>/usr/share/man/man1/zstd.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/zstdcat.1</string>
			<key>mtime</key>
			<integer>1608427929</integer>
			<key>target</key>
			<string>/usr/share/man/man1/zstd.1</string>
		</dict>
	</array>
</dict>
</plist>
